[2022-03-24 20:22] tupui commented on #12633
+100 for `mambaforge`. It might just be hard for newcomers to quick start though due to the need to use both `conda` and `mamba` commands. With the new solver coming up to `conda`, do we actually need to recommend `mambaforge`?

[2022-03-24 20:42] mdhaber commented on #15863
Please email the [scipy-dev mailing list](https://mail.python.org/mailman3/lists/scipy-dev.python.org/) proposing the idea. This seems very easy to implement, but all public API changes need to go to the mailing list before they are implemented. Please make a case why this would be useful (in general, not just to you) and invite people to discuss here (e.g. whether they can be attributes or should

[2022-03-24 20:45] andyfaff commented on #12633
Why not install git from conda-forge? Then there's no need to install homebrew.

[2022-03-24 20:58] astrojuanlu commented on #12633
The new conda libmamba solver is indeed very fast, but it's behind and experimental flag.

[2022-03-24 21:04] rgommers commented on #12633
The problem with that is that it goes into some environment. Installing anything into the `base` environment is not recommended (it's too easy to break `base` that way), and installing into any other environment means it's not always available on the command line. Best practice is to install standalone command-line tools like `git`, `ripgrep`, `gh`/`hub`, `rsync`, etc. with Homebrew, and anything

[2022-03-24 21:53] bwheelz36 commented on #15858
Hey, not that I'm aware of - I don't think it's complicated enough to be in a paper! It's just a slight tweak to how a simplex would be auto-generated based on a starting point. At the moment, it always makes vertices that are larger than x0, but I don't think there's any a priori reason for making them larger than x0 rather than smaller than x0 - we are just trying to generate a simplex that span

[2022-03-24 22:07] kevinpalm commented on #15864
Oh thank you, got it!

[2022-03-24 23:52] perimosocordiae commented on #15859
I'm not sure what you mean by "wrong indices" here. CSC and CSR formats don't guarantee that their indices are maintained in sorted order, though some operations can be more efficient when they are. You can check the `.has_sorted_indices` attribute to see that after the row shuffling, `spm_shuffle` doesn't claim to have sorted indices anymore.

If you have code that expects indices to be sorted, t

[2022-03-24 23:52] #15859 closed

[2022-03-25 01:11] andyfaff commented on #12633
Definitely agree it shouldn't be installed into `base`. One could argue that installing those standalone CLT with homebrew is like meddling with a base-type environment. If compilers/openblas are going to be installed into a dev-type conda environment, why should it be any different installing those CLT tools into the same env? It could make things a lot cleaner.

It would also simplify instructio

[2022-03-25 02:26] WarrenWeckesser opened #15866 "BUG/CI: Wrong python version used for tests labeled "Linux Tests / NumPy main""
### Describe your issue.

The file [linux.yml](https://github.com/scipy/scipy/blob/main/.github/workflows/linux.yml) in `.github/workflows` defines a test job `test_numpy_main` (with `name: NumPy main`), and according to the settings in that file, the job is supposed to run with Python 3.10.  Error messages in test failures on the main branch show that it is actually using Python 3.8.

[2022-03-25 04:26] WarrenWeckesser commented on #15857
Thanks for reporting the issue, @nevubm.  I can reproduce the problem with the main development branch.

[2022-03-25 05:52] #8928 closed

[2022-03-25 05:58] eli-schwartz commented on #12633
If someone has a bunch of spare time on their hands, it may be worth considering to port openblas to Meson also, and then using that as a Meson subproject dependency fallback. You wouldn't even need to document it. :)

That would make it essentially transparent to users as an alternative to suggesting that they build it anyway, but do so manually.

[2022-03-25 08:33] WarrenWeckesser commented on #15866
It looks like the relevant change was in https://github.com/scipy/scipy/pull/14832 (back in November).  @tupui, do you recall why the explicit installation and use of Python 3.10 was removed for this job?  It looks like the job now uses the system python, which is apparently 3.8.

[2022-03-25 09:31] tupui commented on #15866
Indeed, thanks for noticing this. I actually should have remove the matrix thing which confused me. I will send a PR now to fix this.

[2022-03-25 09:39] andyfaff commented on #15866
Iirc that job was originally designed for testing pre release versions of python.

[2022-03-25 09:41] tupui commented on #15866
It is yes, we just disabled this part for now until there is a RC of 3.11. This is why the matrix is still there. Also we might be able to remove the custom code because GH provides pre-release versions now.

[2022-03-25 09:52] matthew-brett commented on #15854
Sure - moving it seems like a good idea.   It could go in a submodule I guess - do we have a favored place for binary downloads?

[2022-03-25 10:13] tupui commented on #15861
Hi @AlexTholen314, thank you for reporting. I think you are not getting the wheel because you are on Big Sur and not Monterey. The wheel is `scipy-1.8.0-cp310-cp310-macosx_12_0_arm64.whl`. When the wheel is not available, you need to have a few more things installed in your environment (compilers as seen in the error message, see our contributor documentation for details).

[2022-03-25 10:24] tupui commented on #15858
Yes I understood, but it's still a change of direction. I would say it should not be problematic if the bounds are far enough (ill defined) from the optimum, but if the solution happens to be close to bounds it can be an issue. This strategy would effectively prevent to put points close to the bounds. IMO this is not wanted because you should always try to define sensible bounds.

@andyfaff what d

[2022-03-25 11:21] #15866 closed

[2022-03-25 11:25] #13761 closed

[2022-03-25 11:25] #14714 closed

[2022-03-25 12:21] #10006 closed

[2022-03-25 12:21] #10826 closed

[2022-03-25 12:21] #10827 closed

[2022-03-25 12:21] #15419 closed

[2022-03-25 12:21] #15420 closed

[2022-03-25 14:27] rgommers commented on #15854
A submodule doesn't quite work, that makes it visible for everyone rather than only our CI and the handfuls of Windows contributors. I think all we need is a more reliable place than GDrive + `gdown`. I think putting it on GitHub itself in a separate repo under the SciPy org should do it. And then grab it with either `git` or `curl`.

[2022-03-25 14:40] rgommers commented on #12633
Homebrew has a very different design, there's no base + activated envs. `git` is also something almost everyone (except absolute beginners) will already have, so it'd be bad to add it to every conda env - it makes conda solves slower, and then you just have multiple copies of `git` lying around. I'd also be fine with not having any instructions for it beyond mentioning it's needed.

I like the `su

[2022-03-25 14:52] eli-schwartz commented on #12633
Meson has tier two support for cmake subprojects. It assumes that cmake is installed as an additional build dependency for Meson projects, which is not always true, and relies on using cmake's trace API which is then parsed and dynamically converted into native Meson rules.

It may or may not work. The hope is that it does, and many projects do build successfully that way... but also, many do not.

[2022-03-25 15:01] eli-schwartz commented on #12633
As far as upstream support goes, they support two build systems right now already.

There's a related lapack issue where lapack had a meson.build, but removed it because it was PRed by one person in an incomplete stage, apparently doesn't work well, and the original submitter disappeared immediately. It wasn't documented in the README and most people didn't know it existed.

They still kept both t

[2022-03-25 15:11] rgommers commented on #12633
Yes, we have a good relationship with OpenBLAS so if we'd contribute the build support and promise some help going forward, it'll probably be accepted. Let's see if we have a volunteer for this project.

[2022-03-25 15:32] ilayn commented on #12633
As far as I can tell OpenBLAS has most of the machinery in place (probably painstakingly) developed over years. As far as I can tell, it works quite well even on Windows/MinGW with relatively low maintenance (except where the machine architecture selection goes awry). But typically quite painless. So it might even be a simple cmake trigger through meson.

But we are all Python-based users so I'm n

[2022-03-25 21:05] martin-frbg commented on #12633
Do you happen to have some pointers for meson driving a build through cmake ? The cmake support in OpenBLAS is a relatively recent addition (and still carries a warning that it may not be exactly equivalent to a gmake build). Some of its functions are a bit involved as they have to do weird things like parsing conditional code in files with Makefile syntax. On the other hand I am not sure I (or an

[2022-03-25 21:18] eli-schwartz commented on #12633
Here are the docs on Meson's support for cmake subprojects: https://mesonbuild.com/CMake-module.html#cmake-subprojects

Using it is simple enough, as long as it works correctly.

[2022-03-26 00:00] bwheelz36 commented on #15858
1. In general we have no idea where the optimal point is, so i don't really think it makes more sense to be focused on x0+some_number as opposed to x0-some_number - these are both equally valid starting simplex's.
2. If I recall correctly, the first (or at least one of the first) operation should be a reflection of the simplex. So if you start with a large simplex that gets reflected, you will hit

[2022-03-26 01:28] zhaog6 commented on #15657
I have one year of experience for Python math library, and I have less experences (previously used C++). I haven't seen it for the time being in this case. But if you want to add new subclasses (a new array), I think you can try.

[2022-03-26 11:52] WarrenWeckesser opened #15871 "BUG: stats: Test failure of `TestTruncnorm.test_moments` on CI"
The stats test `TestTruncnorm.test_moments` is <strike>consistently</strike> sporadically failing in the github actions job `Linux Tests / NumPy main 3.10`.  Here's a typical error report from the CI log:
[code]
Fixing this will not be as simple as tweaking the test tolerances.  The problem is that the skewness and kurtosis values that we are using as the true values (i.e. the expected values) are

[2022-03-26 13:23] h-vetinari commented on #15600
I'm not sure the case is fully comparable. pinv/pinv2 are doing the same thing conceptually but were using different implementations - as you wrote in #13831:

Here however, factorial2 does not mean "we're adding a 2 to not break the old API/behaviour", but it is a very different (though obviously related) function that has its use-cases independently from factorial.

That being said, I don't mind

[2022-03-26 13:25] h-vetinari commented on #14714
@tupui
Any context/update for closing this? I still think it would be a good idea to transition to keyword-only in many of our APIs.

[2022-03-26 17:44] martin-frbg commented on #12633
btw regarding compilation of the "fortran parts" and potential ABI incompatibilities - I have a half-baked PR going that (optionally) uses f2c-mangled versions of said parts. I "only" need to track down test errors in all data type flavors of ?GELSD

[2022-03-26 20:09] mattip commented on #15854
The MacPython/openblas-lib repo uploads to https://anaconda.org/multibuild-wheels-staging/openblas-libs/files. I think it would be fine if SciPy would also upload there. I didn't know SciPy builds its own OpenBLAS, is there some incompatibility with the way MacPython/openblas-libs is building for windows?

[2022-03-26 20:39] jcampbell opened #15883 "BUG: stats.bootstrap bca implementation triggers ValueError for `min` statistic"
### Describe your issue.

`stats.bootstrap` uses a custom implementation of `percentileofscore` that exclusively uses the `strict` behavior from the primary implementation.

As a result, the `min` statistic is always identified as the zeroth percentile, for all datasets. The bca then chooses -inf for z0_hat, which causes a ValueError when the lower percentile is selected as -inf.

I recognize that

[2022-03-26 21:11] mdhaber commented on #15883
I'm not able to reproduce this `ValueError` issue in `main`.  This is the output I get for the provided example:
[code]
Is there a seed I should use to get the result you got? It's also possible that the particular error here is already fixed (e.g. by gh-14351).

It sounds like that still does not resolve your issue? You would prefer that `percentileofscore` use a different `kind` option, and I'll

[2022-03-26 21:41] jcampbell commented on #15883
Indeed -- it appears that #14351 prevents the ValueError by directly checking for the `nan` case.

That said, in this case I do not think you have a degenerate distribution, and I think the confidence interval should be defined, with the `low` value equal to the sample min.

The existing `scipy.stats` docs for `percentileofscore` describe the `mean` kind as the one often used in testing, which I t

[2022-03-26 22:29] mdhaber commented on #15883
Sure. I'd be curious to see what changes. I'm sure I originally used `stats.percentileofscore` in the original implementation; I only would have written the custom implementation to improve performance for vectorized input. Could you check how it impacts performance in that case? (For instance, test the example from the documentation "Rather than writing a loop, we can also determine the confidenc

[2022-03-26 23:03] ilayn commented on #5266
Hi everyone, almost perfectly 1 year later, I would like to propose upgrading to 3.7.1 since we only have two conflicting platforms namely, CentOS 7 (which will have EOL in 2024) and OpenSUSE Leap (which will have EOL this year). It seems to me that we have given sufficient slack and in the mean time, the version 3.7.1 is defined by Ubuntu 18.04 LTS. Most of the major distros are already in 3.9 an

[2022-03-26 23:22] h-vetinari commented on #15600
Just stumbled over this in the git-blame - seems the factorial functions used to be in an even more obscure place until https://github.com/scipy/scipy/pull/3151.

[2022-03-27 01:40] #15753 closed

[2022-03-27 01:44] h-vetinari commented on #15600
I have an almost fully passing PR (some issues with GCC6) for all the fixes & behaviour changes in #15841. I'd appreciate if people who are interested could take a look. 🙃

It does not yet include the complex extension, but is very thoroughly tested and should get rid of basically all the spurious TypeErrors etc. from the OP.

It also does not yet attempt to unify everything under `factorial` (cf.

[2022-03-27 01:48] #15759 closed

[2022-03-27 08:01] ilayn commented on #15600
I think I should concede my comments this is indeed a quite complicated issue and I don't want to muddy it with philosophical issue. We can come back to it later and since there is no user noise around this apparently people are not too unhappy about it.

[2022-03-27 10:35] roryyorke commented on #15609
I just got bitten by this too; the "Development environment quickstart guide (Ubuntu)" *does* use conda, but doesn't include `openblas` in the package list to install.  It looks like that guide has been superseded by the much shorter and easier to run "Development environment quickerstart guide (Linux and Mac)" anyway - can we removed the Ubuntu quickstart guide?

[2022-03-27 12:43] rgommers commented on #15609
Yes, we're in the process of revamping all guides, I except a big PR within the next couple of weeks (if not days).

[2022-03-27 12:49] rgommers commented on #5266
Agreed. MKL is also fine; MKL 2020 was updated to LAPACK 3.8.0 already. We're also not dropping CentOS 7, just the default LAPACK shipped with it doesn't work anymore then - but one should build against OpenBLAS (or MKL) anyway. @ilayn can you send an email to the mailing list saying we plan to update to LAPACK 3.7.1? Just to make sure we don't miss anything important.

[2022-03-27 12:53] rgommers commented on #15854
@mattip I believe so, it needs to be built with the MinGW toolchain that SciPy is also built with. @matthew-brett built it that way. A write up with more details on that will be added to the docs in the near future.

[2022-03-27 13:11] ilayn commented on #5266
Done.

[2022-03-27 14:59] tupui commented on #14714
The consensus here and during meetings was: we do this for new code (as we've been doing), we don't update all old code. On a case by case basis, we can update old code if it really makes sense doing it.

[2022-03-27 15:55] #2414 closed

[2022-03-27 19:23] #15754 closed

[2022-03-27 19:26] #15760 closed

[2022-03-27 20:01] #7469 closed

[2022-03-27 20:35] #15082 closed

[2022-03-27 21:05] tupui commented on #15858
Currently, we clip to bounds so if the solution is as/close to the boundary, the search domain still includes it. On the other hand, if we do not go up to the bound (right on your fig), but the other way (left on your fig), we are discarding a part of the domain (the right part). If the optimum happens to be in this region, we will miss it.

[2022-03-27 21:46] h-vetinari commented on #5266
MKL already supports 3.9.0 for a while already as well, specifically since MKL 2020.0.4, cf. https://github.com/conda-forge/intel_repack-feedstock/issues/6

[2022-03-27 21:50] #15751 closed

[2022-03-27 21:59] h-vetinari commented on #15733
The only sensible thing IMO is to re-deprecate this properly (together with a clean-up of how it's used) and remove it in 1.11

[2022-03-27 23:10] #15745 closed

[2022-03-28 01:46] h-vetinari commented on #14714
Thanks @tupui; I cannot read much more than what's in this issue (so it's hard to know what was discussed and how consensus was achieved), but I'd like to know if a lightweight (at the function-definition site at least) decorator has been considered that would let us allow to move to kwarg-only functions where we deem it useful (which, IMO, is the great majority):

Say we have a function right now

[2022-03-28 06:09] rgommers commented on #15861
That answer is correct, and there's not much we can do here - this is just one of those cases where users may get a build from source when they don't expect it. That build can work, but of course more often than not it won't because dependencies are missing. I'll close the issue, because there is nothing to do here.

[2022-03-28 06:09] #15861 closed

[2022-03-28 06:12] rgommers commented on #15818
Note: not actionable until we're starting to develop for 1.11.0

[2022-03-28 06:13] rgommers commented on #15829
Note: not actionable until we're starting to develop for 1.11.0

[2022-03-28 06:13] rgommers commented on #15808
Note: not actionable until we're starting to develop for 1.11.0

[2022-03-28 06:13] rgommers commented on #15807
Note: not actionable until we're starting to develop for 1.10.0

[2022-03-28 09:30] tupui commented on #14714
@h-vetinari we did not have to discuss code. If we would have done something, sklearn already went down that route and we could just have taken their approach verbatim as it worked well. I don't think there would be any push back if you added such decorator in our utils, but as I said it was decided to not change anything in batch.

I suggest the following, if you identify a function that you thin

[2022-03-28 10:18] tupui commented on #14714
@h-vetinari feel free to put this on the agenda of our next community meeting.

[2022-03-28 10:49] rgommers commented on #14714
Adding a note to http://scipy.github.io/devdocs/dev/api-dev/api-dev-toc.html about positional-only and keyword-only arguments sounds like a good idea to me.

Re wholesale changes: that's going to break a _ton_ of code, which isn't justified. It's also not the case that all keywords should be turned into keyword-only arguments, there are cases where positional usage is just fine. So it'd be a lot o

[2022-03-28 11:22] bwheelz36 commented on #15858
"we are discarding a part of the domain (the right part)."

Sorry, that is not correct. Maybe I'm not being clear. I'm not suggesting you reflect the simplex **every** time it hits the bound - only when it is first generated. The solution does **not** have to lie within the starting simplex (although that would probably always help) - what is important to general convergence is generating a starti

[2022-03-28 11:38] ev-br commented on #14714
What might be worth it if someone wants to spend effort on, is to check various functions which receive user callables: whether they handle keyword-only arguments. I suspect we do `func(x, *args) ` in several places (e.g. curve_fit).

OTOH, there were no user bug reports, so maybe even this may wait until actual need arises.

[2022-03-28 11:43] h-vetinari commented on #14714
I'll try to look into that, but if someone gets there first, please don't hesitate!

I'm not sure if that's splitting hairs, but I don't consider the addition of a deprecation warning a breaking change. If there's enough time to transition then that's just part of the normal cycle.

That said, I wasn't proposing wholesale conversion (neither in bulk nor per function - as my example showed, it's fi

[2022-03-28 11:57] rgommers commented on #14714
That's not how it works. For some packages, deprecation warnings need to be addressed immediately. But more importantly, after 2 or more releases we will remove the deprecated features, and then it's a hard break. Which is a problem for end user code, snippets on SO, and all kinds of other static or not actively-maintained code.

[2022-03-28 11:59] tupui commented on #15858
Thanks for clarifying this point.

FYI, we have a benchmark suite with more than 100 optimisation functions (`SCIPY_XSLOW=1` and see the benchmark folder)

[2022-03-28 12:37] h-vetinari commented on #14714
I respectfully disagree in turn. Projects _choosing_ to treat warnings as errors voluntarily onboard the responsibility to deal with such breaks (they're warnings and not errors for the precise reason to not cause a hard break - if a project chooses to equate them then it's up to them to deal with the consequences). In turn, I don't think it's reasonable to call it a "hard break" if the behaviour

[2022-03-28 13:31] brunorigal opened #15888 "BUG: linprog, with highs is killed by the OOM killer when called with dense and large matrices"
### Describe your issue.

Hi,
I have a bug when using the highs linprog solver with the code below.

The script is killed by the OOM killer. The problem arises when calling csc_matrix, which itself builds a coo_matrix, which calls the nonzeros method which is supposed to return the indices of non zero (far too many in this dense case).

Is it necessary to call csc_matrix here? It seems very ineffi

[2022-03-28 13:53] #15345 closed

[2022-03-28 18:24] rgommers commented on #14714
This is not something I disagree with. That said, keyword-only arguments aren't a significant enough improvement to do a very large scale deprecation. They don't add any new functionality nor do they change how idiomatic code is already written after all.

[2022-03-28 19:03] FranzForstmayr commented on #15755
I'll try to fix this issue!

[2022-03-28 21:37] h-vetinari commented on #14714
This I can understand.

I'd say the provide an incremental API-safety benefit (e.g. putting supposed keyword args in the wrong order positionally); I hope we can iterate our way there on a per-function or per-module basis over time.

[2022-03-28 21:50] bwheelz36 commented on #15858
OK, well... what happens from here? I can test running the change over all the benchmark functions, but as I mentioned I think it is an edge case - I guess in nearly all situations it makes no difference. I just think in a small minority of cases it can substantially improve results. But if there is no interest/consensus on this then I suppose we just close the issue?

The other change I think wou

[2022-03-29 04:18] jcampbell commented on #15883
I'll update here with performance notes, but this had no impact on the tests locally, which I found reassuring.

I'm not sure on the tolerance question--my initial thought is that, even with percentileofscore, we are already allowing for that by the simultaneous `<` and `<=` checks, but I have not read https://github.com/scipy/scipy/pull/15892 closely.

[2022-03-29 04:19] jcampbell opened #15893 "Build Issue with MacOS -- update quickstart?"
I very much appreciated the contributors' quickstart guide for Mac OS!

I ran into an issue on OSX 12.3, unfortunately. Apparently, the conda compilers package does not include older versions of Mac OSX SDK (because of a licensing issue). When I tried to build scipy, I encountered an uninformative error (included below for reference). Ultimately, I was able to successfully build only by following

[2022-03-29 04:56] mdhaber commented on #15009
@sampan501 just thought I'd ping you about this so we don't forget. Please mention me when you open one. Thanks!

[2022-03-29 08:43] tupui commented on #15858
We work on a "lazy consensus", meaning it would be good to have another maintainers' view on this. On my side, if there is no literature around the proposal, we should at least run the benchmark and show similar performances with and without the change.

@andyfaff can you advice here?

If there is no reply, you can try sending an email to the mailing list to attract more people.

[2022-03-29 08:50] tupui commented on #15893
Hi @jcampbell, thank you for reporting. Can you give a bit more details on your setup? I am not sure how you got this error. I am also on macOS 12.3 and never saw this.

@melissawm is re-writing the guide. Did you see this Melissa?

[2022-03-29 17:59] #8718 closed

[2022-03-29 19:32] rgommers opened #15896 "Compiled code coverage with `--gcov` doesn't work with Meson"
For how this is supposed to work, see the PR description of gh-3021. It works with `python runtests.py --gcov`, but doesn't work with `dev.py`:
[code]
I made no attempt to figure out why yet.

Full log:

<details>

[code]

</details>

@Smit-create is this something you could look at?

[2022-03-29 19:35] rgommers commented on #15896
Once that works, `--lcov-html` should work too (assuming `lcov` is installed - easiest on Linux).

[2022-03-29 19:37] rgommers commented on #15893
I have never seen this either. Building on macOS _for development purposes_ should not involve needing an older SDK. Building wheels for releases is a different story, there we should target 10.9/13/14 (not sure which one right now.

Maybe you have `MACOSX_DEPLOYMENT_TARGET` set @jcampbell?

[2022-03-29 19:54] Smit-create commented on #15896
Yeah, I'll look into it.

[2022-03-29 20:44] eli-schwartz commented on #15896
Why is the C compiler `x86_64-conda-linux-gnu-cc --coverage`? It might make more sense to use Meson's `-Db_coverage=true`.

(This also sets up Meson's own coverage report generation targets, but creating in-tree coverage data might require figuring out editable installs, so that's a problem for a different time, probably.)

[2022-03-30 02:19] #15743 closed

[2022-03-30 03:26] #15009 closed

[2022-03-30 03:53] mdhaber commented on #15883
Yeah when I asked for performance impact I misunderstood the change that would have to be made. The impact is negligible because the comparison is vectorized just like that check that was already there.

The idea in gh-15892 is that exact equality comparison is unreliable. In cases where it might matter, it is better to check e.g. "less than or very close" rather than "less than or equal". I think

[2022-03-30 07:34] Samreay opened #15899 "BUG: _calc_uniform_order_statistic_medians documentation example disagrees with required import"
### Describe your issue.

The documentation on how to use the  _calc_uniform_order_statistic_medians function [states here in the example:](https://github.com/scipy/scipy/blob/59d974bf14ff8c82f3353e2d2a9282d9bda67db5/scipy/stats/_morestats.py#L410):

However, _calc_uniform_order_statistic_medians is not exported into the `scipy.stats` package, [it does not appear in any __init__.py at all](https:/

[2022-03-30 08:14] tupui commented on #15899
Hi @Samreay, thank you for reporting. What is incorrect is the import in the documentation of this function. The function itself is marked on purpose as private with a leading underscore.

You can make a PR to fix the documentation.

[2022-03-30 08:32] Samreay commented on #15899
PR submitted, for the actual scipy library this time and not my own fork haha

[2022-03-30 08:35] #15899 closed

[2022-03-30 20:04] #14505 closed

[2022-03-30 21:18] mdhaber commented on #15888
@mckib2, is there a different interface for dense matrices or other sparse matrix formats? (I'm not aware of one.)

@brunorigal does `method='interior-point'` fare any better here? (We were deprecating it, but I wonder if this would be a reason to keep it around.)

[2022-03-31 01:18] h-vetinari commented on #14360
I re-read this issue and was wondering when removal was envisaged. Turns out it's mentioned in the mailing list [post](https://mail.python.org/archives/list/scipy-dev@python.org/message/I4B27XJY6RZVWNXF6F62Q7KX62WXKBQF/) that the removal is currently planned for scipy 2.0. I'll reflect it as such in the deprecation tracker.

[2022-03-31 05:04] aragilar opened #15904 "BUG: Is _freq_domain_conv missing a conjugation?"
It looks like https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/signal/_signaltools.py#L508
is missing `sp2.conj`? Maybe I've missed where the conjugation happens, but it does look like it's missing.

[2022-03-31 06:01] mckib2 commented on #15888
No, HIGHS will always expect a sparse constraint matrix here.  Is there potentially a better/more direct way to get to a `csc_matrix` on the Python end that would accommodate these kinds of large, dense matrices?  All HiGHS needs are the 3 arrays: indices, indptr, and data

[2022-03-31 07:04] brunorigal commented on #15888
On the same script the interior point method raises an _ArrayMemoryError error, which is better.

[2022-03-31 07:12] mdhaber commented on #15888
OK so @brunorigal we ultimately need a `csc_matrix` representation, so it is reasonable to call `csc_matrix`. Is the failure actually happening during the call to `csc_matrix`? (In that case, I think the question of how best to convert from dense to CSC matrix would be a `sparse.linalg` issue, not an `optimize` issue.)

[2022-03-31 07:26] brunorigal commented on #15888
What about something like this specially for dense matrices:
[code]
in replacement for `A = csc_matrix(A)`

I checked it yields the same results than csc_matrix on this problem. However, the same problem is then observed in the highs wrapper.

[2022-03-31 07:37] mdhaber commented on #15888
But why would the code go in `optimize` and not in `sparse.csc_matrix` itself? It sounds like the problem was experienced in the context of using `linprog`, but is it very unlikely to be a problem in other contexts?

Which problem, specifically? "The script is killed by the OOM killer"?

[2022-03-31 07:39] brunorigal commented on #15888
I guess you are right, it could be a part of the csc_matrix function.

The "same problem" does refer to the OOM killer (it would then be a problem for the highs team).

[2022-03-31 07:58] mdhaber commented on #10896
@tupui looks like gh-14757 fixed this, too.
For the examples above, I get `ValueError: Cannot calculate a linear regression if all x values are identical`.

But really, this is again the same sort of catastrophic cancellation problem as addressed by gh-15905. If the values were slightly different, we wouldn't get the error, but we'd get garbage.

Shall we close it, though, since issue as originall

[2022-03-31 10:46] LeBarbouze opened #15906 "Missing degree of freedom parameter in return value from `stats.ttest_ind`"
I should mention first that this is an enhancement request rather than a bug issue.

The return type of the [`stats.ttest_ind`](https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/stats/_stats_py.py#L5944) function, testing for equal means two samples, comprises the t statistic and its associated p value. However, the degree of freedom parameter, computed in the func

[2022-03-31 12:34] alexander-soare opened #15907 "BUG: Rotation.align_vectors documentation does not match the code implementation"
### Describe your issue.

The description of RMSD [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.transform.Rotation.align_vectors.html) is not matched by the code implementation [here](https://github.com/scipy/scipy/blob/e3cd846ef353b10cc66972a5c7718e80948362ac/scipy/spatial/transform/_rotation.pyx#L2381-L2383). The latter needs to be divided by `np.sqrt(len(a))` to matc

[2022-03-31 13:22] Smit-create commented on #15896
I followed the following steps:
1. `$ meson setup build -Db_coverage=true --prefix=$PWD/build-install`
2. `$ ninja -C build`
3.
[code]
4.
[code]

[2022-03-31 14:32] eli-schwartz commented on #15896
Right, my suggestion was about adding the right compiler flags automatically since Meson knows how to do that. I didn't say you should use `meson test`.

(You already have a test harness that AFAIK is performing admirably, so there's no pressing need to replace it like there was a need to replace numpy.distutils)

I would just use meson's coverage option to ensure that compiler detection of covera

[2022-03-31 14:34] jcampbell commented on #15893
🤔 I can confirm that that environment variable is not set.

In terms of environment -- I use miniconda, installed in the "standard" way except that I did disable auto-activate base. I also do have the Xcode command line tools installed. I actually first tried installing the full Xcode package after getting the error (hence the path in the message above), but I got the same error wrt the SDK refere

[2022-03-31 14:35] eli-schwartz commented on #15896
Particularly I don't think coverage should be in the $CC as that affects meson `compiler.links()` tests, the sanity check "does this compiler work to create valid executables" test, and similar. Those should not be compiled with coverage, and doing so might be what is causing your errors. I got some really weird warnings when I tested doing that myself.

[2022-03-31 14:42] tupui commented on #15893
I don't think new command line tools are an issue because I am having latest too and I have no issues.

[2022-03-31 15:25] mdhaber commented on #10896
Well, that PR alone will not make behavior in `linregress` more robust, but we can look into applying the idea here, too.

[2022-03-31 15:28] mdhaber commented on #15888
Ok, I'll add the sparse label.
@mckib2 it sounds like if this gets past `csc_matrix`, HiGHS should fail more gracefully.

[2022-03-31 15:45] alexander-soare commented on #15907
@WarrenWeckesser yes makes sense. When I originally posted the Stack Overflow question I was assuming that the weights would be 1/num_point_pairs if not specified, but with the weights defaulting to 1 it is indeed the sum. May I suggest a more straight forward wording

[code]

[2022-03-31 16:28] WarrenWeckesser commented on #15907
That looks fine to me, thanks.  Are you interested in submitting a pull request with the updated documentation?

You're right about the weights: if the default weights were the constant value 1/n instead of 1, then the returned value `rmsd` would be the true RMSD.  In general, one could imagine an implementation in which the given weights were always normalized such that the sum of the weights is

[2022-03-31 17:38] jdwapman opened #15908 "BUG: scipy.io.mmwrite failure"
### Describe your issue.

Using scipy.io.mmwrite results in the process being killed when writing large sparse matrices to disk, likely due to resource consumption limits.

Although the example included in this bug report generates a dense matrix for conciseness, I see this behavior with many large matrices in the suitesparse dataset.

This can be trivially fixed by iteratively writing the lines t

[2022-03-31 17:56] alexander-soare commented on #15907
Will do shortly :)

[2022-03-31 21:18] mdhaber commented on #15906
It actually is trivial (now) to maintain backward compatibility. The bunch object works just like a `NamedTuple` (e.g. can be unpacked as a tuple) for all the attributes already included, but we can add additional attributes.

@tirthasheshpatel What do you think? Shall we convert the returned object into a bunch and add `df` as an attribute?

[2022-03-31 22:40] #15734 closed

[2022-03-31 22:48] mdhaber commented on #15883
I've relabeled this based on the discussion in https://github.com/scipy/scipy/pull/15892.

[2022-04-01 06:21] rgommers commented on #15893
I indeed upgraded from an older release, and am seeing:
[code]
What exactly is missing for you @jcampbell? All of `MacOSX.sdk` or just one `.tbd` file?

[2022-04-01 07:37] fuglede commented on #14731
You're right, this seems like an instance of incorrect, or at the very least very misleading, naming: The map you're looking at is the flow, and the residual network would be the one whose capacity is the difference between the original capacities and the flow,

[code]

A nice little sanity-check being that this one has no flow:

[code]

So that's pretty confusing indeed. Maybe enough to warrant a

[2022-04-01 08:25] tupui commented on #15904
Hi @aragilar, thank you for reporting. Can you provide a bit more context/information on why?

[2022-04-01 09:48] aragilar commented on #15904
Looking at [wikipedia](https://en.wikipedia.org/wiki/Cross-correlation), the definition of cross-correlation is
![equation 1](https://wikimedia.org/api/rest_v1/media/math/render/svg/9092b09d7914c7cc7966e14bbfa874efddd60c33)
where the function `f` has been conjugated. If we may `sp1` to `g` and `sp2` to `f` (which I think is correct, but I could be totally wrong), then we'd expect to have `sp2` con

[2022-04-01 11:00] Smit-create opened #15912 "BUG: Wrong Answer with `scipy.optimize.linprog`"
### Describe your issue.

I am trying to solve the following dual problem:

<img width="889" alt="Screenshot 2022-04-01 at 4 18 52 PM" src="https://user-images.githubusercontent.com/55887635/161249895-09f531e0-8882-46c2-a7aa-553543879db0.png">

The variables of the problem are defined as:
<details>
<summary> Variables </summary>
<p>

[code]
</p>
</details>

Solution using `scipy.optimize.linprog`

[2022-04-01 11:21] tirthasheshpatel commented on #15906
Returning a df attribute sounds good (although it does complicate the API a bit since it doesn't apply to all tests as you mentioned, adding it across all t-tests mitigates the issue). R's `t.test` and `cor.test` (with method `pearson`) also give the df of the null distribution in the output so worth considering returning a df field in `pearsonr` too (if and when we add it in t-tests).

[2022-04-01 14:10] mdhaber commented on #15912
Please check your `bounds`. All decision variables are non-negative by default. I see the CVXPY solution has some negative values.

[2022-04-01 18:28] ducvinh-nguyen opened #15913 "[ENH] Option to provide cost function evaluations of the provided initial population - scipy.optimize.differential_evolution"
### Is your feature request related to a problem? Please describe.

I am using _scipy.optimize.differential_evolution_ to optimize the initial parameters of a non linear numeric model, where the evaluation of the cost function (which calls Abaqus software) takes a lot of time and computation power. So, I should make use of every evaluation of the cost function; and trace the evolutation of the pop

[2022-04-01 19:27] rgommers commented on #7112
This is still the state as of today; it won't be fixed anymore because `numpy.distutils` and `distutils` are both deprecated. So I'll close this issue.

You can build SciPy in parallel with Meson now.

[2022-04-01 20:42] pmla commented on #15907
I should have caught this problem in review back when we developed this method.

It was actually the intention that the RMSD (according to the usual definition) be returned. I am still in favour of this, although it is an awkward situation we have created. It would be great if we could get back to the RMSD via a deprecation cycle, but I can't immediately think of an elegant solution.

[2022-04-01 20:45] mkoeppe opened #15915 "ENH: optimize: object-oriented interface to HiGHS"
### Is your feature request related to a problem? Please describe.

Functions `Highs::getBasicVariables`, `Highs::getReducedRow` and `Highs::getReducedColumn` (https://github.com/ERGO-Code/HiGHS/issues/525#issuecomment-1086217397) are currently not exposed through scipy's Cython interface to HiGHS.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

[2022-04-01 20:51] alexander-soare commented on #15907
I agree that RMSD makes more sense. Can you help me understand something
about deprecation cycles? What I would do here is put a deprecation warning
for the next version then the version after that switch it out and keep a
warning there for one more version. (It's not really "deprecation" though,
as we'd be changing something not removing it). But still i see no harm.
The way I work with my projec

[2022-04-01 20:53] lobpcg commented on #15871
This makes unrelated PRs to fail making debugging more difficult. Maybe you could fix it temporarily asap by changing the tolerance, while looking for a permanent fix?

[2022-04-01 21:05] mdhaber commented on #15871
I think that's a good idea. I'll submit a temporary patch that will not close the issue.

[2022-04-01 22:36] mdhaber commented on #15747
@h-vetinari I think the title of this should be "enforce presence of size argument for `_rvs`". Could you check that?

[2022-04-01 23:35] andyfaff commented on #15913
In scipy 1.9.0 there will be a [`vectorized`](http://scipy.github.io/devdocs/reference/generated/scipy.optimize.differential_evolution.html#scipy.optimize.differential_evolution) keyword. When you use that keyword you will get sent all the trial vectors for a given generation at once.

If you use the `vectorized` kwd then you will be sent the entire initial population to provide all of those initi

[2022-04-01 23:57] tylerjereddy commented on #15871
For now, I merged Matt's tolerance bump to keep CI running smoothly--hopefully Warren doesn't mind as long as this stays open for the "real investigation."

[2022-04-02 04:20] roryyorke commented on #15904
The [Mathworld definition of convolution](https://mathworld.wolfram.com/Convolution.html) doesn't have conjugation, while the [cross-correlation definition](https://mathworld.wolfram.com/Cross-Correlation.html) definition does.

In `correlate`in the same file you pointed to, there's this code, in which conjugation *is* done for cross-correlation:

[code]

so my guess is whoever wrote this knew wha

[2022-04-02 04:32] Smit-create commented on #15912
Oh, thanks for pointing that. It fixed the problem!

[2022-04-02 04:32] #15912 closed

[2022-04-02 09:39] #15721 closed

[2022-04-02 11:07] tupui commented on #15904
Sounds like we can close this then.

[2022-04-02 11:31] clwez opened #15918 "BUG: a sentence in stats.norm's docstring seems incorrect"
### Describe your issue.

Specifically, norm.pdf(x, loc, scale) is identically equivalent to norm.pdf(y) / scale with y = (x - loc) / scale.Here 'pdf' should be repalced by cdf

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

.

[2022-04-02 11:39] ev-br commented on #15918
Why would that be? For PDF, normalization condition (that the integral of PDF over the support equals one) dictates the division by scale for the PDF.

https://github.com/scipy/scipy/blob/main/scipy/stats/_distn_infrastructure.py#L2127

[2022-04-02 11:39] #15918 closed

[2022-04-02 14:45] fbarfi opened #15919 "BUG: error message -- code working fine though"
### Describe your issue.

I am getting the error message down below in running MCMC on PyMC on Apple M1. I am posting it here because I see a runtime warning originating in Scipy. I was wondering if v 1.8.0 has addressed this issue. Currently I am using v.1.7.3. The code is running well however, it is just I keep getting this error message and so two of students who have M1 machines too.

here inf

[2022-04-02 16:01] mdhaber commented on #15919
Thanks, but this is a duplicate of gh-14901, so I'll close this one.

[2022-04-02 16:01] #15919 closed

[2022-04-02 16:09] denizokt opened #15921 "BUG: Memory leak when SuperLU object is created in another thread, saved, and updated"
### Describe your issue.

If I run SuperLU in another thread, save the result to a global variable, and continually update it, memory usage seems to go up linearly with number of iterations.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.19.5 sys.version_info(major=3, minor=8, micro=6, releaselevel='final', serial=0)

[2022-04-02 17:01] tupui commented on #15921
Hi @denizokt, thanks for reporting. Did you try to de-reference `A` in your function before it ends? Might be the case that gc is not being able to kick in because a reference is still there when `A` is passed to `spilu`.

[2022-04-02 17:03] denizokt commented on #15921
Thanks for the comment @tupui ! What do you mean by dereference? I want to keep the Container.A objects around in between iterations.

[2022-04-02 17:05] tupui commented on #15921
Can you try adding `A=None` before the return?

[2022-04-02 17:06] denizokt commented on #15921
Unfortunately that does not fix the issue.

[2022-04-02 17:36] #15747 closed

[2022-04-02 17:40] #15377 closed

[2022-04-02 18:21] lobpcg commented on #15170
@zmoitier It appears that the issue has been resolved and could be closed?

[2022-04-02 19:08] apixandru commented on #15527
I tried precomputing the results of all my numpy,.dot computations and having the constraints be just popping the value from the list and that worked

`
def constraint2(ix, iy):
    return lambda x: numpy.dot(ix, x) - iy
`

Then i tried running just the numpy.dot function in isolation for all the inputs that i'm sending here and that also worked

Seems like it has to be a combination of both for t

[2022-04-02 20:40] zmoitier commented on #15170
Yes, it does. Thanks for letting me know.

[2022-04-02 20:40] #15170 closed

[2022-04-02 20:53] rgommers commented on #12401
This was continued in gh-12471, so closing this issue.

[2022-04-02 20:53] #12401 closed

[2022-04-02 21:11] h-vetinari opened #15924 "DEP: stats: deprecate support for `_rvs` using `_random_state`."
Coming out of #15917 which addressed a deprecation from #11394

[2022-04-03 02:08] kohlerjl opened #15927 "BUG: Inconsistent handling of INF and NAN in signal.convolve"
### Describe your issue.

When one of the input vectors to signal.convolve contains an INF or NAN value, the returned vector differs depending whether method='fft' or method='direct' is used.

When computing the convolution with method='direct,' an INF or NAN value in the longer of the two arrays would only result in a sequence of INF or NANs in the output with the same length as the shorter of th

[2022-04-03 03:20] mdhaber opened #15928 "ENH: stats: univariate distribution meta-issue"
The existing univariate distribution infrastructure is an extremely valuable feature of SciPy, and it offers two main ways of interacting with distributions.

1. `stats.norm.pdf(2, loc=0, scale=1)` calls the `pdf` method of the `norm` object that is instantiated at import time
2. `stats.norm(loc=0, scale=1).pdf(2)` uses the `__call__` method of the `norm` object to create a "frozen" instance of th

[2022-04-03 04:10] mdhaber commented on #13632
After reading this and gh-3758, it is more clear that they are duplicates. Let's close this and continue in gh-3758.

[2022-04-03 04:10] #13632 closed

[2022-04-03 04:22] mdhaber commented on #3758
This issue is not about built-in discrete distributions like `binom`; it's about custom discrete distribution defined with the `values` argument. Since gh-5672 merged, these are really instances of `rv_sample`.

`pmf` does _not_ work as desired for non-integer `xk` because it shares the `pmf` implementation with built-in distributions. For these, the domain is the integers, so it makes sense for t

[2022-04-03 14:10] aragilar commented on #15904
Sorry, I've been conflating cross-correlation and convolution (as I confused myself and thought the functions were implementing the former, not the latter). The convolution is fine, it's the correlation that I think is wrong. The way I've seen it expressed is `IFFT(FFT(x1)*CONJ(FFT(x2)))` (see
![correlation](https://wikimedia.org/api/rest_v1/media/math/render/svg/67bb744bcd2ff12d5dabe29813e203729c

[2022-04-03 14:52] mgorny opened #15931 "BUG: scipy/io/arff/tests/test_arffread.py::TestNoData::test_nodata failure on big endian platforms"
### Describe your issue.

When running the test suite on ppc64 (big endian), the following test fails:

[code]

However, I don't really know if the test is expecting the wrong endianness, or if `loadarff()` is returning the type with wrong endianness. I suspect the latter.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.22.2 sys

[2022-04-03 16:58] lobpcg commented on #11406
Mysteriously, the test suggested here still fails in
https://github.com/scipy/scipy/pull/11829
too for absolutely no good reason. I have added it as a unit test in https://github.com/evgueni-ovtchinnikov/scipy/blob/fix-svds/scipy/sparse/linalg/_eigen/tests/test_svds.py
but have to comment out line 777 for the test to pass.

It's an example where the smallest requested singular values are all nearl

[2022-04-03 23:07] siddhantwahal commented on #11053
I was curious as to how this could be done and ended up making significant progress (branch: https://github.com/siddhantwahal/scipy/tree/enh/mvn-normal-inv-cov). The implementation rests on storing square roots of the covariance and the inverse covariance. This has two advantages:
1. It avoids repeated computation of the covariance square root in `multivariate_normal.rvs` (#11772)
2. It can be eas

[2022-04-04 03:12] Yuan-Meng commented on #15919
Hi there! I encountered the same problem and read the issue you referred to. However, it says the problem was fixed in 1.7.2 so it doesn't really address why we still see it in 1.7.3?

[2022-04-04 10:18] rgommers commented on #15814
Let me just point out this work, which looks in detail at redesigning the CI matrix for SciPy: https://labs.quansight.org/blog/2021/10/re-engineering-cicd-pipelines-for-scipy/. That is all still valid; the exact matrix contents can be evolved, but let's not start from scratch.

For now, moving 1-2 jobs that are timing out on Azure to GitHub Actions and seeing if Windows jobs are faster there sound

[2022-04-04 11:35] ggardet opened #15935 "BUG: test_failure_to_run_iterations fails on aarch64"
### Describe your issue.

`test_failure_to_run_iterations` fails on aarch64 on openSUSE Tumbleweed.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

scipy: 1.8.0 - numpy: 1.21.4 - python: 3.8

[2022-04-04 12:00] tupui commented on #15935
Thanks @ggardet for reporting. @lobpcg, maybe you can have a quick look?

[2022-04-04 12:35] lobpcg commented on #15935
Okay, I will

[2022-04-04 14:22] Bohne9 commented on #15552
For those who will get here through Google, etc:

https://github.com/pyinstaller/pyinstaller/releases/tag/v4.10

[2022-04-04 19:58] DrTimothyAldenDavis opened #15936 "Please add citations to the papers for COLAMD"
scipy includes COLAMD as a built-in function (used by SuperLU) but the relevant papers are missing from the documentation.

In particular:

        T. A. Davis, J. R. Gilbert, S. Larimore, E. Ng, Algorithm 836:  COLAMD,
        an approximate column minimum degree ordering algorithm, ACM Trans. on
        Mathematical Software, 30(3), 2004, pp. 377--380.
        https://doi.org/10.1145/1024074.102

[2022-04-04 20:35] haotianh9 opened #15937 "Analog and digital version of butterworth filter"
Hello scipy developers,
    I have a question about the analog and digital version of butterworth filter (scipy.signal.butter). I tried two things to get a digital butterworth filter, one is directly get from the function `scipy.signal.butter`  with `analog=False`, the other is getting a analog filter by  `scipy.signal.butter`  with `analog=True`, and then use `scipy.signal.bilinear `  to transfor

[2022-04-04 20:46] #15937 closed

[2022-04-04 20:47] tupui commented on #15937
Hi @haotianh9, thank you for reporting. I am sorry but we don't answer user questions here as we don't have the bandwidth to. Please ask on other medium such as StackOverflow.

[2022-04-04 21:02] #2071 closed

[2022-04-04 22:55] ilayn commented on #15936
Thank you for the reminder Tim, references are added to places that we hope to cover all. But please let us know if we missed any other usage with other library components too.

[2022-04-04 23:05] DrTimothyAldenDavis commented on #15936
Thanks!  I also posted other issues for scikit-sparse and scikit-umfpack, which is where most of my packages are wrapped for scipy, from what I understand.

[2022-04-05 08:15] andyfaff opened #15940 "odeint (lsoda) emits too many warnings that are not filterable."
### Describe your issue.

I have a colleague who is attempting to use `odeint` to integrate a differential equation. This produces a large volume (>100k lines) of warning messages that, whilst real, they would like to filter as they pollute the Jupyter notebooks and are emitted in the Terminal window, etc.
The same noise is emitted in `solve_ivp` if `method='LSODA'` is used.

We have tried redirec

[2022-04-05 08:35] insung3511 opened #15941 "AttributeError: module 'scipy' has no attribute 'signal'"
[code]
I import some python modules and I using scipy on print like this.
[code]
But Idk reason why got a error that can't find scipy.signal module. Its already install scipy module and no problem import that module. Please help.

---
Hardware
- Macbook pro (M1, 2020)

Software
- macOS Monterey
- Python (anaconda) 3.9.4

Raw Error
[code]

[2022-04-05 08:36] insung3511 commented on #15941
I was idiot. sp.medfilt is right way. sorry guys. 🥲

[2022-04-05 08:36] #15941 closed

[2022-04-05 15:01] StefanR44 opened #15942 "Are docs for the two-sample Kolmogorov-Smirnov test not correct?"
In the last section it says:
"For an identical distribution, we cannot reject the null hypothesis since the p-value is high, 41%:"

[code]

but the pvalue is 0.054? Or am I simply not understanding something? The part before that also seems to be wrong.

Link to the page : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ks_2samp.html

Screenshot of what im referring to:
![image](h

[2022-04-05 15:12] mdhaber commented on #15942
They were not. This was reportedin gh-15644 and fixed in PRs linked from there. Please find the `main` branch version of the docs [here] (http://scipy.github.io/devdocs/reference/stats.html#module-scipy.stats). Do those resolve the issue?

[2022-04-05 18:04] #15942 closed

[2022-04-05 19:09] lobpcg commented on #15935
The line numbers do not match for me:
`[  772s] /usr/lib64/python3.9/site-packages/scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py:230: in test_failure_to_run_iterations
[  772s]     eigenvalues, _ = lobpcg(A, Q, maxiter=20)
[  772s] E   Failed: DID NOT WARN. No warnings of type (<class 'UserWarning'>,) was emitted. The list of emitted warnings is: [].
`
appears to refer to line 230 (?), bu

[2022-04-05 20:12] L-Sandler commented on #15936
Hi @DrTimothyAldenDavis, @ilayn and @melissawm,
I'd like to contribute to this issue, and want to make sure that my work is correct. From my understanding, I would be replicating the documentation from this [commit](https://github.com/scipy/scipy/pull/15938/files/26773940bf968173a2fc7b96d96cff79c0c5eaf7), but for any C or Python files from this [search](https://github.com/scipy/scipy/search?q=COLA

[2022-04-05 20:48] DrTimothyAldenDavis commented on #15936
You don’t have to change cgssv.c.

On Tue, Apr 5, 2022 at 3:46 PM Tim Davis ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-04-05 21:29] mdhaber commented on #15936
@L-Sandler another place this reference can be added is `parae.linalg.splu`. Please follow the example set by gh-15938. Thanks for your interest!

[2022-04-05 21:49] byoung4 commented on #15146
I happened to need this functionality today, so I whipped up something quick. It's not necessarily pretty with argument checks and other such luxuries, but it's a good place to start.

[code]

And here is a usage example

[code]

[2022-04-05 22:38] L-Sandler commented on #15936
Thanks for your responses @mdhaber and @DrTimothyAldenDavis.
@mdhaber is there any chance you can direct me to the correct location for `sparse.linalg.splu` as [the one I've interpreted from your reply](https://github.com/scipy/scipy/tree/main/scipy/sparse/linalg/splu) does not exist for me.

@DrTimothyAldenDavis is there any chance you can explain why no citation is necessary for `cgssv.c` althou

[2022-04-05 22:57] DrTimothyAldenDavis commented on #15936
Thanks for all your help on this issue.  All that is really needed are
citations in the documentation, not in the various source codes (such as
SuperLU).  There's no need to cite colamd in superlu itself, just in the
user-facing documentation of scipy where the user is given the option to
use colamd.

The SuperLU papers themselves cite COLAMD, so SuperLU (by Sherry Li)
already cites COLAMD just fi

[2022-04-05 23:14] DrTimothyAldenDavis commented on #15936
From what I can tell after downloading scipy and doing a search, is that scipy proper includes only COLAMD.  All of my other codes are wrapped in scikit-sparse and scikit-umfpack.  See:

https://github.com/scikit-sparse/scikit-sparse/issues/75
https://github.com/scikit-umfpack/scikit-umfpack/issues/69

UMFPACK is not in scipy proper, but there is a mention of UMFPACK in this file in scipy:
https:/

[2022-04-05 23:18] mdhaber commented on #15936
@L-Sandler you can usually find where a function lives by clicking on the `[source]` link from the function's documentation. E.g. the documentation for `splu` is [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.splu.html#scipy.sparse.linalg.splu) and looks like:
![image](https://user-images.githubusercontent.com/6570539/161866242-132bb32e-c768-403e-a99e-bcc5b4de8f51.

[2022-04-06 01:11] rarnaout opened #15943 "scipy.stats.theilslopes fails on small data"
from scipy.stats import theilslopes as ts
ts([0, 1], [0, 1])
"Works fine"
ts([0, 0, 0], [0, 1, 0])
"""Fails:
.pyenv/versions/3.9.2/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
---------------------------------------------------------------------------
IndexError

[2022-04-06 04:12] #14622 closed

[2022-04-06 05:23] mdhaber commented on #15943
@rarnaout Thanks for reporting this. I've labeled it as an enhancement request: although the error messages in the current version of the code could be more graceful in these edge cases, they don't return an incorrect result (good), and the failure seems to be due to the equations themselves, which are designed for large samples. (This could also be mentioned a bit more explicitly in the docs rath

[2022-04-06 05:25] mdhaber commented on #15943
Interesting, though. I get no warnings or errors in the first example, but a different error message than you show for the second:
[code]

[2022-04-06 05:46] AnthonyTheKoala opened #15944 "BUG: It happens only on scipy not on any other package - autocomplete not possible in IDLE. ipython"
### Describe your issue.

I have this problem in regards "autocompletion" of scipy.

When one imports a package, any package, you'd expect to see after the fullstop, a list of functions.

### Attempts to uninstall and reinstall
But no matter what one does:
pip  uninstall scipy --upgrade
**Then either:**
pip install scipy --upgrade
pip install scipy --force-reinstall
pip install --ignore-installed

[2022-04-06 06:27] mdhaber commented on #15944
Please import individual subpackages before trying autocomplete. For details, see[SciPy Organization](https://docs.scipy.org/doc/scipy/tutorial/general.html#scipy-organization).
![image](https://user-images.githubusercontent.com/6570539/161909433-f3b0d053-cab2-4461-b5de-83ca1b042faa.png)

[2022-04-06 06:27] #15944 closed

[2022-04-06 07:05] AnthonyTheKoala commented on #15944
Dear sir,
Thank you for referring me to the document at https://docs.scipy.org/doc/scipy/tutorial/general.html#scipy-organization .

Perhaps I should have expressed the problem more precisely.

I should not have to do the from __scipy import linalg_, optimize_ in order explore the available functions of scipy NOR read the documentation as suggested in your last comment.

(1) Applying the last comm

[2022-04-06 08:24] AnthonyTheKoala commented on #15944
Autocompletion works in Spyder but not in IDLE as demonnstrated before
From Spyder
![image](https://user-images.githubusercontent.com/26536316/161930199-5e36cb0e-ab2d-4cda-891e-ec8247b38c71.png)

Does anybody understand me?

Why isn't it working in IDLE but works in spyder?

Thank you,
Anthony of Sydney

[2022-04-06 08:56] tupui commented on #15146
Thank you @byoung4 for the code snippet. I will close this issue now and interested people can still find this as reference.

The transformation is really simple and easy to do on users side and as we said there are too many things we would need to consider if we added this in SciPy instead. To start with why a log transformation vs any other transformation.

[2022-04-06 08:56] #15146 closed

[2022-04-06 12:22] mdhaber commented on #15944
Please see gh-11774 for one of the other times this was discussed. There is some work towards [lazy importing](https://scientific-python.org/specs/spec-0001/) that would not require importing subpackages (see gh-15320), but for now, importing each subpackage is the recommended way of using SciPy.

@stefanv do I understand that submodule names should show up in every IDE starting in SciPy 1.9.0? Do

[2022-04-06 14:17] AnthonyTheKoala commented on #15944
Dear sirs,
Thank you for your time.
I get autocompletion from MS Visual Studio Code,
![image](https://user-images.githubusercontent.com/26536316/161986680-4bba1f59-b0ec-4727-852f-66e110bee53d.png)

There is no autocompletion in MS VIsual Studio 2022's Python interactive terminal.

Hope that it is helpful for you,

Thank you,
Anthony of Sydney

[2022-04-06 15:39] rkern commented on #15944
IDLE's autocompletion is not as sophisticated as those others. It doesn't try to show unimported subpackages. Different IDEs are implemented differently. That has more to do with the IDEs than `scipy`.

In some ways, it's more correct than the other IDEs. You cannot just `import scipy` and use `scipy.linalg.whatever()`. `scipy.linalg` isn't available until you do `from scipy import linalg` or `imp

[2022-04-06 18:05] rarnaout commented on #15943
Hm, that error message looks the same to me? Did I copy-paste incorrectly?
At any rate, the problem is the one I described: cannot convert NaN to
integer refers to the NaN you get from sqrt of a negative number.

Thanks for taking a look at this, and for the quick reply! I would code the
exact solution myself, but I always seem to find you guys do things more
cleverly than I would (here, a nested

[2022-04-07 00:53] AnthonyTheKoala commented on #15944
Dear rkern,
Thank you for that.
A couple of additional comments which I hope contributes back to the scipy people:
* A few weeks ago, I'm sorry that is vague, in idle one was able to _import scipy_ and  _dir(scipy)_ listing all functions or do a complete autocomplete until now.
* On the "DLL" error, to cut a long story short, that is after research I installed the MKL version of the numpy with mkl

[2022-04-07 03:53] jpdehollain opened #15948 "BUG: Power operator behaviour for sparse arrays"
### Describe your issue.

Currently, applying the `**` operator to a sparse array implements the `numpy.linalg.matrix_power` function. This is not compatible with the `np.array` implementation of `**`, which does element-wise power. This should be fixed as part of the migration from sparse "matrices" to sparse "arrays". Additionally, the `matrix_power` function should then also be included in the

[2022-04-07 07:02] sameervk opened #15949 "BUG:"
### Describe your issue.

Cannot import diag from scipy.linalg

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.22.3 sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

[2022-04-07 07:28] cahitkargi opened #15950 "BUG: operator** behaviour is inconsistent for sparse matrices"
### Describe your issue.

** operator raises a sparse matrix to a power, but it is element-wise power when we use it on .A of the same sparse matrix.
I am not sure this is a bug in numpy or scipy, or if it is intentional.
It at least looks like an inconsistency between numpy arrays and scipy.sparse

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version inf

[2022-04-07 07:40] tupui commented on #15950
Hi @cahitkargi thanks for reporting but it's a duplicate of #15948.

[2022-04-07 07:40] #15950 closed

[2022-04-07 07:47] tupui commented on #15949
Hi @sameervk, thank you for reporting. Why do you expect this to work? There is no `scipy.linalg.diag` in the documentation.

[2022-04-07 07:47] cahitkargi commented on #15948
My duplicate issue (#15950) is closed, but there is a slight difference which might be important for you, so I just want to comment here.
This issue is for sparse arrays, and the same problem occurs also with the sparse matrices (which, I guess, is no longer supported ?)

[code]

[2022-04-07 08:03] sameervk commented on #15949
Ah! when I searched for it (working in jupyter lab), it showed as one of the available functions. Please see attached screenshot.

![image](https://user-images.githubusercontent.com/16178000/162150681-f5f312f6-47a0-4ed8-ba82-753c2f8c225c.png)

[2022-04-07 08:06] tupui commented on #15949
Interesting, I cannot reproduce this on PyCharm.

[2022-04-07 08:09] sameervk commented on #15949
Thank you

[2022-04-07 08:55] arashgmn opened #15951 "Shape indicated wrongly in docs: make_interp_spline"
Shouldn't the shape of `y` be `(...,n)`? The last example suggests so.

https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/interpolate/_bsplines.py#L1101

[2022-04-07 09:02] arashgmn commented on #15951
`axis` arg controls it.

[2022-04-07 09:02] #15951 closed

[2022-04-07 09:49] gideonKogan opened #15952 "ENH: generelize scipy.linalg.lstsq to complex numbers"
### Is your feature request related to a problem? Please describe.

Generalization of the least square solution to complex numbers

[2022-04-07 22:16] v0dro commented on #13999
I cloned @guyer 's repo here https://github.com/v0dro/fipy/tree/slowsplu, and ran the circleCI tests
here: https://app.circleci.com/pipelines/github/v0dro/fipy/1/workflows/0029e844-20ef-435d-965a-309fc1e7c01f/jobs/1/steps

This happens to be the output:
[code]

From this output it seems that the call to `splu()` took about 25s. Is this still a problem? The whole suite in the
TravisCI suite (https:

[2022-04-07 23:38] rossbar commented on #13999
FWIW I've experienced problems with BLAS threading on CircleCI specifically. One solution is to use the `OMP_NUM_THREADS`  environment variable (or e.g. `threadpoolctl` for finer control) to suppress threading, see e.g. numpy/numpy-tutorials#76.

[2022-04-08 03:20] Patol75 commented on #15940
Although on the one hand, I agree that LSODA warnings could be handled better, on the other hand, you should not get any if your IVP problem is sound and well set up (at least, that is my experience with LSODA).

I updated your code to:
[code]
If I run it, the following figure is generated
![Figure_1](https://user-images.githubusercontent.com/23244688/162356268-fec71e52-a97a-4d58-aafa-4c2dd551d162

[2022-04-08 05:51] MohamadHalwani opened #15957 "Transform object has no atttribute '__getitem__'"
I'm trying to compile a python code which has the following
[code]
and I'm getting this issue !
[code]
R is the transform object assigned as follows:
`from scipy.spatial.transform import Rotation as R`

[2022-04-08 08:15] tupui commented on #15957
Hi @MohamadHalwani, thank you for reporting. Please can you update the issue report by following our template? A few things are missing such as the versions numbers and the code snippet is not complete.

[2022-04-08 13:27] AnirudhDagar commented on #15814
As discussed offline, the other job that is to be moved from Azure over to GH Actions is `Linux_Python_38_32bit_full`. I'll send a PR for that soon.

[2022-04-08 15:48] cdboschen opened #15960 "BUG: Documentation Error in scipy.signal.lfilter"
### Describe your issue.

The description of 'filtfilt' in the doc string for scipy.signal.lfilter is incorrect in describing the use of filtfilt for creating linear phase filters. filtfilt creates "zero-phase" filters (which is a subset of linear phase filters).

It currently reads:

    See Also
    --------
    lfiltic : Construct initial conditions for `lfilter`.
    lfilter_zi : Compute initi

[2022-04-08 16:32] laurent90git commented on #15940
@Patol75 is right, your solution is simply diverging in a more-than-exponential fashion. Thus, the time step must be decreased to accurately follow the divergence. And at one point the divergence is so fast that the required time step becomes too low, such that when you perform the operation t(n+1) = t(n)+dt, you get t(n+1)=t(n).
The authors of LSODA have chosen to only issue a warning when that o

[2022-04-08 20:17] thibaut-kobold opened #15961 "BUG: scipy.stats.beta and bernoulli fails with float32 inputs"
### Describe your issue.

Some `scipy.stats` distribution, such as `beta` and `bernoulli` fail to compute statistical values (such as `median`, `var`, etc.) when the input is in a float32 format. The error does not occur with float64 (but we care about memory on our end).

The error varies if the float32 inputs are whole numbers (like `2.` or `3.`), which causes a NaN return, or decimal numbers (l

[2022-04-08 20:30] guyer commented on #13999
Indeed, `OMP_NUM_THREADS=1` makes a smidge of a difference:

[code]

vs.

[code]

Ironically, we were already setting `OMP_NUM_THREADS=1` when we solved with petsc4py and PyTrilinos because we found that OpenMP and MPI fought with each other horribly, but we didn't (used to) do it for serial runs with scipy or PySparse. Since I've migrated everything to Azure, I've been setting `OMP_NUM_THREADS=1`

[2022-04-08 21:00] v0dro commented on #13999
So this is a non-issue then? Can we close this? Seems like a superlu specific problem that needs to be resolved by the user on that system. Alternatively, we can make changes to the code such that it uses only one openMP thread (set the number of openmp threads within the code before calling the function and reset it after the call is done).

[2022-04-08 21:21] rgommers commented on #13999
Thanks for confirming @guyer.

@v0dro yes let's close it. It's not specific to SuperLU, it's a generic issue (or behavior) for every extension that uses OpenBLAS/MKL. OpenBLAS is known to be worse here because it has larger overhead when spawning new threads. Which becomes a real pain on machines with a large number of cores, as is the case here.

[2022-04-08 21:21] #13999 closed

[2022-04-08 21:48] mdhaber commented on #15961
Could you provide more information about your OS? I can't reproduce this; 32-bit works fine on my machine.

[2022-04-09 08:59] Smit-create commented on #15896
I think the following works:
1. Setting up meson build:
[code]
2. Building and Installing with `dev.py`:
[code]
3. Generating lcov
[code]

[2022-04-09 11:18] rgommers opened #15962 "Race condition in macOS Meson build between `_matfuncs_expm` and `cython_lapack.pxd`"
It happens rarely in CI, but I've seen it twice now in the build logs:
- https://github.com/scipy/scipy/runs/5823922422?check_suite_focus=true
- https://github.com/scipy/scipy/runs/5891684256?check_suite_focus=true

Traceback:

[code]

It looks like a dependency for the Cython generator involved here isn't quite correct.

[2022-04-09 11:30] mdhaber commented on #15961
Yes, I can reproduce this:
[code]
macOS High Sierra 10.13.6 (17G14042)

@mckib2 Does this happen on the mini?

[2022-04-09 12:02] #13689 closed

[2022-04-09 14:24] mdhaber commented on #6654
We should apply the decorator here as part of gh-14651. `spearmanr`s interface is different from almost all other reduction functions and it really should be brought in line.

[2022-04-09 14:24] #6654 closed

[2022-04-09 16:25] tgarc opened #15963 "BUG: high istft reconstruction error"
### Describe your issue.

While doing testing I discovered that the reconstruction of a signal via scipy.signal.stft->istft is very high compared to other implementations (e.g. librosa). The below example shows the max absolute error in the reconstruction of a sample signal as -78dB compared to -347dB for librosa and my reference code.

I do get a NOLA warning in the call, but I'm confused as to w

[2022-04-09 19:58] efiring opened #15964 "BUG: lombscargle fails if argument is a view"
### Describe your issue.

Since #13316 was merged (i.e., in the scipy v1.7.x series), signal.lombscargle has failed if a positional argument is a view.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.3 1.21.5 sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

[2022-04-10 05:43] HirotsuguMINOWA opened #15966 "import scipy.optimize calling"
### Describe your issue.

Thank you very much your development of scipy.

If you know solution, please tell me.

The error occurred when just `import scipy.optimize` on pypy where installed scipy etc.

[code]

The pypy was installed based on official pypy docker image.

Env:
- MacOS: catalina
- Docker: 4.7.0 (77141)
- PyPy 7.3.9, 7.3.8 (both)
- pybind11                      2.9.2

### Reproducing

[2022-04-10 07:05] mdhaber commented on #11026
I think `support` is the most reliable way to get the minimum. At some point we changed it so that it works as expected for frozen distributions, too.

Suppose `dist` is a frozen distribution and `a, b = dist.support()`. For all discrete distributions, the 100% confidence interval will be `a-1, b`. This is because `interval` is implemented (reasonably, I think) as `ppf(p_tail, 1-p_tail)`, where `p

[2022-04-10 07:13] mdhaber commented on #10328
@tirthasheshpatel I think you were trying to make the documentation of distributions more specific, right @tirthasheshpatel? How did it go?

[2022-04-10 08:54] tupui commented on #15964
@serge-sans-paille is this expected? I can see from the doc a note about deep copying. Could this be conflicting with the view here?

[2022-04-10 11:37] #3758 closed

[2022-04-10 14:17] kutal10 commented on #15948
@perimosocordiae Could this please be assigned to me? Happy to take a look - looks like it'll also need tests added to make sure the overrides work

[2022-04-10 15:27] mdhaber commented on #8057
When `rv_sample` is made public, it would be good to tweak the logic that detects whether an argument is within the support or not. As discussed in gh-15932,
floating point errors make exact equality comparison too unreliable when, say, `loc != 0`.

[2022-04-10 17:48] mdhaber commented on #11782
Improved `fit` has been requested for `genextreme`, too (gh-10446). Since it generalizes gumbel, weibull, and invweibull, perhaps we can use the progress toward fitting those to fit `genextreme`.

[2022-04-10 17:51] mdhaber commented on #10446
This is being tracked in gh-11782, so I'll go ahead and close this one. In the meantime, another option is [`scipy.stats.fit`](http://scipy.github.io/devdocs/reference/generated/scipy.stats.fit.html#scipy.stats.fit), which will be available in SciPy 1.9.0. Two features that may help here:
* it allows (currently requires, actually) the user to specify bounds for parameters, so you can use this to h

[2022-04-10 17:51] #10446 closed

[2022-04-10 19:53] v0dro commented on #11400
I tested with the current main branch on macOS and could not reproduce this failure. I'll try on a CentOS virtual machine now.

[2022-04-10 20:34] v0dro commented on #15199
I have confirmed that this fails on macOS.

I can take up this issue. Please assign me to it.

[2022-04-10 23:48] mdhaber commented on #15199
In general, there's no need for assignments - just feel free to submit a PR. Thanks!

[2022-04-10 23:48] scottshambaugh commented on #15883
I just ran into this issue today as well, thanks for putting together a PR!

[2022-04-11 00:16] mdhaber commented on #7540
This appears to have been fixed in gh-9953; this issue just wasn't referenced.

Now:
![image](https://user-images.githubusercontent.com/6570539/162645766-b5b54c4f-d046-45e0-9799-58c0647d318d.png)

For chi-squared:
![image](https://user-images.githubusercontent.com/6570539/162645886-b3c7ab3d-7977-4c31-a597-553a8335cb8b.png)
![image](https://user-images.githubusercontent.com/6570539/162646002-c15877

[2022-04-11 00:16] #7540 closed

[2022-04-11 00:45] mdhaber commented on #15509
@IgnacioHeredia Here is the relevant section of code:
https://github.com/scipy/scipy/blob/5f4ba674f3e3d2991c22aff8892f74c9c8d4e886/scipy/stats/_multivariate.py#L464-L466

- `maha` is what you write as `residuals.T.dot(inv).dot(residuals)`.
- `log_det_cov` is what you call `log_det`.
- `rank * _LOG_2PI` corresponds with your `k * np.log(2 * np.pi)`.

In your example, only the last of these is diffe

[2022-04-11 00:46] perimosocordiae commented on #15948
Go for it! Please tag me when your PR is ready to review.

[2022-04-11 03:35] mdhaber commented on #15883
@scottshambaugh thanks for posting. Do you have any insight about gh-15892? We were about to merge that, but the original reference does not support the change. Do you know of a reference that would?

[2022-04-11 03:43] scottshambaugh commented on #15883
@mdhaber unfortunately not, I'm no expert on bootstrapping.

[2022-04-11 08:28] mattip commented on #15121
Maybe related to #15444 and other PRs to refactor the Studentized range PDF

[2022-04-11 09:34] rgommers commented on #11400
This doesn't crash for me on an M1 Mac, but it still does on 64-bit Arch Linux. @v0dro any Linux distro should work here to reproduce the issue I think, no need for CentOS specifically.

[2022-04-11 10:15] IgnacioHeredia commented on #15509
Hi @mdhaber, thanks for taking a look!

The Wikipedia page from where I took the [logpdf formula](https://en.wikipedia.org/wiki/Multivariate_normal_distribution#Likelihood_function) says that `k` is the [dimension of the mean vector](https://en.wikipedia.org/wiki/Multivariate_normal_distribution#Notation_and_parametrization) (as in my original implementation). In the non-singular case, this is the

[2022-04-11 11:26] zhaog6 commented on #15238
Dear @TiantianUpup , Yes. Currently, SciPy only supports Cholesky factorization (through `potrf` in LAPACK), and the incomplete Cholesky algorithm needs to be implemented. Do you want to use conjugate gradient method with IC preconditioning for sparse system in your case? Or if your case is a dense matrix, do you have to use IC factorization？

[2022-04-11 11:47] TiantianUpup commented on #15238
@zhaog6 I used ILU factorization instead of  IC factorization in a dense matrix,and get good result in  numerical experiment.I reference [this](https://en.wikipedia.org/wiki/Incomplete_Cholesky_factorization) to implement  incomplete Cholesky in python,but it not stable enough

[2022-04-11 12:18] h-vetinari commented on #15755
Looking more closely at the discussion in #4675, it appears that actually `lsim` had been rewritten and is supposed to replace `lsim2`, despite the name inversion, and despite `lsim2` supporting non-uniform timestamps (this part was [discussed](https://github.com/scipy/scipy/pull/4675#issuecomment-92075425) as well, including a [post](https://github.com/scipy/scipy/pull/4675#issuecomment-92075425)

[2022-04-11 12:23] jnehring opened #15969 "wilcoxon produces different results with same code"
### Describe your issue.

My colleague and me run the same code for scipys wilcoxon signed rank test and we got different results.

Setup a: Ubuntu Linux with scipy version 1.4.1 produces a p value of 0.04088813291185591

Setup b: Windows 10 with scipy version 1.7.1 produces a p value of 0.041259765625

We would expect the same results from the same code.

### Reproducing Code Example

[code]

###

[2022-04-11 14:16] mdhaber commented on #15969
The important difference is the different version of SciPy.
In `main`:
[code]
Reading the documentation of 1.4, I would have expected it to be producing an exact p-value, too, but it appears to be producing an approximate p-value (using a normal approximation). 1.7 is producing the exact p-value.

[2022-04-11 14:16] #15969 closed

[2022-04-11 14:29] mdhaber commented on #15509
Yes, but also:
<img width="376" alt="image" src="https://user-images.githubusercontent.com/6570539/162760723-743b3174-cb88-46e4-b462-5815f5f6616a.png">

which makes me wonder if they just weren't considering the singular case when they first define _k_.

[2022-04-11 14:41] matthew-brett commented on #15962
Aha - yes - I specified that file depended on the local `__init__.py` file, but it also depends on the generated Cython lapack etc files - I think the correct fix is in #15970

[2022-04-11 14:56] mdhaber commented on #15121
@DominicChm IIRC you were going to track (on PyPy + Windows) the points at which the integrator was evaluating the integrand and the corresponding values of the integrand, then check (on a separate platform )whether those values of the integrand were accurate. That would help us see whether the problem is the integrand or whether the integrand is exposing a problem with the integrator. How did tha

[2022-04-11 15:51] mgreenbe opened #15971 "BUG: VisibleDeprecationWarning in linprog"
### Describe your issue.

A mundane call to `scipy.optimize.linprog` raises a `VisibleDeprecationWarning`.

[Colab link](https://colab.research.google.com/drive/1pvusAs79WtKycw0PBAmKJUEp6F2aDUR2?usp=sharing) to code reproducing the issues.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.4.1 1.21.5 sys.version_info(major=3, minor=7, mi

[2022-04-11 16:23] #15962 closed

[2022-04-11 16:24] mdhaber commented on #15509
I think SciPy is right because then the `multivariate_normal` pdf agrees with a scalar PDF:
[code]

[2022-04-11 16:24] #15509 closed

[2022-04-11 16:29] mgreenbe commented on #15971
Seems to be an artifact of Colab's preinstalled version (1.4.1) being behind the current release. Once I pip installed version 1.7.3, the warning disappeared, both with `method="simplex"` and `method="highs"`.

[2022-04-11 18:09] KOLANICH opened #15974 "ENH: Kullback-Leibler divergence and crossentropy for continious distributions and their derivatives and hessians"
### Is your feature request related to a problem? Please describe.

Let we have an approximation to PDF provided pointwise. We want to fit distribution to that PDF. One of the ways is to minimize KL-divergence or equivalently, crossentropy.

### Describe the solution you'd like.

`rv_continious().crossentropy(x)`
`rv_continious().KL_divergence(x)`

where `x` can be either an array representing PDF

[2022-04-11 18:11] thibaut-kobold commented on #15961
thanks for the hep. I am on MacOS Monterey 12.3.1 (21E258), but running the code in a docker container.

[2022-04-11 18:33] KOLANICH opened #15976 "ENH: Implement a function computing a mesh for a function"
### Is your feature request related to a problem? Please describe.

Wide range of problems can benefit from non-uniform meshes:
1. function approximation by storing points
2. differential equation solution using a method of finite differences
3. kernel density estimation using different bandwidth for each point
4. histograms with nonuniform bins

### Describe the solution you'd like.

1. The funct

[2022-04-11 18:41] KOLANICH opened #15977 "ENH: Generate histogram bins from distribution"
### Is your feature request related to a problem? Please describe.

If we have fit a distribution to data, for visualization purposes we may want to plot a histogram. Making a histogram with uniform bins is not very rational if we want it to approximate PDF. So if we assumme that the hist is an approximation of the PDF of the dist, we can compute bins from it.

### Describe the solution you'd like

[2022-04-11 18:43] KOLANICH commented on #15677
https://github.com/KOLANICH-libs/StatsUtils.py/blob/master/StatsUtils/dists/MultivariateGaussian.py

[2022-04-11 18:52] rkern commented on #15977
FWIW, I think this would be an overly-optimistic procedure that will paper over discrepancies between the fitted distribution and the data. Personally, I'd want a more pessimistic visualization to highlight discrepancies between the data and the distribution. I think the standard tools in, say, `seaborn` (KDE plots, rug plots, and yes, uniformly-binned histograms) are quite reasonable and standard

[2022-04-11 18:54] rkern commented on #15976
Do you have references in the literature for this procedure?

[2022-04-11 19:11] mdhaber commented on #15677
@rkern @chrisb83 @tirthasheshpatel @tupui Anyone want to champion this issue on the mailing list for @KOLANICH? Otherwise, I'd suggest we close this in one month, the default decision being that it's not obviously in SciPy's scope.

[2022-04-11 19:41] rkern commented on #15677
I don't think it's really in-scope, no. It's not unreasonable to want to compute these things, but it requires certain assumptions about what the user wants to see that make this better implemented in user's own code, outside of scipy.

[2022-04-11 20:05] tupui commented on #15677
Isn't it already what `ppf` can be used for?

[2022-04-11 20:07] mdhaber commented on #15677
Yes, but this is for multivariate distributions, which don't all have PPF.

[2022-04-11 20:13] tupui commented on #15677
Yes ok, then I could see a feature request to compute `ppf` on multivariate distributions if it's lacking somewhere. But nothing more.

[2022-04-11 20:24] KOLANICH commented on #15976
No, but the method is so obvious that I strongly suspect that I have reinvented a wheel. It'd be nice if someone remembered its name.

[2022-04-11 20:36] mdhaber commented on #15677
Actually, I don't think `ppf` alone solves the problem. There are a few different notions of `ppf` for multivariate distributions, and I'm not sure if any of them would solve the bounding box problem.

[2022-04-11 20:56] tupui commented on #15677
Ok I did not realise it was more complicated than "ppf of the marginals". The way you describe it sounds more like a research topic, hence on the off topic side. I never had to look into these so I don't know more like that.

[2022-04-11 20:59] rkern commented on #15976
A literature reference is less about proving that someone has done it before than to see an exploration of the merits of the procedure against each of these use case, comparing against alternatives and showing the tradeoffs for the different tuning parameters involved. I don't know of any theory that connects histogram binning to adaptive gridding for finite differencing (though it's possible ther

[2022-04-11 21:04] mdhaber commented on #15677
I think "PPF of the marginals" would correspond with this rectangular PPF idea where all the coordinates except the one you're interested in are infinity. I suppose you could use that to get a reasonable bounding box.

[2022-04-11 22:33] KOLANICH commented on #15976
`hist` is just a file name because for now I use this method only for hists within that lib, because it is calles `StatsUtils`. I have not modularized the methkd yet into an another lib.

The idea is that if we have a function `f` being approximated (all of the mentioned applications can be considered a numerical approximation of some function `f`), an interval `[x_i; x_{i+1}]`, and `Y_i = f(X_i)`

[2022-04-11 23:10] KOLANICH commented on #15677
OK, let's try to formalize what we want.

1. We want a ROI (region of interest) containing the certain probability `\int_ROI f(X) dX = 1 - α`.
2. We want this ROI do be as "dense" as possible. `ROI = argmax_ROI \int_ROI f(X) dX / \int_ROI dX`
3. We want the hypersurface bounding the ROI be a convex curve, so we can put it into a bounding box.
4. Do we need the hypersurface bounding the ROI be a su

[2022-04-11 23:13] rkern commented on #15976
I mentioned histogram binning and gridding for finite differencing because you explicitly listed those two as use cases.

The main problem with following up on this suggestion is what it means to "differentiate" and "integrate" which "function"s. We don't have symbolic or autodiff facilities in scipy, so at some point someone has to either simply provide them (as in your use of this in gh-15977 fo

[2022-04-11 23:48] KOLANICH commented on #15976
I guess it is this case. At least I currently use arrays of differences as the derivatives.

It's true that it's not immediately clear what the formula must be in that case and it needs more research.

OK. My use case was to make cool-looking histograms under plots of PDFs of fitted distributions, no serious requirements, just to have cool-looking pics where it is seen whether hists (well, I could

[2022-04-11 23:48] #15976 closed

[2022-04-12 00:24] mdhaber commented on #15976
@KOLANICH The new `fit` function returns an object with a `plot` method that currently produces a plot like this for a discrete distribution:
![image](https://user-images.githubusercontent.com/6570539/162853955-5151f2e2-22c7-4db6-a59d-e996013e22eb.png)

Do you think your idea could improve this sort of plot?

[2022-04-12 00:37] rkern commented on #15677
I stand by my comment. It's not unreasonable to want to compute such things, but I think it's best for it to be done outside of `scipy`.

[2022-04-12 01:15] h-vetinari commented on #11026
I agree with many of the comments above that this is surprising and not ideal - why `-1` and not `-0.5`, `-10`, `-inf`, etc.? TBH, I don't see the reason to subtract anything from the lower bound of support for `ppf(0)`.

Unfortunately this has existed almost since the dawn of time - I went 20 years back the git history, and even before the stats module was [changed](https://github.com/scipy/scipy

[2022-04-12 01:52] zhaog6 commented on #15238
@TiantianUpup What problem do you want to solve and what is the matrix scale in your case?
The reference code is only a direct implementation of incomplete cholesky factorization. No techniques to ensure stability were introduced in this code, such as Manteuffel shift etc, and it doesn't seem to apply to dense matrices.
Refer to the following to see if there is any breakthrough:
[AN INCOMPLETE CHO

[2022-04-12 02:56] mdhaber commented on #11026
Please see rationale for our `ppf(0)` behavior in gh-15967.

[2022-04-12 04:37] zhaog6 commented on #15238
For some SPD problems, IC preconditioner is preferred, for other problems ILU will be preferred. But if your the element of matrix is random in [-1, 1], it is more robust using ILU preconditioner and the efficiency difference of IC and ILU  is very small.

Yes, it is an appropriate choice to use SuperLU for ILU factorization.

[2022-04-12 06:31] lorentzenchr opened #15979 "ENH: add SVD update/insert"
### Is your feature request related to a problem? Please describe.

Say you have a thin/ergonomic SVD for a matrix `X = U @ S @ Vt` and you do OLS/least squares.
Now you want to add a further feature/column to `X` or a further data row, then it would be very convenient to use the old SVD and just update it with the new column/row for `X`.

This is basically the same what's already possible with a

[2022-04-12 06:38] hadamard-zweistein opened #15980 "BUG: signal.lfilter sometimes works with complex coefficients and sometimes not"
### Describe your issue.

lfilter sometimes works with complex coefficients and sometimes not. In one example (a version of Goertzel alogrithm), the lfilter from signal computed with complex numbers.

In a further modified version, lfilter ignored the imaginary parts of the complex coefficients.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version inform

[2022-04-12 08:19] KOLANICH commented on #15976
It's cool to have this. For discrete distributions hist bins matching the values look OK. For continious distributions I'm not sure that hists are the best way to represent them, a PDF got via KDE can be more informative. But hists are familiar to everyone, so probably still should be used in addition. If I understand right, currently it uses a black-box optimizer for each distribution, even if ML

[2022-04-12 10:32] rgommers commented on #15896
Works with `runtests.py`:
[code]

[2022-04-12 10:42] TiantianUpup commented on #15238
@zhaog6 How do I understand robustness,does it means more stable?

[2022-04-12 10:47] tirthasheshpatel commented on #10328
I was able to link each method's docs of each distribution to a distribution-specific page. Here it is: tirthasheshpatel/scipy#14. Thankfully, we don't need to write an extension from scratch; we can use the autosummary templating mechanism.

We need to write docs for each distribution's methods for the change to be useful, otherwise, compared to the previous documentation, we no longer document t

[2022-04-12 10:53] rgommers commented on #15896
`python runtests.py --lcov-html` works as well, as noted on gh-15968:

<img width="787" alt="image" src="https://user-images.githubusercontent.com/98330/162944326-7d01c6c3-afa5-4c0c-aac1-58d4eb7f722a.png">

Unclear if the results are correct, test coverage seems incomplete. I only had a brief look, but this should be a start to be able to fix things up.

[2022-04-12 10:57] rgommers commented on #15896
See also this short blog post for some explanation: https://emptysqua.re/blog/code-coverage-python-c-extensions/

[2022-04-12 13:24] mdhaber commented on #10328
Awesome! Want me to look into that a bit? I'll submit a PR to your branch.

[2022-04-12 13:59] tirthasheshpatel commented on #10328
Sure!

[2022-04-12 14:20] jjramsey commented on #14589
I think I've found a solution. On line 900 of `scipy/optimize/_shgo.py`, change
[code]
to
[code]
What's happening is that since `self.func` already contains the contents of `self.args`, when `Complex` is constructed, it effectively includes `self.args` *twice*, so when it calls the objective function, it effectively calls it as `func(x, *(args+args))`.

Unfortunately, an alternative like setting `

[2022-04-12 14:26] tupui commented on #14589
There are large development in progress changing the whole architecture of `shgo`. We will keep these in mind.

[2022-04-12 14:49] tupui commented on #15974
Hi @KOLANICH, thank you for reporting. I am not sure I understand what you are proposing. We have some statistical distances and to me your proposal reads as adding 2 more. Correct?

[2022-04-12 15:02] jjramsey commented on #14589
Understood, but bear in mind that this bug is not only almost a year old, but breaks some very basic documented functionality. A minimal fix now will provide an indicator to those making large changes of what should or shouldn't be done with function arguments, while solving a problem facing end users of SHGO now.

[2022-04-12 15:03] tupui commented on #15980
Hi @hadamard-zweistein, thank you for reporting but this is not an issue with SciPy but with the code you have before even calling `lfilter`.

Just run this part of your example and you will get your error
[code]

I will close this for now.

[2022-04-12 15:03] #15980 closed

[2022-04-12 15:07] tupui commented on #14589
The large developments are happening here #14013

[2022-04-12 15:14] ilayn commented on #15979
The key to Brand's paper is the "thin" part. Otherwise his equation (1) is the proper update mechanism.

To my knowledge there is no production-grade precedence or successful implementation of dense SVD updates. This update stuff often comes in the context of fixed rank problems but again I am far from claiming any exhaustive literature knowledge. For dense compute, I don't know if this solution w

[2022-04-12 15:33] mdhaber commented on #15974
The suggestion is to add them as methods of distributions, right? This would be different from the functions, which act on two samples. Here, one (or both) of the samples would be replaced with a distribution.

[2022-04-12 15:40] tupui commented on #15974
Oh if it's really about adding this to the interface of `rv_continuous` then I am -1.

[2022-04-12 15:48] tupui commented on #15974
For the continuous vs discrete computation, is this really useful in practice?

[2022-04-12 16:07] #15977 closed

[2022-04-12 16:13] mdhaber commented on #15974
I don't actually _use_ SciPy much, but actually this is something I would have used in a study before. I wanted some notion of KL divergence between a distribution and a sample.

[2022-04-12 16:51] tupui commented on #15974
When I had to do this, I was just using a KDE to work things out. See `moment_independent` in https://github.com/tupui/batman/blob/master/batman/visualization/density.py (old code be kind 😉)

[2022-04-12 17:55] rkern commented on #15974
Yeah, when people compute KL divergence between a notional parametric distribution and "some data", there is a middle step of density estimation, then you can numerically integrate the density estimate with the parametric distribution. You can do that density estimate in any number of ways, but some will be more convenient for the numerical integration in addition to the set of choices one needs t

[2022-04-12 18:00] jjramsey commented on #14589
Looks like the pull request for those large developments has been stalled since Jul 26, 2021, apparently due to some automatic tests failing for some unclear reason. Any way to rerun the tests to see if the failure was a fluke (or perhaps some fault in the Azure pipelines)?

[2022-04-12 19:33] lorentzenchr commented on #15979
@tupui @ilayn Thanks for your prompt replies and thoughts.

I still think, those update functions for a **thin** SVD would be very useful - about as useful as the ones for QR which are already in scipy. Therefore, I find them a perfect fit for `scipy.linalg` and not `scipy.sparse.linalg`. One could also call then `thin_svd_update` and so on.

For rank-one updates, I really would like to avoid call

[2022-04-13 02:54] zhaog6 commented on #15238
Compared with IC+CG, ILU+CG is more likely to successfully converge in some extreme SPD examples (it can be applied to more problems).

[2022-04-13 03:17] mdhaber commented on #5286
[Those issues](https://github.com/scipy/scipy/issues/5286#issuecomment-1068773655) were somewhat distinct, but both received responses that explained what was happening and why it was reasonable. There were no clear bugs or steps for improvement, so I think it was safe to close them.

While working on gh-15509, I noticed the behavior reported in this issue.

[2022-04-13 03:34] mdhaber commented on #5286
This sequence of plots illustrates the issue.  `stdx` and `stdy` are the nonzero elements of a diagonal covariance matrix.

<img width="464" alt="image" src="https://user-images.githubusercontent.com/6570539/163094428-8351d646-895b-4349-9f60-2848b9d62c2c.png">
<img width="460" alt="image" src="https://user-images.githubusercontent.com/6570539/163094518-0bc9ba4e-6968-4179-87ec-fa6e4096943b.png">
<i

[2022-04-13 03:52] mdhaber commented on #14095
@DominicChm would you post your findings here? IIRC, we tested with the normal distribution, and peak memory usage was ~8x higher than that required to hold the input of the `pdf` method, `x`. Since the calculations are not performed in-place, this was reasonable considering the number of intermediate results that are generated while performing the calculations, right? If the calculations _were_ p

[2022-04-13 06:01] mdhaber commented on #5286
A survey of multivariate normal with singular covariance matrix in other software.

Matlab doesn't allow it (see [here](https://www.mathworks.com/help/stats/mvnpdf.html))
<img width="937" alt="image" src="https://user-images.githubusercontent.com/6570539/163109367-87d7d7c6-1a47-4c40-bb78-778aed6b6d4c.png">

Mathematica doesn't allow it:
<img width="546" alt="image" src="https://user-images.githubu

[2022-04-13 06:09] mdhaber commented on #6006
@ev-br I think this can be considered a bug. I think it's better to just fix it now with a message in the release notes than to let the bug persist for another six years : ) Still think we need a deprecation cycle or shall we just go for it?

[2022-04-13 06:17] hadamard-zweistein commented on #15980
@tupui , perfect! Thank you

[2022-04-13 07:04] tupui commented on #15979
From what I know it should be better to center the data, then in your application you just shift back when needed. But maybe this is ok for my application and not yours (regression in high dimensions: PCA and interpolation on the modes). The method in sklearn is able to work on a single sample too (but yes slower to add less than 10 samples with this method than using the update you propose).

[2022-04-13 07:17] tupui commented on #14589
@jjramsey the PR is not staled due to failing tests but it's conditioned to maintainers time to work on SciPy. Most of us are volunteers and don't have much time to work on SciPy.

[2022-04-13 11:06] max3-2 opened #15984 "ENH: Reverse engineer MATLAB datetime format"
### Is your feature request related to a problem? Please describe.

Loading `*mat` files which contain matlab datetime objects produce unreadable results for that type of data.

### Describe the solution you'd like.

Enabling a method to parse the datetime class from Matlab to a readable format

### Describe alternatives you've considered.

Converting in matlab to string or timestamp does work but

[2022-04-13 11:41] IgnacioHeredia commented on #5286
Hi @mdhaber, I don't have a clear intuition on how it should work, because I was just only recently involved with this topic tangentially, nor have I a strong statistics background. Therefore, take my opinion with a grain of salt.

The last plot you showed appears to be indeed quite counter-intuitive. I was waiting for some kind of Dirac-delta function appearing in the `y` axis (that is, a `NaN` f

[2022-04-13 11:42] IgnacioHeredia commented on #5286
In the case of the `mvnorm` [package](https://www.rdocumentation.org/packages/mvtnorm/versions/1.1-3/topics/Mvnorm) in R, I was having the issue when computing the logpdf in huge arrays. I'm suspecting my issue was somewhat more connected to numerial precision (as [discussed above](https://github.com/scipy/scipy/issues/5286#issuecomment-143090548)).
To come back to the current issue, the output of

[2022-04-13 15:09] melissawm opened #15985 "ENH, DOC: Add section explaining why and when to use a custom BLAS to build SciPy"
### Is your feature request related to a problem? Please describe.

See https://github.com/scipy/scipy/pull/15947#discussion_r849163545

We have an FAQ item describing how to use a custom BLAS to build on Linux, but no explanation about why this is needed.

### Describe the solution you'd like.

Add an FAQ item or page on the contributing guide to explain this.

### Describe alternatives you've co

[2022-04-13 19:17] vollbier commented on #15963
I studied your example a little bit and found two issues:

- The window `w` was given as parameter for `scipy.istft()` but not for `scipy.stft()`. That results in Hann windows of different length.
- Setting the parameter `padding=None` gives problems at the end, since the last slices are missing. This is also the reason for the NOLA warning.

Fixing that delivers the expected accuracy. I modified

[2022-04-13 19:52] tjgarcia-mchp commented on #15963
Thanks for looking at this, obviously it was the missing window parameter that made for the bad results. Everything looks good now.

[2022-04-13 19:53] tgarc commented on #15963
Thanks for looking at this, obviously it was the missing window parameter that made for the bad results. Everything looks good now.

[2022-04-13 21:26] tupui opened #15987 "CI: `np.matrix` deprecation warning"
`np.kron` is now (appeared in the NumPy pre-released job) raising a deprecation warning because we are using a matrix in `::TestSparseFunctions::test_scale_rows_and_cols`

(`np.array(*args, **kwargs).view(np.matrix)`). This is from `from scipy.sparse._sputils import matrix`.

[code]

See for instance: https://github.com/scipy/scipy/runs/5999820014?check_suite_focus=true

[2022-04-14 09:12] h-vetinari opened #15988 "DEP: remove deprecated gilbrat distribution"
Follow-up to https://github.com/scipy/scipy/pull/15911 / https://github.com/scipy/scipy/pull/15934

[2022-04-14 09:53] tupui commented on #15987
@rossbar, I think changes are due to this PR https://github.com/numpy/numpy/pull/21262

[2022-04-14 13:13] gideonKogan opened #15989 "ENH: Cyclic spectral coherence"
### Is your feature request related to a problem? Please describe.

analysis of cyclostationary signals

### Describe the solution you'd like.

similar to #15519 replace the cross-spectrum with the cross coherence. It should be a one-liner modification

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-04-14 13:41] #15488 closed

[2022-04-14 14:07] rgutzen opened #15990 "BUG: systematic error in integrate.quad for integration of tails of distributions"
### Describe your issue.

When integrating over the tail of a narrow distribution, e.g. a normal distribution with scale=0.0005, from x to an either finite or infinite integration limit a systematic error occurs between the result of integrate.quad and the true value (determined by the error function). In this example, the shift occurs for x > 0.001. For other values for the scale or the upper int

[2022-04-14 17:55] rossbar commented on #15987
Yup that's the culprit - fortunately I think this can be fixed with a few relatively straightforward changes to the affected test. I will push up my suggestion as soon as the tests finish locally.

[2022-04-14 21:01] #15987 closed

[2022-04-15 00:55] connorguy commented on #14587
In case someone runs into this and it isn't the m1 build issue, but related to using poetry to manage your packages.
RE: https://github.com/python-poetry/poetry/issues/3894#issuecomment-1028859479

[2022-04-15 13:04] tupui commented on #14101
Seems like there is nothing to do here. Closing.

[2022-04-15 13:04] #14101 closed

[2022-04-15 13:15] tupui commented on #15990
Hi @rgutzen, thank you for reporting. It's the same issue as before: precision.

[code]

I don't think we can do much here.

[2022-04-15 13:48] mdhaber commented on #15792
@derbuihan thanks for your patience. I do think `dblquad` can handle infinite limits of integration. (I'm not sure about other improper integrals... it doesn't accept `points` like `quad` does.) Are you still interested in writing unit tests and examples? I would review it.

[2022-04-15 14:02] WarrenWeckesser commented on #15990
You are computing the survival function (also known as the complementary CDF) of the normal distribution, so instead of using `quad`, you can call the `sf()` method of `scipy.stats.norm`.  But let's suppose you have other reasons for using `quad`--maybe this is just a simplified example of a more complicated problem.

`quad` can handle this, but you have to adjust the error tolerances with the par

[2022-04-15 14:22] tupui commented on #15990
Thank you @WarrenWeckesser for the precisions. Well this reads like user support and not a bug. At most we can clarify something in the doc. Let's close this for now then.

[2022-04-15 14:22] #15990 closed

[2022-04-15 14:34] mdhaber commented on #15613
Thanks for your patience. Yes, I think it sounds valuable and I think I've wanted that sort of thing before. Seems like this could help integrate in deep tails of distributions. Would it make sense to make it an argument of existing quadrature functions?

[2022-04-15 15:27] mdhaber commented on #15212
I'd suggest that we treat this with a documentation adjustment indicating that behavior for divergent integrals is not guaranteed.

[2022-04-15 16:27] mdhaber commented on #3325
For `quad`, it seems reasonable to accept array_like limits of integration `a` and `b` for user convenience. Initially, I would not attempt to be fancy and break up the integral into pieces and combine them; I would simply loop or use `np.vectorize`.

[2022-04-15 17:31] rgutzen commented on #15990
Thank you @tupui and @WarrenWeckesser for the explanation to adjust the error tolerances.

Just to note, that it is not just a precision issue as the deviation occurs already for e.g. `x=0.0015` where
[code]

[2022-04-15 17:32] vollbier commented on #14903
Hi, for reference, I looked into the variation of the parameters: The test signal is a 10 second single cosine with amplitude 10 V. Hence its energy is 500 V²s and its power is 50 V².

The table shows the STFT's  maximum and its spectral power depending on the input parameters:
[code]
Probably only those combinations, where either the power (50 V²) or the amplitude (5 V) for a given frequency can

[2022-04-16 00:07] WarrenWeckesser commented on #15990
@rgutzen, I'm not sure what your last example is supposed to demonstrate.  That is the correct value of the PDF.

[2022-04-16 06:37] mdhaber commented on #9871
This seems to be a duplicate of gh-5618. Let's track this over there.

[2022-04-16 06:37] #9871 closed

[2022-04-16 06:39] mdhaber commented on #5618
gh-9871 suggested a combination of the 1/3 and 3/8 rules, so I thought I'd bring that idea over here. I haven't looked into its merits.

[2022-04-16 09:46] rgutzen commented on #15990
Sorry for the confusion. This was just in response to the example of @tupui, using a larger value for `x`.

[2022-04-16 14:59] asmijafar20 commented on #15948
Hey! Is this issue still up? I would like to take it. Thanks.

[2022-04-16 15:05] asmijafar20 commented on #15814
Hey. I would like to work on this issue. I was experienced with CI/CD pipelines as I implemented the CI/CD pipelines throughout the Moja Global community during my Outreachy internship. If this issue is still up, I would like to take it and want to know more about it and discuss it further. Thanks!

[2022-04-16 15:20] AnirudhDagar commented on #15814
Hi @asmijafar20, @tupui already finished one of the CI job moves. I've finished the other one. Just need to fix a small thing and raise the PR. Feel free to pick-up other CI issues which are also interesting. You might be interested in the follow-ups that will be made after #15959. Overall #15489 might also be something that interests you. :))

[2022-04-16 15:28] mdhaber commented on #14176
On the other hand, there have been other requests for `solve_ivp` to get a callback interface. Could the user set `terminal` to `False` and count occurrences in the callback, then use the callback to terminate when desired? This would be more flexible, and it gives even more reason to add a callback.

[2022-04-16 15:47] tupui commented on #15814
@asmijafar20
Before starting anything,I would still suggest you detail your plan here. We don't have this public yet, but there is a state we would want to move towards.

[2022-04-16 16:31] asmijafar20 commented on #15814
Sure.

[2022-04-16 16:32] mdhaber opened #15994 "ENH: how to treat single value `args` when a sequence is expected?"
gh-14138 reported [this](https://stackoverflow.com/questions/53262552/cant-integrate-with-dblquad) stack overflow issue in which a user attempted to pass a single value into the `args` argument of `dblquad`
[code]
instead of a tuple with one element
[code]
and got an error message they didn't understand.

For better or worse, `args` is all over SciPy, so what should we do in these cases? A few sug

[2022-04-16 19:12] KOLANICH commented on #15863
I'm sorry, but I don't want to subscribe the mailing list. Could anyone do it for me?

[2022-04-16 19:30] mdhaber commented on #6882
@rgommers I've tested this on Windows with Anaconda Python and I get the correct result. Can we close this or is something else needed?

[2022-04-16 19:45] mdhaber commented on #9899
The conclusion here seems to be that RK45 automatic step size selection is not perfect. It's been about two years since the last post, so I don't think the step size of RK45 is going to be fixed ASAP, especially since it sounds like a pretty thorough review of the code was unable to find a problem, and what is being asked for is research to improve the suggestions of the Dormand-Prince paper. I'd

[2022-04-16 19:45] #9899 closed

[2022-04-16 19:46] mdhaber commented on #9822
When there's a PR for this, it would be great to see whether it resolves the problem reported in gh-9899.

[2022-04-17 05:09] roryyorke commented on #15904
Both `numpy.correlate` and `scipy.signal.correlate` define their correlation with conjugation of the second operand (or argument); from `numpy.correlate`, for example:

[code]

The definitions I found ([Wikipedia](https://en.wikipedia.org/wiki/Cross-correlation), [dsprelated.com](https://www.dsprelated.com/freebooks/mdft/Correlation.html#sec:correlation) have conjugation on the *first* operand.  T

[2022-04-17 13:57] mdhaber commented on #10821
@thomasjpfan would you be willing to submit the same fix as in scikit-learn/scikit-learn#20653 over here? Thanks for considering it!

[2022-04-17 14:08] rgommers commented on #6882
@mdhaber with the Intel Fortran compiler?

[2022-04-17 14:32] mdhaber commented on #6882
Nope, my mistake.

[2022-04-17 15:40] rgommers opened #15996 "Symbol hiding when using GNU linker in the Meson build should be implemented"
We're using a `build_ext` override in `setup.py` to insert a linker script that does symbol hiding for Python extension modules with GCC on Linux: https://github.com/scipy/scipy/blob/main/setup.py#L166-L206. See gh-8463 for why.

The script `tools/check_pyext_symbol_hiding.sh` is run in CI on Azure (see below CI config snippet), but not in combination with a Meson build yet:
[code]
I just ran it l

[2022-04-17 16:35] mdhaber commented on #15863
Closing as a duplicate of gh-9321.

[2022-04-17 16:35] #15863 closed

[2022-04-17 16:52] ev-br commented on #6882
gh-15997 provides a mechanical fix. Would be nice to check with ifort whether that patch actually fixes the problem. Which I sadly cannot do ATM, so would be great if somebody can.

[2022-04-17 18:04] thomasjpfan commented on #10821
It was likely because scikit-learn supported an older minimum SciPy dependency that did not have yeojohnson.

I opened https://github.com/scipy/scipy/pull/15998 to try to fix the issue in SciPy.

[2022-04-17 20:06] GraLu1992 opened #16001 "Length of the wavelet in CWT"
I want to calculate the Cone of Influence (COI) and for this reason I went through the implementation of CWT.

Regarding the length of the wavelet, I couldn't figure out, why N is defined this way.

https://github.com/scipy/scipy/blob/132b9dec3e4d6329672e0d86628cf2366686a630/scipy/signal/_wavelets.py#L470

Is there a specific reason why N is defined this way (and why factor 10 * widths)?

[2022-04-17 23:48] #10821 closed

[2022-04-17 23:51] mdhaber commented on #10821
Perhaps it is possible to do better with all-positive data or all-negative data (using [the trick](https://github.com/scipy/scipy/issues/10821#issuecomment-535235836) mentioned above), and maybe there is an extension that could improve precision in the general case, but I think gh-15998 is a good workaround for most practical cases.

[2022-04-18 03:35] eli-schwartz commented on #15996
In setup.py, you currently have the following logic:

For each extension:
- given an extension named `foo.bar`
- write a file `link-version-foo.bar.map`, with the text contents: `{global: PyInit_foo_bar; local: *; };`
- pass `'-Wl,--version-script=path/to/link-version-foo.bar.map'` as a link_args

You can pass a version script as a link_args with Meson as well (perhaps first checking that the comp

[2022-04-18 04:28] eli-schwartz commented on #15996
Note that they are indeed *very* different, because:
- version scripts hide all symbols at link time, due to wildcard fallthrough
- GCC symbol visibility hides whichever symbols you mark as internal/private at compile time, doing aggressive codegen optimizations in the process

Notice that in the above listed examples, you show:
- a cythonized module, which exports an extraneous `_fini` and `_init

[2022-04-18 09:01] rgommers commented on #15996
Thanks for the detailed replies @eli-schwartz!

That makes sense. We can then also just store that script, rather than writing it out dynamically.

Your analysis sounds right to me. I'm considering treating Cython extension modules the same as all other extension modules, which could be nice for review/maintenance. But on the other hand, using `gnu_symbol_visibility` will be slightly faster probab

[2022-04-18 09:07] dschmitz89 commented on #15994
I tested adding `np.atleast_1d()` for some simple optimization problems with DIRECT. For inexpensive functions, it causes severe overhead, increased optimization time by up to 30%.

What about adding a simple test that `args` is indeed an iterable and if not a better error message.
[code]

[2022-04-18 13:10] eli-schwartz commented on #15996
I don't know that a linker script is meaningfully slow at link time.

On the other hand, symbol visibility has (some) *runtime* performance benefits. It can generate smaller code that doesn't have to go through the symbol table.

That might not be all that noticeably faster either, but every little bit helps and micro-optimization of runtime performance has bigger payoffs than micro-optimization o

[2022-04-18 13:42] rgommers commented on #15996
That sounds like a good idea.

Related: `dependencies: [py3_dep]` should probably also be added automatically. I can't think of a reason not to do that (any extension module should need this), and it would save a lot of boilerplate.

[2022-04-18 16:53] Permafacture opened #16006 "BUG: find_peaks multiple peaks allowed to share same left and right contour lines"
### Describe your issue.

When there is visually one very prominent peak, I expect find_peaks to return only one peak for that prominence. However, in cases where there are ties, find_peaks allows multiple peaks to be "the" prominent peak. Instead, I believe there should be some tie breaker so that only one prominent peak is reported and different contours are used for the other local maxima.

###

[2022-04-18 17:37] #14731 closed

[2022-04-18 21:32] alonme opened #16007 "BUG: Confusing documentation in `ttest_ind_from_stats`"
### Is your feature request related to a problem? Please describe.

The documentation in `ttest_ind_from_stats` is confusing.

it states that the variances of
[code]
are `87.5` and `39.0`, while they are not.

### Describe the solution you'd like.

Fix the table in the start of the examples to have the right values

### Describe alternatives you've considered.

_No response_

### Additional contex

[2022-04-18 21:36] alonme commented on #16007
OK, its just that ddof=1 should be used.
closing

[2022-04-18 22:13] mdhaber commented on #16007
We should document that, though, so I've reopened this.

[2022-04-19 03:56] eli-schwartz commented on #15996
My attempts to add this by default ran into trouble. I tracked the trouble down to https://bugs.python.org/issue11410

Apparently, CPython only actually defined this since 3.9, despite the original patch to implement it being submitted in 2011. This makes it somewhat more compelling to have Meson handle it, in order to if/else based on the version... also looks like PyPy supported it since sometim

[2022-04-19 08:08] vathsalashetty25 opened #16008 "NotImplementedError: input type '<U1' not supported"
Getting this error while running python3.9 runtests.py for scipy v1.5.4..anybody have anyidea on this failure?

scipy/signal/tests/test_signaltools.py:1765: in test_lfilter_bad_object
    lfilter([1.], [1., 1.], ['a', 'b', 'c'])
scipy/signal/signaltools.py:1907: in lfilter
    return sigtools._linear_filter(b, a, x, axis)
E   NotImplementedError: input type '<U1' not supported
        a          =

[2022-04-19 09:37] tupui commented on #16008
Hi @vathsalashetty25, thank you for reporting. This test has been updated in main. I will close this for now.

[2022-04-19 09:37] #16008 closed

[2022-04-19 10:40] rgommers commented on #15996
Adding it conditional on Python version sounds useful indeed. We're dropping Python 3.8 in one year from now (https://numpy.org/neps/nep-0029-deprecation_policy.html), so it's not too far off to have complete support.

[2022-04-19 11:37] Kai-Striega commented on #15994
I'm +1 on adding a more useful error message. I consider `(a)` erroneous input and it should be treated as such.

[2022-04-19 13:19] mdhaber commented on #15994
@dschmitz89 why did it cause the overhead? `np.atleast_1d` does not need to be inside the `fun` being optimized/integrated/etc; it can be called once as part of input validation. Do you mean that a single call was extremely slow?

[2022-04-19 14:56] HarshCasper opened #16009 "BUG: `act` fails for local GitHub Actions CI run"
### Describe your issue.

`act` is currently failing for local GitHub Action CI run. It is a diversion from the previous expected behavior.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0

[2022-04-19 14:57] rgommers commented on #16009
Thanks for reporting & working on this @HarshCasper!

[2022-04-19 18:25] #12739 closed

[2022-04-19 18:25] #14229 closed

[2022-04-19 18:25] #15094 closed

[2022-04-19 19:19] #12633 closed

[2022-04-19 20:34] cam92473 opened #16011 "BUG: typo in documentation for scipy.optimize.basinhopping"
### Describe your issue.

There's a notational mistake in the examples section on the page https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.basinhopping.html#scipy.optimize.basinhopping. In the code blocks, it should say `f(x)`, not `f(x0)`, since `x` is the value of the parameter that minimizes `f`, whereas `x0` is the initial guess.

### Reproducing Code Example

[code]

### E

[2022-04-19 21:28] mdhaber commented on #13872
@Kai-Striega here's another task that doesn't necessarily need domain knowledge from the outset - research the find out what the quadrature functions use for integration and add references.

[2022-04-19 21:31] mdhaber commented on #3325
@Kai-Striega Here's another one that seems really simple - just vectorize for array `a` and `b` (after broadcasting them).

[2022-04-19 23:08] h-vetinari opened #16014 "DEP: remove MaximumFlowResult.residual"
Follow-up to #16004; the warning introduced there currently advertises removal by 1.10, but I [think](https://github.com/scipy/scipy/pull/16004#issuecomment-1103246100) we should modify that to promise removal in 1.11.

[2022-04-19 23:58] Kai-Striega commented on #13872
@mdhaber I'll get started with this one. At the moment I'm looking at working on SciPy Tuesday and Thursday nights (+ maybe some weekends).

[2022-04-20 03:16] h-vetinari commented on #15121
Is anyone currently looking into this? Currently scipy is the biggest remaining blocker (700+ children) in the [pypy-migration](https://conda-forge.org/status/#pypy38). Considering that this issue is soon half a year old, success doesn't exactly seem imminent, but the only realistic options are (in descending order of attractiveness from the POV of conda-forge):
* wait for this issue to be fixed
*

[2022-04-20 03:24] mdhaber commented on #15121
Is there a way to skip just this test on PyPy + Windows or either one?

[2022-04-20 04:08] h-vetinari commented on #15121
That's not a problem per se, and what I meant by "ignore the errors".

The issue is more that it's not exactly a small number of errors that are being caused by this:
[code]

[2022-04-20 04:13] mattip commented on #15121
Running with this idea, would the `integrate/tests/test_quadpack.py` failures be a good place to start unraveling the root cause?

[2022-04-20 04:14] mdhaber commented on #15121
I see. Is there a more descriptive title that does not single out the studentized range distribution, then? This list provides further evidence that there is a problem with `quadpack` and PyPy, and it is not just the way that studentized range implementation uses it.

[2022-04-20 04:16] mattip commented on #15121
I changed the title to something that I hope is more indicative of the root cause.

[2022-04-20 04:19] mdhaber commented on #15121
Here is one strategy that @DominicChm and I considered: on PyPy+Windows and separately on any other platform (for which the tests pass), record the sequence of integrand inputs and outputs while the integral is performed. We were hoping that might help someone more familiar with quadpack determine how it is going astray. Does that sound valuable?

[2022-04-20 04:32] mdhaber commented on #15121
On the other hand, it looks like this may not be related to `quadpack` in particular... I don't see a relationship between TNC and `quadpack`, and they're not even both Fortran. Could it be a more general bug in the way PyPy interacts with compiled code?

[2022-04-20 04:45] mattip commented on #15121
Maybe. However this is the first place that particular bug is appearing. It seems to be something specific to windows and inf/nan/complex. In this long thread I had missed this analysis

[2022-04-20 08:10] tupui commented on #16011
Hi @cam92473, thank you for reporting. You mean these correct `global minimum: x = %.4f, f(x0) = %.4f`?

I agree. Would you like to do a PR to fix it?

[2022-04-20 13:55] mdhaber commented on #15508
@AtsushiSakai @NamamiShanker I glanced at gh-15579 but did not follow closely. If this error occurs for other non-symmetric matrices, why not just change the error message to "matrix is not symmetric positive definite" (or "semidefinite when `allow_singular` is true)? It seems like that is a simple change that would make the error message correct in strictly more cases than it is now.

[2022-04-20 20:33] j-bowhay opened #16020 "BUG: dev.py FileNotFoundError"
### Describe your issue.

Hi, trying to setup a dev environment on a new laptop and have been following the new quickstart guide. I am to build scipy using the `dev.py` interface and am running into the following error:
[code]

I am using conda 4.11.0

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

N/A

[2022-04-21 04:41] cam92473 commented on #16011
Yes, I've gone ahead and done that.

[2022-04-21 05:03] Smit-create commented on #16020
Hi,
Can you please try removing the `build` directory and use `python dev.py --build-only` again?

[2022-04-21 06:47] Qiyu8 opened #16023 "ENH: Optimizing scipy.spatial.distance.cdist by using Acceleration library"
### Is your feature request related to a problem? Please describe.

`cdist` function is widely used in AI-related applications, but the performance is not good enough. Here is one of the practical use case:
[code]
The code above takes **6 mins** in my server machine,  which is unbearable in practical applications.

### Describe the solution you'd like.

After the initial reading of the code, The P

[2022-04-21 07:32] #16011 closed

[2022-04-21 08:08] tupui commented on #16023
cc @peterbell10 and @czgdp1807

[2022-04-21 08:21] czgdp1807 commented on #16023
AFAIK, as of now, the number of steps in `cdist` computations are fixed i.e., O(num_rowsA * num_rowsB * num_cols) or precisely some_constant * num_rowsA * num_rowsB * num_cols. Now, the PRs https://github.com/scipy/scipy/pull/14611 and https://github.com/scipy/scipy/pull/14640 extend on the map-reduce and loop unrolling framework implemented already in `main` branch. This exploits, the ILP availab

[2022-04-21 09:10] stla opened #16025 "scipy.stats: noncentral Wishart distribution"
### Is your feature request related to a problem? Please describe.

The noncentral Wishart distribution is not available.

### Describe the solution you'd like.

I have implemented it in this gist: <https://gist.github.com/stla/6e2cbd868825d169d0db0b2c99a5e704>

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-04-21 09:47] tupui commented on #16025
Hi @stla, thank you for reporting. To include a new distribution, we need to discuss first of it's usefulness for the whole community. Can you add some details with literature references about why we should do this?

[2022-04-21 10:12] stla commented on #16025
The noncentral Wishart distribution generalizes the noncentral Chi² distribution. It is the distribution of XX' where X follows a multivariate normal distribution. It appears as the non-null statistic of some hypothesis tests, such as the Hotelling test. Now I admit I never used it so far ^^.

[2022-04-21 10:15] stla commented on #16025
Also note that some other noncentral matrix variate distributions are derived from the noncentral Wishart, such as the noncentral matrix variate Beta distribution.

[2022-04-21 10:40] tupui commented on #16025
I thought the normal Wishart was necessary for the Hotelling test?

Aside from a few distributions, we don't have much for multivariate. I am not sure how much we want to expand here. Maybe this fits better with statsmodels.

[2022-04-21 10:44] czgdp1807 commented on #16023
Each pair of vector from XA and XB require O(num_cols) steps. So, if we compute a bunch of pairs simultaneously then that might bring performance improvements. However, if we do computations for each pair of vectors from XA and XB then a minimum of o(num_rowsA * num_rowsB) will happen so only scope for optimization is to reduce the O(num_cols) per unit of time. For example divide the vector of siz

[2022-04-21 11:21] Kai-Striega commented on #13872
@mdhaber I can confirm that these functions all (eventually) use PROPACK functions. `nquad` can call any of them, `dblquad` and `tplquad` call either ` _qagse` or `_qagse` (I'm not sure which one, yet)

It gets a bit complicated from here. `dblquad` and `tplquad` both wrap the function `nquad` which is itself a wrapper around `quad` (1d case). `quad` then wraps both `_quad` and `_quad_weighted` th

[2022-04-21 11:23] ilayn commented on #16023
Complexity computations are always tricky because you are missing the constants. Unfortunately even the order of operations matter hence we can't generalize these estimates to actual implementations. Obviously at the lower limit there will be a point where `linalg.norm(A-B)` will start beating any implementation in terms of performance at some point. But that is something we should ignore since th

[2022-04-21 11:26] AtsushiSakai commented on #15508
@mdhaber I’m sorry I don’t remember this discussion well… But i agree better error massage is always great.

[2022-04-21 11:41] rgommers commented on #16020
So what happened here most likely is that you built with `runtests.py` or `python setup.py ...` @j-bowhay, which created a `build/` directory but not with Meson. So now the script is confused. Can you confirm that?

@Smit-create we may want to special-case this issue, if the directory we use is `build/` but that file is missing, let's raise a more informative exception? Something like _"you're usi

[2022-04-21 11:59] ilayn commented on #16020
No if dev.py fails before having the necessary information, this happens quite often and I typically do `git clean -xdf`. Until it reaches the step after pkg-config checks if fails then it leaves it in this dirty state.

[2022-04-21 12:05] ilayn commented on #16023
Here is another Python level implementation to illustrate the basic idea

https://stackoverflow.com/questions/64952027/compute-l2-distance-with-numpy-using-matrix-multiplication

[2022-04-21 12:11] stla commented on #16025
The Hotelling statistic follows a central Wishart distribution under the null hypothesis, but it follows a noncentral Wishart under the non-null hypothesis.

[2022-04-21 12:49] rgommers commented on #16020
Ah makes sense, that should be fixed - and is easy to fix. We just need checking for a file that the meson configure stage leaves behind instead of the one that is checked for now. Rerunning `python dev.py` multiple times should work even if the configure stage fails early on:
[code]

We need both that, _and_ the improved error message.

[2022-04-21 13:07] tupui commented on #16025
First time I am hearing about non-null hypothesis testing. After a quick search it seems even more specific. Do you have concrete examples of how this could be used?

[2022-04-21 13:22] stla commented on #16025
One doesn't test a non-null hypothesis. If `H0: {µ=0}` is the null hypothesis then for example `{µ=2}` is a non-null hypothesis. The probability to reject the null hypothesis when it is true is the so-called significance level (often taken as 5%). The probability to reject the null hypothesis when it is not true is called the *power*. The power is not a number, this is a function of µ: e.g. if µ=1

[2022-04-21 13:51] mdhaber commented on #13872
Thanks for working on this!
Could you tell what algorithms they use? It would be great if we could cite QUADPACK documentation and original algorithms papers. Please see Ralf's comments [here] (https://github.com/scipy/scipy/pull/14249#issuecomment-864392575).

[2022-04-21 18:12] v0dro commented on #15021
I do agree with @klim- that 1D array is a bit of surprise and that one has to look at the code samples to understand how the pivots can be used. Maybe the docs can be enhanced with a separate example that generates a pivot matrix from this array and multiplies that with the Q and R?

@rgommers I think this issue can be closed for the following reasons:

* This change will cause backwards compatibi

[2022-04-21 19:08] j-bowhay commented on #16020
@Smit-create indeed deleting the build directory and running again worked thanks

[2022-04-21 19:14] Smit-create commented on #16020
Yeah, will fix that.

[2022-04-21 20:56] nstarman opened #16027 "jc should be (n-1)/2"
The docs say (n+1)/2 but assume that n runs from from 0 to n-1

https://github.com/scipy/scipy/blob/ced4d67ec8bfd7e25e5087c7dedc53bd8bd632d0/scipy/fft/_fftlog.py#L74

so it should be calculated as jc = (n-1)/2. This is also what the code does:

https://github.com/scipy/scipy/blob/ced4d67ec8bfd7e25e5087c7dedc53bd8bd632d0/scipy/fft/_fftlog.py#L121

[2022-04-21 21:07] v0dro commented on #8823
The following code passes on the current main branch (macOS):
[code]

@rgommers should we close this?

[2022-04-21 21:27] Apteryks opened #16028 "BUG: Offline documentation build fails with Sphinx 4.5"
### Describe your issue.

After upgrading Sphinx from version 4.2.0 to 4.5.0, the SciPy documentation can no longer be built, failing with error:
[code]

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0/1.21.6/3.9.9

[2022-04-21 21:28] Apteryks commented on #16028
[bkm3dn2giqq8yi1n8py21m5nh7ddklrh-python-scipy-1.8.0.drv.log.gz](https://github.com/scipy/scipy/files/8535191/bkm3dn2giqq8yi1n8py21m5nh7ddklrh-python-scipy-1.8.0.drv.log.gz)

[2022-04-21 23:49] #15780 closed

[2022-04-22 07:20] aebrahim commented on #4537
Seems to have been fixed sometime in the past 7 years!

Now I'm getting
[code]

[2022-04-22 07:20] #4537 closed

[2022-04-22 09:09] #16020 closed

[2022-04-22 09:36] #15758 closed

[2022-04-22 11:52] melissawm commented on #16028
Hello @Apteryks - thanks for the report. Can you clarify if you used the `make html-scipyorg` command, or `make html`?

[2022-04-22 12:51] Apteryks commented on #16028
Hello!  I used `make html`; for the record, this is the GNU Guix package definition I've tested with:
[code]
The direct dependencies used are:
[code]

[2022-04-22 13:12] tupui commented on #16028
Hi @Apteryks, FYI I deleted the log file for security reasons. We should never post zip files on issues.

[2022-04-22 13:14] tupui commented on #16028
Our CI is running with Sphinx 4.5. See here for instance https://app.circleci.com/pipelines/github/scipy/scipy/12713/workflows/3d1c5fbf-e21d-4907-801e-84c8421789e0/jobs/46812

[2022-04-22 13:48] eternalding opened #16031 "BUG: scipy.sparse.linalg.norm does not work on sparse arrays"
### Describe your issue.

Greetings.
As from the document of sparse matrices : https://docs.scipy.org/doc/scipy/reference/sparse.html,
both "Sparse array classes" and "Sparse matrix classes" belong to sparse matrices.

Also, from the document of sparse.linalg.norm, the input array arr is only mentioned as sparse matrix,
so I expect that norm function should work on both sparse array classes and sp

[2022-04-22 14:09] tupui commented on #16028
Great, please let us know.

Non plain text files can hide anything like a fork bomb or other malicious scripts/executable. This is why we always share plain log or an extract.

On GitHub you can use a detail dropdown to not pollute the output.

[code]

[2022-04-22 16:31] Apteryks commented on #16028
I'm able to build the docs outside of the networkless container, so I suppose it fails because of failing to fetch the intersphinx objects from the Internet in the build container:
[code]
This Sphinx/intersphinx 4.5 behavior is new compared to 4.2, which allows the build to proceed anyway.  I could patch the conf.py file so that each intersphinx reference object is found locally, but I'm not sure

[2022-04-22 16:37] tupui commented on #16028
Well IMO this is not something we want to support. We don't want to "patch" Sphinx.

[2022-04-22 16:42] Apteryks commented on #16028
Just to be clear, I didn't mean patching Sphinx itself, but the `doc/source/conf.py` Sphinx configuration file used by SciPy.  It is possible to specify intersphinx reference objects via file URI instead of HTTP, which would work offline. Sadly it seems intersphinx is making the building doc offline use case difficult, having no way to specify a search patch which would allow packagers to add othe

[2022-04-22 16:45] tupui commented on #16028
I understood, but if this is Sphinx behaviour now, I don't think we should add hacks to go around. If we still want to have the doc building offline then maybe no inter-sphinx at all is fine. So we would just put this under a `if`.

[2022-04-22 16:47] Apteryks commented on #16028
The build failure is triggered even when removing `'sphinx.ext.intersphinx'` from the list of extensions; it appears something else in the tooling (another sphinx extension?) expects the information to be there.

[2022-04-22 16:49] tupui commented on #16028
mmm ok thanks for checking.

[2022-04-22 16:56] #15508 closed

[2022-04-22 17:09] Apteryks commented on #16028
Yeah, it always end up with something like:
[code]

[2022-04-22 17:11] tupui commented on #16028
Ok but IMO it's an issue on Sphinx. Good that there are warnings, but it could still go on with the build.

[2022-04-22 17:20] v0dro commented on #15927
Changing either the direct or FFT transformation techniques would involve making changes to the core methods themselves, which is not the core issue here. I will fix this by sending over a patch that will specify this behavior in the documentation as a note, and raise a warning in case the method used is FFT and a NAN value is present in the output.

[2022-04-22 17:54] Apteryks commented on #16028
When building without parallel jobs, the error is a bit better:
[code]
I'll take this to sphinx, thank you for your time!

[2022-04-22 18:19] tupui commented on #16028
Yeah although we are using latest.

[2022-04-22 18:33] tupui commented on #16028
Although is your recipe using the latest version of the theme?

[2022-04-22 18:55] Apteryks commented on #16028
I thought I was using latest of every Sphinx things, but not for pydata, which was stuck on an older version (0.6.4)  due to https://github.com/pydata/pydata-sphinx-theme/issues/628.  I have more testing to do following bumping it to 0.7.2 which supposedly restores compatibility with Sphinx 4.3+, but I'm confident it'll be fixed.

Usually this kind of issue gets known at build time because setupto

[2022-04-22 18:55] #16028 closed

[2022-04-22 19:00] tupui commented on #16028
No worries thanks for following up. Be sure to check the version we use for 1.8. For the theme we update quite often as we use the latest features and don't maintain backward compatibility here.

Good Friday to you as well 😃

[2022-04-23 03:35] endolith commented on #14043
Because of the line `N = int(fs // w0)` and the way int division works with float divisor:

[code]

It should probably be `N = round(fs / w0)` instead.

[code]

The previous check of divisibility `np.round(fs % w0) != 0` is strange because it means `fs=44100`, `w0=49.999` is forbidden, but `fs=2`, `w0=49.999/int(44100/2)` is fine.

[2022-04-23 03:47] Kai-Striega commented on #13872
The algorithms used by `dblquad`, `tplquad` etc. use different algorithms depending on what boundary values are given. But I think it would be ok if we listed out both methods with references. Saying that I'm having some problems finding the original references.

I've listed the conditions for each function to be called in this [google sheet](https://docs.google.com/spreadsheets/d/1b_3azJGi300Xdce

[2022-04-23 04:47] Smit-create commented on #15896
I was trying to generate the html report using `runtests.py` but was unable to do so. I used the following steps:
[code]
Am I missing something?

[2022-04-23 15:42] mdhaber commented on #13872
I think this might be helpful:
https://maxima.sourceforge.io/docs/manual/maxima_99.html

[2022-04-23 17:41] #16007 closed

[2022-04-23 18:13] mdhaber commented on #10328
Based on our discussion in tirthasheshpatel/scipy#14, shall we consider this a wontfix under the current infrastructure?

[2022-04-23 22:18] code-review-doctor opened #16036 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/scipy/scipy/blob/4d942c5ee551d933a73c66d1566ad17408b5edaa/benchmarks/benchmarks/stats_sampling.py#L185
https://github.com/scipy/scipy/blob/4d942c5ee551d933a73c66d1566ad17408b5edaa/scipy/sparse/csgraph/_laplacian.py#L526

I found this issue automatica

[2022-04-24 04:57] tirthasheshpatel commented on #10328
Yes, we can label this wontfix now and come back when we deprecate/remove frozen distribution infrastructure.

[2022-04-24 06:27] alonme commented on #16007
Hi @mdhaber,
There is still a related mistake in this part of the doc
![image](https://user-images.githubusercontent.com/25847554/164959646-812346b3-e88b-4080-96e6-5de35e4c5d41.png)

![image](https://user-images.githubusercontent.com/25847554/164959742-c0c1e007-a8bb-482c-a3e4-6c5e253cbcb9.png)

[2022-04-24 06:38] marioboley opened #16038 "BUG: `skewnorm.pdf` has incorrect behaviour at plus/minus infinity for `shape=0`"
### Describe your issue.

The pdf of the skew normal should reduce to a normal distribution when shape parameter (`a`) is `0`, and in particular the expected result for `skewnorm.pdf(-inf, 0)` and `skewnorm.pdf(inf, 0)` is `0`. However, the implementation directly uses the definition of the skew normal pdf as `2*norm.pdf(x)*norm.cdf(a*x)`, which, as `inf*0` results in `nan`, leads to an `nan` argu

[2022-04-24 07:16] Kai-Striega commented on #13872
I've found a [copy](https://github.com/scipy/scipy/files/8549172/quadpack-a-subroutine-package-for-automatic-integration_compress.pdf) of "QUADPACK: A Subroutine Package for Automatic Integration". I haven't read through the whole book. There's a summary of the routines starting at page 56 which I think will give a good starting point. This does not reference the implementation of each function.

[2022-04-24 09:06] #16036 closed

[2022-04-24 14:23] mdhaber commented on #16007
I see. I assumed the author would have calculated those with `ddof`. @fAndreuzzi if you like to change that column to the corrected sample standard deviation (rather than uncorrected variance), I can review.

[2022-04-24 16:04] mdhaber commented on #16007
Thanks @alonme @fAndreuzzi!

[2022-04-24 16:25] fAndreuzzi commented on #16007
Sorry @mdhaber, I missed that! I'm opening a new PR

[2022-04-25 13:00] tirthasheshpatel commented on #14541
@rgommers Should we consider closing this now? Now that it's fixed on TF side, I don't know if it's worth doing (2) or (3).

[2022-04-25 18:32] ayshih opened #16046 "BUG: spline pre-filtering results in non-local interpolation effects"
### Describe your issue.

When using `scipy.ndimage.affine_transform()`, the value at any point is said to be interpolated from a neighborhood that is `order+1` pixels long along each axis, as depicted in the second figure [in this docs section](https://docs.scipy.org/doc/scipy/tutorial/ndimage.html?highlight=spline_filter#interpolation-boundary-handling).  However, the interpolated value is actua

[2022-04-25 21:05] rgommers commented on #14541
Good point Tirth. If one waits long enough, some problems fix themselves:)

In this case, let's close it when we drop numpy `1.18.x` support, which we can do for the next release. No need to backport to `1.8.1` anymore I'd say.

[2022-04-25 23:03] jvsqzj commented on #15738
I'd like to give this a go as my first contribution to open source.

I'm currently compiling my scipydev environment on macOS

[2022-04-25 23:39] Kai-Striega commented on #13872
sorry I planned to keep working on gh-16043 before merging it. I opened a PR but it should have been a draft. My bad.

I don't think we need the whole table. Using `dblquad` as an example, it does not take `weight` or `points` arguments. This leaves only `qagse` and `qagie`.

[2022-04-25 23:42] Kai-Striega commented on #15792
I can confirm that `dblquad` (and `tplquad`) support both.

[2022-04-26 00:22] h-vetinari commented on #15738
Go for it! 🥳

Please take note that there are several separate python files in https://github.com/scipy/scipy/tree/v1.8.0/scipy/sparse/linalg/_isolve where this needs to be adapted; not just in the implementation, but also in the docstrings.

[2022-04-26 00:27] h-vetinari commented on #5266
@ilayn
Given the merge of https://github.com/scipy/scipy/pull/15884, I presume this issue can be closed?

[2022-04-26 07:09] ilayn commented on #5266
Yes gladly

[2022-04-26 07:09] #5266 closed

[2022-04-26 08:52] #15482 closed

[2022-04-26 10:37] #15689 closed

[2022-04-26 11:07] saskra opened #16048 "Color nodes in dendrogram of HCA based on list of children"
I would be pleased about an extension of the possibilities of the dendrogram function - or about a hint, if my desired behavior should already be possible now.

Namely, I have performed a hierarchical cluster analysis and had the dendrogram output for this purpose, as shown in this example: https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html.

I then selected c

[2022-04-26 16:48] tupui commented on #16048
Hi @saskra, thank you for reporting. Could you not use the parameter `link_color_func`?

[2022-04-26 17:34] saskra commented on #16048
Thanks for the answer, @tupui! I haven't figured out yet how to use link_color_func for my purpose, but will take a closer look.

[2022-04-26 19:19] #15927 closed

[2022-04-26 19:31] rgommers commented on #8823
This is indeed all fixed. The second part of the issue description now gives a float (`2.0`) rather than a string with that value:
[code]

Closing. Thanks for the detailed report @AetherUnbound, and for looking into it @pv and @v0dro.

[2022-04-26 19:31] #8823 closed

[2022-04-26 19:37] MatthewFlamm commented on #15490
This is an example of how I do this that requires no changes to the built in code:

[code]

This yields, where the last step is constrained by the ending time and not `max_step`.

[code]

[2022-04-26 19:50] rgommers commented on #15258
This indeed worked in 1.7.0 and got broken in 1.8.0 due to the `*` -> `@` change.

[2022-04-26 19:53] #15258 closed

[2022-04-26 19:59] #11145 closed

[2022-04-26 20:06] rgommers commented on #15059
Thanks for the detailed report @EfremBraun. gh-15827 improved the docs for the signal. It looks like the implementation is correct - but I agree it's hard to tell.

[2022-04-26 20:11] rgommers commented on #15021
This is the right suggestion to close the issue I think. We indeed shouldn't make any backwards incompatible changes here.

[2022-04-26 20:31] ilayn commented on #15021
I am still considering this since most software has the option [`Outputform`](https://www.mathworks.com/help/matlab/ref/qr.html?s_tid=srchtitle_qr_1#d123e1168024) as a switch between 1d perm vs 2d full permutation array. It is not a very difficult thing to implement but what we will definitely not do is to choose one that would break code.

[2022-04-26 20:53] #15931 closed

[2022-04-26 21:43] #15199 closed

[2022-04-26 22:41] DominicChm commented on #14095
(cross-posted from gh-15982)
In our testing, norm.pdf uses 66mB of peak RAM to process a 1e6 sized array. Looking at the code for the normal PDF (np.exp(-x**2/2.0) / _norm_pdf_C), you can count ~5 individual operations. arange allocates ~8mb per creation (sizeof(float64) * 1e6), which is copied once per operation. That means that we expect to see norm.pdf use at least 40mB of RAM. That leaves 16mB

[2022-04-26 22:44] mdhaber commented on #14095
We could also copy the input array once and do in-place operations, but that does not seem to have been a consideration when the distributions were created. I don't think we need to track this anymore, but at some point we can consider reducing memory usage as an enhancement.

[2022-04-26 22:47] #3214 closed

[2022-04-26 22:47] #14095 closed

[2022-04-27 01:49] jvsqzj commented on #15738
Sure. I have reproduced the DeprecationWarning.

I see there is already a method called _get_atol() in iterative.py, which also contains a very similar deprecation warning that can be triggered by other functions. The objective would be to get rid of all of these, from what I read.

Here is a [first draft](https://github.com/scipy/scipy/pull/16050/files) of a quick fix to remove the deprecation wa

[2022-04-27 02:26] h-vetinari commented on #15738
Yes! :)

Everywhere in `sparse/linalg/_isolve` where you find `atol` as deprecated.

[2022-04-27 04:20] endolith opened #16052 "BUG: iircomb peaking behavior doesn't match documentation"
### Describe your issue.

The second example in the documentation for `signal.iircomb` says:

    f0 = 250.0  # Frequency to be retained (Hz)

But this is not the frequency to be retained, it's the frequency that is cut:

![](https://docs.scipy.org/doc/scipy/_images/scipy-signal-iircomb-1_01_00.png)

Likewise the parameter `w0` says:

which is incorrect.  With `ftype='peak'`, 250 Hz is not boosted

[2022-04-27 05:57] mdhaber commented on #9955
gh-15551 deprecated non-numeric input support. When that is removed in 1.11.0, the decorator can be used to fix this bug.

[2022-04-27 08:23] saskra commented on #16048
Thanks, I've actually managed to do it with this in the meantime.

[2022-04-27 08:23] #16048 closed

[2022-04-27 09:49] h-vetinari commented on #15121
Any news on this? 🙃

[2022-04-27 09:53] mattip commented on #15121
Not from me. The minimum reproducer in the repo above still checks against the full `scipy.stats._studentized_range_cdf`. It would be nice to find a much smaller reproducer.

[2022-04-27 14:10] endolith commented on #16052
@skresearcher @agamemnonc any opinions on this?  It looks from https://github.com/scipy/scipy/pull/12476#issuecomment-655709388 that maybe this was done for compatibility with Matlab? I agree with @larsoner that it would be more natural for the peak and notch options to be complementary, though.

[2022-04-27 15:15] skresearcher commented on #16052
As you figured out, the current interface was designed to maintain compatibility with MATLAB. The `'notch'` and `'peak'` arguments changed the shape of the comb filter, but functionally it worked as a notching comb filter in both cases (even in MATLAB). I think I prefer the first option of fixing the bug in the code for the reasons you've outlined above, and we can add a new input argument (`shift

[2022-04-27 15:47] skresearcher commented on #14043
That makes sense. I also think that divisibility check is not working with float divisors as it was intended. It was placed to ensure that `N` (the number of notches) would not be fractional, which means that `w0 = 49.999 / int(44100 / 2)` should not work if `fs = 2`. Maybe it can be changed to `(fs / w0).is_integer()`? In that case, even `N = int(fs / w0)` would work as a replacement for `N = int

[2022-04-27 16:08] endolith commented on #14043
Well sample rates aren't necessarily integers, and so the two float numbers may not divide exactly(?)  Comparing for exact divisibility is like [comparing floats for equality](https://floating-point-gui.de/errors/comparison/).  Instead we should have some kind of "close enough" test, like np.allclose does.

(Also I think we should add an optional `N=` integer parameter that would subdivide the spe

[2022-04-27 17:52] #15554 closed

[2022-04-27 19:44] AnirudhDagar opened #16054 "Bug: Meson build with dev.py fails to detect SciPy with debian python"
While trying to build SciPy with meson on a 32bit machine for [#15814](https://github.com/scipy/scipy/issues/15814)  (using docker image `ubuntu:i386:bionic`; though this is not an architecture specific bug, I think)

After installing python3.8  and other required deps (through `apt` in ubuntu), and then python deps with pip3 (installed through [get-pip.py](https://bootstrap.pypa.io/get-pip.py)).

[2022-04-27 21:10] rgommers commented on #16054
Thanks for the detailed bug report @AnirudhDagar. You diagnosed it correctly, it's indeed due to that mess Debian made. It looks like it boils down to:

[code]
where `plat_path` gives `python3.8/site-packages` while things get installed to `python3/dist-packages`.

I don't think there's a correct solution, so a hacky one to extend `get_site_packages` and see if the constructed path exists and tryi

[2022-04-27 22:29] melissawm opened #16057 "BUG:"
### Describe your issue.

When creating a conda environment with either `environment.yml` or `environment_meson.yml`, there is a warning about pip-installed dependencies in the environment file but no explicit requirement that pip is installed.

Both the `environment.yml` and the `environment_meson.yml` files should be updated to include an explicit pip requirement.

### Reproducing Code Example

[2022-04-28 00:59] AnirudhDagar commented on #16054
Thanks for the quick reply and confirmation, sending a PR in a bit.

[2022-04-28 02:01] mdhaber commented on #10205
@rkern is `gaussian_kde` designed to work when the data lies in a lower dimensional subspace? If not, would you consider this issue to be an enhancement request rather than a defect?

[2022-04-28 02:55] rkern commented on #10205
Nominally, yes, it was designed to work on degenerate data, at least for a certain subset of methods and up to certain numerical limits. I.e. naturally, `.evaluate()` is going to be practically useless, but the various integrations and resampling were supposed to work, more or less. This was a requirement for the commercial software that this code originally contributed from (changing scipy won't

[2022-04-28 03:43] stevenleeS0ht opened #16059 "ENH: Make sparse matrix element accessible via subscription operator / `__getitem__` and `__setitem__`"
### Is your feature request related to a problem? Please describe.

Currently, all type of sparse matrix doesn't support subscription

[code]

### Describe the solution you'd like.

Add `__getitem__` and `__setitem__` method for each sparse matrix class. And can retrieve single element directly. Like what `numpy.matrix` do.

### Describe alternatives you've considered.

_No response_

### Addition

[2022-04-28 03:45] stevenleeS0ht commented on #16059
For different type of sparse matrix, due their data structure is different, different algorithm should be implemented for optimization.

[2022-04-28 05:48] h-vetinari commented on #15738
@pv
You added the following warning to the docstrings of `atol` (in #8400):
[code]

Since we're [trying](https://github.com/scipy/scipy/pull/16050) to execute this deprecation (including the change in default value), could you share what you had in mind as the new default? IMO the only reasonable things would be `atol=0` (as any fixed scale might not be adapted to the scale of the problem at hand)

[2022-04-28 09:29] IvanYashchuk commented on #15237
`L-BFGS-B` expects regular NumPy arrays as outputs for `nloglik` and `grad` functions, internally JAX arrays are converted to NumPy arrays. Here, the output of `grad` function can't be used without an explicit copy.
Using `minimize(nloglik, init, jac=lambda x: numpy.array(grad(x)), method='l-bfgs-b')` would fix the problem.

[2022-04-28 11:06] tupui commented on #16057
Good one. Actually I think `doit` should be pulled by Conda-forge. IIRC this was done like that because `doit` was not released yet on Conda-forge with the version we wanted to have.

[2022-04-28 11:36] Smit-create commented on #16054
Does this work fine with `runtests.py`? That has a bit different hack:
https://github.com/scipy/scipy/blob/820fe86bf3ad8ba1c5647632b131659ed7bd447e/runtests.py#L431-L433

[2022-04-28 11:43] luckydonald commented on #12454
@pv the link leads to 404.

[2022-04-28 13:11] ragdollfun opened #16063 "Native MathML rendering doesn't work on the numpy and scipy documentation websites"
Hello everyone,

I use a browser extension by the name of "Native MathML" which forces formula rendering engines like MathJax/KaTeX/MediaWIki to use native MathML rendering. The extension seems to be working on other websites (including Wikipedia, tell me if you know of other websites where I can test this for comparison), but it doesn't work on the numpy and scipy documentation websites. (I seem

[2022-04-28 13:23] tupui commented on #16063
Hi @ragdollfun, thank you for reporting. I don't think we are doing anything particular here. If something got broken, maybe it's on Sphinx side or a new version of MathJax. This formula is getting rendered as:

[code]

[2022-04-28 13:47] ragdollfun commented on #16063
Hi @tupui, thanks for the quick reaction, I wasn't expecting to get an answer so soon.

I did raise the question on the extension's repository: [**Native MathML doesn't work on the numpy and scipy documentation websites** fred-wang/webextension-native-mathml#16](https://github.com/fred-wang/webextension-native-mathml/issues/16)

[2022-04-28 13:51] tupui commented on #16063
ok thank you. I can see that the repo did not get any update in almost 2 years. Let see if we get any replies.

[2022-04-28 19:42] dyc3 opened #16064 "BUG: f-stat distribution output doesn't make sense, possibly incorrect?"
### Describe your issue.

The output of `scipy.stats.f.ppf()` doesn't make any sense to me. Maybe I'm missing something obvious.

Comparing the output of this function to f distribution tables found online, the results don't match.

For example: looking at [this table](http://www.socr.ucla.edu/Applets.dir/F_Table.html), `f` for `alpha=0.1`, `df1=1`, `df2=1` should be `39.86346`, but `f.ppf()` give

[2022-04-28 19:48] mdhaber commented on #16064
I think you want `isf`.
[code]

[2022-04-28 19:48] #16064 closed

[2022-04-28 19:52] melissawm opened #16065 "BUG: Gitpod build with `python runtests.py` fails; move to meson on gitpod"
### Describe your issue.

The current configuration of gitpod for the SciPy repo involves creating the `scipy-dev` environment and building through `python setup.py build_ext --inplace`. However, running `python runtests.py` with this setup results in test errors.

On the other hand, creating the `scipy-meson` environment and running `python dev.py` works well. My suggestion is to move to meson on

[2022-04-28 20:42] j-bowhay commented on #14889
#15230 removed `scipy.random` without a deprecation period. Do we need to add deprecation warning or can this be closed? @h-vetinari

[2022-04-28 21:08] akern40 opened #16068 "BUG: Missing Constant in Documentation"
### Describe your issue.

The table in the documentation that [lists constants](http://scipy.github.io/devdocs/reference/constants.html) is missing the characteristic impedance of a vacuum. This is because the constant is not listed directly in the CODATA 2018 table (this occured in [#10920](https://github.com/scipy/scipy/pull/10920)); however, it has been maintained in scipy since January 2020 (s

[2022-04-28 21:21] mdhaber commented on #13201
@ev-br In my development conda `environment` (SciPy `main`, OpenBLAS), this took 16.626 seconds, but in my `base` environment (SciPy 1.7.1, MKL), it took 5.669 seconds. Should I create a new environment, install everything with `pip`, and try that?

[2022-04-28 21:43] h-vetinari commented on #14889
Thanks @j-bowhay; @WarrenWeckesser pointed this out [already](https://github.com/scipy/scipy/pull/15230#issuecomment-1032197085) after the PR was merged, but it received no response.

Generally I have the impression scipy has been cautious about hard API breaks (not without deprecation unless absolutely necessary), but I don't know the details of this change. Perhaps one could reintroduce a dummy

[2022-04-28 22:50] ilayn commented on #14889
Not really an API break but actually fixes something that should have not happened anyways but just a missed star import. So it's not really a big deal. And it didn't create any noise so let's close it and deal when it becomes an issue.

[2022-04-28 22:50] #14889 closed

[2022-04-28 23:29] #15741 closed

[2022-04-29 09:05] ilayn commented on #14889
Yes but this was not an alias because we never had a random module it was carried over from a missed numpy import. Hence that entry won't be accurate but won't hurt either.

[2022-04-29 09:16] rgommers commented on #14889
Agreed, all the `from numpy import *` imports are gone, this was one of them. Should be fine to leave that as is.

[2022-04-29 09:51] jschiavon commented on #15237
Thank you, I solved it a while ago with the same workaround.

Still, I would add a couple of lines in the docs to specify that the "L-BFGS-B" has stronger requirements for the outputs of the function.

[2022-04-29 09:51] #15237 closed

[2022-04-29 15:42] akern40 commented on #16068
Ok, I think I found the location where the actual text in the source comes from (https://physics.nist.gov/cuu/Constants/Table/allascii.txt) which does indeed list characteristic impedance of a vacuum. A quick diff (https://www.diffchecker.com/1hgzMrhi) shows that characteristic impedance of a vacuum is the only constant that was dropped when the table was inserted into the source code. This makes

[2022-04-29 15:49] jakobjakobson13 commented on #16068
Apparently, codata data table was updated sometime between the Sep 26, 2019 ( https://web.archive.org/web/20190926042548/https://physics.nist.gov/cuu/Constants/Table/allascii.txt) and Sep 06, 2020 ( https://web.archive.org/web/20200906102720/https://physics.nist.gov/cuu/Constants/Table/allascii.txt ). So, adding the one line should be sufficient to introduce the constant.

[2022-04-29 16:43] akern40 commented on #16068
Given that the redefinition using the `exact_values` approach was added as a stopgap, should that now be removed as well?

[2022-04-29 17:10] ev-br commented on #6864
Seems to have been fixed at some point:

[code]

[2022-04-29 17:10] #6864 closed

[2022-04-29 17:11] akern40 commented on #16068
Thanks for making the PR for this!

[2022-04-29 17:17] ev-br commented on #14531
No follow-up for several months, let's close the issue. Thanks all

[2022-04-29 17:31] ev-br commented on #2650
This seems to work for `interpn` / `RegularGridInterpolator` , see `test_complex` at  https://github.com/scipy/scipy/blob/main/scipy/interpolate/tests/test_interpolate.py#L2435 .
Adding complex value support to FITPACK does not sound worth the hassle.
Let's keep the issue open for gh-15357 and gh-7903 --- once the new methods are added to RGI, the issue can be closed IMO.

[2022-04-29 17:33] endolith commented on #16052
The Orfanidis book calls the parameter `s`, though this is not very descriptive:

[code]

[2022-04-29 17:49] ev-br commented on #7663
Given that the issue is about linear interpolation on regular grids, I'd start with checking the status of the OP with `RegularGridInterpolator` / `interpn` instead of `interp2d`. Specific things to check:
- whether it actually works on these large problem sizes
- whether the performance is OK, and if not if it can be improved

[2022-04-29 17:56] ev-br commented on #10180
For 1D splines I think a reasonable way to go would be to add something like `CardinalBSpline` class to mirror the general BSpline. Instead of the knot array, this object would have e.g. the grid step size and implement the specialized version of the `_find_interval` (via `np.divmod` or some such). Furthermore, low-order spline basis elements can be hardcoded to be more efficient than the general

[2022-04-29 18:00] jakobjakobson13 commented on #14467
@pv has already put a lot of work in this topic by gh-11345.

[2022-04-29 19:11] dschmitz89 commented on #15994
Sorry for the late answer, busy days here unfortunately. I am not sure what was going on on my system but `%timeit np.atleast_1d((1., ))` actually only takes about 2 micro seconds, so it is probably going to be negligible as you wrote.

[2022-04-29 19:24] ev-br commented on #9591
Apologies for this slipping under the radar @AtsushiSakai . I think your workaround is great!
Maybe the right thing to do is to actually implement your workaround as the strategy for `kind="previous"` and `fill_value="extrapolate"` and change the internal state of the extrapolation switch in the constructor.

A likely similar issue exists for `kind="previous".`

[2022-04-29 19:28] ev-br commented on #6624
Indeed `f(nan)` should be `nan`. The offender is

[code]

I'll send a fix shortly.

[2022-04-29 22:05] #16065 closed

[2022-04-29 23:12] AnirudhDagar opened #16074 "BUG: refguide check fails with `numpydoc==1.3`"
## Problem
numpydoc released [v1.3](https://github.com/numpy/numpydoc/releases/tag/v1.3.0) a few hrs ago.

With this release, as seen in numpy/numpydoc#381 they unpinned the upper version of Jinja2 and now a new RuntimeError is raised asking the numpydoc users to be responsible for pinning Jinja2 in case of unmaintained sphinx versions.

This has now lead to broken Refguide Checks in `refguide_asv

[2022-04-29 23:14] tupui commented on #16074
Or just unpin Sphinx no?

[2022-04-29 23:22] rossbar commented on #16074
Yeah, the at least one of the linked failing azure jobs has the following under the `Install Documentation Dependencies` step: `pip install matplotlib sphinx==3.1 numpydoc`.

If there is a particular reason why sphinx 3.1 is required, then yes you'll have to pin Jinja2<3.1. If however the sphinx==3.1 is not required, then unpinning would also solve the problem.

[2022-04-29 23:34] AnirudhDagar commented on #16074
sphinx is pinned to 3.1, see discussion after https://github.com/scipy/scipy/pull/13389#issuecomment-762365964 where we tried to completely remove the pin. @rgommers might know the exact reason, logs are gone by now.

[2022-04-30 03:09] AnirudhDagar commented on #16054
Do you mean if Debian python used with runtests.py (distutils based build) works without failing? Yes, it does. See `Linux_Python_38_32bit_full` job example.

IIUC, I don't think there is any hack here. This works in runtests.py because it defines `dst_dir` where the build needs to install scipy eg: `/scipy/build/testenv/lib/python3.8/site-packages` and then installs it to the same path.

Meson us

[2022-04-30 04:31] #16074 closed

[2022-04-30 05:36] #14418 closed

[2022-04-30 08:25] #15150 closed

[2022-04-30 08:32] ev-br commented on #14150
So what would be a conclusion here Trever, Ilhan, Pamphille?

[2022-04-30 11:49] ilayn commented on #14150
Unfortunately, this is a structural problem and whatever is going to be implemented will solve some of the cases and leave the rest out. Hence, if there is a sweet spot between performance and convenience, I am OK with whatever the consumers of this tool choose. I laid out a generic linear algebra issue and I don't want to claim that I knew anything about RBFInterpolator when I typed things above.

[2022-04-30 13:34] mdhaber commented on #8057
In-between `integrate` PRs sometime, would exposing `rv_sample` and deprecating that use of `rv_discrete` be something you're interested in doing? I'd be happy to review.

[2022-04-30 13:44] ev-br commented on #8057
@mdhaber yup, ok, am adding it to my todo list

[2022-04-30 14:29] bgyori opened #16079 "BUG: hypergeom.cdf slower in 1.8.0 than 1.7.3"
### Describe your issue.

While using the `fisher_exact` test in a loop on some 2x2 tables, I noticed a significant slowdown between Scipy versions 1.7.3 and 1.8.0 (1.8.0 is about 20x slower than 1.7.3). I narrowed it down to the call to `hypergeom.cdf`, and found a specific set of arguments with which the slowdown can be reproduced (see code example below).

### Reproducing Code Example

[code]

[2022-04-30 15:13] mdhaber commented on #16079
We switched from a custom implementation to using Boost to improve accuracy. One path forward would be to confirm that this is an issue with Boost itself and ask for improvement upstream. Another would be to try to determine when the old implementation would give accurate results and use Boost only when necessary.

[2022-04-30 15:47] kloczek opened #16080 "[BUG] 1.8.0: pytest is failing in 5 units"
### Describe your issue.

Looks lik epytest is failing in few units.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

scipy 1.8.0, python 3.8.13

[2022-04-30 15:48] kloczek commented on #16080
[code]

[2022-04-30 15:55] bgyori commented on #16079
Thanks @mdhaber. I can confirm that on 1.8.0, my example above boils down to:
[code]
and the slowdown is reproducible with this call, so the performance issue is indeed related to Boost.

I also found that the slowdown persists on two different Ubuntu 20.04 systems both running Python 3.8 but on a Mac running Python 3.9, there is a much smaller, ~1.5x slowdown between 1.7.3 and 1.8.0.

[2022-04-30 17:07] tylerjereddy opened #16081 "CI, MAINT: minor refguide failure with stats.describe"
Showing up in unrelated PRs: gh-16078 and gh-16073

Looks like a bit of floating point shenanigans we should be able to massage over one way or another?

[code]

[2022-04-30 17:11] ev-br commented on #9123
Just a quick note @oesteban : N-D splines on regular grids are finally coming to scipy.interpolate in gh-15357. A review or test-drive would be apprecated.

[2022-04-30 17:26] ev-br commented on #16081
As a wild guess, refguide-check does not understand `minmax=(0, 9)` as it probably expects only floating-point numbers in https://github.com/scipy/scipy/blob/main/tools/refguide_check.py#L499

So if there's a regex wiz to express "or a tuple of values" in https://github.com/scipy/scipy/blob/main/tools/refguide_check.py#L507 ?

[2022-04-30 18:44] oesteban commented on #9123
Will have a look next week. Thank you all so much

[2022-04-30 19:50] ev-br commented on #16081
Nope, no need for regex wiz; let's see if gh-16082 agrees

[2022-04-30 20:26] WillTirone commented on #16027
I'll take this one, I'm at PyCon at the moment so I'll work on this over the next few days and at the sprints Mon. / Tues.; still a relative beginner so I'll give it my best shot

[2022-04-30 20:59] #16081 closed

[2022-04-30 21:05] tylerjereddy commented on #16027
Let me know if you get stuck

[2022-04-30 21:40] yungchidanielcho commented on #9119
Hi I joined pycon US mentored sprint and I’d like to provide the documentation for sen_seasonal_slopes function.

[2022-04-30 21:54] ilayn commented on #9119
That's great @yungchidanielcho let us know if you need any help.

[2022-04-30 22:17] tylerjereddy commented on #9119
Although we can't look at R source code because of licensing, I'm pretty sure they don't get a monopoly on the primary literature sources they cite, so those may help a bit, maybe 1 or 2 could be used in the "references" section.

If any of those are of use, but paywalled, let me know and I will try to retrieve it for you.

[2022-05-01 06:07] Kai-Striega commented on #7663
@ev-br I'd be happy to look at this once the issues I'm working on with Matt are done.

[2022-05-01 06:32] ev-br opened #16085 "BUG: `sparse.linalg` docstrings"
### Describe your issue.

Reported by Tyler in https://github.com/scipy/scipy/pull/16082#issuecomment-1114052991:

[code]

The failure seems to be sporadic and/or platform dependent (cannot repro locally).

A few things to check / fix:

- The web docs, https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.bicgstab.html, do not show a docstring example at all
- The source, https:

[2022-05-01 08:41] Kai-Striega opened #16086 "ENH: Add ``opts`` argument to ``dblquad`` and ``tplquad``"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like.

Both ``dblquad`` and ``tplquad`` wrap the underlying function ``nquad``. This function takes an argument ``opts`` to allow the user to fine tune the integration. It should be possible to make ``dblquad`` and ``tplquad`` accept the ``opts`` parameter and pass it to the underlying function.

[2022-05-01 14:29] ev-br commented on #2650
Now that gh-15357 is in, I think this can be declared implemented. Closing, thanks all!

[2022-05-01 14:29] #2650 closed

[2022-05-01 15:15] rohit1998 opened #16087 "ENH: Add scipy.sparse.csgraph.dijkstra to return multiple predecessors in case there are more than one."
### Is your feature request related to a problem? Please describe.

In case a node has two neighbors via which it is connected to source with minimum distance, scipy picks one of them and discards the other. Would be good if we have list of predecessors so one can construct all shortest paths to a node.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've conside

[2022-05-01 15:29] tupui commented on #16080
Hi @kloczek, thanks for reporting. This is not how you build SciPy. Please have a look at our developer documentation: https://scipy.github.io/devdocs/dev/contributor/contributor_toc.html#development-environment

[2022-05-01 18:53] vlad17 opened #16089 "BUG: Locally Optimal Block Preconditioned Conjugate Gradient (LOBPCG) gets worse with perfect preconditioner"
### Describe your issue.

Adding a perfect preconditoiner to the LOBPCG routine results in worse iteration.

Attached is a detailed jupyter notebook which recreates and visualizes this issue. For matrices with both linear and geometric spectrum separation, we notice severely degraded performance for finding the largest eigenvalues, using an ideal preconditioner derived from a cholesky decompositio

[2022-05-01 20:25] lobpcg commented on #16089
The goal of the preconditioner M is to improve the condition number of the matrix M(A - lamba I) where lamba is the seeking eigenvalue and the null space is ignored.
The ideal preconditioner is the pseudo inverse of (A - lamba I).

If A>0 and lambda is the smallest, M=inv(A) is a good preconditioner  compared to the trivial M=I, since lambda is close to zero, informality speaking.

If A>0 and lamb

[2022-05-01 23:02] #5890 closed

[2022-05-01 23:02] #7560 closed

[2022-05-01 23:02] #9524 closed

[2022-05-01 23:13] mdhaber commented on #16086
`quad` accepts all of these as "other parameters" rather than an `opts` argument. Could do that, and then you wouldn't need to do anything about `epsabs` and `epsrel`.

[2022-05-01 23:32] WarrenWeckesser commented on #15961
I can reproduce this on Linux machine, running Python 3.10.1 and a development version of numpy. All of the boost-based ufuncs in `stats` appear to have a problem with `np.float32`.

[code]
With types `np.float64`, the functions work as expected:
[code]

[2022-05-02 00:30] vlad17 commented on #16089
That makes sense! I think I was needlessly carrying over my notion of a preconditioner for unshifted PCG.

In that case, for `k > 1`, we'd presumably want more than one preconditioner, `M(lambda)`, to apply to the corresponding residuals based on the intermediate Ritz eigenvalues, correct?

[2022-05-02 00:30] #16089 closed

[2022-05-02 01:00] lobpcg commented on #16089
Within the block, lambdas may be close enough to ignore the fact that they are different, practically speaking.

[2022-05-02 01:58] #16027 closed

[2022-05-02 05:41] mdhaber commented on #5432
Tracking this in gh-14651 with all the other functions that could use an `axis` argument.

[2022-05-02 05:41] #5432 closed

[2022-05-02 06:33] mdhaber commented on #6575
For the examples I've tried, the statistic calculation matches that of R's `ks.test`, but the p-value (neither exact nor asymptotic) does not.

R's `ks.test` warns "cannot compute exact p-value with ties".
[code]

SciPy p-value agrees with R's p-value when the first entry of `y` is 1.02. When the first entry of `y` is changed to 1.01 (tie), the statistic doesn't change in either software, but the

[2022-05-02 09:17] Kai-Striega commented on #16086
I think it would actually be better to go the other way. That is, to accept a dict and deprecate the use of `epsabs` and `epsrel`.
The values ``nquad`` expects (from the docs) :

This means we would have to accept an iterable for each of the arguments and construct the dictionary used by ``nquad``.

[2022-05-02 13:34] roryyorke commented on #9371
The IIR filter parameters in `decimate` seem to have been chosen to match [Matlab's `decimate`](https://www.mathworks.com/help/signal/ref/decimate.html); the documentation there in turn references a 1979 DSP book.  My guess is the 0.8 is to improve anti-aliasing, and not a mistaken correction factor derived from 2nd order Butterworth filters.

As noted in https://github.com/scipy/scipy/pull/5392,

[2022-05-02 13:40] ivncl opened #16094 "BUG: scipy.spatial.Delaunay in 3D creating intersecting tetrahedra?"
### Describe your issue.

Hi all,

I'm trying to build a Delaunay 3D tetrahedral mesh of a regular grid (2x2x1, cell dimension 8), and I'm obtaining more tetras than expected: I would expect 6*4=24, while 28 are available through `len(dela.simplices)`. The issue seems also evident in figure, especially at the bottom where intersecting edges are present.

What am I missing? Any help appreciated.

#

[2022-05-02 14:10] mdhaber commented on #16086
Ok, going that way is fine with me, too. You can deprecate those keywords and just have whatever is in `opts` override them (and document that).

[2022-05-02 14:45] rkern commented on #16094
When you have coplanar points, it is common to have degenerate simplices in the results, [as noted in the Qhull documentation](http://www.qhull.org/html/qh-optq.htm#Qt) (Qhull is the library underneath `Delaunay`). For this particular problem, you can either omit zero-volume simplices (`abs(np.linalg.det(pts[1:] - pts[0])) < some_eps`) or fiddle with the `qhull_options`. Try just `qhull_options='Q

[2022-05-02 14:57] #6471 closed

[2022-05-02 15:14] ivncl commented on #16094
Perfect. Thank you very much, was sure to be missing something. Closing.

[2022-05-02 15:14] #16094 closed

[2022-05-02 15:36] tupui commented on #16080
Conda not, but the way you are building or testing. See this message for instance:

[code]

[2022-05-02 15:39] Ar-Kareem opened #16097 "ENH: double call for `solve` in each iteration of `BroydenFirst`"
https://github.com/scipy/scipy/blob/2b4b1f088ca8b76cff26c1cd56322486f8c23658/scipy/optimize/_nonlin.py#L889

In the above function, it seems that in the majority of iterations, `solve` (through `self.Gm.matvec(f)`) is being called twice per function call for no reason as I understand it.

Wouldn't the following save time on computation every iteration?

[code]

[2022-05-02 15:41] kloczek opened #16098 "BLD:1.8.0: SciPy is not LTO ready"
### Describe your issue.

Looks like `scipy` last release is not LTO ready and compiler shows a lot LTO related warnings.

### Reproducing Code Example
Regular build with passing in env variables `-flto=auto -flto-partition=none` in $CFLAGS and $CXXFLAGS, and `-flto=auto -flto-partition=none -fuse-linker-plugin` in $LDFLAGS.

### Error message

[code]
`-Wlto-type-mismatch` are caused by mismatched

[2022-05-02 15:41] kloczek commented on #16098
Full stderr log in attachment
[python-scipy-build-log.txt](https://github.com/scipy/scipy/files/8604000/python-scipy-build-log.txt)

[2022-05-02 15:44] tupui commented on #16097
Hi @Ar-Kareem, thank you for reporting. Did you try out your proposal? Are the existing tests passing? How did you came to the conclusion that `solve` was called twice as needed?

Please provide a bit more information.

[2022-05-02 15:55] Ar-Kareem commented on #16097
Sorry for not providing more information,

I am not familiar with scipy. I'm currently working on a paper that deals with Broyden's method and was merely looking at the source code to compare with my own implementation when I noticed this.

I'm 100% sure if the double call is actually useless (maybe under the hood it's doing something), I'll make a pull-request and see if the tests are passing.

[2022-05-03 07:34] #16097 closed

[2022-05-03 10:27] rguenth opened #16102 "Division by zero in pow2Scaled_D"
### Describe your issue.

https://bugzilla.suse.com/show_bug.cgi?id=1199150

When testing scipy on i586 the test_kolmogorov.py::TestSmirnovp::test_oneminusoneovern test fails with a division
by zero.  The above points at

'a' is x = {0, 0}, m is 8 and we run into

    /*
     *  y ^ maxExpt >= 2^{-960}
     *  =>  maxExpt = 960 / log2(y.x[0]) = 708 / log(y.x[0])
     *              = 665/((1-y.x[0

[2022-05-03 10:38] stonebig opened #16103 "ENH: have scipy Wheel for pypy3.8-v7.3.9-win64"
### Is your feature request related to a problem? Please describe.

I don't have a scipy wheel for PyPy, unless I use the cgohlke one, but that requires the gigantic numpy+mkl wheel

Having an official wheel from scipy build for OpenBlas would make things 210Mo smaller (couting on wheel size)

### Describe the solution you'd like.

official wheels from Scipy for PyPy 3.8 (and soon 3.9), on Windows

[2022-05-03 11:35] mdhaber commented on #8191
Since there has been no activity here, I'm not sure that anything needs to be done. I'll go ahead and close this, but let me know if you can suggest changes that would have clarified the behavior.

[2022-05-03 11:35] #8191 closed

[2022-05-03 12:27] mdhaber commented on #10651
There are some distributions, like `rice`, that include additional documentation about parameterization of the distribution.
<img width="434" alt="image" src="https://user-images.githubusercontent.com/6570539/166447579-9818393b-5f94-4275-a8b7-69bd9427abe4.png">

But the suggestion above is not distribution-specific: any `scipy` distribution with finite support (e.g. `powerlaw`) can change the supp

[2022-05-03 12:44] mdhaber commented on #9119
@yungchidanielcho Did you plan on adding the `sen_seasonal_slopes` documentation?

I'm going to go ahead and resolve the link rendering issue so it doesn't slip through the cracks.

[2022-05-03 13:22] larsoner commented on #16052
Agreed that breaking backward compat with ourselves and MATLAB is not great. It seems like the least painful way forward would be to add two more mode names corresponding to the other two modes.

[2022-05-03 14:11] tupui commented on #16103
Hi @stonebig, thank you for reporting. We don't have plans at the moment to distribute again wheels for PyPy.

FYI, SciPy wheels are built on another repo and there is already an issue for that: https://github.com/MacPython/scipy-wheels/issues/87

I will close this one to keep a single discussion.

[2022-05-03 14:11] #16103 closed

[2022-05-03 14:17] #6472 closed

[2022-05-03 15:45] #16038 closed

[2022-05-03 16:28] WarrenWeckesser opened #16110 "Compiler warnings when building highs with gcc 11.2.0."
Building the main branch of scipy (using `dev.py`) with gcc 11.2.0 on a Linux machine results in over 130 compiler warnings when the highs code is compiled.  Note that I don't get these warnings if I build our copy of highs directly with cmake from a separate build directory, so perhaps the scipy build script is using different compiler flags than those used by the highs cmake configuration file.

[2022-05-03 16:43] WarrenWeckesser commented on #16110
For reference:
* https://github.com/rgommers/scipy/issues/120 was an issue about fixing compiler warnings in the meson build.
* In https://github.com/ERGO-Code/HiGHS/pull/681, @Smit-create made a PR to HiGHS to fix one of the warnings, but the HiGHS devs didn't accept it because the warning only occurs with old versions of gcc.  (I haven't looked into why I get this warning with gcc 11.2.0.)

[2022-05-03 18:39] GregStroot opened #16112 "ENH: SuperLU and distributed systems"
### Is your feature request related to a problem? Please describe.

Yes. When using SuperLU on distributed systems, superLU is not able to store the decomposition in a distributed fashion.

E.g. if I have two nodes with 128 gb each and my LU decomposition uses 180gb, the superLU call will fail due to lack of memory. I believe this is because it tries to store the 180gb block on a single node, whic

[2022-05-03 18:58] endolith commented on #16052
Any suggestions? :)

Maybe since `peak` and `notch` behavior aren't consistent with each other, there could be 4 new mode names, with two as backwards-compatibility synonyms?

[2022-05-03 23:58] mfeuerle opened #16113 "BUG: Missing ``matmat`` coverage in ``scipy.sparse.linalg.aslinearoperator``"
### Describe your issue.

When calling ``scipy.sparse.linalg.aslinearoperator`` with an matrix ``A`` that implements all of the methods ``matvec``, ``matmat``, ``rmatvec`` and ``rmatmat`` the resulting ``scipy.sparse.linalg.LinearOperator`` uses the provided methods for ``matvec``, ``rmatvec`` and ``rmatmat`` but not for ``matmat`` where the default implementation is used instead of the user-provi

[2022-05-04 01:11] mfeuerle opened #16114 "ENH: custom method to for ``aslinearoperator``"
### Is your feature request related to a problem? Please describe.

I am writing my own quite complex matrix class. To be able to use some of the ``scipy.sparse.linalg`` methods this class should behave as ``scipy.sparse.linalg.LinearOperator``. There are a few options to achieve this:

1. Subclass ``LinearOperator`` and implement ``_matvec``, ``_matmul`` and ``_adjoint``
2. implement ``matvec``,

[2022-05-04 01:54] #15732 closed

[2022-05-04 02:25] mdhaber commented on #9307
@tirthasheshpatel @tupui @Kai-Striega what do you think? Shall we get the deprecation in before 1.9.0 branches so we can vectorize these consistently?

[2022-05-04 14:42] #14926 closed

[2022-05-04 15:12] tupui commented on #15833
@mberaha do you still have issues there?

[2022-05-04 16:45] tupui commented on #15833
Thank you for the feedback @mberaha. I just tested now and can create from scratch a new pip environment with Python 3.9 and latest SciPy on a M1. Make sure you are using the correct environment (e.g. prefer using `python -m pip install scipy`).

[2022-05-04 18:15] #6624 closed

[2022-05-04 19:13] WarrenWeckesser commented on #15994
A problem with using `atleast_1d` is that it always converts its argument to a numpy array, which could break existing code.  The values passed in as `args` can be arbitrary Python objects; these should be passed through unchanged.

An example where a problem would occur is something like `args=('exact', 2.5)`.  With `atleast_1d`, the number is converted to a string:
[code]

[2022-05-04 20:06] fvanmaele opened #16119 "BUG: `io.mmread` fails to read skew-symmetric real matrix"
### Describe your issue.

`scipy` fails to read a 512x512 skew-symmetric real matrix in MM format. The matrix was generated in MATLAB using [`mmwrite.m`](https://math.nist.gov/MatrixMarket/mmio/matlab/mmiomatlab.html). A symmetric version of the real matrix is read without problems.

`mminfo` for the skew-symmetric matrix:
[code]
for the symmetric matrix:
[code]
Difference between both files:
[cod

[2022-05-04 21:09] Addison-Weatherhead opened #16120 "BUG: nbinom either implemented incorrectly or should return nan when non integers are passed in"
### Describe your issue.

I discovered today that scipy.stats.nbinom.pmf(k, n, p) returns 0 if k=1.6, n=1.3, and p=0.5, as one example. However using the definition of the PMF provided on the documentation and plugging into Desmos (https://www.desmos.com/calculator/sk1krptz8n)
I get ~0.133... Since the negative binomial is a discrete distribution, I think the implementation should either

1) retur

[2022-05-04 23:05] mountaindust opened #16121 "DOC: scipy.interpolate.RegularGridInterpolator and interpn works for rectilinear grids, not just regular grids."
### Issue with current documentation:

The documentation for scipy.interpolate.RegularGridInterpolator describes the class as for "Interpolation on a regular grid in arbitrary dimensions" and there is this statement, "The data must be defined on a regular grid; the grid spacing however may be uneven." Isn't such a grid a rectilinear grid, and not explicitly *not* a regular grid? See [Regular Grid]

[2022-05-05 01:00] mfeuerle opened #16123 "BUG: shape missmatch in iterative linear system solvers"
### Describe your issue.

When calling iterative methods for linear systems from the ``scipy.sparse.linalg`` module (like ``cg`` or ``gmres``) with a right hand side ``b`` of shape ``(N,1)`` the returned solution ``x`` is of the wrong shape ``(N,)``.

I tested for ``cg, cgs`` and ``gmres`` but it most likely affects some other iterative solvers as well.

I've tracked down the error to ``scipy.spar

[2022-05-05 01:39] mdhaber commented on #16120
It may take some time before a mathematician replies, so here is a response that I hope is accurate enough for getting work done.

SciPy considers the domain of the negative binomial distribution to be all reals and the support of the distribution to be the positive integers. You will find that on the positive integers, the values of the PMF returned by SciPy are consistent with formulas you find

[2022-05-05 08:41] mberaha commented on #15833
Then it's a problem on my side... Thanks!

[2022-05-05 08:41] #15833 closed

[2022-05-05 09:03] tupui commented on #16121
Hi @mountaindust, thank you for reporting. Isn't this a duplicate of the discussion we had in #14926?

[2022-05-05 10:49] ev-br commented on #16121
Just to add to what Pamphile said, https://github.com/scipy/scipy/pull/16073 went in yesteday, so the word _rectilinear _ is now live in the dev version of the documentation (to become 1.9.0 when it is released):

http://scipy.github.io/devdocs/reference/generated/scipy.interpolate.RegularGridInterpolator.html#scipy.interpolate.RegularGridInterpolator

If you have a better wording or additions to

[2022-05-05 11:01] ev-br opened #16124 "Magic comments to skip the CI"
### Describe your issue.

It'd be helpful to have magic incantations to skip (parts of the) CI listed somewhere (in the devguide?). Probably best have them listed by the provider --- our current CI has GHA, Azure, CircleCI, and it's not immediately clear how to e.g. skip a battery of 1.5hr test runs for a doc change.

[2022-05-05 12:22] tirthasheshpatel commented on #16124
Documented here: https://scipy.github.io/devdocs/dev/contributor/continuous_integration.html#skipping

![image](https://user-images.githubusercontent.com/43181252/166921889-1137f930-8a6d-49a2-9396-25754bf4b4ac.png)

[2022-05-05 12:27] ev-br commented on #10651
My only comment would be that in some cases we might mention e.g.
https://github.com/phobson/paramnormal for reparametrizations of distributions. But this is distriburion-specific anyway, so need to be addressed on a case-by-case basis. And this has nothing to do with the issue at hand, so I'll stop :-)

[2022-05-05 12:43] #16124 closed

[2022-05-05 12:45] ev-br commented on #16124
Thanks Tirth, this settles it!

The only remaining enhancement request is then to spell out if these comments work if placed in the PR comment not the commit message?

[2022-05-05 13:12] tirthasheshpatel commented on #16124
No, these only work in commit messages. Not sure if it's worth adding them in the PR description since we might want some commits to run the CI and some commit to skip the CI.

[2022-05-05 13:57] mdhaber commented on #10651
Ok. I'll go ahead and close this then. Please reopen if I misunderstood.

[2022-05-05 13:57] #10651 closed

[2022-05-05 15:03] ev-br commented on #16121
For the record, and in my personal opinion, it starts pushing towards the overly rigoristic territory.  A user cannot expect that all Bravais lattices (and its N-D generalizations) are magically supported. However, personal opinions aside, would you be interested in sending a PR e.g. your wording @mountaindust ?

[2022-05-05 15:11] ev-br commented on #15489
Just tried `$ python do.py doc`. Works great!
A minor gripe is that it ends with
[code]
and it took me a while to figure out it's not `scipy/build` (that's meson/ninja stuff) but `scipy/doc/build`. The path relative to `doc/` was natural in the previous workflow, which has `cd doc && make html-scipyorg`, but I'd rather not even remember that that even existed :-).

[2022-05-05 16:27] WarrenWeckesser commented on #15994
I think the essential part of the suggestion to use `atleast_1d` is to automatically wrap a scalar in a tuple of length 1, so something like `args=1` is treated the same as `args=(1,)`.   That's the API enhancement; using `atleast_1d` is an implementation detail.  I don't have a strong opinion about such an enhancement, but if we do take this approach, we could implement  it by wrapping any non-se

[2022-05-05 16:27] Addison-Weatherhead commented on #16120
Thanks for the prompt responses guys!

@mdhaber , out of curiosity, why would you say the function returns nan if p is not in [0, 1]? Is it different because p is a parameter and not a value in the domain of the function? In my mind it should probably be consistent, either it will always return 0 for ill defined inputs/parameters, or always return nans for ill defined inputs/parameters (personally

[2022-05-05 17:06] #11447 closed

[2022-05-05 17:09] josef-pkt commented on #16120
GLM = generalized linear model
the main parameter is the mean (expressed as function of explanatory variables in regression setting)

parameterization is in terms of mean and a dispersion coefficient, similar to https://en.wikipedia.org/wiki/Negative_binomial_distribution#Alternative_parameterizations

the poisson-gamma mixture representation is briefly explained in https://en.wikipedia.org/wiki/N

[2022-05-05 17:11] JDonadee commented on #13480
@feldmeier any updates? I think it would be a super valuable contribution to have this available in SCIPY. Any plans for Highs to do MIQP?

[2022-05-05 17:12] robertmaynard commented on #15996
As discussed in https://github.com/scikit-build/scikit-build/issues/668 and https://github.com/scikit-build/scikit-build/pull/703 the linker script approach invalidates the required function markup to ensure that function level static variables are correctly fused across multiple compilation units.

In general the compile time visibility controls are the safest / correct approach as it allows proj

[2022-05-05 17:42] eli-schwartz commented on #15996
Yeah, if people want the linker script approach they are free to manually define it in their projects, but I wouldn't consider it reasonable to have Meson automatically define one you didn't ask for. Setting the default visibility is a much safer and more moderate approach (which I plan to implement).

[2022-05-05 17:58] josef-pkt commented on #16120
@ev-br

full support for complex would also need to check the shape parameters

Extending to complex might not work correctly, and might require a lot of checking before making it available generically.
e.g. there is a definition of normal distribution for complex random variables (*), but I think it's different from just using it for complex step derivatives.
(*) I looked at it a bit several year

[2022-05-05 20:30] VolodyaCO opened #16127 "BUG: callback defined both in options of scipy.optimize.minimize and in its signature"
### Describe your issue.

The [documentation of version 1.8.0](https://docs.scipy.org/doc/scipy-1.8.0/html-scipyorg/reference/optimize.minimize-lbfgsb.html#optimize-minimize-lbfgsb) says that `callback` is one possible option of the L-BFGS-B solver, but setting that option causes an error :

[code]

Indeed, the [documentation also states](https://docs.scipy.org/doc/scipy-1.8.0/html-scipyorg/refere

[2022-05-05 20:43] #16121 closed

[2022-05-05 23:40] MarcusMNoack commented on #15688
Hi @GregStroot. This is a SuperLU "issue", meaning that it is partly expected behavior because of the structure of the matrices. I am working with the developer of SuperLU on trying different sorting mechanisms. I'll post any results here.

[2022-05-06 02:34] #15854 closed

[2022-05-06 09:06] sina-mansour opened #16129 "ENH: Eigendecomposition using Krylov--Schur Algorithm for Large Eigenproblems"
### Is your feature request related to a problem? Please describe.

Currently, [eigsh](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html) provides an eigendecomposition for real symmetric square matrices using the Restarted Lanczos Method.

However, this approach has some limitations described [here](https://doi.org/10.1137/S0895479800371529). The same link also p

[2022-05-06 09:37] Kai-Striega commented on #9307
I'm +1 on this but, won't have the bandwidth to implement it

[2022-05-06 09:41] tupui commented on #16127
Hi @VolodyaCO, thank you for reporting.

The `options` which can be used for a given solver corresponds to the options which are in `options` for this solver.

E.g. for L-BFGS-B we have:

[code]

Then from `minimize` you can use
[code]

Other parameters, like `callback`, are not in `options`. In your case you want:

[code]

To me it's then a documentation "issue". Do you have a suggestion to impro

[2022-05-06 13:46] VolodyaCO commented on #16127
@tupui thanks for your quick reply. I find it inconsistent that the signature of the documentation page does not have `callback` as an option, but the subsequent description of the options does include it. I think it should be removed:
<img width="754" alt="Screenshot 2022-05-06 at 8 45 52 AM" src="https://user-images.githubusercontent.com/31494271/167145478-0642b591-d08d-4a0c-999d-646910c29389.pn