[2022-02-21 09:33] tupui commented on #15481
@matthew-brett thanks for the insights! So your suggestion is to leave both out correct? Since you authored one of the method, I would fully trust your judgment	on this one.

[2022-02-21 09:34] mdhaber commented on #6416
gh-14651 will reimplement `nan_policy` and masked array support for `kendalltau` in a way that will fix this. For `axis=None` - which is how `kendalltau` works right now - it will have essentially the same performance as in @ev-br's [comment](https://github.com/scipy/scipy/issues/6416#issuecomment-236058503). I added this to the list of related issues in gh-14651, so I'll close this one.

[2022-02-21 09:34] #6416 closed

[2022-02-21 09:44] mdhaber commented on #1420
I don't think there have been other issues reported about the speed of `kendalltau` (except due to a strange bug in the `mstats` version - see gh-6416) in the 10 years since this was opened, so I don't think that's a problem anymore. In any case, if we do need to improve the speed in the future, it would probably be done in Pythran, not Cython.

Performing `kendalltau` based only on a contingency

[2022-02-21 09:44] #1420 closed

[2022-02-21 10:13] matthew-brett commented on #15481
Yes, I would leave both out - I think they are just confusing.   And they are both very easy to calculate.

[2022-02-21 10:18] tupui commented on #15481
Ok then we can close this and the linked PR.

@fkloosterman thank you again for your contribution. I am sorry it did not go through, it happens sometimes (very often). The size and reach of SciPy forces us to discuss in length and be on the conservative side.

[2022-02-21 10:18] #15481 closed

[2022-02-21 17:07] mdhaber opened #15631 "BUG: stats.fit: intermittent failure in doctest"
### Describe your issue.

Refguide check is failing intermittently (e.g. [here](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=16603&view=logs&j=ede89041-5e8e-5201-ce5c-f68c2cbf02dd&t=bf6d2fae-c4b4-5aaf-e29f-d3092465da33)) with the error below.

The fix is probably to move the last example (the one that shows the custom optimizer with fixed `seed`) above the failing test and use it i

[2022-02-21 17:14] #12073 closed

[2022-02-21 22:00] grlee77 opened #15633 "missing fdtridfn"
### Describe your issue.

According to `cdf_wrappers.c` and `_add_docs.py` there should be a function `fdtridfn` which is the inverse of `fdtri` with respect to `dfn`, but this function is not currently available.

This came up in #15622 where the docstrings to these function were edited, but the actual function is not present in the docs or importable in released versions of SciPy.

The cause see

[2022-02-22 02:38] mattslezak-shell commented on #13717
https://github.com/serge-sans-paille/pythran/issues/1964 that gives the setup for both an OpenBLAS installation and an MKL one that works for most simple functions + OpenMP.  Wasn't easy to figure out, but should prove helpful for Windows 10 users.  I did everything I said I'd do and yes, clang-cl produces compatible binaries.  Link.exe or lld-link.exe can both link fine on Windows, although using

[2022-02-22 05:15] ilayn opened #15635 "CI:ASK: Remove LaTeX doc builds?"
In every CI run we are firing up a LaTeX run for a document with more than 3K pages with questionable quality. I think nobody needs that file and for offline needs HTML docs are still a better option. But we waste a significant effort on CI machines for this file both in terms of energy and time. Design wise it's not a special document either and it's kind of an eyesore

Horrifying option of print

[2022-02-22 05:18] mdhaber commented on #15635
I love LaTeX, but it certainly doesn't need to run in every CI job!

[2022-02-22 05:38] swallan opened #15636 "BUG: DOCS incorrect `source` link on docs"
### Describe your issue.

When I click `source` on [mannwhitenyu](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html), <img width="882" alt="Screen Shot 2022-02-21 at 9 34 21 PM" src="https://user-images.githubusercontent.com/44255917/155069433-c894cadc-60c0-488f-8101-6abd9122a6ca.png">

it takes me here, https://github.com/scipy/scipy/blob/b5d8bab88af61d61de0964124

[2022-02-22 06:58] mdhaber commented on #15636
Yes, this is something I've noticed - Sphinx doesn't know how to find the original function to which a decorator was applied. I've meant to figure out some way of telling it where to go manually. @tirthasheshpatel any thoughts?

There are a few other issues I noticed with the `[source]` link:

- It's missing for all the `scipy.stats.sampling` classes.
- It doesn't know what lines distributions cla

[2022-02-22 08:14] NamamiShanker commented on #15617
Hi @mdhaber, do we need to create frozen class objects for these distributions and add the `__call__` function, which will accept the parameters and return a frozen class object?

[2022-02-22 09:47] tupui commented on #15635
Agreed, I am all in for removing LaTeX completely. I am actually working on the doc CI caching and can see it would really be useful.

[2022-02-22 09:56] ilayn commented on #15635
Yes probably some historical reason for including pdf files as images in the compilation though png would have been also a possibility. Maybe someone wanted to keep the vector graphics for the manual. But yes pdf generation is also eating a lot.

I am not sure why but lately I started to feel like our compute footprint is massive. Probably we can improve this situation by extensive download and co

[2022-02-22 10:01] tupui commented on #15635
I am adding some caching here #13917. Hopefully I have something working soon...

If we would want to really reduce our footprint, we could go a different route: manual CI with labels for instance. On my side I would actually prefer this. You could "allow" CI to be run on a PR when some labels are present. You could then add/remove as you go in the PR. Most PRs really don't need to trigger x100 ti

[2022-02-22 10:04] ilayn commented on #15635
Teaching people that or attending to all PRs by maintainers I think becomes a chore very quickly. What I meant more in the line of, if a py file is changed the build shouldn't compile every C and Fortran library from scratch or only that module maybe but not the whole codebase etc.

[2022-02-22 10:15] tupui commented on #15635
We have a bit of that with ccache on some meson jobs. Compile still takes ~3 mins. I don't know meson enough to know if we can do better.

[2022-02-22 10:20] ilayn commented on #15635
Ah, I keep on forgetting the meson part.

[2022-02-22 12:02] rgommers commented on #15635
So yes, we have a significant amount of potential improvements in the pipeline for CI, with Meson but also with reducing jobs (e.g., no longer Pythran yes/no for double the Windows builds after the next Meson release).

I suggest keeping this issue focused on removing LaTex, and pdf docs, completely. I'd be happy to drop it, it's a continuous source of problems (also at release time) and the pdf d

[2022-02-22 16:25] tupui opened #15638 "DEV: `dev.py` missing PYTHONPATH when building doc"
I noticed that the PYTHONPATH was not set when building doc.

I need to do this for it to work
[code]

cc @Smit-create

[2022-02-22 17:25] rgommers commented on #15628
Yes, the prerequisites are:
- NumPy to have `musllinux` wheels
- SciPy having moving to `cibuildwheel`
Then we'll probably add them, provided the extra CI is maintainable enough.

[2022-02-22 17:29] rgommers commented on #15552
Ah, that would be bad. Are you sure though? That would mean that the wheel would be broken for regular use on `x86_64` as well, not just for PyInstaller. And we'd see many more complaints here I imagine.

Can someone with an Intel Mac confirm where the Python 3.9 wheels is importable and passes its tests (`import scipy; scipy.test()`)?

[2022-02-22 17:31] rgommers commented on #15638
So what is broken is `python dev.py --doc`.

[2022-02-22 17:35] mdhaber commented on #15617
Yes, we could follow the example of other distributions.
(Alternatively, we could try to bake this behavior into the superclass.)

[2022-02-22 17:41] tupui commented on #15638
I think it should check if SciPy is importable, if not it should try to add it to the PYTHONPATH. I actually see that other commands don't do this too (although written in the help). This was the behaviour with `runtests.py` no?

[2022-02-22 18:19] astrojuanlu commented on #15635
I understand the sentiment behind this decision. However, some users do want good offline docs for various reasons still these days.

@ilayn you mentioned "offline HTML" in the mailing list. Is there a way to download such a thing as, say, a `.zip` that contains everything? Otherwise, what are the options besides doing `Ctrl+S` for every single page, or building the docs from source?

[2022-02-22 18:20] astrojuanlu commented on #15635
(To clarify: I don't think these minority use cases warrant keeping this frustrating part of the CI. However, it would be useful to articulate some reasonable alternatives, or figure out how someone would get the SciPy docs offline)

[2022-02-22 18:20] seberg commented on #14353
I see a lot of open PRs to use `uarray` in modules (both in scipy and cupy).  Could you explain what the current plan is for moving forward?

[2022-02-22 18:21] tupui commented on #15635
I think this is a question we could/should raise on the theme side. All projects will go to the same thought process and there might be a common ground to find here.

[2022-02-22 19:22] rgommers commented on #15635
Yes, every release has the html docs as a zipped download available, see `HTML+zip` links at https://docs.scipy.org/doc/. You just unzip and go - much higher quality docs than the pdf.

[2022-02-22 19:46] blackPantherOS opened #15639 "BUG: Build error"
### Describe your issue.

Build error

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

Scypy: 1.8,0 Numpy: 1.22.2  Python: 3.11

[2022-02-22 19:57] WarrenWeckesser commented on #15639
This was recently fixed in the main development branch; see https://github.com/scipy/scipy/pull/15466

[2022-02-22 20:17] rgommers commented on #14550
Sorry this fell through the cracks @navengp. I'm pretty sure was fixed recently.

[2022-02-22 20:17] #14550 closed

[2022-02-22 20:19] rgommers commented on #14437
No follow-up and this works fine, so fairly sure this was just some kind of corrupt install issue - closing.

[2022-02-22 20:19] #14437 closed

[2022-02-22 20:24] rgommers commented on #14233
This question fell through the cracks, sorry @szsdk. SciPy is CPU-only so has nothing to do with either OpenACC or NVCC. I'll close this, since it seems irrelevant.

[2022-02-22 20:24] #14233 closed

[2022-02-22 20:29] rgommers commented on #14179
No follow-up, and this is not actionable without a reproducer - so I'll close this issue. @LKChenLK if you can provide a self-contained code snippet to reproduce the problem, we can reopen and investigate.

[2022-02-22 20:29] #14179 closed

[2022-02-22 20:30] rgommers commented on #14097
@ejhyer any chance you can provide a reproducer? This cannot easily be investigated like this.

[2022-02-22 20:32] rgommers commented on #13999
@guyer thank you for the detailed report. This fell through the cracks so far - looks like a bug that needs to be looked at.

[2022-02-22 20:35] rgommers commented on #10502
We've been solving or silencing these as we're encountering them. I don't think this issue is needed still. We're turning warnings into exceptions in CI, so they will be acted on when we see them. So I'll close this.

[2022-02-22 20:35] #10502 closed

[2022-02-22 20:36] rgommers commented on #8855
I haven't seen this ever with a `numpy.distutils` based build, and it certainly won't happen anymore with Meson. Either way, I have recently fixed some Fortran linkage related bugs in `numpy.distutils`, so I'll assume this has been fixed by now. Hence I'll close it - thanks @perimosocordiae and @pv.

[2022-02-22 20:36] #8855 closed

[2022-02-22 20:37] rgommers commented on #9491
This is no longer relevant due to age - things work fine with latest Pytest. So I'll close this - thanks all.

[2022-02-22 20:37] #9491 closed

[2022-02-22 20:38] rgommers commented on #8863
This would be a `numpy.testing` feature, but I don't think this is worth supporting as a special case. Please just unpack the object arrays if you want to test this case.

[2022-02-22 20:38] #8863 closed

[2022-02-22 20:40] rgommers commented on #11137
This looks like a corrupted install. `qr_insert` is a public and tested function, so not a SciPy bug here. I'll close this, thanks all.

[2022-02-22 20:40] #11137 closed

[2022-02-22 20:40] rgommers commented on #8380
The answer here is: please use https://github.com/joblib/threadpoolctl.

I'll close this, since there's nothing to do here. Thanks all.

[2022-02-22 20:40] #8380 closed

[2022-02-22 20:42] rgommers commented on #11145
Agreed, if CSC is preferred then it needs a doc update. Alternatively, the warning isn't justified and needs to be removed.

[2022-02-22 20:44] rgommers commented on #12748
There's a GMRES rewrite in progress. This cannot be investigated as an issue without sample code to reproduce the problem. I'll leave it open for now, but maybe you can recommend an action here (close or follow up) @zhaog6?

[2022-02-22 20:46] rgommers commented on #12820
I'm not sure that there's anything that can be done here, the report is too vague. @DarthMalloc if you have trouble building SciPy, please open a new issue with detailed steps taken, so someone can help you.

[2022-02-22 20:51] rgommers commented on #12598
`optimize.optimize` is now deprecated, and this was a private function.

The action problem seems to be `from scipy import optimize` failing, indicating a corrupted install. So I'll close this issue, since there is nothing to fix.

[2022-02-22 20:51] #12598 closed

[2022-02-22 20:55] rgommers commented on #12671
Part of the issue here will be with OpenBLAS allocating ~30 MB per thread. So on a 32-core machine that'll take about 1 GB. This was improved as much as possible in recent OpenBLAS versions. You can also try to limit the number of threads it uses (https://github.com/xianyi/OpenBLAS#setting-the-number-of-threads-using-environment-variables).

Please reply with what works or doesn't work and the Ope

[2022-02-22 21:01] rgommers commented on #14560
Probably an emulation bug, this code is too simple to actually be broken specifically on PPC I'd think. Let's close it - if someone finds this problem on an actual PPC machine instead of on QEMU please reopen.

[2022-02-22 21:01] #14560 closed

[2022-02-22 21:03] rgommers commented on #14483
No follow-up, closing.

[2022-02-22 21:03] #14483 closed

[2022-02-22 21:06] rgommers commented on #14394
Thanks @paulduf, this is a good observation. This issue has more information, but gh-9827 already has a linked PR and is older. So I will close this issue and cross-link back here from gh-9827.

[2022-02-22 21:07] rgommers commented on #9827
Note that gh-14394 is a duplicate of this issue (now closed) with much more info/discussion on this topic.

[2022-02-22 21:09] rgommers commented on #14290
No follow-up, so I will close this issue.

[2022-02-22 21:09] #14290 closed

[2022-02-22 21:11] rgommers commented on #13261
no content in this issue, closing.

[2022-02-22 21:11] #13261 closed

[2022-02-22 21:14] rgommers commented on #12915
No further follow-up and it doesn't look like this is actionable, so let's close it. Thanks for the discussion all.

[2022-02-22 21:14] #12915 closed

[2022-02-22 21:21] rgommers commented on #12975
This was fixed, `auditwheel` gained an option `--strip`.

Also note that with Meson we now have a proper command-line interface to produce various flavors of debug or release binaries (https://mesonbuild.com/Builtin-options.html#core-options) - configuring with `-Dbuildtype=release` should avoid the need to strip binaries after building them.

[2022-02-22 21:21] #12975 closed

[2022-02-22 21:26] andyfaff commented on #15552
I have an Intel Mac. I created a Python 3.9.10 conda env and installed scipy:
[code]
I then ran:
[code]
The tests pass:
[code]

I then went into the `scipy/.dylibs` directory:
[code]

There are two libgfortrans, one that's targeting x86_64, and one targeting arm64.

[2022-02-22 21:33] andyfaff commented on #15552
So the original error message is technically correct, there is an arm64 dylib (actually libgcc_2 as well) present in the wheel, it's just that it has no effect when in a normal interpreter. I'm guessing because all the symbols are resolved by the other version of the same library.
I don't know how easy it would be to ensure that only one version of libgfortran, with x86_64 and arm64, is bundled. I

[2022-02-22 21:38] rgommers commented on #13452
This still works this way and seems inconsistent. I don't immediately see how gh-12398 answers whether this is intended or not - looks like a bug to me.

[2022-02-22 21:40] rgommers commented on #13147
There is no useful information in here unfortunately; it may be a duplicate of another issue, or already fixed. Since this isn't actionable, I'll close the issue. Thanks for the report though @SamuelePolimi

[2022-02-22 21:40] #13147 closed

[2022-02-22 21:43] rgommers commented on #12854
No further discussion and nothing we can do, so I'll close this issue. Thanks for the report @Qianzujin

[2022-02-22 21:43] #12854 closed

[2022-02-22 23:19] andyfaff commented on #15552
I note that there is a dedicated Intel wheel, `scipy-1.8.0-cp39-cp39-macosx_10_9_x86_64.whl`. That seems to only have the right architectures bundled:

[code]

@danielhrisca, can I recommend that if you want to use scipy in a PyInstaller bundle that you use the `scipy-1.8.0-cp39-cp39-macosx_10_9_x86_64.whl` wheel?

[2022-02-23 02:21] zhaog6 commented on #12748
@rgommers Yes, I am rewriting the restarted GMRES. The original GMRES did use the residual instead of the preconditioned residual.

[2022-02-23 04:12] rgommers commented on #15552
Thanks for that detailed analysis @andyfaff!

That all looks correct, at least in the sense that all the architectures one expects and no extra ones are present for both `universal2` and `x86_64` wheels.

@isuruf implemented this `universal2` support, so may be able to say more.

Right now it looks like the _only_ reason we have `universal2` wheels is PyInstaller, py2app etc., so if that doesn't w

[2022-02-23 04:13] rgommers commented on #15552
@danielhrisca do you really need to build a universal application, or would you be fine building separate Intel and arm64 installers for your users?

[2022-02-23 05:17] rgommers commented on #14353
- Improving the uarray docs so it's clearer what each uarray feature is for and what the cost of not using it is, so it's easier to decide on those things,
- Extract code examples for dispatching on specific functions from PRs (e.g., dev docs examples near the top of the gh-14356 diff),
- Trying to make the various thread across Discourse, SciPy, scikit-image and scikit-learn converge.
- Merge sup

[2022-02-23 05:19] Smit-create commented on #15638
I believe this is the same issue as addressed here: https://github.com/scipy/scipy/pull/15440. We can use the same fix for docs too. That works for me:
[code]

[2022-02-23 05:29] rgommers commented on #15638
That sounds right. Just to make sure @Smit-create, are you saying that it already works for you now, or you have a local fix to make it work?

[2022-02-23 05:30] Smit-create commented on #15638
Yes, that works for me. Opening a PR for this fix.

[2022-02-23 05:35] Smit-create commented on #15638
Yes, that works for me with the same fix as in #15440. Opening a PR for this fix.

[2022-02-23 05:37] blackPantherOS commented on #15639
I will check, thank you and sorry

[2022-02-23 06:20] andyfaff commented on #12306
I think @mdhaber came up with a solution for the OP, and it doesn't look like it's going to be solve this problem in the general case, so closing.

[2022-02-23 06:20] #12306 closed

[2022-02-23 06:29] andyfaff commented on #14394
@rgommers, this issue was a two parter:

1. Why doesn't SLSQP return the multipliers
2. Why are the multipliers that are returned inaccurate.

#9827 addresses the first part and there are two PR attempts to closing that issue (#15641, #9839). However, neither of these address the accuracy part. I'd like to reopen this issue whilst the accuracy is investigated.

[2022-02-23 07:18] rgommers commented on #14394
Thanks @andyfaff, sorry about that.

[2022-02-23 07:42] rgommers commented on #15552
This is actually a duplicate with gh-15539, where these issues were discussed and resolved. PyInstaller issue is on their side it looks like from that conversation. So I'll close this issue.

This question is still of interest.

[2022-02-23 07:42] #15552 closed

[2022-02-23 07:58] danielhrisca commented on #15552
It was not my intention to create an universal application, just to run the build on a macos VM. I guess I'll follow the other issue for a solution. Thanks

[2022-02-23 10:20] nellorebhanuteja opened #15642 "DSPGROUP_TRUESPEECH wav file"
Hi
I am using scipy.io.wavfile.read() method for reading a wav file.
I see that it does not handle DSPGROUP_TRUESPEECH files.

Is there a way i can read it using scipy/python ?!!

[2022-02-23 11:10] blackwer commented on #12748
I've been working with @gokberkkabacaoglu on code that requires our little patch. Since you acknowledge this is an issue, is there anything you still need from us?

[2022-02-23 12:14] jeremyrgreen opened #15643 "BUG: scipy.optimize.minimize discards best line search result"
### Describe your issue.

Minimization methods such as BFGS or CG perform a line search using dcsrch from MINPACK to find a step size that satisfies certain conditions. If this is not found, dcsrch reports a warning and returns the best point found. However, scipy discards this best point. I think it is fine to report convergence failure but the best result should still be returned.

Related issue

[2022-02-23 12:24] rgommers commented on #12748
That's good to hear @blackwer. Maybe you can check PR gh-15149 and see if that already fully addresses your issue? And if not provide a test case and/or suggested algorithmic improvement there?

[2022-02-23 12:52] #15638 closed

[2022-02-23 12:56] tupui commented on #15642
Hi @nellorebhanuteja, thanks for reporting. I am sorry I will have to close this issue. This is not a user forum, I would suggest you to ask your question on StackOverflow using the tag `SciPy` or `Python`.

[2022-02-23 12:56] #15642 closed

[2022-02-23 14:55] #15636 closed

[2022-02-23 17:16] ThijsStockmans opened #15644 "DOC: stats.ks_1samp: incorrect commentary in examples"
### Describe your issue.

The examples in the documentation of scipy.stats.ks_1samp is very unclear:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ks_1samp.html

Whether the H0 should be rejected depends on the pvalue (generally >0.05 means rejected). However, the documentation shows a lot of inconsistencies in this respect. Rejecting at 0.92 and 0.12, not rejecting at 0.25.

[2022-02-23 22:56] andyfaff commented on #14394
The PR in #15641 returns the KKT multipliers, as calculated by SLSQP.
They are much closer to the analytical plot in your first graph.
![PR](https://user-images.githubusercontent.com/702934/155422281-02e3f502-0cd4-4c16-9e75-1c3ce13b1322.png)

@paulduf I'm going to add the first example as a test, but would like to add the sphere and ellipsoidal examples you provided on 6/Dec as extra tests. Can yo

[2022-02-24 00:33] mdhaber commented on #15644
Thanks for reporting @ThijsStockmans. Does https://github.com/scipy/scipy/pull/15646 address this?

[2022-02-24 05:06] NamamiShanker commented on #15617
Okay, can I work on this issue? I can implement frozen classes of these distributions and add tests.

Parallelly, I will think of some way to bake this behaviour into a superclass. Have you thought of something how we could implement this?

[2022-02-24 05:42] mdhaber commented on #15617
Let's start with just freezing individually. And let's start with just one of them. We'll build up some experience and then maybe we can think about generalizing.

[2022-02-24 07:07] tupui commented on #15643
Thanks @jeremyrgreen for the report. Yes it's similar to what we noted in other issues and definitely something we want to consider fixing/improving.

[2022-02-24 07:13] tupui commented on #15631
I am wondering if we should add `seed`, in the end it's an optimizer behind. Users might complain about that even though it can be fixed by supplying your optimizer. What do you think?

Otherwise yes we can simply fix the doc. And for a case without custom optimizer we should have a doctest that cannot fail.

[2022-02-24 07:23] tupui commented on #15576
We can also better explain the codes in the doc. We can have a central page for that.

[2022-02-24 07:28] tupui commented on #15527
Hi @apixandru, thanks for reporting. Did you try the latest release of SciPy? The development version?

[2022-02-24 08:28] zhaog6 commented on #12748
Dear Robert @blackwer , I am glad that we are all focused on this issue. The reimplemented restarted GMRES (PR gh-15149) has been basically completed and it uses preconditioned residual norm as convergence criterion. You can copy the PR code to your local and use the implementation to test your issue.

[2022-02-24 10:01] paulduf commented on #14394
It's not easy to write math on GitHub, so I attached a small pdf to explain the computation. I haven't proof-read it, so please tell me if you find some errors.

[scipy_slsqp_kkt.pdf](https://github.com/scipy/scipy/files/8131501/scipy_slsqp_kkt.pdf)

[2022-02-24 13:00] mdhaber commented on #15631
I am hesitant to add `seed` because there is nothing in `fit` that is stochastic. It just so happens that the default optimizer right now is stochastic, but that is not by preference. My hope is to get a deterministic optimizer in its place. So for now, yeah, let's just change the order to avoid the failure.

[2022-02-24 14:43] matthias-baur opened #15650 "BUG: scipy.special.hyperu(a,b,x) gives wrong values for a close to 0 and b=1, x close to zero"
### Describe your issue.

Hello,

I noticed that the special function hyperu(a,b,x) gives output values that are extremely off for some x close to 0, when a is close to 0 and b=1.
In the code example below, I compared the values with mpmath's hyperu. For a certain interval of input values x the output is off by several magnitudes (in this example the errors appear near x=0.01). I see no such error

[2022-02-24 15:38] matthias-baur commented on #15650
upgraded versions:
1.7.3 1.21.5 sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

don't appear to give correct results either

[2022-02-24 16:29] apixandru commented on #15527
@tupui 1.8.0 still hangs but i'm not sure how to install The development version.

I'm getting
`FileNotFoundError: [Errno 2] No such file or directory: 'scipy/_lib/highs/CMakeLists.txt'`

The `_lib/highs` folder is empty
I tried a bunch of installation methods and haven't had any luck with any
I tried creating a venv from environment.yml and got the above error
I tried installing dependencies then

[2022-02-24 17:40] alexandru-es commented on #15527
yep, it's dead on dev too
[code]

[2022-02-24 17:46] apixandru commented on #15527
@tupui yep, it's dead on dev too
[code]

[2022-02-24 20:13] mdhaber commented on #15644
Let's leave this open even after gh-15646 merges. `kstest` and `ks_1samp` examples could also use a similar lift.

[2022-02-25 03:00] mdhaber commented on #15412
@ahelmstetter any luck or shall we close this?

[2022-02-25 06:55] mdhaber commented on #10096
@JoKeyser I checked the code for `circstd` against Mardia 1972. The definition of `circstd`, including scaling based on `(high-low)/2/pi`, looks equivalent to me. I'll add it as a reference.

[2022-02-25 08:22] NamamiShanker commented on #15617
Hey @mdhaber, I have started on this. I added freezability to ortho_group distribution in #15653.

[2022-02-25 10:06] #15644 closed

[2022-02-25 11:12] bharath2438 opened #15654 "Segmentation fault in test_matfuncs.py"
Hi,

Running runtests.py gives a segfault in scipy/sparse/linalg/tests/test_matfuncs.py.
I built scipy on the scipy-dev env from environment.yml and followed the steps mentioned here [https://scipy.github.io/devdocs/dev/contributor/quickerstart_conda.html](https://scipy.github.io/devdocs/dev/contributor/quickerstart_conda.html)
cc: @rgommers

GDB backtrace:
[code]
build.log:

<details>

[code]

</

[2022-02-25 12:29] HDembinski commented on #15618
Where would be the best place to put `rcont1` and `rcont1` in scipy?

[2022-02-25 13:15] tupui commented on #15618
I am not sure yet if it should be included or not. @mdhaber what do you think?

[2022-02-25 13:24] rgommers commented on #15654
That backtrace and build log are helpful, thanks @bharath2438. Looks like this is https://github.com/xianyi/OpenBLAS/issues/3421, which is specific to OpenBLAS 0.3.18 and fixed in 0.3.19 (https://github.com/xianyi/OpenBLAS/pull/3422).

0.3.19 isn't yet available in conda-forge, but can you confirm that this crash goes away once you install 0.3.17 instead?

[2022-02-25 13:41] JoKeyser commented on #10096
@mdhaber , great to hear, I think this is progress in the right direction.
The secondary issue about `circvar()` can then be adressed elsewhere, e.g. #5747.
I think many users would expect consistency between the `circstd()` and `circvar()` functions.

[2022-02-25 15:24] michaelbynum opened #15657 "Should iterative linear solvers force the right-hand-side array to be an ndarray?"
At lease some of the iterative solvers in SciPy force the right-hand-side (RHS) array to an `ndarray`, even if the original RHS array is a subclass of `ndarray`. Should this be the case?

I am developing some custom matrix and array classes that enable parallel computing on distributed memory machines. The matrix class utilizes SciPy sparse matrices under the hood, and the array class inherits fro

[2022-02-25 15:34] mdhaber commented on #10096
I plan to address that, too.

In this context, I've to seen the word "consistent" used to mean "related by a square root". That is not what you mean, though, right? I planned to do `1-R` in `circvar` if the mailing list is OK with the sudden backyard incompatibly. Nobody has been able to find a reference for the current definition.

[2022-02-25 16:05] bharath2438 commented on #15654
Thanks @rgommers. Installing openblas 0.3.17 did not fix the issue but version 0.3.16 certainly did and all tests ran successfully.

[2022-02-25 16:09] JoKeyser commented on #10096
Sorry for the imprecision. Indeed, with "consistent" I mean "as defined in literature that defines both functions". The `circvar()` definition `1-R` is consistent in that sense.

I think for research contexts, the grounding of implementations in the literature is much more important than (relatively temporary) backwards compatibility. I hope the mailing list agrees.

[2022-02-25 21:01] ari-stat opened #15660 "BUG: winsorize nan policy"
### Describe your issue.

nan handling in winsorize for 'omit' option does not work properly.  It seems to count nans as larger than any number, so if there are other large numbers they may not be winsorized.  In the example below, I have 108 numbers, and winsorizing at 1% level (so max and min should be winsorized).  The max (which is the last number in the array) is unchanged.

### Reproducing C

[2022-02-25 22:33] tupui commented on #15660
Hi @ari-stat, did you try to change the percentages? You might be on the limit as the function is working on percentiles.

[2022-02-25 23:09] mdhaber commented on #15660
I do think there is a problem here. It will be fixed in the course of gh-14651. (The `nan_policy` of every `stats` function is subject to review because most of them have at least some undesirable/unexpected behaviors.) With that in mind, !@ari-stat, do you mind if I close this and add this (closed) issue to the tracker in gh-14651?

[2022-02-25 23:10] rgommers commented on #15654
Great, thanks for confirming! I'll close this issue then, since it's fixed upstream already.

[2022-02-25 23:10] #15654 closed

[2022-02-26 00:55] mdhaber commented on #15631
I decided to mark it `# may vary` and address it explicitly in the commentary.

[2022-02-26 08:16] tupui commented on #15631
I like your solution, thanks!

[2022-02-26 11:09] tupui commented on #15660
Thanks @mdhaber but then let's close it and move to the other PR.

[2022-02-26 11:09] #15660 closed

[2022-02-26 15:16] #15338 closed

[2022-02-26 15:30] chrisb83 commented on #14600
I will close this issue since we do not plan to add further methods for now

[2022-02-26 16:01] steppi commented on #15650
Hi @matthias-baur, thanks for the bug report. I haven't looked into the details yet, but we're aware that there are some problems with the hypergeometric function implementations in `scipy/special/specfun/specfun.f`. Numerical evaluation of hypergeometric functions involves handling a patchwork of special cases.  We're in the process of re-implementing SciPy's hypergeometric functions in Cython on

[2022-02-26 17:42] mdhaber opened #15666 "CI: CircleCI build_docs failure on main"
### Describe your issue.

CircleCI build_docs is failing. The first failure on `main` is after merge of gh-15663.
<details>

[https://app.circleci.com/pipelines/github/scipy/scipy?branch=main&filter=all
](https://app.circleci.com/pipelines/github/scipy/scipy?branch=main&filter=all
)

![image](https://user-images.githubusercontent.com/6570539/155853204-673e8f84-f82e-47d7-9952-93449e43ee53.png)

</d

[2022-02-27 01:11] #15635 closed

[2022-02-27 01:13] tylerjereddy opened #15668 "DOC, REL: reminder to check release process with no-PDF doc workflow"
Mostly a reminder for me to check `paver` commands and `make dist` before the next release process gets busy after the merging of gh-15649. It should simplify things in the long-term to remove the PDF/LaTeX doc build, but it can be hard to predict small errors that crop up in the untested standard release process.

[2022-02-27 01:50] ari-stat commented on #15660
I saw the same issue at other percentiles as well, but using n=100+ and limit=0.01 makes the issue easier to see, because only one data point is winsorized.  Thanks.

[2022-02-27 14:48] matthias-baur commented on #15650
Thanks, that's good to hear! I hope this bug can be sorted out without too much hassle.

[2022-02-27 17:35] bharath2438 opened #15670 "BUG: AssertionError in test__dual_annealing.py in test_bounds_class"
### Describe your issue.

While testing scipy/optimize/tests, I noticed that test_bounds_class in test__dual_annealing.py throws an AssertionError at line 365
`assert_allclose(ret_bounds_class.x, np.arange(-2, 3), atol=1e-8)`.
However, easing the absolute tolerance to say, 1e-7 lets the test pass, although I'm not sure if this is the right thing to do.

### Reproducing Code Example

[code]

### Er

[2022-02-27 19:31] j-bowhay commented on #15246
I think this can be closed gh-15592 changed the docstring to match the implementation and gh-15600 is discussing the current inconsistencies and any possible extensions.

[2022-02-27 19:33] dschmitz89 commented on #15670
Argh, that was introduced only recently. To me `setting atol=1e-7` sounds fine. Wondering why it did not show up in CI. Which OS are you on?

cc @mdhaber : if you agree to loosening the tolerance, I will draft a small PR to fix it.

[2022-02-27 19:53] j-bowhay commented on #15556
@SebastianJHM For the inverse it is just doing a search see https://github.com/scipy/scipy/blob/fa6b307ba4b46a0a7e5f956831a68223cc7a5a39/scipy/special/cdflib/cdfchn.f#L81

[code]

[2022-02-28 01:17] bharath2438 commented on #15670
@dschmitz89 I'm on Ubuntu 20.04.3 LTS

[2022-02-28 06:58] #14604 closed

[2022-02-28 08:06] NamamiShanker commented on #15617
Hey @mdhaber, I have added a PR for `unitary_group` distribution in #15671

[2022-02-28 08:41] AlexKurek opened #15672 "BUG: Crash when compiling against OneAPI MKL"
### Describe your issue.

Im trying to compile Numpy and Scipy master aginst OneAPI MKL inside Singularity (version 3.9.5) container. Numpy comliles, but Scipy crashes.The recipe is pasted below. But it crashes saying:
`FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/src/scipy/scipy/_lib/highs/CMakeLists.txt'`

### Reproducing Code Example

[code]

### Error message

[code]

##

[2022-02-28 09:05] mdhaber commented on #7949
[`scipy.stats.bootstrap`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html) was released with SciPy 1.7.0.

[`scipy.stats.permutation_test`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.permutation_test.html#scipy.stats.permutation_test) is in 1.8.0.

We're also working these into hypothesis test results, but I'll open a separate issue to track pr

[2022-02-28 09:05] #7949 closed

[2022-02-28 09:13] mdhaber commented on #2834
They are excluded from fitting tests, so it sounds like this can be closed.
Distributions with integer parameters can now be fit with `scipy.stats.fit`. There's a tiny bit of code to add to make that work with `ksone`, but I don't think this issue is needed to track it because it's part of a larger effort.

[2022-02-28 09:13] #2834 closed

[2022-02-28 09:23] mdhaber commented on #3291
We still don't have two of the tests listed at the top. But based on some reading, they are not necessarily better than what we do have.

Agreed. If there is a particular test to be added due to it's superiority over existing tests, let's add it. But I'll close this until we identify that test.

[2022-02-28 09:23] #3291 closed

[2022-02-28 09:28] mdhaber commented on #4086
I think this is superseded by gh-14651, which tracks our progress towards consistent `nan_policy` support in stats. Would you agree @tirthasheshpatel?
I'll close this but list it as a related issue in gh-14651.

[2022-02-28 09:28] #4086 closed

[2022-02-28 09:37] mdhaber commented on #9409
gh-14651 tracks progress toward this for all stats functions.

[2022-02-28 09:37] #9409 closed

[2022-02-28 11:33] tupui commented on #15672
Hi @AlexKurek, thanks for reporting. From your recipe I can see that you are missing the submodules initialization. Please do `git submodule update --init` before trying to compile. This should fix your issue.

The information about compiling the dev environment can be found https://scipy.github.io/devdocs/dev/contributor/contributor_toc.html#development-environment

[2022-02-28 11:48] tupui commented on #15666
Just found the source of the problem, it's with references in the doc like `matplotlib.pyplot.triplot`. Maybe they updated their inv file.

[2022-02-28 11:51] #15672 closed

[2022-02-28 11:52] tupui commented on #15672
No worries, thanks for coming back and closing!

[2022-02-28 12:42] #15666 closed

[2022-02-28 13:14] tupui opened #15674 "DOC: remove empty html to reduce size of the artifact"
Looking at one of the output [log](https://circleci.com/api/v1.1/project/github/scipy/scipy/43940/output/105/0?file=true&allocation-id=621b2f40232ef87d924b53fa-0-build%2F77A175BB) of the artifact upload, one can notice that there are lot of entries for lapack and blas. But these pages do not bring any value since they are just wrappers to low level functions. See for example https://docs.scipy.org

[2022-02-28 17:00] ev-br commented on #15674
Would be nice to actually add some docstrings to BLAS/LAPACK functions. That would be quite a job though: starting from netlib sources, one would need to go through all our wrappers and manually adjust signatures for hidden low-level arguments (leading dimensions etc). So maybe not worth the effort, the ROI is too low.

[2022-02-28 17:35] KOLANICH opened #15675 "ENH: `multivariate_normal` should accept eigendecomposition of the covariance matrix (or maybe variances and rotation angles)."
### Is your feature request related to a problem? Please describe.

If we specify the covariance matrix manually, we usually do it in a form of rotation matrix and variances. So running the decomposition internally is redundant and inefficient.

### Describe the solution you'd like.

Internally the covariance matrix should be stored in the decomposed form, so we can alter the components separately

[2022-02-28 17:40] KOLANICH opened #15676 "ENH: Implement `multivariate_normal.fit`"
### Is your feature request related to a problem? Please describe.

`multivariate_normal.fit` is not available, but is trivial to implement.

### Describe the solution you'd like.

Should be available.

### Describe alternatives you've considered.

Doing it yourself. It is inconvenient.

### Additional context (e.g. screenshots, GIFs)

[code]

[2022-02-28 17:49] KOLANICH opened #15677 "ENH: Compute bounding boxes for multivariate distribution"
### Is your feature request related to a problem? Please describe.

For visualization purposes it'd be nice to have built-in function to get bounding boxes in terms of scale parameters. For example for `scipy.stats.multivariate_normal` in terms of count of sigmas aligned to the principal components

### Describe the solution you'd like.

`distribution.get_bounding_box([sigma1, sigma2])`

### Descr

[2022-02-28 18:42] mdhaber commented on #15675
Related: gh-11053

[2022-02-28 18:46] mdhaber commented on #15677
A few questions:
- What is `m`?
- Is this for visualizing the PDF of the distribution?
- Is this different from the desire to have an easy way of computing a "bounding box" (region in which the function is interesting) around any function?

[2022-02-28 18:50] KOLANICH commented on #15677
1. means
2. Yes.
3. Yes. In general for "any function" we have to compute that function. But for distributions we have parameters and from them we can estimate bounding boxes without computing the function in many points.

[2022-02-28 18:56] mdhaber commented on #15676
This sounds reasonable. Multivariate distributions do not have a lot of shared functionality, so I think it's OK if this is only defined for `multivariate_normal` initially.

Not that the univariate `fit` interface is perfect, but it is what we have, so I think the interface of a multivariate `fit` method should be similar. One thing is that it should return a tuple of the resulting location and s

[2022-02-28 19:07] mdhaber commented on #15677
OK. For 3, I understand, but there are many functions other than distribution PDFs that accept parameters from which we could compute bounding boxes without computing the function at many points. Why do multivariate distribution PDFs deserve special treatment?

[2022-02-28 19:56] ilayn commented on #15674
LAPACK funcs actually have some use but as you said it can be smaller if we can find an alternative representations. Because our wrappers are not just wrappers we change the API substantially. Most importantly, chars become ints or bools, e.g., any `job='L'` or `job='N'` becomes `lower=1` or `eigv=0` and so on. Not many customers but still some

[2022-02-28 20:00] tupui commented on #15674
Ok these are good precisions. Not as simple as removing then, but maybe a single html with the correct signature would do instead (so the current listing pages but without links to individual functions).

[2022-03-01 01:02] rmorel opened #15678 "BUG: scipy.stats.skew does not work with scipy.stats.bootstrap"
### Describe your issue.

Using scipy.stats.skew with scipy.stats.bootstrap results in a TypeError exception.

The same code works if you replace scipy.stats.skew with other statistical funcions, like numpy.std or numpy.mean.

A bit of context: I'm trying to use scipy's bootstrap to calculate confidence intervals for a skewness estimate.

### Reproducing Code Example

[code]

### Error message

[c

[2022-03-01 01:04] mdhaber commented on #15678
Thanks for the code. Let me take a look and get back to you shortly.

[2022-03-01 01:10] mdhaber commented on #15678
In the meantime, call `bootstrap` with `vectorized=False`:
[code]

[2022-03-01 01:18] mdhaber commented on #15678
The problems is that `scipy.stats.skew` currently returns a Python `float`, not the `np.float64` that `bootstrap` expects.
Another fix is:
[code]
I'll submit a patch for 1.8.1.

[2022-03-01 01:23] mdhaber commented on #15678
Unfortunately, `skew` is using the idiom:
[code]
to turn 0D arrays into Python floats, whereas I would suggest
[code]
which turns 0D arrays into NumPy floats and leaves other arrays unchanged.

[2022-03-01 02:20] nealmcb opened #15679 "ENH: Accept run-length encoded data as input to functions like scipy.stats.describe()"
### Is your feature request related to a problem? Please describe.

Sometimes we have data in a compact format, and want to be able to efficiently operate on it.
That data could come from a `collections.Counter()` object, or any other source of [run-length-encoded](https://en.wikipedia.org/wiki/Run-length_encoding) (RLE) data.
Currently it would work to "hydrate" the data e.g. via `list(counts.ele

[2022-03-01 08:42] tupui commented on #15679
Hi @nealmcb, this is an interesting idea. But I think it would be quite some work to support. Sure we have a wrapper which is just "unpacking" the data. We would generally leave all data "massaging" to the user. The real benefit I see would be to take advantage during the computations which requires works everywhere. Let see what others think.

[2022-03-01 16:23] mdhaber commented on #15679
I agree. If we really wanted to take advantage of the compressed format (without losing performance when there are no ties) it would probably be like a second package within `stats`. Every function would begin by checking the format of the data and branch algorithms depending on that. SciPy is currently built on top of NumPy, so this would be quite a large increase in scope. Sounds like an opportu

[2022-03-01 16:50] KOLANICH commented on #15677
Do you propose introducing a class for such kind of functions with a method `get_roi_by_integral_threshold` and making distributions a subclass of it?

[2022-03-01 17:20] blackwer commented on #12748
@zhaog6 I was about to test this and it seems you had some issues with deleting your fork. Can you ping me when this is resolved?

[2022-03-01 17:33] KOLANICH commented on #15676
Mean is available as a property of the distribution object, so is covariance matrix.

You have raised the right issue. I'm not even sure it makes any sense to fix the parameters to any value other than true distribution parameter (garbage in - garbage out). So if we assumme that the parameters provided are true, then they are the same we compute ourselves, then there should be no problem to skip t

[2022-03-01 18:27] nealmcb commented on #15679
Thanks - understood. I wanted to at least get a clear description of the notion out there - who knows what other projects may have implemented something like this, or in what contexts it might be useful.

I take it that you mean a [scikit](https://svn.scipy.org/scikits.html) == SciPy Toolkit?

FWIW, I note that that page has a link to http://scikits.appspot.com/scikits which is giving me a failure

[2022-03-01 18:36] tupui commented on #15679
@nealmcb please note that https://svn.scipy.org is unmaintained. https://scipy.org is the new website. We don't maintain anymore such lists as they get easily out of date.

[2022-03-01 19:30] chrisb83 commented on #3291
I agree to close the issue: no need to add the two tests at the moment.

[2022-03-01 20:33] mdhaber commented on #15677
No, I'm wondering whether computation of bounding boxes for multivariate distributions, in particular, falls within SciPy's scope. If so, is computation of bounding boxes in scope for _all_ functions that would benefit from it?

[2022-03-01 20:42] rmorel commented on #15678
@mdhaber thank you very much for the quick answer =)

Both proposed solutions worked just fine (setting vectorized=False or using a helper function).

[2022-03-01 20:48] mdhaber commented on #15678
OK, I'll close this by making `bootstrap` ensure that the output of the `statistic` is a NumPy float or array. Separately, I will open a PR suggesting the replacement of the `.item()` way of converting 0D arrays to (NumPy) floats to  `[()]`.

[2022-03-01 23:00] mdhaber commented on #12506
@tirthasheshpatel

Regarding gh-15586 closing this: technically there are a few other functions that _could_ conceivably have an `alternative` parameter but don't.

`pointbiserialr` it is an alias for `pearsonr`. Shall we just deprecate it?

There are others I'd suggest leaving to a separate effort for various reasons.
* `page_trend_test` is typically used as a one-sided tests, and the other one-s

[2022-03-02 01:54] #15617 closed

[2022-03-02 02:10] fiveseven-lambda opened #15685 "ENH: The exact p-value calculation in `stats.cramervonmises_2samp` can be improved"
### Is your feature request related to a problem? Please describe.

We have `stats.cramervonmises_2samp()` function for the 2-sample Cramér-von Mises test, but the exact p-value calculation takes a long time. The [comment](https://github.com/scipy/scipy/blob/main/scipy/stats/_hypotests.py#L1333-L1337) in the source code says:

In fact, the following code runs in about 3 seconds on my computer (the

[2022-03-02 10:22] #12506 closed

[2022-03-02 11:16] rgommers commented on #15528
I didn't see this till now; +1 for continuing as normal with `1.10`. Beyond some users using incorrect string comparisons causing an issue with `'1.10' > '1.9'` being false (which is a minor thing), I see no reason to not do `1.10.0`.

[2022-03-02 12:49] fiveseven-lambda commented on #15685
Thank you for your advice.

The function `_pval_cvm_2samp_exact()` is called inside `cramervonmises_2samp()` to calculate the exact p-value, and the complete definition of `_pval_cvm_2samp_exact()` is as follows:
[code]

I measured the time to evaluate `_pval_cvm_2samp_exact(s, nx, ny)` where nx = ny = 10 and s = 7000, 7500, 8000 with the following code:
[code]
The result was:
| `s` | 1 | 2 | 3 |

[2022-03-02 13:21] fiveseven-lambda commented on #15685
Thank you for your advice. I am now trying what you said, and the current progress is here:

# Timing the Whole Code
The function `_pval_cvm_2samp_exact()` is called inside `cramervonmises_2samp()` to calculate the exact p-value, and the complete definition of `_pval_cvm_2samp_exact()` is as follows:
[code]

I measured the time it takes to evaluate `_pval_cvm_2samp_exact(s, nx, ny)` where nx = ny

[2022-03-02 13:29] tupui commented on #15685
Thank you for the details @fiveseven-lambda! Note that you would have an easier debugging session using tools like https://github.com/pyutils/line_profiler.

[2022-03-02 13:41] fiveseven-lambda commented on #15685
@tupui Thank you. I didn't know such tools. I will use it since the next comment, though I use the legacy way to time the codes in *this* comment in order to align the conditions as above.

# Trying Cython
Now I try using Cython in the following steps:
1. Copy the definition of `_all_partitions()` `_pval_cvm_2samp_exact()` in a file named `_pval_cvm_2samp_exact.pyx`.
1. Create `setup.py` and write

[2022-03-02 13:56] tupui commented on #15685
If you just copied the functions without edits it will not do much I am afraid. Going to Cython means that you have to re-write the code using C-like syntax. So no use of NumPy functions. If you want to do this, you can try Pythran which has some support for NumPy. We have some examples in stats using Pythran.

[2022-03-02 14:10] fiveseven-lambda commented on #15685
@tupui Thank you. I tried Pythran, but failed:

# Trying Pythran (failed)
I added type hints before the function definitions as:
[code]

[code]

I ran `pythran _pval_cvm_2samp_exact.py`, then I got an error:
[code]

[2022-03-02 14:31] tupui commented on #15685
I suppose it's because of `yield`. I don't think Pythran supports this Python keyword.

[2022-03-02 14:47] fiveseven-lambda commented on #15685
Thank you @tupui. You were right:

# Trying Pythran (successful)
I rewrote the `_pval_cvm_2samp_exact.py` without using `yield`:
[code]
Then `pythran _pval_cvm_2samp_exact.py` and got:
| 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | average |
|--|--|--|--|--|--|--|--|--|--|--|
| 0.031 | 0.030 | 0.030 | 0.031 | 0.031 | 0.032 | 0.031 | 0.030 | 0.031 | 0.030 | 0.031 |

It works! Thank you.

# Another Prob

[2022-03-02 14:53] tupui commented on #15685
Great, thanks for pushing this! It sounds like you have a case to make a PR (this function would fit in `_hypotests_pythran.py`).

For the low value, maybe it was just done for performance reasons. We could do this in 2 steps, do the performance improvement and quick fix the doc, then change the threshold. Or if you find previous PR/issues on this code, maybe they explained the reason why it was s

[2022-03-02 15:13] fiveseven-lambda commented on #15685
I found a conversation in [this PR](https://github.com/scipy/scipy/pull/13263):

It seems that a larger threshold or the more efficient method wasn't just their purpose.

[2022-03-02 15:16] tupui commented on #15685
Ok but then it seems like we can update the value as we want until performance are a concern again. During the review we will ping both Matt and Christoph.

[2022-03-02 15:42] mdhaber commented on #15685
Yes, the current exact calculation is equivalent to `permutation_test`. It is not really worth moving that to Cython. At best, it might allow you to calculate the null distribution with one or two more observations, but the number of permutations grows too quickly as the sample size increases for a constant speedup to help much.

That is the only reason why the threshold was set so low.
Check the

[2022-03-02 16:45] rfezzani commented on #15621
Hello @alisheikholeslam, as advised in #12956, a solution for the reduction of `cKDTree.query_ball_point` memory use is to process your data by chunk. Here is a small refactoring of your sample code
[code]
<details>
<summary>And a script for the evaluation of these different implementations:</summary>

[code]
</details>

<details>
<summary>Here is the result on my system (Intel® Core™ i7-10700K CP

[2022-03-02 16:56] tupui commented on #15685
Ah yes indeed...

[2022-03-02 17:21] tupui commented on #15685
@fiveseven-lambda, I am summarising a small talk we had @mdhaber and I.

Matt makes a good point that the current algorithm is not scalable due to the combination part (I skipped this part too fast). Yes it would still add a small value in terms of speed to migrate this part to Pythran, but at the cost of doing it/review and most importantly maintaining it because it's not pure Python anymore and

[2022-03-02 18:23] smorken opened #15687 "BUG: dok_matrix rank 1"
### Describe your issue.

scipy dok_matrix either incorrectly not support rank 1 matrix, and/or has a misleading error message:

`TypeError: Expected rank <=2 dense array or matrix.`

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.2 1.20.3 sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

[2022-03-02 18:28] ilayn commented on #15687
You need to give an array not an integer as `mat = sparse.dok_matrix([[1]])`

[2022-03-02 18:28] #15687 closed

[2022-03-02 19:39] soma2000-lang commented on #15668
@tylerjereddy  I am working on this

[2022-03-03 01:40] MarcusMNoack opened #15688 "BUG: sparse.splu: Memory Error"
### Describe your issue.

Hi. I have been using scipy.sparse.linalg.splu for sparse LU factorization. I kept running into memory issues with problems that were nowhere near the RAM capacity of the system. After more experimenting, I am quite sure that the error has nothing to do with memory at all. I was able to reproduce the error on 2 different systems, one 128GPs of RAM and the other one 32 GB

[2022-03-03 03:59] fiveseven-lambda commented on #15685
I am reading [the paper](https://www.jstatsoft.org/article/view/v017i08), and I implemented the algorithm 1 in page 6 so far. Further improvement is performed in the following sections.

So the function `_pval_cvm_2samp_exact_new()` defined as
[code]
is pretty fast:
|1|2|3|4|5|6|7|8|9|10|average|
|--|--|--|--|--|--|--|--|--|--|--|
|0.001|0.001|0.001|0.001|0.001|0.001|0.001|0.001|0.001|0.001|0.001|

[2022-03-03 08:12] tupui commented on #15685
Looks like a good start. Does this scale? The data structure `g` seems pretty huge from a quick test.

[2022-03-03 09:07] fiveseven-lambda commented on #15685
The computation time for larger `m` and `n` was as follows:
|`m`|`n`|`s`| time (seconds) |
|--|--|--|--|
| 10 | 10 | 0 | 0.001 |
| 15 | 15 | 0 | 0.011 |
| 20 | 20 | 0 | 0.053 |
| 25 | 25 | 0 | 0.178 |
| 30 | 30 | 0 | 0.476 |

I also counted the total size of the dicts in `g` by adding a line:
[code]
result:
| `m` | `n` | total size of g |
|--|--|--|
| 10 | 10 | 4428 |
| 15 | 15 | 34376 |
| 20 | 20

[2022-03-03 15:07] mdhaber commented on #15688
The example produces the same error on my machine.
I don't get it with
[code]
What's the threshold for you @MarcusMNoack ? If we find that it is system-independent, that would be an additional clue that it should not be lack of available memory.

[2022-03-03 16:05] grlee77 commented on #15596
For historical context, https://github.com/scipy/scipy/pull/11045 is the PR included in SciPy 1.5 where the safe ufunc type signatures for these `bdtr` functions were changed from `iid->d` to `did->d` and the `_legacy_deprecation` was introduced.

Specifically, reasoning for wanting to allow double-valued `k` from a CDF perspective: https://github.com/scipy/scipy/pull/11045#issuecomment-553068782

[2022-03-03 17:32] MarcusMNoack commented on #15688
@mdhaber Thank you so much for reproducing the error. I observed the same thing: sometimes the error would not occur but also no solution is created (after minutes). When looking at the CPU utilization in those cases, it had dropped to close to 0%. I will run more tests today, but there does not seem to be a system-independent threshold. The error first occurred on a 128GB node on a 800 000^2 matr

[2022-03-03 18:52] MarcusMNoack commented on #15688
TEST ON 32GB RAM:
-------------------
N = 10 000 #size of matrix
n = 200 000 #non-zero entries before  res @ res.T

Number of Non-Zero Entries:  3925774
concluded after:  139.06371474266052 (very slow)

-------------------
N = 10 000 #size of matrix
n = 1 000 000 #non-zero entries before  res @ res.T

Total Number of Non-Zero Entries: 62852730
concluded after:  97.27555632591248

-----------------

[2022-03-03 19:02] chrisb83 opened #15689 "BUG: default value of shape parameter in fit method of rv_continuous might not be admissible"
### Describe your issue.

If no guess of the shape parameter is provided to `rv_continuous.fit`, the value of 1.0 is taken as a guess. However, it is not guaranteed that this value is allowed as a shape parameter, e.g., if `_argcheck(1.0)` is True

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.1 1.21.2 sys.version_info(major=3, min

[2022-03-03 19:05] chrisb83 commented on #15689
To explain the root cause, I tried to replicate the behaviour of `fit` in `stats\_distn_infrastructure.py`:

[code]

From the above, it is clear that the optimizer did not converge...

If one specifies a valid guess for a, it works:
[code]

[2022-03-03 19:06] chrisb83 commented on #15689
If we have `ShapeInfo` for all distributions, one could make sure that the guess of the shape parameter is valid

[2022-03-03 19:17] MarcusMNoack commented on #15688
TEST ON 128GB RAM, 32 Cores:
-------------------
N = 10 000 #size of matrix
n = 200 000 #non-zero entries before  res @ res.T

Number of Non-Zero Entries:  3923336
concluded after:  388.0593104362488

-------------------
N = 10 000 #size of matrix
n = 1 000 000 #non-zero entries before  res @ res.T

Total Number of Non-Zero Entries: 62849350
concluded after:  377.8169982433319 (result returned aft

[2022-03-03 20:17] mdhaber commented on #15688
(Just a thought: we want to catch the bug, for sure, but the matrices in these examples are quite dense. Regular `lu` is going to be faster and maybe comparable in terms of memory. Will it work in your actual application?)

[2022-03-03 20:22] MarcusMNoack commented on #15688
In my actual application, the matrices will be (10^6)^2 to (10^7)^2, so a pretty clear no on the normal lu. They will probably a bit more sparse than the above examples.

[2022-03-03 20:30] mdhaber commented on #15688
I see. But the thought is that it's the number of nonzeros that is affecting whether this fails or not. I'm just confirming because I seem to remember a past issue in which the data type of the `indices` or `indptr` mattered, and that (understandably) depended on the raw size of the matrix.

[2022-03-03 20:41] mdhaber commented on #15689
Yup. I [had asked](https://github.com/scipy/scipy/pull/15436#issuecomment-1043892084) whether you'd like me to open PRs for those or whether you'd like to do it and I can review. The advantage of the latter is that it would give others a reason to test `stats.fit` out before 1.9.0 branches.

[2022-03-03 20:50] MarcusMNoack commented on #15688
Usually, I will have to deal with matrices of that size with max about 1e9 non-zeros for the large problems. Those matrices are extremely sparse in general (for example 10^9/10^14 = 10^-5). I am in contact with the creator of SuperLU, those numbers should not lead to any problems.

[2022-03-03 21:49] mdhaber commented on #15688
And I assume you can't use umfpack due to license restrictions?

[2022-03-03 21:58] MarcusMNoack commented on #15688
Yes, that is one reason. Another is that I am running my code on different supercomputers with different module availabilities and permissions. scipy.sparse together with SuperLU has always been available and has performed well so far.

[2022-03-03 23:57] mdhaber commented on #15685
I haven't looked carefully, @fiveseven-lambda, but one thing to think about is whether you can vectorize at least one of those `for` loops.

[2022-03-04 02:34] mdhaber opened #15692 "CI: scipy.scipy (Main refguide_asv_check) failure in main"
CI Failure in main (e.g. gh-15652).

[code]

[2022-03-04 06:23] #15678 closed

[2022-03-04 09:48] rfezzani commented on #15621
I'm sorry, I can't understand this huge performance gap :confused:. My config is:
- Ubuntu 20.04
- conda 4.9.2
- python 3.8.12
- numpy 1.21.2
- scipy 1.7.1

[2022-03-04 14:22] latteprog opened #15696 "DOC: False information in docs - scipy.stats.ttest_1samp"
### Describe your issue.

The documentation page for ttest_1samp provides example code and the results from running that code. However, the results are orders of magnitude off from what I get running the same code, and the results are also wrongly interpreted, saying the high p-value means that the null hypothesis should be rejected.

### Reproducing Code Example

[code]

### Error message

[code]

[2022-03-04 15:03] mdhaber commented on #15696
Yup. This was fixed in gh-15646 and gh-15651. I'll see if we can backport those.

[2022-03-04 15:08] mdhaber commented on #15696
Oops that was ttest. Looks like there are more of these to fix.

[2022-03-04 15:45] latteprog commented on #15696
The seed in the test isn't the issue here. The results on that page is so far off (6.08e-05 vs 0.106), that it is unlikely to have come from the same code. The criterion for rejecting the null hypothesis is a small p-value, which 0.106 isn't.

[2022-03-04 15:49] mdhaber commented on #15696
It is possible there are two issues, but the seed is definitely _an_ issue. If you think there is an inaccurate calculation, please provide an example where the seed or data is provided and the p-value is incorrect.

[2022-03-04 16:17] rkern commented on #15696
Part of the issue is that `scale=10` is just so wide that the p-values for the second test (against 0) is still quite variable over many orders of magnitude. We got _really_ unlucky with that doc-seed. Bumping up the number of samples from 50 to 100 would solve the issue, though, at least for the doc-seed. When people go to replicate it with `rng = np.random.default_rng()`, they will still observe

[2022-03-04 16:29] latteprog commented on #15696
The p-value was the problem. In the 1.6.0 version it seems fine though. At least it's in the right direction.

[2022-03-04 16:35] tupui commented on #15696
@mdhaber for the seed and instructions in the doc, there is gh-13955 in progress and hopefully will be merged soon. It will have this information.

[2022-03-04 16:50] #10096 closed

[2022-03-04 17:02] rkern commented on #15696
To be clear, the calculated p-value for the given `rvs` data was completely correct. By bad, dumb luck, the means of the `rvs` columns were closer to 0 than they were to 5, thus ruining the story we were trying to tell.

[2022-03-04 18:23] lucas-wilkins commented on #4452
I was just trying to write something that needs elliptic functions of the third kind. I take it they're still not implemented in scipy?

[2022-03-04 18:31] arokem commented on #4452
I believe these were added in https://github.com/scipy/scipy/pull/15135 and now available here: https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.elliprj.html

[2022-03-04 20:58] vilmar-hillow opened #15697 "BUG: scipy.stats.ks_2samp behaviour"
### Describe your issue.

I'm working on monitoring data drift for some ML models in production. We plan one using `evidently`, which under the hood uses `ks_2samp` for numeric features. During the tests, I've noticed weird behaviour where similar data returns low P-values where they are expected to be close to 1. I've attached an example using the iris dataset that mimics the data drift monitorin

[2022-03-04 21:11] mdhaber commented on #15697
When you save the data to csv and load it again, the floating point representations are changing slightly. Since KS test depends on orderings, this makes a big difference in the resulting calculation.

[2022-03-04 21:14] #15697 closed

[2022-03-05 01:07] schettino72 opened #15698 "BLD: meson build failure - missing `xsimd.hpp`"
### Describe your issue.

Using `environment_meson.yml`.
Ubuntu: 20.4
python 3.10
Conda: 4.11.0

Build fails with missing `hpp` file
`python dev.py --build-only`

[code]

I noticed the compilation command includes: `-I"${CONDA_PREFIX}"/include/python3.10` but the `xsimd` files are located at `${CONDA_PREFIX}"/include` (notice the path on command  has an extra `python3.10` in path).

### Reproducin

[2022-03-05 01:23] lucas-wilkins commented on #4452
I saw that, I was a bit unsure as whether or not that particular function corresponds is a generalisation of what is often called the incomplete integral of the third kind (denoted Pi), which is a three, not four, parameter function. I can imagine it might be with the right substitutions, but its not obvious.

[2022-03-05 05:21] fiveseven-lambda commented on #15685
Sorry I'm late. The current progress:

# Eliminating floating-point arithmetic
I took seriously that a floating-point error occurs while converting from `u` to `zeta`, although `u` and `zeta` are both integers. So I read the paper and got the right formula for the conversion: `zeta = l ** 2 * N * (6 * u - mn * (4 * mn - 1)) // (6 * mn ** 2)`. The following program checks if it is correct:
[code]
T

[2022-03-05 09:40] #15696 closed

[2022-03-05 15:32] V0lantis commented on #15345
Ill try to have a look at it tomorrow :) Otherwise, don't mind me and go ahead if you think you have the solution

[2022-03-05 16:28] roryyorke commented on #15542
This is a duplicate of gh-11235, and I think was fixed by scipy 1.5; it's certainly fixed in 1.7:

[code]

[2022-03-05 16:34] mdhaber commented on #15679
@nealmcb would you send an email to the [scipy-dev list](https://mail.python.org/mailman3/lists/scipy-dev.python.org/) about this and invite people to this issue for discussion? Then we can make a decision based on wider feedback.

[2022-03-05 16:35] mdhaber commented on #15677
@KOLANICH would you send an email to the [scipy-dev list](https://mail.python.org/mailman3/lists/scipy-dev.python.org/) about this and invite people to this issue for discussion? Then we can make a decision based on wider feedback.

[2022-03-05 16:54] fiveseven-lambda commented on #15685
I have refactored the code. Just replacing `_pval_cvm_2samp_exact()` with this `_pval_cvm_2samp_exact_new()` allows us to raise the threshold to at least 20: `_pval_cvm_2samp_exact_new(146600, 20, 20)` was calculated in 0.005 second.

[code]

[2022-03-05 16:57] mdhaber commented on #15618
Sounds like a multivariate distribution? Many in of them have only `rvs` implemented.
Would you send an email to the [scipy-dev list](https://mail.python.org/mailman3/lists/scipy-dev.python.org/) about this and invite people to this issue for discussion? Then we can make a decision based on wider feedback.

[2022-03-05 17:05] mdhaber commented on #15582
Another one to consider for Boost, @mckib2?

[2022-03-05 17:16] mdhaber commented on #15541
I would consider this closed if we mentioned that other power law type distributions are available, and link to them in "see also". I don't think this warrants overriding the default distribution documentation. That could also be improved, perhaps, but that would be a separate issue.

[2022-03-05 17:21] bharath2438 opened #15700 "BUG: AssertionError in test_propack.py"
### Describe your issue.

Testing scipy/sparse/linalg/tests/test_propack.py throws an error at line 159. This is due to a small deviation from atol which is currently 1.2e-4.
Loosening atol to 1.3e-4 allows the test to pass.
I'm on Ubuntu 20.04.3 LTS.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.0 1.22.2 sys.version_info(major=3,

[2022-03-05 17:45] roryyorke commented on #15537
I can't reproduce your first example:

[code]
Could you please double-check if you can still get your reported result, and, if so, please let us know what version of Scipy, etc., you're using (your original report doesn't include the output of `import sys, scipy, numpy; print(scipy.__version__, numpy.__version__, sys.version_info)`).

I *can* reproduce your second example (continuing Python sessio

[2022-03-05 17:51] nealmcb commented on #15679
Thanks, @mdhaber. It makes sense that the changes would actually involve lower-level (C/Rust/etc) work. Does that imply numpy work, or are there other bits of low-level code in SciPy? Would it make more sense to raise it in some numpy forum?
That said, I don't have a very pressing use case myself. The idea popped into my mind based on what I was running into and reading, so I thought I'd try to ge

[2022-03-05 18:20] mdhaber commented on #15679
Hmm I'm not seeing low-level (C/C++/Fortran) work here, necessarily. Please take a look at the current [`describe`](https://github.com/scipy/scipy/blob/ffbbd1430d0138c494226b3923787b70253bdbeb/scipy/stats/_stats_py.py#L1250) code and maybe then at the functions it calls. Some of them are implemented in low-level languages directly, but `skew` and `kurtosis` are fast enough while being implemented

[2022-03-05 19:45] j-bowhay commented on #15542
Agree with @roryyorke I couldn't replicate this issue. @keithbriggs what version of scipy are you using?

[2022-03-05 20:50] #15692 closed

[2022-03-05 23:39] tupui commented on #15700
Thanks @bharath2438 for reporting. @mdhaber is this fine to bump the tolerance here?

[2022-03-06 01:00] mdhaber commented on #15700
Yes, I think so.

[2022-03-06 03:53] bharath2438 commented on #15700
@mdhaber @tupui will it be ok if I work on this? I would like to make my first contribution.

[2022-03-06 04:17] mdhaber commented on #15700
Yes, please!

[2022-03-06 09:27] keithbriggs commented on #15542
I have since upgraded and the problem has gone away.   I can no longer check what version I was previously using.

[2022-03-06 09:29] dschmitz89 commented on #15700
@bharath2438
As you also reported another assertion error in #15670 , I was wondering which CPU you are on (OS was Ubuntu 20 as I remember). Both these tests routinely pass in scipy's CI.

[2022-03-06 09:39] bharath2438 commented on #15700
@dschmitz89 I'm on AMD Ryzen 5 3500 6 core 3.6 GHz

[2022-03-06 13:24] ilayn opened #15702 "MAINT:linalg: Either silent import NumPy versions or deprecate tril, triu, tri"
This is a reminder for myself which is a part of linalg import clean-up attempts. As Ralf found out all modules are now sphagettified over time importing each other. But also, there are some unnecessary imports across internal module files anyways.

For some historical reason, these still live in `linalg._special_matrices.py` but identical to NumPy functionality. From the top of the file the notic

[2022-03-06 13:27] ilayn commented on #15702
Also it seems like we lost the commit history on the GitHub interface when we underscore'd files. Is there any way to fix that or it's a GH bug?

[2022-03-06 18:23] #15700 closed

[2022-03-06 18:40] j-bowhay commented on #15542
Ok I think this issue can be closed then

[2022-03-07 00:49] h-vetinari commented on #15528
Seeing that there seems to be relatively broad agreement on continuing with `1.x` for the time being, I think this discussion has run its course?

As an immediate outcome, I'd like to propose creating milestones for 1.10 & 1.11 already - in the past we've missed promised deprecations, and having such future milestones would allow us to file and milestone issues for a given action-to-be-taken alrea

[2022-03-07 03:15] tylerjereddy commented on #15528
Ok, I've gone ahead and created those milestones.

I have to admit I tend to focus what volunteer time I have mostly on PRs that are open with a milestone rather than issues, but hopefully others will occasionally scan the milestoned deprecation-removal issues and then open a PR to do the final removal within a few weeks-months of the next release--then I'd be unlikely to miss the PR.

I suppose t

[2022-03-07 03:31] h-vetinari opened #15706 "DEP: remove deprecated parameters from stats distributions"
See #13490
[code]

[code]

[2022-03-07 03:35] h-vetinari opened #15707 "DEPR: remove deprecated linprog-methods"
See #15512
[code]

[2022-03-07 03:36] h-vetinari commented on #15528
Cool thanks! I think this issue can thus be closed.

[2022-03-07 03:36] #15528 closed

[2022-03-07 03:41] h-vetinari commented on #15702
`blame` still works: https://github.com/scipy/scipy/blame/main/scipy/linalg/_special_matrices.py

You can also go to [history](https://github.com/scipy/scipy/commits/main/scipy/linalg/_special_matrices.py) -> oldest [commit](https://github.com/scipy/scipy/commit/6d9ce3a972c65328e19a3624027f8a0af5163745) -> [parent](https://github.com/scipy/scipy/commit/ca5e4f012f2ff847ff64310d81a29d2d06e353f3) ->

[2022-03-07 03:44] h-vetinari commented on #15702
That said, it seems to be a (theoretically unnecessary) limitation of the GH interface that the history does not extend across renames.

[2022-03-07 04:07] #15670 closed

[2022-03-07 05:24] fiveseven-lambda commented on #15685
There was a problem in [the code I wrote 2 day ago](https://github.com/scipy/scipy/issues/15685#issuecomment-1059795982). It uses a 3-dimensional array of size `zeta * (m + 1) * (n + 1)`, but the value of `zeta` can be very large if `lcm(m, n)` is large (see Table 1). On the other hand, [the previous one](https://github.com/scipy/scipy/issues/15685#issuecomment-1057641451) uses `(m + 1) * (n + 1)`

[2022-03-07 07:27] fiveseven-lambda commented on #15685
To use NumPy array, we need a way equivalent to `Counter()`'s `+` operation.
Given 2 array
[code]
and
[code]
we want to merge these and sort:
[code]
(Note that `[50 3]` and `[50 4]` are added to `[50 7]`.)

Is there any way to do this fast?

[2022-03-07 07:45] tupui commented on #15685
I am not sure. Maybe a combination of `np.unique`, `np.argwhere` and summing for the reduction part.

[2022-03-07 07:59] fiveseven-lambda commented on #15685
I've come up with this one, using `np.intersect1d`:
[code]
Does there seem to be a better way? If not, I will use this.

[2022-03-07 09:29] tupui commented on #15685
Did the NumPy code help compared to the other version you had?

[2022-03-07 10:05] fiveseven-lambda commented on #15685
Yes. I compared [the one with cumulative frequency table](https://github.com/scipy/scipy/issues/15685#issuecomment-1059795982), [the one with `collections.Counter`](https://github.com/scipy/scipy/issues/15685#issuecomment-1060207904), and [the one with NumPy array](https://github.com/scipy/scipy/issues/15685#issuecomment-1060361959).
[code]

[2022-03-07 10:46] tstorek commented on #12809
Hello everybody,
is there any news on this? I currently, want to use a Hampel filter for a time series analysis project. It would be great to simply use the implementation from scipy instead of an additional package or implementing it by myself.
Especially, since this issue is very close to the end, right?

[2022-03-07 13:28] #15246 closed

[2022-03-07 13:30] #15542 closed

[2022-03-07 21:36] mattip commented on #13615
FWIW I tried this out on PyPy + windows, and it failed. I opened mesonbuild/meson#10080. Not a blocker, but more of a heads-up.

[2022-03-07 21:39] mattip commented on #15429
This was fixed in [cython 0.29.27](https://docs.cython.org/en/stable/src/changes.html#id3). Please update.

[2022-03-08 03:37] fiveseven-lambda commented on #15685
I am very sorry to create a pull request with a wrong file. My local environment setup had a problem, and I failed to detect the error. I am now retrying to run the tests correctly on my computer, but it may takes a while. I am sorry to bother you.

[2022-03-08 08:14] ghost opened #15711 "BUG: KDTree stops python execution on some inputs"
### Describe your issue.

scipy.spatial.KDTree makes python execution stop only on some inputs.
No error is displayed, but the execution of the script stops at the KDTree line.
I don't know what is the different between the buggy inputs and the not buggy ones.
The only thing I know is that some nan values are present, but usually the KDTree works fine with that.

### Reproducing Code Example

[cod

[2022-03-08 08:16] tupui commented on #15711
Hi @coli-empa, thanks for reporting. Please don't post any zip files as it's a security issue (I removed it). Try to reproduce the issue with an array so we can help.

[2022-03-08 08:27] coli-empa commented on #15711
Hi @tupui , thanks for your answer, I understand the problem.

Here is an array in txt that makes the same bug
`
b = np.array(
    [
        [131.45838555, np.nan],
        [131.56726648, 1.02],
        [131.5676571, 1.02],
        [131.56804772, 1.02],
        [131.56843834, 1.02],
        [131.56882897, 1.02],
        [131.56921959, 1.02],
        [131.56961021, 1.02],
        [131.57000083, 1.0

[2022-03-08 08:37] tupui commented on #15711
I cannot reproduce your issue with your array (both on main and with the released version). Can I ask you on which platform you are?

[2022-03-08 08:38] coli-empa commented on #15711
Windows 10

[2022-03-08 08:40] tupui commented on #15711
Thank you. I will let others help, I don't have a windows machine to debug.

[2022-03-08 08:44] coli-empa commented on #15711
Okay no problem, thanks for trying !

[2022-03-08 10:01] evbernardes opened #15713 "ENH: Change_compute_euler_from_matrix to define the first angle as 0 in case of singularities"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

In its current implementation, _compute_euler_from_matrix checks first whether there is a singularity and then, if any of the two possible singularity cases happen, it sets the third angle to zero.

At least for Proper Euler angles, though, I'd argue this is not (or not always)

[2022-03-08 13:42] tupui commented on #15713
Hi @evbernardes, thanks for reporting. Just to be clear, you would want to have an option in `Rotation.as_euler(...)`? Because the function you are referring to is not part of the public API (not supported) and should not be called externally.

[2022-03-08 13:56] evbernardes commented on #15713
Hey there @tupui! Yes, exactly! I mentioned `_compute_euler_from_matrix` because this is where the singularity checks are done, so the changes would have to be made inside of it, so this option would have to be an argument of `Rotation.as_euler()` that would be used as an argument to `_compute_euler_from_matrix`

[2022-03-08 16:07] jschueller opened #15716 "BUG: ImportError: cannot import name 'MatFile4Reader' from 'scipy.io.matlab"
### Describe your issue.

the following line results in a warning:
`from scipy.io.matlab.mio4 import MatFile4Reader`

[code]

then if I follow this advice I get:
`from scipy.io.matlab import MatFile4Reader`

[code]

### Reproducing Code Example

[code]

### Error message

[code]
[code]

[2022-03-08 16:09] jhelgert opened #15717 "BUG: Missing lagrangian multipliers when using NonlinearConstraints"
### Describe your issue.

[This SO question](https://stackoverflow.com/questions/71394905/how-to-evaluate-the-trust-constr-lagrangian) has brought the following to light: `scipy.optimize.minimize`s 'trust-constr' method doesn't return all Lagrangian multipliers (dual variables) when using (the newer) NonlinearConstraint objects instead of the older dict constraints.

### Reproducing Code Example

[2022-03-08 16:59] tupui commented on #15716
Hi Julien, long time no see 😉

Indeed, the message is wrong. In this particular case, you should use `scipy.io.loadmat` which is behind the seen calling `MatFile4Reader` (or another one).

[2022-03-08 23:24] MarcusMNoack commented on #15688
Any news here @mdhaber ? In the meantime, I figured out that changing the index type to np.intc helps somewhat. Since it is still happening sometimes, I believe the type to only be part of the problem.

[2022-03-08 23:32] mdhaber commented on #15688
I'm not working on this, personally. I gave it the appropriate label, so maybe someone on that side of things will pick it up. However, I don't think we have many maintainers active in this area right now, so it might not be very soon : / Please continue to post what you find, and if you find a solution, a PR would be welcome.

[2022-03-09 00:00] MarcusMNoack commented on #15688
Thank you! I will keep exploring!

[2022-03-09 07:29] mdhaber commented on #2071
This should stay open until the test is corrected. The typo fixed in gh-13167 was noted above, but also noted above is that the test performed is one-sided: it only fails the assertion if the sample variance is too high. The code above fixed the test, but it sounds like it didn't turn into a PR because some distributions failed the test.

A better reference for the intended test is [here](https://

[2022-03-09 08:11] mdhaber commented on #1884
Sounds like this is where `test_cont_fit` came from:
https://github.com/scipy/scipy/commit/f3c73058f769fde0679c377cdf5b3f6754628313

We can't claim to fit all distributions to arbitrary data with default guesses. As a step toward a more reliable solution to the general fitting problem, there is now `stats.fit` (gh-15436), which will make it a bit easier to try different optimizers. Also, there wil

[2022-03-09 08:11] #1884 closed

[2022-03-09 08:13] mdhaber commented on #2178
We'll address this as part of gh-14651.

[2022-03-09 08:13] #2178 closed

[2022-03-09 08:15] mdhaber commented on #2324
We'll address this as part of gh-14651.

[2022-03-09 08:15] #2324 closed

[2022-03-09 08:22] mdhaber commented on #2414
@steppi I noticed your comments in gh-15213. Do you have any suggestions here? Or about gh-13632 (more generally)?

[2022-03-09 09:12] Wrzlprmft commented on #7882
I might want to tackle this problem by using an exact permutation test for small sample sizes (which could also cover ties) and possibly the Edgeworth series for higher sample sizes. A small thing that should definitely be done is making _p_ values at least 1/n!. I have already implemented something similar [here](https://github.com/BPSB/combine-p-values-discrete/blob/4b76b207f2275fccb5c4eca3bac7e

[2022-03-09 09:48] ilayn commented on #15702
I'll check if there is an open ticket in the maintainer feedback group. Otherwise probably someone should have opened an issue about it.

[2022-03-09 10:44] Carreau opened #15719 "BUG: Extra entries in __all__/dir(...)"
### Describe your issue.

It seem like the following entries in `__all__` are extraneous as they don't exists in the corresponding submodules.

This seem to come after the recent 1.8 refactor. It look like the point was to:
either fails is the name is not in `__all__` with a good explanation message,
or have a shim with a warning to change imports.

Unfortunately we end up with the warning and the

[2022-03-09 10:45] Carreau commented on #15719
It's unclear to me in each case if a shim is missing, or the entry should be removed from ``__all__``, otherwise I would have sent a pull-request.

[2022-03-09 11:46] ilayn commented on #15719
Indeed they shouldn't be in that list, at least for linalg parts. Probably we missed them in #15105,

@Smit-create can you please confirm?

[2022-03-09 13:21] maczikasz opened #15720 "Query: Building for python2 on m1 mac"
Hi,

I am assuming that this will be a though ride since python2 support is long gone but maybe it's doable

I am trying to build scipy for python2 on my m1 mac.

I have checked out the `maintenance/0.16.x` branch and trying to install it

The errors come from SuperLU

[code]

It seems that somehow the OpenBLAS functions are not found. I tried to add the openblas location with -L but no luck

Any

[2022-03-09 14:13] mdhaber commented on #7882
You might find `permutation_test` useful here.

[2022-03-09 14:35] tupui commented on #15720
Hi @maczikasz. I am afraid this will never happen from us. As of today, we are only supporting Python >3.8. It just cannot work on previous versions because we use features which are not present in Python version bellow that point.

[2022-03-09 14:35] #15720 closed

[2022-03-09 14:36] Wrzlprmft commented on #7882
Hmm, as far as I can tell, this does not account for numbers that only differ due to numerical noise, which can lead to considerably wrong results for small sample sizes. It certainly happened to my implementation. Without ties, we might avoid that by using an integer statistics like the covariance without normalisation, however, I don’t see this working with ties, when ranks become non-integer.

[2022-03-09 14:48] steppi commented on #2414
For gh-13632, my vote would also be to do the integral check unless there really is a meaningful extension to non-integral parameter values.

[2022-03-09 15:33] mdhaber commented on #7882
In any case here is code for the exact test, adapted from `test_hypotest.py`.

<details>

[code]

</details>

If it sounds good to you, @Garrafao, I'll add a `noise_threshold` (or some other name, to be discussed in the PR) parameter to `permutation_test`, as the idea applies just as well to any statistic.

[2022-03-09 15:41] mdhaber commented on #13632
@tupui It seems OK to remove that there, as it's not really consistent to check only in `_pmf`.

But please also see gh-2414; I'll ping you there, too.

[2022-03-09 15:42] shawnperdue opened #15721 "BUG: scipy.integrate.simps returns NaN when span of x is 0"
### Describe your issue.

Obviously, this is an edge case, but I think it should be handled. Having an array for x with no span (all values are the same), integrate.simpson returns NaN and throws a couple divide by 0 errors from _quadrature. Instead, since integrating over a span of 0 is in fact 0, I think the function should return 0.

### Reproducing Code Example

[code]

### Error message

[cod

[2022-03-09 15:46] mdhaber commented on #2414
Thanks @steppi.

@tupui Since you also replied in gh-13632, I thought I'd bring this one up. Based on @steppi's comments above, what do you think about deprecating calling SciPy's built-in discrete distributions with non-integer values for arguments that are typically integer (unless there is a clearly correct extension to non-integer values already implemented in SciPy)?

[2022-03-09 16:01] josef-pkt commented on #13632
AFAIR (more than 10 years ago),
 rv_discrete has or had code in several places that assumes support on integers.
I tried to use the (xk, pk) rv_discrete for arbitrary points and for equal spaced, but non-integer grid on the real line, and that broke or produced incorrect results in several methods.

So, integer valued  xk is or was a requirement to not get incorrect results in some methods.

(i ha

[2022-03-09 16:23] mdhaber commented on #13632
@josef-pkt Right. In gh-2414 I'm suggesting that we deprecate calling the distributions with non-integer values of arguments that are supposed to be integer. In the future, we could make the result `nan` or raise an error.

[2022-03-09 16:28] KOLANICH commented on #15677
Thanks for the suggestion, but no. I am not subscribed to that list and currently have no plans to subscribe. Could anyone subscribed do it for me?

I think it should be, but only for the ones for which it can be done cheaply.

And not only for visualization. I.e. I also use the boxes for computation purposes.

I also think we should have such functions for univariate too, and not only in terms of

[2022-03-09 16:43] mdhaber commented on #15677
I'm still not convinced that it's within SciPy's scope, so I'd prefer not to. But I'll leave this open for a while in case others are interested. Next month, I'll ping a few stats maintainers to get their thoughts.

[2022-03-09 16:44] KOLANICH commented on #15676
Thanks for the clarification.

Good idea.

[2022-03-09 17:36] melissawm commented on #12633
Ok folks - I am hijacking this issue for a bit but I think this discussion fits here. Currently, this is where you can find building instructions for SciPy:

- Building index: https://scipy.github.io/devdocs/building/index.html
- Building FAQ: https://scipy.github.io/devdocs/building/faq.html

(ordered by workflow)
- pip+venv+meson+linux → [quickstart_pip](https://scipy.github.io/devdocs/dev/contr

[2022-03-09 17:56] ilayn commented on #12633
Oh my. That's an amazing and terrifying list simultaneously. Thanks so much for this @melissawm!

I would throw the following tree idea just to keep the discussion rolling otherwise things get very abstract very quickly.

[code]

We probably won't need `setuptools`  ones very soon as we are trying to unify things.

[2022-03-09 18:54] ev-br commented on #12633
A couple of idle thoughts:

- please don't advertise anything without a virtual environment (pip or conda, no matter)
- maybe simplify the number of pages down to : a very quick start (both pip and conda, two sets of instructions in one page), ending with a dev.py call + a manual build showing meson incantations + a sepate widows page

Note that Mac OS and Linux are actually very similar and for a

[2022-03-09 19:53] stefanv commented on #12633
Agreed with @ev-br's comments. For developers, it may be sufficient to start with the requirement that you are working in a virtualenv (we can teach that elsewhere and point to it).  Then, at least, we only have to deal with two "system" scenarios, one in which you need to install non-Python dependencies manually and the other where they come in via conda-forge.

Emphasizing another point from abo

[2022-03-09 20:08] maczikasz commented on #15720
I understand, but anyway it seems the issue is with SuperLU and M1 macs, since I cannot even build that

[2022-03-09 20:18] rgommers commented on #12633
Thanks @melissawm & all! I agree with most/all of what's being suggested above. One important point I want to add: we should separate environment setup from the actual SciPy build & develop steps. The latter (`git` / `runtests.py` / `dev.py` / `pytest` / ...) are 100% identical across pip/conda and Windows/Linux/macOS. So why do we keep repeating those over and over?

Instead, let's teach the user

[2022-03-09 20:21] ilayn commented on #12633
One detail I am not really sure yet is that if windows user doesn't build openblas the downloaded one might have ABI incompatibilities during the compilation of fortran parts. That **was** the reason of that section. I'm not sure if that still is the case though. If not I agree that is just plain agony to build openblas.

[2022-03-09 20:29] rgommers commented on #12633
That's only true if that user gets their Fortran compiler from some random place. We should be recommending compilers and an OpenBLAS binary that are compatible. If we can do it in CI, then a user can do it as well.

[2022-03-09 20:33] tupui commented on #15720
If you followed the contributor [guide](https://scipy.github.io/devdocs/dev/contributor/quickstart_mac.html#quickstart-mac) and can reproduce with Python >= 3.8, then feel free to open a new issue.

I doubt there is anything here. Some maintainers, including myself, have an M1 and don't have any trouble building from source using our instructions.

[2022-03-09 20:57] Wrzlprmft commented on #7882
For Spearman’s _ρ_, you can only have integer or half-valued ranks (in case of ties). This imposes a clear discretisation of _ρ_ (for a given sample size and ties), which in turn governs the threshold. However, instead of computing how the discretisation affects _ρ,_ it makes more sense to use a different (equivalent) statistics that operates in clear integer steps, namely, the covariance of ranks

[2022-03-09 21:37] melissawm commented on #12633
Absolutely agree :+1:

I have just the thing in mind: https://github.com/executablebooks/sphinx-tabs\

You can see it in action here, for example:

https://napari.org/plugins/guides.html#reader-example

[2022-03-09 21:38] melissawm commented on #12633
Could we make the dev guides lighter and add those gotchas to the FAQ instead? It is almost empty but seems to be the best place for special cases.

[2022-03-09 22:57] h-vetinari opened #15722 "DEP: special.comb: deprecate `exact=True` for non-integers"
Following #15359, where we promise a change of behaviour by scipy 1.11.

* 1.11.0
  * `legacy is not None`:
[code]
* 1.14.0 (due to out-of-band release of 1.13 and waiting for positional deprecation)
  * `legacy` kwarg removed
  * Also deprecate using `exact=True` for non-integer inputs.

[2022-03-09 23:01] h-vetinari commented on #15351
I consider the `comb`-part of this solved by https://github.com/scipy/scipy/pull/15359 - thanks @j-bowhay! - resp. tracked more accurately by https://github.com/scipy/scipy/issues/15722. The factorial pieces have a better home in #15600, so closing this one.

[2022-03-09 23:01] #15351 closed

[2022-03-09 23:06] h-vetinari commented on #6501
This has been tackled by https://github.com/scipy/scipy/pull/15359.

Regarding the factorial functions, the questions of how to deal with the various extensions (e.g. `factorial(-4.3)`) is discussed more comprehensively in #15600, so closing this issue.

[2022-03-09 23:06] #6501 closed

[2022-03-10 06:44] ilayn commented on #12633
I think we could. Back then we had so many issues with different people working with different compilers and also hard time picking the right one depending on how they installed them etc. But I think things are more stabilized now for discovering the right ones so we can be less paranoid in the language.

[2022-03-10 10:56] tagagi opened #15726 "BUG: scipy.sparse.csr_matrix((data, indices, indptr), [shape=(M, N)]) returns different matrices when instantiated by the same attributes"
### Describe your issue.

There are two ways to instantiate a csr_matrix :
1) Defining the variables out of the  csr_matrix() function and instantiating it by passing parameters.
2) Defining the variables just in the csr_matrix() function.

With the same parameters, the matrices obtained in these two different ways are transposed to each other.

### Reproducing Code Example

[code]

### Error mess

[2022-03-10 11:27] rgommers opened #15727 "Test failure for `minimize(..., method=trust-constr)` in 1.9.0.dev0"
I just saw this failure when running the full test suite with `python dev.py -m full` on:
- 64-bit Linux
- conda-forge environment from `environment.yml`
- current `main` at commit 4d66d8132

[code]
It looks new, but no time to dig in more right now.

[2022-03-10 12:17] jschueller commented on #15716
hi, thanks for the answer

[2022-03-10 13:47] perimosocordiae commented on #15726
Your `b` matrix is using CSC format, where `a` is using CSR.

[2022-03-10 13:47] #15726 closed

[2022-03-10 14:39] mdhaber commented on #7882
@Wrzlprmft It's generalized to n-sample statistics. From the documentation:

Note how the example only passes one of the samples in.

[2022-03-10 14:42] Wrzlprmft commented on #7882
Ah, I missed that. I should read the documentation before the code …

[2022-03-10 14:46] mdhaber commented on #7882
NP. Is it possible to vectorize this and add an `axis` parameter (without expensive explicit loops)?

[2022-03-10 15:04] Wrzlprmft commented on #7882
I boiled down the statistics to `np.sum(x*y)`, which should be very much vectorisable. Everything else is permutation-invariant can be computed in advance.

(Mind that for my own module, I can’t make use of `permutations` because I need all possible *p* values. This is mainly of interest for SciPy itself.)

[2022-03-10 15:07] mdhaber commented on #7882
I see. Did you plan on making a PR or just doing some legwork to help someone who wants to submit one? (Also, what is your module for? Just curious.)

[2022-03-10 15:25] mdhaber commented on #3324
I don't think think this will be fixed. 8 years without comment and both `np.matrix` and `mstats` are on their way out.
Would you agree @tirthasheshpatel?

[2022-03-10 15:25] #3324 closed

[2022-03-10 15:29] tirthasheshpatel commented on #3324
Yup, `np.matrix` is long outdated and `mstats` is being replaced by `_axis_nan_policy_factory`. So, +1 for closing such issues.

[2022-03-10 17:26] prehensilecode commented on #15108
- Python 3.10.2 compiled with gcc 9.2.0
- OpenBLAS (dynamic) 0.3.20
- numpy 1.22.3
- scipy 1.8.0 (from the .tar.xz in releases)
- numpy config:
[code]

Test script from https://github.com/scipy/scipy/issues/15108#issuecomment-985738382

Succeeds on all three datatypes: `dt`, `np.complex64`, and `np.complex128`.

[code]

[2022-03-10 21:41] dlshriver opened #15730 "BUG: "terminate called after throwing an instance of 'std::out_of_range'" in linprog"
### Describe your issue.

Running `scipy.optimize.linprog` with `method='highs'` crashes the python interpreter on some inputs.

On a problem I've been working on, `linprog` can occasionally fail, causing the entire python process to abort. This seems like incorrect behavior. This only seems to occur when the method used is "highs", "highs-ds", or "highs-ipm". I've simplified my problem into a muc

[2022-03-10 22:08] mdhaber commented on #3214
@DominicChm I would consider this issue closed if we had a benchmark that would [track ](https://asv.readthedocs.io/en/stable/writing_benchmarks.html#tracking-generic)the error of ppf-cdf roundtrip calculations. In this case, a benchmark would be preferable to a unit test because it's not a matter of passing/failing; we're interested in improvement over time. Could you modify (or copy, if need be)

[2022-03-10 22:17] mdhaber commented on #3890
@steppi I imagined (then saw) that you might be interested in `hyp2f1`, so I thought I'd mention this issue. Do you think `hyp2f1` is in good enough shape now that it would make sense to implement `cdf`/`sf` methods based on it?

[2022-03-10 22:39] mdhaber commented on #7689
There's a little more detail here than related issues, so those will be closed, but let's keep the following in mind when addressing this:

- gh-6005
- gh-13171
- gh-14885

[2022-03-10 22:39] mdhaber commented on #6005
Let's lump this into gh-7689.

[2022-03-10 22:39] #6005 closed

[2022-03-10 23:24] mdhaber commented on #15730
Can you give more information about your machine? I cannot reproduce this.

I can't remember whether it matters, but try specifying bounds with `None` as a list of lists (instead of array) with `-np.inf` replaced with `None`.

@mckib2 any thoughts?

[2022-03-10 23:33] h-vetinari commented on #15528
While looking for deprecation warnings, I just noticed that https://github.com/scipy/scipy/pull/14919 promises the removal of several public modules by 2.0.0. I think that's compatible with the discussion we had above, but just wanted to call attention to it. I'll add it to the 2.0 wiki.

[2022-03-10 23:48] h-vetinari opened #15731 "DEPR: execute deprecation for non-integer arguments in bdt{r,rc,ri}()"
#11045 contained a still-extant [announcement](https://github.com/scipy/scipy/blob/v1.8.0/scipy/special/_legacy.pxd#L41-L43) of removal of deprecated functionality by 1.7; let's do it for 1.9 at least.

CC @rlucas7

[2022-03-10 23:51] h-vetinari opened #15732 "DEP: execute deprecation of inexact indices into sparse matrices"
It's been deprecated for 5 years, since #7864

CC @perimosocordiae

[2022-03-10 23:54] h-vetinari opened #15733 "DEP: remove quiet parameter from fitpack"
It's been deprecated for over 7 years, see https://github.com/scipy/scipy/pull/4003.

[2022-03-10 23:59] h-vetinari opened #15734 "DEP: deal with deprecation of ndim >1 in bspline"
Since https://github.com/scipy/scipy/commit/0131d72f0f7a5c13f00961aea054094b2b78f071 from https://github.com/scipy/scipy/pull/3174, there's a warning that says
[code]

It _does_ raise a `DeprecationWarning` (and for over 5 years, at that), but the message text is a bit soft. Either we should sharpen the deprecation warning to schedule removal in 1.10 / 1.11, or simply remove it for 1.9.

CC @ev-br

[2022-03-11 00:05] h-vetinari opened #15735 "DEP: add actual DeprecationWarning for sym_pos-keyword of scipy.linalg.solve"
Since https://github.com/scipy/scipy/pull/6775, the `sym_pos` keyword to `scipy.linalg.solve` has been deprecated through documentation only. We should raise an explicit warning so that it can be removed in the future.

[2022-03-11 00:07] h-vetinari opened #15736 "DEP: Remove `debug` keyword from `scipy.linalg.solve_*`"
Has been deprecated since https://github.com/scipy/scipy/pull/6948, for over 5 years.

[2022-03-11 00:13] h-vetinari opened #15737 "DEP: Execute deprecation of pinv2"
From #13831. That PR does not specify a specific removal date, so I think we could sharpen the warnings to indicate removal by 1.10/1.11; on the other hands, two releases between deprecation and removal is also common practice, so would be an option as well IMO. In either case, there's something actionable for 1.9, hence the milestone.

CC @ilayn

[2022-03-11 00:18] h-vetinari opened #15738 "DEP: change default of atol in `scipy.sparse.linalg.*`"
https://github.com/scipy/scipy/pull/8400 promised to change the default of `atol` in `scipy.sparse.linalg.gcrotmk` and has been raising a DeprecationWarning for 4 years. Let's do what needs to be changed to get rid of the warning.

CC @pv

[2022-03-11 00:20] steppi commented on #3890
Not yet. So far I've only touched the implementation for complex `z` and even there I haven't implemented the recurrences yet that let it work well with large arguments.

That being said, the special cases of  `hyp2f1` appearing in the incomplete beta function are better handled with a more specialized continued fraction expansion. I have an implementation in one of [my own projects](https://githu

[2022-03-11 00:23] h-vetinari opened #15739 "DEP: raise on >1-dim inputs for optimize.minimize"
This comes from #15297, which only landed for 1.9. Currently the message of the deprecation warning is a bit soft:
[code]

Can we sharpen this to say that an error _will_ be raised in version X? (1.11? 1.12?)

CC @mdhaber

[2022-03-11 00:26] h-vetinari opened #15740 "DEP: Execute deprecation for squeezing input vectors in spatial.distance"
Since #13774, with removal (resp. a raised error) promised for 1.9

[2022-03-11 00:29] h-vetinari opened #15741 "DEP: remove spatial.distance.matching"
It's been deprecated since https://github.com/scipy/scipy/pull/7630

[2022-03-11 00:31] h-vetinari commented on #15738
Actually, this [applies](https://github.com/scipy/scipy/blame/v1.8.0/scipy/sparse/linalg/_isolve/iterative.py#L95-L102) to many more functions in `scipy.sparse.linalg`.

[2022-03-11 00:36] h-vetinari opened #15742 "DEP: raise if fillvalue cannot be cast to output type in `signal.convolve2d`"
Deprecated since #7609, where the changelog said:

dtypes of the input arrays in the future and checked that it is a scalar or
an array with a single element.

Over 5 years later, the future has arrived.

[2022-03-11 00:38] h-vetinari opened #15743 "DEP: enforce radius for `spatial.SphericalVoronoi`"
Deprecated since #10494

[2022-03-11 00:41] h-vetinari opened #15744 "DEP: remove dual_annealing argument 'local_search_options'"
Deprecated since https://github.com/scipy/scipy/pull/13392 (though the warning doesn't specify a clear removal date):
[code]
I think this would be eligible for removal in 1.10 (or 1.11?); we should sharpen the warning for 1.9.

CC @andyfaff

[2022-03-11 00:45] h-vetinari opened #15745 "DEP: remove signal.windows.hanning"
Deprecated since #8148

CC @endolith

[2022-03-11 00:47] h-vetinari opened #15746 "DEP: remove k=None from KDTree.query"
Deprecated since https://github.com/scipy/scipy/pull/12382, contains still-extant announcement of removal in 1.8

[2022-03-11 00:51] h-vetinari opened #15747 "DEP: stats: remove support for `_rvs` without `size` parameter"
Use without `size` was deprecated in #11394.

[2022-03-11 00:59] h-vetinari opened #15748 "DEP: extradoc in _distn_infrastructure"
It's been 10 years since extradoc has been deprecated, although in documentation only: https://github.com/scipy/scipy/commit/eb90ace863f0538dcacb67bcf246918037dc298b, see https://github.com/scipy/scipy/blob/v1.8.0/scipy/stats/_distn_infrastructure.py#L1564-L1567 for current location.

Should we add a warning? Just remove the documentation that it's deprecated?

[2022-03-11 01:03] h-vetinari opened #15749 "DEP: remove tol from `NumericalInverseHermite`"
Deprecated in https://github.com/scipy/scipy/pull/14703, warning does not [mention](https://github.com/scipy/scipy/blob/v1.8.0/scipy/stats/_unuran/unuran_wrapper.pyx.templ#L1717-L1719) a timeframe. Maybe the warning should be sharpened? Tentatively adding to 1.10 milestone.

CC @tirthasheshpatel

[2022-03-11 01:05] h-vetinari opened #15750 "DEP: remove `n_jobs` from kdtree"
Deprecated in https://github.com/scipy/scipy/pull/12788, with still-extant announcement of removal in 1.8.

CC @peterbell10

[2022-03-11 01:07] h-vetinari opened #15751 "DEP: remove ftol/xtol from neldermead"
Deprecated in #5939

[2022-03-11 01:10] h-vetinari opened #15752 "DEP: remove right keyword from interpolate.extend"
Deprecated since #6315

[2022-03-11 01:11] h-vetinari opened #15753 "DEP: remove `_ppform`"
Deprecated since #7870

[2022-03-11 01:12] h-vetinari opened #15754 "DEP: Remove mlab mode from dendrogram"
Never implemented, deprecated since #6643.

[2022-03-11 01:14] h-vetinari opened #15755 "DEP: absorb lsim2 into lsim"
Non-uniform timestamps have been deprecated since #4675

[2022-03-11 01:15] h-vetinari opened #15756 "DEP: remove non-numeric array support in stats.mode"
From #15573, promised removal for 1.11

[2022-03-11 01:20] cosama commented on #13170
I know this is an old issue, but I just run into a issue related to it when I tried to figure out which of the scipy function to use with opencv.

My little tests show that `cv2.Rodrigues` is identical to `from_rotvec` and `as_rotvec`:

[code]

Which prints:
[code]

Looks to me like the function works as expected, although I think it might make sense to add a note to the documentation regarding wh

[2022-03-11 01:22] h-vetinari opened #15757 "DEP: docstring-related deprecations"
#9652 deprecated all methods in https://github.com/scipy/scipy/blame/main/scipy/misc/_doccer.py

[2022-03-11 01:24] h-vetinari opened #15758 "DEP: remove LAPACK *gegv functions"
Deprecated since https://github.com/scipy/scipy/pull/5576, specifically https://github.com/scipy/scipy/commit/2b0a48c26a9a093a7da21f15ca7ada284ebcd5b1

[2022-03-11 01:25] h-vetinari opened #15759 "DEP: remove old BSR methods"
Deprecated since #6838

[2022-03-11 01:27] h-vetinari opened #15760 "DEP: remove py_vq2"
Deprecated since #7234

[2022-03-11 01:30] h-vetinari opened #15761 "DEPR: remove stats.itemfreq"
Deprecated since https://github.com/scipy/scipy/pull/8690

[2022-03-11 01:32] h-vetinari opened #15762 "DEPR: remove stats.median_absolute_deviation"
Deprecated in https://github.com/scipy/scipy/pull/11431

[2022-03-11 01:37] mckib2 commented on #15730
I am reproducing on Ubuntu 20.04 building from Meson.  I'll see if I can pinpoint the issue

[2022-03-11 01:56] tirthasheshpatel commented on #15749
Thanks for noticing @h-vetinari!

There is a (huge) cleanup pending for UNU.RAN. I am working on that (PR coming soon) and will include this as a part of the cleanup.

[2022-03-11 02:07] tirthasheshpatel commented on #15749
There are two more deprecations in stats module:

- `max_intervals` keyword for the `NumericalInverseHermite` method has been deprecated and will be removed in 1.10.0.
- `NumericalInverseHermite` method has been deprecated from the `scipy.stats` namespace and shifted to `scipy.stats.sampling`

Since there could be more of these in the future, an issue for each seems a bit too much (maybe start an

[2022-03-11 02:16] mdhaber commented on #3890
I see. Speaking of Boost, is there anything there that could be used? It's relatively easy to add boost stuff to SciPy now.

[2022-03-11 02:18] mckib2 commented on #15730
Okay -- after re-evaluating my setup, looks like I was pulling from an old version of scipy I had installed and that was reproducing the above bug.  After I blew that away and rebuilt on current main, I am no longer able to reproduce.

The HiGHS submodule was updated this past Feb 9, but the last commit to the [1.8.x release branch](https://github.com/scipy/scipy/tree/maintenance/1.8.x) I see is F

[2022-03-11 02:25] mdhaber commented on #15730
@mckib2 is it simple to backport the HiGHS submodule update to a bug-fix release, or was the update with a lot of major changes?

[2022-03-11 03:10] mckib2 commented on #11777
Yes, I can do this.  I just submitted gh-15763 and I'm afraid of merge conflicts as I'll be touching same files/same lines for `nxc2`.  I'll wait for that one to merge before I begin work on this one

[2022-03-11 03:13] mckib2 commented on #2877
Please try with Boost-provided `ncf`: gh-15763.  Would be interested to know if that error goes away or we need to replace some usage of the legacy `ncf` functions somewhere else

[2022-03-11 03:33] steppi commented on #3890
I just checked, and yes actually. Boost has an implementation of the unregularized incomplete beta function. See [here](https://www.boost.org/doc/libs/1_78_0/libs/math/doc/html/math_toolkit/sf_beta/ibeta_function.html).

[2022-03-11 03:48] NeilGirdhar commented on #7689
@mdhaber Thanks for collecting the duplicates.  I've renamed the issue.

[2022-03-11 04:10] mckib2 commented on #15730
@mdhaber  I think it might just be gh-15561 with a submodule update, so it should be easy to back-port

[2022-03-11 04:58] h-vetinari commented on #15749
That's exactly what I was doing when I got called away. 😅
I think it'd be good to have one for discussions about deprecation policy generally.

I'm fine with grouping things into issues where they make sense, but I don't think too coarse issues help, and the wiki isn't visible enough for my taste. IMO these issues need to be milestoned (i.e. where people look regularly), and tagged - where appropr

[2022-03-11 05:08] mdhaber commented on #15730
Thanks, I added the backport-candidate label.

[2022-03-11 05:18] mdhaber commented on #2877
[code]
Also no more `quadpack` error in `scipy/stats/tests/test_continuous_basic.py::test_cont_basic[500-200-ncf-arg74`. LGTM.

[2022-03-11 05:31] h-vetinari commented on #15600
Since it would be good if we can do this at the same time with the changes in `comb`, I'm tentatively milestoning this for 1.9.

[2022-03-11 05:42] mdhaber commented on #2877
The skewness and kurtosis were garbage before, too. In main:
[code]

Now:
[code]

Wolfram alpha says that kurtosis is indeterminate if `dfd` is <=8.
![image](https://user-images.githubusercontent.com/6570539/157809255-0e61e173-9af9-4516-b85c-edf4586a46de.png)
so the `nan` above seems appropriate.

[2022-03-11 05:46] #2877 closed

[2022-03-11 05:47] h-vetinari opened #15764 "DEP: remove object arrays in sparse matrices"
A warning (not explicitly a `DeprecationWarning`) was added in #2719 for #2528; current usage [here](https://github.com/scipy/scipy/blob/v1.8.0/scipy/sparse/_sputils.py#L114).

[2022-03-11 05:51] mdhaber commented on #11777
All clear!

[2022-03-11 05:59] h-vetinari commented on #4818
[Status](https://numpy.org/devdocs/reference/generated/numpy.linalg.qr.html) numpy 1.22:
[code]
[Status](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.qr.html) scipy 1.8:
[code]

[2022-03-11 06:16] mdhaber commented on #15739
That is fine with me.

[2022-03-11 06:27] h-vetinari commented on #15596
I unintentionally duplicated this issue in https://github.com/scipy/scipy/issues/15731 - my opinion was that since the warning explicitly [announces](https://github.com/scipy/scipy/blob/v1.8.0/scipy/special/_legacy.pxd#L41-L43) removal by 1.7, we could directly do this in 1.9.

[2022-03-11 06:29] h-vetinari opened #15765 "META: deprecation tracker"
### _Please edit this tracker as necessary_

Apologies for bombing the issue tracker with lots of outstanding deprecations, but it felt like some necessary housekeeping. 🙃

Below a list of deprecations by kind and scipy release. Ideally - in my opinion at least (and this is what I propose to use this issue for) - all _**deprecations should come with an announced behaviour change, and with an annou

[2022-03-11 06:37] mdhaber commented on #15582
Actually we only fixed this for `stats`, though. It should probably be fixed for special.

[2022-03-11 06:39] mdhaber commented on #3890
@mckib2 Are these easy to include, too?

[2022-03-11 09:27] rgommers commented on #15528
Yes, that just meant "not in 2 releases, we're leaving it in for longer"

[2022-03-11 10:13] tupui commented on #15765
Hi @h-vetinari, thanks for compiling this list! I would not have created issues for all of them, but kept a list and use GH's features to then create/link PRs when something is on the way. This to prevent spamming people following the repo.

[2022-03-11 10:18] tupui commented on #2414
If only calling integers simplifies things on our side, I am fine with it. I used a lot discrete distributions with non integers values for modelling, but I could have used a mapping if SciPy was only dealing with integers.

[2022-03-11 11:05] jtlz2 commented on #12975
I'm now stuck because I require > 1.5.2 to use scipy on macOS Monterey / M1 / ARM chips. Is the only solution to build 1.5.2 from scratch under ARM? :/

[2022-03-11 11:10] rgommers commented on #12975
@jtlz2 not sure what you are commenting on, but it's very likely not this issue. There are M1 binaries for recent releases on both PyPI and conda-forge. If you have a problem with those or with building from source, please open a new issue (feel free to Cc me).

[2022-03-11 11:13] h-vetinari commented on #15765
Understood, though I think text in an issue somewhere quickly gets forgotten (and discussing individual cases in a meta/mega-tracker quickly gets impossible to follow).

OTOH, if it's an issue in a milestone, many more people will look at it, with a much higher chance that it gets done (also, we can set "good first issue" labels!). I'm sorry about the spam; at least it should be (have been) a one-

[2022-03-11 11:45] jtlz2 opened #15767 "Running 1.5.2 on Apple M1 / ARM64"
When running an AWS SAM Lambda locally on my Mac M1, I receive the following error:

`Unable to import module '...': /var/task/scipy/linalg/_fblas.cpython-37m-x86_64-linux-gnu.so: ELF load command address/offset not properly aligned`

Our workaround [on intel] is to pin `scipy==1.5.2` (see https://github.com/scipy/scipy/issues/12975#issuecomment-1065013153).

But a binary for that version is not a

[2022-03-11 11:45] jtlz2 commented on #12975
@rgommers Done - thank you in advance for any and all assistance!

[2022-03-11 12:41] grlee77 commented on #15596
My only problem with that is that it would be nice if the negative binomial functions (`nbdtr*`) would deprecate in the same way as the binomial ones (`bdtr*`). Given that we don't currently have a similar deprecation warning for the `nbdtr*` functions, we could modify those to behave like `bdtr*` now and then just deprecate both together in 1.11.

[2022-03-11 12:42] grlee77 commented on #15731
See comment about potentially delaying this deprecation to align with one for `nbdtr*` functions
https://github.com/scipy/scipy/issues/15596#issuecomment-1065078818

[2022-03-11 13:13] steppi commented on #2414
@tupui can you give an example? I think @mdhaber is talking about discrete distributions with parameters that only make sense for integer values, but I think you may be talking about discrete distributions which take on non-integer values, for example a distribution that takes on 0 with probability 1/2 and 0.5 with probability 0.5. Do I understand correctly? I’d hope that we only deprecate for cas

[2022-03-11 13:58] rgommers commented on #15719
This is a very minor thing with no real-world consequences I think. The `__all__` lists were autogenerated, and those items actually were in the namespaces. Let's take one example: `('scipy.interpolate.fitpack2', 'fitpack'),`
[code]

So:
- `interpolate.fitpack` is a private module, now renamed to `interpolate._fitpack`
- `fitpack2` is the same, now `_fitpack2`
- `interpolate.fitpack2.fitpack` is d

[2022-03-11 14:09] rgommers commented on #15767
Thanks for the report @jtlz2. We'll need some more details to make sense of this I think. Most importantly, can you give more details on AWS SAM Lambda? Is this a Docker image or something else, where do you obtain it from, how did you install SciPy within that environment, etc.?

"Running 1.5.2 on Apple M1 / ARM64" doesn't make sense, because that version of SciPy is simply too old and did not su

[2022-03-11 14:53] tupui commented on #2414
You're correct 👍 then all good.

[2022-03-11 14:53] tupui commented on #15716
Linked to #15766

[2022-03-11 15:00] grlee77 commented on #14557
I think this really old mailing list answer may be helpful
https://mail.python.org/archives/list/scipy-user@python.org/message/YAPNNNEQ2DTKZEUFSNEFHALZJL4QXYSW/

one update is that the source file mentioned there no longer exists as the function was converted from C to Cython and is now [at _ni_label.pyx](https://github.com/scipy/scipy/blob/e1d2f1c5db9810e36792e5599bba53cbfb1a4539/scipy/ndimage/sr

[2022-03-11 15:32] Bohne9 commented on #15552
@danielhrisca Did you somehow managed to get your pyinstaller build to work on Intel macOS / fix this `AssertionError`?

I am having the same problem

[2022-03-11 15:34] mdhaber commented on #2414
I think we're on the same page. I'll open a PR.

[2022-03-11 20:09] #15719 closed

[2022-03-11 22:56] ML-Nielsen commented on #15746
Hello,
I would like to make my first contribution open source software.
Can I try to solve this issue? How does it work? Can I just start working on it, and then at some point make a pull request, or should I be assigned to this issue somehow?

[2022-03-11 23:45] #14725 closed

[2022-03-12 00:05] h-vetinari commented on #15596
Yeah, we're not in a rush. Fine by me to do it for 1.11. Can you change the title of this issue to reflect the plan to deprecate and what? Then I'll close #15731 and update the tracker.

[2022-03-12 00:07] h-vetinari commented on #15746
Sure, go for it! :)

Commenting on this issue that you intend to do it is usually enough to avoid that people work at cross-purposes.

You can just make the change and open a PR. Of course, the tests will very likely need adaptation to reflect the change in behaviour, and whether you test those locally or through the CI on the PR is up to you. If you can test locally that's better, but not a big d

[2022-03-12 00:21] #7342 closed

[2022-03-12 02:14] mdhaber commented on #9313
The implementation `stats.geom.rvs` is now:
[code]
and it has relied on NumPy to generate random variates since 2013 (at least), so the discussion above about `ppf` was a separate issue that seems to have been fixed in gh-9320.

There are two problems here, only one of which is SciPy.

If `RandomState` is used to generate the random variates, we have a problem that we can't fix in SciPy.

[code]

[2022-03-12 05:15] mdhaber commented on #9558
Let's track in gh-14651, if that sounds good.

[2022-03-12 05:15] #9558 closed

[2022-03-12 05:24] mdhaber commented on #11409
This is fixed in gh-13312.

[2022-03-12 05:24] #11409 closed

[2022-03-12 06:43] roryyorke opened #15773 "BUG: iirfilter allows Wn[1] < Wn[0] for band-pass and band-stop filters"
### Describe your issue.

For band-pass and band-stop filters, `scipy.signal.iirfilter` argument `Wn` is a two-element sequence specifying the lower and upper critical frequencies.  Normally `Wn[0] < Wn[1]`, and in this case iirfilter works as expected.  However, `Wn[0] > Wn[1]` is allowed, and in some cases results in an unstable filter (see below for example).

I haven't though too much about th

[2022-03-12 06:43] #9313 closed

[2022-03-12 06:57] mdhaber commented on #12548
Fixed by gh-15472

[2022-03-12 06:57] #12548 closed

[2022-03-12 07:06] mdhaber commented on #14313
The original issue was fixed by gh-15651.

[2022-03-12 07:06] #14313 closed

[2022-03-12 07:13] mdhaber commented on #14095
@DominicChm let's also make sure the benchmarks track this sort of thing, then I think we can close this. Reduction of stats distribution overhead is an ongoing sort of thing.

[2022-03-12 07:20] mdhaber commented on #13996
This was fisked in gh-14003 : )

[2022-03-12 07:20] #13996 closed

[2022-03-12 07:26] mdhaber commented on #12241
Will fix as part of gh-14651

[2022-03-12 07:26] #12241 closed

[2022-03-12 07:27] mdhaber commented on #13900
Will fix as part of gh-14651

[2022-03-12 07:31] mdhaber commented on #13844
@swallan is this still an issue? If so, let's tackle it next quarter.

[2022-03-12 07:32] mdhaber commented on #13835
Fixed by gh-13490

[2022-03-12 07:32] #13835 closed

[2022-03-12 07:42] dschmitz89 commented on #15292
One stopping rule for dual_annealing could be to compare the points sampled by the annealer from which the local optimizations start. If no better solution was found within ``n`` iterations of the outer annealing process, the algorithm could terminate.
CC @sgubianpm ?

[2022-03-12 07:51] mdhaber commented on #15116
Sounds like `scipy.special` is the way to go.

[2022-03-12 10:03] stla commented on #15582
Good idea. Boost is very good for non-central distributions (for example R gives wrong values for the non-central Student when nc > 37.62).

[2022-03-12 12:16] ev-br commented on #15698
Cannot reproduce, also on ubuntu lucid.

[code]

For completeness, here's the meson setup log:

[code]

[2022-03-12 12:31] ev-br commented on #15734
Since there was not a single complaint about this, we can even raise an error. If anybody feels stong enough about it --- not sure whether it's of any use. It won't be less code, so as far as I'm concerned it can just be left as-is.

[2022-03-12 12:55] schettino72 commented on #15698
uhmmm.... Thanks for trying to reproduce it.

Could you please check for me where is your "xsimd.hpp" file is located ?

Also:

[code]

[2022-03-12 13:24] ML-Nielsen commented on #15746
@h-vetinari Thanks a lot!
So far, I have removed the few lines pasted below (in scipy/scipy/spatial/_kdtree.py):
![image](https://user-images.githubusercontent.com/101410494/158019451-d2a2c361-5d50-44f9-a550-37006bd87e85.png)
Should the lines below also be removed, even though they are part of a comment?
![image](https://user-images.githubusercontent.com/101410494/158019622-fb967efb-da7e-4c88-8157

[2022-03-12 13:57] mdhaber commented on #14505
PR welcome!

[2022-03-12 14:00] ev-br commented on #15698
[code]

[2022-03-13 03:47] alisheikholeslam commented on #15621
The performance difference was relating to Richard mistake. Memory issue is the main problem now.

[2022-03-13 03:50] alisheikholeslam commented on #15621
The performance difference was relating to Richard mistake. Memory issue is the main problem now.

[2022-03-13 05:03] #14044 closed

[2022-03-13 05:41] eli-schwartz commented on #15698
Typically `<prefix>/include` is baked into the compiler itself for any given prefix as a default include directory. What's the output of:

[code]

with particular reference to:
[code]

[2022-03-13 07:18] ev-br commented on #15698
[code]

[2022-03-13 09:46] h-vetinari commented on #15746
Yeah exactly; we should remove all things related to the behaviour of `k=None` (including documentation!), and then raise an error in the `if k is None` branch.

[2022-03-13 10:06] #15762 closed

[2022-03-13 13:19] schettino72 commented on #15698
If you look at ninja.build you can see exactly what compiler command was used.
On my local machine:

# build with pip env

[code]

# build with conda (without patch)

[code]

# build with conda (with patch)

[code]

Still not clear to me which `xsimd.hpp` file is being found for you without a patch.
But I guess my patch is in worth case harmless...

[2022-03-13 15:51] eli-schwartz commented on #15698
@ev-br your default paths have `/home/br/miniconda3/envs/scipy-meson/x86_64-conda-linux-gnu/include` but not `/home/br/miniconda3/envs/scipy-meson/include` so xsimd's pkg-config location is definitely not being picked up.

pythran does by default ship with bundled code copies of xsimd, which are probably stripped out by Linux distros at a minimum.

It's also stripped out by the pythran-feedstock i

[2022-03-13 16:18] ev-br commented on #15698
Does not look like I've pythran outside of the conda env:

[code]

I definitely did not install pythran outside of _some_ virtualenvironment. I very well _might_ have it in some of them (heck, the main scipy-dev does have it for sure; it's a different python version but hey) but that's about it. Whether it might get picked up or not, I have no idea. If some other diagnostics I can run on this mach

[2022-03-13 16:27] eli-schwartz commented on #15698
Does the pythran directory in site-packages (inside the conda env) have an xsimd directory?

[2022-03-13 16:35] ev-br commented on #15698
No it doesn't seem to.

[code]

[2022-03-13 16:41] eli-schwartz commented on #15698
Alrighty so you have the conda pythran and it *doesn't* have a bundled code copy of xsimd, which matches my expectation.

That then makes the question of "so just where does your conda env pick up the xsimd headers from" very confusing. It's not the location reported by `pkg-config --cflags xsimd` because that location is not either in the compiler defaults or in the build.ninja generated command

[2022-03-13 20:15] lagru commented on #13710
My current thoughts on this:

This request might be solved by adapting the indexing logic on the Cython level. For `_local_maxima_1d` this would be quite easy (if not elegant) by adding some logic to compare the first and last sample if something like `mode = 'wrap'` is provided. However for `_select_by_peak_distance` this logic would get way more complex, same for `_peak_prominences` and `_peak_w

[2022-03-13 21:21] mdhaber commented on #15044
I can't reproduce this in `main`, and it doesn't look like a platform-dependent sort of thing, so closing. Please re-open if you can reproduce it in `main`.
@tirthasheshpatel would you check me? Just copy-paste and execute the example above.

[2022-03-13 21:21] #15044 closed

[2022-03-13 22:35] mdhaber commented on #14976
It does not. It says:
![image](https://user-images.githubusercontent.com/6570539/158080675-8cb91bca-4c05-4a33-ae1c-dd9941bc3e0c.png)

and does not explicitly specify whether the sample standard deviation is corrected or uncorrected. Later, however, it does state:

![image](https://user-images.githubusercontent.com/6570539/158081339-eb104a17-7270-45e6-9c57-7626ed09acbe.png)

which suggests that `n_

[2022-03-13 22:35] #14976 closed

[2022-03-13 22:44] mdhaber commented on #14421
We'll address this as part of gh-14651.

[2022-03-13 22:44] #14421 closed

[2022-03-13 22:52] mdhaber commented on #10723
Looks like this was just rendered incorrectly in 1.4.0 and 1.4.1. It rendered as intended in 1.5.0, and since 1.7.0 it has rendered without `(*args, **kwds)` again.

[2022-03-13 22:52] #10723 closed

[2022-03-13 22:59] mdhaber commented on #8977
This is fixed in `main`.

[2022-03-13 22:59] #8977 closed

[2022-03-14 01:17] mdhaber commented on #8103
This was fixed in gh-12225, which placed the call to `special.boxcox` above the input validation:

https://github.com/scipy/scipy/blob/da64f8ca0ef2353b59994e7e37ecee4e67a9b1d3/scipy/stats/_morestats.py#L1063-L1088

[2022-03-14 02:16] tirthasheshpatel commented on #15044
Confirmed. It works for me too on main.

[2022-03-14 07:01] mdhaber commented on #14716
Here is some example code for fit confidence intervals.

[code]

Results can be compared against the "Parameter Confidence Intervals" example from the Matlab [`paramci`](https://www.mathworks.com/help/stats/prob.normaldistribution.paramci.html) documentation. A good reference about Fisher information MLE confidence intervals is [here](https://www.stat.umn.edu/geyer/s06/5102/notes/fish.pdf).

This

[2022-03-14 08:08] rfezzani commented on #15621
Thank you for the clarification @alisheikholeslam :wink:

[2022-03-14 08:11] #15541 closed

[2022-03-14 08:15] #15133 closed

[2022-03-14 08:21] #14462 closed

[2022-03-14 09:09] mdhaber commented on #14019
I can reproduce this in `main` on my machine.

Whether the results are "trustworthy" depend on your needs. The statistic is accurate, but the p-value is not exact.

The overflow occurs because the sample sizes are very large. The warnings don't explain what happens, but after the overflow, the function switches from attempting the exact calculation to performing an asymptotic calculation, which te

[2022-03-14 13:44] tupui opened #15780 "BUG: CI on Azure broken with PyTest 7.1"
Seems like the new release of PyTest broke the CI on Azure. Ex. https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=16988&view=logs&jobId=7d84eb14-5b07-5555-8e62-838a7038a2b0&j=ede89041-5e8e-5201-ce5c-f68c2cbf02dd&t=141d9d53-a127-58b4-0262-4b9693c8e91f

[code]

https://docs.pytest.org/en/latest/changelog.html

I am not 100% sure it's due to Pytest, but the timing seems to corresponds.

[2022-03-14 14:38] ilayn commented on #15780
Yes this was not the case with 7.0.1 but now with 7.1.0 on Azure workflows mark.slow errors out

[2022-03-14 14:39] tupui commented on #15780
I did not see any other update of dependencies nor don't see anything we changed recently that could be causing this. But locally I could not reproduce, so not sure.

[2022-03-14 23:52] derbuihan opened #15784 "BUG: Unable to test the build with Python 3.8 on Anaconda on M1 Mac."
### Describe your issue.

I used this document (https://docs.scipy.org/doc/scipy/dev/contributor/quickstart_mac.html) to build a Scipy development environment with Anaconda on my M1 Mac. In this case I get the error shown below. When I install Python=3.9 I do not get this error.

Therefore, I would prefer to modify python version in the documentation.

### Reproducing Code Example

[code]

### Err

[2022-03-15 00:48] mdhaber commented on #7399
Opinons here and in gh-7438 seem to be that we can leave this to statmodels. I'd agree, and since it's been five years without a PR, I think we can close this.

[2022-03-15 00:48] #7399 closed

[2022-03-15 01:09] mdhaber commented on #7496
Let's track this in gh-7689

[2022-03-15 01:09] #7496 closed

[2022-03-15 06:04] mdhaber commented on #12545
Closes by gh-15567, right @swallan?

[2022-03-15 06:04] #12545 closed

[2022-03-15 06:14] mdhaber commented on #15412
I'll go ahead and close this, but if you're able to reproduce it after a new install, let us know.

[2022-03-15 06:14] #15412 closed

[2022-03-15 06:54] mdhaber commented on #15689
Here is the start of a test that we can add to `test_fit.py` to check for when the `_fitstart` shape guess fails `_argcheck`.

[code]

[2022-03-15 07:13] derbuihan commented on #15784
Additionally, to build the documentation on Anaconda on my M1 Mac using Sphinx, the following configuration was required.

First, I specified a Python version of 3.9 in environment.yml. (The latest version did not work.)
[code]

Next, I ran the following command and was able to build the document.

[code]

I don't know if this is an M1 Mac specific issue.

[2022-03-15 09:51] tupui commented on #15784
Hi @derbuihan, thanks for reporting.

The doc issue with Python 3.10 is known and due to the theme we are using. It has been fixed and a new release of the theme is pending.

I am trying to reproduce the other issue.

[2022-03-15 12:03] bamford commented on #4452
Looking at the [GSL code](https://git.savannah.gnu.org/cgit/gsl.git/tree/specfunc/ellint.c) and [`sympy` docs](https://docs.sympy.org/latest/modules/functions/special.html?highlight=elliptic#module-sympy.functions.special.elliptic_integrals), I've just implemented the elliptic integral of the third kind as follows:
[code]
The return values match those of `sympy.elliptic_pi` (but only the real part

[2022-03-15 13:59] tupui commented on #15780
Adding a milestone to not forget to check this.

[2022-03-15 14:04] tupui commented on #4452
Hi @bamford, I am sorry I had to close your PR. You linked GSL code which is GPL. This license is not compatible with SciPy and the only action of looking at the code is forbidden. See our documentation for more licensing information https://scipy.github.io/devdocs/dev/core-dev/index.html#licensing

[2022-03-15 15:26] mdhaber commented on #15101
@mckib2 can we ignore the divide warnings, too?

[2022-03-15 15:45] tgross35 commented on #15628
For completeness, the numpy musl work is here https://github.com/numpy/numpy/pull/21200

[2022-03-15 16:09] mattip commented on #15628
I would think the appeal of musl linux is to have a smaller footprint, but doesn't getting numpy and scipy into the mix kind of defeat that purpose? Then the difference between a 4mb base image (debian) and a 500mb base image (alpine) is dwarfed by the size of python + numpy + scipy, no?

[2022-03-15 16:33] tupui commented on #15628
Yep, that the premise from the article I linked. Unless you put in a lot of effort to clean the image, you will not gain much with all that's needed to build/run SciPy, NumPy and the thing you are actually doing.

[2022-03-15 16:34] #15761 closed

[2022-03-15 16:35] mdhaber commented on #4452
Thanks @bamford. I thought it should also be mentioned that features of Boost are now relatively easy to add to SciPy, and its implementations were discussed above.

[2022-03-15 16:42] mdhaber commented on #15009
Agreed on +1 in the denominator. I ran across this issue for [`permutation_test`](https://docs.scipy.org/doc//scipy/reference/generated/scipy.stats.permutation_test.html) shortly before that was finished.

@sampan501 would you submit a PR? If so, I can merge.

[2022-03-15 17:01] duetosymmetry commented on #4452
@bamford @tupui I agree that we should add documentation for how Carlson's `elliprj` can be used to compute Legendre's `ellippi` and `ellippiinc` (which I assume are the correct names to use, to match the conventions for the rest of the Legendre elliptic integrals). Including the info from some subset of https://dlmf.nist.gov/19.25.E2 , https://dlmf.nist.gov/19.25.E4 , https://dlmf.nist.gov/19.25.

[2022-03-15 17:07] tupui commented on #4452
We don't have any hard requirement on using C(++)/Cython/Pythran or Python. Most of the time, it's actually better to start things with a Python version, and once it's polished and there is a **real** (insist on this) need for speed, then we can consider doing something else. We have more maintainers available for Python only things which is something to consider.

[2022-03-15 17:17] mattip commented on #15628
@amw OK, thanks for the data.

[2022-03-15 17:30] sampan501 commented on #15009
@mdhaber Yes I will do that this week

[2022-03-15 17:50] mdhaber commented on #14958
I'd suggest that we consider vectorization of multivariate distributions to be an enhancement _for now_ as there is very limited multivariate infrastructure. `df` is correctly documented as accepting a `float` rather than an array, and it will be challenging to vectorize some parameters of the multivariate distributions (e.g. shape matrix), so I'd suggest that we not require it right now.

[2022-03-15 18:09] #14169 closed

[2022-03-15 18:16] mdhaber commented on #13689
The desired enhancement is to have the ability to consider ties in the `wilcoxon` exact p-value calculation. In the meantime, there is `permutation_test` (although I need to add something there to try to correct for numerically distinct but theoretically identical values in the null distribution).

[2022-03-15 18:25] bamford commented on #4452
Just for a bit of context, I encountered the need for this function when providing feedback on a student's code, in which they were calculating the 3D magnetic field for a configuration of [solenoids](https://en.wikipedia.org/wiki/Solenoid#Finite_continuous_solenoid). As `ellippi` is not available in scipy they were using `sympy.elliptic_pi`. That was forcing them to loop over coordinates, which I

[2022-03-15 18:38] mdhaber commented on #13673
I'm not sure that `scipy.stats` is the most appropriate place for this as described, as it seems like elementwise subtraction on a circular domain. (If there were, for instance, a paired-sample hypothesis test to be performed, I would see the connection.) If you're interested in seeing this added, please send an email to the [mailing list](https://mail.python.org/mailman3/lists/scipy-dev.python.or

[2022-03-15 18:46] mdhaber commented on #13666
There are some distributions where we have this sort of logic and some where we do. Rather than considering `invgauss` in isolation, @zoj613, can you research this more broadly to see where else this sort of thing would be desirable and then make the case for adding this logic everywhere? In the meantime, I'm suggesting that this be considered as an enhancement rather than a bug.

[2022-03-15 19:22] rgommers commented on #15698
I cannot reproduce this on Arch Linux with a fresh `scipy-meson` env.

Location of `xsimd`:
[code]

The reason `xsimd.hpp` is found is this flag in the compile args:
[code]
Full output for `_hypotests_pythran` extension:

<details>

[code]

</details>

Output of `conda list`:

<details>

[code]

</details>

The difference in `ARGS` list of compile flags between what @schettino72 is seeing in his "

[2022-03-15 19:38] mdhaber commented on #11355
Let's treat this as part of gh-14651

[2022-03-15 19:38] #11355 closed

[2022-03-15 19:47] rgommers commented on #15698
This is always a bit of a hunt, but these variables are defined within the environment:
[code]

[2022-03-15 19:56] rgommers commented on #15784
Thanks, this discussion makes sense. I updated the docs in gh-15788.

[2022-03-15 20:22] #15784 closed

[2022-03-15 21:13] h-vetinari commented on #15596
Gentle ping @grlee77 for renaming this issue... 🙃

[2022-03-15 21:33] schettino72 commented on #15698
Thanks. So the problem is a missing `CXXFLAGS ` on my env.

I did activate my conda env but I was using FISH shell. It works ok when I use BASH.
Checking the conda issue tracker I can see a few known issues related to these activation scripts on FISH.

https://github.com/conda/conda/issues/6820
https://github.com/conda/conda/issues/7993
https://github.com/conda/conda-build/issues/4012

I will try

[2022-03-15 21:33] #15698 closed

[2022-03-15 21:44] rgommers commented on #15698
Ah, that explains it, thanks. Would be great if that made it from "backlog" to "fixed".

[2022-03-15 22:24] grlee77 commented on #15596
done, but feel free to modify it if you like. I can try to submit a small PR to address this later in the week.

[2022-03-15 22:42] h-vetinari commented on #15596
Thanks; I don't have the rights to rename issues. 🙃

[2022-03-15 22:42] h-vetinari commented on #15731
Closing as duplicate of #15596

[2022-03-15 22:42] #15731 closed

[2022-03-16 00:49] mdhaber commented on #10908
This is being tracked in gh-11782, so I'll go ahead and close this one.

[2022-03-16 00:49] #10908 closed

[2022-03-16 00:55] mdhaber commented on #11806
This is being tracked in gh-11782, so I'll go ahead and close this one. In the meantime, another option is [`scipy.stats.fit`](http://scipy.github.io/devdocs/reference/generated/scipy.stats.fit.html#scipy.stats.fit), which will be available in SciPy 1.9.0. Two features that will help here:
* it allows (currently requires, actually) the user to specify bounds for parameters, so you can avoid conver

[2022-03-16 00:55] #11806 closed

[2022-03-16 01:18] mdhaber commented on #11011
I don't see a mismatch between the output of the function and the documentation.

You provided `bins=[xBin,yBin],` in your example:
![image](https://user-images.githubusercontent.com/6570539/158497262-30966f73-bddb-4a88-8d09-a5810f848183.png)

This is interpreted as `nx, ny = bins`, so `nx = xBin`, `ny = yBin`:
![image](https://user-images.githubusercontent.com/6570539/158497186-6625b61f-142b-444e

[2022-03-16 01:18] #11011 closed

[2022-03-16 01:21] mdhaber commented on #13844
We'll track it in gh-14651.

[2022-03-16 01:21] #13844 closed

[2022-03-16 01:37] tirthasheshpatel commented on #11011
@mdhaber I verified with the [1.3.1 docs ](https://docs.scipy.org/doc/scipy-1.3.1/reference/generated/scipy.stats.binned_statistic_2d.html#scipy.stats.binned_statistic_2d)and the outputs seem to align with it as shown in your screenshot so I would also consider this closed.

[2022-03-16 04:07] rossbar opened #15790 "BUG: `isspmatrix` doesn't account for sparse arrays"
### Describe your issue.

There are two functions in `scipy.sparse` which determine whether or not an object is a sparse container: `sp.sparse.isspmatrix` and `sp.sparse.issparse`. Based on the names of these functions, one might expect the former to return `True` for the sparse matrix containers (e.g. `csr_matrix`) and the latter to return true for either sparse matrices or sparse arrays.

It tur

[2022-03-16 05:38] mdhaber commented on #10737
@lesshaste Doesn't [scipy.stats.anderson](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.anderson.html) do what you're looking for? In the codebase:

https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/stats/_morestats.py#L1766-L1777

`_Avals_norm ` are the ones for from the Wikipedia article you linked for Case 3, when both mean and variance are un

[2022-03-16 06:03] mdhaber commented on #9527
@Gabriel-p @chrisb83 Just thought I'd post how we can do this with `monte_carlo_test`. Not sure if we'd want to use it to compute p-values on the fly or precompute tables.

[code]
prints
[code]
Compare against those in [D'Agostino](https://www.lexjansen.com/nesug/nesug91/NESUG91049.pdf):

![image](https://user-images.githubusercontent.com/6570539/158522727-3eb9d5f2-ca61-4014-b604-e91c43c2ab9a.png)

[2022-03-16 06:06] mdhaber commented on #9389
With the introduction `make_tuple_bunch`, I don't think there are backward compatibility concerns. (I haven't thought about whether this is a good idea or not; just thought I'd mention it.)

[2022-03-16 06:09] mdhaber commented on #9257
I think we should track this in gh-5286. Closing.

[2022-03-16 06:09] #9257 closed

[2022-03-16 06:12] mdhaber commented on #5286
This issue is being used to track gh-9257, gh-13541. If those are really distinct, they should be reopened, but it would be great if we could address these all in one go.

[2022-03-16 06:19] iosonofabio commented on #9389
Thanks... Meanwhile I had a baby and probably not so much time for this anymore, would be nice if someone picked it up though

[2022-03-16 06:22] mdhaber commented on #7178
Tracking this in gh-14651, which also deals with zero-length slices and empty arrays.

[2022-03-16 06:22] #7178 closed

[2022-03-16 07:24] derbuihan opened #15792 "MAINT: There is no unittest and documentation of Improper integral in multiple integrals."
I appreciate Scipy's excellent code. I would like to make a suggestion to make it even better.

From the tutorial (https://docs.scipy.org/doc/scipy/tutorial/integrate.html), it appears that scipy's integrate.dblquad supports Improper integral. On the other hand, there is no mention of it in the unittest (https://github.com/scipy/scipy/blob/main/scipy/integrate/tests/test_quadpack.py) and documenta

[2022-03-16 09:43] ilayn commented on #15780
Pytest folks detected the problem and relevant change will be soon I presume.

[2022-03-16 10:45] rgommers commented on #15790
Thanks @rossbar. I agree with the proposed semantics for `issparse` and `ismatrix`.

This shows an unfortunate issue though:
[code]
The sparse array classes are subclasses of the matrix classes.  That means existing `isinstance(x, spmatrix)` in the wild are not quite doing the right thing. Perhaps that was discussed in @stefanv's PR, I can't remember. It's not easy to fix, so at least it should be

[2022-03-16 10:49] rgommers commented on #15765
This is very useful, and will help going through and cleaning this up, thanks @h-vetinari. One minor comment: the abbreviation we use is `DEP:` rather than `DEPR:`. For consistency, it may be useful to remove that now, otherwise we'll end up with mixed acronyms long-term.

[2022-03-16 11:36] h-vetinari commented on #15765
Sorry about that. My first instinct when choosing such acronyms is to avoid ambiguity (such as "dep" for depencency management), but I didn't know that this was standardized already (is there a list somewhere?). In any case, I can change this in the issue titles (of those I raised). If we're consistent with the `deprecate` label, that schism will be even less of a problem.

[2022-03-16 11:47] tupui commented on #15765
Yes the list is here https://scipy.github.io/devdocs/dev/contributor/development_workflow.html#writing-the-commit-message

[2022-03-16 11:50] h-vetinari commented on #15765
Great thanks! (I was looking through the templates and the wiki here...)

[2022-03-16 12:53] #15556 closed

[2022-03-16 12:56] rgommers commented on #15556
`chndtr` formula was added. The second half of this issue was `nctdtr`, the formula for that is (according to Wikipedia):

<img width="413" alt="image" src="https://user-images.githubusercontent.com/98330/158594653-89df5e45-9755-480d-99af-14346d640819.png">

That seems overly complicated to add as LaTeX and is easy enough to look up on Wikipedia, so I'd say we're done here indeed.

[2022-03-16 13:10] rgommers commented on #15674
I guess that's the dilemma. There aren't many users, but they are public API functions and there is real content here:

<img width="485" alt="image" src="https://user-images.githubusercontent.com/98330/158596099-1003d169-3ca9-4f1a-99c7-8b2b5b8439de.png">

It comes from the `f2py` signature files. If we throw that all away, then anyone who needs info should then just reads the raw f2py signature fi

[2022-03-16 13:24] rgommers commented on #15584
So that link says that `FE_UPWARD` and `FE_DOWNWARD` were removed. Our `scipy/special/_round.h` header contains:
[code]
So what is likely happening is that ` __STDC_VERSION__ >= 199901L` is true _and_ the SH4 platform doesn't correctly implement everything that is needed for that. This could be fixed on the SciPy side by conditional compilation to check for the presence of these macros. However th

[2022-03-16 13:30] rgommers commented on #15628
It's starting to look to me like `x86_64` and `aarch64` `musllinux` wheels are reasonable to add. There's a fair amount of demand, and it's likely to continue growing. And the help the NumPy team is getting with both the `cibuildwheel` migration and now adding `musllinux` is nice. Let's first see how NumPy fares, but this shouldn't be too onerous.

[2022-03-16 14:23] rgommers commented on #15674
Yes, that would make sense. The best example to look at is probably https://github.com/scipy/scipy/blob/main/doc/source/scipyoptdoc.py, which does something custom for the different `optimize.minimize` methods. It's not all that easy to deal with unfortunately.

[2022-03-16 16:35] rossbar commented on #15790
Agreed, though fortunately this shouldn't really be breaking existing usages of `isinstance(x, spmatrix)`, since the sparse array classes were only recently added in 1.8.

I actually don't think it would be that bad. The main issue is that the `spmatrix` class is what has the concrete implementation of almost all of the methods. One idea would be to introduce a new class, say `class _SparseBase` t

[2022-03-16 16:41] rgommers commented on #15790
That sounds like a good plan.

[2022-03-16 19:55] endolith commented on #14229
`gaussian` is a window function, not a wavelet function.  I think the only compatible wavelet functions are `ricker` and `morlet2`.

`morlet` was created before `cwt` and is not compatible with it. https://dsp.stackexchange.com/a/18104/29

find_peaks_cwt should document what the built-in options are, and maybe accept strings instead?

Maybe a better error message would help?

or something like tha

[2022-03-16 19:56] V0lantis commented on #15345
Thank you for the reminder. I’ll give another try next weekend if this sounds good to you :-)

[2022-03-16 20:02] j-bowhay commented on #15556
@rgommers I agree this seems reasonable to be as the exact implementation by page 532  of Johnson, Kotz,  Balakrishnan, Coninuous Univariate Distributions, Vol 2, 2nd Edition.  Wiley (1995) which is quite complicated:
![image](https://user-images.githubusercontent.com/60778417/158680017-9cefdb44-5e58-427e-a53c-94aad9dfd856.png)

[2022-03-16 20:08] #4897 closed

[2022-03-16 20:08] #12838 closed

[2022-03-17 01:15] h-vetinari commented on #5676
Just stumbled over this after reflecting on the review in #15796 - currently `lsim` with non-uniform timesteps ([deprecated](https://github.com/scipy/scipy/issues/15755)) defers to `lsim2`. If we execute that deprecation, we'll have to point people to `lsim2`, which seems counter to what Ralf's [comment](https://github.com/scipy/scipy/pull/4675#issuecomment-96399789) was saying.

So should we rath

[2022-03-17 01:26] h-vetinari commented on #15748
The only use of `extradoc` that I can find outside of `_distn_infrastructure` is the [following](https://github.com/scipy/scipy/blob/v1.8.0/scipy/stats/tests/test_distributions.py#L4721-L4724), which refers to #1842.

`gamma_gen` nowadays [uses](https://github.com/scipy/scipy/blame/v1.8.0/scipy/stats/_continuous_distns.py#L2701) [`@extend_notes_in_docstring`](https://github.com/scipy/scipy/blob/v1

[2022-03-17 03:43] mdhaber commented on #9389
It's really better if someone else submits the PR because then I can review and merge.
After reading more carefully, @chrisb83's suggestion about making it a separate function makes more sense to me. There have been a lot of requests for statistical "distances" (in the loose sense, perhaps not metrics), and I count +4 supporters above (@iosonofabio, @caglorithm @HomaiRS @akahard2dj) for this, so m

[2022-03-17 03:47] iosonofabio commented on #9389
... sounds like this will never see the light of day with this kind of entry barrier, but I'll keep fingers crossed they prove me wrong. It would be a pity, since it's literally two lines of code. Good luck!

[2022-03-17 04:44] #14827 closed

[2022-03-17 08:54] bigon commented on #15584
I've opened a bug in debian for this: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1007769

[2022-03-17 09:11] #15750 closed

[2022-03-17 09:53] tupui commented on #15345
The NaN behaviour is intentional. In the tests I see:

If we cannot compute anything, it does not really make sense to return something which could be interpreted as a good result. If you have one column which is null, it's not really a contingency table.

For going above 1, I suppose we are just missing a clip after `pvalue = 2 * res.pvalue`.

[2022-03-17 09:56] tupui commented on #15345
This is the result for `boschloo_exact([[1, 1], [13, 12]])` from the R library we compare our results to:
<img width="607" alt="Screenshot 2022-03-17 at 10 55 33" src="https://user-images.githubusercontent.com/23188539/158784132-87652bd5-2941-41a6-8f57-e33d24475c73.png">

[2022-03-17 11:29] esokolova-lapa commented on #15688
Hi, @MarcusMNoack, I recently ran into exactly the same issue: scipy.sparse.linalg.splu is continuously trowing the Memory Error on the machine with 32G of RAM. Running it a number of times with memory profiler, I can see that it happens when the memory usage reaches ~3G. No other heavy processes were running in parallel. It happened even when running the code with Slurm (the machine as also a par

[2022-03-17 12:45] #15376 closed

[2022-03-17 14:49] ldorigo opened #15801 "BUG: Weird __all__ manipulation prevents Pylance from working on Scipy modules"
### Describe your issue.

In some scipy modules (like `scipy.stats`), there's a weird line that modifies `__all__`:

https://github.com/scipy/scipy/blob/50e8aeacfa1e1b843100c7bdca7dfc338a8d43c4/scipy/stats/__init__.py#L473

This prevents Pylance (and probably others) from properly analyzing scipy modules, and thus doesn't offer autocomplete, intellisense and type checking.

_Originally posted by @

[2022-03-17 14:49] MarcusMNoack commented on #15688
Thanks, @esokolova-lapa , for reaffirming. Part of it seems to be the float format of the indices; I had some success with np.intc which is strange because I thought it would default to int32, which produces the error. Another issue is strange scaling. I was able to run a test in which the matrix size stays the same, but the sparsity decreases by roughly 10% (but the matrix remains extremely spars

[2022-03-17 14:55] ldorigo commented on #15801
Git blame shows that those line were added by automatic 2to3 migration over 9 years ago:

https://github.com/scipy/scipy/blame/396a3592767c7477d14083053ac7b772951f125e/scipy/stats/__init__.py#L350

So it seems likely that it's just an artifact introduced by automatic migration tools?

[2022-03-17 20:21] tupui commented on #15801
Hi @ldorigo, thanks for reporting.

This line is not a remaining artefact. It's to prevent us from polluting namespaces. Only files which don't start with an underscore are inspected.

I don't think there is any issue with SciPy as PyCharm for instance has no problem offering any code completion, type checking, etc. Maybe you can describe a bit more the problem?

[2022-03-17 20:32] 00sapo opened #15806 "BUG: shortest_path returns different paths when it should return the same path"
### Describe your issue.

I'm having this issue while working with a directed acyclic graph `g` with weights `w_i` in [0, 1).
The aim is to find the longest path. Therefore, I manipulate the weights to their complement `1 - w_i` for using Dijkstra or Bellman-Ford or to their inverse `-w_i` for using Bellman-Ford.

The resulting path should be the same -- i.e. the predecessor matrix should identica

[2022-03-17 20:36] #15739 closed

[2022-03-17 20:53] #15744 closed

[2022-03-17 21:09] jakevdp commented on #15806
I think this is the expected result. With the complement weights, `0->2` has a length of 0.15, while `0->1->2` has a length of   0.14 + 0.86 ~ 1.0. With the inverse weights, `0->2` has a length of -0.84, while `0->1->2` has a length of -0.85 -0.14 = -0.99.

So it's clear that the minimum path length with complement weights is `0 -> 2`, while the minimum path length with inverse weights is `0 -> 1

[2022-03-17 21:17] mdhaber commented on #9389
My comment is only my opinion about a possible path forward. This issue stalled a while ago, so I'm only trying to help, not add barriers. If someone wants to try to submit a two-line PR to get this into the existing function, that's another possibility.

[2022-03-17 21:21] 00sapo commented on #15806
Oh sorry, you're completely right! Thank you for pointing out this!

[2022-03-17 21:21] #15806 closed

[2022-03-17 21:32] h-vetinari opened #15807 "DEP: remove dual_annealing argument 'local_search_options'"
Follow-up to https://github.com/scipy/scipy/pull/13392 (as well as https://github.com/scipy/scipy/issues/15744 & https://github.com/scipy/scipy/pull/15805): remove the argument for 1.10

[2022-03-17 21:34] h-vetinari opened #15808 "DEP: raise on >1-dim inputs for optimize.minimize"
Follow-up to https://github.com/scipy/scipy/pull/15297 (as well as #15739 and https://github.com/scipy/scipy/pull/15804): raise error for 1.11

[2022-03-18 05:14] perimosocordiae commented on #15790
I'm not sure we need to introduce _SparseBase to accomplish this, but I agree with the proposed semantics. We should fix this sooner than later to reduce the possibility of breakage.

One side note: it's possible that this will hamper adoption of the array-style classes, as older code written with `isspmatrix` will now no longer work as intended. But maybe that's a good thing, as it's likely the o

[2022-03-18 09:37] ldorigo commented on #15801
Which namespace are you worried about polluting? AFAIK  `__all__` is only used when doing `from xxx import *`, and functions starting with an underscore are automatically ignored when doing `from xxx import *` - so I don't get what that line achieves.

Again unless I'm missing something, `dir()` is a list of symbols in the current namespace, not files?

The issue I linked to (https://github.com/mi

[2022-03-18 10:03] tupui commented on #15801
Not files, I should have say functions/class. I corrected. Thank you for the link. As written in the issue I don't consider SciPy to have a bug here since other IDE don't have any issues with that. It's a valid thing to do even if this would be useless. Still, I will look if we can remove this. Maybe someone else knows?

[2022-03-18 10:06] ilayn commented on #15801
Not necessarily the namespace pollution, but enumerating items in SciPy is a huge undertaking given the number of functions and methods in it. I don't know how Pylance cannot or other langservers can however I don't understand why you are inspecting the imports anyways. This you can find out at runtime without code inspection since the exposed items are available at the import. Or I don't have eno

[2022-03-18 10:09] ilayn commented on #15801
The problem with the OP in your link is a different problem. We don't import all modules at the import of scipy and they have to be imported individually such that only relevant parts are loaded. In other words to be able to find norm

![image](https://user-images.githubusercontent.com/1303842/158983751-2b604ecc-f03e-469f-823d-c2bb262981bc.png)

it has to be used as such.

[2022-03-18 10:13] ldorigo commented on #15801
I'm just a middle-man here - all I observe is that I can't do `from scipy.stats import norm` in vscode, which degrades user experience. I'm happy to talk more about this but if you find it important enough to address, maybe it's better that you just react directly to the issue I linked so you can communicate with Pylance devs? They're likely to have more relevant answers than me

[2022-03-18 10:15] tupui commented on #15801
@ldorigo the thing is that we are doing some lazy loading with modules, so this might be getting in the way.

[2022-03-18 10:16] ilayn commented on #15801
Ah lazy loading that's the expression yes 🤦 I'll write something in the linked issue @ldorigo

[2022-03-18 11:21] ilayn commented on #15801
Yes probably you have #14360 in action.

[2022-03-18 11:22] tupui commented on #15801
Right then I believe we can close this.

[2022-03-18 11:24] ilayn commented on #15801
Fine by me if @ldorigo is OK with it.

[2022-03-18 12:12] ldorigo commented on #15801
Sure - it looks like recent pylance released at least partially fixed the problem, anyhow we can continue the discussion on that issue if necessary

[2022-03-18 12:13] #15801 closed

[2022-03-18 12:37] tupui commented on #15780
So they fixed it and released 7.1.1. I am not sure what to do between `pytest != 7.1.0, pytest >=7.1.1` or just `pytest`. In the end there is little change a user would get bitten by that and our CI would just pick latest.

[2022-03-18 13:25] tupui opened #15814 "CI: move Azure jobs to GitHub Actions"
As discussed during the last community meeting, we want to start moving away from Azure.

This would allow to have faster CI (Azure is slow), but also improve our workflow (less clicking) and potentially reduce our consumption–as for new contributors, GH requires a maintainer to approve before running any CI.

Apart from putting all our eggs in the same basket issue, there is also a concern about

[2022-03-18 14:36] jyuv opened #15815 "BUG: Linprog encountered numerical difficulties in cases solved trivially by presolve"
### Describe your issue.

There is an issue running linprog with c vector containing 0's.
The solver indicates it encountered numerical difficulties (status = 4) in cases where the problem was solved trivially by the presolver.
This bug only occurs when the problem is being presolved with simplex/revised simplex/interior-point methods.

### Reproducing Code Example

[code]

### Error message

[cod

[2022-03-18 14:56] mdhaber commented on #15815
These solvers will be deprecated in 1.9.0. Please use `method='highs'`.

[2022-03-18 14:56] #15815 closed

[2022-03-18 16:26] mdhaber commented on #4130
The issue was original about inaccurate p-values due to the large fudge factor used in the implementation. Most of the discussion is about confusion surrounding the definition of two-sided p-value. This is well-documented in main, but I will add additional information to the introduction:

and define the alternatives:

          than one

`hypergeom` has been replaced by Boost since this issue was

[2022-03-18 16:39] ndevost opened #15816 "Proprietary Matlab code clarification"
I found out that scipy includes some code copied from Matlab.

It seems to be proprietary, so I wanted to clarify with you if it was actually the case or if you have an agreement with them on those specific [lines](https://github.com/scipy/scipy/blob/main/scipy/optimize/tests/test_minimize_constrained.py#L263).

If you do have an aggreement, would you happen to have a reference to it ?
If not then

[2022-03-18 16:42] matthew-brett commented on #15816
You mean lines like this?

[code]

I don't think there's any way Matlab can assert copyright for the _problem_ ...  Was there some other code you were referring to?

[2022-03-18 17:05] ilayn commented on #15816
Documentation problems are not proprietary code of matlab, also we are using the problem to test the functionality. There are many examples in matlab documentation that uses famous problems without attribution hence this is not a license problem.

If you still think this is an issue please consult with mathworks.

[2022-03-18 17:05] #15816 closed

[2022-03-18 17:06] ndevost commented on #15816
I am not sure of what line the author was referring to when he wrote: "Taken from matlab ``fmincon`` documentation."

What I know is that some Open Source Audits companies detect that as propietary code

[2022-03-18 17:07] ndevost commented on #15816
Alright @ilayn thanks for the quick reply

[2022-03-18 20:24] #13489 closed

[2022-03-18 20:25] #15748 closed

[2022-03-18 20:36] h-vetinari commented on #5676
@rgommers could you opine here?

[2022-03-18 20:38] h-vetinari opened #15818 "DEP: remove extradoc keyword in _distn_infrastructure"
Documented as deprecated since https://github.com/scipy/scipy/commit/eb90ace863f0538dcacb67bcf246918037dc298b (scipy 0.10.0!), now with a warning since  #15748 / #15799.

[2022-03-18 20:47] h-vetinari commented on #15596
Removing the "needs-decision" label, as a way forward seems to have been agreed upon. Please revert if I'm mistaken.

[2022-03-18 20:47] rgommers commented on #5676
I think we want to update `lsim` to be the same as `lsim2` if there's still a difference, and then deprecate `lsim2`. Ending up with the better names is very much desirable.

[2022-03-18 21:01] h-vetinari commented on #15764
Given that the warning just says
[code]

I'd usually suggest turning this into a proper deprecation warning with announced removal. _But_, reading #2528, it seems that object types for sparse matrices simply are not fully implemented and/or expected to work. There was already an attempt to turn this into an outright error, though @pv [noted](https://github.com/scipy/scipy/issues/2528#issuecomment-

[2022-03-18 21:04] rgommers commented on #15764
Yes that's fine, the warning has been there for a decade.

[2022-03-18 21:13] h-vetinari commented on #15755
Unfortunately, simply executing the deprecation (an attempt was made in #15796) conflicts with the goals of #5676. After some discussion there, the approach will need to be adapted:
* Ingest the logic of `lsim2` into `lsim`
* Investigate behavioural differences between `lsim2` & `lsim`
* If there are any, deprecate legacy behaviour of `lsim`, adding a `legacy=True` keyword to keep the current beha

[2022-03-18 23:29] perimosocordiae commented on #15764
Yep, raising a ValueError makes sense here.

[2022-03-19 01:09] Matt711 commented on #15757
@h-vetinari Hi! I would like to work on this issue. Can I have a little more information? How should the docstrings here: [_doccer.py](https://github.com/scipy/scipy/blame/main/scipy/misc/_doccer.py) be updated? Thanks!

[2022-03-19 01:33] #15746 closed

[2022-03-19 02:04] h-vetinari commented on #5676
Thanks. I updated #15755 to reflect this

[2022-03-19 02:17] h-vetinari commented on #15757
Looking at the git blame and thus #9652, it looks to me like these should just be removed (if there are any uses left in the scipy codebase, they should migrate to the equivalent functions in `_lib`.

[2022-03-19 03:13] h-vetinari commented on #15600
While looking at the code for this, I realized that the array-path for `factorial(exact=True)` depends on the fact that `np.unique` returns sorted unique values, and so a recent behaviour [change](https://github.com/numpy/numpy/pull/18070) in numpy has at least disabled the type-setting [logic](https://github.com/scipy/scipy/blob/v1.8.0/scipy/special/_basic.py#L2365-L2375). It doesn't seem to brea

[2022-03-19 03:16] h-vetinari commented on #15600
Also, I found that - contrary to their documentation - `factorial2` and `factorialk` return wrong values for small negative integers. I'm not planning to go through a multi-release deprecation cycle for this, and will just fix it outright to return zero, as intended/documented.

[code]
Note `factorial2(-1)` should be 0.

[code]
Same here, and it's actually dependent on k (i.e. it's falsely non-zer

[2022-03-19 05:04] h-vetinari commented on #15600
While working on this, I just stumbled over [`test_factorial_0d_return_type`](https://github.com/scipy/scipy/blame/v1.8.0/scipy/special/tests/test_basic.py#L1986-L1987), and thus https://github.com/scipy/scipy/issues/7400 & https://github.com/scipy/scipy/pull/10954. This shows that the 0d array-output for `factorial2` was already undesired a long time ago, and was merely overlooked in #10954.

The

[2022-03-19 12:03] h-vetinari commented on #15600
I just realised that this statement was true for 1.8.0 (which were the sources I was looking at), but this was changed for 1.9 in https://github.com/scipy/scipy/issues/15589, https://github.com/scipy/scipy/pull/15590, https://github.com/scipy/scipy/issues/15592.

I strongly believe that the 1.8. docstrings were correct behaviour, and we should match the code, rather than document broken behaviour.

[2022-03-19 14:17] ML-Nielsen commented on #15752
Hi,
I would like to try and solve this, if that's okay.

[2022-03-19 14:22] h-vetinari commented on #15600
Next problem - the "universal" approximations for n!! is very bad for even numbers (the odd ones work well). For example, the formula (1) from the OP, calculated to high precision with mpmath gives: 10!! = 3063.8767134830029.

However, the true value is very different:
[code]
and the current approximation actually does an extremely good job (down to a single eps even for n=100)
[code]

However, th

[2022-03-20 15:00] k-styles commented on #15721
@tupui I have created another pull request #15824 for this issue. I have made it with the changes that you requested. Could you please review it?

[2022-03-20 15:42] mdhaber commented on #15121
This might be a separate issue, but if anyone has easy access to a 32-bit machine, are you able to reproduce the `RuntimeWarnings` in the `studentized_range.moment` tests reported in gh-15825?

[2022-03-20 16:00] v0dro commented on #6729
It should be possible to specify a numpy vector inside the lambda sent into the `wavelet` argument. Therefore, I think this issue should be closed. CC: @rgommers

[2022-03-20 19:47] tupui commented on #15721
Why did you close the first PR and created a new one?

[2022-03-20 20:02] k-styles commented on #15721
Last time I encountered some failures while running tests for scipy on my local machine, so I thought of going over "building the scipy library" process from the official docs once again. In the process, I deleted the first fork and created a new one, which closed the previous PR. So I had to create a new one this time.

[2022-03-20 20:08] siddhantwahal commented on #9921
FYI, https://github.com/scipy/scipy/pull/12184/files is an old attempt to address this.

[2022-03-20 20:12] #15735 closed

[2022-03-20 20:41] j-bowhay commented on #15765
@h-vetinari another warning that doesn't state version to be removed https://github.com/scipy/scipy/blame/main/scipy/io/harwell_boeing.py

[2022-03-20 22:13] h-vetinari opened #15829 "DEP: remove sym_pos-keyword of scipy.linalg.solve"
Deprecated in documentation since https://github.com/scipy/scipy/pull/6775, sharpened to actual warning in  #15735 / https://github.com/scipy/scipy/pull/15821.

[2022-03-20 22:17] h-vetinari commented on #15765
Thanks @j-bowhay. I've excluded all the module-level deprecations that came from the work in #14360 above; I think we should track a timeline for removal, but I'm not sure when that's planned...

[2022-03-21 00:03] h-vetinari commented on #15121
Sorry I missed responding to this. From what I can tell, this is a pretty irrelevant warning that's just about the fact that a newer Fortran standard tightens some things that used to be permitted in older versions.

[2022-03-21 06:04] mdhaber commented on #13655
@alcrene thanks for your patience on this. Coincidently, I find myself addressing it on the one-year anniversary. Your post was spot-on, but I'm going to make some very light edits to help the reviewer of my PR. Thanks for this!

[2022-03-21 07:28] mdhaber commented on #14288
I think there is a misunderstanding about how `rv_histogram` is supposed to work. It is not supposed to behave like a discrete distribution with a probability mass at the left end of the support. The histogram is used to determine the probability mass that would be _spread out_ over the first bin. In the end, it behaves like a continuous distribution, so the CDF should be exactly 0 at the left end

[2022-03-21 07:28] #14288 closed

[2022-03-21 08:06] xingyuuchen opened #15832 "BUG: Wasserstein Distance"
### Describe your issue.

The EMD for the following case is expected to be non-zero, but `Scipy` gives an answer of 0.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.5.2 1.19.2 sys.version_info(major=3, minor=6, micro=13, releaselevel='final', serial=0)

[2022-03-21 09:13] tupui commented on #15832
Thanks @xingyuuchen for reporting. This is a statistical distance comparing the "distance" between probability measures, since you have the same elements in both arrays I don't see why it should be different than 0. Why did you expect something different?

[2022-03-21 09:18] #15832 closed

[2022-03-21 09:25] xingyuuchen commented on #15832
The Wasserstein distance is also known as the earth mover’s distance, since it can be seen as the minimum amount of “work” required to transform  `u` into `v`, where “work” is measured as the amount of distribution weight that must be moved, multiplied by the distance it has to be moved.

Obviously the two distributions are not equal, so the "work" to transport `u` into `v` is a positive number, i

[2022-03-21 09:32] tupui commented on #15832
Why would that be? When you would calculate the empirical CDF of both vectors, they would be exactly the same. And Wasserstein is just |CDF1 - CDF2|. The order of the elements does not matter for PDF/CDF, only the frequency does.

[2022-03-21 09:41] mberaha opened #15833 "BUG: Import error on Mac OS"
### Describe your issue.

All of a sudden (maybe after a system update? not sure) I get an import error complaining about a missing symbol in _ufuncs.cpython-39-darwin.so

I also tried uninstalling and force-reinstalling as well as installing from source.

### Reproducing Code Example

[code]
[code]
[code]

[2022-03-21 09:41] #13655 closed

[2022-03-21 09:48] tupui commented on #15833
Hi @mberaha, thanks for reporting. Did you strictly follow our contributors' guides to build SciPy? https://scipy.github.io/devdocs/dev/contributor/quickerstart_conda.html#quickerstart-conda or https://scipy.github.io/devdocs/dev/contributor/quickstart_mac.html#quickstart-mac

[2022-03-21 09:54] mberaha commented on #15833
Hi @tupui, I did not actually.

However the same error happens after running
[code]

In this case the versions are
[code]

[2022-03-21 09:55] xingyuuchen commented on #15832
Thanks, I see what you mean. But in some cases the order of elements matters. e.g.,
`distribution1`: the animal has a 50% chance to be a cat, 50% to be a dog, 0% tiger, 0% lion;
`distribution2`: the animal has a 0% chance to be a cat, 0% to be a dog, 50% tiger, 50% lion,

in which case, these two differs.

[2022-03-21 10:05] tupui commented on #15832
You are not using the right tool for that. For it to work with this distance: since you have a 3-dimensional distribution, you have to either assume no correlation and do 3 analysis (and possibly combining them together in a single metric) or you need to work on the 3-dimensional distribution at once (not supported by SciPy). As it is, you described it as a 1-dimensional distribution which is wron

[2022-03-21 10:13] #15429 closed

[2022-03-21 10:16] tupui commented on #15833
Mmm ok it sounds similar than #15784

[2022-03-21 10:18] xingyuuchen commented on #15832
So how can I measure the EMD between my example (distributions of the animal prediction), is there an API?

[2022-03-21 10:21] tupui commented on #15832
I cannot say more than above. I am sorry but this is not a forum and we don't have much bandwidth. I will redirect you to StackOverflow or https://stats.stackexchange.com in your case might be appropriate.

[2022-03-21 10:24] #15764 closed

[2022-03-21 10:38] #4130 closed

[2022-03-21 10:38] #9231 closed

[2022-03-21 10:46] xingyuuchen commented on #15832
Ah....
I checked the documentation again, it says the input vectors are observed values in the distribution, **not** the probability of each observed value. This would be the exact reason that my example is not appropriate.

Thanks again for your patience.

[2022-03-21 10:50] #15752 closed

[2022-03-21 11:02] tupui commented on #15832
Yes, `u` and `v` are samples from 1-d distributions.

Pleasure.

[2022-03-21 14:37] V0lantis commented on #15345
Hello @tupui,
Thanks for the exploration !
Should I add some more documentation to the test?

[2022-03-21 14:42] tupui commented on #15345
Hey @V0lantis

I would not say documentation is missing, I mean the NaN thing is pretty much related to all contingency tests. If we were to add anything I would add a general section for all the tests instead (we don't have such general section AFAIK).

To close this issue we just need to add the clipping I think.

[2022-03-21 15:05] mdhaber commented on #15345
Well there may be one other thing - the OP wrote:

@MrTomRod this test's statistic is the *p-value*, not the statistic, from Fisher's exact test.

@V0lantis it's doing that correctly, right?

If so, I agree that the clipping is all that's needed. The documentation is clear enough about what the statistic is.

[2022-03-21 19:30] domdfcoding opened #15836 "No win32 wheel for Python 3.10"
The [current scipy release on PyPI](https://pypi.org/project/scipy/#files) lacks `win32` (32 bit Windows) wheels for Python 3.10. There are `win32` wheels for Python 3.9 and 3.8, along with `win_amd64` wheels for all three Python versions.

Is this a deliberate decision? I looked through the changelog and other issues and couldn't see anything to suggest it was.

[2022-03-21 19:31] ilayn commented on #15836
Yes 32-bit wheels are going to be dropped 1.8.0 onwards.

[2022-03-21 19:36] #14161 closed

[2022-03-21 19:41] #2623 closed

[2022-03-21 19:43] tupui commented on #15836
I believe we can close this. We have some extensive discussions on the wheels repo and it's something we will not forget to discuss moving forward.

[2022-03-21 20:20] mdhaber commented on #2623
@josef-pkt We went ahead and closed this with gh-15724, but I'd still appreciate your thoughts there in case we missed something.

[2022-03-21 20:30] nico-medellin commented on #13409
I was having issues with Wheels so I had to `pip install wheel` before I ran the code above but I got that to work!

[2022-03-22 02:32] tylerjereddy commented on #15836
I think I recently saw Chuck confirm that such wheels would be possible to generate here: https://github.com/MacPython/numpy-wheels/pull/157#issuecomment-1063659342

Not sure we'd want to spend energy on that though.

[2022-03-22 03:03] #2625 closed

[2022-03-22 09:09] h-vetinari commented on #15600
Regarding the small-negative-integers for `factorialk`, I'll note that a common [definition](https://en.wikipedia.org/wiki/Double_factorial#Definitions) does include n!!=1 for small negative `n`, but I claim that's purely for the mathematical convenience of simplifying the recursion (which is - mixing metaphors - a kind of mathematical implementation detail, but not required for an unambiguous and

[2022-03-22 09:27] h-vetinari commented on #15600
I have a WIP PR that addresses some of the issues mentioned in the OP and recent comments. It's not finished yet, and I expect that I'll have to cut it into smaller pieces, but if someone's interested, please take a look: https://github.com/scipy/scipy/pull/15841

[2022-03-22 09:43] ilayn commented on #15600
Almost in every software I used, if we have a multiple function doing similar but different versions of a functionality 5 years down the line we struggle deprecating/removing them.

I would have liked this function to be in NumPy namespace since it is a very common math operation or from standard `math` library but it is now living in `special` functions territory because reasons.

So at least can

[2022-03-22 10:22] h-vetinari commented on #15600
I sympathise with the sentiment, though I'm not sure I agree... Aside from IMO quite well-established names (not just in scipy), the functions have some pretty subtantial differences, despite how closely related they are - e.g. `factorialk` doesn't have a well-known meromorphic continuation (meaning we cannot interpolate to floats; contrary to what I claimed in the OP), `factorial` does not permit

[2022-03-22 10:30] h-vetinari commented on #15600
Though if I can pull of the array-path of `factorial2` / `factorialk` for `exact=True` as I imagine it (based on a generalized `_exact_factorial_array`), then I think it might be possible after all to share most of the surrounding code.

[2022-03-22 14:50] v0dro commented on #9016
@chelsell can you provide some examples where using your proposed default value leads to an improvement of the result? If there is an improvement for most cases, we can consider changing the default value.

[2022-03-22 15:44] sg-s opened #15843 "BUG: scipy.stats.brunnermunzel incorrectly returns nan for undocumented reason"
### Describe your issue.

[code]

returns:

[code]

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.21.5 sys.version_info(major=3, minor=8, micro=12, releaselevel='final', serial=0)

[2022-03-22 15:52] chmendoza opened #15844 "It's not that obvious that `firls` requires an even number of edges"
Hi!

This line requires the length of `bands` to be even:

https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/signal/_fir_filter_design.py#L982

But from the docs, and the example that uses a flattened sequence as bands (see below), it's not that obvious that `firls` requires an even number of edges. Could this be improved/clarified in the docs? Thank you!

https://

[2022-03-22 16:22] mdhaber commented on #15843
I haven't investigated carefully, but it does not have to do with the sample sizes being unequal:
[code]
or simply that the total sample size is too small. It looks to me like we get NaN whenever the first sample has fewer than 5 observations. This should be assessed for correctness and, if it is correct, documented.
Since `brunnermunzel` does not have an `axis` parameter, raising an error would b

[2022-03-22 16:34] sg-s commented on #15843
hi @mdhaber your counterexample is interesting. it's an issue that happens when you have small sizes and unequal sample sizes.

i should mention that it also throws this cryptic warning:

[code]

meanwhile, this works:

[code]

and so does this:

[code]

but this doesn't:

[code]

[2022-03-22 16:46] mdhaber commented on #15843
Well it seems to be happening when one group is strictly greater than the other. I suspect `inf` might just be the value of the statistic you get in this case.

[2022-03-22 17:14] mdhaber commented on #15843
In your example, `df` is 0/0 in the t-approximation.
https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/stats/_stats_py.py#L8057-L8062

If the distribution is undefined, the p-value is undefined.
One possibility would be to emit a warning suggesting the use of a normal approximation or permutation test.

[2022-03-22 17:21] sg-s commented on #15843
@mdhaber thanks -- this is relatively straightforward, i can send you  APR

[2022-03-22 17:27] v0dro commented on #14276
I tried out this code in the current main branch and it works:

[code]

@owenmorgannicholas you expect the output to be 0.25, right?

[2022-03-22 18:33] mdhaber commented on #14716
I think one way of fixing this issue is by deprecating `a` and `b` and introducing a new parameter `c` that is the ratio of the two. In the deprecation warning and notes, we can explain that users can calculate values for the new parameters based on their old ones as follows:
[code]
In the argcheck, `c > 1`.
In the implementation, wherever `b` occurs it can be replaced with `c`, and wherever `a` o

[2022-03-22 19:58] j-bowhay commented on #15600
I agree it think the not exact path is too different for each to be one function.

[2022-03-22 19:59] tupui commented on #15844
Hi @chmendoza, thank you for reporting. Documentation improvements are always welcome.

[2022-03-22 20:19] rgommers commented on #15384
An update, now run with Meson 0.62.0 and NumPy 1.22.2:
[code]
So all the same failures, plus one new one (`TestTrustRegionConstr::test_list_of_problems`).

And without the `xslow` tests, just the one new failure:
[code]

[2022-03-22 20:56] rgommers commented on #15384
With `runtests.py` it's basically the same, so this is not Meson-specific (except for the one non-`xslow` failure) - it's just that we're not running `xslow` tests in CI so some started to fail without us noticing.
[code]

[2022-03-22 20:58] ilayn commented on #15384
Indeed this is revealed when pytest hiccup is discovered.

[2022-03-22 22:04] h-vetinari commented on #15733
I remember looking at the [code](https://github.com/scipy/scipy/blob/main/scipy/interpolate/_fitpack_impl.py) but forgot to comment then.

The deprecation is going to be a bit tricky, because the current default is `quiet=1`, and the number is then both used
as an int:
https://github.com/scipy/scipy/blob/59d974bf14ff8c82f3353e2d2a9282d9bda67db5/scipy/interpolate/_fitpack_impl.py#L225-L227
and as a

[2022-03-22 22:06] j-bowhay commented on #15733
yes that's why I deleted my comment, I realised it was more messy that I first thought!

[2022-03-22 22:09] j-bowhay commented on #15733
This is also tricky because the default behaviour is also the deprecated behaviour

[2022-03-22 22:56] #15843 closed

[2022-03-22 22:58] mdhaber commented on #12409
I haven't noticed this for a while, but there is a new one that usually times out.

[2022-03-22 22:58] #12409 closed

[2022-03-22 22:59] mdhaber commented on #13109
We no longer use TravisCI, so I think this can be closed.

[2022-03-22 22:59] #13109 closed

[2022-03-22 23:27] mfeuerle opened #15849 "ENH: Easy transformation betwean `spmatrix` and `_sparray`"
### Is your feature request related to a problem? Please describe.

All the constructor methods in `scipy.sparse` (e.g. `kron`, `eye`, etc) are not yet transferred to the new array interface. I really like the numpy compatible element-wise multiplication, but the usage of those new arrays is really cumbersome since you have to manually change every single format. I would suggest a simple switcher

[2022-03-22 23:57] perimosocordiae commented on #15849
We could accomplish this with a dynamic attribute lookup hack:

[code]

[2022-03-23 01:51] mdhaber commented on #14716
It would be challenging to deprecate those parameters; I tried a bit, but we'd have to fight with the distribution infrastructure.
I now think we should deprecate the `loguniform` and `reciprocal` distributions, replace them with `log_uniform` with the new parameterization. When the deprecation period is done, we the `loguniform` name is available again, if we prefer, so we could remove `log_unifo

[2022-03-23 02:41] mfeuerle commented on #15849
It nearly worked. If `x` is a matrix, the corresponding container is also a matrix, so the above function did in fact nothing, but
[code]
works. Unfortunalty, it only works for the default `sparrays` located in `_arrays` but not for other, e.g. a self implemented `spmatrix`.

[2022-03-23 06:53] gideonKogan opened #15851 "Using spectral coherence on complex vectors raises UserWarning"
Using spectral coherence on complex vectors raises the following UserWarning:
`python3.9/site-packages/scipy/signal/spectral.py:1816: UserWarning: Input data is complex, switching to return_onesided=False`
Unfortunately, there is no flag for return one-sided for spectral coherence.

[2022-03-23 07:32] mdhaber commented on #6840
As @Don86 suspected, I don't think we would expect the cdf - that is, the probability of selecting up to (and including) 107 Type 1 objects - to increase as `n`, the number of Type 1 objects, increases.

Perhaps it's easier to think of the CDF at `k=0` instead of `k=107`. This is the same as the PMF at `k=0`. Certainly, we would expect the probability of picking _only_/exactly `0` Type 1 objects t

[2022-03-23 07:32] #6840 closed

[2022-03-23 08:30] mdhaber commented on #8191
There may be some issues there, but I'm having trouble interpreting.

None of the values of `x` or `y` lie on a bin edge, so I don't think the example can support this statement. Please give an example that demonstrates the problem. Or, it's possible there's a misunderstanding about the word "open" here. It has to do with whether the bin edge is included in the bin or not; it is not about the bin

[2022-03-23 08:43] tupui opened #15852 "DOC: helper function to seed examples"
Currently we are rewriting `rng = np.random.default_rng()` so that a common seed is used in the background:

https://github.com/scipy/scipy/blob/78ff9f16c4619759fc59f1e1813900738db8d7d2/scipy/_lib/_util.py#L548-L556

From https://github.com/scipy/scipy/pull/14182#issuecomment-855318533:

We should document that somewhere in the development docs, and expose that example seed somewhere so docstring

[2022-03-23 08:56] tupui commented on #15851
Hi @gideonKogan, thank you for reporting. Please fill out the template, we are missing a lot of information here. To start with, which function are you talking about, please provide a minimal, complete reproducible example.

[2022-03-23 15:10] v0dro commented on #9016
@rgommers consider closing due to danger of backward incompatibility?

[2022-03-23 16:11] #14276 closed

[2022-03-23 16:18] rgommers opened #15854 "CI: Windows Meson job failing sometimes on OpenBLAS binary download"
I've seen this a bunch of times now:
[code]

~20% of the actions on the first page of https://github.com/scipy/scipy/actions/workflows/windows.yml show this failure. @matthew-brett it'd be nice if we could move this, or could make the download more robust somehow. What do you think?

[2022-03-23 16:21] rgommers commented on #15836
Related: there is currently no 32-bit compiler toolchain to build wheels with for Meson. Could be fixed, but is a _lot_ of work. Dropping wheels would make sense. It doesn't preclude stragglers using MSVC + Intel Fortran to build SciPy for 32-bit. That's just not something we can do for official wheels.

[2022-03-23 18:17] gideonKogan commented on #15851
[code]

leads to the warning above, which is unavoidable.

[2022-03-23 18:43] tupui commented on #15851
Ok, thank you. Seems like `return_onesided, scaling` are missing. I am not sure why since the parameters existed when `coherence` got added in #4682.

Not my area, maybe @ev-br or @WarrenWeckesser would know if this is intended or not.

[2022-03-23 18:44] mdhaber commented on #8928
Wow, actually, this tends to speed things up, at least on average among the test cases:
[code]

Surprisingly, it even speeds things up for the problems that `main` currently gets correct.

[code]

So I take back what I wrote; I'm in favor of a fix like this. I'll see if I can speed it up more with `point` and a single call to `ppf`.

[2022-03-23 18:50] mdhaber commented on #8928
`points` won't work for functions with infinite support.
```ValueError: Infinity inputs cannot be used with break points.```

[2022-03-23 19:22] jconoranderson opened #15856 "BUG: Wilcoxon signed rank test not always using normal approximation when ties exist"
### Describe your issue.

I'm running a pre-post hypothesis test on a small dataset using the Wilcoxon signed rank test (scipy.stats.wilcoxon), and noticed when I validated the results the p-value did not match. It looks like it is not using the normal approximation even though ties exist.

Per the documentation the expected approach is:

"To derive the p-value, the exact distribution (mode == 'ex

[2022-03-23 23:53] nevubm opened #15857 "BUG: Memory leak in scipy.odr when using user-supplied Jacobian"
### Describe your issue.

When `set_job(deriv=3)` or `set_job(deriv=2)` is set, memory usage will grow continuously. When that line is removed, or a value of 0 or 1 is used, memory usage does not grow

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.21.5 sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)

[2022-03-24 00:07] bwheelz36 opened #15858 "ENH: scipy.optimize.minimize method='Nelder-Mead': behavior when clipping starting simplex"
### Is your feature request related to a problem? Please describe.

If a user provides bounds for their parameters, the starting simplex will be clipped according to those bounds (this happens at line 783 of scipy/optimize/_optimize in the current main branch).
In some situations, the 'clipped' starting simplex can be quite different to what was expected. The documents are clear on this so it's my

[2022-03-24 00:37] bwheelz36 commented on #15858
Here's the implementation I will put in my code (it's basically the same as the default but the user can change ```nonzdelt```)
This or something like it could replace the code currently at line 743 of scipy/optimize/_optimize

[code]

[2022-03-24 02:14] mdhaber commented on #9389
@tirthasheshpatel thanks for your help making wilcoxon` return the z-statistic. Do you think we should add this information to the return of the KS test or have a separate function?

[2022-03-24 02:18] hanbin973 opened #15859 "BUG: Scipy sparse row/col index is incorrect after shuffling row/col index in csc/csr matrix"
### Describe your issue.

`scipy.sparse` gives a wrong value after shuffling the row (or col) index in csc (or csr) matrix. For the sake of simplicity, I will be talking about the csc matrix if not mentioned.

When I shuffle the row index order, the resulting matrix have a wrong `indices` where it is shown in the code below.
This is corrected if I convert the matrix into another sparse format (e.g

[2022-03-24 02:24] dujong commented on #13213
scipy version 1.4.0 install

[2022-03-24 02:47] #15736 closed

[2022-03-24 06:19] tirthasheshpatel commented on #9389
I also think a separate distance function would be nice (since we have some already and this would fit in).

[2022-03-24 09:26] tupui commented on #15858
Hi @bwheelz36, thank you for reporting. Is this alternative method describe in any paper?

[2022-03-24 09:31] zhaog6 commented on #15657
@michaelbynum No, the `asarray` conversion is to avoid the case where `b` is a deprecated subclass type `numpy.matrix`, it'll fail to be directly used as parameter of Krylov methods such as `cg/cgs/bicg/bicgstab/...` (Need to be converted).

[2022-03-24 10:35] zhaog6 commented on #12748
@blackwer Thank you for your attention. The new PR is in gh-15693

[2022-03-24 12:25] zhaog6 commented on #12748
Dear @blackwer , you can copy the following code and make a testing.
[code]
The iterative steps is 1217, 580, 50  respectively in my server. And if you are familiar with PETSc (ANL) and can master it, you'll check and find that the iterations is same and the convergence history of residual norm is almost same but the implementation is different.

[2022-03-24 12:31] zhaog6 commented on #12748
Yes, there are also some improvements of data storage way based on Python and other mathematical optimizations.

[2022-03-24 14:38] michaelbynum commented on #15657
Thanks, @zhaog6. I appreciate the clarification. Do you see any way to enable the use of subclasses of `ndarray`?

[2022-03-24 15:55] #13717 closed

[2022-03-24 16:04] ilayn commented on #15600
What I mean is that from the user's perspective nobody is interested in how the code traverses the internal paths. It just needs a proper factorial function which is already buried under a `special` module whereas it is always included in the primary namespace in other (commercial/OSS) tools and unfortunately not in NumPy.

`pinv2`, `lsim2` and so on shared also very much the same thinking back th

[2022-03-24 16:25] AlexTholen314 opened #15861 "pip install failing on M1 mac"
I'm trying to use pip to install scipy (python 3.10.2 and two different commands as visible in the terminal output) and I get a litany of errors instead of it actually installing. I don't quite know what more information would be desired - I'm on Big Sur on a 2020 M1 if that helps.

[Terminal Saved Output.txt](https://github.com/scipy/scipy/files/8343493/Terminal.Saved.Output.txt)

[2022-03-24 18:28] KOLANICH opened #15862 "ENH: Implement a method to get modes of `rv_frozen`"
### Is your feature request related to a problem? Please describe.

Needed to access this in unified way.

### Describe the solution you'd like.

`dist.modes()`, or even better, `dist.modes`, returning a tuple of modes, sorted by PDF in that point in descending order.

### Describe alternatives you've considered.

Sort by variable value.

### Additional context (e.g. screenshots, GIFs)

_No respon

[2022-03-24 18:31] KOLANICH opened #15863 "ENH: Implement methods to get `loc` and `scale` of `rv_frozen`"
### Is your feature request related to a problem? Please describe.

May be needed to access.

### Describe the solution you'd like.

`.loc` and `.scale`, or methods.

### Describe alternatives you've considered.

No.

### Additional context (e.g. screenshots, GIFs)

Messing with args when differrent dists have different args and they can be either keyword or positional ones is extremily inconvenie

[2022-03-24 18:43] kevinpalm opened #15864 "BUG: Generalized Gamma PDF Wrong"
### Describe your issue.

I think scipy's implementation of the generalized gamma distribution's PDF is wrong when the second shape parameter is not equal to 1.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.2.1 1.16.4 sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

[2022-03-24 19:06] rkern commented on #15864
Please note that [our parameterization follows a different convention](https://scipy.github.io/devdocs/reference/generated/scipy.stats.gengamma.html) than Wikipedia's; neither is wrong, just different. `generalized_gamma_pdf(x, a, d, p)` corresponds to `gengamma.pdf(x, d/p, p, scale=a)`.

[2022-03-24 19:06] #15864 closed

[2022-03-24 19:32] melissawm commented on #12633
I have a draft that I am almost ready to submit, but would like some feedback on two specific pages. Just checking if we need to keep this content, update it or maybe just remove it entirely. The two I'm thinking of are

- MacOS https://scipy.github.io/devdocs/building/macosx.html
- These instructions for MKL https://scipy.github.io/devdocs/building/linux.html#intel-c-compiler-and-mkl

The way I'm

[2022-03-24 20:02] mdhaber commented on #15856
Yes, there was some confusion about "ties" vs "zeros" in the past. This is a duplicate of gh-13689, so I'll close this one.

In the meantime, if you want a p-value that accounts for ties in your observations:
[code]
The "exact" method of `wilcoxon` is not exact because you have ties, but it is more accurate than the normal approximation in this case. Both are conservative (less chance of Type I er

[2022-03-24 20:02] #15856 closed

[2022-03-24 20:06] mdhaber commented on #13689
To close this issue, we at least need to correct the documentation. At a minimum, we need to clearly distinguish between ties and zeros in the documentation and describe what happens in each case.

Shall I add options for performing the `permutation_test` in case of ties and zeros? If so, what should the interface be? That is under what circumstances (user-specified `method`, presence of ties, pre

[2022-03-24 20:13] mdhaber commented on #15862
This is a more specific version of gh-14895, which asks for `mode` in all distributions, not just frozen ones, so I'll close this.
Please clarify how multiple modes would be sorted by PDF. Wouldn't all the PDFs be the same by definition?

[2022-03-24 20:13] #15862 closed

[2022-03-24 20:19] rgommers commented on #12633
@melissawm those macOS and MKL instructions are both very outdated and are fine to remove.

I would avoid iterm2, because the built-in Terminal app is perfectly fine. Git through Homebrew is the best idea indeed. And I'd say Miniforge is recommended over Miniconda. Actually, while we're at it, let's recommend Mambaforge (https://github.com/conda-forge/miniforge#mambaforge). That has the extra bits