[2019-10-31 04:36] mckib2 commented on #10973
Two things I notice about this proposed enhancement:

1. The FFTs must have correct lengths to do the convolution.  It's simple to do, but letting scipy do it internally you know you'll always do the right thing.  If the caller supplies the FFT, you would have to make an agreement with the caller that they did indeed use the correctly padded FFT.  I can't think of way to check the input to verify

[2019-10-31 21:00] mdhaber commented on #9269
The "rules" are rather complicated; it's more of an algorithm. So I'm afraid that this is impractical to document.  @Kai-Striega with that in mind, what are your thoughts on adding tableau into the `OptimizeResult` object, even if it is very difficult to interpret?

[2019-11-01 00:03] nunomr opened #10998 "Problem importing optimize module"
I'm using Windows 10 and Python 3.7.

I installed scipy through `pip install scipy` and it installed without a problem. However I can't seem to open the optimize module. Just `import scipy` works fine, but `import scipy.optimize` is met with the following problem:

`>>> import scipy`
`>>> import scipy.optimize`
`Traceback (most recent call last):`
`  File "<pyshell#1>", line 1, in <module>`
`    i

[2019-11-01 09:01] sgubianpm commented on #10960
@rgommers, for this windows one, maybe the seeding added by @larsoner in PR #10993 will fix it as this depends on the randomly generated location in the unit tests. What do you think?

[2019-11-01 10:24] rgommers commented on #10960
That seems likely indeed, thanks for pointing that out. I'll close this - can always reopen if it happens again.

[2019-11-01 10:24] #10960 closed

[2019-11-01 21:22] mchirsa5 opened #10999 "Memory leak in SLSQP when interfacing with Matlab"
Hi. I have found a problem when I try to make communication between Matlab and python (using SLSQP). I have built a model in Matlab and tried to use Scipy to optimise the parameters in the model. Therefore, I wrote an objective function in python and use "matlab.engine" to interface between the two. However, I have found that the simulation time in each iteration increases when I call Matlab engin

[2019-11-01 21:54] andyfaff commented on #10999
One way to test for leak of resources is to run slsqp repeatedly in python. If the timings/memory usage doesn't blow out then the issue is probably on the interface to matlab which isnt the responsibility of scipy.

[2019-11-01 21:58] mchirsa5 commented on #10999
Hi Andy, the simulation time increases from 1s at the first few iterations to more than 1 min after 100th iteration.

[2019-11-01 22:22] andyfaff commented on #10999
Please provide a minimum working example that doesn't call any MATLAB code.

On Sat, 2 Nov 2019, 08:58 mchirsa5, <notifications@github.com> wrote:

[2019-11-01 23:57] EricCousineau-TRI opened #11000 "ImportWarning: can't resolve package from __spec__ or __package__ ..."
My issue is about an `ImportWarning` when importing scipy 0.19.1 on Ubuntu 18.04 (encountered in https://github.com/robotlocomotion/drake/pull/12218)

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
[code]

#### Extra Notes

I've tried rebuilding `scipy @ v0.19.1` on my system to see if it's an issue with the Debian distributed packag

[2019-11-02 00:14] EricCousineau-TRI commented on #11000
Confirmed that I can reproduce this error on 0.19.1 on Ubuntu 18.04, but using `pip` rather than the package manager:
[code]

However, this does not happen with the latest version:
[code]

Gonna bisect briefly...

[2019-11-02 00:17] EricCousineau-TRI commented on #11000
The release of `0.19.1` is `1.0.0`, and the import warning goes away. So yeah, I'm just gonna close this.

[2019-11-02 00:17] #11000 closed

[2019-11-02 03:03] Kai-Striega commented on #9269
I agree. Even if they were simpler I don't think they **should** be documented - if they are improved - we won't have any issues with backwards compatibility.

As it stands, the values passed to callback have been transformed back to the *users* problems while the tableau still represents the internal problem. I can't see being useful. Passing the internal tableau/variables/et al. could be useful

[2019-11-02 16:56] echo5india opened #11002 "Dual Annealing Algorithm evolution"
It is already possible to add a call back in the dual_annealing function to see how the optimization goes. But it is only possible to get minimum and function value at the minimum.

Would it be possible to add more parameters to the callback function, at least the iteration number in order to plot the evolution with respect to optimization time.

It would be really useful to get these informations

[2019-11-03 02:31] BinglePan commented on #9269
@Kai-Striega  I've tested linprog in scipy 1.1.0 on a rather simple example (3 non-negative variables and 3 constraints (1 equality and 2 inequalities). In my mind, the size of the simplex tableau for this LP problem should be 4 (3 constraints + objective function) * 6 ( 3 decision variables + 2 slack/surplus variables + 1 RHS value).  But I got a 5*9 matrix instead. It seemed that even if the con

[2019-11-03 12:12] rgommers commented on #11002
Seems like a reasonable request, however the signature of `callable` isn't easily extensible without breaking backwards compatibility. Unfortunately this is also true for other optimizers - not sure we discussed that before somewhere.

In this case, you could keep track of the iteration number yourself, because there'll be exactly one call to `callback` each iteration so `callback` could increment

[2019-11-03 23:24] echo5india commented on #11002
Thank you for the prompt answer.

Yes I thought about that but If I want to know if the new energy was accepted or not it would be easier since parameter calibration for this kind of algorithm is quite important.

Also something more important: I think the default parameter 'accept' should be above 1.0 and not negative. Otherwise the algorithm never choses states with a higher energy.

[2019-11-04 02:47] Kai-Striega commented on #9269
@BinglePan the 5×9 matrix represents the phase one tableau i.e. it includes the pseudo-objective function (`f'`) and 3 artificial variables. When a solution to the phase one problem was found the extra row and columns were removed.

Between 1.1 and 1.2 the presolve method used by the interior-point solver was added to the simplex solver. This uses more complex rules/transformations/substitutions t

[2019-11-04 07:10] BinglePan commented on #9269
@Kai-Striega Thanks for your interpretation. So at present `linprog` can't be used to do sensitivity analysis or to calculate the shadow price. But there is a library 'mosek' which is available at [https://docs.mosek.com/9.0/pythonapi/sensitivity-shared.html](url) . Maybe it can help.

[2019-11-04 10:41] PalAditya commented on #10998
Interesting. This issue seems to be not related to scipy though, since I am running a similar setup (Windows 10, Python 3.7) and the import works just fine

You can possibly try the methods [here](https://stackoverflow.com/questions/22753695/dll-load-failed-with-scipy-optimize), especially the part about 32/64 bit Python.

[2019-11-04 13:42] stsievert commented on #10887
Thanks for this issue – I'll likely use this over in [stsievert/scipy-convolve-timings][1].

Why should it be `min(x.size, h.size)` instead of `x.size * h.size`? If correct I presume this will have to be the minima along each dimension.

[1]:https://github.com/stsievert/scipy-convolve-timings/

[2019-11-04 16:07] Laphet opened #11007 "Precondition does not provide any efficiency in cg"
My issue is about precondition in the sparse solvers (cg, gmers). I tried an incomplete LU factorization as preconditioner. However, this does not provide any decrease in consuming time even greatly lags the program more than 10 times!

I am confused by this situation, my original problem is a Poisson equation defined on a square domain, and I discrete this problem with Q1 finite element method. T

[2019-11-04 17:52] tlatorre-uchicago opened #11008 "truncnorm pdf doesn't work for multidimensional arrays"
It seems like truncnorm.pdf isn't able to properly handle multidimensional input arrays for the a and b parameters.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2019-11-04 17:52] zoj613 opened #11009 "ENH: Implement the Polya-Gamma distribution"
Polya-gamma random variables are commonly used as auxiliary variables during data augmentation in Bayesian sampling algorithms, which have wide-spread usage in Statistics.

An implementation of the distribution such that one can sample random values from it would be a nice addition to scipy.stats

The paper: [Sampling Polya-Gamma random variates:  alternate andapproximate techniques](https://arxiv

[2019-11-04 18:39] peterbell10 commented on #10887
For each element in the output, you calculate `sum(a * b)` where `a` and `b` are the appropriately shifted input arrays. That operation has linear time complexity, not quadratic.

In theory, I think that's right. However, thinking about this again, it's might actually be the maximum along each dimension because of https://github.com/scipy/scipy/issues/5967#issuecomment-519861440.

[2019-11-04 18:43] drorspei commented on #10887
Hej hej
Nah, it's not over each dimension. The formula I gave is based directly on the C code and is exactly the number the multiplications.

[2019-11-04 18:44] peterbell10 commented on #10887
How did you determine that?

[2019-11-04 18:49] drorspei commented on #10887
I created a class with mul and add and passed arrays of it on for all shapes with ndim in [1,4] and shapes in some ndim-cube. I'll look for the code to post it up here, but it wasn't anything complicated.

[2019-11-04 19:16] tylerjereddy commented on #11008
I couldn't reproduce on SciPy master branch with NumPy 1.17.3--I get this result:

[code]

[2019-11-04 19:22] ahalota opened #11011 "`binned_statistic_2d` flips x/y coordinates in result"
The shape of stats.binned_statistics_2d does not match up properly with what is described as x/y in the docstring. It seems to be flipped along x/y axis (although the x_edge and y_edge results are as expected).

#### Reproducing code example:
[code]

**Leads to this output:**

**counts**
[code]
**counts.statistic.shape**
[code]

**Expected Result**
I'd expect the actual result to be what I get by

[2019-11-04 19:55] rlucas7 commented on #11009
To implement a new distribution in stats requires more than solely sampler, there also need to be methods for calculation of the pdf, cdf, tail cdf (survival function), moments, etc.

The linked arxiv paper refers to a paper which details multiple methods to sample from the distribution. In that paper there is an infinite series for the distribution. There would need to be some sort of truncation

[2019-11-04 20:03] stsievert commented on #10887
The formula `min(x.size, h.size) * out.size` is right and has O(n<sup>2</sup>) time complexity, at least when in the 1D setting and `x` and `out` have `n` elements and the kernel has (say) `n // 10` elements. In the same case, the formula `x.size * h.size * out.size` has O(n<sup>3</sup>) time complexity which is clearly wrong.

And I suppose number of operations of `method="fft"` is actually
[code

[2019-11-04 20:09] peterbell10 commented on #10887
As in #10904, the big O of the fft method is
[code]

[2019-11-04 20:16] peterbell10 commented on #10887
To explain: `x` and `h` are padded to `full_out_shape` before taking the FFT. The FFT has complexity `x0 * log(x0)` for a 1D array, in an ND array their are `_prod(full_out_shape) / x0` repetitions of the 1D transform.  Or `log(x0) * _prod(full_out_shape)` per axis.

[2019-11-04 20:44] drorspei commented on #10887
I've run all ffts of powers of two up to twenty on my lenovo yoga 920, and
the complexity looks more linear than nlogn. I think it would be
interesting to do this on a few cloud instances, say some EC2s, and see if
this replicates on other hardware with similar line fits.
What do you think?

On Mon, Nov 4, 2019, 21:16 peterbell10 <notifications@github.com> wrote:

[2019-11-04 21:08] peterbell10 commented on #10887
the complexity looks more linear than nlogn.

Bear in mind that `O(n)` and `O(n log(n))` look almost identical on that scale:

![Figure_1](https://user-images.githubusercontent.com/13238737/68157559-c84fa580-ff45-11e9-9b1d-cbdd63f29db7.png)

And also that the reality is much more complicated than big O notation:

![TimingsBig-1](https://user-images.githubusercontent.com/13238737/68157899-78251300-

[2019-11-04 21:22] drorspei commented on #10887
I totally agree about the reality part. Writing an automated script to test
it on multiple EC2 hardware might shine some light on this, and also, maybe
more importantly, give us a repeatable way to produce appropriate O
constants.

On Mon, Nov 4, 2019, 22:08 peterbell10 <notifications@github.com> wrote:

[2019-11-04 21:41] stsievert commented on #10887
What version of SciPy? The FFT implementation will be improved in SciPy 1.4.

Good point. I'm not sure how straightforward that'll be; FFT timing depends strongly on the base:

[code]

I'm using SciPy's `curve_fit` in [stsievert/scipy-convolve-timings][1] to determine the constant of `fft_time / direct_time`.

[1]:https://github.com/stsievert/scipy-convolve-timings/

[2019-11-04 21:46] drorspei commented on #10887
I'm on the latest pip, so you're right, not the latest.

Regarding the base, note that the ffts are on smooth numbers, while 2^20+1
is far from smooth.

On Mon, Nov 4, 2019, 22:41 Scott Sievert <notifications@github.com> wrote:

[2019-11-05 00:04] #4562 closed

[2019-11-05 00:27] WarrenWeckesser commented on #11008
I can reproduce the error with SciPy 1.2.0, but not 1.3.0, so apparently the problem has been fixed (possibly by https://github.com/scipy/scipy/pull/9900, but I haven't done a full git bisect to check).

[2019-11-05 00:27] #11008 closed

[2019-11-05 02:14] ntenenz opened #11014 "Barnard's Test for More Powerful Hypothesis Testing of 2x2 Contingency Tables"
While the rule of thumb for what constitutes "too small" may vary by source, it is largely understood that the chi-squared test and G-test are [often inappropriate](http://www.biostathandbook.com/small.html) when 2x2 contingency tables contain "small counts." Currently, `scipy.stats` contains `fisher_exact`, which can be used in these scenarios. However, this method can often be quite conservative

[2019-11-05 02:27] josef-pkt commented on #11014
I tried to implement it for statsmodels.
The problem is that the naive implementation is computationally not very efficient and takes time for samples that are not tiny. I got stuck in implementing a more efficient algorithm.
(several years ago)

A good implementation would be good to have, it would fit in scipy.stats with the other related tests, (but statsmodels would be an alternative).

[2019-11-05 12:47] Karrenbelt opened #11016 "dense to sparse multidimensional meshgrid"
could this dense multidimensional meshgrid be turned into a sparse one to alleviate memory issues?

https://numpy.org/devdocs/reference/generated/numpy.mgrid.html
https://docs.scipy.org/doc/numpy/reference/generated/numpy.meshgrid.html

[2019-11-05 14:52] larsoner commented on #4561
I can confirm that the `residue` / `residuez` parts have been fixed by #10997, keeping this open because of the `invresz` problem(s)

[2019-11-05 15:26] ntenenz commented on #11014
Thoughts on a PR which provides a naive/inefficient implementation? Given the primary value-add is in cases of small N, the poor scaling may not impact many potential applications.

[2019-11-05 15:37] shapovalov opened #11019 "[Segfault] sp.interpolate.griddata crashes on specific input"
`sp.interpolate.griddata` gives segmentation fault on my input. This is quite a nasty bug since there is nothing obviously wrong with the input, so no way to catch this before calling the function or as an exception; the function crashes the whole process.

#### Reproducing code example:

Load [the file](https://drive.google.com/open?id=1MLxSZxKhGi_F9FTnFu74FSn7fDNXlxxK) with the input parameters

[2019-11-05 16:12] farmeh commented on #10595
I'm following .

[2019-11-05 18:25] #4669 closed

[2019-11-05 19:00] e-q commented on #9872
I'm not sure if it was #10517 and #10518 in particular, but on my machine, the code above results in vectorized calls winning now.
![Unknown](https://user-images.githubusercontent.com/6894112/68237170-a0f3e980-ffd4-11e9-98d9-2d3ac84d7f4a.png)

[2019-11-05 19:02] rlucas7 commented on #11009
There is this package which ports the sampler component already if you need to implement:

https://github.com/slinderman/pypolyagamma

Sincerely,

-Lucas Roberts

[2019-11-05 19:10] josef-pkt commented on #11014
I'm not sure. I don't think I did much timing when I looked at this.
The main problem might be cases with unequal numbers, e.g. 100 in one cell and 4 in another cell

CORRECTION:
I don't find anything on Barnard on my computer, so I didn't look into the details for it.

What I tried to work on in 2015 or earlier is Blaker exact confidence intervals which is also a unconditional method similar to B

[2019-11-05 19:18] zoj613 commented on #11009
I already linked that package in the initial post.

[2019-11-05 19:24] zoj613 commented on #11009
It still would be a big convenience to have it implemented in one of the big libraries like scipy or numpy so people dont have to search for different libraries that have possibly different APIs. If you read the paper you will notice that the partial sums dont ever get summed to infinity. There is a stopping run that ensures all sums taken are finite. And this is with one of the 4 methods proposed

[2019-11-05 20:18] nmayorov commented on #4561
Let me comment about leading and trailing zeros in `invres` and `invresz` results.

If we have `n` poles and the length of direct term is `m`, then the numerator has length `n + m` and the denominator has length `n + 1`.

As we doing numerical computations we can't check for trailing or leading zeros in the result. We can only check for exact zeros in the input `k`.

In the example `invres([ 6,  1

[2019-11-05 21:11] benjaminr opened #11020 "signal.fftconvolve return a tuple including lag information"
I'd be surprised if this hasn't been raised before, but I think it'd be useful to provide amethod for returning lag information alongside the FFT convolution results.

For people new to cross-correlation and the FFT convolution method, it adds an extra step of complexity that can be frustrating.

I suggest passing back a numpy array with the lag information alongside the existing output in a tuple

[2019-11-05 21:42] wevonosky commented on #10973
1) I agree with your points here. I don't think saving a little time would be worth causing the function to silently fail because the user provided incorrectly padded or shaped Fourier spectrum.

2) Again I agree, I admittedly didn't think too long about how the internals of this function would have to change and what assumptions would need to be made in order to make it work. I have been working

[2019-11-05 21:42] #10973 closed

[2019-11-06 09:11] frenzymadness opened #11021 "spatial/tests/test_kdtree.py crash"
I am building scipy 1.3.1 in Fedora rawhide with Python 3.8 and multiple tests from `spatial/tests/test_kdtree.py` crash.

#### Reproducing code example:
The simplest reproducer is from one of the tests:

[code]

#### Error message:
[code]

GDB output:
[code]

#### Scipy/Numpy/Python version information:
Scipy: 1.3.1
Numpy: 1.17.3
Python: 3.8.0

[2019-11-06 09:20] robomechs commented on #10927
ERROR: Command errored out with exit status 1:
   command: 'c:\users\fablab\appdata\local\programs\python\python38-32\python.exe' 'c:\users\fablab\appdata\local\programs\python\python38-32\lib\site-packages\pip' install --ignore-installed --no-user --prefix 'C:\Users\FabLab\AppData\Local\Temp\pip-build-env-grh495uw\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https

[2019-11-06 14:31] rlucas7 commented on #11009
@zoj613 To be clear, I'm not opposed to implementing in SciPy, I'm pointing out what one would need to include to implement based on the distribution class structure in scipy. For continuous distributions there is also a `fit()` method to estimate the parameters that would need to be implemented. Given the representation that might be somewhat complicated and slow to implement, not sure if that wo

[2019-11-06 15:33] zoj613 commented on #11009
I understand your concern. I am still learning the `scipy.stats` API for distributions so maybe once I feel confident enough that I can do it maybe i'll submit a pull request....unless someone more capable does it before my attempt.

[2019-11-06 18:18] lobpcg commented on #10974
@glemaitre Yes, it was really intended in scipy/scipy/sparse/linalg/eigen/lobpcg/lobpcg.py Lines 105 to 108 in 91f4394 not not fail early.

It appears that the error is coming from LinearOperator, evaluating
`A(activeBlockVectorR)`  possibly because  `activeBlockVectorR` is `None`. I'll try to find time to double-check the code logic - why it gets to line 489 in lobpcg if `activeBlockVectorR` is i

[2019-11-06 18:27] glemaitre commented on #10974
size(X) is 32561x123 so to do SVD(X) the easy way one should use the normal matrix 123x123, which is MLO.H(MLO(V)) where V.shape[0]=123 , not your MLO(MLO.H(V)) which is size 32561x32561, and has all (but 123) zero eigenvalues.

Yes that's why I am expecting an error to be raised.

[2019-11-06 18:42] jacksonvanover opened #11022 "Unexpected Result in factorial function with NaN input"
When the argument to the factorial function is NaN, the result is
zero. Dropping the NaN seems strange. Perhaps it should be propagated instead?

#### Reproducing code example:

[code]

#### Scipy/Numpy/Python version information:
1.2.0 1.15.4 sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

[2019-11-06 18:43] #10360 closed

[2019-11-06 19:20] lobpcg commented on #10974
Well, it does give an error :-)

However, lobpcg should still be expected to run on this example without errors, in my opinion, just given a symmetric matrix even with mostly zero eigenvalues.  I just have never tested the code on such matrices.

I guess that what happens in your example is that **_some of the random columns in your initial Q are already eigenvectors, resulting in zero columns in

[2019-11-06 20:36] ntenenz commented on #11014
I have a naive implementation (at home) that I could potentially clean up to contribute if there's interest. Working from memory, I believe the algorithm scales as `O(N_T1 * N_T2 * N_nuisance)` where `N_Tx` are the number of samples in a given treatment and `N_nuissance` is the number of discrete values of the nuisance parameter considered.

[2019-11-06 22:04] josef-pkt commented on #11014
Not Barnard but related
I was looking at exact tests for difference in binomial proportion, especially I like Berger/Boos
https://github.com/statsmodels/statsmodels/pull/2608/files#diff-26a83a395f464c482b7651425f0fa4f3R16

(My code. statsmodels PRs and issues are a mess, because I was jumping around between many different cases and methods instead of implementing one function.)

[2019-11-06 23:35] peterbell10 commented on #11021
Looks like the issue fixed in #10567. @pv can you confirm?

[2019-11-07 02:37] rlucas7 commented on #11009
@zoj613 if you are looking to contribute to SciPy you can post a PR with work in progress WIP if you like. If you feel that a new distribution is a large undertaking, you can search the open issues on github repo for those with label `good first issue` of which there are several. If you want a less complicated distribution than the Polya-Gamma, there are several that have open issues (I'd check th

[2019-11-07 10:22] ZirconfleX opened #11024 "Does not install under python 3.8.0"
Hi,

Tried to migrate ( using pip-migrate) scipy (1.3.1) from python version 3.7.4 to version 3.8.0.
The migrate operation error-ed out when it wanted to migrate scipy.

Removed scipy from the 3.7.4 installation and then ran the migrate operation again.
Everything worked fine, no errors nor warnings.

I then tried to install scipy (1.3.1) per pip into 3.8.0 and that error-ed out the same way as wi

[2019-11-07 10:48] drorspei commented on #10887
I've uploaded the code that checks the complexity of the direct method:
https://github.com/drorspei/misc/blob/master/notebooks/conv-complexity.ipynb

There isn't a nice formula once you include the other modes, e.g. valid and same. Even for full mode the formula is different for single dimension.

[2019-11-07 11:32] drorspei commented on #10887
@stsievert The fft improvements in scipy 1.4 are not included in numpy :)
So need to time the fft directly in scipy. Here it is on my laptop (unfortunately significantly slower), also with timings using `next_fast_len(2**20+1)` - coming up pretty much the same as `2*20`:
[code]

[2019-11-07 13:59] peterbell10 commented on #10887
The 1d case uses `np.convolve` instead of `sigtools._correlateND`.

[2019-11-07 15:51] bentheiii opened #11026 "rv_discrete.interval returning wrong values for alpha = 1"
Scipy's rv_discrete.interval method, it appears that the lower bound is decreased by 1 when the alpha is set to exactly 1 (as far as I can tell, this is the most reliable way to get a generic rv's support's minimum)

#### Reproducing code example:

[code]

#### Scipy/Numpy/Python version information:

1.3.1 1.17.3 sys.version_info(major=3, minor=8, micro=0, releaselevel='final', serial=0)

[2019-11-07 15:53] truatpasteurdotfr commented on #10927
FWIW:  scipy 1.4.0.dev0+ba207e9 works for me (CentOS-7) with python 3.8.0 rebuild from source

[2019-11-07 16:01] e-q commented on #11024
Wheels for 3.8 will be released as part of scipy 1.3.2. See the discussion in #10927

[2019-11-07 16:01] #11024 closed

[2019-11-07 16:29] drorspei commented on #10887
Do you know why? They seem to require the same number of multiplications.

Another major thing to note is that the mode should really be taken into account in `_fftconv_faster`. For `direct` and `valid`, on equal shapes, there are `prod(shape)` multiplications, which is much smaller than for `direct` and `full` on the same shapes, which needs more than `prod(shape)^2` multiplications.

[2019-11-07 16:43] e-q commented on #11020
Strictly speaking, the indices of a convolution result aren't lags, so the interpretation of the indices change whether you're interpreting the result as a convolution or a cross-correlation (having time-reversed and complex-conjugated one of the input signals).

Can you be a little more specific about the confusion/complexity that you encountered?

FWIW, the example in the [fftconvolve docs](http

[2019-11-07 16:49] marvinlenk commented on #8205
The problem still exists for me, using Anaconda 2019.10-py37 with mkl 2019.4 and scipy 1.3.1. A rather comprehensive description of my problem can be found here: https://stackoverflow.com/questions/54314529/mkl-error-parameter-12-for-large-matrices-with-scipy-linalg-eigvalsh-in-an

To make a long story short - I used the scipy lapack wrappers to do what is written in the eigvalsh (or rather eigh)

[2019-11-07 16:58] ev-br commented on #8205
and

It would be helpful if you could add here both programs/scripts.

[2019-11-07 20:37] benjaminr commented on #11020
Sure, I recognise that; I think I was just making a comparison with Matlab's xcorr which does what I'm describing.

The docs example is good for an autocorrelation, but in the case of cross-correlation, getting the delay / lag out is more involved. See below for an example.

[code]

[code]

Perhaps a solution is a separate xcorr style function that wraps fftconvolve, returning a tuple of the corre

[2019-11-07 23:23] guhanrv opened #11027 "Pearsonr reports p-value of 0 with lists of length 2"
My issue is about ...

pearsonr. In the language R, running cor.test on a list of 2 yields an error:

cor.test(c(0.5, 0.25), c(0.25, 0.4))

Error in cor.test.default(c(0.5, 0.25), c(0.25, 0.4)) :
  not enough finite observations

But entering the same into pearsonr gives me an ultra-confident result (see below)

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/

[2019-11-08 00:13] WarrenWeckesser commented on #11027
This was fixed in SciPy 1.3.  When the input has length 2, `pearsonr` will report a p-value of 1:

[code]
The rationale is given in last paragraph of the "Notes" section of the [docstring](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html).

[2019-11-08 00:20] WarrenWeckesser commented on #11027
@guhanrv, I am closing the issue, but questions or further discussion are welcome.

[2019-11-08 00:20] #11027 closed

[2019-11-08 01:02] rlucas7 commented on #11022
@jacksonvanover Can you update your SciPy version to 1.3.1 and see if you still see this behavior?

I reran your example on my dev branch and I see the `nan` propagate:
[code]

[2019-11-08 01:14] WarrenWeckesser commented on #11022
@rlucas7, that behavior appears to be a consequence of https://github.com/scipy/scipy/pull/10954, which changed how scalars are handled.  If you pass an array-like to `factorial`, `nan`s in the input result in 0 in the output:

[code]

[2019-11-08 02:15] rlucas7 commented on #11022
@WarrenWeckesser thanks for pointing this out. Looks like I'm ahead of that commit (`558ec14`) too so the issue was transmogrified from scalar to array-likes :). Should the behavior here be to propogate? I'm less familiar with the behavior of `scipy.special` handling of `nan`. I'm not sure if there is a `nan_policy` concept similar to `scipy.stats`, if default behavior would be propagate, throw er

[2019-11-08 02:27] e-q commented on #11020
A correlation function exists in `signal.correlate` At the very least, the docs for that function could have some additional notes or an example for computing the lag vector. It looks like `matplotlib.pyplot.xcorr` actually returns the lag vector, so there is some precedent.

Searching around also reminded me of stalled efforts to add a `maxlags` argument to convolution and correlation functions i

[2019-11-08 02:43] person142 commented on #11022
No NaN policies-inputs in the array that enter as NaN should remain NaN.

[2019-11-08 02:48] WarrenWeckesser commented on #11022
I agree with @person142, just propagate the `nan`s.

[2019-11-08 13:04] fbuchhol opened #11028 "Documentation error in optimize.minimize"
Hi,
 I've found a wrong statement in
Documentation of optional parameters for minimize(method=’trust-constr’)
initial_barrier_parameter, initial_barrier_tolerance: float, optional

Current text:
This subproblem is solved for increasing values of barrier_parameter
Correct text:
This subproblem is solved for decreasing values of barrier_parameter

One could also mention here that barrier_parameter a

[2019-11-08 15:50] fuglede commented on #11026
According to the documentation, `interval`, produces a

Here, presumably, "equal areas" means "equal mass".

If you use the definition that a *median* of a random variable $X$ is any number $m$ satisfying $P(X \geq m) \geq \frac{1}{2}$, $P(X \leq m) \geq \frac{1}{2}$, then the medians of `rv` are all numbers $0 < m < 1$. Then the above definition of course depends on the value of $m$, but in this

[2019-11-08 16:05] rlucas7 commented on #11022
Thanks for clarifying guys. I'm finishing up a patch to close:
https://github.com/scipy/scipy/issues/7058
after that is up I can take a look at a fix for this one.

Unless @jacksonvanover is interested in opening a PR to fix?

[2019-11-08 16:27] josef-pkt commented on #11026
`interval` is defined in terms of tail probabilities with at least the given coverage.

In the discrete case, if we need to include the lower bound, then the value is set to one lower (-1).

I always had problems with this, it's not intuitive and I don't remember it unless I go through the argument again.

The main reason is that `cdf` is defined as closed on the right, and `sf` as open on the lef

[2019-11-08 19:22] pisarik opened #11029 "Cython API for special.spherical_jn"
Hi,

I want to call `scipy.special.spherical_jn` function directly from Cython (i.e. without gil).
But unfortunately I can't find it in the list of Cython API for the special functions.

Inspecting source code of scipy I have found a `_spherical_bessel.pxd` with nogil functions like [`spherical_jn_real`](https://github.com/scipy/scipy/blob/8dba340293fe20e62e173bdf2c10ae208286692f/scipy/special/_sp

[2019-11-08 19:41] benjaminr commented on #11020
Sure happy to have a look at this.

[2019-11-08 19:53] person142 commented on #11029
Hey @pisarik, the reason they aren’t there is because the spherical Bessel function signatures have a Python wrapper to add a keyword argument (`derivative`) and the current Cython special codegen can’t handle that automatically.

I’ve been meaning to hand-write some Cython wrappers for situations like this (`zeta` is another one).

As a stopgap, you could maybe use the relation to the Bessel func

[2019-11-08 21:14] pisarik commented on #11029
Hi @person142, thanks for super fast answer!:)

I think I am using right now stopgag you mentioned: `jv(i + 0.5, x) * sqrt(M_PI_2 / x)`.
But it turns out it works very slowly comparing to `spherical_jn`.

I have highly numpy vectorized function code just in Python, which gives me next timings:
1) Python code with `jv`: 700 ms
2) Cython code with `jv`: 680 ms
3) Cython code with `jv` + openmp: 145

[2019-11-08 21:33] pisarik commented on #11029
Oh, I see. If the argument `x < n` then it uses just `cbesj` routine. But for big enough `x` it uses recurrent approach. I think I can just derive this part of `_spherical_bessel.pxd` as a stopgag.

But if there is a way to call it I would use it :)

[2019-11-09 04:43] pisarik commented on #11029
Dear @person142,

I have found the article [Recurrence Techniques for the Calculation of Bessel Functions](https://www.ams.org/journals/mcom/1959-13-066/S0025-5718-1959-0105794-5/S0025-5718-1959-0105794-5.pdf) By M. Goldstein and R. M. Thaler very helpful for fast calculation of jv through recurrent formula with saving accuracy.

Also during working through the code in `_special_bessel.pxd` I have

[2019-11-09 09:58] fuglede commented on #11026
@josef-pkt Are you saying that the intervals produced by `interval` are open? Then its outputs are even more wrong in this case (so if other parts of `scipy.stats` depend on them, that should also be problematic). Or perhaps include the upper bound but not the lower? In any case, that really should be spelled out in the docs as well.

[2019-11-09 14:27] josef-pkt commented on #11026
AFAIR, cdf and similar for discrete distributions are used in hypothesis tests for discrete data.
Those are verified in their results, so they use the current behavior correctly.

The main point in the definition is `Prob(x in A) >= coverage` rate

I don't remember or I'm not sure whether the interval is open on the left and closed on the right
i.e. Prob(x in A) = Prob(a < x <= b) = cdf(b) - cdf(a

[2019-11-09 14:49] #7102 closed

[2019-11-09 14:53] beckermr opened #11033 "deadlock on osx for python 3.8"
We are still seeing something weird with a python 3.8 build on osx over on conda-forge

[code]

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=91407&view=logs

This is with a patch from the 1.3.x branch here

https://github.com/conda-forge/scipy-feedstock/blob/02371e5393763b42fef7f50552829e57f2eb79f3/recipe/scipy1.3.2.patch

@rgommers  for viz

relates to https://github.

[2019-11-09 15:02] ilayn commented on #11033
Could you please add which OpenBLAS lib you are linking to?

[2019-11-09 15:05] beckermr commented on #11033
For sure but it will be a while since I need to run to a kids birthday party. This is a conda forge build so we are linking to whatever openblas version is in the global pinnings.

[2019-11-09 15:05] rgommers commented on #11033
Thanks for the bug report @beckermr.

This was also noticed and debugged at https://github.com/scipy/scipy/issues/10927#issuecomment-542365484. Short summary: it was caused by a Python bug (https://bugs.python.org/issue38501) without a response so far.

Explicit `gc.collect()` was added in two places to work around this hang in https://github.com/scipy/scipy/pull/10930. Backported to `1.3.x` in co

[2019-11-09 15:06] rgommers commented on #11033
Are we? Do you have a link?

[2019-11-09 15:07] ilayn commented on #11033
Our local runs for #11001 together with @mdhaber and the linked issue

[2019-11-09 15:07] beckermr commented on #11033
Ahhh so to be clear, I ran this build with a patch derived from the maintenance branch for 1.3.x. So I am pretty sure the commit you mentioned was already applied.

[2019-11-09 15:08] josef-pkt commented on #11026
I'm not sure interval for discrete distributions has been systematically reviewed, I don't think I ever did.

searching issues for "interval discrete"

#9706 docstring for interval
#10317 nbinom, poisson example seems to return 0 as lower endpoint, and not -1
#9762 (closed) poisson seems to include endpoints, argument Prob(x in A) = cdf(b) - cdf(a - 1)

----

There is a BUG for prob=1, I guess in

[2019-11-09 15:13] josef-pkt commented on #11026
So, `interval` follows standard definition with closed interval on both sides

for discrete distributions
`A = {x: a <= x <= b)`
`Prob(x in A) = cdf(b) - cdf(a - 1) >= coverage rate`

[2019-11-09 15:17] rgommers commented on #11033
Got it, so we do still have a real problem. Release is already tagged, and wheels are being built. I think it's best to continue with the release, and try to debug this problem asap and push out a 1.3.3 fix if needed. People are blocked upgrading to py38 by no SciPy release, so this seems better than delaying since we don't have a root cause or fix yet. @tylerjereddy FYI

[2019-11-09 15:17] rgommers commented on #11033
yes, checked the diff and the patch was already applied

[2019-11-09 15:34] ilayn commented on #11033
OK here is the verbose version of the problem

[code]

I'll look into it right now but let me know if you see the problem right away.

[2019-11-09 15:40] ilayn commented on #11033
Looks like we are bitten by this recursive firing https://stackoverflow.com/questions/18204782/runtimeerror-on-windows-trying-python-multiprocessing

[2019-11-09 16:39] ilayn commented on #11033
@beckermr Could you please test the patch in the linked PR above please?

[2019-11-09 16:43] WarrenWeckesser commented on #11033
FWIW: I'm on OS X 10.12.6, and I installed Python 3.8 from https://www.python.org/, and used pip3 to install all the scipy dependencies.  I built scipy from the master branch (last commit 35fd20ec1aa05).  The test `../../tests/test__util.py::TestMapWrapper::test_parallel` hangs:

[code]

[2019-11-09 16:47] rgommers commented on #11033
Ah, this is why macOS started failing for 3.8 (from [the docs](https://docs.python.org/3.8/library/multiprocessing.html#contexts-and-start-methods)):

_Changed in version 3.8: On macOS, the spawn start method is now the default._

Further down it states: _Functionality within this package requires that the `__main__` module be importable by the children._ That explains the infinite recursion proba

[2019-11-09 16:49] ilayn commented on #11033
Indeed, that's how I ended up with the fix. Looks like we are still OK sans the test fix.

[2019-11-09 18:36] jacksonvanover commented on #11022
Hi all! Thanks for the confirmation/discussion. If I find the time in the coming week, I will take a look.

[2019-11-09 18:37] rgommers commented on #11033
This is a known issue with `pytest` + `multiprocessing`: https://github.com/pytest-dev/pytest/issues/958

Suggested workaround is to run the tests with `python -m pytest ...`

[2019-11-09 18:41] beckermr commented on #11033
Hmmmmm. Do you have suggestions for this test script on the conda feedstock?

https://github.com/conda-forge/scipy-feedstock/blob/master/recipe/run_test.py

[2019-11-09 18:43] ilayn commented on #11033
I'd rather guard on SciPy side instead of hitting this again if something else changes on the pytest side.

[2019-11-09 18:53] rgommers commented on #11033
Yes, if the guard in gh-11034 is correct, that's definitely preferable.

[2019-11-09 18:58] CooperData opened #11035 "Sparse data with mannwhitneyu"
**Is your feature request related to a problem? Please describe.**
I have very sparse data for what I am testing. The current implementation does not take sparse data as it calls len of the sparse array.

**Describe the solution you'd like**
I dont know yet how to solve this, but I am guessing we could make a change to change the methods called when a sparse array is passed to the method.

**Descr

[2019-11-09 19:48] andyfaff commented on #11033
I don't understand why tests have started failing on Python 3.7, they've been running ok up until now.

[2019-11-09 19:56] andyfaff commented on #11033
Suggested workaround is to run the tests with python -m pytest ...

See:
https://github.com/pypa/setuptools/issues/443

[2019-11-09 20:06] ilayn commented on #11033
I am using the latest setuptools and unfortunately it is not solved.

[2019-11-09 20:12] #10948 closed

[2019-11-10 02:43] rgommers opened #11041 "Test failure in wheel builds for TestTf2zpk.test_simple"
Showing up on the most recent SciPy wheel builds:
[code]

It happens only for a few configs (against older NumPy), see https://travis-ci.org/MacPython/scipy-wheels/builds/609791696. Numbers look equivalent, test needs a small tweak - will have a look at fixing that.

[2019-11-10 04:34] rgommers commented on #11002
This is unrelated to the `callback` request, and I'm not sure about what the right response is. Could you open a separate issue for this, with an example that shows the problem?

[2019-11-10 05:12] #10987 closed

[2019-11-10 09:49] #11041 closed

[2019-11-10 12:08] antoine-levitt opened #11043 "scipy.interpolate.pade does not support complex numbers"
Should be a straightforward fix.

[2019-11-10 12:28] ev-br commented on #11043
https://github.com/scipy/scipy/pull/10298 will be available in scipy 1.4, when it's released.

[2019-11-10 12:28] #11043 closed

[2019-11-10 12:59] antoine-levitt commented on #11043
Sorry, for some reason it didn't show up in search. Thanks!

[2019-11-10 15:37] rgommers commented on #8165
this sounds sensible to me.

[2019-11-10 15:40] rgommers commented on #10880
PR was merged, closing. Thanks all!

[2019-11-10 15:40] #10880 closed

[2019-11-10 15:53] #5112 closed

[2019-11-10 16:41] rgommers commented on #3793
gh-7076 is now merged, so closing. Thanks @jankoslavic and @domengorjup

[2019-11-10 16:41] #3793 closed

[2019-11-10 17:36] #7140 closed

[2019-11-10 17:36] #9669 closed

[2019-11-10 17:36] #10991 closed

[2019-11-10 18:04] rgommers commented on #9844
bumping the milestone on this, since it still needs investigation

[2019-11-10 18:42] isuruf commented on #10965
`linalg/tests/test_solvers.py::test_solve_discrete_are` fails with

[code]

[2019-11-10 18:48] rgommers commented on #10965
with OpenBLAS? it passes in our test suite, so likely an OpenBLAS issue

[2019-11-10 18:48] isuruf commented on #10965
With Reference LAPACK

[2019-11-10 18:48] ev-br commented on #10965
Can probably change the test to use assert_allclose(..., atol=1e-15)

[2019-11-10 18:48] ev-br commented on #10965
Can probably change the test to use assert_allclose(..., atol=1e-15)

[2019-11-10 18:50] isuruf commented on #10965
https://github.com/scipy/scipy/pull/11046

[2019-11-10 18:59] #9275 closed

[2019-11-10 18:59] #9643 closed

[2019-11-10 19:10] beckermr commented on #11033
Here are the rest of the tests that fail. Only 2

https://github.com/conda-forge/scipy-feedstock/blob/07c055613430e7cdfe9932caa410af5ca1fcd17e/recipe/scipy-1.3.2-bad-tests.patch

[2019-11-10 19:52] ev-br commented on #10933
There is (was?) a small external project, `paramnormal` so something in that vein, which repametrized several scipy distributions. Maybe this can be contributed, or if the project is no longer active, you can revive and maintain it?

[2019-11-10 19:58] #10890 closed

[2019-11-10 20:00] ev-br commented on #10890
The difference is smaller than the reported error (that's the second value of the result). And the difference is of the order of the machine epsilon, so it's really the same number.

[2019-11-10 20:10] sgubianpm commented on #11002
@echo5india, @rgommers
The ``callback`` is not working the same way for each global optimisers (but is consistant for local minimisers). If I am not mistaken,  for ``minimize`` function, as @rgommers mentioned, it is called at the end of each iteration (as well as for global optim``shgo``). For other global optimisers, ``basin_hopping`` and ``dual_annealing``, ``callback`` will be called for a new

[2019-11-10 22:02] mkg33 opened #11047 "DOC: graphical guides font size"
I'd like to know what you think about the adjusted font size in the graphical guides (see also #10875). I'm attaching two screenshots. The first one shows the original (unzoomed) website, the second one is a zoomed view (to be more precise: the generic zoom you get on macOS by a double click). Don't pay attention to the tree itself (and the sample 'getting started' page), it's a mess because I had

[2019-11-10 23:02] andyfaff commented on #11002
There's certainly scope for an improved callback system which, amongst other things, could return an intermediate result. THis intermediate result would contain iteration number, current best solution/energy, etc. However, it's difficult to do without breaking back compatibility, or increasing complexity. At the moment the best way to achieve what you want to do (and arguably cleaner as well) it t

[2019-11-10 23:02] #11002 closed

[2019-11-11 04:31] rgommers commented on #11047
I think that's much better, should work. The font is still slightly smaller than the regular text font on the page, but that's fine I think. It'll be hard to make everything fit otherwise. This should be readable.

[2019-11-11 06:18] ilayn commented on #11033
I've added both to the linked PR as a skipif.

[2019-11-11 09:51] juliusbierk opened #11050 "Feature request: Nelder-Mead with bounds"
Currently `scipy.optimize.minimize` provides no gradient-free optimization schemes for bounded problems. Nelder-Mead is perhaps the most frequently used such algorithm, and it can work with bounds too:
At expansion or reflection steps, the variables need to be projected to be within bounds. For description see Appendix A of "A constrained, globalized, and bounded Nelder–Mead method
for engineering

[2019-11-11 13:08] juliusbierk opened #11052 "optimize.dual_annealing does not pass arguments to jacobian."
`dual_annealing` does not work with extra arguments and provided jacobians:

Example:
[code]

Now this works fine:
[code]

However, this doesn't work:
[code]
giving error `jac() missing 1 required positional argument: 'power'`.

This also doesn't work:
[code]
giving error `fun() takes 2 positional arguments but 3 were given`.

It seems `args` are given to `fun` but not to `jac`. Trying to include

[2019-11-11 14:57] mkg33 commented on #11047
Thanks, @rgommers. I'll now rearrange the nodes using the new font size.

[2019-11-11 14:57] #11047 closed

[2019-11-11 15:45] #2477 closed

[2019-11-11 15:46] rgommers commented on #9403
fixed by gh-10104

[2019-11-11 15:46] #9403 closed

[2019-11-11 15:46] rgommers commented on #9902
fixed by gh-10104

[2019-11-11 15:46] #9902 closed

[2019-11-11 15:47] rgommers commented on #10092
fixed by gh-10104

[2019-11-11 15:47] #10092 closed

[2019-11-11 16:01] perimosocordiae commented on #11035
In general, `scipy.stats` functions aren't designed with sparse matrix support in mind. For the specific case of `mannwhitneyu`, the problem arises here:

https://github.com/scipy/scipy/blob/a6bd0456cdf83c5804fea94144b3b7afac78c3d0/scipy/stats/mstats_basic.py#L1144

It's also worth noting that numpy masked arrays don't play well with scipy.sparse matrices.

I would start by trying to write a versi

[2019-11-11 16:12] rgommers commented on #11035
@CooperData please have a look at open issues and PRs for `mannwhitneyu` before you try this. The current implementation is pretty badly broken and needs a complete rewrite I'm afraid. There's one PR that was pretty far along but stalled, gh-4933.

If you'd be interested in tackling this, that would be awesome.

[2019-11-11 16:29] #11033 closed

[2019-11-11 16:36] CooperData commented on #11035
Thanks @perimosocordiae and @rgommers - I will take a look at the current thread. My concern would be that it might not be a really good issue for a first time contributor given the history on that method. But I will give it a try. I am particularly interested as I am actually using that in prod code where I work.

[2019-11-11 16:41] rgommers commented on #11035
It might be a decent first issue actually - it's not small, but it's pure Python and there's already a lot of test cases (both in the PR, and in issues other people opened).

Thanks for trying, let us know if you need help!

[2019-11-11 18:38] tylerjereddy commented on #10965
I'm seeing more problems in `ppc64le` CI again lately, unrelated to the changes in the PRs in question, for example:

https://travis-ci.org/scipy/scipy/builds/609946789?utm_medium=notification&utm_source=github_status

https://travis-ci.org/scipy/scipy/builds/610253991?utm_source=github_status&utm_medium=notification

[2019-11-11 19:38] adrn opened #11053 "scipy.stats: Allow specifying inverse-variance matrix to multivariate_normal"
**Describe the solution you'd like**

Currently, `scipy.stats.multivariate_normal` accepts a mean and covariance matrix, and computes the inverse variance matrix internally and explicitly. But I often have covariance matrices with inverses that can be computed through other linear algebra tricks, e.g., the woodbury matrix identity. It would therefore be great if `scipy.stats.multivariate_normal` w

[2019-11-11 19:47] rgommers commented on #10965
Indeed, TravisCI support still seems shaky

[2019-11-11 22:32] pmla commented on #10968
Sorry for a slow reply - I overlooked this despite being pinged.

I strongly agree with the proposal -  `normalized` is always requires me to think twice about what I'm doing. I propose that we remove the `normalized` keyword from the public methods entirely.

For `from_quat` we can create a private `_from_quat` method with a `normalize` parameter. Let the public `from_quat` method call this funct

[2019-11-11 22:36] #10862 closed

[2019-11-11 22:36] pmla commented on #10862
Closing since we merged #10866

[2019-11-12 00:03] rlucas7 commented on #11053
I am not opposed to this proposal. However, that would change things in many signatures so probably want to get a broad agreement. Usually these discussions happen on the dev mailing list, I recommend sending the proposal there with an idea of how you would implement. Not the whole code just something more specific than the proposal.

To be clear, your proposal would *not* include SMW theorem type

[2019-11-12 04:55] #8165 closed

[2019-11-12 05:25] rgommers commented on #9872
I get this on current master, doesn't seem fixed:

<img width="558" alt="image" src="https://user-images.githubusercontent.com/98330/68644414-c5b2fa00-04c9-11ea-9012-448348efad53.png">

[2019-11-12 10:02] juliusbierk commented on #11052
Related:

Custom minimizers cannot pass extra extra to function because it is wrapped.
I would suggest adding `kwargs` here (in _dual_annealing.py):

[code]

[2019-11-12 10:36] nmayorov commented on #10968
@pmla

Thanks for the feedback! I have an idea how to gradually move from `normalized` to `normalize`:
[code]
It's a bit convoluted, but will do the job.

OK, I'll prepare these changes, maybe someone else will look at them. It's better to do in 1.4.0.

[2019-11-12 10:59] pmla commented on #10968
Nice. This is simpler and better than my proposal.

[2019-11-12 11:15] nmayorov commented on #10968
Now looking at it, I think it might be better to simply deprecate `normalized` (and then remove) and stick to some fixed strategy --- never normalize (expect normalized input) or always normalize.

What do you think about this approach? Which "fixed strategy" is more logical if we go this way?

[2019-11-12 11:27] pmla commented on #10968
In that case I would go with:
* Always normalize input to `from_quat`.
* Never normalize input to `match_vectors`.

We can keep the `normalize` parameter for use within the class though.

[2019-11-12 12:23] nmayorov commented on #10968
Well, I think the computations are cheap and the problem is always formulated for unit vectors. I think it's not bad to enforce the unit norms. What do you think?

[2019-11-12 12:47] pmla commented on #10968
Oh - I hadn't noticed that the method is defined for unit vectors only. This is an unnecessary restriction. The rotational alignment problem is very commonly used in e.g. structural biology to align two molecules. It is quite easy to implement the general case.

A classic paper on the problem:
Closed-form solution of absolute orientation using unit quaternions
Berthold K. P. Horn

I think we shoul

[2019-11-12 12:55] nmayorov commented on #10968
Yes, I was thinking about that as well. But in your example --- do we need to have at least equal length vectors? Does it make sense to match arbitrary length vectors? In applications I know vectors are normalized to unit norm to remove this "useless" degree of freedom.

[2019-11-12 13:00] pmla commented on #10968
Yes - it will affect the calculated rotation. Consider two sets of unit vectors, A and B. Calculate a optimal rotation. Now take of the vectors in A and make it a million times longer. Now it carries more weight in determining the optimal rotation.

[2019-11-12 13:04] nmayorov commented on #10968
And if corresponding vectors don't have equal lengths? Should it be considered as bad problem formulation?

[2019-11-12 13:18] pmla commented on #10968
No, this is a normal formulation. It just means that the alignment has non-zero root-mean-square deviation (RMSD).

[2019-11-12 13:59] nmayorov commented on #10968
It sounds convincing, I'll remove the normalization then with some additional explanation.

---- On Tue, 12 Nov 2019 18:18:39 +0500 notifications@github.com wrote ----

No, this is a normal formulation. It just means that the alignment has non-zero root-mean-square deviation (RMSD).

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsub

[2019-11-12 14:25] pmla commented on #10968
I will have to read Markley's paper ([2]) to understand the sensitivity matrix. I'm not sure if it will be affected by non-unit vectors. I also think we should replace ref. 1 with a more general description, perhaps just with a link to the Wikipedia article on the Kabsch algorithm: https://en.wikipedia.org/wiki/Kabsch_algorithm
The Kabsch algorithm is more both general and predates Markley's work

[2019-11-12 15:03] adrn commented on #11053
That's right, I was imagining just adding a new argument to accept the inverted matrix into the mVN methods — it would be up to the user to do the inversion. I'll open a thread on the mailing list - thanks.

[2019-11-12 15:39] #4464 closed

[2019-11-12 15:39] #4561 closed

[2019-11-12 21:14] jacksonvanover opened #11057 "Unexpected Output of modstruve for inf input"
When the argument to the modstruve function is infinity, the return to be either a NaN or 0.0 depending on the value of the second arg. My hunch is that it should be consistent in returning NaN when the order of the function is given as infinite.

#### Reproducing code example:

[code]

#### Scipy/Numpy/Python version information:
1.3.1 1.17.2 sys.version_info(major=3, minor=6, micro=8, releaselev

[2019-11-12 22:33] #10421 closed

[2019-11-12 22:39] nmayorov commented on #10968
I empirically checked the properties of the returned sensitivity.

When I increased the length of all vectors by `10`, the returned sensitivity is decreased by `100`. It means that we should multiply it by linear perturbation variance (not angular).

When I increased the length of half of the vectors by `10`, the return sensitivity was about 2x higher than in the previous case, because we use half

[2019-11-12 22:54] rgommers commented on #11052
thanks for the report @juliusbierk. @sgubianpm any chance you could look at this?

[2019-11-12 23:10] cycentum opened #11058 "Adding logsoftmax function"
Hello,

I’m considering to send a PR to add logsoftmax function in scipy.special. Before that, I would like to hear your opinion (partly because it’s my first time to send a PR to scipy).

I would like to implement `logsoftmax(x)` as `x-logsumexp(x)`. Actually, `special.softmax(x) = np.exp(x-logsumexp(x))`, so it is trivial for those who read the source code of softmax, but I think including logso

[2019-11-12 23:48] rgommers commented on #10485
This needs fixing I think, but it can wait till after 1.4.0rc1

[2019-11-13 00:05] rgommers commented on #11058
Hi @cycentum, thanks for asking. It sounds like a good idea to me. We normally propose and decide on new features on the `scipy-dev` mailing list (see https://scipy.org/scipylib/mailing-lists.html). Can you please propose it there as well?

[2019-11-13 00:21] ilayn commented on #1491
Both are wrapped and ?ggsvd is deprecated. Closing.

[2019-11-13 00:21] #1491 closed

[2019-11-13 02:31] cycentum commented on #11058
@rgommers Thank you. I posted it to scipy-dev.

[2019-11-13 03:34] rgommers commented on #9441
Let's not bump this yet - I won't get around to it before the release branching, but would like to have another look and a possible fix can be backported.

[2019-11-13 09:16] sgubianpm commented on #11052
@juliusbierk, @rgommers
Sure. I am fixing that and adding a unit test to make sure this works fine. PR to come today for it.

[2019-11-14 03:15] rgommers commented on #10159
This bug is tagged for 1.4.0, but the corresponding PR is not. Seems like all that's needed is to add tests, if someone would like to finish that up that'd be good. Also, this could be backported after RC1 I'd think.

[2019-11-14 03:16] rgommers commented on #9872
bumping the milestone, just a minor performance issue - shouldn't be blocking

[2019-11-14 11:39] rgommers commented on #11053
So this would change
[code]
to
[code]
and the same for `cdf`, `entropy`, `logcdf`, `logpdf` and `rvs`?

Seems reasonable.

[2019-11-14 12:09] ljwolf commented on #11053
Elsewhere in statistics, I think the inverse covariance matrix is usually called the ["precision" matrix.](https://en.wikipedia.org/wiki/Precision_(statistics)) Other packages use either "precision" ([stan](https://mc-stan.org/docs/2_20/functions-reference/multivariate-normal-distribution-precision-parameterization.html)) or "tau" ([PyMC3](https://docs.pymc.io/api/distributions/multivariate.html#p

[2019-11-14 12:26] ilayn commented on #11053
I would prefer the inverse instead of a domain specific terminology.

[2019-11-14 15:47] larsoner commented on #10835
Fixed by #10870

[2019-11-14 15:47] #10835 closed

[2019-11-14 17:49] vinisalazar opened #11060 "[Cluster/hierarchy/dendrogram] leaf ordering and color"
Hi,
Regarding the `scipy.cluster.hierarchy.dendrogram` function, there's a comment block stating that the `leaves_order` parameter has been considered but never implement, so I ask:

1. would it be possible to specify an iterable with how I want my dendrogram leaves to be ordered? I **do know** that some orderings are impossible, but in my case I just wish to "flip" nodes which wouldn't affect the

[2019-11-14 20:10] #10887 closed

[2019-11-14 20:10] #10427 closed

[2019-11-14 23:04] rlucas7 commented on #11053
I think entropy works with ***covariance*** matrix whereas the others work with inverse covariance matrix, so for `entropy` method you'd still need to invert if you passed in inverse covariance.

Another thing to consider is a flag for removing PSD checks. I've found in simulations that PSD checks can take a fair bit of overhead, even if you pass in the same covariance (or inverse covariance) matr

[2019-11-15 15:32] terem42 opened #11062 "DLL load error while importing scipy.sparse.linalg module on Windows"
My bug report is about DLL load error on running scipy-1.3.2 library for Windows 10 64bit

#### Reproducing code example:
[code]
After small research I've identified a culput, there is no PATH env setup for windows platform inside ```__config__.py``` of scipy package, or it's not get executed correctly.

[code]
 Henceforth, the path to .libs folder is not added to Windows path and libraries never

[2019-11-15 15:42] ilayn commented on #11062
That's because you haven't clicked add python to path box when you are installing oython.

[2019-11-15 15:49] andrey42 commented on #11062
Normally this should happen either at config or init lib stage, because I can't know in advance whether library uses DLLs or not. Hence, I propose to add aforementioned path settings to ```__init__.py```

[2019-11-15 16:06] rgommers commented on #11062
I think this has never come up, because there are many reasons you'll want to set `PATH` on Windows (e.g. https://docs.python.org/2/using/windows.html#finding-the-python-executable). Anaconda et al. do this automatically. How did you install Python?

[2019-11-15 17:11] ilayn commented on #11062
We can't dictate where or how the python access should reside. I don't think we can do anything about it. It's beyond scipy's jurisdiction.

[2019-11-15 18:46] clemextravisci commented on #11062
We have a similar issue happening in `scipy.interpolate`. Not sure if related, but the content of the `.libs` folder in `1.3.2` is missing the file `msvcp140.dll` compared to the `extra-dll` folder in `1.3.1`.

[2019-11-15 18:55] ilayn commented on #11062
That should be fixed in https://github.com/scipy/scipy/issues/10628

[2019-11-15 21:19] slayoo opened #11064 "solve_ivp fails with np.errstate(all='raise')"
#### Reproducing code example (based on the example from the docs):
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
[code]
[code]

[2019-11-15 21:51] clemextravisci commented on #11062
Just to make sure I understand correctly, there will be a new PR modifying the destination folder of the `msvcp140.dll` file?

Similar to what was done here, but `.libs` instead of `extra-dll`,
https://github.com/MacPython/scipy-wheels/pull/50/files#diff-180360612c6b8c4ed830919bbb4dd459R169-R172

So it works seamlessly with numpy configuration tool:
https://github.com/numpy/numpy/blob/master/numpy

[2019-11-16 21:53] #10300 closed

[2019-11-17 02:00] #10984 closed

[2019-11-17 02:01] mkg33 commented on #10984
Thanks for pointing it out, @agoose77!

[2019-11-17 02:10] rgommers commented on #10984
@mkg33 thanks for fixing this!

A small hint for next time: in the commit message that fixes things (and/or the PR description), you want to put `Closes gh-10984`. Then when the PR gets merged, the issue gets auto-closed. If you close the issue by hand and we don't merge the PR for whatever reason, the bug report gets lost.

No need to make any changes now, since I'm going to merge your PR as soon

[2019-11-17 02:14] mkg33 commented on #10984
@rgommers Thanks, I'll keep that in mind! Oh, I thought that putting 'Closes #10984' was the right way. So much to learn :-)

[2019-11-17 02:37] rgommers commented on #10984
`#` works too, but we try to use `gh-` because it's then clear it's a GitHub issue. We still have `#xxxx` references to Trac (our pre-GitHub bug tracker) floating around, and who knows - maybe in 10 years from now we won't be on GitHub anymore.

[2019-11-17 02:40] mkg33 commented on #10984
Makes perfect sense.

[2019-11-17 02:42] #10968 closed

[2019-11-17 14:12] ilayn commented on #11062
After switching to Python3.8 I can confirm its reproducibility. So I was wrong above. This is also affecting the numpy builds. My apologies for the quick and false response. I'll take this to NumPy maintainers.

[2019-11-17 14:55] pv commented on #11062
The problem I think is this: https://github.com/MacPython/scipy-wheels/blob/master/appveyor.yml#L167

We used a pinned version of numpy.distutils with the correct Windows patches, but for Python 3.8 this was changed to use Numpy upstream, which has a different name for the DLL directory.

[2019-11-17 14:58] ilayn commented on #11062
This is also happening on my local NumPy and SciPy builds.

[2019-11-17 15:16] pv commented on #11062
So there seem to be now several different issues:

(i) https://github.com/MacPython/scipy-wheels/pull/55 changed the pinned Numpy distutils version, which changed the name of the DLL directory.  However, `msvcp140.dll` copying was not updated to match, so the file now goes to the wrong place. I opened a separate ticket for this: https://github.com/MacPython/scipy-wheels/issues/57

(ii) There is so

[2019-11-17 15:21] ilayn commented on #11062
`isdir` is the False branch somehow. My guess is that this is run on the `src.win...` folder and not in the `lib.win...` folder during the install. But I am really speculating now.

[2019-11-17 15:23] pv commented on #11062
The `__config__.py` code is run just when importing the installed package (see `scipy/__init__.py`), so the contents of the build directory (src.* lib.*) should play no role.

[2019-11-17 15:29] ilayn commented on #11062
That would be my guess too. I'll modify misc_utils manually and try to see the arguments. Maybe `isdir()` behavior changed.

[2019-11-17 15:30] pv commented on #11062
I think you can modify the `scipy/__config__.py` directly in the installed package, e.g. insert `import pdb; pdb.set_trace()`.

[2019-11-17 16:04] ilayn commented on #11062
Looks like  `__bootstrap__` from `_iterative` is not run. Because that's where the error is generated. But I don't know why yet.

[2019-11-17 19:05] jakobjakobson13 opened #11074 "Different formatting in documentation page"
Hi,

the formatting of the `scipy.constants` documentation differs between the [current](https://docs.scipy.org/doc/scipy/reference/constants.html) and the [devel](http://scipy.github.io/devdocs/constants.html) version even though the file was not substantially altered during the last pull request.
It's not a critical bug report but the devel version looks kind of odd.

Regards

Jakob

PS: I used

[2019-11-17 19:13] rgommers commented on #11074
Hmm odd, could be a Sphinx or numpydoc thing perhaps.

[2019-11-17 19:34] jakobjakobson13 commented on #10962
Should be fixed by #10920.

[2019-11-17 19:35] jakobjakobson13 commented on #9590
Closed by #10920

[2019-11-17 19:35] #9590 closed

[2019-11-17 19:35] rgommers commented on #10962
thanks @jakobjakobson13

[2019-11-17 19:35] #10962 closed

[2019-11-18 03:46] AIGyan opened #11076 "ValueError: Unknown wave file format"
Hello team I am trying to read a wave file and getting the following error. Please help.

`spy.io.wavfile.read('test.wav')`

[2019-11-18 03:57] AIGyan commented on #7677
I am getting "ValueError: Unknown wave file format"

[2019-11-18 04:43] rlucas7 commented on #11057
I'm not sure the root cause but I did a (very tiny) investigation.
Looks like a threshold for this behavior is:
[code]
I'm definitely not an expert on this function so I doubt I'll be able to do much here.

[2019-11-18 04:55] shoyer commented on #2640
I agree this is a bug, e.g., see this StackOverflow question: https://stackoverflow.com/questions/49280404/shift-interpolation-does-not-give-expected-behaviour

[2019-11-18 06:36] shoyer commented on #2640
Interestingly, this same issue appears to affect the other `mode` options, too -- at least everything other than `mirror`.

The fundamental issue appears to come down to the internal model used for keeping track of boundary conditions. As noted in [this StackOverflow answer](https://stackoverflow.com/questions/49280404/shift-interpolation-does-not-give-expected-behaviour), ndimage appears to use t

[2019-11-18 07:22] reicherthannes opened #11077 "CDF calculation at multivariate_normal is potentially wrong"
The CDF calculation seems to be incorrect.
If you try to test the CDF calculation with a QQ plot, you will not get the expected result.
If this error is due to a fundamentally wrong understanding of statistics, I apologize for having  this issue opened. See code for more details.

[code]

[2019-11-18 08:06] shoyer commented on #2640
The plot for `order=1` is also somewhat illuminating:
![image](https://user-images.githubusercontent.com/1217238/69034843-fea21180-0996-11ea-961f-8adad998e37e.png)

Only `mode='wrap'` has different values at integer shifts from the original signal.

[2019-11-18 08:41] ilayn commented on #11062
It looks like we have two and a half problems intertwined as @pv mentioned. One for the wheels the naming issue and the other is explained by @mattip in the NumPy side that Py3.8 on Windows changed the way it searches for DLLs.

Hence those will have an additional 3.8 if branch in the same place and the business will be as usual. For the wheels and NumPy side story is a bit more complicated.

[2019-11-18 08:45] shoyer commented on #8465
See also https://github.com/scipy/scipy/issues/2640, where I compare current behavior to a naive (but correct) implementation using np.pad .

[2019-11-18 13:13] ogauthe opened #11078 "[Documentation] [scipy.sparse] matmul and sparse-dense product"
Hello,

I would like to write a function that works for both sparse and dense inputs and include matrix products (one of the input is always dense so the type of the output is always a numpy array). As of now, the [documentation](https://docs.scipy.org/doc/scipy/reference/sparse.html) includes a warning against the use of `np.dot` - which indeed does not work and has no reason to do so. However, n

[2019-11-18 13:21] rainwoodman commented on #2640
The discussion at #2640 mentioned the difference was due to treating the array as pixels (current) or as data (documented); or using internal (current) vs external/padded (documented) interpolation coefficients.

What about adding an argument or a new set of modes to indicate this difference?

[2019-11-18 13:23] ilayn commented on #11078
Hi @gauthe, I agree with your points, one semi-reason for these is that Python 2 is recently dropped. Hence the speed has been slow on to the Py3 features conversion. If you have the resources, a pull request is more than welcome.

[2019-11-18 13:25] josef-pkt commented on #11077
I'm not sure what you are doing. But I'm pretty sure that you cannot do a qq-plot this way for a bivariate or multivariate distribution.

It might be possible to compute the cdf on a grid on a ray of values and compare it with the empirical frequences

[2019-11-18 13:33] josef-pkt commented on #11077
sqrt only makes sense if the correlation is zero and if the cdf value in each component is the same.
Otherwise, you cannot reduce the 2-dim cdf to a 1-dim variable

[2019-11-18 13:35] mdhaber commented on #10366
@larsoner Should I keep this open? I don't think this is really restricted to the new developer documentation or even developer documentation in general, so I don't really want to take this on myself. If you think it's important enough, we could see if Season of Docs contributors are interested? Or do you think it is easy enough to be labeled Good First Issue?

[2019-11-18 13:40] rgommers commented on #2640
The issue for document that properly is gh-9746.

Hmm, adding more modes sounds very unhealthy. There may be a bug in just this function that could still be addressed.

Part of it is from last year I think, see gh-8537.

[2019-11-18 15:58] rainwoodman commented on #2640
while reading up 8537, I realized the difference between documented behaviour of reflect and mirror is compensating for the off by 1 -- in terms of modes, we are just missing the corresponding 'by the edge'(reflect) case for wrap. See here:

https://github.com/scipy/scipy/pull/8537/files#diff-ffec5f90a1593619aee38809afb0d503R40

Still, the behaviour of reflect is unexpected, as @shoyer's second pl

[2019-11-18 16:41] rainwoodman commented on #2640
How large is the support of the spline filters (not sure if support is the proper term. I borrowed it from convolution kernels)? Is it infinite?

In https://github.com/google/jax/pull/1711, the implementation padded the image to cover the entire query range -- I think we probably need to enlarge that by the support of the spline filter. And this approach won't work if the support is infinite.

[2019-11-18 16:42] shoyer commented on #2640
My reading of #8537 is that it does the right thing, adding proper handling of boundary conditions for reflect, mirror and constant. But it doesn't actually switch to them yet. As @jaimefrio writes: "None of the interpolation functions can yet use an image filtered with any mode other than 'mirror', but I think it's better to get this in first."

@jaimefrio's PR doesn't fix constant and nearest ye

[2019-11-18 16:49] brandondavid commented on #10366
@mdhaber I can take this on, unless you'd rather reserve it for a Good First Issue.

In the meantime, I'll crosspost it in the numpy-team Slack where many of the GSoD writers are.

[2019-11-18 17:00] charris commented on #2640
@rainwoodman What do you mean by spline filters? The ones that are used to determine the spline coefficients are IIR filters.

[2019-11-18 17:40] clemextravisci commented on #11062
If it can help, we were experiencing the issue with Python 3.6.8 on Win64.

[2019-11-18 17:46] Erhie opened #11079 "ndimage.convolve range of values"

[2019-11-18 18:14] mdhaber commented on #10366
Thanks @brandondavid! That would be terrific, although I admit this is a lower-priority item as it will be invisible to users. @larsoner had some ideas above for how to do this automatically, though, so hopefully it's not a huge undertaking.

[2019-11-18 20:33] shoyer commented on #2640
Indeed, I was wrong here, as is easy to check empirically. I think you only end up with finite support for the filters used to determine spline coefficients if `order<=1`.

So for `mode='constant'` and `mode='nearest'`, it appears we will need to accept some level of approximation.

[2019-11-18 20:38] Schleuss94 opened #11080 "linalg.eigh generalized eigenvalue problem call to LAPACK DSYTRD returns error for n >= 32.767"
Hi all,

for my research project I have to deal with very high dimensional dense generalized eigenvalue problems and try to solve them with scipy.linalg.eigh.
Everytime the dimensions of the matrices exceed 32.766 x 32.766 the function returns an error.

#### The following example is sufficient to reproduce the error:

[code]

Warning: This example uses a LOT of RAM but is the smallest possible er

[2019-11-18 20:56] billtubbs commented on #8257
Would be great to see `solve_ivp` speeded up.

odeint took 0.24195 s took 0.21s
solve_ivp (with `method=LSODA`) took 1.17s

Maximum difference in solutions: `5.4e-06`

[2019-11-18 21:45] mcol opened #11082 "sparse.linalg.expm of an empty matrix"
Computing the matrix exponential of an empty matrix raises a ValueError exception.

#### Reproducing code example:

[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:

1.3.1 1.17.2 sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

[2019-11-18 21:53] tylerjereddy commented on #11062
The `1.3.2` wheels should be "ok" for Python 3.8 DLL path handling changes, but the `msvcp140.dll` being in the wrong place is something I'm working on in: https://github.com/MacPython/scipy-wheels/pull/58 . That problem would indeed still exist for `1.3.2` wheels.

I'll try to backport that fix to `1.3.3` wheels/release once it is in the master wheels repo, but I'm also working on the `1.4.x` rel

[2019-11-18 23:26] ilayn commented on #11080
Yes that's because LWORK is 32 bit signed integer. So you cannot use more than that to allocate address. However your optimal block size is probably more than 2 and hence you get a result that overflows the 32bit integer. See LWORK definition [here](http://www.netlib.org/lapack/explore-html/d3/db6/group__double_s_ycomputational_gaefcd0b153f8e0c36b510af4364a12cd2.html).

Unless you use somehow a lo

[2019-11-18 23:26] #11080 closed

[2019-11-19 00:53] jacksonvanover opened #11084 "Inaccuracy in special.j1 function"
It appears that the scipy implementation of the j1 function gets more and more inaccurate as the input grows. This is based on a comparison to mpmath's arbitrary-precision and double-precision implementations (shown below) as well as GSL, all of which agree while scipy diverges further and further from the general consensus. If we treat the arbitrary-precision implementation as the ground truth, t

[2019-11-19 01:15] jacksonvanover opened #11085 "Inaccuracy in special.hyp1f1 function"
The scipy implementation of the hyp1f1 function exhibits a huge inaccuracy based on a comparison to mpmath's arbitrary-precision and double-precision implementations (shown below) as well as GSL, all of which agree (GSL gives `1.649746910616242567826e+00`). The input here comes from GSL's included tests.

#### Reproducing code example:

[code]

#### Scipy/Numpy/Python version information:
1.3.1 1.

[2019-11-19 02:40] peterbell10 commented on #11085
This is a duplicate of gh-5349.

[2019-11-19 02:40] #11085 closed

[2019-11-19 05:00] person142 commented on #11084
Loss in relative precision is expected for floating-point implementations of oscillatory functions at large arguments. Even a function as simple as e.g. `sin` experiences loss of precision because the period is not exactly representable in double precision.

[2019-11-19 05:00] #11084 closed

[2019-11-19 08:03] reicherthannes commented on #11077
Thank you for your fast response.
I'm trying to test a multivariate mixture density network for reliability which is quite difficult.
This has nothing to do with the issue, so I close it.

[2019-11-19 08:03] #11077 closed

[2019-11-19 09:34] kartikeyaSh opened #11086 "scipy.stats.skew doesn't work correctly for float point numbers"
https://github.com/scipy/scipy/blob/78904d646f6fea3736aa7698394aebd2872e2638/scipy/stats/stats.py#L1043-L1134

#### Reproducing code example:
`skew(np.array([14.3]*7))` gives `1` not `0`.
It turn out that
`np.mean([14.3]*7)` outputs: `14.299999999999999`
which i understand is a well known float point precision problem. But should the skew function take it into consideration? It can't work for floa

[2019-11-19 10:03] mdhaber commented on #11086
I'm seeing a lot of zeros in the definition of skewness. Is skewness defined for the case in which all sample values are the same? Is there another case in which this function fails to produce the expected result?

[2019-11-19 13:43] #11079 closed

[2019-11-19 15:19] gokceneraslan opened #11087 "Spearman's rho as a distance metric"
Pearson correlation exists in both in scipy.stats and in scipy.spatial.distances. This is is very convenient since other downstream tools (like scikit-learn and UMAP) can use it as a distance metric.

However, Spearman correlation is implemented only in scipy.stats but not in scipy.spatial.distances. It would be great to have Spearman correlation in [scipy.spatial.distances](https://docs.scipy.org

[2019-11-19 16:47] jacksonvanover commented on #11084
Perhaps this then would be better phrased as a feature request. GSL's implementation which is based on the SLATEC source is more stable at larger arguments than the cephes algorithm. Both use double precision. Perhaps worth looking into for someone who is interested? This is a bit outside of my wheelhouse at this point. Thanks!

[2019-11-19 18:06] julietbravo opened #11088 "Segfault with LinearNDInterpolator"
`LinearNDInterpolator` results in a segfault, but depending on the system/Scipy version. `1.3.1` on a Linux system works fine, `1.3.2` on MacOS segfaults, without any further information.

#### Reproducing code example:

[code]

#### Error message:

The only output/"traceback" is:
[code]

#### Scipy/Numpy/Python version information:
[code]

[2019-11-19 18:18] rgommers commented on #11088
Hi @julietbravo thanks for the report. How did you install SciPy and Python itself?

[2019-11-19 18:20] glemaitre opened #11089 "Regression in scipy.stats where distribution will not accept loc and scale parameters"
The scikit-learn CRON job started to fail 2 days ago due to the following change:
https://github.com/scipy/scipy/commit/8d5b840fbcd80a0c8b9cf3f041d6fee7954faff4#diff-15a69deb9bb3f587270cbce8186b4465R431

if the underlying `_get_support` does not have the parameter `loc` and `scale`, it will fail. Thus, several distributions.

#### Reproducing code example:

[code]

#### Error message:

[code]

###

[2019-11-19 18:30] julietbravo commented on #11088
Python 3.7 through Homebrew, Scipy using pip3

[2019-11-19 18:32] pv commented on #11088
Does `scipy.spatial.Delaunay(points)` crash for you?  (FWIW, not reproducible here.)

[2019-11-19 18:33] julietbravo commented on #11088
That segfaults as well

[2019-11-19 18:35] tcjansen opened #11090 "Misconception of the median absolute deviation in stats?"
As far as I know, the median absolute deviation (MAD) is simply defined to be
```MAD = median(|x - median(x)|)```
However, `stats.median_absolute_deviation` is misleading in that it returns `1.4826 * MAD`, which is really an approximation for the standard deviation of a gaussian distributed data set, not the MAD itself.
I would suggest setting the default scalar to 1 (currently 1.4826) to avoid fu

[2019-11-19 18:35] pv commented on #11088
Possibly Qhull bug and may be fixed in upcoming 1.4.0. You may want to check if it occurs in the latest prerelease package: https://7933911d6844c6c53a7d-47bd50c35cd79bd838daf386af554a83.ssl.cf2.rackcdn.com/

[2019-11-19 18:37] tylerjereddy commented on #11089
@pvanmulbregt @rlucas7 Can you confirm if there is a problem/bug here that would affect the 1.4.x release?

[2019-11-19 18:40] rgommers commented on #11088
Other option (unlikely but not impossible): binary incompatibility because of Homebrew Python. From https://github.com/MacPython/wiki/wiki/Spinning-wheels#question-will-pip-give-me-a-broken-wheel:

_Homebrew and Macports Python have the SDK for the macOS they were first installed / last updated on, and x86_64 architecture only._

And we have wheels incorrectly labelled with the 10.6 SDK (gh-10485)

[2019-11-19 18:48] glemaitre commented on #11089
FYI the PR is included in 1.4.X: https://github.com/scipy/scipy/pull/10104

[2019-11-19 18:50] julietbravo commented on #11088
@pv I tried with `1.4.0.dev0+f999f4b`, but that also results in the same segfault.

[2019-11-19 19:35] rlucas7 commented on #11090
hi @tcjansen in statistics, for better or worse, many things are compared against the Gaussian distribution. Here is a reference:
https://en.wikipedia.org/wiki/Median_absolute_deviation#Relation_to_standard_deviation

I agree that this should be documented to make it more clear to the user.
You can override the default value by changing the `scale=` argument  from the default.
Here is a link to wh

[2019-11-19 19:41] julietbravo commented on #11088
I asked a friend to try this on his MacBook, the same installation procedure (Python via Homebrew, Scipy via pip), same Scipy version, and there it works fine. So something is a bit fishy about my Python/packages installation, I'll look further into it.

[2019-11-19 20:00] jacksonvanover opened #11091 "special.eval_hermite returns zero for negative orders"
When the first argument to the `eval_hermite` function is negative, the return is
consistently `0.0`. By comparison, mpmath exhibits well-defined behavior for negative
orders (shown below) and GSL explictly throws a domain error. If negative orders are
not supported for the hermite function, returning a NaN feels more appropriate perhaps?

#### Reproducing code example:

[code]

#### Scipy/Numpy/P

[2019-11-19 20:49] mbakker7 opened #11093 "scipy.interpolate.interp1d can not handle datetime64"
The `interp1d` function of `scipy.interpolate` can not handle `datetime64` arrays, while there is initially no error message, and the fix seems easy (docs state that input should be real values, so that is correct)

#### Reproducing code example:
[code]
Error message: `TypeError: invalid type promotion`
But this works fine and seems easy to implement:
[code]
So why not allow `datetime64` input and

[2019-11-19 20:49] ev-br commented on #11089
Would be helpful if you could check if gh-11092 fixes it @glemaitre

[2019-11-19 21:45] remilepriol opened #11094 "ENH: stats.loggamma: improve for small values of c"
Loggamma takes the log of scipy.stats.gamma to sample.

[code]

When the shape parameter c is small, the loggamma has a large left tail. We cannot sample in there because the gamma draw samples which are smaller than what can be represented by float 64, so that the actual tail is truncated to values greater than -600. The code below illustrates this behavior.

It happens that for small values of c

[2019-11-19 22:05] tylerjereddy opened #11095 "BUG: find_peaks_cwt test failures in 32-bit Linux wheels"
The combination of Linux + 32-bit + somewhat-older versions of NumPy seems to cause the failures.

[Example Travis test matrix](https://travis-ci.org/MacPython/scipy-wheels/builds/614182055?utm_source=github_status&utm_medium=notification)

[code]

[2019-11-20 00:33] rgommers commented on #11095
This should be due to gh-7076. There a backwards-incompatible bug fix was made that would have changed the results: https://github.com/scipy/scipy/pull/7076#pullrequestreview-306639720

In the first test failure some peak locations are shifted by 1. That could be just noise or also an improvement, needs checking.  The differences in the second failure are larger.

@tylerjereddy I think for `1.4.0r

[2019-11-20 01:14] rlucas7 commented on #11089
@tylerjereddy here is what I see on my box:

[code]
which matches what @glemaitre is seeing. It looks to me like the PR from @ev-br fixes the issue, at least on my box anyway.

[2019-11-20 09:28] glemaitre commented on #11089
It solves the issue. Thanks

[2019-11-20 14:50] chrisjbillington commented on #10229
FWIW [py3nj](https://github.com/fujiisoup/py3nj) is Apache licensed, and wraps a well established fortran library that is public domain.

[2019-11-20 17:09] #11089 closed

[2019-11-20 18:35] pharshalp commented on #10159
@rgommers since the older PR had become stale and the author wasn't responding, I have taken this up in #11097.

[2019-11-20 19:45] rgommers commented on #10159
thank you @pharshalp!

[2019-11-20 22:23] jacksonvanover opened #11099 "special.hyp1f1 returns inf when GSL and mpmath agree on same numerical output"
When the first two args are negative, SciPy's hyp1f1 returns inf while the equivalent functions in mpmath and GSL (not shown below) agree on the same numerical outputs.

#### Reproducing code example:

[code]

#### Scipy/Numpy/Python version information:
1.3.1 1.17.2 sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

[2019-11-21 00:39] rgommers opened #11100 "BUG: multiscale_graphcorr random state seeding and parallel use"
Test failure observed in gh-11095:
[code]

The issue is in the `_ParallelP` class, it uses `np.random.permutation` without the option of providing a `Generator` or `RandomState` object or a seed. This should be possible for reproducibility. The design pattern to use is a `random_state=None` keyword I think, just like the `rvs` method of all distributions, or `stats.rvs_ratio_uniforms`.

There's ac

[2019-11-21 02:02] jovo commented on #11100
@rgommers i don't know enough about it to have an informed opinion.
maybe @randalburns or @disa-mhembere can opine?

[2019-11-21 02:04] rlucas7 commented on #10995
@TheGreatCabbage I've labeled this issue w/'query' and and 'scipy.io' labels. I don't have much expertise in the `scipy.io` sub-package so I cannot really give you any guidance here. You might send the same enquiry to the scipy-dev mailing list. You might get more eyeballs on the query and some of the members with expertise or familiarity in this sub-package might be able to give you some guidance

[2019-11-21 10:08] ilayn commented on #10881
Just a heads up for Lapack 3.9.0 is released https://github.com/Reference-LAPACK/lapack/releases/tag/v3.9.0

[2019-11-21 10:33] amitainz opened #11103 "inconsistent handeling of missing edges in sparse graph"
I'm trying to use scipy.sparse matrices to represent graphs and run scipy.sparse.csgraph.johnson on them.

I think using zero to represent "no edge" is very problematic, since it makes the code behave in inconsistent and hard-to-anticipate ways:

Example:
[code]
I would like to suggest the convention be changed (so maybe this is a "feature request" not a bug report, I don't know...)

[2019-11-21 10:40] amitainz commented on #11103
One final point of aesthetics:
`johnson(johnson(A))` should always equal `johnson(A)` (for any matrix `A`, exceptions included).

[2019-11-21 14:03] DerWeh commented on #4761
Why would you say it isn't a limitation?
 If you cannot specify boundaries, the algorithm might give you wrong results, in the sense that they are outside your domain. In practice, I find this to actually be the biggest limitation of `scipy.optimize.root`. It is the reason why the root solver is hardly ever applicable for me.

Are you referring to workarounds like https://stackoverflow.com/a/44043

[2019-11-21 15:17] sampan501 commented on #11100
@rgommers Would it suffice doing something like this from scikit-learn's random forest:
[code]
where `random_state` is defined as
[code]
and when `random_state` is passed it is checked via this function
[code]

[2019-11-21 15:33] u55 commented on #11090
@rlucas7 In my opinion, the documentation is not the place to correct for a misleading function name. With the default `scale=1.4826` value, this is clearly not the MAD! I shouldn't have to read the documentation to figure out if a function named `median_absolute_deviation` actually returns the median absolute deviation. Either the default value should be changed to `scale=1.0`, or the name of the

[2019-11-21 15:38] tcjansen commented on #11090
@u55 Yes, these are my thoughts exactly.

[2019-11-21 17:33] disa-mhembere commented on #11100
@jovo, in the past as a quick and dirty way to deterministically obtain random numbers for a parallel workflow I have just pre-generated them as @rgommers suggested. It's a perfectly good solution especially if you know the # of variables required a priori and the generation is not the computational bottleneck. You can also seed a serial generator and serialize calls to it. If this isn't possible,

[2019-11-21 17:55] ev-br commented on #11100
I think the right API would be the  `random_state` keyword which depends on the number of workers. If `workers=1`, then it's a scalar which is passed through check_random_state.
If workers !=1, then it should be an iterable with `len(random_state) == workers`, where each element is a seed for the corresponding worker (i.e., each element goes through `check_random_state`). If the number of seeds is

[2019-11-21 23:22] rgommers commented on #10362
IIRC this has been discussed, but it's not been implemented:
[code]
In current master, `__array__` is still not defined.

It would be a backwards compat break. Starting to raise `TypeError` more may actually be a good thing, but "very safe" it isn't I'd say.

Not all that useful probably. Also, the effort is probably simply better spent improving `pydata/sparse` - there's a lot to do there still i

[2019-11-22 02:14] hanson-hschang opened #11104 "cumtrapz: initial argument not restricted to scalar"
**Is your feature request related to a problem? Please describe.**

Currently, the argument `initial` in `cumtrapz` is restricted to a scalar. However, I believe it can also be an array with different values. Say
[code]
and `initial` be
[code]
then the solution to the following program is
[code]

One of the ways to do this is to change a portion of the function code in `cumtrapz` as follows:
[code

[2019-11-22 03:04] vancouvermichael opened #11105 "API of scipy.optimize.minimize() does not take Hessian of constraints for the method 'SLSQP',"
I am pretty sure the SLSQP method needs Hessian of constraints, but the interface of scipy.optimize.minimize does not take Hessian. Its documentation says:

"""
Constraints for COBYLA, SLSQP are defined as a list of dictionaries. Each dictionary with fields:

type:str
Constraint type: ‘eq’ for equality, ‘ineq’ for inequality.

fun:callable
The function defining the constraint.

jac:callable, optio

[2019-11-22 04:24] vancouvermichael commented on #11105
I figured out Scipy wrapped a historical implementation by Dieter Kraft, which applied BFGS to approximate Hessian. Given the fact that Scipy allows Hessian and BFGS approximation for quite a few other routines, we shall make the SLSQP interface also consistent with the others.

[2019-11-22 04:24] #11105 closed

[2019-11-22 04:24] vancouvermichael commented on #11105
So this is not a bug, but a proposal for more implementation, I close it.

[2019-11-22 12:54] mortengryning opened #11106 "wrong output from scipy.spatial.SphericalVoronoi"
The output from the spatial.SpheicalVoronoi algorithm seems wrong for some inputs. For example. consider the below input that are points on a sphere edge.

#### Reproducing code example:

[code]

#### Error:

Python plot of the voronoi regions
![image](https://user-images.githubusercontent.com/7712296/69426594-e0893800-0d2d-11ea-8efa-d903875138d2.png)

The regions mapped on a sphere (red lines are

[2019-11-22 13:09] tylerjereddy commented on #11106
I'll try to check this later today---if you have a chance you may have better luck with the improved handling of `SphericalVoronoi` in a more recent version of SciPy; i.e., `python -m pip install scipy==1.4.0rc1` for our current release candidate.

Some of the improvements from @pmla there including handling single-hemisphere generators more gracefully---not sure if that is the exact issue here un

[2019-11-22 13:13] ShigeruHEMMI opened #11107 "scipy.io.mmread generated an error "TypeError: startswith first arg must be str or a tuple of str, not bytes""
scipy.io.mmread generated an error "TypeError: startswith first arg must be str or a tuple of str, not bytes"

For the downloaded matrix-market file; young1c.mtx, from https://math nist.gov/MatrixMarket/data/Harwell-Boeing/acoust/young1c.html,    scipy.io. generated an error. I am working on Windows 10.

What I experienced was:

[code]

Is there anything wrong with me?

regards,

[2019-11-22 16:42] mpups opened #11108 "scipy.linalg.ldl gives incorrect results when pivoting is required"
scipy.linalg.ldl decomposition gives incorrect results where it chooses to pivot (i.e. when the permutation returned is not an identity).

#### Reproducing code example:

[code]

#### Error message:

Example of incorrect output from running the program above is:
[code]

Whereas running with parameters (angle=45) that do not result in pivoting gives the following (expected) output:
[code]

#### Sci

[2019-11-22 16:43] adeharo9 commented on #8928
Could there be a way of throwing a warning or similar when this kind of inconsistencies occur? At least users would be aware that there might be problems with the obtained results.

[2019-11-22 17:08] anmol1e1 opened #11109 "scipy/sparse/linalg/isolve/ is missing _iterative.py"
The folder `Python37\site-packages\scipy\sparse\linalg\isolve\` inside Scipy package in Python has the following file: `_iterative.cp37-win_amd64.pyd`.

When I run a Python file, I get the following error :- <br/>
[code]

Scipy should work out of the box after installation!

[2019-11-22 17:17] ilayn commented on #11109
Duplicate of #11062

[2019-11-22 17:17] #11109 closed

[2019-11-23 00:39] rlucas7 commented on #11090
@u55 and @tcjansen thanks for your comments. The original proposal for the function was for consistency with an existing function in the `statsmodels` package which is used to provide a robust standard error estimate. One of the `statsmodels` maintainers noted in the issue (linked beneath) that there were other packages using `statsmodels` as a dependency solely for the `mad` function, the abbrevi

[2019-11-23 01:39] josef-pkt commented on #11090
iqr has options 'raw' as default and 'normal'

It really depends on the context and usage whether one or the other scaling is more convenient.
As dispersion measures or robust scale measures it is convenient to have var, iqr and mad on the same scale. That's the main usage in statsmodels robust, and the defaults are for that use case.

For scipy it's ambiguous, for scipy.stats normal distribution

[2019-11-23 02:55] rlucas7 commented on #11090
@josef-pkt thanks for your comments, they are very helpful. I agree it is ambiguous w/scipy relative to other related packages.

Good call out, I hadn't considered the defaults of that method. I see what you mean:
https://github.com/scipy/scipy/blob/master/scipy/stats/stats.py#L2601-L2602

I agree that the interface here should be consistent. With existing methods inside the package that are also

[2019-11-23 09:57] pv commented on #11108
The results from the function are correct.

The way to reconstruct the matrix is `S = L @ D @ L.T`, not `L[P, :] @ D @ L[P, :].transpose()` as the returned L is already permuted.

Even though Cholesky is unique, the result is the decomposition of the permuted matrix `P A P^T`, not that of `A`.

[2019-11-23 09:57] #11108 closed

[2019-11-23 17:39] rlucas7 opened #11111 "Inconsistent warnings for correlation functions in scipy.stats"
My issue is about `scipy.stats.spearmanr()` function handling constant input(s).

#### Reproducing code example:
[code]
throws a `RuntimeWarning` but provides no informative output. While `pearsonr()` throws a
`PearsonRConstantInputWarning` which was added in a PR of @WarrenWeckesser in the `1.3.X` release, here is the original PR:
https://github.com/scipy/scipy/pull/9562

#### Error message:
[cod

[2019-11-23 18:14] person142 commented on #7722
I'll note that I've had an implementation sitting around forever, but it's currently blocked by https://github.com/scipy/scipy/issues/10795.

[2019-11-23 18:33] insertinterestingnamehere commented on #10881
I'm in the middle of another deadline at the moment but I will hopefully be able to get back to this in another two weeks or so. Given that the 1.4 release is already in progress, I propose we do the version bump to LAPACK 3.6 in release 1.5. Does that sound good?

[2019-11-23 18:42] mdhaber commented on #10881
Sounds great to me!

[2019-11-23 19:54] Jason5Gao opened #11113 "inconsistent result from ttest_ind and mannwhitneyu when used with groupby and apply"
I'm new to this site as well as programming, I ran into an issue and posted on [SO](https://stackoverflow.com/questions/58980446/strange-result-form-stats-mannwhitneyu) three days ago but no answer yet, since everything works except the result is kind of weird, so I think it may be a bug and then better to ask here also. Please check SO for the detailed description of the problem.

[2019-11-23 20:55] pv commented on #11019
Seems to be qhull bug, fixed in 1.4.0

[2019-11-23 20:55] #11019 closed

[2019-11-24 02:22] u55 commented on #11090
@rlucas7

I disagree with this justification for the current scipy API for the following reasons:
1. Scipy has a much larger user base than statsmodels, and users unfamiliar with statsmodels are _not_ going to expect the MAD to be multiplied by a magic number by default.
2. A poor API choice in statsmodels is not a good reason for scipy to replicate that bad design.
3. The current scipy implementa

[2019-11-24 02:38] josef-pkt commented on #11090
mad is in `scipy.stats`, and not in numpy or scipy.special, so it's perfectly valid to have mainly a statistical interpretation for it, or defaults for the main usage in statistics.

In statistic, I find unscaled iqr and mad pretty meaningless or useless, because the raw values don't have a scale that can be compared to anything else.
(e.g. use iqr as robust scale estimator in KDE)

[2019-11-24 03:31] rlucas7 commented on #11113
@Jason5Gao I posted on stackoverflow describing what I think is happening.
It looks like the `mannwhitneyu()` function calls `numpy.ravel()` on each of the 2 columns, breaking your grouping. I noted in the SO post that you can unpack the grouping (if that is what you want) by choosing `axis=None`. I think that you want the other way around though, you'd like the results from `mannwhitneyu()` to be

[2019-11-24 03:55] u55 commented on #11090
@josef-pkt I'm not arguing that the MAD doesn't have a statistical interpretation. I am simply arguing that multiplying it by a magic number means that it is not the MAD anymore, so calling it the `median_absolute_deviation` is misleading! "Main usage" must always take a back seat to the principle of least surprise. Statistics users who want to use the MAD to estimate the Gaussian standard deviati

[2019-11-24 04:23] josef-pkt commented on #11090
in R https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/mad is scaled
NIST/Dataplot has mad and scaled mad
I cannot figure out from the SAS documentation what they are doing, the basic mad function is "raw"
Stata doesn't seem to have it, user provided mad use scaled

"Although practicality beats purity."  Zen 9

I like the iqr way of specifying "normal"
In statsmodels and R you ha

[2019-11-24 04:36] josef-pkt commented on #11090
Most likely this needs a replacement statsmodels -> R

i.e. the function looks closer to the one in R than the one in statsmodels, except default behavior is the same in all 3.

[2019-11-24 04:45] dmacks opened #11118 "New warnings under gcc9"
Building scipy-1.2.1 on OS X 10.13 with compilers and python supplied by fink:

[code]

gives

[code]

where the offending code in bnorm.f is:
[code]

Is the first of many such warnings I'm seeing that I did not see with gcc8.

It still compiles successfully, but it seems to be a valid warning about code that should be updated to comply with current standards. Newer versions of scipy seem to have

[2019-11-24 06:11] u55 commented on #11090
Another comparison data point: in MATLAB, [the mad function](https://www.mathworks.com/help/stats/mad.html) is unscaled (although it returns the Mean or Median Absolute Deviation depending on the value of an optional parameter).

I like the NIST/Dataplot usage of `MAD` and `MADN`, or the SAS usage of `MAD` and `NMAD`. If the scaled version is truly the most common usage, I would support deprecatin

[2019-11-24 08:11] u55 commented on #11090
To add even more confusion, astropy has [`astropy.stats.median_absolute_deviation`](https://docs.astropy.org/en/stable/api/astropy.stats.median_absolute_deviation.html) which is unscaled, and [`astropy.stats.mad_std`](https://docs.astropy.org/en/stable/api/astropy.stats.mad_std.html#astropy.stats.mad_std) which is scaled.

[2019-11-24 10:51] ilayn commented on #11118
We can fix all those warnings however these are 3rd party libraries and if we bump the version of those libraries in the future all needs to be included once again. In some rare cases fixing these might also cause backwards incompatibilities since we would be fixing them without the context it is run and might change the behavior.

Hence so far, if there is no functional breakage, we let those war

[2019-11-24 10:51] #11118 closed

[2019-11-24 16:07] rgommers commented on #11118
If it becomes really annoying, the way to deal with it would be to add some compiler flags to silence the warnings.

[2019-11-24 16:11] Jason5Gao commented on #11113
Thanks, Lucas, is that possible to modify the `mannwhitneyu()` so it can do the same as `ttest_ind` when multiple groups are presented?

[2019-11-24 19:12] AvivSham opened #11120 "Use of linprog"
Let's say I have the following problem:
1) objective function `c1x1 + c2x2`  (we need to minimize it)
2) ` -x1 + x2 <= 0`
3) `0 <= x1 <= 3`
4) `0 <= x2 <= 2`

We also assume that `c1 = 1` and `c2 = -0.5`.
What is the right way to use `linprog` in order to solve this problem?
is `bounds` refer to lower bounds?

Thanks  for helping.

[2019-11-24 19:16] ilayn commented on #11120
Hi @AvivSham. We use the issue tracker for problems regarding the scipy code itself but not how you can use it. For that we point users to sources like Stackoverflow, reddit etc. where more users can help you out.

Nevertheless have a look at the example given in the docstring http://scipy.github.io/devdocs/generated/scipy.optimize.linprog.html#scipy.optimize.linprog

[2019-11-24 19:16] #11120 closed

[2019-11-25 06:27] rgommers commented on #11062
NumPy fix in https://github.com/numpy/numpy/issues/14923, should be taken over in the wheels repo I think.

[2019-11-25 10:13] thatGreekGuy96 opened #11121 "Calls to `scipy.interpolate.splprep` increase RAM usage."
It looks like calls to `scipy.interpolate.splprep` steadily increase the RAM usage of the application calling it. From what I can tell this is independent of the arrays being interpolated but rather is a result of the call itself. The increase in RAM is insignificant initially (about 60MB extra for 100.000 calls) but I am working on some large applications (millions of evaluations on several proce

[2019-11-25 13:49] duke08542 opened #11122 "Welch ANOVA"
Recently I have been tasked at doing oneway ANOVA on multiple sample where variance is not equal. For such situations, a Welch ANOVA test is required, but such a function is not included in scipy.stats

It looks to be very easy (about 10 lines of code) to get Welch ANOVA code up and running. I propose to add a var_equal = True default argument to f_oneway(), where when flagged as False will give t

[2019-11-25 17:19] tylerjereddy commented on #11062
I don't get it---there's a comment from @ilayn in that PR indicating that this is a **blocker** for SciPy Python 3.8 wheels release but you let me proceed with the 1.3.3 release? Can we get a test in the wheels repo to produce this failure that persists even with hard-loading of DLLs from `_distributor_init.py`?

I thought I had this covered with usage of `_distributor_init.py` loading from `.libs

[2019-11-25 17:29] ilayn commented on #11062
I meant this is a blocker for 1.3.2 already on top of the remaining issues. I encountered it and also as you see above took me a while to verify it after we branched off. Because it specifically hits python 3.8/windows. I think only 3.8 wheels need to be updated and nothing else.

[2019-11-25 17:32] tylerjereddy commented on #11062
What's the reproducer for SciPy `1.3.3`?

`import scipy.sparse.linalg` is still failing there? How are the tests passing on wheels CI then? I want to be able to catch the problem if there is one with `1.3.3`.

[2019-11-25 17:35] ilayn commented on #11062
That's a very good question that I don't have a good answer to. Lately CIs are testing my faith in them.

[2019-11-25 17:36] tylerjereddy commented on #11062
Alright, I'll try to test on Windows tonight. If I understand correctly you're saying this would remove the `_distributor_init.py` requirement, which may be nice, but I don't think a critical issue if the imports/tests still work.

[2019-11-25 17:47] ilayn commented on #11062
The actual question I have is that how come this doesn't conflict with the `_distributor_init.py` mechanism. Seems a bit too good to be true

[2019-11-25 17:58] pv commented on #11062
`_distributor_init.py` and `os.add_dll_directory` are doing the same thing in two different ways (Things fail on Python 3.8 in the obvious way if you don't do either one. Doing both should also be ok.) One might argue that the `add_dll_directory` is the better way to do it, as it helps people do their own builds. Not really release blocker, but can be considered for 1.4.0 if you are planning rc2.

[2019-11-25 18:42] mdhaber opened #11123 "Add wrapper for ?gttrf/?gttrs"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?gttrf](http://www.netlib.org/lapack/explore-html/d1/d40/group__double_g_tcomputational_ga8ca64e542924cec56cbe9837b77d25b7.html)/[?gttrs](http://www.netlib.org/lapack/explore-html/d1

[2019-11-25 18:53] ilayn commented on #11123
Damn. This means I need to revisit `syevr`/`heevr` stuff very soon  😅

[2019-11-25 18:59] mdhaber commented on #11123
@ilayn we'd certainly appreciate your thoughts on that, but you'll have help! I'd appreciate your thoughts on the proposed signatures and tests for these, if you have a minute. For instance, I thought about renaming the outputs of `?gttrf` (e.g. `dl` -> `ll` for the subdiagonal of the lower triangular factor) but decided against it based on the names of inputs to `?gttrf` in the LAPACK documentati

[2019-11-25 19:32] ilayn commented on #11123
The actual variable names are not so important since they have historically very little intuitiveness hence nobody would really care but following LAPACK official docs makes it helpful for newcomers in case of finding help outside SciPy circles.

What I mean with syevr/heevr is that currently we have an MKL `lwork` bug and our old (current) wrapper intertwined hence some backwards compatibility is

[2019-11-25 21:11] grlee77 opened #11125 "BUG: segfault when slicing a CSR or CSC sparse matrix with slice start index > stop index"
I noticed a segfault in SciPy that occurs when running the CuPy test suite with 1.4.0rc1. This seems to occur when using a slice with a start index greater than the number of rows to index the matrix.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2019-11-25 21:12] grlee77 commented on #11125
The same occurs for slices into the columns of CSC matrices. Specifically, this test case:
https://github.com/cupy/cupy/blob/4586fedac8254dcd71d97617f2f95f98254dbbcc/tests/cupyx_tests/scipy_tests/sparse_tests/test_csc.py#L1011-L1013

[2019-11-25 21:31] grlee77 commented on #11125
I get the same fault for 1.3.0 and 1.3.3, but it does not segfault on 1.2.2:
```IndexError: index out of bounds: 0 <= 3 <= 3, 0 <= 2 <= 3, 3 <= 2```

[2019-11-25 21:34] grlee77 commented on #11125
I think the issue was introduced with this fairly large commit: #7827. will take a look and see if I can find where the check should occur

[2019-11-25 22:23] #11091 closed

[2019-11-25 23:57] patrick984 opened #11128 "OverflowError in resample_poly (upfirdn)"
scipy.signal.resample_poly fails if the output vector length would be greater than 2^31-1.

[code]

output_shape is created on the previous line (81):
`output_shape = np.asarray(x.shape)`

With an unspecified dtype it appears to get np.int32 by default, which is inadequate for specifying large array shapes.

This could be fixed by explicitly specifying the dtype:
`output_shape = np.asarray(x.shape

[2019-11-26 04:25] tylerjereddy commented on #11106
It is perhaps less obvious there is an issue when using a recent version of SciPy; I normalized & centered your generators first. There could still be something slightly off, but not immediately obvious? I used the feature branch from #10380 to Slerp the region curves.

![test](https://user-images.githubusercontent.com/7903078/69599145-3af1f500-0fc9-11ea-8acd-54075d788abb.png)

There are some know

[2019-11-26 06:20] Kai-Striega commented on #11123
Regarding the tests, could we avoid generating random matrices? Otherwise, those all look good.
Regarding the signatures I would prefer to be consistent with the LAPACK documentation.

I've created the branch ``lapack_support_gttrf_gttrs`` to which your student may add the tests once we are happy with them.

[2019-11-26 08:06] DanyEle commented on #7271
Getting the same error over here. Changed from "single" to "complete" or "average", and managed to get my beautiful dendogram visualization.

[2019-11-26 13:00] JDkuba commented on #7689
@WarrenWeckesser
Hi, I have a question about this issue. As far as I understand, the problem occurs only if there is `1` in the `size` tuple. If so, `_squeeze_output` removes `1`, which is undesirable behavior.

But still, we don't want to return output without squeezing it, because the dimension of a random variable may have `1`, which should be squeezed. Am I right?

[2019-11-26 13:35] mdhaber commented on #11123
@Kai-Striega what's wrong with (psuedo)random matrices? Of course we'd fix the seed for repeatability.

[2019-11-26 13:46] brandondavid commented on #10366
1. I wrote a script that looks through all the reST files in `/doc` and its subdirectories, finding every numpy.org and scipy.org hyperlink and comparing each one to its respective intersphinx map.  The NumPy map was generated as described above and the SciPy map was generated with
`python -msphinx.ext.intersphinx https://docs.scipy.org/doc/scipy/reference/objects.inv`.

    Of the 19 such hyperli

[2019-11-26 13:56] e-q commented on #11128
Can you share some more information about your platform and python/NumPy/SciPy versions? I'm able to run the following without a problem both on Scipy 1.3.1 and `master`, with NumPy 1.17.3 and Python 3.7.5
[code]

[2019-11-26 14:13] peterbell10 commented on #11128
They are on windows where a "C long" is 32 bits.

[2019-11-26 14:23] e-q commented on #11128
Got it. @patrick984, would you be willing to put together a PR with your suggested fix?

This looks like an occurrence of what is discussed in numpy/numpy#9464, there may be other such occurrences of 32 bit ints lurking around.

[2019-11-26 15:41] brandondavid opened #11131 "DOC: stats.fisher_exact does not match R functionality for `oddsratio` calculation"
This a known issue, mentioned in [gh-1483](https://github.com/scipy/scipy/issues/1483#issuecomment-17030569) and reflected by [the docstring for `stats.fisher_exact`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.fisher_exact.html):

But despite that documentation, this discrepancy nevertheless still causes confusion.  There is also some strong disagreement (e.g. [this conversat

[2019-11-26 17:29] WarrenWeckesser commented on #11131
We will be working on `scipy.stats` next year pretty heavily as part of a grant that we received.  Adding conditional MLE to our implementation of Fisher's exact test is on the to-do list.

Not all the details of the proposed work are spelled out in the latest version of the [detailed roadmap](https://docs.scipy.org/doc/scipy/reference/roadmap-detailed.html).  I'll try to find a good site to make

[2019-11-26 18:04] mdhaber commented on #10366
Yes, I think that @larsoner was suggesting adding to the map when necessary. I think the idea was to use intersphinx where possible, and including for other projects like asv and matplotlib.

[2019-11-26 20:08] brandondavid commented on #10366
Unfortunately, I don't have a good sense of what "necessary" looks like for the map.  Would all six of the above links be okay to add?

[2019-11-26 23:48] mdhaber commented on #10366
Hi @brandondavid, I don't know much about using Intersphinx; everything I know is from the [documentation](https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html) (which isn't supremely helpful) and feeling around in the dark during gh-10286. Hopefully @larsoner can chime in here as he seems to know more about this.

If you mean adding those URLs to the "Intersphinx Configuration"

[2019-11-27 03:39] tylerjereddy commented on #10944
I think I've answered that clearly above with a bit of extra work to get what you need. No additional feedback in the last month, so closing.

[2019-11-27 03:41] tylerjereddy commented on #10944
We might want to consider documenting the approach in a simple example or something--perhaps open a separate issue for that if this is likely a common requirement.

[2019-11-27 03:43] tylerjereddy commented on #11106
I'll close this since it seems to be better with SciPy master branch/recent SciPy. If issues persist in the master branch please do let us know of course.

[2019-11-27 03:43] #11106 closed

[2019-11-27 06:18] Kai-Striega commented on #11123
Random matrices test one specific case, however, to me, unit tests verify some *specific* functionality with a clear pass or fail condition. e.g. does the function handle over/underflow correctly, does it overwrite the data, does it handle invalid values as we want it to?

E.g. there was a bug in numpy-financial due to a [denormal number](https://en.wikipedia.org/wiki/Denormal_number) being passed

[2019-11-27 09:18] reidarkind opened #11132 "Possible bug: rv_discret.ppf for percentiles 0 and 100 and loc > 1"
The method rv_discrete.ppf returns "strange" values for percentile 0 and 1 (where percentile is ranges from 0 to 1).

Given a custom discrete method created with rv_discrete, with values = (xk, xp),
- should the ppf return quantile min(xk)-1 for percentile 0? Right should be some number <(min(xk), expected nan or min(xk)
- should the ppf retrun quantile max(xk) for percentile 1, even though loc >

[2019-11-27 11:19] tchaton opened #11133 "Delaunay"
My issue is about ...

I generated a point cloud from a mesh.
Delaunay seems to never converge, even with adding a noise on it.
tri = Delaunay(xyz - np.mean(xyz, 0) + 0.1 * np.random.normal(0, xyz.std(0))

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[2019-11-27 11:54] ilayn commented on #11133
Could you also add the version and system info and the `xyz` contents?

[2019-11-27 17:24] pv commented on #10944
duplicate of gh-10442

[2019-11-27 17:26] pv commented on #9751
Scipy 1.4.0rc1 has qhull 2019.1, so people seeing this may want to check if it fixes this.

[2019-11-27 17:55] pv commented on #11133
What does "never converge" mean? That it takes very long time to run, or returns results that are somehow unexpected (how?)?

[2019-11-27 18:57] tylerjereddy commented on #9703
This feature was added in #9721, and there's a nice visibility example in the docs: https://scipy.github.io/devdocs/generated/scipy.spatial.ConvexHull.html?highlight=convexhull#scipy.spatial.ConvexHull

So, closing

[2019-11-27 18:57] #9703 closed

[2019-11-27 18:57] tylerjereddy commented on #9703
Available in `1.3.x` series.

[2019-11-27 19:13] mdhaber commented on #11123
I think we agree on the philosophy of unit tests, and I can write more about this if needed, but let's first make sure our goals are the same:

- We are testing for issues specific to the signature of the f2py wrappers for `?gttrf` and `?gttrs`.
- We are not testing the f2py system itself / checking for issues that might be shared with the wrappers for other routines.
- We are not testing the LAPA

[2019-11-27 19:19] ilayn commented on #11123
Same applies to the other way around. Sometimes deterministic tests miss the problems that only random big/small size tests can catch say workspace size or cache segfault limitations. Best is having all but trades off with the effort goes in. Hence there is nothing essentially wrong with random matrices but if you already know some corner cases the better it is.

[2019-11-27 19:25] mdhaber commented on #11123
Thanks @ilayn. I agree with that, too, but I don't know any corner cases that are within my goals. I could probably come up with corner cases designed to test, for example, the underlying LAPACK routine, but I don't know enough about how f2py works to design corner cases for _our wrapper_.

[2019-11-27 19:42] diepala opened #11134 "Wrong confidence interval for binomial distribution with p=0"
The confidence interval returned by the binomial distribution is incorrect when p=0. The result should be (0, 0), but it returns (n-1, 0) which is not a valid interval.

#### Reproducing code example:

[code]

#### Output:
[code]

#### Expected Output:
[code]

#### Scipy/Numpy/Python version information:
[code]

[2019-11-27 19:50] ffm-fg opened #11135 "special.ellipe seems doing something wrong"
My issue is about special.ellipe function

Look at this small code.

[code]

The quantity z should converge to 3/8, for A -> 1, but it does not.
I have checked it also with other languages.
It seems special.ellipe does something wrong.  See the comparison in this pic.
<img width="438" alt="Untitled" src="https://user-images.githubusercontent.com/58272262/69754735-f300d880-1156-11ea-86c0-0d64e45545

[2019-11-27 19:58] ilayn commented on #11123
The tests should generally cover basic functionality. Does it work with correct sizes? Is the result correct? If there are extra options, say, transpose etc. do they actually work? Does it reject wrong sizes? Does it handle empty matrices? etc. etc. All should gracefully error out instead of a segfault which is the common thing when you are trying to debug a mistake somewhere.

We don't need to te

[2019-11-27 20:02] pv commented on #11135
Elliptic integrals have two common conventions for the parameter, `k` and `m=k^2`.  In Scipy it is `m`, so you need to write `scipy.special.ellipe(r**2)`.
https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.ellipe.html

[2019-11-27 20:02] #11135 closed

[2019-11-27 20:43] ffm-fg commented on #11135
Thanks !

_

Giuliano Franchetti

Storage Rings/ Accelerator Operations

Office:         C26 1.019
phone:       +49 6159 71 1535
fax:             +49 6159 71 3099
e-mail:        G.Franchetti@gsi.de
http://web-docs.gsi.de/~giuliano

GSI Helmholtzzentrum für Schwerionenforschung GmbH
Planckstraße 1, 64291 Darmstadt, Germany, www.gsi.de

Commercial Register / Handelsregister: Amtsgericht Darmstadt, H

[2019-11-27 22:21] cbatu1 opened #11137 "ImportError: cannot import name qr_insert"
I attempted to run the following import statement:

[code]

However I am receiving an error message below:
#### Error message:
[code]

#### Scipy/Numpy/Python version information:
[code]

Scipy: 1.2.2
Numpy: 1.16.5
Python: 2.7.16

[2019-11-27 22:23] ilayn commented on #11137
Does it work if you just type `from scipy.linalg import (get_blas_funcs, qr, solve, svd, qr_insert, lstsq)` in the python terminal?

[2019-11-27 23:37] cbatu1 commented on #11137
I just tried that and I am getting the following error:

[code]

[2019-11-28 03:03] rlucas7 commented on #11113
Maybe? I haven't written nor tested so cannot be sure. However, it does look like the `_chk2_asarray(a,b,axis)` function can be used in `mannwhitneyu()` with a default `axis=0` argument to mimic behavior of `ttest_ind()` function. This approach seems like the obvious one given what I saw when I investigated. I'm not super familiar with those functions though so I'd want to implement the approach a

[2019-11-28 04:07] Kai-Striega commented on #11057
I've played around with this and it looks like a numerical issue. At a high level this uses either one of three methods ``struve_power_series``, ``struve_bessel_series`` or ``struve_asymp_large_z`` if they are within the appropriate region of the complex plane. If none of these return an acceptable result this bit of code is executed:

https://github.com/scipy/scipy/blob/81d2318e3a9ab172c05645e5d6

[2019-11-28 04:46] Kai-Striega commented on #11123
There are sometimes checked e.g. test_sytrd checks that a 0x0 array raises an error.  But yes I should have checked the existing tests first. Let's match those for scope plus the edge cases @Ilyan mentioned (rejects wrong sizes, handle empty matrices etc.)

:+1:  I think having the deterministic tests is just a personal preference.

[2019-11-28 05:06] Jason5Gao commented on #11113
I have no such experience with a pull request, it would be great if you can take a closer look at it. Time is not an issue for me here, already done what I want in another way.

[2019-11-28 08:13] aixtools commented on #6685
Have to rebuild a test system with all compilers. Will verify status of building scipy when I do.

[2019-11-28 12:07] tchaton commented on #11133
Ubuntu 18.04
Python 3.6.8
scipy.__version__
'1.3.2'

It took all night and didn't finsihed.

Here is the file.
[demo_model_smaller.zip](https://github.com/scipy/scipy/files/3901543/demo_model_smaller.zip)

[2019-11-28 13:15] sam-data-guy opened #11140 "too many critical values returned in documentation examples"
This relates to documentation of the following function: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.anderson_ksamp.html (may apply to other similar functions).  The "critical_values" returned attribute should only contain 5 values.   Indeed this is how the function works.  In the documented examples, however, seven critical values are printed.  Is this from an older version o

[2019-11-28 13:21] Karrenbelt opened #11141 "renaming function argument from grad to jac"
for the sake of consistency with the other optimisers it would be good if the argument for the gradient in _minimize_trustregion_constr would be called 'jac' instead of 'grad'

[2019-11-28 16:00] kratsg commented on #9751
this seems fixed for me now:

[code]

[2019-11-28 16:05] cbatu1 commented on #11137
I switched from using python 2.7 to a virtual env using python 3.7 and I was able to import `resample`. The issue could have been from the `qr_insert` module not being supported by python 2.7 but I could be mistaken.

[2019-11-28 18:18] rgommers commented on #6685
@aixtools thanks. You may want to use latest master, I just merged gh-11139 which may have fixed this issue.

[2019-11-28 18:35] pv opened #11142 "Potential refcounting errors reported by pytest-leaks"
There's some chance some of the C routines written manually have refcounting errors.

If they are triggered by the test suite, they can be generally found by [pytest-leaks](https://pypi.org/project/pytest-leaks/). Python debug build is needed (most Linux distribution ship these), and venv should be used. As of Nov 2019, it's also best to use numpy master, in order to not find already fixed refcoun

[2019-11-28 18:58] mreineck commented on #11142
@peterbell10, Du you have an intuition whether the reported FFT leaks are genuine? I'm not familiar enough with Python internals to judge ... I can only say that even in very long stress tests I didn't notice increasing memory usage or similar symptoms so far.

[2019-11-28 19:25] peterbell10 commented on #11142
There's only one test that reports leaks and I can't see anything suspicious about it:
https://github.com/scipy/scipy/blob/d76cb16b211280dee85d2ea613af60df78df56d9/scipy/fft/tests/test_multithreading.py#L14-L25

It's not the only test that uses the `workers` argument either so I can't see how it could be genuine.

[2019-11-28 19:52] pv commented on #11142
Seems to be the module-scope `x()` fixture that causes it.

[2019-11-28 21:22] pv commented on #11133
The dataset (of `xyz.shape == (537218, 3)` apparently) so it's either
too big for qhull [http://qhull.org], which is used here, or hits some
specific Qhull bug.

You can take a smaller random subset of the data points of different
numbers of points, to see how the time scales. This gives an estimate
that it should take a few hours, if it would scale in the same way as
for smaller number of points.

[2019-11-29 06:07] #11121 closed

[2019-11-29 08:59] tchaton commented on #11133
Dear @pv,

I have already processed point cloud with several million points.
I think it is the fact this point cloud is two perfect (perfect planes as coming from meshes).
I have already done so, they all failed.

I am just reporting a bug.
Best,
T.C

[2019-11-29 09:15] reidarkind commented on #11132
An update:
I've done a small change in one line in the rv_discrete.ppf method. I think the method now gives more correct results for percentile 0 and 1 (100):

Line 3384 in _distn_infrastructure.py could be changed to:
`cond1 = (q >= 0) & (q <= 1) `
instead of
`cond1 = (q > 0) & (q < 1)`

See full working example below:
[code]

[2019-11-29 09:49] pv commented on #11133
You mean you have processed larger point clouds with scipy.spatial.Delaunay (as opposed to some other software not using Qhull)?

Regardless, it appears to be Qhull issue, so should be forwarded to Qhull upstream, once reformulated in way it is reproducible with qdelaunay.

On November 29, 2019 8:59:00 AM UTC, chaton <notifications@github.com> wrote:

[2019-11-29 09:52] pv commented on #11133
... and by processed, you mean processed succesfully? I'm sorry I have to ask for clarification, but it is important to be precise.

On November 29, 2019 8:59:00 AM UTC, chaton <notifications@github.com> wrote:

[2019-11-29 10:53] reidarkind commented on #11132
Another option could be to ad loc to percentile 0 and 1. See changes in lines:
[code]

Though, still a bit puzzled about what value is the correct one for percentile 0. How could ppf(0) be _a -1 if the distribution only is defined from _a to _b?

Complete code example below:

[code]

[2019-11-29 11:48] CRFEM opened #11145 "unexpected SparseEfficiencyWarning at scipy.sparse.linalg.splu"
Hey
I get a warning for using CSR format in splu. This is a bit
confusing because in the documentation it a permissible format.

"Sparse matrix to factorize. Should be in CSR or CSC format."

#### Reproducing code example:
[code]

#### Error message:

SparseEfficiencyWarning: splu requires CSC matrix format
warn('splu requires CSC matrix format', SparseEfficiencyWarning)

#### Scipy/Numpy/Python v

[2019-11-29 13:05] tchaton commented on #11133
Hey @pv,

For sure :)
I have been using scipy.spatial.Delaunay in production with larger point clouds than the one I gave you.
The main difference in my opinion with other ones is that it was sampled point cloud from a mesh and it is very perfectly flat. This could be a trouble with

[2019-11-29 15:07] reidarkind commented on #11134
Took a look at your issue, since it at first glance looked as it could be connected to mine (#11132) - but seems they aren't after all.

Don't have a solution, but I see that the wrong result comes from
`scipy.special.bdtrik`.

The interval method uses the ppf method, which again uses the _ppf method:
[code]

In fact, in your example the bdtrik returns 10, and then the _ppf subtracts 1.
Code examp

[2019-11-29 16:44] #10774 closed

[2019-11-29 16:57] josef-pkt commented on #11132
ppf(0) = min(xk) - 1
is by design. It needs to be strictly smaller than the lower support point, and because discrete distributions are defined on integers reducing it by 1 looks appropriate.

I'm not sure about loc with custom distribution, those defined by `values=(xk, xp)`. I don't remember ever seeing a case for it nor checking it.
If it doesn't have unit tests, then `loc` might not be correct

[2019-11-29 21:14] tylerjereddy commented on #11100
I took a look at this locally---seems tricky. Is this really likely to be properly fixed with forward-compatibility for new random features in place in two days? Maybe a temporary disable of the feature is  in order, short term?

[2019-11-29 21:15] tylerjereddy commented on #11100
If we go the temporary disable route, probably best if someone more familiar with `stats` submodule tackles that.

[2019-11-30 00:12] rgommers commented on #11100
I'll have a go at it on the weekend. Today is last day of Season of Docs, that has priority right now.

[2019-11-30 02:36] Kai-Striega commented on #11123
@mdhaber should the second suggested signature be for ``?gttrs`` not ``?gttrf``?

[2019-11-30 13:35] sampan501 commented on #11100
This makes sense in the case the ``workers`` is an int, but not sure what to do when ``workers`` is a map-like callable.

[2019-11-30 14:10] nschloe opened #11149 "Nelder-Mead: replace loop"
In Nelder-Mead https://github.com/scipy/scipy/blob/master/scipy/optimize/optimize.py#L586, one finds for the evaluation of the goal functional
[code]
Why do we loop here? Something like
[code]
would give the user the opportunity to vectorize the computation in `func`.

[2019-11-30 14:19] pv commented on #11149
Because API is that the user-provided function is not necessarily
vectorized, and that cannot be changed at this point.

One could envision adding support for vectorized optimizer function
calls, but that is a longer road, and it is not clear it would be worth
it.

[2019-11-30 22:54] aixtools commented on #6685
Will do.

[2019-12-01 03:46] XVilka opened #11153 "Enable LGTM for code analysis (Semmle)"
Will help to eliminate obvious errors. For SciPy it is good that Python and C/C++ are supported. See:
- https://lgtm.com/
- https://github.com/marketplace/lgtm

NumPy, for example, uses it already: https://github.com/numpy/numpy/pull/15024#partial-pull-merging

![image](https://user-images.githubusercontent.com/203261/69871982-2f673c80-12ef-11ea-85bd-ff273782cf90.png)

[2019-12-01 06:08] AtsushiSakai opened #11154 "Build failed on the official docker image."
My issue is that scipy build failed on the official docker image: https://hub.docker.com/r/scipy/scipy-dev

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

Scipy: master code

Numpy:1.17.4

Python:3.6

docker (on Mac): 19.03.5

[2019-12-01 07:14] ilayn commented on #11154
You need to pip install also `pybind11` packge as the error hints.

[2019-12-01 07:14] #11154 closed

[2019-12-01 07:18] Kai-Striega commented on #11123
@mdhaber I've had an attempt at this but I'm getting a strange error I can't seem to figure out.

[code]
Here's what I've added for the wrapper itself, could you see if there is anything "obvious" I'm missing?

[code]

[2019-12-01 08:17] AtsushiSakai commented on #11154
@ilayn Oh. Thank you!!

[2019-12-01 08:32] ilayn commented on #11123
`d` does not depend on `n`. It's the other way around. But in any case this will need more guards against creating negative sized arrays when n is 2 or fewer.

[2019-12-01 08:44] Kai-Striega commented on #11123
Thanks, that's got it working now! And I am planning to add the checks, but I'd prefer to have a working example first.

[2019-12-01 22:49] #11125 closed

[2019-12-02 07:14] reidarkind commented on #11132
Thanks for your reply, @josef-pkt !

I agree, `ppf(0) = min(xk) - 1` is by design. And when xk is integers it is fine. Looking at the [tutorial](https://docs.scipy.org/doc/scipy/reference/tutorial/stats/discrete.html) it looks like everything around discrete distributions is about integers. That said, I find the result a bit strange if p(xk[0]) = 0, as shown in code below. But I guess this is a sp

[2019-12-02 09:57] ivirshup opened #11163 "Comparisons between scipy spmatrix and can sparse.SparseArray return scalar bool"
This issue is about interop with scipy sparse and pydata sparse. `scipy.sparse` doesn't let `pydata/sparse` overload `__eq__` according to https://github.com/pydata/sparse/issues/305#issuecomment-560317183 (I'm still a little fuzzy on when `__array_priority__` and `__array_ufunc__` get used). This ends up returning a scalar for `!=` or `==`.

#### Reproducing code example:

[code]

I'd expected th

[2019-12-02 10:21] hameerabbasi commented on #11163
If someone can tell me where `scipy.sparse.spmatrix.__eq__` and so on are defined, I can try to make this change.

[2019-12-02 11:06] pv commented on #11163
I don't remember outright where it is, but I guess grep should point you to about the right place. The spmatrix comparisons are probably quite old code, and might not follow sane convention.

On December 2, 2019 10:21:24 AM UTC, Hameer Abbasi <notifications@github.com> wrote:

[2019-12-02 11:38] ivirshup commented on #11163
It looks like it's effectively under `sparse/compressed.py

https://github.com/scipy/scipy/blob/2ba80dc11ffe931495ec054070e601ae3d8edd03/scipy/sparse/base.py#L369-L373

https://github.com/scipy/scipy/blob/2ba80dc11ffe931495ec054070e601ae3d8edd03/scipy/sparse/compressed.py#L217

[2019-12-02 11:40] hameerabbasi commented on #11163
Looks like it's specialized to each format, which isn't surprising. I'll try to figure this out, but I might not get to it too soon.

[2019-12-02 12:33] ivirshup commented on #11163
I think I've got something working. It's not particularly elegant though.

[2019-12-03 01:39] Kai-Striega commented on #11057
@pv I'm not that familiar with these functions - could you confirm that the expected behaviour is for the modified struve function of infinite degree is not defined, that is ``special.modstruve(np.inf, x)`` will return nan for all x?

Also should a similar check occur for the regular Struve function?

[2019-12-03 08:54] #9715 closed

[2019-12-03 12:27] nschloe commented on #11149
You're probably right. Let's close this.

[2019-12-03 12:27] #11149 closed

[2019-12-03 18:11] arokem commented on #4452
I see that this is still open, @rafaelnh implemented Carlson integrals in DIPY a while back: https://github.com/nipy/dipy/blob/master/dipy/reconst/dki.py#L49-L189, including tests that implement the equations from the Carlson paper that was mentioned earlier in this thread:  https://github.com/nipy/dipy/blob/master/dipy/reconst/tests/test_dki.py#L175-L243. Would it be useful to port this code over

[2019-12-03 19:39] axch opened #11168 "Generalized Pareto variance inaccurate for concentrations near 0."
#### Reproducing code example:

[code]
returns -1.0000000322539793, which is absurd.  The correct answer, from https://en.wikipedia.org/wiki/Generalized_Pareto_distribution, is near 1+2e-8.

Some other parameter values:
[code]

The direct formula for the variance isn't complicated, and looks quite well-behaved near zero.

#### Scipy/Numpy/Python version information:
[code]

[2019-12-03 20:06] fuglede commented on #11134
See also #11026 and the references in there.

[2019-12-03 20:08] fuglede commented on #11026
Again, though, if you require that both end points of the interval be in the support, you will most likely not even have an interval with equal support on both sides on a median.

[2019-12-04 02:10] mdhaber opened #11169 "Add wrapper for ?geqrfp"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?geqrfp](http://www.netlib.org/lapack/explore-html/dd/d9a/group__double_g_ecomputational_ga5dc72a0f55ff4c08f1a3596f56e04aaa.html).

Existing [wrapper](https://docs.scipy.org/doc/scip

[2019-12-04 03:58] #11100 closed

[2019-12-04 09:03] hrw commented on #10329
Consider trying with "-ffp-context=off" added to gcc. This disables FMA use to make it more on par with poor x86 boxes.

Not a solution but an option to check.

[2019-12-04 09:03] hrw opened #11170 "Use manylinux2014 to get aarch64/ppc64le support"
Manylinux2014 image got released some time ago. One of things it brings is support for !x86 architectures.

Scipy is using Travis CI so two things can be joined and used to generate wheel files for aarch64 and ppc64le architectures.

Amount of software installed to be able to run 'pip install scipy' would be cut. Also install times would be nicer.

[2019-12-04 10:38] ilayn commented on #11169
When variable declaration has the option `copy` in the `intent` it is generated automatically by f2py

Calling the same routine twice (one with lwork=-1) is a decades old trick. The main reason is that a variable, `NB`, changes from hardware to hardware for optimal size computation.

The user could call with `-1`, but what we do is to wrap another routine `<lapack_name>_lwork(...)` (see examples i

[2019-12-04 17:37] mdhaber commented on #11169
Thanks @ilayn that's really helpful. I've noticed that for the other `*_lwork` routines most of the arguments are hidden, but some of the arguments are still (optionally) allowed. Can these affect the optimal `lwork` value? How do the authors of the wrappers know which to hide and which to keep as optional arguments?

Also, it looks like there is no `?geqrf_lwork` even though `?geqrf` is already w

[2019-12-04 17:42] ilayn commented on #11169
That would be indeed nice. Often you can look at which arguments are passed to the lwork computation in the routine (ilaenv) and make them visible. For modern personal computers most of the times it shouldn't make any difference but better safe than sorry.

[2019-12-04 17:46] mdhaber commented on #11169
Finally, I'm curious - I played with `scipy.linalg.dgeqrf` with argument `lwork=-1` and it gave me a value of `lwork` in `work[0]`., Then I called the routine with that value of `lwork`, and the routine exited (successfully) with a different value in `work[0]`. Supposedly, `On exit, if INFO = 0, WORK(1) returns the optimal LWORK.`, so why did I get different values depending on whether I'm doing a

[2019-12-04 18:07] ilayn commented on #11169
`WORK` array is the name LAPACK uses for "I use this array for scratch and temp values".  In complex ones you also get `iwork`, `rwork` etc. And when you do `LWORK=-1` it also uses the first entry of that array that to report the optimal value. That array size is optimal if you only give it big enough such that it uses Level 3 blocked algorithms comfortably and and small enough that you don't wast

[2019-12-04 18:11] tylerjereddy opened #11172 "MAINT: dealing with NumPy pre-release test failures"
As you can see in Travis CI for recent PRs ( https://travis-ci.org/scipy/scipy/jobs/620455062?utm_medium=notification&utm_source=github_status ) we now get hundreds of test failures related to
NumPy deprecating the automatic creation of object arrays, with:

 `DeprecationWarning: Creating an ndarray with automatic object dtype is deprecated, use dtype=object if you intended it, otherwise specify a

[2019-12-04 18:16] mdhaber commented on #11169
I suppose I would have expected the documentation to say something like:
 `On exit, if INFO = 0 and LWORK = -1, WORK(1) returns the optimal LWORK.`
But OK! Thanks for the tip about making `work` as a scalar in the `*_lwork` wrapper.

[2019-12-04 18:29] jakobjakobson13 opened #11173 "DOC: Major overhaul of scipy.constants documentation?"
Hi,

I personally find the [scipy.constants](https://docs.scipy.org/doc/scipy/reference/constants.html) a not very concise collection of units and constants.
If you don't have any objections, I would write up a draft following the SI-brochure. This could either mean a restructured and extended documentation leaving all the existing information on the page or a slimmed down variant that drops the u

[2019-12-04 18:32] pv commented on #11172
For 1.4.0 probably add here https://github.com/scipy/scipy/blob/master/pytest.ini#L4
`once:Creating an ndarray with automatic object dtype.*:DeprecationWarning`

[2019-12-04 18:36] tylerjereddy opened #11174 "TST, CI: Azure coverage issues"
Probably low-priority, but if only a bookmark for myself... Azure coverage results are starting to look quite unreliable, with many `test_.py` modules showing extremely low % coverage (most test modules should be pretty close to full coverage).

Looking at a recent PR to master ~5 hours ago ( https://github.com/scipy/scipy/pull/11171 ), I see in the Azure logs output like:

[code]

and also:

[cod

[2019-12-04 19:00] thegwan opened #11175 "stats.kendalltau() returns invalid p-value for some inputs"
`stats.kendalltau()` returns p-value greater than 1 for some inputs

[code]

Returns `KendalltauResult(correlation=0.0, pvalue=1.0951388888888889) `

#### Scipy/Numpy/Python version information:

[code]

[2019-12-04 20:59] #11099 closed

[2019-12-04 21:02] #11082 closed

[2019-12-04 21:20] chrisb83 commented on #11175
Exact calculation was added in #8614

``
cor.test(c(5,2,1,3,6,4,7,8), c(5,2,6,3,1,8,7,4), method = "kendall", exact = TRUE)

	Kendall's rank correlation tau

data:  c(5, 2, 1, 3, 6, 4, 7, 8) and c(5, 2, 6, 3, 1, 8, 7, 4)
T = 14, p-value = 1

[2019-12-04 21:24] rgommers commented on #11172
Already reverted in numpy 1.18.x, and should be temporarily reverted in numpy master as well.

[2019-12-04 21:24] rgommers commented on #11172
So no need to filter for now, we have some time to investigate and fix up the cases where we didn't expect to see object arrays.

[2019-12-04 21:34] WarrenWeckesser commented on #11175
@chrisb83, I'm reopening the issue.  You showed the result of an R calculation, but not SciPy's result.  On the master branch, I still get a p-value of 1.095 (whether or not I used `method='exact'`):

[code]

[2019-12-04 21:41] rgommers commented on #11173
Agreed, thanks @jakobjakobson13. In particular the huge list of physical constants is a bit jarring. Slimming down that page and moving things to subpages with some logic that follows the SI brochure seems like a good idea.

[2019-12-04 21:41] chrisb83 commented on #11175
Sorry, I clicked the wrong button - it is a bug.

[2019-12-04 21:52] rgommers commented on #11170
There's limited tooling support and a bunch of TODOs on the rollout plan (https://github.com/pypa/manylinux/issues/338). So I'm wondering what the best plan is for producing wheels right now. It's too late for SciPy 1.4.0, which is ready to go. So we have 6 months till the next release.

Some questions:
- do we need to produce both `manylinux2010` and `manylinux2014` wheels for x86, or just one of

[2019-12-04 22:24] tylerjereddy commented on #11170
I think Drone has been working well for OpenBLAS ARM testing (@martin-frbg @isuruf ?). I feel like Shippable was causing quite a few issues for NumPy, though maybe that has quieted down?

[2019-12-04 22:30] isuruf commented on #11170
Drone has been working well for conda-forge. Few advantages over Travis-CI.
- Faster to boot
- 60 minutes per job instead of 50 mins
- Large limit on log size
- Travis has timeout of 10 minutes with no output, but drone doesn't have it (AFAIK)
- arm32 (armhf) support

[2019-12-04 22:36] martin-frbg commented on #11170
Yes, Drone has been working quite nicely for OpenBLAS since isuruf set it up.

[2019-12-04 22:44] WarrenWeckesser commented on #11168
This is still a problem in the master branch.  We should be able to fix this by implementing the `_stats` method for `genpareto`.

[2019-12-05 06:15] WarrenWeckesser commented on #11168
Pull request with fix: https://github.com/scipy/scipy/pull/11177

[2019-12-05 08:01] hrw commented on #11170
@rgommers which manylinux to use is a question of which distros you support. Manylinux2014 is CentOS 7+ while manylinux2010 is CentOS 6+ (afaik).

[2019-12-05 08:58] matthew-brett commented on #11170
My suggestion would be to make manylinux2010 wheels until CentOS 6 goes
EOL, in November 30, 2020, and thereafter produce 2014 wheels.   Unless
there's some compelling gcc optimization we need before that.

On Thu, Dec 5, 2019 at 8:01 AM Marcin Juszkiewicz <notifications@github.com>
wrote:

[2019-12-05 11:04] keithbriggs opened #11178 "DOC: https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.qr.html"
The docs say: "overwrite_a bool, optional. Whether data in a is overwritten (may improve performance)".

But it does not say whether the improved performance is for **overwrite_a=True** or **overwrite_a=False**!

[2019-12-05 13:14] mkg33 opened #11179 "DOC: building local documentation import fail"
Disclaimer: I've spent a lot of time trying to resolve this problem but to no avail. I've tried some online solutions (e.g., [here](https://stackoverflow.com/questions/10324393/sphinx-build-fail-autodoc-cant-import-find-module?noredirect=1&lq=1)) but they don't work either, hence this question.

When trying to build the documentation (`git clone` the latest version), i.e., by doing:

[code]

I get

[2019-12-06 03:38] mdhaber commented on #11123
@Kai-Striega Does your branch `lapack_support_gttrf_gttrs` have your wrapper? It looks like it's only behind master, no commits are ahead of master. Also, I checked it out and tried:
[code]
and that failed.

[2019-12-06 03:39] Kai-Striega commented on #11123
It doesn't have anything yet - I'm waiting on the tests to be added.

[2019-12-06 03:45] mdhaber commented on #11123
Ah. OK. I think in the future we can try to write the tests before you write the wrapper. In this case, though, can you add your wrappers first since you've already written them? I would like to work on the tests with @swallan, and it would be nice to be able to check that the test is executable for this first one.

[2019-12-06 03:47] Kai-Striega commented on #11123
Sure thing. I'm on my work computer, so I can't push them right now but I'll push them when I get home tonight.

[2019-12-06 10:32] WarrenWeckesser commented on #7689
@JDkuba, sorry for not responding sooner.

I think it was a mistake for `squeeze` of any of the dimensions to have been included in the code.  The following explains how I think it should behave, but we may have some problems now with maintaining backwards compatbility with released code.

When generating samples for a multivariate distribution, the input values completely determine the output sha

[2019-12-06 11:03] Mark531 opened #11183 "Return of pmf unclear"
Hello,

I'm really confused with the way scipy works. In this simple example, I build a multinomial random variable with 1 trial and 3 possible outcomes per trial, each outcome being associated with a probability. If I now call pmf on this random variable on every possible outcome, I expect it to return the probability associated with each of them (hence my initial probability vector):

[code]
But

[2019-12-06 11:31] pv commented on #11183
This does not seem like a bug, so e.g. stackoverflow may be better place to ask.

It's a multivariate distribution. The probability that you draw `n=1` marbles from a box, and obtain 0 red marbles, 1 green marble, and 2 blue marbles, is zero.

[2019-12-06 11:31] #11183 closed

[2019-12-06 13:09] Mark531 commented on #11183
Mmm, at a minimum, you should improve the documentation. The documentation of pmf (https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_discrete.pmf.html#scipy.stats.rv_discrete.pmf) says that the first parameter is a list of quantiles, which is quite unusual for a probability mass function.

[2019-12-06 15:11] hirschmichael opened #11184 "2-sided Kolmogorov Smirnov returns p-value of 1"
For particular sample sizes the KS test with mode='exact' returns always a p-value of 1

#### Reproducing code example:

[code]

#### Output:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2019-12-06 15:37] ev-br commented on #11093
The issue is that `xp` remains `np.datetime` while `x` gets converted to `float` in the call to `_asarray_validated` inside `interp1d.__call__`. Hence an invalid type promotion error in trying to do mixed arithmetics between `datetime64[D]` and `float`.

There are two possible ways out:

- convert the `xp` argument to `interp1d.__init__` to float.
If this is done, this will need to be tested for a

[2019-12-06 15:44] mbakker7 commented on #11093
I would prefer to do the first option, if possible. To me, it sounds like
testing wether numpy correctly converts all its possible flavors of
datetime64 correctly to floats. If they are converted correctly, interp1d
would work. So why the doubt about numpy's conversion capabilities?

On Fri, Dec 6, 2019 at 4:37 PM Evgeni Burovski <notifications@github.com>
wrote:

[2019-12-06 15:56] ev-br commented on #11093
Numpy converts a single datetime object correctly, yes. However,

[code]

So if you (or someone else) sends a PR with datatime handling, this needs to be extensively tested.

[2019-12-06 16:25] WarrenWeckesser commented on #11183
@Mark531, the link in your last comment is to the `pmf` method of `rv_discrete`, but the original issue is about `multinomial`.  When `n=1` is used, `multinomial` is, in effect, a different representation of a univariate discrete distribution.  The wikipedia article on the [multinomial distribution](https://en.wikipedia.org/wiki/Multinomial_distribution) calls this special case the [categorical di

[2019-12-06 17:08] Mark531 commented on #11183
@WarrenWeckesser Thanks for this precise answer, that's very appreciated. I suggest you to add the examples given to the documentation of scipy.stats.multinomial.

[2019-12-06 17:24] mlangiu commented on #9751
Not for me...

[code]

[2019-12-06 19:45] chrisb83 commented on #11184
The calculation of the exact p-value was added in #9753.

Can you submit a reproducible example by setting a seed?

[2019-12-06 20:06] WarrenWeckesser commented on #11184
Here's a reproducible example:

[code]

[2019-12-06 20:11] chrisb83 commented on #11175
The issue is in the calculation of 'exact', if you use 'asymp', the result is ok. No argument defaults to exact for such small samples.

[code]

@Konrad0 could you take a look at your implementation if you have time? I don't have access to the reference used (Maurice G. Kendall, "Rank Correlation Methods" (4th Edition))

[2019-12-07 00:49] mm-crj opened #11185 "The .roots() or solve() function of scipy.interpolate.CubicHermiteSpline object is empty"
I am using Python 3.7 to write a program that requires me to calculate the root of the Hermite interpolating polynomial, given two points ϵ0
, ϵ1, the function (d(ϵ0),d(ϵ1)) and the derivative values (d′(ϵ1), d′(ϵ1)) at those points. I am using Scipy v1.3.0 and using the CubicHermiteSpline function from the scipy.interpolate library. The relevant extracts from the code are:
#### Reproducing code e

[2019-12-07 01:46] mdhaber commented on #11123
The wrapper for `?dgtsv` has options for overwriting `dl`, `d`, `du`, and `b`. I think we should add these here for consistency, and I think all it takes it to add `copy` to the intent (e.g. `(in, out, copy)`).

[2019-12-07 01:55] Kai-Striega commented on #11123
There are two ways to specify the copying behaviour `copy` and `overwrite`. These add a keyword argument `overwrite_<argument_name>` to 0 or 1 respectively. Staying consistent with gtsv would be to use `copy` i.e. do not overwrite by default.

[2019-12-07 02:37] WarrenWeckesser opened #11186 "BUG: stats: pearson3 CDF and SF functions incorrect when skew < 0."
The `cdf` and `sf` methods of the distribution `pearson3` in `scipy.stats` give incorrect results when the shape parameter `skew` is negative.  For example,

[code]

The following are obviously wrong, because the CDF should be an *increasing* function of x, and the survival function should be a *decreasing* function of x.  The following results show the opposite behavior for these two methods:

[c

[2019-12-07 06:24] rgommers commented on #11178
`False` is the default, `True` _may_ give improved performance by reusing an existing data structure (the input), rather than creating a new one.

[2019-12-07 15:18] sergiopasra commented on #4452
Yes, please

[2019-12-08 13:40] chrisb83 commented on #11186
I am still confused about the implementation of pearson3, see #9168. It might be a special case of the generalized gamma ( Wikipedia +  https://link.springer.com/chapter/10.1007/978-94-017-1431-0_14).

[2019-12-08 20:06] tylerjereddy opened #11189 "DOC: twine upload hiccups"
Hiccup I've never seen before while uploading wheels, for example:

`twine upload -s /mnt/c/Users/treddy/github_projects/scipy/release/installers/*.whl`

Runs into the issue described here: https://github.com/pypa/setuptools/issues/941

Circumvented by creating a `~/.pypirc` file as described therein, but I don't like that solution long-term because it stores credentials in plain text. This was ob

[2019-12-08 20:18] #11168 closed

[2019-12-08 21:01] charris commented on #11189
Worked for the NumPy 1.18.0rc1 release, although the first attempt failed. I figured it was probably a faulty password...

[2019-12-08 22:28] charris commented on #11189
What version of Python/twine? I did need to reinstall twine after my system upgrade and was on Python 3.7.5 and twine 3.1.1.

[2019-12-08 23:19] WarrenWeckesser commented on #11168
@axch, thanks for reporting the problem.  It has been fixed in the development branch of scipy:

[code]

[2019-12-08 23:39] tylerjereddy commented on #11189
Python `3.7.4` & and twine `2.0.0` according to `python -m pip list`. Maybe I need to upgrade `twine`? I suppose error messages on version mismatch/incompatibility issues might be optimistic.

[2019-12-09 00:51] charris commented on #11189
Is `python` 2.7 or 3.7 on your system? `python` was just switched to point to 3.7 in fedora 31, and that distro is more cutting edge than most.

[2019-12-09 02:00] tylerjereddy commented on #11189
I work in a virtualenv pointing to a `spack`-installed python `3.7`.

[2019-12-09 06:43] mdhaber opened #11190 "Add wrapper for ?tbtrs"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?tbtrs](http://www.netlib.org/lapack/explore-html/da/dba/group__double_o_t_h_e_rcomputational_gaadacbb4c29e9604acd77ada4963827c5.html#gaadacbb4c29e9604acd77ada4963827c5).

Existing [

[2019-12-09 07:18] Kai-Striega commented on #11190
:+1: the signature looks good.

I don't think there is any particular reason, perhaps its treated as some kind of enumeration? Either way I think that SciPy should follow the original signature unless a good reason **not** to do so comes up.

On a side note, would you mind if I work through this one on my own? While I am getting quicker with the wrappers I think it would be good for me to go throu

[2019-12-09 08:14] ilayn commented on #11190
Lapack vars are better in my opinion. So that people also can read about them in lapack docs.

I don't think you can retrieve `kd` from the rest.

[2019-12-09 14:50] mattip commented on #11172
xref gh-11147 which will fix some of the warnings

[2019-12-09 19:00] mdhaber commented on #11190
Sure. What have we been doing that you don't want us to do?

[2019-12-09 22:27] s1291 opened #11194 "Incomplete elliptic integrals with complex arguments"
**Is your feature request related to a problem? Please describe.**

Currently, the incomplete elliptic integral functions in `scipy.special` do not explicitly accept a complex argument.

**Describe the solution you'd like**

Complex numbers have a matrix form, for example a complex number `z = a + b*j` can be written in the matrix form as:

![complex_number](https://user-images.githubusercontent.c

[2019-12-09 22:48] carlosgmartin opened #11195 "Batched linear programs"
**Is your feature request related to a problem? Please describe.**

Solving multiple linear programs requires calling [`scipy.optimize.linprog`](https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.optimize.linprog.html) for each linear program separately and then combining the outputs. It is much slower to solve multiple linear programs separately than to solve them simultaneously (s

[2019-12-09 22:54] giacaglia commented on #1930
Another way of going around this is to change the input's bit depth using a tool like `ffmpeg`. The following should help:
`fmpeg -i iinput.wav-sample_fmt s16 output.wav`

[2019-12-09 23:50] mdhaber commented on #11195
Thanks @carlosgmartin. I added this idea to gh-9269. As you can see, there is quite a bit on this list. Is this something you'd be able to help with?

[2019-12-10 01:57] Kai-Striega commented on #11190
@mdhaber so far, not too much. It's just in case you want to start writing the tests first, but let's get the other two done for first.

[2019-12-10 02:59] rlucas7 commented on #11113
@CooperData I checked and it doesn't look like the gh-4933 has these changes in scope which is fine I'd say. I was thinking to work to open a PR with changes to address the functionality here (allow for multi-column group processing) but I want to make sure there isn't existing work being done to address this fix. Am I correct no one is currently working on a fix for this issue (gh-11113) ?

[2019-12-10 03:07] CooperData commented on #11113
@rlucas7 feel free to move forward.. I was hoping to work on this, but I have not had time.

[2019-12-10 04:03] rlucas7 commented on #11111
Reading back over the thread in #9562 now I see the response from @WarrenWeckesser

Based on that back and forth, provided we all still agree, I'd say the fix for this PR would be to have a separate constant input warning for the `spearmanr()` that provides a similar informative warning and is specialized to the function.

The only open question that I'd have here is whether we want to have this w

[2019-12-10 08:31] fkmart opened #11197 "Scipy integration inaccuracies with partially used domain"
I noticed a particular error with some integration routines in scipy.integrate that leave some glaring problems with simple test cases with an analytically determinable solution. I'm nearing the end of my PhD and don't want to start changing Python installs but I'm using version 3.6.3 and scipy version 1.0.0 in VS Code.

The following code produces erroneous results using both Simpson's and Romber

[2019-12-10 09:02] WarrenWeckesser commented on #11197
There is no need to upgrade SciPy; the latest version will give the same answers.  I think you are expecting more accuracy from these numerical methods than is possible with the number of samples that you are using.

You say the theoretical value is 1365.333 (i.e. 4096/3).  That is the integral from 0 to 16 of x².  But look closely at the plot of your data.  In particular, zoom in on the interval

[2019-12-10 09:17] fkmart commented on #11197
I tested it with twice the resolution and the result improved as you might expect. I'm a little surprised I didn't catch that myself! I can see now how this might have been affecting some of my experimental results, not just this particular test case. Thank you

[2019-12-10 15:31] aixtools commented on #6685
Will see about rebuilding test system today. This is a module that will make an excellent wheel, once all the bits needed get merged into CPython and pypa!

[2019-12-10 15:34] denis-bz opened #11198 "sparse eigs (arpack) shift-invert drops the smallest eigenvalue for some k"
scipy.sparse.linalg.eigs shift-invert mode for the SM, smallest-magnitude eigenvalue
`( A=sparse.rand(), k=k, which='LM', sigma=0 )`
drops the smallest one for some k:

    k 1 shift: [ 17 +0j ]
    k 2 shift: [ 17 +0j   52 +0j ]
    k 3 shift: [ 52 +0j   -23 -47j   -23 +47j ]
    k 4 shift: [ 17 +0j   52 +0j   -23 -47j   -23 +47j ]
    k 5 shift: [ 17 +0j   52 +0j   -23 -47j   -23 +47j   71 +0j ]

[2019-12-10 16:37] rgommers commented on #6685
That sounds good! Is there a standard AIX wheelhouse? I don't think AIX wheels can go on PyPI.

[2019-12-10 17:08] #11194 closed

[2019-12-10 19:25] dfrankow opened #11200 "Can no longer slice csr_matrix in 1.3.0"
I have a code example that works in scipy 1.1.0, 1.2.0, 1.2.1 and has a stack trace in 1.3.0, 1.3.1, 1.3.2.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Output of working version (on earlier versions of scipy):

[code]

#### Scipy/Numpy/Python version information:
[code]

See the same info on stackoverflow [here](https://stackoverflow.com/questions/59273855/how-to-sel

[2019-12-10 19:28] dfrankow commented on #11200
[This issue](https://github.com/scipy/scipy/issues/9639) may or may not be related.

[2019-12-10 20:13] aixtools commented on #6685
a) replied by email. short answer: wheels do not exist (yet) for AIX. Ongoing project to get them available (for all).

b) did not download master - instead tried `pip download scipy` and ran into other issues - that I'll start looking into:

Testing with AIX 7.1 and Python3.9 (a1); xlcv16 and xlf15 (but not gotten to needing xlf yet).

[code]

[2019-12-10 20:34] paulf81 commented on #11088
I may be late to this, I posted a similar question on stack and was directed to scipy github.  Has there bee any solution found to this?  I'm observing this same issue for the above code, and also for griddata

[2019-12-10 21:07] chrisb83 commented on #11111
Agree

Can you explain?

[2019-12-10 21:16] perimosocordiae commented on #11200
I can confirm this issue is present on master (1.5.0.dev0+0a7b39a).

[2019-12-10 21:29] perimosocordiae commented on #11200
The issue here stems from the use of a pandas Series object as a boolean/logical index array. We check for boolean indices here:

https://github.com/scipy/scipy/blob/0a7b39a3973bf0ed95a497764445ccbaed7e990b/scipy/sparse/_index.py#L279

Since `pandas.Series` is not a subclass of `numpy.ndarray`, the indices are not converted to integers, breaking the assumptions in the code that follows.

You can s

[2019-12-10 22:23] dfrankow commented on #11200
Thanks!

[2019-12-10 22:30] rlucas7 commented on #11111
I meant if we wanted a parent warning class of constant input and have the different correlation warnings inherit.

Alternate approach would be separate warnings for each that are single inheritance.

@chrisb83 Does that make sense?

[2019-12-10 22:31] hakeemo opened #11201 "custom linear solver for linprog"
**Is your feature request related to a problem? Please describe.**
In order to solve the sparse linear system in the interior-point method, external (non-scipy) solvers can be faster than the default ones ( eg. linear solvers from petsc4py). It would be nice to have an option to use any external solver.

**Describe the solution you'd like**
Add an argument to linprog to pass in a get_solver functi

[2019-12-10 22:44] mdhaber commented on #11201
Thanks for the suggestion @hakeemo. I've added this to the list of `linprog` enhancements in gh-9269. I think a good time to do this is when taking care of the `linprog` maintenance item from gh-9671:

I don't expect this to be terribly difficult. Would you be interested in helping to make this happen?

[2019-12-10 23:40] aixtools commented on #6685
Update: almost... will try with "master" tomorrow. But looks like something with numpy now (sigh)

with scipy-1.3.3 got as far as:

[code]

[2019-12-11 01:47] Kai-Striega commented on #11169
@mdhaber FYI I've pushed the ``geqrfp`` and ``geqrfp_lwork`` wrappers to my branch ``lapack_support_geqrfp``.

A few (minor) points:

* ``ilaenv`` requires the problem dimensions to be specified, so the signature of the lwork function is ``geqrfp_lwork(m, n)`` not ``geqrfp_lwork(n)`` as you originally suggested.

* In many cases the value of ``lwork`` is calculated as ``n * nb``, where `n` is the

[2019-12-11 01:58] rgommers commented on #6685
That's new, could be a `distutils` or `numpy.distutils` thing.

We got the feedback from IBM that they care much more about GCC, so I don't think many people test with XLC anymore.

[2019-12-11 03:07] Kai-Striega commented on #11179
I've just tried building the docs on the current master branch (``1.5.0.dev0+0a7b39a``) and didn't have  any issues. Are you able to build, install and use SciPy, without building the docs?

[2019-12-11 06:13] ilayn commented on #11169
Minimum is defined in LAPACK docs. There are architectures that don't do blocked operations hence mininmum should be followed.

[2019-12-11 06:52] aixtools commented on #6685
This depends on who you talk to is my experience.

GCC is a great compiler, but it also requires a run/time environment
that is not native to AIX. And that additional run/time environment is
not as dedicated to being ABI compatible as the environment provided by
IBM AIX. So, while using GCC as a developer makes life easy / it makes
life miserable for the admin who is responsible for maintaining se

[2019-12-11 07:03] rgommers commented on #6685
Yes, you need both a C and a C++ compiler (and Fortran as well).

[2019-12-11 15:56] hakeemo commented on #11201
I would be happy to implement it @mdhaber. I am not sure what is the best way to do it. What I have in mind is:

1. add `get_solver` in the documentation as a possible entry in the options dictionary for linprog
2.  add  `get_solver=None`  as an argument in _linprog_ip,  _ip_hsd and _get_delta
3. if get_solver is not None, then just call get_solver instead of _get_solver.

Let me know if there are

[2019-12-11 19:07] wallacez1 opened #11203 "Scipy.sparse.csgraph has no atribute reduce_cython"
Im bulding a tkinter app who is working fine, but when i try to run the executable version builded with cx_freeze, i get the following line

Error: **AtrributeError:Type object 'scipy.sparse.csgraphy' has no attribute 'reduce_cython'**

#### Error message:

![image](https://user-images.githubusercontent.com/37086969/70651711-16845280-1c30-11ea-857a-7f3b14a370a0.png)

Python Version: 3.7.3
Scipy: 1

[2019-12-11 19:35] perimosocordiae commented on #11203
Looks similar to https://github.com/cython/cython/issues/1953, and likely not an issue with scipy itself. You may want to check if the installed scipy version in your site-packages was built with an older Cython verison (see https://github.com/cython/cython/issues/1953#issuecomment-398128940).

[2019-12-11 19:45] wallacez1 commented on #11203
following the traceback the problem start with the importk of nltk and then with scipy library but nltk doesnt have any information about cython version.

[2019-12-11 20:37] lorentzenchr opened #11204 "LSMR and LSQR strange performance for square matrices"
The iterative solvers for least squares, `scipy.sparse.linalg.lsqr` and `scipy.sparse.linalg.lsmr`, have a strange timing behaviour around square matrices (n, n), see peaks in plot below. It would be nice to know whether this is known (intended) behaviour or whether it could be improved (of whether I did something wrong).

#### Reproducing code example:
[code]

#### Benchmark plot:
![bench_lsmr](h

[2019-12-11 22:38] carlosgmartin commented on #11195
@mdhaber I'll take a look and see if there's something I can do.

[2019-12-11 23:03] mike-lawrence opened #11205 "enable method='gust' for sosfiltfilt"
Hopefully a pretty straightforward FR: at present `scipy.signal.filtfilt()` has a `method` argument by which one can choose the `gust` method of padding, but `scipy.signal.sosfiltfilt()` doesn't, meaning one has to choose between an implementation of filtfilt that has the gust method but is numerically unstable for higher order filter designs, or a numerically stable filter with no gust method.

[2019-12-12 01:38] larsoner commented on #11205
In principle this does sound like a useful addition. I am not familiar with the `gust` method (only seen that it exists in the code) but if someone can take a look at some point and see if it's doable, that would be great. @mike-lawrence if you have already looked at the code and/or know the method well enough to know it's doable (and have time to work on it), feel free to give it a shot!

[2019-12-12 04:01] epennington opened #11206 "scipy.spatial import error"
I would like to use the scipy.spatial.KDTree class, but when I attempt "from scipy import spatial", I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/nobackupp13/epenning/anaconda3/lib/python3.7/site-packages/scipy/spatial/__init__.py", line 99, in <module>
    from .kdtree import *
  File "/nobackupp13/epenning/anaconda3/lib/python3.7/si

[2019-12-12 04:14] WarrenWeckesser commented on #11206
Did you create a file called `numpy.py` in your working directory?

[2019-12-12 07:09] rgommers commented on #11060
Hi @vinisalazar, thanks for asking. These ideas make sense to me. Regarding the consistent coloring for multiple dendrogram, the threshold is set to ``0.7*max(Z[:,2])`` says the docstring, so you could try if you can make things work by normalizing your `Z` input for every call. Not sure if that works, but worth checking perhaps.

We don't have a dedicated maintainer for `scipy.cluster` unfortunat

[2019-12-12 07:29] MartinGrignard opened #11207 "_minimize_scalar_bounded: reference before assignment"
Hi,
I've recently changed my docker configuration and, while using [chaospy](https://github.com/jonathf/chaospy) package, I came across an error which never occurred before.
It looks like it comes from the fact that `fu` is not instantiated before the `while` loop but I'm not sure.
I hope this report will help.

#### Reproducing code example:

[code]

#### Error message:

This error message occure

[2019-12-12 07:50] andyfaff commented on #11207
Thank you for this report. As you say `fu` is not initialised before the `while` loop, and the `while` loop doesn't run in this instance because it's within some kind of tolerance.
It looks to me like `fu` could be initialised as `fu = np.inf` without an issue, but I'm not familiar with this optimizer. It looks like it could be fixed relatively simply, would you be interested in making a PR?

[2019-12-12 07:54] MartinGrignard commented on #11207
Thanks for this quick answer!
I can try your solution. If it works I'll do a PR.

[2019-12-12 08:01] WarrenWeckesser commented on #11207
Here's a simple example to reproduce the problem:

[code]

[2019-12-12 08:03] andyfaff commented on #11207
@MartinGrignard you can use that easier example as a test to make sure it doesn't happen again.

Normally when I add a test I call the test something like `test_gh11207` so that we know why the test was made.

[2019-12-12 08:53] mkg33 commented on #11179
@Kai-Striega Yes, I can install the current master branch version of SciPy (and use it) locally without any problems. Only the documentation fails.

[2019-12-12 10:22] fellhorn commented on #9904
I tried out the implementation of @Jwink3101 and had quite positive results for my problem.
Are there still plans to integrate it in scipy or ways how to help integrating it?

@Jwink3101 would you give your code snippet under scipy's BSD-3 so we can use it for now?

[2019-12-12 12:26] rpep opened #11209 "Large MatrixMarket format file fails to load"
Hi there,

I have a 3.8gb sparse matrix stored in MatrixMarket format (.mmx). It has dimensions:
28375798 x 28375798 with a total of 171795192 values.

On trying to load it, I get the following error:

[code]

I can't upload the mmx file, but it's easy to reproduce the issue by writing a big one. The format is straightforward to understand

[code]

You can write out large ones with:
[code]

[2019-12-12 13:17] Jwink3101 commented on #9904
I am happy to release it under whatever. Though if possible, I would like to make the pull request though that’s not a huge deal.

It still needs minor work such as to remove the reference to fitting epsilon.

There is also a way to estimate the leave one out error based on inverting the Gram matrix. (This is how I optimize epsilon in mine). I removed it but i think it is actually a really useful

[2019-12-12 13:41] MartinGrignard commented on #11207
@andyfaff it looks like it passed all the tests :+1:

[2019-12-12 14:19] ev-br commented on #9904
Please do!

[2019-12-12 16:10] qiagu opened #11210 "conda v1.3.3"
I wonder when the 1.3.3 release will be available via conda-forge. Thanks.

[2019-12-12 17:37] tylerjereddy commented on #11210
Possibly related: https://github.com/conda-forge/scipy-feedstock/pull/121

[2019-12-12 19:42] rgommers commented on #11179
@mkg33 the problem seems to be that your doc build doesn't pick up the location where you built SciPy. If you built with `python runtests.py`, then build the docs with `python runtests.py --doc`. If you built with `python setup.py build_ext -i` (or similar), then you want to get that location on your pythonpath, e.g. with `export PYTHONPATH=~/path/to/repo/roo` and then `make html` in the doc dir.

[2019-12-12 20:16] #11207 closed

[2019-12-12 20:51] Jiayuan-Gu opened #11213 "Infer correct dtype for scipy.spatial.transform.Rotation"
**Is your feature request related to a problem? Please describe.**
When calling `apply` method on an `nx3` array, it will become np.float64 anyway.

**Describe the solution you'd like**
Is it reasonable to infer the output `dtype` according to the input?

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2019-12-12 20:58] codewithcheese commented on #9481
This worked for me

`RUN apk --no-cache add lapack libstdc++     && apk --no-cache add --virtual .builddeps g++ gcc gfortran musl-dev lapack-dev     && pip install scipy     && apk del .builddeps     && rm -rf /root/.cache`

[2019-12-12 21:56] Konrad0 commented on #11175
Thanks for spotting the bug!
Yes, I'll take a look, give me a few days as I'm rather busy at the moment.

[2019-12-12 23:56] vinisalazar commented on #11060
thank you for your reply @rgommers , I'll try to look into it. could we keep this issue open for the moment? I'll update if I have any news.

[2019-12-13 01:06] rgommers commented on #11060
Sounds good. And yes no problem, we'll leave this open.

[2019-12-13 02:20] hakeemo opened #11215 "linprog: remove_sparse_redundancy redundancy slow"
In _remove_redundancy_sparse, spsolve is repeatedly called within a loop.
`pi = scipy.sparse.linalg.spsolve(B.transpose(), e).reshape(-1, 1)`
Since B does not change, it would be a lot faster to have an LU factorization outside of the loop

[2019-12-13 04:23] WarrenWeckesser commented on #9168
`pearson3` is a reparameterization of the three parameter gamma (i.e. gamma with shape, location and scale parameters).  Most of the papers that talk about the Pearson 3 distribution state this within the first couple paragraphs.

The connection is demonstrated with this code, in which the two PDF plots are exactly the same:

[code]

Plot:

![Figure_1](https://user-images.githubusercontent.com/321

[2019-12-13 04:27] WarrenWeckesser commented on #11186
Heh, me too.  I haven't tried to decipher the implementation in SciPy, and I probably won't be able to spend time looking into the code in the immediate future.  I added a comment over in #9168 with some code showing that `pearson3` is just a reparameterized `gamma`.

[2019-12-13 09:51] mdhaber commented on #11215
@hakeemo thanks for suggestions about `linprog`.

You're right that there may be many iterations in which `B` doesn't change, and on those iterations it might be more efficient to re-use an old factorization. There are two reasons this might not have been implemented:

* For dense matrices, I remember that `scipy.linalg.solve` appeared to cache the factorization and it was actually faster in most

[2019-12-13 16:07] hakeemo opened #11216 "linprog: interior-point: Cholmod reordering can be reused"
In the MOSEK paper, it states that the matrix M  has a fixed nonzero pattern throughout the solution.
Scikit-sparse's interface to Cholmod can create a Factor object which stores the reordering information. .   From my tests on some large problems (> 1e6 variables), I am getting a 2-3X speedup by storing this reordering. I would be willing to implement this.

 A similar strategy can be used for th

[2019-12-13 16:44] mccarthyryanc opened #11217 "ConvexHull area is confusing"
The area attribute for a convexhull is incorrect:

[code]

`hull.area` is equal to 4.0 instead of 1.0. Looks like it is returning the perimeter of the hull instead of the area.

#### Scipy/Numpy/Python version information:
[code]

[2019-12-13 17:09] pv commented on #11217
The result is correct. The terminology here is dimension-independent, so "area" of the hull of a point set in d dimensions means the volume of the d-1 dimensional hull. In 3D it is area, in 2D perimeter.

[2019-12-13 17:13] #11197 closed

[2019-12-13 17:14] #11210 closed

[2019-12-13 17:20] pv commented on #11185
I don't see any problem:
[code]

[2019-12-13 17:22] WarrenWeckesser commented on #11217
For example, in 3D, the `area` attribute gives the expected value:

[code]

[2019-12-13 17:29] pv commented on #11185
Ok, you seem to be meaning that `extrapolate=True` is does not give the third root.
[code]

[2019-12-13 17:50] mdhaber commented on #11216
This sounds great! I'd be happy to review the PR.

[2019-12-13 18:08] mccarthyryanc commented on #11217
@pv Thanks for the clarification! This makes perfect sense now that I see the hull has both `area` and `volume` attributes.

[2019-12-13 18:08] #11217 closed

[2019-12-13 19:55] epennington commented on #11206
I did not intentionally do so. I just tried importing again and it is working now; I apologize for the inconvenience.

[2019-12-13 19:55] #11206 closed

[2019-12-13 22:27] tylerjereddy opened #11219 "TST: TestLGMRES on ARM for conda-forge"
This test is causing issues on ARM architecture for conda-forge. Should it be skipped for that arch for now? See here: https://github.com/conda-forge/scipy-feedstock/pull/121#issuecomment-565627902
[code]

It seems we already skip it for `PyPy`.

[2019-12-14 11:10] tylerjereddy commented on #11219
I noted that this test isn't touched by #11181

[2019-12-14 13:50] rushabh-v commented on #11184
Hey, @chrisb83
I have looked into the code and found out that the problem is [here](https://github.com/scipy/scipy/blob/63b32a5921be7743298b873e0e72f65c9891da09/scipy/stats/stats.py#L5961).
 For higher values of n, the loop iterates more times and every time the `scaling_factor` (which is between 0 to 1) is multiplied to the array and it's values tends to zero. And that is returned to `ks_2samp` [

[2019-12-14 13:52] s1291 opened #11220 "Extending the elliptic integral functions to support complex arguments"
**Is your feature request related to a problem? Please describe.**

Currently the incomplete elliptic integrals function in scipy.special do not support complex arguments for `phi`

**Describe the solution you'd like**
This could easily solved using the Landen Transformation. Let's take as example, the incomplete elliptic integral of the first kind `ellipkinc`

We could approximate the function as

[2019-12-14 14:32] rlucas7 commented on #11111
So I thought about this a bit more and closely checked the source in warren’s PR. The Pearson warning inherits from a runtime warning. From rereading again the comments in the other PR, it sounds like the approach is to create a custom warning for spearman Have inherit from runtime. The benefit there is a simpler hierarchy and the trade off is you need to create a new warning class for each functi

[2019-12-14 15:30] mdhaber commented on #11201
Oops I missed this. Currently the interior point method chooses its solver based on several Boolean arguments to linprog (e.g. `sym_pos`). If one fails, it sets these Boolean values to effectively cycle to the next most robust (and next slower) solver. This should be refactored to cycle through a `list` of solver functions. Instead of Boolean arguments, an integer argument (not sure what the name

[2019-12-14 15:41] mdhaber commented on #11201
@hakeemo btw your suggestion looks good and would be easier to implement, but we had planned to refactor how `_get_solver` works to make it more easily extendable anyway.

[2019-12-14 18:22] denis-bz commented on #11198
@tylerjereddy,
  yes, that checks for missing eigenvalues, good.
The above can also check SM, could you please try it in Ipython or shell --

    run eigstest.py SM=True n=30

k 1 SM: ARPACK error -1: No convergence ...

(The 2 lines in any test.py

    # default params ...
        # to change these params, run this.py  a=1  b=None  'c = expr' ... in sh or ipython --
    for arg in sys.argv[1:]:

[2019-12-15 01:53] Kai-Striega commented on #11190
I've done some work on this locally and I think we need to change how we pass the matrix `A`. The cause of the issue comes from the fact that `?tbtrs` accepts a matrix `AB` not `A`. `AB` represents the same system as `A` but uses the fact that `A` is a triangular band matrix to store the data more efficiently by storing one "band" per row [1].  It is possible to convert `A` to `AB` but requires ex

[2019-12-15 05:48] mdhaber commented on #11190
1 is what I intended.

[2019-12-15 05:59] Kai-Striega commented on #11190
That's what I thought, but I'd rather put it up for the discussion. I've got the NAG examples passing and I'll be working on the randomised tests today/tomorrow, so I should have a PR ready early next week.

[2019-12-15 10:03] mdhaber commented on #11201
I was thinking that somewhere we would define a list of functions that, given a matrix `M`, return a solver, e.g.:
[code]
The list above would be the default for sparse operation. Depending on the user's options (`sparse`, `lstsq`, `sym_pos`, `cholesky`, and possibly a list like `custom_solvers`), the list would be defined differently.  For instance, if `cholesky=False`, `cholmod` would not appear

[2019-12-15 10:41] pv commented on #11198
The changes in that PR don't affect SM convergence issues --- that's an ARPACK bug/problem afaics.

[2019-12-15 12:06] denis-bz commented on #11198
@pv, shall I file a new issue for SM ?
Running eigs on 100 x 100 density 0.1 sparse.rand matrices with seeds 0 .. 100,
essentially the above: SM never converges, shift-invert always --

    versions: numpy 1.17.4  scipy 1.3.3   python 3.7.3

    -- n 100  density 0.1  seed 0:
    randomsparse: n 100  density 0.1  seed 0  A -1 .. 1  nnz 1000
    shift-invert |eval|: [4.69 16.6 20 28.7 28.7 29.8 42.

[2019-12-15 12:14] pv commented on #11198
New issue would be clearer. The convergence could also be precision-related issue --- you are asking it to compute down to machine precision.

[2019-12-15 17:10] #11198 closed

[2019-12-15 18:16] Konrad0 commented on #11175
Alright, I found the bug, thanks @chrisb83 for doing most of the detective work. Basically I made a mistake exploiting the symmetry of the array (that's the factor 2 in the p-value). Here's the corrected code:
[code]
Also, I'd like to remove the `if size >= 171:    pvalue = 0.0` and replace it by an exception or a NaN earlier in the code since it gives an incorrect result, what would you prefer? T

[2019-12-15 21:35] mdhaber opened #11223 "Add wrappers for ?pttrf, ?pttrs"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?pttrf](http://www.netlib.org/lapack/explore-html/d0/d2f/group__double_p_tcomputational_gad408508a4fb3810c23125995dc83ccc1.html)/[?pttrs](http://www.netlib.org/lapack/explore-html/d0

[2019-12-15 22:28] mdhaber opened #11224 "Add wrapperfor ?pteqr"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?pteqr](http://www.netlib.org/lapack/explore-html/d0/d2f/group__double_p_tcomputational_ga03d834df95ce593c02831f77602cfa7d.html).

Suggested signature:
[code]

Test idea (`compz="N"`

[2019-12-15 22:43] rlucas7 commented on #11113
@CooperData it's going to be a bit before I am able to pick this up, #11111 is a bit more than I anticipated. Feel free to give this issue a go if you get some time. I'll chime back in once done with the other issue if this is still open.

[2019-12-16 03:52] hakeemo commented on #11201
@mdhaber Yes makes sense.That is more powerful and (once implemented) easier to extend in my opinion.

[2019-12-16 04:44] xplat opened #11227 "scipy.cluster.hierarchy.optimal_leaf_ordering does not return the right ordering (though it does implicitly compute it)"
It computes enough data to find the correct answer with dynamic programming, but if you look at how the loop works in identify_swaps it is actually building the returned ordering greedily as it traverses the tree of clusters bottom-up.  The assumption that would justify this is if the optimal ordering for a subtree must appear (possibly reversed) as part of the ordering of the entire tree, but if

[2019-12-16 04:52] xplat opened #11228 "scipy.cluster.hierarchy.optimal_leaf_ordering should use newer algorithm from Bar-Joseph et al. 2001"
The current algorithm is O(n^4) so borderline impractical even for moderately-sized problems.

In [\[BJ01\]](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.83.6798&rep=rep1&type=pdf)
is described an O(n^3) algorithm for the same problem.  Compared to the current algorithm, the list
of authors overlaps considerably and it is actually only a slight variation.  It should be practical for co

[2019-12-16 05:54] hakeemo commented on #11215
@mdhaber  Would it make sense to first compute the rank of the matrix using svd in order to see if there is any work that needs to be done before running the algorithm in the remove_redundancy function ?

[2019-12-16 06:00] mdhaber commented on #11215
The rank is computed before about redundancy removal algorithms run. I think the code for that is in `_presolve` in `_linprog_util.py`. I suppose that hints at another potential optimization - abort this algorithm after the expected number of redundancies have been detected.

[2019-12-16 06:03] hakeemo commented on #11215
Right. I missed that. However from my understanding of the code, that is only done for dense matrices. For sparse matrices it is kept as a TODO in the code.

[2019-12-16 06:10] mdhaber commented on #11215
Oh right. I don't think SciPy has a sparse rank check that is faster than this. `scipy.sparse.linalg.svds` has an option for finding small magnitude singular values but in practice convergence is very poor.

[2019-12-16 07:40] peytondmurray commented on #11128
I'm happy to pick this one up. Would a test be useful here? I don't actually have the RAM to try running `upfirdn` with an array larger than 2^32-1, and the test would be slow, so I'm not sure how useful it would be.

[2019-12-16 10:46] tuomassa commented on #8571
Any progress with scipy? Anyone managed to get in working?

[2019-12-16 13:18] stippingerm commented on #9968
@pv @person142 the naive solution with `scipy.special.betaln` would be
[code]
But I think loss of precision may occur here too. If the two terms are close enough we get:
[code]
Other grouping of those terms, e.g., `-betaln(n - k + 1, k) - np.log(k)` did not help either. Note, in the latter case one has to handle the valid `k==0` case separately, on an conditional branch.

[2019-12-16 14:16] tylerjereddy commented on #11095
Note that this issue is still showing up in master branch cron jobs for the SciPy wheels repo & our 1.4.0 release will contain the skips on these tests for the 32-bit Linux case.

If it gets cleaned up eventually we can consider backporting a fix to 1.4.x series release.

[2019-12-16 15:15] amarvin commented on #10738
If someone's good with Fortran, I believe the fix must be done in https://github.com/scipy/scipy/blob/master/scipy/optimize/slsqp/slsqp_optmz.f

[2019-12-16 17:54] denis-bz opened #11232 "sparse.linalg.eigs small eigenvalues of sparse.rand matrices: SM vs. shift-invert mode"
Running sparse.linalg.eigs for small eigenvalues of 100 x 100 sparse.rand matrices,
shift-invert mode `which='LM', sigma=0` converges in 10 of 10 cases, seed 0 .. 10;
`which='SM'` converges in 0 of 10 with e.g.

    ARPACK error -1: No convergence (1001 iterations, 0/6 eigenvectors converged) [ARPACK error -14: DNAUPD  did not find any eigenvalues to sufficient accuracy.]

`tol=1e-5` doesn't chang

[2019-12-16 18:00] haximaw commented on #9751
I had a similar problem when using functions from scipy.spatial and downgrading scipy fixed it for me. Now I use the following
[code]

[2019-12-16 19:02] amarvin commented on #10738
Nevermind, the fix must be in Python and not Fortran. I believe that [`approx_jacobian`](https://github.com/scipy/scipy/blob/47ffc1ef2480df307392670a5476701b57e5333c/scipy/optimize/slsqp.py#L31) will need an optional argument for providing f0, the function value at x0. Somehow the f0 needs to passed to [the wrapping call](https://github.com/scipy/scipy/blob/47ffc1ef2480df307392670a5476701b57e5333c

[2019-12-16 21:20] chrisb83 commented on #11175
hi, sounds good, feel free to create a PR with a test case (see R benchmark above).

size >= 171:

would it work to compute the p-value as

`exp( log(sum(new)) - log(factorial(size))` and write `log(factorial(size))` as `scipy.special.gammaln(size+1)` to avoid the overflow?

[2019-12-16 21:25] chrisb83 commented on #11184
@rushabh-v thanks for your offer. do you already have an idea how to fix it? Paul @pvanmulbregt  implemented the function, I think he is the best person to guide you.

[2019-12-16 21:33] eunjongkim opened #11233 "confidence interval of the `scipy.optim.minimize` results"
Hi,

I've been trying to implement a least-squares fit using 'Nelder-Mead' method for minimizing the residual. The minimization works well. But the thing is, I don't have any idea of how to extract the variance and confidence interval for the parameters optimized. The OptimizeResult of this minimization gives a variable called `final_simplex`, which takes the form of (array_like of shape (N + 1, N

[2019-12-17 00:07] eunjongkim commented on #11233
I found that I can use the version in
https://github.com/andsor/notebooks/blob/master/src/nelder-mead.md
to do what I want. But, I don't understand why the scipy version is implemented this way? Would there be a specific reason?

[2019-12-17 02:02] andyfaff commented on #10738
This might be addressed by #10673

[2019-12-17 05:56] matthewfeickert commented on #9481
@codewithcheese Given that you have a working solution do you have a public Dockerfile? I am trying to build off of base image `python:3.7-alpine3.10` with `numpy==1.17.4` and having issues.

(I have intentionally left out my `Dockerfile` as I'm not expecting other people to debug it for me &mdash; just curious it people have working solutions they can share).

[2019-12-17 06:05] andyfaff commented on #9481
we have an ubuntu docker file if that works?

A.

On Tue, 17 Dec 2019 at 16:56, Matthew Feickert <notifications@github.com>
wrote:

--
_____________________________________
Dr. Andrew Nelson

_____________________________________

[2019-12-17 06:29] matthewfeickert commented on #9481
Thanks for the offer, but I have the build working fine on Ubuntu. For our project we're really trying to keep the size of our image down, hence alpine, but very much `scipy`.

In almost all other circumstances a Ubuntu image would be just fine. So sorry for being picky here, but thank you very much for letting me know about the image regardless.

[2019-12-17 06:35] mdhaber commented on #11123
@ilayn I updated this so that we test `?gttrs` with multiple right hand sides.

I started looking into the difference between the order and the leading dimension of an array; I see that the leading dimension of an array may be different from the order when you are looking at a slice of an array.  I also understand that it can be very important to ensure that, e.g., `lda` is nonzero (or respects wh

[2019-12-17 06:38] rgommers commented on #9481
Do you need to build SciPy, or does the Alpine `py3-scipy` (which currently has 1.3.3, and will probably update soon) work? See https://pkgs.alpinelinux.org/packages?name=py3-scipy&branch=edge

[2019-12-17 06:43] rgommers commented on #11228
Thanks for the suggestion @xplat, sounds like a good idea to update the algorithm. Would you be interested in working on this? Or @jamestwebber maybe?

[2019-12-17 06:44] rgommers commented on #11227
@jamestwebber any thoughts on this one?

[2019-12-17 07:47] rossbar commented on #10723
I built the scipy docs with numpy/numpydoc#221 and unfortunately it looks like the arguments are removed all together. I've published the result to the gh-pages for my fork of scipy, so the rendered result can be seen [here](https://rossbar.github.io/scipy/stats.html#module-scipy.stats).

The docs were built from scipy 47ffc1ef2 with thequackdaddy/numpydoc@611d59a

[2019-12-17 10:24] ilayn commented on #11123
Not really. This is the `f2py` magic that takes in place. It converts a view or a slice into a Fortran-passable mapping format and in it goes. You don't have a way of specifying LDA or n in our wrappers. In actual Fortran usage you can address different parts of the array at a low-level and LDA defines the memory range for that array. We have high level numpy indexing functionality for that and th

[2019-12-17 14:48] AKuederle opened #11235 "Missleading Error Message for IIR Filter"
When using `scipy.singal.iirfilter` (or any other related filter design method), it is possible to trigger the error `Digital filter critical frequencies must be 0 < Wn < 1`:

[code]
This error message is correct and helpful in the default case, but when the newish `fs` parameter is used, the error message is misleading/wrong:

[code]

This error message is generated in [this line](https://github.

[2019-12-17 15:00] ilayn commented on #11235
This was indeed on my todo list then I forgot. Please go ahead @AKuederle. Thanks for raising the issue.

[2019-12-17 15:20] matthewfeickert commented on #9481
Thank you very much for kindly pointing this out to me @rgommers. Indeed, this will work fine. I apologize for not doing a better job of searching the available Alpine resources before diving into trying to build `scipy`.

[2019-12-17 16:33] AKuederle commented on #11235
I opened a pull request. If you have time, please have a look

[2019-12-17 16:43] jdavidberger opened #11237 "Seg fault when importing torch"
In the latest release, if you import scipy and then pytorch, it'll segfault. This did not happen in 1.3.3. It started at 1.4.0rc2

#### Reproducing code example:
[code]

#### Error message:

Since it's a segfault, I posted the GDB stacktrace here: https://gist.github.com/jdavidberger/b1d9870f4501a16fc4346bda46f98413

#### Scipy/Numpy/Python version information:
[code]

[2019-12-17 16:46] ilayn commented on #11237
can you import torch? I don't see how this is related to scipy

[2019-12-17 16:52] jdavidberger commented on #11237
Oops, yes, I failed to mention: Importing torch on it's own is fine; as is importing torch before scipy.

I can also post an issue on pytorch's issue tracker, but the thing that changed in my dev environment was going from scipy 1.3.3 to 1.4.0. I don't know where the bug is exactly; but I figured since 1.4 is just out it'd be good to post here.

[2019-12-17 17:09] ilayn commented on #11237
The remaining permutation is can you import a standalone scipy? I don't remember any issues and also I can't reproduce it on my installation (other than the 3.8 windows wheel cannot install via pip `ModuleNotFoundError: No module named 'tools.nnwrap'`)

[2019-12-17 17:18] jdavidberger commented on #11237
Yes, importing scipy on its own works.

I suspect there is an issue in some underlying binaries, so it is probably
relevant that I'm seeing this in Linux.

Here is a docker image with the bug:
https://hub.docker.com/repository/registry-1.docker.io/jdavidberger/torchimportbug/tags

On Tue, Dec 17, 2019, 12:09 PM Ilhan Polat <notifications@github.com> wrote:

[2019-12-17 17:25] peterbell10 commented on #11237
This looks similar to a few existing `pytorch` issues I could see. It sounds like there is a binary incompatibility problem between the two different `pybind11` libraries compiled by `pytorch` and `scipy`.

The suggested fix is to compile with a different version of gcc but, if I understand correctly, SciPy's gcc version is fixed by manylinux1 compliance.
Ref: https://github.com/pytorch/pytorch/is

[2019-12-17 17:28] rgommers commented on #11237
PEP 513 says that `manylinux1` uses GCC 4.2 - I don't think we're building with that, it's way too old. Unless I'm misreading.

Pybind11 incompatibility definitely makes sense, that is what changed between SciPy 1.3.3 and 1.4.0