[2021-11-01 18:50] astrojuanlu commented on #9698
That's very insightful @dylan-thomas832 , thanks for thinking through this with me! I think I get it now:

[code]

Therefore, for the time being we might be able to actually ignore these extra coefficients. I'm going to do as you suggest and set the number of stages to 10, while computing `E = B - Bh` with one extra stage.

[2021-11-01 19:16] josef-pkt commented on #14949
There should be a roundtrip unit test to verify that ppf and cdf are consistent.

My guess is that your analytical_ppf uses a different parameterization than scipy uses.
Check that the inverse function of your analytical_ppf actually corresponds to the scipy version. My guess is that it doesn't.

quick check

[code]

[2021-11-01 19:30] antoscha commented on #14949
Yes, I missed it. You're right. Thanks!

[2021-11-01 19:30] #14949 closed

[2021-11-01 19:36] astrojuanlu commented on #9698
Now gh-14956 is stuck on the `P` matrix, required for the dense output (happy to continue the conversation there).

[2021-11-01 21:23] mdhaber commented on #14957
@erelsgl originally asked for "an optimal basic feasible solution" because "at most m variables are non-zero". If I understand correctly, all `linprog` methods except `"interior-point"` provide this already.

The original post also asks for this to be done in polynomial time. It looks like there _are_ polynomial time algorithms for doing so (e.g. interior-point followed by the algorithm in [Megidd

[2021-11-01 21:31] bill-iot-hw opened #14959 "BUG:"
### Describe your issue.

Trying to use the fft function but keep getting an error about keyword 'aligned'. I saw a similar bug about using 'scipy.fft.set_backend' to set something but I must admit I don't understand what I would be setting my backend to or why.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.1 1.21.1 sys.version_in

[2021-11-01 21:41] bill-iot-hw commented on #14959
After verifying some examples worked found the 'to_numpy()' did the trick to make my pandas df column compatible

`from scipy import fftpack
signal_noise = noisy_1sec_df['Channel 0'].to_numpy()
sig_noise_fft = fftpack.fft(signal_noise)`

[2021-11-01 21:41] #14959 closed

[2021-11-01 21:41] jajhall commented on #14957
Thanks. I know that the original post wanted a guarantee of polynomial time. I was trying to explain that chasing such guarantees within an implementation is pointless, and may get in the way of finding a solution to a practical problem.

Specifically, there's still no merit in asking for a guarantee of polynomial time when implementations of the simplex algorithm run in polynomial time for all pr

[2021-11-01 21:41] ilayn commented on #14959
This is a pandas usage problem. You have to pass the values of the column and not the Series object which is not supported

[code]

[2021-11-02 06:22] kikicrisp commented on #13102
If you're using Python 3.10.0, updating pip to '21.3.1' still doesn't work. The ultimate solution is:

1. install xcode
2. install homebrew
3. use homebrew install pyenv
4. use pyenv to install python 3.9.0
5. vim .zshrc  -> export PATH="$(pyenv root)/shims:$PATH" ->esc->:wq
6. pyenv global 3.9.0
7. check if pip under python 3.9.0 folder with: pip --version(upgrade to 21.3.1 if not)
8. pip install

[2021-11-02 08:12] erelsgl commented on #14957
This actually seems like a very useful addition. What is its status?

[2021-11-02 08:32] #14904 closed

[2021-11-02 08:59] dschwoerer commented on #14826
`pip install https://github.com/scipy/scipy` solves the issue for me.
A new release would be great :+1:

Note that not having a release of scipy on pypi makes it hard for downstream projects to test with 3.10 ...

[2021-11-02 09:02] tupui commented on #14826
A release is in the making (cf the branch 1.7.2 and #14567). It just takes time out of our limited resources.

[2021-11-02 10:52] JohannesBuchner commented on #14926
Reading https://mathworld.wolfram.com/Grid.html it seems what is supported are arbitrary orthogonal grids.

It seems correct to me that a more general case is supported by RegularGridInterpolator than regular grids. I think this is not the first case in the numpy/scipy universe though, that a method becomes more powerful than its original description.

In any case, the doc should be corrected for

[2021-11-02 10:53] JohannesBuchner commented on #14926
Thanks for discovering this @mueslo, I learned something.

[2021-11-02 11:33] rgommers opened #14968 "Debug build CI job crashes on `stats._unuran` threading test"
Observed in gh-14962 (unrelated PR). Details from the [CI log](https://github.com/scipy/scipy/runs/4078367919?check_suite_focus=true):

[code]

Likely a bug (threading behavior is something that could indeed cause this segfault), but it's not happening on other PRs. Let's just see if it happens again.

This test came in in commit 402ac3535b8c (main PR that added UNU.RAN, Cc @tirthasheshpatel).

[2021-11-02 11:55] tupui commented on #14926
Thanks @JohannesBuchner for your inputs. Let's correct the doc first and during the review we might have more discussions with others. Do you or @mueslo would do a PR?

[2021-11-02 13:33] tirthasheshpatel commented on #14968
I am having a hard time replicating this locally. I fired up 1000 threads but still wasn't able to produce the failure :( I will review the code to check if I can spot something right away.

[2021-11-02 13:49] rgommers commented on #14968
On a debug build of Python? It could be a build/packaging issue of the interpreter we're using there perhaps. I'd say don't worry too much until it happens again. A code scan would be good, but it's not urgent right now.

[2021-11-02 13:54] tirthasheshpatel commented on #14968
Yes. I used Python3.9-dbg.

[2021-11-02 14:00] mdhaber commented on #14957
I meant that even though I wrote that then, i no longer anticipate it being done with `linprog`. That could be done with a more advanced interface (see https://github.com/scipy/scipy/issues/14455#issuecomment-901487576), though. The status is that it's an idea.

[2021-11-02 14:04] #14940 closed

[2021-11-02 17:28] Smit-create commented on #14911
This seems to be working fine with pyparsing version `3.0.2`

[2021-11-03 06:36] erelsgl commented on #14957
Suppose I have an application that requires an optimal basic feasible solution (BFS). It is clearer to write this requirement as an argument to linprog:

    linprog(..., return_basic_feasible_solution=true)

than to mention the method and trust the user to know that this particular method works returns a BFS:

    linprog(..., method=simplex)

[2021-11-03 06:42] Smit-create commented on #14914
The error is likely because it isn't able to grab the correct file name?
Locally I get the following with `coverage==6.1.1`:
[code]

And the `site-packages` directory contains
[code]
So, `.coverage.smit-HP-Notebook.5052.313530` seems to be missing?

[2021-11-03 08:26] rgommers commented on #14914
That sounds right. Unclear why. After this happened multiple times, coverage 6.1 and 6.1.1 were released. It hasn't happened since. So let's close this, and reopen in case it happens again.

Thanks for looking into it @Smit-create!

[2021-11-03 10:27] mueslo commented on #14926
@JohannesBuchner thanks for the input. However, I would like to point out something where it seems we are not quire on the same page: RegularGridInterpolator does **not** in fact support a more general case than regular grids, since it only supports a strict subset of regular grids, namely the orthogonal ones.

If my data is on grid points defined by e.g. x_ijk = i*(1, 0, 0) + j*(0, 1, 0) + z*(0.5

[2021-11-03 11:05] rita-palfine-cko opened #14970 "BUG: contradicting description in mannwhitneyu test"
### Describe your issue.

The description provided for the `alternative` is contradicting itself. For instance, the explanation for `less` is phrased that "the distribution underlying x is stochastically `less` than the distribution underlying y", but the mathematical formula following is stating the relationship in the other way: `i.e. F(u) > G(u) for all u.`

It would be clearer to state that fo

[2021-11-03 11:36] mdhaber commented on #14970
I understand the confusion, but the direction of the inequality is correct as-written. Remember that *F* and *G* are the *cumulative distribution functions* underlying the variables. The math of stochastic ordering is not always familiar, so maybe the solution is to rewrite the mathematical statement in terms of the PDFs, which has more immediately intuitive notation. Would that work?

We could ad

[2021-11-03 14:07] rita-palfine-cko commented on #14970
Oh! NO, I didn't realise that F and G are the cumulative distribution function, although it is clearly written. Thank you for calling my attention to it.

I noticed that there is an explanation of this at the ks_2samp test, which might be a consensus solution, so no need to rephrase, but add some explanation to be super clear.
"Note that the alternative hypotheses describe the CDFs of the underlyi

[2021-11-03 15:09] seiko2plus commented on #13776
@rgommers, [`gh-19642`](https://github.com/numpy/numpy/pull/19642) fixes detecting the compiler support of certain intrinsics, NumPy's distutils force the compiler to treat warnings as errors only during testing the availability of SIMD/intrinsics.

However, the build fails due to the following error only and has nothing to do with `-Werror`:
[code]
Error number `127` returns from exec interpreter

[2021-11-03 15:39] tylerjereddy commented on #14911
Fixed by gh-14969 (or rather, but upstream stuff happening, so the pin was removed)

[2021-11-03 15:39] #14911 closed

[2021-11-03 15:47] jl-gel commented on #14615
@CrepeGoat -> best solution by far without having to mess around with installation of other libraries or whatnot!

[2021-11-03 15:48] sandeep-gh opened #14971 "BUG: unable to install scipy on openBSD on RPi4"
### Describe your issue.

Using OpenBSD 7.0 on Raspberry 4. Unable to compile/install scipy.  The main error I get:
[code]
Is aarch64/arm64 not a valid arch for scipy? If not, then how to specify that.

### Reproducing Code Example

[code]

### Error message

[code]
[code]

[2021-11-03 16:58] rileyjmurray commented on #14455
@jajhall what's the "them" that you're referring to?

[2021-11-03 17:02] jajhall commented on #14455
Clp and Cbc

[2021-11-04 02:56] mdhaber commented on #14455
We wrote the proposal a year ago, and things have changed since then. I think we would only add them if we expect them to remain more performant. HiGHS seems as fast or faster than CBC right now, so do you expect it to stay that way? Do you expect HiGHS to overtake CLP in the next few years?

[2021-11-04 04:46] mdhaber commented on #14970
Yes, I added that note in gh-13188 to resolve similar confusion about `ks_2samp`. I don't have much time to review or submit PRs now, but I wouldn't block such an addition to MWU. I wouldn't really want to be involved in it, though, because it involves formatting math, and there tends to be more contention about how best to do that than one would expect.

That's true. But I can see the reason for

[2021-11-04 07:26] tupui commented on #14971
@sandeep-gh We cannot help if you don't provide any details. What did you try? How it failed?

[2021-11-04 08:25] rita-palfine-cko commented on #14970
Thank you for the clarification. This was very helpful! I see your point how the different formulations makes sense. One has to pay careful attention what 'less' means in each test.

[2021-11-04 08:25] #14970 closed

[2021-11-04 09:41] jajhall commented on #14455
HiGHS is very much faster than Cbc now, and the gap will only grow.

Clp's benchmark performance is misleading, as it has the "tricks" required to avoid using full-scale simplex on many of the benchmark problems. Put another way, I'm sure that Gurobi's not losing sleep over its simplex solver being less than half the speed of Alibaba's in the benchmarks.

Head-to-head as simplex solvers on "normal

[2021-11-04 10:28] deKeijzer commented on #13409
Had the same issue with an M1 chip. Note that

`brew install openblas
pip install cython pybind11 pythran numpy
OPENBLAS=$(brew --prefix openblas) CFLAGS="-falign-functions=8 ${CFLAGS}" pip install --no-use-pep517 scipy
`
did not work for Python 3.8. It does work for Python 3.9.7.

[2021-11-04 12:46] nuomifan opened #14975 "BUG: Wrong calculation from Euler to Quaternion"
### Describe your issue.

OS: Ubuntu 18.04

scipy version: 1.7.1

When I use Rotation in scipy, it returns wrong value

`Rotation.from_euler('xyz',[3.14,0.2623,0]).as_quat() `

It returns
`array([ 9.91411844e-01,  1.04139110e-04, -1.30774311e-01,  7.89487983e-04])`

Actually, the results should be (from https://www.andre-gaschler.com/rotationconverter/)
`array([ 9.91411844e-01,  1.04139110e-04, 1.

[2021-11-04 13:44] Cluckenstein opened #14976 "BUG: in function scipy.stats.ttest_ind if equal_var = False, wrong test statistic used"
### Describe your issue.

In the scipy.stats.ttest_ind if equal_var = False a Welch test is performed as described in https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#r3566833beaa2-2
but the test statistic in the function uses the formula (Y_1-Y_2)\sqrt(s_1^2/(N_1-1)+s_2^2/(N_2-1)) instead of the correct one stated in the Wikipedia, which is also mentioned in the lin

[2021-11-04 13:56] josef-pkt commented on #14976
AFAIR from a long time ago

You need one 1/ n and 1 / (n-1) for standard error of a mean

np..var has default ddof=0
so you need the -1 in the manual_statistic computation

or alternative is to use ddof=1 in np.var

[code]

[2021-11-04 14:03] Cluckenstein commented on #14976
According to the literature, the test does not need the -1 bias correction, that is the whole point. We use the real np.var and not the bias corrected with -1. Hence the used test statisitc is incorrect.

[2021-11-04 14:22] Cluckenstein commented on #14976
Again, it is standard in the degrees of freedom, but NOT in the Welch statisitic itself. The formula is just plain wrong as also stated in the wikipedia article, the manual mentions. This is also not some opinion, rather than the accepted literature.

[2021-11-04 14:37] josef-pkt commented on #14976
[code]

pvalue scipy (and statsmodels) 0.2987148023687565

I guess we were reading different literature then.
AFAICS, Wikipedia page doesn't say anything about how `s_i` is calculated

[2021-11-04 14:47] rkern commented on #14975
Note in the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.transform.Rotation.from_euler.html) that there is a difference between `'XYZ'` to ask for intrinsic rotations while `'xyz'` asks for extrinsic rotations. The converter site you linked does not mention whether they are using intrinsic or extrinsic rotations, but it uses the capitalized `XYZ` and the resul

[2021-11-04 14:47] #14975 closed

[2021-11-04 17:21] veronica320 opened #14977 "BUG: "SVD did not converge" error in scipy.linalg.orth"
### Describe your issue.

Hi there,

I'm trying to find the orthonormal basis of a matrix with `scipy.linalg.orth()`.  But it sometimes throws the following error:
[code]

I checked for a few StackOverflow posts / Github issues and ruled out a few common causes (e.g. W doesn't have any NaN values in it; numpy and scipy version isn't too old, ...), and the issue persists.

[Here](https://drive.goog

[2021-11-04 17:56] #14804 closed

[2021-11-04 20:28] ilayn commented on #14977
Hi @veronica320 how big is your array? Do you mind copy pasting the array itself into the issue instead of putting it somewhere GDocs?

[2021-11-04 21:02] veronica320 commented on #14977
It's 768 * 768, a bit too big to paste into the textbox : (
But I'm attaching it here: [sample_W.npy.zip](https://github.com/scipy/scipy/files/7478465/sample_W.npy.zip). You can unzip it and load the .npy file in the 3rd line of my code, `W = np.load("sample_W.npy")`. Does this work?

[2021-11-04 21:06] ilayn commented on #14977
Can you at least paste it as a txt file somewhere? We really don't want to download random files online just to check something due to security concerns. Especially no zip files.

You can use GitHub's gist or pastebin or whatever you wish.

[2021-11-05 00:10] veronica320 commented on #14977
Sure, here is a .txt version: https://gist.github.com/veronica320/f06db7144dc305fab016c1f250b29e64. It's a lot larger than the binary .npy though.
To load the .txt file, please use the following code snippet instead:
[code]

[2021-11-05 01:30] sandeep-gh commented on #14971
I tried both pip and building from source. Both have save errors.  I am using Python3.10.  I have attached the full compiler/error output. It seems to be picking up either native or wrong march option when compiling.
[scipyerr.txt](https://github.com/scipy/scipy/files/7479882/scipyerr.txt)

[2021-11-05 01:46] KuraNaoto opened #14980 "BUG: Johnson's algorithm fails without negative cycles"
### Describe your issue.

Johnson's algorithm in `scipy.sparse.csgraph` falsely detects a negative cycle.

#### Cause:
The following clause seem to reset the previous relaxation step, thus no more than one step is effectively performed:
https://github.com/scipy/scipy/blob/9a657fb04b90c6efc4a8115ab2c1a360ea380f45/scipy/sparse/csgraph/_shortest_path.pyx#L1359-L1363

This reads to a false negative cy

[2021-11-05 03:05] tylerjereddy commented on #14567
Following the upstream NumPy release and multibuild improvements, I've made some updates to attempt the `3.10` backport process again in the wheels repo: https://github.com/MacPython/scipy-wheels/pull/135#issuecomment-961591589

[2021-11-05 09:10] tupui commented on #14971
As I said, wheels are not on pip yet. For building from source, seems like you don't have a fortran compiler ` error: library mach has Fortran sources but no Fortran compiler found`

Make sure you are following our guides 😃 http://scipy.github.io/devdocs/dev/contributor/contributor_toc.html#development-environment

[2021-11-05 11:00] dayyass opened #14982 "ENH: add converter from adjacency list to csgraph (csr_matrix) and vice versa"
### Is your feature request related to a problem? Please describe.

[Adjacency list](https://en.wikipedia.org/wiki/Adjacency_list) is one of the most efficient graph representation, so it would be convenient if `scipy.sparse.csgraph` could works with it.
It much more efficient than convert `csgraph` from dense matrix.

### Describe the solution you'd like.

**csgraph_from_adjacency_list**:
[code]

[2021-11-05 13:47] mdhaber commented on #14455
Ok, we can reconsider those.
BTW the current plan is to work on adding the HiGHS MIP solver in December.

[2021-11-05 16:20] liviofetahu opened #14984 "BUG: scipy.sparse.linalg.spsolve: runtime memory error caused from overflowing signed 32-bit int input to doubleCalloc"
### Describe your issue.

When one tries to solve a sparse linear system **AX = B** where A is of type `scipy.sparse.csc.csc_matrix` of size 46679 x 46679 and B is of type `numpy.ndarray` of size 46679 x 46680 (both matrices containing doubles) using the `scipy.sparse.linalg.spsolve` function, a runtime memory error occurs. This solver was run on a 64GB RAM Mac machine with the Big Sur OS and 2 TB

[2021-11-05 16:22] tylerjereddy opened #14985 "TST, BUG (?): windows failure for integrate/tests/test__quad_vec.py::test_quad_vec_pool"
This failure/permissions error is showing up in the wheels repo for a subset of Windows matrix entries, including backports for 1.7.2 and for `master`.

I'll put the traceback below, and links to sample PRs:
https://github.com/MacPython/scipy-wheels/pull/135
https://github.com/MacPython/scipy-wheels/pull/138

Can we put a skip marker on this test for Windows temporarily, at least on the maintenanc

[2021-11-05 18:06] rgommers commented on #14985
Looks familiar, duplicate of gh-14797 and occurred before in gh-11835. I'll have a closer look.

[2021-11-05 18:07] rgommers commented on #14797
Closing as duplicate of gh-14797.

[2021-11-05 18:07] #14797 closed

[2021-11-05 18:13] TylerADavis commented on #13102
I believe that newer versions of NumPy have reintroduced support for accelerate on Mac (see https://github.com/numpy/numpy/pull/18874). Would updating the version of NumPy that scipy depends on at build time help to resolve this issue?

[2021-11-05 18:15] rgommers commented on #14985
Yes, please do - something is wrong here, but it shouldn't be blocking for adding the Python 3.10 support.

[2021-11-05 18:26] rgommers commented on #14985
It's only happening on Python 3.8 builds on Appveyor. Reading the discussion on gh-11835, the solution was `import multiprocessing` within `runtests.py` (long story, has to do with a Python 3.8 bug, plus how `multiprocessing` gets initialized, plus whether it runs in a subprocess).

This seems to be something similar, because this is the only Windows build where we use yet another script to kick o

[2021-11-05 18:28] rgommers commented on #14985
@tylerjereddy you could try to add `import multiprocessing` to `run_scipy_tests.py` and see if that fixes it. If not, then I'd say just skip it and only worry about it again if it's reported for a more normal way of running the tests.

[2021-11-05 18:29] rgommers commented on #13102
No, we cannot use Accelerate in SciPy, and the NumPy wheels don't use Accelerate (all wheels ship with OpenBLAS). So there's nothing that changed with the reintroduction of Accelerate besides from-source builds.

[2021-11-05 18:40] tylerjereddy commented on #14985
@rgommers thanks, I've tried that first--the import has been pushed into the wheels backport: https://github.com/MacPython/scipy-wheels/pull/135

[2021-11-05 22:17] tylerjereddy commented on #14567
An attempt to build the official wheels for SciPy `1.7.2` is now underway. (MacOS will be 3.10 x86_64 thin-only for this set of wheels; other platforms that we usually support will be 64-bit only for 3.10).

[2021-11-06 07:38] #14875 closed

[2021-11-06 08:01] tirthasheshpatel commented on #14830
I am starting to shift all the methods to a new subsubmodule. I was thinking of naming it `sampling` so these methods can be imported from `scipy.stats.sampling`. @rgommers Does that sound good?

[2021-11-06 09:14] sandeep-gh commented on #14971
Started all over again with some progress. Installed gcc/gfortran and other python dependencies. The compile command:
[code]
The compile fails with error message:
[code]

The above error has been reported for numpy [here](https://github.com/numpy/numpy/issues/19437). For numpy the solution seems to be add
[code]
. The NPY_OS_BSD is provided at
[code]
Not sure what the corresponding workaround is f

[2021-11-06 09:26] msarrias commented on #13102
Hi, did you manage to fix it? I'm having the same problem.

[2021-11-06 10:05] tupui commented on #14830
On one hand this seems like a good idea to make this submodule, but then we could argue that QMC could be part of it since it's also about sampling.

On the other hand, do we want users to have a submodule for that? I thought maybe this would be integrated in the distribution API. Although both things are not incompatible.

Before doing anything, what would you said about discussing the future of

[2021-11-06 11:02] tupui commented on #14971
Please have a look at our guides. You're not supposed to do `python setup.py install`.

[2021-11-06 11:28] tupui commented on #14567
Thanks @tylerjereddy 🙏 Great to see this release!

[2021-11-06 11:36] hroncok commented on #14567
Thank you!

[2021-11-06 12:55] rgommers commented on #14567
https://pypi.org/project/scipy/1.7.2/#files has an almost complete set of Python 3.10 wheels, all that's left is 32-bit Windows. NumPy also doesn't have 32-bit Windows wheels for 3.10, so nothing can be done until those materialize.

- There already are 32-bit manylinux wheels; we're just dropping those for 1.8.x and onwards.
- Maybe I'm misremembering, but isn't this a temporary situation for `wi

[2021-11-06 14:40] charris commented on #14567
Azure doesn't support it, evidently Microsoft want to move away from 32 bits for windows starting next spring (vs2022). We could probably push to add it, or use another platform to build the wheels, but I'm happy to go along with Microsoft here. It was a considered opinion on their part and there wasn't any push back.

[2021-11-06 14:51] rgommers commented on #14567
Oh okay, I am misremembering then, thanks Chuck. Then we should be all good here; support for macOS arm64 is another issue. So closing this.

[2021-11-06 14:51] #14567 closed

[2021-11-06 14:53] rgommers commented on #14335
1.7.2 was released with an updated minimum Pythran version, so this has been solved. Thanks everyone!

[2021-11-06 14:53] #14335 closed

[2021-11-06 14:57] rgommers commented on #14738
This is done now. I'll close this issue, and will open a separate one for the related topic of preventing older SciPy versions being found for new Python versions.

[2021-11-06 14:57] #14738 closed

[2021-11-06 15:14] rgommers opened #14986 "Prevent new Python versions from trying to install older releases from sdists"
This is a follow up to https://github.com/scipy/scipy/issues/14738#issuecomment-934199718. The issue is that for older SciPy versions, we use `python_requires>=3.xx` and there is no `<3.yy`. For newer release (starting from 1.7.0) we do this more correctly, like `python_requires='>=3.7,<3.11'`. The effect of this is that a 1.7.x release is only found for supported Python versions, but 1.6.x will b

[2021-11-06 15:17] rgommers commented on #638
Linked issues are solved, ranksums has received multiple updates and now has nan-policy support and namedtuple return value. Closing.

[2021-11-06 15:17] #638 closed

[2021-11-06 15:20] rgommers commented on #629
Agreed, can be closed. Linked issues above are closed.

[2021-11-06 15:20] #629 closed

[2021-11-06 15:33] rgommers commented on #13102
This is all fixed in `pip`. Let's document the solutions, there are two:

1. Upgrade to most recent version of `pip` (preferred).
2. For older versions of `pip`, the problem can be worked around by `export SYSTEM_VERSION_COMPAT=1`.

This issue was for macOS Big Sur on _Intel_ hardware. There are separate issues for `arm64` (M1) hardware. I'll close this issue.

[2021-11-06 15:33] #13102 closed

[2021-11-06 15:34] rgommers commented on #14826
`1.7.2` is released, closing.

[2021-11-06 15:34] #14826 closed

[2021-11-06 15:42] rgommers commented on #14971
Raspberry Pi is not `aarch64`, it's 32-bit armv7.

https://www.piwheels.org/ provides SciPy wheels, please use that if you can @sandeep-gh.

https://github.com/numpy/numpy/issues/19437 is indeed the problem here. To work around it when building from source (again, only do that if you cannot use https://www.piwheels.org/ wheels), use the same workaround as mentioned for NumPy in that issue. Apply i

[2021-11-06 16:08] rgommers commented on #14830
`sampling` doesn't seem unreasonable. `random_sampling` could work too, to be more explicit. It'd be good to ping on the mailing list to get enough input.

That was my initial feedback in this issue, but after the discussion I think @tirthasheshpatel and @chrisb83 made convincing arguments for why it does not fit into the `stats` distributions.

See gh-14600 for the current plan for UNU.RAN based

[2021-11-06 16:14] rgommers commented on #13776
As I said above, there are two separate issues. `llvm-ar` is one of them. The other one can be fixed by disabling a `-Werror` flag, says https://github.com/scipy/scipy/issues/13776#issuecomment-913426017.

That compiler toolchain does get shipped. An issue here is that the OP isn't actually using that toolchain, but is using a different compiler toolchain (C/C++ compilers from the system, and Gfor

[2021-11-06 16:27] derb12 opened #14987 "ENH: The knot interval lookup for BSpline.design_matrix is inefficient"
### Is your feature request related to a problem? Please describe.

The `_make_design_matrix` function in scipy.interpolate._bspl.pyx uses https://github.com/scipy/scipy/blob/ebfac22a32c79c7b44a6ecc7d5e4844f60449818/scipy/interpolate/_bspl.pyx#L451-L452
where t are the knots and k is the spline degree, to find the index `ind` where t[ind] <= x[i] < t[ind + 1]. The issue is that the previous knot i

[2021-11-06 16:33] ev-br commented on #14987
PR welcome, I'd say.
(Index variables should be intp)

[2021-11-06 19:59] rgommers opened #14991 "four CI failures on pre-release job"
Observed on the pre-release CI job in the `1.7.x` branch ([CI log](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=14740&view=logs&j=9cb18180-add1-582e-7886-3faf914ed2d6&t=99cdde51-ae30-5ee2-ea06-bcb259c37a54)). All of these seem minor issues that require a small test precision bump. I'll open a PR to fix this.
[code]

[2021-11-06 20:07] rgommers commented on #14991
Test precisions were already bumped in commit acf966fd6e, that commit was just missing from the `1.7.x` branch. Included in gh-14990 now.

[2021-11-06 20:07] #14991 closed

[2021-11-06 20:56] tupui commented on #14830
My understanding was that the functionalities would be useful for experts so it might be interesting to make them public. But this could also be part of the distributions. I will have another read 😅

Yes I am more talking in general for `scipy.stats`.

[2021-11-06 21:50] #14987 closed

[2021-11-07 17:04] lady-pandas opened #14994 "BUG: Levy stable"
### Describe your issue.

Behaviour of generated levy-stable distribution is not compliant with expected one (https://en.wikipedia.org/wiki/Stable_distribution)

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.5.2 1.21.0 sys.version_info(major=3, minor=7, micro=9, releaselevel='final', serial=0)

[2021-11-07 17:28] Yash621 commented on #11452
Hello Sir @mdhaber , can you guide me on this? I would like to work on this issue

[2021-11-07 17:47] dayyass opened #14995 "ENH: add Euclidean Minimum Spanning Tree"
### Is your feature request related to a problem? Please describe.

[**Euclidean Minimum Spanning Tree**](https://en.wikipedia.org/wiki/Euclidean_minimum_spanning_tree) (**EMST**) is a minimum spanning tree of a set of *n* points in the plane or higher-dimensional Euclidean space (the weight of an edge between any pair of points is the Euclidean distance between two points).

This problem can be s

[2021-11-07 19:18] chrisb83 commented on #14830
We thought `sampling` might be enough since `stats` should already imply "random" :) Let's ask on the mailing list @tirthasheshpatel could you take care of that?

Note that for now, we just plan to add `SimpleRatioUniforms` on top of the functionality we already implemented. Then we should have good coverage of different methods to create generators for most univariate / discrete distributions. We

[2021-11-07 21:05] boxf opened #14997 "BUG: Deconvolve method does not work with signals with more than 1-D"
### Describe your issue.

I have an analogically filtered image and I would like to deconvolute it with the deconvolve method in scipy using a signal.butter filter that simulates my filter. So the image (the signal parameter) is not a 1-D array but a 2-D array and when passed as a parameter to the deconvolve method I get the underneath error. In the documentation, it is not written that the method

[2021-11-07 23:37] thomasjpfan opened #14998 "SciPy on Python 3.10 Windows does not include msvcp140.dll"
When downloading the wheels from https://pypi.org/project/scipy/#files, `scipy-1.7.2-cp310-cp310-win_amd64.whl` does not include `.libs/msvcp140.dll`, while `scipy-1.7.2-cp39-cp39-win_amd64.whl` does include `msvcp140.dll`.

When looking at the build logs for [Windows Python 3.9](https://ci.appveyor.com/project/scipy/scipy-wheels/build/job/bjie6pkv2xm926op), we see the line that shows `msvcp140.dl

[2021-11-08 01:31] grlee77 opened #14999 "add QhullError to the public API for scipy.spatial?"
A recent PR to scikit-image (not yet merged) involves use of `QhullError` as imported from `scipy.spatial.qhull`, but it looks like this is not public API (reference discussion at https://github.com/scikit-image/scikit-image/pull/6008/files#r744350997). My question is whether this attribute should be public? The use case is to check for this error type and return a sensible result when a convex hu

[2021-11-08 01:53] sandeep-gh commented on #14971
@tupui :  In the guide, in  "Development environment quickstart guide using pip on Ubuntu Linux"of the development guide, the last paragraph "Buidling Scipy"  mentioned that `python setup.py build` can be used as well.
Another reason for using setup.py was that the `pip install .` fails early on the compile process
It seems  `pip install .` is unable to find the install numpy (see attached error).

[2021-11-08 02:08] sandeep-gh commented on #14971
@rgommers I can't use piwheels because I am on openBSD. The  "--no-build-isolation` works.  Thanks for that.
I guess even though the compiler is report ``fatal error: threads.h : No such file or directory` from scipy/integrate/_vodemodule.c, its probably coming from numpy. Will the numpy patch next.

[2021-11-08 02:58] tylerjereddy commented on #14999
Not sure what Ralf thinks, but most of the work under the hood is done by Qhull so at first glance it doesn't seem like a bad idea to make the error object public/"official."

Handling degenerate conditions/lack of general position can also be a pain for many of the diagrams so if we can leave that to Qhull as much as possible that might be a win (and folks would presumably want to be able to catc

[2021-11-08 06:31] tirthasheshpatel commented on #14999
When I integrated the UNU.RAN library, I made a decision to make the error object public for the same reason @grlee77 mentioned. Not sure if it applies to Qhull but generally having the error object public also improves the readability of the user code (e.g. in a try...except block, instead of `except RuntimeError`, we could have `except QhullError` which is much more informative).

[2021-11-08 09:00] ogauthe commented on #14977
I cannot reproduce. This looks like a LAPACK bug that is implementation dependent. With the MKL
`Intel(R) Math Kernel Library Version 2020.0.2 Product Build 20200624 for Intel(R) 64 architecture applications`
shipped by cona on an intel x86, I can compute the SVD with both `gesvd` and `gesdd`.

@veronica320  `orth` is just a small overlay upon `svd`. As a workaround, you may reuse its code doing t

[2021-11-08 09:40] tupui commented on #14360
I am personally in favour of this. It's more explicit and I find it easier to find your way back this way.

[2021-11-08 11:19] tupui commented on #14995
Thanks @dayyass for the proposal (and PR). The way I understand this is that it's a different method to get the MST, correct? So for trivial cases it should produce the same solution.

If this is the case: the lower complexity would be a good thing. In terms of implementation, MST is in Cython and we could add a method parameter. Then we would have a factory in the main function pointing to the di

[2021-11-08 11:32] rgommers commented on #14998
Argh, that's a critical issue. Replacing wheels is a pain though, not 100% sure but I think if we do a `.post0` upload we have to re-upload all wheels and not just this one. So may as well do a `1.7.3` soon.

[2021-11-08 11:58] plvoit commented on #10446
Hey everyone,
for me it didn't help to include a starting value in gev.fit(). I'm still getting the same error as fabio. Did anyone gain further insights about how to solve this issue by now?
Thanks,
Paul

[2021-11-08 12:17] ilayn commented on #12838
Just to give some update about this, first my apologies for the ridiculous delays. I have written this function and some internals more than 5 times now and it is getting a bit crazy. After cythonizing and whatnot I ran out of brainz to explain how the middle section of the following plot (with the excellent `perfplot` of @nschloe ) come to be

![image](https://user-images.githubusercontent.com/13

[2021-11-08 13:44] boazmohar commented on #14999
So would it be OK for me to submit a PR based on @grlee77 suggestion?

[2021-11-08 13:50] rgommers commented on #14541
I've looked into this, and the reason is this (from `pyproject.toml`):
[code]

This is what caused the original problem with numpy `1.18.5`: the `aarch64` wheel is built with `1.19.2`, so not usable with older NumPy versions.

The from-source build is fine, I verified the generated Cython code. The second reported problem here is a misunderstanding by the user.

The things that could be done here

[2021-11-08 13:57] rgommers commented on #14999
Seems reasonable to me. Submitting a PR sounds good, thanks @boazmohar.

[2021-11-08 14:23] tirthasheshpatel commented on #14830
Sure, I will write to the mailing list tomorrow.

[2021-11-08 14:42] ds-steventondeur opened #15002 "BUG: Invalid Rotation created for 2d rotations"
### Describe your issue.

I'm experiencing strange results when creating 2D rotations (i.e. 3D rotations but only in the XY-plane). Converting from matrix to rotation and back to matrix gives unexpected results.

The error seems to be at the creation side of the `Rotation` object as also other conversion (back to quaternion, ..) produces wrong results.

I'm working in an enviornment that also uses

[2021-11-08 15:07] tylerjereddy commented on #14998
alright

[2021-11-08 15:15] thomasjpfan commented on #14998
According to to [this blog post](https://snarky.ca/what-to-do-when-you-botch-a-release-on-pypi/) by Bret Cannon, there is a [build number](https://packaging.python.org/specifications/binary-distribution-format/#file-name-convention) that can be incremented:

[2021-11-08 15:29] rgommers commented on #14998
Ah yes, good point. We've never done that so it's possible this is not yet well-supported by all commonly used installers, but it's worth a try.

[2021-11-08 15:56] #14953 closed

[2021-11-08 16:39] #14977 closed

[2021-11-08 17:11] tylerjereddy commented on #14998
Reopening b/c not fixed just yet. The wheel builds on the `v1.7.x` branch of the wheels repo are now underway. IIUC correctly, we may only really need to wait for the Windows Python 3.10 wheel build to finish before downloading it, changing its name, and then uploading it, assuming we are "ok" with not officially reporting hashes to the community and so on (I could do that informally outside the n

[2021-11-08 17:20] WarrenWeckesser commented on #15002
`a` is not a [rotation matrix](https://en.wikipedia.org/wiki/Rotation_matrix); it is a reflection.  Perhaps you have the signs wrong. With, for example,
[code]

your code works as expected.

[2021-11-08 17:25] rgommers commented on #14998
That should be fine. Hashes aren't really used, just recording the new hash on this issue should be good enough

Agreed, let's delete the broken wheel once the new one is added.

I believe it should be `scipy-1.7.2-1-cp310-cp310-win_amd64.whl` (change is the `-1` in `1.7.2-1`).

[2021-11-08 17:26] #15002 closed

[2021-11-08 18:44] #14999 closed

[2021-11-08 20:54] tylerjereddy commented on #14998
@thomasjpfan @rgommers Ok, the upload to PyPI and replacement in GitHub release page assets has been completed. It will be interesting to see if this works automatically for `pip` in CI and so on.

Before uploading I checked that `scipy/.libs/msvcp140.dll` was present in the new unzipped wheel, but not in the previous iteration.

Local hash checks via `openssl` on mac (the algos are meant to refle

[2021-11-08 21:02] rgommers commented on #14998
Great, thanks @tylerjereddy!

[2021-11-08 21:02] #14998 closed

[2021-11-08 22:12] thomasjpfan commented on #14998
I can verify that that the `pip` picks up the correct version. I had a [CI build](https://github.com/thomasjpfan/scipy-windows-test/runs/4145157378?check_suite_focus=true) a Windows docker image:

[code]

And ran:

[code]

The import previously failed and now passes. Thank you everyone for the quick fix!

[2021-11-09 00:30] kcharlie2 opened #15006 "ENH: Avoid unnecessary function evaluations if guess is already in tolerance (scipy.optimize.newton)"
### Is your feature request related to a problem? Please describe.

If the initial guess `x0` in `scipy.newton.optimize` results in an answer within tolerance, execution still continues, resulting in additional function calls.

The example below result in 3 function calls.

[code]

### Describe the solution you'd like.

The initial guess could be checked for convergence before additional function

[2021-11-09 03:54] Kai-Striega commented on #14600
With ``DiscreteGuideTable`` merged I could, if it's reasonably similar, start working on ``SimpleRatioUniforms``.

[2021-11-09 07:41] ds-steventondeur commented on #15002
-sigh- that was a stupid mistake. Thanks for showing me the light!

[2021-11-09 14:11] nschloe commented on #14028
I can confirm that @zhaog6's PR fixes the issue in the correct manner.

[2021-11-09 14:15] tupui commented on #14028
@nschloe would you consider making a review directly on @zhaog6's PR? We lack reviewers' time in some area and could use some help 😃

[2021-11-09 15:09] davidhariri commented on #13409
I was able to get `scipy 1.7.2` to install in python `3.9.7` using this command:
[code]

[2021-11-09 16:27] rgommers commented on #13409
@davidhariri could you run `python -c "import scipy; scipy.test()"` and tell us if that succeeded without crashes? It's still a little unclear to me if the open issues happen on all M1 machines, or a (potentially small) subset. We can release official wheels if it's fine for a (large) majority of people, but not if there are crashes for all users.

[2021-11-09 19:18] davidhariri commented on #13409
@rgommers full output below the fold
<details>
    <summary>3 failed, 32069 passed, 2583 skipped</summary>
[code]
</details>

[2021-11-09 19:29] rgommers commented on #13409
Thanks @davidhariri! That looks really good. To complete the picture, can you confirm your exact macOS version and the compilers you used?

[2021-11-09 20:32] tupui commented on #15006
Hi @kcharlie2, thanks for the proposal.

I would argue that you should not call an optimize function in your code if you already have a satisfactory solution. In the end calling these optimizers generate quite some overhead over a simple comparison like that since they are doing more things. Let see what others think.

[2021-11-09 22:39] andyfaff commented on #15006
The condition for convergence *isn't* when `func(x)` is close to zero (`np.isclose(func(x), 0, atol=tol, rtol=rtol)`). Rather the condition for convergence is when `x` generated by successive iterations are within a tolerance: [`np.isclose(p, p0, rtol=rtol, atol=tol)`](https://github.com/scipy/scipy/blob/d7fa27f0c4a33b6e4f7bafec6605961428ca6523/scipy/optimize/_zeros_py.py#L357). Therefore I think

[2021-11-09 22:39] #15006 closed

[2021-11-09 23:58] sampan501 opened #15009 "BUG: scipy.stats.multiscale_graphcorr p-values are computed differently from literature and other packages"
### Describe your issue.

This bug is as described as here: https://github.com/neurodata/hyppo/issues/124. The issue is reproduced here:

p-values do not appear to be computed correctly. Literature review/review of similar independence testing code seems to suggest most people use the approach suggested in Phipson et al., 2011 described in 6.2 to always include the given ordering as a permutation.

[2021-11-10 07:09] #5511 closed

[2021-11-10 08:19] tupui commented on #15009
Hi @sampan501, thanks for the report. Did you write this R code? Please remove anything that might be GPL otherwise it will be a problem if latter we say there is something to fix.

[2021-11-10 08:48] tupui commented on #14994
Hi @lady-pandas. I does work as expected. After some tests, I can see that the plots can be confusing because of some outliers. So just set the limits for your plots. Have a look at the following:

[code]

![0 5](https://user-images.githubusercontent.com/23188539/141080343-1472f701-d532-457d-a3ee-70e0bc4030a1.png)

[2021-11-10 12:19] sampan501 commented on #15009
I think that @ebridge2 might know more about that specific R code since he wrote the original issue in `hyppo`.

I'm not sure if this is relevant, but the specific fix that I mentioned was lifted straight from here: https://github.com/neurodata/hyppo/blob/e69fe12b68fde7a86c06e18912728821db4b4362/hyppo/tools/common.py#L464. This is a package I maintain and where I had originally written the source

[2021-11-10 12:23] jecampagne opened #15012 "ENH: `linalg.cholesky`: document that user is responsible for symmetry check"
### Is your feature request related to a problem? Please describe.

Here a snippet that shows the behaviour of `scipy.linalg.cholesky` which is a bit strange to my point of view

[code]

Performing a Cholesky decomposition
[code]
return a  matrix wo any complaining.

But, the matrix eigen decomposition clearly shows that the matrix is not positive definite, namely
[code]
gives
[code]
showing negat

[2021-11-10 12:28] ilayn commented on #15012
Just by eye-balling, I think your matrix is not symmetric.

[2021-11-10 12:31] ilayn commented on #15012
With the new version 1.8 of SciPy, efficient `ishermitian` and `issymmetric` functions will be public, and the long term goal is to handle these issues more structurally. However note that using symmetricity exploiting functions necessitate that we only consider one triangular part of the array and it actually saves hence this leaves the burden of data source control on the user.

[2021-11-10 13:07] jecampagne commented on #15012
You may be right concerning the symmetric character of the matrix but as I have suggested, this matrix is an intermediate result of a statistical library. So as end-user of this machinery, it is a behavior of a convergence of a loss in a SVI algorithm that I have suspected something strange and I've found  this suspicious matrix.
So, I have no entry to check this matrix during the process.

May be

[2021-11-10 13:17] #14390 closed

[2021-11-10 13:19] #14704 closed

[2021-11-10 13:37] ilayn commented on #15012
What I mean is that `lower` or `upper` is not something we can understand at the outset. The user has to provide the lower or upper triangle that the function should consider.

The suspicion should be discussed with the originator of the data or if there is a particular reason the third party software should provide the correct part. We don't have any ways to detect the intention.

If we swap the

[2021-11-10 14:04] sergei3000 opened #15015 "BUG: Container build started failing since scipy 1.7.2"
### Describe your issue.

For one of my services running in K8s I have my base image with `Debian GNU/Linux 10 (buster)` and `Python 3.7.5` installed into this image. On top of that, at every push to repo, my CI/CD pipeline builds another image with different Python packages including `scipy`. Everything had worked fine until I pushed new code today which apparently triggered installing `scipy==1.

[2021-11-10 14:08] kaathaarinaa opened #15016 "BUG: linalg.schur: sorting by imaginary part does not work for real Schur form"
### Describe your issue.

For a 3x3 matrix A I want to find its **sorted real** Schur form T  ((quasi-)upper-triangular matrix) and the corresponding unitary Schur transformation matrix Z. I want the sorting to be done according to a rule defined in the callable kwarg sort such that the complex conjugate eigenvalue pair (if existent) will be placed at the top left of the Schur form. Therefore I us

[2021-11-10 15:19] tupui commented on #15015
Hi @sergei3000, thanks for the report. We would need more information to help you. Can you provide a minimal Dockerfile to reproduce the issue?

The following is properly installing SciPy 1.7.2 wheel.
[code]

[2021-11-10 16:07] nschloe opened #15017 "BUG: lsqr, lsmr: different xnorm"
### Describe your issue.

Both [lsqr](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lsqr.html) and [lsmr](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lsmr.html) solve large least-squares problems. For well-behaved systems, they both give the same solution. They also return `xnorm`, the norm of the current iterate `x`. In both LSQR and LSMR, t

[2021-11-10 16:19] lady-pandas commented on #14994
I have to disagree, of course I narrowed down the domain :)

Here is how the output of scipy.stats looks like:
![image](https://user-images.githubusercontent.com/52793237/141151066-6d4e1988-5ab3-4a91-a371-19b7b257b4f8.png)

And here is how it should look like:
![image](https://user-images.githubusercontent.com/52793237/141151133-e857d0ca-095b-452e-b727-ed847ea8b32c.png)

Best,
Marta

[2021-11-10 16:26] tupui commented on #14994
Can you try with the latest version? I see in the bug tracker that we closed some issues about some values of alpha (in the version 1.7). Might be related to this.

FYI, tests for this distribution are here https://github.com/scipy/scipy/blob/f1c6b54f51dfc8c3e83d826867a68026f20b243b/scipy/stats/tests/test_distributions.py#L3041

[2021-11-10 16:36] tupui commented on #14994
Oh I see now, it's with `alpha < 1` that there is something. Sorry I missed this at first glance. I will reopen this and investigate.

[2021-11-10 17:55] tupui commented on #14994
Actually there is some work in the way which I believe would fix this gh-9523. There are explicit references to `alpha=0.5`

[2021-11-10 18:26] #11700 closed

[2021-11-10 18:26] #12100 closed

[2021-11-10 18:39] smolyi commented on #12785
I get the same error
TypeError: '<=' not supported between instances of 'int' and '_SumLinearOperator'
please fix this

[2021-11-10 20:49] andyfaff commented on #15015
scipy is failing to build here because:

- pip is trying to build scipy from source
- you don't have any BLAS libraries installed

It's easy to fix the latter on Debian, you just need to install the system linear algebra libraries. On Ubuntu these packages would be `libatlas-base-dev liblapack-dev`.

It seems that pip3 is trying to install from source because it can't find an appropriate wheel, th

[2021-11-10 20:49] #15015 closed

[2021-11-10 22:48] #11258 closed

[2021-11-11 07:15] nschloe commented on #14028
Done.

[2021-11-11 07:27] tupui commented on #15015
It's still a bit surprising that it worked with 1.7.1. It would be good to have a confirmation here.

[2021-11-11 07:50] andyfaff commented on #15015
With an upgraded pip I can install 1.7.1 or 1.7.2 wheels into an apt-get installed Python3.7.3 on debian:buster.

[2021-11-11 07:54] tupui commented on #15015
Yes but until @sergei3000 details its Dockerfile, we can only guess what happened. Why was it working with 1.7.1 and not 1.7.2?

[2021-11-11 07:57] andyfaff commented on #15015
Given that I can install wheels with an updated pip version, but I can't with apt-get installed python3-pip, I'd be ascribing it to some interaction of pip with some property of the wheels.
All OP has to do is install a newer pip. I don't think it's a scipy issue here.

[2021-11-11 08:04] sergei3000 commented on #15015
Hi guys,
Sorry I'm still not answering your initial question,  @tupui .
I don't have immediate access to the base image's repo where all OS and Python stuff get installed. I requested access to it. Should get it today or tomorrow probably.
Yeah, it's weird that this BLAS problem is appearing with the introduction of `1.7.2`.
Will try upgrading pip though. Thanks for the advice, @andyfaff .

[2021-11-11 08:07] tupui commented on #15015
Not saying it's necessarily a SciPy issue, but it might be an interaction with an important dependency.

[2021-11-11 08:56] sergei3000 commented on #15015
So I got access to the base image's repo, and it's actually a rather evolved chain of images. I don't think you want to bother yourself with looking into all those Dockerfiles.
I tried upgrading pip in my project's Dockerfile and that did really work. I don't have to pin `scipy` to `1.7.1` anymore. So this may remain closed.
Thanks a lot for your support, guys!

[2021-11-11 09:35] #14623 closed

[2021-11-11 09:44] klim- opened #15021 "scipy.linalg.qr with pivoting=True should return P as (N,N) permutation array instead of (N,) array"
I am a bit surprised why `scipy.linalg.qr` with `pivoting=True` returns `P` as an array of shape (N,) instead of a proper two dimensional array of shape (N,N) just like `scipy.linalg.lu` does. This way I could quickly test if `A = P.T@Q@R` just like I can test `A=P@L@U`. Is there any reason for this inconsistency?

[2021-11-11 09:49] ilayn commented on #15021
Probably historical. But as shown in the examples you can still do `np.allclose(A[:, P], (q @ r))`.

[2021-11-11 09:55] klim- commented on #15021
Thank you for the quick feedback. This is exactly what I am doing, but what if I needed P for further matrix computations?

[2021-11-11 09:59] #14713 closed

[2021-11-11 10:26] ilayn commented on #15021
You can use it on an identity matrix to shuffle the columns or rows depending on which side you want it

[2021-11-11 10:32] ilayn commented on #15021
You can use it on an identity matrix to shuffle the columns or rows depending on which side you want it

[2021-11-11 11:54] klim- commented on #15021
The issue was more about consistency, but thank you anyway.

[2021-11-11 12:08] ilayn commented on #15021
I'd argue in this case that LU is the odd one since it is a waste of n**2 array just to provide sorting keys. I see how this can be unintuitive when you have plenty of memory but nevertheless having an array of n instead of n**2 is efficiency wise should be prefferred. I agree nevertheless we have a historical inconsistency across linalg functions.

[2021-11-11 13:56] #8774 closed

[2021-11-11 17:35] melissawm commented on #1532
Is this issue still relevant? For context, with scipy 1.8.0-dev `sl.qr(a)` results in
[code]
and `sl.svd(a)` results in
[code]
which are messages straight from LAPACK.

[2021-11-11 18:03] sampan501 commented on #15009
@tupui I removed the GPL code. I think that the bug still stands as mentioned in Phipson et al., 2011

[2021-11-11 18:16] melissawm commented on #12019
@keithbriggs it looks like you did this on your own fork instead of submitting a PR to SciPy, are you still interested in submitting a PR?

[2021-11-11 19:35] keithbriggs commented on #12019
Yes, I thought I had done that. If not could you please advise the procedure?

[2021-11-11 19:57] melissawm commented on #12019
You can:
- Clone the current repo for scipy, or update your own;
- [Set up your remotes](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-for-a-fork) (usually, we use `origin` for your own fork and `upstream` for the scipy main repo)
- Create a feature branch with `git checkout -b branch_name`
- Do your changes
- Push them to your ow

[2021-11-11 21:17] Davidcohen2 opened #15024 "LinAlgError: SVD did not converge with default lapack_driver"
### Describe your issue.

Hi all,

The SVD did not converge for matrix using scipy. linalg. svd.
I have checked the matrix and there aren't nans or infs

I found out that when using the non-default lapack_driver the problem is disappeared

To reproduce this error please download the following matrix
[matrix.zip](https://github.com/scipy/scipy/files/7523302/matrix.zip)

### Reproducing Code Example

[2021-11-11 23:00] tylerjereddy commented on #15024
The title mentions `numpy.linalg`--is that a typo or did you try the NumPy equivalent as well? Does this happen with the latest SciPy (`1.7.2`)?

Not sure if folks might be a little nervous to download/execute a random `zip`--maybe it is ok.

[2021-11-12 03:42] Davidcohen2 commented on #15024
The same problem is with NumPy 1.20.3

I have upgraded now my scipy  and numpy according to the following to  scipy=1.7.2  and numpy=1.21.4
Now the problem is completely gone -thank you.

I have tried to upload the pckl file but it's not supported - do you have a suggestion for the next time?

[2021-11-12 04:11] andyfaff commented on #12111
Closing because I think the following is True:

Note that some of the examples had `res.success=False` because of hitting the maxfun limit. If this is happening it's not a True demonstration of the issue; set maxfun higher and repeat.

Furthermore, there is an issue when using TNC with a callback function, the callback mechanism in the TNC code was mutating the output. This is being fixed in #1488

[2021-11-12 04:11] #12111 closed

[2021-11-12 04:33] andyfaff commented on #14046
@MarcYin, is there a reason why you can't use L-BFGS-B directly?

[2021-11-12 04:35] CiaoHe opened #15025 "Might be j<=i+k?"
https://github.com/scipy/scipy/blob/47bb6febaa10658c72962b9615d5d5aa2513fa3a/scipy/linalg/special_matrices.py#L24

[2021-11-12 04:38] andyfaff commented on #13568
I agree with @ilayn here. allclose with tight tolerances should be sufficient.

[2021-11-12 04:38] #13568 closed

[2021-11-12 04:56] andyfaff commented on #13524
#15019 makes clear what is required for the hess keyword for each of the methods. This documentation has historically been cloudy due to the many methods supported.

Note that for 'trust-ncg' one has to use a `callable(jac)`, the method doesn't want to estimate both `jac` and `hess` by finite differences. This is why that error is raised. Note that the minimize documentation for jac says:

and tha

[2021-11-12 04:56] #13524 closed

[2021-11-12 05:10] andyfaff commented on #13557
The documentation for the jac keyword says:

In other words '2-point', '3-point', 'cs' are not accepted for the jac keyword, as these cause the gradient to be estimated with finite-differences. This is because the Newton-CG method doesn't want to estimate both the grad and hess with finite-differences.

BFGS is a class that implements a HessianUpdateStrategy. It's not not callable, you need to ins

[2021-11-12 05:10] #13557 closed

[2021-11-12 05:18] andyfaff commented on #12869
I believe this issue should be fixed with #13096, with the fix being available in scipy 1.8.

If I understand correctly the issue arises because of problems estimating the gradient when a lower bound was equal to an upper bound. Changes made to strictly obey bounds during finite difference differentiation caused approx_derivative to start returning grads containing NaN. L-BFGS-B (and a couple of o

[2021-11-12 05:18] #12869 closed

[2021-11-12 05:20] andyfaff commented on #11141
Won't fix, in a private function.

[2021-11-12 05:20] #11141 closed

[2021-11-12 05:26] andyfaff commented on #10740
SLSQP has had various amendments over the last year or so, including:

- clipping solutions to make sure x is within bounds.
- factorising out parameters that have lb==ub.

Given that there's no clear minimal working example I'm going to close the issue. If an MWE is found then please reopen.

[2021-11-12 05:27] andyfaff commented on #9885
Closing, because it seems like a usage question and not necessarily a bug.

[2021-11-12 05:27] #9885 closed

[2021-11-12 05:34] andyfaff commented on #9490
Looks like this is a won't fix.

[2021-11-12 05:34] #9490 closed

[2021-11-12 05:43] #14818 closed

[2021-11-12 05:46] andyfaff commented on #14565
This issue should be fixed by #14882. The TNC c-code mutates x when it does the callback.

[2021-11-12 05:47] andyfaff commented on #14375
Going to close the issue, no further information.

[2021-11-12 05:47] #14375 closed

[2021-11-12 05:51] #13776 closed

[2021-11-12 07:14] andyfaff commented on #12187
It's not possible to use 'dogleg' a a HessianUpdateStrategy, such as `hess=BFGS()`, it can only be used with a `callable(hess)`.

The description of the hess keyword is improved in #15019, at which point this issue can be closed.

Note that BFGS must be instantiated before use.

[2021-11-12 07:24] andyfaff commented on #14946
#11158 is related, as there are some changes in there that might make sense to apply before approx_derivative was made public.

[2021-11-12 08:53] keithbriggs commented on #12019
Thank you very much - I will try this on the weekend.

[2021-11-12 08:54] ev-br commented on #14946
Retrospectively, one issue with `approx_derivative` is that it lumps up computation of derivatives, gradients and jacobians into a single function. This way, it cannot be used e.g. in stats (and elsewhere) for derivatives of scalar functions with broadcasting.
Having said that, no improvement has materialized so far, and `approx_derivative` is definitely useful.

Overall, I'm +1 for making approx_

[2021-11-12 10:17] ogauthe commented on #15024
Hi @Davidcohen2 , the safest way to share arrays is to upload them as a txt on a gist, and load them using `np.loadtxt`.

In your case, this looks like an internal LAPACK issue. It will probably depend on the exact LAPACK distribution you are using (ATLAS, system LAPACK, MKL...) and probably not on numpy/scipy version. In my experience, `gesdd` is much faster but less stable than `gesvd`. I try `g

[2021-11-12 10:27] jonas-eschle commented on #13557
Thanks, that was a typo in the issue (the effect is the same).

Great, many thanks for that (and sorry for not responding earlier, it slipped through my radar)

More generally, would it be possible to keep the issue open _until_ it is resolved? Just to keep the bookkeeping correct (also, it's better to let the OP close the issue because they [can re-open in case it's not resolved](https://github.c

[2021-11-12 10:42] tupui commented on #13557
On closing issues, we don't have strong rules but this is left to maintainers judgement. Issues linked to PRs are in any case closed automatically.

While some project don't like to comment on closed issues and refuse to reply, it's not the case here. You are welcomed to add additional information and we can re-open later if needed 😃

[2021-11-12 10:45] AtsushiSakai commented on #15025
Indeed.

[code]

[2021-11-12 10:52] andyfaff commented on #13557
The original issue was using finite difference keywords with newton-cg, that was never allowed. This was the reason for closing

[2021-11-12 11:05] #15025 closed

[2021-11-12 11:07] tupui commented on #15024
Seems like we can close this.

[2021-11-12 11:07] #15024 closed

[2021-11-12 11:33] allamiro opened #15028 "ENH: Update the documentation to show the algorithm behind scipy.ndimage.measurements.label"
### Is your feature request related to a problem? Please describe.

I cannot find anything on how the "scipy.ndimage.measurements.label" algorithm works or how its implemented

### Describe the solution you'd like.

Could you please explain in the documentation the algorithm or the theory used in  scipy.ndimage.measurements.label ?

### Describe alternatives you've considered.

I have considered l

[2021-11-12 11:43] jonas-eschle commented on #13557
I see, thanks a lot!

[2021-11-12 12:26] AtsushiSakai commented on #15028
Related: #14557

[2021-11-12 14:06] #15028 closed

[2021-11-12 18:33] drew-parsons commented on #14517
We're seeing this error (failure in TestSchur.test_sort) in the Debian build of scipy 1.7.1 for armhf,
https://ci.debian.net/data/autopkgtest/testing/armhf/s/scipy/16604596/log.gz

[2021-11-12 18:39] drew-parsons commented on #9249
Debian CI testing finds this test_id failure also on 32-bit armhf (running scipy 1.7.1)
https://ci.debian.net/data/autopkgtest/testing/armhf/s/scipy/16604596/log.gz
In this case the discrepancy is
[code]
(only the first element seems to be discrepant)

[2021-11-12 20:03] Noxbru opened #15030 "BUG: ks_2samp alternative parameter is inverted"
### Describe your issue.

I am testing two distributions to check if they are equal, less than and greater than. But I am obtaining weird results using the Kolmogorov-Smirnov test. In particular, it seems that the alternative parameter is inverted. That is, it seems to check whether the alternative is true, rather than the null hipothesis.

As can be seen in the code example, I have generated two

[2021-11-12 20:33] josef-pkt commented on #15030
see #13449  #11981 and maybe a few other similar ones

[2021-11-12 20:46] Noxbru commented on #15030
Oh.
I'm sorry, I was absolutely wrong.

If I may say something, would it be possible to maybe change the documentation from:
[code]
to
[code]
?

And also add some examples where the `alternative` parameter is used explicitly? At least for the sake of completeness.

[2021-11-12 20:46] #15030 closed

[2021-11-12 23:06] ilayn commented on #12838
Some more update (mostly for myself 😃 so I remember what I was doing previous weekend) here is the current situation;

![image](https://user-images.githubusercontent.com/1303842/141592899-8a61757f-5c95-471c-a281-a87ed20a6029.png)

Many things are optimized now and finally the performance plots are sufficiently separated. There were two unaccounted issues. One of them was very expensive matrix tran

[2021-11-12 23:27] nschloe commented on #12838
Ubuntu 21.10, Intel i5-8350U, SciPy 1.8.0.dev0+1902.eff1c87:
[code]

[2021-11-12 23:33] ilayn commented on #12838
Thanks Nico is that an MKL (usually the case with conda) or OpenBLAS ?

[2021-11-12 23:37] nschloe commented on #12838
This is on a pip-installed scipy so I'm assuming OpenBLAS.

[2021-11-13 01:05] nevess99 opened #15031 "Still unable to install SciPy"
### Describe your issue.

Hi, I just got the MBA M1 and I am trying to install SciPy, but for some reason I am getting errors which I don't quite understand. Would appreciate any advice on how to move forward. I am running Monterey 12.0.1. I have been able to install most libraries, just scipy has been giving me problems. The whole error message is too long to post, but I can reply with relevant i

[2021-11-13 01:34] ilayn commented on #15031
Hi @nevess99 could you please refer to the duplicate I'm linking as a duplicate? We have been trying M1 install since January and there is some promising results happened over that issue.

[2021-11-13 01:34] ilayn commented on #15031
Duplicate of #13409

[2021-11-13 01:34] #15031 closed

[2021-11-13 01:42] nevess99 commented on #15031
Hey thanks for get back to me. I tried this #13409 solution but it didn't work for me. However, I found another alternative #4376, which is running fine so far. Will still have to test it out intensively on bigger datasets.

[2021-11-13 05:22] rgommers commented on #12838
Note that conda-forge is the best option for benchmarking here, because you can switch out all BLAS implementations without touching your `numpy` package installed in your environment: https://conda-forge.org/docs/maintainer/knowledge_base.html?highlight=blas#switching-blas-implementation

[2021-11-13 07:14] rgommers commented on #9249
Let me just copy the whole failure before it disappears:
[code]

[2021-11-13 08:16] #12187 closed

[2021-11-13 08:16] #12785 closed

[2021-11-13 12:18] h-vetinari commented on #13325
Did not reappear; closing now... :)

[2021-11-13 12:18] #13325 closed

[2021-11-13 14:39] kolibril13 opened #15032 "ENH: 3d examples for filters (e.g. `gaussian_filter`)"
### Is your feature request related to a problem? Please describe.

Right now, there are only 2D examples for Multidimensional  filters, e.g. the Gaussian filter:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.gaussian_filter.html

### Describe the solution you'd like.

Provide also 3D examples.
Toy examples in 3D will help to make the filter parameters easier to understand.
I

[2021-11-13 14:44] turbulentphil opened #15033 "BUG: scipy.fft.dct type I with norm = "ortho" leads to wrong powers in modes"
### Describe your issue.

Applying the type I DCT yields to confusing/wrong results. If norm = "backward", the individual modes k=0pi, 1pi, ... contain the right amount of energy according to the input signal.
However, **using norm = "ortho", the power in the individual modes of the transform does not correspond any more to the original signal** (see code snippet 1). This is a critical bug.

I tra

[2021-11-13 17:11] tupui commented on #15032
Thé images looks great! Would you make a PR? Maybe things like that would be better in the tutorial section.

[2021-11-13 17:38] kolibril13 commented on #15032
That would be possible.
But should  all the code be displayed?
It is about 70 lines in total, but only these 6 lines are actually important to understand the gaussian_filter:
[code]

[2021-11-14 03:16] ilayn commented on #12838
I took Ralf's suggestion and installed conda with MKL. It turns out that I am quite stupid and while under the impression that it was the code's fault for the jumps above, I accidentally optimized way too much 🤦

![image](https://user-images.githubusercontent.com/1303842/141665696-d595242c-b7f0-4374-b486-632f70f9e311.png)
![image](https://user-images.githubusercontent.com/1303842/141666009-abc446e

[2021-11-14 05:18] kclejeune commented on #13409
Just to confirm - would this mean adding universal2 wheels to the 1.7.2 release, cutting a new release for 1.7.3, or waiting until 1.8.0?

[2021-11-14 07:21] simaki opened #15036 "BUG: zeta(1/2, 1) returns nan"
### Describe your issue.

The Hurwitz zeta function at 1/2, 1 is equivalent to Riemann zeta function at 1/2 and so `zeta(1/2, 1) = zeta(1/2) = -1.46...` (See [WolframAlpha](https://www.wolframalpha.com/input/?i=zeta%281%2F2%29)) but [`scipy.special.zeta`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.zeta.html) returns `nan`. This may be expected behavior but if so it would be

[2021-11-14 08:12] rgommers commented on #13409
I think we need a 1.7.3 release for this. Ideally we don't wait for 1.8.0, and we should not add new wheels to 1.7.2 because if we then need to remove them again because of too many users with issues, we cannot yank 1.7.2 without breaking Python 3.10 users.

Thin arm64 and universal2 wheels; thin wheels are preferred.

[2021-11-14 10:20] psobolewskiPhD commented on #13409
Here's M1 MBPro, macOS Monterey 12.0.1
Fresh conda env:
[code]
OpenBLAS from homebrew with the path exported.
Install procedure:
[code]
Test summary:
[code]

Full test output:
<details>

[code]
</details>

[2021-11-14 10:25] psobolewskiPhD commented on #15031
I'm also on M1 Monterey. It looks like you are using the apple python install?
Perhaps try getting set up with a conda env using miniforge3 (or mamba):
https://github.com/conda-forge/miniforge
(make sure it's the MacOS arm64 version)
Then create an env:
`conda create -y -n scipy-test python=3.9`
(You can replace scipy-test with whatever name you want).
Did you install OpenBLAS using homebrew? If s

[2021-11-14 11:00] dayyass commented on #14995
EMST is not a different method to get the MST, but a different MST, where distances between graph nodes (points in Euclidean space) are Euclidean distances between these points. More correctly it is MST for graph of Euclidean distances between nodes.

And for such EMST there is exist more efficient method comparing with straightforward solution (complete graph of distances + MST) using Delaunay tr

[2021-11-14 12:55] tupui commented on #15032
I suggest to have a look at the stats tutorial. You will see that you can use a file to generate plots and you decide if you want the file's sources to appear or not in the tutorial. This way you can show just these 6 lines and the plot.

[2021-11-14 13:04] jond01 commented on #12838
- macOS Monterey (12.0.1) (`macOS-10.16-x86_64-i386-64bit`)
- Processor: 2.3 GHz 8-Core Intel Core i9
- Memory: 32 GB 2667 MHz DDR4

With  `scipy` from `conda-forge` (MKL, python `3.9.5`, `scipy` version `1.7.1`):
[code]

With  `scipy` from `pip` (OpenBLAS, python `3.9.6`, `scipy` version `1.7.2`):
[code]

[2021-11-14 15:54] rgommers commented on #13364
Okay, we've now had enough report of successful builds that I think we can close this. The crash in the initial report seems to be due to using Homebrew compilers that had an issue. That issue could be worked around with `export CFLAGS="-falign-functions=8` and has been fixed quite a while ago.

Thanks for the input everyone!

[2021-11-14 15:54] #13364 closed

[2021-11-14 15:59] rgommers commented on #14541
Thinking about this again, the way to fix this is to add `installed_numpy_version = x.y.z` to `_distributor_init` at wheel build time and use that from the main `__init__.py`. Not too hard to implement, and should be robust.

Moving to the `1.8.0` milestone.

[2021-11-14 16:04] kolibril13 commented on #15032
I guess you mean like this?
https://github.com/scipy/scipy/blame/master/doc/source/tutorial/stats.rst#L975
Sounds reasonable.
But wouldn't people then be confused because they can not find the `plot_voxels` function?

[2021-11-14 16:16] tupui commented on #15032
What we need is to understand how to construct this `voxelarray`, what's its shape, etc. And then we apply `gaussian_filter` and do some plotting. A bit like the 2D example.

[2021-11-14 18:20] kolibril13 commented on #15032
Sounds good!
I can refactor the code a bit and then make a pull request.
@tupui : Would you be willing to make some fine-tuning of the formatting and commit them directly to my soon coming pull request branch, so that my example is embedded nicely in the style of the docs?

[2021-11-14 18:56] tupui commented on #15032
Sure of course! Thanks for making a PR 😃

[2021-11-14 22:03] abhijeet-pandey commented on #4497
Any activity on additing - invfreqs and invfreqz to scipy.signal?

[2021-11-14 22:11] tylerjereddy commented on #4497
@abhijeet-pandey doesn't look like it--I did a search of open PRs for both terms and nothing came up. Plus there's no cross-linked PR above, and `git grep` comes up negative for both terms, so it seems like the situation is still that this would be a welcome PR/addition.

[2021-11-14 22:14] rgommers commented on #14688
I'm trying to look at this again last-minute and figure out whether it's a problem if NumPy `1.22.0` ships the 64-bit `libopenblas`. The NumPy `1.21.4` wheels are up now and have M1 support, so we can test those:

[code]

(saving comment in case my macOS 11.6 crashes)

[2021-11-14 22:31] rgommers commented on #14688
Hmm, that would be non-ideal - but macOS 12.0 is available since 25 Oct 2021, so it does make sense.

The alternative here would be to remove the shipped `libopenblas` from the wheel and somehow reuse the NumPy one. But that's perhaps fragile, and would not work at all if we'd say mix a pip-installed `scipy` with a system/conda-installed `numpy` (not recommended, but that works fine in practice to

[2021-11-14 22:34] rgommers commented on #14688
This is still a concern right? We don't have a `threadpoolctl` dependency for SciPy, so do you think users are really well-served by 12.0 wheels with massive slowdowns when calling linalg functions?

[2021-11-14 22:34] isuruf commented on #14688
If 64-bit indexed openblas wheels are shipped, wouldn't that require scipy to support 64-bit indexed blas operations?

[2021-11-14 22:42] rgommers commented on #14688
Yes, but we can still decide to not do that for NumPy 1.22.0. RC1 is coming out within a couple of days, that's why I was refreshing my memory on this issue. But either way, I don't think it's healthy to try to reuse the openblas bundled with numpy.

We may be able to get away with setting `OPENBLAS_NUM_THREADS=4` in `numpy/__init__.py` and `scipy/__init__.py` as a temporary hack?

[2021-11-14 23:01] rgommers commented on #14688
Or alternatively, we rebuild `arm64` OpenBLAS binaries for max 4 threads?

(build config is at https://github.com/MacPython/openblas-libs/blob/master/.github/workflows/multibuild.yml)

[2021-11-14 23:09] rgommers commented on #14688
Which of course is pessimistic - it's not clear to me if the limit should be set to half the number of cores, the number of performance cores, or if even that won't be reliable. There's a number of CPU variants out already:
- M1 (13"): 4 performance and 4 efficiency cores
- M1 Pro (14"): 6 or 8 performance and 2 efficiency cores
- M1 Pro/Max (16"): 8 performance and 2 efficiency cores

[2021-11-15 00:43] rgommers commented on #14688
Tried an install from source, and this slowdown then happens as well (see https://github.com/scipy/scipy/issues/14688#issuecomment-968373340). Just not the crash when building from source even though there are 2 openblas's; picking up the conda-forge `openblas` is just different enough apparently, or the linking using `@rpath/libopenblas` instead of `@loader_path/../.dylibs/libopenblas` helps, or

[2021-11-15 01:52] LingCoderSonoscape opened #15038 "C++ api"
Hi, I am new to scipy but I feel this project is fantastic after using it.
In  my Python project, I used "**find_peaks**" function as part of my postprocess. However, due to some reasons, I need to transfer my project into C++ code.
I tried to find the C++ API for this function, but I failed. Could you help me with it or maybe providing an alternative way to achieve it?

[2021-11-15 02:13] brsr opened #15039 "BUG: sparse.dok_matrix.fromkeys method totally nonfunctional"
### Describe your issue.

The `fromkeys` method of `sparse.dok_matrix` returns an error. If it is called in the form `scipy.sparse.dok_matrix.fromkeys(keys, values=1)` it throws `TypeError: dok_matrix.fromkeys() takes no keyword arguments`. If called as `scipy.sparse.dok_matrix.fromkeys(keys)` or `scipy.sparse.dok_matrix.fromkeys(keys, 1)`
it throws `TypeError: __init__() missing 1 required positi

[2021-11-15 02:59] rkern commented on #15038
I'm afraid that there is no corresponding C++ API for `find_peaks()`. Conceptually, the function is a relatively straightforward combination of more primitive functions, first finding all of the local peaks, then winnowing down the list based on the conditions specified by the user. These more primitive functions are written in Cython, so they should be relatively easy to translate over to C++ (e.

[2021-11-15 02:59] #15038 closed

[2021-11-15 03:38] sunilshah commented on #14688
@rgommers

Are you restricting your comments to Conda installs?

My experience with Homebrew  install is quite different from yours on Conda.  On my M1 Mac-mini on Mac OS 12.0.1, with pip installed scipy 1.7.2, and numpy 1.21.4, python 3.9.8,  I see little slow down when increasing the number of threads to 8 in the example code posted by @ogrisel  :

[code]

IMHO it is best to not hardwire max thr

[2021-11-15 09:15] rgommers commented on #14688
That's what I have tested so far. Thanks for pointing out that Homebrew is different. I still don't fully understand what is going on under the hood here.

Can you add the output of `otool -L /PATH/TO/scipy/linalg/_fblas.cpython-*-darwin.so`?

I don't think we want the default to be 50x slower because in some circumstances we may get a 30-50% (?) speedup for more threads. The last few cores added

[2021-11-15 10:27] rgommers commented on #14688
Did some timing of the whole test suite:
[code]
gives:
[code]

With `export OPENBLAS_NUM_THREADS=1`:
[code]

With `unset OPENBLAS_NUM_THREADS`:
[code]

Some comments:
- This is with the conda-forge build + numpy 1.21.4 wheel on macOS 11.6. Should be repeated with the SciPy pre-release wheels on macOS 12.0
- need to do this with `pytest-xdist` not installed, to avoid oversubscription issues when ru

[2021-11-15 15:19] perimosocordiae commented on #15039
This is a side-effect of the `dok_matrix` object inheriting from the `dict` builtin:
https://github.com/scipy/scipy/blob/b4b606600faf8c780968e244e11b69f0f3ba00fe/scipy/sparse/_dok.py#L23

Note that `dict.fromkeys` doesn't accept keyword arguments, so that's consistent. The other errors (referring to `arg1`) are related to how the builtin `dict.fromkeys` function calls the `__init__` method of its

[2021-11-15 15:21] perimosocordiae commented on #15039
One way to address this issue might be to override the `fromkeys` classmethod and have it return a NotImplementedError that points users toward the above workaround.

[2021-11-15 17:30] sunilshah commented on #14688
As long as what you do does not change the behavior of  Homebrew / pip installed Scipy,  I personally have no issues.
Making changes to code or install defaults without understanding what is going on seems risky.  In my experience, multi-core performance testing and optimization is nontrivial for scientific computing applications.

[code]

What does this tell you?

I suggest that until you underst

[2021-11-15 18:48] turbulentphil commented on #15033
I get your point that modifying the original input signal might be used by others (matlab) and results in an orthogonal result. The latter argument indeed convinces me that `norm = "ortho"` might be understood differently. Thank you.

Nevertheless, this breaks the connection of the resulting DCT with the original input signal. The result is simply not related any more to the actual input signal, a

[2021-11-15 19:06] rgommers commented on #14688
Yes, still trying to get a better understanding of what the root cause is here.

Yes, no argument there:)

I wanted to see (a) if Homebrew `openblas` has the same version numbers (and it does, all `0`'s) and (b) how it differs from conda's `openblas`. The answer to the latter seems to be that, besides different compilers of course, conda uses `@rpath` for loading while in Homebrew the location is

[2021-11-15 20:26] qbarthelemy commented on #14816
Solved with #14817.

[2021-11-15 20:26] #14816 closed

[2021-11-15 20:29] muelcm opened #15042 "ENH: Is there a way to combine Delaunay objects?"
### Is your feature request related to a problem? Please describe.

I'm trying to combine Delaunay objects without adding additional triangles. Doesn't seem to be possible. What would be nice is a way to add simplices and points to the Delaunay objects and then be able to add points from there and run the add_points algorithm. This need because I have two subobjects that need to be brought togethe

[2021-11-15 20:54] rkern commented on #15042
It sounds like you need a [constrained Delaunay triangulation](https://en.wikipedia.org/wiki/Constrained_Delaunay_triangulation), based on your description. These are obtained by special algorithms and won't be achievable by just allowing one to "combine Delaunay objects" and starting our Delaunay triangulation algorithm from there. In particular, QHull, the library that we use to compute the Dela

[2021-11-15 21:34] roger- opened #15043 "BUG: dimension doesn't change after indexing sparse matrices, unlike numpy arrays"
Invalid: follows `np.matrix` behavior.

[2021-11-15 23:20] ascillitoe opened #15044 "BUG: hypergeom.sf sometimes fails with multidimensional inputs"
### Describe your issue.

In older scipy versions (<1.7.0) `hypergeom` and its methods were able to be vectorized over higher dimensional arrays (e.g. 2D ndarray's). However, some of the methods (e.g. `.sf`)  do not work consistently here in version >=1.7.0. More specifically, `hypergeom.sf` and `hypergeom.logsf` sometimes fail on multdimensional arrays, but `hypergeom.cdf` (which is equivalent to

[2021-11-15 23:55] brsr commented on #15039
Rather than throwing an error, why not define the method `scipy.sparse.dok_matrix.fromkeys(*args, **kwargs)` to be `return scipy.sparse.dok_matrix(dict.fromkeys(*args, **kwargs))` ?

[2021-11-16 00:39] nevess99 commented on #15031
@psobolewskiPhD Thanks.
I used pip install --pre -i https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy and it worked for me.

[2021-11-16 09:46] Abduhu opened #15046 "ENH: Return last population of scipy.optimize.differential_evolution"
### Is your feature request related to a problem? Please describe.

Differential evolution is population based algorithm. However, scipy.optimize.differential_evolution returns result as OptimizeResult which gives only the best elite of the population ignoring the rest of its generation.

How can someone preserve information about the last population?

### Describe the solution you'd like.

`resul

[2021-11-16 10:09] EylonCohen opened #15047 "scipy.optimize.differential_evolution: workers problem"
I'm using the differential evolution algorithm to minimize some cost functions in a gym like env. at every cost evaluation, I'm computing the sum of several env costs. see code below .
the problem is, that if I use for instance workers=-1 I cant sum more the 2 env costs because the code seems to be stuck (it doesn't stop but the solver can't finish any iteration). the weird thing is that if I use

[2021-11-16 10:38] rgommers commented on #13675
No one else complained, and it was fixed in `statsmodels` with its Oct'21 `0.13.0` release. It's not likely there are other (high-profile) users, because this relied on private API (`lazywhere` from `scipy._lib`). So I propose we close this issue.

[2021-11-16 10:40] andyfaff commented on #15047
Github issues are intended for bugs/design requirements in the project, usage questions are better directed towards the user mailing list, https://scipy.org/mailing-lists/. When asking questions it's important to provide a [minimal working example](https://stackoverflow.com/help/minimal-reproducible-example) that enables people to help. It's not possible to do that here because you provided screen

[2021-11-16 10:47] rgommers commented on #14910
@Smit-create could you take this along in your public API test PR?

[2021-11-16 10:54] rgommers commented on #14886
`1.7.2` shipped with OpenBLAS `0.3.17`, but it sounds like this is still an OpenBLAS issue? Was it reported upstream?

[2021-11-16 10:56] tupui commented on #15046
Hi @Abduhu. All optimizers have a `callback` parameter that you could use to track additional things like that. But it's a frequent request to have an history of function calls. Maybe we should consider adding something along the line.

[2021-11-16 10:57] andyfaff commented on #15046
Just as a matter of interest, is there a reason you'd like to see the final population (or even intermediate populations)? Note that the final population, if left to converge, is unlikely to have much variation in it. It would be an easy thing to return in the OptimizeResult, but I do wonder about the utility.

Whilst it's possible to use DifferentialEvolutionSolver directly you should be aware th

[2021-11-16 11:00] andyfaff commented on #15046
@tupui the callback doesn't return the population, just the best solution so far.

[2021-11-16 11:03] tupui commented on #15046
The memory concern is real although it would depend on how/what/which frequency we store. Users could have the choice. For some, it's interesting to have a way to understand the optimization path the algorithm took.

Just seeing this, thanks @andyfaff. Maybe we could provide more here. Then a user could track what they want and we would not need to handle the storing interface ourselves.

[2021-11-16 11:12] tupui commented on #15046
The behaviour of the callback is actually inconsistent here. My confusion was coming from the fact that for other minimizers from `minimize` it does return the input vector and not the solution.

[2021-11-16 11:20] andyfaff commented on #15046
The `x/xk` in all those `callback` are equivalent, the (best) solution (so far) at the end of each solver iteration loop.

[2021-11-16 11:21] tupui commented on #15046
In `minimize` it says `where xk is the current parameter vector` while in `differential_evolution` it says `xk is the current value of x0. val`.

[2021-11-16 11:22] andyfaff commented on #15046
The callback signature for trust-constr looks good, that should be rolled out to all methods.

[2021-11-16 11:23] andyfaff commented on #15046
that docstring is incorrect, it's basically the same as the others.

[2021-11-16 11:23] rgommers commented on #14234
`1.7.2` indeed bumped the version to `pythran>=0.9.12,<0.10.0`: https://github.com/scipy/scipy/blob/maintenance/1.7.x/pyproject.toml#L16

So this can be closed.

[2021-11-16 11:23] #14234 closed

[2021-11-16 11:24] tupui commented on #15046
Agreed. We could use the new version and if the old signature is found, have a wrapper to print a warning and convert to the new signature. I can give it a try if you want?

[2021-11-16 11:40] andyfaff commented on #15046
It'd require a bit of thought. Each minimizer is going to want to fill out slightly different attributes of an intermediate `OptimizeResult`. There would have to be a wrapper that could distinguish between the old/new signatures (e.g. `state` present as a keyword argument), but I'm not sure if (how much) the wrapper would have to be specialised for each method. It might require that each minimizer

[2021-11-16 12:01] xiays146 opened #15049 "BUG: Visualization of CWT matrix in signal.cwt example code"
### Describe your issue.

When show the matrix which from `signal.cwt` in a figure, the x_axis represents length of  `t`, the  y_axis represents `widths` (corresponding to the scale of ricker wavelet) in example code from the Scipy website https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.cwt.html.

It is mistake as shown in Figure 1, because a smaller width means a more narrow pea

[2021-11-16 13:00] #15043 closed

[2021-11-16 14:27] perimosocordiae commented on #15043
For posterity, this is intentional behavior: the spmatrix classes mimic the now-deprecated numpy.matrix API.

If you want ndarray-like semantics, check out gh-14822.

[2021-11-16 14:55] perimosocordiae commented on #15039
Yeah, that works as well. Though I'd prefer to match the signature of `dict.fromkeys` rather than using `*args, **kwargs`.

[2021-11-16 16:40] #14984 closed

[2021-11-16 18:49] MarcYin commented on #14046
Hi, it seems that the trust region method is more robust when the optimised variables are highly correlated compared to the L-BFGS-B from here: http://fa.bianp.net/blog/2013/numerical-optimizers-for-logistic-regression/.

In my case, I have a large number of variables (more than 300,000) that are highly correlated, so I want to have a go with the trust region method but with limited memory require

[2021-11-16 20:34] tupui commented on #15046
I think that what could be convenient/future proof to have is both the full current state (common things and extras to be defined per optimizer) and the current optimization result. That would be two data structure to pass. Something like

[code]

Practically, as these callables are user code, we could inspect the functions to determine (`inspect.signature(callable).parameters`) if we can pass the

[2021-11-16 22:18] brsr commented on #15039
Actually, I should have tried it first:
[code]

[2021-11-16 22:46] andyfaff commented on #15046
If I remember correctly there's been a discussion on the scipy-dev mailing list about modifying the callback before, and there are also a few related GH issues/PRs.
I think having more than one data structure to pass would be unwieldy. My preference would just me to have a single `state`. The object (`OptimizeState`?) could be composed from an `OptimizeResult`, so it would have similar attributes,

[2021-11-17 05:44] rgommers opened #15050 "Performance issue on macOS arm64 (M1) when installing from wheels (2x libopenblas)"
_This is a follow up to gh-14688. That issue was originally about a kernel panic (fixed in macOS 12.0.1), and after that the same reproducer showed severe performance issues. This issue is about those performance issues. Note that while the reproducer is the same, it's not clear whether or not the kernel panic and the performance issues share a root cause or not._

## Issue reproducer

A reproduce

[2021-11-17 05:46] rgommers commented on #14688
I opened a new issue for the performance problems: gh-15050.

Closing this because the problem is fixed **in macOS >=12.0.1**, thanks @ogrisel, @isuruf and everyone else who provided input!

[2021-11-17 05:46] #14688 closed

[2021-11-17 06:01] rgommers commented on #13409
An update: on macOS 11 we have a kernel panic that we cannot avoid, so we won't release wheels for that OS version. We will likely release macOS 12 wheels soon though. For details, see [this mailing list thread](https://mail.python.org/archives/list/scipy-dev@python.org/thread/LLN2O4G2XI2MPILRW2XRRVCUK336WGKF/). As pointed out in that thread, there is one significant issue (performance related) le

[2021-11-17 06:37] h-vetinari opened #15051 "BUG: test failures on aarch in wheel builder repo"
The aarch builds on https://github.com/MacPython/scipy-wheels have two failures currently:

[code]

E.g. this [build](https://app.travis-ci.com/github/MacPython/scipy-wheels/builds/241742976) from master (though happening also in more recent PRs).

<details>

[code]

</details>

[2021-11-17 06:41] h-vetinari commented on #15051
It's basically a (relative) tolerance violation by three orders of magnitude (~1e-4 instead of 1e-7), but I would still propose to just skip this test on aarch. CC @rgommers @tylerjereddy

[2021-11-17 06:43] h-vetinari opened #15052 "BUG: test failure for win+x86_32 builds in wheel builder repo"
Similar to #15051, but happening exclusively on windows + 32bit, where there's one failure due to a marginal tolerance violation.

[code]

<details>

[code]

E.g. this [buil ](https://ci.appveyor.com/project/scipy/scipy-wheels/builds/41449154) from master (though happening also in more recent PRs).

</details>

[2021-11-17 06:44] andyfaff commented on #15051
I think this will be due to #14879, and should be fixed by #14882

[2021-11-17 06:45] andyfaff commented on #15051
Rather than just skip the test I would suggest we review and merge the PR, then see if the problem is fixed.

[2021-11-17 06:47] h-vetinari commented on #15051
Sure, if there's a proposed fix, that's great! :)

[2021-11-17 06:49] h-vetinari commented on #15051
I don't see though how #14882 should be aarch-specific? I mean yes, if a general refactor of that module fixes it great, but not sure how long that review process is going to take, and whether it's feasible before 1.8.0?

[2021-11-17 06:51] h-vetinari commented on #15052
Of course, it's not pretty to fall out of "near-int" space like this:
[code]

but I think 32bit-builds are sufficiently niche by now that I wouldn't spend much time debugging this, and just skip the test on win+32bit (it's skipped on ppc already).

[2021-11-17 07:06] rgommers commented on #15051
Seems fine to me to add a skip in master now, and remove it again in your PR @andyfaff

[2021-11-17 07:15] rgommers commented on #14800
I think the summary is that this is a huge undertaking, so maintainers are reluctant to start this or comment here. Sorry for the lack of reply @dhruv9vats. I'll reply in more detail on the mailing list.

[2021-11-17 09:33] JPFrancoia commented on #14704
Thank you for taking care of this bug! Much appreciated.

[2021-11-17 09:37] andyfaff commented on #15051
It should definitely be feasible to include it by 1.8.0, but perhaps a skip now is better, and I can remove it later.

An aside, how do we keep track of the test skips/knownfails that we need to undo in the future?

The TNC callback has bad side effects. In order to call back to Python it [unscales x, sends x to the callback, then scales x](https://github.com/scipy/scipy/blob/master/scipy/optimize

[2021-11-17 11:32] tupui commented on #15046
I didn't know about the SciPEP, thanks. What is the status on this? I don't see much activity since 2-3 years. I am sure we can find people to help working on the architecture and do the implementation part if we finish the proposal (this would fit a GSoC or SDG). With SciPy 2.0 coming up, we have a good opportunity to change things.

[2021-11-17 11:58] h-vetinari commented on #14710
I was actually thinking about implementing this, and was wondering about the limit for `p->0` again. Turns out that the quote in the OP is not correct.

The distance `min(abs(x-y))` is the limit for `p->-inf` (see e.g. [wikipedia](https://en.wikipedia.org/wiki/Minkowski_distance)), whereas the limit for `p->0` is something [weird](https://math.stackexchange.com/questions/385797/limits-of-the-minko

[2021-11-17 14:23] perimosocordiae commented on #15039
Here's an implementation that should work:

[code]

[2021-11-17 14:29] ogrisel commented on #15050
Food for thought: limiting the number of threads to 4 for the scipy OpenBLAS while leaving the numpy OpenBLAS use 8 threads improves the speed a bit but we still have very bad performance compared to limiting both runtimes.

Here is the variation of the benchmark code I used:

[code]

[code]

[2021-11-17 14:33] ogrisel commented on #15050
Setting `OPENBLAS_THREAD_TIMEOUT=1` without limiting the number of threads fixes the problem!

[2021-11-17 14:42] ogrisel commented on #15050
So the root cause is likely to be exactly the same as https://github.com/xianyi/OpenBLAS/issues/3187 but this time it's not between OpenMP's threadpool and OpenBLAS's threadpool but between 2 OpenBLAS threadpools with sequential blas calls in scipy and numpy called by scipy.

[2021-11-17 14:47] rgommers commented on #15050
Ah that's awesome! Thanks for finding that @ogrisel!

Looks like that sets the timeout to `1 << 4 = 16` clock cycles if I read this correctly:
- https://github.com/xianyi/OpenBLAS/issues/3187#issuecomment-941053412
- https://github.com/xianyi/OpenBLAS/blob/974acb39ff86121a5a94be4853f58bd728b56b81/driver/others/blas_server.c#L632

[2021-11-17 14:51] rgommers commented on #15050
The code is a little obscure, it's unclear to me what that does exactly - if the timeout is really short, is there a risk that this will work with the tests, but fail if we pass in really large arrays?

Also, is this something `threadpoolctl` can control? Otherwise we're back to the problem of needing to set an env var before the first import of both `numpy` and `scipy`.

[2021-11-17 15:46] ogrisel commented on #15050
Not at the moment and I am not even sure there is a public function in the OpenBLAS API do do it via ctypes.

But we could set `os.environ["OPENBLAS_THREAD_TIMEOUT"] = "1"` in the `_distributor.py` of the numpy and scipy wheels, at least for the `macos/arm64` platform for now and maybe for other platforms later.

[2021-11-17 15:50] ogrisel commented on #15050
Note that setting this only in scipy is already very good. This can be simulated with the following import order:

[code]

which yields:

[code]

[2021-11-17 15:54] ogrisel commented on #15050
`openblas_set_thread_timeout` does not seem to exist:

[code]

[2021-11-17 15:59] peterbell10 commented on #15033
It might make more sense if there was a separate parameter `ortho={False, True}` that only controlled if the first and last elements are modified, but doesn't change normalization. Then `norm` really would just change the overall normalization.

In the mean time, you can always use
[code]

[2021-11-17 16:16] rgommers commented on #15050
That's very helpful, then we don't need a new NumPy release.

Makes sense.

[2021-11-17 16:51] turbulentphil commented on #15033
Yes, this would also be an option.

I should mention that your one-liner is a bit too easy, because, for instance, when considering `f = np.cos(1 * np.pi * x) +1` it breaks Parseval's theorem due to the falsely scaled k=0 mode. Therefore, I recommend the workaround described in the StackOverflow post from above.

[2021-11-17 17:43] peterbell10 commented on #15033
Strictly speaking I think Parseval's theorem only applies to the fourier transform, so you would need to consider the even extension of the input signal. If you do that, then the normalization I gave is correct because some elements appear multiple times in the summation.

Perhaps it would make sense if you explained your use case?

[2021-11-17 18:14] stefanv commented on #14674
This only happens when the slice is unassigned.  I.e., the following works:

[code]

[2021-11-17 18:29] turbulentphil commented on #15033
That's right, it's typically given for Fourier transforms and especially considering the proper extension of the signal. Maybe it's asked for too much to consider this special case of supporting the theorem even for "half" signals in this standard library.

My use case is the following: I want to analyse 3d flow data in a Cartesian domain which is periodic in horizontal directions only. I cannot s

[2021-11-17 19:11] anntzer commented on #14758
Not really in any hurry, but @rgommers' recent email on array type dispatch seems like a good opportunity to re-raise this?

[2021-11-17 19:14] jeremiedbb commented on #15050
You could also consider shipping an OpenBLAS built with `THREAD_TIMEOUT=1` instead of relying on the ``_distributor_init``

[2021-11-17 19:22] carlosyanez opened #15056 "BUG: pip -install scipy failing on PypPy 7.3.7"
### Describe your issue.

Hi!,

When trying to install scipy on pypy 7.3.7, it fails due to numpy failing to build - this happens even if numpy has been previously installed.

This issue has been raised here https://github.com/pypa/pip/issues/10631 - but it doesn't seem to be  a pip problem.
I'm just copying the example submitted by @gwerbin - but further troubleshooting has been done on the afore

[2021-11-17 19:34] rgommers commented on #15050
That'd be quite a bit more work though, and repeating effort as an extra build for each new OpenBLAS version. Do you see an upside of this?

[2021-11-17 19:40] rgommers commented on #14758
Ah yes, thanks for pointing this out @anntzer. We should address this and the other open issues related to the `fft` backend over the next month or two. I added a new `uarray` label.

[2021-11-17 19:43] hameerabbasi commented on #14758
@anntzer I'm in the process of releasing wheels for 3.9 and 3.10. If you need examples, there are many in the [Quansight-Labs/unumpy](https://github.com/Quansight-Labs/unumpy) repo.

[2021-11-17 19:47] rgommers commented on #14758
There is a separate issue about improving the docs for the `scipy.fft` backend. We should also take apart one or two actual implementations, and annotate them thoroughly in the developer docs and ensure it's clear what each line of code is for.

That's still separate from @anntzer's third point here:

[2021-11-17 20:56] elfring opened #15057 "Increase the usage of augmented assignment statements"
### Is your feature request related to a problem? Please describe.

:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

### D

[2021-11-17 21:18] rkern commented on #15057
Personally, I'm not particularly interested in a broad, semi-automated conversion of these statements. Augmented assignment has existed for most of scipy's lifetime, so many, if not most, opportunities that a tool might find are places where the author had the chance to use them and decided not to, either because it was not worthwhile or because the in-place semantics were to be avoided in those p

[2021-11-17 21:54] h-vetinari opened #15058 "TST: review usage of `_assert_within_tol` with positional arguments in `test_distance.py`"
While working on #15055, I found that tests in `test_distance.py` (seemingly unintentionally) use absolute rather than relative tolerance, because `_assert_within_tol` is often called with positional parameters that end up being filled into the signature:
[code]

There are some that are definitely misleading (or outright false), because a call-site like
[code]
will end up calling `rtol=False/True`

[2021-11-17 22:38] EfremBraun opened #15059 "BUG: documentation incorrect for find_peaks_cwt"
### Describe your issue.

min_snr is described as:
Minimum SNR ratio. Default 1. The signal is the value of the cwt matrix at the shortest length scale (cwt[0, loc]), the noise is the noise_perc`th percentile of datapoints contained within a window of `window_size around cwt[0, loc].

However, line 1182 of https://github.com/scipy/scipy/blob/master/scipy/signal/_peak_finding.py shows:
`snr = abs(c

[2021-11-17 22:55] EfremBraun commented on #15059
@pv Looks like this might be something you're interested in.

[2021-11-17 23:39] EfremBraun commented on #15059
The paper cited in the docs states:

"Definition of the signal to noise ratio Before defining the SNR in
the wavelet space, signal and noise must be defined first. Based on the
assumption that the real MS peaks have an instrument-specific characteristic
shape, the signal strength of a peak is defined as the maximum CWT coefficient on the ridge line within a certain scale range. As for the noise, w

[2021-11-18 00:06] EfremBraun opened #15060 "ENH: Return estimate peak widths as part of find_peaks_cwt()"
### Is your feature request related to a problem? Please describe.

The paper cited in the docs of https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.find_peaks_cwt.html describes how one can obtain an estimate for the peak widths. It says:
"The peak width can be estimated based on the CWT scale corresponding to the maximum point on the ridge."

This can be rather easily implemented

[2021-11-18 00:07] EfremBraun commented on #15060
@pv Looks like this might be something you're interested in.

[2021-11-18 05:37] tensor-tensor opened #15063 "On the summation of some multivariate normal distributions"
### Describe your issue.

How can one adds up two `multivariate_normal` objects in `scipy`? None of the following tries work.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.3.1 1.19.5 sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

[2021-11-18 06:05] tensor-tensor commented on #15063
It seems that I was just supposed to call `pdf()` after each distribution instance, say,

`Z = Z0.pdf() + Z2.pdf()`.

[2021-11-18 06:05] #15063 closed

[2021-11-18 06:35] mdhaber commented on #15063
I'm guessing you are trying to model the sum of two normally distributed random variables. `Z = Z0.pdf() + Z2.pdf()` will raise an error because `pdf` needs an argument, but even with that fixed, you wouldn't get the PDF of the distribution you seem to want. Issues here on the GitHub repo are for bug reports and enhancement requests, but this is more of a usage question, so I'd suggest posting you

[2021-11-18 10:00] tupui opened #15064 "MAINT: `interpolation` keyword is renamed to `method` in `np.percentile`"
### Describe your issue.

Starting from NumPy 1.22, `np.percentile` keyword `interpolation`  is deprecated and renamed to `method` .

Seen https://github.com/scipy/scipy/runs/4247004117?check_suite_focus=true

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

NumPy 1.22

[2021-11-18 10:03] dhruv9vats commented on #14800
I guess your reply on the mailing list closes this, at least for now.

[2021-11-18 10:03] #14800 closed

[2021-11-18 10:15] tupui commented on #15057
Closing this. Cf https://github.com/PyCQA/pylint/issues/5174

[2021-11-18 10:15] #15057 closed

[2021-11-18 10:25] ogrisel commented on #15050
To avoid having the scipy import have a side effect on other things running in the same Python program or subprocesses.

[2021-11-18 10:33] ogrisel commented on #15050
For a reason I don't understand I do not observe the a similar slowdown on a non Apple M1 platform. For instance with the same wheels on a `linux/x86_64` machine with a large number of cores, I always get good speed when running the above snippet: approximately the same speed with and without the `OPENBLAS_THREAD_TIMEOUT=1` env variable. Here is the machine runtime:

[code]

I also tried with `tas

[2021-11-18 10:43] rgommers commented on #15050
Yes indeed, it should be some OS level thing I think, because this same release config has been working fine AFAIK for years on Intel Macs, as well as on Windows and Linux when installed from wheels. And even on Apple M1 it does work fine when mixing in the Homebrew `openblas`, as noted in the issue description - so it looks like some pretty specific set of factors causing this problem.

I've aske

[2021-11-18 10:45] rgommers commented on #15050
That's the question - if it makes sense to do that for all platforms, then we can just make the change in https://github.com/MacPython/openblas-libs/. But I'd be a little reluctant to change it on other platforms, unless we have a reason to. Even if it has no impact, it's again one of those "what if it did matter" changes when investigating the next problem.

[2021-11-18 10:57] ogrisel commented on #15050
One reason would be to workaround the bad interaction with OpenMP runtimes in C/C++/Cython code that does:

[code]

as described in https://github.com/xianyi/OpenBLAS/issues/3187 and observed in scikit-learn that uses the scipy OpenBLAS via the Cython BLAS API of scipy:  https://github.com/scikit-learn/scikit-learn/issues/20642

However to fully solve the problem observed in scikit-learn we would

[2021-11-18 11:50] ilayn commented on #14647
I started to get this problem too. Uninstalling pythran fixed it as described. But didn't reinstall.

[2021-11-18 16:45] EfremBraun commented on #15060
Actually I'm thinking that since the cited paper states:

It would be better to double the width. So the code would be what's below:

[code]

[2021-11-18 17:33] ajouellette opened #15065 "ENH: allow KDTree to be constructed with single-precision data"
### Is your feature request related to a problem? Please describe.

Currently the KDTree implementation copies the data if it is not a contiguous array of doubles. I am trying to construct trees for large arrays of single-precision data (a couple GBs). The way it currently works, the data has to be copied as well as promoted to double-precision greatly increasing the memory usage to the point wher

[2021-11-18 17:38] ogrisel commented on #14886
The architecture detection bug was already fixed upstream.

The fact that the prescott kernel can segfault is probably related to the fact that the scikit-learn test is using non-memory aligned buffer. The fact that it's readonly is probably unrelated.

Given that prescott is a really old architecture and that very few people are likely to call OpenBLAS routines on non-memory aligned data, I think

[2021-11-18 18:02] #14886 closed

[2021-11-19 07:18] IshkMagar opened #15068 "How to get the angular frequencies of .wav file?"
I am trying to get the angular frequencies of .wav file but I think I am doing it wrong. May I know how to fix it?

import numpy as np
from scipy import signal
from scipy.io.wavfile import read

** load the audio signal
sampling_rate, data = read('audio.wav')
print(f'sample rate is ', sampling_rate)
** get length of the audio signal
length = data.shape[0] / sampling_rate
time = np.linspace(0, leng

[2021-11-19 07:40] rgommers commented on #14886
Makes sense, thanks @ogrisel

[2021-11-19 07:48] stefanv opened #15069 "DESIGN: dia_matrix handles positive and negative diagonals differently (or, the same, when it shouldn't?)"
### Describe your issue.

When you create a dia_matrix, and you specify diagonal values and offsets, you would expect those diagonals to *start with the values given*.  This is true for negative offset diagonals, but not positive offset diagonals.  To wit:

[code]

Results in:

[code]

But, for positive diagonals:

[code]

The output is:

[code]

I.e., column 0 is always used as the reference colu

[2021-11-19 09:15] tupui commented on #15068
Hi @IshkMagar, thanks for stopping by. What is your issue? Can you follow the template and provide a minimal working example reproducing the bug?

Please note that if there is no bug, we don't have the bandwidth to answer user questions and I would ask you to either use the mailing list or other forums like StackOverflow.

[2021-11-19 10:12] rgommers commented on #14647
@ilayn on Alpine, or on some other platform?

[2021-11-19 10:59] L-Ron-GitHubbard opened #15070 "Request: convert signal.lsim to Cython"
Inspecting the signal.lsim source, I noticed that lsim uses a python for loop at [line 2142](https://github.com/scipy/scipy/blob/b3d84bd4c7b050d7768e57e7d2c942ae7efaae2f/scipy/signal/_ltisys.py#L2142) to iterate over all the time steps of the signal.

This seems like a great candidate for speed-up with Cython.

Profiling my own simulation code shows that lsim is by far the biggest performance bott

[2021-11-19 11:15] ilayn commented on #14647
On windows. Something I encountered that is related to the tempita issue. Somehow existence of `pythran` is enough to trigger the issue and without it everything works. I will create some time later to dig deeper.

[2021-11-19 11:26] ilayn commented on #15070
Indeed it can speed up a bit with Cython possibly using `?gemv` with inline addition `alpha*A*x + beta*y` but nevertheless it will continue to be the slowest part of the code due to the repeated nature of the problem.

[2021-11-19 12:17] L-Ron-GitHubbard commented on #15070
Agreed. But please note this is also the place where even a small speed-up can substantially improve overall execution time.

If anyone is going to benchmark the current versus an optimized implementation, please also consider also the case of user code with repeated calls to lsim.

Reason: Depending on the type of simulation problem, it is not always possible to pass a long signal into lsim. Some

[2021-11-19 12:30] ilayn commented on #15070
For the latter, you can enhance your B and C arrays (yes making them 100x100) and simulate all at once due to linearity. But keep in mind that matrix multiplication is already floored to the metal by BLAS calls on NumPy side, and we are talking about removing some overhead around that BLAS call.

You can try a small implementation with Cython, only that for loop, not even changing the code but jus

[2021-11-19 12:39] jszymon commented on #14674
Thanks for looking into this.  The code above works, but doing

`A[:,0:10000] = B`

results in a similar problem.  So there is no way to change sign
of selected elements.  Actually the slice sign change operation
is used in `scipy.optimize.linprog`.

The following works:

`A.data[A.indices < 10000] *= -1`

but is a hack.

[2021-11-19 19:41] gfranco008 opened #15071 "BUG: `barycentric_interpolate` gives incorrect result"
### Describe your issue.

  The following function in scipy seems to have a bug. The interpolation is simple and should be between 1.2577 or so, but the solution it provides is `4105.142857162852`. This is magnitudes higher than it should.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.1 1.19.0 sys.version_info(major=3, minor=9, mi

[2021-11-19 19:53] rkern commented on #15071
Are you sure that the specific algorithm used by `barycentric_interpolate` ought to produce such a number? For example, do you have another implementation of barycentric interpolation in another software that produces the number that you want?

Please note the docstring warns that barycentric interpolation, like most polynomial interpolators, is susceptible to [Runge's phenomenon](https://en.wikip

[2021-11-19 20:04] rkern commented on #15071
Consider using `Akima1DInterpolator`, `CubicSpline`, or `PchipInterpolator` (assuming the data remains monotonic). These are piecewise interpolators that do not have the same problems fitting a high-degree polynomial to all of the points.

[2021-11-19 20:27] IshkMagar commented on #15068
@tupui, This is the error I am getting
MemoryError
Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_18124/1475926947.py in <module>
      1 # I am having an issue here. May I know what I have done wrong here
----> 2 freq = np.linspace(time, 5, data.shape[0])
      3
      4 print(f'time shape {time.shape} , data shape {data[:,0].shape}, freq shape {freq.shape}')

<__array_function_

[2021-11-19 20:32] caos21 commented on #15036
If you set two arguments, it is computing the [Hurwitz](https://en.wikipedia.org/wiki/Hurwitz_zeta_function) zeta function which is not defined for x < 1 (implementation or Re(x) <= 1)
I agree that is confusing in the documentation in this part: **The Riemann zeta function corresponds to the case when q = 1.**
It could state that  Hurwitz zeta (x, q) = Riemann zeta(x) for q==1 and x >= 1
What do y

[2021-11-19 20:40] tupui commented on #15068
I think the error is pretty self explanatory. You are trying to allocate a huge array and you don't have this much RAM. Check the arguments when you are creating the array:

[code]

With that being said, it seems there is no issue related to SciPy, hence I will close it for now. Still, if you can show there is indeed a bug, I would gladly reopen 😃. Thanks again for the report.

[2021-11-19 20:40] #15068 closed

[2021-11-19 20:45] caos21 commented on #15036
in support of my comment, this is what happens in the implementation,

    if( x == 1.0 )
     	    goto retinf;

    if( x < 1.0 )
	    {
    domerr:
	    mtherr( "zeta", DOMAIN );
        return(0.0);
	}

I can help with fixing the documentation, or adjusting the code to documentation (it seems a bad idea)

[2021-11-19 21:01] IshkMagar commented on #15068
fft_spectrum = np.fft.rfft(data[:,0])
freq = np.fft.rfftfreq(data[:,0].size, 1/sampling_rate)
pgram = signal.lombscargle(time, data[:,0], freq, normalize=True)

I am getting error here. I don't know it is bug or not.
ZeroDivisionError                         Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_4696/1439696588.py in <module>
     12 print(data[:,0])
     13 print(freqs)

[2021-11-19 22:11] d-chambers opened #15072 "BUG: signal.decimate returns NaN with large float32 arrays"
### Describe your issue.

When using decimate with large float32 arrays often arrays will all NaN values are returned.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

scipy: 1.6.2, Numpy: 1.18.5, Python: 3.8.5

[2021-11-20 01:33] simaki commented on #15036
Thank you!

In my understanding, while the original definition of Hurwitz zeta zeta(s,a) only works for Re(s)>1 as you pointed out, one would be able to further define it for s!=1 through analytic continuation (cf https://dlmf.nist.gov/25.11). So zeta(s,1)=zeta(s) would hold for s!=1.

On the other hand I personally presume even if the statement above is mathematically true the implementation for

[2021-11-20 07:07] caos21 commented on #15036
thanks to you and a good catch... how many things it could break if we change it @tylerjereddy ? Rare cases are good, we stick to conventions we had....

[2021-11-20 07:33] caos21 commented on #15036
@simaki I should point out that numerically speaking this is the expected behavior for the function, you could branch when you know your cases ... it is sketchy I know, we have a lot of differences with respect to mathematica, matlab, etc
any case, I will help

[2021-11-20 09:54] Abduhu commented on #15046
In some cases, users want to study the evolution of a specific optimization problem. Returning back the last population is enough since we can always continue evolution from it.

[2021-11-20 10:11] rgommers commented on #14360
One more thing to do here. @Smit-create it would be great to have some kind of script that can walk the SciPy import tree for all module-like things that don't start with an underscore, and then save the result of `dir(modulename)`. So we can run it on `1.7.0` and `master`, and compare the results.

[2021-11-20 11:14] IVN-tone commented on #9097
This interpretation of $SNR$ is incorrect for considering noisy periodic signals: you just can consider pure sine wave centered at 0 and then artificially apply some offset to be centered at 10 for example, you'll get another $SNR$, but actually the signal still pure.

[2021-11-20 11:19] rgommers commented on #15052
Agreed with skipping here. I'll add a comment on the related PR to check undoing the skip once the suspected root cause is fixed.

[2021-11-20 11:20] rgommers commented on #15051
We can either leave the issue open with a milestone set to ensure we revisit it, or comment on the related PR (in this case you have an open PR that may fix it, so let's do that).

[2021-11-20 11:22] #15051 closed

[2021-11-20 11:22] #15052 closed

[2021-11-20 11:40] #15033 closed

[2021-11-20 12:09] danky78 commented on #8389
why stop in single letter variable and not go with all variables that you can't know the character used by context?
For example Io/lo lds/Ids T0/TO, and a infinity of cases where a user that uses a FONT NOT SUITABLE FOR CODING can have trouble..

I think that the font used for programming is not coding style. I'ts a user preference. I found this pep annoying, I will still use "l" as ldap client fo

[2021-11-20 12:39] talhakabakus commented on #13409
Hi @rgommers, is there a publicly available timeline for the release of `macOS 12`?

[2021-11-20 12:41] rgommers commented on #13409
I'd like to see it finalized by next week. Just upgraded to macOS 12 on my own machine so I can work on making the last few updates. @tylerjereddy as release manager has the final say on exact timing.

[2021-11-20 12:43] h-vetinari commented on #14360
Was it intentional that a `conftest.py` get's picked up as a public module in your PR, @Smit-create?

I mean, it's a separate debate how much (if at all) of the test suite should be parametrized & fixturized, but it seems to me that something that's testing-specific like that (and a well-documented [pattern](https://docs.pytest.org/en/6.2.x/example/simple.html) in pytest) should not be triggering

[2021-11-20 12:52] talhakabakus commented on #13409
I see, thanks for this information, _Ralf_. As a `macOS 12` user, I desperately wait the Python packages for data science to be (officially) released for Apple Silicon to get the best out of the chip @rgommers

[2021-11-20 13:00] #13675 closed

[2021-11-20 13:02] rgommers commented on #14267
Moving to 1.8.0, let's not mix it with the release that introduces M1 support. Best not to upload any new docs for `1.7.3` (just like we didn't for `1.7.2`).

[2021-11-20 13:06] rgommers commented on #14420
https://github.com/serge-sans-paille/pythran/commit/3f9090067179e00b1923ae57deadb6cfbf21b1d3 is part of pythran `0.10.0` and not in `0.9.12` - so this is not fixed for SciPy `1.7.2` or `1.7.3`. We'll bump this to `1.8.0`.

[2021-11-20 15:11] pantelisantonoudiou commented on #15072
I have replicated this issue with **scipy:1.7.1, Numpy: 1.21.2, Python 3.9.5.**

This error seems to happen only if the filter type is set **_iir_** and the downsampling factor _**q**_ is 9 or greater. I was able to trace down the error to the [_linear_filter](https://github.com/scipy/scipy/blob/1022323f9744c36148e3422f97152d40ce0ccd94/scipy/signal/_lfilter.c.in#L1) function.

[code]

[2021-11-20 17:14] tylerjereddy commented on #13409
@rgommers I'd probably opt for as soon as possible to get it out before US Thanksgiving holiday; my notes currently have this as one of the key requirements:

[2021-11-20 17:23] talhakabakus commented on #13409
Great to hear that, _Tyler_. All the best. 👍 @tylerjereddy

[2021-11-20 17:32] rgommers commented on #13409
Great, thanks @tylerjereddy. I'll work on that fix tomorrow. There are also some remaining test failures, some due to gh-14901, and some random ones. I'll try to address all those.

[2021-11-20 17:35] rgommers commented on #14722
Thank you for the report @NixGD. This issue is a duplicate of gh-14901 now, which has more info - so I'll close this one. We'll try to fix this for `1.7.3` (first release with arm64 macOS wheels).

[2021-11-20 17:35] #14722 closed

[2021-11-20 20:39] EdoLu opened #15074 "scipy.special.gammainc ValueError: invalid number of arguments"
I noticed an apparently erratic behaviour of the special.gammainc function, which I can't explain. Apparently, when parameter names are explicitly indicated the function returns the error "ValueError: invalid number of arguments".
This doesn't happen when parameter names are not specified.

import scipy.special as ss
print(ss.gammainc(2, float("Inf"))) # returns 1
print(ss.gammainc(a=2, x=float("I

[2021-11-20 22:20] daniel-s-ingram commented on #15074
`a` and `x` aren't keyword arguments, so I believe this is the expected behavior here.
https://github.com/scipy/scipy/blob/701ffcc8a6f04509d115aac5e5681c538b5265a2/scipy/special/_precompute/gammainc_data.py#L33

[2021-11-20 22:42] daniel-s-ingram commented on #15074
I'm not sure how it happens exactly, but `a` and `x` somehow end up as position-only arguments in the version of the function I'm importing (despite that not being the case in the version I see in the code: https://github.com/scipy/scipy/blob/296b5502788af19409fc543bc32fa8e840cc4f9f/scipy/special/_precompute/gammainc_data.py#L33)

[code]

I suspect it has something to do with the type being a `num

[2021-11-21 05:51] person142 commented on #15074
The implementation you are looking at is not the actual implementation-it’s a variant we use for comparison in tests.

The actual function is a C kernel that a ufunc  (docs here https://numpy.org/doc/stable/reference/ufuncs.html) is generated from-and yes it has the limitation that the arguments are positional only. That’s not really something we can solve without making large changes to NumPy.

C

[2021-11-21 05:51] #15074 closed

[2021-11-21 09:09] rgommers commented on #15050
Opened https://github.com/MacPython/scipy-wheels/pull/143 for the environment variable solution. I'd like to go with that for `1.7.3`. To be discussed I'd say if we keep that or if we want to rebuild OpenBLAS for `1.8.0`.

[2021-11-21 09:16] rgommers commented on #15050
So it seems like we should then ship that rebuilt OpenBLAS in both NumPy and SciPy. That'd be one way we could go.

The other, larger change that could be make is to ensure there's only a single OpenBLAS loaded by:
- building OpenBLAS with `openmp` rather than `pthreads`
- shipping a separate OpenMP wheel (`libgomp`)
- shipping a separate OpenBLAS wheel depending on OpenMP
- making both NumPy and

[2021-11-21 09:32] EdoLu commented on #15074
Thanks a lot for your prompt help!

[2021-11-21 11:52] Mahartmasol opened #15075 "BUG: (possibly) faulty sanity check multinomial."
### Describe your issue.

Hello! This is my first interaction with Github ever, sorry if I am asking a stupid question. It seems like in function __process_quantiles_ inside multinomial class there is a faulty sanity check, namely _np.sum(xx, axis=-1) != n_, which is only false when sum of your categories is equal to the number of trials. It also works with test examples, if you change n in them t

[2021-11-21 20:40] rgommers opened #15077 "Remaining test failures for macOS arm64 wheel"
This is with the numpy `1.21.4` and scipy `1.8.0.dev0+1984.f1c6b54` installed. The majority are due to gh-14901.

[code]

<details>

[code]

</details>

Need to retest on `1.7.x` branch, ensuring warnings don't get turned into errors. And then fix up what's visible there.

[2021-11-22 05:42] Smit-create commented on #14360
Yes, it's private but unfortunately we cannot underscore it - see https://stackoverflow.com/questions/63236001/in-pytest-how-can-i-specify-a-different-conftest-py-file-to-use.

[2021-11-22 05:57] FavorMylikes opened #15080 "I can not understand the extrinsic and intrinsic rotation order."
After some research, for now, I understand `scipy` has right-handed axis coordinate system, and left-handed rotation.

For example

[code]

But I can not figure out the different between `extrinsic` and `intrinsic` rotation.

For my understand.

`extrinsic` should use a fixed axis, and `intrinsic` should use rotatable axis.

So, if I understand this correctly.

Here "XYZ" means `intrinsic rotation

[2021-11-22 06:06] h-vetinari commented on #14360
Yes, which is why it should be excluded from the public-API check...

[2021-11-22 06:30] tupui commented on #15080
Hi @FavorMylikes, I am afraid we do not answer user questions here but only deal with bugs as we do not have the bandwidth for that. Please ask your question on the user mailing list or another forum like StackOverflow.

[2021-11-22 06:31] #15080 closed

[2021-11-22 07:34] NamamiShanker commented on #15060
I went through the paper @EfremBraun. The ricker or Mexican Hat wavelet provides the best matches for peaks of width around 2a1. But how will we generalise it for all different kinds of wavelets?

[2021-11-22 07:50] Smit-create commented on #14360
For comparing the results, I followed these steps:
1. Ran [check_save_api.py](https://gist.github.com/Smit-create/8233e265bb7107ddd891e8338f7fd76a) for both the versions and saved the results into two files.
2. I used these saved results to compare two APIs using this [compare.py](https://gist.github.com/Smit-create/f7d640dc1b1be2d1f16029984ff4979b)

The results I get are:

[code]

[2021-11-22 07:55] #15064 closed

[2021-11-22 08:41] #15075 closed

[2021-11-22 09:22] ogrisel commented on #15050
Indeed for a minor release, a minimal fix only for the macos m1 problem is best.

For the more medium term plan, maybe we could do this series of change more progressively. Here are some suggestions:

- Build OpenBLAS with `THREAD_TIMEOUT=1` for the wheels will probably help for the short to medium term on making it possible to workaround problems such as scikit-learn/scikit-learn#20642 when there

[2021-11-22 09:35] #15032 closed

[2021-11-22 09:52] ogrisel commented on #15050
@rgommers about the fix for scipy 1.7.3 and macos/arm64, as explained in https://github.com/MacPython/scipy-wheels/pull/143#issuecomment-975341081, the fix is currently not effective because the `_distributor_init.py` file is currently only shipped in the windows wheels, not the macos wheels.

[2021-11-22 10:27] rgommers commented on #15070
Thanks for the suggestion and following up on it @L-Ron-GitHubbard. Agreed this can be closed.

[2021-11-22 10:27] #15070 closed

[2021-11-22 10:44] rgommers commented on #15056
Thanks @carlosyanez. Investigated and commented on https://github.com/pypa/pip/issues/10631. I'll close this to avoid having a duplicate issue. In case the discussion turns up that it is a SciPy issue after all, we can reopen.

[2021-11-22 10:44] #15056 closed

[2021-11-22 10:48] h-vetinari commented on #14360
@Smit-create and whoever has an opinion about this: could you please review https://github.com/scipy/scipy/pull/15073/commits/e7113f8f1c789d9bc6adff916dd1c8e168c68cd3 in #15073?

[2021-11-22 12:23] rgommers commented on #15050
This sounds less than ideal to me - we'd have to duplicate the Cython APIs, plus NumPy has far fewer BLAS/LAPACK needs than SciPy and is still on an older minimum required version than SciPy (that's why for example Accelerate is re-enabled in NumPy but cannot be in SciPy).

My first reaction is that shipping a standalone wheel would be preferable to this solution.

Yes, I think it does. And it's b

[2021-11-22 13:14] ogrisel commented on #15050
Fine with me as well.

I cannot say for scipy but for scikit-learn we have already started to use OpenMP multithreaded Cython code by default for some components and are progressively generalizing this approach in the code base.

[2021-11-22 13:27] ilayn commented on #15050
There are many places in SciPy where a multithreaded code can boost the performance greatly. Hence if there is a way to achieve it without hundreds of `if OpenMP then do prange else range` type of instructions then +1 from me too. But the points raised in #10239 should probably be addressed first.

[2021-11-22 13:51] ogrisel commented on #15050
`prange` works fine if openmp is not linked at build time. No need to change the source code, just the build flags. Here is how we do it in scikit-learn to fallback in sequential mode if the C/C++ compilers do not support OpenMP:

https://github.com/scikit-learn/scikit-learn/search?q=_OPENMP_SUPPORTED&type=code

[2021-11-22 13:55] jeremiedbb commented on #15050
However, calling openmp functions like `omp_get_num_threads` needs to be protected: https://scikit-learn.org/stable/developers/performance.html#using-openmp

[2021-11-22 13:59] ogrisel commented on #10239
Only libgomp (the default OpenMP runtime implementation that comes with GCC) [is not fork-safe](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60035). The Microsoft OpenMP runtime (used by default when building with MSVC) and the LLVM OpenMP runtime (used by default when building with clang) are safe.

On Linux, it's possible to build with GCC and then replace libgomp by llvm-openmp. It should also

[2021-11-22 14:47] EfremBraun commented on #15060
That's a very good point. I don't think it can be generalized for any user-defined wavelet.

I see 3 possibilities:

1. Leave the function as is, not returning widths.
2. Remove the `wavelet` parameter, forcing the user to use only the Ricker wavelet. To be honest, I very much doubt anyone uses other wavelets for this function, since none of the other SciPy wavelets given in https://docs.scipy.org

[2021-11-22 16:03] rkern commented on #15080
When representing the `Rotation` as a matrix, it's supposed to be multiplied on the left of the vector, not the right. Positive Euler angles are right-handed rotations when applied this way.

[code]

[2021-11-22 16:24] 99991 opened #15081 "BUG: Segmentation fault caused by scipy.stats.qmc.qmc.update_discrepancy"
### Describe your issue.

The array `abs_` in the function `_cy_wrapper_update_discrepancy` is of size `sample_view.shape[0] + 1`, which is 3 + 1 = 4 in the reproducing code example below. The write operation in line 258 causes memory corruption when `x_new_view.shape[0]` is 4 or larger (e.g. 11 in this example).

https://github.com/scipy/scipy/blob/47bb6febaa10658c72962b9615d5d5aa2513fa3a/scipy/s

[2021-11-22 18:16] tupui commented on #15081
Hi @99991 thanks for the report. I am looking into this and indeed it does not sounds right. Seems like we interchanged dimensions with number of samples when translating this to Cython.

[2021-11-22 19:04] tupui commented on #15081
Actually no it's fine. I got confused for an instant with the naming which says line although it's a column. (this should be modified).

We have `xnew_nlines = x_new_view.shape[0]` which is the dimension. Here 11. And in the loop we do use `xnew_nlines` to iterate on `x_new_view`. Which is correct.

[code]

With your example I could not reproduce any segmentation fault.

As a side note. I am curio

[2021-11-22 19:35] mikewojnowicz opened #15082 "DOC: Sampling from the truncated normal"
### Describe your issue.

The sample means for runs of the code below concentrate around .36, not .50, as expected.

Am I misunderstanding the documentation and examples?  I was expecting `mu` to reflect the expected value of the probability distribution post-truncation.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

numpy==1.19.4, sci

[2021-11-22 19:48] rkern commented on #15082
The `loc` parameter is the mean of the underlying normal distribution, not the mean of the final truncated distribution. The docstring could be a little clearer about that.

[2021-11-22 20:07] mikewojnowicz commented on #15082
@rkern Ah, I see, thanks for the clarification.   Ran another quick simulation and it now works as expected.

Agree re: documentation.  Even just a slightly altered documentation which includes the first sentence you wrote above would have been illuminating for me.

[2021-11-22 21:06] 99991 commented on #15081
Unfortunately, memory corruption might manifest itself in nondeterministic ways. The original code only crashed sporadically. Perhaps it is possible to trigger the error more easily by setting `boundscheck=True` here:

https://github.com/scipy/scipy/blob/47bb6febaa10658c72962b9615d5d5aa2513fa3a/scipy/stats/_qmc_cy.pyx#L2

Alternatively, it might be sufficient to increase the 11 from the minimal re

[2021-11-22 21:34] tupui commented on #15081
Thank you for the additional information. I will have a look at what I originally intended here. `abs_` should be like the dimension indeed.

[2021-11-23 05:29] Kai-Striega commented on #15058
I haven't done much work on `spatial` but I'd be happy to start looking at them. I'm guessing that to fix these changes it would be a matter of changing the above (and similar) call sites to something more like ``_assert_within_tol(a, b, rtol=eps, verbose_=verbose > 2)`` as appropriate.

[2021-11-23 05:42] h-vetinari commented on #15058
Hey @Kai-Striega, that would be great thanks! :)
In addition, I believe the `eps` per test should be reviewed - I think generally it should be possible to be in the range of `1e-15` to `1e-13` for relative tolerance, but many tests (presumably due to actually measuring absolute tolerance currently) use a way higher `eps` at the moment.

[2021-11-23 05:46] Kai-Striega commented on #15058
Looking at the code, do you think it's still necessary to have a separate function ``_assert_within_tol`` looking at the definition:

[code]
all it does is add an extra print statement to an existing ``assert_allclose`` check. With modern IDEs / tooling this seems kinda redundant and could be simplified to just the ``assert_allclose`` call. Thoughts?

[2021-11-23 08:18] mreineck commented on #10239
If the OpenMP standard itself does not mandate this form of fork safety, I'd personally not rely on added guarantees that are are made by specific implementations.

At least for C++ the current approach with a thread pool implemented with standard language features is very convenient to use, and (although I was reluctant to switch away from OpenMP myself at first) I'm now using it in my other C++

[2021-11-23 08:36] tupui commented on #15081
I could reproduce the bug as you said by enabling `boundscheck`

[code]

Would you like to make a PR? Otherwise I will do it. The following is to be done:

I propose to remove the confusing line `xnew_nlines` and do `Py_ssize_t d = sample_view.shape[1]` (we already check the dimensions matches when calling this function). And then we can have `double[::1] abs_ = np.empty(d, dtype=np.float64)`. We

[2021-11-23 08:44] 99991 commented on #15081
Great! Feel free to go ahead with the PR.

[2021-11-23 09:02] ogrisel commented on #13861
Maybe it's not related to being a memmap array but to being a non-memory aligned array which is known to cause problems on some platforms for some compiler versions.

[2021-11-23 09:41] NamamiShanker commented on #15060
I agree with points 2 and 3, 3rd being the better choice. What is your opinion, @tupui?

[2021-11-23 10:20] tupui commented on #15060
Sorry it's not really my area of expertise. I prefer to let other maintainers have a say. Just keep in mind backward compatibility. We cannot remove parameters without going through a deprecation cycle first. Same goes with changing the return type.

[2021-11-23 10:55] ogrisel commented on #10239
or Cython, or pythran or numba which all have OpenMP integration.

[2021-11-23 12:44] tupui commented on #15082
Would you make a PR @mikewojnowicz to improve the documentation?

[2021-11-23 14:04] #14785 closed

[2021-11-23 14:48] rgommers commented on #14360
I'd recommend to not mix that in with an unrelated `scipy.spatial` PR. Also, why does this matter at all? We have only a single `conftest.py` in the source tree, so your version just looks less readable while doing the same thing.

[2021-11-23 17:16] #15081 closed

[2021-11-23 19:49] tpstps opened #15089 "BUG: scipy.optimize.minimize() does not report lowest energy visited."
### Describe your issue.

Hi,

I use `scipy.optimize.minimize()` (`method='Powell'`) and pass "the best" value of `x`  as  `x0` to it.

**OBSERVATION:**
I can see that `scipy.optimize.minimize()` calls my function with that value. In the end this value is **not**  used  when passing back the result to the caller of `scipy.optimize.minimize()`.

**EXPECTATION**
I would expect that this best value i

[2021-11-23 20:28] h-vetinari commented on #14360
I can break it out into a separate PR, but since there was no reaction (other than a 👍) here, I felt like I need to give it a shot myself.

Well, this is what #15073 changes. And that's not a crazy fancy that I came up with, but it's a core design aspect of using `conftest.py`, that they can live on every level of the test suite hierarchy, and only get applied to the tests which lie below. In this

[2021-11-23 20:47] rgommers commented on #14360
Ah okay, that does sound reasonable - thanks for the explanation, let's leave that as is in your PR then @h-vetinari.

[2021-11-23 20:55] rgommers commented on #14360
I see a few more @Smit-create:
[code]
The ones that are easy to address by adding back a `.py` file which raises deprecation warnings are:
[code]
For the others:
- `interpolate.interpnd_info` has no functions in it without underscores, so no need to add anything back
- `generate_sparsetools` is a utility script that we shouldn't even install, so doesn't need to be dealt with
- `io.harwell_boeing.h

[2021-11-23 21:02] rgommers commented on #14360
For the second part, the `dir(modname)` bit is wrong @Smit-create - if you inspect the `cur_api.txt` file you'll see that what is stored there now is:
[code]
So what's going on there is that `modname` is a string rather than a module object, and hence `dir` gives all string methods. Can you try to fix that up? I expect there'll be a lot of things missing in `__all__` lists, because for the initial

[2021-11-23 22:22] roger- commented on #12809
Would love to see this get added at some point. What are the next steps?

[2021-11-23 23:10] rgommers commented on #15077
I retested and happened to build against OpenBLAS `0.3.15` - that results in a ton of `linalg` failures. We need at least `0.3.17`; conda-forge has `0.3.18`.

Results for the full test suite on `1.7.x`:

[code]

[2021-11-23 23:22] rgommers commented on #15077
Removing `error` from `pytest.ini` and setting `ISRELEASED = True`, the picture is much better:

[code]

Full tracebacks:

<details>

[code]

</details>

Skipping those should be fine.

[2021-11-24 01:00] #15077 closed

[2021-11-24 01:09] andyfaff commented on #15089
This problem is pathological, returning only two possible values. Nearly all the methods in `minimize` would have an issue with this problem because they're designed to use finite differences to figure out where an improved solution is. I would say that no minimiser would be able to solve this problem if you didn't start off at the best solution, because the equality comparison of floats would lea

[2021-11-24 01:17] andyfaff commented on #15089
Needs decision label because of the subtleties of returning the lowest found energy, as outlined in #12111.
E.g. the minimiser might evaluate fun-->jac-->fun, but the finite difference check in jac visits an `x` with a slightly lower `fun(x)` then the final fun. However, a tolerance might then be met (`fatol`, `frtol`), so the final `x` isn't iterated further. Hence the best `x` isn't reported, bu

[2021-11-24 01:42] ilayn commented on #12838
I forgot to ping the kind folks on this issue for the PR should they wish to test it for themselves 😉 It's linked above. Any feedback welcome.

[2021-11-24 08:19] pontsm opened #15091 "BUG: Implementation of Bessel Functions in Scipy"
### Describe your issue.

According to the documentation in scipy, the spherical bessel function (https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.spherical_jn.html#r1a410864550e-3)
is implemented using a recursion relation provided in the documentation:
(https://dlmf.nist.gov/10.51#E1)

However, there are two issues I seem to have with this:

1) The documentation says that for a

[2021-11-24 09:49] tupui commented on #15089
I understand your arguments, still we could store this information somewhere. If a solver found a better solution (which respects any constraints, tol, etc.) during an intermediary step, it would not be hard to at least return it since we have a callback mechanism in place, no?

I agree that stopping or not the optimizer would not be trivial. But definitely something we should consider. There is r

[2021-11-24 10:24] tupui commented on #15091
Hi! Maybe having a look at the tests and implementation could give you some insights? https://github.com/scipy/scipy/blob/57bf4d674c6d31ce5e070498c8cbdc0f2ea8c8d6/scipy/special/tests/test_spherical_bessel.py#L14
https://github.com/scipy/scipy/blob/master/scipy/special/_spherical_bessel.pxd

[2021-11-24 14:11] TomDeWeer opened #15093 "BUG: scipy.optimize's trust-constr algorithm hangs when keep-feasible constraint is active at x0"
### Describe your issue.

Scipy.optimize's trust-region constrained algorithm fails to find an optimum when the initial solution x0 lies exactly on the constraint boundary, but only when that constraint is set to "keep-feasible". Instead of converging, the solution is kept at x0.

The reason lies in the barrier subproblem (tr_interior_point.py, lines 92-95):
s[self.enforce_feasibility] = -c_ineq[s

[2021-11-24 14:13] roryyorke commented on #15072
This is a dupe of gh-13529, though this report is better since it has a motivating example.

I tested with a hacked version of `decimate` that uses `sosfilt` instead of `lfilter`, and the NaNs disappear.

This should be fixed by gh-14371, though that PR seems to be stalled.

[2021-11-24 16:07] EfremBraun opened #15094 "BUG: find_peaks_cwt `wavelet` parameter needs more parameters than described in docs"
### Describe your issue.

Per the docs:
[code]

However, when I put in my own wavelet, it also needs a `window_size` parameter. The shim introduced in fd966a4 where the `window_size`parameter is used just for the ricker wavelet may need to be done for other wavelets too (or maybe there's a better way to fix this).

Maybe related to #12739.

### Reproducing Code Example

[code]

### Error message

[2021-11-24 18:31] baccandr commented on #14002
@rgommers this doesn't seem to be an issue related to the usage of  ```pip install scipy ``` . I get the same error message when creating a new environment with python 3.8 and a full anaconda distribution. However, everything works fine when installing only scipy or with a different python version (I tried only with 3.9).

**Reproducing code example:**

[code]

**Error message**
[code]

[2021-11-24 23:25] sunilshah commented on #14688
1.7.3 wheel slows down my performance on M1 to the same as reported on Conda-forge 1.7.2.  So, whatever was done does considerably worsens the performance.

On 1.7.3 scipy wheel for PyPI

[code]

Downgrading back  to  1.7.2,

[code]

[2021-11-24 23:26] sunilshah commented on #15050
On Apple M1 on my configuration, installing the new scipy wheel for M1 from PyPI slows down performance considerably.  In effect it makes it as bad as the one reported for 1.7.2 for Conda-forge.

Not that my configuration is a reported in #14688. MAC OS 12.0.1, homebrew installed python3 (3.9.9),

I removed 1.7.3 after testing it briefly and went back to 1.7.2.

[2021-11-24 23:46] h-vetinari commented on #15050
I saw just saw this because I was looking at the 1.7.3 [milestone](https://github.com/scipy/scipy/milestone/62), which should be empty now that 1.7.3 has been released.

In any case, with my conda-forge hat on, please let me know if there's anything that needs to be done on that side (though at first glance, this doesn't seem to be the case...?).

[2021-11-25 01:20] kcharlie2 commented on #15006
The default relative tolerance is 0.0, in which case only the first solution is needed when checking for convergence, not the second - the `np.isclose` comparison becomes strictly absolute since the newton iteration is searching for zeros. I'm not sure I understand see why there couldn't be a check for convergence after the first function evaluation when rtol=0.

As @tupui pointed out, I think the

[2021-11-25 07:40] Lena506 opened #15101 "BUG: binom.pmf - RuntimeWarning: divide by zero"
### Describe your issue.

Since installing scipy 1.7.0 with Python 3.10 I get a RuntimeWarning divide by zero encountered counducting the binom.pdf() procedure (see example). Working with scipy 1.6.3 and Python 3.9 I didn't get this warning. Because of that I pressume a connection with the new C++ _boost library which is now used for tests using the binomial distribution. In detail I found out the

[2021-11-25 08:07] tupui commented on #15006
Why not using a cache (LRU for instance) for your function? This way repeated calls would be free.

[2021-11-25 08:13] andyfaff commented on #15006
caching is not straightforward when a function argument is an array with floating point numbers. It is possible (e.g. joblib does this), but the cache lookup does add overhead. Still, if the function evaluation is very expensive then it may still be worth it.

@kcharlie2, if I understand correctly, you want a convergence check that will halt if it's within a set tolerance of zero?

[2021-11-25 12:29] tupui commented on #15006
Yes, it really depends on the problem. Even with complex inputs, you should be able to construct a custom hashing function.

[2021-11-25 15:52] ogrisel commented on #15050
@sunilshah compared to what? Building scipy from source yourself? If so against which OpenBLAS distribution did you link? The open from Homebrew?

[2021-11-25 16:18] psobolewskiPhD commented on #15050
I can confirm the performance issue from the OP still occurs with fresh conda env with the 1.7.3 wheel from pip
[code]
It does not occur with conda or self-build scipy (using homebrew OpenBLAS):
[code]

[2021-11-25 16:25] sunilshah commented on #15050
Slowdown is with respect to scipy 1.7.2 on my machine.

I posted the details on #14688 about my configuration upto scipy 1.7.2.  Note that for the 1.7.3 install, I did not use the flag --no-use-pep517.

On 1.7.3 scipy wheel for PyPI (%pip3 install -U scipy):

[code]

I made no changes to the linkages to OPENBLAS or OMP from the defaults in the wheels.  (no environment variables).  So if the wheel

[2021-11-25 16:26] ogrisel commented on #15050
@rgommers the `_distributor_init.py` did not make it into the final 1.7.3 wheel for macos/arm64:

[code]

[2021-11-25 16:27] ogrisel commented on #15050
My question was how did you install 1.7.2 before since there weren't any `macos/arm64` wheels on pypi.org for 1.7.2.

[2021-11-25 16:29] sunilshah commented on #15050
For scipy 1.7.2 I had used

[code]

[2021-11-25 16:31] ogrisel commented on #15050
But that built scipy from source right? How did you install OpenBLAS in this case? You can introspect with `python -m threadpoolctl scipy.linalg`.

[2021-11-25 16:35] ogrisel commented on #15050
Ok so you built a scipy 1.7.2 from source that linked against an OpenBLAS lib installed separately with homebrew.

The performance problem is probably coming from the fact that their was a packaging problem that append when generating the 1.7.3 wheels for macos/arm64 as explained in https://github.com/scipy/scipy/issues/15050#issuecomment-979342225.

[2021-11-25 16:37] ogrisel commented on #15050
It's interesting to notice that OpenBLAS from homebrew that is using OpenMP as its threading layer does not suffer from the slowdown. I don't know why it's the case.

[2021-11-25 16:37] sunilshah commented on #15050
Sorry, I did not bother to replicate what I had on my configuration from what I had in #14688.

[2021-11-25 16:41] sunilshah commented on #15050
This was exactly why I was worried about degrading performance with the new version of the wheel in my comment in #14688.

[2021-11-25 16:54] ogrisel commented on #15050
My point is that if you want to upgrade to 1.7.3 while still linking to your OpenBLAS from homebrew, you can still build from source:

[code]

you do not need to downgrade, just avoid installing the faulty wheel file.

[2021-11-25 17:00] sunilshah commented on #15050
Did you mean  ```--no-binary``` rather than ``` --no-use-wheel``` ?

[2021-11-25 17:00] ogrisel commented on #15050
Maybe `--no-binary :all:` I am not sure :)

[2021-11-25 17:23] peterbell10 commented on #10239
The problem is not that you can't use `llvm-openmp`; it's that you need to be able to guarantee no user at runtime will end up running `libgomp`. On PyTorch for example, we've had some bug reports that depend on whether `import numpy` or `import torch` happens first because on some environments you end up using a different version of OpenMP.

[2021-11-25 17:53] sunilshah commented on #15050
Did not succeed to build from source trying different options for ```--no-binary``` .    Reverted back to 1.7.2 for now.

[2021-11-25 21:28] #14830 closed

[2021-11-26 02:30] johnsmorgan opened #15103 "BUG: scipy.stats.chi.mean returns nan for large df due to use of scipy.special.gamma"
### Describe your issue.

For large numbers of degrees of freedom (above around 330 on my machine), scipy.stats.chi.mean (or calculating the mean via scipy.chi.stats) returns NaN, triggering a RuntimeWarning. This appears to be due to scipy.special.gamma returning 'inf' and appears to be easily fixable by substituting scipy.special.gammaln as demonstrated below. For the cases where scipy.stats.chi

[2021-11-26 04:22] mdhaber commented on #15103
This occurs on master, too.

[2021-11-26 07:25] sandeep-gh commented on #14971
closing this as the issue is passed the raised concern.

[2021-11-26 07:25] #14971 closed

[2021-11-26 10:01] OndrejKutal opened #15104 "BUG: Possible memory leaks in signal.welch?"
### Describe your issue.

When invoking welch on different sized data, it seems memory leaks are introduced even when the result of welch call is not stored in any variables and gc is collected afterwards. The data I feed into welch in the example below are just the original data with 1 byte removed (no copies), to ensure the input size is different. It also seems that after several cycles the mem

[2021-11-26 12:07] sandeep-gh commented on #14364
What is the status of this bug? I compiled  scipy with numpy 1.21.4 using following command
``python3 -m pip install -vv  --no-build-isolation  scipy```.
I get the same error, even though it was claimed in numpy github issue that this has been fixed in 1.21.4.

[2021-11-26 12:16] dimpase commented on #14364
If you still can reproduce https://github.com/numpy/numpy/issues/19437 then it's numpy's issue (note that https://github.com/numpy/numpy/issues/19437 is still marked as open).

[2021-11-26 12:20] dimpase commented on #14971
RPi4 is capable of running a 64-bit OS, it's a 64-bit CPU. It's true that its own RPi OS (a clone of ubunty or debian) is still 32-bit (they have an experimental 64-bit version).

[2021-11-26 13:17] tupui commented on #14971
Yes model for is: Broadcom BCM2711, Quad core Cortex-A72 (ARM v8) 64-bit SoC @ 1.5GHz

[2021-11-26 13:53] rgommers commented on #14002
@baccandr can you try if `export CONDA_DLL_SEARCH_MODIFICATION_ENABLE=1` fixes this for you?

xref https://github.com/scipy/scipy/issues/11062#issuecomment-912921620, seems related (but not identical).

[2021-11-26 13:53] rgommers commented on #14002
And I assume that's not specific to scipy `1.6.3`, on defaults you should be getting `1.7.2` now.

[2021-11-26 16:40] mdhaber commented on #15103
@johnsmorgan are you interested in submitting a PR?

[2021-11-26 19:14] Smit-create commented on #14360
Yes, you are right.

I updated the files [check_save_api.py](https://gist.github.com/Smit-create/8233e265bb7107ddd891e8338f7fd76a) and [compare.py](https://gist.github.com/Smit-create/f7d640dc1b1be2d1f16029984ff4979b)

Again, I followed these steps:

1. Ran [check_save_api.py](https://gist.github.com/Smit-create/8233e265bb7107ddd891e8338f7fd76a) for both the versions and saved the results into two

[2021-11-27 03:41] sandeep-gh commented on #14364
My bad. I can reproduce this issue with numpy.

[2021-11-27 06:40] NamamiShanker commented on #15082
Can I make a PR if @mikewojnowicz doesn't want to work on this?

[2021-11-27 07:00] NamamiShanker commented on #15103
@mdhaber can I submit a PR if @johnsmorgan doesn't want to work on this?

[2021-11-27 08:00] johnsmorgan commented on #15103
@mdhaber I'm afraid I don't have time to work on this right now.

[2021-11-27 12:08] WarrenWeckesser opened #15108 "BUG: Seg. fault in scipy.sparse.linalg tests in PROPACK"
### Describe your issue.

The test `scipy.sparse.linalg.tests.test_propack::test_svdp` with parameters `which='LM'`, `irl=True`, `precision='complex8'` and `ctor=np.array` triggers a seg. fault.

E.g. (after installing the master branch with `pip install .`):

[code]
This short script also triggers the seg. fault:
[code]
This is on a Linux machine running PopOS 21.04

[code]

### Reproducing Code

[2021-11-27 12:42] NamamiShanker commented on #15103
I have submitted a P @mdhaber. Please review it.

[2021-11-27 14:54] OndrejKutal commented on #15104
Okay I did some more digging myself and found the following...

It is caused by internal caching in pocketfft, there are by default 16 caches for individual lengths. I made local build of the pocketftt where i set `#define POCKETFFT_CACHE_SIZE 0` and it solved my problem. It would be nice to have a solution without local hacks though...

After searching I found that the version of pocketfft used i

[2021-11-27 14:55] tylerjereddy commented on #15050
@ogrisel @rgommers hmm really? I backported the approved change that was supposed to do that. If this is true I'd be inclined to add a CI test that checks for the proper inclusion in wheels repo then.

[2021-11-27 15:17] mreineck commented on #15104
There is PR #12307, but the case for disabling FFT caches doesn't seem strong enough.

(In my successor library, I have actually recently re-enabled caching, but only because there the cache size could be reduced from `O(n)` to `O(sqrt(n))`).

[2021-11-27 15:56] fehiepsi opened #15110 "BUG: truncnorm.cdf returns incorrect values"
### Describe your issue.

The truncated normal distribution cdf method returns incorrect values when truncated boundaries lie at tail.

### Reproducing Code Example

[code]
[code]

### SciPy/NumPy/Python version information

1.7.3 1.21.4 sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

[2021-11-28 02:34] tylerjereddy commented on #15050
Ok, my draft PR (https://github.com/MacPython/scipy-wheels/pull/151) has a test that seems to correctly detect the issue for MacOS now:

[code]

I still need to see if it behaves "ok" for other platforms/matrix entries. Once it does, applying the "actual fix" to include the correct distribution file should allow that test to pass.

[2021-11-28 03:29] isuruf commented on #15050
https://github.com/MacPython/scipy-wheels/blob/58e0b1dde52fa197bc2bc4b031eadfe5ddfa3532/patch_code.sh#L16 needs another `scipy` there. `cp _distributor_init.py scipy/scipy/_distributor_init.py`

[2021-11-28 11:45] rgommers commented on #15050
Indeed, that was the issue - plus a "get this done before going offline for several days, so I didn't get a chance to test the pre-release wheels.

The fix here should be to upload new macOS `arm64` wheels for `1.7.3` with a name that adds a build number of `1`. We don't need a new release.

[2021-11-28 12:36] paulduf commented on #14394
Hello, I'm running into the same issue (I need to get the lagrange multipliers from the slsqp routine to identify active constraints in the KKT equation). There is also [this old mail sequence](https://mail.python.org/pipermail/scipy-user/2010-March/024487.html) where Guilherme P. de Freitas already noticed the Lagrange multipliers are not very accurate. I don't really know what these multipliers

[2021-11-28 14:41] charris commented on #15050
That's good as long as you don't need to update the source distribution.

[2021-11-28 15:20] pontsm commented on #15091
Thanks for the answer. I checked it out but it doesn't give any more information regarding the problem.

In any text I can find there is no restriction on order or argument for which the recursion relation holds.
So as far as I can see the recurrence relation has to hold for every order and every argument.

However, as can be seen from my code example, if I implement the recursion relation, the va

[2021-11-28 15:50] pontsm commented on #15091
Also, the documentation talks about the "definitional relation to the cylindrical Bessel functions"

(https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.spherical_jn.html#scipy.special.spherical_jn)

However, I cannot find any reference anywhere to "cylindrical" Bessel functions or a "definitional" relation.

[2021-11-28 17:46] rgommers commented on #15050
Indeed we don't, it's a small fix in the `scipy-wheels` repo only.

[2021-11-28 18:52] rgommers commented on #14360
That output looks good to me now, thanks @Smit-create.

[2021-11-28 19:01] WarrenWeckesser commented on #15110
The problem is in the master branch, too:
[code]

I just added an implementation of several methods for the truncated standard normal distribution to [`mpsci`](https://github.com/WarrenWeckesser/mpsci), which can be used to compute the expected value:
[code]
I'm working on an overhaul of `truncnorm` (originally in https://github.com/scipy/scipy/pull/13164) that should fix this issue, and fix the s

[2021-11-28 19:13] #15103 closed

[2021-11-28 19:14] mdhaber commented on #15108
@mckib2 did we see this before?

[2021-11-28 23:21] andyfaff commented on #14394
The project welcomes pull requests to add such functionality. Open source projects are always on the lookout for additional skilled people to effect change. For my part, although I contribute to `optimize` a lot, I don't have a grounding in the maths behind Lagrange multipliers + KKT conditions, so it's harder for me to make that change. If you have that knowledge it would be great to receive a PR

[2021-11-28 23:29] WarrenWeckesser commented on #4945
This suggestion didn't go anywhere, and there hasn't been any demand for this since 2015, so closing.  If there is interest in extending our collection of special matrices in the future, new issues containing the enhancement requests can be created.

[2021-11-28 23:29] #4945 closed

[2021-11-29 02:38] tylerjereddy commented on #15050
Hi again, the new wheels for `1.7.3` MacOS arm64 have been uploaded--it would be great to get confirmation that things are looking better performance-wise with these new binaries, which should now be automatically preferred by `pip`.

For consistency with our normal security/hash disclosure practices:

- `scipy-1.7.3-1-cp310-cp310-macosx_12_0_arm64.whl`
  - `sha256sum`: `c9e04d7e9b03a8a6ac2045f7c5

[2021-11-29 06:28] tirthasheshpatel commented on #15110
gh-14753 is a similar report that proposes to use minimax tiling to resolve the inaccurate tails issue of truncnorm.

[2021-11-29 06:28] NamamiShanker commented on #15103
Hey @mdhaber, I am looking for some beginner issues. Can you point out some to work on?

[2021-11-29 06:50] psobolewskiPhD commented on #15050
I can confirm using the new wheel
`Downloading scipy-1.7.3-1-cp39-cp39-macosx_12_0_arm64.whl (27.0 MB)`
In a fresh conda env on M1 macOS 12 fixes the performance issue:
[code]

[2021-11-29 07:13] zhaog6 opened #15115 "BUG: An issue with using the command line `python runtests.py -s sparse`"
### Describe your issue.

Dear all, I recently updated SciPy  on my laptop and use `python runtests.py -s sparse` to test the modified codes of the sparse module. But I encounter an issue. It reports the following error
[code]
and then I run the command line `git submodule update --init` again, but it still reports this error and specific details as "Error message". Could anyone help me solve it?

[2021-11-29 08:00] andyfaff commented on #15115
Do you have the followng directory in your scipy repository: `scipy/sparse/linalg/_propack/PROPACK`?

[2021-11-29 09:12] stla opened #15116 "Owen Q-function in scipy"
### Is your feature request related to a problem? Please describe.

Hello,

  I have implemented the [Owen Q-function](https://gist.github.com/stla/55d9ff60ab9b06eafedf403734b31684) in Python, using `scipy`. Are you interested in a PR? This function is important in statistics because it allows to calculate the power of an equivalence test (see the [vignettes here](https://cran.r-project.org/web/pa

[2021-11-29 10:35] stla opened #15117 "BUG: owens_t(h, infinity) is not correct"
### Describe your issue.

Hello,

 `owens_t(0, inf)` gives `0.5`. However `owens_t(a, inf)` is `atan(a)/(2*pi)` , so  `owens_t(0, inf)` shoud give `0.25`.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

scipy 1.7.1, python 3.9.5

[2021-11-29 10:43] ogrisel commented on #15050
Confirmed!

[2021-11-29 11:03] zhaog6 commented on #15115
Yes, the `PROPACK` exists, but only `.git` in `PROPACK`.

[2021-11-29 11:13] andyfaff commented on #15115
How about `git submodule init; git submodule update`?

[2021-11-29 11:19] stla commented on #15117
I think the general formula for `T(h, Inf)` is `0.5 - norm.cdf(h)/2`.

[2021-11-29 11:25] zhaog6 commented on #15115
The command line indeed grab the files, and I use the command line `git submodule init; git submodule update` again, the output is as follow
![2021-11-29 19-22-17 的屏幕截图](https://user-images.githubusercontent.com/31978442/143859611-54d7ad9f-57fa-4a08-908e-aed9dfa200d2.png)

[2021-11-29 11:33] andyfaff commented on #15115
So are the files there now?

[2021-11-29 11:37] zhaog6 commented on #15115
Still only `.git` exists in `PROPACK`.

[2021-11-29 11:38] zhaog6 commented on #15115
I try it on my laptop, server respectively, there seems to be this problem.

[2021-11-29 11:45] zhaog6 commented on #15115
My system is Ubuntu 20.04.3.

[2021-11-29 13:56] jcstudio-jeff-chen commented on #14834
Sure, I originally think it will cost near zero time since it is only checking the shape is square or not. If it will add even 0.1% of the time in normal use cases, then don't do it.

[2021-11-29 15:25] ricardpicas opened #15118 "ENH: TransferFunction normalize should be optional"
### Is your feature request related to a problem? Please describe.

Hello,

I'm calculating control models using scipy.signal.TransferFunction. After connecting multiple in-series filters, the coefficients of my resulting TransferFunction numerator have values below 1e-14. Due to the "normalize" function included in the __init__ of the TransferFunction all except one of my coefficients are elimina

[2021-11-29 15:28] tupui commented on #15116
Hi @stla, thanks for the proposal. Before going further. I see that you are the author of the R package you linked. For inclusion in SciPy, you would need to re-license explicitly your work to a [BSD 3 clauses](https://github.com/scipy/scipy/blob/master/LICENSE.txt). Is that ok?

[2021-11-29 19:10] mikewojnowicz commented on #15082
@NamamiShanker  Go for it.  I'm recovering from a bike accident so bandwidth is poor right now.

[2021-11-29 20:04] tupui commented on #15082
Really sorry to read that. Hope you recover soon.

[2021-11-29 20:59] tupui commented on #15115
@zhaog6 The submodule is not defined there but in the main folder under `scipy/.gitmodules`. Can you try to do the submodule initialization at the root of SciPy?

[2021-11-30 00:48] johnsmorgan commented on #15103
I'll defer to @mdhaber as I'm just an end user, and I'm not familiar with the scipy code base, but perhaps it would be worth auditing `scipy.stats` for other places where `gammaln` might be more appropriate than `gamma`. The gamma function can easily return very extreme values (it gives (x-1)! for integer values) and is very widely used in probability functions. It might be possible that there are

[2021-11-30 00:48] zhaog6 commented on #15115
There is still this problem, the output is as follows
![Uploading 2021-11-30 08-46-07 的屏幕截图.png…]()

[2021-11-30 00:58] mdhaber commented on #15103
Sure. I'm sure there are many places that already use `gammaln`, but I'm also sure there are several that still don't. It doesn't sound like a bad idea to look for these systematically; we just need to be careful that a "fix" doesn't introduce new problems.

[2021-11-30 01:03] andyfaff commented on #15115
Maybe something is wrong with your git setup. The following demonstrates that my suggestion works:
[code]

[2021-11-30 01:08] zhaog6 commented on #15115
I reinstall scipy and track the outputs.

[2021-11-30 01:53] sunilshah commented on #15050
I did manage to install scipy 1.7.3-1  using pip on my M1.  OpenBLAS and python3  are installed using Homebrew.

Slowdown seen in 1.7.3 with more threads is no longer there.   There is a mild slowdown after the threadcount goes above 5.

[code]

[2021-11-30 02:21] zhaog6 commented on #15115
@andyfaff Everything is normal on my macOS 12.0.1 platform, but on my Ubuntu 20.04.3, it still reports the error. I don't know if it is a problem caused by networks or different operating system platform

[2021-11-30 02:24] zhaog6 commented on #15115
I use docker image and container, on Ubuntu 20.04, This problem always seems to arise.

[2021-11-30 02:30] andyfaff commented on #15115
Is the git version a lot older on Ubuntu? Anyway, could you just mount the scipy directory as a virtual directory in the docker container?

[2021-11-30 02:31] andyfaff commented on #15115
I don't really think this is ultimately a scipy issue though.

[2021-11-30 02:40] zhaog6 commented on #15115
My git version is 2.25.1, I feel it may be networks, but the problem has puzzled me for weeks. I also try reinstall operating system, venv, scipy etc, even install and use scipy in docker container, but the problem always occur.

[2021-11-30 02:43] zhaog6 commented on #15115
This error has never happened before on Ubuntu 20.04, it's a little strange

[2021-11-30 03:14] #8054 closed

[2021-11-30 03:15] #12309 closed

[2021-11-30 03:53] zhaog6 commented on #15115
I resolved the problem, it is indeed affected by my networks environment. To avoid it, I used `git clone https://github.com/scipy/unuran` in `scipy/scipy/_lib/` and `git clone https://github.com/scipy/PROPACK` in `_propack/` to download `unuran` and `PROPACK` respectively after makeing `git submodule update --init`. Thanks @andyfaff and @tupui for your reminders and suggestions.

[2021-11-30 05:08] rgommers commented on #15050
Thanks for the confirmations everyone. Let's call this good and close the issue. For the potential longer-term changes discussed around https://github.com/scipy/scipy/issues/15050#issuecomment-975318631, let's open a separate issue (I can do that now).

It would still be good to obtain a more fundamental explanation of what is going wrong at the OS level (and hopefully it's something Apple can mak

[2021-11-30 05:08] #15050 closed

[2021-11-30 05:25] #14910 closed

[2021-11-30 05:39] rgommers commented on #14360
The last fixes went in in gh-15105, this is all done now so I'll close the issue. Thanks @Smit-create, @czgdp1807, and everyone else who helped with this!

[2021-11-30 05:52] #14551 closed

[2021-11-30 06:02] mattip opened #15121 "On PyPy + windows, complex quadpack seem inconsistent"
xref conda-forge/scipy-feedstock#196

There are 144 test failures when I try to build scipy 1.7.2 and 1.7.0 with PyPy3.7 on windows. The all are in the `TestStudentizedRange.test_pdf_against_mp` tests and look like the the failure below. The test warns `IntegrationWarning: The occurrence of roundoff error is detected, which prevents the requested tolerance from being achieved.  The error may be un

[2021-11-30 06:20] ev-br commented on #14531
Detaching the milestone, this is not releasr-critical.If a fix arrives, we'll review it though.

[2021-11-30 06:22] mdhaber commented on #15121
@swallan @DominicChm can you try out PyPy sometime to see if you can reproduce this? I wonder if it can be solved easily with a change of tolerances.
Otherwise, I think we'd need to dig into what quadpack means when it detects roundoff error.

[2021-11-30 06:25] #11452 closed

[2021-11-30 06:38] #15115 closed

[2021-11-30 07:23] paulduf commented on #14394
I agree with you and I plan to further inspect the Lagrange multipliers returned by the Fortran code. Let me just clarify this:

First, this requires the user to define a threshold under which a constraint is considered active. Moreover, using the Lagrange multipliers, we can obtain the _strictly_ active set at `x`, that is the set of constraints associated with a strictly positive Lagrange multip

[2021-11-30 07:57] mattip commented on #15121
fwiw, the steps I use after downloading and expanding https://downloads.python.org/pypy/pypy3.7-v7.3.7-win64.zip are (I think I recreated it all)
[code]

[2021-11-30 08:10] shikari8 opened #15124 "BUG: radius of trust region in 'trust-constr' gets bigger"
### Describe your issue.

I was checking 'trust-constr' following the official[ documentation](https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html) but encountered the following problem. No matter which type of constraints from the tutorial I use with the Rosenbrock function (code from the tutorial), the trust radius is getting bigger, which is wrong. The optimal point is correct, th

[2021-11-30 08:11] #14710 closed

[2021-11-30 08:24] DominicChm commented on #15121
I'll take a look into it and see if I can replicate. I have some ideas on how to fix this if the problem turns out to be bad PDF behavior at high values like I suspect.

[2021-11-30 08:44] mattip commented on #15121
Thanks. I am curious why PyPy fails where CPython succeeds. Also: I forgot from the installations above to use choco as admin to install mingw (for gfortran)

[2021-11-30 09:09] tupui opened #15125 "Deprecate `scipy.spatial.distance.kulsinski`"
`kulsinski` has been superseded by `kulczynski1` in #14588.

As per https://github.com/scipy/scipy/issues/2009#issuecomment-898674427_, we should deprecate `kulsinski` starting with 1.9.

[2021-11-30 09:34] ankushbhatia2 commented on #15117
Hi, If it's open can i work on it?

[2021-11-30 10:55] siddharthpaliwal commented on #15101
Can replicate and confirm the issue with scipy=1.7.3 as well.
Although the warning does not lead to any error in the calculation of the pmf. The example below results in the two calculations (first with scipy.stats.binom Warning and second with a more direct calculation) to be within tolerance.

### Code (compare with alternate calculation)
[code]

### Output
[code]

### SciPy/NumPy/Python version

[2021-11-30 13:20] techkuz commented on #13102
update pip

[2021-11-30 15:37] chsher opened #15128 "scipy.integrate.solve_ivp runtime event"
I would like to include an event in my ODE solver that requires the solver to terminate after it has been running for 60 seconds. However, when I include the below event function, I receive an error:

Do you know why this may be happening and how to remedy it?

[code]

![image](https://user-images.githubusercontent.com/23045343/144078117-96118292-8247-4982-a757-a9ada4bf6230.png)

[2021-11-30 15:37] rgommers opened #15129 "Consider unifying the two OpenBLAS libraries in NumPy and SciPy wheels"
This is a follow up to gh-15050, which describes a performance issue on arm64 macOS due to having two OpenBLAS libraries present. In the `arm64` wheels for SciPy `1.7.3`, that was fixed by setting a single environment variable (`OPENBLAS_THREAD_TIMEOUT`) in `_distributor_init.py`.

That may not be the optimal long-term fix, and scikit-learn has seen a similar issue on Linux when two OpenMP runtime

[2021-11-30 15:38] Smit-create commented on #13582
Hi @mdhaber ,

Using the following diff:

[code]

I get these results:

[code]
Any suggestions to improve or this works well?

[2021-11-30 17:15] tupui commented on #15128
Hi @chsher. Please note that this is not a user forum but a bug/enhancement reporting platform. We don't have the necessary bandwidth to address questions.

If after asking on StackOverflow or the mailing list there is indeed a bug, we would be happy to have a look.

[2021-11-30 17:15] #15128 closed

[2021-11-30 18:15] stla opened #15131 "Complex multivariate Gamma function"
### Is your feature request related to a problem? Please describe.

FYI, you have everything needed in `scipy` to define the complex multivariate Gamma function (strange name cause it is not multivariate):

[code]

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2021-11-30 18:56] IshkMagar opened #15132 "I have a real recorded signal in the .wav file. I want to find the start and end time of data processing."
### Is your feature request related to a problem? Please describe.

I have a real recorded signal in the .wav file. I want to find the start and end time or just the start time of data processing in the signal. I have a noisy real signal that is flowing on the air recorded in the .wav file. There is a way to find the start and end times of voice signal processing. I want to use the same idea for r

[2021-11-30 19:50] #13404 closed

[2021-11-30 20:08] ynad93 opened #15133 "BUG: Log_norm description is incorrect and produces incorrect results if interpreted literally"
### Describe your issue.

Hello! In scipy.stats, the LogNorm distribution claims that "mu" is the mean... it is totally wrong. The "scale" parameter is the median and the "s" parameter behaves exactly as defined on the Wikipedia LogNorm page. This is only form testing and using the lognorm.rvs() function for astrophysical research

### Reproducing Code Example

[code]

### Error message

[code]

#

[2021-11-30 20:30] rkern commented on #15133
The docstring does not claim that `mu` is the mean of the log-normal distribution.

[code]

`mu` is described as the mean of the "normally distributed random variable ``X`` such that exp(X) = Y"

[2021-11-30 20:55] rkern commented on #15133
It's certainly likely that a rephrasing of that sentence could be clearer. Perhaps introducing the normally-distributed `X` random variable and its transformation to `Y` first, then talking about the mean and standard deviation of `X`.

[2021-11-30 21:07] endolith commented on #15121
Some flaky false positive test failures here:

https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=15083&view=logs&j=e3555eda-5afc-5d78-d2e9-cf9756f98375&t=220e105d-2d02-5073-9f3b-414490a3ddd5

- `test_moment_against_mp`
- `test_methods_with_lists`
- `test_moment_vectorization`

Should this be a separate Issue or is it the same one?

[2021-11-30 21:26] tupui commented on #15132
Hi @IshkMagar. Sorry but we don't have the bandwidth to answer user questions. Issues are only for feature requests or bug. Please ask your question on the user mailing list or other forums like StackOverflow.

[2021-11-30 21:26] #15132 closed

[2021-11-30 22:03] #5668 closed

[2021-11-30 22:26] DominicChm commented on #15121
@endolith Good chance those are related. All those tests ultimately rely on the PDF, which seems to be the main issue here. I'd think the same failure, but possibly with different root causes.

[2021-12-01 03:39] #7462 closed

[2021-12-01 03:39] #8162 closed

[2021-12-01 03:39] #14497 closed

[2021-12-01 03:53] zhaog6 commented on #13937
Dear @nschloe @tupui @AtsushiSakai ,
Let me explain it. There are two difference.
1. GMRES has an initial residual output 10.0 in your case but MINRES hasn't it because the `callback` is called in a different location. In `minres.py`, `callback` does not calculate the initial residual norm, so the initial residual is lost.
2. GMRES in SciPy is a restart GMRES method, it means that the method has i

[2021-12-01 05:24] mckib2 commented on #12809
Just checked, the README does say the code in that repo can be distributed/used under the MIT license, so we can reference and use it.  Might want to contact the repo owner there to suggest they add the license to the project instead of just a note in the README

[2021-12-01 05:35] mckib2 commented on #15108
I recall we had issues with PROPACK when using the complex-valued variants on 32-bit systems.  Is this related to that limitation?

[2021-12-01 07:45] h-vetinari opened #15136 "ENH: Bump boost.math version"
Breaking this out into a separate issue since the [comment](https://github.com/scipy/scipy/pull/13347#issuecomment-983295894) might otherwise easily get lost in a superseded PR:

In particular, now that the follow-up #15066 was merged, it's possible for SciPy to use C++14, which was probably the limiting factor for progressing further with boost?

[2021-12-01 07:53] h-vetinari commented on #15136
On the other hand, looking at the current status of the submodule in [`scipy/_lib`](https://github.com/scipy/scipy/tree/master/scipy/_lib), it looks from https://github.com/scipy/scipy/commit/5bbd0a26dbfd340816b48a236c8a9af6d4b34457 like we might need GCC 7.1, which is still gonna take a while...?

[2021-12-01 15:12] geekoffense commented on #14002
Seeing the same issue with scipy versions 1.6.2, 1.6.3, 1.7.1, 1.7.2 and 1.7.3.

[2021-12-01 15:29] Marjaneh-T commented on #11818
Same hare.....

[2021-12-01 17:27] rgommers commented on #14002
Thanks @geekoffense. This is being reported often enough that I will reopen the issue. What I do need is more information, because it's not possible to figure out the problem otherwise. Questions to answer:
- How did you install Python?
- How did you install SciPy?
- Output of `conda list`
- If you're seeing the `FileNotFoundError`, does it go away if you do `export CONDA_DLL_SEARCH_MODIFICATION_E

[2021-12-01 18:44] #11699 closed

[2021-12-01 19:08] deepakdinesh1123 commented on #15125
Can I work on this issue?

[2021-12-01 19:52] tupui commented on #15125
Hi @deepakdinesh1123 thanks for the proposal. You can start but we need to wait for the branching for SciPy 1.8. It should happen next week.

[2021-12-02 03:29] #14425 closed

[2021-12-02 03:36] tylerjereddy commented on #14221
@WarrenWeckesser @mdhaber I've added a needs-decision label here--appears to be blocking gh-13572

[2021-12-02 05:48] LilithHafner commented on #12016
Still getting this issue
https://github.com/LilithHafner/UpdateJulia.jl/actions/runs/1529228017/attempts/2

[2021-12-02 07:40] NamamiShanker commented on #15117
Hey @ankushbhatia2, I was already working on this issue.

[2021-12-02 07:49] geekoffense commented on #14002
Hi,

I'm using Anaconda 2021.05. Then built an environment from that, added some more libraries to it. Ran conda update --all in that new environment. This gave me scipy 1.7.3. I've then read about the downgrade solution of scipy to 1.6.2 that people were suggesting. Still couldn't import scipy in my new anaconda env. Then I noticed, that I had 1.6.2 in my base anaconda env which I downloaded from

[2021-12-02 07:52] NamamiShanker commented on #15117
So far, I have been able to identify that problem occurs when
https://github.com/scipy/scipy/blob/c0815e3b50f8e0a639cf4cb093db27606934ca9e/scipy/special/cephes/owens_t.c#L334-L337
is executed. There is probably something wrong with the implementation of the owens_t_norm2 function because it returns twice the actual result when compared with Wolfram's result. I am looking into what is wrong with th

[2021-12-02 08:46] NamamiShanker commented on #15117
Hey @tupui, I am a bit confused. There is a C implementation and an 'hpp' implementation of owens_t at respective paths.

https://github.com/scipy/scipy/blob/master/scipy/special/cephes/owens_t.c

https://github.com/scipy/boost-headers-only/blob/2110ce20e59917b85b12059b3ddd8b133549f662/boost/math/special_functions/owens_t.hpp

Which one does scipy use?

[2021-12-02 09:15] #14607 closed

[2021-12-02 09:47] tupui commented on #15117
It's not my area, but I would guess the `cephes` one is used since it's in `scipy.special`. We just added boost support.

As for working on things, we don't assign issues and you are free to work together of course 😃 We just try to not have competing PRs to avoid everyone losing their time.

[2021-12-02 15:22] peterbell10 commented on #14758
`uarray` has got an internal `determine_backend` function which uses `__ua_convert__` to figure out which backend will accept input of the given type. I think this should roughly achieve what you're after:
[code]

One major problem though is that SciPy's backend doesn't implement `__ua_convert__`, so `determine_backend` will never pick it even if dispatch might.

[2021-12-02 15:49] mdhaber commented on #14221
@Kai-Striega @tupui @tirthasheshpatel thought you might have an opinion here that could help make the decision?

[2021-12-02 16:01] rileyjmurray opened #15145 "DOC: complex conjugation in BLAS functions"
### Is your feature request related to a problem? Please describe.

I have a very large complex array ``A`` and I want to apply its adjoint (conjugate transpose) to a vector ``y``. If I use ``A.conj().T @ y`` then ``A.conj()`` is allocated explicitly.  That consumes too much memory. It's possible to bypass allocation by calling ``scipy.linalg.blas.zgemv(1.0, A, y, trans=2)``.

The trouble is: the

[2021-12-02 16:20] jvavrek opened #15146 "ENH: interp1d should be able to perform interpolation in log space"
### Is your feature request related to a problem? Please describe.

If (x, y) data looks linear on a log-log plot it is often more appropriate to perform 1D linear interpolation on the log-scaled (x, y) data and input x value.

### Describe the solution you'd like.

`scipy.interpolate.interp1d` should take two new kwargs, perhaps called `xspace` and `yspace`, that are either `"linear"` (default) o

[2021-12-02 16:44] Songda1020 commented on #14002
Hi,

My Python (version 3.8.3) was the installed along with Anaconda3 (version 1.8.0). My conda was recently updated to version 4.11.0, then tensorflow was installed.  Setting the variable CONDA_DLL_SEARCH_MODIFICATION_ENABLE works for python opened in cmd, but it does't for Python Console in Pycharm or for Jupyter Notebook. My conda list is shown as follows:

Name                    Version

[2021-12-02 17:46] ev-br commented on #15146
-1.
The need for something like this does arise quite often. However, I believe this should stay in userland. Whether to use np.interp (as in the SO example from the OP) or interp1d, as well as whether to use loglog or semilog scales (or some other nonlinear transform) is problem-dependent, and is best done in user code IMO.

[2021-12-02 20:02] tupui commented on #15146
Agreed, I am also -1. There are many cases to consider. We would need to really work on the API first.

[2021-12-02 21:16] ilayn commented on #15145
Hi @rileyjmurray The BLAS and LAPACK function in SciPy are python wrappers around the backend of your choice, MKL, OpenBLAS and so on. And historically the wrappers are used with integers instead of characters. So whatever option is on netlib side they are all counted as integers. It is unfortunately a bit late to do anything about it without breaking lots of code out there.  The surgery on the do

[2021-12-02 22:20] rileyjmurray commented on #15145
Thanks for the reply @ilayn! If I understand what you're saying, then my initial post saying "``trans=2`` is conjugate transpose" could potentially be incorrect for people who linked to different versions of BLAS?

[2021-12-02 22:31] tupui commented on #14221
Nice read, thanks @WarrenWeckesser. On my side I always found the nan policies confusing (as in it's an extra thing to think about). I think option 1 seems more natural to me. Otherwise I need to think at both arrays' NaNs to figure out what will happen and how the output would look like.

[2021-12-02 22:42] ogrisel commented on #15050
I have also observed that when I run the full scikit-learn test suite with pytest-xdist (`pytest -n 8 --pyargs sklearn`) when numpy and scipy are installed from the wheels, the total runtime is significantly slower than if numpy and scipy are installed from conda-forge.

I suspect some over-subscription problems between `pytest-xdist` and the 2 OpenBLAS runtimes of numpy and scipy but I am not yet

[2021-12-02 22:50] ilayn commented on #15145
Ah no, fortunately we are safe in that regard that BLAS functions are almost written on stone after decades of usage. What I meant is if a keyword has options `A, B, C` for some reason happened before I was around, they are counted as 0, 1, 2 and this happens quite a number of routines. And in some of them string chars are used literraly. So you are right that we are missing consistency across the

[2021-12-02 23:56] #15058 closed

[2021-12-03 04:44] #14332 closed

[2021-12-03 10:55] WZG3661 opened #15148 "BUG: least_squares cannot fit the correct result but leastsq can"
### Describe your issue.

when I test least_sqauls, I find that it can't fit the correct result, but leastsq can.
Sometimes least_sqauls can get right result, but when run multiple times,  always get wrong result.
But leastsq always can get the right result, is much more stable than least_sqauls.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version infor

[2021-12-03 11:20] NamamiShanker commented on #15117
@tupui when I am changing the 'cephes' owens_t function and entering 'conda develop .', the changes are not reflected in the functionality of imported scipy.special.owens_t function. Am I missing a step or something?

[2021-12-03 11:21] NamamiShanker commented on #15117
Hey @ankushbhatia2, would you like to work on this PR together. This issue is a bit challenging and I think both of us will benefit from fixing it.

[2021-12-03 12:19] tupui commented on #15117
@NamamiShanker did you recompile? Depending on how you built SciPy, you may have to do `python setup.py build_ext --inplace`

[2021-12-03 12:23] segasai opened #15150 "BUG: RBFInterpolator is much slower than Rbf for vector data"
### Describe your issue.

Hi,

In the past ve been using the old RBF interpolator (Rbf) to interpolate between vectors and since it didn't support the interpolation of vectors, but only scalars, I've had to manually extract the matrix of distances from the Rbf object (see code below). Since the new  RBFInterpolator now supports interpolation of vectors, I gave it a try and noticed that it is almos

[2021-12-03 12:39] melissawm commented on #15124
Hello, @shikari8 - I don't see a problem. In fact, as the algorithm approaches the solution, the trust-region radius will be increased with each successful step, so the output is correct.

[2021-12-03 12:54] deepakdinesh1123 commented on #15125
Thank you very much for giving me an opportunity to contribute.
So I should deprecate the method and refactor the code so that all occurrences of the kulsinski method are replaced by  kulczynski1 right?

[2021-12-03 13:12] tupui commented on #15125
Pleasure 😃. Yes that's what's need to be done. In the main init (and other places) there are examples of decorator usage on how to deprecate something.

[2021-12-03 14:40] roger- commented on #6299
Thanks for this, would be great to have it added to scipy.

[2021-12-03 15:15] rgommers commented on #15050
That was my conclusion in https://github.com/scipy/scipy/issues/14425#issuecomment-881951872 as well. On CI the optimal setting seems to be `OPENBLAS_NUM_THREADS='2'`.

[2021-12-03 15:37] rileyjmurray commented on #15145
Great. So, what are some possibilities for moving forward here? Is there a brute-force option where someone (e.g., me) could expands a couple dozen documentation files with a suitable phrase for complex conjugation? I'd suggest something like "Here, setting trans = 0, 1, 2 correspond to trans = 'N', 'T', 'H' in the Netlib LAPACK implementation." You seem to also suggest that modifying f2py might w

[2021-12-03 16:24] duetosymmetry opened #15151 "ENH: Add Legendre elliptic integral Pi"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

The Cephes library is missing the Legendre Pi elliptic integral.
As of 1.8.0, `scipy.special` will contain the Carlson symmetric elliptic integrals (R_{C,D,F,G,J}). Pi [can be implemented in terms of R_J](https://dlmf.nist.gov/19.25) and one or two other integrals, depending on

[2021-12-03 17:02] lobpcg opened #15152 "BUG: initial approximations to eigenvectors in svds should not be with all positive components"
### Describe your issue.

https://github.com/scipy/scipy/blob/master/scipy/sparse/linalg/_eigen/_svds.py at least in one place sets initial approximations to eigenvectors with all components random uniform on [0, 1]. This is a poor choice as common sense suggests that vectors with only positive components cover the positive quadrant only, not the whole vector space, are generally not so good to ap

[2021-12-03 17:35] SamRagusa opened #15153 "BUG: signal.resample: incorrect with `datetime[ns]` for `t` param"
### Describe your issue.

When using `scipy.signal.resample` with a `datetime[ns]` array given for the `t` parameter, the function doesn't resample the times correctly.

For example, the code I've provided for reproduction of this bug will take uniformly spaced datetimes, resample these datetimes (through the `t` parameter of the resample function), then prints the unique time differences in the r

[2021-12-03 18:30] WarrenWeckesser commented on #15108
I'm running 64 bit Linux.  My Python is a miniconda installation (i.e. "mini Anaconda").  NumPy is version 1.21.2, with MKL as the BLAS/LAPACK backend:
[code]
It turns out both `np.complex64` and `np.complex128` arrays cause a crash.  Here's another script that reproduces the crash.
[code]
If the dtype of `a` is `np.complex64`, `svds()` always triggers a seg. fault.  If the data type is `np.comple

[2021-12-03 19:14] WarrenWeckesser commented on #15108
Another data point: starting from a barebones miniconda, I installed all of SciPy's dependencies with pip, including numpy (which means I get the OpenBLAS backend), and I don't get the crashes.  So this might be a problem with Anaconda's numpy+MKL.
[code]
-----
Off topic: It would be nice to remove the spurious output ` UNVARIANT SUBSPACE, beta small`.

[2021-12-03 22:53] aserputov commented on #15148
Hey, @WZG3661
I want to work on this issue. Could you please assign me?

[2021-12-03 22:58] andyfaff commented on #15148
Feel free to investigate, there's no need to be assigned something to work on it.

[2021-12-04 04:39] roryyorke commented on #13922
Closed via gh-15085.

[2021-12-04 04:39] roryyorke commented on #14152
Closed via gh-15085.

[2021-12-04 04:44] Martin20494 opened #15156 "Error: " OverflowError: Too many data points to interpolate ""
### Describe your issue.

I am trying to use scipy.interpolate.interp2d and I have the error "OverflowError: Too many data points to interpolate". Due to the confidentality, I cannot provide the real data, but I can provide the example codes. Please help me solve this error.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.3 1.21.3 s

[2021-12-04 06:27] roryyorke commented on #15118
See also gh-7345 and gh-11030; the latter notes that `normalize` is intended for continuous time transfer functions.

FWIW test `scipy.signal.test.test_filter_design::TestSos2Zpk::test_fewer_zeros` inadvertently demonstrates the problem with `normalize`; using the same 24th-order (!!) bandpass filter as there:

[code]

gives (scipy 1.7.0):

[code]

[2021-12-04 08:37] stla commented on #15116
Ok, will do.

I also have some [code](https://gist.github.com/stla/6e2cbd868825d169d0db0b2c99a5e704) to sample the noncentral Wishart distribution. It is taken from my R package ***matrixsampling***. A particular feature is the ability to sample the noncentral Wishart when the number of degrees of freedom is lower than 2p-1 (p is the dimension). I have been able to implement this feature thanks to

[2021-12-04 09:16] #13922 closed

[2021-12-04 09:16] #14152 closed

[2021-12-04 17:59] rkern commented on #15156
The interpolation routine that you requested is implemented in FORTRAN. FORTRAN routines are are often limited to using 32-bit integers (and arrays of length less than what a 32-bit integer can represent). The code computed the size of one of its intermediate work arrays that it would have to create, and that length was greater than what a 32-bit integer could represent. This routine simply can't

[2021-12-04 21:14] duetosymmetry commented on #15091
@pontsm, the "cylindrical" Bessel functions are just the usual ones, `scipy.special.jv(v,z)`. The docs can definitely be improved. If you look at the [relevant part of the implementation](https://github.com/scipy/scipy/blob/a25ea1bf5d069f2dd2f9f78393d4c97377f16599/scipy/special/_spherical_bessel.pxd#L91-L109), you see that it dispatches to the usual Bessel function when n>=x. This is what's meant

[2021-12-04 22:32] tylerjereddy commented on #14221
Sounds like option 1 is winning fairly decisively.

[2021-12-04 23:06] treverhines commented on #15150
@segasai Thanks for pointing this out. I am getting similar times on my machine: 13 seconds for `Rbf`-based evaluation, and 35 seconds for `RBFInterpolator` with a single thread.

The issue is that, in this case, the matrix multiplication done to evaluate the interpolant is significantly faster with `np.dot` than the implementation in `_evaluate`. The difference in times seems to get larger with h

[2021-12-04 23:21] #14879 closed

[2021-12-04 23:36] person142 commented on #15151
Note that generally you will want to implement it in (your favorite of) C/C++/Cython/Fortran _anyway_ so that it will be a ufunc.

[2021-12-05 00:38] Martin20494 commented on #15156
@rkern : Thank you very much for your detailed information. Do you mean that there is no current solution for function `scipy.interpolate.interp2d` to handle such large size of array and it would be better that I should build up a specific function similar to `scipy.interpolate.interp2d` that can handle the large size of array for my case? Or do you have any other better suggestion to solve this e

[2021-12-05 03:12] segasai commented on #15150
Can you try reversing loop order from j,k to k,j  if it makes a difference ?

[2021-12-05 03:36] WarrenWeckesser commented on #13380
Bumping milestone to 1.9.

[2021-12-05 04:07] #13898 closed

[2021-12-05 07:23] SuperbTUM opened #15158 "BUG: Result Inconsistency in scipy.sparse.linalg.eigs in Python Notebook"
### Describe your issue.

When I tried to call the `eigs` function with scipy, and I find something inconsistent. When I called the function in a way like this, I got a completely wrong answer:
"""
e_value1, e_vector1 = eigs(M.T, 1)
u = e_vector1.T[0]
w_inf1 = u / u.sum()
"""
Where M is a matrix of (769, 769) with float64 data type. These operations are run in a single block. When these are execut

[2021-12-05 07:54] tirthasheshpatel commented on #14221
Option 1 sounds better to me too. It sounds intuitive and it would be more user-friendly than raising an error. NaNs are anyways difficult to handle so, I guess, it's OK not to handle special edge cases (like both set-like inputs passed to `zmap` in `zscore`) and rather make it clear in docs.

[2021-12-05 08:43] thomasahle commented on #8590
Fast Hadamard transform is now in `sympy`: https://docs.sympy.org/latest/modules/discrete.html#fast-walsh-hadamard-transform

[2021-12-05 10:22] pontsm commented on #15091
@duetosymmetry Thank you for the code reference and your answer! This helped.

It did, however, not yet fully answer why the recurrence relation seems to give values that diverge more and more
from the correct value when applying it to x<n, for example x=12, z=30, which is the case in the code example above.

Is the recurrence relation only valid for x>n? This is the statement I cannot find anywhe

[2021-12-05 13:09] anntzer commented on #14758
Thanks for the suggestion.  However, unless I am mistaken(?), no released version of scipy currently includes `determine_backend`?