[2018-10-09 21:07] pv commented on #9365
The answer is no.

If you read the cookbook page carefully, it talks about matplotlib.griddata when discussing nat. neighbors.

[2018-10-09 21:07] #9365 closed

[2018-10-10 04:40] antonior92 commented on #8644
Hi @denis-bz,

Yes, trust-contr does makes sense for a linear objective.

This warning is triggered when you use quasi-Newton approximations for linear functions. And, while you are not using quasi-Newton to approximate the objective function, I imagine that you are using it to approximate the constraints second derivatives. If some of the constraints are linear you would get this warning...

What

[2018-10-10 04:42] antonior92 commented on #8644
I choose to include this warning because using quasi-Newton approximations for linear functions can lead to not so good performance...

[2018-10-10 07:50] hameerabbasi commented on #8452
Fixed by #9356?

[2018-10-10 08:46] ilayn commented on #8452
Yes, it was merged into another issue so github got confused, closing.

[2018-10-10 08:46] #8452 closed

[2018-10-10 09:14] nickpoerio opened #9368 "scipy.integrate.cumtrapz issue"
Cumtrapz not working correctly with the dx argument (x=None). Output should be multiplied by 2

### Reproducing code example:

dx=.05
scipy.integrate.cumtrapz(y,x=None,dx=dx)

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-10-10 09:39] nickpoerio commented on #9368
Hi @ilayn,

I discovered a subtle issue in my code, the function is working correctly. Sorry for the setback and thanks for your time. N.

[2018-10-10 09:41] ilayn commented on #9368
No problem. Thanks for reporting anyways.

[2018-10-10 12:56] #9368 closed

[2018-10-10 14:57] #4864 closed

[2018-10-10 14:57] #8256 closed

[2018-10-11 01:34] rgommers commented on #9342
@EdwardMcCants thanks for the report, that looks like a bug indeed. It would be helpful to have a small self-contained code example that demonstrates the issue. Could you please provide one.

[2018-10-11 09:46] ucasiggcas opened #9370 "is there source code of find_peaks?"
Hello,
In python3.6.6，I can't find the source code of find_peaks in scipy,
Maybe U say it is in _peak_finding.py,
But where is _peak_finding_utils?
Because in _peak_finding.py I find
`from ._peak_finding_utils import (_argmaxima1d, _select_by_peak_distance,
                                  _peak_prominences, _peak_widths)`
I can't open _peak_finding_utils.cp36-win_amd64.pyd,
Who can help me ?
Ple

[2018-10-11 09:48] andyfaff commented on #9370
That code is in a Python extension.

[2018-10-11 09:49] ucasiggcas commented on #9370
What does it mean?
Could U help me, please?

[2018-10-11 09:50] andyfaff commented on #9370
https://github.com/scipy/scipy/blob/master/scipy/signal/_peak_finding_utils.pyx

[2018-10-11 09:56] ucasiggcas commented on #9370
Thanks.
But when I save it and run it,
Error ups.
`cimport numpy as np
from libc.math cimport ceil`

Invalid Syntax
What's up?
Thanks

[2018-10-11 10:01] ucasiggcas commented on #9370
When I delete
`cimport numpy as np
from libc.math cimport ceil`
It also ups
Invalid Syntax
from
`def _local_maxima_1d(np.float64_t[::1] x not None):`
The function is very important for me，so how can I rewrite it?

[2018-10-11 10:55] ilayn commented on #9370
The function has a Python interface but it is written in Cython. You need to set your computer up to run Cython code and then copy the relevant parts. You cannot delete randomly the parts that don't work since this is your third time asking about this code, maybe you might want to invest in time learning Cython.

https://pythonprogramming.net/introduction-and-basics-cython-tutorial/

When you have

[2018-10-11 10:55] #9370 closed

[2018-10-11 14:32] lobpcg commented on #9275
@rc @pvanmulbregt
This is now done in scikit-learn and can probably be just mostly copy/pasted from https://github.com/lobpcg/scikit-learn/blob/lobpcg_svd/sklearn/utils/extmath.py to scipy...
It works well for dense truncated_svd too.

[2018-10-11 14:48] ilayn commented on #9275
@lobpcg You can also open a PR which might be a bit more focused.

[2018-10-11 17:14] getzze opened #9371 "Doc mention cutoff frequency correction for signal.filtfilt"
The `filtfilt` function runs two filters to cancel the phase shift. Hence to compensate for the twice -3dB attenuation, one should define a higher cutoff frequency equal to `f_c = f_wanted / 0.8` . See explanations in https://nbviewer.jupyter.org/github/demotu/BMC/blob/master/notebooks/DataFiltering.ipynb, Cell[8]
This should be mentioned in the doc and the examples changed appropriately for [filt

[2018-10-11 17:29] getzze commented on #9371
Incidently, I think there is a mistake in the [`decimate` function](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.decimate.html).

In the source, the low-pass filter is defined with the cutoff frequency `f0*0.8` instead of `f0/0.8` :
(line 3434 in v1.1.0) `system = dlti(*cheby1(n, 0.05, 0.8 / q))`.

Here is a minimal example demonstrating the difference:

[code]
![issue_decimat

[2018-10-12 13:00] ggrrll commented on #8535
btw, the same issue exists for `InterpolatedUnivariateSpline`

[2018-10-12 13:18] TeejIBM opened #9375 "SciPy fix for AIX installation"
Please review the following page:

https://www.ibm.com/developerworks/community/forums/html/topic?id=10b1cba0-ff19-49b2-b2cd-2e924ffda12a#repliesPg=0

Two steps are required in order to make this package work on AIX:

1.  Invocation of LDFLAGS="-lpthread" during installation -- this should be added as part of the initial check.

2.  Modification of the following code -scipy/special/cephes/dd_real.

[2018-10-12 14:31] richardjgowers commented on #3168
https://gist.github.com/richardjgowers/46dc6650d80f36ca39c426531db9053e

Ok this is what I used for fftpack, maybe it's useful if any other modules need this

[2018-10-12 18:44] grassknoted commented on #8789
Hey, could I work on this issue if you feel the docstring needs to be updated?

[2018-10-12 19:49] rc commented on #9275
@lobpcg Let's see how the scikit-learn version review goes. I will not be of much use during the weekend anyway...

[2018-10-14 08:12] AbhilashG6 opened #9378 "Error in Non-Central Chi-Squared Distribution Documentation"
My issue is about a minute error in the documentation for the non-central chi-squared distribution. The probability density function has the incorrect term 'exp(-(nc+df)/2)'. This should instead have been 'exp(-(nc+x)/2)'. Ref: https://en.wikipedia.org/wiki/Noncentral_chi-squared_distribution#Definition
Error is at : https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.ncx2.html

[2018-10-14 08:35] ilayn commented on #9378
Thanks for taking time to report @AbhilashG6 this has been fixed in the new versions of the documentation. What you are looking at is the version 0.14 documentation. The new versions starting from 0.15 has the correct terms.

[2018-10-14 08:35] #9378 closed

[2018-10-14 10:03] Kai-Striega commented on #9337
Closing as merged PR resolves issue.

[2018-10-14 10:03] #9337 closed

[2018-10-14 17:40] #9259 closed

[2018-10-15 00:40] aadithpm commented on #9223
I'm sorry for the horrible delay, but I would still like to contribute to this issue if allowed. Will try to get it done as soon as possible.

[2018-10-15 10:11] ericmjl commented on #9223
@aadithpm no worries, you're experiencing first-hand how open source works - there's many things that I also want to work on, but can only find pockets of time to selectively choose :smile:. Feel free to go ahead with this issue!

[2018-10-15 22:41] ravijaisinghani opened #9380 "FutureWarning: Using a non-tuple sequence"
My issue is about ...

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-10-15 23:05] ilayn commented on #9380
@ravijaisinghani Thanks for reporting. This has been fixed in #8944 already.

[2018-10-15 23:05] #9380 closed

[2018-10-16 13:00] kstacer opened #9381 "linregress should warn user in 2x2 array case"
The heuristic for splitting an array into x and y inside linregress is ambiguous for 2x2 arrays.  I discovered this ambiguity when I called linregress with a 2x2 array where x and y were oriented as columns (a common case when working with pandas dataframes) and got an unexpected result.

### Reproducing code example:

[code]

### Desired Resolution:
 In this case, no error message is detected; ho

[2018-10-16 13:12] whitbennett commented on #8571
@Schyther I'm trying to do the same thing with Python3 and Yocto. Could you share explicitly what you did to get SciPy to work? I'd appreciate any help. Thanks in advance.

[2018-10-16 13:33] HPLegion opened #9382 "(Feature request) Boundaries for y values in solve_ivp"
Hi guys and gals,

first of all thanks for the great work in general - makes my life a lot easier.

I have recently been playing around a lot with the solve_ivp function and the related solvers.

When using the stiff solvers (BDF, Radau), I have a lot of grief with the right hand side of my ODE system being called with "unphysical values", which results in exceptions and / or long run times. If I

[2018-10-17 01:29] aweinstein commented on #9371
Please notice that the 0.8 correction is valid only for a Butterworth filter. Other filter should use a different correction values.

[2018-10-17 06:12] lbellomo opened #9383 "Default value for "mode" in "ndimage.shift""
In scipy.ndimage.shift the mode's default value is 'constant', but [in the documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.shift.html#scipy.ndimage.shift) it says Default is 'reflect'.
Which of the two is wrong?

[2018-10-17 07:01] ilayn commented on #9383
The documentation of the ndimage funcs come from

https://github.com/scipy/scipy/blob/14142ff70d84a6ce74044a27919c850e893648f7/scipy/ndimage/_ni_docstrings.py#L34-L56

if they are marked with the decorator .

Here it seems like this is an outlier since the docstring shows `constant` which is the value that is passed by default.

[2018-10-17 07:07] ilayn commented on #9383
Xref #8528

[2018-10-17 12:35] rtshort opened #9386 "scipy.spatial.SphericalVoronoi gives incorrect results"
When all of the points are in one hemisphere some of the Voronoi points are incorrect.

To be more precise, certain of the points are on the wrong side of the sphere.  An example is to create a tetrahedron with the following generator points:

generators (polar)
 [[-25.56198973  10.81015471]
 [-54.40661695  26.73672285]
 [-55.29180524  -6.7928405 ]
 [-45.12839961   9.12243389]]
generators (rectang

[2018-10-17 16:18] lbellomo commented on #9383
Ok, i fix that in this PR: #9387

Thanks for the help @ilayn !

[2018-10-17 18:15] jakirkham opened #9388 "freeing non-valid pointer in ndimage.rank_filter"
Python crashing due to SciPy freeing a pointer that does not point to allocated memory.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[code]

[2018-10-17 18:46] iosonofabio opened #9389 "Kolmogorov Smirnov 2 samples returning max distance location [Enhancement]"
2 sample Kolmogorov Smirnov test (KS test) is about finding the maximal vertical distance between two empirical cumulative distributions; a large max distance is unlikely under the null assumption that the two empirical distributions are sampled from the same theoretical curve. This is implemented in `scipy.stats.ks_twosamp`.

The function calculates but does not return the location of the cumulat

[2018-10-17 18:55] ilayn commented on #9388
Does it happen also when you use an integer for rank and either size or footprint ?

[2018-10-18 03:46] tylerjereddy commented on #9386
Related / duplicate of #8859 & also mentioned in #5232.

I've read a few of the algorithm papers in the (often recent) literature, and haven't seen one mention a proof for a working algorithm with single hemisphere input.

`SphericalVoronoi` is not implemented using `qhull` under the hood, unlike many other components of the computational geometry infrastructure in SciPy. It is mostly Python with

[2018-10-18 07:44] #9383 closed

[2018-10-18 08:31] Aelphy opened #9391 "Wrong dot of dense matrix and csr matrix"
It seems, that dot product of dense `np.array` and  `sp.sparse.csr_matrix` is broken. The shape is wrong.

###  Code to reproduce:
[code]

### Scipy/Numpy/Python version information:
[code]

[2018-10-18 08:46] #9391 closed

[2018-10-18 12:36] tylerjereddy commented on #9386
That said, we probably do call 1 or 2 qhull functions for things like convex hull or similar in the current algorithm

[2018-10-18 12:36] rtshort commented on #9386
Sorry about the duplicate issue.  I did search but maybe my github skills are a little weak.

I thought the spherical Voronoi algorithm uses scipy.spatial.ConvexHull to compute the convex hull, and the documentation for that algorithm clearly says it uses QHull to compute the convex hull.  BTW, I am not a geometer.  My math and computer skills are pretty good and I have done a lot of reading on th

[2018-10-18 12:37] rtshort commented on #9386
Just posted as you were posting.  Unless the code has changed since I downloaded it, it calls ConvexHull to do the hull.

[2018-10-18 15:39] tylerjereddy commented on #9386
@rtshort Yeah, you're right about that -- we didn't re-write the convex hull algorithm from scratch :)

Those are some interesting insights! The Brown thesis is indeed pretty famous, but your suggestions about splitting the 3D hull into an outer and inner hull are intriguing!

[2018-10-18 15:57] anjugeethanair commented on #9388
Yes, I have used both. As per my understanding to debug a C program, we need the debug symbols and the executable. So should I expect both to be available in some location after I install with "python setup.py install"?

[2018-10-18 16:02] anjugeethanair commented on #9388
Thank you very much! Yes, I am interested to learn some debugging tools.

[2018-10-18 16:14] rtshort commented on #9386
The Larrea thesis was more insightful for me.  That was where I got the aha! about the spherical hull vs. the 3d hull and the notion of inner and outer hull.  The notion of using the inner and outer 3d hulls is mine (although I doubt it is original).  It is a lot easier to visualize in 2d.  Looking at the following picture I have three points on the circle (2-sphere).  The figure to the right is t

[2018-10-18 16:32] jakirkham commented on #9388
Right, so this likely requires a debug build of Python to be installed. I'm not sure how SciPy handles debug symbols (maybe a core dev can chime in), but you will want to make sure that the appropriate compiler flags are passed (i.e. `-DNDEBUG` should not be in the compiler flags, also `-g` should be present on `gcc` or similar flag for other compilers).

Valgrind can be reasonably effective even

[2018-10-18 17:29] ilayn commented on #9388
Before we jump to the internals, this function should not allow nonintegers to be passed to lower levels since 1.5 rank is not meaningful.

Don't take it as a discouraging comment please you can still work on it but we need a quick exit strategy anyways against floats regardless of what is happening at the C level.

[2018-10-18 17:42] anjugeethanair commented on #9388
Thank you for jumping in @ilayn , So the function _rank_filter in filters.py should have an error message return of rank is not integer? I am happy to make that fix :)

[2018-10-19 03:43] anjugeethanair commented on #9388
I created a pull request-
https://github.com/scipy/scipy/pull/9392

[2018-10-19 10:54] jps-aldridge opened #9393 "filtfilt: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated"
scipy.signal.filtfilt produces a FutureWarning message

[code]
produces the output
[code]

### Scipy/Numpy/Python version information:
[code]

[2018-10-19 11:31] larsoner commented on #9393
This should already be fixed in `master`, feel free to reopen if you check and find that it's not.

[2018-10-19 11:31] #9393 closed

[2018-10-19 12:10] ilayn commented on #9393
Thanks for reporting. Indeed this has been fixed in #8944 already.

[2018-10-19 13:06] scfrank opened #9394 "stats performance hit from doccer"
Drawing from distributions in scipy/stats (e.g. multinomial, norm) spends most of the time formatting docstrings, according to cProfile:

[code]
results in:
[code]

I noticed this issue while profiling a larger simulation with a lot of draws from rvs; this is not very carefully written code and I was assuming I'd find some obvious bottlenecks, and was surprised to find that this doccer/docformat f

[2018-10-19 20:02] ev-br commented on #9394
You're using frozen distributions in a loop, i.e., you're paying for a repeated freezing. This seems to account for a large fraction of the runtime:

[code]

In fact, drawing a single variate in a loop is not quite right either, the proper way is to use the `size` argument and draw an array of variates:

[code]

Profiling agrees:

[code]

and

[code]

[2018-10-19 23:52] ev-br commented on #9394
Like I'm saying, the fact that you even see the `doccer` in the profile, simply means that you *are* repeatedly freezing your distributions:

[code]

Note the difference between `multinomial(...).rvs(size=1)` and `multinomial.rvs(..., size=1)`.

[2018-10-21 12:48] #9286 closed

[2018-10-21 16:35] moinfar opened #9396 "Wrong p-value and unwanted warning when using scipy.stats.pearsonr"
My issue is taking a warning, while it is not logical.

### Reproducing code example:

[code]

### Warning message:

[code]

### Output
Below + warning above.
[code]

### Expected Output
I expect getting no warning. in addition p-value must be 0 not nan!
[code]

### Scipy/Numpy/Python version information:
[code]

[2018-10-21 17:07] ilayn commented on #9396
seems like the duplicate of #8980

[2018-10-21 17:52] chrisb83 commented on #3890
I just wanted to add the cdf which uses the incomplete beta function. however, it uses the "unregularized" beta function denoted B(x; a,b) on Wikipedia while `special.betainc` is the regularized beta function (denoted I_x(a, b) on Wikipedia which is a rescaled version. however, we need B(p; 0, k+1) to compute cdf(k, p) and the zero leads to NaN in betainc (we cannot rescale as`Gamma(0)` is not def

[2018-10-21 17:56] chrisb83 commented on #9396
Looks related to #7730 as well

[2018-10-21 18:04] ilayn commented on #9396
yes that's a better fit I think

[2018-10-21 19:40] josef-pkt commented on #7730
I think the current result of returning a nan pvalue is appropriate.
There is no information in the data to say anything about the uncertainty.

partially related: A few years ago we had the discussion for t_test, IIRC when variance is zero. The conclusion was to return nan instead of guessing on the behavior in limiting cases when the variance approaches zero. (I was initially returning some fini

[2018-10-21 21:02] ilayn commented on #7730
Then probably we would need to explain this choice in the docs as already 3 issues have been submitted.

[2018-10-22 07:47] akahard2dj commented on #9389
I thought this idea a good to analysis for a geometry relation between two samples.
p-value is just showing a same or not same.
Should I take this issue?
If you do not mind, I will take it.

[2018-10-22 08:09] akahard2dj commented on #9389
I thought this suggestion is very useful to know where the gap is maximum distance.
If this idea put in `scipy.stats.mstats.ks_twosamp()`, return variable will increased by 3(ks value, p-value, index at maxima).

If you do not mind, I would like to take this issue.

[2018-10-22 08:13] akahard2dj commented on #9389
I thought this suggestion is very useful to know the index at maxima.
If this idea put it in `scipy.stats.mstats.ks_twosamp()`, the return variable will be increased by 3(ks value, p-value, index at maxima).

If you do not mind, I would like to take this issue.

[2018-10-22 08:15] akahard2dj commented on #9389
I thought this suggestion is very useful to know the index at maxima.
If this idea put it in `scipy.stats.mstats.ks_twosamp()`, the return variable will be increased by 3(ks value, p-value, index at maxima).

If you do not mind, I would like to take this issue.

[2018-10-22 08:32] akahard2dj commented on #9389
I thought this suggestion is very useful to know the index at maxima.
If this idea put it in `scipy.stats.mstats.ks_twosamp()`, the return variable will be increased by 3(ks value, p-value, index at maxima).

If you do not mind, I would like to take this issue.

[2018-10-22 10:47] scfrank commented on #9394
Right, I understand now, thanks!

[2018-10-22 10:47] #9394 closed

[2018-10-22 15:15] chrisjjames commented on #7880
@gcrau
I am looking into this for a real-time application that I want to model in Numpy.
Keep you posted.

[2018-10-22 20:07] chrisb83 commented on #9396
Closing this issue, it is a duplicate of 7730

[2018-10-22 20:07] #9396 closed

[2018-10-22 20:15] chrisb83 commented on #7730
if `n == 2`, the correlation is either -1 or 1 (or undefined if std of one of the inputs is zero). so `rho == 0` is impossible. one could argue that `p = 0` is therefore OK.

I agree, somehow users like to compute correlation of two points :)

[2018-10-22 21:09] josef-pkt commented on #7730
and that is independent of what the true or population distribution is.
That is, there is no information about the true distribution and p-value is nan or NA

Just because several users want a pvalue for the no information case doesn't mean that we have to give them a (arbitrary finite) number.

[2018-10-23 01:19] rlucas7 commented on #7730
Hi,
FWIW: (a noobs opinion).
Adding an option would break the signature (and backwards compatibility).
Maybe a clear choice of which formula is used in the doc and another
function which provides the remaining (or complete) functionalities is
warranted? (e.g. permutation test, t-distribution, fisher approximation
etc.)

R does a couple:

https://www.rdocumentation.org/packages/stats/versions/3.5.1

[2018-10-23 02:07] josef-pkt commented on #7730
adding options for different useful methods can be helpful and can made in a backwards compatible way if the default doesn't change.

However, it doesn't help if we have too few observations. e.g. permuting 2 points will not give you a nice distribution, in expected terms half of the time is is 1, and the other half of the time it is -1.
Even with a few more points, the permutation distribution wi

[2018-10-23 06:32] andreassch commented on #7730
My main point in the issue is that the peasonr function should not throw a floating point exception by executing a division by zero. This makes my whole program crash when a data set happens to have two data points only. You are welcome to return NaN in that case, but please eliminate the exception.

[2018-10-23 08:50] taubi90 opened #9398 "scipy.optimize.linprog simplex algorithm converges to wrong (all zero) solution"
The matrices shown in the following minimal example were created in the context of a previously performed analysis. They represent a linear optimization task that should be solved with scipy's simplex algorithm included in the linprog package.

### Reproducing code example (Python):

[code]

### Output:

[code]

In any case, this result is wrong. Solving the same linear programming problem with th

[2018-10-23 13:30] rlucas7 commented on #7730
@josef-pkt, RE: "However, it doesn't help if we have too few observations.
e.g. permuting 2 points will not give you a nice distribution, in expected
terms half of the time is is 1, and the other half of the time it is -1."

I agree the distribution won't be nice, my point, which wasn't clearly
articulated (apologies for that) is that in the bootstrap or permutation
method of calculating the p-val

[2018-10-24 06:20] WarrenWeckesser commented on #9398
By default (i.e. when `bounds=None`), each variable is restricted to be *nonnegative*.  This is mentioned in the docstring just before the "Parameters" section, and in the description of the `bounds` argument within the "Parameters" section (but you're not the first to miss this).  If you change the value of `bounds` to `bounds=(None, None)`, the result agrees with your Matlab output.

[2018-10-24 06:20] #9398 closed

[2018-10-24 08:35] wkcn opened #9401 "inconsistent dtype before and after calling scipy.sparse.csr_matrix"
Hi! there.
I found a problem that there is inconsistent dtype before and after calling `scipy.sparse.csr_matrix`.
The dtype of the input is `np.int64` before calling `scipy.sparse.csr_matrix`, however the dtype becomes `np.longlong` after calling the function.

### Reproducing code example:
[code]
Output:
[code]
The dtype of return array is `np.longlong` instead of `np.int64`.
In the file https://

[2018-10-24 16:18] larsoner commented on #8570
I'm going to close this as `wontfix` for backward compatibility reasons, but we should keep this in mind if we develop a new interface in the future.

[2018-10-24 16:18] #8570 closed

[2018-10-24 16:21] larsoner commented on #9371
I see two possibilities. One is that it's a typo. The other is that it's not related to the `filtfilt` vs `lfilter`, but instead a slightly more conservative choice for the lowpass corner frequency to reduce aliasing. However, given that the cutoff freq in the `lfilter/fir` code path of `decimate` is `1. / q` and the cutoff freq in the `filtfilt/iir` code path is `0.8 / q` it does seem more like a

[2018-10-24 17:36] aweinstein commented on #9371
@larsoner You can find a reference to the 0.8 correction factor in page 69 of this book:

https://books.google.com.br/books?id=_bFHL08IWfwC&printsec=frontcover&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false

This is a screenshot of the relevant paragraph:

![sshot](https://user-images.githubusercontent.com/123405/47449324-c383dd80-d798-11e8-9fd7-fd12757847f6.png)

Section 2.6 of [this paper](ht

[2018-10-25 02:35] kohlerjl opened #9402 "Signal attenuation in signal.decimate for even-order IIR filters"
I've encountered a bug, or at least unexpected behaviour, in signal.decimate. When using even-order IIR filter (implemented using a Chebyshev type-I filter), there is visible attenuation of the signal in the filter's pass-band.

Here's an example:

[code]
![resample_test](https://user-images.githubusercontent.com/1612775/47472434-91d43c00-d7c3-11e8-9e9f-ae23e325c192.png)

This attenuation occurs b

[2018-10-25 03:19] shashvatshahi1998 commented on #9402
I am new to open source but I want to contribute

[2018-10-25 05:39] shashvatshahi1998 commented on #9401
So if you know where the bug is so what are you waiting for?????

[2018-10-25 07:28] akahard2dj commented on #9401
Hello,
I have tested your code.
In my environment(win 10 64bit, numpy '1.15.1', scipy '1.0.1'), there is no problem.
[code]

[2018-10-25 07:32] Schyther commented on #8571
@whitbennett sorry for the delayed response. If you still need the recipe I will post as soon as possible, after I clean it up a little bit to make it more user friendly so to speak (some stuff I did there is pretty messy..). Also the compilation was successful but I cant promise that using the troublesome module will work as intended as I did not have enough time to test it.

[2018-10-25 07:32] wkcn commented on #9401
@akahard2dj Thank you!
My environment is Arch Linux 64bit. I will test it on Windows.
In Linux, it seems that np.longlong will print 'int64', however it is not equal to np.int64.

[2018-10-25 07:43] ilayn commented on #9401
Try

[code]

`long long` is a platform dependent dtype.

[2018-10-25 08:44] WarrenWeckesser commented on #9401
The dtype `int64` is always a 64 bit integer.  The size of `longlong` depends on the C compiler.  What is `np.longlong(0).nbytes` on your Windows and Linux systems?

[2018-10-25 10:04] Xurotash commented on #9371
[This ](https://motorbehaviour.wordpress.com/2015/06/12/solving-the-underdamped-response-of-butterworth-filters-with-critically-damped-filters/)site mention the correction factor also (but use it like this c_butter = 1/C ). And reference to [this paper](https://www.sciencedirect.com/science/article/pii/S1050641103000804).

All references I seen is for lowpass filters (f_c_low = f_wanted / C). Now

[2018-10-25 10:51] WarrenWeckesser commented on #7730
One can make the argument that when there are just two points (and we are not in the degenerate case where the variance of `x` or `y` is zero), the p-value is *1*.

`pearsonr` does a two-sided test.  The p-value in a two-sided test is the probability that a random data set would have a correlation coefficient at least as extreme as the measured correlation coefficient.

When there are just two poi

[2018-10-25 12:38] whitbennett commented on #8571
@Schyther I was able to get lapack, libgfortran, and openblas to to compile, but I'm running into those same issues you brought up about being unable to find them when scipy tries to compile. Your help is most appreciated. I'll look into testing and posting the results here after I get it working.

[2018-10-25 14:01] WarrenWeckesser commented on #7730
@josef-pkt wrote

Yes, and the test is for a population correlation coefficient of 0.

Actually, the exact value would be 1.  This is a two-sided test...

Yes.  The only possible values are 1 and -1, and they are equally likely.  The two-sided test is the probability that a sample drawn from the population has a correlation coefficient at least as extreme as the observed correlation coefficient, w

[2018-10-25 14:31] boeseMilch opened #9403 "range of truncnorm.logpdf could be extended"
When calling the truncated normal distribution with an interval far away from zero, the logpdf seems to exhibit a numerical underflow even though it would be well defined.

[code]
There are applications for values so far from the truncation interval, for example when doing mean regression with a truncated Gaussian likelihood, where the initial guess for the mean might be far of.

### Scipy/Numpy/P

[2018-10-25 15:11] josef-pkt commented on #7730
@WarrenWeckesser good point
You're right. I had forgotten about two-sided.
It is the same for two-sided permutation test, it also would have pvalue=1 and not 0.5 as I said.

Which just shows the (weirdness) the conservative behavior of exact pvalues when the distribution has only a few support points.

(To "rescue" pvalue=0.5 in the two-sided case: In tests on proportions in small samples, many au

[2018-10-25 16:14] santiagoropb commented on #9318
Any comments on this?

[2018-10-25 16:14] clemisch opened #9404 "ndimage.interpolation.geometric_transform hangs without error if return value of mapping is not tuple"
`scipy.ndimage.interpolation.geometric_transform` hangs indefinitely without CPU usage if the mapping function supplied does not return a tuple.

### Reproducing code example:

[code]

This hangs and does not use CPU.

### Scipy/Numpy/Python version information:

[code]

[2018-10-25 16:50] ilayn commented on #9404
With the current master I get

[code]

[2018-10-25 18:15] pv commented on #9318
The design decision iirc as per previous discussions was to preserve explicit zeros.
So now it's up for someone to roll their sleeves to fix it.

[2018-10-25 19:45] #7914 closed

[2018-10-26 07:58] ev-br commented on #9381
I think it's best to add a note to the documentation, either in the Notes section, or under Examples. Pull request welcome, I'd say.

[2018-10-26 08:33] WarrenWeckesser commented on #3728
It would be nice if we could guarantee that when the true variance of one of the inputs was 0, we correctly determined that we were in the 0/0 case and returned `nan` for r.  But even numpy's `var` does not do this currently:

    In [25]: np.var([0.667, 0.667, 0.667])
    Out[25]: 1.232595164407831e-32

See also https://github.com/numpy/numpy/issues/9631.

As I noted in the numpy issue, Welford's

[2018-10-26 08:50] WarrenWeckesser opened #9406 "BUG: stats: In pearsonr, when r is nan, the p-value must also be nan."
Currently (scipy version ` '1.2.0.dev0+c8069fd'`) we have, for example,

    In [5]: pearsonr([1, 1, 1], [2, 2, 2])
    /Users/warren/miniconda36/lib/python3.6/site-packages/scipy-1.2.0.dev0+c8069fd-py3.6-macosx-10.7-x86_64.egg/scipy/stats/stats.py:3036: RuntimeWarning: invalid value encountered in double_scalars
      r = r_num / r_den
    Out[5]: (nan, 1.0)

Even though r is nan, the p-value is

[2018-10-26 09:14] clemisch commented on #9404
An error message is okay. I'm only annoyed by the _silent_ hang-up.

I installed `scipy` via `pip`, all updated. That should be a fairly recent version right?

[2018-10-26 09:30] ilayn commented on #9404
It means something is already changed in the `master` branch and fails. If that is the case it would be available with the next release 1.2.0.

[2018-10-26 10:08] homocomputeris commented on #9198
I reported a similar bug: #8672

[2018-10-26 10:44] Schyther commented on #8571
@whitbennett  @DasRoteSkelett here is what I managed to bundle up
[python3-scipy.zip](https://github.com/scipy/scipy/files/2518875/python3-scipy.zip)

Hope this helps in any way.

[2018-10-26 11:14] clemisch commented on #9404
If the code is so keen on tuples, wouldn't a simple

[code]

be sufficient? Otherwise, it should work with all iterables, since a tuple is arguably the most limited one.

[2018-10-26 12:56] drhagen commented on #9366
Yep, this is a bug.

[2018-10-26 15:12] johannfaouzi opened #9407 "Error in docstring of show_options ?"
Hi,

My issue is about the docstring of the [show_options](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.show_options.html#scipy.optimize.show_options) function. Here is the piece of code of interest:
https://github.com/scipy/scipy/blob/14142ff70d84a6ce74044a27919c850e893648f7/scipy/optimize/optimize.py#L2900-L2906

I think that the text in Returns should be:
`Either None (fo

[2018-10-27 06:11] wattai commented on #9406
Hello,
I am new, but can I try this ?

[2018-10-27 13:17] rlucas7 commented on #7730
Ah, this makes sense now.
As I mentioned I'm happy to cleanup the docstring, it sounds like a change
to the if/else block makes sense as well.

I can either do 2 separater PRs or a single PR (w/both doc and code
changes)

Seems like everyone agrees p-value result depends on the method.
Not clear what the concensus is on this thread for the p-value calculation
though, do we want Nan, or 1?

On Thu,

[2018-10-27 14:37] stevengj commented on #7410
See also https://github.com/JuliaLang/julia/issues/7033 for how we did this in Julia.

The latest version is in https://github.com/JuliaMath/SpecialFunctions.jl

[2018-10-29 06:06] ludcila commented on #9223
Hi, I am also interested in contributing to the scipy repository, and thought this was a good place to get started, thanks to the guidance from @ericmjl and @perimosocordiae.  I hope it is ok if I try to tackle this issue as well. So far, I believe I have been able to reproduce @ericmjl's findings. This is what I have:
- I rewrote `sparse.block_diag` as proposed by @ericmjl with some minor changes

[2018-10-29 06:26] rgommers opened #9409 "extend stats.bartlett/levene to 2-D arrays"
Follow-up to gh-9252, see in particular https://github.com/scipy/scipy/issues/9252#issuecomment-421125680 and https://github.com/scipy/scipy/pull/9281#issuecomment-426799477. Currently an exception is raised for >1-D input, could be extended to 2-D with axis=0.

[2018-10-29 09:45] zerothi commented on #8680
I have the same problem

Sys-info:

binutils: 2.31.1
numpy: 1.15.3
site.cfg:
[code]
GCC 8.2.0
Debian 9u6

[2018-10-29 10:48] zerothi commented on #8680
This small addition also seems to work fine (simply remove any version-script flags already in the argument list):
[code]

[2018-10-29 12:17] ericmjl commented on #9223
@ludcila, just wanted to chime in to say that your work is wonderful! Thank you for taking the initiative here :smile:.

For the sake of being extra-conscientious here, when you say "Unit tests are passing", that refers to the scipy test suite? (I checked and found only 3 tests myself as well.) If so, I think it's worth a PR into the repository then, where the maintainers can do a formal review. 😃

[2018-10-29 12:42] tsando opened #9410 "scipy 1.1.0 optimize.brute doesn't show progress values"
It was possible before to show the optimisation progress of `optimize.brute` by setting `disp=True` but now (scipy 1.1.0) it only outputs information at the end of the minimization -- no the progress of the algorithm or intermediate values. Is this now the default or is there a way to go back to previous behaviour? I would like to see the progress of the optimisation. Thanks.

[2018-10-29 13:05] ludcila commented on #9223
Hi @ericmjl, thank you for the encouragement and for laying everything out so that a beginner like me can have a much better idea on where and how to start contributing :smile:

Regarding the unit tests, yes, I refer to the 3 tests in the scipy test suite.  I did not want to extend my previous post too much, but this is what happened: I was initially only running the test `test_block_diag_basic` t

[2018-10-29 14:06] bash0 opened #9412 "Callback return value erroneously ignored in minimize"
Scipy.optimize.minimize takes a **callback** function. According to the [documentation](https://docs.scipy.org/doc/scipy-1.1.0/reference/generated/scipy.optimize.minimize.html), "_If callback returns True the algorithm execution is terminated._". However, the return value of the callback function is actually ignored by all optimization routines, and the execution is not terminated upon a True retu

[2018-10-29 14:44] yangfl commented on #9249
I've found a ridiculous patch for this

[code]

(On Debian) with gfortran-7 test passed with this patch, with gfortran-8 test passed with no "aaa" output!

[2018-10-29 16:16] markm541374 opened #9413 "optimize.brute returns outside range"
When optimize.brute is given a function that has its minimum on the edges of the boundary it returns a value outside the limits

### Reproducing code example:

[code]
The minimum of x in this range is  of course at -1, but instead the optimiser goes way outside the boundary.
### Output:

[code]

### Scipy/Numpy/Python version information:

[code]

[2018-10-29 19:08] Chunde commented on #4479
I got same issue using Python 3.6, it seems this bug has not been fixed~

[2018-10-29 19:14] getzze commented on #9371
For a Butterworth high-pass filter, the correction factor would be f_c_low = C*f_wanted .
Indeed, a Chebyshev filter is used for the decimate function. Given that the slope is very steep, setting C=1 should be ok.

For `filtfilt` documentation, it would be good to emphasize that the cutoff frequency could need to be corrected and that the effective order of the filter is doubled (because two filte

[2018-10-29 19:16] JuanTrinidad opened #9414 "scipy.stats.spearmanr(df, nan_policy='omit')"
My issue is about how scipy handle nan values. With nan_policy='omit', it will discard all the pairs which have nan. But results doesn't look like that.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-10-29 19:34] #9414 closed

[2018-10-29 19:51] ericmjl commented on #9223
@ludcila wonderful work! FWIW, I also learned a thing here - didn't realize there was a benchmarking framework!

[2018-10-30 00:14] andyfaff commented on #9412
The relevant documentation:

[code]

Only `trust-constr` terminates if the callback returns `True`, the others don't.

I did open a PR for doing this for all methods, #4384. However, this got stalled. From that PR it seemed like the best way of terminating was for the callback to raise an Exception. The minimizer would then create an `OptimizeResult` with the results so far, the Exception would be

[2018-10-30 05:29] rgommers commented on #7456
Fixed by gh-8737

[2018-10-30 05:29] #7456 closed

[2018-10-30 05:30] rgommers commented on #7492
Looking a lot better after gh-8737:
[code]

[2018-10-30 05:30] #7492 closed

[2018-10-30 05:31] rgommers commented on #7426
Fixed by gh-8737

[2018-10-30 05:31] #7426 closed

[2018-10-30 05:38] rgommers opened #9415 "add dual_annealing to optimize benchmarks"
gh-9306 added `optimize.dual_annealing`, and it has a very extensive set of benchmarks (also non-SciPy algorithms) at https://github.com/sgubianpm/GOBench. The PR did not add `dual_annealing` to https://github.com/scipy/scipy/tree/master/benchmarks/benchmarks/go_benchmark_functions however, this should still be done so we have an up-to-date benchmark suite within the repo.

[2018-10-30 09:46] sgubianpm commented on #9415
@rgommers, thanks a lot for taking some time playing with GOBench, for the merging and also for this task. I will address that today.

[2018-10-30 14:24] se4u commented on #9249
Does it also fix my comment  #issuecomment-429416485     above?

[2018-10-30 16:14] rlucas7 commented on #9406
Warren, to clarify, is fixing the runtime warning within scope of the issue
as well?

On Sat, Oct 27, 2018 at 2:11 AM wattai <notifications@github.com> wrote:

--
Sincerely,
-Lucas

[2018-10-30 16:54] rlucas7 commented on #9406
Apologies for the churn. I thought the issue here was a divide by zero warning. It looks like this is something else and the patch I wrote eliminates the runtime warning and fixes the p-value to nan.

[2018-10-30 19:44] pv commented on #9249
@se4u: you probably should file a separate ticket --- different problem possibly.

[2018-10-30 21:16] MilesCranmer opened #9417 "lil_matrix can't store explicit 0 values"
Is it wrong that lil_matrix can't store explicitly-set 0 values? Other sparse matrices, such as the csr_matrix, do. This is cross-posted from https://stackoverflow.com/q/53072911/2689923 because I think it might be a bug (/unintended phenomenon) and more appropriate for an issue.

Consider the following example:

[code]

This is bad because sometimes there will be a 0 distance between elements of

[2018-10-30 22:25] #9366 closed

[2018-10-31 02:43] andyfaff commented on #9410
As far as I can tell `optimize.brute` never reported the progress of the grid search. At the moment `disp=True` only displays the convergence message from the `finish` callable that is used to polish the final solution. Thus the final printed output will depend on what `finish` does with the `disp` keyword.
Is you think this is in error can you let me know the scipy version when a different behavi

[2018-10-31 02:44] andyfaff commented on #9413
This behaviour is documented:

[code]

[2018-10-31 02:44] #9413 closed

[2018-10-31 03:41] wattai commented on #9410
Aha, I forgot it.
Originally, we have no way to know the end of the optimization.
So we can not to display the progress bar or something.
I think this issue is bit strange...

[2018-10-31 03:51] andyfaff opened #9419 "dual_annealing off by one in the number of iterations"
@sgubianpm @rgommers I think the number of iterations is off by one in `dual_annealing`.
Lets say `maxiter=1`, at [L636](https://github.com/scipy/scipy/blob/master/scipy/optimize/_dual_annealing.py#L636) `maxiter` will be 1 and `iteration` will be 1, so the break will happen immediately and not one iteration will be done.

I think the fixes should be fairly straightforward, but it'll need doing be

[2018-10-31 03:53] tmcken commented on #6873
Are the two lines of the annotated code below correct? Take the first one for example. According to YJ definition, it should be lmbda !=0. As lmbda can take on both positive and negative values, lmbda<1e-19 is a very poor substitute for lmbda!=0, is it not?

Perhaps these two lines should instead read as follows?
abs(lmda)<1e-19
abs(lmda-2)<1e-19

I am missing something?

    def _yeo_johnson_tran

[2018-10-31 03:55] tmcken opened #9420 "Yeo-Johnson Transform formulation correct?"
Are the two lines of the annotated code below correct? Take the first one for example. According to YJ definition, it should be lmbda !=0. As lmbda can take on both positive and negative values, lmbda<1e-19 is a very poor substitute for lmbda!=0, is it not?

Perhaps these two lines should instead read as follows?
abs(lmda)<1e-19
abs(lmda-2)<1e-19

Am I missing something?

    def _yeo_johnson_tran

[2018-10-31 04:39] ludcila commented on #9381
Hi, I would like to take this up to get some practice :grinning:

I noticed that there is already a Notes section which is not written directly in the docstring, but appended somewhere else. In order to keep things simple, do you think it would be enough to expand the Parameters description:

[code]
with
[code]
?

[2018-10-31 06:34] chrisb83 commented on #9420
This function is not yet in a release, it is under development in #9305, but the code there does have `abs(...)`

[2018-10-31 06:34] #9420 closed

[2018-10-31 08:15] sgubianpm commented on #9419
@andyfaff , thanks. I will adjust that in a PR and also @js850 suggestions today.

[2018-10-31 08:30] ilayn commented on #9381
@ludcila Thanks for taking the time. The situation is a bit awkward indeed. The extra part comes from this part

https://github.com/scipy/scipy/blob/701b9ac6c451e68a0a5659a6186c1f4d847a0be1/scipy/stats/mstats_basic.py#L59-L65

Then further down the file there is the part

https://github.com/scipy/scipy/blob/701b9ac6c451e68a0a5659a6186c1f4d847a0be1/scipy/stats/mstats_basic.py#L840-L841

I think thi

[2018-10-31 08:43] ludcila commented on #9381
Hi @ilayn, I can take care of putting the notes in the docstring and cleaning that up. Do you think what I wrote is enough to clarify the 2x2 case? If so, should it be added to the parameters section or to the notes? :smiley:

[2018-10-31 09:49] slamer59 opened #9425 "Cannot import name 'moduleTNC' on windows with conda"
Hello,
I open another issue on this subject https://github.com/scipy/scipy/issues/6188

I use scipy on windows machine, python2.7 and conda installed it like: https://github.com/scipy/scipy/issues/6188#issuecomment-221669131

This doesnot solve the issue.

I rename **moduletnc.pyd** to **moduleTNC.pyd** and it works like https://github.com/scipy/scipy/issues/6188#issuecomment-338697754

I look at

[2018-10-31 09:57] ilayn commented on #9425
Hi @slamer59. Thanks for reporting This is already mentioned in the linked issue and in the SO question. This looks like a conda issue so you might want to take is to them. We can't do anything about this.

[2018-10-31 09:57] #9425 closed

[2018-10-31 09:58] edmundus commented on #7323
I think checking for feasibility would definitely help. Message and success of the return dictionary are very misleading!
The problem also appears with equality constraints.

[2018-10-31 11:07] wattai commented on #9409
I have a question to confirm your suggestion.
Did you mean of the behaviour like this?
[code]
as the result, `flag == True`.
If this behaviour is correct, I would like to contribute.

[2018-10-31 11:28] josef-pkt commented on #9409
broadcasting two arrays would be like the following, e.g. comparing two samples with a control

X = np.random.randn(100, 2)
Y = np.random.randn(100, 1)

result_1d = bartlett(X[:. 0], y.squeeze(Y))
result_2d = bartlett(X, Y, axis=0)
flag = (result_1d == result_2d[0][0])

[2018-10-31 11:36] istispl opened #9426 "mmio parse error for .mtx files with headers starting with spaces"
My issue is about mmio not parsing .mtx files if the header lines start with spaces.
For example, loading the attached .mtx file fails.

The header parser could be relaxed by stripping the spaces when reading header lines:
[code]

### Reproducing code example:

[code]

### Error message:
[code]

### Scipy/Numpy/Python version information:
[code]

[input_matrix_8.zip](https://github.com/scipy/scipy

[2018-10-31 12:01] WarrenWeckesser commented on #9426
Where did you get that file?  How was it generated?

In Section 2 of the documentation at https://math.nist.gov/MatrixMarket/reports/MMformat.ps, in the description of the header, it says

It doesn't say that blanks *in front of* `%%MatrixMarket` are allowed.  I'm not an expert in this format, but my first impression is that your file does not comply with the specification.  Maybe other folks more

[2018-10-31 12:09] wattai commented on #9409
I see...
You also mean like below?
[code]

[2018-10-31 12:17] josef-pkt commented on #9409
Yes, AFAICS

you can also compare with ttest_ind which should be vectorized with axis=0

[code]

[2018-10-31 12:43] sgubianpm commented on #9419
Bug fixed in PR #9424. @andyfaff, @rgommers , could you please merge before branching?

[2018-10-31 15:07] istispl commented on #9426
Indeed, the attached file doesn't strictly obey the spec - and it is debatable to be tolerant on the parsing side. But since the fix is trivial, I considered reporting it, more as 'enhancement request' then than a defect.

[2018-10-31 15:35] perimosocordiae commented on #9417
For better or worse, the current behavior when assigning an explicit zero to a LIL-format matrix is to clear any stored value at that index: https://github.com/scipy/scipy/blob/30987e5c2abfe02daffff353d90c30a660cf9a36/scipy/sparse/_csparsetools.pyx.in#L151

It's possible to manually insert a zero, with some knowledge of the LIL internals:
[code]

This may cause unexpected issues with code that ass

[2018-10-31 15:39] perimosocordiae commented on #9417
See also gh-3343, which has a lot of discussion and more context for this issue.

[2018-10-31 17:30] #9183 closed

[2018-10-31 22:06] NicolasHug commented on #9420
This code is from scikit-learn, right?

Yes, I noticed a few errors I made while re-implementing yeo-johnson in scipy. I was planning to propose a fix + add some moretests in scikit learn (no problem if you want to do it) but it'd be best to wait before #9305 gets merged I think

[2018-10-31 23:56] rgommers commented on #9419
fix merged. good catch @andyfaff

[2018-10-31 23:56] #9419 closed

[2018-11-01 03:54] wattai commented on #9409
Can I use `itertools`?

[2018-11-01 09:10] AsafBanana opened #9429 "gaussian_kde not working with numpy matrix"
It seems gaussian_kde doesn't work with numpy matrix but only failes when you try to use evalute.

I think it should either work with np.matrix or refuse to accept it when fitting. It took me forever to understand whats wrong :(

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-11-01 11:57] wattai commented on #9409
Please check above PR.

[2018-11-01 16:44] lgloege opened #9432 "Equation written incorrectly in scipy.stats.pearsonr documentation"
This is a very minor issue, but I just wanted to bring it to your attention.

The equation in scipy.stats.pearsonr is written incorrectly in the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html)

The summation needs to be in front of both terms in the denominator:
\sqrt{ \sum (x-m_x)^2 \sum (y-m_y)^2 }

This is a minor issue, as the correct equation is

[2018-11-01 17:10] rgommers commented on #9429
Not really a bug because the docs say "array". However easy to make more user-friendly by adding `asarray` to ``__init__` and `evaluate` methods. Now it uses `atleast_2d`, which is needed as well but doesn't convert `matrix` input to `ndarray`.

[2018-11-01 18:32] ilayn commented on #9432
@lgloege Thanks for reporting. Do you mind sending in a pull request for this?

[2018-11-01 18:41] chrisb83 commented on #8789
I think the statement "The p-values are not entirely reliable but are probably reasonable for datasets larger than 500 or so." should be removed.

While in general, the test appears to be relatively robust to non-normal data (conclusion of many early papers on this), it does not hold for data that deviates strongly from normality (and even for large sample sizes do not help much in this case), see

[2018-11-01 18:46] chrisb83 commented on #9432
this has been fixed in #9143 already.

[2018-11-01 18:46] #9432 closed

[2018-11-01 18:47] chrisb83 commented on #9432
(not yet released)

[2018-11-01 19:47] WarrenWeckesser commented on #8789
@chrisb83 wrote

I agree.  While it is nice to include some advice about the applicability of a function in its docstring, it is certainly not necessary, and we definitely should not be giving unsubstantiated adivce.  If we don't have a specific reference for that claim, let's just take it out.

[2018-11-01 21:07] pv commented on #7323
An SLSQP bug related to this was fixed some time ago in the master branch, so it's not clear this issue is there any more.

[2018-11-01 21:13] pv commented on #7323
Indeed, I think this was fixed by gh-8986

[2018-11-01 21:13] #7323 closed

[2018-11-01 21:18] pv commented on #7282
No follow-up, and some SLSQP bugs have been fixed, so closing.

[2018-11-01 21:18] #7282 closed

[2018-11-01 21:18] pv commented on #9316
gh-9317 was merged.

[2018-11-01 21:18] #9316 closed

[2018-11-01 21:23] pv commented on #5743
Neither reports false success in current master.

[2018-11-01 21:23] #5743 closed

[2018-11-01 21:48] ilayn commented on #7824
I'm closing this but we can reopen if it comes up again though it looks like an ATLAS issue.

[2018-11-01 21:48] #7824 closed

[2018-11-01 22:03] ilayn commented on #7433
This is a no-repro on the current numpy and scipy master branches.

[2018-11-01 22:03] #7433 closed

[2018-11-02 08:17] Clarmy opened #9433 "scipy.interpolate.griddata() doesn't work when set method = nearest"
I have some irregular meteorological data, and I want to make them into grid form. So I'm going to use scipy.interpolate.griddata() to do that. But there is something wrong.
The griddata() function doesn't work when I set `method='nearest'`, but if `method='linear'` or other options, it can work.
I suspect it's a bug, or maybe I haven't learnt how to use it.

### Reproducing code example:

Followi

[2018-11-02 14:56] ilayn commented on #9433
This might have been fixed already because I can't replicate it as a standalone problem.

[code]

Please isolate an example as above that replicates your problem

[2018-11-02 15:20] Clarmy commented on #9433
I known what's the key of this problem.
The key is the type of `values`. When `values` is the type of `numpy.ndarray` it can work well, but when it is the type of `list`, it will raise the Exception what I saw. In other words, please change
[code]
into
[code]
rerun it and error will appear.

[2018-11-02 15:29] ilayn commented on #9433
The documentation is explicit on that. It is expecting an ndarray object not a sequence.

[2018-11-02 15:34] Clarmy commented on #9433
Sorry, it's my fault.  Thank you very much!

[2018-11-02 17:41] whitbennett commented on #8571
@Schyther I cant find openblas-dev and I think it's holding me up. When I get to python3-scipy_1.1.0.bb:do_install, it fails on a error from numpy.distutils.
`ImportError: cannot import name 'customized_ccompiler'`
Any suggestions?

[2018-11-03 01:41] pvanmulbregt commented on #7455
The pdf  of `scipy.stats.ksone(2)` is discontinuous at x=0.5.  `stats.ksone(2).pdf(x)` calls `scu._smirnovp(2, x)` which returns the average of the left and right hand limits.  So the reproducing code example should be slightly tweaked at x=0.5.  After gh-8737, no points trigger with the tweaked example.

[code]

[2018-11-03 01:43] pvanmulbregt commented on #8926
Closing as the question is answered and documented.

[2018-11-03 01:43] #8926 closed

[2018-11-03 01:44] pvanmulbregt commented on #7455
Closed by gh-8737

[2018-11-03 01:44] #7455 closed

[2018-11-03 04:10] goyo39 opened #9434 "running setup.py bdist_wheel for scipy takes forever"
My issue is about  the install proces at raspberry pi 3b it got stucked(for 4 hours until now and it continue i dont know if i should turn down mi raspberry  ) when "building wheels for collected packages: scipy"

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-11-03 09:19] #9433 closed

[2018-11-03 16:59] raymiec commented on #9434
I was installing this fine on p3 all through the summer, it would take around 2 hours to compile and install, although i've been following exact same steps the last few days and it just never seems to end, definitely seems like there might be an issue installing with the latest updates / packages etc.

[2018-11-03 17:05] goyo39 commented on #9434
hey raymiec thanks for the answer.
i solved it by just taking out the "sudo" from my coman line, of coarse after i installed imutils

$ pip install scipy

[2018-11-03 17:06] goyo39 commented on #9434
imutils first and then scipy

[2018-11-03 17:08] raymiec commented on #9434
Nice one, unfortunately not such an easy fix for me, although i'm going to check all relevant permissions.  I actually think pip2 /pip3 is messing about during install. I.e finding 3.6 and reverting to 2.7 during some parts of the install.

[2018-11-03 22:37] dmypstl opened #9436 "Non-tuple sequencing in percentile calculation"
Latest version of seaborn is using scipy to calculate percentiles for confidence interval in line plot.

### Reproducing code example:
[code]

### Warning message:
[code]
Accepted answer to [this](https://stackoverflow.com/questions/52594235/futurewarning-using-a-non-tuple-sequence-for-multidimensional-indexing-is-depre) question on SO contains suggestion how to fix the issue.

[code]

### Scipy/N

[2018-11-03 22:46] ev-br commented on #9436
This has been fixed in the soon-to-be-released version.

[2018-11-03 22:46] #9436 closed

[2018-11-03 23:19] raymiec commented on #9434
Made Progress, if anyone else finds themselves here with the same issue, couple of steps,  make sure you have all the requirements installed. I was also missing gfortran that i had to install, although with a normal install it would just hang for hours because of this and not report back.

I also switched to a usb3 pen drive to run raspbian stretch from, I have also temporary changed the swapfile

[2018-11-04 09:14] #9388 closed

[2018-11-04 09:44] david-cortes opened #9437 "Cannot create sparse matrix from size_t indexes"
If I try to create a sparse matrix in COOrdinate format with row and column indexes in `size_t` type, `coo_matrix` will throw an error as it seems it tries to cast `size_t` to `float64`.

The following code illustrates the problem:
[code]
Throws:
[code]

Adding the shape will however allow to construct this matrix:
[code]
[code]

The problem is not present when the indexes are of `int` or `long` t

[2018-11-04 12:48] pv commented on #9437
The index needs to be signed integer, size_t is unsigned.

[2018-11-05 10:37] ali-cetin-4ss opened #9439 "Truncated distributions - beign able to lock actual truncation point when fitting"
This issue continues the discussion started on the dev mailing list.

The issue is about being able to provide actual truncation point when fitting data to a truncated distribution. In the current scipy.stats framework, the user is left with two options:

 1. Treat the truncation point as a free variable - estimate from data. Often not very robust, and unnecessary since truncation point is often k

[2018-11-05 14:17] #6141 closed

[2018-11-05 17:20] jkitchin opened #9440 "Unexpected successful optimization with minimize when number of equality constraints equals number of variables in conjunction with an inequality constraint."
I was suprised to see a successful termination in the following problem. I have provided an equality constraint that x is equal to zero, and an incompatible inequality constraint that x - 1 >= 0. I thought minimize would fail on this, but it doesn't, even though the inequality constraint is violated. I have also observed this behavior when there are multiple variables and the number of equality co

[2018-11-05 19:53] elinay6 opened #9441 "Scipy build fails on Solaris 10 SPARC"
I have a working copy of Python 3.65 and Numpy 1.14.5 in /usr/local/Python3 on Solaris 10.

-bash-3.2# uname -a
SunOS python365 5.10 Generic_150400-17 sun4u sparc SUNW,SPARC-Enterprise Solaris

Relevant environment variables are as follows:

ATLAS=/usr/local/Python3/ATLAS/install/lib
MAIL=/var/mail/root
PATH=/usr/local/Python3/Python-3.6.5/install/bin:/opt/csw/bin:/opt/csw/gnu:/usr/sbin:/usr/bin:/

[2018-11-05 19:56] #4174 closed

[2018-11-05 19:58] ilayn commented on #9441
I'm just shooting in the dark here but can you also try to compile against Openblas if you have the means?

[2018-11-05 20:17] pv commented on #9441
It's some problem with the isinf/isnan/etc macros in c++ code, unlikely to be lapack related.

[2018-11-05 21:43] rshanker779 opened #9442 "Error in Defintion of Rosenbrock Function"
The Rosenbrock function in the docs is incorrectly defined.
This occurs in the section **Constrained minimization of multivariate scalar functions**  at https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html
The correct definition is on wikipedia: https://en.wikipedia.org/wiki/Rosenbrock_function.

The definition used in docs is:
[code]
which should be
[code]
As a verification, this blo

[2018-11-05 22:00] ilayn commented on #9442
@rshanker779 Thanks for reporting. Do you mind submitting a PR? We are about to make a new release (tomorrowish) and this would be nice to have it.

[2018-11-05 22:02] rshanker779 commented on #9442
Not a problem, will do.

[2018-11-05 22:42] #9442 closed

[2018-11-06 03:31] #7317 closed

[2018-11-06 03:51] tylerjereddy commented on #8915
I don't see any PRs linking in on this -- going to have to bump it to 1.3.0?

[2018-11-06 04:00] tylerjereddy commented on #8734
Do we want to enable this build isolation now? Just need to add a file back?

[2018-11-06 04:02] tylerjereddy commented on #8680
Are we willing to make the fix proposed above without perhaps fully understanding the issue? I don't see a linked PR.

[2018-11-06 04:06] tylerjereddy commented on #8064
Are we going to keep cherry-picking this test skip in to maintenance branches or perhaps we should just accept that we need skip now & commit to master?

[2018-11-06 04:13] tylerjereddy commented on #7117
Extended discussion of an apparently tricky issue with no linked PR attempting to fix it -- I see little chance of resolution before the imminent branching of 1.2.x so bumping the milestone.

[2018-11-06 04:28] rgommers commented on #8680
The fix from @zerothi seems fine to make in any case. Let's do that.

[2018-11-06 04:29] rgommers commented on #8734
I suggest to add `pyproject.toml` back after the 1.2.x branch. This is stuff that you don't want to be debugging last-minute.

[2018-11-06 04:32] rgommers commented on #8915
Let's make a decision here whether we care enough about numpy <1.11.3 or not. If so, we can still fix this after the 1.2.x branch. If not, we can bump the minimum requirement on macOS for source builds. I'm inclined to go with the latter, and bump to 1.11.3 unconditionally for 1.3.0

[2018-11-06 06:11] rgommers commented on #9439
Mailing list discussion: https://mail.python.org/pipermail/scipy-dev/2018-November/023162.html.

[2018-11-06 11:31] WarrenWeckesser commented on #7931
Keep the issue open--the Heisenbug still exists, as far as I know--but go ahead and move/remove the milestone.

[2018-11-06 12:18] Schyther commented on #8571
@whitbennett be sure to add the following line to the openblas recipe in order to be able to use openblas-dev

FILES_${PN}-dev = "${includedir} ${libdir}/lib${PN}.so"

[2018-11-06 13:04] elinay6 commented on #9441
@rgommers
I'll try GCC 4.9.2 today.  I actually was able to install everything successfully using Sun compilers, but I received numerous import errors with all but two of the Scipy extensions.  I read that this can happen if you use different Fortran compilers, which I did.  I built ATLAS/LAPACK with gfortran and Scipy with Sun Fortran.  I'm trying to go GCC all the way this time.

[2018-11-06 17:29] rgommers commented on #9441
Indeed, you never want to mix Fortran compilers

[2018-11-06 17:33] #8838 closed

[2018-11-06 21:29] elinay6 commented on #9441
[code]

[2018-11-07 03:29] #8064 closed

[2018-11-07 03:40] rgommers commented on #9441
Okay. Looks like this is the problem: https://github.com/scipy/scipy/blob/master/scipy/_lib/_c99compat.h#L119. `isnan` and `sc_isnan` (and their `inf` equivalents) are only defined for `(__STDC_VERSION__ < 199901L)`. My best guess: Solaris 10 has a higher `__STDC_VERSION__` but still no `isnan/isinf`. I'm not sure why we have the logic there as it is, rather than unconditionally checking if `isnan

[2018-11-07 03:50] rgommers commented on #8680
This was introduced in gh-8463

[2018-11-07 03:50] #8680 closed

[2018-11-07 04:10] rgommers opened #9450 "allow seeding of init methods in vq.kmeans2"
The `vq.kmeans2` function has initialization methods (that can be selected by the `minit` keyword) that do random number generation without allowing for seeding. See e.g. https://github.com/scipy/scipy/pull/9037#pullrequestreview-137675449

It should be possible for the user to pass in a `np.random.RandomState` instance or set a seed, rather than having to rely on setting the global state. Can be

[2018-11-07 05:56] rgommers opened #9451 "Add shgo to optimize benchmarks"
In gh-8098 we added `optimize.shgo` as a new optimizer. There are a lot of benchmark results linked in the description of gh-8098, but we still need to add `shgo` to the SciPy benchmark suite. Should be straightforward, similar to gh-9431

[2018-11-07 06:11] #9036 closed

[2018-11-07 06:19] rgommers commented on #9415
gh-9431 is merged, closing

[2018-11-07 06:19] #9415 closed

[2018-11-07 08:08] HPLegion commented on #9382
Hi Matthew,

thanks for your input. Manipulating the numerical routines to suit my needs sounds like an interesting approach. Unfortunately I currently need to focus on other things, but when I get around to take a look at this again I will keep this thread updated.

Cheers

[2018-11-07 12:44] TeejIBM opened #9452 "AIX build - ld issue in 64 bit mode"
We are using SciPy 1.1.0 main branch source code release on AIX 7.1 using AIX Toolkit packages for GCC and related packages - (https://www.ibm.com/developerworks/aix/library/aix-toolbox/alpha.html).

We have to use the AIX's linker (ld) as GCC's linker is not compatible with AIX at this time.  There is a limitation with AIX linker that causes an issue with the build when compiling in 64 bit mode (

[2018-11-07 13:43] pvanmulbregt commented on #9216
@mikofski The change of title suggests a quite different topic than the original.  My suggestion  would be to restore the old title and then create a new Issue to cover the new topic.  If the original topic is no longer an Issue, also close it out.  That way all the existing comments, which were presumably written with the original topic in mind and are mostly relevant to that topic, do not clog u

[2018-11-07 15:41] TeejIBM commented on #9452
To clarify, the following command:

[code]

Returns:

[code]

So it's definite that `-Wl,-rpath="/opt/OpenBLAS/lib"` is the issue.

[2018-11-07 15:41] elinay6 commented on #9441
@rgrommers:  I modified _c99compat.h as directed and the installation completed successfully:

creating dist
creating 'dist/scipy-1.1.0-py3.6-solaris-2.10-sun4u.32bit.egg' and adding 'build/bdist.solaris-2.10-sun4u.32bit/egg' to it
removing 'build/bdist.solaris-2.10-sun4u.32bit/egg' (and everything under it)
Processing scipy-1.1.0-py3.6-solaris-2.10-sun4u.32bit.egg
creating /usr/local/Python3/Pyth

[2018-11-07 15:44] elinay6 commented on #9441
In case anyone is interested, these are the import errors I receive after compiling everything with GCC 4.9.2:

### Error message:

[2018-11-07 16:17] #9216 closed

[2018-11-07 17:01] tylerjereddy opened #9453 "TST: test_eigs_consistency() doesn't have consistent results"
` test_eigs_consistency` added in #9352 is stochastically failing on Windows / Appveyor for some Python versions -- see i.e., https://ci.appveyor.com/project/scipy/scipy/builds/20106920

I keep seeing `array([4.+0.j, 5.+0.j])` compared with `array([5., 4.])`. Is it something related to complex numbers, and only happening on Windows / subset of Python versions? Are we even expecting complex numbers

[2018-11-07 17:14] tylerjereddy commented on #9453
Closing for now, maybe this is ok after all -- the Appveyor result shows the seed Ralf added but I don't see his commit in my rebase so I'll reopen after if it persists. Not sure how that happens though.

[2018-11-07 17:35] lobpcg commented on #9453
`array([4.+0.j, 5.+0.j])` is mathematically the same as `array([5., 4.])`
I suppose that this array represents eigenvalues. Eigenvalues can in general be complex. lobpcg does support complex matrices, so it can in principle output complex eigenvalues, with small or zero imaginary parts. The output format may indeed change between different revisions.

The simple fix may be to allow both `array([4.

[2018-11-07 17:40] ilayn commented on #9453
20 and 100 are a bit too small for testing a function on sparse library for my taste but I'll let others decide on this.

[2018-11-07 18:29] rc commented on #9453
This should not happen - I would suspect eigh(), that is used internally in lobpcg(), returns complex instead of real results. A quick fix would be to retype its returns. Maybe there is an old scipy version?

[2018-11-07 18:44] ilayn commented on #9453
I haven't check but I think sym/her eigensolvers always return floats as eigenvalues since realness guaranteed mathematically.

[2018-11-07 20:19] energyflowprogram commented on #7677
I have the same issue. I did check the file size and it 557 Bytes

[2018-11-07 22:05] TeejIBM commented on #9452
I think I found the core functionality that caused this, and I made the following change:

/opt/freeware/lib64/python2.7/distutils/ccompiler.py:1071-1077
[code]

The reason I chose this - I did not want this to call Numpy's fcompiler function `runtime_library_dir_option()` which explicitly does this:

[code]

Which is explicitly not supported on AIX, according to @ayappanec

The installation succe

[2018-11-07 23:58] WarrenWeckesser opened #9454 "BUG: special: bdtr(k, n, p) returns nan for n > 2**31-1"
`bdtr` returns `nan` whenever `n` > 2**31 - 1.  For example,

[code]
If I use `n = 2**31-1`, the values are not `nan`:
[code]

This is on a 64 bit system.

This looks related to https://github.com/scipy/scipy/issues/5503, but I don't know if it is a duplicate.

`bdtr(k, n, p)` calls `incbet(n - k, k+1, 1.0-p)`, so the underlying problem is probably in `incbet`.  Note that the first two arguments o

[2018-11-08 01:54] ilayn commented on #9453
Now I've looked at it, and the problem is that the order is reversed. Otherwise complex and real arrays are taken as the same. That is
[code]
passes the condition. So probably sorting can guarantee the pass.

[2018-11-08 02:19] tylerjereddy commented on #9453
Interesting, and it is not just Windows anymore as I observe the failure on linux too now after rebasing on latest master in #7827.

[2018-11-08 03:41] rgommers commented on #9441
Great, thanks @elinay6. It would also be useful if you could check if `__STDC_VERSION__` is defined, and if so what value it has.

`__STDC_VERSION__ < 199901L` means "before C99", so is in principle correct. However Solaris seems to be doing something not quite right here.

I've marked this for 1.2.0, we can fix this after the release split still imho.

[2018-11-08 05:19] rgommers commented on #9216
@mikofski did you mean to close this issue?

After reading through the whole thing again, my summary is:
- yes, there is interest in Cython root finders (`brentq` in particular)
- there is a motivating use case for you, the multiple solar cell equations mentioned in https://github.com/scipy/scipy/issues/9216#issuecomment-418558899.
- possible other end user scenarios are summarized by @pvanmulbreg

[2018-11-08 06:33] rgommers commented on #8915
Okay, thought about it some more - I don't care enough to do this. People should just upgrade to >=1.11.3. macOS users are good at upgrading anyway. And it only affects whoever builds from source, wheels are fine.

Leaving this open because technically it is a real bug (we claim to support >=1.8.2), let's fix it for the next release by bumping up the minimum NumPy version.

[2018-11-08 07:02] rgommers commented on #9441
Thinking about it again, what we do really is correct and changing it may introduce some other unforeseen issue.

It's possible that Solaris claiming to have C99 but not supporting `isnan`/`isinf` is related to https://github.com/oracle/solaris-userland/issues/1#issuecomment-374533392. @elinay6 could you put the full build log in a gist and link it? I'm pretty sure we're not inserting `-std=c99` a

[2018-11-08 07:05] rgommers commented on #9441
@pv thoughts on removing `#if (__STDC_VERSION__ < 199901L)` and doing the checks under it unconditionally?

A comment at the top of the file says
[code]
however I'm not sure if there's a reason for that besides a bit of efficiency.

[2018-11-08 07:05] #9453 closed

[2018-11-08 07:47] rc commented on #9453
@rgommers, @tylerjereddy: In #9352 I have introduced the test to specifically test the correct ordering, compatible with the ARPACK-based eigs() - the #9352 already introduced code to do that sorting inside lobpcg() (see _get_indx() and explicitly reversing the order for largest=True in lobpcg()), and the tests did not fail at the time of merging. So I wonder what changed

- does eigs() now return

[2018-11-08 09:24] amit-r opened #9459 "BUG: linalg: lu and decompositions don't support (0, 1) or (0, 0) shape input"
LU and QR decompositions return correct output matrices if input matrix shape is (1, 0), but fail for (0, 0) or (0, 1) shaped inputs.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:
[code]

[2018-11-08 09:55] zerothi commented on #7826
I have just *refound* this bug (time forgets).

I think the proper solution (which may break backward compatibility) would be to raise `NotImplementedError` when users try to use in-place operations.

I.e. a user may expect:

[code]
this will yield:
[code]
it should however yield:
[code]
The above `func` will work correctly for `numpy` arrays.

PS. for others, my current fix is this (which only wo

[2018-11-08 13:38] elinay6 commented on #9441
@rgommers Scipy build logs for GCC 4.9.2 and 5.5:
https://gist.github.com/elinay6/e7ae1c2b0006eb96cf4fe73233158b03
https://gist.github.com/elinay6/b5a7aa5eb3826ef10071cec57970e1dc

[2018-11-08 14:09] lobpcg commented on #9453
In #7827, which introduced this problem, @perimosocordiae comments: "This PR doesn't have special handling for symmetric sparse matrices, because in general we don't do any special handling for symmetry."

I am now wondering if  #7827 in some cases breaks the symmetry of the sparse matrix. E.g., swapping two matrix rows could break the matrix symmetry, but would not change the eigenvalues (only th

[2018-11-08 15:19] #7207 closed

[2018-11-08 16:21] ilayn commented on #9453
The symmetric matrix
[code]
and the row swapped version
[code]
have significantly different eigenvalues if that's what you mean.

[2018-11-08 16:39] lobpcg commented on #9453
Great point, sorry! My claim was wrong even for 2x2 diagonal matrices... True for 1x1 :-)

I have edited my original comment.

[2018-11-08 17:17] tylerjereddy commented on #9453
How is #7827 causing issues in master branch if it is not merged?

[2018-11-08 17:19] tylerjereddy commented on #9453
The debug strategy here is probably to roll back to the commit where the `lobpcg` changes / additional tests were introduced, run the problematic test 500-1000 times to confirm the issue really didn't exist at the time of merge, and if it didn't then do a `git bisect` analysis to identify the first problematic commit & go from there.

[2018-11-08 17:20] tylerjereddy commented on #9453
I guess I'll try to do this now

[2018-11-08 17:34] tylerjereddy commented on #9453
Those failures showed up on master though, so probably the observation in #7827 is related to merging into a broken master (merge commit tests) rather than breaking master as a result of merging.

[2018-11-08 17:42] lobpcg commented on #9453
Whether or not #7827 is related, the failures are apparently due to the changed, for no known reason,  behavior of ARPACK eigs, according to @rc .

[2018-11-08 19:41] tylerjereddy opened #9460 "BUG: sparse.linalg.eigs: sorting behavior reliability"
Related to #9453 and discussions with @rc and @lobpcg. Short summary is that I'm still ok with forcing the sort order in the test because I don't see any connection between the recent `lobpcg` adjustments and the observed sorting issue -- looks to be some vendored `ARPACK` stuff not related to recent merges -- a new test added for other behavior just happens to pick up on this instability in `eigs

[2018-11-08 20:35] lobpcg commented on #9460
Shouldn't the code above use
`
  if np.allclose(vals, np.array([[n, n-1]])):
`

I also do not understand your percentage calculation.

[2018-11-08 20:47] tylerjereddy commented on #9460
500 trials with `[5, 1e-8]`, ignore the 500 trials with the other input, and dividing by 500 trials and multiplying by 100 to get % is same as / 5.

Could be cleaned up as I said, but should be ok for checking.

[2018-11-08 20:51] tylerjereddy commented on #9460
But yeah, when someone gets serious on the debugging they'd probably want something more formal for checking -- I just kind of took the test @rc wrote and gutted for bisecting.

[2018-11-08 21:34] tylerjereddy commented on #7531
Bumping the milestone because the cognate PR was also bumped, but it is looking optimistic for an eventual merge there.

[2018-11-08 21:58] lobpcg commented on #9460
The observed erratic sorting behavior of eigs is apparently a feature, not a bug. The docs do not promise any specific sorting.

Searching for sort at scipy\sparse\linalg\eigen\arpack\arpack.py finds

                rd = np.round(d, decimals=_ndigits[self.tp])
                if self.which in ['LR', 'SR']:
                    ind = np.argsort(rd.real)
                elif self.which in ['LI', 'SI

[2018-11-08 22:04] tylerjereddy commented on #9460
@lobpcg Thanks for helping with this! Would you agree that for now, given a likely attempt to branch `1.2.x` in a few hours, it is probably ok to have the `np.sort()` forcing in the unit test for now, and we can check this in greater detail later if reliable sorting is needed for some reason in the future?

It sounds like we've probably not had any solid guarantee of sorting in the past, so seems

[2018-11-08 22:14] lobpcg commented on #9460
Yes, I now fully agree. Please keep the tests as you have done, with internal sorting.

[2018-11-08 22:21] mikofski commented on #9216
I closed it because I thought #7242 explained the need better, whereas this PR seems to justify the implementation. I thought closing this might be helpful, but happy to reopen if that's not the case.

[2018-11-09 00:41] rgommers commented on #9452
So `rpath` isn't supprted at all? If we'd change that NumPy bit of code from `if sys.platform == 'darwin'` to include AIX, that would solve it? If so, what does `sys.platform` give on AIX?

[2018-11-09 06:30] ayappanec commented on #9452
Yes. AIX ld won't support "rpath". sys.platform gives "aix6" in AIX 6.1 . Traditionally, sys.platform[:3] == "aix" is used check for AIX.

[2018-11-09 10:02] rc commented on #9460
OK, thanks for exploring the issue - FYI: i am getting also 94.8% with scipy 1.1.0.dev0+2225a87. I must have been lucky not to trigger the problem when working on #9352. Also in the #9453 discussion I wrongly assumed that the complex eigenvalues were returned by lobpcg(), but they were returned by eigs().

So +1 to using np.sort in the test. If once the sorting order of eigs() is resolved, it can

[2018-11-09 12:58] ilayn commented on #9460
I still think 20 is a very small size for a sparse algorithm test though. There might be other problems that can show up when the size grows.

[2018-11-09 17:00] hanslovsky commented on #5258
I agree that the current behavior is counter-intuitive and also hard to debug. Is this going to be addressed?

[2018-11-09 23:22] rgommers opened #9464 "TestInterp1D.test_read_only test failure"
On current master (at 1.2.x branch point), linux, Cython 0.27.3, gcc 8.2.1. Test recently introduced, in gh-9350.
[code]

[2018-11-09 23:32] ev-br commented on #9464
Upgrade cython to at least 0.28.x?

[2018-11-09 23:38] ilayn commented on #9464
We had some issues with Cython 0.28 versions in the past #8581 and #8562 and possibly other ones in the related issues

[2018-11-09 23:51] #9331 closed

[2018-11-09 23:53] rgommers commented on #9464
The 0.28 issues seems fixed now, and 0.29 makes this failure go away. So bumping the minimum Cython version to either of those is fine with me.

[2018-11-10 00:01] charris commented on #9464
Cython  also caused problems with OpenBSD, need >= 0.28.5. See https://github.com/numpy/numpy/issues/11664.

[2018-11-10 00:52] rgommers commented on #9464
Ah yes, thanks @charris. Looks like we should be requiring >= 0.28.5 then.

[2018-11-10 01:06] rgommers commented on #5258
This probably isn't high prio for core devs, but contributions are very welcome of course. It's unclear to me from reading this issue what the expected behavior is. `affine_transform(np.array([1., 2., 3.]), (0.5,), order=1)` gives `array([1. , 1.5, 2. ])`, so the requesting an output of shape (5,) is already different from the regular `out=` numpy behavior (there shapes have to match).

[2018-11-10 01:30] charris commented on #9464
@tylerjereddy Note that you will need recent Cython for the source distributions.

[2018-11-10 03:00] tylerjereddy commented on #9464
Noted, thanks

[2018-11-10 03:07] MaximusIndus commented on #5889
Well i guess it also leads to gcc failure -

talib/_ta_lib.c:254597: error: expected '=', ',', ';', 'asm' or '__attribute__' before '__Pyx_PyInt_As_TA_RangeType'
    error: command 'gcc' failed with exit status

[2018-11-10 15:07] hanslovsky commented on #5258
Makes sense.

I cannot speak for @dadkins but for me the expected behavior is:
 1. None of `output_shape`, `output` specified: current behavior
 2. `output_shape` specified but `output` not specified: current behavior
 3. `output` specified: ignore `output_shape` (or set to `output.shape`). Do not fail with `output shape not correct`. `output_shape` is implicitly provided through `output` and `out

[2018-11-10 18:18] pvanmulbregt commented on #9441
The conditional block under `#if (__STDC_VERSION__ < 199901L)` checks if definitions exist for `fma`,  `isinf`,`isnan`, `isfinite` before defining them to something.  Under C99, are these always macros or can they be functions?  I recall seeing some paths through gcc 's <cmath> which undef'ed them before defining inline functions with the same name.

[2018-11-10 22:33] rgommers commented on #9452
I've made a PR to update `numpy.distutils` at https://github.com/numpy/numpy/pull/12363. If you could confirm that that fixes things for you, that would be much appreciated.

[2018-11-10 22:34] rgommers commented on #9452
Closing this now, because it's anyway a numpy rather than a scipy issue.

[2018-11-10 22:34] #9452 closed

[2018-11-11 00:16] charris commented on #9452
OK, waiting on confirmation to merge https://github.com/numpy/numpy/pull/12363. I might merge it even if it doesn't completely fix the current problem because it looks like the right thing to do.

[2018-11-11 03:53] rgommers commented on #9216
Okay, let's leave this one closed then. There's still useful content here, I'll cross-link from gh-7242.

[2018-11-11 03:54] rgommers commented on #7242
There's a lot more discussion in gh-9216, the most relevant parts are summarized in https://github.com/scipy/scipy/issues/9216#issuecomment-436876589.

[2018-11-11 04:19] rgommers commented on #9441
@pvanmulbregt good question. I believe C99 says it's always a macro, however here the issue is in C++ code. [This MSDN page](https://msdn.microsoft.com/en-us/library/tzthab44.aspx) says:

There could also be platforms where C99 isn't followed closely enough.

[2018-11-11 09:29] hameerabbasi commented on #7826
Hi! There’s no real way that I know of to do in-place addition on Sparse arrays. The reason is that the size of the arrays may change so there’s no real way to do it.

That said, PyData/Sparse does “faux in-place” operations like @pv described, mainly for compatibility with NumPy.

The way it’s laid out currently, we do not preserve the `dtype`, but preserving that is a few line change at the very

[2018-11-11 09:49] ev-br commented on #7826
It's certainly possible to do in-place binops on *some* formats of sparse arrays. E.g. DOK-type arrays, https://github.com/ev-br/sparr/blob/master/sparr/sp_map.h#L312

[2018-11-11 11:39] zerothi commented on #7826
Ok, I see.

[2018-11-11 12:46] timokau opened #9466 "Find out which blas/lapack library is used"
I'm getting a segmentation fault when computing the schur decomposition of a 0-dimensional matrix. That is supposed to fail, but it should not crash. I'm only getting this error if I import `rpy2` (python interface to `R`) before I import `scipy`. I do not get this issue if I use `LD_PRELOAD` to preload `openblas`. So importing (more precisely initializing) `R` must change the blas/lapack library

[2018-11-11 14:41] ilayn commented on #9466
If that is happening it's a matter of using a different scipy version. Because this error comes (or not) depending on how scipy is installed.

Can you also add `print scipy.__version__` somewhere when invoking with R

[2018-11-11 14:50] timokau commented on #9466
I'm not sure I understand what you mean. The error appears to come from the blas library segfaulting. Without changing anything else, doing `export LD_PRELOAD=/path/to/libopenblas.so` "fixes" the issue.

The version doesn't change after initializing `rpy`:

[code]

Or with `LD_PRELOAD` set:

[code]

[2018-11-11 15:38] timokau commented on #9466
That sounds like a bad idea for the lapack library.

Since the error is reported as `RRuntimeWarning`, maybe `rpy2` has their own trap that somehow overrides `scipy`s? How does the trapping work? And why would the `LD_PRELOAD` fix it in this case?

[2018-11-11 15:43] ilayn commented on #9466
Looks like Rpy2 is fiddling with the libraries to enable JIT. We don't have anything to do with this.

[2018-11-11 15:46] timokau commented on #9466
Alright I'll report it there. Thanks for clearing it up so quick.

[2018-11-11 15:53] timokau commented on #9466
For reference: https://bitbucket.org/rpy2/rpy2/issues/491/importing-rpy2-before-scipy-leads-to

[2018-11-11 17:35] lgautier commented on #9466
rpy2 is doing enough weird on its own.

If anything unorthodox is happening here, it is either R... or scipy.

[2018-11-11 18:19] rgommers commented on #9466
@timokau what happens when you import `scipy.linalg` first and `rpy2` after that?

[2018-11-11 18:58] timokau commented on #9466
@rgommers then I don't get a segfault but the proper error message:

[code]

[2018-11-11 18:58] timokau commented on #9466
I've logged the library usage [here](https://bitbucket.org/rpy2/rpy2/issues/491/importing-rpy2-before-scipy-leads-to#comment-48868809).

[2018-11-11 19:54] rgommers commented on #9466
That's at least a workaround then. It does seem to suggest R is modifying something globally.

[2018-11-11 20:11] timokau commented on #9466
Yes that and preloading `openblas` both work as workarounds. It would be great to find the root problem of course.

[2018-11-12 03:56] Kai-Striega opened #9467 "TST: Duplicate tests for Geometric and Harmonic Means"
The Geometric and Harmonic means have two sets of test cases in ``test_stats``. Ideally, the tests for related functions should occur in one place, not spread across multiple suites. I think these tests should be reviewed and combined into a single test suit where possible.

For reference, the tests covering the geometric mean are  ``TestGMean`` and ``GeoMeanTestCase`` / ``TestGeoMean(GeoMeanTestC

[2018-11-12 04:43] akahard2dj commented on #9467
Hello,
Should I take this issue?
If no problem, I will follow that.

[2018-11-12 04:46] Kai-Striega commented on #9467
Go ahead, it will be nice to have it done.

[2018-11-12 06:27] fostiropoulos opened #9468 "Kolmogorov-Smirnov statistic on 2 different samples returns same result"
The two pairs of observations will have a largest difference that's got the same small-integer numerator is not remotely surprising -- and they both do, it's 4/13.

The library should provide a warning with the p-value.
### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[code]
('1.1.0', '1.11.3', sys.version_info(major=2, minor=7, micro=

[2018-11-12 17:35] WarrenWeckesser commented on #6882
@pv wrote:

Does anyone have a Windows development environment in which to try this?  Or can we get a test case that would currently fail on AppVeyor, and then abuse the CI by hacking on the Fortran until the test passes on AppVeyor?

[2018-11-12 20:35] WarrenWeckesser commented on #6882
I gave it a shot in https://github.com/scipy/scipy/pull/9469, but I suspect that if I had looked a little more closely at above comments and how Appveyor builds scipy, I would have know that the tests would pass.

[2018-11-13 04:06] aki-nishimura opened #9470 "scipy.sparse.linalg.eigsh requires at least 20 iterations to converge no matter what"
scipy.sparse.linalg.eigsh requires 20 iterations to find the largest eigenvalue even if I give the exact top eigenvector as the initial vector (the code below).

This is an issue for me because every matrix-vector operation counts in my problem. A bit more context on why I noticed this issue:

I have an application in which 1) I need to repeatedly find the largest eigenvalue of a positive definite

[2018-11-13 04:15] tylerjereddy opened #9471 "TST: Azure CI for Windows testing"
Since our Appveyor runs are rather slow I've been working on getting Azure CI working for SciPy Windows testing.

To reduce noise / CI burden I've been doing this in a [PR in my fork](https://github.com/tylerjereddy/scipy/pull/20), where you can see the current diff & Azure CI results.

I've struggled for several hours trying to get openblas to work properly--I note that [our instructions for inst

[2018-11-13 15:43] ewmoore commented on #9470
Try setting the `ncv` parameter to something smaller than 20.  The default is `min(n, max(2*k + 1, 20))` which for your example comes out as 20.

[2018-11-13 16:02] aki-nishimura commented on #9470
Ah, I missed the `ncv` parameter. Thanks! Yes, changing `ncv` does make convergence possible with fewer iterations.

[2018-11-13 17:34] #9470 closed

[2018-11-13 19:20] pimmen opened #9474 "Is the permutation test removed?"
I was looking for ways to do [permutation tests](https://en.wikipedia.org/wiki/Resampling_(statistics)#Permutation_tests) in scipy and found that the issue had already been raised, and that [this post](https://github.com/scipy/scipy/issues/4399#issuecomment-230980049) claimed it was resolved but when I look at [the docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.ht

[2018-11-13 19:50] pv commented on #9474
The work was *started* in the PR the comment you link to points to, but it appears to not have ever been finished. That's why #4440 is still open.

[2018-11-13 19:50] #9474 closed

[2018-11-14 00:58] tylerjereddy commented on #9471
ping @matthew-brett for suggestions maybe

[2018-11-14 01:03] tylerjereddy commented on #9471
Maybe an explicit `-L/directory/of/the/library` could be fed to `gfortran`, although I don't think we've normally had to do that

[2018-11-14 13:35] TeejIBM commented on #9452
Okay, this does not address the issue with SciPy.  It does throw an error, but that is not the goal of this -- the goal is to bypass this function entirely when compiling in 64 bit mode for AIX.

[2018-11-14 14:16] katrinamo opened #9475 "scipy.signal.firwin2 documentation (non-linear phase filters)"
Hello, my name is Katie and I'm somewhat of a newbie to scipy. I noticed that the documentation for scipy.signal.firwin2 states that it can only create filters "with linear phase". However, I have been using it for non-linear phase filter design as an alternative to Matlab's fir2. Not sure if this is intended behavior, but if so it would be awesome if the documentation was updated (it would also s

[2018-11-14 17:04] chrisb83 commented on #9468
What is the concern about the p-value?

[2018-11-14 17:47] J3ronimo opened #9476 "Invalid index in signal.medfilt2d's QUICK_SELECT"
Hi guys,

I was fiddling around with scipy's 2D median filter in order to maybe find a way to make it run a little faster. Finally I re-translated the C code found [here](https://github.com/scipy/scipy/blob/master/scipy/signal/medianfilter.c) to Python to see if I could maybe put that into numba / LLVM.

The Python code didn't run though, giving me an index error inside the QUICK_SELECT function,

[2018-11-14 21:09] tylerjereddy commented on #9471
As discussed in the NumPy call today it may also be useful to have Matthew's compilation workflow for openblas documented somehow so we can move forward with openblas-related issues more easily.

[2018-11-14 21:58] matthew-brett commented on #9471
Hi Tyler - did y'all find : https://github.com/MacPython/openblas-libs ?

[2018-11-15 07:42] reddimohan opened #9481 "Not able to install scipy using pip in docker alpine image with python:3.5.6-alpine image"
I am not able to install `pip install scipy` in docker `alpine:3.8` image
this is my Dockerfile

[code]
`requirements.txt` has 2 libs
[code]
### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:
[code]

[code]

[2018-11-15 07:49] ilayn commented on #9481
This looks like manylinux wheels are not compatible with Alpine (whatever distro it might be) and it is trying to build it. However then it also needs lapack and blas sources you can find the required libraries [here](https://scipy.github.io/devdocs/building/linux.html).

[2018-11-15 08:26] kuzand opened #9482 "Why expm(2*A) != expm(A) @ expm(A)"
Please have a look at this issue: https://stackoverflow.com/questions/53212497/why-expm2a-expma-expma

There is a problem with `scipy.linalg.expm` function.
Computing `expm(2*A)` and `expm(A) @ expm(A)`, for e.g. `A = np.arange(1,17).reshape(4,4)`, gives two different results, with the first one completely wrong due to overflow. However, there is no overflow when computing  `expm(A)`, but only  `e

[2018-11-15 08:43] pv commented on #9482
Not reproducible:
[code]

[2018-11-15 08:45] pv commented on #9482
With `A = A.astype(np.int32)` as noted by Warren Weckesser in a comment the issue is already fixed.

[2018-11-15 08:45] #9482 closed

[2018-11-15 08:56] kuzand commented on #9482
No it's not fixed with `A = A.astype(np.int32)` and the problem is reproducible by other people. So why did you close the issue?

 "I reproduced the problem using A = np.arange(1,17).reshape(4,4).astype(np.int32) in SciPy 1.1.0"

[2018-11-15 08:58] kuzand commented on #9482
What version of numpy do you have?

[2018-11-15 09:01] ilayn commented on #9482
It's a windows issue. On linux it should be working fine as noted in the comments of SO question. Change the datatype of A to float and it should work

[2018-11-15 09:03] kuzand commented on #9482
Yes, but that's a bug. Hopefully in the next release it gets fixed.

[2018-11-15 11:39] alexmiera opened #9483 "ImportError: No module named scipy.signal"
When I run the following code...
[code]
###  I get this .. Error message:
[code]
I've tried many things but still can't find why it does not work! It looks like scipy 1.1.0 has been correctly imported, but python does not read/see it. I am doing something wrong here., but don't know what else to try...

I have:
- Mac OS High Sierra
- Python v3.7 ( I'm working with Pycharm)
- Anaconda installed
- S

[2018-11-15 13:29] drmcnelson commented on #4042
The present basinhopping, which does a refinement at each hop, is not a good replacement for simulated annealing.   It imposes an assertion about the shape of minima and computational cost of the minimization versus the hop.  For some problems this turns out to not be a good idea.  These is no question that you have to be able to not refine at each step.

[2018-11-15 13:29] ilayn commented on #9483
This is a typical installation problem. I don't know the exact reason but in most cases people reported that reinstalling with the proper channels solve the problem. Here are all the results

https://www.google.com/search?q=ImportError:+No+module+named+scipy.signal+site:stackoverflow.com&client=firefox-b&sa=X&ved=2ahUKEwijp9K3wNbeAhXpw4sKHUfCAJ8QrQIoBDAEegQICBAO&biw=1920&bih=966

[2018-11-15 13:30] #9483 closed

[2018-11-15 13:35] drmcnelson opened #9484 "basinhopping() vs anneal()"
My issue is about ...
basinhopping() and deprecation of anneal()

The present routine is described as doing a refinement at each step.   This imposes a number of assumptions about the minima, and the cost of the refinement versus the hop.  For a general case annealer, there needs to be a way to do the annealing without the refinement.

[2018-11-15 17:21] rgommers commented on #9484
In the soon to be released 1.2.0, we have two new global optimizers with better performance, `shgo` and `dual_annealing`. Have a look at those: http://scipy.github.io/devdocs/optimize.html#global-optimization

[2018-11-15 17:21] #9484 closed

[2018-11-15 19:08] chrisb83 opened #9485 "t-test in scipy.stats: combine tests?"
There are four different t-tests in scipy:

- `ttest_1samp` - Calculate the T-test for the mean of ONE group of scores.
- `ttest_ind` - Calculate the T-test for the means of two independent samples of scores.
- `ttest_rel` - Calculate the T-test on TWO RELATED samples of scores, a and b.
- `ttest_ind_from_stats` - T-test for means of two independent samples from descriptive statistics.

In R, the

[2018-11-15 19:31] ilayn commented on #9485
I think an encompassing frontend can serve well here. Since the names are already a bit cryptic, forwarding the users to a common place should be easier than taming the signatures and dealing with backwards compatibility issues, should we decide to combine them. After a few releases we can reconsider these functions fate depending on the success of the frontend. By then people would probably adopt

[2018-11-15 19:54] rgommers commented on #9484
If someone contributes such a function and it has good performance, then it's of course welcome. We removed the old `anneal` because its performance was terrible.

This is not really a problem description by the way:) If there's a class of problems where a basic simulated annealing would do better than one of the existing global optimizers, then that would be good to know about and we can add them

[2018-11-15 20:59] drmcnelson commented on #9484
Fair enough, if I have some spare cycles, I'll see what I can do to
contribute.

On 11/15/18 2:54 PM, Ralf Gommers wrote:

[2018-11-15 21:07] larsoner commented on #9475
Running your code I get:

![figure_1](https://user-images.githubusercontent.com/2365790/48581190-190e5e80-e8ef-11e8-9e7d-60e582201efd.png)

The orange is the second plot, which is of the unwrapped phase. That looks linear to me?

And modifying the plotting code a bit to respect the effective sampling rate:
[code]
You can see that the intended/design phase (blue) is not preserved, and becomes linea

[2018-11-15 21:59] katrinamo commented on #9475
The updated code below may shed some more light on how I am seeing non linearity. I subtract the response of an allpass filter from that of the coefficients.

[code]

![figure_1](https://user-images.githubusercontent.com/9113510/48584379-94740e00-e8f7-11e8-81e5-084110a98b60.png)

However, upon further inspection is seems the result is _piece-wise_ linear. This may make my issue irrelevant.

[2018-11-15 23:41] rlucas7 commented on #9485
I don’t know if I’m qualified as a stats resident or not but I agree.

Sincerely,

-Lucas Roberts

[2018-11-16 02:02] rgommers commented on #9452
Hmm. It should be catching that, we have the exact same construct in several places. Just to make sure: you don't have a `site.cfg` file in your build dir, or a `~/.numpy-site.cfg`? That would explain why this is triggered; if not I have to debug in more detail.

[2018-11-16 02:07] rgommers commented on #9485
Somewhat related: https://mail.python.org/pipermail/scipy-user/2012-October/033441.html

I believe we discussed combining t-tests somewhere else before as well, but can't find it right now.

Combining makes sense in principle I think. The name `stats.ttest` is still available.

[2018-11-16 03:11] gety9 commented on #7350
Having same problem:

[code]

[2018-11-16 03:19] gety9 commented on #7350
@PikalaxALT did you manage to solve the issue?

[2018-11-16 04:06] neyuru opened #9487 "build problem (can't install MSYS)"
I'm following the instructions at: https://scipy.github.io/devdocs/building/windows.html
and, reporting back here.

There is a problem with gcc and gfortran because when issuing the commands:

gfortran
gcc

(as suggested) the MSYS2 terminal spits:

bash: gfortran: command not found
bash: gcc: command not found

in the instructions at the webpage:

"**These commands should give errors as we have no

[2018-11-16 04:54] neyuru commented on #9487
Thank you for your very fast response! I downloaded the precompiled versions from sourceforge (https://sourceforge.net/projects/openblas/files/) but then again, I will have to compile them and don't know how.

Is there another alternative? like using MKL instead of openblas? How about an openblas binary? - My objective is scipy, not openblas, so could I skip the compilation of openblas alltogether

[2018-11-16 04:59] rgommers commented on #9487
Yes, MKL + MSVC + Intel Fortran is the easiest thing to build on Windows, if you have all of those. See https://software.intel.com/en-us/articles/building-numpyscipy-with-intel-mkl-and-intel-fortran-on-windows. I see somehow we lost the link to that page from our own docs.

The mailing list post I linked above explains how to grab an OpenBLAS binary.

[2018-11-16 05:00] rgommers commented on #9487
correct. not sure if there's any performance gain though. can't remember any discussion/report on PGO

[2018-11-16 06:52] ilayn commented on #9487
We probably didn't do a good job mentioning that you have to open a mingw64 terminal of the msys2 terminals (you should see three of those). The gcc and gfortran becomes available there and probably not in the native msys2 terminal. I remember specifically writing this down in that page but couldn't find it.

But I would also keep following Ralf's recommendation. Just wanted to mention that detail

[2018-11-16 11:33] rkeane2 opened #9490 "l-bfgs-b cannot evaluate objective without also evaluating gradient"
In the bfgs algorithm, the gradient is evaluated once per iteration. The objective function may be evaluated several times per iteration, during the line search. In scipy's implementation, every time the objective function is evaluated, the gradient is also evaluated. This leads to an excessive amount of wasted time in problems where calculating the gradient is very expensive compared to evaluatin

[2018-11-16 13:08] katrinamo commented on #9475
please note that the middle graph above should be titled Coefs - Allpass, I got the title backwards.

[2018-11-16 18:22] novosirj opened #9491 "_pytest.warning_types.RemovedInPytest4Warning: MarkInfo objects are deprecated in scipy.test() with SciPy 1.1.0 on Python 3.7.1"
I have recently built Python 3.7.1 and build NumPy/SciPy with the Intel Composer XE 2018 update 4 (18.0.5) compiler suite and Intel MKL. I also enabled -O3 optimizations for SciPy, which it said might generate a test error in a corner case that was known about. I wanted to confirm that this was still a problem before using less sophisticated optimizations. However, The test only returned one error

[2018-11-16 19:54] pv commented on #9491
You'll probably need to downgrade to `pytest<4.0.0` to run the tests.

[2018-11-16 20:16] novosirj commented on #9491
Oh. seems like not -- it just fails to run the complete tests appropriately. There are actually _more_ failures on 3.10.1, but I'll look through them and see if they make more sense/are not about deprecation. Thanks for the tip.

[2018-11-16 20:36] novosirj commented on #9491
I'm not totally sure if these are serious or not. I guess I'll try recompiling with -O1 for SciPy Fortran and see if it makes any difference, unless anyone knows otherwise.

[scipy-errors.txt](https://github.com/scipy/scipy/files/2590786/scipy-errors.txt)

[2018-11-16 22:44] rainwoodman commented on #8443
My collaborator just figured the result of  hyp1f2 and diverges. We do want to use hyp1f2 -- any recommendation on where to find a useable implementation?

[2018-11-17 15:31] david-cortes commented on #9490
Disclaimer: I'm not a SciPy developer, this is just my perspective as a user who sometimes checks the source code.
As you might know, the L-BFGS-B optimizer is a wrapper over Nocedals's FORTRAN code:
http://users.iems.northwestern.edu/~nocedal/lbfgs.html

Putting there a different line search strategy would imply pretty much rewritting the algorithm, and also changing the termination test:
[code]

[2018-11-17 16:34] rlucas7 opened #9496 "python runtests.py -v fails on master branch w/sha 79dae16990d6d17398a372cae22a291bf23de980"
My issue is about the runtests.py file fails when run on mast recent commit.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

I updated my local repo master branch with master from github/scipy (was about 130 commits behind prior to the last release). Working on getting things back to a useable state as before. The docs all build in s

[2018-11-17 17:06] rlucas7 commented on #9485
@josef-pkt 👍  excellent points I hadn't considered, especially the naming convention.

RE: `compare_location` => this could be a more general method that handles both. In that case for consistency, we'd want to have higher level interface functions for ANOVA too (a function to call the parametric or non-parametric versions). Perhaps that one should be called `compare_2_or_more_locations`  which co

[2018-11-17 17:06] ilayn commented on #9496
Did you first run `git clean -xdf` and then build it from scratch with `python setup.py build` ?

[2018-11-17 17:50] rlucas7 commented on #9496
I did not. Should I be doing a clean on every git pull from the scipy/scipy upstream?
That appears to fix the issue w/the test in optimize submodiule but I'm still getting all the failures in the signal submodule?

[2018-11-17 18:13] ilayn commented on #9496
I'm not sure anymore because I can't keep up with the dependency updates hence I'm just doing it anyways. But that's out of ignorance. Someone might know better why and when.

[2018-11-17 19:00] rkeane2 commented on #9490
It's not true it would require rewriting the entire algorithm. The termination conditions would be exactly the same: norm of gradient is very close to zero, relative reduction in the objection function is below the tolerance, or more function evaluations/iterations than allowed. All you would have to do is switch out mcsrch (which uses the strong wolfe conditions) with something that does backtrac

[2018-11-17 21:02] josef-pkt commented on #9485
Consistency is important because it requires less reading of the documentation for individual cases.
The other issue is that some function names are "famous", i.e. what the users would be searching for. In other cases the name is uninformative except for experts, e.g. I never remember what `mood` does exactly and  how it differs from levene and bartlett.
e.g. https://github.com/statsmodels/statsmo

[2018-11-18 02:45] neyuru commented on #9487
That did the job, I can now access the compilers. Before I was using msys2.exe. But now I have delved into Intel's implementation and if that doesn't work out, I'll try again using OpenBLAS, thanks!

[2018-11-18 02:45] #9487 closed

[2018-11-18 05:38] Kai-Striega commented on #9269
When #9263 is merged could we consider raising the default tolerance for the simplex method? The existing "bugs" were really only issues with the tolerance - not the underlying logic. When discussed before the consensus to keep the tolerance at `1e-12` was based on the simplex method having a (theoretical) tolerance very close to machine accuracy.

Having a `revised simplex ` solver (ideally as th

[2018-11-18 10:54] sam1902 opened #9501 "There's a typo in the documentation of "scipy.optimize.rosen""
https://github.com/scipy/scipy/blob/fcdc3d7b7c1b950d874ac3e890cccde3e2de1c6c/scipy/optimize/optimize.py#L160

Should be
`sum(100.0*(x[1:] - x[:-1]**2.0)**2.0 + (1 - x[:-1])**2.0 )`

[2018-11-18 11:35] ilayn commented on #9501
@sam1902 thanks for taking the time to report it. Care to send a PR ?

[2018-11-18 11:51] sam1902 commented on #9501
https://github.com/scipy/scipy/blob/dbf668065ed784e4dbbbce44db9d436b62f2b556/scipy/optimize/optimize.py#L171

The typo is fixed in `maintenance/1.2.x`
Should I still send a PR ?

[2018-11-18 12:10] ilayn commented on #9501
Oh I thought you were looking at the master branch. Then no, we don't need to modify anything further since 1.2.x is branched out from the current master. I'll find the PR that fixed and mark this as a duplicate. Thanks anyways for your help though.

[2018-11-18 12:11] ilayn commented on #9501
Duplicate of #6161

[2018-11-18 12:11] #9501 closed

[2018-11-18 18:50] sturlamolden commented on #8923
Also, we need ```scipy.spatial.KDTree``` for the test suite, as it is used to test ```cKDTree```. It should not be removed but moved to ```scipy.spatial.tests``` and kept as a fancy test class.

[2018-11-18 18:58] sturlamolden commented on #8923
As for complex types, we can use C++ templating and Cython fusedtypes to create a generic implementation that will cover all NumPy dtypes, and perhaps even custom types. It will add more bloat to SciPy, though. It is mostly a matter of scanning through the code and replacing ```double``` with ```DTYPE``` (or whatever), but it is not a small task.

[2018-11-19 02:05] cdowen commented on #6999
Another sample file that will produce the problem. Tested on scipy 1.1.0, python 3.6.6 anaconda
[OF_012.mat.zip](https://github.com/scipy/scipy/files/2593540/OF_012.mat.zip)

[2018-11-19 02:06] cdowen commented on #6999
Another sample file that will produce the problem. Tested on scipy 1.1.0, python 3.6.6 anaconda
[OF_012.mat.zip](https://github.com/scipy/scipy/files/2593548/OF_012.mat.zip)

[2018-11-19 04:12] rgommers commented on #9496
No, in principle rebuilds should take care of this. However, it sometimes messes up, `setuptools` tracking isn't great so it could pick up outdated build artifacts. I use `git clean -xdf` a lot; if you don't have a fast build machine then not cleaning and only using `git clean -xdf` when you see weird failures  can also be a good strategy.

[2018-11-19 05:00] rgommers commented on #9491
The `suppress_warnings` ones are weird, not related to compiler optimization flags. Just ignore I'd say, not a real issue. The three tests with precision issues could be a problem, differences look large. So if you use the functions that it's failing for, use `-O1`.

[2018-11-19 05:45] rgommers commented on #9269
Good point. I don't see a problem with loosening the tolerance.

[2018-11-19 19:17] rgommers commented on #9269
I've added a note on this in my roadmap update PR:

    Many ideas for additional functionality (e.g. integer constraints, sparse
    matrix support, performance improvements) in ``linprog``, see gh-9269.

[2018-11-19 22:37] ilayn opened #9508 "On PyPy `test_lgmres::test_arnoldi` test crashing"
On PyPy `test_lgmres::test_arnoldi` test is causing a crash without giving any information about the problem. On #9507 the test is skipped due to contaminating the PR tests but needs more investigation.

### Error message:

[code]

[2018-11-20 06:28] rgommers opened #9509 "test_kolmogorov fails on 32-bit platforms"
Test was marked as xfail in gh-9494. It should be investigated why it fails though, looks like a real bug.

First observed on https://github.com/MacPython/scipy-wheels/pull/37.

[code]

[2018-11-22 10:26] dboeckenhoff opened #9514 "easy expansion to weighted moment"
Hi

My issue is about the expansion of the scipy.stats.moment function.
It can easily be expanded to also cover weighted moments, if _moments would return np.average(s, axis, axis, weights=weights), where weights have to be propagated from the moments function to _moments

Thanks,
Daniel

[2018-11-22 10:33] figiel opened #9515 "ndimage implementation relies on undefined behavior"
There is an issue in image filters implementation which results in test_white_tophat03 test to fail on 64-bit ARM. I debugged the issue and found that the underlying reason is in the ndimage/src/ni_filters.c in NI_MinOrMaxFilter function.
Basically it comes down to undefined behavior (which is different on Intel platforms and on ARM) during assignment of the "tmp" variable (double) to element of t

[2018-11-22 11:01] dboeckenhoff commented on #9514
+ it must say in _moment:
elif weights is None and moment == 1
instead of elif moment == 1

[2018-11-22 11:01] #9514 closed

[2018-11-22 13:29] figiel opened #9516 "TestIQR.test_rng failing on ARMv8"
There is an issue with error handling in stats.iqr which causes the TestIQR.test_rng test to fail on ARMv8 (and likely other non-intel architectures).

There is no explicit error checking for NaNs and expected ValueError exception is not thrown on ARMv8. This issue remains undetected in intel because there the ValueError is thrown as a side effect of undefined behavior caused by a cast of np.nan t

[2018-11-22 14:52] reynoldscem commented on #6000
Can you comment as to why it was never integrated?

[2018-11-22 15:15] vnmabus opened #9518 "Relational attributes in loadarff"
I was trying to load a dataset in arff format that have a relational attribute. However, it seems that scipy can not handle them nowadays:

https://github.com/scipy/scipy/blob/c2ec858d63ac143e6da4c4f48005c30f5185b95b/scipy/io/arff/arffread.py#L284

Are there any plans for adding this feature?

[2018-11-22 15:18] ilayn commented on #9518
Hi @vnmabus, if somebody steps up for a PR that would be great. Otherwise we need to wait for a volunteer.

[2018-11-22 15:37] gandroz opened #9519 "FutureWarning for non-tuple sequence (another)"
Linked to [PR8944](https://github.com/scipy/scipy/pull/8944), I got warning message:

```scipy/signal/_arraytools.py:45: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  b = a

[2018-11-22 15:46] figiel opened #9520 "signal.correlate with method='fft' doesn't benefit from long doubles (but is expected to)"
test_signaltools.py tests signal.correlate with long double types (both real and complex), which leads to failures on ARMv8. The failures happen only when the 'fft' method is in use and for types larger than 64-bit floats (np.longdouble). The failures are most likely caused by losing precision on conversions of input arrays to double in numpy's fftpack: https://github.com/numpy/numpy/blob/464f79eb

[2018-11-22 22:25] chanshing opened #9521 "`nonlin_solve()` in `nonlin.py` raises AttributeError when passing a function for the jacobian"
When I use `scipy.optimize.nonlin.nonlin_solve` and pass a callable to `jacobian` argument that returns the jacobian matrix, it raises an `AttributeError: 'Jac' object has no attribute 'x'`. A code to reproduce it:

[code]

I looked into the source code and `jacobian` is wrapped using `asjacobian(jacobian)` which turns it into a `Jac` object. The problem is that the `jacobian.solve` method is call

[2018-11-22 22:52] pv commented on #9521
scipy.optimize.nonlin.nonlin_solve is not a public function (as noticeable from the fact that it is not in the documentation).

[2018-11-22 23:04] kevinrichardgreen commented on #7700
I have a fix to this (workaround, really). Simply call
[code]
From 2.6 of SuperLU docs (http://crd-legacy.lbl.gov/~xiaoye/SuperLU/ug.pdf), `SymmetricMode` "prefers" the diagonal pivot, but since it's not specific as to how strongly it prefers this, setting `diag_pivot_thresh=0` as well should guarantee that no pivoting is done.

(Note it is strange that setting `diag_pivot_thresh=0` alone is not e

[2018-11-22 23:04] kevinrichardgreen commented on #8795
Check back in with #7700. I just added a comment that should help with this too.

[2018-11-23 00:14] rlucas7 commented on #9496
ugh, this was b/c I hadnt updated my virtual environment when I pulled in the new release.
`conda update --all` then `git clean -xdf` then `python runtests.py -v` builds fine now. Thanks @rgommers + @ilayn appreciate the help.

[2018-11-23 00:14] #9496 closed

[2018-11-23 00:33] rgommers commented on #9521
`optimize.nonlin` isn't public, and we set `currentmodule` correctly in its docstring, but we do make things confusing by including `nonlin` in the html docs: https://docs.scipy.org/doc/scipy/reference/optimize.nonlin.html

should we move it to `_nonlin`?

[2018-11-23 02:20] ideasrule opened #9524 "interpn returns nan with perfectly valid data"
interpn returns nan when one of the dimensions of the grid has length 1, even if the inputs are perfectly valid.  I know this is an edge case, but it's crucial to my program, and working around it requires ugly hacks.

### Reproducing code example:

[code]

### Error message:

No error message, but returns array([nan, nan, nan])

### Scipy/Numpy/Python version information:
[code]

[2018-11-23 05:10] tylerjereddy commented on #9471
A persistent problem that I can reproduce locally for Windows source builds after openblas is detected by distutils is this mingw gfortran (linking?) issue:

`C:\Users\treddy\windows_dev_work\github_projects\scipy/scipy/integrate/quadpack/dqc25f.f:293: undefined reference to 'dgtsv_'`

[There's a line](https://github.com/scipy/scipy/blob/master/appveyor.yml#L104) in our master branch appveyor conf

[2018-11-23 07:02] #9516 closed

[2018-11-23 07:35] rgommers commented on #9515
Yeah, not sure that cast to long is correct, I suspect not. Hoping @jaimefrio can have a quick peek at this one.

[2018-11-23 10:18] chanshing commented on #9521
I see, but it probably should still work for the example above. This is the documented comment for the jacobian argument:

[code]

As per the comment, it seems to suggest that we can pass a callable.

Side question: What can I use instead of `nonlin_solve`? I would like to perform simple Newton's method but multivariate, where I have the exact jacobian. Thank you.

[2018-11-23 15:02] Gabriel-p opened #9527 "Anderson-Darling ksamples can not estimate p-values beyond given range"
I've been following the trace for this long standing issue. let me do a quick recap:

It was apparently first reported in 2015 (https://github.com/scipy/scipy/issues/5493) mentioning that the test was throwing bad p-values (larger than 1). A similar issue was reported this year (https://github.com/scipy/scipy/issues/8536) with the discussion apparently agreeing on capping the p-values at 0.25. Thi

[2018-11-23 15:20] josef-pkt commented on #9527
issue 8536 has some discussion about extending the range of p-values.

Someone has to implement the p-values or p-value tables, but we cannot translate or directly use the implementation in the kSamples package because it is GPL and not license compatible.

@aarchiba has an implementation in https://github.com/aarchiba/kuiper/blob/master/anderson_darling.py
but I never tried it out.
(It has BSD-3

[2018-11-23 15:51] Gabriel-p commented on #9527
Thanks @josef-pkt. I did some quick tests with that code, but it does not seem to work entirely. This;

[code]

correctly returns:

but the `anderson_darling_k()` function returns:

These values coincide with the result from the `ad.test()` function (`version 1`  results) from `kSamples`, except for the p-value:

[2018-11-23 23:14] SuperFluffy opened #9528 "Incorrect test for parallelity in sparse/linalg/_onenormest.py suggests performance improvement"
This issue regards latest master, (right now at commit 3c46ac1fcadc0b202c7bebeb88db9ec2fceb653c; that commit is unrelated to this issue), but exists probably since the inception of the function discussed below. This is a minor issue, because the likelihood of it occurring is very slim (but see below). It does however suggest a performance  improvement.

# Problem description

I have been studying

[2018-11-24 16:55] Xurotash commented on #9371
I dug some deeper into this cutoff correction, and realised that the correction factor should NOT be applied directly on the cutoff frequency, i.e. f_c_low = f_wanted / C is incorrect. I find this so interesting that i wrote an article on codeproject to highlight this issue.
[https://www.codeproject.com/Articles/1267916/Multi-pass-Filter-Cutoff-Correction](url)

[2018-11-24 17:11] rgommers commented on #9528
@SuperFluffy now that you understand this potential problem, is it possible for you to construct an example that does show the issue? And when I say example, I mean using a function that's in the public API of `sparse.linalg` (because `vectors_are_parallel` itself is not public).

[2018-11-24 18:35] #9520 closed

[2018-11-24 18:42] rgommers commented on #9521
not too familiar with this functionality, but you're probably right (or we should update the comment at least). To decide, it would be helpful though to know if this affects one of the public functions that use `nonlin_solve`.

Would `optimize.least_squares` with the `jac_sparsity` option (or `sparse.linalg.lsmr` directly) fit that?

[2018-11-24 18:48] rgommers opened #9530 "On PyPy `test_random_data_multidim_axes` crashing"
The CircleCI PyPy run result ([example](https://circleci.com/gh/scipy/scipy/10088?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification)):
[code]

The test:
[code]

[2018-11-24 18:54] ilayn commented on #9530
As much as I would love to keep the PyPy run, I think this is a bit too much for us to maintain. Seemingly random fails are quite common from again random places (of course there is an underlying reason probably somewhere).

[2018-11-24 18:55] ilayn commented on #9530
Xref #9508

[2018-11-24 19:06] rgommers commented on #9530
We added `pypy3` ourselves to CI in gh-8783, under the assumption that it would not be much work. These failures do seem consistent, I get the same ones repeatedly (CircleCI sends nice "build failed" emails post-merge). So points towards real bugs in PyPy, perhaps in combination with changes in NumPy that now trigger the crashes.

@mattip how would you suggest to deal with these? Report to PyPy an

[2018-11-24 19:17] ilayn commented on #9530
Ah what I meant by random is that when we fix one, another fail pops up but not simultaneously.

[2018-11-24 19:20] rgommers commented on #9530
Ah yes, because of the crashes - hard to tell how many are left for tests that are now never executed. That would require someone to reproduce these locally, indeed not much point skipping tests one by one.

[2018-11-24 20:07] tpudlik commented on #9454
That's true, but [bdtr](https://github.com/scipy/scipy/blob/8dba340293fe20e62e173bdf2c10ae208286692f/scipy/special/cephes/bdtr.c) casts `k` and `n` to `int` before calling `incbet`.  I even get a runtime warning about this if I explicitly make `k` a `float`:

    __main__:1: RuntimeWarning: floating point number truncated to an integer

It looks like the problem is that `n` is too large for a C `i

[2018-11-24 23:31] rgommers commented on #9454
Should be, now that we've dropped Python 2.7 for the next release. I'm not really sure about portability of `int64_t` on other platforms though (most C99 issues were Windows Python 2.7 related, that's the part we can stop worrying about).

On closer inspection, should be fine given that Cython does `ctypedef npy_int64      int64_t`.

[2018-11-25 13:37] mattip commented on #9530
Runnine the circleCI pypy3 test setup locally does not crash on my Ubuntu 18.04, even when running with `-n4`. Did the CI check once run successfully and suddenly stop doing so? Perhaps the circleci is using a different BLAS than mine which has some issues with threading, and PyPy hits that issue more consistently?

[2018-11-25 22:19] rgommers commented on #9530
The SciPy build uses ATLAS (https://github.com/scipy/scipy/blob/master/.circleci/config.yml#L110) while NumPy is installed from a wheel so should be using OpenBLAS. I suspect OpenBLAS will be the issue. I'll have a look at the history, maybe there's a correlation with OpenBLAS version.

[2018-11-25 22:31] rgommers commented on #9530
Okay, the original PR was pre numpy 1.15.0, and used numpy master because there were some pypy3 fixes in there that were needed. Then we switched to >=1.15.0, so it means we switched from a numpy source build which would have picked up ATLAS to now 1.15.4 which uses OpenBLAS 0.3.0.

@mattip why do you specifically say "issues with threading"?

[2018-11-26 00:13] mdhaber opened #9535 "linprog(method='simplex') callback bug"
`linprog(method='simplex')` is not working for the following example, which is really just `test_enzo_example_b` with the example callback function. The failure isn't particular to this callback function; even an empty callback function (`pass`) produces the same error. I haven't looked deeply into the cause but I suspect there is something  wrong with `_linprog_simplex.py`:
[code]
specifically th

[2018-11-26 00:59] mdhaber opened #9536 "`linprog` callback interface discussion"
The original callback interface for `linprog` was written pretty specifically for the original `simplex` method. We recently changed the callback function interface to accept a single `OptimizeResult` object, which helps to make the interface more flexible, but additional decisions need to be made as we add callback support for the new methods.

Questions about `linprog_verbose_callback`:

1. `sci

[2018-11-26 00:59] mdhaber commented on #9536
@Kai-Striega thoughts?

[2018-11-26 01:01] mdhaber commented on #9535
@Kai-Striega no rush on this, but I imagine this would be an easy fix for you. Or, if you can identify the fix, I can implement it. That might be nice to avoid merge conflicts, as I'll be working heavily on `linprog` again.

[2018-11-26 04:08] Kai-Striega commented on #9536
@mdhaber I'll be able to take a thorough look later this week.

An extra point I think is worth discussing is the use of `disp`. The `disp` option enables users to print  predefined messages throughout the implementation. The documentation for `disp` reads disp : ``Set to True to print convergence messages.``

8. How do `callback` and `disp`  work together? Can we define the roles of `callback` an

[2018-11-26 06:12] tdryer commented on #8684
Here's another example:
[code]
The output is an array containing an unpredictable value (especially unpredictable with `PYTHONMALLOC=malloc`).

Valgrind command:
[code]
Valgrind output:
[code]

[2018-11-26 06:17] tdryer commented on #8814
Might be related to #8684.

[2018-11-26 06:17] tpudlik commented on #5503
I looked into improving the accuracy of the binomial CDF.  I have not yet produced a better implementation, but I'll record what I've found for future reference (hopefully my own!).

# How does R compare?

I decided to check how does R stack up against SciPy here.  Using R version 3.4.4 (2018-03-15), I got the following results:

[code]

So, R remains accurate much longer than SciPy.  R also compu

[2018-11-26 17:19] mattip commented on #9530
It seems OpenBlas is not really thread safe, there are various open issues around it in NumPy. PyPy may be more aggressively or even improperly releasing the GIL in its C-API compatibility layer. Could we run the CI with whatever environment variable signals to BLAS to run single threaded, or will that make it run too slow?

[2018-11-26 20:43] chrisb83 commented on #9485
True, but combining the tests by topic like location tests has several drawbacks:

- many different options / parameters (as you state for some Tests in R packages)
- documentation will become very long and hard to read if one needs to distinguish many cases

I do think it would make sense to have more guidance for the user by grouping tests by topic in the documentation: link tests via "See also"

[2018-11-26 23:44] mattip commented on #9530
Assuming my leap of faith is correct and threading is the issue, and not some GC related kerfuffel. Strange it doesn't show up locally, even when following the CI recipe.

[2018-11-27 01:14] 1313e opened #9540 "SciPy v1.2.0rc1 cannot be imported on Python 2.7.15"
My title says it all, basically.
When I try to import `scipy.stats` on Python 2.7.15 using SciPy v1.2.0rc1 (which, apparently, is on PyPI despite it being a development version), I get the following error (which was generated by Travis CI):
[code]

If I attempt to do the same on Python 3.5/3.6/3.7, it works perfectly fine.
I'm using NumPy 1.15.4 and the Xenial distribution on Travis CI.

[2018-11-27 01:18] rgommers commented on #9540
You should only be getting that when you do `pip install scipy --pre` (to select pre-releases)

[2018-11-27 01:19] rgommers commented on #9540
the error is odd, that should have been caught by CI if it's a real issue

[2018-11-27 01:20] 1313e commented on #9540
Yeah, that is what I thought as well, but I simply use `pip install -r requirements.txt`, which lists `scipy>=1.0.0`.

[2018-11-27 01:22] rgommers commented on #9540
what `pip` version did you use?

[2018-11-27 01:35] rgommers commented on #9540
I cannot reproduce that:
[code]

And on https://pypi.org/project/scipy/#history 1.2.0rc1 is correctly labelled as a pre-release.

My `pip` is the one packaged by `conda` though - maybe it's not 100% identical to yours. How did you install `pip`?

[2018-11-27 01:40] 1313e commented on #9540
`python -m pip install --disable-pip-version-check --user --upgrade pip`.
However, I am using Conda as well.

But, installing SciPy is not the problem, since that succeeds.
The problem is trying to import `scipy.stats`.

[2018-11-27 01:42] rgommers commented on #9540
Well, there are 2 problems. Somehow you're getting the wrong version, and then you get an exception that shouldn't be there.

[2018-11-27 01:46] 1313e commented on #9540
Oh, wait, hold on.
SciPy is installed by the execution of `python setup.py install`, where `'scipy>=1.0.0'` is listed in the `install_requires` argument in the `setup` function.
It does not use the `pip install -r requirements.txt` method.

[2018-11-27 01:49] rgommers commented on #9540
`python setup.py install` where exactly?

[2018-11-27 01:51] 1313e commented on #9540
Inside the directory of the package that I am trying to install.
However, I think that automatically uses `easy-install` if I am not mistaken, since the installation process generates:
[code]

[2018-11-27 01:56] rgommers commented on #9540
Ah yes, good catch. Well, that can't be helped then. The advice you'll get from packaging people is simply to not use `python setup.py install` but `pip install .` instead.

No that shouldn't matter - `pip` first determines the version it wants, and then checks its cache.

[2018-11-27 01:57] rgommers commented on #9540
The bug is real, can reproduce. It seems the tests aren't run for `spatial.transform` on TravisCI, or that should have failed.

[2018-11-27 01:57] 1313e commented on #9540
Ah, yes, I have heard it before, but I am so used to using `python setup.py install` and never had any problems with that at all (until now I guess) that I never changed my ways of using it.
Guess now is the time to do that.

[2018-11-27 02:00] WarrenWeckesser commented on #9540
@rgommers wrote

Ralf, how did you reproduce the bug?  With Mac OS X 10.9 running Python 2.7.15, I didn't get the error with either scipy master or with 1.2.0rc1 installed with pip.

It looks like the problem is the non-ascii opening and closing double-quotes around the title of a reference.

[2018-11-27 02:02] rgommers commented on #9540
I don't have a full py27 install at hand, but a basic py27 installed with conda and then

    cd scipy/spatial/transform
    python2.7 rotation.py

shows me the `SyntaxError`.

[2018-11-27 02:03] rgommers commented on #9540
Indeed, fix in gh-9541. Still need to investigate why that's showing up only now.

[2018-11-27 02:08] rgommers commented on #9540
Could have to do with import order perhaps, or be platform dependent. The issue shows up for @1313e when he does `import scipy.stats`. The tests never do that. There's `# -*- coding: utf-8 -*-` comments scattered around in various files. The encoding should be set per file according to PEP 263, but perhaps that's not the case?

[2018-11-27 02:14] 1313e commented on #9540
In my own package, I always use `# -*- coding: utf-8 -*-` comments everywhere as well.
The `import scipy.stats` is however done by an external package (`mlxtend`), which does not do that.
I obviously did not really know that that might be the issue, so I came here.

[2018-11-27 02:16] WarrenWeckesser commented on #9540
I don't get the syntax error with `import stats`:

[code]

[2018-11-27 02:19] rgommers commented on #9540
@WarrenWeckesser do you get the error with `python2.7 rotation.py`?

[2018-11-27 11:59] Gabriel-p commented on #9527
Thanks @chrisb83. So I can use that gist to extend the coefficients to obtain the p-value for 0.5, 0.75, and 1 for example? This seems like an easy enough task, is there any specific reason it isn't done already? I mean something like stability issues in the coefficients or too much time wasted on simulations.

[2018-11-27 15:04] chanshing commented on #9521
Aham... I will give it a try. Thank you for your time.

[2018-11-27 15:04] #9521 closed

[2018-11-27 16:09] gasar8 opened #9543 "Error in scipy.integrate.nquad when using variable integration bounds and parametric arguments"
I've got the same issue as there was some time ago. When I was reading the previous solutions, it was said, that version 0.19.0 doesn't have it anymore, but now that I am using 1.1.0 it is there again. I am using the same example as it was used in previous threads:

[code]

### Error message:
[code]
[code]

[2018-11-27 17:32] #9540 closed

[2018-11-27 22:07] chrisb83 commented on #9527
Yes, I could have easily included other significance levels at that time, I did not consider larger significance levels though. For 0.5 and 0.75, the simulation is much easier since you are not far in the tail as for p=0.001, so probably one could use much less simulations. then you still need to fit the interpolation for the number of samples. Runtime of the script was ~12h (I used a very simple

[2018-11-28 01:18] rgommers commented on #8051
@dimpase can you comment here instead of at https://github.com/scipy/scipy/commit/e1f15525e2d8df591017d6d557e297cddfcafbcc#commitcomment-31472199? Should we reopen this issue? Sounds like perhaps the default build config on OpenBSD is the problem? If multiple other builds on OpenBSD are fine and this doesn't happen on other platforms, then it sounds like perhaps what `numpy.distutils` does for a b

[2018-11-28 02:33] rlucas7 opened #9544 "burr gives wrong mean() and expect()"
My issue is about ...
The `burr` distribution does not produce the correct mean() and expect() values.

### Reproducing code example:

[code]

### Error message:
In my dev environment, the first time the `.expect()` is called I get
[code]

### Scipy/Numpy/Python version information:

[code]

This may be a known issue given that these parameter values are in the source code.
at `tests/test_continuo

[2018-11-28 02:42] rlucas7 commented on #9544
the `var()` method also gives non-sensical results

 f_burr.var()
-7997.5681215257

[2018-11-28 02:44] rlucas7 commented on #9544
cdf appears to be fine:

0.0

1.0

0.6264828708111116

0.04795988467974732

0.2660479841928383

0.8994637244282145

0.9880109529403922

0.9998468284412179

0.9999980571535964

0.9999999972249616

[2018-11-28 03:14] WarrenWeckesser commented on #9544
For `c <= 1`, the mean of the Burr Type III distribution doesn't exist.  The distribution is also known as the Dagum distribution, and you can see the formula for the mean on the [Dagum distribution wikipedia page](https://en.wikipedia.org/wiki/Dagum_distribution).  (The parameter `a` on the wikipedia page is the parameter `c` in the SciPy implementation.)

This leads to a natural enhancement requ

[2018-11-28 03:40] WarrenWeckesser commented on #9544
`b` is the scale, and `burr` has a scale parameter, so technically, the Dagum distribution on the wikipedia page is a special case of `burr` with `loc=0`. 😃

But when `func` is not given to `expect()`, it computes the mean.  Since we *know* we are computing the mean in that case, and we have an explicit formula for it, it is silly to not use it.  I don't see any problem with adding a note explaini

[2018-11-28 03:41] josef-pkt commented on #9544
just in general about parameter values like `burr(0.94839, 4.382028)`.

The parameters in the unit tests where initially created by random numbers until I found some that "worked". There was not enough time and often no (accessible) references to check each individual distribution specifically.

It would be better if those are replaced by "good" parameters, if they are still the old random paramet

[2018-11-28 03:42] retiform opened #9545 "Is there any way to get the stats.norm methods to use a right tail?"
Methods like scipy.stats.norm seem to only work with left tails. Am I just misunderstanding this, or is it a limitation of the code.  If it is a limitation of the code, can this be fixed?  This works great for people only using percentiles, but is not great if you want to find percentages of upper bounds.

Ex:

[code]
Returns only
[code]

And has no option to return a right tail value  (0.00134989

[2018-11-28 03:57] josef-pkt commented on #9545
use `sf` and the corresponding `isf` which is in many cases numerically more precise in the upper tail

[2018-11-28 03:57] WarrenWeckesser commented on #9545
I think you are looking for the [survival function](https://en.wikipedia.org/wiki/Survival_function), which is implemented in the SciPy distributions as the method `sf`:

[code]

[2018-11-28 06:40] zamantousif opened #9546 "cannot import name logsumexp"
My issue is related to use of scipy in cvxpy. I am using scipy version mentioned below and upon running the example code (link provided below), I get an error pointing that there is no module named logsumexp. Could you help me fix this? why is this module no longer in the latest version of scipy?

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version inf

[2018-11-28 06:40] zamantousif commented on #9546
import sys, scipy, numpy; print(scipy.__version__, numpy.__version__, sys.version_info)
('1.3.0.dev0+0781734', '1.16.0.dev0+11a316e', sys.version_info(major=2, minor=7, micro=12, releaselevel='final', serial=0))

[2018-11-28 06:43] rkern commented on #9546
It was moved to `scipy.special.logsumexp` in 2016, and was finally deleted from `scipy.misc` after a period of deprecation. `cvxpy` should have updated its calls in that time.

[2018-11-28 06:43] #9546 closed

[2018-11-28 06:46] ilayn commented on #9546
Have a look at thebackwards incompatible changes section here https://github.com/scipy/scipy/blob/master/doc/release/1.3.0-notes.rst

scipy.misc had quite a few deprecations since version 1.0.0

[2018-11-28 07:00] rgommers opened #9547 "signature of dual_annealing doesn't match other optimizers"
Hi all, can't believe I missed this in the review, but there's an issue with the `dual_annealing` signature. Compare these:

    basinhopping(func, x0, ...
    differential_evolution(func, bounds, args=(), ...
    shgo(func, bounds, args=(), ...
    dual_annealing(func, x0, bounds, args=(), ...

The `x0` shouldn't be there, so the 3 best global optimizers have matching signatures. The `dual_anneal

[2018-11-28 07:01] ideasrule opened #9548 "Regression in 1.2: Cannot import RectBivariateSpline, UnivariateSpline"
Importing from scipy.interpolate causes exception in pre-release candidate 1.2.0rc1, at least when done in Travis CI:

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:
scipy 1.2.0rc1, Python 2.7.14

[2018-11-28 07:03] andyfaff commented on #9547
Oops. That definitely needs to be changed before the release

[2018-11-28 07:04] rgommers commented on #9548
thanks for the report @ideasrule. known issue (gh-9540), already fixed. next 1.2.0 release candidate should work fine

[2018-11-28 07:04] #9548 closed

[2018-11-28 07:33] sgubianpm commented on #9547
@rgommers , @andyfaff
I would agree with @rgommers, the idea was to let the user input an initial starting point as an initial guess and have a similar signature as basinhopping (if ``None`` is provided, it is generated). Maybe the best thing would be to make it optional then.

[2018-11-28 14:07] retiform commented on #9545
alright thanks!

[2018-11-28 14:07] #9545 closed

[2018-11-28 17:15] chrisb83 commented on #9359
Numerical "proof":
[code]

[2018-11-28 20:13] NAThompson opened #9551 "BUG: scipy.optimize.newton says the root of x^2+1 is zero."
Scipy version 1.1.0, Python 3.6.3

[code]

See related discussion on [scicomp.stackexchange](https://scicomp.stackexchange.com/questions/30597/defining-a-condition-number-and-termination-criteria-for-newtons-method).

[2018-11-29 03:12] venuur commented on #3758
I missed the doc's indication of integer only values, so I found that the `std` method also behave's unexpectedly:

[code]

I thought it might be useful for those trying to figure out which methods are impacted by the integrality assumption.

[2018-11-29 07:52] mayesha-mukarrama opened #9552 "Importing error in scipy.spatial.distance"
I am getting an error while importing scipy.spatial.distance.

### Reproducing code example:

Getting this error,

Traceback (most recent call last):
  File "cos1.py", line 3, in <module>
    from scipy.spatial.distance import pdist
  File "/home/mayesha/venv/local/lib/python2.7/site-packages/scipy/spatial/__init__.py", line 94, in <module>
    from .kdtree import *
  File "/home/mayesha/venv/loca

[2018-11-29 12:42] yuracpp opened #9553 "ndimage routines behave badly when output has memory overlap with inputs"
Maybe the problem is following
...
_tmp = grey_erosion(tmp, size, footprint, structure, output, mode, cval, origin)_
tmp and input is the same now
so
_numpy.subtract(tmp, input, out=tmp)_
gives zero

Thank you

[2018-11-29 13:55] ilayn commented on #9553
@yuracpp Do you mind adding a reproducable code snippet that we can copy and paste to see the problem for ourselves?

It is not easy for us to understand anything from this.

[2018-11-29 14:48] yuracpp commented on #9553
import numpy as np
import scipy.ndimage as ndi

a = np.ones((3,3))
a[1,1] = 0
ndi.black_tophat(a, size=3)
array([[0., 0., 0.],
       [0., 1., 0.],
       [0., 0., 0.]])
ndi.black_tophat(a, size=3, output=a)
array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

[2018-11-29 16:30] perimosocordiae commented on #9552
Based on your traceback, it appears that you have a file named `dis.py` on your $PYTHONPATH, which is being used in place of the standard library `dis` module.

Shadowing stdlib modules is a bad idea, so if you can, rename your version to something else.

[2018-11-29 19:47] sturlamolden commented on #9213
The C++ standard say that definition of ```__STDC_VERSION__``` implementation dependent. I see that we have cases of C include files that use this macro and are imported in C++, e.g. ```scipy/special/_round.h``` and ```scipy/_lib/_c99compat.h```, and probably others.

First, **it is not en error to use ```__STDC_VERSION__``` in C++** because the standard allows this macro to be defined. We just ha

[2018-11-30 06:12] omtinez commented on #6873
Can we reopen this issue? It has not been fixed, still waiting for #9271 to be merged.

For anyone that wants a workaround, you can clone my fork since the PR with the fix is not getting any traction: https://github.com/omtinez/scipy

[2018-11-30 12:07] nbud commented on #2158
As a note, ``special.chndtrix`` is also used in ``stats.rice.ppf`` (Rice distribution). Example below, the median calculated with ``rice.ppf`` is off for ``b=110``.

[code]
![figure_1](https://user-images.githubusercontent.com/16596345/49288352-6a465280-f498-11e8-86d6-0eb1d465c2b3.png)

[2018-11-30 13:06] #9508 closed

[2018-11-30 13:58] jeremiedbb opened #9555 "pdist and cdist disagree for 'seuclidean' and 'mahalanobis' metrics"
When `XB==XA`, cdist does not give the same result as pdist for 'seuclidean' and 'mahalanobis' metrics, if metrics params are left to None.

Reproducible example:
[code]

This is probably due to the way the metrics params `V` and `VI` are precomputed in pdist and cdist.

[2018-12-01 15:36] mrkalling commented on #9551
It will work if you use the appropriate  data type. Try newton(f,10 +10j). It will give an answer (1.0782266972886038e-22+1j) which is correct.

[2018-12-01 17:41] NAThompson commented on #9551
@mrkalling : The point is that if you don't know if a real root exists or not, then you'd like to pass some function in with a real data, and you'd like the error message to be "can't find root" or "root does not exist", not the wrong answer.

[2018-12-01 17:57] WarrenWeckesser commented on #9551
`newton` should raise an exception in this case.

[2018-12-01 19:17] sturlamolden commented on #8967
Windows API ```ReadFile``` function use a ```DWORD``` for its ```nNumberOfBytesToRead```. This means that it is impossible to read a larger chunk than 4 GB from a file on Windows, as ```DWORD``` is an unsigned 32 bit integer even on 64 bit systems.  Line 173 ```buffer = self.mat_stream.read(int(num_bytes))``` tries to read the whole mat file in one chunk. If a file size of 4 GB is exceeded, we mus

[2018-12-01 21:01] #9543 closed

[2018-12-02 03:42] rgommers commented on #9555
I can reproduce this. The differences are small, but significant:
[code]

[2018-12-02 04:33] Kai-Striega opened #9558 "`nan_policy` effects all non-finite values if set to `omit`"
In scipy.stats the use of `nan_policy` effects all invalid values rather than only nan values if `nan_policy='omit'`. From the `sem` docstring:

This occurs because `_nan_policy` checks for nan values *only*, however, if a nan is found it is handled by using `ma.masked_invalid` where invalid values are defined as: Not a Number, positive infinity and negative infinity. For example in scipy.stats.se

[2018-12-02 15:30] automated-reckoning commented on #8352
Good god, the "correct" way to pass arguments is to use a lambda function? What madness infected the scipy devs?
@pv

[2018-12-02 16:12] ilayn commented on #8352
I understand that you don't mince words but how can we even engage with such comment?

If you made up your mind then I guess there is no point in discussion. If you have a better idea we would love to have your PR to see how it was supposed to be done while trying to break as little as possible but still unifying [all the solvers](https://docs.scipy.org/doc/scipy/reference/integrate.html#solving-i

[2018-12-02 16:57] ilayn commented on #8352
Let's bring it down to a concrete example. Let's say you have a callable `my_fun(t, y, a, b, c)` with args `a`, `b`, `c`. Now the issue is to push those `a`, `b`, `c` into the `solve_ivp` somehow. Unfortunately we can't just push the function signature hence

[code]
won't fly. So either we have yet another keyword `myfunc_args` and the user populates that argument with a dict or whatever. Then we

[2018-12-02 17:03] ilayn commented on #8352
I think what you mention about putting `lambda` trick in the docs is the first step. Care to make a PR @automated-reckoning or should I do it?

[2018-12-02 20:37] WarrenWeckesser commented on #8352
We've had this conversation before, and I've said this before: I like the `args` argument, and when I was teaching scientific computing with Python, I don't recall any students being confused by it.  It seems to be a very natural API.

I've also worked with differential equations for many years, for research and for fun, and in my experience, it is rare that a "real world" system of DEs doesn't ha

[2018-12-03 00:08] rkeane2 commented on #9490
I believe the l-bfgs-b code already has the ability to do backtracking line search. If you call l-bfgs-b without giving it a gradient (in which case it uses automatic numerical differentiation to calculate the gradient), you can tell from the number of objective evaluations that it does not use the curvature condition in the line search.

In other words, whatever linesearch routine l-bfgs-b does w

[2018-12-03 02:01] Samthos commented on #9555
I looked at the documentation and source for cdist and pdist. cdist uses both inputs arrays to estimate the covariance, i.e., cov(vstack([XA, XB].T)), when the mahalanobis metric is requested while pdist uses cov(XA.T) to estimate the covariance. Since np.cov sets ddof=1 by default, it makes sense that the results are close but different. Perhaps cdist could raise a warning if XA is XB.

[2018-12-03 02:37] akahard2dj commented on #9558
This issue is really seems to be a defect.

`_contains_nan()` is only checking a `np.isnana()`.
In that function,`_contains_nan()`, it is needed that `np.isneginf()` and `np.isposinf()` should be implemented.

[2018-12-03 03:11] akahard2dj commented on #9553
in this part, when `output` variable gets in `grey_erosion()`, `input` data is changed.
if `output` in `grey_erosion()` is None, the problem is seems to be fixed.

[code]

issue script file
[code]

results
[code]

[2018-12-03 03:49] akahard2dj commented on #9553
In this part, when `output` variable gets in `grey_erosion()`, `input` data is always changed.
But, problem was the case of `input` = `output`.
I have designed the solution by comparing `input` and `output`.

the results are always same.

[code]
issue reproduce code
[code]

results
[code]

[2018-12-03 05:07] yuracpp commented on #9553
thanks, the output is correct with this fix.
BTW white_tophat has symmetric issue

a = np.zeros((3,3))
a[1,1] = 1
print(ndi.white_tophat(a, size=3))
# [[0. 0. 0.]
#  [0. 1. 0.]
#  [0. 0. 0.]]
print(ndi.white_tophat(a, size=3, output=a))
# [[0. 0. 0.]
#  [0. 0. 0.]
#  [0. 0. 0.]]

[2018-12-03 05:59] andyfaff commented on #9551
So the desired change is that a final check should be done in a root solver (newton) by inserting the final value into the function and check it returns 0?

[2018-12-03 06:07] akahard2dj commented on #9553
Yes, `white_tophat()` function has same problem.
I will fix them and PR.

[2018-12-03 06:34] andyfaff commented on #9551
Starting to browse into this. It looks like @mrkalling suggestion [won't work](https://github.com/scipy/scipy/blob/master/scipy/optimize/zeros.py#L359) if you want to look at vectorized root finder with complex roots, but it will work with a single complex root. @mikofski, did you look at implementing `_array_newton` with complex roots?
I'm looking at a final check of the roots to see that they're

[2018-12-03 06:35] WarrenWeckesser commented on #9551
If `newton` hits a point where the derivative is zero and therefore the algorithm can't continue, it should not trigger a warning and return its current position.  It should raise an exception--the algorithm failed.

I suppose that before raising the exception, it could first check to see if it got lucky and it just happened to be at a point that meets the conditions for a root.  If so, return the

[2018-12-03 09:45] ilayn commented on #8352
I think everybody is on the same page with the need of extra `args`. The problem is where we put them without breaking the keyword order. It might not be an issue anymore though since we dropped the Py2 support for >=1.3.

[2018-12-03 16:35] NAThompson commented on #9551
@WarrenWeckesser : Zero derivatives technically are fatal to Newton's method, but really nobody cares about Newton's method, they want a root. So generally algorithms will degrade to bisection when a zero derivative is encountered rather than throwing an exception. This tends to work well in practice.

[2018-12-03 16:39] NAThompson commented on #9551
In fact I thought this was a reasonable behavior, but take a look [here](https://math.stackexchange.com/questions/3017766/constructing-newton-iteration-converging-to-non-root). The only way to get to a convergent Newton sequence to a non-root is to have a discontinuous derivative. Ok, so do you want to support that or not? If not, then the current *idea* for the termination condition is correct (s

[2018-12-03 17:05] mikofski commented on #9551
Has anyone checked this in SciPy-1.2 yet?

[2018-12-03 18:16] david-cortes commented on #9490
The fortran code is here: https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb_src/lbfgsb.f
The wrapper is here: https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb_src/lbfgsb.pyf
And is called from here: https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb.py

You'd need to add an additional input parameter to the code to choose whether to perform a different

[2018-12-03 21:35] chrisb83 opened #9564 "rv_sample accepts invalid input in scipy.stats"
When passing values `(x_k, p_k)` to `stats.rv_discrete`, the only condition that is checked in `rv_sample` is whether `sum(p_k)` is one, but not whether the p_k are between zero and one

### Reproducing code example:

[code]

### Scipy/Numpy/Python version information:
[code]

[2018-12-03 21:45] chrisb83 opened #9565 "improper handling of multidimensional input in stats.rv_sample"
My issue is about ...

### Reproducing code example:

[code]
The implementation of `rv_sample` only checks the following:

[code]

Afterwards, xk and pk are ravelled, leading to different lengths.

### Error message:

`IndexError: index 3 is out of bounds for size 3`

[code]

### Scipy/Numpy/Python version information:

[code]

[2018-12-03 22:01] ev-br commented on #9565
... and once this is fixed, most likely something's going to break down the line, too. Am labelling this as an enhancement.

[2018-12-03 23:38] tylerjereddy commented on #9547
The cognate PR has been merged -- closing.

[2018-12-03 23:38] #9547 closed

[2018-12-04 01:36] WarrenWeckesser commented on #9551
@mikofski: Arghhh... I thought I was using a build from the master branch, but I ended up running the above examples in 1.1.0.  When I rerun @NAThompson's example (f(x) = x**2 + 1) using a newly built version `'1.3.0.dev0+ae43f9d'`, I still get the warning with the incorrect return value of 0.  My later example, with `f(x) = (x - 1)**2`, returns 1.0 with no warning (hooray!).

@NAThompson, what yo

[2018-12-04 02:14] mikofski commented on #9551
As of SciPy 1.2, please provide arg `disp=True` to raise an exception instead of warning. See [docs](../blob/ae43f9d033b32096c703eb6a00136f8c63b3ecc0/scipy/optimize/zeros.py#L143)

Yes, complex roots work with `_array_newton`, there is already a [test](../blob/master/scipy/optimize/tests/test_zeros.py#L482), it's for Halley's, which is the same as Newton but with the addition of the 2nd derivative

[2018-12-04 02:21] mikofski commented on #9551
@WarrenWeckesser thanks! Can you please try again with the keyword argument `disp=True` ? Thanks again ☺️

[2018-12-04 02:31] WarrenWeckesser commented on #9551
@mikofski: `disp=True` is the default; see https://github.com/scipy/scipy/blob/1a3aa92504020b13236b249a6dca44287b332af9/scipy/optimize/zeros.py#L89

As currently implemented (`scipy.__version__` is `'1.3.0.dev0+ae43f9d'`), the `disp` argument doesn't affect the behavior when a zero derivative is encountered. With @NAThompson's example, I get the warning and an incorrect result whether `disp` is Tr

[2018-12-04 03:01] mikofski commented on #9551
That's a bug I guess. I have a PR ready, checking tests now locally

[2018-12-04 07:36] rickwith opened #9569 "How can i use the ward method with the metric of correlation distance?"
Hi,guys
I am trying to using hierarchical clustering on fmri data, and i choose the correlation distance as metric, but i found that the ward method only accept Euclidearn distance, so can anyone give me an example to learn how to do this?

[2018-12-04 13:31] jeremiedbb commented on #9555
But it won't raise if XB equals XA and XB is not XA, and it would be too costly to check element-wise equality between XA and XB.

I'm not sure a warning is enough. They should return the same, don't they ? Maybe ddof should be 0 by default ?

[2018-12-04 16:54] chrisb83 commented on #9564
@akahard2dj please go for it.

[2018-12-04 17:07] getzze commented on #9371
@Xurotash So the CORRECT corrected cutoff frequency is:
`f_corr = fs/pi * arctan( tan(pi*f_c/fs) / C)`
with `C = (2**(1/n) - 1)**(1/4)` , `n` number of passes, `fs` the sampling frequency and `f_c` the wanted cutoff frequency.
Tested with `scipy.signal.butter(2,  f_corr/(fs/2))` it gives me the same result as rewriting `butter` with a correction factor.
When `f_c << fs/2`, the correct correction i

[2018-12-04 18:29] edwintye opened #9571 "PPoly.from_spline not accepting new style spline"
As documented, `PPoly.from_spline` takes a spline from either `splrrep` or a `BSpline` object. The issue is that splrep has been superseeded by the object-oriented classes based on `UnivariateSpline`.  Idealy, I would like the following to work (from the examples)

[code]

yet I receive the following error

[code]

I think this is an easy fix because the data already exists in the object returned

[2018-12-04 22:11] ev-br commented on #9571
Not quite. `UnivariateSpline` is not recommended for use in new code, the recommendation is `BSpline`/`make_interp_spline` for interpolation, and `splrep` for fitting/smoothing.

[2018-12-05 05:08] rgommers opened #9574 "noprefix.h removal causing wheel build failures"
gh-9561 removed the use of numpy's `noprefix.h` from master. It was then backported and caused wheel build failures: https://travis-ci.org/MacPython/scipy-wheels/builds/463460018. gh-9572 then reverted the change in `maintenance/1.2.x`. So current status is that master passes regular CI, but is breaking the wheel builds. We need to:
- figure out the problem and fix it
- understand why wheel build

[2018-12-05 05:36] tylerjereddy commented on #9574
Appveyor is [all-green](https://ci.appveyor.com/project/scipy/scipy-wheels/builds/20766366) for the problematic case and doesn't seem to use anything older than NumPy `1.10.4`.

Travis seems to fail around specific NumPy versions (and also can have different build vs. test NumPy versions, presumably for wheel install?; so max listed below):

Travis Failure NumPy max Versions: 1.8.2, 1.82., 1.8.2,

[2018-12-05 05:44] rgommers commented on #9574
Yes I noticed that as well just now. Given that we're dropping older version in master, I'm tempted to do that first and then see if the problem is gone.

[2018-12-05 05:47] #9407 closed

[2018-12-05 05:49] rgommers commented on #9407
thanks for the report @johannfaouzi

[2018-12-05 06:04] akahard2dj commented on #9574
I have read all view log.
The failure case(older verion of numpy) always shows that improper variable name included a broken unicode.

[2018-12-05 06:35] rgommers commented on #9530
Failures still occurring: https://circleci.com/gh/scipy/scipy/10272?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification. It seems non-deterministic. Still have the impression that `OPENBLAS_NUM_THREADS=1` helped, but didn't fix it all.

[2018-12-05 17:33] adam-erickson opened #9575 "Request: Method to list parameters of distributions"
I would like to request a generic method to list the parameters of distributions. In R, this is possible with this:

`formals(stats::rbeta)`

This is helpful for user interfaces that wrap the distributions.

[2018-12-05 17:40] danagibbon commented on #8809
I've been attempting to use `Scipy` in the R package `reticulate`.
Had been receiving the following errors:
`ImportError: /lib64/libstdc++.so.6: version 'CXXABI_1.3.9' not found (required by /home/gibbond/anaconda3/envs/r-reticulate/lib/python3.7/site-packages/scipy/sparse/_sparsetools.cpython-37m-x86_64-linux-gnu.so)`
and
`ImportError: cannot import name 'LinearNDInterpolator' from 'scipy.interpo

[2018-12-05 18:30] lobpcg commented on #9460
Is this resolved and changes merged, and released, so it can now be closed?

[2018-12-05 18:38] ilayn commented on #9460
@lobpcg I didn't follow but did we figure out the sorting and added the bigger size matrices?

[2018-12-05 19:57] adam-erickson commented on #9575
Thank you, Warren! That would make a nice built-in convenience method.

[2018-12-05 20:15] WarrenWeckesser commented on #9575
You are not the first to ask for this: [Getting the parameter names of scipy.stats distributions](https://stackoverflow.com/questions/30453097/getting-the-parameter-names-of-scipy-stats-distributions)

[2018-12-05 20:30] adam-erickson commented on #9575
Yes, I'm the one that upvoted the answer at that link : ) There is only one issue with your solution, which is that discrete distributions do not have a scale parameter. So, one would need to add a check to see whether the distribution name is in `scipy.stats._discrete_distns._distn_names` or `scipy.stats._continuous_distns._distn_names` and conditionally return an answer. I will add that now.

[2018-12-06 01:50] rgommers commented on #9575
Given that the target audience is very narrow ("user interfaces that wrap the distributions") and there's now a documented solution here and on StackOverflow, I don't think it's warranted to add this to our public API.

[2018-12-06 09:55] jeremiedbb commented on #9555
After more thoughts and discussions, I agree. For `cdist(X,X)` X and X are two sets of samples from a distribution which happens to take the same values, so var and cov should be estimated on (X,X).

However, from a statistical point of vue, maybe a special case could be done in cdist when `XB is XA`, returning `squareform(pdist(XA))`, because when `XB is XA`, XB and XA are the same set of sample

[2018-12-06 23:32] WarrenWeckesser opened #9576 "DOC/Sphinx: cluster.hierarchy has weird reference labels on the web page"
Here's a snippet from the "References" section of https://docs.scipy.org/doc/scipy/reference/cluster.hierarchy.html#module-scipy.cluster.hierarchy (copied here and slightly edited to reproduce the look on the web page):

There are 10 more references, and they all have a label of the form `R3cc8e479a911-#`.  Those labels shouldn't look like that.  Maybe the problem is that in the file https://githu

[2018-12-07 09:37] dankal444 commented on #9519
same is with `signaltools.resample` function
all lines containing `sl` indices, e.g. `Y[sl] = X[s]`

[2018-12-07 09:57] ilayn commented on #9519
You can install the SciPy v.1.2.0 Release Candidate 2 from [here](https://github.com/scipy/scipy/releases/tag/v1.2.0rc2) and see whether the issue is gone for good.

[2018-12-07 10:59] dankal444 commented on #9519
@ilayn Tried it and those warnings are missing. Thanks!

[2018-12-07 11:57] yuracpp opened #9578 "incorrect behavior of rank_filter"
It is similar to issue #9553. rank_filter function gives wrong result if input and output parameters are the same.

### Reproducing code example:
[code]

### Scipy/Numpy/Python version information:
[code]

[2018-12-07 13:04] #9519 closed

[2018-12-07 17:41] #9471 closed

[2018-12-07 18:40] azylstra opened #9581 "Least-squares minimization fails silently when x and y data are different types"
Hello, I have some data where inadvertently the x and y data were of different types, eventually after much troubleshooting I discovered that one was `np.float32` and the other was `np.float64`. When trying to use least-squares minimization to fit to the data, either `scipy.optimize.curve_fit` or `scipy.optimize.leastsq` failed in a weird quasi-silent way. The failure mode is that the parameters a

[2018-12-07 19:53] souravsingh commented on #5986
I am interested in taking a stab at the issue. Where is the change needed to be made?

[2018-12-07 20:03] WarrenWeckesser commented on #9581
Here's another example, using the current master branch of scipy:

[code]
Both `x` and `y` are float32; `curve_fit` works:
[code]
Try again with `y` converted to `float64`:
[code]

[2018-12-07 22:47] cjekel commented on #7638
I'd be willing to take on a very simple dtw project and start a pr into scipy. My idea would be to start very simple
- support all metric functions that are used by scipy.spatial.distance.cdist
- O(NM) quadratic cost in Python
- No weighting/scaling/constraints (someone could add these in the future I guess)
- choice for calculating just the *distance*, or the full distance + matrix + path

[2018-12-08 06:05] rgommers commented on #5986
My [comment](https://github.com/scipy/scipy/issues/5986#issuecomment-313889128) above says that there are three things to do - you can do all of them at once, or start with a single one (doesn't matter much which one).

[this comment](https://github.com/scipy/scipy/issues/5986#issuecomment-256023034) shows private functions to clean caches. You can verify that those work, and then write a public P

[2018-12-08 08:07] rgommers commented on #9578
In general: don't do that. A safety for preventing this would be useful, but it's pretty clear why this fails.

[2018-12-08 08:45] yuracpp commented on #9578
i thought, that it is logical for a large data to optimize memory allocation (where it possible) like
numpy.maximum(x1, x2, out=x1)
instead of
x1 = numpy.maximum(x1, x2)
maybe in case of rank_filter such optimization is not possible but still user has right to hope on miracle and to use an output equal to input

[2018-12-08 15:14] tonigi commented on #7638
I'm already working on an implementation here https://github.com/tonigi/scipy/tree/dtw .

[2018-12-08 20:09] rlucas7 commented on #9544
Thanks for the info @josef-pkt super helpful. I'm working on a PR, should be out within another day or 2, I'll add you and Warren to the PR.

[2018-12-09 00:45] cjekel commented on #7638
Excellent!

I'm not that great in C or Cython, but I should be able to help you write a couple test functions when it's time.

[2018-12-09 05:09] leecball opened #9583 "scipy.sparse.random using large amount of memory generating matricies"
Hello Scipy team!

When creating random sparse matrices, Python seems to run out of memory, even when there seems to be more than enough memory available to initialize the matrix. For example:

### Reproducing code example:

[code]

### Error message:
At `n = 10,000` Python can finish, although it takes a while and the CSR matrix uses 100mb. If scipy is using C bools weighing in at 1 byte each, sh

[2018-12-09 18:16] TomDonoghue commented on #7117
I've just run into this issue, and it is a really thorny one to debug, to realize that it is the dtype of an input that is causing the covariance calculation to fail, and thus leading to nonsense outputs. In my case, this lead to an error downstream that was hard to trace back.

My first thought was also that type-casting internally might be the easiest - but given the discussion above, perhaps th

[2018-12-10 02:37] akahard2dj commented on #9578
This issue is same behavior #9567.
The main problem #9567 is all of variables (result(return value), `output`, `input`) is same environment.
@rgommers already mentioned above, In general this is not safety for using.
How about dealing with this problem?

[2018-12-10 17:07] yuracpp commented on #9578
here is an example that demonstrate efficiency of using input as output in grey_dilation function

import numpy as np
import scipy.ndimage as ndi

data = np.zeros((1000,1000,1000), np.double)
ndi.grey_dilation(data, size=3, output=data)
del(data)
data = np.zeros((1000,1000,1000), np.double)
data = ndi.grey_dilation(data, size=3)

![mem](https://user-images.githubusercontent.com/33983807/49748155-3

[2018-12-11 10:59] zerothi commented on #9583
This is perhaps not so surprising.

To repeat what you have already stated:
`scipy.sparse` first creates the random matrix with (default) `numpy.float64` data-type. I.e. you are trying to allocate `1e5**2 * 0.2 * 8 / 1024 ** 3 = 14.9` GB of memory before changing to the boolean data-type. Secondly, `sparse.random` starts by creating the matrix in `coo` format (which is a bit heavier in terms of me

[2018-12-11 11:34] leecball commented on #9583
@zerothi ah, I understand, thanks for helping explain why that uses the amount of memory it does! That makes sense now.

I'll close this issue. If I can find a little spare time, I might try to implement support for the bool data type in that. scipy.sprase.random function. 👩‍💻

Thank you again, and happy holidays! ☃️

[2018-12-11 11:34] #9583 closed

[2018-12-11 14:49] pixinixi opened #9585 "Metric distance in Ward method"
My issue is about the Ward method and the distance metric it uses to be specific.
It uses euclidean distance and it cannot be changed.

From what I know Ward method should only be used with squared euklidean distance
(see 3.2 in https://arxiv.org/abs/1111.6285).

Personally, I dont have a problem if someone wants to use it with different metric, but I think there should be a choice other than the

[2018-12-11 19:48] hongchengkuan opened #9586 "To solve a sparse linear system is much slower in Scipy than in Matlab"
My issue is about to solve a sparse linear system is much slower in Scipy than in Matlab.

### Reproducing code example:

I tried the following script in python
[code]

Result:

[code]
I also tried the following code in Matlab:
[code]

Result:
[code]
It only takes 0.000073 seconds in Matlab while 0.000184059143066 in Scipy.
### Scipy/Numpy/Python version information:

[code]

[2018-12-11 23:32] hongchengkuan commented on #9586
It is just an example.
If N=1000,
then for matlab, the results is
[code]
spdiags takes 0.000359058380127
solve a linear system takes0.00070595741272
[code]

[2018-12-11 23:36] ilayn commented on #9586
OK it takes more time but we don't distinguish the structure in the matrix. How do you think we should  fix this problem?

[2018-12-12 09:03] mattip commented on #9574
The file `npy_common.h` is missing [`#include <Python.h>`](https://github.com/numpy/numpy/blob/v1.15.4/numpy/core/include/numpy/npy_common.h#L11) in numpy before commit 6a61be6b67, which is contained in versions 1.11.0 and up. I could modify the PR to include `Python.h` before numpy stuff, which should fix it.

[2018-12-12 21:04] rgommers commented on #9574
Thanks for finding the cause Matti!

Probably not useful at this point, because we've already decided to drop NumPy < 1.13.3 and there's a PR ready to actually do that.

[2018-12-13 00:27] japagetw opened #9587 "Outdated value for scipy.constants.au"
My issue is about an outdated value for scipy.constants.au.
The value returned is 149597870691.0.  The correct value
is 149597870700.0.  See IAU 2012 Resolution B2 and
https://www.iau.org/public/themes/measuring/ .

### Reproducing code example:

[code]

### Scipy/Numpy/Python version information:
 1.2.0rc2 1.15.4 sys.version_info(major=3, minor=7, micro=1, releaselevel='final', serial=0)

[2018-12-13 01:37] rgommers commented on #9585
Both euclidean and squared euclidean are common, even [the Wikipedia article](https://en.wikipedia.org/wiki/Ward%27s_method#The_minimum_variance_criterion) on Ward's method says that. [fastcluster](http://danifold.net/fastcluster.html?section=1) uses euclidean distance too. So not a bug. I can see the argument for allowing squared euclidean as well though. @nmayorov do you agree, or remember more

[2018-12-13 01:51] rgommers commented on #9587
Thanks for the report @japagetw. Value updated in gh-9588

[2018-12-13 02:32] japagetw commented on #9587
Ralf,

Thanks!

-- Jim Paget

From: Ralf Gommers [mailto:notifications@github.com]
Sent: Wednesday, December 12, 2018 05:52 PM
To: scipy/scipy <scipy@noreply.github.com>
Cc: James A Paget <james.a.paget@aero.org>; Mention <mention@noreply.github.com>
Subject: Re: [scipy/scipy] Outdated value for scipy.constants.au (#9587)

Thanks for the report @japagetw<https://github.com/japagetw>. Value updated

[2018-12-13 04:30] #9587 closed

[2018-12-13 16:22] santiagoropb commented on #9318
Has someone had the time to fix this?

[2018-12-13 16:31] albertcthomas opened #9589 "Cumulative density function should be replaced with cumulative distribution function"
The phrase "cumulative density function" is not correct, it should be replaced with "cumulative distribution function".

See for instance the description of `cdf` [here](https://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.stats.norm.html).

[2018-12-13 16:54] rth commented on #9589
+1 see e.g. https://en.wikipedia.org/wiki/Cumulative_density_function (which explains why it's incorrect)

[2018-12-13 16:54] WarrenWeckesser commented on #9589
Looks like there are several occurrences in the source code: https://github.com/scipy/scipy/search?q=%22cumulative+density%22&unscoped_q=%22cumulative+density%22

[2018-12-13 17:03] WarrenWeckesser commented on #9589
@albertcthomas, note that the example that you found is from the documentation of an old version of scipy (0.16.1).  That particular instance has been fixed since then.  The latest version of that documentation, based on the master branch of scipy, is at http://scipy.github.io/devdocs/generated/scipy.stats.norm.html

[2018-12-13 17:13] albertcthomas commented on #9589
Indeed... thanks!

[2018-12-13 21:42] jakobjakobson13 opened #9590 "MAINT: 2019 redefinition of SI base units"
Dear developers,

the new definition of the fundamental SI units will come into force on 20 May by the BIPM ( [BIPM, revised SI units](https://www.bipm.org/en/measurement-units/rev-si/) and [Metrologia, The CODATA 2017 values of h, e, k, and NA for the revision of the SI](http://iopscience.iop.org/article/10.1088/1681-7575/aa950a/pdf) ).
Is SciPy prepared for the change?

Regards

Jakob

[2018-12-13 23:09] JulienBERNU opened #9591 "scipy.interpolate.interp1d with kind=“previous” doesn't extrapolate as expected"
[code]
First two `nan` values makes sense, but last two don't since a previous value is available.

Now if I use extrapolate:
[code]
The last two `109.` make sense but the first two `100.` don't since there is no previous value.

I believe the result should be the intuitive `[nan  nan  105.  108.  109.  109.]`

Issue reported on stackoverflow too, if anyone wants to add comments there...
https://s

[2018-12-14 06:02] rgommers commented on #9590
Not yet. Seems fine to me to update the CODATA values from the 2014 ones to the 2017 ones. If anyone wants to tackle that, a PR is very welcome.

[2018-12-14 09:33] jakobjakobson18 commented on #9590
Okay, I'll try to do that on the weekend.

[2018-12-14 17:14] tylerjereddy opened #9595 "TST: test_arnoldi prone to 32-bit Windows failures"
`test_arnoldi` is [prone to failure](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=17&view=logs) on 32-bit Windows / Python 3.6 as [noted](https://github.com/scipy/scipy/pull/9533#issuecomment-447381750). I've observed this in my own work on other branches too.

There also appears to be a test skip mark for PyPy, and we've had lots of PyPy testing issues lately so cc @mattip if the

[2018-12-14 17:22] tylerjereddy commented on #9530
This is definitely still crashing in a number of recent PRs.

[2018-12-14 17:47] ilayn commented on #9595
Xref #9508

[2018-12-15 05:01] rgommers commented on #9595
This test calls `np.random.choice` with a large sparse array of shape (10000, 10000). Under the hood, `choice` ends up constructing a dense array of the same size explicitly, in `np.random.permutation`. That takes 0.8 GB for int64. That then goes on to `np.random.shuffle`, which creates some extra buffers. The `MemoryError` seems to be simply because we're pushing the 2 GB limit on 32-bit Python.

[2018-12-15 06:04] #9535 closed

[2018-12-15 21:36] mattip commented on #9530
It might be a OOM crash caused by the 4GB machine limit when running `pytest -n3`. When I set `ulimit -m 990` and run the tests in a single instance (without the `-n3`), I can reproduce the crash. Setting `PYPY_GC_MAX=900MB` to force the GC to be more aggresive about collecting memory seems to solve it locally. I am still investigating the root cause, but would it be acceptable to add that environ

[2018-12-15 22:55] rgommers commented on #9530
that sounds fine to me

[2018-12-16 07:44] matteobachetti opened #9602 "Please warn if out of bounds in interp1d with option "extrapolate""
Hi,

I think that interp1d should be more verbose when extrapolating out of bounds, for example using warnings. The code itself poses the question, and answers "matlab does not".

I vote yes :)

Seriously, Extrapolating can be fine, I do that a lot in order to avoid crashes when one/two points are out of the allowed interpolation, but I would love to be warned if data are being extrapolated.

[2018-12-16 09:36] ev-br commented on #9602
Warnings are for signalling some sort of a mild error condition, and should not be generated for normal operation.

Interp1d has plenty of control for out-of-bounds, so user code should decide if extrapolation is ok (then it's silent), or not ok (then it raises).

I'm -1 for extra warnings.

[2018-12-16 09:53] ev-br commented on #9590
Is would be best, I guess, to have a switch for the version of the data. With guarantee along the lines of "we use the latest CODATA values by default, and here's a way of requesting e.g. CODATA 2014".

[2018-12-16 14:52] idan-david commented on #8692
It seems as if logcdf is implemented as `log(cdf(...))`, where logpmf is calculated in a more stable way
(From #5010)
[code]

With minor changes we can define logcdf as
[code]

Any suggestions as to how to validate that this is accurate?
This is what I'm currently using for my calculations

[2018-12-16 23:09] rlucas7 commented on #9403
Possibly a related solution by Zdravko Botev and Pierre L'Ecuyer
https://www.iro.umontreal.ca/~lecuyer/myftp/papers/truncated-normal-book-chapter.pdf

[2018-12-16 23:38] rlucas7 commented on #9150
Did this commit:
https://github.com/scipy/scipy/commit/baec434c9807d3ea17cf1896b14e9c37f05992e1
fix this issue?

[2018-12-17 02:32] matteobachetti commented on #9602
My point is that in many cases  a mild extrapolation is perfectly fine, but I think there should be a way to check that we're not extrapolating "too much". A user code to do this would duplicate the checks inside interp1d, which would be very costly for large datasets.

I'm ok with this solution, but I was hoping there was a clean way to do that inside scipy without duplication.

[2018-12-17 03:24] hasoya opened #9604 "column slicing of csc_matrix is two times slower than that of csr_matrix."
[Official document](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csc_matrix.html) says the csc_matrix performs column slicing efficiently. However, in my experiment, column slicing of csc_matrix is two times slower than that of csr_matrix. Why does it happen? Thank you.

### Reproducing code example:

This is my experiment result.

![image](https://user-images.githubuserconten

[2018-12-17 04:47] ilayn commented on #9150
Yes #9385 fixed this. Test is already running on Travis matrix as a job with PYTHONOPTIMIZE=2 set.

[2018-12-17 04:47] #9150 closed

[2018-12-17 14:45] perimosocordiae commented on #9604
This is a quirk of our current code for handling CSC slicing, which essentially does: `mat.T[slices].T`

This allows us to share code with the CSR implementation, but does come with the cost of two transpose operations.

I have a PR that should fix this to some degree at gh-7827.

[2018-12-17 18:54] alphatangojuliett commented on #8590
@ChamanAgrawal , any update on if an FWHT will make it to scipy soon? This would be quite useful.

[2018-12-17 19:42] ChamanAgrawal commented on #8590
Actually, I was not able to how to do the partial transformation in case n-dimensional input so I was stuck as I recall. I tried to search for it but was unable to find any helpful resources.

[2018-12-17 23:43] IandJMSmith commented on #8692
If you look at the Notes on Hypergeometric distribution functions in
[https://stats.stackexchange.com/questions/279793/computational-shortcuts-approximations-for-beta-binomial-and-beta-negative-binom?noredirect=1&lq=1](url)
they will tell you how to calculate the pmf, cdf & sf for the Hypergeometric distribution.

The _logpmf function used in your code loses accuracy when the parameter values are

[2018-12-18 08:10] hasoya commented on #9604
Thank you for your answer and PR. As your PR seems to be merged, I close this issue.

Thank you so much.

[2018-12-18 08:10] #9604 closed

[2018-12-18 13:28] dimrozakis opened #9606 "SyntaxError: Non-ASCII character '\xe2' in file scipy/stats/_continuous_distns.py on line 3346, but no encoding declared"
I get syntax errors due to source code encodings when importing scipy 1.2.0. The error only seems to occur if `pyc` files are missing.

The issue originates from https://github.com/scipy/scipy/blob/v1.2.0/scipy/stats/_continuous_distns.py#L3345. The dash/hyphen used there isn't a regular dash/hyphen, but instead the line reads as `'    pp. 1\xe2\x80\x9313, 1997.\n'`

### Reproducing code example:

[2018-12-18 15:57] XtremeGood commented on #9591
Sorry if I 'm wrong but to what I understand interpolation can only be done for a point in [0,9] which is the range of a.Rest is extrapolation beyond this range.

[2018-12-18 20:00] tylerjereddy commented on #9595
I'm reopening this because the patch was only applied to one of the two tests prone to failure -- it may be as simple as applying the same fix to the second of the tests above.

Specifically, `TestLGMRES.test_arnoldi` is still prone to failure as [recently observed](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=54) in a PR that includes Ralf's fix.

If the tests are this similar it

[2018-12-18 20:55] NicolasHug opened #9608 "Version 1.2.0 introduces `too many indices for array` error in `optimize.newton()`"
Since version 1.2.0, `optimize.newton` fails when passing an array with a single entry and when passing `fprime2`

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

Works in 1.1.0
[code]

Fails in 1.2.0
[code]

[2018-12-19 02:46] rgommers opened #9610 "document policy for numpy/python version support"
In addition to documenting what SciPy does now, it would be very useful to try to align this between core packages as @tacaswell pointed out in his comments on gh-9582. See that PR for initial discussions.

The documentation part is actually mostly being done right now by @pvanmulbregt in gh-9500. We can extend that a little bit further. The aligning with other packages should be moved to the mail

[2018-12-19 03:13] rgommers commented on #9590
@ev-br that's slightly tricky, because we expose all these things as plain Python floats. We have older CODATA values still, but only to check for obsolete constants as far as I can tell. Would be good to discuss how to do this before someone invests significant effort

[2018-12-19 05:03] rgommers commented on #9608
@NicolasHug thanks for the report.

@mikofski would you mind having a look at this one?

[2018-12-19 05:04] rgommers commented on #9464
should be fixed in 1.2.0 by using Cython 0.29.0, closing

[2018-12-19 05:04] #9464 closed

[2018-12-19 05:42] XtremeGood commented on #9591
I 'm interested in fixing this bug .I would definitely try to remove this bug if I can understand what you want.To what I understand previous is  your nearest neighbor extrapolation/interpolation in which nearest neighbor is checked(therefore beyond your [0,9] is 12 or 25 which first of all cannot be interpolated so result goes to nan which is your fillvalue and talking about extrapolate it is giv

[2018-12-19 05:57] JulienBERNU commented on #9591
I just think if you use "previous" for interpolation, it should use "previous" for extrapolation too, not "nearest". Now here there is no previous value to extrapolate so instead of silently defaulting back to "nearest" it should either extrapolate to `nan` or `-inf` (or raise an exception).

[2018-12-19 05:59] XtremeGood commented on #9591
That is why I wrote badly named.

[2018-12-19 06:38] XtremeGood commented on #9591
Thanks:)

[2018-12-19 07:47] rgommers commented on #9606
Grr, this is the second time this happened. We really need a structural fix to our CI to catch this.

Thanks for the report @dimrozakis.

@tylerjereddy guess we'll need a 1.2.1 (after the CI fix) .... :(

[2018-12-19 07:54] andyfaff commented on #9606
What would be the test for this?

[2018-12-19 08:15] christosbampis opened #9611 "Overflow error with new way of p-value calculation in kendall tau correlation for perfectly monotonic vectors."
My issue is about overflow error caused by zero discordant pairs in scipy version 1.2.0, in the improved p-value calculation of the kendall's tau function. In the case of two perfectly monotonic vectors x, y, c becomes 0 and the if-else condition calculates a factorial. In version 1.1.0, this refined term calculation is not present and so this issue does not occur there. If others can reproduce th

[2018-12-19 09:34] mikofski commented on #9608
I propose to only use `_array_newton` if the size of the initial guess is greater than one.

I also propose that the functions be required to return the same size as the argument. So if in the example above, `x0 = np.array([-2, -3], dtype=np.float32)` then `fprime2(x)` would be required to return an array of the same size as `x`, or `np.tile(2, x.shape)`

Finally, I reran the airspeed benchmarks b

[2018-12-19 09:54] pkofod commented on #8439
You should not use R-squared to chose between models in non-linear least squares problems. You can always *calculate* it of course, but it will not give you the answer to the question you think you're asking.

If we use the source you provided (wikipedia) it states that: "In some cases the total sum of squares equals the sum of the two other sums of squares defined above", that is SS_res + SS_reg

[2018-12-19 10:22] jsh9 commented on #8439
With all due respect, I do not need a lecture on the appropriateness of R2 for nonlinear least square.  I already knew the implications of R2 prior to opening this issue 10 months ago.

The focus of my request was on the lack of code functionality, especially because comparable libraries (MATLAB and sklearn) offer it.  Why should a software library hamstring some more informed users because some l

[2018-12-19 10:54] pkofod commented on #8439
Okay, that may very well be possible. What you wrote was

I did not read that as if you were fully aware of the shortcomings of R^2 in these types of situations. Even so, I would have written what I wrote to frame my point of view: it should not be implemented.

Yes, and many software packages exclude this functionality _on purpose_!

Because many users are not informed, and there's a significant

[2018-12-19 11:13] gblivegblive opened #9613 "scipy.linalg.eigh should handle diagonal matrices better"
Eigenvalues of a diagonal matrix are just it's main diagonal. Scipy seems to be unaware of it and takes a very long time to produce the same result.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[2018-12-19 12:42] larsoner commented on #9606
Use `grep` or some other `bash` util to get a list of py files with non-ascii chars; get a list of files with `# -*- coding: utf-8 -*-` at the top; take the first list minus the second and you have the problematic ones? This or something similar should be `bash`-able on one of the Travis builds. I can take a stab at it if nobody sees a cleaner way.

[2018-12-19 12:53] ev-br commented on #9606
If the error shows up at import time for users, can we trigger it on CI?

[2018-12-19 14:12] xgnata opened #9614 "scipy.ndimage.measurements.center_of_mass silently overflow."
When used e.g. one unit32 arrays, measurements.center_of_mass may silently overflow without any warning. One could argue that it is up to the user to know that it can happen but a sanity check would be welcome : The center of gravity cannot be outside of the image if all pixels are positive.
I found this bug working on real life jpg images.
Of course, data=data.astype('float') solves the issue

##

[2018-12-19 15:07] larsoner commented on #9606
I suspect it will only happen on 2.7, which we don't test now. (We should probably still fix it, though.) I wrote a little BASH solution, will open a PR to see the output.

[2018-12-19 15:38] perimosocordiae commented on #9613
If you know that the matrix is diagonal (or close to diagonal), consider using a sparse matrix:

[code]

Gives me `378 ms ± 44.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`

[2018-12-19 15:57] perimosocordiae commented on #9604
With current master, the results are indeed more in line with our expectations:

[code]

[2018-12-19 17:59] gblivegblive commented on #9613
@perimosocordiae
This only returns 6 eigenvalues by default. If you run it with k=2999, it's even slower

[2018-12-19 18:00] gblivegblive commented on #9613
@ilayn Thanks! I'll see if I can come up with an efficient way to do it and update this thread.

[2018-12-19 19:20] rodriguezsergio commented on #9606
Thank you for working on this so quickly. I was going to create the same issue.

[2018-12-19 20:19] jsh9 commented on #8439
When I said "R^2 does not seem to be restricted to only the linear model" in my original post, I meant that one could calculate R^2 with only "`y_true`" and "`y_predicted`".  How much useful the calculated R^2 was another matter, and was outside the scope of my original post.

Since neither of us is a scipy developer, and since this is more of a design philosophy issue, let's let them decide wheth

[2018-12-19 23:02] MuellerSeb commented on #9606
There is even a second one:

    with open("_continuous_distns.py") as fp:
        for i, line in enumerate(fp):
            if "\xe2" in line:
                print i, repr(line)
`
Gives:

    3344 '    pp. 1\xe2\x80\x9313, 1997.\n'
    4006 "                              'evaluations. Use Zolotarev\xe2\x80\x99s method instead).',\n"

The first problem is a EN DASH (– - \xe2\x80\x93) and the seco

[2018-12-20 05:41] MaxGhenis opened #9616 "cdist doesn't align DataFrame columns"
`cdist` currently treats `DataFrame`s as arrays, ignoring column names. If passing `DataFrame`s with the same columns but in a different order, this will cause unexpected results. Aligning the columns would be more intuitive IMO.

[code]

### Scipy/Numpy/Python version information:
[code]

[2018-12-20 06:58] rgommers commented on #9616
Hi @MaxGhenis, SciPy doesn't know anything about pandas dataframes. Many functions may work because they accept `array_like`, but it's up to the user to deal with putting data in in the right format if their format is out of order. We will not add special handling for pandas here.

[2018-12-20 06:58] #9616 closed

[2018-12-20 07:05] MaxGhenis commented on #9616
Thanks for the quick response. I'm surprised about the lack of integration given pandas is featured on scipy.org.
![image](https://user-images.githubusercontent.com/6076111/50269181-5bd9bf80-03e2-11e9-89e0-28512119e400.png)

Would a note about this be worthwhile on the `cdist` page? This took me a good while to figure out when my distances looked off.

[2018-12-20 07:12] rgommers commented on #9616
Note that scipy.org is not the website for SciPy the library, but for SciPy the ecosystem. A subpage (http://scipy.org/scipylib/) is about this library.

I'm afraid not. We have about 1600 functions, and people could try passing in pandas data structures to all of them.

Adding a note on pandas would be appropriate in some tutorials perhaps, not sure what the best place for that would be. Maybe ht

[2018-12-20 13:04] xgnata commented on #9614
1.1.0 1.15.4 sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)
Could be solved in 1.2.

[2018-12-20 16:05] larsoner commented on #9606
@dimrozakis @MuellerSeb I implemented fixes in #9615, feel free to give it a try

[2018-12-21 04:50] #9606 closed

[2018-12-21 04:59] rgommers commented on #9595
Hmm, identical test in two different files, didn't spot that. Next fix in gh-9617.

[2018-12-21 15:36] chrisb83 commented on #9611
Thanks for the bug report. `np.longdouble(np.math.factorial(170))` works, but for 171 it also overflows.

Current condition to determine the method is as follows:

[code]

[2018-12-21 16:40] ribes96 opened #9620 "linalg.svd fails with a normal np.ndarray"
So I came out with an np.ndarray which fails when I try to factorize it to Singular Value Decomposition. It does not contain NaNs, just float64. It raises `LinAlgError: SVD did not converge`, but I don't know why.

### Reproducing code example:

[code]

### Error message:

[code]

### Scipy/Numpy/Python version information:

[code]
I am not sure how to share that ndarray with you. It is inside the

[2018-12-21 17:36] charris commented on #9620
Where did you get NumPy and SciPy? Did NumPy SVD work?

[2018-12-21 22:07] ribes96 commented on #9620
They are all from PyPI. I installed them with a simple `pip3 install numpy`, etc .

The numpy version also fails, but with a slightly different traceback.

I tested it in a different PC using Anaconda, and it was correctly executed

[2018-12-21 22:43] ev-br commented on #9602
Since the library cannot decide how much is too much extrapolation, the warning should not be emitted. This is firmly into the user code to check.

I personally used to worry about this duplication quite a bit, until I failed to actually see a measurable overhead. So maybe check if you actually see it.

And if you do see an overhead, then you can in principle (1) use a specific interpolator instea

[2018-12-21 22:51] ev-br commented on #9571
OK, two weeks, no follow-up or further comments.
IMO this `if isinstance(tck, scipy.interpolate.UnivariateSpline)` dance belongs to the user code, and we should not add it. I fail to see a reason for mixing `UnivariateSplines` and `BSplines` in new code (and old code cannot have BSplines).
I'm going to close this as a wontfix, feel free to reopen if needed.

[2018-12-21 22:51] #9571 closed

[2018-12-21 22:56] ev-br commented on #9524
Duplicate of gh-7560, gh-5890?

[2018-12-21 23:36] ev-br commented on #7926
`spline` has been removed in https://github.com/scipy/scipy/pull/9325 for scipy 1.3.0. So this issue can be closed.

[2018-12-21 23:36] #7926 closed

[2018-12-22 00:04] ev-br commented on #9590
Wrote a paragraph on how to do this, and then decided to check https://github.com/scipy/scipy/blob/master/scipy/constants/codata.py
which already has the machinery in place. The OP amounts to almost only adding a string with updated values, and update the dicts,
https://github.com/scipy/scipy/blob/master/scipy/constants/codata.py#L1160

My belated suggestion would then only be e.g. a context manag

[2018-12-22 00:17] charris commented on #9620
@ribes96 Can you try the current numpy release candidate, pip `--pre` option?

@ev-br ATLAS works for me also, so it is likely an OpenBLAS issue.

[2018-12-22 00:21] charris commented on #9620
@tylerjereddy Looks like the old version of OpenBLAS was used for SciPy v1.2.0. Hopefully we can see if the new version in the NumPy 1.6.0rc1 fixes it.

[2018-12-22 18:51] charris commented on #9620
I can confirm that NumPy 1.15.4 fails and that  1.16.0rc1 works. @tylerjereddy The files you need to change to use the new libraries are `appveyor.yml` and `env_vars.sh`. I'll make a PR to scipy-wheels master to do that and you can backport to the v1.2.x branch if you decide to that.

[2018-12-23 06:07] mdhaber commented on #8174
@Kai-Striega I am overhauling the tests for the NumFOCUS grant and was improving `test_bug_8174` when I noticed that with Bland's rule on, simplex still returns a suboptimal solution with a success message. (With Bland's rule off, it exits with status 4). I'm going to skip the test when Bland's rule is on. Please don't work on this yet; there will be some crazy merge conflicts to resolve if the `l

[2018-12-23 14:00] charris commented on #9620
@ribes96 There is no current pre-release of Scipy, so you probably want to get back the current release, probably by installing the specific version. You may need to manually delete the current `.local` installation of NumPy, as it looks like a mixture. The missing attribute is in the rc. I recall managing that error before, but don't recall the details. A safer way to run these experiments is to

[2018-12-23 20:46] ev-br commented on #9571
Good catch. That line is indeed misleading, both FITPACK interfaces are well into the "been there forever" territory. Care to submit a pull request with a clarification?

[2018-12-25 17:11] tacaswell commented on #9610
A very short version: I am advocating for a time-based criteria for dropping python + numpy support. ex "We will support all minor releases initially released in the N months before our intended release date".

The biggest advantage of this is that there is no ambiguity or judgement to implement which makes it easy to implement and plan against.

The downside of this is that we will eventually run

[2018-12-26 01:49] Kai-Striega commented on #8174
@mdhaber I've already started discussed this in #9390 along with a special case of `test_issue_6139`. They occur due to they `tol` parameter and should be improved when it is raised following the introduction of the revised-simplex method.

[2018-12-26 12:49] Guymer opened #9626 "Unclear skewnorm documentation"
**Short Story**: My issue is about the [`scipy.stats.skewnorm` documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skewnorm.html). I think the equation that is defined on that page is incorrect for non-zero means *or* I am completely misunderstanding it (in which case I apologise for wasting everyone's time).

**Long Story**: I work on two computers, one has SciPy 0.12.

[2018-12-26 14:44] ilayn commented on #7329
I've revisited this and this is the result for n = 5000 and m=1 with the current versions of numpy and scipy (openblas 3.4.0) we have this.
![image](https://user-images.githubusercontent.com/1303842/50447392-26b9f980-091b-11e9-822e-e925910d787d.png)

Hence carrying over the data through f2py catches on but then you can simply turn on the overwrite data and get comparable results. But main problem

[2018-12-26 14:44] #7329 closed

[2018-12-26 18:46] rgommers commented on #9626
The implementation of `skewnorm._pdf` matches the documented equation: https://github.com/scipy/scipy/blob/master/scipy/stats/_continuous_distns.py#L6083

Your one-liner implementation probably goes wrong because of the handling of loc/scale in the `norm.pdf` and `norm.cdf` methods, which cause `norm.cdf(a*x)` not to translate in `_norm_cdf(a*x)`.

Don't have time to investigate your code in more

[2018-12-26 18:46] #9626 closed

[2018-12-26 19:49] rgommers commented on #9610
Thanks @tacaswell. I like the argument made in that blog post. We will burden some users more, however we gain in not having maintainers do boring work. There will be some objections I think, but I see the advantage.

The time periods for Python and NumPy probably should be different, given that Python releases a minor version every 1.5 years on average, and NumPy every 6 months. Looking at now fo