[2020-03-25 15:30] isuruf opened #11725 "TST: test_curvefit_covariance fails randomly"
My issue is about ...

#### Reproducing code example:

Running `optimize/tests/test_minpack.py::TestCurveFit::test_curvefit_covariance` using pytest fails with Python 3.6, 3.7 and 3.8 on conda-forge with Linux x86_64 fails randomly.
Can't reproduce on OSX nor on Linux aarch64.

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

scipy 1.4.1, numpy 1.18.1, CPython 3.6.10

[2020-03-25 15:35] JonathanVacher commented on #10382
Hi,
You should look at the Python Optimal Transport library: https://pot.readthedocs.io/en/stable/index.html
But OT still has difficulties to handle high dimension (beyond 3/4/5 I think).

[2020-03-25 15:51] RoyLarson opened #11727 "scipy.integrate.solve_ivp not passing args into the function"
scipy.integrate.solve_ivp is not passing in *args from the args keyword

Example from the documentation:
[code]
[code]

#### Scipy/Numpy/Python version information:
1.2.1 1.16.3 sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

[2020-03-25 16:01] RoyLarson commented on #11727
Sorry just realized how old scipy version is.

[2020-03-25 16:01] #11727 closed

[2020-03-25 18:41] cbrnr commented on #7895
https://mail.python.org/pipermail/scipy-dev/2020-March/024102.html - no response yet unfortunately.

[2020-03-25 21:28] #4921 closed

[2020-03-26 13:21] Pauladds opened #11728 "  Cubic Spline `x` not increasing sequence."
Hi,
I am trying to use Cubic Spline with signature and it won't let me because I get the following problem:
  Cubic Spline `x` not increasing sequence.
![image](https://user-images.githubusercontent.com/38189240/77651332-ee192d80-6f6c-11ea-9840-ccd91e924330.png)

Obviously, the signature is something that in 'x' is not always increasing, such as a circle.
How can I solve that?
Thank you,
Paula.

[2020-03-26 13:25] Pauladds commented on #11728
I want to extract the first derivative, to know the speed of the signature

[2020-03-26 15:38] Charlie-Bryant commented on #11656
they are both numpy nd arrays arr2d is size 42 and footprint is 8193 sorry this took so long my access to this code was limited

[2020-03-26 15:53] ev-br commented on #11728
Like the error message is saying, you need to arrange the input in a strictly increasing sequence. if that's a curve, write it in a parametric form, where the parameter is strictly increasing.
I'm going to close the issue, and I suspect it's best asked on Stack Overflow or some such.

[2020-03-26 15:53] #11728 closed

[2020-03-26 16:43] rgommers commented on #11723
Hi @EdKaHe, this is the kind of feature that could very well make sense to have as part of `scipy.integrate`, but would be fairly technical code to get right. If there was a proposal to, e.g., integrate `vegas` into SciPy by its maintainer (who would keep maintaining it for the foreseeable future), we would certainly consider that. We've done that kind of integration of fairly mature code in other

[2020-03-26 19:57] mdhaber commented on #11673
I'll have to take a closer look at those papers, but in the meantime, if you can figure out how to update `L`, I suspect it might make things factor than keeping all of those products.

[2020-03-27 09:28] kobango opened #11730 "Build faill"
I have problem with ./build_openblas.sh
I done all like, http://scipy.github.io/devdocs/building/windows.html
But when I use ./build_openblas.sh on copy of file a have this output:
$ ./build_openblas.sh
which: no gcc in (/usr/local/bin:/usr/bin:/bin:/opt/bin:/c/Windows/System32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0/:/usr/bin/site_perl:/usr/bin/vendor_perl:/

[2020-03-27 09:30] ilayn commented on #11730
You are missing the installation of gcc step as the error says

[2020-03-27 09:50] kobango commented on #11730
Okay,
As i think, so when I finish instaling this it should work.
Thank for reply

pt., 27 mar 2020 o 10:31 Ilhan Polat <notifications@github.com> napisał(a):

[2020-03-27 09:52] ilayn commented on #11730
No problem @kobango . I'll close this issue since it is not related to SciPy code but feel free to discuss further.

[2020-03-27 09:52] #11730 closed

[2020-03-27 12:06] #11696 closed

[2020-03-27 12:56] odidev commented on #11724
@rgommers Thanks for the quick response, As per your suggestion I have installed the scipy in my local environment with conda and tests are passing now.

Also I wanted to ask if you will be willing in accepting a PR that enables support for aarch64 builds in Travis-ci. Please share your thoughts on this.

[2020-03-27 13:31] rgommers commented on #11724
Great!

Help with aarch64 CI would be much appreciated. gh-11170 is the relevant open issue for that. There seems to be a preference for Drone rather than TravisCI, and I think that makes sense since TravisCI is already really slow now.

I'll close this, please continue the conversation in gh-11170 (or just dig in with a PR!).

[2020-03-27 13:31] #11724 closed

[2020-03-27 13:31] rgommers commented on #11555
This is a duplicate of gh-11724 and gh-11170, so closing. Thanks @odidev

[2020-03-27 13:31] #11555 closed

[2020-03-27 14:12] rgommers commented on #11676
Thanks for the report @Ulfgard, this is fixed now.

[2020-03-27 14:12] #11676 closed

[2020-03-27 14:17] #5309 closed

[2020-03-27 16:59] AlexandreSi commented on #9481
@marchmallow I managed to do it with:

[code]

[2020-03-28 01:27] mdhaber commented on #11673
@mckib2 BTW, we've discussed writing a wrapper around HiGHS before: gh-8575.

[2020-03-28 01:27] mckib2 commented on #11673
If the licensing works out, I'm happy to write a Python interface to HiGHS.

I have a proof of concept here: https://github.com/mckib2/HiGHS

Waiting to hear back about documentation about how to pass in data without reading from MPS file.

[2020-03-28 01:28] mdhaber commented on #11673
HiGHS is MIT-licensed, so it's compatible.

[2020-03-28 01:32] mckib2 commented on #11673
Looks like there was a patch?  Already two years old now, so I suspect original patch won't work.  It looks like there used to be BOOST dependencies which are now gone?

Does this seem like a good way forward?

[2020-03-28 01:34] mdhaber commented on #11673
I was able to build HiGHS on my system using their instructions, but `setup.py` didn't work for me.
[code]
I'll try on a mac.

[2020-03-28 01:35] mckib2 commented on #11673
I'll try it on a windows machine, there are always a few things to do.  I'm on Ubuntu 18, can you try on VM?

[2020-03-28 01:45] mdhaber commented on #11673
Tried on WSL Ubuntu 16.04. Got a similar error on Mac:
[code]

[2020-03-28 01:57] mckib2 commented on #11673
I'll take a look tonight, sorry that's not working for you

[2020-03-28 02:39] mdhaber commented on #11673
For the Python interface, I think we have:
`cc` -> cost coefficients
`cl`, `cu` - lower and upper bounds
`rl`, `ru` - lower and upper bound on right hand side, e.g. `rl <= Ax <= ru`
`astart`, `aindex`, and `avalue` are the arrays defining a [CSC matric](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csc_matrix.html#scipy.sparse.csc_matrix)

[2020-03-28 02:46] mckib2 commented on #11673
I think that much is true, I've seen mentions that `astart` are the indices of the columns.  I don't understand how to get (row, col) of `A` from `astart` and `aindex`

[2020-03-28 02:50] mdhaber commented on #11673
I think [this](https://scipy-lectures.org/advanced/scipy_sparse/csc_matrix.html) is a good reference. For testing, you don' really need to understand;  just start with a dense matrix and turn it into a `csc_matrix`, then grab its attributes.

[2020-03-28 05:59] mckib2 commented on #11673
Build should be working on Ubuntu now, still tracking down what's going on with Windows.  When you built using their instructions, did you use cmake? I.e.,

`cd build && cmake .. & cmake --build`

or did you use mingw, etc?

[2020-03-28 06:03] mdhaber commented on #11673
Yes. The advantage to adding a sparse LU factor object to revised simplex is that it will be easier to maintain and extend if the code is in Python, but I also think it would be good to have a wrapper for HiGHS.

I'm not convinced that the wrapper is working properly on my machine. Running the example Python script, I'm getting `rc=2` and all the other outputs as arrays of zeros. I also get garbag

[2020-03-28 06:03] mdhaber commented on #11673
Yes.

[2020-03-28 06:14] mdhaber commented on #11673
In case it helps with the Windows issue, now I'm getting a different error on Mac after your update - similar to the one I got on Windows originally.
[code]
I'll try Ubuntu.

[2020-03-28 06:17] mckib2 commented on #11673
I think they wrapper they have (in src/interfaces/highs_lp_solver.py) is not working, it also gives me all zeros.  In my fork I'm testing against ex1.mps which I grabbed from a group of example MPS files [here](https://www.cenapad.unicamp.br/parque/manuais/OSL/oslweb/features/feat24DT.htm) (modified to be the min version of the problem).  I don't know what the actual output is supposed to be, so I

[2020-03-28 06:20] mdhaber commented on #11673
Got a different error in WSL. Long output [here](https://www.dropbox.com/s/ye0b6atcu32tzlk/New%20Text%20Document.txt?dl=0).

[2020-03-28 06:22] mckib2 commented on #11673
Well a different error means progress.  What version of gcc does WSL use?

[2020-03-28 06:25] mckib2 commented on #11673
Ran on netlib 25FV47 and got the right answer, so looks like the Cython wrapper is doing the right thing as opposed to their ctypes wrapper.

[2020-03-28 06:32] mdhaber commented on #11673
Great! Can't wait to try it!
WSL GCC version:
[code]

[2020-03-28 06:37] mckib2 commented on #11673
Alright, I think the discrepancy was which standard was being used.  I've specified to use c++14, so give it a whirl now while I try to download a docker container with Ubuntu 16.

[2020-03-28 06:39] mdhaber commented on #11673
It's at least doing something different. If it builds, how do I turn this thing on?

[2020-03-28 06:40] mckib2 commented on #11673
Right now it only reads from MPS, so you can just run:

`python test.py`

See that file for how to call a primitive linprog function.

[2020-03-28 06:45] mdhaber commented on #11673
Looks good!
[code]

[2020-03-28 06:47] mckib2 commented on #11673
Sweet!  I'll keep working on Windows build, it'll probably be tomorrow before I have something.  Thanks for quick feedback.

I'll take a look and modify the cython wrapper for passing in csc_matrix objects.

[2020-03-28 06:47] mdhaber commented on #11673
Any updates imminent? If not, I think I'll be done for the night.
When it comes to wrapping all the different functions, is it faster for you to just do it, or is it worth teaching me a bit so I can help?

[2020-03-28 06:50] mckib2 commented on #11673
No updates imminent, get some rest!

Basics are easy, can be frustrating and tricky because Cython is solving a difficult problem.  I can try to write something up.

[2020-03-28 06:52] mdhaber commented on #11673
That would be really helpful. As you can see, gh-8575 started with a need for a guide to writing wrappers for code in other languages!

[2020-03-28 06:59] mdhaber commented on #11673
Yeah, I'm pretty certain that if you have dense `c, A_ub, b_ub, A_eq, b_eq, bounds` for `linprog`, you can convert that to the required inputs with something like:
[code]

[2020-03-28 14:20] #11630 closed

[2020-03-28 15:06] ilayn commented on #11709
I am going to check now but if what you found is the culprit then this needs to be reported to MKL. Because reference implementation and OpenBLAS doesn't show this behavior.

[2020-03-28 15:13] rgommers commented on #8850
Looking into this some more:
- `MessageStream` is only used to communicate back error messages from the Qhull library to our Cython code.
- The only other place it's used is `optimize/_trlib`, for the same purpose.
- `open_memstream` is Linux-only; on other platforms that error message communication is done via a tmpfile.
- There's a potential solution to get an in-memory file for Windows instead

[2020-03-28 15:43] charris commented on #11709
@oleksandr-pavlyk Ping.

[2020-03-28 16:07] congma commented on #11709
In that case, is there a method to selectively compile the wrapper as a stopgap measure?

[2020-03-28 16:09] asmagen opened #11738 "Scalability problem with scipy.interpolate griddata"
I am trying to warp big histopathology images (~15k x 15k pixels) using x y deformation fields generated by drop2 image registration pipeline separately per each image channel using:
[code]
But, if I understand the problem correctly, I run into memory problems although I allocate ~64GB RAM on a computational node:
[code]

Any advice about how to make it work on the whole image or what's the easies

[2020-03-28 16:20] ilayn commented on #11709
That's really something we want to avoid because every implementation flavor has different problems, and it bloats the code base not to mention maintainability burden.

MKL's implementation of  `?stemr` is somehow missing the `alleig` switch according to your experiments.

[2020-03-28 18:57] mckib2 commented on #11673
The current interfaces are working in Linux (not necessarily fleshed out):

- `linprog_mps(mps_file, **options)` : solves LP from MPS file (with basic options from HiGHS solver)
- `linprog(c, A, b, lhs=None)`: solves LP given array `c`, csc_matrix `A`, and array `b`.  `lhs` can also be given (the left hand side of the inequality constraint)

Todo:

- Windows compilation
- `bounds` options for `lin

[2020-03-28 20:08] mckib2 commented on #11673
I am unable to get the unmodified project building on Windows.

Here's my strategy:

- `git clone .../HiGHS`
- `cd HiGHS`
- `mkdir build`
- `cd build`
- `cmake ..`
- `cmake -- build .`

I get lots of warnings and errors that look like this:

\build\src\libhighs.vcxproj]
C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.24.28314\include\cmath(507): message :
see declar

[2020-03-28 21:04] mckib2 commented on #11673
Looks like an issue with the main project: this [this issue](https://github.com/ERGO-Code/HiGHS/issues/270).  I'm going to put Windows build on the backburner until it is resolved.

[2020-03-28 21:58] tylerjereddy commented on #11711
Perhaps worth clarifying that this is for MacOS only in the Travis CI matrix.

[2020-03-28 23:25] peterbell10 commented on #11711
Travis had a problem with their macOS workers that should be fixed now:
https://www.traviscistatus.com/

[2020-03-28 23:25] #11711 closed

[2020-03-29 01:48] mdhaber opened #11742 "MAINT: stats: getting skewness alone takes 34000x longer than getting mean, variance, and skewness"
I encountered something surprising while working on gh-11695:
[code]
This sort of behavior is not unique to skewnorm, although it is one of the most exagerated cases. The logic in the code that leads to this is a bit complicated, but in short, if `m` and `v` don't need to be calculated, the calculation for `s` falls back to the generic implementation rather than a simple formula.

[2020-03-29 01:50] WarrenWeckesser commented on #11742
Thanks @mdhaber.  Weird.  I'll take a look.

[2020-03-29 01:52] WarrenWeckesser commented on #11720
gh-11735 wasn't a complete fix, so I'm reopening the issue.

[2020-03-29 02:52] mckib2 commented on #11673
@mdhaber I have added wiki page [here](https://github.com/scipy/scipy/wiki/Cython-Wrappers) describing Cython wrappers.  Feel free to revise, ask for clarification

[2020-03-29 04:55] #11660 closed

[2020-03-29 06:12] mdhaber opened #11746 "BUG: stats: pearson3 returns size 1 arrays where other distributions return scalars"
Example:
[code]
prints:
[code]
The last one, from `pearson3`,  is a size 1 array; it should be a scalar like the rest.

_Update: Another problem is that the `pearson3.moment` function returns an empty array when `skew` is too small._
[code]
 _When these issues are fixed, please try to remove the override of the `pearson3.fit` method and allow `check_fit_args` and `check_fit_args_fix`  to run in `t

[2020-03-29 06:43] mdhaber commented on #11673
Sounds great. I can work on that tomorrow (Sunday) if you give me a Cython wrapper with example calls. (Looks like it's already done, but not tested yet.)

[2020-03-29 06:51] mdhaber commented on #11673
I used msys set up according to the (experimental) SciPy Windows build instructions: http://scipy.github.io/devdocs/building/windows.html

So I actually used `make`. It was something like:
[code]
I seem to remember either using "MSYS Makefiles" from a MinGW terminal or vice versa.
It didn't actually get all the way through the build, but I did get a working .exe.  My antivirus was complaining, so

[2020-03-29 06:52] mdhaber commented on #11673
No. It's a nice-to-have, I think.

[2020-03-29 07:00] mdhaber commented on #11673
Yes - equal upper and lower bounds. I

[2020-03-29 09:56] congma commented on #11709
Interesting observation! I think a more actionable issue for MKL is that it violates its own documentation (contract) of `zheevr`, which [did state](https://web.archive.org/web/20200328170030/https://software.intel.com/en-us/mkl-developer-reference-fortran-heevr) that the array was meant to be "[r]eferenced only if eigenvectors are needed (`jobz = 'V'`) and all eigenvalues are needed, that is, `ra

[2020-03-29 11:35] #11566 closed

[2020-03-29 15:49] lobpcg commented on #10974
@glemaitre I am trying to understand why the code fails here, and I observe unexpected output. Re-running
[code]
I get the same `rng = RandomState(MT19937)`  but different other output every time I run it.

Is not  `rng = np.random.RandomState(42)` suppose to fix the seed in everything that follows?

[2020-03-29 15:57] mdhaber commented on #11673
Hmm now when I run:
[code]
That's it. Nothing happens.

[2020-03-29 16:39] rgommers commented on #7895
My impression is that a new keyword in `loadmat` would be better than a separate function. The interaction with `struct_as_record` and `squeeze_me` exists either way, so that doesn't look like a good reason for a new function.

@matthew-brett any opinion on this question?

[2020-03-29 16:59] lobpcg commented on #10974
OK, I get it and I have found a simple example with the same issue:
[code]
always fails, while with `Q = np.random.randn(X.shape[0], 3)` it always works. The operator `A` of the eigenvalue problem is 100x100 and has only 10 nonzero eigenvalues. LOBPCG runs in the Krylov space generated by `A` that cannot thus have more than 10 dimensions. LOBPCG uses 3*block_size subspace to operate  and runs out

[2020-03-29 18:08] mckib2 commented on #11673
In anticipation of the python wrapper, I've renamed the wrapper `highs_wrapper`.  I've changed the arguments a little bit to fit the form of the problem that HiGHS expects:

`MIN/MAX c.T @ x  s.t.   lhs <= A @ x <= rhs,  lb <= x <= ub`

`c`, `lhs`, `rhs`, `lb`, and `ub` are anything that can be cast to a memory view (usually numpy array) and A is a csc_matrix.  If `lhs=None`, then it sets a left h

[2020-03-29 18:57] mdhaber commented on #11673
Got it. Working on my Ubuntu SciPy development setup; it's been a long time since I've used it and it needs updates/rebuild.

1. I see that they are actively working on the Windows issue. (I think I get the same error message on Mac, so it's blocking that, too?) Any guesses for how difficult it will be to resolve?
2. In the meantime, is it worth trying to move this code into the SciPy repo and try

[2020-03-29 19:27] mckib2 commented on #11673
It looks like they know what the issue is -- problems with some forward declarations, so it shouldn't be difficult to solve (fingers crossed).

If we do decide to move into SciPy, I think it's worth waiting until the Windows/Mac builds are working.

I've used git [submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) to do this before.  I think it would solve the problem allowing us to

[2020-03-29 20:50] mdhaber commented on #11673
I thought about a submodule, too. SciPy has a few submodules already (although it's mostly for stuff like the documentation).

[Here](https://www.scipy.org/scikits.html)'s more info about scikits. I don't know anything firsthand; just that I've used a few, and SciPy has optional dependencies that are scikits for license reasons (e.g. [scikit-umfpack](https://pypi.org/project/scikit-umfpack/), [sci

[2020-03-29 20:54] mdhaber commented on #11673
@rgommers We're trying to work a powerful, actively-developed, MIT-licensed LP solver (written in C++) into `linprog`. How should we do that in a way that's easy to maintain? Submodule? Optional dependency SciKit?

[2020-03-29 20:54] mckib2 commented on #11673
If submodule is not an issue, then that has my vote.  I'll try to throw together a scikit proof of concept just in case.

[2020-03-29 22:40] rgommers commented on #11673
Ah HiGHS rings a vague bell, I looked at portability before: https://github.com/scipy/scipy/issues/8575#issuecomment-391782423

Optional dependency doesn't sound great. Unless this would be a non-default feature in `linprog` that one expects not too be too heavily used - but I guess that's not the case here? And would the feature not work at all if the optional dependency is not installed, or do w

[2020-03-29 22:43] mckib2 commented on #11673
@rgommers Cython wrapper already functional [here](https://github.com/mckib2/HiGHS).  CMake is not used (I do scrape some info from the CMakeLists.txt to inject into build).

[2020-03-29 23:02] rgommers commented on #11673
Thanks @mckib2.

Now read through the thread: mixed integer programming would be an important feature I'd think. So optional dependency would be tricky. Also, looks like Linux distributions don't have it packaged yet, so it's in a much worse situation than UMFPACK.

One other issue with submodules is that maintaining patches is a pain, you usually have to wait till something gets fixed upstream, a

[2020-03-29 23:55] mdhaber commented on #11673
I don't have much experience with submodules, but could maintaining patches really be inherently harder than if we to vendor the code? I mean, if we have a fork of the HiGHS repo as the submodule and we never touch it again, then the code would never change; it would behave as though the code were vendored, right? So inherently it doesn't seem any more difficult to maintain. It gives us the flexib

[2020-03-30 00:15] person142 opened #11749 "Get some kind of typing for `scipy.special`"
This is a tracking issue for getting some kind of typing (likely very rough) for everything in `scipy.special`. Things that this entails:

- [x] Type `cython_special` as `Any`, since it has no public Python API.
- [x] Type the ufuncs in `_ufuncs` as best we can
  - Initial PR typing them as `Any`: https://github.com/scipy/scipy/pull/11701
  - See e.g. https://github.com/numpy/numpy-stubs/pull/44 f

[2020-03-30 00:23] mdhaber opened #11751 "MAINT: stats: inefficient use of optimizer by `rv_continuous.fit`"
Even when fitting distributions with certain parameters fixed, `rv_continuous.fit` allows the optimizer to treat all the parameters as decision variables. In order to keep the parameters fixed, it resets those variables to their fixed values after the optimizer calls the objective function. At best, this wastes time replacing the values of decision variables instead of actually leaving them fixed.

[2020-03-30 00:43] mdhaber commented on #11673
BTW @mckib2 finally got my Ubuntu development environment back in order and just ran `linprog_interface.py` successfully.

[2020-03-30 01:34] mckib2 commented on #11673
Great!  Don't update for now, I broke the build and I'm working on getting it back.

[2020-03-30 03:44] mckib2 commented on #11673
Alright, I hesitate to say that building multiple shared libraries that are mutually linked is impossible using pip, but I have given up trying.  Local `--inplace` builds worked on Linux, but pip pypi package installation entails installation and linking in a temporary directory and then being moved which spoils the rpaths.  I didn't find a way to overcome this.

I have moved everything into a sin

[2020-03-30 10:14] rgommers commented on #11673
If you look at what we do with, e.g., SuperLU, we just pull in an updated version once in a while, and then re-apply our patches which we actually keep as patch files (see `scipychanges.patch` in SuperLU dir). If we would do the same with in a submodule, then I think we need to maintain a public fork of it (see https://stackoverflow.com/questions/5427414/editing-a-git-submodule).

They have circul

[2020-03-30 10:50] rgommers commented on #11493
I'm not sure if this is a bug, looks like user error - inplace operations on arrays that are outputs of function calls should always be allowed. I think there'd be many other functions where you could construct such examples.

@AtsushiSakai or @bek0s, it would be good to spell out more clearly what is happening inside `least_squares` that could be considered a bug.

[2020-03-30 11:15] erheron opened #11756 "Improve and fix *Spline docstrings and code"
During the investigation of the issue #9718 I've discovered a few possibilities for both improvements and fixes in the documentation of different *Spline classes in
https://github.com/scipy/scipy/blob/master/scipy/interpolate/fitpack2.py
I create this issue mainly because it seems to me that it'll be (and must be) more general than #9718
The things below will be mostly about `RectBivariateSpline`

[2020-03-30 11:35] AtsushiSakai commented on #11493
@rgommers This problem happened because the loss function return a reference of global variable, and I think some codes change the variable value in `least_squres`. So, I changed the `least_squares` to make a copy of return value of loss function and use it in main optimization routine.
I agree that you think it is not a bug. It is OK to close this issue and my PR if you want : ).

[2020-03-30 11:54] bek0s commented on #11493
@rgommers To my understanding, in order to classify this as "not a bug", the documentation of the `fun` argument in `scipy.optimize.least_squares` should change from this:

`It must return a 1-d array_like of shape (m,) or a scalar.`

To something like this:

`It must always allocate and return a new 1-d array_like of shape (m,) or a scalar.`

Unless I am misreading the documentation.

Thanks

[2020-03-30 12:17] rgommers commented on #11493
indeed, I was asking if you found out which code that was. that could help deciding on the best solution

[2020-03-30 12:35] mckib2 commented on #11673
They do, but I was dealing with the (seemingly) very simple task of building and linking multiple extensions.  There were 4 extensions: libbasiclu, libipx, and two Cython extensions.   libipx should be linked to libbasiclu and the two Cython extensions should be linked to libipx.  It seems to me like this should be simple, but making sure the shared libraries know where each other are in all situa

[2020-03-30 14:52] mdhaber commented on #11673
Yes, I'll probably open the PR today; I got pretty close last night.

On Mon, Mar 30, 2020, 5:36 AM mckib2 <notifications@github.com> wrote:

[2020-03-30 17:04] CastleStar14654 opened #11758 "BUG: of scipy.interpolate.CubicSpline when `bc_type' is set to `periodic'"
in line 701 of file: https://github.com/scipy/scipy/blob/c1372d8aa90a73d8a52f135529293ff4edb98fc8/scipy/interpolate/_cubic.py#L701

                a_m2_m1 = dx[-2]
should be

                a_m2_m1 = dx[-3]

This typo could make the result of some interpolations quite different.

[2020-03-30 17:29] rgommers commented on #11758
@CastleStar14654 do you have an example where this causes a problem? would be quite useful both to demonstrate the bug and to use as a regression test

[2020-03-30 18:05] CastleStar14654 commented on #11758
Code following would interpolate and extrapolate `x` and `y` periodically, and plot second derivative of y to x.  Ideally, function itself, first derivative & second derivative should be periodic and **continuous**.
[code]
Current version of scipy would give
<img width="320" alt="wrong" src="https://user-images.githubusercontent.com/50725189/77945621-80199100-72f3-11ea-972e-16279d41ee87.png">
whic

[2020-03-30 21:46] WarrenWeckesser opened #11762 "Remove the unit test that searches the code for warnings filters?"
In https://github.com/scipy/scipy/blob/master/scipy/_lib/tests/test_warnings.py, there is a unit test that checks for the use of the `warnings` library to filter warnings.  This was important because of bugs in older versions of Python.  Now that we require at least Python 3.6, we can probably remove this test.

I haven't looked too deeply into this.  There might be reasons to keep a test like thi

[2020-03-30 22:07] pv commented on #11762
It also checks the presence of the stacklevel, and safeguards that warnings.simplefilter is not used to suppress warnings.

[2020-03-30 22:19] WarrenWeckesser commented on #11762
Is there a summary somewhere of why `warnings.simplefilter` should not be used?

[2020-03-30 22:41] pv commented on #11762
I was thinking about using it without catch_warnings, but the test does not check for that. So I'm not sure there's actually a reason for the test aside from the old Python bugs and possibly checking for stacklevel= usage.

The warning filter modifications are not threadsafe (in contrast to e.g. `np.errstate`), which could also be a reason to try to avoid them, but that's a rarer case.

[2020-03-30 22:45] shak360 opened #11763 "Small error in gamma continuous rv fit comments"
https://github.com/scipy/scipy/blob/adc4f4f7bab120ccfab9383aba272954a0a12fb0/scipy/stats/_continuous_distns.py#L2794

The comment and the line below it currently read:
[code]

The comment should read:

[code]

[2020-03-31 02:23] mdhaber commented on #11570
Hey @janvle just thought I'd check in. Need anything from me?

[2020-03-31 02:25] mdhaber commented on #11201
Hey @hakeemo just thought I'd check in again. Need anything from me?

[2020-03-31 02:42] ZhaoQii commented on #7591
Hi,

Seems an old topic but I just met with some weird behaviors of truncnorm.rvs:

Given my loc = 33, scale = 1, if I want myclip_a = -np.infty and myclip_b = 30, I run
`sp.stats.truncnorm.rvs(loc = 33, scale = 1, a = -np.infty, b = -3)`
and this works;

If I want myclip_b = 10 instead, I run
`sp.stats.truncnorm.rvs(loc = 33, scale = 1, a = -np.infty, b = -23)`
this also works;

But if I want myc

[2020-03-31 03:05] ZhaoQii opened #11769 "truncnorm.rvs Weird Behaviors"
Hi,

Thanks for your time and help in advance,

Given my loc = 33, scale = 1, if I want myclip_a = -np.infty and myclip_b = 30, I run
```sp.stats.truncnorm.rvs(loc = 33, scale = 1, a = -np.infty, b = -3)```
and this works;

If I want myclip_b = 10 instead, I run
```sp.stats.truncnorm.rvs(loc = 33, scale = 1, a = -np.infty, b = -23)```
this also works;

But if I want myclip_b = 20, the same code do

[2020-03-31 09:06] janvle commented on #11570
Not on this PR, no.
I have started the next one (ENH: add a stack of reversal functions to linprog #11691), which passed a couple of checks but resulted in time-outs in a couple of others. I haven't been paying attention the last couple of days, but how do I reinitiate these?

[2020-03-31 09:10] mdhaber commented on #11570
Oops I missed that. I'll take a look.

[2020-03-31 09:41] #11763 closed

[2020-03-31 09:43] rgommers commented on #11762
+1 for at least keeping the `stacklevel` check, that's quite useful

[2020-03-31 11:13] rgommers commented on #11704
gh-11765 and gh-11764 have more data. In the latter issue @sethtroisi reports that he is seeing the same slowdown on Colab. It's also not a single function, but functions from multiple modules. So it's likely some emulation on VMs is really slow. @person142 guessed it could be software handling of denormal numbers in gh-11765.

[2020-03-31 11:15] andyfaff commented on #11704
The diffev test I amended today calculates a whole load of sines.

[2020-03-31 11:40] rgommers commented on #11738
That is possibly a bug, thanks for the report @asmagen. Would you be able to make this example self-contained, so we can run it? I.e. replace `REF` and `SRC` with dummy images (just generate with np.random.random for example) as well as replacing `sitk` usage?

Re a workaround, tiling is a bit of pain - you'd have to add a buffer to each tile, then warp, strip off buffer, and recombine. This is a

[2020-03-31 11:50] rgommers opened #11770 "crash in TestEigh::test_value_subsets"
On Arch Linux, GCC 9.3.0, built against NumPy 1.18.1 from Anaconda defaults; using MKL:

[code]

Most likely due to recent `eigh` rewrite, although I haven't bisected to confirm.

[2020-03-31 12:07] ilayn commented on #11770
Grrr another one with MKL.... Related to #11709

[2020-03-31 12:25] rgommers commented on #11770
At least this one crashes consistently rather than 1 out of 10 times as in gh-11709

[2020-03-31 12:44] ilayn commented on #11770
The question is why others did not report this with MKL. But this gives me a bit of a hint though. Let's see.

[2020-03-31 12:52] rgommers commented on #11770
It only crashed for the `test('full')`, I don't think many people run that with master + MKL

[2020-03-31 14:02] reynoldscem opened #11771 "ndimage.morphology.grey_dilation Gives erroneous values"
I've come across a situation where sometimes using `binary_dilation` will give the wrong values as output. I.e. Everything that should be a 0 is a 1, and every 1, a 0. I am not sure the best way to make an example for reproduction, given it seems to be data dependent...

The bug appears when passing the array, and an argument for `structure`. The issue happens when the main array is a `float` or `

[2020-03-31 14:04] reynoldscem commented on #11771
Actually it appears if the array is a `bool` then the result is all `True`.

[2020-03-31 18:40] ilayn commented on #11770
@congma , @rlucas7  Could you please also try to replicate this ?

[2020-03-31 18:51] congma commented on #11770
Yes. And this was also fixed after applying #11737 for me. What happens if you apply that one too?

Also, as I wrote in #11709, #11737 is a temporary stopgap. As @ilayn wrote there, it seems that the MKL `zheevr()` implementation is faulty in that it appears to take a wrong branch and overwrite the `isuppz` buffer when it doesn't need to.

[2020-03-31 19:00] Balandat opened #11772 "Cache covariance matrix decomposition in frozen multivariate_normal"
Currently, it seems that a frozen multivariate_normal distribution unnecessarily re-computes the root decomposition (and other properties such as evals for the logpdf) of the covariance matrix for each operation. For instance, when sampling scipy just calls the sampling of the underlying distribution with the full covariance matrix: https://github.com/scipy/scipy/blob/adc4f4f7bab120ccfab9383aba272

[2020-03-31 19:02] mdhaber commented on #11195
Hey @carlosgmartin what do you think? Were you interested in helping with this? Also, thought you might be interested in gh-11759; we're adding support for the [HiGHS solvers](https://www.maths.ed.ac.uk/hall/HiGHS/).

[2020-03-31 19:08] mdhaber commented on #11273
@QuestionPy are you still concerned with this? I was not able to reproduce the problem.

[2020-03-31 19:13] mdhaber commented on #11273
@WarrenWeckesser if you have a minute to punch in:
[code]
I'd appreciate it. If it runs successfully, I think this can be closed.

[2020-03-31 21:38] sethtroisi commented on #11704
I tried unsuccessfully to run all tests in colab but was unable to; This is likely related to LD_PRELOAD and library setup.

I did verify that `test_matfuncs.py` and `test_distributions.py` are the same speed in colab as locally.

My pull requests gh-11765 is just a duct tape patch and doesn't seek to fix the underlying issue (I think it should be submitted so that less builds timeout while we see

[2020-03-31 22:28] WarrenWeckesser commented on #11273
@mdhaber, how long is "a fair bit longer"?  That call to `eigsh` is still running after almost 2 hours.

[2020-03-31 23:09] sethtroisi opened #11773 "Segfault in Google Colab"
I'm getting Segfault in Google Colab when I use `python runtests.py` when installed from source (vs `pip install`)

I've seen a lot of red herrings but it appears to be related to complex matrixes and it doesn't appear to trigger at the point the failure happens (e.g. if the problem is in testX it will often pass testX and die in testX+2).

[test_decomp.py::TestEigh](https://github.com/scipy/scipy

[2020-03-31 23:15] mdhaber commented on #11273
Oops, maybe too long. Go ahead and abort if it's a problem. But I did it once before and it did finish eventually : ) Or, if you think it's OK to just test on one machine, then we're already done and we can close.

[2020-03-31 23:26] ilayn commented on #11773
Is this using MKL or OpenBLAS?

[2020-03-31 23:31] jakevdp commented on #11773
Colab uses OpenBLAS:
[code]

[2020-03-31 23:31] sethtroisi commented on #11773
`numpy.__config__.show()` shows openblas configured, and mkl not available

[2020-03-31 23:38] ilayn commented on #11773
I'll be really annoyed if this is one of those single/double quotes thing in `f2py` wrapper `flapack_sym_herm.pyf.src::1270`. I don't quite understand this error why should there be any issues.

The low level call is

[code]
The 660 is what `sp.linalg.lapack.zhegvx_lwork(20)` gives

[2020-04-01 00:01] sethtroisi commented on #11773
@ilayn Can I test this by changing some single quotes to double quotes?

I'm not seeing the line you mentioned.

[2020-04-01 00:17] ilayn commented on #11773
Sure one of the lines is this

https://github.com/scipy/scipy/blob/master/scipy/linalg/flapack_sym_herm.pyf.src#L1270

and the other one is

https://github.com/scipy/scipy/blob/master/scipy/linalg/flapack_sym_herm.pyf.src#L1299

These are mentioned in the error message you have posted regarding the C-string conversion.

[2020-04-01 02:04] tylerjereddy commented on #11773
If I'm reading the versions Jake posted correctly, those OpenBLAS installs are **extremely** old, so isn't the normal guidance to link with a more recent version? We often bump to deal with bugs, and there have been plenty since `0.2.20`.

[2020-04-01 03:47] sethtroisi commented on #11773
I updated to newer version of blas

[code]

and still get the same error.

I think the `failed in converting 3rd keyword `range' of _flapack.zhegvx to C string"` is a red hearing. It appears that the STRINGMALLOC is what's actually throwing. yet it's only asking for an alloc of size 2 and the colab doesn't seem to be out of memory.

[2020-04-01 04:47] sethtroisi commented on #11773
`scipy/linalg/tests/test_decomp.py::TestEigh::test_eigh[6-D-False-True-True-eigvals1]` seem to also break but the stack trace is much less interesting

[code]

[2020-04-01 04:53] sethtroisi commented on #11773
More evidence this is a double free

[code]

[code]

I'm not sure how to proceed.

[2020-04-01 05:03] mdhaber commented on #11273
Just tested this again; no problem. @QuestionPy please open this again if you are able to reproduce it on another machine.

[2020-04-01 05:03] #11273 closed

[2020-04-01 08:11] congma commented on #11770
I tested with "full" mode again. Without #11737 (ie., with bare `master` currently at 7ac26a17), the test `scipy/linalg/tests/test_decomp.py::TestEigh::test_value_subsets` fails randomly with segfaults. With the patch, the test passes.

[2020-04-01 08:44] rgommers commented on #11770
Thanks @congma! I had missed that PR so far. I confirm that it fixes this issue for me, on Linux with both MKL `2019.4-243` and `2020.0-166`.

[2020-04-01 08:46] rgommers commented on #11773
@sethtroisi could you test with gh-11737? See gh-11770#issuecomment-606807894 for context

[2020-04-01 09:16] congma commented on #11773
Just a reminder that in #11737 there were actually two sets of changes:

- Some checks, dependencies, and default values were changed in the way that I thought would be more robust (which _might_ be relevant, but I've no idea).
- The dimension of `isuppz` was made "as large as possible" to work around MKL bug (unlikely to be relevant).

So there's that.

[2020-04-01 12:41] AtsushiSakai commented on #11493
@rgommers I'm sorry I tried to find which code that was today, but I could not find it. I will try it later again.
BTW. In my observation, `method` is no related to this issue, because all `method` has same result.

[2020-04-01 13:09] javvy opened #11774 "To me, this seems like very odd behavior"
THIS works as expected:
[code]
BUT, if I delete the  line "from scipy.special import gamma", and try to run,
   I get the following output:
[code]

[2020-04-01 13:57] jakevdp commented on #11774
The ``scipy.special`` module is not available for use unless you import it (or import something from it). It might be clearer to  do this more explicitly:
[code]

[2020-04-01 14:10] javvy commented on #11774
Thanks
But---why not?
"You won't find the right answers if you don't ask the right questions!" (Robert Helmbold, 2013)

    On Wednesday, April 1, 2020, 06:57:56 AM MST, Jake Vanderplas <notifications@github.com> wrote:

The scipy.special module is not available for use unless you import it (or import something from it). It might be clearer to do this more explicitly:
import scipy.special
—
You ar

[2020-04-01 14:14] matthew-brett commented on #11774
It's fairly standard in big libraries, like Scipy, not to import everything with a top level import like `import scipy`, because this would make it necessary to import everything from Scipy even if you were only, for example, using the `scipy.special` sub-package.  This in turn would make all Scipy imports slower, as we do (in this case) an unnecessary import  of `scipy.optimize`, `scipy.io` etc.

[2020-04-01 14:25] javvy commented on #11774
Ummmm, better said as:Why doesn't the system recognize that I want special package imported    when I refer to it in the program?
"You won't find the right answers if you don't ask the right questions!" (Robert Helmbold, 2013)

    On Wednesday, April 1, 2020, 07:14:18 AM MST, Matthew Brett <notifications@github.com> wrote:

It's fairly standard in big libraries, like Scipy, not to import everythi

[2020-04-01 14:44] jakevdp commented on #11774
*Explicit is better than implicit.*

— [The Zen Of Python](https://www.python.org/dev/peps/pep-0020/)

[2020-04-01 14:48] rkern commented on #11774
Because that's not how Python's import system was built. ["Explicit is better than implicit."](https://www.python.org/dev/peps/pep-0020/)

In the past, we did have stub objects in the `scipy` namespace for each of the subpackages. So you could just do `import scipy; scipy.special.gamma(...)`. These stub objects would lazily import the actual module when accessed. However, this caused a _ton_ of pr

[2020-04-01 15:16] ilayn commented on #11774
Thanks @javvy for taking the time for creating the issue.

 Since this is the intended behavior I'll close this but please keep the discussion alive as you wish.

[2020-04-01 15:16] #11774 closed

[2020-04-01 15:17] rkern commented on #11774
Just to add an explanation of that implicit side effect:

When we import a subpackage, the Python import system places it in the namespace of the parent package. If you just do `import scipy; print(scipy.special)`, that `scipy.special` access won't work. If you do `import scipy; from scipy import special; print(scipy.special)`, that `scipy.special` access will work because the `from scipy import s

[2020-04-01 16:10] Ziemnono opened #11775 "Multi xatol for Nedler-Mead algorithm"
**Is your feature request related to a problem? Please describe.**
I'm currently using Scipy for parameter identification of FEM simulation. The algorithm is working fine and minimize my error function according to my parameters (4 parameters for the moment, given by a callback). I want to stop the algorithm when my error function is reaching a tolerance but also a given xatol for my parameters. T

[2020-04-01 22:48] andyfaff commented on #11775
Often in minimisation it's a good idea for minimisers to use parameters that all have similar magnitudes. This reduces issues for minimisers that use gradients and hessians. Whilst Nelder-Mead doesn't use gradients (scaling is less important) you can still get the effect you're looking for by scaling your parameter vector:

[code]
Although this feature would relatively easy to add there are a few

[2020-04-01 23:40] andyfaff commented on #11751
What's the interface for deciding which parameters are fixed, and which vary? How about using a decorator here?
[code]

[2020-04-01 23:42] #11669 closed

[2020-04-02 00:37] mdhaber commented on #11751
Yes @andyfaff something like that would do the trick. I haven't looked at exactly how the fixed values are identified, but it looks like it's a list of indices `fixedn` - corresponding with all the elements of your `full_x` that are not `varying`.

[2020-04-02 01:19] josef-pkt commented on #11751
Is this really correct?

AFAIR, the optimizer should only see the free parameters, and internally we expand the parameters to be able to use the standard likelihood function.

(Aside: It took some time to fix all the bugs in the handling of fixed parameters. statsmodels and my original code used a mask which is simpler for the expand/restore function than the code that ended up in scipy.stats.)

[2020-04-02 02:09] mdhaber commented on #11751
Maybe not. I'm looking into it again.

[2020-04-02 02:19] mdhaber commented on #11751
No, I guess I misread the code. I was surprised at what I was seeing, and I thought I tested it just to make sure, but the optimizer does only call `func` with the non-fixed parameters.

Still, wouldn't it be better if we created an array outside `restore`:
[code]
and replaced the contents of the `restore` function (`for` loop, conditional, etc...) with:
[code]

[2020-04-02 05:41] josef-pkt commented on #11751
I haven't looked at this in scipy in a while

here's my original version (more than 10 years ago)
https://github.com/statsmodels/statsmodels/blob/master/statsmodels/sandbox/distributions/sppatch.py#L170

I found using a  fixed/free mask internally much easier to understand.
In my original code, the user also was supposed to specify an array with nan for the free parameters. However, that is more c

[2020-04-02 06:19] jvavrek opened #11777 "non-central chi2 (scipy.stats.ncx2.pdf) gets clipped to zero at high df"
At high values of degrees of freedom `df` the pdf of `ncx2` gets clipped to zero when the non-centrality parameter `nc` is sufficiently less than `df`:

#### Reproducing code example:

[code]

#### Erroneous plot:
![image](https://user-images.githubusercontent.com/7683814/78216372-8aac6580-746e-11ea-931d-6e4f98bc8bb0.png)

If I set `nc=5500` the curves overlap perfectly; if I set `nc=5100`, the `n

[2020-04-02 08:34] Ziemnono commented on #11775
Hi,
Thank you for the advice that's what I did to overcome this issue and it works as expected.

- I was talking about Nelder-Mead because I'm using this one currently but the principle can be generalized to other optimizers. I think the idea is just to detect if the user uses more than 1 parameter, if yes allows the user to use xatol = [0.1, 0.001] (for example) otherwise let it like before a def

[2020-04-02 11:41] Saleh0694 opened #11778 "Rotation.from_euler mixing extrinsic and intrinsic rotations"
My issue is about scipy.spatial.transform.Rotation.from_euler
In the description of the first parameter (seq), it's written that {‘X’, ‘Y’, ‘Z’} stand for intrinsic rotations (i.e. the coordinates are attached to the rotating object), and {‘x’, ‘y’, ‘z’} stand for extrinsic rotations. However, upon testing I found out that the opposite is true, i.e. {'X', 'Y', 'Z'} stand for extrinsic rotations.
T

[2020-04-02 14:59] odidev commented on #11170
Hi @rgommers as per the discussion https://github.com/scipy/scipy/issues/11724, I have modified the Travis.yml file to run builds for aarch64 ( currently only for python v3.7 ), but since the tests are taking longer than 50 minutes to execute the build is getting timed-out. Please have a look:

https://travis-ci.com/github/odidev/scipy/builds/157507705

I have already requested the Travis communit

[2020-04-02 15:04] hrw commented on #11170
Can tests be run in parallel? AArch64 machines usually have more cores than x86-64 ones.

[2020-04-02 15:22] #11572 closed

[2020-04-02 18:44] nmayorov commented on #11778
@Saleh0694 Of course we have carefully checked such basic thing. Here is a small drawing I've prepared with two intrinsic rotations (`Rotation.from_euler('XY', [90, 90], degrees=True)`):

![IMG_20200402_233803](https://user-images.githubusercontent.com/7074023/78289398-96199280-753b-11ea-9183-4e8ecb21e448.jpg)

Feel free to reopen, but provide an explanation why you believe your concern is true.

[2020-04-02 18:44] #11778 closed

[2020-04-02 18:47] johnhcc commented on #10761
I've just experienced this one too. I don't quite follow your example, @peterbell10; if you are correct about the ```int``` overflow, is it possible to predict the smallest array size where this error pops up?

[2020-04-02 19:12] nmayorov commented on #11493
@rgommers @AtsushiSakai

The problem occurs when computing numerical derivative: `df = fun(x) - f0` returns zeros and the optimizer thinks that Jacobian and gradient is zero (thus the solution is optimal) right at the initial point and terminates.

We can fix it by doing copies at this place (and maybe other places), but I think it's not a right approach fundamentally - we still doing many copies

[2020-04-02 19:44] sethtroisi commented on #11773
Thanks! 11737 fixed this issues. Still can't run the tests but I get much further.

[2020-04-02 19:45] #11773 closed

[2020-04-02 19:49] peterbell10 commented on #10761
That's what the example shows. `shape=(n + 2,1000)` should be the smallest array size that overflows. Where `n` is given in the first line.

[2020-04-02 19:53] tinosulzer opened #11779 "Option to set jac=True in `optimize.least_squares` (mirror `optimize.minimize` behavior)"
`optimize.minimize` has the option of setting `jac=True`: "If jac is a Boolean and is True, fun is assumed to return the gradient along with the objective function"

There doesn't seem to be an equivalent in `optimize.least_squares`. Could this be added? If not, is the recommended approach just to create two separate functions, one which returns the value and the other the jacobian?

[2020-04-02 21:40] sethtroisi commented on #11704
I got tests running in colab and I plotted the tests which vary most between the two
https://colab.research.google.com/drive/1GLYz5AK6G1PjAJjsRvIsXL5-rDlBfgK_#scrollTo=jW_sVHK0wDE5

![image](https://user-images.githubusercontent.com/10172976/78302035-eb7b8280-74ee-11ea-806e-96292776a456.png)

![image](https://user-images.githubusercontent.com/10172976/78302558-dc490480-74ef-11ea-815b-e15849158e5f.

[2020-04-02 21:57] ruslanye commented on #11659
Hello, I'd like to tackle this issue. I'm in favor of raising an exception. It will help in debugging, if user used incorrect bounds(since in documentation it's specified as `(min, max)`). Does anyone have a reason to use another approach instead?

[2020-04-02 22:14] sethtroisi opened #11780 "ValueError: Does not understand character buffer dtype format string ('?')"
I'm trying to build and test SciPy in Colab.

I hit an issue with boolean numpy arrays, this happens in ~100 tests

[code]

`_lil_flatten_to_array_bool_` is being generated [in _csparsetools.pyx.in](https://github.com/scipy/scipy/blob/master/scipy/sparse/_csparsetools.pyx.in#L186)

There are some [threads on StackOverflow](https://stackoverflow.com/questions/49058191/boolean-numpy-arrays-with-cyth

[2020-04-02 22:24] andyfaff commented on #11659
My preference would be for a neat way of fixing the bounds, possibly located in `_minimize.standardize_bounds`. e.g.
[code]
then it doesn't matter if the upper limit is less than the lower limit.

[2020-04-02 22:45] Yarapy opened #11781 "scipy.optimize.dual_annealing can't admit parameter visit=1"
scipy.optimize.dual_annealing parameters

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

I found an easy solution just putting np.divide() instead of / in the corresponding line:
[code]

[2020-04-03 04:55] mdhaber opened #11782 "ENH: stats: more analytical formulas for fitting distributions to data"
In the [CZI Proposal](https://warrenweckesser.github.io/czi/scipy-2019-czi-proposal-revised.pdf), we wrote:

the method of maximum likelihood estimation (MLE). The proposed enhancements are:

speed and accuracy
...

This is part of our effort to address the [roadmap item](https://docs.scipy.org/doc/scipy/reference/roadmap.html#statistics-enhancements) "Improve the options for fitting a probability

[2020-04-03 07:40] dschmitz89 opened #11783 "Passing LowLevelCallable to Optimizers"
In my field of research, we have to perform a large number (millions) of independent small nonlinear optimizations. To speed things up, I compiled the objective with numba which already gave a speedup of 10. Now I am down to about 600 optimizations/second. At this speed, the overhead for calling a Python function which is then passed to for example minpack could make a difference. I did not time i

[2020-04-03 08:04] andyfaff commented on #11783
I've often thought about this, but didn't go further. It's a great idea, but whatever happens it needs to be rolled out in such a way that it'll be suitable for all the minimisers. Several of them are Fortran based, a lot are pure Python (most of these could be convertible to cython).
I've looked at minimiser overhead before though, and from memory it's not large. I've implemented nelder mead and

[2020-04-03 08:30] dgahle commented on #11659
I think that doing both would be ideal. So by default an error is raised as suggested by @ruslanye and then have a keyword ('correct_bounds' for example), which defaults to False, that when is True fixes the bounds as suggested by @andyfaff. When the bounds are autocorrected then a Warning error is printed and prints out the change that has occured.

[2020-04-03 08:31] andyfaff commented on #11659
I don't think an extra keyword is desirable here, but it could be mentioned in the docs.

[2020-04-03 08:38] rgommers commented on #11783
Doing this, and then constructing a representative standalone example, would be very useful. Function call overhead is sub-microsecond, so both hard to time well and not common to become important in optimizers. It would be good to know what the gain would be here.

[2020-04-03 11:44] AtsushiSakai commented on #11493
@nmayorov Thank you for your analysis!!. I updated my PR #11752 . PTAL

[2020-04-03 12:13] dschmitz89 commented on #11783
Thanks for your replies.

To clarify: this question was more asked out of interest, I am aware that the "problem" of Python overhead in function evaluations is not urgent and irrelevant for most optimization problems. In our case, one optimization takes around 2 microseconds with between 15 and 50 function/gradient evaluations, that's why it might have an effect for us. The idea came to me as I re

[2020-04-03 12:37] rgommers commented on #11783
It's not less, easy to try:

[code]

[2020-04-03 12:41] asmagen commented on #11738
It should occur with any big image (more than 5k x 5k pixels) for which you have deformation field output such as the ones produced by [drop2](https://github.com/biomedia-mira/drop2) (separate x and y deformation fields) which you try to wrap the separate channels of an RGB image as attempted in the code above. How can I replace the usage of sitk.ReadImage as you suggested?

[2020-04-03 12:47] rgommers commented on #11738
It's not obvious to me what that does; your code says `img_dx` but https://simpleitk-prototype.readthedocs.io/en/latest/user_guide/plot_image.html says it returns an object with a set of metadata. If there's Python API reference docs for `sitk`, they manage to hide those pretty well.

`img_dx` is what exactly?

[2020-04-03 12:53] rgommers commented on #11780
Seems new indeed, due to gh-11517 perhaps in combination with either Cython or NumPy version. @smola any thoughts on this?

[2020-04-03 14:03] dschmitz89 commented on #11783
Similar numbers for me. WIth numba nopython compilation, the function call becomes even a bit longer (70ns to 58ns). For a function with 5 arguments, the difference increases:  700ns/180ns).

Still, for our problem the total time for function calls spent is then in the order of micro seconds compared to milliseconds for the whole optimization process. So definitely negligible.

Thanks for pointing

[2020-04-03 14:27] zechenhund commented on #9899
As far as I can see, this issue is not yet resolved.

I did an extended search in parameter space to try to understand the behavior of the different algorithms on this problem, and to get a hint at the probable problem cause.

It now seems to me rather obvious that there is a problem with step size control in RK45. Major arguments: when setting atol = 10.0 * rtol (atol = 1.0 * rtol * |values|) the

[2020-04-03 14:27] dbrakenhoff commented on #11403
I'm getting the same error when I run the code above.

I arrived here because I'm experiencing a similar issue in a leastsquares optimization. In my own example one of the parameter values is just outside of the bounds passed to leastsquares (in the order of 1e-11 beyond the upper limit). When I change the `method` keyword argument to `method="trf"`, I do not get the error...

__Version info:__
Py

[2020-04-03 15:40] rgommers commented on #11783
thanks @dschmitz89

[2020-04-03 15:40] #11783 closed

[2020-04-03 19:34] asmagen commented on #11738
It's the x deformation field (and img_dy is the corresponding y deformation field) - basically loading the x and y deformation field nii files generated by drop2.

[2020-04-04 07:44] AtsushiSakai opened #11790 "NaN handling of stats.rankdata"
I think NaN handling of stats.rankdata is not correct.

#### Reproducing code example:

Current code is

[code]

However, I think it should be

[code]

or

return nan

or

raise an exception.

#### Scipy/Numpy/Python version information:
Python: 3.7.7
scipy: 1.7.1

[2020-04-04 09:35] #11442 closed

[2020-04-04 10:38] #11493 closed

[2020-04-04 16:18] pv opened #11793 "scipy.optimize.cython_optimize API should be declared in that .pxd file"
The way the public Cython API is exposed in `scipy.optimize.cython_optimize` currently does not allow making additions or changes to the API without breaking ABI compatibility.

The problem is that the interface file ``cython_optimize.pxd`` cimports functions from `cython_optimize/_zeros.pxd` instead of declaring them. This causes Cython to try to import all the functions in `_zeros.pxd` (and also

[2020-04-04 18:50] chrisb83 commented on #11790
see also the related issue #11409

[2020-04-04 19:57] pkienzle opened #11795 "trapz distribution mean computed using single precision"
The trapezoidal distribution from scipy stats is computing mean with single precision.

Consider the distribution with c=1/3, d=5/6, loc=-3, scale=6 which corresponds to a=-3, b=-1, c=2, d=3 using the parameterization for the generalized trapezoidal distribution from van Dorn, et al.  Using the formula for mean from [wikipedia](https://en.wikipedia.org/wiki/Trapezoidal_distribution) (which is equi

[2020-04-04 22:12] andyfaff commented on #11795
The issue is that the trapezoidal distribution does not override the `_stats` (or `_munp`) methods from [`rv_continuous`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.html#scipy.stats.rv_continuous). Therefore all the statistics calculated by the trapz distribution use the super class method which works everything out with numerical integration.

See:
https://docs

[2020-04-04 22:16] mdhaber commented on #11795
Ditto. (Beat me to it.) @pkienzle would you be interested in implementing this?

[2020-04-04 22:24] andyfaff commented on #11795
The `norm._stats` method is:

[code]

which are `mu, mu2, g1, g2` for the distribution. Which I think are:
[code]

Those values then get transformed by the scale/loc values.

[2020-04-04 23:00] mdhaber commented on #11795
Yes, it looks like the way to implement this would be to override the `_stats` method in `gen_trapz`. But as @andyfaff says, the values returned get transformed by the `scale` and `loc` in `rv_continuous.stats`, so I think the values returned by `_stats` need to correspond with with `loc=0` and `scale=1`. Also, there's a bit of algebra to determine the relationships between the variables in Wikipe

[2020-04-04 23:19] AtsushiSakai commented on #11790
@chrisb83 Oh. Thanks. I will try to fix it in #11791

[2020-04-05 00:35] pkienzle commented on #11795
Yes.  Rewritten with primed variables for wikipedia and unprimed variables for scipy, just to make it clear.

scipy to wikipedia:
[code]
wikipedia to scipy:
[code]

It may be useful to say in the scipy docs that:

I found the parameters much easier to work with once I realized this.

van Dorn et al. only wrote down the equations for `E[X]` and `E[X^2]`, so there will be a bit of work required to g

[2020-04-05 00:46] mdhaber commented on #11795
They can probably be found in another reference. I'll look when I get home. If it's too much work, you can also return `None`, and they will be calculated the same way they are now.

[2020-04-05 00:56] andyfaff commented on #11795
(everything needs to vectorise)

[2020-04-05 02:52] pkienzle commented on #11795
Okay, I confirmed with wolfram alpha that the pattern continues through the third and fourth absolute moment, with:
[code]
with height of the flat to defined by `2/h = (d+c) - (b+a)`.

There's probably a simple enough proof of this, but I didn't find it in google scholar when searching the literature which cites van Dorp.

[2020-04-05 03:23] #11598 closed

[2020-04-05 08:46] hakeemo commented on #11201
@mdhaber sorry about being unresponsive. Yes , still interested in getting this done but don't see myself working on this for the next 4 weeks.

[2020-04-05 10:27] bensdm commented on #11442
I understand that weighting on max is not usual operation but why not implement it as it there is almost nothing to change, and it is useful in my case for instance, nevermind i can apply weight to my input...

[2020-04-05 11:39] ilayn commented on #11709
I don't know if the original postar Zoe is anyone from this thread but apparently there is a MKL bug ticket is open for exactly the same reason.

https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/851351

@oleksandr-pavlyk Do you mind nudging this ticket if possible ?

[2020-04-05 12:04] rgommers commented on #11170
TravisCI gets to 65%, Drone only to 25% of the test suite - not what I had expected.

Tests can be run in parallel. If I look at what's happening now, `NPY_NUM_BUILD_JOBS=2` is set so that should speed up the build a little, however the tests aren't yet run in parallel. Installing `pytest-xdist` and running `python runtests.py --parallel=2` should fix that. I believe a TravisCI job gets 2 cores, a

[2020-04-05 12:13] rgommers commented on #11704
That plot is useful, thanks @sethtroisi. Would be even better to plot with `test_file::test_name` labels, because `teset_workers`, `test_random` and perhaps some other names have duplicates in different modules so it's hard to tell which ones they are exactly.

I don't think we have one yet.

[2020-04-05 15:24] ma-sadeghi opened #11799 "Add verbose as optional argument to solve_ivp"
**Is your feature request related to a problem? Please describe.**
When solving large-enough IVP problems, for example, solving 2D/3D time-dependent PDEs using method of lines, it takes a long time for solve_ivp to do the integration for all time steps.

**Describe the solution you'd like**
Add `verbose=False` as default arg to `solve_ivp` and similar methods.

**Describe alternatives you've consi

[2020-04-05 15:33] robertuhl opened #11800 "Segmentation fault in scipy.odr for multidimensional independent and dependent variable"
The following MWE causes a segmentation fault, as shown in the error message.
Both the independent and the dependent variable are 2-dimensional in this example.
The model's Jacobian functions are provided by the user.
I checked the shapes of the model's function and its Jacobians, those are correct:
[code]

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python

[2020-04-05 17:08] EverLookNeverSee commented on #11799
Hi @ma-sadeghi , I think it's can be done!

[2020-04-05 19:00] mdhaber commented on #11201
No problem; it's a crazy time. I'll check in next month!

[2020-04-05 20:14] pkienzle commented on #11795
Done.  The proof was indeed simple enough.  I also threw in the entropy calculation because they happened to have it on the page, and confirmed that the values for stats and entropy correspond to the values returned by the existing scipy, at least to the first 7 digits.  I threw in the example above as a test case, as well as the boundary problems where cancellation leads to divide by zero.

[2020-04-05 21:02] ma-sadeghi commented on #11799
Hi @EverLookNeverSee, that's great to hear. I'm willing to volunteer to do that, although I have not contributed to `scipy` before nor have much experience with C/Fortran code. Let me know what you think, and where you think I should start.

[2020-04-05 21:26] shankardutt opened #11804 "Scipy.integrate.dblquad slow?"
Hi, I am using scipy.integrate.dblquad to integrate the function as shown below. It is quite slow. Is there any way to implement the same in quadpy so as to achieve better performance? Or is there any vector form of the same?

[code]

Total time is
[code]

[2020-04-05 21:36] KaleabTessera opened #11805 "Fatal Python error: Segmentation fault - test_arpack.py::test_symmetric_modes"
My issue is about a segmentation fault when trying to run tests.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:
[code]

[2020-04-05 23:56] nayefahmad opened #11806 "Unexpectedly poor results when distribution fitting with `weibull_min` and `exponweib`"
My issue is about distribution fitting with `weibull_min` and `exponweib` returning clearly incorrect results for shape and scale parameters.

Full details here: https://stats.stackexchange.com/questions/458652/scipy-stats-failing-to-fit-weibull-distribution-unless-location-parameter-is-con

[code]
Here are the results:

[code]

This is clearly a very poor fit to the data. I am aware that by const

[2020-04-06 00:22] #11391 closed

[2020-04-06 00:29] mdhaber commented on #11806
Hi @nayefahmad, I'm working improving the `fit` functionality these days (gh-11695, gh-11782), so thanks for submitting this test case. I'll look into this soon.

[2020-04-06 07:49] KaleabTessera commented on #11805
I also tested this on google colab and this resulted in the same issue, meaning it is not a local problem.

[2020-04-06 08:38] dgahle commented on #11659
I think autocorrecting the issue with no warning will just change the types of issues with the bounds that get hidden. So in my problem, I had an array of values that I produced bounds from by multiplying by np.array([0.9, 1.1]). Hence for all negative values, the bounds produced were ordered (max, min). In this case optionally being able to autocorrect is ideal and it tidies up my bounds. In the

[2020-04-06 10:22] ruslanye commented on #11659
I agree with @dgahle. I'll try to implement it as they suggested.

[2020-04-06 11:15] #11464 closed

[2020-04-06 11:55] erheron commented on #10558
Hi! My guess is that @sameshl is not working on this, and wouldn't be angry if I'll make the PR

[2020-04-06 11:56] andyfaff commented on #11659
I'm really not a fan of adding an extra keyword here. The keyword argument doesn't add much benefit, and makes the list of arguments longer.

The two realistic options are either

1. Just raise a RuntimeError if the min/max aren't in the correct order

-or-

2. Autocorrect the bounds for min/max and raise a RuntimeWarning.

[2020-04-06 12:20] rgommers commented on #10558
@erheron please go ahead!

[2020-04-06 12:33] erfannariman opened #11807 "f_oneway should accept a nested list"
When you want to make a generic function which gathers all the lists with values and you want to compare their means with `f_oneway`, you have to gather them in a list. Apparantly the functions `f_oneway` does not accept a nested list, but only separate lists.

Example:

[code]
**This works, when we hardcode each separate list**:
[code]
**This does not work, when we pass the nested list `grps` to

[2020-04-06 12:46] #11807 closed

[2020-04-06 12:47] erfannariman commented on #11807
I guess I had a brain freeze, solution is to unpack (`*`):
[code]

[2020-04-06 12:58] WarrenWeckesser commented on #11807
@erfannariman, thanks for the feedback. In fact, I'm working on an update to the one-way ANOVA code, and it is likely that we'll include a version that implements a basic "group-by" operation, so you'll be able to pass in `df['Group']` and `df['Weight']` (though perhaps converted to lists or numpy arrays) without having to do the splitting into groups yourself.  If you are interested, I can ping y

[2020-04-06 13:02] erfannariman commented on #11807
Yes definitely, I would love to! I am using scipy couple times a week since my new job and have some ideas for contribution, since I am using some methods within my own projects which can be useful for the community as well perhaps. But Im not confident if my code is written well enough and Im not sure how to write good tests since I don't have any background in that.

[2020-04-06 13:07] ruslanye commented on #11659
Well, the keyword argument will have a default value, so the list of arguments will be longer only if you use the option to correct bounds. Alternatively, we can always raise an error and add a function `_minimize.standardize_bounds`, as you mentioned, so users can correct bounds without using a keyword.

[2020-04-06 13:17] EverLookNeverSee commented on #11807
Hi @erfannariman , Don't worry. just try to learn and level up your technical skills.
There is no need to be a professional and experienced programmer, start from small and simple.
Good luck!

[2020-04-06 13:18] WarrenWeckesser commented on #11807
We can help with that.  If you have ideas for new features, it is best to discuss them on the mailing list or in a github issue like this one. But once there is agreement that a new feature would be a good fit for scipy, pull requests are welcome.  (As are pull requests to fix bugs.)

If you do end up submitting a pull request, don't be surprised if you are asked to make a lot of changes.  It can

[2020-04-06 13:55] erfannariman commented on #11807
Thank you. Good to hear from someone with experience, I will start with small contributions and hopefully will learn on the way what knowledge I am missing.

[2020-04-06 13:57] erfannariman commented on #11807
Yes I will submit a pull request in time. It's not only about the code, also for the documentation or for the docstrings. About the "lot of changes", that's perfectly fine, even better to get feedback and learn! I will use the [contributor guide](https://docs.scipy.org/doc/scipy/reference/dev/contributor/contributor_toc.html) as my guideline for now.

[2020-04-06 13:57] #10558 closed

[2020-04-06 15:43] robertuhl opened #11810 "Results of scipy.odr for multidimensional independent and dependent variable depend on option for setting derivatives to be used"
For the following MWE, scipy.odr behaves differently depending on the parameter deriv in ODR.set_job(), as summarized in the following table:
| deriv used in set_job() | resulting NITER | resulting estimated parameters beta |
| --- | --- | --- |
| 0 | 45 | [2.60879386, -124.94597213, 128.04493547, -1.87313021, 77.36690004, -75.39826147] |
| 1 | 40 | [2.62919932, -126.60823927, 129.70332763, -1.885

[2020-04-06 17:59] pkienzle opened #11811 "pyflakes silently failing on travis-ci"
pyflakes 1.1.0 is failing with an internal error `AttributeError: 'Checker' object has no attribute 'JOINEDSTR'`.  Version 2.1.0 runs to completion (though with many warnings, as indicated in #11529).

See also recent travis build results (even ones that pass!), such as
https://travis-ci.org/github/scipy/scipy/jobs/671749102?utm_medium=notification&utm_source=github_status (scroll to line 553).

#

[2020-04-06 18:13] mdeff opened #11812 "Facilitate the choice of BLAS provider (specifically MKL) at runtime"
As conda-forge [successfully demonstrated](https://conda-forge.org/docs/maintainer/knowledge_base.html#switching-blas-implementation), it is possible to compile numpy and scipy against the netlib reference implementation of BLAS and LAPACK, and then switch to OpenBLAS, MKL, or BLIS at runtime.

To be able to switch to MKL without some functions segfaulting (#3193), one of the following should be d

[2020-04-06 19:43] rgommers commented on #9718
Closing in favor of gh-11756. Thanks @mirca and @erheron

[2020-04-06 19:43] #9718 closed

[2020-04-06 20:06] mgiraldo commented on #8891
is this resolved? i am also getting crashes (even computer restarts) for a large-ish 2d-array (300k points). macOS 10.15.4 (Catalina) Python 3.6.10.

[code]

i'm trying to fit 300k features into a 576x576 grid. using pyenv and jupyter notebook.

[code]

[2020-04-06 20:50] mgiraldo commented on #8891
i was using [Quasimondo/RasterFairy](https://github.com/Quasimondo/RasterFairy) to convert UMAPs to grid and it worked with [every one of my datasets](http://dxlab-fellowship-2019.s3-website-ap-southeast-2.amazonaws.com/viewer/) (even one with 550k points) but it was hanging on one of them, possibly due to Python2/3 differences. so I gave [kylemcdonald/CloudToGrid](https://github.com/kylemcdonald/

[2020-04-06 20:56] pv commented on #11812
The default build options correspond to BLAS that ABI-compatible with the Fortran compiler used.

The Fortran ABI is something that the binary distributor has to coordinate across all packages, and using ABI-incompatible compiler/library combo requires some sort of hack in all Fortran programs, so Scipy is not special. Most environments (Linux distributions, HPC environments, etc.) install librari

[2020-04-06 21:02] isuruf commented on #11812
Only on Linux. Not available on OSX

[2020-04-06 21:23] oleksandr-pavlyk commented on #11709
@ilayn Done.

[2020-04-06 21:24] pv commented on #11812
I think the wrappers would be more cleanly implemented as a separate ABI-compatibility wrapper library, which would provide compatible symbols. The hurdle here is mainly distutils and getting the linker flags etc. right on all platforms. (For distributors, the distutils issue does not exist and there's better control over compilers etc. to get it right vs. platforms.)

This would allow us to stop

[2020-04-07 00:40] pvanmulbregt commented on #11793
If we make the backward-incompatible API break now, what changes would the user have to make?

[2020-04-07 02:32] cannontwo commented on #8682
I have a bare-bones implementation of recursive least-squares in NumPy available at https://github.com/cannontwo/rls. Is this an open area for contribution? I could go about putting together a pull request if so.

[2020-04-07 05:28] isuruf commented on #11170
Drone machines have 96 cores each, but is shared across projects.

[2020-04-07 08:15] pv commented on #11793
Just recompile their Cython modules.

[2020-04-07 09:00] rgommers commented on #8682
Thanks for asking @cannontwo. There is clearly interest, so it would be nice to see a good implementation in `scipy.signal`. What we need I think is a comparison between all the available implementations:
- `statsmodels`
- `padasip`
- another one I just found in https://github.com/LCAV/pyroomacoustics/blob/pypi-release/pyroomacoustics/adaptive/rls.py
- your own

If we are going to include RLS in S

[2020-04-07 09:14] emmanuelle opened #11816 "Overflow problem in ndimage.grey_erosion"
This issue appeared in https://github.com/scikit-image/scikit-image/issues/4558

#### Reproducing code example:

[code]
The input and output arrays are
[code]

Since the erosion is a min filter I would expect the out array to be zero everywhere.

#### Scipy/Numpy/Python version information:

[code]

[code]

[2020-04-07 09:18] emmanuelle commented on #11816
In scikit-image/scikit-image#4558 the person who reported the issue noted that the problem did not appear on Windows platforms but only on Linux/Mac when they made tests on various Azure instances. If this is of any help...

[2020-04-07 12:10] mdeff commented on #11812
Thanks for the detailed explanations @pv.

So there's a third option: instead of symlinking `libblas.so` and `liblapack.so` to `libmkl_rt.so` and exporting `MKL_INTERFACE_LAYER=LP64,GNU`, we could symlink to another MKL library and avoid the export. @isuruf, do you know which library we should symlink to on Linux? (Maybe that's also what conda-forge should do to avoid the issue mentioned by @pv.)

[2020-04-07 13:12] odidev commented on #11170
@rgommers I am running the Travis-ci builds and facing the below issue while building it, could you please suggest what am I missing: https://travis-ci.com/github/odidev/scipy

[2020-04-07 13:27] rgommers commented on #11170
Probably removing `-u` from the runtests command, see https://stackoverflow.com/questions/14258500/python-significance-of-u-option. Best to keep modifications to a minimum I'd think, rather than throwing out so many build/test flags.

[2020-04-07 13:57] MatthewFlamm commented on #11799
May I suggest as a possible overarching implementation that a callback function be added instead?  The function would be called every successful time step, or maybe the status also gets passed in and called every step.  Then the user could put in a print statement to do this functionality. It would be more flexible, but also require (only slightly) more user code.

[2020-04-07 15:37] naterich2 opened #11818 "loadmat doesn't work on String arrays"
**Describe the solution you'd like**

I am trying to load a mat file with an array of strings in it.  I have read the documentation and loadmat should work on v6 files, and v7-v7.2.   I have tried saving the mat file from matlab as all of these formats and I have the same issue with each.  The mat file loads with the numerical data, but not the string data.  I've tried to search through the issues

[2020-04-07 16:37] BruceMaggs opened #11819 "documentation of rollaxis"
Hi,

On the web page https://docs.scipy.org/doc/numpy/reference/generated/numpy.rollaxis.html, where you document the rollaxis function, you first say:

Roll the specified axis backwards, until it lies in a given position.

then you write:

start : int, optional
The axis is rolled until it lies before this position. The default, 0, results in a “complete” roll.

There seems to be a contradiction b

[2020-04-07 17:25] ilayn commented on #11819
@BruceMaggs Thank you for opening the issue. You might want to carry this to NumPy repository instead

https://github.com/numpy/numpy/issues

[2020-04-07 17:25] #11819 closed

[2020-04-07 18:40] camelator commented on #11241
Same issue here. Tring to build a jupyterlab docker image with scientist packages for ARM64. python package of scipy are not available for ARM and compilation fails.

[2020-04-07 18:56] rgommers commented on #11241
@camelator the original issue here was about Ubuntu, better not to mix a question about ARM64 into it. Right now there are no ARM64 wheels, however conda-forge has SciPy `aarch64` and many other PyData packages - I recommend using Miniforge installer + conda packages.

[2020-04-07 18:59] camelator commented on #11241
@rgommers many thanks for for really fast answer,
and sorry for my bad french english.
Please, I don't understand, how can it be a Ubuntu issue if I am trying to compile scipy by myself?
Do you have any links related to this issue?
Maybe I can use another linux image?

many thanks for your answer

[2020-04-07 19:31] rgommers commented on #11241
I mean the original bug here said `I am unable to compile scipy 1.4 on Ubuntu 18.04 LTS `. You have a different issue.

Here is an ARM64 installer: https://github.com/conda-forge/miniforge. And a Docker image at https://github.com/conda-forge/docker-images/pull/129 if you need it. Then you can simply `conda install scipy`.

[2020-04-07 21:20] grlee77 commented on #11816
It looks like the function stores the integer value in an double-precision intermediate variable declared here:
https://github.com/scipy/scipy/blob/3fc8aec56d5378fd191dbcea294219147bd93ccc/scipy/ndimage/src/ni_filters.c#L600
which later has the integer value assigned at:
https://github.com/scipy/scipy/blob/3fc8aec56d5378fd191dbcea294219147bd93ccc/scipy/ndimage/src/ni_filters.c#L511

Here `_res` in

[2020-04-07 22:08] grlee77 commented on #11816
I will make a PR to try and fix this.

[2020-04-07 22:12] grlee77 commented on #11816
Actually, the specific code highlighted above only runs when the footprint is non-separable. The underlying issue is the same for the case running separably, although it does not seem so simple to fix the issue there without more extensive code changes.

In the separable case, I think the double in question is this one in the pairs structure:
https://github.com/scipy/scipy/blob/3fc8aec56d5378fd191

[2020-04-07 23:03] ambarb opened #11821 "allow center of mass to calculate when array contains NaN"
**Is your feature request related to a problem? Please describe.**
I am using `scipy.ndimage.measurements.center_of_mass`  on image data (3D array) to determine a 2D peak position for each image in the 3D series.  In the normalization process, some pixels for the entire series are converted to NaN.  Other analysis functions appropriately ignore these pixels.  The scipy `center_of_mass` calculation

[2020-04-08 02:37] pvanmulbregt commented on #11769
Hi @ZhaoQii ,
This issue happens to be fixed by the `truncnorm` rewrite in gh-11393.

[2020-04-08 07:39] emmanuelle commented on #11816
Thank you very much for your investigations @grlee77 :-). It's so nice for us in scikit-image to depend on a library like scipy which is both very robust and with reactive maintainers! :heart:

[2020-04-08 13:19] odidev commented on #11170
Thanks, @rgommers I have built scipy and here is the build log on Travis-ci for parallel=2 :
https://travis-ci.com/github/odidev/scipy/builds/159274043.

Since the above build was halting I have checked the same for parallel=3, Please have a look at the log: https://travis-ci.com/github/odidev/scipy

Also, I have tried the same on drone ci as well for parallel=3, Please have a look at the log:
htt

[2020-04-08 13:51] matthew-brett commented on #11818
Yes, I'm afraid we need some more code to deal with Matlab's objects...   But - can you share your .mat file somewhere so we can give it a go?

Can you convert your strings to cell arrays?

[2020-04-08 14:54] naterich2 commented on #11818
I tried converting my strings to cell arrays and that worked!  Hopefully this upload works, let me know if there's more I can do to help!  If nothing else, maybe this workaround could be added to the documentation for loadmat?

I converted it back to the original and saved with `save('test_data.mat', '-v7');`
[test_data.mat.gz](https://github.com/scipy/scipy/files/4451178/test_data.mat.gz)

[2020-04-08 15:36] perimosocordiae commented on #11805
This may be related to gh-11773, based on the colab failure you mentioned. Can you try running tests again from the current master branch?

[2020-04-08 16:14] jorikdima opened #11825 "chi2.ppf results Matlab vs Scipy"
I noticed different results for non central Chi square distribution between Matlab and Scipy.  Specifically I see the difference in chi2.ppf function.

#### Reproducing code example:

Scipy
[code]
gives 5.865182051925328

but in matlab
[code]
gives 5.3658

For central Chi2 results are matched. My simulations show that Matlab results are correct. Maybe there is different definition of non centralit

[2020-04-08 16:40] josef-pkt commented on #11825
using loc shifts the support of the distribution, that's not non-central chisquare

you need to use stats.ncx2

[2020-04-08 16:49] jorikdima commented on #11825
Wow, thanks. Then I would say the description is confusing. I couldn't imagine that this is not non centrality parameter. My understanding was that chi2 is a general chi2 distribution and when loc is 0 - it's the central one, when not - non-central, since central is just a special case of non central.

[2020-04-08 17:09] josef-pkt commented on #11825
All continuous scipy distributions are loc-scale families, there is nothing specific to chi2

loc and scale just shift and rescale the random variable or distribution
`y = (x - loc) / scale`

[2020-04-08 17:16] jorikdima commented on #11825
Ok. Then I close it. That was my misunderstanding. Sorry. With ncx2 everything works.

[2020-04-08 17:16] #11825 closed

[2020-04-08 17:26] matthew-brett commented on #11825
Maybe it's worth a note in the Chi2 function documentation?

[2020-04-08 17:42] josef-pkt commented on #11825
maybe a See Also, but otherwise this should be "understood"
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2.html
mentions loc scale shifts already

similar relationship applies to all non-central distributions, t, F, chi2

(Related aside:
Some of the old literature was using mean-shifted central distributions as approximations to non-central distributions, when the latter wer

[2020-04-08 18:02] KaleabTessera commented on #11805
@perimosocordiae No luck, I just did a build from master with the latest changes.

[2020-04-08 20:04] zoeherri opened #11826 "Error with _fblas"
I am trying to use scipy.spatial.distance.cdist
I can import scipy but cannot call or import scipy.spatial
I have searched the web and found other posts similar to this but none have worked for me. I tried different versions of scipy, numpy and python itself. I continue to get the error shown in the image below. I do not appear to have _fblas.py. I searched the C drive of my computer and all it re

[2020-04-09 00:30] #11659 closed

[2020-04-09 01:21] andyfaff opened #11827 "`fft.tests.test_numpy.test_multiprocess` hangs on Python3.8 on macOS"
#11822 proposes to add macOS testing on a range of Pythons using Github actions. The 3.8 matrix entry kept hanging on `fft.tests.test_numpy`. I've since reproduced the error on my local machine. The specific test it's hanging on is `fft.tests.test_numpy.test_multiprocess`. If I comment out the test everything runs ok.
The reason it's probably failing is that the default context for multiprocessing

[2020-04-09 01:25] larsoner commented on #11827
@andyfaff maybe this?

https://bugs.python.org/issue38501

[2020-04-09 01:45] andyfaff commented on #11827
@larsoner possibly, I'm not sure.

- The travisCI matrix has an Ubuntu+3.8 entry, and the test doesn't hang on that.

I tried changing the test code to:

[code]

- The test run works if the context is 'fork', but not if it's 'spawn'

I hope the core devs are paying attention to that Python issue, its a real pain.

[2020-04-09 02:01] andyfaff commented on #11827
I was running those tests with the normal `python runtests.py -s fft`.

If I run the specific test from an interpreter then I have no issues. The test may need a knownfail.

[2020-04-09 03:06] jorikdima commented on #11825
Well... I admit it was my fault that I took loc parameter for non centrality.
But at the same time the question is: could it be someone else or just me? :) Let's follow my path.
Basically I needed information about chi2 distribution and its ppf function in numpy. I goggled it and I found that Scipy provides it. I needed both central and non central. I saw a distribution just called chi2. Obviously

[2020-04-09 03:58] josef-pkt commented on #11825
However you found ncx2 in matlab.
Is it only the unusual `loc` that was confusing in scipy compared to matlab?

I would rename ncx2 to ncchi2 to match chi2, instead of the "matlab" name. (An `x` ain't no `chi`.)
I leave it up to the current maintainers to decide whether and how the docstring can be improved, a `See Also` to point to the non-central versions would help.

Otherwise, **my** opinion i

[2020-04-09 05:41] ev-br commented on #11825
Any suggestions on how to improve the docs here?
User input is *very* welcome!

And if you could do a PR with the edit, that'd be even better

[2020-04-09 08:16] #11811 closed

[2020-04-09 09:39] peterbell10 commented on #11827
@andyfaff does the test still fail  if you replace `p.map(func, ...)` with `p.map(np.array, ...)` or something similar. If this isn't the python issue then that should pass.

[2020-04-09 09:50] WarrenWeckesser commented on #11825
@jorikdima, the confusion is completely understandable.  Thanks for explaining your situation so clearly.

We can definitely improve the documentation.  At a minimum, the `chi2` docs should have a 'See Also' section that links to `ncx2`.  An additional note about `chi2` vs `ncx2` could be helpful, too.

@jorikdima, if you are interested in contributing such a change, it would be welcome, just let

[2020-04-09 10:15] andyfaff commented on #11827
@peterbell10 it hangs on that as well. The test, as-is, passes in an interpreter.

[2020-04-09 10:24] rgommers commented on #11170
Okay, so `parallel=2` still times out (just, gets to 98%) and `parallel=3` passes all tests except for:
[code]

See gh-8463 for context on this test. The actual build log is hidden so it's hard to be completely sure, but it looks like it's using the conda-forge compilers and linker (`gcc-7.4` is also installed with `apt-get`, but conda compilers will be the first ones found normally). Those haven'

[2020-04-09 10:27] rgommers commented on #11821
There's no `nan` handling in any `ndimage` functions (see e.g. gh-7818) , this would be great to have. It's a decent amount of work, and no one has stepped up to dig into this yet.

[2020-04-09 10:42] thomasaarholt opened #11828 "UnivariateSpline gives varying results when multithreaded on Windows 10"
UnivariateSpline gives slightly varying results when `map`ed in parallel using ThreadPoolExecutor. This does not happen with python's `map` or ProcessPoolExecutor. This happens on Windows (tested with 10), and does not happen on Ubuntu.

In the following example I compare performing a [`UnivariateSpline`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.UnivariateSpline.html)

[2020-04-09 13:53] isuruf commented on #11170
https://github.com/scipy/scipy/pull/11833

[2020-04-09 18:04] #11827 closed

[2020-04-09 21:12] Intellagent commented on #9710
Just found this because after I was able to isolate this issue.
`
stats.weightedtau([np.nan],  [52])
`
will also segfaults.

(base) [mr85p01ad-hadoop408 ~]$ pip freeze | grep scipy
scipy==1.4.1

[2020-04-10 03:57] andyfaff opened #11835 "tests with `multiprocessing` hang on Python 3.8 on macOS"
I'm running the whole test suite on macOS on Python 3.8 (via Github Actions on my local machine (Catalina)). I'm seeing several issues with multiprocessing, such as #11827.

They're related to https://bugs.python.org/issue38501. The tests that hang are:

- [`integrate.tests.test__quad_vec.test_quad_vec_pool`](https://github.com/scipy/scipy/blob/master/scipy/integrate/tests/test__quad_vec.py#L94)

[2020-04-10 08:27] alexbovet commented on #7433
I still have this problem with numpy 1.18.2 and scipy 1.4.1.

Actually, it's even worse because even EN and EM are both infinite for me...

If I do `L = M/norm(M)`

[2020-04-10 10:59] rgommers commented on #11835
So much fun, I'll ping again on the CPython PR that seems to have introduced the issue.

[2020-04-10 11:04] pv commented on #7433
@alexbovet: maybe it's just overflow? Does your matrix have eigenvalues with real part larger than ~710 (which is the point where exp overflows)?

[2020-04-10 12:22] alexbovet commented on #7433
Thanks, it's probably an overflow from expm indeed. I didn't know that expm is expected to overflow, or more precisely when it is expected to overflow.

I am using the reproducing code example from the [original comment](https://github.com/scipy/scipy/issues/7433#issue-230701866). The matrices M and N have eigenvalues with real parts larger than 710:
[code]
In my case, I managed this problem by us

[2020-04-10 12:44] pv commented on #7433
No, what I'm saying is that the exponential of the matrix cannot be represented in floating point at all (i.e. the infinite result from expm is correct):
[code]
so there's one eigenvalue with very large (>710) real part, and the others are of order 1. The eigenbasis is also well-conditioned so the matrix is nicely diagonalizable:
[code]
Hence, the matrix exponential is approximately `exp(N) =~ np.

[2020-04-10 13:37] alexbovet commented on #7433
Yes you are right, sorry.
Actually, I realize that my problem is different that this issue. In my case the expm must be finite. But I have some nans that appear and these warnings:
[code]
It could be because of a division by zero. In this case, this can be dealt with the scaling/squaring technic. But I don't know if I should open a new issue? Could you tell me if you think I should? I'll edit this

[2020-04-10 13:41] pv commented on #7433
Ok, could you open a new issue (as it's a different problem)?

[2020-04-10 14:47] alexbovet opened #11839 "linalg.expm returns nans with RuntimeWarning: overflow encountered in sinh"
The matrix exponential, `expm(M)`, returns some nan values. It seems that it is the case when the norm of `M` becomes large but the result of `expm(M)` should stay finite. Two warnings are raised ('overflow encountered in sinh' and 'invalid value encountered in double_scalars', see below).
The problem can be dealt with by using the method of scaling and squaring (mentioned [here](https://github.co

[2020-04-10 14:49] alexbovet commented on #7433
thanks, created a new [issue](https://github.com/scipy/scipy/issues/11839#issue-597926417)

[2020-04-10 15:08] pv commented on #11839
Thanks, fix seems straightforward: gh-11840

[2020-04-10 15:50] astrophysaxist opened #11841 "Ignore NaN with scipy.optimize.curve_fit"
Occasionally I need to fit data that's incomplete (missing values) or perform a fitting task over a grid of 3-D data, i.e. fitting M points for every NxN element, where one of the elements needs to be masked out or ignored.

It may be a good feature to have a flag (or flags) to curve_fit that tell it to ignore NaNs in an array being fit and return NaN when there are no floats/data to fit (i.e. all

[2020-04-10 16:28] denis-bz commented on #9586
Just a comment, there's a testbench for sparse solvers on random matrices under
[gist.github](https://gist.github.com/denis-bz/c76e5ea59f58acfcafc7d9dbf5429b65) . Sample output, `A` singular + various `diag I`:

      1472 msec  cpu 3.8  solver spsolve  n  10000  diag 0.0001  tol 1e-05:  |b-Ax| 2.3e+02   |x| 5.18579e+21
     14513 msec  cpu   1  solver lgmres   n  10000  diag 0.0001  tol 1e-05:  |

[2020-04-10 17:22] jorikdima commented on #11825
I totally agree with @josef-pkt that:

I would just add one simple sentence in the beginning, like:

Just a link at the beginning can immediately hint a reader that for a non central distribution he needs to go somewhere else.
Maybe we could add one simple and short comment in the end of the Notes section. Like:

Assume the last one may sound too pulled up to my personal case :)
And I think that i

[2020-04-10 17:36] mdhaber commented on #11806
Hi @nayefahmad, what I'm going to do is look into whether the maximum likelihood estimation optimization is converging to a good minimum (and doing what it is supposed to do). But to help with this, do you have a better estimate available? And how did you notice this was not a good fit (e.g. is there some code I can run to see what you're seeing)?

[2020-04-10 17:45] nayefahmad commented on #11806
Hi @mdhaber, yes, in the link to the stats.stackexchange above, I included output from the `fitdistrplus` package in R, which is clearly a much better estimate. Does that help?

[2020-04-10 17:48] nayefahmad commented on #11806
I could tell this was a poor fit because I've been working with Weibull distributions quite a bit, and I know that the shape parameter for data with a density shape like this should have a value around 1.0 or above.

[2020-04-10 18:00] josef-pkt commented on #11806
If you know you have a fixed support and loc=0, then use that information.

Standard maximum likelihood is not really designed for estimating the support of a distribution (problems with derivatives).
Using something close to min of data provides reasonable estimates for shifted distributions, e.g. peak over threshold for pareto distribution.
If loc=0, then it is a nice MLE problem.

Even if theor

[2020-04-10 18:15] mdhaber commented on #11806
Still, I think @nayefahmad has a point - I've confirmed that the minimizer is not converging to a great local minimum. I'm going to look into using the other optimizers to see if they work better on this one.

[2020-04-10 18:15] nayefahmad commented on #11806
Hi @josef-pkt, that does make sense, but I would then question the current design of the functions. They allow for estimation of the location parameter, but not in a way that the user can rely on. Would it be better to fix loc=0 by default, or possibly throw some kind of warning when the estimate of scale and shape is poor?

[2020-04-10 18:39] mdhaber commented on #11806
It looks like the `fit` function is doing what it is supposed to do here, it's just that the default optimizer is not doing a great job. It would be nice to improve it, but it's not a simple fix.

One thing you could try, @nayefahmad, is to use a different optimizer. For instance, I got pretty good results with `differential_evolution` here.

[code]
It's stochastic, but I've gotten as good as: `1.

[2020-04-10 18:43] josef-pkt commented on #11806
I learned a new word today: "yolo"

"if you just wanna yolo some predictions and call it a day"
https://www.reddit.com/r/datascience/comments/fotjm9/statsmodels_vs_sklearn_for_the_linear_models/flhe2zo/

my reply here https://github.com/scipy/scipy/issues/11825#issuecomment-611314641

We cannot fix loc=0 automatically, it's an option that the user needs to request. That's why it's an option.
I hav

[2020-04-10 18:50] josef-pkt commented on #11806
@mdhaber How good is the estimate if you provide loc=0 as starting parameter, instead of using floc?

[2020-04-10 19:09] mdhaber commented on #11806
Bad!
[code]

[2020-04-10 19:23] nayefahmad commented on #11806
Haha @josef-pkt, I do like that line!

Thanks for the suggestion to use `differential_evolution`, @mdhaber.

[2020-04-10 19:27] nayefahmad commented on #11806
Sorry, what's the difference between setting loc=0 and setting floc=0?

[2020-04-10 19:28] mdhaber commented on #11806
Actually, @nayefahmad , the parameter optimization problem is small enough that `brute` works quite well.
[code]
If the objective function in SciPy is correct, then this is a better fit than the one R gave.

[2020-04-10 19:30] mdhaber commented on #11806
`loc=0` is a guess for the optimizer to start with. It iteratively improves upon the guess. `floc` "**f**ixes" the value of `loc` to 0.

[2020-04-10 19:39] mdhaber commented on #11806
Do you think we should close this, then?

[2020-04-10 19:43] nayefahmad commented on #11806
You mentioned that the default optimizer (without the initial guess of loc=0) isn't doing a great job here, and might be improved. I guess it could be tagged as an enhancement issue, then?

In any case, thanks for looking into this, I appreciate your time.

[2020-04-10 19:59] mdhaber commented on #11806
OK. There is already an issue gh-11751 that mentions improving the optimizer. I think I'll combine them. If you'd summarize your takeaways on stackoverflow, I'd appreciate it!

[2020-04-10 20:13] josef-pkt commented on #11806
One more issue, that I just remembered:

For some distribution with a finite bound, the likelihood function becomes "singular", I think it blows up to inf, if e.g. loc = min(x). I don't remember for which of the distributions that was the case. In those cases relying on the loglike alone would not be enough, a global optimizer might end up there or break (nan or raise).

[2020-04-10 22:01] zebaKarishma commented on #6212
It should be **condo update --all**

[2020-04-10 22:15] dkweiss31 opened #11845 "Method for complex symmetric indefinite generalized eigenvalue problem"
I am interested in the generalized eigenvalue problem
`Hx=\lambda Mx`
where H is symmetric positive definite (and complex in general) but M is symmetric indefinite, i.e., it has negative eigenvalues. As far as I can tell, no linear combination `\alpha H +\Beta M` is positive definite.

I can solve for the eigenvalues using `scipy.linalg.ordqz(A, M, sort=sorter)` with an appropriate `sorter` functi

[2020-04-10 22:16] zebaKarishma commented on #6212
Installing an older version worked for me (from 1.4.1 to 1.1.0 )

**pip uninstall scipy
pip install scipy==1.1.0**

[2020-04-10 23:04] andyfaff commented on #11835
@larsoner @rgommers, there's something fishy going on here.
I copied the failing test into a separate file, `test_vec.py`:

[code]

If I do a `pytest test_vec.py` it passes. This is the same test for which I see a failure if I run the scipy tests via `python runtests.py`.

I tried to see if it was because a dummy Pool was being used, so I made it into a real Pool. Then I had a complaint about pick

[2020-04-10 23:25] andyfaff commented on #11835
I can go into `optimize.tests.test__differential_evolution`, remove the known fails (which are supposed to be 'due to cleaning up MapWrapper on Python 3.8'), and that individual test file (after moving it somewhere else) runs to completion without issue if I call it via `pytest test__differential_evolution.py`.

(this is with Python 3.8.2 on macOS).

Also pinging @pv and @peterbell10 , because I t

[2020-04-10 23:33] andyfaff commented on #11835
`test_mapwrapper_parallel` in `scipy._lib.test__util` also works on macOS + Python3.8, which uses 'spawn' by default.

--> multiprocessing with spawn method is compatible with pytest (I've just done it), just not how we test it.

[2020-04-10 23:36] larsoner commented on #11835
From the python issue it seems like if/when __del__ is called can matter, which in turn can depend on garbage collection timing. So I'm not sure running an individual test necessarily rules in or out that test as the problem unless we check deletion states.

Maybe one option is to atexit.register the closing of the pool to ensure the threads are dealt with properly

[2020-04-10 23:38] larsoner commented on #11835
And by "the pool" I mean the one created by quad_vec when "workers" is supplied. Basically we need to ensure that it's closed, and just relying on garbage collection is not safe enough

[2020-04-11 00:44] #11839 closed

[2020-04-11 00:46] larsoner commented on #11835
I can confirm that my MWE still fails on my system (running `python whatever.py` just hangs instead of exiting):
[code]
But modifying it with `atexit` fixes things (`python whatever.py` runs and exits without issue):
[code]
So I think doing this sort of thing wherever we create a `Pool` (without having a context manager to automatically close it for us) is a good idea.

[2020-04-11 01:16] larsoner commented on #11835
Actually it looks like `MapWrapper` if used in a context manager should already close the pool, and that `quad_vec` uses it in this way (?). So maybe this isn't the same bug...

[2020-04-11 01:18] andyfaff commented on #11835
I've just been trying to investigate this.  In most of our test cases either `MapWrapper` or `Pool` is being used in a situation where the resources *are* being closed.

[2020-04-11 02:01] andyfaff commented on #11835
There is a test in `_lib.tests.test__util` called `test_mapwrapper_parallel`. It's currently got a skipif decorator on it. This is because the test hangs on Python 3.8 (macOS) if 'spawn' is used.

To check if it's the scipy `MapWrapper`implementation being faulty I then created another test function that uses `multiprocessing` directly:

[code]

When I try to run this via `runtests.py` the test st

[2020-04-11 04:29] Domadrona commented on #10332
I solve the problem by changing this number **"4" to "1"**  in the file wavefile.py file,
in this condition of the _code:len(chunk_id) < **1**_

       if not chunk_id:
                raise ValueError("Unexpected end of file.")
            elif len(chunk_id) < 1:
                raise ValueError("Incomplete wav chunk.")
but it was by just intuition and good luck, now i wonder why this works and w

[2020-04-11 05:13] andyfaff commented on #11835
Well...
It seems that if I add `multiprocessing.freeze_support()` in `runtests.py.__main__`, then the multiprocessing hangs don't occur.

[2020-04-11 13:23] peterbell10 commented on #11835
That's very weird. Compare to the [documentation](https://docs.python.org/3/library/multiprocessing.html#multiprocessing.freeze_support):

Are you using the `-n` flag with `runtests.py`? That runs the tests in a  subprocesses so could be relevant.

[2020-04-11 19:49] dpoerio commented on #11649
@antonior92  and @andyfaff please check #11712.

[2020-04-11 20:57] tjof2 commented on #11828
See #4470

[2020-04-11 21:05] ev-br commented on #11828
How is gh-4470 related?

[2020-04-11 21:14] tjof2 commented on #11828
Wrong link, sorry!

[2020-04-11 21:20] sturlamolden commented on #11828
It might be the that the Fortran compilers used to build FITPACK have different default settings on Linux and Windows.

Fortran subroutines are generally not reentrant, because of things like implicit SAVE attributes. This is also why recursive functions in Fortran must be declared RECURSIVE. Unless we know for certain that the Fortran compiler will produce reentrant binaries, we must protect all

[2020-04-11 21:56] ev-br commented on #11828
Ok, does the problem disappear if gh-4770 is reverted?

[2020-04-11 22:51] pv commented on #11828
If it's really the gfortran recursive stuff, more robust solution than
(compiler-dependent) flags is to just add `recursive` to the subroutine
declarations since we're not stuck with f77.

[2020-04-11 23:35] andyfaff commented on #11835
It's not the first time, and it certainly won't be the last, that documentation doesn't keep up.

The story goes as follows... On a GUI app I'm developing whenever I started multiprocessing the GUI would start generating a cascade of replicas of the main window. On investigating further the suggestion was that freeze_support was what was needed, because the script was doing something like recursiv

[2020-04-12 02:57] Kai-Striega commented on #11615
I would prefer to accept both, that way we stay consistent with the existing ?gbsv function.

[2020-04-12 07:59] #11224 closed

[2020-04-12 08:22] andyfaff commented on #11704
Is there a separate issue for `TestGenInvGauss::test_rvs_p_zero` (perhaps I should open one)?

I've been having fiddle around with the test and even if I only generate 10 random variates all the tests in there pass, it's also 150 times faster

- is it necessary to generate so many random deviates (1500) for this test, can the number be reduced?
- is there a faster way of calculating the CDF? At th

[2020-04-12 10:00] rgommers commented on #11673
After looking at the PR and the HiGHS code base in more detail, I do expect trouble. The CMake build dependency, Windows support, portability to other platforms that we can't easily test (e.g. AIX), etc. So I think we may want to stick with optional dependency for a release or two .....

[2020-04-12 10:13] andyfaff commented on #11673
A bit late to the party here...

Is `cmake` going to become a mandatory build dependency for scipy? This is a pretty big step to take.
Package dependencies, such as numpy/cython/pybind11 are easily installed via pip.
Having to install other build tools are more of a pain in the neck (windows??)

[2020-04-12 10:17] rgommers commented on #11673
@andyfaff no I'd like to avoid CMake indeed.

[2020-04-12 10:18] rgommers commented on #11673
Comment above from @mckib2 on this.

[2020-04-12 10:31] chrisb83 commented on #11704
There is no issue for `geninvgauss` yet. Generating rvs is fast. It is the evaluation of the cdf that is VERY slow, so the KS-test is expensive to run even for medium size samples of 500-1500.

Since I am not aware of a simple way to speed up the CDF, one can either

- reduce the number of samples, say to 100 and run the KS-test
- keep larger samples and just check first and second moments (explic

[2020-04-12 11:06] andyfaff commented on #11704
Some thoughts (in no particular order) for this particular pain point:

- reducing the number of samples would help immensely.
- how does the kstest work? Could one reuse the CDF values for all the rvs values calculated? Perhaps the kstest code could be re-written to accept an array for the cdf parameter as well? That looks like a [viable proposition](https://github.com/scipy/scipy/blob/v1.4.1/sci

[2020-04-12 11:13] andyfaff commented on #11704
Back to the main topic, I can understand why we still run CI tests for Linux32 (embedded boards, etc). What's the rationale for keeping the windows32 bit tests?

[2020-04-12 12:27] sturlamolden commented on #11828
@pv‘s solution will work, independent of the compiler, but we might have to tag every Fortran subroutine or function with “recursive”. Chances are this static allocation only happens with automatic arrays and not local variables. However, who wants to sit down and read through and edit all the legacy Fortran sources? Perhaps we can have the build scripts do this automatically, instead of manually

[2020-04-12 17:35] peterbell10 commented on #11835
Looking at the implementation for `freeze_support`, it literally does nothing if `sys.platform != 'win32'`:
https://github.com/python/cpython/blob/61511488cf4e7a1cb57a38efba7e0a84a387fe58/Lib/multiprocessing/context.py#L148

[2020-04-12 17:54] peterbell10 commented on #11835
Pure speculation, but is it possible that adding `import multiprocessing` to `runtests.py` was what made the difference? It might change how the python module is initialised on the spawned process.

[2020-04-12 18:32] bharat29 opened #11848 "How to get Lagrange / lambda multipliers out of 'linprog' optimize subroutine in scipy module ?"
It is required to obtain Lagrangian multipliers while optimizing a linear programming problem.  Kindly help.

Best regards,
Bharat

[2020-04-12 19:25] mdhaber commented on #11848
Hi @bharat29, thanks for making the request. This is a duplicate of gh-8836, though, so I'm closing. Hopefully we'll add this with gh-11759.

[2020-04-12 19:26] #11848 closed

[2020-04-12 19:52] mdhaber commented on #11673
@mckib2 Julian mentioned that HiGHS has a prototype MIP solver that's not really powerful. Have you run across that functionality? It's not exposed right now. I was thinking that maybe we should finish gh-11759 without features beyond those currently supported by `linprog` and add MIP functionality and information for sensitivity analysis in another PR?

[2020-04-12 20:23] mckib2 commented on #11673
I can certainly provide a wrapper for HiGHS MIP (there is a basic one already in `linprog_mps.pyx`),  but I think you're right in restricting the scope for this PR.

cmake not required as previously mentioned.  We are passing (basically) all CI builds now.  Is there someone we can reach out to about other platforms?

[2020-04-12 20:58] rgommers commented on #11673
Adding ARM64 CI is in progress, hopefully done soon. `s390x` is also best done by adding a CI job. AIX CI isn't available, let's worry about that last (I think only Tyler and myself have access).

[2020-04-12 22:24] andyfaff commented on #11835
@peterbell10, you're correct. Just tested out on local machine.

- just the presence of `import multiprocessing` is enough to prevent hanging (freeze_support not required).
- the tests don't hang if there's no import of multiprocessing *and* runtests.py uses parallelisation, I used `-j 4`.

It's a bit crufty that just the presence of the import is enough...

[2020-04-12 22:41] mckib2 commented on #8836
Ref #11759 : HiGHS does have a crossover routine

[2020-04-13 03:05] #11611 closed

[2020-04-13 03:06] tylerjereddy commented on #11611
@opoplawski Can you check this is fixed on your end with latest master now?

[2020-04-13 05:25] ZhaoQii commented on #11769
Hi @pvanmulbregt ,

Thank you very much for your help and the improvement made by you!
I found that pull request is still waiting to be merged. Anything I can do to use it on my end right now?

[2020-04-13 05:52] bharat29 commented on #11848
Sure.  Thank you 😊

[2020-04-13 09:39] HPLegion opened #11850 "Possible error in docs for leastsq"
Hello,

I am currently reading some of the source code touching on fitting routines in scipy because I am trying to verify that I understand the documentation correctly. I am not terribly comfortable with statistical methods.

During this work I discovered that in the [docs for leastsq](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.leastsq.html#scipy.optimize.leastsq) for the

[2020-04-13 14:09] petacreepers23 commented on #11826
I have the same issue, couldn't find a fix either

[2020-04-13 14:12] rgommers commented on #11826
Could you please add some details on how you installed Python, how you installed SciPy, and provide relevant debugging info like `$ ls site-packages/scipy/linalg/` and the output of `scipy.show_config()`?

[2020-04-13 14:14] ScottNortonPhD opened #11851 "Issues in documentation of scipy.cluster.hierarchy.dendrogram"
The keyword argument `leaf_rotation` is misdocumented as `leaf_label_rotation` in [scipy.cluster.hierarchy.dendrogram](scipy/cluster/hierarchy.py#L2026).

[2020-04-13 14:23] ScottNortonPhD commented on #11851
Further, the documentation of `R['dcoords']` seems to be a copy-paste of the documentation of `R['icoords']`.

[2020-04-13 14:39] WarrenWeckesser commented on #11851
@ScottNortonPhD, are you looking at the latest version of the documentation?  I don't see those issues in https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.dendrogram.html

[2020-04-13 14:43] ScottNortonPhD commented on #11851
My mistake, Warren. Somehow Google brought me to the version 0.14 docs without me noticing.

[2020-04-13 14:43] #11851 closed

[2020-04-13 14:45] WarrenWeckesser commented on #11851
No problem, it happens.  It turned out to be fixed already, but thanks for taking the time to report the issue.

[2020-04-13 15:39] WillTirone commented on #11746
@mdhaber hello! I'm a first time contributor but I can take a stab at this if you still think it's a good first issue.

[2020-04-13 15:44] mdhaber commented on #11746
I imagine it is, at least at the surface. The easiest fix would be just to check the output of the function and convert it to a scalar if necessary. It would be great if you'd dig a bit deeper to see why this is happening for `pearson3`, whether it manifests in other ways, and correct it at the source. Thanks for looking into it!

[2020-04-13 16:19] WillTirone commented on #11746
Sounds good, I'll take a look here in a bit. A quick question: I have an older fork of the scipy main repo, just from following the steps here: https://docs.scipy.org/doc/scipy/reference/dev/contributor/quickstart_ubuntu.html#quickstart-ubuntu

Do I need to do a completely new fork + and clone again (steps 10 - 13 above) or can I refresh from the upstream repo or something like that?

[2020-04-13 16:22] mdhaber commented on #11746
No fork, yes rebase on upstream. Please see http://scipy.github.io/devdocs/dev/gitwash/useful_git.html#rebasing-on-master

[2020-04-13 16:24] mdhaber commented on #11746
So:
`git checkout master` to make sure you're on the master branch
`git fetch upstream` to get the latest changes
`git rebase upstream/master` to update your local master branch according to those changes
`git checkout -b feature_branch` to create a feature branch for you to work on

[2020-04-13 16:29] WillTirone commented on #11746
awesome, that makes sense. Thanks!

[2020-04-13 16:49] petacreepers23 commented on #11826
i am on windows, installed python via windows 10 store.
scipy installed via pip using command shown in https://www.scipy.org/install.html

the ls you ask for:
[code]

the output of the config:

[code]

also, apart from
`from scipy import linalg`
this
`from scipy import signal`
also fails to load the _fblas

[2020-04-13 18:24] #11835 closed

[2020-04-13 18:42] rgommers commented on #11826
There's a file `_fblas.cp37-win_amd64.pyd` right there, it's unclear to me why that wouldn't be importable. Can you import it if you `cd` to that directory and directly do `import _fblas`?

unless there's a recurrence of the DLL load library path issue here ....

@zoeherri did you also install Python from the Windows Store?

[2020-04-13 18:49] petacreepers23 commented on #11826
@rgommers didn't work, same error "cannot find module"

[code]

[2020-04-13 19:09] rgommers commented on #11826
Yes, I think this is a duplicate of gh-10171, Windows Store Python 3.7 is problematic. Could you upgrade to 3.8?

[2020-04-13 19:20] rgommers commented on #11826
Oh this brings back bad memories. @tylerjereddy the `distributor_init.py` is only copied into our wheels for Python 3.8: https://github.com/MacPython/scipy-wheels/blob/9da5817775eedebfa0eb929ae6a007085ad8d60b/appveyor.yml#L176

[code]
This is a new micro release. I suspect the DLL path resolution was changed in that release.

@petacreepers23 could you download https://github.com/MacPython/scipy-wh

[2020-04-13 20:02] petacreepers23 commented on #11826
ok @rgommers i uninstalled windows store version, and installed python 3.7.7 from python.org, I cannot use python 3.8 because of other dependencies.
removed all win_store envioroment variables, replacing them with the new python install and upgrade pip and reinstall all, and now it works with no problem, without downloading that.

It seems the problem is microsoft store python... too bad for that

[2020-04-13 22:14] ilayn commented on #11845
As far as I know, there are no all-purpose methods that can accomplish this. As noted by the Netlib team, the user should take extra precautions to use these methods. I would be interested though if there are new possibilities in the literature.

[2020-04-13 23:58] WillTirone commented on #11746
@mdhaber  on your last point: I saw the below comment in the pearson3 class. Does this clear up your last point or should that transition variable be smaller? Looks like anything < 0.000016 returns an empty array.

[code]

[2020-04-14 00:21] mdhaber commented on #11746
I'm not familiar with the Pearson distribution, and I haven't looked at the code, but from the excerpt you included, I assume that it tends toward the normal distribution as the skew goes to zero? If so, it should return the mean of the normal distribution. In any case, it should never return an empty array.

[2020-04-14 01:04] nayefahmad commented on #11806
Hi @mdhaber, I do have one more thought about this. The documentation of the methods of `weibull_min` [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.weibull_min.html) suggests that if a user does not pass a value to `loc`, the default of `loc=0` will be used.

From what you've shown above, this does not appear to be the case. Also, the documentation of the [fit method for

[2020-04-14 02:20] rlucas7 commented on #11610
closed by  #11627

[2020-04-14 02:20] #11610 closed

[2020-04-14 02:49] tylerjereddy commented on #11095
This is still true on master branch wheel builds for Python 3.7 + Linux + 32-bit only.

[2020-04-14 03:07] opoplawski commented on #11611
Seems to build fine here.  Thanks.

[2020-04-14 03:28] mdhaber commented on #11806
You're right, the default does not seem to be the same as passing `loc=0`; that should be more clear. I think that is more general issue that will get lost if it stays in this issue alone. Would you open a separate issue?

[2020-04-14 06:47] #11373 closed

[2020-04-14 07:12] jannschu commented on #4777
A similar issue arises if the Jacobian is inf or nan. The issue is the following Fortran snippet from MINPACK:

[code]

After the loop `gnorm` should hold the maximum cosine angle as indicated in the documentation  but if `fjac` is nan or inf or `fnorm` is inf it will be 0. Thus, the convergence test succeeds.

[2020-04-14 09:09] rgommers commented on #11826
Thanks Tyler. Let's see if more reports come in and if we get confirmation that the "copy in `_distributor_init.py` file fixes it. Still a bit fuzzy on whether this really came in with the new Python 3.7.7 or not.

[2020-04-14 09:43] matrss opened #11853 "Interpolation functions should have a consistent API"
As the title says, it would be great if the interpolation functions had a consistent API. Especially for `interp1d`, `interp2d` and `interpn` this would be useful, as their similar names already (to me) suggest similar usage API-wise. Currently `interp1d` for example expects an argument `fill_value='extrapolate'` to extrapolate, while `interp2d` and `interpn` use `fill_value=None`. `interp2d` and

[2020-04-14 10:15] petacreepers23 commented on #11826
I found some weird behaviour, not affecting my development of apps, but just as a curiosity,
i did cd to `site-packages/scipy/linalg/` just like at the begining, opened python there and tried `import _fblas` and the error persists, but, importing linalg from the whole lib don't fail:

[code]
Also the _distributor_init.py is in this normal version of python, but the file just have some commented li

[2020-04-14 10:27] rgommers commented on #11826
Yeah there's a default dummy file, which needs to be replaced depending on how binaries are built.

[2020-04-14 10:30] petacreepers23 commented on #11826
ok, reinstalled win10 python, and still have problems while importing linalg.
I tried replacing with

and it works! , with that file i can import signal and linalg

[2020-04-14 10:50] rgommers commented on #11826
Great thanks @petacreepers23. That's at least an easy workaround for others who hit this issue. We can include this fix in the next release.

[2020-04-14 12:51] evfro commented on #7510
@perimosocordiae
Hi, is there any work going on to fix the bug you outlined above?

[2020-04-14 13:12] AtsushiSakai opened #11854 "Error message for Invalid 'bounds' number in optimize.linprog looks weird sometimes."
I think error message for Invalid 'bounds' number in optimize.linprog looks weird sometimes.

#### Reproducing code example:
In this linear programming, bounds number should be 1 or 4.

[code]

[code]

If bounds number is 3, the error message make sense for me.

[code]

However, bounds number is 2, the error message looks weird for me.

[code]

#### Scipy/Numpy/Python version information:
scipy: 1

[2020-04-14 16:07] nayefahmad opened #11856 "Documentation of fit methods for `weibull_min` and `exponweib` is misleading"
My issue is about the documentation of the fit methods for the `weibull_min` and `exponweib` distributions. This arose in discussion around [issue 11806](https://github.com/scipy/scipy/issues/11806).

The documentation of the methods of weibull_min [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.weibull_min.html) (image below) suggests that if a user does not pass a value t

[2020-04-14 16:50] perimosocordiae commented on #7510
gh-7826 has more discussion of that particular problem, and why it's not trivial to fix. I like the suggestion in https://github.com/scipy/scipy/issues/7826#issuecomment-437642900 about raising a warning, though.

As far as I know there aren't any open PRs along those lines yet.

[2020-04-14 17:35] jannschu commented on #4777
Changing

[code]
to
[code]

in `LMDER` and `LMDIF` makes `leastsq` at least use the maximum number of iterations instead of reporting success. Not the cleanest solution. The Fortran code was not written with nan or inf in mind. It would be a zero-overhead "fix", though.

[2020-04-14 17:39] JoElfner commented on #10740
I'd also like to push this issue, since I recently ran into it. I checked that my constraints and solution are feasible.

[2020-04-14 18:16] lrnv commented on #10740
I know that the Nlopt code correct this issue. Maybe looking at it will give the solution ?

[2020-04-14 19:08] pv commented on #10740
The error message does not indicate a single issue, and can have many
causes (incl. just numerical precision issues). So if you have an issue
please try to find a reproducible example case and paste it on
gist.github.com and link here. The example here is not so easy to get
to reproduce.

Nlopt has fixes, but afaik the scipy slsqp has fixes for the same
issues. (If you known a same problem that wo

[2020-04-14 22:55] jvavrek commented on #11777
A bit more info. From the [source code](https://github.com/scipy/scipy/blob/e1e44d12637997606b1bcc0c6de232349e11eee0/scipy/stats/_distn_infrastructure.py#L560) (v.1.3.0):

[code]

then

[code]
works, while

[code]
gives
[code]

In particular, the threshold for these `df` and `nc` values is around `x=11926`, in which case `df2`, `res` before the log term, and the log term itself are:
[code]
while a

[2020-04-15 00:29] kkava commented on #10806
I also need this. The use case is NASA SEDAC 1 km population grid data, which has large zero regions (oceans) such that the full matrix is 8 GB in RAM while the sparse matrix is only 1.2 GB. Convolution on such a large 'image' is very expensive and I need a sparse version for memory and speed improvements, or just to allow my code to run on 48 GB of RAM or less.

[2020-04-15 09:05] CompRhys opened #11858 "Voronoi Diagrams for periodic systems"
**Is your feature request related to a problem?
In many applications in the physical sciences we use periodic boundary conditions. If we want to get the Voronoi diagram for our unit cell this requires manual construction of a tessellation and then careful handling of the images to fold the diagram back into the unit cell.

**Describe the solution you'd like**
This is a relatively common problem an

[2020-04-15 12:15] ruslanye commented on #11854
On the current master, the error output is ``ValueError: Invalid input for linprog: unable to interpret bounds with this dimension tuple: (3, 2).`` for three bounds
and ``ValueError: Invalid input for linprog: unable to interpret bounds with this dimension tuple: (2, 2).`` for two bounds.
So I think, it's already fixed.

[2020-04-15 12:32] lweisef opened #11859 "More detailed failure description in ODR"
Hi,
I suggest to account for the following case in scipy.odr:
If the number of dimensions of the independent variables m equals the number of regression points n, ODR can run into an error because it assumes, that errors/weights are specified as a m x m covariance matrix instead of the m diagonal elements of the n observations.
The behaviour as such is OK, since one can specify the full covariance

[2020-04-15 12:46] AtsushiSakai commented on #11854
Thank you for checking. That's good. I close this.

[2020-04-15 12:46] #11854 closed

[2020-04-15 14:31] odidev commented on #11170
@rgommers I have been working on the Travis build for arm64, Please find the outcome for the same:

- The builds are getting successfully passed for arm64 platform with ```--parallel=3```, Please have a look: https://travis-ci.com/github/ossdev07/scipy/jobs/318718768.

**Note:-** when I have only triggered the two arm64 builds.

-  When running all the builds, all are getting successfully passed e

[2020-04-15 14:43] bunkerj opened #11860 "Occurrence of nan values when using multinomial.pmf from scipy.stats?"
Running a small experiment, I noticed that if the sum of the parameters that are passed to multinomial.pmf are even slightly above 1, then the return value is nan.

See the example below:
[code]

With the output:
[code]

Is there a better way I can deal with the numerical overflow that can occur from the parameters? My safe_multi() wrapper seems to do the trick, but I am interested in the best pra

[2020-04-15 14:52] tylerjereddy commented on #11858
I know @richardjgowers has reminded me that this is one reason downstream NumFOCUS projects like [MDAnalysis](https://github.com/MDAnalysis/mdanalysis), which I also work on, can't "just use" the SciPy Qhull wrapped code in `spatial` for all computational geometry operations.

If people were in favor of adding periodic support at the base of the ecosystem, I suppose we'd have to be cautious that i

[2020-04-15 15:22] mdhaber commented on #11854
Thanks for finding this @AtsushiSakai and for noticing it was fixed @ruslanye! I think @janvle's changes in gh-11605 must done it. (Thanks @janvle!)

[2020-04-15 15:43] isuruf commented on #11170
@odidev, can you install `pytest-xdist` on drone as well and see if that helps?

[2020-04-15 15:55] sturlamolden commented on #11812
The «correct» solution to the ABI problem would be to use Fortran 2003 to write a C callable interface for each Fortran subroutine, and then export this as a DLL that is statically linked with MKL or OpenBLAS. The problem is you would have to do this for each Fortran subroutine in the exported C API (which presumably includes LAPACK as well as BLAS).

[2020-04-15 16:04] pv commented on #11812
The problem in this issue is that the Fortran compiler ABI is not compatible with MKL. Fortran 2003 won't help here, unless you use it to call the MKL C-API.

[2020-04-15 16:33] isuruf commented on #11812
@pv, thanks for the info. Looks like conda-forge setting doesn't work for `cladiv` and `zladiv`, although `cdotc, cdotu, zdotc, zdotu` works fine with MKL and OpenBLAS.
Looks like the wrapper can be improved here, https://github.com/scipy/scipy/blob/8dba340293fe20e62e173bdf2c10ae208286692f/scipy/_build_utils/src/wrap_g77_abi_f.f#L41
Any interest in fixing this? If so, I can send a PR.

[2020-04-15 16:54] pv commented on #11812
@isuruf: The problem is that cladiv/zladiv AFAIK don't exist in the LAPACK C-API, so you can't call them easily in an ABI-independent way. The wrapper code should be correct as is, but if you set `MKL_INTERFACE_LAYER=LP64,GNU` then MKL switches to gfortran ABI, and you'd need to have Scipy compiled without the wrappers.

Of course, it might be possible to look up MKL-dependent environment variable

[2020-04-15 17:01] isuruf commented on #11812
How about vendoring the netlib code? It's just 2 lines. https://github.com/Reference-LAPACK/lapack/blob/9fb29d8ea47d643ad44a67d3da5de36e280143f5/SRC/cladiv.f#L89-L91

[2020-04-15 17:01] tpudlik commented on #11856
`weibull_min` inherits its `fit` method from `rv_continuous`, which actually uses `None` as the default values of `loc` and `scale`: https://github.com/scipy/scipy/blob/4774d47f38fa2a3d708132c92f55df761f11f90e/scipy/stats/_distn_infrastructure.py#L2276-L2283

The docstring currently displayed in the documentation is defined as `_doc_fit` near the top of that file.  A much more comprehensive docstr

[2020-04-15 17:05] tpudlik commented on #11856
Oops, I should have said, there is no default value of `loc` and `scale`, rather than that the default value is `None`.  If no value is provided by the caller, these parameters are estimated.

[2020-04-15 17:31] pv commented on #11812
That probably works.

But in long term, I would prefer to drop the wrappers altogether. For the OSX wrapper libraries I mentioned earlier: https://github.com/mcg1969/vecLibFort/ --- that could probably be adapted for MKL, and would solve the issues on a better level.

[2020-04-15 17:35] isuruf commented on #11812
@pv, one issue is that we want to support libraries linking directly to MKL as well. If the same process loads the wrapper library and MKL, there'll be symbol clashes right?

[2020-04-15 17:46] isuruf commented on #11812
https://github.com/scipy/scipy/pull/11863

[2020-04-15 17:48] pv commented on #11812
@isuruf: If you are able to swap `libblas -> openblas(gfortran ABI)` without things bombing, then I think a shim library as `libblas.so` won't be a problem either?

The details of how the shim libraries work I think depend on how the symbol resolution works out on the platform, and there are some differences between how it works in OSX and Linux/ELF.

[2020-04-15 17:56] isuruf commented on #11812
If a process loads both `libblas.so -> libmkl_rt.so` and `libmkl_rt.so`, then the symbol does the same thing. We don't recommend using `libblas.so -> libopenblas.so` and `libmkl_rt.so` both in the same process. It might work, it might not.

But `cladiv` from MKL and the wrapper library does two things, right?

(Yes, symbol resolution is complicated and I don't know enough about the differences)

[2020-04-15 18:24] isuruf commented on #11170
Nvm, it doesn't.

[2020-04-15 19:19] pv commented on #11812
Right, I understood the main aim was to make libblas safe to swap for openblas-gfortran, so that all symbols in it should have gfortran ABI?

Mixing incompatible libs in same program I think is orthogonal to this (and I did not get earlier that this is your main concern). So yes, patching sources to avoid using incompatible symbols can solve that, and work for that is mostly done in Scipy.

Howeve

[2020-04-15 21:13] pmla commented on #11858
There is a nice paper by [Caroli and Teillaud](https://hal.inria.fr/inria-00356871v4/document) on periodic Delaunay triangulations (with 38 citations). They have implemented their method in CGAL, but the license is not compatible with SciPy.

Implementing a periodic Delaunay triangulation would allow us to get a periodic Voronoi diagram very easily (and perhaps periodic alpha shapes in the future)

[2020-04-15 21:20] rgommers commented on #11170
Green in 48 minutes, nice.

Do we need two jobs? I'd be happy to have just the first one, and leave out `TESTMODE=full`. That may speed things up for the other job.

[2020-04-16 02:37] tylerjereddy opened #11864 "MAINT: arffread.py -- redundant if-condition"
Something is strange about the `elif "yy"` in the code here: https://github.com/scipy/scipy/blob/master/scipy/io/arff/arffread.py#L273-L278

Should it be replaced with an `else` or does an `in pattern` need to be added? As it reads right now, it is basically a weird way to do `elif True:`, which itself is a weird way to do `else`.

[code]

I found this by running `vulture . --min-confidence 100 --

[2020-04-16 03:11] MacsYan opened #11865 "2-D interpolate"
When I use scipy.interpolate.interp2d, the shape of x and y are same, I want the z with shape same with x not len(x)*len(y).
How I use the class of scipy.interpolate.interp2d or other packages in scipy?

[2020-04-16 03:36] mdhaber commented on #11865
Hi @MacsYan, this looks like a question about using SciPy, and for that, you will likely get a faster response at [Stack Overflow](https://stackoverflow.com/questions/tagged/scipy). We use GitHub for bug reports and feature requests. If you think there is a bug, please re-open.

[2020-04-16 03:36] #11865 closed

[2020-04-16 03:47] MacsYan commented on #11865
I am sorry for this. I will ask it in Stack Overflow.

[2020-04-16 12:01] odidev commented on #11170
@rgommers I have raised as per your suggestion, Please have a look: https://github.com/scipy/scipy/pull/11867

[2020-04-16 16:32] matthias-k opened #11868 "Function always evaluated twice when using HessianUpdateStrategy with function that returns value and gradient"
[scipy.optimize.minimize](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.minimize.html) supports handing a function that computes both function value and jacobian and returns them as tuple. I noticed that when using `method='trusts-constr'`, this results in the function always being called twice in a row for exactly the same value. After digging into the code, I noticed that t

[2020-04-16 18:52] WarrenWeckesser commented on #11762
OK, I'll close this.  The lack of thread safety is good to know.

[2020-04-16 18:52] #11762 closed

[2020-04-16 19:07] distroinfinity commented on #11864
Hello @tylerjereddy I would like to work on this issue and as I understand I just need to replace elif "yy" with something more suitable. I am new to open source and was hoping if you can guide me through this?

[2020-04-16 21:37] ruslanye commented on #11494
I've investigated it. Negative values first appear after [this multiplication](https://github.com/scipy/scipy/blob/master/scipy/sparse/construct.py#L339). It seems, overflow happens inside the underlying C code of numpy.

[2020-04-16 22:51] tqa236 commented on #5631
This issue seems to be fixed when I tested with version 1.4.1. Can we close it now?

[2020-04-16 23:04] WarrenWeckesser commented on #5631
@tga, thanks for checking this.  Yes, it appears to be fixed, so closing.

[2020-04-16 23:04] #5631 closed

[2020-04-17 01:22] ewmoore commented on #11494
With sparse arrays of this size the index arrays will be 'int32'.  Since `2**16 * 2**16` doesn't fit in a signed 32-bit integer, `kron` is failing.  The fix here will be to make sure the necessary arrays are 64 bit integers when necessary.  This would push the failure out to `2**32` or so, which i guess is probably far enough.

[2020-04-17 02:05] tylerjereddy commented on #11864
I went to the docs for java [`SimpleDateFormat`](https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html) and noticed that there are example datetime formats that do *not* include `yy` at all, so I suspect you'd want to change that to `elif "yy" in pattern:`.

We have a [contributor guide](https://docs.scipy.org/doc/scipy/reference/dev/contributor/contributor_toc.html) with some

[2020-04-17 02:39] tylerjereddy commented on #11826
I have a question here since I've been struggling a bit with the fix in our wheels repo--would it be "ok" to only apply the fix to 64-bit Windows wheels with Python 3.7? I noticed in the Windows store that Python 3.7 has "x64" as minimum arch requirement, so technically users should have the option to use 64-bit mode?

https://www.microsoft.com/en-us/p/python-37/9nj46sx7x90p?activetab=pivot:region

[2020-04-17 04:22] #11374 closed

[2020-04-17 08:17] rgommers commented on #11826
So is adding the `_distributor_init.py` breaking something?

Leaving out 32-bit for now seems okay if needed. I would make sure it's unconditionally applied for 64-bit though, otherwise we'll run into it again for 3.6 or 3.9

[2020-04-17 14:42] hay-k opened #11875 "Typo in the docstring of simps()"
In the definition of the function `simps` under `scipy/integrate/quadrature.py` the docstring says
[code]
`dx` is the spacing along the `x` axis, so the correct formulation should be
[code]

[2020-04-17 16:32] distroinfinity commented on #11864
![Screenshot from 2020-04-17 21-37-37__01](https://user-images.githubusercontent.com/59890794/79591967-ea557280-80f6-11ea-9cac-9b5c9636a4b3.png)
Sir I'm getting a different version of scipy after setting up the development environment. Also it says the word 'dev' will be written in the version. Is it fine ? Have i installed scipy correctly ?

[2020-04-17 17:32] rgommers commented on #11864
Yes, you have done it correctly, you have installed the latest release.

[2020-04-17 18:12] Gabriel-p opened #11877 "kmeans2 '++' method is orders of magnitude slower than sklearn.cluster.KMeans()"
The implementation of `kmeans` that uses the '++' method is orders of magnitude slower than the same algorithm in [sklearn.cluster.KMeans()](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html). This happens when `n_clusters>10` in the code below.

With a 'random' initialization scipy's method is faster, so the problem is with '++'.

#### Reproducing code example:

[code]

[2020-04-17 18:19] distroinfinity commented on #11875
I would like to correct this typo to get familiar with the workflow as I am new to open source.

[2020-04-17 23:56] ewmoore commented on #11200
Looks like this was fixed in #11265.  Closing.

[2020-04-17 23:56] #11200 closed

[2020-04-18 00:17] #11875 closed

[2020-04-18 12:33] evfro commented on #7510
@perimosocordiae thanks!

[2020-04-18 18:17] vdrhtc commented on #8278
Helped me too, thank you.
@john-mathew
 I have just copied the linsolve.py from here https://raw.githubusercontent.com/mdhaber/scipy/baaac2b74c7aa5387a7fe4ec599bed9e1d3c627c/scipy/sparse/linalg/dsolve/linsolve.py

[2020-04-18 20:10] distroinfinity commented on #11864
1.
I changed elif "yy" to elif "yy" in pattern,
and for testing I modified the "scipy/io/arff/tests/test_arffread.py" file by adding a new test case
 def test_yeari_attribute(self):
        expected = np.array([
             '99-01-31',
            '04-12-01',
            '17-04-28',
            '00-09-10',
            '13-11-30',
            '31-10-15'
        ], dtype='datetime64[Y]')
        as

[2020-04-18 20:14] maheshwarigagan opened #11884 "The upper code lines are dead code"
https://github.com/scipy/scipy/blob/f2ec91c4908f9d67b5445fbfacce7f47518b35d1/scipy/stats/stats.py#L3873-L3876

[2020-04-18 20:28] #11492 closed

[2020-04-18 20:43] ilayn commented on #11884
Thanks for this @maheshwarigagan. Indeed they are dead. Care to open a PR?

[2020-04-18 20:44] maheshwarigagan commented on #11884
@ilayn Yes, I will raise a PR shortly

[2020-04-19 00:12] positr0nium opened #11886 "Array shape mismatch in scipy.optimize"
Shape mismatch of some np.matrix class
The issue can be solved easily by inserting
f0 = np.array(f0)[0]
below the line
f0 = fun.f
in _constraints.py

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[2020-04-19 01:47] mckib2 opened #11887 "Dynamically linking C/C++ extensions and `_pre_build_hook` for `build_clib`"
Ref #11759

The issue is two-fold:
- Is there a way to link multiple extensions?  AND/OR...
- Is there a way to pass c++11/14 flags to static library (i.e., `config.add_library` or `build_clib`)

Why is this a scipy issue?  Because scipy uses its own "build" system and I am only interested in using this.  It has its own ways of constructing setup configurations and uses it's own classes derived fr

[2020-04-19 02:00] tylerjereddy commented on #11864
Those look the same? You might want to open a WIP (work-in-progress) PR (pull request) so we can take a look at your code without trying to copy-paste from the description above.

[2020-04-19 05:04] karsep5 commented on #9751
I am facing the issue with Mac OS X 10.12.6 and XCode command line tools version 2347. Based on what I see above, I am beginning to see a pattern with this particular version consistently having this issue.

I tried downgrading scipy as suggested by @kratsg and @haximaw above. But unfortunately the other packages seem to have some dependency here which is causing my install to fail. So, it does no

[2020-04-19 05:30] mforbes commented on #2650
While waiting for a PR, at least the docs could be updated to specify that `z` should be a real array.

[2020-04-19 10:00] #11637 closed

[2020-04-19 10:52] rgommers commented on #11887
How about https://github.com/scipy/scipy/blob/master/scipy/sparse/linalg/eigen/arpack/setup.py#L21?

[2020-04-19 12:18] matthias-k opened #11891 "scipy doesn't compile in scipy-dev container"
Scipy doesn't compile in the scipy-dev container as described [in the documentation](https://docs.scipy.org/doc/scipy/reference/dev/contributor/quickstart_docker.html).

#### Reproducing code example:
from the directory where scipy master is checked out:
[code]
and then inside the container:
[code]

#### Error message:
the build_inplace command fails with a very long error message. The full output

[2020-04-19 12:21] pv commented on #11891
You'll need to clean up the extra files you have lying under scipy/linalg/src/id_dist/src/.
Build with clean Scipy checkout, or run `git clean -f -d -x scipy/linalg/src/id_dist/src` (removes all changes in that directory that are not committed).

[2020-04-19 12:21] #11891 closed

[2020-04-19 12:42] matthias-k commented on #11891
Ah, I see. Thanks!

[2020-04-19 12:58] WarrenWeckesser opened #11892 "BUG: stats: Incorrect handling of edges cases by ttest_rel and ttest_ind"
The functions `ttest_rel` and `ttest_ind` do not handle some edge cases correctly.  One of these cases was reported in https://github.com/scipy/scipy/pull/11834, where it was noted that `test_rel` failed to put `(nan, nan)` in a `Ttest_relResult` named tuple.   The discussion there led to the discovery of more incorrect handling of arrays with size 0.  Here are some cases that are not correct:

[c

[2020-04-19 14:45] Makman2 opened #11893 "newton: Allow passing booleans for fprime and fprime2"
As many other functions offer (namely `root`), making the parameters `fprime` and `fprime2` of the `newton` also accept booleans or rather additionally a `True` argument. That would be extremely beneficial. Sometimes computation of derivatives is cheaper from inside the given function than outside. `newton` should be no exception and allow that too conveniently.

[2020-04-19 15:17] ArisSgouros opened #11894 "Problem with vector rotations via quaternions [defect][scipy.spatial.transform.Rotation]"
The following code snippet tests the scipy.spatial.transform.Rotation library.

It rotates the vector [0 1 0] two times:
1) 90 degrees wrt the x-axis [1 0 0]  (thus becoming [0 0 1]), and then by
2) 90 degrees wrt the y-axis [0 1 0] (thus becoming [1 0 0]).

The quaternion for the first and second rotations are the:
1) sin(90/2)*(1)*ii +sin(90/2)*(0)*jj+sin(90/2)*(0)*kk+cos(90/2)
2) sin(90/2)*(0)*

[2020-04-19 15:53] AskerNC opened #11895 "optimize.minimize_scalar 'bounded"
My issue is about ...

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[2020-04-19 16:01] #11895 closed

[2020-04-19 17:46] #11299 closed

[2020-04-19 18:06] weiT1993 commented on #11494
And how can I change the index arrays' data type to be 'int64'?

[2020-04-19 19:01] mckib2 commented on #11887
Thanks @rgommers .  I wasn't aware of this example, thanks for pointing it out.

When I mentioned that I was not "able to figure out how to do this on my own," I did try passing in the `_pre_build_hook` into `config.add_library` and as far as I could tell it was never called.  I tried print statements and writing out to logs, but I could not find any evidence that the hook was actually called.  An

[2020-04-19 19:12] rgommers commented on #11887
Hmm, you are building all of SciPy in the usual fashion? If so, maybe check first if https://github.com/scipy/scipy/blob/master/setup.py#L562 gets executed. If you have a branch with what you're trying, I could have a look at it perhaps.

[2020-04-19 19:19] mckib2 commented on #11887
I am doing:
[code]

Branch: https://github.com/mckib2/scipy/tree/clib-prebuild-hook

`scipy/optimize/_highs/setup.py` has library `basiclu` which tried to call a `_pre_build_hook` [here](https://github.com/mckib2/scipy/blob/clib-prebuild-hook/scipy/optimize/_highs/setup.py#L92)

[2020-04-19 20:51] distroinfinity commented on #11864
I submitted a Work In in Progress PR #11888. Please review it.

[2020-04-19 21:12] #7700 closed

[2020-04-19 21:50] kklocker commented on #4743
This would be a very nice feature indeed! :)

[2020-04-20 00:06] pmla commented on #11894
Your `q12` is a composite rotation, whereas `q12_composite` is in fact just two rotations, not the product of two rotations.

[2020-04-20 00:06] #11894 closed

[2020-04-20 00:57] pvanmulbregt commented on #11769
@ZhaoQii  gh-11393 was merged earlier today. You can use it from the master branch.

[2020-04-20 00:57] #11769 closed

[2020-04-20 01:35] andyfaff commented on #11886
The issue here is that `A` is a `np.matrix`, your example works ok if `A` is simply an array, `np.diag([1, 1])`. The use of `np.matrix` is [no longer recommended](https://numpy.org/doc/stable/reference/generated/numpy.matrix.html#numpy.matrix).

With your example `f0` is a `(1, 2)` matrix (this calculation is done in [LinearVectorFunction](https://github.com/scipy/scipy/blob/master/scipy/optimize/

[2020-04-20 01:42] andyfaff commented on #11886
Any change made would be made to `LinearVectorFunction`:

[code]

[2020-04-20 01:47] andyfaff commented on #11886
@mdhaber, any thoughts?

[2020-04-20 02:06] mdhaber commented on #11886
I agree that this doesn't _have_ to be patched, but if it's a straightforward fix like you suggested `self.J = np.atleast_2d...` then I would be happy to review and merge.

[2020-04-20 07:23] ArisSgouros commented on #11894
Thatks a lot for your response.

However, I'm not sure the issue is resolved.

Below you may find a minimal snippet:
[code]
Output
[code]

You may check that quaternion q12 = q2*q1 does the same as when one
applies first q1 and then q1 (compare outputs A & B). This is a property of
quaternions and it is expected to behave that way.

However, I do not understand why when I predefine the rotations t

[2020-04-20 07:28] pmla commented on #11894
single quaternion (C)

You have defined two separate quaternions, not the product of them.

[2020-04-20 07:34] ArisSgouros commented on #11894
I **Just** got it! Thanks and sorry for wasting your time..

[2020-04-20 11:59] pbrod commented on #11806
A good start value is crucial for the ML method to find a good solution, especially if many parameters are to be estimated. So if weibul_min had a better _fitstart function like this:

[code]
it would solve many situations of unexpectedly poor results when fitting the weibul_min distribution so the user wouldn't have to fiddle to finetune the fitting.  Below I have compared the start values
obtain

[2020-04-20 12:32] matissel opened #11900 "Not updated initial guess array using two optimizers"
Hello,
I'm trying to optimize a function taking as input a vector of 5 elements. Three of them are optimized using a first optimizer and the last 2 using a other one.
My code look like the following :
[code]
Function `errfunc` is displaying the vector as [15,41,77, 19..., 40...] (I skip floating point but we can see it's close to the target [20,40]. In `main` however, the first three parameters ar

[2020-04-20 13:51] #11354 closed

[2020-04-20 14:18] ramendrasingla opened #11901 "Problem in running scipy.spatial.distance"
python .\base_code.py
Traceback (most recent call last):
  File ".\base_code.py", line 5, in <module>
    from scipy.spatial.distance import cosine
  File "C:\Users\RAMENDRA_SINGLA\anaconda3\lib\site-packages\scipy\spatial\__init__.py", line 102, in <module>
    from ._procrustes import procrustes
  File "C:\Users\RAMENDRA_SINGLA\anaconda3\lib\site-packages\scipy\spatial\_procrustes.py", line 11,

[2020-04-20 15:07] mdhaber commented on #11900
Could you add the imports to your script so it is easier to test?

[2020-04-20 15:16] mdhaber commented on #11900
Also, I'm not sure what is weird. In `errfunc` you're printing out `current_first_three` and `machine_output`, not `current_first_three` and `current_last_two`. Do you expect `machine_output` and `current_last_two`to be the same?
Do you think there is a bug in SciPy? If not, I please consider posting to [stackoverflow](https://stackoverflow.com/questions/tagged/scipy), as issues here are for SciPy

[2020-04-20 15:56] matissel commented on #11900
Yes I expect them to be the same. Just a typo sorry. `machine_output` represent the new `current_last_two`. The problem is that normally I should see the difference in the `res` variable at the end of the `main` function, which I don't ...
I don't know if that's a bug or not ...

[2020-04-20 18:11] iuryt opened #11903 "Add full pivoting LU decomposition -> PAQ = LU"
**Is your feature request related to a problem? Please describe.**
No. This is just a suggestion of feature.

**Describe the solution you'd like**

I couldn't find a way to do full pivoting LU decomposition using Scipy. This is important for academic purposes.

**Describe alternatives you've considered**

[code]

**Additional context (e.g. screenshots)**

[2020-04-20 18:50] mdhaber commented on #11903
gh-10797 adds a lapack routine for this. It's merged into master and will be released with SciPy 1.5.0 in a few weeks.

[2020-04-20 19:12] ilayn commented on #11903
partial pivoting is as good as full pivoting and quite less expensive. Why would you need full pivoting if I may ask?

[2020-04-20 20:11] iuryt commented on #11903
Hi @ilayn
I'm doing a course for Numerical Linear Algebra algorithms and we are having to code this and compare it to the built-in implementations. As a Python person, I just thought I cannot accept having to use a Matlab function because I couldn't find it in Python. haha

[2020-04-20 20:14] mdhaber commented on #11903
BTW if you can't build from source you can also use the [autogenerated Cython binding](https://docs.scipy.org/doc/scipy/reference/linalg.cython_lapack.html).

[2020-04-20 20:23] ilayn commented on #11903
Note that matlab doesn't offer it either;only for sparse matrices. So you are still in good position as a pythonista.

[2020-04-20 21:13] mdhaber commented on #11900
This doesn't appear to be a bug.
In `errfunc`:
[code]
but then the next line is:
[code]
`machine_func` returns `res['x']` from the inner optimization. So they are understandably different. You can see by adding a print statement between these lines:
[code]
This does not appear to be bug in SciPy, so I need to close the issue. Please consider posting on stack overflow if you need help with the code

[2020-04-20 21:13] #11900 closed

[2020-04-20 22:08] matissel commented on #11900
This is not what I meant. I meant that the `current_last_two` need to be updated with the inner optimization. So yes there is the a difference between the two print statements. However If `current_last_two` is updated by the return of `res['x']`, we should normally see the results when printing `res['x']` in the `main` function. In my case, the main function print something close to [0,0].

[2020-04-20 22:54] tylerjereddy commented on #11901
The traceback makes this look the same as #11826, but I'm a little concerned that this is being reported for `Python 3.8.2` instead of the `3.7.x` series, since my impression was that `3.8.x` should be working okay with our `_distributor_init.py` file.

[2020-04-20 22:55] tylerjereddy commented on #11901
How did you install SciPy? It is directly from Anaconda or from a `pip install` command?

[2020-04-20 22:56] tylerjereddy commented on #11901
And which version of SciPy? `scipy.__version__`?

[2020-04-21 00:02] #11868 closed

[2020-04-21 00:46] #11795 closed

[2020-04-21 00:57] #11886 closed

[2020-04-21 05:48] mdhaber commented on #11900
Besides posting to Stack Overflow, I'd suggest creating simpler code with a similar structure that doesn't involve `minimize`. If you find that `minimize` returning `res['x']` does affect whether changes to `current_last_two` are reflected in `main`, I may be able to take another look, but I'm not seeing anything unexpected.

[2020-04-21 10:39] Mazay0 opened #11908 "LinearOperator should have ndim attribute"
**Is your feature request related to a problem? Please describe.**

In some cases `LinearOperator` can not be used in place of matrices because it doesn't have `ndim` attribute.

**Describe the solution you'd like**

It would be convenient, if  `LinearOperator` had `ndim` attribute, that is always equal `2`.

**Describe alternatives you've considered**

The simplest alternative is `len(op.shape)`,

[2020-04-21 10:56] pv commented on #11908
Should be simple to add (class attribute). PR welcome (with test added
preferable).

[2020-04-21 11:03] Mazay0 commented on #11908
OK, I will make a PR ASAP.

[2020-04-21 11:43] mloning opened #11909 "Enable bounds for lambda in boxcox"
**Is your feature request related to a problem? Please describe.**
Currently, lambda estimation in Box-Cox does not allow to set bounds on the lambda. In the forecast library in R, this is possible and helps regularise transformations/predictions:

boxcox in forecast:
* [docs](https://www.rdocumentation.org/packages/forecast/versions/8.12/topics/BoxCox.lambda)
* [code](https://github.com/robjhyndm

[2020-04-21 11:58] pvanmulbregt commented on #11884
These issue also happens to be addressed by the rewrite of `kstest/ks_2samp` in gh-11710.

[2020-04-21 16:40] pooraniravi opened #11910 "Documentation missing for what M is in init argument"
Is M an initial population of x?

[2020-04-21 16:43] WarrenWeckesser commented on #11910
We need some more context for this question.  What `M` are you asking about?

[2020-04-21 17:01] pooraniravi commented on #11910
I am referring to the argument 'init' that is passed to differential evolution. Init has M followed by Len(x). So, is M just the initial population of x? What is M in this context?

[2020-04-21 17:33] WarrenWeckesser commented on #11910
For anyone looking for `M`, you can find it in https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.differential_evolution.html; scroll down to the description of `init` in the *Parameters* section of the docstring.

[2020-04-21 17:45] andyfaff commented on #11910
`M` is the number of individuals in the population. It should be something like `popsize * len(X)`

[2020-04-22 00:48] ma-sadeghi commented on #8278
@john-mathew sorry for the late reply, it's been a while, so I had to reproduce the bug on a new virtualenv, which to my surprise, the fix in #11453 didn't work anymore. I don't know why I thought it worked back then, maybe I was manually changing the `dtype` in my script to `int64` prior to calling `umfpack`. Anyways, we're in the same situation as it seems. Sorry for the long wait!

@mdhaber in

[2020-04-22 02:41] 1470391328 opened #11913 "Why scipy.optimize.leastsq only provides a solver？"
I checked the official documentation and found that leastsq does not provide additional solver options, why not provide other solvers like the optimize.minimize function.The only valid information I got was ‘“leastsq” is a wrapper around MINPACK’s lmdif and lmder algorithms.”

[2020-04-22 03:36] mdhaber commented on #11913
You're right that `leastsq` could support other solvers, but as you say, right now it is just a wrapper around MINPACK, a library of Fortran routines tailored to solving this type of problem.

Note that there is also [scipy.optimize.least_squares](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.least_squares.html#scipy.optimize.least_squares), which supports a few other methods

[2020-04-22 06:40] tranhungnghiep commented on #7591
@jaimefrio It is possible to change the behavior without breaking backwards compatibility. One such way is adding a default flag `truncnorm(..., auto_convert_range=False)`. Old codes will still run correctly, whereas new codes can turn the flag on to handle the conversion automatically. This will clear up many confusions and new codes.

[2020-04-22 09:10] Charlie-Bryant commented on #11656
has this issue been confirmed that it is #4878?

[2020-04-22 11:17] 1470391328 commented on #11913
Thanks you very much!😁

[2020-04-22 14:27] DanHickstein opened #11916 "Improve documentation for smoothing in interpolate.UnivariateSpline and interpolate.splrep"
**Problem:**
For [`scipy.interpolate.UnivariateSpline`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.UnivariateSpline.html#scipy.interpolate.UnivariateSpline) and [`scipy.interpolate.splrep`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.splrep.html#scipy.interpolate.splrep), the user is asked to supply a smoothing factor (`s`) that is used to smo

[2020-04-22 15:28] zoeherri commented on #11826
I did not install from the windows store. I used https://www.python.org/downloads/ to get the latest version and to pull 3.7 in case it was a but with the latest. I used pip to uninstall and reinstall scipy but when reinstalling it calls from a cash. I am currently uninstalling python and all related libraries to start from scratch.
I have another computer which had never had python on it before s

[2020-04-22 16:38] ev-br commented on #11916
It'd be great to improve the docs, care to send the PR? I'd be happy to review it.

Changing the defaults is not an option anymore, I'm afraid.

[2020-04-22 16:46] ev-br commented on #11916
Alternative smoothing/control routines is more then welcome, but should be added to make_* routines.

[2020-04-22 16:54] DanHickstein commented on #11916
Sure, I'll make a PR for the revised docs.

What are "make_* routines"? I think that improving the docs is fine at this point. I was just thinking about alternative approaches since the form prompted me to do that :)

[2020-04-22 17:06] ev-br commented on #11916
Here's a previous issue with some discussion:

https://github.com/scipy/scipy/issues/6730

[2020-04-22 18:41] zoeherri commented on #11826
I ended up clearing the cache, reinstalling and then telling it to update scipy once installed. I can now import scipy and associated libraries.

[2020-04-22 19:57] dimrozakis opened #11917 "Delete misleading v1.2.1 branch"
About a week or so ago, a branch named `v1.2.1` was pushed that points to 4774d47f38fa2a3d708132c92f55df761f11f90e with commit date 2020-04-15. This "conflicts" with the release tag `v1.2.1` which points to c3fa90dcfcaef71658744c73578e9e7d915c81e9 with commit date 2019-02-08.

The existence of the the identically named branch makes it trickier to check out the tag. Also, if one tries to clone the

[2020-04-22 20:20] pv commented on #11917
Thanks, deleted. (`git push upstream-push :refs/heads/v1.2.1` for reference)

[2020-04-22 20:20] #11917 closed

[2020-04-22 20:46] sturlamolden commented on #11913
There are many ways to solve the non-linear least squares problem. Currently we wrap MINPACK’s  Levenberg-Marquardt implementation. There are of course other options, such as Nelder-Mead, Quasi-Newton (BGFS), Newton’s method, IRLS, etc. One could even consider a Levenberg-Marquardt solver in Python, which presumably would be faster because we would use LAPACK for QR (or SVD, or Cholesky) instead o

[2020-04-22 21:05] #11913 closed

[2020-04-22 21:22] #11908 closed

[2020-04-22 23:08] swallan commented on #11782
@mdhaber Some of the Parameter Estimation sections from _Evans, Hastings, and Peacock (2000), Statistical Distributions_  say that the parameters are the solutions to a system of equations.

For example, in the Logistics Distributions (Section 28.3):
<a href="https://imgbb.com/"><img src="https://i.ibb.co/KNHy3nt/Screen-Shot-2020-04-22-at-4-04-47-PM.png" alt="Screen-Shot-2020-04-22-at-4-04-47-PM"

[2020-04-22 23:15] mdhaber commented on #11782
Take note of those. It can be easier to solve a system than the original optimization problem.

[2020-04-23 00:48] MikhailRyazanov commented on #11916
Another thing related to smoothing and documentation.

The “smoothing condition” in `splrep` has very different effects with and without the periodic conditions (the `per` parameter):
[code]
![0 5](https://user-images.githubusercontent.com/12854133/80046362-a16f3680-84c7-11ea-825b-2b98211c0911.png)
Without periodicity, `splrep()` apparently tries to find the best match to the data points without e

[2020-04-23 03:08] DanHickstein commented on #11916
The difference in behavior between the periodic conditions and the non-periodic conditions is strange. If anything, I would have expected the periodic conditions to force the fit to be better, instead of the opposite.

I'm not sure where the difference arises. As you can see here, there is a difference in the "nest" variable between the two cases: https://github.com/scipy/scipy/blob/master/scipy/i

[2020-04-23 04:37] MikhailRyazanov commented on #11916
Interesting. The `nest` differences seem to be due to different requirements of [percur](https://github.com/scipy/scipy-svn/blob/master/scipy/interpolate/fitpack/percur.f#L56) and [curfit](https://github.com/scipy/scipy-svn/blob/master/scipy/interpolate/fitpack/curfit.f#L56), but this just suggests the maximal storage-space requirements and should not affect the results.

The whole documentation f

[2020-04-23 10:18] TaZi-loh opened #11918 "bug in minimize_scalar when bounds are equal"
when the function scipy.optimize.minimize_scalar is called with two bounds both being equal to 0.0, the code crashes with

[code]

this is due to the fact, that he never enters the optimization loop. Maybe one would like to check for equal bounds in the beginning, give out a warning and return the bound as the solution.

[2020-04-23 21:35] andyfaff commented on #11918
I think this particular bug was dealt with in #11208

[2020-04-23 21:35] #11918 closed

[2020-04-23 21:49] rperezibacache opened #11921 "Discrete Lyapunov solving "AXA'-X=-Q" or "A'XA-X=-Q"."
Seems that the solver for 'solve_discrete_lyapunov(A,Q)' solves "AXA' -X=-Q" instead as the manual describes "A'XA -X=-Q". Can you please confirm it.

Thanks,
Ricardo.

[2020-04-23 21:58] andyfaff opened #11922 "macOS actions CI has started failing in last couple of days."
I wonder if it's related to numpy 1.18.3?
@rgommers

[2020-04-23 22:58] #11922 closed

[2020-04-23 23:42] tylerjereddy opened #11925 "MAINT: remove character encoding check in CI?"
This showed up recently in a PR: https://github.com/scipy/scipy/pull/11862#issuecomment-618704394

We added a character  encoding check to our CI in 2018 to guard against broken Python 2.7 wheels: https://github.com/scipy/scipy/pull/9615

The issue was very annoying, and caused  us to have to do an extra release or two because 2.7 wheels would be reported unusable *after* release: https://github.c

[2020-04-24 00:03] pv commented on #11925
Unicode has lots of stuff and part of it invisible (non-breaking spaces, etc.) that will fail to print properly under some conditions, and I think there is reason to not want to allow that in the source code. (In the case encountered in that PR, the non-ASCII characters also probably were not intentionally inserted.)

[2020-04-24 01:53] tylerjereddy commented on #11925
That's fair, just thought I'd bring it up because Matt pinged me about in the cross-linked PR.

[2020-04-24 04:03] supreet21 opened #11926 "exception while installing"
.
.
Using cached https://files.pythonhosted.org/packages/09/ec/4b43dae793655b7d8a25f76119624350b4d65eb663459eb9603d7f1f0345/mistune-0.8.4-py2.py3-none-any.whl
Collecting jinja2>=2.4 (from nbconvert->jupyter)

Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/d

[2020-04-24 04:13] Mau-dvr75 commented on #10888
Hi, shoyer. One question.
Why should we need to compute finite differences in every direction to compare analytical gradients with numerical ones??

[2020-04-24 04:34] andyfaff commented on #11926
This doesn't look like a problem installing scipy, it'll be a different package.
Besides this is for Python 2.7 which is not supported anymore.

[2020-04-24 04:34] #11926 closed

[2020-04-24 08:01] erheron commented on #11060
Hi! @vinisalazar  are You still going to work at this issue? I have a few weeks of free time, and it seems interesting to me, so I'd be happy to try to tackle it.

[2020-04-24 10:49] #11910 closed

[2020-04-24 11:46] vinisalazar commented on #11060
Hi @erheron I tried it for a bit but couldn't get it to work and then got overwhelmed with other stuff. So go ahead, surely it will be a very useful feature to many :)

[2020-04-24 12:02] akshat-suwalka opened #11927 "Error : scipy.io.matlab"
In implementation of this code:

vgg_rawnet=scipy.io.loadmat('VGG_Model/imagenet-vgg-verydeep-19.mat')

I am getting the following error:

  File "/home/akshat_suwalka/Fully-Automatic-Video-Colorization-with-Self-Regularization-and-Diversity-master/utils.py", line 273, in <module>
    vgg_rawnet=scipy.io.loadmat('VGG_Model/imagenet-vgg-verydeep-19.mat')

  File "/home/akshat_suwalka/anaconda3/lib/

[2020-04-24 12:35] AtsushiSakai opened #11928 "DOC: signal: Wrong description for sepfir2d, cspline2d, qspline2d"
My issue is about ...

The descriptions for sepfir2d, cspline2d, qspline2d looks wrong in the scipy.signal page:

<img width="773" alt="SS 2020-04-24 at 21 27 14" src="https://user-images.githubusercontent.com/3813847/80212699-f13e3100-8672-11ea-8e28-9edf64c92497.png">

#### Scipy/Numpy/Python version information:

DevDoc has this issue.
- Signal processing (scipy.signal) — SciPy v1.5.0.dev0+4b3ea

[2020-04-24 13:25] WarrenWeckesser commented on #11928
@AtsushiSakai, thanks for reporting the issue.  Those docstrings are defined in the C extension module [`splinemodule.c`](https://github.com/scipy/scipy/blob/5bd4bfce8b8a84ef63f9b67b20429f5ef6aace72/scipy/signal/splinemodule.c).

Those docstrings should be updated to conform to the [docstring standard](https://numpy.org/devdocs/docs/howto_document.html).

[2020-04-24 14:05] schneiderfelipe opened #11929 "ENH: special/integrate: Lebedev quadrature"
I would like to request a function that could return weights and points for the [Lebedev quadrature](https://en.wikipedia.org/wiki/Lebedev_quadrature) (doi:[10.1016/0041-5553(76)90100-2](https://doi.org/10.1016/0041-5553(76)90100-2)).

This quadrature solves the problem of integrating on the surface of the three-dimensional unit sphere. It is one of the [fastest known methods](https://cbeentjes.gi

[2020-04-24 18:43] matthew-brett commented on #11927
Does the file load OK in Matlab / Octave?

Can you put it somewhere for us to try?

[2020-04-24 21:05] shpower commented on #8352
Hi all,

Is it possible to path an additional object to the functions?
 For example: results = solve_ivp(closed_loop_nati_pinv, t_span, q0, args=[sim]) where sim is an object that I implemented.

[2020-04-24 21:18] WarrenWeckesser commented on #8352
@shpower, yes, it is possible, but you will need SciPy version 1.4.x.

[2020-04-25 12:20] akshat-suwalka commented on #11927
I don't have matlab.
I am trying to run this "utils.py" file.
Can you please try to run?

https://github.com/ChenyangLEI/Fully-Automatic-Video-Colorization-with-Self-Regularization-and-Diversity

[2020-04-25 12:39] matthew-brett commented on #11927
As you said, the line causing the error is:

[code]

When I checkout that repository, that directory is empty, and there is no such file.

If I try and load it, I get this message

[code]

The README instructions in the repo suggest running `python download_models.py` to get the data - and that does work for me in getting the file.  Then it loads OK with the command above.

[2020-04-25 12:39] #11927 closed

[2020-04-25 18:28] jjerphan commented on #10908
@lucasschlichting: is your problem still present?

[2020-04-25 18:42] jjerphan opened #11932 "Generalize the Nakagami-m to introduce the spread parameter Ω"
**Is your feature request related to a problem? Please describe.**

The [Nakagami-m distribution](https://en.wikipedia.org/wiki/Nakagami_distribution) is implemented under the `nakagami_gen` that extends `rv_continuous`.

https://github.com/scipy/scipy/blob/88b9e702d9fad080a40040e61b75e964a7df5c80/scipy/stats/_continuous_distns.py#L5647-L5689

However the shape parameter Ω isn't settable via this

[2020-04-25 19:17] rgommers commented on #11909
This sounds like a good idea to me.

Thanks for submitting that PR @mloning

[2020-04-25 20:34] josef-pkt commented on #11932
Based on a quick look on the wikipedia page

omega corresponds to the scale parameter: `Omega = scale**2`

[2020-04-26 06:06] jjerphan commented on #11932
I made a mistake: it is the spread parameter.

Which alternative would you recommend?

[2020-04-26 09:18] #11494 closed

[2020-04-26 09:42] #9710 closed

[2020-04-26 10:18] rgommers commented on #11841
Makes sense, there have been issues with this before IIRC. Also there's gh-4777 which asks for nan/inf handling in `leastsq`.

[2020-04-26 11:25] roryyorke commented on #3158
Using the attached script, I tested a few filter-related functions in scipy 1.4.1; it seems like the following return float64 when given all float32 arguments:

 - `decimate`
 - `filtfilt`
 - `lfilter_zi`
 - `sos2tf`
 - `sosfilt_zi`
 - `sosfiltfilt`

One function, `lfiltic`, returns float32 even when given some float64 arguments, but returns float64 when given all float64 arguments, and float32 wh

[2020-04-26 12:26] rgommers commented on #11805
@KaleabTessera what version of OpenBLAS, MKL or ATLAS are you using here?

[2020-04-26 12:28] rgommers commented on #11805
The output of `conda list` may be useful here. Also OS and compiler versions.

[2020-04-26 12:46] snedeljkovic opened #11939 "scipy.signal.remez ignores the weight parameter"
Here is a sample program used to design a low pass filter using `scipy.signal.remez`:
[code]
Even if I drastically change the weight parameters `Kp` or `Ks` the coefficients of the filter do not change. Also, the `weight` parameter is not tested in the test suite.

[2020-04-26 13:05] ilayn commented on #3158
Some of them are inherently not flexible due to calling some underlying C machinery and only available for floats.

[2020-04-26 13:11] hexchain opened #11940 "linprog does not yield expected result with certain method"
I am trying some example LP problems in a paper but `scipy.optimize.linprog` does not give a solution similar to the result in that paper with a certain method.

Parameters in the original problem are described in the code snippet below (variable `c`, `A` and `b`), and the solution I'm expecting is something like `np.array([0.698, 0.1538, 0.1481, 0])`. With `simplex` and `revised simplex` I am abl

[2020-04-26 13:25] goulou opened #11941 "split kdtree axes according to maximum variance or nth-percentile spread/variance"
As of today, the split dimension in kdtree is choosen according to maximum spread ( https://github.com/scipy/scipy/blob/master/scipy/spatial/ckdtree/src/build.cxx#L74 ). But this might be inappropriate in some case where some dimension can have a big spread between its maximum and maximum, while having a low variance (degenerated case : all values of a dimension but one equal to min, one value equ

[2020-04-26 13:28] lucasschlichting commented on #10908
Hi @jjerphan, yes

[2020-04-26 13:49] lucasschlichting commented on #10908
Hi @jjerphan, yes it does.

I created a [repository](https://github.com/lucasschlichting/scripts-pathloss-fading) that contains two scripts, the named [ExperimentoFading](https://github.com/lucasschlichting/scripts-pathloss-fading/blob/master/ExperimentoFading.ipynb) is the one I had issue. If you wanna try reproduce, the folder called "data" have three samples caught up from a real experiment abo

[2020-04-26 14:44] jjerphan commented on #10908
Hi @lucasschlichting,

Thank you for your answer.
Can you come up with a minimal working example?

Thank you.

[2020-04-26 14:48] josef-pkt commented on #11932
I don't see anything to do.
scipy nakagami is just a reparameterization of the one in the wikipedia page, but has additional a loc parameter to shift the distribution. (3-parameter family instead of 2-parameters)

There is currently no support for simple reparameterization.
That is left to the user, i.e. just use square and square-root to switch parameterization.

(in analogy: `scale` corresponds

[2020-04-26 15:37] mdhaber commented on #11940
What happens when you don't specify a tolerance in `options`?

Curious- why such a coarse tolerance?

[2020-04-26 15:39] jjerphan commented on #11932
That's clear, I haven't seen this distribution under this parametrisation.

Thank you for your answer.

[2020-04-26 15:39] #11932 closed

[2020-04-26 15:51] hexchain commented on #11940
Without specifying that tolerance, it fails either with an exception or claiming that the question is infeasible. I guess it is because the numbers are not exact (the data in the paper has only 4 decimal digits), so the tolerance needs to be on that level?

[2020-04-26 15:57] mdhaber commented on #11940
The problem is infeasible. You have four equality constraints and four unknowns. The only solution to the equality constraints is:
[code]
The second element is less than zero, which is not allowed by the default bound of `linprog`, `(0, np.inf)`.

I'm going to close the issue because there's not a bug, but I'm curious what your application is, and why you are using `linprog` in this case.

[2020-04-26 15:57] #11940 closed

[2020-04-26 16:02] hexchain commented on #11940
The paper is https://arxiv.org/abs/1712.08500 and what I'm trying to reproduce is the latter part of their Example 1. The problem is feasible according to the paper. I'm not sure if it is made infeasible because of the truncation of decimals.

[2020-04-26 16:07] mdhaber commented on #11940
I would contact the authors. I don't understand why they would solve a square linear equality as a linear program. Is allowing the constraints to be violated slightly supposed to be required?

[2020-04-26 16:10] rgommers commented on #11941
Thanks @goulou. Any thoughts on this @sturlamolden, @rainwoodman?

[2020-04-26 16:12] hexchain commented on #11940
In its setting, there could be more than 4 unknowns. It happens to be 4 in this example because of their data.

[2020-04-26 16:23] #11581 closed

[2020-04-26 16:28] astrophysaxist commented on #11841
@rgommers I was specifically thinking about NaNs. I only mentioned infs because they’re called out in the documentation I read about the check for flag.

[2020-04-26 17:43] rgommers commented on #11649
looks like this was closed by accident, neither of the two PRs were merged. reopening

[2020-04-26 17:49] sturlamolden commented on #11941
I have sometimes wondered if the median absolute deviation (MAD) would be a good split criterion. The standard deviation is approximately 1.4826*MAD, but MAD is robust against degenerate cases due to outliers, and O(n) due to introselect. It does require more computation than the spread though, which is O(1) at build time. Anyhow, it is easy to add other split criterions, e.g. with an argument to

[2020-04-26 18:03] #11613 closed

[2020-04-26 18:19] #11448 closed

[2020-04-26 20:53] rainwoodman commented on #11941
If build speed is not a concern (since the compact mode already inspects every item in the node), The C++ `build` can probably optionally call a python function that takes the indices of items in the node, and returns d.

The function can probably also return split, but that would mean the python function shall mutate the indices. the reason not doing so is that I don't immediately see whether num

[2020-04-26 22:06] jacopok opened #11944 "curve_fit documentation unclear on default value of absolute_sigma"
Hello, the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.curve_fit.html) of the function `scipy.optimize.curve_fit` does not specify that the default value of the parameter `absolute_sigma` is `False`.

It does not seem very intuitive to me that this is the default, but anyway I think it should be specified more clearly in the documentation that this is the ca

[2020-04-26 22:26] person142 opened #11945 "Add a (potentially temporary) py.typed file?"
This came up in https://github.com/scipy/scipy/pull/11936#issuecomment-619628764.

As of right now type checkers would ignore an installed version of SciPy because we don't have a `py.typed` file per PEP 561:

https://www.python.org/dev/peps/pep-0561/#packaging-type-information

This makes it harder for downstream projects that want to test out the types we are adding. What do people think about a

[2020-04-26 22:26] person142 commented on #11945
Note that the `py.typed` file doesn't contain anything fancy-it's just an empty file that serves as a marker.

[2020-04-26 23:21] rgommers commented on #11945
Seems reasonable. I can't think of something that will break and can't be easily fixed by copying the ignores we have in our `mypy.ini`.

[2020-04-27 00:01] mckib2 commented on #11887
Alright, I see the problem.  I forked scipy about a month ago so didn't have the latest setup.py.  It appears the support for pre_build_hook for build_clib is quite recent according to this git blame: https://github.com/scipy/scipy/blame/dc70c68d4fd9452befbf529414f8dd11209193ca/setup.py#L562

Pulling changes from upstream I can now get this to work.  Thanks for taking a look!

[2020-04-27 00:01] #11887 closed

[2020-04-27 02:35] hrch3n opened #11947 "The Gaussian Kernel is wrong"
In scipy.ndimage.filter.py, at line 136, def _gaussian_kernel1d. The return output is the derivative of Gaussian Kernel, not Gaussian Kernel itself.

###
def _gaussian_kernel1d(sigma, order, radius):
    """
    Computes a 1-D Gaussian convolution kernel.
    """
    if order < 0:
        raise ValueError('order must be non-negative')
    exponent_range = numpy.arange(order + 1)
    sigma2 = sigma

[2020-04-27 02:50] manuelsmendoza opened #11948 "fitting discrete distributions"
Actually we can use `scipy.stats.rv_continuous.fit` method to extract the parameters for a theoretical continuous distribution from empirical data, however, it is not implemented for discrete distributions e.g. negative binomial and Poisson... may it be implemented in a near future?

[2020-04-27 03:06] jakevdp commented on #11947
The output is the derivative when ``order=1``, as specified in the main function's documentation: https://github.com/scipy/scipy/blob/dc70c68d4fd9452befbf529414f8dd11209193ca/scipy/ndimage/filters.py#L178-L181

If you don't want the derivative, you should specify ``order=0``

[2020-04-27 03:11] hrch3n commented on #11947
Thanks for the reply. You’re right. Sorry for missing that argument.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jake Vanderplas <notifications@github.com>
Sent: Sunday, April 26, 2020 11:06:19 PM
To: scipy/scipy <scipy@noreply.github.com>
Cc: Haoran Chen <chr_3742@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [scipy/scipy] The Gaussian Kernel

[2020-04-27 03:13] #11947 closed

[2020-04-27 06:56] huonw opened #11949 "ValueError 'k exceeds matrix dimensions' for sparse.diagonal() when 0 in sparse.shape"
When a sparse matrix has a 0 in its shape, such as `(0, 0)`, `(0, 1)` or `(1, 0)`, calling `diagonal()` fails. This differs to `np.diag` on the equivalent dense array, which succeeds, returning an empty array.

The best behaviour here seems like it'd be open for debate, but it's unfortunate that the default `diagonal()` method doesn't work on every square sparse matrix. It can require adding speci

[2020-04-27 10:20] rgommers commented on #11887
Thanks for the update, and sorry I didn't manage to look at it last week!

[2020-04-27 13:47] AtsushiSakai opened #11951 "BUG: asv benchmark failed because of cython version"
My issue is about ...

When I run asv benchmark with

The following error happened:

I think this is because pyproject.toml needs:
https://github.com/scipy/scipy/blob/169e44519d9527590d7328e90ee7ce1f75f7e72d/pyproject.toml#L5
But, asv is using:
https://github.com/scipy/scipy/blob/169e44519d9527590d7328e90ee7ce1f75f7e72d/benchmarks/asv.conf.json#L32

When I changed the cython version to 0.28.14 in

[2020-04-27 14:08] rgommers commented on #11951
Thanks, fixed in commit cd56e79bf4

[2020-04-27 14:08] #11951 closed

[2020-04-27 14:15] AtsushiSakai commented on #11951
@rgommers I think "toolchain.rst" should be also updated too:
![SS 2020-04-27 at 23 14 13](https://user-images.githubusercontent.com/3813847/80382179-f0103c80-88dc-11ea-8f6a-407f471c8a94.png)

[2020-04-27 14:19] rgommers commented on #11951
Indeed. That requires some other updates as well (like for C++11/14), I'll open a PR.

[2020-04-27 14:41] rgommers commented on #11951
Done in gh-11952

[2020-04-27 15:28] larsoner commented on #3158
@roryyorke would you be up for making a PR to fix some of these? For example fixing `lfilter_zi` and `sosfilt_zi` would probably make fixing `filtfilt` and `sosfiltfilt` pretty easy.

[2020-04-27 15:29] larsoner commented on #3158
... one option is just to cast the result of `lfilter_zi` and `sosfilt_zi` after they're created, if necessary.

[2020-04-27 17:11] brynhayder opened #11953 "scipy.stats.spearmanr: no except clause after try block"
Hi,

I just noticed that this try block has no except and that, should an exception be triggered, t would be undefined on line 2717. Link to source below.

Thanks for all your hard work.

https://github.com/scipy/scipy/blob/f2ec91c4908f9d67b5445fbfacce7f47518b35d1/scipy/stats/stats.py#L2713-L2717

[2020-04-27 17:22] jakevdp commented on #11953
Thanks – I believe this is intended: ``try...finally`` is a way to ensure that some cleanup code is run regardless of whether the main statement results in an error. The lack of ``except`` means that any error will be raised directly to the user.

[2020-04-27 17:23] WarrenWeckesser commented on #11953
@brynhayder, thanks for taking a look at the source code.   That code works as expected. If an exception occurs that is not `ZeroDivisionErro`, it propagates, because it is not caught by an `except` clause.  The `finally` clause ensures that the error state is restored before the exception is propagated up to the caller.

That code was originally written before NumPy had the `errstate` context man

[2020-04-27 17:24] ilayn commented on #11953
Also from the git blame the commit message

[2020-04-27 17:30] WarrenWeckesser commented on #11953
@EverLookNeverSee, I removed the `defect` label.  The issue reported here is not a defect.

[2020-04-27 17:34] EverLookNeverSee commented on #11953
@WarrenWeckesser Sorry, My bad!

[2020-04-27 17:37] WarrenWeckesser commented on #11953
@EverLookNeverSee, no problem, thanks keeping on eye on the issues and tagging them so quickly!

[2020-04-27 17:44] WarrenWeckesser commented on #11953
There are probably a few places in the code that use this `try-finally` pattern for setting and restoring the numpy floating point error handling state.  I wouldn't object to a PR that replaced those with the appropriate use of `np.errstate`.  It's not a high priority, but it does look like a worthwhile bit of code clean up.

[2020-04-27 17:51] ilayn commented on #11953
I would actually encourage such a PR since it is harder to read as is.

[2020-04-27 17:54] brynhayder commented on #11953
Thanks for the responses, but I still don't understand.

Suppose rs = 1, so that the calculation of t triggers a division error that is caught by the try block. What is then the value of t that goes into line 2717?

[2020-04-27 17:55] ilayn commented on #11953
You will get a `ZeroDivisionError: division by zero` as you hit the perfect 0.

[2020-04-27 17:59] WarrenWeckesser commented on #11953
`t` will have the value `inf`.  Then this line

    prob = distributions.t.sf(np.abs(t),n-2)*2

will result in `prob` being 0.

[2020-04-27 18:02] brynhayder commented on #11953
Thank you.

I forgot that numpy handles np.array(1)/np.array(0) different to python scalars.

Thanks for the quick responses. Stay safe!

[2020-04-27 18:02] #11953 closed

[2020-04-27 20:58] #11945 closed

[2020-04-27 21:18] lucasschlichting commented on #10908
Hi @jjerphan, sorry to be so long to answer.

The aim of this script is to estimate the fading(Strength power variation in wireless communication systems) distribution of a communication channel. So we capture the [RSSI](https://en.wikipedia.org/wiki/Received_signal_strength_indication) with an embedded instrument, the payload is exact the samples. then basically I'm using pandas to filter the las

[2020-04-27 23:44] tylerjereddy commented on #11826
I think I'm reasonably happy with the current version of the proposed fix in: https://github.com/MacPython/scipy-wheels/pull/70

It adds a `_distributor_init.py` to all versions of Python wheel we support for Windows (32 and 64-bit/Python 3.6, 3.7, 3.8) in next release.

The main trick was to add a `os.chdir()` call to move right into the DLL path, which seems to help with DLL resolution for older

[2020-04-28 00:23] jmmanley commented on #11948
I agree this would be quite nice to have for the discrete distributions in `scipy.stats.rv_discrete`, and I would be happy to work on a PR if people think it's worthwhile. For a number of the current distributions (e.g. Poisson obviously), there are closed form solutions to the maximum likelihood estimates, others need optimizers / iterative algorithms, e.g. beta-binomial.

[2020-04-28 00:35] mdhaber commented on #11948
@WarrenWeckesser thought you should be included here.

I'd be happy to help review the discrete `fit` method PRs. Note that there is currently a lot of work in progress on the continuous side of things. gh-11695 adds method of moments, and @swallan has been looking into which distributions have closed form solutions for MLE and MM fits in gh-11782.  Would someone be willing to help review gh-11695

[2020-04-28 06:51] fakekarma opened #11956 "Include constraints as dict within scipy.optimize.differential_evolution"
In order to use more optimization approaches within the same code, it would be useful if the constraint definition could be as uniform as possible within the utilities offered by scipy package.

The description of constraints via dict, with the specification of extra arguments is very helpful for the class of problems related to shape optimization. However, neither LinearConstraint nor NonLinearCo

[2020-04-28 07:13] andyfaff commented on #11956
`LinearConstraint` and `NonLinearConstraint` are the new-style way of treating constraints, and they are forwards/backward convertible to 'old-style' constraints. Indeed, this conversion occurs transparently in the `optimize.minimize` function. That conversion uses `optimize._constraints.old_constraint_to_new` and `optimize._constraints.new_constraint_to_old`.

Whilst new- style constraints don't

[2020-04-28 07:13] #11956 closed

[2020-04-28 08:38] andyfaff commented on #11956
@rgommers, this kind of issue is why I was proposing #10778

[2020-04-28 12:46] fakekarma commented on #11956
@andyfaff Thanks for the kind and quick forward to the source code, and good luck with #10778!

[2020-04-28 14:14] ADmitri42 commented on #11949
So, the best solution there is to check in the `diagonal` method if one of the any of dimensions is 0 and return an empty array if so?

[2020-04-28 16:23] WarrenWeckesser commented on #11949
In the "See Also" section of the [`diagonal` docstring](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.diagonal.html), it says that `numpy.diagonal` is the equivalent numpy function.  `numpy.diagonal` does not raise an exception when `k` exceeds the dimensions of the input.  It returns an array with length 0, e.g.

[code]

Perhaps the sparse `diagonal` method should d

[2020-04-28 18:29] WarrenWeckesser commented on #11953
FYI: I went ahead and created a pull request to update the code to use `np.errstate` where appropriate: https://github.com/scipy/scipy/pull/11957

[2020-04-28 19:21] perimosocordiae commented on #11949
Yep, this should be fixed to match the numpy behavior. Pull requests are welcome!

[2020-04-28 19:54] ADmitri42 commented on #11949
If no one against it, I'll fix that issue

[2020-04-29 01:43] andyfaff opened #11963 "Test failures - TestLinprogIPSparseCholmod"
When I run the test suite (from master) on my own computer I get a whole heap of test failures from `TestLinprogIPSparseCholmod`.
@mdhaber

[code]

[2020-04-29 03:49] person142 commented on #11945
Ping @rth: if you want to test things against the SciPy stubs, now you just:

- Install the `mypy_requirements.txt`
- Install SciPy from master

[2020-04-29 04:22] ankit45621 commented on #9481
Thanks @shivam-kotwalia This really work for me.

[2020-04-29 06:02] mattip opened #11967 "BLD: Azure windows runs complain about drives"
xref numpy/numpy#16101 where the fix there should be easy to port to `azure-pipelines.yml`

With that, I don't understand what is going on here. There are 4 windows runs: CPython36-32bit, CPython36, CPython37, CPython38. Only the middle two are failing with the "ValueError: path is on mount 'c:', start on mount 'D:'" message. In all the cases, Python is on drive C and the code is on drive D. There

[2020-04-29 06:42] ilayn commented on #11709
Intel team confirmed the bug and included the fix for the upcoming MKL 2020 update 2.

[2020-04-29 07:53] chipmuenk opened #11968 "remez(type='differentiator') with narrow pass band crashes the python kernel"
When trying to design a differentiator with very narrow pass band width and the  remez algorithm, the python kernel crashes. Yes, this doesn't make sense from a filter design point of view, but still the reaction is a bit harsh ... This was reported by a user of my filter design software (chipmuenk/pyfda#174).

#### Reproducing code example:
[code]

#### Error message:
The kernel crashes, so, no e

[2020-04-29 14:11] mdhaber commented on #11963
Thanks. Is that new? The code hasn't changed recently. Do you have SuiteSparse? scikit-sparse?

[2020-04-29 15:09] gauthe opened #11971 "DOC: search in devdocs returns wrong link"
Hello,

This is about https://scipy.github.io/devdocs, I hope it fits here. When you use the search engine, the links it returns include an "undefined" that make them invalid. Example: the first link of https://scipy.github.io/devdocs/search.html?q=eigh is https://scipy.github.io/devdocs/generated/scipy.linalg.eighundefined?highlight=eigh.

This does not affect docs.scipy.org and appears only in t

[2020-04-29 15:27] attila-i-szabo opened #11972 "BUG (solved): Error estimation in DOP853 ODE solver fails for complex domain"
Solving an ODE in a complex domain using the `DOP853` solver fails as the function `_estimate_error_norm` generally returns complex results that eventually propagate into the variable `t` which must remain real. This leads to the following error:

[code]

The issue is caused by lines 500-501 of `rk.py` that do NOT evaluate the squared norms of their respective vectors, and should be changed to

[c

[2020-04-29 15:38] tylerjereddy commented on #11971
Yeah, I've noticed this recently as well

[2020-04-29 17:31] lurix66 opened #11973 "oaconvolve(a,b,'same') differs in shape from convolve(a,b,'same') when len(a)==1 and len(b)>1"
I wrote a matricial version of `convolve`, and was testing it against both `scipy.signal.convolve` and `scipy.signal.oaconvolve`. I realized that for very specific inputs **the two results differ in shape**. I suppose that they should return the same result (to machine precision), so I thought it'd be good to tell.

This happens only when:
- 1st argument is a 1 element vector
- 2nd argument is a l

[2020-04-29 20:23] #11856 closed

[2020-04-29 22:07] mdhaber commented on #11963
At the top of the tests,
[code]
The class of tests that is failing is only defined if `has_cholmod` is `True`:
[code]
Yet you only get that warning if in `_linprog_ip`:
[code]
where `has_cholmod` is defined at the top:
[code]
Perhaps you're not getting an `ImportError` but some other kind of error?

Can you try:
[code]
Do you get the warning?

What happens when you try to:
[code]
How about:
[code]

[2020-04-30 00:41] andyfaff commented on #11963
Looking into this a bit further. If `scikit-sparse` is not installed then the test suite runs. If I `pip install scikit-sparse` then I get the errors reported above with `runtests`

The results of your tests:
[code]
and
[code]
which indicates there's a library symbol not being picked up somewhere. `import sksparse` works.

[code]

[2020-04-30 01:00] rlucas7 commented on #11948
Note some distributions have some fairly complicated procedures and constraints. For example, a binomial distribution with a known success probability but unknown n parameter is non standard and I’m not sure how to handle the case if both p and n are not specified, there is probably a paper somewhere on that case though.

I’m not opposed to the idea but it would be nice to see some research h into

[2020-04-30 01:28] andyfaff commented on #11963
Hmm, I think the issue might be that I was messing around with my build setup, as part of trying to get the github actions working. I might just close for now.

[2020-04-30 01:50] omaxian opened #11975 "sparse.linalg.gmres extra calls to matvec"
Hi,

I am using GMRES with scipy and am wondering about the initialization. Why are there several calls to matvec before the first iteration starts? Can you explain what the purpose of these is? Is there any way to disable them?

Thanks.

[2020-04-30 02:20] andyfaff commented on #11963
Ok, so I think I sorted out my build setup now, into a clean venv, and homebrew install gfortran, openblas.

If I don't install `scikit-sparse` the test suite passes. If I install `scikit-sparse` (but not suite-sparse) then running the test suite fails, with the original errors.

**with sksparse installed, suite-sparse not installed**
[code]
this is a bit weird because sksparse is installed, but t

[2020-04-30 03:27] mdhaber commented on #11963
Makes sense to me. SuiteSparse is a dependency of scikit-sparse.... scikit-sparse's only purpose is to wrap CHOLMOD, right? So we can change the language of the warning to emphasize that scikit-sparse needs to be properly configured, but is there anything else to be done? Besides providing general information, I don't think the warning message needs to help the user debug why scikit-sparse doesn't

[2020-04-30 03:41] andyfaff commented on #11963
There's probably two ways to go:

- check and only enable the relevant functionality/tests if suite-sparse *and* sksparse are installed.
- if sksparse is installed but suite-sparse isn't, then emit the correct error message, i.e. that the failures are because suite-sparse needs to be installed.

The existing error messages for the tests says "install sckit-sparse", but that's misleading if it is i

[2020-04-30 04:56] mdhaber commented on #11963
How do we check that SuiteSparse is installed? SuiteSparse is a C library, not a Python package.

[2020-04-30 05:13] andyfaff commented on #11963
If scikit-sparse isn't installed `import sksparse` will raise an ImportError.
If suite-sparse isn't installed then `from sksparse.cholmod import cholesky as cholmod` will raise an ImportError.

[2020-04-30 10:34] Kai-Striega commented on #10647
@mdhaber with #11729 done are you happy to mark this as done?

[2020-04-30 14:02] 465b opened #11980 "Bug: solve_ivp does not recognice 'args' input"
My issue is about the *solve_ivp* function in combination with the optional *"args"* argument.
The issue occurs when testing the lotka volterra example from the [docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.solve_ivp.html).
It seems like the *solve_ivp* does not recognize the args input.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/

[2020-04-30 14:03] Lectem opened #11981 "Are the one-sided alternatives of ks_2samp swapped ?"
I am kind of new to the domain of statistics but it seems to me that the alternatives of `ks_2samp` are swapped. (Those were introduced by #9753)

As I understand, if we reject a null hypothesis (that is, have a p-value close to 0), we get the alternative.

The documentation states

So with the following code (tweaked from the documentation example):

[code]

will print

Which means:

- `data1` is

[2020-04-30 14:20] josef-pkt commented on #11981
It's always a bit difficult to keep this straight.

The statement on cdf implies reversed stochastic dominance.

F1(x)<=G2(x) means that at each x, there are fewer observations below x in data1 than in data2, and more above. So x has larger values, so data1 dominates data2.

Best is to draw two cdf, and check this graphically