[2020-02-07 20:04] emmc15 commented on #9481
Thanks shivam! have been struggling to get scipy to work for dockerizing my current project for over a week, worked right away!

[2020-02-07 22:27] emmc15 commented on #9481
What version of python are you using? I tried a few different ways getting scipy to work and got no luck.

If its not too much trouble would you mind sharing your docker image ?

[2020-02-08 10:41] ilayn commented on #11480
Sorry completely my mistake.. I meant two separate commands; either

[code]

or

[code]

[2020-02-08 10:43] #9197 closed

[2020-02-08 16:14] mm-crj commented on #11185
Yes this is true that it is not finding all the roots, but I was referring to another problem. Try this code:

[code]
I am getting r as
[code]

[2020-02-08 17:04] pv commented on #11185
That has the same cause, and was also fixed.

[2020-02-08 23:52] DirkDuschinger commented on #10969
Hi all,

I had a read through the 1973 paper from Brent where he describes the functionality implemented in this method. First to mention, when the method for finding the local minimum of a function is only described for a bracket with a minimum and a maximum, so the `len==2` case. There is a chapter on global minima, which describes a third parameter as an "initial guess". I think this is what is

[2020-02-08 23:54] DirkDuschinger commented on #10969
I consider this issue as solved, i.e. there is no need to change anything in scipy. Thanks a lot for the discussion.

[2020-02-08 23:54] #10969 closed

[2020-02-09 02:51] rgommers commented on #11482
Hi @Qiyu8, great question. We're tackling this problem in NumPy at the moment, see https://numpy.org/neps/nep-0038-SIMD-optimizations.html. That proposal is under discussion, and the first part of the implementation for it (improved CPU detection) has just been merged. The main part of the work is in https://github.com/numpy/numpy/pull/13516. The "universal intrinsics" there will likely be adopted

[2020-02-09 05:11] pvanmulbregt commented on #11479
I wasn't able to reproduce the problem
[code]

[2020-02-09 08:14] AtsushiSakai commented on #4921
@mdhaber Hi. This issue cannot be closed by #10780 ?

[2020-02-09 12:13] AtsushiSakai commented on #7656
@rgommers Hi. This issue seems already to be fixed.
I run the Reproducing code example, and there is no error. So I think you can close this issue.
Thanks.

[2020-02-09 12:23] #7656 closed

[2020-02-09 15:56] mdhaber commented on #4921
@AtsushiSakai no, I don't think so because `SLSQP` and `TNC` still don't pass the test.

[2020-02-09 21:47] sedefe opened #11492 "Confusing dendrogram labelling"
`scipy.cluster.hierarchy.dendrogram` has undesirable behavior when `labels` specified

#### Reproducing code example:

[code]

Though there are only 4 linked objects, no error raised. Labels on plot are 96, 97, 98, 99.

#### Scipy/Numpy/Python version information:

1.4.1 / 1.18.1 / sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

[2020-02-09 22:41] bek0s opened #11493 "scipy.optimize.least_squares fails if the return array of the `fun` callback is reused"
`scipy.optimize.least_squares` thinks that it has converged if the return array of the `fun` callback is reused. Due to this error I need to do one additional copy of a very big array every time I calculate my residuals. This is of course waste of memory.

#### Reproducing code example:

This is a modified version of the example found in [scipy.optimize.least_squares](https://docs.scipy.org/doc/sc

[2020-02-10 02:49] rlucas7 commented on #11480
@ilayn

I had to resetup dev end after some changes to my machine. After I got everything running this evening it looks like running:
[code]
on master branch sets up correctly. The docs are currently building and everything looks ok-thanks!

Now, given that doctests are supported but not directly in the test runner, should the value error message change? e.g. should I open a PR that changes
[code]

[2020-02-10 05:09] ev-br commented on #11480
`$ python runtests.py -s optimize --refguide-check` should work, does it not?

[2020-02-10 08:17] weiT1993 opened #11494 "Error performing kronecker product between large sparse vectors"
My issue is about ...
Kronecker product does not handle large sparse vectors.
#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2020-02-11 00:23] andyfaff commented on #11484
This will be a long answer. I modified your example a bit:
[code]
I also modified the slsqp.py code (from master), adding a little debug information that might shed light on this. I added the line `print(f'BEFORE CALLBACK, x: {x}, mode: {mode}, majiter increased: {majiter > majiter_prev}')` just after the slsqp call, and `print(f'START OF LOOP, x: {x}, mode: {mode}')`

[code]

The relevant slsqp i

[2020-02-11 01:37] rlucas7 commented on #11480
@ev-br yes that also works. I'm unclear what is the difference between
`python tools/refguide_check.py --doctests stats`
and
`python runtests.py -s stats --refguide-check`

if looks like the latter calls the former to execute doctests, is that correct?

[2020-02-11 06:59] konradci commented on #11471
Yes, as a matter of fact after installation via conda it works much much better. I'm puzzled by this...

[2020-02-11 06:59] #11471 closed

[2020-02-11 11:24] evansd opened #11496 "Possible performance optimisation in scipy.sparse.compressed"
There are various places in `scipy.sparse.compressed` (which provides the base class for csr_matrix and csc_matrix) where new matrices are constructed internally using the pattern:
[code]

Because the `_cs_matrix` constructor calls `check_format` this means that each time we do this we end up running checks to ensure the validity of the data. But these instances are being constructed internally an

[2020-02-11 12:49] bjarthur opened #11497 "scipy.wavefile supports >2 channels !"
the docs for `write` say only 1 and 2 channels are supported.  for `read` nothing is said regarding the number of channels.  but the simple test script below shows they both support at least 3.  is this by chance?  will it continue to work in future?  is it supported??  i hope so!!  and if so, maybe update the docs.

[code]

[2020-02-11 15:48] perimosocordiae commented on #11496
Makes sense, the constructor does a fair amount of logic and sanity checking.

If you open a pull request with your proposed change, I'd be happy to review it!

[2020-02-11 16:59] Mocca25 commented on #11484
Thanks a lot for your detailed answer ! I think it's clearer in my mind. If I understand it correctly, the value displayed by slsqp.py at iteration n is the last function value actually computed by the algorithm (and that is not used for numerical gradient evaluation), but then the ```slsqp``` function can return a different ```x``` which generally seems to be the first ```x``` of the iteration n+

[2020-02-11 20:48] #11398 closed

[2020-02-11 21:05] ev-br commented on #11480
Not sure.
While I never used `runtests.py --doctest`, the only use of `args.doctests`,
https://github.com/scipy/scipy/blob/master/runtests.py#L304
seems to imply that `runtests.py --doctest` runs all tests + doctests (using the standard doctest checker). `--refguide-check` OTOH only runs the doctests and uses a modified checker.

[2020-02-11 21:16] #11416 closed

[2020-02-11 21:19] #11279 closed

[2020-02-11 21:19] #8205 closed

[2020-02-11 21:19] #9212 closed

[2020-02-11 21:19] #11262 closed

[2020-02-11 21:19] #6502 closed

[2020-02-11 22:35] skorani commented on #8056
roadmap.rst

[2020-02-11 22:42] andyfaff commented on #11484
I think so. The value of `fx` (OBJFUN) printed in *major* iteration `n` does not correspond to `fun(x)` at the time the callback is triggered. This is because there is an intervening `slsqp` call, The following output was taken from your example where I print out f(x) in the callback. There is a 1 iteration lag between OBJFUN/`fx` and `fun(x)` in the callback. Even then the two don't have that lag

[2020-02-12 04:42] rgommers commented on #11465
A `log_x` input is odd, I don't understand why you can't use `logpdf(x)` and `logcdf(x)`?

If the numerical precision of those methods is not enough, that needs fixing - but that would be the exact same code you propose to add I'd think.

this seems very ad-hoc. perhaps we could benefit from adding a `logppf` method to all distributions? think of this as something that needs design consistency, no

[2020-02-12 04:44] rgommers commented on #11492
This is a small issue - it would be nice to have input validation for the `labels` keyword (as well as for other keywords probably), but basically this is user error (providing the wrong length input for `labels`).

[2020-02-12 07:49] beew opened #11500 "test errors"
After installing scipy-1.4.1 ran
scipy.test(). Got a bunch of errors under "test_bumpy_deprecation"

[code]

Not sure if this is a problem.

python -3.5.4 on Ubuntu. scipy 1.4.1 installed from source (ran python3 setup.py from tarball) and numpy version 1.17.5

[2020-02-12 10:07] EverLookNeverSee commented on #11500
Hi @beew
Run command below in scipy root directory :
`python runtests.py -v | grep test_numpy`

you should see something like this:
`scipy/_lib/tests/test__util.py::test_numpy_deprecation[fft] PASSED       [  0%]
scipy/_lib/tests/test__util.py::test_numpy_deprecation[ifft] PASSED      [  0%]
scipy/_lib/tests/test__util.py::test_numpy_deprecation[diag] PASSED      [  0%]
scipy/_lib/tests/test__util

[2020-02-12 10:33] TL-SjoerdOptLand opened #11501 "Smarter (impzlength-like) choice of impulse response evaluation length"
**Is your feature request related to a problem? Please describe.**
I would like to calculate the energy in impulse responses for various filters using signal.dimpulse. However, the number of time points is not very smart (actually, it is 100 all the time). For high aspect ratio filters, this means that the best part of the impulse response is not taken into account.
https://github.com/scipy/scipy/

[2020-02-12 10:43] ilayn commented on #11501
This is on my to-do list for scipy for IIR cases but already implemented in `harold` which is working quite OK for almost all cases. You can find the implementation below

https://github.com/ilayn/harold/blob/master/harold/_time_domain.py#L280-L454

FIR part is another story that needs me sparing some more extra time.

[2020-02-12 11:50] aardvarkkrill opened #11503 "medfilt produces 0 on input of length 1"
scipy.signal.medfilt returns zero when filtering a singleton list, rather than the the value in the singleton.  This feels wrong, but if it's as intended, could the documentation be clearer?

[code]

#### Scipy/Numpy/Python version information:
[code]

[2020-02-12 13:22] parrenin opened #11504 "LSQR could output a sub-block of the covariance matrix"
**Is your feature request related to a problem? Please describe.**
Lsqr outputs the variance if calc_var=True, that is the diagonal of the covariance matrix.
But we have no way to get the covariance of variables.

**Describe the solution you'd like**
I would like lsqr to output any sub-block of the covariance matrix, defined by its indices.

**Describe alternatives you've considered**

**Additiona

[2020-02-12 15:24] #11107 closed

[2020-02-12 16:08] TBody opened #11505 "(minor)"
Using the new version of scipy.integrate, setting an array for `rtol` in `solve_ivp` results in an error.

[code]
will return
[code]

Modifying the line to be `if np.any(rtol < 100 * EPS` seems to resolve the issue

[2020-02-12 16:48] tylerjereddy commented on #11505
You're saying this used to work in a previous version of SciPy but no longer does now?

[2020-02-12 17:16] Wrzlprmft opened #11507 "ks_2samp produces only p=1 for some sample sizes"
Consider the following minimal example:

[code]

This prints only `1.0`, while it should print random values uniformly distributed between 0 and 1 (because the test’s null hypothesis is true). The phenomenon is weirdly dependent on the sample size.

This issue does not seem to be in the [KS Test Master Tracker](https://github.com/scipy/scipy/issues/9797) yet. The issue appeared between 1.2.2 and 1

[2020-02-12 17:34] #11369 closed

[2020-02-12 17:42] beew commented on #11500
Hi@EverLookNeverSee

[code]

In addition

[code]

[2020-02-12 18:14] beew commented on #11500
Hmmm...

Compile and run test in python3.7.3 then
[code]
Same version of numpy compiled against intel MKL
But still get
[code]

[2020-02-12 18:45] TBody commented on #11505
Not exactly: I think that `solve_ivp` uses different methods to `scipy.integrate.ode` (marked as old API in new version of scipy). The method using `scipy.integrate.ode` (using `ode(f, jac).set_integrator('dop853', rtol=[1,2,3,4,5],...`) worked without issue.

[2020-02-12 19:16] Hoeze commented on #11465
`x` is in the range of `[0,1]`, right?

----------
In the end, what I would like to obtain is an equivalent to the following R example:
[code]
Currently, doing this with SciPy results in +inf since:
1) scipy negative binomal has no parameterization with `mu`. This could be simply adapted using the NegativeBinomial class I provided above
2) scipy betainc function is not as accurate as the `bratio`

[2020-02-12 20:00] balopat commented on #11429
@ilayn @mdhaber is it okay to limit my scope to `cunsd` and `zuncsd` or at least to separate the unitary from the orthogonal case implementation into two separate PRs? How strong is the convention that the "whole family" of functions need to go in together?

Besides the selfish reason that `zuncsd` is my immediate need:

* I managed to get `zunscd` and `cuncsd` work, but not `s/dorcsd`
* `s/dorcsd

[2020-02-12 21:21] chrisb83 commented on #11507
Yes, this is a bug, see #11184. It is already fixed in master and will be part of release 1.5.0. closing this issue.

[2020-02-12 21:21] #11507 closed

[2020-02-12 21:22] chrisb83 commented on #11507
The related fix is in PR #11267

[2020-02-12 21:58] mdhaber commented on #11429
@balopat where did your most recent message go? I got an email but I don't see it here.

[2020-02-12 22:23] swallan commented on #11354
[Here's the branch](https://github.com/swallan/scipy/blob/lapack_support_gejsv/scipy/linalg/tests/test_lapack.py#L1667) that I started with the tests for this routine.

@mdhaber, you commented

Is this in respect to point number 4?

I assumed that reasonable behavior for malformed input matrix would be non zero info pointing towards the A parameter, and that non valid `job?` values would result in

[2020-02-12 22:33] tomrod-pcci opened #11512 "Russell Rao metric does not accurately capture distance for non-boolean/dummy values"
My issue is about `scipy.spatial.distance.russellrao` allows for non-Boolean / binary inputs without warning, but the metric is defined for Boolean / 0,1 ints only.

Expected behavior is to at least warn when vector cannot conform to a Boolean dtype.

#### Reproducing code example:
[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:
<!-- You can simply run the followi

[2020-02-12 23:42] mdhaber commented on #11354
No, those were separate ideas.

I write this because according to the documentation:

 more accurately than other SVD routines, see below under Further Details.

What I meant by the first comment was

The second comment is different. I mean to try the routine with matrices:

- with singular values that are _exactly zero_ (not just tiny) and
- to check that iwork[0] and iwork[1] correctly report th

[2020-02-13 00:00] mdhaber commented on #11354
Here's a little code that generates a random matrix, performs SVD, zeros some of the singular values in the SVD, creates a new matrix from the modified SVD, and checks that the rank of the new matrix is what we want it to be. It's just a way of creating a random matrix with a certain rank. There are simpler ways (e.g. zeroing some of the rows or setting rows to linear combinations of other rows) b

[2020-02-13 00:01] mdhaber commented on #11354
That's a bit confusing. Is that a separate question?

[2020-02-13 00:14] mdhaber commented on #11354
No problem.

[2020-02-13 00:21] annehulsey commented on #11050
What is the status on implementing the Globalized Bounded Nelder–Mead algorithm from the paper link above? I am at a deadend and hoping that this will be available soon.

[2020-02-13 00:31] swallan commented on #11354
Sorry, let me clarify. It was a separate point.
The documentation says:

In the past `info` has usually been positive, will it now be negative?

I was not completely sure what value `info` would return in the event of A being malformed (such as A is None, A is 1x1, A is not 2D), so I had assumed that it would be 1 since A is the first argument.

Similarly, when testing for invalid job inputs, will

[2020-02-13 00:47] andyfaff commented on #11050
As far as I know no one is currently working on this. Pull requests are welcomed.

[2020-02-13 01:57] balopat commented on #11429
Ah sorry, yes, I removed the comment as I found a bug in my test code. Maybe I should have just hidden it/edited it, sorry for the confusion!
In the end it's not that bad, I can do them together. I have a working prototype for all four. Now I'm working on making the wrappers and the way I call the methods "scipy"-esque.

I have a couple of issues that I'd love to get guidance on:
- `c/zuncsd` has

[2020-02-13 07:37] sedefe commented on #11492
Don't think so.
- Docstring says that `labels` is n-sized list/tuple, but doesn't clearly define what is `n` (it should be defined in `Z` parameter description)
- Suppose `matplotlib.pyplot.plot` would always plot `x` vs `y[-len(x):]` instead of checking their consistency. It would obviously be a big problem.

[2020-02-13 07:47] ilayn commented on #11429
If you set all work parameters to -1 and expose them then you get all at once see for example `?heevd_lwork`

https://github.com/scipy/scipy/blob/master/scipy/linalg/flapack_sym_herm.pyf.src#L195-L219

All work vars are hidden except for `xxxx_lwork` ones.

It is indeed a black magic but if you make an example we can have a look right away. You can basically follow the existing examples. Scalars a

[2020-02-13 08:09] #11412 closed

[2020-02-13 10:18] janvle opened #11515 "Zero-row removal in linprog presolve occurs too early"
I'm` porting a Matlab project to Python. An issue I run into is that the presolve routine in _linprog_util.py creates new zero-rows in A_eq after zero-rows have been removed (line 612 in the current source). This results in a warning, not in a failing optimization, but it is still good to avoid. The reference Andersen & Andersen removes zero-rows and zero-columns as a last step. Wouldn't that be b

[2020-02-13 11:18] smola opened #11516 "Recommend ccache for benchmarks in contributor documentation"
**Is your feature request related to a problem? Please describe.**
Running benchmarks taking too long (builds).

**Describe the solution you'd like**
It seems `ccache` can speed up the build and it is preferred. But that is not documented at http://scipy.github.io/devdocs/dev/contributor/benchmarking.html#benchmarking-with-asv

Maybe it could be mentioned along the note that currently reads:

**De

[2020-02-13 11:22] EverLookNeverSee commented on #11500
@beew
I think the cause of this problem is the Python version.

[2020-02-13 13:30] tylerjereddy commented on #11460
Resolved by the two cross-linked PRs above, closing.

[2020-02-13 13:30] #11460 closed

[2020-02-13 14:21] mdhaber commented on #11516
Thanks for the suggestion @smola. Sounds like a good idea. What would you like it to say?

[2020-02-13 14:34] mdhaber commented on #11515
The warning is from the redundancy removal routine. It removes the zero rows before running the main algorithm. The warning is incorrect in this case, though.
Ultimately this will be fixed by running presolve repeatedly until nothing new happens (as the paper also recommends). I don't remember exactly why, but I remember it will take a bit of work to do correctly so it has sat on the back burner f

[2020-02-13 16:51] balopat commented on #11429
`heevd_lwork` returns three arrays, however only one is used to pass in during the actual `heevd` call, `lwork`, the others are by default calculated?

https://github.com/scipy/scipy/blob/6bb954d3ce5c743b008bc9036dc29e6f34640b80/scipy/linalg/flapack_sym_herm.pyf.src#L182-L190

and here is the python side logic with `_compute_lwork` only returning `lwork` and only that is used in the `lwork_args`:

[2020-02-13 16:51] balopat commented on #11429
`heevd_lwork` returns three arrays, however only one is used to pass in during the actual `heevd` call, `lwork`, the others are by default calculated?

https://github.com/scipy/scipy/blob/6bb954d3ce5c743b008bc9036dc29e6f34640b80/scipy/linalg/flapack_sym_herm.pyf.src#L182-L190

and here is the python side logic with `_compute_lwork` only returning `lwork` and only that is used in the `lwork_args`:

[2020-02-13 17:23] rgommers commented on #11492
A fix is very welcome of course. Both your points make sense. Would you like to open a PR?

[2020-02-13 21:02] #11361 closed

[2020-02-13 22:36] iMerica commented on #9481
Is there a base image that takes care of all this? I just want to run Scipy in Alpine with Python 3.8. Ideally,  I can replace `FROM python:3.8.1-alpine` with `FROM alpine-scipy` then just pip install scipy without fussing with any of this.

[2020-02-13 22:51] iMerica opened #11518 "Canonical Docker Image for SciPy in Alpine?"
Hi,

Is there an official/semi-official base image I can use to run Scipy in Alpine? I'm happy to use this as the base image (`e.g. FROM scipy-alpine:python-3.8.1`)

Thank you,

Michael

[2020-02-14 00:50] balopat commented on #11429
Ah, I just reread this. So just for my curiosity - LWORK contains all the information necessary then for all the other workspaces?

[2020-02-14 03:05] rgommers commented on #11518
Hi @iMerica, there's not - we don't maintain any Docker images. For Alpine there's a normal package repo (https://pkgs.alpinelinux.org/packages?name=+%09py3-scipy&branch=edge), and it should be easy to build your own Docker image.

I'll close this, because the question is answered and there's no bug.

[2020-02-14 03:05] #11518 closed

[2020-02-14 03:07] rgommers commented on #9481
Answered in https://github.com/scipy/scipy/issues/11518#issuecomment-586075838

[2020-02-14 05:11] swallan commented on #11224
[Here is the branch](https://github.com/swallan/scipy/blob/lapack_support_pteqr/scipy/linalg/tests/test_lapack.py#L1667) that I started for the ?pteqr routine.

Something that I encountered when looking at the NAG examples that I questioned was that the NAG page said both d and e are `Real (Kind=nag_wp) array`s, but it looks like the complex example here https://www.nag.com/numeric/fl/nagdoc_lates

[2020-02-14 10:00] denis-bz commented on #8307
This matrix is incredibly ill-conditioned, numpy eigvals and svd --

    (1296,) quantiles [ 0  10  25         50    75  90 100]
    |np eigvals|      [1e-14 8e-11 3e-9   3e-7  2e-5 0.00043 0.65]
    np svd            [8e-24 1e-16 2e-12  2e-7  0.13 5.3e+03 1.3e+11]
    |M|_ij            [2e-47 1e-25 1e-19  1e-11 6e-5 0.53 9.4e+10]

So I'd say, forget it, close.

(Are there *real* testcases for arp

[2020-02-14 10:25] mhauru commented on #8307
Even if it is ill-conditioned, note that a simple power iteration still works on it.

Anyway, the ARPACK folks seem to have kindly fixed this: https://github.com/opencollab/arpack-ng/issues/79
The fix is included in ARPACK 3.7.0, SciPy just hasn't upgraded to it yet.

[2020-02-14 11:04] shivam-kotwalia commented on #9481
As @rgommers stated scipy doesn't maintain a docker image as rather they have alpine has a package `py3-scipy`
 But I was able to install scipy on python3.8 with alpine3.11 with below Dockerfile
[code]
You can even use base apline:3.11 to install scipy also

[2020-02-14 12:19] ilayn commented on #11429
Maybe `heevd` was a bad example because those particular arrays have default and fixed sizes. Sorry about that. I'll find a better example where all of them are exposed in the lwork query and all hidden in the actual call.

[2020-02-14 12:21] ilayn commented on #11429
Let's try with evr for example

https://github.com/scipy/scipy/blob/6bb954d3ce5c743b008bc9036dc29e6f34640b80/scipy/linalg/flapack_sym_herm.pyf.src#L765-L772

Here you see that liwork and lwork are optional input vars, actual arrays are hidden. But if you look at its lwork counterpart it is the other way around

https://github.com/scipy/scipy/blob/6bb954d3ce5c743b008bc9036dc29e6f34640b80/scipy/lina

[2020-02-14 12:50] #11415 closed

[2020-02-14 14:51] TakshKamlesh opened #11521 "morphological laplace outputs error on matrix with boolean datatype"
My issue is about ...

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[2020-02-14 16:33] jeremiedbb opened #11522 "dtype conversion when copying sparse matrices"
The copy of a sparse matrix does not preserves the dtype of indices and indptr
[code]

I observed this with scipy 1.4.1. Did not check previous versions.

[2020-02-14 16:35] jroose-jv opened #11523 "scipy.stats.zipf doesn't implement zipf distribution"
Scipy implements the zeta distribution for scipy.stats.zipf instead of the zipf distribution.  There is no such thing as scipy.stats.zeta, so this affects users who wish to utilize either distribution.  The current scipy.stats.zipf should be renamed to scipy.stats.zeta and the zipf function should be implemented instead.

#### Reproducing code example:
From `help(scipy.stats.norm.zipf)` the PMF de

[2020-02-14 16:48] jroose-pp commented on #11523
If you want a citation beyond Wikipedia: Section 3.5.6 of "Probability, Statistics, and Random Processes for Electrical Engineering - Third Edition" by Alberto Leon-Garcia seems to concur with Wikipedia's characterization of the probability mass function for the Zipf distribution.

[2020-02-14 16:53] jroose-pp commented on #11523
It appears that the zipf distribution described by Wikipedia converges to the zeta distribution as the N parameters approaches infinity.  Maybe this can be fixed in a backward compatible way by adding an optional N parameter where N is finite.  I've also found references that refer to the zeta distribution as the zipf distribution, so perhaps the name isn't too far off the mark for users seeking t

[2020-02-14 16:54] josef-pkt commented on #11523
http://mathworld.wolfram.com/ZipfDistribution.html  is the same (the wikipedia zeta distribution linked to this)

AFAICS, from the two wikipedia pages, Their Zipf distribution is just a truncated Zeta distribution.

[2020-02-14 16:56] josef-pkt commented on #11523
https://www.statisticshowto.datasciencecentral.com/zeta-distribution-zipf/
references two Johnson and Kotz books, but I don't have them right now.

[2020-02-14 17:42] balopat commented on #11429
Thanks @ilayn - I opened a Draft PR for some initial feedback, this is how I used _lwork:

https://github.com/scipy/scipy/pull/11524/files#diff-0547d172b04a54a4327aa6280727306cR130-R152

[2020-02-14 21:18] allefeld commented on #3758
I would like to implement an *empirical distribution*, either just for myself or as a contribution to `scipy.stats`.

The idea is that the CDF of this empirical distribution would be the standard empirical CDF
and drawing numbers from this distribution could be used for bootstrap replications.

`rv_discrete` with the `values` parameter would be the natural way to do that. But then I quickly notice

[2020-02-15 07:12] allefeld commented on #3758
Here is a sketch of an implementation:

<details>
<summary>code</summary>

    import numpy as np

    rng = np.random.default_rng()

    class discrete:
        """
        discrete distribution
        """

        def __init__(self, values, weights=None):
            # input checking and normalization
            values = np.array(values).flatten()
            values, index, counts = np.unique(

[2020-02-15 07:48] david-cortes opened #11525 "BLAS wrappers ignore argument 'overwrite_a'"
I'm trying to call BLAS subroutine [dger](http://www.netlib.org/lapack/explore-html/d7/d15/group__double__blas__level2_ga458222e01b4d348e9b52b9343d52f828.html), which does the following according to documentation:
[code]

The [SciPy wrapper](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.blas.dger.html) has the following signature:
[code]

Particularly, I want to update a matrix

[2020-02-15 08:27] ilayn commented on #11525
Hi @david-cortes. Thank you for taking the time to report this. Overwriting the array is only done if two conditions are met which is also mentioned at the note box at the top of the page [here](https://docs.scipy.org/doc/scipy/reference/linalg.blas.html#module-scipy.linalg.blas) namely the datatype and also the memory layout should match.

Hence here the missing part is the Fortran-ness of `A`. I

[2020-02-15 08:27] #11525 closed

[2020-02-15 08:54] #11169 closed

[2020-02-15 11:23] AtsushiSakai commented on #4921
@mdhaber OK. Thank you so much. I fixed it in #11526

[2020-02-15 19:15] #11370 closed

[2020-02-16 05:37] Kai-Striega opened #11528 "get_lapack_funcs link to source is invalid"
The [`scipy.linalg.get_lapack_funcs`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.get_lapack_funcs.html) documentation currently links to [blas.py#L710-L778](https://github.com/scipy/scipy/blob/v1.4.1/scipy/linalg/blas.py#L710-L778) when the *"source"* link is pressed. This location doesn't exist anymore. The link should point to the actual location, currently `lapack.py` lin

[2020-02-16 09:34] Tejaswgupta commented on #11528
I would like to contribute.

[2020-02-16 10:10] ilayn commented on #11528
It is due to the decorator of the function trying to get to the memoization function. This needs a change in the numpydoc machinery for ignoring the decorators.

[2020-02-16 11:41] Tejaswgupta commented on #7524
Does this still need contribution?
if yes, then would be wiling to help.

[2020-02-16 12:15] #1968 closed

[2020-02-16 15:16] mdhaber commented on #11224
Allow it to be complex if it works.

[2020-02-16 15:38] ilayn commented on #11224
Try to follow Netlib documentation. NAG has no obligation to be LAPACK compatible and sometimes they have different flavors. That's why they have their own naming convention. Also NAG examples are low precision so if possible make random examples and use the NAG ones for validation.

[2020-02-16 15:41] mdhaber commented on #11354
I would assume it would be -1 and -3 in those cases, respectively. For whatever reason, it does appear that it will report negative values for bad inputs.

[2020-02-16 16:31] seberg commented on #7524
Doubt it is still very relevant with Python 2.7 being end of life, so I will close this.

In general, changing the filters in library code is still often not good, because warning filtering is not thread-safe (it should be fine in testing). So that is still something that you could have a look at.

[2020-02-16 16:31] #7524 closed

[2020-02-16 18:25] WillTirone commented on #11442
I haven't managed to find a formula online that even uses weights for the Chebyshev Distance - does it need to be weighted? They all just indicate that it's max(abs(u - v))

[2020-02-16 18:40] janvle commented on #11515
Thanks. If you could point me to the details of this 'bit of work to do correctly', I might be able to contribute.

[2020-02-16 19:11] #11350 closed

[2020-02-16 19:28] bensdm commented on #11442
the formula is the same just with weights: `max(weigths * abs(u-v))`

[2020-02-16 20:46] WillTirone commented on #11442
Do you have a source? I can't find a weighted formula in any textbooks. Or is there a "Weighted Chebyshev Distance"?

[2020-02-16 20:56] bensdm commented on #11442
i do not have any source but it is the same idea than any other weighted distance:
exemple: https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.sqeuclidean.html#scipy.spatial.distance.sqeuclidean

why is there a weight argument otherwise??

[2020-02-16 20:58] mdhaber commented on #11515
Wow, that would be great. Well, as you mention, the Andersen & Andersen paper is the reference, and they suggest running presolve iteratively until nothing changes. I only remember that at the time I was finishing the presolve code, I wasn't super happy with how the structure turned out and I felt that it was not going to be very easy to make it iterative. You are welcome to try!

Two things I thi

[2020-02-16 21:26] mdhaber commented on #11224
@swallan I think you are you referring to the complex values in the example matrix `A`. `e` is always real.

Before calling `zpteqr`, the NAG example uses `zhetrd` to reduce the matrix to tridiagonal form, then `zungtr` forms an orthogonal matrix from factors returned by `zhetrd`. I think it then passes a real tridiagonal matrix and complex orthogonal matrix into `zpteqr`. So please pass only real

[2020-02-16 21:45] WillTirone commented on #11442
That definitely makes sense and it doesn't seem like it's weighting anything - I can attempt a fix for this.

[2020-02-17 01:55] pvanmulbregt opened #11529 "Pyflakes generates almost 700 warnings."
Running Pyflakes on the code base generates just under 700 warnings.
Having this many warnings can easily obscure new real warnings.

Some seem somewhat problematic to avoid, such as importing all from a sub package for propagation.  E.g.
[code]
Others are just imports that are no longer used, or assignments that are no longer needed.

Listing the subdirectories here so can check them off as go th

[2020-02-17 04:44] #11521 closed

[2020-02-17 12:13] john-mathew commented on #8278
@ma-sadeghi would it be possible for you to share your modified `linsolve.py`? I tried modifying it according to #11453 but the error persists

[2020-02-17 15:15] ariedel commented on #10422
Some aspects of this bug still seem to exist in 1.4.1: I now get this error in fftconvolve unless I specifically cast my data (original type: numpy.ndarray) as a numpy.float32 dtype, which wasn't necessary before.

[2020-02-17 16:53] rgommers commented on #11529
You can add a `# noqa` comment at the end of a line (forgot the exact invokation) to make pyflakes ignore something.

[2020-02-17 17:48] peterbell10 commented on #10422
@ariedel thanks for your report, this should be fixed by gh-11534.

In future though, you might want to open a new issue instead of commenting on a different issue. Especially one that's been fixed already, since your comment could easily be missed.

[2020-02-17 20:16] pvanmulbregt commented on #11529
Adding `# noqa` works for `flake8`, but not for `pyflakes`, AFAICT.

[2020-02-17 21:21] WillTirone commented on #11442
@bensdm

Does this look more correct?

[code]

[2020-02-17 21:44] swallan commented on #11224
@mdhaber Yes, I was referring the complex A– I will take a crack at it and see where I can get.

[2020-02-17 21:52] bensdm commented on #11442
Yes sounds good, not sure why there was a `has_weight` variable since if the weight is <0 it will not be the max

[2020-02-18 07:27] beew commented on #11500
Some extra info

compile scipy in python 3.7.6 against intel MKL

python runtests.py produce the same error as before
[code]

But, if dynamically link scipy to openblas (even though it is compiled against MKL, but can dynamically link to another blas with update-alternatives) all tests passed.

Intel_MK 2018.2 (I am sticking to this version since compiling numpy against MKL 2018.3 and above nvblas

[2020-02-18 07:30] EverLookNeverSee commented on #11500
@rgommers
What is your opinion?

[2020-02-18 12:46] peterbell10 commented on #11500
@beew what version of pytest are you running? The test uses `deprecated_call` in a way that wasn't supported before pytest-dev/pytest#4104 which looks like it was added in 3.9.0

[2020-02-18 13:51] mwageringel opened #11550 "generalized left eigenvectors are not normalized"
When computing the generalized left eigenvectors, but not the right eigenvectors, the vectors are not normalized.

The documentation says:

    The normalized left eigenvector corresponding to the eigenvalue w[i] is the column vl[:,i].

#### Reproducing code example:

[code]

This can be fixed by this patch:

[code]

#### Scipy/Numpy/Python version information:
Installed using Homebrew and OpenBLA

[2020-02-18 14:00] octavius37 commented on #11468
A small update:

Unfortunately we've decided to go back to the pre 1.4.0 version for now. We've checked our input values and they are numerically stable for this implementation. I did try to implement an online algorithm and use that as the statistic callable, however the way the statistic callable works is not compatible with that because it calls the function for every bin and for every value ro

[2020-02-18 15:15] balopat opened #11551 "make html-scipyorg resulting in Segmentation fault: 11"
`make html-scipyorg` throws a seg fault error without too much explanation.
This might be a tricky one to hunt down as it is probably related to the setup on the workstation.

I'm on MacOSX 10.14.6.
Python 3.7.6
sphinx 2.4.1 (tried with 2.0.0 with same results)
xcode-select version 2354.

I am using pip + venv.

<details>

[code]

</details>

I have this on my branch https://github.com/balopat/sci

[2020-02-18 15:17] perimosocordiae commented on #11522
The `.copy()` method ends up calling the `csr_matrix` constructor, which in turn calls `get_index_dtype(..., check_contents=True)`. This means that we look inside the index and indptr arrays to find the minimum acceptable dtype out of int32 and int64. This isn't new behavior, but I do understand that it's a bit surprising.

I should also note that there's a possibly undocumented constraint on spar

[2020-02-18 15:20] perimosocordiae commented on #11522
Also, issue gh-11496 proposed a change that would likely resolve this issue. @evansd hasn't opened a PR yet, but stay tuned for that.

[2020-02-18 16:43] rgommers commented on #11551
Usually when this happens it's not in the doc build machinery, but it's when executing SciPy code during the doc build. So it would be good to see if you can reproduce it by running:
[code]

[2020-02-18 17:18] marchmallow commented on #9481
Has anyone been successful at installing scipy 1.4.1 on alpine?

[2020-02-18 19:01] beew commented on #11500
pytest 4.6.3 in python 3.7.3 and 5.3.5 in python 3.7.6

[2020-02-18 19:40] peterbell10 commented on #11500
@beew you reported the test failures with python 3.5.2, what `pytest` are you using in that environment?

[2020-02-18 20:18] insertinterestingnamehere commented on #10881
I'm late in following up on this, but here's the updated LAPACK version comparison https://gist.github.com/insertinterestingnamehere/baf36ce759b1712f2dfb and the script used to generate it https://gist.github.com/insertinterestingnamehere/8f087a99c2ae34f275ac268ff4210f28. It looks like (except for the stuff I need to go back and check by hand) the `*lahef_aa` and `*lasef_aa` routines are the only

[2020-02-18 21:20] beew commented on #11500
@peterbell10

That is pytest 3.6.3

[2020-02-18 22:17] josef-pkt commented on #11122
A picture is not really helpful. We cannot copy-paste any code.

[2020-02-18 22:26] peterbell10 commented on #11500
OK, that explains `test_numpy_deprecation` failures then.

[2020-02-18 23:56] duke08542 commented on #11122
def welch_anova_np(*args, var_equal=False):
    # https://svn.r-project.org/R/trunk/src/library/stats/R/oneway.test.R
    # translated from R Welch ANOVA (not assuming equal variance)

   F_onewayResult = namedtuple('F_onewayResult', ('statistic', 'pvalue'))

    args = [np.asarray(arg, dtype=float) for arg in args]
    k = len(args)
    ni =np.array([len(arg) for arg in args])
    mi =np.array([n

[2020-02-19 00:04] nickrose opened #11552 "LP solver using `interior-point` method - check in `_presolve` fails to account for fixed variables"
This issue is related to the `_presolve` check in the 'interior-point' version of `scipy.optimize.linprog`. Equality constraints are checked to determine which variables are free to vary in the problem, and if there are none, the function returns early if there are no non-trivial constraints. However, the result of fixed variables check (`i_nf`) is not used to index the remaining constraints in th

[2020-02-19 00:15] nickrose commented on #11552
Checked the current master branch, looks like it's been fixed.

[2020-02-19 00:15] #11552 closed

[2020-02-19 00:24] balopat commented on #11551
Thanks @rgommers - this seemed to give another clue!

[code]

[2020-02-19 00:40] balopat commented on #11551
Installing `openblas` with homebrew and

[code]

fixes it the test failure.

[2020-02-19 01:05] mdhaber commented on #10881
Very cool! Thank you for working in this!

[2020-02-19 01:19] mdhaber commented on #11552
Thanks for reporting it! But yes, looks like this was fixed in gh-8973.

[2020-02-19 01:23] josef-pkt commented on #11122
translation from R is not license compatible, except for cases where we have permission or code that has a compatible license instead of GPL.
But the code is "obvious", so I don't think there can be much copyright on it.

I resurrected some work that I did in 2013 that has some overlap with scipy.stats, Welch and Yuen/Trimmed Anova, and methods that are also in scipy.stats.levene.
https://github.c

[2020-02-19 03:31] kaddynator opened #11553 "scipy.ndimage.interpolation.shift() extension"
I tried to shift an array of length 9470780. I used the following command to shift the array
`
shift(col_array, 1, cval=np.NaN)`

Once I did this, the column contains Nan values and there was a shift happened in the first element only. The array looks like this
`[0,NaN,NaN,NaN,NaN,NaN,........NaN,NaN]`

**Current Code**
I tried to open the code that performed the shift operation in scipy.ndimages.

[2020-02-19 04:24] rgommers commented on #11551
Great! Glad that was not too hard to track down. Miscompiled OpenBLAS version it is, so closing this.

[2020-02-19 04:24] #11551 closed

[2020-02-19 09:47] jeremiedbb commented on #11522
Thanks for the details

Beyond surprising, it could be considered an unwanted behavior in some situations. For instance using cython's typed memoryviews might lead to a dtype mismatch depending on whether you copied you matrix or not.

I'll follow that, thanks !

[2020-02-19 11:02] lightspark86 commented on #11403
Hello everyone,

I would just like to point out that this issue is not specific to `curve_fit`, as I have the very same problem with `minimize` (called via `basinhopping`). Here is the final part of error message:

`File "D:\Projects\AdaNet\adanet-venv\lib\site-packages\scipy\optimize\_minimize.py", line 622, in minimize
    callback=callback, **options)
  File "D:\Projects\AdaNet\adanet-venv\lib\

[2020-02-19 11:14] rodrigolece opened #11554 "Elementwise boolean product for `csr_matrix` returns unexpected output"
The product of two boolean matrices that I expect to be elementwise and behave like the boolean product (i.e. obey the rules of boolean arithmetic) is not doing so.

#### Reproducing code example:

[code]

This means that `*` is not being interpreted as elementwise product, but rather as a matrix product (in fact I get the same result if I use `a @ b`).

If I explicitly call the scalar product, I

[2020-02-19 12:17] peterbell10 commented on #11554
Matrix multiplication is the intended behaviour. `scipy.sparse` follows the behaviour of `np.matrix`, not `np.array` (but there are efforts to change that, see #8162). You might want to try [pydata/sparse](https://sparse.pydata.org/en/latest/index.html) instead.

I can't see where this is said in the documentation though, so that could definitely be improved.

As for `_mul_scalar`, that implements

[2020-02-19 12:21] odidev opened #11555 "Installing scipy on aarch64"
Summary
----------
Installing scipy on aarch64 via pip using command "pip3 install scipy" tries to build wheel from source code

Problem description
----------------------
Scipy don't have wheel for aarch64 on PyPI repository. So, while installing scipy via pip on aarch64, pip builds wheel for same resulting in it takes more time to install scipy. Making wheel available for aarch64 will benefit aa

[2020-02-19 14:02] rodrigolece commented on #11554
Yes, I think that I was getting to that same conclusion after a bit more experimenting. Understood, and well, even though I shouldn't be be playing with the private methods thank you for clarifying that too because it increased my understanding.

I agree that all that remains is clearly stating in the documentation that this is the behaviour.

[2020-02-19 14:17] perimosocordiae commented on #11554
For completeness, if you do want an elementwise product, use the `.multiply()` method (same as with `np.matrix`):

[code]

[2020-02-20 00:20] tylerjereddy commented on #11555
The SciPy team is on the path to providing these pre-built binaries. For example, you can see that our upstream OpenBLAS binaries are now built for multiple architectures including ARMv8:

https://travis-ci.org/MacPython/openblas-libs/builds/652316285?utm_source=github_status&utm_medium=notification

However, there are quite a few moving parts in the release process, and we haven't quite ironed ev

[2020-02-20 00:35] 0x0badc0de opened #11556 "Johnson SU distribution issues with array parameters"
Johnson SU distribution works just fine when all parameters are scalars. But some array combinations result in exceptions

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2020-02-20 01:11] WarrenWeckesser commented on #11556
Looks like we need to add some calls to `asarray()` in a few places, to convert list inputs to numpy arrays.

[2020-02-20 03:33] rlucas7 commented on #11365
Fair point, I guess `_bin_edges()` is "private" method so shouldn't really matter to end user, I was thinking in terms of maintenance and development, e.g. understanding where the root cause resides.

https://github.com/scipy/scipy/issues/9010#issuecomment-520680191

was the issue you mentioned that I misread, that should be fixed in:
https://github.com/scipy/scipy/pull/11382/files

the test has a

[2020-02-20 06:11] andyfaff commented on #11403
Sorry that `curve_fit` gave this issue. Can you try with `optimize.least_squares` to do this minimisation?

[2020-02-20 13:23] agamemnonc opened #11558 "IIR comb filter"
**Describe the solution you'd like**
I think it would be very useful to support the design of IIR comb filters.

**Describe alternatives you've considered**
The only alternative I could think of would be the use of multiple IIR notch filters, but doesn't seem like a great idea.

[2020-02-20 14:41] e-q commented on #11558
I think this is a reasonable feature request. Would you be interested in putting together a PR for this?

Incidentally, I notice that the current peak and notch design functions only output TF form, these should get zpk and sos output options as well.

[2020-02-20 14:57] agamemnonc commented on #11558
Happy to give it a go. Likely that I will need some help at some point.

Also happy to include zpk and sos support for peak and notch filters. Should this go into a separate PR?

[2020-02-20 16:45] TomBugnon opened #11559 "BUG: iirdesign doesn't fail for frequencies above Nyquist"
Hi all,

`iirdesign` and the underlying filter order functions (`buttord` and cie) don't seem to check that the `wp` and `wn` input frequencies (normalized by the Nyquist frequency) are within [0, 1], and interpret those normalized frequencies modulo 2.
This might be expected behavior (?) but I think this is extremely error prone, could be made more explicit in the documentation and should at leas

[2020-02-20 18:35] jfranco202 opened #11561 "Installing scipy: Preparing wheel metadata ... -error"
[code]

[2020-02-20 19:06] Marco-Sulla opened #11562 "SciPy compilation does not find ATLAS libraries and FORTRAN compiler"
I tried to compile Scipy from source, on Lubuntu 18.0.4.3, since I had some problems installing it with `pip`. This is what I've done:

[code]

I got these errors:

But I have ATLAS libraries:

[code]

About the FORTRAN compiler, I think I'll remedy with and alias, but it's strange I can't set the compiler name.

I have NumPy 1.18.1 and Python 9.2.0 alpha 3.

[2020-02-20 23:26] rileyjmurray commented on #8444
I read through this issue before creating a vaguely related GitHub issue of my own, and just wanted to make the following comment.

@pv regarding changing the matvec semantics from ``(n, 1) -> (n, 1)`` to ``(n,1) -> (n,)``:

The bigger issue is that the matvec codepath is accessible by python's ``@`` operator. So changing matvec to follow ``(n,1) --> (n,)`` would violate the semantics of ``@`` as

[2020-02-20 23:31] pv commented on #8444
@rileyjmurray: note that the question here is about the internal `_matvec` API in LinearOperator, not the public `__matmul__`.

[2020-02-20 23:39] rileyjmurray commented on #8444
I see; maybe I'm misunderstanding something. Here's why I brought up matmul:

Suppose we call ``A @ x`` where ``A`` is a LinearOperator and ``x`` is an ndarray of shape ``(n,1)``. If I read the source code correctly, then this triggers a call sequence ``A.__matmul__ -> A.__mul__ -> A.__dot__ -> A.matvec -> A._matvec``.

If my understanding of that call sequence is correct, then changing the intern

[2020-02-21 00:03] rileyjmurray opened #11564 "LinearOperator objects cannot be applied to sparse matrices"
My issue is about how LinearOperator objects interact with sparse matrix classes (e.g. ``csc_matrix``). Currently, operations like ``A @ B`` and ``A * B`` fall back on ``dot``, which does input casting without checking for sparse matrix types. Here is the line where the casting happens:

https://github.com/scipy/scipy/blob/1e161716a5e5c827573b9b88aa790af1864dfb1d/scipy/sparse/linalg/interface.py#L

[2020-02-21 03:19] rlucas7 commented on #10895
Hi @thezoltan94
It looks like the latest scipy release does indeed include a sentence in the notes:
https://github.com/scipy/scipy/blob/1ff7107669f3f861197fe47354c3a320e68d0147/scipy/special/add_newdocs.py#L6693

you can check your scipy version by starting your python environment and running:
[code]
and check, if you have 1.4.0 you should see the sentence.
It looks like that line has been in the

[2020-02-21 04:06] ivirshup opened #11565 "Single dispatch `issparse`"
**Is your feature request related to a problem? Please describe.**

I would like a single way to tell if a matrix or array is sparse. Right now it's `isinstance(a, (*types_that_implement_sparse_arrays_or_matrices))`

**Describe the solution you'd like**

[code]

This way, other packages can import `issparse` and overload it on their types. I.e. `pydata/sparse` could have:

[code]

**Describe alter

[2020-02-21 11:03] anntzer opened #11566 "irfft/irfft2/irfftn docs are slightly confusing re: input type."
As of scipy 1.4, the docs for fft.irfft{,2,n} start with "Compute the inverse of the n-point DFT for real input." / "Compute the 2-dimensional inverse FFT of a real array." / "Compute the inverse of the N-dimensional FFT of real input.", which is slightly confusing if you're unfamiliar with fft conventions: a superficial reading would suggest that these functions take a real input, but actually th

[2020-02-21 13:00] TomBugnon opened #11567 "scipy.signal.iirdesign doesn't check consistency of wp and ws arguments"
Hi,

The `iirdesign` documentation gives the following examples for accepted values of wp and ws:

Some cases are not documented and return without failing. I'm not sure what the results are:

- When wp and ws are non-intesecting bands:
[code]

- When wp and ws have different dimensions and are "non-intesecting"
[code]

#### Scipy/Numpy/Python version information:
[code]

[2020-02-21 13:19] Marco-Sulla opened #11568 "SciPy trunk compiled for Python3.9 does not work"
[code]

[2020-02-21 14:05] rfezzani commented on #7051
This is due to the interpolation order being > 0.
I personally don't blame `map_coordinates` since interpolation for booleans is not defined.
May be a warning can be raised when the input dtype is bool and order > 0...

[2020-02-21 15:13] r-menezes commented on #9382
Hello there,
I am also using solve_ivp in problems for which it does not make much sense to talk about negative values of `y` . Not sure if it is the same case as @HPLegion , but I guess this problem could be partially solved if it was possible to change the values of `y` in `handle_events`, this way when any variable gets very close to 0, say `y ~ 1e-12`, it would be set to 0, diminishing the cha

[2020-02-21 16:23] r-menezes opened #11569 "[Feature Request] Allow for more complex events in solve_ivp"
Hello there,

In my usage of `solve_ivp` for simulating ecological systems, it would be useful to be able to terminate the numerical integration of a particular system based on the type of dynamics displayed by the system. When the solution is periodic, and the system is autonomous it can be checked whether the values of `y` are the same for two distinct times `y(t) = y(t-T)`.
However, storing the

[2020-02-21 16:26] CubeSatboi commented on #5889
Yes can someone please respond to ekhaydarov, would be helpful for many people I'm sure

[2020-02-21 16:48] rgommers commented on #5889
1. It is a warning only as I said above
2. If GCC is erroring on it, that's either because you're compiling SciPy with `-Werror` or because somehow you're trying to compile some code that does use the deprecated API
3. you can disable it by setting the `NPY_NO_DEPRECATED_API` environment variable to `0`.
4. the SciPy build output itself can only be completely cleaned up once Cython only uses non-d

[2020-02-21 16:50] rgommers commented on #5889
and if you are getting a SciPy build failure for a normal build (`python setup.py install` or equivalent), please open a new issue and provide details to reproduce (OS, compilers, etc.).

[2020-02-21 17:26] peterbell10 commented on #11566
Some alternative wordings:
- Computes the inverse of `rfft`
- Computes the inverse FFT for a spectrum with Hermitian symmetry
- Computes the inverse FFT with a real output signal

Any of those better?

[2020-02-21 17:32] peterbell10 commented on #11568
It looks like you aren't linking in the C++ runtime. How are you compiling SciPy and are you able to compile for other python versions in the same way?

[2020-02-21 18:01] tylerjereddy commented on #11562
To encourage discovery of the appropriate linear algebra backend I often find it useful to setup a local
`~/.numpy-site.cfg`, which you can draft from the `site.cfg.example` in the source code. You can delete all but the `[atlas]` block, and then adjust that block for your system. Make sure it isn't commented out after adjusting.

For Fortran compiler specification, I think I've previously had suc

[2020-02-21 18:01] anntzer commented on #11566
First two sound good to me.

[2020-02-21 19:02] janvle opened #11570 "Update for linprog presolve"
As Matt suggested (issue #11515) I've been taking a look at the presolve routine and its reference, the Andersen & Andersen paper.

A&A describes a set of options for trivial simplifications of the problem (some not too trivial, though), numbered (i) - (xvii). The current `_presolve` function handles just a couple of them:
* zero row in equality constraints (i)
* zero row in inequality constraints

[2020-02-21 19:44] Marco-Sulla commented on #11568
Yes, with Python 3.8 I can `pip install scipy` without problems

[2020-02-21 21:50] lfini opened #11571 "integrate.quad() problem"
My issue is about a funny behavior of scipy function integrate.quad.

Integrating a gaussian function I get wrong values depending on the integration interval. See below.
in [3] I compute the integral on [-100, 0.5] and I get the expected value.

In [4] I compute the same integral on [-1000,0.5]. I expect the same value because there is no co ntribute to the integral sum extending the interval to

[2020-02-21 21:52] lfini commented on #11571
Here follows version info:
...
In [13]: print(scipy.__version__, numpy.__version__, sys.version_info)
1.4.1 1.18.1 sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)
...

[2020-02-21 22:45] ilayn commented on #11568
Also we are not supporting nonrelease versions of python.

[2020-02-22 01:06] drhagen commented on #9382
I think this would be a good feature, and I would love to see it in SciPy. However, I am not qualified to implement it. Methods exist, but they are more complex than that proposed by @r-menezes. From the people I have talked to about this, it is not as simple as throwing a `y[x < 0] = 0` as calling it a day. The tweaking of the state has to be done in a way that respects the assumptions of the ODE

[2020-02-22 05:12] r-menezes commented on #9382
@drhagen , I see...  presumably these assumptions are also different for different methods?
as a workaround, I redefined my diff. equation so that it would return 0 for variables with values below some threshold.
[code]
not clean, but its a user tweak that prevents the negative values

[2020-02-22 06:08] ev-br commented on #11571
Is seems to be a duplicate of
https://github.com/scipy/scipy/issues/10305 : the adaptive routine gets confused and fails to find a tiny peak over a huge integration interval where the function is mostly zero.

[2020-02-22 09:17] ivirshup commented on #11565
@hameerabbasi, I would like to get your opinion on this idea. Especially since it would only be useful if it was also implemented by `pydata/sparse`.

[2020-02-22 10:02] Kai-Striega commented on #11528
@Tejaswgupta It's great that you are intereted but, as @ilayn has said, I think that I have misjugeded how difficult this will be to fix. Of course, you are free to try and fix it, but it may be harder than expected.

[2020-02-22 11:24] drhagen commented on #11569
This looks like the perfect use case for using the step solvers directly. The step solvers (for example, [RK45](https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.RK45.html#scipy.integrate.RK45)) are the classes defined for each ODE method; they can be [initialized](https://github.com/scipy/scipy/blob/v1.4.1/scipy/integrate/_ivp/ivp.py#L543) and then advanced one [step](https://g

[2020-02-22 11:51] drhagen commented on #11505
I confirmed that [dop853](https://github.com/scipy/scipy/blob/master/scipy/integrate/dop/dop853.f#L46-L4) allowed for a vector rtol. However, [others](https://github.com/scipy/scipy/blob/master/scipy/integrate/odepack/lsoda.f#L66) did not. I have thought about this feature in the past, not because I needed it, but because it seemed like it is straightforward to implement. I did not know that any O

[2020-02-22 13:02] Tejaswgupta commented on #11528
I'll give a shot

[2020-02-22 16:32] hameerabbasi commented on #11565
I think the right way to do this in Python would be protocols. For example, a `__csr__` protocol, or similar.

[2020-02-22 19:36] Gattocrucco opened #11572 "least_squares: too small tolerances not catched with method='lm'"
If I pass very small but not too small termination tolerances to `least_squares` with `method='lm'`, instead of raising an exception immediately, the routine is called, it catches the error and `least_squares` does not handle it properly.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:
[code]

[2020-02-22 23:39] mdhaber commented on #11570
Hi @janvle. Thanks for writing this up. I'm very interested in replying to it in detail, but I'm super busy ATM. Let me start with just a few things.

Yes. That would be much better than the current monolithic structure.

We can, and I think the modular structure you propose would make that possible to introduce at the end. We should do some benchmarking to see if it's important, though; otherwise

[2020-02-23 01:23] ivirshup commented on #11565
Would you mind elaborating on that a bit?

* What would the `__csr__` attribute be? Is it a method, or a value? And what does it tell us about the object?
* Would you want this for every kind of sparse format? Will many libraries be implementing the same sparse formats?
    * Subquestion, will pydata/sparse have `CSR` and `CSC` classes?
* Could there be a catch-all check for sparse arrays?

------

[2020-02-23 02:09] rgommers commented on #11529
This tool that @asmeurer recently wrote may help: https://github.com/asmeurer/removestar. He used it to remove `*` imports from the Numba code base, so I suspect it may work for SciPy as well.

If it works without too much manual tweaks, I think this is worth doing.

[2020-02-23 02:52] pvanmulbregt commented on #11529
I installed it just now and gave it a run. It will remove a few (but only a few) more.  The imports from Fortran and C code give it some difficulty.
Will also have to check that the currently * imported symbols in some files are not officially in the API (e.g. `mstats.py`)

[2020-02-23 04:18] asmeurer commented on #11529
It doesn't work for now but it wouldn't be hard to add I think. https://github.com/asmeurer/removestar/issues/9

[2020-02-23 04:20] asmeurer commented on #11529
It also doesn't have any way to detect explicit star imports for name propagation.

[2020-02-23 05:57] #11190 closed

[2020-02-23 09:09] Kai-Striega commented on #11224
@swallan I've pushed the wrapper to my branch ``lapack_support_pteqr``.  I know that I have been a bit behind over the last week(s), but I'm going to be able to get these out fairly quickly from now.

@mdhaber said that you have been working on these on your own branch, do you have any which are ready/almost ready to go? I can prioritise those, so we can start getting these merged.

[2020-02-23 09:42] hameerabbasi commented on #11565
Okay, I thought some more about this. Since PyData/Sparse will be the standard moving forward, there should be a `__sparsearray__` method on all objects that can convert to sparse arrays that PyData/Sparse supports, doesn't matter which format. This is similar to how `__array__` works for dense arrays: It returns a dense NumPy array or something following the buffer protocol.

So, for example, in

[2020-02-23 10:59] ivirshup commented on #11565
I'm not quite sure. A dense numpy array could be converted to a sparse array, but would dense arrays get a `__sparsearray__` method? Sparse formats can be very different, is the object converting itself to an arbitrary one or is the user specifying?

That does sound very cool, especially if I would be able to define my own semirings and have the compiler take care of data access. Looking forward t

[2020-02-23 11:02] hameerabbasi commented on #11565
No, they won't. Even if they did, it'd return `NotImplemented`.

[2020-02-23 11:12] drhagen commented on #9382
I don't know enough about the details of these algorithms, but I don't see why the assumptions could not be different.

[2020-02-23 11:18] drhagen commented on #11064
Presumably, this kind of thing can happen with lots of SciPy algorithms. What is the standard SciPy response? Does SciPy mark whole algorithms with `ignore`, just particular lines where signals are most likely, or is this expected and desired behavior when setting `raise` on everything?

[2020-02-23 15:25] WillTirone opened #11576 "[set up dev environment] unable to run runtests.py"
Hello!

I'm a first-time contributor and attempting to set up a dev environment by following the instructions here: https://docs.scipy.org/doc/scipy/reference/dev/contributor/quickstart_ubuntu.html#quickstart-ubuntu

on step 19, I'm trying to run the runtests.py file but I am getting the following:
`scipy/linalg/tests/test_decomp.py::TestEigh::test_eigh_integer realloc(): invalid next size
Fatal P

[2020-02-23 15:50] mwageringel opened #11577 "generalized eigenvalues are sometimes wrong (on some hardware)"
On some machines, in the following example of a singular real 4×4 matrix pencil, SciPy fails to find the generalized eigenvalues 4.0 and 8.0:
[code]

The computed eigenvectors are linearly dependent and the homogeneous coordinates suggest that there are numerical problems:
[code]

I understand that the problem may be ill-conditioned. However, the same kind of computation usually works, so it would

[2020-02-23 16:13] charris commented on #11577
Works for me with ATLAS on an older machine, so it is probably a OpenBLAS issue. What does
[code]
give on the machines that fail?

[2020-02-23 16:25] mwageringel commented on #11577
Machine 1 with Homebrew:
[code]

Machine 1 with Sage:
[code]

Machine 2:
[code]

[2020-02-23 17:40] EverLookNeverSee commented on #11576
Hi @WillTirone
Please provide information below:

- OS information
- Python version
- Pytest version
- SciPy version

[2020-02-23 17:50] EverLookNeverSee commented on #11576
Have you successfully completed the previous steps?

[2020-02-23 17:57] WillTirone commented on #11576
Hi @EverLookNeverSee,

I've completed the previous steps, yes. I was able to successfully do an in-place build and import the dev version of scipy (1.5)

System info:

1. Ubuntu 18.04.4 LTS (The guide says Ubuntu 16.04 but I assumed the newer version would be okay)
2. Python 3.7.6 (installed w/ Anaconda)
3. Pytest: 5.3.5
4. Scipy: 1.5.0.dev0+d607334 (this is inside the virtual env)

Thank you!

[2020-02-23 18:37] geyang opened #11578 "No Doc String Shown"
I searched briefly for similar issues but could not find any. So here it is:

[code]

in pyCharm, binom shows no documentation in the pop up except a link to the root of the doc page.

<img width="412" alt="Screenshot 2020-02-23 10 37 57" src="https://user-images.githubusercontent.com/630490/75117688-982d2f00-5628-11ea-9064-04c740ac3cae.png">

[2020-02-23 19:31] drhagen commented on #11239
This is clearly happening on the first step because `t==0`. The [while loop](https://github.com/scipy/scipy/blob/master/scipy/integrate/_ivp/rk.py#L132-L166) is supposed to be finding the correct value of `h_abs`. Somehow, `h_abs` gets corrupted into NaN, which causes the loop to get stuck. I am not sure where this NaN is getting generated. The solution is probably to add a check [here](https://gi

[2020-02-23 19:40] drhagen commented on #9686
When the solver takes steps below the minimum step size, what should happen:

1) Solver takes steps of size `min_step` and produces an answer that is less accurate than `rtol` and `atol` would otherwise allow
2) Solver raises and exception saying that it cannot proceed faster than the desired `min_step`

[2020-02-23 20:35] person142 commented on #11576
So the failing part was reworked quite heavily recently in https://github.com/scipy/scipy/pull/11304, so there's a reasonable possibility that it's a real bug. @ilayn WDYT?

[2020-02-23 20:38] person142 commented on #11576
@WillTirone in the meantime, you can try using e.g. the `-s <submodule>` flag to restrict the tests to a particular submodule. If the tests for other submodules pass, then it increases the chance that there's a SciPy bug, and it might also unblock you on whatever you are trying to work on.

[2020-02-23 20:40] ev-br commented on #11448
Indeed, looks like a typo. Care to send a PR with the fix?

[2020-02-23 20:46] andyfaff commented on #11576
@WillTirone this is an ideal situation for a `git bisect`. if you can find a last known commit that works, it allows you to find the exact commit that broke things. If you can find the submodule that fails the test then that would speed up the process.

[2020-02-23 22:03] Marco-Sulla commented on #11562
Well, the problem is I would that the ATLAS libraries will be found when I simply do `pip install scipy`.

About `gfortran`, I simply created a symlink. Anyway it's strange that SciPy knows that I have installed GCC 9.2.0 (how?!?) and not gfortran 9.2.0...

[2020-02-23 22:47] WillTirone commented on #11576
@andyfaff cool! Thanks for the suggestion - per git bisect, it looks like 6bb954d3ce5c743b008bc9036dc29e6f34640b80 is the first bad commit, so it is actually a Scipy issue.

[2020-02-24 00:23] mdhaber commented on #11570
Not that I can tell!

Agreed. I'm not sure, but I think this - like the list of tuples form of bounds - was inherited from the original `linprog`. We need to accept `None` from the user, but I would agree that this should be converted to `(-)np.inf` and we should never look back.

Great! I'm looking forward to reviewing this. My concern is that if you do this all at once in one big PR, this is goi

[2020-02-24 01:12] mdhaber commented on #8278
@john-mathew are you able to provide your problem?

In your case, is `np.prod(A.shape) > np.iinfo(np.int32).max` true or false?

If `True`, does that mean you are still getting the error with 64-bit `indptr` and  `indices`?

If `False`, can you tell me what  `np.prod(A.shape)` and `np.iinfo(np.int32).max` are?

[2020-02-24 03:25] episodeyang commented on #11578
okay it looks like `pmf` also does not have a doc string:

![Screenshot 2020-02-23 19 24 23](https://user-images.githubusercontent.com/630490/75127130-37c2df80-5672-11ea-8739-c7bec299e980.png)

[2020-02-24 04:49] swallan commented on #11224
I'm not too picky–they're all mostly written.

[2020-02-24 04:55] andyfaff commented on #11576
The bisect may not be perfect if the test failure is not consistent.

[2020-02-24 05:34] swallan commented on #11224
@Kai-Striega
I'm taking a look at running the tests for this one, and I think that in the wrapper `z` cannot depend on `n ` or should accept None since `z` is not used in all of the `compz` values -

And my reading of the documentation makes me think that z is not an input when `compz=I` either

[2020-02-24 07:17] TejasAvinashShetty commented on #8922
Any progress on this?

[2020-02-24 08:15] andyfaff opened #11579 "special.factorial test failure with Python 3.9"
With Python 3.9a3
[code]

[2020-02-24 08:17] TakshKamlesh opened #11580 "Invalid next size error while building scipy"
I am in the process of following the exact steps as mentioned in the scipy contributer guide in order to obtain a development version of scipy . When I run the code ' python3 runtests.py -v ' on terminal , on after passing 22% of the test , it gives an error :

scipy/linalg/tests/test_decomp.py::TestEigh::test_eigh_integer realloc(): invalid next size
Fatal Python error: Aborted

Sorry its not rea

[2020-02-24 08:24] andyfaff commented on #11580
duplicate of #11576

[2020-02-24 08:24] #11580 closed

[2020-02-24 08:40] keithbriggs opened #11581 "DOC: scipy.interpolate.RectSphereBivariateSpline"
A couple of doc issues here:

v has to be a "1-D array of latitude coordinates in strictly ascending order. Coordinates must be given in radians and lie within the interval (0, pi)". But actually, a v in this range is a colatitude, not a latitude (latitudes go from -pi/2 to pi/2).

Also, it should be emphasized that (0, pi) really does mean an open interval, and 0 and pi are not allowed for v. If

[2020-02-24 08:40] TakshKamlesh commented on #11580
Thanks

[2020-02-24 08:41] ilayn commented on #11576
This smells like rather an anaconda and/or MKL bug. Also we should be able to make people work with regular virtual environments.

[2020-02-24 11:21] janvle commented on #11570
Thanks @mdhaber, that is quick & clear.

You are right about the need to break this up into smaller pieces. I've given it some thoughts this weekend. This might be the way to do it:
* Standardize `bounds` (into a Nx2 numpy array)
  This involves `_clean_inputs` mainly. There are small changes in a couple of other functions in _linprog_util.py, mainly comments, and a couple of locations where `None

[2020-02-24 12:47] mwageringel commented on #11577
After compiling with ATLAS on machine 2, the computation works correctly for me as well, so indeed this seems to be related to OpenBLAS.

I have also been able to reproduce the issue with R and OpenBLAS, using the geigen package – independently from SciPy.

[2020-02-24 14:55] mdhaber commented on #11570
Sounds good!

[2020-02-24 15:19] WillTirone commented on #11576
@andyfaff good point - there was actually one test that gave me 55% before failure that I marked as "good" because it was a different failure point, although i thought marking that as "bad" would obfuscate the issue.

@ilayn any way to check if its an Anaconda bug? and by regular do you just mean using the virtualenv module or?

[2020-02-24 15:27] ilayn commented on #11576
@WillTirone yes just creating a virtualenv and installing the dependencies and following the rest.

[2020-02-24 15:41] felixhekhorn commented on #11448
see #11582

[2020-02-24 17:16] tylerjereddy commented on #11577
We may want to get a PR going adding a unit test that fails for this case & then see if it can be repaired when we bump OpenBLAS version the next time. I think we'll likely bump from `0.3.7` to `0.3.9`, which is likely to be out soon-ish given the issues with `0.3.8`.

Going a step further, we may want to report upstream to OpenBLAS right away if this can be reproduced on OpenBLAS `develop` branch

[2020-02-24 17:16] tylerjereddy commented on #11577
cc @martin-frbg

[2020-02-24 18:03] martin-frbg commented on #11577
What is the machine #1 hardware - is it E5-2660 a.k.a Sandybridge as well ?

[2020-02-24 18:16] mwageringel commented on #11577
It is an old MacBookPro8,1 Intel(R) Core(TM) i5-2415M CPU @ 2.30GHz.

[2020-02-24 18:43] martin-frbg commented on #11577
thanks, that would make it Sandybridge as well, and the bug is probably equally old.

[2020-02-24 19:06] ryanlu41 opened #11583 "gabor filter and PCA whitening in ndimage"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Add nd Gabor filters and PCA whitening to the current processing functions in ndimage. The gabor filter would allow for more image processing of higher dimensional images, since most implementations are restricted to 2 dimensions.

**Describe alternatives you've considered**

**Additional conte

[2020-02-25 01:18] person142 commented on #11579
@rlucas7 looks like our abstract discussion of whether to ban floats in this case has become less abstract.

[2020-02-25 03:06] sethtroisi opened #11584 "Python 2 code cleanups"
I'm excited about removing old code that is no longer supported; e.g. Python 2 and Python <= 3.4(5?)

For Numpy I cleaned up
* `import six`
* `PY_MAJOR_VERSION` and `PY_VERSION_HEX`
* `NPY_PY3K`
* C module initialization and return
* `getbuffer` and `newbuffer` (I'm not sure  if this is needed in SciPy)
* `__nonzero__`
* open tar/gz files

For SciPy I also see
* `__Pyx_PyNumber_Divide`

I'm creati

[2020-02-25 04:05] rlucas7 commented on #11579
@person142 yeah, that's going to be fun to fix :)
I guess we should start with a deprecation warning?
I'm assuming we want to also deprecate float inputs-IIRC we both wanted to deprecate but it was messy...
for ref: https://github.com/scipy/scipy/pull/11254
I think the warning or value error was getting consumed in the build and ignored by cython:
https://github.com/scipy/scipy/pull/11254#discussi

[2020-02-25 04:13] andyfaff commented on #11579
It seems to only deprecated in Python 3.9a3 at the moment, so we may have a while?

[2020-02-25 05:03] santiher opened #11586 "Differential evolution breaks with LinearConstraints with sparse matrixes"
Differential evolution breaks if a LinearConstraint built with a sparse matrix is given as argument.

LinearConstraint's *A* parameter can be a sparse matrix:

[code]

Yet when differential evolution does:

[code]

If `constraint.A` is a sparse matrix, *A* will be a 2d array of (1, 1) with the sparse matrix in `A[0][0]`, breaking the `A.dot(x)` due to shape mismatch. Example:

[code]

If `constrai

[2020-02-25 06:21] Kai-Striega commented on #11224
I think it's still included, it's just not referenced. For the case where
compz=I, z is definitely included as, on return, it contains the
orthonormal eigenvectors of the tridiagonal matrix. Although I agree that
not having to explicitly pass z would be nice.

On Mon., 24 Feb. 2020, 13:34 Sam Wallan, <notifications@github.com> wrote:

[2020-02-25 09:03] swallan commented on #11224
Opened a pull request to add the tests for this wrapper.

[2020-02-25 13:08] rlucas7 commented on #11579
@andyfaff that is true, it doesn’t look like 3.9 is released until October 2020 so that deprecation won’t go in effect until after the next scipy release. I looked around and couldn’t find the deprecation policy for the math library, not sure how long we have to deprecate, I’d guess until 4.0 python release.

Sincerely,

-Lucas Roberts

[2020-02-25 14:48] e-q commented on #11558
Yes, a separate PR would be preferable. I'll be happy to review what you put together!

[2020-02-25 15:17] lrnv commented on #10740
Hi,

If i understand correctly the thread here : http://scipy-user.10969.n7.nabble.com/SciPy-User-optimize-fmin-slsqp-bounds-problem-td18779.html the problem might come directly from the SLSQP fortran code, and is there since a few years now... Sadly i have no capabilities of reading fortran !

[2020-02-25 15:52] fabienlefloch commented on #9904
I have some doubts about the validity of the smoothing approach implemented here, as well as specified in various references such as Wendland (2006) _Computational Aspects of Radial Basis
Function Approximation_ or Myers (1999) _Smoothing and interpolation with radial basis
functions_.
In particular, the classic Tikhonov regularization
`min ||A*x - y||^2 +lambda*||x||^2`,
does not reduce to the le

[2020-02-25 20:02] episodeyang commented on #11578
Not sure how useful this doc string is. It would be really nice if the actual doc string shows, because the context switching cost of using `?` in jupyter is already quite high.

<img width="894" alt="Screenshot 2020-02-25 12 00 45" src="https://user-images.githubusercontent.com/630490/75282881-9f8a3f00-57c6-11ea-9358-73ffb95c01b6.png">

[2020-02-25 20:33] andyfaff commented on #11586
closed by #11587

[2020-02-25 20:33] #11586 closed

[2020-02-25 22:38] anbai106 commented on #5586
Sorry to reopen this issue. I encountered the same issue:

1) Platform: Ubuntu 18.04
2) scipy version 1.3.1

error from this code:
`U, S, V = svd(X, full_matrices=False, lapack_driver='gesvd')`

The returned U contained Nan values....

Do you have any ideas for this?

Best regards

Hao

[2020-02-25 23:13] anbai106 commented on #5586
I found the reason why I got those Nan values (It's not a reason actually). The error came only for this version of numpy (1.17.2) and  scipy(1.3.0). I ran the same job on another ubuntu machine who has numpy (1.16.4) and scipy (1.3.0). It worked without this issue...

I don't know why, but it seems that numpy==1.16.4 impacted somehow and gave wrong results for svd function

[2020-02-26 02:25] kamocat opened #11591 "signal.cheby2 and signal.ellip don't produce expected frequency response"
My issue is about the frequency response of Chebyshev II and Elliptic digital filters.
From my input I am expected a low-pass filter, but the result is more like a notch filter. Butterworth and Chebyshev I work as expected.

#### Reproducing code example:

This is a minimal example, but I have a more interactive example in a [gist](https://gist.github.com/kamocat/ec358157a3d11b20074d441744f1912a)

[2020-02-26 02:28] rlucas7 commented on #11365
Related (recently made) comment in the commit:
https://github.com/scipy/scipy/commit/c509c0fef73fba0b65b03514e1920b9347b2e633#commitcomment-37401479

[2020-02-26 02:48] kamocat commented on #11591
For comparison, here's a plot from Octave using the following script:
'''
pkg load signal
[b,a] = cheby2(11, 50, 0.4)
w = linspace(0, pi, 512)
freqs(b, a, w)
'''

![octave_cheby2](https://user-images.githubusercontent.com/175229/75306950-57d3d980-57ff-11ea-8973-d6a76f6eaecd.png)
As you can see, this is a low-pass filter,

[2020-02-26 02:52] kamocat commented on #11591
Huh. Looks like I have a bug in my code.
This works fine:
'''
sos = sig.cheby2(N=11, rs=50, Wn=0.04, output='sos' )
'''

[2020-02-26 02:52] #11591 closed

[2020-02-26 02:53] larsoner commented on #11591
Thanks for figuring it out and following up @kamocat

[2020-02-26 05:54] SamuraiAku opened #11592 "Cannot build SciPy from behind corporate proxy"
My issue is about building SciPy when behind a corporate proxy. Before building from source (for example, linux on ARM), the installation scripts will first try finding a wheel from GitHub. But if the user can only reach GitHub through a proxy we have an issue. The installation scripts have no visible option for setting a proxy, with the result that the connections will fail. When that happens, in

[2020-02-26 05:56] andyfaff commented on #11592
This is not a scipy issue. You could try setting the HTTP_PROXY environment variable to help. Or down load the source packages from a browser first.

[2020-02-26 05:56] #11592 closed

[2020-02-26 05:56] rgommers commented on #11592
Hi @SamuraiAku, there's nothing SciPy-specific about this, any package with dependencies will act like that if you use `pip` to build. You can see if you can give `pip` a proxy, or simply build locally with `python setup.py install` (need to separately download the `.tar.gz` sdist)

[2020-02-26 06:02] SamuraiAku commented on #11592
If you look in the above example, pip is downloading the tar.gz and running the setup.py script I believe.  I am giving pip a proxy and that works for many other libraries where the setup.py is not attempting it's own downloads.  In this scenario the problem is passing the proxy address into setup.py.

[2020-02-26 06:08] rgommers commented on #11592
What's happening is that `pip` sees that SciPy has a `pyproject.toml` file which contains build dependencies, that it then tries to download. So either this is a `pip` bug not respecting the proxy (looks likely here), or it's something in your proxy config. It is not happening in our `setup.py` file.

[2020-02-26 06:19] Harveyt47 opened #11593 "minimize_scalar issue"
My issue is about the ``minimize_scalar`` in ``scipy``. Under an older version of ``scipy`` this code did to work (at least 1.3.1), now there is some error occurring.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[code]

[2020-02-26 06:42] EverLookNeverSee opened #11594 "Unable to run runtests.py in virtual emvironment"
After [this issue](https://github.com/scipy/scipy/issues/11576) which was related to anaconda,
i decided to install scipy in dvelopment mode in python virtual environment, but when i ran
`python runtest.py -v` , i got error below:
![runtests](https://user-images.githubusercontent.com/57490926/75318767-69a99100-5880-11ea-9101-c3626c79bb91.png)

[2020-02-26 06:50] ev-br commented on #11593
Line 1880 is pretty clear: `or np.isnan(fu)` has as mistyped `fun`.

[2020-02-26 07:08] andyfaff commented on #11592
What happens if you try and install numpy and cython individually?

On Wed, 26 Feb 2020, 17:02 SamuraiAku, <notifications@github.com> wrote:

[2020-02-26 07:33] andyfaff commented on #11593
A duplicate of #11207, which was fixed by #11208

[2020-02-26 07:35] andyfaff commented on #11593
I've marked that PR for 1.4.2, and as a backport candidate

[2020-02-26 07:35] #11593 closed

[2020-02-26 08:04] HPLegion commented on #9382
Hi,

I remember doing something similar and I had mixed results (it probably depends a lot on the ODE itself and just how nonlinear it is). What I found dangerous about this is, that sometimes it would solve the problem but the solution was nonsense (and that was not always immediately obvious). However it has been some time since I dealt with this, and I don't really feel qualified to say too muc

[2020-02-26 10:24] 99991 opened #11595 "scipy.spatial.cKDTree construction slow for some datasets"
Construction of `scipy.spatial.cKDTree` takes `O(n^2)` time instead of `O(n log n)` time on some datasets. In my particular case, I have feature vectors derived from image pixels combined with pixel coordinates.

When running the code below with the attached image (does not happen with all images!), the construction time of `cKDTree` on random feature vectors will barely increase at all, while the

[2020-02-26 10:28] EverLookNeverSee commented on #11594
This was because of python3.7 and python3.8 conflicts.

[2020-02-26 10:28] #11594 closed

[2020-02-26 11:56] rahulmohang opened #11596 "Version of BSD license not mentioned in a lot of files."
Hello all,

Some of the examples:

scipy-1.4.1.zip/scipy-1.4.1/scipy/sparse/csgraph/tests/test_graph_laplacian.py

In general - scipy-1.4.1.zip/scipy-1.4.1/scipy/sparse/csgraph/tests/*.*

scipy-1.4.1.zip/scipy-1.4.1/scipy/sparse/csgraph/_traversal.pyx

The authors are Gael Varoquaux <gael.varoquaux@normalesup.org> and Jake Vanderplas <vanderplas@astro.washington.edu>.

@GaelVaroquaux , @jakevdp ,

[2020-02-26 12:12] erheron commented on #11503
Hi! I would like to work on this issue. I'll  share some thoughts soon

[2020-02-26 12:14] julians89 opened #11597 "cdf for scipy.stats.multivariate_normal incorrect"
Hi scipy community,

Quite confused at the moment. First time stats user here, trying to to something quite trivial but failing.

I'm trying to evaluate a multivariate gaussian on rectangular region. In uncorrelated distribution conditioning a single variable on half the interval e.g. (0, inf) should return probability of .5 not 1!

Python 3.7.1
Scipy 1.4.1

n = 3
mu = np.zeros(n)
cov = np.eye(n)

[2020-02-26 13:13] EverLookNeverSee commented on #11576
Hello @WillTirone , Could you solve this issue using python virtual environment?

[2020-02-26 14:41] WillTirone commented on #11576
Hi @EverLookNeverSee, I've been pretty busy this week but I am going to attempt it tomorrow night!

[2020-02-26 14:46] rgommers commented on #11596
@rahulmohang those files were contributed under the SciPy license. both people you pinged are long-time contributors to SciPy.

[2020-02-26 14:46] #11596 closed

[2020-02-26 15:05] rahulmohang commented on #11596
@rgommers , thank you.

[2020-02-26 15:46] GaelVaroquaux commented on #11596
I confirm what  @rgommers said!

[2020-02-26 16:09] fahrrad13 opened #11598 "output of special.voigt_profile when sigma=0"
Hey!

scipy.special.voigt_profile(x, sigma, gamma, out=None) returns NA when sigma=0.
However, I would have expected/it would be useful if in that case it returns a Lorentzian profile, as e.g. described here:
http://apps.jcns.fz-juelich.de/man/voigt.html
Best,
Alex

[2020-02-26 18:49] detrout opened #11599 "What's the license for scipy/stats/stats.py?"
Starting at the derived version in Dask I saw this header at the top of stats.py

[code]
Below is a disclaimer that does not seem to grant any redistribution rights.
https://github.com/scipy/scipy/blob/master/scipy/stats/stats.py

I found that a 2005 copy of stats.py had a GPL-2 header
https://web.archive.org/web/20051224003609/http://www.nmr.mgh.harvard.edu/Neural_Systems_Group/gary/python/stats.

[2020-02-26 19:37] rkern commented on #11599
Gary contributed it to SciPy under the SciPy license.

[2020-02-26 19:37] rkern commented on #11599
Which is BSD-ish.

[2020-02-26 19:40] detrout commented on #11599
Ok thanks.

I don't know if anyone else will look for copyright headers in source files and get confused by the disclaimer at the head of stats.py, but would it be worth mentioning that it was contributed under the scipy license?

[2020-02-26 19:49] detrout commented on #11599
Honestly the above answer is good enough for now.

[2020-02-26 19:49] #11599 closed

[2020-02-26 19:55] rkern commented on #11599
Our licensing information is consolidated in the main `LICENSE.txt`. Exceptions to the rule are listed there. I don't mind people checking our work on a file-by-file basis, but I'm not sure what would help in this case.

We should add a line for Gary in the `THANKS.txt` file, though. That was a big contribution near the start of the project before we started listing that stuff individually.

[2020-02-26 19:56] rkern commented on #11599
Ah, no, he's there.

[2020-02-26 20:11] detrout commented on #11599
Ah I didn't check THANKS. I'd just looked in the two LICENSE files

[2020-02-26 20:48] SamuraiAku commented on #11592
@andyfaff   I installed “wheel” separately and that solved my issue. I already had other dependencies installed.

[2020-02-26 21:03] andyfaff commented on #11592
As Ralf said, this will be a problem upstream of the scipy project, probably in pip. I'm glad that you've got things to work

[2020-02-27 00:34] r-menezes commented on #11569
Thanks for the answer @drhagen ,
I was not aware of the capabilities of  individual solvers, I will give that a try!

[2020-02-27 00:40] caglorithm commented on #9389
This issue has been quiet for a while but I was exactly looking for this kind of functionality in `ks_2samp`. I am a modeller and knowing the location of the maximum is important in the context of my work (as @iosonofabio also suggested above). I will use the code above and would certainly appreciate this PR.

[2020-02-27 03:12] #11458 closed

[2020-02-27 03:38] huonw opened #11600 "sparse.csr_matrix.setdiag(0) is slow due to changing sparsity structure"
I'm doing some graph manipulations using adjacency matrices, usually stored as `scipy.sparse.csr_matrix` instances. Some of this involves handling self-loops, which are the diagonal elements. One common operation is removing those loops, i.e. `m.setdiag(0)`.

That operation is very slow (`direct` in the code below), because it unnecessarily changes the sparsity structure, even though the "new" ele

[2020-02-27 03:44] jakevdp commented on #11600
The implementation does not special-case zero values: https://github.com/scipy/scipy/blob/8fe52e3ca02ce7015733443838243017d7ba55d6/scipy/sparse/compressed.py#L827-L855
Unless that is changed, calling ``setdiag`` will change the sparsity structure and will not be efficient.

[2020-02-27 03:44] rlucas7 opened #11601 "linalg tests failing in runtests.py"
My issue is about working on a code change in `scipy.special` tests passed in `special` when performing full test suite before opening a PR the test runner consistently showed a linalg test error. My special changes had no impact on `linalg` (unless if was using `bdtr()` which I don't think is the case here.

I think the issue was related to https://github.com/scipy/scipy/pull/11304 but not certai

[2020-02-27 03:58] EverLookNeverSee commented on #11601
Hi @rlucas7
which one do you use, conda or virtualenv?

[2020-02-27 04:01] perimosocordiae commented on #11600
In addition to `_setdiag` not special-casing zero values, `__setitem__` (which eventually calls `_insert_many`) doesn't special-case them either. That is, `x.setdiag(0)` is actually updating the sparsity structure by inserting explicit zeros into the `data` array.

There have been several discussions over the years about whether `x[i,j] = 0` should update sparsity or not, and there are reasonable

[2020-02-27 04:06] Hongtao-Niro opened #11602 "scipy.optimize.linear_sum_assignment returns reverse diagonal indices for constant arrays in 1.4.1, when it should return normal diagonal indices."
`scipy.optimize.linear_sum_assignment` return reverse diagonal indices for constant arrays in 1.4.1. I found this issue when upgrading scipy from 1.3 to 1.41, where this function yields different results. In 1.3 it returns diagonal indices (e.g. [0,0], [1,1], [2,2] ...) while in 1.4.1 it returns reverse diagonal indices (e.g. for array with shpe [20, 20], the returned indices are [0, 19], [1, 18],

[2020-02-27 04:58] ilayn commented on #11601
That commit didn't touch qr parts so probably mkl version is changed.

[2020-02-27 05:27] rlucas7 commented on #11601
@EverLookNeverSee I have a conda virtual env called (scipy-dev),
@ilayn thanks for response, is there a way for me to tell which MKL version I'm running?
(not sure if that aids in debugging but presuming it would)

[2020-02-27 05:34] EverLookNeverSee commented on #11601
@rlucas7
I had this problem with conda too, until i used virtualenv instead of conda.

[2020-02-27 10:01] Marco-Sulla commented on #11562
This is the result with Python 3.8.1 on Rasbpian, using simply `pip3.8 install scipy`:

[code]

What does it means? The libraries were found or not?

[2020-02-27 14:20] erheron commented on #11503
@aardvarkkrill  it's said in documentation that "default size is 3 for each dimension" and "array will be automatically 0-padded", so when You have 1-element array it should add 2 zeros, and then return 0 as median value. I think it maybe be helpful to add such special case for documentation, but this is definitely not an issue, so might be closed.

[2020-02-27 18:24] grlee77 commented on #11503
I agree with @erheron that it is not a bug for the reason explained. Setting `kernel_size=1` gives the expected result @aardvarkkrill was expecting.

One possibility would be to raise a `UserWarning` for cases when the signal size is less than the `kernel_size`.

[2020-02-27 19:24] aardvarkkrill commented on #11503
I'm happy to accept that the function agrees with the documentation.

However, I feel that the filtered list should lie in the same "range of values" as the unfiltered list in some way.  For example, a law like:  medianfilter(k*xs+m) = medianfilter(k*xs)+m   (where xs is a numpy array, k and m are any floats.)  To achieve this I imagine the kernel would have to shrink for shorter inputs, or pad wi

[2020-02-27 19:56] jmmanley commented on #11140
Which version of scipy are you using? (You can check by running `scipy.__version__`).

The docs are for v1.4.1. The 0.1% and 0.5% critical values were added in #8990, and I updated the docs in #10301. So you are probably just using an older version of scipy.

The source code here shows how the 7 critical values are calculated: https://github.com/scipy/scipy/blob/eab70a880439180f0bffefd7bb53c436418

[2020-02-27 21:16] bsxfan commented on #10841
I am finding the same problem with `dtrmm`  with `side = 1` in scipy 1.4.1. In contrast, `dtrsm` works fine under the same circumstances.

[2020-02-28 01:11] WillTirone commented on #11576
![image](https://user-images.githubusercontent.com/42592742/75501196-46283880-599d-11ea-8fee-20ec58428a9b.png)

[2020-02-28 04:02] EverLookNeverSee commented on #11576
@WillTirone
what is default python version on your system(preinstalled)?
How many python3 interpreter do you have in your venv?
I mean python3.7 and python3.8

[2020-02-28 06:04] #10014 closed

[2020-02-28 09:10] giaf commented on #10841
IMO, the issue is that the scipy wrapper for `dtrmm` was written taking inspiration from the one for `dgemm`, i.e. assuming that general matrix multiplication and triangular matrix multiplication are similar.

However, in the BLAS API, they are quite different, while the BLAS API for `dtrmm` and `dtrsm` are fundamentally identical. So a better approach would be to take inspiration form the (workin

[2020-02-28 09:24] ilayn commented on #10841
It's the k part in the line that I've marked above that needs a fix.

[2020-02-28 09:29] EverLookNeverSee commented on #10841
Hi @ilayn , I don't have enough experience in fortran language in order to fix this issue.
Feel free to fix it :)

[2020-02-28 12:54] bsxfan opened #11606 "Avoid some unnecessary copying in scipy.linalg.blas and scipy.linalg.lapack"
I am a Python novice, but I have some experience with BLAS / LAPACK via Julia.

I believe I have uncovered a possible efficiency improvement that could be applied to `scipy.linalg.blas`, but possibly it could also affect `numpy` and any other code that makes similar use of Python to BLAS/LAPACK interfaces.

I believe that some (or all?) of the interface routines in `scipy.linalg.blas` (and maybe a

[2020-02-28 13:03] bsxfan commented on #10841
While experimenting with `dtrmm`, I have discovered and logged another issue (https://github.com/scipy/scipy/issues/11606), which may have potentially wider implications in the BLAS/LAPACK interfaces.  @ilayn when you are busy with the `dtrmm` code, could you possibly check if the blas-compatibility checks there agree with what I have described in  (https://github.com/scipy/scipy/issues/11606)?

[2020-02-28 13:23] astoeriko commented on #9686
Thanks for following up on this. I must admit that I am not entirely sure anymore what was my intent behind this question. I think I wanted to prevent the solver from taking tiny steps  when passing a particularly bad parameter combination, rather having the solver give up than taking ages to solve the ode.

That would mean that option 2 (raising an exception) is what I needed.

[2020-02-28 13:34] ilayn commented on #10841
These are all performed by f2py so we don't have too much control over these. But yes I will. However note that `is` operator does not check memory copies. So it needs a bit deeper investigation.

[2020-02-28 13:56] bsxfan commented on #10841
One can also check if the input argument (`S` or `D` in  https://github.com/scipy/scipy/issues/11606) was overwritten by `dtrmm`. I did and that supports my conclusion.

[2020-02-28 13:58] WillTirone commented on #11576
@EverLookNeverSee 2.7 was my default and 3.6 was what I used to run the test - I can attempt with 3.7 as well.

[2020-02-28 14:27] Henrik-AI opened #11607 "jac argument for scipy.integrate.solve_ivp() ignored"
The jacobian argument is not used and not validated. Passing some wrong datatype, int(42) for example, errors are thrown. The callable is never called!!!

#### Reproducing code example:

[code]

#### Error message:

This should print an error or at least 'hello world'. Unfortunately it turns out, the jacobian function is never called!

#### Scipy/Numpy/Python version information:
[code]
1.4.1 1.18

[2020-02-28 14:29] Henrik-AI commented on #11607
seems to be related to #10793

[2020-02-28 15:19] gholdman1 commented on #11607
According to the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.solve_ivp.html), `solve_ivp` defaults to using the `RK45` method (Runge-Kutta method of order 5(4) ). This algorithm does not use a jacobian. See [this answer](https://scicomp.stackexchange.com/questions/14635/is-there-a-relatively-simple-way-to-extract-the-jacobian-from-a-runge-kutta-4-5) on stac

[2020-02-28 16:13] EverLookNeverSee commented on #11576
@WillTirone
- Remove your virtual environment
- remove conda environment(completlly)
- keep only one python3 interpreter on your system
- update python3 version to python3.8
- create a new virtual environment using command below:
`python3 -m scipydev /path/to/new/virtual/environment --system-site-packages`
- activate virtual environment using command below:
`source scipydev/bin/activate`
- install

[2020-02-28 18:21] WillTirone commented on #11576
@EverLookNeverSee thank you! Should I close this issue?

[2020-02-28 19:14] EverLookNeverSee commented on #11576
@WillTirone Yes, if the problem is solved!

[2020-02-28 19:27] #11576 closed

[2020-02-28 19:31] EverLookNeverSee commented on #11576
@WillTirone
Your welcome and Good luck.

[2020-02-28 20:24] WillTirone commented on #11576
as a last follow up - is there a place to discuss scipy-related issues (other than formally opening an issue) on a slack / discord or something, or just the dev mailing list?

[2020-02-29 00:05] drhagen commented on #9686
I support a `min_step` option that raises an exception when tolerance cannot be met above that step. We sort of already have this, but with a min step of 0; if the solver takes a step size less than epsilon, the solver crashes.

[2020-02-29 09:20] Kai-Striega commented on #11374
@swallan I've created a branch on my repo for you to look at. I've tried running the tests, but they don't seem to be passing. This is largely because ?pttrf is missing.

Another thing is that the signature is ``df, ef, x`` **not** ``x, df, ef`` as was suggested above. I'm not really sure how to go about changing the order of the arguments, perhaps @ilayn or @mdhaber can give a suggestion?

[2020-02-29 10:11] swallan commented on #11374
I see that the nag real type test is passing (with the args in the new order), and will investigate the others later today! For now I will swap orders.

and will break apart this very mega test into the more specific parts.

[2020-02-29 10:12] rgommers commented on #11576
Just the scipy-dev list. Most maintainers have only a few hours per week for SciPy outside of their day job, so a synchronous messaging option like Slack hasn't really been a good option so far.

[2020-02-29 12:56] ilayn commented on #11374
Order is defined by the most outer definition starting with `subroutine`. There it is up to us to reorder args. The inner callstatement is the fixed Lapack signature but they are independent.

[2020-02-29 16:58] WarrenWeckesser commented on #11122
+1 for adding Welch's ANOVA to SciPy.  We'll be working on expanding the tools available in SciPy for analysis of variance, and we should include Welch's ANOVA in that work.   As @josef-pkt points out, we can't simply copy code that was derived from R code that has a GPL license.  Out of an abundance of caution, it will be best if we go back to the literature and work from original sources when pr

[2020-02-29 17:40] josef-pkt commented on #11122
I'm working on my statsmodels PR with several versions of Anova
The Welch version could be easily added with the equal var is False option

The computation just follow the formulas, so we always end up with something like the R derived code above, with maybe different names.

[2020-02-29 18:22] josef-pkt commented on #11122
I went through the docs of several R packages to see which anovas they have.
The core packages have standard f-oneway and the unequal var/welch option.
I think that would be a useful addition for scipy.

Different versions of anovas are spread out across R packages, Yuen for trimmed mean, and Brown-Forsythe and James for other ways to handle heteroscedasticity for oneway mean anova.

Similarly, th

[2020-02-29 18:31] josef-pkt commented on #11122
If there is a refactoring of anova in stats, then it would be useful to add a `oneway_fromstats` (or similarly named) function similar to what was added for t-test.

I started out with three anova functions, but will combine them and delegate to a "generic" from stats version (not properly unit tested yet)
https://github.com/statsmodels/statsmodels/pull/6526/files#diff-35bca0fba301134cbe2dfeb0f32b

[2020-02-29 21:58] swallan commented on #11374
@Kai-Striega

I think that ef should be dimension n-1 in the wrapper, no?

[2020-03-01 05:44] EverLookNeverSee commented on #11601
@rlucas7
Try these instructions:
https://github.com/scipy/scipy/issues/11576#issuecomment-592583447

[2020-03-01 06:17] andrewfowlie opened #11610 "Analytic formula for normal moments"
**Is your feature request related to a problem? Please describe.**

I noticed that the scipy.dist.norm normal distribution uses numerical quadrature to compute the non-central moments in the moment member function (norm.moment)

**Describe the solution you'd like**

The moments can be expressed in terms of analytical formula which should be faster and more precise. The analytic formula use hyper g

[2020-03-01 12:46] Kai-Striega commented on #11224
@ilayn I'd like to check something with you. The definition of `ldz` is:

This means that ldz can be either 1 or n, depending on `compz`. One way to set this up is:

``integer intent(hide), depend(z, n, compz), check(ldz>=((*compz=='N')?1:n)) :: ldz = max(1, shape(z, 0))``

OR, moving the check into the definition:

``integer intent(hide), depend(z, n, compz) :: ldz = max((*compz=='N')?1:n, shape(

[2020-03-01 12:57] ilayn commented on #11224
Ideally if the char is actually acting like a switch we convert it into integers 0 1 2 to make the switch easier and comparisons to be over integers instead of chars. You can find many examples of compute_v, compute_z etc.

Here the switch is a boolean like. If compute_z is 0 z is an empty array hence optional. But if not zero it needs a check of being n x n. Same for ldz if 0 ldz=1 or it is n.

[2020-03-01 13:17] Kai-Striega commented on #11224
Thanks I'll take a look at compute_z etc. tomorrow morning!

[2020-03-01 18:00] opoplawski opened #11611 "Build failure with gfortran 10"
The Fedora scipy package is failing to build with gfortran 10 due to new argument type enforcement:
[code]

Easiest workaround is to add the -fallow-argument-mismatch argument - though only gfortran 10 will recognize it.

#### Scipy/Numpy/Python version information:

1.4.1

[2020-03-01 20:02] rgommers commented on #11611
They introduced this flag only 6 months ago (https://gcc.gnu.org/ml/fortran/2019-08/msg00118.html) and now it's an error by default? That feels like a GCC bug, things shouldn't break like that.

The correct place to add this flag is https://github.com/numpy/numpy/blob/master/numpy/distutils/fcompiler/gnu.py#L341 I believe. And would need a check function like `_can_target` in that file to see if t

[2020-03-01 21:18] pv commented on #11611
I think that's not so uncommon usage in F77 code (indeed the failures are in ARPACK), so it's surprising it's an error. Does something add `-Werror` to the compiler flags?

[2020-03-01 21:34] opoplawski commented on #11611
Some more info is here: https://gcc.gnu.org/gcc-10/porting_to.html

[2020-03-01 22:19] #11058 closed

[2020-03-02 00:05] tylerjereddy opened #11613 "TST, MAINT: test_quadpack TestCtypesQuad wasn't fully migrated to pytest"
There's a rarely-used codepath that depends on `unittest` module, and can fail on some machines with more unusual setups, as I noticed today:

`python runtests.py --mode=full -t "scipy/integrate/tests/test_quadpack.py"`

[code]

This should be an easy fix with use of an imperative `pytest.skip()` instead now that the test class simply does not inherit from standard lib `TestCase` or whatever. I'll

[2020-03-02 01:10] mdhaber opened #11615 "Add wrapper for ?gbsvx"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?gbsvx](http://www.netlib.org/lapack/explore-html/d3/d49/group__double_g_bsolve_ga5635d8f59dd5ccf4ff36868ecdc20a11.html#ga5635d8f59dd5ccf4ff36868ecdc20a11).

Suggested signature:
[co

[2020-03-02 01:15] mdhaber commented on #11615
The outline above might not be perfect. I've certainly skipped some instructions that I think can be figured out from documentation (like converting to/from banded form, undoing equilibration, etc.). If you run into trouble on any part, let me know and I'll try to fill in the blanks.

[2020-03-02 01:30] mdhaber commented on #11615
@swallan did you think you were done? : )

[2020-03-02 01:45] mdhaber opened #11616 "Add wrapper for ?pbsvx"
See [NumFOCUS Small Development Grant Proposal 2019 Round 3 proposal](https://www.dropbox.com/s/i24h3j2osol56uf/Small%20Development%20Grant%20-%20LAPACK%20%20%28Condensed%29.pdf?dl=0) for background.

Add wrapper for [?pbsvx](https://www.netlib.org/lapack/explore-html/de/d49/group__double_o_t_h_e_rsolve_gaf0406a1d8cc6fce00fd4b23e5edde101.html#gaf0406a1d8cc6fce00fd4b23e5edde101).

Suggested signatu

[2020-03-02 01:50] mdhaber commented on #11616
I modified gh-11615 to produce this issue. Any changes we make to that should probably be reflected here. I might not have overlooked differences between the routines - oops!

[2020-03-02 06:58] swallan commented on #11615
Omg! Another!

[2020-03-02 16:22] gpanders commented on #8571
Hi all, I was able to get Scipy to successfully compile, link, and package on Yocto Linux. I uploaded the recipes and patches to a repo [here](https://github.com/gpanders/oe-scipy).

[2020-03-02 20:38] andrewdelong opened #11617 "linprog returns 'infeasible' for simple unbounded case"
The linprog with interior-point method can return 'infeasible' for cases where the problem is unbounded.

#### Reproducing code example:
If you enter the simple LP
[code]
then pre-solve correctly detects that it's unbounded:
[code]
[code]

But if you convert that LP to standard form
[code]
you find that linprog (interior-point only) considers it infeasible:
[code]
[code]
The bug is very sensitive

[2020-03-02 23:11] mdhaber commented on #11617
I think it's just because of the way presolve works (it finds that if it were feasible, it would be unbounded). Rather than converting to standard form, would you try to set the option `'presolve'=False`?

[2020-03-03 10:48] cbrnr commented on #7895
I think this would be a nice addition. Maybe adding this behavior with a new kwarg (which defaults to the current behavior) could be an option? If scipy devs agree that this is a welcome addition I'd volunteer to contribute a PR - unless someone else wants to do it, such as the original author of the snippet @jcbsv?

[2020-03-03 10:50] cbrnr commented on #7895
In case you need more examples, the [mat files from this website](http://bnci-horizon-2020.eu/database/data-sets) are cell arrays that are basically unreadable with `scipy.io.loadmat` (for humans I mean), whereas the proposed dict alternative makes it really nice and structured.

[2020-03-03 11:17] jcbsv commented on #7895
@cbrnr please go ahead and make the PR

[2020-03-03 11:40] cbrnr commented on #7895
Will do, but I'd like to get feedback from scipy devs first to discuss how to integrate this feature. Currently I see two options:

1. Add a new kwarg to `loadmat`, which if `True` will return the content of the mat file in the new format. This might require testing and excluding certain argument combinations, because currently the conversion only works if `struct_as_record=False` (and I think `sq

[2020-03-03 12:35] prisae commented on #7895
Hey @cbrnr , that would be great. It might be worth to write an email to the SciPy-dev email list, you might get more feedback from there.

[2020-03-03 18:43] grlee77 commented on #11553
There are a couple of possibilities here. I think the issue is most likely just that ndimage does not generally support NaN values well (see also, eg. #7818). I suspect that your `col_array` has some NaN's within it?

As a second possibility, what is the shape of `col_array`? Is it truly `col_array.ndim == 1` or is it something like `(9470780, 1)`? If the latter, then specifying shift=1 as in your

[2020-03-03 19:49] bsipocz opened #11620 "Release notes links point to module rather than section"
I would expected the links in the release notes to point to the section in the notes rather than to the module docs.

E.g. to https://docs.scipy.org/doc/scipy/reference/release.1.4.0.html#scipy-stats-improvements
rather than to https://docs.scipy.org/doc/scipy/reference/stats.html#module-scipy.stats

I'm happy to work on a fix if this is not intentional and others would also expect  the behaviour

[2020-03-03 20:15] MatthewFlamm commented on #11607
The LSODA method switches between nonstiff solver, which does not call the Jacobian, and a stiff solver, which does call the Jacobian.  It detects the stiffness of the problem and only switches to the stiff solver if necessary.  You have provided a nonstiff ODE, therefore the Jacobian is never called in LSODA method.  The LSODA method will call the Jacobian if a stiff problem is used as is shown i

[2020-03-04 00:31] rlucas7 commented on #11601
@EverLookNeverSee thanks for the link, I'll take a look this weekend (hopefully) and let you know how it goes. Right now, as long as I don't do dev work on `linalg` I'm ok.

[2020-03-04 06:41] swallan commented on #11354
@mdhaber
[Here's](https://github.com/swallan/scipy/blob/lapack_support_gejsv/scipy/linalg/tests/test_lapack.py#L1684) the branch that has the tests for gejsv on it. I split this one up when I wrote it into a

- general test with test for each job* value
- specific test with things like the special job* combinations, rank modifications, and error tests.

To follow the model of the other tests, I th

[2020-03-04 07:12] mdhaber commented on #11354
I think the parametrization looks great.  Breaking up the specific tests sounds good. I think I mistyped above when I wrote:

I meant "test with jobu='N' or jobv ='N'".
Let's incorporate these with the general tests, then you'll need something like:

[code]
And let's add the tests for the eigenvalues all the time. Not:
[code]
I think you need to multiply by the ratio of the `work` values, like you

[2020-03-04 09:40] rgommers commented on #11620
This confused me for a little while. I now see what you mean:

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/98330/75865600-14332e00-5e04-11ea-8ea7-8f3d3205b449.png">

The sidebar on the right has the links to the doc sections of the release notes, the ones on the left are to the refguide module overview pages. The reason for the latter is that they're the links from

[2020-03-04 13:48] Henrik-AI commented on #11607
1. What is the decision criterion for stiffness? According to my assumption, my model is a stiff system. Experiments with explicit solvers showed that the required extremely small stepsizes reasoned by the stability, not by the accuracy, which should be a sign for a stiff problem?

2. Is it possible to enforce the solver the use the jacobian nevertheless? Runtime experiments with the other solvers

[2020-03-04 14:31] MatthewFlamm commented on #11607
For 1) you have to go to the documentation for LSODA itself.  Here is the [LSODA source code](https://github.com/scipy/scipy/blob/master/scipy/integrate/odepack/lsoda.f) within scipy from which you can get some background info from the comments and a reference to a paper written on LSODA.

For 2) If you want to enforce it to always use the stiff solver, you wouldn't use LSODA, you would use LSODE

[2020-03-04 15:35] itaoxiaoran opened #11625 "how to output dual variant?"
hi, all

when i use the scipy.optimize.linprog for a simple LP

how can i get the value of dual variant （in a simple way）?

cuz in my problem, the dual variant has some practical significance

[2020-03-04 15:57] ilayn commented on #11625
Hi @itaoxiaoran We are using this repo for code related purposes. You would get more attention and possibly answers on SO or the mailing list for usage questions.

[2020-03-04 15:57] #11625 closed

[2020-03-04 15:59] WarrenWeckesser commented on #11625
There *might* be a feature request implicit in the question.  @mdhaber might have a better idea about that.

[2020-03-04 16:28] mdhaber commented on #11625
This is a feature request, but it is a duplicate. @itaoxiaoran thanks for the suggestion. It is something we want to implement.

[2020-03-04 19:32] bsipocz commented on #11620
oh, somehow I never noticed the sidebar, so much focused on the middle content 😅

[2020-03-04 20:00] ev-br commented on #11610
I think it's the matter of implementing norm_gen._munp method. Which sounds like a reasonable thing to do IMO, so +1.

[2020-03-05 04:44] kyleupton opened #11629 "scipy cosine/correlation distance doccumentation"
Hi,

I'm using the scipy.spatial.distance.cosine function and when i checked the source code i noticed that it just calls the correlation function and forces a mean centring of the data. This default mean centring of the data should be mentioned in the documentation.

It could also be useful to add control over the centring function to the cosine function, or just point users to the correlation fu

[2020-03-05 09:35] stheid commented on #11607
Thank you for your help, i think the issue is now solved for us.

[2020-03-05 12:42] pmla commented on #11602
I do not consider this a bug. The documentation states:

It does not provide any guarantees about which solution will be selected if the optimal solution is degenerate. A square constant matrix has `n!` equally good solutions.

[2020-03-05 14:25] IvanAgafonov opened #11630 "SmoothBivariateSpline bbox parameter"
#### My issue is about SmoothBivariateSpline documantation

It is not mistake, but a clarification. I searched some info about parameters and
i found the information only through another documentation page.

In this doc about [LSQBivariateSpline](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.LSQBivariateSpline.html#scipy.interpolate.LSQBivariateSpline)  we have info about

[2020-03-05 14:33] pmla commented on #11602
@Hongtao-Niro despite my previous comment I made a fix for this which reverts to the old behaviour in #11631.

[2020-03-05 17:32] EverLookNeverSee commented on #11629
Hi @kyleupton
Please explain your issue with more details such as example code , ...
And also you can use feature request issue template in issue tracker section.

[2020-03-06 00:30] kyleupton commented on #11629
Hi ELNS,
Sorry, i misread the source code yesterday. I somehow missed the fact that cosine passes the centered argument with value False when it calls the correlation function.

I can see cosine does what it says on the label :)

I'll close this issue now.

[2020-03-06 00:30] #11629 closed

[2020-03-06 03:19] forced-offline opened #11634 "Building 1.4.1 from source fails with GCC 4.4.7"
I'm trying to install the Python science stack from source in my work environment. I have already successfully installed numpy 1.18.1, but it does fail several tests.

I'm building from source because my Linux environment is behind the corporate firewall and has no Internet access, so I have to download packages on my Windows desktop and transfer them to the Linux machines.

Now I'm trying to inst

[2020-03-06 03:58] rlucas7 commented on #11610
From a quick look it doesn't look like `_munp` method is implemented for `norm_gen`, so would be nice to have that implemented.
@andrewfowlie, not sure how familiar you are with the SciPy code base, the source code for `norm_gen` (the code the generates normal distribution instances is here:
https://github.com/scipy/scipy/blob/master/scipy/stats/_continuous_distns.py#L274
and for an distribution w

[2020-03-06 04:02] EverLookNeverSee commented on #11634
Hi @forced-offline
You can use link below to install python packages without any internet connection and no need to build from source:
https://www.ibm.com/support/knowledgecenter/el/SSWTQQ_2.0.3/install/t_si_pythonpackagesoffline.html

[2020-03-06 04:08] andrewfowlie commented on #11610
@rlucas7 take a look at the PR (https://github.com/scipy/scipy/pull/11627) -  it's basically done

[2020-03-06 04:21] forced-offline commented on #11634
Hi @EverLookNeverSee

Thanks for your quick response. Unfortunately, that also isn't possible because while I have Internet access on my Windows machine, I can't install software on it, and it does not have Python installed now.

Also, it does seem to me that that may not resolve my current build issues, since the error messages appear to be compiler-related and I can't upgrade the compiler on the

[2020-03-06 04:51] andyfaff commented on #11634
You might be able to find a pre-built Linux wheel that is suitable.
I think you should be able to compile from somewhere in the 1.3 release, as pocketfft was added somewhere in that time period. @peterbell10 is that correct?
Lastly, you could try making a docker container with your Linux OS and compiler suite. You should have admin control over that, which means you'll be able to install a recent

[2020-03-06 06:17] forced-offline commented on #11634
Hi @andyfaff

Thank you for your timely response. I tried installing scipy 1.3.3 as you suggested, and it worked, but then I found that there were over 100 errors when I ran scipy.test(). All of them had a message similar to the below one:

`E   ImportError: /apps/local/python/python-3.7.4/x86_64/lib/python3.7/site-packages/scipy-1.3.3-py3.7-linux-x86_64.egg/scipy/linalg/_flapack.cpython-37m-x86_6

[2020-03-06 06:17] #11634 closed

[2020-03-06 06:31] andyfaff commented on #11634
Not necessarily. I've faced the exact issues to you on an ancient cluster. I just made a ~/opt directory, with /bin, /lib, /include directories. Build and compile openblas/atlas/lapack, with a PREFIX to install into ~/opt/lib. Then make sure that opt is early on your PATH. I had to go back to building and installing Python myself.

[2020-03-06 06:48] forced-offline commented on #11634
Hi @andyfaff

That does sound interesting! I guess I could give it a try as my current Python build was already done from source, including cython/openssl/etc, and our users can access it (instead of the system's default Python) by using the modulefile approach (module load python).

So I may just need to build the atlas/lapack/(open)blas libraries into a custom directory, and push that dir to the

[2020-03-06 08:14] pmla commented on #11213
@nmayorov what is your opinion on this? It is quite easy to implement for the `float32' type, but it might also be surprising for a user.

[2020-03-06 08:36] bsxfan opened #11635 "typo in docstring of scipy.stats.norminvgauss"
There  is a typo in the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norminvgauss.html#scipy.stats.norminvgauss) for ``scipy.stats.norminvgauss``.

In the expression for the pdf, f(x,a,b), the bessel function, K_1(...) should be in the numerator, not the denominator.

(I checked this in Wikipedia, in the source code and in one of the references.)

[2020-03-06 12:01] jfmoulin opened #11637 "BUG: core dumps when calling scipy.interpolate.interp1d with array of nans"
I would expect  error to be raised rather than allowing execution of such a show stopper, even after a warning ...

#### Reproducing code example:
[code]

#### Error message:
/usr/local/lib/python3.6/dist-packages/scipy/interpolate/_bsplines.py:798: RuntimeWarning: invalid value encountered in less_equal
  if x.ndim != 1 or np.any(x[1:] <= x[:-1]):
/usr/local/lib/python3.6/dist-packages/scipy/inte

[2020-03-06 13:07] TejasAvinashShetty opened #11638 "better documentation for 'return_all' option in minimize(Nelder Mead)"
My issue is about ... dummy 'return_all' option in scipy.optimize.minimize(method=’Nelder-Mead’)
Basically, the **minimize** function returns an object of class *OptimizeResult*. This has no attribute which would enable it to return the function values at each iteration. This in contrast with the corresponding `retall` parameter in  scipy.optimize.fmin which **minimize** is proposed to replace.
##

[2020-03-06 18:20] ev-br commented on #11637
Indeed.  gh-11639 should fix it.

[2020-03-07 21:48] #11602 closed

[2020-03-07 21:49] tylerjereddy commented on #11602
I merged Peter's adjustment--doesn't hurt to maintain the backwards compatibility I think.

[2020-03-07 22:24] pmla commented on #8859
This issue was resolved by #10494. @tylerjereddy do you want to close?

[2020-03-07 22:27] tylerjereddy commented on #8859
yep, thanks

[2020-03-07 22:27] #8859 closed

[2020-03-07 22:59] rlucas7 commented on #11610
@andrewfowlie I left a review on your PR, thanks for the contribution to SciPy!
The PR is pretty close to done.

[2020-03-07 23:03] c-f-h opened #11641 "Sparse matrix index dtype on Windows differs for CSR/CSC"
I'm testing this on a 64 bit Anaconda installation on Windows 10.

Creating a diag sparse matrix and converting it to CSR or CSC results in two different buffer dtypes for the `indices` array of the resulting sparse matrix:

#### Reproducing code example:
[code]

Although both 'i' and 'l' refer to a 32 bit signed integer on Windows, this makes it trickier to check for the correct buffer dtype in e

[2020-03-08 05:32] mdhaber commented on #11223
@Kai-Striega I see that the tests were merged; can you submit a PR?

[2020-03-08 05:35] EverLookNeverSee opened #11644 "test_constant_cost_matrix FAILED"
My issue is about **test_constant_cost_matrix** located in **scipy/optimize/tests/test_linear_assignment.py**

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
python version: 3.8.1
numpy version: 1.18.1
scipy version: 1.5.0.dev0+2774bec

[2020-03-08 05:37] mdhaber commented on #11354
@Kai-Striega can you start a branch for this so @swallan can submit a PR?

[2020-03-08 09:45] ilayn commented on #11644
Duplicate of #11602

[2020-03-08 09:45] #11644 closed

[2020-03-08 17:13] rgommers commented on #11090
Okay, so this is a bit of a mess, every package/language does it differently. For `scipy.stats` I'd say R is the most important reference, however the most convincing argument here is consistency with `iqr`. So I'm +1 for making a change.

Changing behavior of `median_absolute_deviation` is a bad idea, because it will silently change numerical values for people who already use the current version.

[2020-03-08 17:47] ev-br commented on #8327
https://github.com/scipy/scipy/pull/11619
added a nan_policy arg, closing

[2020-03-08 17:47] #8327 closed

[2020-03-08 20:04] dpoerio opened #11649 "trust-constr error when attempting to keep bound constrained solutions feasible"
I encountered this issue when running some simulations with 1000s of calls to minimize(method='trust-constr'), where the initial starting points always satisfy all inequality (including bound) constraints, but are not necessarily good starting conditions and are close to boundaries. If you run this printing out x from objective function calls you will see the function gets evaluated at [1.23093548

[2020-03-08 20:55] rlucas7 commented on #11090
@rgommers thanks for the guidance here. I think I follow what you mean. Here is how I understand it:
1. The changed function in PR:
https://github.com/scipy/scipy/pull/11431
keeps the signature but changes the name from `median_absolute_deviation` to  `median_abs_deviation` (a new function), I'll add this into the namespace.

Note that the tests in the linked PR are updated for the `scale=raw` cha

[2020-03-09 00:20] rlucas7 commented on #11601
@EverLookNeverSee so I tried those instructions and my build isn't working. The cythonize step isn't succeeding.

to be clear I'm not able to fully follow the steps you have outlined, specifically:

I also have an MXNet dev setup on my home laptop which uses anaconda and python3. That one takes a while to setup and if I remove the 2 things you've mentioned then I'd lose that dev setup.

it doesn't

[2020-03-09 03:42] tylerjereddy opened #11652 "TST, MAINT: CI failures for pre-release NumPy wheels"
Some recent changes in NumPy are causing 2 different tests to fail, depending on the version of Python in play:

[code]

For Python `3.8` only the latter fails.

[2020-03-09 03:42] tylerjereddy commented on #11652
See: https://github.com/scipy/scipy/pull/11608

And many other recent PRs..

[2020-03-09 04:02] tylerjereddy commented on #11652
A clean build of SciPy following a clean build of NumPy at the commit hash of the nightly wheel pulled in for Python 3.8 on MacOS with OpenBLAS 0.3.7 does not reproduce for me: `python runtests.py -t "scipy/optimize/tests/test_minpack.py::TestCurveFit::test_curvefit_covariance"`

I'll try on native linux tomorrow if I have time.

[2020-03-09 06:53] scidam commented on #11595
As @99991 mentioned above, this issue is related to the similar one in Scikit-Learn and could be fixed by slightly adapted version of the [solution](https://github.com/scikit-learn/scikit-learn/pull/11103) proposed for Scikit-Learn. I have replaced partial quicksort algorithm (worst complexity O(n^2)) originally used for build KD-trees with the intro-select algorithm (worst complexity O( n log n))

[2020-03-09 08:07] rgommers commented on #11601
For MKL you can check with `conda list mkl` (in the activated env).

For the failure, `import numpy` is happening within a subprocess kicked off from `process_generate_pyx` in `cythonize.py`. It should happen for you as well if you directly invoke that script with `python3 tools/cythonize.py` (right?).

You could check that `sys.executable` in `process_generate_pyx` is pointing to the right `pytho

[2020-03-09 09:45] sturlamolden commented on #11595
This is due to balancing of the kd-tree. Set ```balanced_tree=False``` when constructing cKDTree with large datasets. When set to False, the kd-tree will be built using the sliding midpoint rule rather than partial sort. It will slightly impair search performance, but construction will be faster.

[2020-03-09 13:42] ilayn commented on #10841
@giaf @tmmsartor and others, if you have the possibility, it would be nice if you can test the fix. Otherwise I'll merge based on my own test results.

[2020-03-09 14:27] sturlamolden commented on #11595
SciPy did not use ```std::nth_element``` because we had to support a compiler that only had C++98. As it stands noe it is OK to use STL from C++11.

[2020-03-09 15:07] rth commented on #8162
Could someone please summarize the current situation on this issue. Is adding sparse ndarray still envisioned as part of scipy roadmap or is all effort now focused on [pydata/sparse](https://github.com/pydata/sparse)?

For instance, for scikit-learn I think the blockers from using pydata/sparse currently would be,
 - lack of native CSR/CSC support: lot of cython code that is written for those form

[2020-03-09 15:43] perimosocordiae commented on #11641
Interesting, I can't reproduce on an Ubuntu machine on master (both versions produce 'i' for me).

This probably arises from the fact that DIA to CSR conversions route through COO format, whereas DIA to CSC has a specialized implementation.

Can someone with a Win10 dev machine reproduce on master?

[2020-03-09 16:50] perimosocordiae commented on #8162
There are no current plans to add a sparse ndarray class directly to scipy.

[2020-03-09 16:56] jfmoulin commented on #11637
Hi!
Thanks for the fast feedback and action.
I now found some time to test. and it passes ! I can cleanup my try/except :0)

Just a practical question:
My scipy was pip3 installed.
I edited the file by hand, but in general, how should I proceed to test such a fix ?
 How should I patch the file ?  Should I rather install this branch ? How (I usually only install master...)?
I would happily rtfm if

[2020-03-09 17:35] ev-br commented on #11637
Yes, the regular way is to build/install the branch

[2020-03-09 19:26] WarrenWeckesser commented on #592
Here's my take on the remaing issues and enhancement requests (a couple are new from me):

* Add `ddof` parameter.  I'm inclined to make the default `ddof=0`, to maintain backwards compatibility.
* It looks like several of Ralf's suggestions for improving the docstring have already been made, but a few more examples would be nice, including one that applies `variation` to a 2-d array with the use

[2020-03-09 21:12] rgommers commented on #8162
- `scipy.sparse.linalg` now supports PyData Sparse arrays as input (since 1.4.0).
- there is indeed no plan to merge PyData Sparse into SciPy, it's good as a standalone project
- PyData Sparse is maturing, but there's still some way to go. Note that it does have a format (CSD) that generalizes CSR/CSC, see https://github.com/pydata/sparse/pull/258.

This is at least a year off I'd say, first PyDat

[2020-03-10 04:19] mdhaber opened #11654 "Add Negative Hypergeometric Distribution"
Part of ["A Solid Foundation for Statistics in Python with SciPy"](https://chanzuckerberg.com/eoss/proposals/a-solid-foundation-for-statistics-in-python-with-scipy/).

Add [Negative Hypergeometric Distribution](https://en.wikipedia.org/wiki/Negative_hypergeometric_distribution) to `scipy.stats`.

See gh-9309 for example of adding a discrete distribution. See methods inherited from `rv_discrete`; o

[2020-03-10 10:17] c-f-h commented on #11641
Yes. Sorry, I forgot to mention that in Linux, both lines result in 'i'. This seems to be Windows-specific.

[2020-03-10 10:40] Barbany commented on #4080
There's clearly something wrong with this function and it's not only about having a discretized input as someone mentioned above. I tried to compute the entropy of a sequence of ones (with int8 data type if discretization was an issue). Clearly the output should be 0, but instead:
[code]

For reproducibility:
* numpy=1.18.1
* scipy=1.4.1

[2020-03-10 10:49] Charlie-Bryant opened #11656 "SciPy Crash No Error Message on maximum_filter"
I am running some code to generate hashes for audio .mp3 files
the code will successfully run sometimes and on others the program will stop and crash (this is reproducible when running generate hash. the code will run for the first hash then when it comes to the second there is a chance it will crash with no error message. I added some logging and traced the error back to the function
local_max =

[2020-03-10 12:59] h-vetinari commented on #11421
Why close this issue then? There are clearly good reasons to upgrade Fortran compatibility, and this issue could serve as a good reminder/tracker of that.

I also don't think that the manylinux1-issue is really that relevant anymore (as mentioned above already, it's quite trivial to move to manylinux2010, and pip supports that for more than a year already; so do the other installers like venv, vir

[2020-03-10 13:42] ilayn commented on #11656
Thanks for taking the time to report this. Do you mind restricting the issue only to the offending line together with its input arguments? It would help us to isolate the issue much quicker

[2020-03-10 13:49] Charlie-Bryant commented on #11656
PEAK_NEIGHBORHOOD_SIZE = 20
arr2D is a very large array generated by def fingerprint()
[code]
maximum filter is the line with the issue! would you like me to remove the rest of the code from the post?

[2020-03-10 15:24] Charlie-Bryant commented on #11656
If I run python -u -m trace this is the last calls made before the exit

[code]

[2020-03-10 17:49] EverLookNeverSee commented on #10841
I am gonna test it.

[2020-03-10 21:15] mdhaber commented on #11223
@Kai-Striega never mind, I went ahead and did it

[2020-03-10 23:59] pvanmulbregt commented on #11654
Also a requirement to read is http://scipy.github.io/devdocs/dev/contributor/adding_new.html#adding-a-new-statistics-distribution

[2020-03-11 01:29] andyfaff commented on #11649
pinging @antonior92 who may have a better idea of what's going on here.

[2020-03-11 12:45] mdhaber commented on #11654
Thanks, Paul. Now I remember seeing that while going through the developer docs.

[2020-03-11 13:02] dgahle opened #11659 "optimize.fmin_l_bfgs_b needs bound check and appropiate error message"
fmin_l_bfgs_b (from scipy.optimize) requires bounds as a list of bounds for each parameter/varriable given as a list [lower, upper]. If any of the bounds are given as [upper, lower] then the fmin_l_bfgs_b runs but the output dict only contains the starting position, zeros and a message saying b'No feasible solution found'. A check that the bounds are structured correctly needs to be added to fmin_

[2020-03-11 16:37] #10841 closed

[2020-03-11 21:10] #11123 closed

[2020-03-11 21:19] josef-pkt opened #11660 "BUG/ENH: distribution.ncf with nc=0 returns nan"
I'm trying to compute the power of some hypothesis tests and ncf doesn't work for nc=0

I guess there is a restriction that the noncentrality parameter has to be > 0.

[code]

The underlying methods look fine:

[code]

[2020-03-11 21:43] coderforlife opened #11661 "scipy.ndimage.convolve1d and correlate1d don't behave properly with mode='mirror' on length-1 dimensions"
`scipy.ndimage.convolve1d` and `correlate1d` don't behave properly with `mode='mirror'` on length-1 axes. It seems to be picking up random data from outside the array.

#### Reproducing code example:
[code]

which has `out` equal to:
[code]
but I expect a result more like:
[code]

Clearly that output isn't right at all (has negative values). Also, it should have tripled every value, so numbers tha

[2020-03-11 22:31] WarrenWeckesser commented on #11660
Let's call it a bug.  It seems reasonable to expect the distribution to return correct values for the edge case when the edge case is well-defined.

[2020-03-12 00:09] #11429 closed

[2020-03-12 00:13] lambe commented on #11410
Most of the computational work in CG (and similar methods) is in the multiplication `Av` for some vector `v`. That operation is likely single-threaded in your code, which is why the performance gets worse. You increase the overhead cost with another thread that ends up not doing anything.

I don't know how `pyamg` implements matrix-vector multiplication, but that's the first place to start.

[2020-03-12 00:23] lambe commented on #11007
Two things to check:
- Does the number of CG iterations go down with preconditioning? (In other words, check that the preconditioner is correct.)
- Are you recomputing the factorization with each iteration? You will have to trace the code to see if that is the case.

[2020-03-12 03:18] grlee77 commented on #11661
Thanks for reporting this @coderforlife.

It seems that the nd variant does not suffer from the same problem. (extending `w` to size 1 along all other axes and using `convolve` instead of `convolve1d` gives the expected result:
[code]

[2020-03-12 08:28] brandonrwin opened #11662 "scipy.optimize.curve_fit fails with xdata that can't be converted to float, against docs"
The scipy curve_fit documentation says that xdata can be an object:

(emphasis mine)

This is currently not respected. Previously, anything could be passed in, but with 1.2.3, it appears that a numpy array is assumed and xdata is modified to float64.

``` xdata = xdata.astype(float) ```

The xdata should not be modified by curve_fit since it's not, in any way, meant for curve_fit to consume. It's

[2020-03-12 08:40] ilayn commented on #11662
This is a no-repro on 1.4 and current master. So apparently it is fixed already.

[code]

[2020-03-12 08:45] ilayn commented on #11662
Duplicate of #10196

[2020-03-12 08:45] #11662 closed

[2020-03-12 08:57] brandonrwin commented on #11662
A quacking workaround for anyone hitting this in 1.2.3:

[code]

Example usage:

[code]

[2020-03-12 09:03] ilayn commented on #11567
Grrrr. This is something that I promise myself everytime that I will fix but keep forgetting it. Care to work on a PR @TomBugnon together with us? We would really appreciate a helping hand .

[2020-03-12 09:07] ilayn commented on #11559
This is kind of expected since otherwise it is yet another annoyance that a user should slice an array (often with unknown contents say generated via `np.logspace`) until it falls below the nyquist freq. I have the opinion that this should be documented properly but kept as valid input.

Same applies to Bode plots for example, a user can still pump frequencies beyond the Nyquist but they probably

[2020-03-12 14:20] nesanders opened #11663 "A method to calculate the compound probability of N independent events?"
First of all, a huge thanks to all the scipy developers for creating this incredibly important library!

**Question**

Is there a method in scipy to calculate the compound "OR" probability for some number, N, of conditionally independent events with probability specified by a list, p?  In other words, a calculation to find the probability that at least one event will occur among N independent even

[2020-03-12 20:28] #11638 closed

[2020-03-12 22:40] vhartman commented on #9822
Hey!

I am assuming there was no significant progress here? I implemented a few of the problems from the proposed test-set, and from some other sources [here](https://github.com/vhartman/ode_test_problems/tree/master).

This would at least save the work of re-implementing a bunch of the problems, if anyone wants to work on them.

[2020-03-12 23:59] ilayn commented on #9822
There is also [Petsc suite](https://www.mcs.anl.gov/petsc/index.html) and it is BSD-2 licensed. They are [active in GitLab](https://gitlab.com/petsc/petsc) and probably supersede the DASSL. We might want to contact them too.

[2020-03-13 00:01] #11223 closed

[2020-03-13 05:39] scidam commented on #11660
This is because [ncf_gen](https://github.com/scidam/scipy/blob/bb3d45051604c2969754862f7416bbd3a151c7d0/scipy/stats/_continuous_distns.py#L5731) class doesn't override ` _argchecks` method (otherwise `rv_continous._argchecks` is used and it checks if all args are positive. It should be overridden as it is done for, e.g., [non-central chi2](https://github.com/scidam/scipy/blob/bb3d45051604c29697548

[2020-03-13 12:13] WarrenWeckesser commented on #11660
@scidam, if you are interested in working on this, a pull request would be welcome!

It would need a unit test two or two to check that a PDF or CDF value computed with nc = 0 agreed with the F distribution.

[2020-03-13 17:30] JesseLivezey commented on #11663
Isn't this the same as 1 - the probability of exactly 0 events occurring?

P(0 events) = (1 - .1) * (1 - .15) * (1 - .2)
P( >0 events) = 1 - P(0 events) = .388

You could calculate this like
[code]

This is probably more stable for large numbers of ps
[code]

Although P(0 events) will tend to get very small and so it will be easier to represent than 1 - P(0 events).

[2020-03-13 17:59] nesanders commented on #11663
Hi @JesseLivezey thanks for taking a look, and good point!  That it the same, and definitely simpler.

For posterity - the time cost of your suggested functions seems to be pretty constant regardless of the size of the probability vector (x AKA ps). The exponential formulation is ~50% slower.  The recursive formulation I started with DOES have size-dependent speed and is a little faster than the e

[2020-03-13 17:59] #11663 closed

[2020-03-13 21:04] bkibmos commented on #9917
Hi, I'm getting the same error when importing

Any idea how to fix this?

[2020-03-13 21:36] mdhaber commented on #11354
The stuff I wrote about eigenvalues above should be replaced by SVD. We can discuss this in person sometime next week?

[2020-03-14 11:11] nmayorov commented on #11572
@Gattocrucco

What if you try to fix it? It looks like a good easy issue to become familiar with scipy development process.

[2020-03-14 12:11] rgommers commented on #10242
Just came across this. @peterbell10 implemented a custom threadpool, there's no OpenMP in SciPy - so I think this can be closed.

[2020-03-14 12:11] #10242 closed

[2020-03-14 17:28] mbakker7 commented on #11258
Can this suggestion be included in the current development branch?

[2020-03-15 06:35] Lee-nju opened #11669 "p-value varies with the order of the data"
My issue is about the results of f_oneway function are not consistent. The size of the p-value varies with the order of the data. Is this a bug?

#### Reproducing code example:

[code]

#### Result:

[code]

[2020-03-15 07:05] WarrenWeckesser commented on #11669
Your data is degenerate, in that the values in each group are constant.  If you work through the analysis of variance calculation, you'll find that this data leads to division by zero when computing the F statistic, so in theory, F should be infinite, and the p-value should be 0.   In the actual numerical calculation, however, the denominator that should be 0 ends up being a small value that is ba

[2020-03-15 07:12] Lee-nju commented on #11669
Thank you for your interpretation, we’ll consider this situation!

Thank you at all,
Gangli

开 2020年3月15日 在 下午3:05:52, Warren Weckesser (notifications@github.com) 写到:

Your data is degenerate, in that the values in each group are constant. If you work through the analysis of variance calculation, you'll find that this data leads to division by zero when computing the F statistic, so in theory, F s

[2020-03-15 10:38] EverLookNeverSee opened #11670 "ENH: Using type hints for scipy functions"
I have an idea about using python type hints for scipy functions and creating new type hints instead of
built-in types.
for example:

[code]

[2020-03-15 11:44] #11595 closed

[2020-03-15 12:10] rgommers commented on #11670
Type annotations would be useful I think. I don't know that much about it, it's unclear to me if it's blocked on https://github.com/numpy/numpy-stubs for better annotations for numpy arrays or not.

[2020-03-15 12:35] erheron commented on #11669
@WarrenWeckesser , is there something which can be done to fix this?
Maybe some `UserWarning` about degenerated data? I would be interested in tackling this

[2020-03-15 13:04] erheron commented on #10200
@matthew-brett any ideas for possible fixes here?
I'd be interested in tackling this, but no thoughts for now :|

[2020-03-15 13:05] erheron commented on #11567
@ilayn does doing a PR require some extra knowledge from signal processing domain?

[2020-03-15 13:43] Lee-nju commented on #11669
Thank you, because the f value cannot be negative, we changed a line in the source code of the f_oneway function, that is, f = msb / msw to f = abs (msb / msw).

Through this we could get the results near of our intention, p-value is near to zero not equal to ‘nan'.

Thank you very much for your enthusiasm and inspiration.

Best regards,
Gangli

开 2020年3月15日 在 下午8:35:33, Vladyslav Rachek (notifica

[2020-03-15 13:49] erheron commented on #9718
Hi! I'm looking into this one now, and I've got a feeling that someone, long ago has copied this line from documentation of I don't know, `UnivariateSpline` class (just my guess), and now it's completely nonsense. I can't see `w` initialized or used nowhere  up to root of inheritance. One more thing is that `s` is used only in one place:
[code]
and I literally can't find what does `regrid_smth` do

[2020-03-15 15:57] erheron commented on #11656
Hi everybody! I'll look into this issue and share some thoughts soon. Would be grateful for any ideas/help too

[2020-03-15 16:27] erheron commented on #11503
I'm working on it now to implement suggestion from @grlee77 . PR will come soon :p

[2020-03-15 20:01] antonior92 commented on #11649
Thank you @dpoerio for spotting this problem.

At some point, the function "of'' is evaluated outside of the region. The following experiment show this happening:
[code]

OUTPUT:
[code]
-----------

I think the error is caused by the combination: approximating the gradient using finite differences and the hessian using quasi-Newton. Looking at the error message I see that :
1. The ``VectorFunction

[2020-03-15 21:00] person142 commented on #11670
So, without the stubs for NumPy we're going to have the issue that Mypy will treat `np.ndarray` as `Any`, i.e. a very lot of things will make it through `Union[np.ndarray, ...]`. But we do still have plenty of function arguments that aren't arrays, and there's no reason to not start typing those.

[2020-03-15 21:07] person142 commented on #11670
@EverLookNeverSee generally speaking though I would be very interested in an effort to start getting type hints into SciPy.

[2020-03-15 21:35] andyfaff commented on #11670
What is a generalised type hint for something that could be a numpy array/sequence (list, tuple, etc)/iterable?

[2020-03-16 00:25] person142 commented on #11670
So, as I understand it, the complete solution is unknown at this point. Even if the NumPy types continue to move forward, there's no way to express shapes currently, so you can't fully type `ndarray`. On the sequence/iterable side there's the problem that there are no recursive types-so there's no way to say something like "an iterable of iterable of ... of float".

So there would have to be compr

[2020-03-16 03:04] mckib2 opened #11673 "intlinprog: integer linear program solver"
**Is your feature request related to a problem? Please describe.**

``intlinprog``: a branch and bound mixed integer linear program solver built on top of ``scipy.optimize.linprog``.

@mdhaber has proposed possible integer constraints in #9269.  ILPs/MIPs are an entire class of problems that are very related to LPs, but which have an ecosystem of their own, suggesting that scipy might benefit from

[2020-03-16 03:58] mdhaber commented on #11673
Thanks for your interest @mckib2! This is actually the reason I wrote the linear programming solvers `interior-point` and `revised simplex`. I implemented branch and bound with `interior-point` a while back, and I realized that I needed to write the `revised simplex` solver in order for it to work well. I also have quite a bit of code for heuristics that generate an initial feasible solution, like

[2020-03-16 03:59] mdhaber commented on #11673
Also, I think this should ultimately be worked into the `linprog` API rather than a separate function. All that's needed is an argument that identifies variables with integer constraints.

[2020-03-16 06:48] mckib2 commented on #11673
2 looks like a good place to get my feet wet -- I'll take a look at it.  Is there already an issue open for it?

Personally, as a user I would find it unintuitive to look for an LP solver to solve MIP problems.  Have you seen that before in any packages?  Let me play devil's advocate for a second to make the case.

`<devil's advocate>`
There is more to solving a MIP than specifying integral variab

[2020-03-16 13:55] gwgundersen commented on #10042
Is there anything I need to do to get the PR reviewed or is it simply down to the core maintainers' time? I'm not sure what the typical time for a PR review is, but it's been a month and a half now.

[2020-03-16 14:09] mdhaber commented on #11673
gh-9269 is the place I've been compiling `linprog` enhancements; there is not a separate issue. I'll write one to record some thoughts, though.

Regarding the API, I know of examples either way. Yes, there is certainly much more that goes into the solution of MIPs than linear programming. Let's agree on this for now: the code would generally go in a separate file e.g. `intlinprog.py` or `_intlinpr

[2020-03-16 14:20] mdhaber commented on #11201
Hey @hakeemo are you still interested in this? Thanks for your speedup of the sparse solver!

[2020-03-16 14:22] rgommers commented on #10042
@gwgundersen your PR looks pretty good. It's indeed down to time from a maintainer with stats knowledge. I have added the 1.5.0 milestone, so we're sure not to forget before the next release.

For complex PRs like this one, that's unfortunately not uncommon - SciPy is a complicated beast to maintain in evenings/weekends.

[2020-03-16 14:50] tylerjereddy commented on #11652
@ev-br @nmayorov @mdhaber Any ideas on the optimize failure? My testing efforts have failed to identify a susceptibility to the version of NumPy or the linear algebra backend type, at least so far.

In particular, if you can think of i.e., third-party libraries/ apt-packages that might alter the outcome that might be helpful.

I tried a few different versions of gfortran, but the test still passes

[2020-03-16 14:56] mdhaber commented on #10788
Closed by gh-10797

[2020-03-16 14:57] #10788 closed

[2020-03-16 16:08] rgommers commented on #11670
Contributions are very much encouraged, there's not too many NumPy devs who have experience/interest, more momentum there would be great.

[2020-03-16 20:12] mdhaber commented on #11652
I'm sorry, but I don't know much about what could have caused this.

Would it be wrong to try solve the problem by adjusting the stopping tolerances? I know that doesn't track down the cause.

[2020-03-16 21:06] rgommers commented on #11652
In the test above, `rtol` goes from `<1e-7` to `0.00042785` it looks like. That's too large a bump to just update the test tolerances for I think.

We can temporarily skip the tests to unblock CI, as long as we then start looking into it I think.

Let's try and reproduce locally, someone should be able to with NumPy master - failures are quite consistent.

[2020-03-16 23:13] andyfaff commented on #11652
I'm using a docker container setup for scipy, using Python3.7 (on ubuntu:bionic). I run the command `python3.7 runtests.py -t "scipy/optimize/tests/test_minpack.py::TestCurveFit::test_curvefit_covariance"` as suggested by @tylerjereddy.

- scipy master works with numpy built from the current tip of master (4f2b21)
- scipy master works with the numpy pre- wheel, https://7933911d6844c6c53a7d-47bd50c

[2020-03-16 23:16] tylerjereddy commented on #11652
@andyfaff

Yep, and I noted the pre-wheel isn't even being used for one of our matrix entries: https://github.com/scipy/scipy/pull/11658#issuecomment-599161637

It is actually a very old version of NumPy there, and switching linalg backends has no effect whatsoever. There must be something like third-party library or, even worse, the older patch versions of Python on Travis CI combining with somet

[2020-03-16 23:20] andyfaff commented on #11652
i can run an older numpy wheel, whch one?

[2020-03-16 23:21] tylerjereddy commented on #11652
I just mean, that the NumPy version seems irrelevant here--I agree with you based on the debugging in the cross-linked PR.

[2020-03-16 23:22] tylerjereddy commented on #11652
We may want to purge/deactivate the cache while we debug those Travis issues too, since this has gotten pretty time consuming to deal with!

[2020-03-16 23:43] dpoerio commented on #11649
@antonior92  This is more or less what I implemented in #11650 (along with some other details like returning inf for the objective function evaluation in this case to shrink the trust region).

[2020-03-17 00:57] arun-aks commented on #9342
I can replicate this with the following code:

[code]

The output I get with scipy version 1.4.1 is
[code]

What is expected is
[code]

[2020-03-17 03:05] person142 commented on #11670
On the SciPy side, we should probably figure out whether we want to do this inside the main repo or not. As I see it:

### Inside the repo
- Types are next to the code they are typing, which is nice
- Can still use backports in `typing_extensions` without adding dependencies by using the `TYPE_CHECKING` flag
- Can't yet use `from __future__ import annotations`

### Outside the repo
- Not being cou

[2020-03-17 04:38] Hongtao-Niro commented on #11602
Thanks!

[2020-03-17 10:28] mablexum commented on #7221
same error with you,Resolved by using this command:
python -m pip install --user numpy scipy matplotlib ipython jupyter pandas sympy nose

[2020-03-17 11:57] matthew-brett commented on #10200
Nothing immediately springs to mind.   Is there any container in Matlab that can deal with integer keys?  I see that `containers.Map` will allow keys that aren't valid variable names, but I don't think it will allow integers.

[2020-03-17 13:39] rgommers commented on #11652
Both test matrix entries are numpy `1.19.0.dev`; the older numpy built against doesn't matter much I'd think. It's the `ndarray.dot` calls in the test probably, which will invoke the OpenBLAS in the test-time installed wheels. So it's likely indeed a small change in OpenBLAS that's very hard for any of us to reproduce.

I'll push some test tolerance bumps to verify, let's see what the damage actua

[2020-03-17 14:39] congma commented on #11601
@ilayn @rlucas7 Could you say more about MKL version changes and how you think it is related to the issue? I am facing a similar SIGABRT problem when the test hits `scipy/linalg/tests/test_decomp.py::TestEigh`. Apparently each time it fails in different tests, and sometimes with SIGSEGV and with SIGABRT other times.

[2020-03-17 14:48] #11652 closed

[2020-03-17 15:22] ewmoore commented on #11656
This looks to me as though it could be #4878 (Which isn't really only about `median_filter`).

@Charlie-Bryant, can you at least share the size and dtype of `arr2d` and `footprint` when this fails?

[2020-03-17 15:24] Ulfgard opened #11676 "documentation of scipy.spatial.HalfspaceIntersection: wrong method to compute feasible point"
I am reading the docs of:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.HalfspaceIntersection.html

the example states an algorithm for computing a feasible point for the halfspace intersection algorithm by setting up a linear problem. However, the algorithm uses

res = scipy.optimize.linprog(c, A_ub=A, b_ub=b)

to solve the problem, which additionally adds an implicit constra

[2020-03-17 15:29] ilayn commented on #11601
@congma Could you please run the tests in verbose mode with `-v` option? I need to know which eigh test is the offending one. We have tested these changes all in OpenBLAS with no problem in different architectures. MKL used to have a bug (see #8205 in particular @brd4790's comments) but I think they fixed it. However there might be other bugs too.

[2020-03-17 15:48] EverLookNeverSee commented on #11670
@person142 , I have no idea yet, but i think we need to get help from numpy experienced developers to simulate array_like type hint.

[2020-03-17 15:51] ewmoore commented on #11641
Yes, this reproduces on windows.
[code]
I think the issue is that the `astype` call [here](https://github.com/scipy/scipy/blob/master/scipy/sparse/dia.py#L352) doesn't actually make sure the dtype is what we want.  For instance:
[code]
If we drop the `copy=False` it will work,
[code]

What are the guarantees we provide on the dtype of `indices` and `indptr`.  I wonder if the constructors should be

[2020-03-17 15:55] rgommers commented on #11652
Looks like you were right with this suggestion @mdhaber. The regression was much less bad than it looked at first.

[2020-03-17 16:03] congma commented on #11601
I tried running the tests multiple times and found 4 likely outcomes at least:

1.  The tests pass normally
2. The tests nominally pass at 100% but Python crashes with SIGSEGV
3. A test fails and Python crashes with SIGABRT
4. A test fails and Python crashes with SIGSEGV

In the cases 3 and 4, the failing tests are the parameterized ones `scipy/linalg/tests/test_decomp.py::TestEigh::test_eigh[6-D-

[2020-03-17 16:14] kvroeijenstijn commented on #10944
Hello Tyler,

Thanks for that little script, it helps with post processing the results of the convex hull. I am using the convexHull code in a 3d application where it is important to preserver quad topology where possible. I am currently writing code to merge the triangles back into quads by comparing the planes.

I would be very curious to see if disabling the Qt option would give me what I am ex

[2020-03-17 16:39] mdhaber commented on #11652
That's a first!

[2020-03-17 16:43] charris commented on #11601
Where did you get scipy? What version of pytest?

[2020-03-17 16:56] congma commented on #11601
I'm trying to build and test the master branch from source, where it currently stands at fc85c265. The pytest is version 5.3.5 from conda, where the rest of the Python environment also comes from (Python 3.7.6, numpy 1.18.1, MKL 2019.4).

[2020-03-17 20:08] antonior92 commented on #11649
That is great! Thank you for that @dpoerio

I will help reviewing the pull request.

[2020-03-18 02:07] perimosocordiae commented on #11641
That astype behavior is quite surprising to me. Is that a numpy bug, or am I not understanding properly?

[2020-03-18 02:13] perimosocordiae commented on #11670
I lean toward adding types in-repo. I've never had great experiences with external type definitions because the potential for drift is so high.

Eventually we could consider adding a CI that runs mypy or some other type checker.

[2020-03-18 03:25] ewmoore commented on #11641
It’s not a numpy bug.  `astype` uses [`PyArray_EquivTypes`](https://github.com/numpy/numpy/blob/fed1fb49bc50fd2a44238b8250d13314a127ddcc/numpy/core/src/multiarray/multiarraymodule.c#L1464) which says two dtypes are the same if they have the same size, byte order, and basic kind (e.g. signed integers).  Since as far as numpy dtypes go they are just different names for the same type if these things

[2020-03-18 07:15] congma commented on #11601
Also, please let me know if you can reproduce similar occurrences (@ilayn @rlucas7 etc.). If not, and if you'd like to try, I could help dig into the conditions that trigger the crash, even though I don't for now understand why it is happening.

[2020-03-18 07:44] ilayn commented on #11601
Today, I will try to strip the underlying LAPACK call for you to test with to triage the MKLness of the bug. Otherwise, it means I screwed up somewhere else in `eigh` overhaul (which I hope is the case since MKL bugs take time to be fixed).

[2020-03-18 07:51] congma commented on #11601
Thank you and good luck! Would a debugger backtrace be helpful in that case? I have a debug build of scipy (`./runtests.py -gb`) but as of now most other binaries lack debugging symbols here (Python, numpy, etc, and of course MKL). If that could be of use anyway, I'll dump one from LLDB.

[2020-03-18 07:59] ilayn commented on #11601
I'll just follow the path with those test parameters that fails until the LAPACK call.

[2020-03-18 11:55] rgommers commented on #11670
Also leaning towards in-repo, I think it'll encourage more contributions - `numpy-stubs` is languishing. For a lot of code adding annotations will be fairly mechanical, so it's a good place for newcomers to plug in once we have some clear examples/standard to follow.

Also, it will make it quite easy to experiment with Transonic.

[2020-03-18 12:53] EverLookNeverSee opened #11681 "Speed up scipy functions performance using multi_processing/multi_threading"
I have an idea about speed up functions performance (cpu bound) using either multiprocessing or multi-threading.
According to the conversations i had with @rgommers , providing support for multiprocessing with scipy functions can be done. for example [differential_evolution (using `workers` keyword)](https://github.com/scipy/scipy/blob/13cf23a09d88dfee81f8df6e79b194aa762c32cf/scipy/optimize/_diffe

[2020-03-18 14:05] person142 commented on #11670
Opened https://github.com/scipy/scipy/pull/11678 as one way we could get started with types in-repo.

[2020-03-18 14:07] rgommers commented on #11681
@EverLookNeverSee the description of this issue is too vague to be useful I'm afraid.

We have already agreed on the `workers` pattern, and if you look into it you'll see that the machinery for it is reusable. So for functions where it makes sense, e.g. other functions in `optimize`, you can make a concrete proposal for doing that and start implementing. gh-9428 (for `optimize.brute`) is an exampl

[2020-03-18 15:13] c-f-h commented on #11641
I hit upon this while writing wrappers for C++ sparse matrix routines using pybind11. What I have there is a format string (more specifically, see the `buffer_info` type described at https://pybind11.readthedocs.io/en/master/advanced/pycpp/numpy.html).

This is certainly something that can be worked around, but the resulting code feels somewhat kludgy. If there is no simple fix, so be it.

[2020-03-18 17:32] EverLookNeverSee commented on #11681
@rgommers I have no problem with **workers pattern** or **process pools** , i.e. functions that we can subdivide their parameters into workers.
I meant functions that we can not apply techniques above on their parameters such as [khatri_rao matrix product](https://github.com/scipy/scipy/blob/13cf23a09d88dfee81f8df6e79b194aa762c32cf/scipy/linalg/matfuncs.py#L672) in which parameters are two arrays.

[2020-03-18 19:49] rgommers commented on #11681
For something like `khatri_rao` there's nothing to parallelize at the SciPy level, all it is is a few numpy calls.

[2020-03-18 19:55] EverLookNeverSee commented on #11681
Thanks @rgommers for your valuable tips.

[2020-03-19 01:08] rlucas7 commented on #11601
Sorry getting to this response rather late, my MKL is:

(scipy-dev) Lucass-MacBook:scipy rlucas$ conda list mkl
# packages in environment at /Users/rlucas/anaconda3/envs/scipy-dev:
#
# Name                    Version                   Build  Channel
mkl                       2019.4                      233
mkl-service               2.3.0            py36hfbe908c_0
mkl_fft                   1.0.12

[2020-03-19 01:24] rlucas7 commented on #11601
I'm not sure that I reproduce all the behavior that you've seen but I do get an abort trap 6 on the same test (not clear to me from what is posted here if mine is exactly the same parametrized instance but definitely one of the parametrized collection:

[code]

[2020-03-19 01:26] rlucas7 commented on #11601
if it helps the test failure occurs here on my box

[code]
the tip of the branch is my changes but they are unrelaed. The `c1372d8aa` commit is:

[code]

[2020-03-19 02:06] MDAddario opened #11685 "Rotation cannot be expressed as matrix"
My issue is about the documentation for scipy.spatial.transform.Rotation, which describes how you can get the matrix representation for a generalized rotation, but the as_matrix() method fails to function.

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:
 1.2.1 1.16.2 sys.version_info(major=3, minor=7, micro=2, releaselevel='final',

[2020-03-19 02:25] peterbell10 commented on #11685
`as_matrix` was first added in version 1.4.0 (specifically gh-10979). In 1.2.1 the same functionality is called `as_dcm`.

The documentation is missing a `versionadded` though.

[2020-03-19 02:42] tylerjereddy opened #11686 "MAINT: mypy imports of Cython "modules""
For kicks following the merge of #11678, I checked on a module I'm familiar with by disabling the ignores and I see:

[code]

That's because those are Cython extension objects rather than pure Python modules.

Can be suppressed in this way with a simple inline comment--would we want to do this more broadly throughout code base?

[code]

[2020-03-19 02:59] person142 commented on #11686
Ah-I am actually working on this right now. Currently handling by adding a bunch of

[code]

to the conf file.

[2020-03-19 03:01] person142 commented on #11686
PR soon, as I was working on it mypy found, if not a bug, at least an oddity which I'm making a PR for...

[2020-03-19 10:48] #11686 closed

[2020-03-19 12:01] Schoyen opened #11689 "Two calls to integrator reset"
Hi,

I've been implementing a subclass of `IntegratorBase` to be able to use in the `ode` and `complex_ode` classes along with all the other implemented integrators. However, when implementing `reset` I noticed that this function gets called twice; once when choosing the integrator via `set_integrator`, and once more when passing in the initial values using `set_initial_value`. This can be seen in

[2020-03-20 01:25] person142 commented on #11670
I think we can close this now-there are many more things to do, but I think they are best tracked in separate issues. (And for some things, e.g. satisfying PEP 561 we'll have to see how this experiment goes first.)

[2020-03-20 01:25] #11670 closed

[2020-03-20 04:36] tylerjereddy opened #11693 "TestDifferentialEvolutionSolver::test_L4 failing in CI"
Example PR with this failure in 32-bit Windows Azure CI: https://github.com/scipy/scipy/pull/11682

Full raw log: https://dev.azure.com/scipy-org/df8ffb44-7275-43bc-90f9-aa5c93ef5c51/_apis/build/builds/5298/logs/68

I can reproduce locally 100 % of the time when running this test on a Mac with OpenBLAS 0.3.7, and it passes 100 % of the time when I bump to OpenBLAS 0.3.9, so I may try that bump in

[2020-03-20 04:46] andyfaff commented on #11693
The first part of `differential_evolution` solely uses random number generation to work and no linalg. The polishing step uses a variety of minimizers depending on the problem. If the problem has constraints the solver will be SLSQP, which will use linalg at some point. So I'm guessing that the test fail is due to the SLSQP part changing behaviour somehow.
It's probably ok to bump the test limits.

[2020-03-20 05:24] mdhaber commented on #11693
I think we referred to the errors in the table when setting them initially, but based on 4402542f10d53ce0478127f3071eceac1b63c994 we definitely loosened some of these when needed. Loosening these does not bother me at all (but I tend to be pretty liberal about that).

[2020-03-20 15:29] person142 opened #11696 "DOC: incorrect compiler information for macOS in docs"
The devdocs here:

https://scipy.github.io/devdocs/building/macosx.html#compilers-c-c-fortran-cython

say:

which is inaccurate. No compilers are installed by default; you need to install the Xcode command line tools. Even then you aren't getting the GNU compilers-you're getting clang, even though Apple (in its wisdom) added an alias `gcc` which still just invokes clang.

[2020-03-20 15:50] #11503 closed

[2020-03-20 21:54] chrisb83 commented on #6537
added in 8681

[2020-03-20 21:54] #6537 closed

[2020-03-20 22:23] breedlun opened #11698 "solve_ivp fails to solve with non-zero initial time, large parameters, and methods other than LSODA"
As the title says, `scipy.integrate.solve_ivp` fail to solve with a non-zero initial time, large parameters, and methods other than LSODA.  Remove any one of those conditions and it solves.

Here is an ODE that demonstrates the problem.
[code]
Attempting to integrate from a non-zero initial time fails to solve.  For example,
[code]
prints the following to the screen
[code]
Attempting to integrate

[2020-03-20 22:28] nmayorov commented on #9688
Can't be sure on that, but it seems to me you are using the wrong tool to solve your problem.

Quaternions to represent rotations have the sign ambiguity (i.e. `q` and `-q` represent the same rotation) and we don't try to maintain any sign conventions inside `Rotation`, because it doesn't have a strong meaning and would only complicate the code.

Looks like `geometric_slerp` from #10380 is the rig

[2020-03-20 22:28] #9688 closed

[2020-03-20 22:31] chrisb83 opened #11699 "Numerical issues in stats.argus for small shape parameters"
Some methods of stats.argus do not work for very small values of the shape parameter chi.

#### Reproducing code example:

Example involving the cdf:

[code]

As chi goes to zero, the cdf converges to `1 - np.sqrt(1-x*x)**1.5`, so the limit is well-defined

[code]

#### Error message:
The last line produces a warning:
[code]

#### Scipy/Numpy/Python version information:
[code]

[2020-03-20 22:49] breedlun opened #11700 "solve_ivp errors out instead of simply quitting after the solve fails"
As the title says, `scipy.integrate.solve_ivp` should simply quit when the solver fails, but it tries to concatenate an empty list.  The following code
[code]
results in
[code]
As an aside, this issue was happening at the same time as  https://github.com/scipy/scipy/issues/11698, which made  https://github.com/scipy/scipy/issues/11698 even more difficult to pin down.

[2020-03-21 11:01] TrueCarry commented on #11473
Can you help with correct Docker command please? Issue is closed, but problem still exists.

[2020-03-21 11:33] #11635 closed

[2020-03-21 12:08] ilayn commented on #11601
Anybody having the issue could you please run the following snippet to check if it is also crashing

[code]

If it works, please take out the `order` keyword from the arrays and try again.

[2020-03-21 12:24] peterbell10 commented on #11473
There's a bug in `pypy`'s `distutils` that breaks the `pybind11` install. You will either need to patch it yourself:
https://bitbucket.org/pypy/pypy/commits/c092ffe0d27c

or you'll have to wait for the next release of `pypy`.

[2020-03-21 12:31] ilayn commented on #11601
Nevermind it's my fault. I found the bug/typo. :-)

[2020-03-21 13:59] jdebecdelievre commented on #11403
Just because I had a similar issue an hour ago:
the bound check on p0 is tight. I am guessing that this is required to compute finite differences, but I cannot tell for sure. See `_numdiff.py`, line 361 in 1.4.4

If some of the elements of p0 are too close to the bounds (like the g value, p0[1]), the error is likely to be raised.

[2020-03-21 19:43] #11601 closed

[2020-03-21 19:46] WarrenWeckesser commented on #11131
A copy of the proposal that Matt and I submitted to CZI is at https://warrenweckesser.github.io/czi/scipy-2019-czi-proposal-revised.pdf

[2020-03-21 19:51] #11693 closed

[2020-03-21 20:10] tylerjereddy opened #11704 "TST, CI: Azure Windows Run Time Diffs"
This is primarily intended as a concise report of some Azure CI behavior to @chrispat and @vtbassmatt.

In short, it seems that when I run effectively identical branches in the main SciPy repo vs. in my fork of the repo (with effectively identical target master branches), the timings for running our test suite are vastly different. Could it be that there's a priority algorithm directing the jobs i

[2020-03-21 22:04] #11661 closed

[2020-03-22 10:32] TejasAvinashShetty opened #11707 "decreasing accuracy of scipy.linalg.expm"
I tried to test `scipy.linalg.expm` versus my handwritten code.
I found significant (at least in my opinion) differences.
Obviously, both the implementations differ.
The questions are as follows:

 - Is it acceptable for them to differ?
 - Is my implementation wrong?
 - If my implementation is wrong, how do I fix it?
 - If my implementation  is correct, when is it safe to use `scipy.linalg.expm`?

[2020-03-22 10:34] TejasAvinashShetty commented on #11707
To save time here is the [jupyter notebook with the above code](https://www.dropbox.com/s/w5pia3doed369g3/expm_compare.ipynb?dl=0)

[2020-03-22 10:54] pv commented on #11707
Your implementation has bugs:
(i) using eigh on non-hermitian matrix,
(ii) math.exp cannot calculate exponentials of complex numbers (drops imaginary part with numpy scalars).

[2020-03-22 10:54] #11707 closed

[2020-03-22 12:50] maxdevblock opened #11708 "Optimize darwin different from x86_64-linux-gnu"
`curve_fit` throwing `OptimizeWarning` in Linux but not in OsX

#### Reproducing code example:

Example to reproduce
[code]

#### On OsX (correct result):

[code]
#### On Linux (OptimizeWarning):
[code]

#### Scipy/Numpy/Python version information:
On OsX
[code]
On Linux
[code]

[2020-03-22 13:59] congma opened #11709 "eigh() tests fail to pass, crash Python with seemingly ramdom pattern"
This problem is related to #11601, which has been closed by #11702 ( @ilayn ). However, the crash has not been fixed by the latter PR.

The symptoms remained almost identical to the one described in my comment in https://github.com/scipy/scipy/issues/11601#issuecomment-600153321

In summary, when running the test for `eigh()`, Python tends to crash with SIGSEGV or SIGABRT. Sometimes this happens d

[2020-03-22 14:02] ilayn commented on #11709
I think we first need to isolate that piece of code and run externally without the test. The tests are with fixed-seed so it doesn't make any sense when it runs sometimes and not otherwise.

[2020-03-22 14:05] congma commented on #11709
`(3, 7, 0)`

[2020-03-22 14:27] ilayn commented on #11709
What do you get with the following ?

[code]

[2020-03-22 14:41] congma commented on #11709
I run the script with master version of `scipy` 50 times. 5 out of them were segfaults after the output as follows, and the rest exited without errors.

[code]

I was also testing running eigh on the complex array `np.eye(6, dtype="D")` repeatedly and also notice much less change of running into a crash. The crash rate under pytest seems much higher.

[2020-03-22 14:44] ilayn commented on #11709
How do you build SciPy from the master branch?

[2020-03-22 14:52] congma commented on #11709
[code]

conda is also doing some tricks with compiler flags by default when I activate an environment, and the ones below are the ones I think are relevant

[code]

The Fortran compiler is gfortran-9.3.0.

[2020-03-22 14:59] ilayn commented on #11709
I am not familiar with the MacOSX stuff but ``runtests.py` won't upgrade your installed scipy but only build it. After the build you need to install the package somehow. Hence the current master version should give

[code]

[2020-03-22 15:07] congma commented on #11709
I'm running external snippets with the help of `./runtests.py` after building scipy from master (which I assume will set the correct path variables to the built package). The command I'm running is

[code]

where I put the Python statements in a file at `FILE_NAME.py`. To check that I'm running against the built scipy master, I'm using the same print statement which shows the same git tip SHA1 as

[2020-03-22 15:12] ilayn commented on #11709
I meant the code snippet I gave above. When you run that as a standalone code snippet can you check what the print statement gives. It helps to have everything as barebone as possible.

[2020-03-22 15:16] congma commented on #11709
`1.4.1` with no conda env (i.e. base env), and no script, simply under `python -c`. This is the scipy version from conda's binary channel.

[2020-03-22 15:39] ilayn commented on #11709
I am trying to eliminate possibilities but only one at a time.

If you open an environment (whatever you use) and check the version manually, it says `1.5.0.dev0+ae34ce4` that's fine. Otherwise it is not suitable for the test.

 Then if you run the code snippet without any script Ipython or python terminal and it still crashes that's a datapoint. If it doesn't than it is related to how conda trigg

[2020-03-22 15:50] ilayn commented on #11709
Also is it possible that you upgrade to LAPACK 3.9.0 in another environment? I don't know why 2019.4 MKL still uses 3.7.0

[2020-03-22 17:35] congma commented on #11709
Just done that in a new environment with `scipy==1.5.0.dev0+ae34ce4` (wheel freshly built from master source and theninstalled). The outcome of the test script in https://github.com/scipy/scipy/issues/11709#issuecomment-602209559 was 90 out of 100 success, and the rest were segfaults.

I don't think I know how to do that right now, I could possibly try an openblas recent-release build (but that wo

[2020-03-22 17:40] pvanmulbregt opened #11711 "CI failures: AMD64 MB_PYTHON=3.7"
Some recent PRs (gh-11703, gh-11705, gh-11710) are failing a common test due to a CI failure before the test even starts.
[code]

#### Error message:
[code]

[2020-03-22 18:43] rlucas7 commented on #11709
I was having the same issue as before too. I'm not sure what in the dependency closure fixed the issue but I updated the `numpy` version in my conda virtual env via `conda update numpy` and that fixed the failing test.

[Long scrollback buffer listing]
[code]
so @congma if you can do that on your dev box, maybe give that a try?

[2020-03-22 18:51] rlucas7 commented on #11709
@congma actually perhaps I spoke too soon, I seem to now be getting the varying failure modes that you are seeing too, whereas before I was only seeing the consistent abort trap 6 failure when running the test case.

[2020-03-22 19:09] rlucas7 commented on #11709
Note sure if this is helpful but posting:

[code]

[2020-03-22 19:13] rlucas7 commented on #11709
so sometimes I'm also getting an abort trap 6 on the test (same as before) and sometimes the full set of parametrized tests pass here but there is still a segfault error:
[code]

[2020-03-22 19:14] congma commented on #11709
@rlucas7 great, how did you catch the (apparent) integer overflow? Are there any specific triggers?

[2020-03-22 19:23] ilayn commented on #11709
@rlucas7 Could you also run the snippet I've posted above? It's the stripped down version of that test.

[2020-03-22 19:36] congma commented on #11709
@ilayn , the appearance of a gigantic integer in @rlucas7's test run is only caught when the return value of `eigh()` (or `zheevr`) is accessed, which seemed consistent with some of the test runs I did while making the OP.

As long as @rlucas7 and I can test, shall we also change the last bit of the stripped-down test snippet into something like this?

[code]

[2020-03-22 19:39] rlucas7 commented on #11709
I kept repeatedly running the 1-liner:
[code]
that has only happened that one time, I tried another 20-ish times and did not reproduce.

NOTE: I somehow mistakenly edited your original post here @congma, sorry about that. I've removed and quoted the response here now.

[2020-03-22 19:41] rlucas7 commented on #11709
Sure can, here is the output:
[code]
The failiing test with the large `int` is an intermittent  case though so not sure it is something I can consistently reproduce.

@ilayn do you still think this is an MKL issue?

[2020-03-22 19:42] ilayn commented on #11709
OK could both of you run again but this time making `compute_v=0`? Let's see if it is indeed the `w`, `z` problem. I have a smell now.

[2020-03-22 19:45] rlucas7 commented on #11709
[code]
not sure it matters but run in the same python session as above. Kept everything else the same.

[2020-03-22 19:51] congma commented on #11709
Same here with the first version of the test snippet. Still building scipy with as clean env as possible and will post later. I'd suggest wrapping the test snippet in a big loop and collect the output in a log file.

[2020-03-22 20:00] rlucas7 commented on #11709
I'm getting with both `compute_v` values, e.g. 0 and 1:

[code]

[2020-03-22 20:16] congma commented on #11709
Ran 100 times, out of which 84 exited without errors and apparently correct values, 1 aborted, 15 segfaulted. Haven't got the one like in https://github.com/scipy/scipy/issues/11709#issuecomment-602256970 yet.

[2020-03-22 20:39] congma commented on #11709
I'm running another 5000 tests and already seeing some weird overflow-like Python exceptions, but here's also a question regarding the test script:

https://github.com/scipy/scipy/blob/ae34ce4835949a8310d7c3d7bcb4a55aafd11f4f/scipy/linalg/tests/test_decomp.py#L873-L876

If at L 873 the code requests that the `a` array can be overwritten, why is `a` used again in matrix computation at L 876?

[2020-03-22 20:42] ilayn commented on #11709
This is really weird. Can you also print the in between variables ?

[2020-03-22 20:58] congma commented on #11709
Thank you all for the ideas. I'll go on testing tomorrow and hopefully will find something of interest to scipy (instead of chasing weird MKL bugs).

[2020-03-22 21:47] rlucas7 commented on #11261
@laplacesdemon64 could you take a look at the proposal in #11302 and comment if that would solve the issue you are seeing?

It might help if you could comment on the magnitude of `n` values you use in your code.

[2020-03-22 21:49] rgommers commented on #11442
I think the discussion here is a little misguided, and the code is correct. The docstring is misleading though, the description for `w` should read:
[code]
This is what the original PR for weighted distance functions (gh-6931) said.

Looking at other distance functions, what the weights are doing is taking a _weighted average_. So `w.sum()` is in the denominator of the answer. Clearly for `max()`

[2020-03-22 21:50] jacksonvanover opened #11713 "eval_gegenbauer inconsistently supporting limit evaluation"
Overall, I'm observing non-uniform support for the evaluation of the end behavior of these functions.

- limits approaching positive and negative infinity for alpha=0, n>1 return NaNs when they should return 0
- for degree n>1, limits approaching positive infinity are correctly evaluated whereas those approaching negative infinity consistently return NaN. Theoretically, evaluation of these limits

[2020-03-22 22:37] mckib2 commented on #11673
@mdhaber  I've drifted a little bit from stated goal of warm starts.  In researching revised simplex method, I've put together a dense matrix phase 2 solver in C++ with the following:

- Either explicit matrix inverse then rank one updates using Sherman-Morrison formula or LU factorization each iteration (BG update not implemented yet -- more on this below)
- Bland's rule for enter/exit columns
-

[2020-03-22 22:55] mdhaber commented on #11673
Unfortunately, it is GNU Licensed. That's not compatible with our license (BSD).

[2020-03-22 22:56] mckib2 commented on #11673
Only one contributor, could ask to change license?

[2020-03-22 23:05] mckib2 commented on #11673
And I suppose a follow up question would be: are you open to a phase 2 implementation written in C/C++?

[2020-03-23 02:44] mdhaber commented on #11673
Great. This is actually best for the short term, IMO, because this can improve revised simplex immediately (1.5 release), whereas I don't think MIP will be ready so soon.

Good idea. Would you like me to do that and [CC you](https://api.github.com/users/mckib2/events/public)? Yes, it does look like it's exactly what we need. Great find!

I think there's a case for it. There's no way to get good pe

[2020-03-23 05:24] mdhaber commented on #11673
We wouldn't want BG for the sparse case; consensus seems to be that Forrest-Tomlin is better, and BASICLU claims to improve on that. So for sparse, I think BASICLU is the thing to pursue.

For dense, we already have BG. That's what the `BGLU` class in [`scipy/optimize/_bglu_dense/pyx`](https://github.com/scipy/scipy/blob/master/scipy/optimize/_bglu_dense.pyx) does. But as I mentioned, it's not as

[2020-03-23 05:39] mckib2 commented on #11673
Yes, please CC me.  I think you have a better understanding of the licensing issues we're dealing with.

In the paper they say: "We point out that the vector L^-1 \Pi A_{s_1} was produced as a by-product during the computation of the vector y in step 5 ... Hence H^{(1)} can be constructed without any computational effort."

In `BGLU.update()` it looks it's being recomputed at the cost of another t

[2020-03-23 07:04] isuruf opened #11714 "Building with PyPy3.6 7.3.0 fails"
My issue is about ...

#### Reproducing code example:
Building scipy 1.4.1 with PyPy3.6 7.3.0 on linux-x86_64 with gcc 7.3.0, numpy 1.18.1 pybind11 2.4.3 and cython 0.29.15 fails.

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

Building scipy 1.4.1 with PyPy3.6 7.3.0 on linux-x86_64 with gcc 7.3.0, numpy 1.18.1 pybind11 2.4.3 and cython 0.29.15 fails.

[2020-03-23 07:07] isuruf commented on #11714
Duplicate of https://github.com/scipy/scipy/pull/11300

[2020-03-23 07:07] #11714 closed

[2020-03-23 08:37] congma commented on #11709
The script I run was identical to the first test snippet (with `compute_v=True`), except that the return values of `evr()` were saved and printed, also the matrix product `z.T.conj() @ a @ z` were printed.

The tally from those runs were:

* 4332 success
* 3 Python `ValueError` in the computation `z.T.conj() @ a @ z`, similar to the one in https://github.com/scipy/scipy/issues/11709#issuecomment-6

[2020-03-23 08:42] congma commented on #11709
What are the inbetween variables that could help the most?

[2020-03-23 09:32] congma commented on #11709
Got a potentially meaningful error message:

[code]

Output from a run:

[code]

This suggests a `free()` without `malloc()` somewhere but I'm not sure where.

[2020-03-23 10:24] congma commented on #11709
Two addition Python exceptions with strange shape information:
[code]
[code]

Another 5000 runs, with

* 2 Python `ValueError` (see above)
* 70 Aborted
* 630 Segfaulted

[2020-03-23 10:45] laplacesdemon64 commented on #11261
@rlucas7 In my application, `n = 300540195` (corresponding to the Hilbert space dimension of a Bose-Hubbard system with 16 sites and 16 particles). This value is about `0.14 * np.iinfo(np.int32).max` and, although not far from the limits of a 32-bit integer, it still fits. However, the default choice `maxiter = n * 10` already overflows.

I support your proposal #11302 of moving BLAS/LAPACK/ARPACK

[2020-03-23 10:50] ilayn commented on #11709
Not the failures but actually the ones that pass makes me worried more. This signals that I have to dig in to the LAPACK wrappers instead. Because this really doesn't make any sense.

The returned array sizes are almost random. I don't see any underflow pattern hence probably they are random memory values which implies f2py is not returning a proper object which in turn our wrappers are not correc

[2020-03-23 10:55] andyfaff commented on #11709
docker is your friend here... reproducibility in setup every time.

[code]

[2020-03-23 11:36] rgommers commented on #11131
Thanks @WarrenWeckesser. I suggest to send an update with that link to the scipy-dev mailing list, I'm sure more people will be interested.

[2020-03-23 12:39] Ghostkeeper commented on #8850
Thanks for the analysis, LiangZhengyuCSU! We've encountered this as well in our library that uses Scipy. However since this is being deployed with our library's users we are not able to change their  %TEMP% environment variables. Is there a way to communicate to Scipy specifically that it must use a different temp directory?

[2020-03-23 13:28] rgommers commented on #11441
Addressed in gh-11716.

And not really a fan of the `try_import` - the standard try-except is cleaner and that's how all other files have it.

[2020-03-23 14:24] EzequielBurg commented on #11275
@rgommers  how can I install OpenBLAS/MKL/ATLAS in a docker container?

[2020-03-23 14:26] rgommers commented on #11275
You can install OpenBLAS (preferred) or ATLAS with your Linux distro's package manager.

[2020-03-23 15:01] brandondavid commented on #11131
Thanks for the update!  Should I close this issue now or wait until after implementation?

[2020-03-23 15:40] vtbassmatt commented on #11704
Thanks @tylerjereddy! We don't have logic on the Pipelines side to route you to different hardware. (It's something we've discussed, but there are some good technical reasons against it, so we haven't.)

Pure speculation follows. I haven't discussed any of this with the folks in Azure Compute and could be wildly off-base. I can imagine that if Azure were short on VMs of the class we pay for, they

[2020-03-23 17:43] jacksonvanover opened #11717 "Unexpected return from poch when evaluating limit"
When evaluating the limit approaching negative infinity for z>0, `poch` consistently returns `-0.0`. I'm not entirely certain what the appropriate return is in this case, but 0 is certainly unexpected. Based on the definition in terms of the gamma function, I'd guess that the limit  approaches negative infinity, though mpmath and GSL don't support such an operation. They return NaN and throw an ex

[2020-03-23 19:20] scpalbright commented on #8376
I've had this in some cases as well.  I'll try PPoly.

[2020-03-23 19:26] rgommers commented on #8850
It's about this bit of code in `messagestream.pyx`:
[code]
That does indeed look a little funky.

@Ghostkeeper what does `sys.getfilesystemencoding()` say for you?

[2020-03-23 19:28] rgommers commented on #8850
https://github.com/cython/cython/issues/1803#issuecomment-320029352 may be related

[2020-03-23 19:29] rgommers commented on #8850
no there isn't

[2020-03-23 19:41] congma commented on #11709
This may well be more noise, but just in case it may help, I created a stripped down version in pure C that mostly performs the LAPACK operations done by the Python test snippet, in the hope that one may verify whether this is an underlying C-level MKL issue. The program appears to run fine without any problem. I ran the program in loops that repeat 1000 times per loop, and I have yet to run into

[2020-03-23 23:53] ilayn commented on #11709
@congma Could you please open the file `flapack_sym_herm.pyf.src` file and find the line 843

[code]

and change it to

[code]

and then build and test again?

[2020-03-24 02:31] rlucas7 commented on #11669
Not sure what Warren's opinion is here but we have similar behavior for Spearman correlation:
https://github.com/scipy/scipy/blob/c1372d8aa90a73d8a52f135529293ff4edb98fc8/scipy/stats/stats.py#L3223
which is thrown/raised here:
https://github.com/scipy/scipy/blob/c1372d8aa90a73d8a52f135529293ff4edb98fc8/scipy/stats/stats.py#L3373-L3376

so something like that may be in order. I'd be willing to revi

[2020-03-24 03:02] rlucas7 commented on #11709
@ilayn Thanks for looking further into the issue.
I tried the change you propose and still getting errors.
The same linalg test is failing when I try to run tests (after the change) and I'm still getting segfaults.
[code]

not sure if @congma is seeing similar.

[2020-03-24 07:31] Ghostkeeper commented on #8850
Sorry, I haven't been able to reproduce this myself. Our crash reporter finds this issue :(

[2020-03-24 07:38] Ghostkeeper commented on #8850
This is the full error that I have:
![image](https://user-images.githubusercontent.com/2448634/77399905-a054c780-6daa-11ea-95b3-1fe1a7e3717b.png)

[2020-03-24 10:08] erheron commented on #11669
This bug still exists in latest SciPy :thinking:
Maybe I don't understand something, but I can't see a linked PR or anything. Shouldn't this issue be re-opened? @Lee-nju  @rlucas7

[2020-03-24 13:45] drhagen opened #11718 "L-BFGS-B error message always reports 20 line search iterations"
If the L-BFGS-B minimization method terminates abnormally due to the maximum number of line search iterations, it displays this message:

[code]

I want to note that it says "after 20 function...evaluations" regardless of how many evaluations it did. 20 is the default value of `maxls`, but if you change it to something else, say 40, the message still says 20, which is confusing. Ideally, it would

[2020-03-24 13:56] congma commented on #11709
Yes I am. While the loop is running, a glimpse shows that the random crashes were still there and not substantially different from the earlier ones.

[2020-03-24 14:07] EverLookNeverSee commented on #11718
@drhagen Please specify Sample code to reproduce the problem.

[2020-03-24 14:08] congma commented on #11709
One more data point amid the noise: I have now a python process that is apparently stuck and doing nothing (as in consuming 0% CPU time) while executing the test snippet. I may have to kill it later but I have no idea why it is doing what it's doing (i.e. nothing).

[2020-03-24 14:29] christian-oreilly opened #11719 "nan_policy does not play well with axes in median_absolute_deviation"
I think that the management of NaNs in median_absolute_deviation might be broken,

#### Reproducing code example:

[code]
output:
[code]
Inserting a NaN value...
[code]
output:
[code]
We now get
[code]
output:
[code]

I think that the last output have been a matrix of size 3x4. Obviously, because of that, running `median_absolute_deviation` along a different axis such as
[code]
crashes with an Axi

[2020-03-24 19:17] WarrenWeckesser commented on #11718
Here's an example:

[code]
Output:

[code]

[2020-03-24 19:20] WarrenWeckesser commented on #11718
Even better would be for it to display both the name (`maxls`) and the value that it was set to by the user.

[2020-03-24 20:00] WarrenWeckesser commented on #11719
@christian-oreilly, thanks for reporting the problem.  I confirmed that the problem still exists in the master development branch (`'1.5.0.dev0+69f44c0'`).

[2020-03-24 20:21] WarrenWeckesser opened #11720 "BUG: stats: wrong shape from median_absolute_deviation for arrays with size 0 and an axis."
Currently, `median_absolute_deviation` returns the scalar `nan` if the `size` of the input array is 0, even if an `axis` argument is given.  This is not correct.  The function must respect the reduction-like behavior for the shape of the arrays.  For example, if `x` has shape `(m, n, p)` and `axis=1`, the shape of the result must be `(m, p)`, even if any of `m`, `n`, or `p` are 0.

For example,

[

[2020-03-24 20:40] congma commented on #11709
There's a slight hint that I might have hit something when playing around with the f2py wrapper for `?heevr`.

In the wrapper changed the declaration and attribute for the `isuppz` array to something much more simple:
[code]
and in the Python test snippet for `zheevr` I also added a `print()` statement to show all the return values (including the `isuppz` output array) from the `evr()` call, beyon

[2020-03-24 20:55] congma commented on #11709
Before I have to wrap up for the day (brain hardly functioning right now), for reference here's the f2py wrappers as they currently stand on my side. I realized I've made other changes too, and I don't want to mislead anyone working on this. Notice I changed the attributes for `ldz` and `z` too.

[code]

[2020-03-24 21:28] WarrenWeckesser commented on #11131
@brandondavid, let's keep the issue open as an enhancement request.

[2020-03-24 21:37] mdhaber commented on #11673
Wow, I didn't remember that. Thanks! That sounds like a great thing to try.

[2020-03-24 23:03] WarrenWeckesser commented on #11669
We could check for the values within each group being constant.  If they are, and if the common value in at least one group is different from that of another group, the function could return `inf` for the statistic and 0 for the p-value.  If all the values in all the groups are the same, then F is 0/0 and the function should probably return `nan` for F and the p-value.

In `pearsonr`, we generate

[2020-03-25 00:26] rlucas7 commented on #11669
This does seem like the most sensible thing to do for the constant case. In Anova terms check that all “within” variances are constant and based on “between” variances either (0, inf) for between variances not all same and 0 and (nan, nan) for between variances all the same and all 0.

Yeah so that is why I was saying that it might require some investigation. Seems likely there are some behaviors

[2020-03-25 01:55] Lee-nju commented on #11669
Through debugging, I found that the reason for the inconsistency of the floating point number calculation is about e -10.

Because we finally got the results we needed, we didn't pay much attention to this issue.

[2020-03-25 04:09] mckib2 commented on #11673
I also don't see where in BGLU you update the L factor.  I think in the Bartels-Golub formulation L is still updated in product form, but it seems to me that  you never touch L during the update.  Is there something I am not understanding?

[2020-03-25 04:28] mdhaber commented on #11673
Or maybe I didn't understand when I wrote it! But no, I don't modify `L`. Looking at the paper again, it doesn't look like it modified `L` either, though. In which equation is it updated?

[2020-03-25 05:36] mckib2 commented on #11673
Like I said, I'm not expert and it seems really hard to be an expert on this because there's not a lot of clear numerical examples for Bartels-Golub.  I believe the L factor should be updated because of what I read in two other papers:

- From ["Commentary on Matrix Factorizations and Applications"](https://pdfs.semanticscholar.org/8c65/e590bd001dce06820bad53a8f9361446a515.pdf) where a simple desc

[2020-03-25 10:23] #11685 closed

[2020-03-25 11:30] EdKaHe opened #11723 "Monte Carlo methods for scipy.integrate"
**Problem description**
I was wondering why there are no Monte Carlo integration methods (uniform sampling, importance sampling, MISER, VEGAS) in scipy.integrate? Especially for high dimensional integrals MC methods provide good efficiency and they are applicable to a wide range of fields in science and engineering.

**The solution I'd like**
One could implement a set of Monte Carlo methods that a

[2020-03-25 12:39] erheron commented on #11669
I'll be now working on the PR, based on the comment of @WarrenWeckesser . Hope to produce it soon

[2020-03-25 13:02] #2744 closed

[2020-03-25 14:14] odidev opened #11724 "aarch64 build for scipy"
**Is your feature request related to a problem? Please describe.**

Hi Team, facing issue in Building Scipy in my local environment.

**Describe the solution you'd like**

I am working on adding builds for aarch64 for Scipy.

**Describe alternatives you've considered**

I have tried adding the builds in Travis-ci as well for Python v3.7, but the builds are not getting executed successfully.

**Add

[2020-03-25 15:14] rgommers commented on #11724
`aarch64` builds do work on conda-forge: https://github.com/conda-forge/scipy-feedstock/blob/6eded1642dfebcc4d616a536aeec40e9f63b0275/.drone.yml#L3

not sure if that's a misleading error message or not, but you can try with `--no-build-isolation`. Also use `-v` for verbose output. that should tell you what's wrong

[2020-03-25 15:29] morales-gregorio commented on #10382
Hey all,

I was looking for an implementation of a multi-dimensional wasserstein distance and stumbled upon this issue. Unfortunately, the link from @Eight1911 appears dead to me.

Has there been any progress on this? Is the implementation already available in some branch?

Thanks!