[2016-12-24 21:46] ev-br commented on #6882
Cannot repro with gcc/gfortran on linux:

[code]

same answer on scipy 0.17.1 and -dev.

[2016-12-24 21:49] pv opened #6884 "Vector-valued functions in fixed_quad"
Issue (or, enhancement request --- fixed_quad isn't currently advertised for vector-valued functions), cf. gh-6872
[code]

[2016-12-24 22:07] pv commented on #6882
gfortran allocates "small" arrays on stack, so it's recursion-proof in small problem cases.
You can try with smaller -fmax-stack-var-size=1

Lapack iirc works around this (it is also a threadsafety issue) by setting specific compiler flags. Of course, numpy.distutils makes this more difficult, but we should consider monkeypatching or upstreaming the fix.

[2016-12-25 00:21] cgohlke commented on #6882
I have updated the binaries at http://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy. The `/recursive` flag worked for me.

[2016-12-25 20:09] akhmerov commented on #4917
it works as long as the constituent arrays are not 1x1 size. I can confirm the bug with 0.18.1

[2016-12-25 20:11] akhmerov commented on #4917
Additionally `sparse.csr_matrix((3, 3))[[[]], [[]]]` returns a 1x0 `csr_matrix` instead of 0x0. Seems to be a related problem.

[2016-12-26 10:20] gabsee opened #6888 "[feature request] Add wavelet synchrosqueezed transform to SciPy"
Is anyone savvy enough to add the new **Wavelet Synchrosqueezed Transform (wsst)** (including inverse **iwsst**) to SciPy?

WSST has recently been implemented in MATLAB (R2016a): https://au.mathworks.com/help/wavelet/ref/wsst.html

The method is based on these two papers:
1. [I. Daubechies, I., J. Lu, and H. T. Wu. "Synchrosqueezed Wavelet Transforms: an Empricial Mode Decomposition-like Tool", Ap

[2016-12-26 14:00] ketch opened #6889 "dblquad gives different results under scipy 0.17.1 and 0.18.1"
We are seeing different results (leading to a test regression) when upgrading to scipy 0.18.1 from version 0.17.1.  The call that gives different results seems to be line 102 of https://github.com/clawpack/pyclaw/blob/master/examples/euler_3d/Sedov.py.  See also https://github.com/clawpack/pyclaw/issues/555.

[2016-12-26 15:44] ZacDiggum commented on #6878
see #6890

[2016-12-26 20:08] #6876 closed

[2016-12-26 21:12] rgommers commented on #6888
Seems interesting. It's out of scope for SciPy though, should go into PyWavelets. I'll open an enhancement request there and Cc you on it.

[2016-12-26 21:12] #6888 closed

[2016-12-26 21:19] rgommers commented on #1902
Thanks for the pointer @jyhmiinlin. MIT and BSD licenses are indeed compatible. There's quite a few options. This feature request is quite old now, and if your package or one of the other ones are well maintained then there's no urgent need to get this into SciPy I'd think. May still be a good idea though, to have a nufft that's easier to discover and install.

[2016-12-26 21:25] rgommers commented on #5648
Now that gh-6059 is merged, is the rest of this issue covered by gh-5668 or is there more?

[2016-12-27 04:01] rgommers commented on #6889
@ketch there's a couple of bug fixes in 0.18.1, but it's not clear that those are wrong. Looking at your test result, it complains about:

    norm of expected data: 71.8833212966
    norm of test data    : 71.879558627
    test error           : 0.0107725438014
    reltol  : 1e-06

Are you sure that the expected result is correct? It seems to just be whatever ``dblquad`` gave you before.

If you

[2016-12-27 06:23] ketch commented on #6889
Thanks for your attention to this.

That's right. My concern is that, as far as I can tell, none of those fixes were intended to change the numerical values returned by dblquad.  So this appears to be an unintended change -- a bug.

 Was one of those commits expected to change the return value?  If you could point me to it then I could see if it should improve things for my application.

[2016-12-27 12:08] pv commented on #6884
in gh-6885

[2016-12-27 12:08] #6884 closed

[2016-12-27 23:30] rgommers commented on #6878
This change would break any current usage of ``callback``, because the function signatures would not match.

It is not easy to add an extra argument without breaking backwards compat, would need:
- the new argument to be at the end, rather than in the middle as you propose
- introspection of ``self.callback`` to check that it supports a second keyword argument with the right name

It is possible,

[2016-12-27 23:47] rgommers commented on #6853
These kinds of evolutionary algorithms have several dedicated packages. DEAP (https://github.com/deap/deap) is the best and most actively maintained one AFAIK. There are several others, see http://esa.github.io/pygmo/ and  http://scipy.org/topical-software.html#optimization.

It seems out of scope for SciPy.  AntLion Optimization and Whale Optimization are also too new and not widely used enough t

[2016-12-28 19:25] pv commented on #6889
The relevant commits are here: https://github.com/scipy/scipy/commits/master/scipy/integrate/quadpack.py --- some things appear indeed wrong eg epsrel/epsabs are ignored, which is probably the cause.

[2016-12-28 20:06] dlax commented on #6878
I'd rather have the "internal" iteration loop exposed in an API so that users would be free to invoke a "callback" as they want. `DifferentialEvolutionSolver` already abstracts out part of this in an iteration protocol (`__next__` method), so it could just be one step further. We could even handle the solver initialization and termination using a context manager.

Something like:
[code]

Just a th

[2016-12-28 21:21] andyfaff commented on #6878
I'm not keen to change the callback signature because there are so many
attributes that could be useful to expose. If they're all sent to the
callback function then the callback function will get less and less like
the callback functions for the other minimizers.

I think the way that Denis displayed (i.e. using `next`) is much preferable
as all the innards are available from the solver object. In

[2016-12-28 21:56] dlax commented on #6878
Andrew Nelson a écrit :

I just meant what I illustrated in the example code ;)

That would mean making the DifferentialEvolutionSolver part of the
public API and have its `__next__` method return a "step" object
instance with all information bits about current iteration status
attached so that it can later be eventually extended without breaking bw
compat.

In general, it seems to me that with co

[2016-12-28 21:59] erichu8 opened #6897 "scipy.stats.mannwhitneyu of empty sets gives p=0.0 and does not raise exception"
`U,pval=scipy.stats.mannwhitneyu([],[])
`

gives U=0.0 and
**pval=0.0**

Other software raise an error and probably scipy should too.

[2016-12-29 04:40] rgommers commented on #6875
Thanks for the report @randyheydon

That's not a great idea; invalid input should give an exception not an apparently valid result with a ``message`` attribute that says "no I'm actually invalid".

Your analysis of the issue seems correct. Would you be interested to submit a PR to fix the issue?

[2016-12-29 06:48] ketch commented on #6889
@pv Thanks, you're right!  We were also seeing a huge slowdown, which is explained by the fact that the error tolerances are ignored (you can see that in our code the tolerances are set very loose and we have to evaluate a large number of integrals.  This is definitely a bug.

[2016-12-29 06:54] ketch opened #6898 "BUG: dblquad ignores error tolerances"
Due to https://github.com/scipy/scipy/commit/1b0a1dd95157c6931a46f3181ba5280d34ee1431, `dblquad` simply throws away the arguments `epsabs` and `epsrel`.  See also https://github.com/scipy/scipy/issues/6889.  It seems that we need tests that use non-default error tolerances.

This breaks the build in Clawpack, in two ways: modified return values cause a regression, and the inability to specify a lo

[2016-12-29 07:35] rgommers commented on #6897
Yeah ``mannwhitneyu`` has problems - there's 11 open issues about it. A rewrite in progress is gh-4933, but that has stalled.

[2016-12-29 07:42] rgommers commented on #6880
That's not surprising behavior I'd say, but this is:

    myvar[:12] = np.arange(10, dtype=float)

(should given an error but doesn't)

[2016-12-29 07:45] shoyer commented on #6880
One simple way to handle `Ellipsis` would to be convert it into a tuple of `slice(None)` objects with the appropriate length at the start of `__setitem__`.

@rgommers that behavior does look like a bug, too -- but a different bug!

[2016-12-29 08:02] rgommers commented on #6880
To explain why I'm not surprised:

    In [76]: time[...]
    Out[76]: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.], dtype=float32)

    In [77]: time[...] = np.arange(10)  # size 10 array assigned to size 10 time array - other size will fail

    In [78]: myvar[...]   # this is size 0
    Out[78]: array([], dtype=float32)

    In [79]: myvar[...] = np.arange(10)
    # should give an e

[2016-12-29 08:03] rgommers commented on #6880
agree it's easy to fix.

[2016-12-29 08:15] rgommers commented on #6883
In your example ``b`` is a column vector. The comment below the if statement says it's for row vectors. In your example, ``g.evaluate(b.T)`` does not give a ValueError.

[2016-12-29 10:49] poserleader opened #6899 "Scipy Optimize Error"
I'm trying to maximize/minimize a function with two variables using Lagrange Multiplier method, below is my code

[code]

When I try to do a simple function as the constraint such as u1+u2=4 or u1^2+u2^2 = 20, it works just fine , but when I try my actual constraint function it always gives this error, is there a reason why?? Thanks for the help

    C:\Python34\lib\site-packages\scipy\optimize\mi

[2016-12-29 12:32] certik commented on #6898
Hi David,

Sorry about that, we need to write some tests for that.

Nate, would you mind looking into that please?

Ondrej

Sent from my mobile phone.

On Dec 28, 2016 11:54 PM, "David Ketcheson" <notifications@github.com>
wrote:

Due to 1b0a1dd
<https://github.com/scipy/scipy/commit/1b0a1dd95157c6931a46f3181ba5280d34ee1431>,
dblquad simply throws away the arguments epsabs and epsrel. See also #68

[2016-12-29 12:34] evgenyzhurko commented on #6883
Yes, you're right, but this [if statement](https://github.com/scipy/scipy/blob/2a0d86f21402302bae2d81e85c1ee5532c8ac604/scipy/stats/kde.py#L197) isn't `True` in this case. I want to find example when this [if statement](https://github.com/scipy/scipy/blob/2a0d86f21402302bae2d81e85c1ee5532c8ac604/scipy/stats/kde.py#L198) is `True`.

[2016-12-29 14:30] randyheydon commented on #6875
I trimmed it out of the output in my message above, but don't forget that there is also a `success` attribute that will be `False` when the bounds are invalid.  There are many reasons that an optimization can be unsuccessful, so users of this function will need to check the `success` attribute no matter what.  As such, I don't think it would be wrong to remove this `ValueError`.

However, I have b

[2016-12-29 15:19] kaba2 opened #6900 "linear_sum_assignment with infinite weights"
### Error

The following code crashes:

    import numpy
    import scipy.optimize

    costSet = numpy.array(
        [[numpy.inf, 1, numpy.inf],
        [numpy.inf, 3, numpy.inf],
        [2, numpy.inf, 3]])
    scipy.optimize.linear_sum_assignment(costSet)

The error message is:

    _hungarian.py:144: RuntimeWarning: invalid value encountered in subtract
    state.C -= state.C.min(axis=1)[:, n

[2016-12-29 15:46] woodscn commented on #6898
As a temporary solution, you can use scipy.integrate.nquad directly, which gives the control you need (and more). I'll put together a patch to fix this as soon as I can.

[2016-12-29 16:59] ZacDiggum commented on #6878
Hm, I'm giving up for now. But creating custom termination functions would still be useful...
I'm using `differential_evolution` as a robust solver for high dimensional model fitting, that's where the motivation comes from. So, if this topic could be solved, I'd be very grateful...

[2016-12-29 18:03] ketch commented on #6898
Thanks!  I think we'll just force our test script to use 0.17.1 for now, but using `nquad` may also be a good option.

[2016-12-29 21:24] mhassell opened #6901 "Solving sparse linear systems in CSR format with complex values"
Hello, I'm working on using some of scipy's sparse solvers for both real and complex problems, and I seem to have found an issue when solving linear systems Ax=b where A is a real -valued matrix in csc format, and b is a complex numpy array.  When I try to solve such a system, I get the following warning:

and the vector x that is returned only contains the real part of the solution.  Now, if we e

[2016-12-29 21:58] perimosocordiae opened #6902 "BUG: sparse: CSR/CSC constructor prunes data with copy=False"
See the discussion of #6893 for more context.

Regardless of the setting of the `copy` kwarg, the `_cs_matrix` constructor calls `check_format`, which in turn calls `prune`, which may create a copy of the indices/indptr/data arrays.

The `prune` method currently performs some useful validation, so I think the checks should move directly into `check_format`, and then move the call to `prune` into t

[2016-12-29 22:07] perimosocordiae commented on #6901
Seems like a pretty easy fix: after making sure `A` is a floating-point type [here](https://github.com/scipy/scipy/blob/25a38df0df0e03c1b49833651ce37e9f4b2e6393/scipy/sparse/linalg/dsolve/linsolve.py#L110), we can get the result dtype using [np.promote_types](https://docs.scipy.org/doc/numpy/reference/generated/numpy.promote_types.html) and cast `A` and/or `b` to it as needed.

[2016-12-30 04:29] vlad17 opened #6903 "Docs [easy fix]"
[scipy.spatial.distance.pdist](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.pdist.html#scipy.spatial.distance.pdist) return array Y says it accepts indices `i < j` less than `n` (dimension of input data) but should be less than `m`, the number of data points.

[2016-12-30 04:52] dlwocks opened #6904 "optimize.minimize: new argument that calculates function value and derivative together"
Some context first:
I was implementing feedforward neural network with backpropagation. To train network, I used `optimize.minimize` (`method='BFGS'` in particular) to find the weight(`x`) that minimizes cost function for given input and target answer (input and target are constant throughout minimization). The weight that is used to compute cost function(`fun`) and its derivative(`jac`) constantl

[2016-12-30 08:19] rgommers commented on #6875
It seems more like a bugfix than a backwards compat break.

Well, also for univariate problems the only time users will get this exception is if they mis-specified the bounds in the first place right? If so, they may now be getting incorrect results, so this doesn't look like an obstacle to making the change to me.

I'd say go for an exception for invalid bounds. Unless someone disagrees in the ne

[2016-12-30 08:25] rgommers commented on #4458
Note that this behavior was improved in gh-6578 recently. I've just updated the example in the summary to use ``ascent`` instead of ``lena``, so it works with current master. I get:

    img = scipy.misc.ascent()
    print(img.min(), img.mean(), img.max())
    img2 = scipy.misc.imresize(img.astype('uint8'), [1000, 1000])
    print(img2.min(), img2.mean(), img2.max())
    img2 = scipy.misc.imresize

[2016-12-30 08:35] pv commented on #6904
Using a function that computes both function and gradient at the same
time is already possible, set `jac=True`.

[2016-12-30 08:36] #6904 closed

[2016-12-30 08:39] pv commented on #6875
Both behaviors (return value signaling error, raise exception) can be
argued for. ValueError for invalid bounds is likely the more obvious
behavior, as it does not make sense to do optimization if the feasible
set is manifestly empty.

[2016-12-30 08:55] rgommers commented on #4458
Actually, there's a bunch of comments from @gdooper around https://github.com/scipy/scipy/pull/6578#issuecomment-252435829 with suggestions about this issue. @gdooper's conclusion that his PR didn't affect the behavior here doesn't match what I'm seeing on master right now though.

[2016-12-30 08:56] rgommers commented on #4458
Are you sure? Last time I checked ``pillow`` wasn't great when dealing with ndarrays, it preferred its own ``Image`` class.

[2016-12-30 17:56] gdooper commented on #4458
@rgommers You will have to be careful with what input dataset you use in the summary to show the issue. The problem with using the `ascent` image is that it is already stretched to the range (0, 255). So you won't see the scaling issue with this dataset. The `lena` image had a min and max val of 25 and 245 I believe, so it did get rescaled with `imresize`.

So in the issue summary, I would recomme

[2016-12-31 00:03] ZacDiggum commented on #6878
#6905 exposes `func_val`,` nfev`, `nit` and `population` to `callback`.
These could be used to create custom terminators [like these](https://aarongarrett.github.io/inspyred/reference.html#terminators-algorithm-termination-methods).

[2016-12-31 11:45] ZacDiggum commented on #6878
#6907 now the diff is displayed correctly

[2017-01-01 20:08] datapythonista opened #6910 "Adding support for idx (MNIST) files"
I'm not sure about the popularity of the idx format for storing matrices, but being used by the popular MNIST dataset [1], I think there is many people who would like to have support for this format from scipy.

I saw in the scipy IO documentation [2] that "SciPy has many modules, classes, and functions available to read data from and write data to a variety of file formats."

Given that there exi

[2017-01-01 21:11] rgommers commented on #6910
The MNIST data is available in many formats here: http://mldata.org/repository/data/viewslug/mnist-original/ (that's also where ``sklearn`` grabs it from).

Imho there needs to be usage beyond a single dataset to be of interest for inclusion in ``scipy.io``. Are you aware of any other use cases?

[2017-01-02 06:04] jmunsch opened #6912 "Unable to install scipy with python3.7 on ubuntu 16.10"
I tried installing via: `python3.7 -m pip install scipy`

As well as: `git clone` and `make`

Any suggestions?

[code]

[2017-01-02 06:13] rgommers commented on #6912
``PyModule_Create2`` didn't disappear from 3.7-dev, so maybe something to do with how you built Python?

[2017-01-02 09:26] datapythonista commented on #6910
Thank you for the link, it's good to know.

While looking like a standard format to me, I'm not aware or couldn't find other datasets using this format. I agree that it doesn't make sense to add support for the format only to be able to open the MNIST dataset. IMO, the format is the simplest way to save a matrix in its binary representation, that's why I think it could be useful (not just to open

[2017-01-02 10:00] ZacDiggum commented on #6878
@dlax's suggestion sounds good to me...

[2017-01-02 10:07] ZacDiggum commented on #6879
@rgommers @dlax
I've put something together that allows for a single seed individual by overwriting the first individual of the initialized population. Nothing fancy. Should I PR or could you make some suggestions for that feature?

[2017-01-02 10:23] jmunsch commented on #6912
I think I botched the install by trying to pull the prebuilt binaries for ubuntu, which used python3.5 and then tried to rename stuff like below:

[code]

The thought being at the time, if its a memory limit (512MB of ram, and 4GB of swap) maybe I could just rename a few things and it might work.

I will retry with more ram sometime this week.

[2017-01-02 11:01] andyfaff commented on #6879
Initialization of population is currently specified by the init keyword.
The right way of seeding the population by specified individuals is for the
init keyword to also accept an array.

Note that the population members are scaled to a value between 0 and 1.

[2017-01-02 12:01] matthew-brett commented on #6912
Try this:

[code]

Does that work?

[2017-01-02 12:17] dlax commented on #6879
ZacDiggum a écrit :

It'd help if you could first show us an example code of this feature. If
we are about to expose the `DifferentialEvolutionSolver` API (#6878),
it's a good time to discuss this as well.

[2017-01-02 12:20] dlax commented on #6878
ZacDiggum a écrit :

Okay, I'll try to scratch an initial implementation of this idea soon so
we can discuss further.

[2017-01-02 20:58] rgommers commented on #6912
This will never work for any compiled Python extension - builds are specific to a single Python version (at least up to Python 3.6).

[2017-01-02 20:58] #6912 closed

[2017-01-02 22:19] rgommers commented on #6910
There already is such a simple standard format which is widely used: the ``.npy`` format (produced by ``np.save``).

[2017-01-02 22:38] datapythonista commented on #6910
Fair enough. I agree that is probably not that useful to add idx support at this point (unless it becomes more popular). Thanks for your comments.

[2017-01-02 22:38] #6910 closed

[2017-01-02 23:56] ZacDiggum commented on #6879
I've added a `p0` kwarg to `DifferentialEvolutionSolver`'s `__init__()` and `differential_evolution()` and put the following lines after the original initialization (after line 418):
[code]
As I said, nothing fancy. I attached a zip file containing the altered `_differentialevolution.py` (including the changes to `callback()`) and a curve fitting script based on `differential_evolution()`.
[curve_

[2017-01-03 04:41] #6875 closed

[2017-01-03 05:31] #6903 closed

[2017-01-03 07:12] #5056 closed

[2017-01-03 07:26] #6901 closed

[2017-01-03 07:53] rgommers commented on #5744
More discussion on this happened in gh-6895. About 6 people weighted in, all against removing ``get_window``. So closing this as wontfix. Thanks for the discussion everone.

[2017-01-03 07:53] #5744 closed

[2017-01-03 10:08] andyfaff commented on #6879
There's no need to add an extra p0 keyword. The init keyword can be used
for this.

[2017-01-03 10:38] ZacDiggum commented on #6879
Do you think of something like `init=('latinhypercube',p0)`?
Btw, is one seed individual enough or should it be more?

[2017-01-03 10:44] dlax commented on #6879
I think this would be doable without any additional development with the API I'm working on for #6878:

[code]

the idea is that entering the context would trigger population initialization, so it's quite easy to modify the population later on and before running the optimization loop.

@ZacDiggum would that work for you?

[2017-01-03 10:59] renemilk opened #6917 "Problem in passing drop_rule to scipy.sparse.linalg.spilu"
While trying to use ```scipy.sparse.linalg.spilu``` we've discovered a problem when trying to pass a ```drop_rule```. It seems to reject both a ```bytes``` and a ```str``` object with a ```TypeError```.
[Demo code](https://gist.github.com/renemilk/7e88fc664d1ddc54d2a60b35adc35a33)

Currently our only solution is to not pass ```drop_rule``` at all. Tested on python 3.5.2 and both scipy 0.18.1 and c

[2017-01-03 11:01] andyfaff commented on #6879
No. Instead of giving a string to init one will give an array.

`init=p0`

Where p0 is an array. In __init__ there is some code which tests which
string was used for the init keyword. This section will also test if an
array-like object was passed in.
If an array like object was provided then initialization will be started
using Latin hyper squares. Then the population array will be partially or
fu

[2017-01-03 11:17] ZacDiggum commented on #6879
@dlax Sure would! Your new API looks very promising! I'll wait for your first draft.
@andyfaff  You mean init would default to 'latinhypercube' if an array is provided? Is 'random' necessary after all?
Off topic: what happened to parallel evaluation (#5141)? If @dlax's API is final, maybe we could give that one another try...

[2017-01-03 11:27] andyfaff commented on #6879
I chimed in too early. Let's wait for @dlax api.

The parallelisation effort is stalled at the moment. I think it needs
significant refactoring, which is something I can do.

On 3 Jan 2017 11:17 am, "ZacDiggum" <notifications@github.com> wrote:

[2017-01-03 21:25] MattReimer opened #6918 "scipy.spatial.Voronoi not working with high number coords"
A little context: We're trying to use Voronoi diagranms with points in GIS shapefiles, which have coordinates with large numbers like `[470121.0, 5118838.0999999996]`

When I run `scipy.spatial.Voronoi()` on raw points I get:
![figure_1](https://cloud.githubusercontent.com/assets/1063391/21623463/5922aa54-d1b7-11e6-8be1-2a4bed665584.png)

And this is is weird to me. There are shapes but they are r

[2017-01-03 23:02] ev-br commented on #6889
Grr. This, gh-6898 and https://github.com/scipy/scipy/pull/6495 seem to make the case for a 0.18.2

[2017-01-04 01:20] pv commented on #6918
Yes, you must center the data around zero first, qhull does not do this for
you.

3.1.2017 23.26 "Matt" <notifications@github.com> kirjoitti:

[2017-01-04 02:58] perimosocordiae commented on #6918
Looks like the docs don't mention this anywhere (that I can find). Maybe we should add a note?

[2017-01-04 03:26] rgommers commented on #6918
or do the centering before passing the data to qhull?

[2017-01-04 03:49] rgommers commented on #6889
I think gh-6495 is not super high prio, but if we can get this fixed well before we get to 0.19.0 then yes, agree that 0.18.2 makes sense.

[2017-01-04 03:50] d10genes opened #6920 "duplicate arg names for ksone and levy_stable methods"
From the documentation some methods have duplicate arg names:

[ksone](http://scipy.github.io/devdocs/generated/scipy.stats.ksone.html#scipy.stats.ksone
)

    moment(n, n, loc=0, scale=1)

[levy_stable](http://scipy.github.io/devdocs/generated/scipy.stats.levy_stable.html#scipy.stats.levy_stable)

    interval(alpha, alpha, beta, loc=0, scale=1)

The latter was reported in #5982

[2017-01-04 05:41] jotasi commented on #6397
@PetrKosvanec Hi. Are you still working on this or can I give it a shot?

[2017-01-04 12:04] lesshaste opened #6921 "[Feature request] Random unitary matrix"
scipy already has support for creating a random orthogonal matrix at https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ortho_group.html .  For quantum applications a more common task is to create a random (complex valued) unitary matrix.

In matlab this is done as follows:

[code]

It would be great if this functionality could be added to scipy.

[2017-01-04 17:49] Arnoques opened #6922 "Docs for find_peaks_cwt are incorrect"
Docs for scipy.signal.find_peaks_cwt state that the default for `gap_thresh` is 2, but the code says (https://github.com/scipy/scipy/blob/master/scipy/signal/_peak_finding.py#L509)

[code]
Thanks

[2017-01-04 22:07] #4831 closed

[2017-01-04 23:23] MattReimer commented on #6918
This is good to know. I plan to just transform everything then transform it back when I need it. Would be nice to have that baked in but I'm not sure how much effort that would be.

[2017-01-04 23:50] h4k1m0u opened #6925 "pip install scipy on windows"
Hi,

I'm just wondering why `numpy` can be installed on Windows using `pip`, while for `scipy` it seems that it requires a compilation?

Are there any plans to make this command work on windows on the future: `pip install scipy`?

Thanks.

[2017-01-05 00:15] ev-br commented on #6925
Duplicate of https://github.com/scipy/scipy/issues/5461 and https://github.com/scipy/scipy/issues/6619. Not sure what the status of the MinGW effort is though.

[2017-01-05 00:15] #6925 closed

[2017-01-05 00:19] rgommers opened #6926 "signature mismatches for LowLevelCallable"
Haven't figured out the cause. The only thing I thought looked possibly problematic on 32-bit Python is the ``size_t`` casts at the end of ``_ccallback.pyx``. Everything else just uses plains ``int``s.

    ======================================================================
    ERROR: test_ccallback.test_callbacks('cython', 'ctypes', 'capsule')
    ----------------------------------------------

[2017-01-05 00:21] rgommers commented on #6926
The other thing I didn't quite understand was that the ``cffi`` signatures start with ``double (*)`` while the ones used in ``_test_ccallback`` start with ``double``.

    FUNCS = {
        'python': lambda: callback_python,
        'capsule': lambda: _test_ccallback.test_get_plus1_capsule(),
        'cython': lambda: LowLevelCallable.from_cython(_test_ccallback_cython, "plus1_cython"),
        'c

[2017-01-05 07:31] rgommers commented on #6921
This might be doable in a simple way with the current ``ortho_group``, not sure. @philipdeboer maybe you can comment?

[2017-01-05 07:32] rgommers commented on #6397
@jotasi 3 months since the last comment is a long time, just go for it I'd say!

[2017-01-05 07:49] jotasi commented on #6397
@rgommers Alright, I will.

[2017-01-05 13:56] adyomin opened #6927 "scipy.optimize ImportError: cannot import name '_zeta'"
Hi!

I ran into scipy.optimize import error today: whenever I try to import scipy.optimize I get "ImportError: cannot import name '_zeta'" error.  As other similar SO posts suggested, I tried updating scipy (conda upgrade scipy -f) and conda (conda update --all) as well. My macOS system has no uninstalled updates.  I tried rebooting the system.

Here is the error message I get:

[GCC 4.2.1 Compati

[2017-01-05 17:38] jason-s opened #6928 "scipy port of chebfun?"
I'm looking for a Python library that can compute best rational approximations given numerical data (similar to Chebyshev polynomial approximation but for rational functions) and I ran across the [MATLAB Chebfun library](https://github.com/chebfun/chebfun) (see also http://www.chebfun.org/ ) which looks very promising, and is BSD-licensed. This is a library with a long history, facilitated by the

[2017-01-05 18:13] person142 commented on #6928
Whether or not SciPy is the right place for this is open to interpretation. For example, Chebyshev approximations already reside in NumPy. (Which is maybe due to history, but that's how it is.)

[2017-01-05 18:21] person142 commented on #6927
Sounds like you have an old version of `special._ufuncs`--the function `zeta` in there was renamed to `_zeta` somewhat recently. What happens if you completely uninstall SciPy and then reinstall a fresh version? (Also, what version of SciPy are you using?)

[2017-01-05 18:41] jason-s opened #6929 "scipy implementation of Carathéodory-Fejér method for approximating with rational function"
See http://eprints.maths.ox.ac.uk/926/1/NA-10-03.pdf. MATLAB implementation in https://github.com/chebfun/chebfun/blob/34f92d12ca51003f5c0033bbeb4ff57ac9c84e78/%40chebfun/cf.m (BSD-licensed); I tried to port (I know MATLAB reasonably well) but I'm stuck in the mud trying to understand what it's doing in places, like the `vscale` method.

See also http://www.chebfun.org/examples/approx/CF30.html wh

[2017-01-05 18:43] charris commented on #6928
IIRC, chebfun defines functions by their values at a large number of discrete points and gains speed by using the discrete cos transform. Differential operators and such, together with their boundary conditions, are represented as matrices. I haven't looked at the project since it came out (2002), but I don't believe it does rational approximation. That was a long time ago, however, so such facili

[2017-01-05 19:07] PetrKosvanec commented on #6397
Go for it, please. I am looking for a job. And finished MITx's edx course
6.00.2x in between. I am sorry that I did not attempt this.

On Thu, Jan 5, 2017 at 8:49 AM, jotasi <notifications@github.com> wrote:

--
Petr

[2017-01-05 19:08] PetrKosvanec commented on #6397
''in the meantime", not in between

On Thu, Jan 5, 2017 at 8:07 PM, Petr Kosvanec <kosvanec@gmail.com> wrote:

--
Petr

[2017-01-05 19:14] jotasi commented on #6397
@PetrKosvanec Thanks for letting me know. Good luck with the job search!

[2017-01-05 19:15] PetrKosvanec commented on #6397
Thank you. Good luck with the bug(s)!

On Thu, Jan 5, 2017 at 8:14 PM, jotasi <notifications@github.com> wrote:

--
Petr

[2017-01-05 19:36] pootle opened #6930 "uniform_filter1d appears to truncate rather than round when output type is int (ish)"
This means that operations on masks (which are boolean) can exhibit bizarre behaviour, as computed values like 0.999999999 end up as False (zero).

in particular using a range of sizes from 3-10, size= 6 and size=7 will never yield True, even though size = 8 does.

Succinctly described by Warren Weckesser on StackOverflow [here](http://stackoverflow.com/questions/41489650/using-scipy-ndimage-unifo

[2017-01-05 20:11] jotasi commented on #6397
While trying to write the tests for this, I realized that there is actually also a problem with reading matrices with large integers. When reading such a matrix, there is no check for the bit size of the integers. It will always default to signed 32 bit integers which results in an integer overflow as soon as one hits `2**31`. This holds true for both sparse and dense matrices. For example:

[code

[2017-01-05 20:44] ev-br commented on #6928
There's  https://github.com/scipy/scipy/pull/4674, does it fit the bill?

[2017-01-05 20:46] mspradlin commented on #6397
Hi,

I'm the original submitter of this bug.

Unfortunately, indeed, I have not been able to find a specification of
the MatrixMarket format that clearly defines exactly what "integer"
means.

So I guess that means the door is open for it to be implementation
dependent; in which case you might decide to resolve my bug report by
saying "will not fix".

Mathematica, for example, has built-in support

[2017-01-05 21:05] jason-s commented on #6929
whee! I was able to get the CF30 function working, by comparing the Matlab code executed running in Octave (I don't have Matlab).

see https://gist.github.com/jason-s/81c57b337ebc39da9eaa30d239116a52 -- I hereby release this to scipy per the SciPy license, in case you find this useful.

[2017-01-05 21:14] rgommers commented on #6928
Cross-linking with gh-6929, which has a link to an implementation of one chuebfun method.

[2017-01-05 21:47] adyomin commented on #6927
@person142 conda list was showing both scipy 0.18.1 and scipy 0.17.1 installed.  Just in case I removed conda completely, ran a fresh installation + conda update --all - that did the trick!

Thank you very much for taking time to look into my case!

[2017-01-05 21:47] #6927 closed

[2017-01-05 22:37] jason-s commented on #6928
And that's how it should be. The `numpy.polynomial.chebyshev` module is good and should stay as is. They are different than chebfun objects, which have a much richer set of operations, and which benefit from the work done by Nick Trefethen and his group. He's basically the Einstein of numerical analysis.

It does, it has the [cf](https://github.com/chebfun/chebfun/blob/development/%40chebfun/cf.m)

[2017-01-05 22:47] jason-s commented on #6928
Yes and no. #4674 uses Pade approximations (I think? not sure). Pade approximations are the rational analogue to Taylor series, which rely on the analyticity of a function around a single point to use its derivatives. Similarly, Carathéodory-Fejér rational approximations are the rational analogue to Chebyshev approximation, which seeks to approximate a function over an interval, yielding roughly m

[2017-01-06 02:19] metaperture commented on #5718
The paper you reference is not proposing that that is what weights mean, it's proposing that as a variation of the standard algorithm. Note that even in that paper, it calls that approach the non-standard one. It's also saying to use $w' = w^\beta$, then apply the weights as you would normally--which would be easier under the correct implementation than it would be now (the current implementation

[2017-01-06 02:41] josef-pkt commented on #5718
not in most usages for weights that I have seen
see for example the link from an earlier comment
http://stats.stackexchange.com/questions/15289/when-to-use-weighted-euclidean-distance-and-how-to-determine-the-weights-to-use

(I would consider weights as the reciprocal of the standard deviation in this case, so that the `fabs(u[i] - v[i]) * w[i]` is the standardized difference, and the power functi

[2017-01-06 02:50] metaperture commented on #5718
If you mean that weights are the reciprocal of the variance (std dev squared), then yes, that's a common equivalent transpose of the problem--if you define a probability space where the measure is the inverse variance, then the expected risk minimizer on that space is also the one with the least variance.

Weights as measure is the ERM approach, weights like inverse variance is (often, but not alw

[2017-01-06 02:57] josef-pkt commented on #5718
No, I mean standard deviation (sqrt of variance).
from the initial description above
[code]

that's exactly what we are doing in kernel regression (IIRC) where `w` would be the inverse bandwidth, and in robust estimation where pow would be some robust function.

If p = 2, then this coincides with using the variance, but not if p !+ 2

[2017-01-06 02:58] metaperture commented on #5718
Do you have a reference for that? The link you gave seems to be inv var weighted.

[2017-01-06 07:42] rgommers commented on #6242
Outcome of gh-5458: if we move ``imsave`` there's a preference to rename it to ``imwrite``.

[2017-01-06 08:07] pv commented on #6928
Re: rational approximations.
They are imho in scope for scipy.
There are two things: efficient representation and construction. #4674
needs work, since the barycentric repr used has bad accuracy for
extrapolation (chebfun guys jave a paper on this).

6.1.2017 0.47 "Jason Sachs" <notifications@github.com> kirjoitti:

[2017-01-06 08:12] pv commented on #6926
This is on 32bit? Will take a look once back from traveling.
.
Cffi and cython differ in signatures here. This is just convention, the
precise content of the signatures doesnt matter since they are only used as
tokens.

5.1.2017 2.21 "Ralf Gommers" <notifications@github.com> kirjoitti:

[2017-01-06 08:14] pv commented on #6926
Probable cause is int vs long, which is accpunted for in ndimage/quadpack,
but not iirc in the test code.

6.1.2017 10.12 "Pauli Virtanen" <pvirtn@gmail.com> kirjoitti:

[2017-01-06 08:17] pv commented on #6926
If so, fix is to add similar ifdefs as in quadpack/ndimage tovthe test code.

6.1.2017 10.14 "Pauli Virtanen" <pvirtn@gmail.com> kirjoitti:

[2017-01-06 08:34] rgommers commented on #6926
indeed

That's what it usually is, but I couldn't find any ``long``s except in an ``info`` field which wasn't used. I'll have a look again.

[2017-01-06 09:55] rgommers commented on #6926
Okay found it, the ctypes ``func.argtypes`` produces ``LP_c_long`` type names.

[2017-01-06 20:07] ybayle opened #6935 "dunn post-hoc test missing [new feature request]"
Hi,
Thank you for your awesome work which I regularly use!
Unfortunately after a [Kruskal-Wallis H-test](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kruskal.html) for independent samples I need to perform a Dunn test which is not already present and does not exist at all in Python (I only managed to found an R implementation [cf this link](https://cran.r-project.org/web/packag

[2017-01-06 20:33] josef-pkt commented on #6935
Do you have a link or reference for Dunn's test? I don't remember which test it is.

multiple testing corrections and multiple comparison are in statsmodels. I might have ignored Dunn's test because it doesn't maintain the size (i.e. overrejects).
But there are also some multiple comparison, post-hoc test for rank based methods in a statsmodels issue discussion and some gists.

[2017-01-06 20:37] rgommers commented on #6935
One of the few mentions I can find is https://en.wikipedia.org/wiki/Kruskal%E2%80%93Wallis_one-way_analysis_of_variance. That also says Conover-Iman is a more powerful test, so probably should have that too somewhere.

@josef-pkt there are references in the R docs linked to above:
[code]

[2017-01-06 20:38] rgommers commented on #6935
Looks like this would fit better in ``statsmodels`` than in ``scipy.stats``?

[2017-01-06 20:38] ybayle commented on #6935
Here are some links:

- [stackexchange](https://stats.stackexchange.com/questions/107945/multiple-comparisons-in-a-non-parametric-test)
- [official R package](https://cran.r-project.org/web/packages/dunn.test/index.html)

Beside to Dunn there are Conover-Iman and Dwass-Steel-Citchlow-Fligner tests which are not include  in scipy.

[2017-01-06 20:57] josef-pkt commented on #6935
ok, this might be https://github.com/statsmodels/statsmodels/issues/852 starting with discussion by alimuldal
His gist after some discussion is at https://gist.github.com/alimuldal/fbb19b73fa25423f02e8
the discussion there switched mostly to kruskal nemenyi test

currently implemented in statsmodels are multiple pvalue corrections including FDR and tukey HSD multiple comparison.

I think the multi

[2017-01-06 21:13] josef-pkt commented on #6935
checking the R pdf

[code]

Those and more are all available in statsmodels. They are just "generic" p-value corrections, while using the distribution from tukey hsd uses the assumption of independent samples for the p-values or critical values.
There is also a MultipleComparison class in statsmodels which has a unadvertised rank and generic pairwise comparison feature. But it does not impose comm

[2017-01-06 21:29] rgommers commented on #6935
Thanks Josef. I agree, so closing this issue. Feel free to continue discussing here, or move over to the statsmodels issue tracker.

[2017-01-06 21:29] #6935 closed

[2017-01-06 22:22] rgommers commented on #6397
Silent overflow seems bad. The memory issue doesn't seem so bad, nor does the uint64 corner case. This solution seems preferable - either always ``int64`` or use the native ``int`` type by default (so raise an error on 32-bit systems for values that are too large).

This type of behavior is usually not preferred, dtype shouldn't depend on numerical values.

no need for a new issue if you're tackli

[2017-01-06 23:43] rgommers commented on #6920
Thanks for the report @d10genes. Let's add ``ksone`` to gh-5982 and close this issue as a duplicate. I'll comment there on the issue itself.

[2017-01-06 23:43] #6920 closed

[2017-01-06 23:44] rgommers commented on #5982
As reported in gh-6920, ``ksone`` also has such an issue: ``moment(n, n, loc=0, scale=1)``.

[2017-01-06 23:47] rgommers commented on #5982
The normal use of ``levy_stable.interval`` and ``ksone.moment`` is not broken, you'd have to use an unusual style of calling these methods to get an exception.

Still, would be nice to have it fixed. Possible approach:

- write a test that parses the ``Methods`` section of all distribution docstrings and checks those for name collisions (there may be more that haven't been spotted yet).
- Rename t

[2017-01-07 08:23] jotasi commented on #6397
Thank you for the clarification on whats the preferred behavior. I agree that silent overflow should definitively be fixed in some way. Using the native `int` type seems like a good solution, especially since I double checked and saw that `mmwrite` does not support unsigned integers either and raises an error if you try to use an array with that dtype.

[2017-01-07 20:09] rgommers commented on #5750
Fixed in gh-6939, thanks all.

[2017-01-07 20:09] #5750 closed

[2017-01-08 01:40] rainwoodman commented on #5084
Closing this -- Implemented by #5091.

[2017-01-08 01:40] #5084 closed

[2017-01-08 01:55] rainwoodman commented on #5993
Note that Dual tree pair iteration was not included in 5647.

[2017-01-08 02:22] rainwoodman opened #6941 "cKDTree reduce redundant distance code."
Currently, query_knn and the rest of cKDTree uses two separate sets of code for calculating distance.

They can be merged without much performance penalty. This may help clearing up https://github.com/scipy/scipy/issues/5657 and https://github.com/scipy/scipy/pull/6663

[2017-01-08 15:29] #6926 closed

[2017-01-08 15:33] #5537 closed

[2017-01-08 17:32] ev-br commented on #6869
Closing as done in gh-6874

[2017-01-08 17:32] #6869 closed

[2017-01-08 17:34] #4917 closed

[2017-01-08 17:45] ev-br commented on #6873
@Qukaiyi could you please add  a minimal reproducible example, something we can directly run? Also it would be helpful if you explain what precisely you think is wrong with `scipy.stats.boxcox`. If there's a discrepancy with R, please also add specific R commands you're using.
As written, this report is not  actionable.

[2017-01-08 17:50] ev-br commented on #6840
So the issue is not an easy-fix, thanks for checking @evgenyzhurko! A rewrite of the _logpmf in terms of `betaln` would still be a nice cleanup, so please submit it as a PR if you've done it anyway.

[2017-01-08 17:52] ev-br commented on #6719
OK, is this something we can improve on our end or do we declare it a downstream responsibility and a wontfix for scipy.sparse?

[2017-01-08 18:15] ev-br commented on #6618
FWIW, I'd suggest just documenting it and accepting that `splprep` is an odd one out.

Ideally, cross-link to `BSpline` which does does not require zero-padding:
http://scipy.github.io/devdocs/generated/scipy.interpolate.BSpline.html#scipy.interpolate.BSpline

[2017-01-08 18:16] ev-br commented on #6618
Am tentatively labelling it as an easy-fix for the documentation.

[2017-01-08 18:51] perimosocordiae commented on #6719
I think it's a downstream responsibility: the issue will only appear when a sparse matrix is modified in-place, bypassing the checks in the constructor.

It might be nice to add a note to the docs encouraging the use of `check_format()` in these cases, though.

[2017-01-08 18:51] #6719 closed

[2017-01-09 08:40] Qukaiyi commented on #6873
@ev-br  I‘m sorry. here is my example in `python` and `R`:
First, load my example data in here([example_data.txt](https://github.com/scipy/scipy/files/692833/example_data.txt)):
[code]
Now, I use `scipy.stats.boxcox` and `scipy.stats.boxcox_normmax`:
[code]
We see that `boxcox_normmax`  choose a `lambda` far from (-2,2) interval. and the transformed values are all the same.

And the following is t

[2017-01-09 09:49] WarrenWeckesser commented on #6873
Apparently the code that computes the MLE of lambda in `boxcox_normmax` allows an intermediate value of lambda to become negative enough (and the values in the input array are big enough) that the terms in x`**`lambda all become less than the machine epsilon, and then x`**`lambda - 1 is an array of all -1:

[code]
When this happens, any further calculation performed by `boxcox_normmax` is basicall

[2017-01-09 10:14] Qukaiyi commented on #6873
@WarrenWeckesser  Thank you for your quick reply!
Your suggestion of tweaking the `brack` argument  is find practice and work for me now.
Thanks a lot!

[2017-01-09 10:37] WarrenWeckesser commented on #6873
@Qukaiyi Thanks for providing the data and the additional information.  That made it easy to track down the problem.

In case anyone else is wondering about the discrepancy between R and scipy in the estimate of lambda: apparently the R function `BoxCox.lambda` only returns a single digit of precision.  For example:
[code]
In scipy:
[code]

[2017-01-09 10:50] Qukaiyi commented on #6873
@WarrenWeckesser Get it! `Scipy` has higher  precision than `R`.

[2017-01-09 21:04] adivijaykumar commented on #3694
Hi, would like to work on this issue.

So is it sure that this problem arises due to the aliasing? Shall I proceed with what @rgommers has suggested?

[2017-01-09 22:54] herronELLINGTON opened #6949 "interp2d function crashes python"
I generate a "interp2d" function. I then try to pass in large pandas series objects and it crashes.   If I create a loop and ask this function one point at a time it works but it is slow.   Can someone help me get a fast method working?

Thanks,
--Liam

[SciPyInterp2dCrash.zip](https://github.com/scipy/scipy/files/694841/SciPyInterp2dCrash.zip)

[2017-01-09 22:56] pv commented on #6949
How does it crash? What is the error message?

[2017-01-09 23:06] herronELLINGTON commented on #6949
[CrashDebugError.docx](https://github.com/scipy/scipy/files/694859/CrashDebugError.docx)

python.exe crashes and I click "Debug the program".   I attached the visual studio error messages and call stack.

[2017-01-10 03:19] philipdeboer commented on #6921
That seems feasible, yes. I will try to take a closer look at it in a few days.

[2017-01-10 05:25] tylerjereddy commented on #6820
Although, I note that the `ConvexHull` data input size limit I'm reporting here is far greater than the limit described in the other issue.

It also seems to be true that if I don't pin down the random seed the reproducibility of the exact upper limit on the tractable data size isn't convincing. In one test, `(268435448, 2)` was the largest successfully handled random data set for `ConvexHull`, bu

[2017-01-10 09:28] rgommers commented on #3694
Looks like it.

A PR for that would be nice. Try to keep it as short as possible while still being understandable.

[2017-01-10 16:41] marekyggdrasil opened #6951 "SLSQP constraint violation with 0 exit code"
I noticed it happened before to several other users, example

http://scipy-user.10969.n7.nabble.com/SciPy-User-fmin-slsqp-constraint-violation-with-0-exit-code-td18875.html

I prepared a runnable example that reproduces the problem.

[code]

Outputs

[code]

As we can see, exit mode is 0 while at same time 2 of equality constraints are not equal to zero and one inequality constraint is negative.

[2017-01-10 16:55] pv commented on #6951
The equality constraints are around machine epsilon, which is probably
numerically zero as far as SLSQP is concerned. The same may be for the
negative constraint. I don't however recall outright to what tolerances
SLSQP uses for these.

[2017-01-10 18:16] rcompton commented on #6109
Hmmm, I just ran into this as well. Any idea what was wrong with your array?

[2017-01-10 18:39] marekyggdrasil commented on #6951
@pv thank you for such quick feedback. Indeed you are right, I found `ftol` method-specific parameter, when I set it I get different results. For example:

[code]

Now output becomes

[code]

Results appear to be better as more constraints look equal to zero however in terms of some total distance among all constraints looks much less good.

I suppose the default value for tolerance parameter `1e-

[2017-01-10 18:43] #6951 closed

[2017-01-10 18:48] rgommers commented on #6109
@rcompton if it looks like a real issue, can you post a reproducible example? then I'll reopen this

[2017-01-10 19:39] WarrenWeckesser commented on #6109
I can reproduce this:

[code]

[2017-01-11 10:35] mangecoeur opened #6954 "Cannot pickle the result of SciPy linear regression"
Although `linregress` returns a regular `namedtuple`, it is not pickleable:

[code]

gives

`PicklingError("Can't pickle <class 'scipy.stats._stats_mstats_common.LinregressResult'>: attribute lookup LinregressResult on scipy.stats._stats_mstats_common failed"`

One issue this causes is making it impossible to use in with multiprocessing in joblib ( see https://github.com/joblib/joblib/issues/477),

[2017-01-11 13:25] lesteve commented on #6954
[code]

although `LinregressResult` is defined in `scipy/stats/_stats_mstats_common.py`: https://github.com/scipy/scipy/blob/3e2351538d7871641b700c998500a1664e5ebb69/scipy/stats/_stats_mstats_common.py#L10.

It does ring a bell that this kind of things can happen when you have circular imports ...

[2017-01-11 13:40] pv commented on #6954
It's probably already fixed only on master, but not in released versions.

[2017-01-11 13:45] lesteve commented on #6954
Fixed in master indeed. It did not occur to me that I was looking at the source in master and testing on the released version ...

[2017-01-11 15:15] herronELLINGTON commented on #6949
Any ideas?  Has anyone been able to reproduce the crash I am seeing?

[2017-01-11 15:18] nlw0 opened #6955 "Optimization algorithm contribution"
Greetings. I have this implementation of a trust-region Gauss-Newton method, following Fletcher's book. I also have an SQP method implementation, of which this was a part of. I would love to contribute all that to scipy, but I am quite unsure how to begin. Can anyone give me some initial advice? I just need to understand where I would include the function, and how to deal with the C parts... Here

[2017-01-11 15:55] #5344 closed

[2017-01-11 15:56] Naereen commented on #5346
Any update ?

I would be very useful to have what I suggested on the documentation.

[2017-01-11 21:06] person142 commented on #6949
Yes, I can reproduce it. If I pass in the underlying arrays instead of the Pandas dataframes then I see this message:
[code]

If you could pare down the example to something that can be reasonably copy-pasted into a comment then it would make it easier for people to take a look.

[2017-01-12 09:45] rgommers commented on #5346
@Naereen thanks for the idea, I think that would be quite nice to have. It needs someone willing to work on this though.

[2017-01-12 10:14] Naereen commented on #5346
I miss a good reference book on sparse graph algorithms, in fact, that's why I haven't started to do it myself.

[2017-01-12 16:16] cheerjam opened #6958 "chunk ID"
hi
I create my wave file by logic pro ,and when I open it with scipy wavefile read function,warning appears.I debug it and find that the wave file has a chunk id "LGWV",so that the code cannot recognize it ,is there any solution? Thx!

        while (fid.tell() < fsize):
            # read the next chunk
            chunk_id = fid.read(4)
            if chunk_id == b'fmt ':
                size, c

[2017-01-12 16:45] pv commented on #6958
Just ignore the warning or suppress it via Python's warnings module.

[2017-01-12 20:06] dlax commented on #6955
There are already trust-region methods in `scipy/optimize/_trustregion*` available as `method=dogleg` and `method=trust-ncg` in `minimize()`.

So if you want to contribute something, this would probably go into the `minimize()` interface and live in one of existing `_trustregion*.py` files.

But first of all, you should explain how the algorithm you propose differ from the ones we already have.

@

[2017-01-12 20:54] nlw0 commented on #6955
From what I get, the dog-leg method approximates the trajectory at each step using a couple of straight lines, and only works with a positive definite Hessian. In this algorithm I implemented we actually calculate the exact point from the trajectory, using root-finding for this, and it works with an indefinite and even definite negative Hessian. I am not sure about the ncg, is it like the conjugat

[2017-01-13 14:32] psiehr opened #6959 "scipy.interpolate.LSQUnivariateSpline - check for increasing array x ?"
[LSQUnivariateSpline](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.LSQUnivariateSpline.html)
Documentation:
x : (N,) array_like
Input dimension of data points – **must be increasing**

---
In my opinion this should throw an error, if not true.
I just had the case where I got a solution very, very close to the correct solution.
And I noticed that only by accident.
some_spl

[2017-01-13 15:22] psiehr commented on #6843
I just noticed this issue.  There is no reason why x0 should or should not be 0.
The MinRes method converges for all initial guess x0, if A is (real) positive definite.

But the documentation tells us:  "A can be indefinite or singular."

If I can read your code correctly you even check if A is symmetric:
[Sourccode](https://github.com/scipy/scipy/blob/master/scipy/sparse/linalg/isolve/minres.py#L

[2017-01-14 00:03] y0m0y opened #6960 "serious bug in minimize_scalar when method='Bounded'"
...

     fun: 0
 message: 'Solution found.'
    nfev: 25
  status: 0
 success: True
       x: 0.99999403913901341

The obvious correct answer is that the minimum is at x=0 with the function value being -1. Note the fact ff(x) is not differentiable here is not crucial, it happened to me for a smooth function with a flat plateau.

[2017-01-14 00:17] pv commented on #6960
Local minimizers return local minima. Any point on a flat plateau is a
local minimum.

[2017-01-14 00:19] #6960 closed

[2017-01-14 01:41] stsievert commented on #6899
`fsolve` is having a hard time finding the roots given those constraints. My first thought is to pass in `fprime`, a function to compute the Jacobian.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.fsolve.html

That's a warning.

[2017-01-14 02:17] y0m0y commented on #6960
This could happen to an increasing function with almost zero slopes. The example shows at least the code is fragile. I, perhaps most people, would expect the code to test whether the two endpoints are local minima, eg. evaluate at x0 and x0+delta. That was one of the reasons I chose this particular method versus other methods. I hope this improvement, which is simple to code, will be made in futur

[2017-01-14 14:09] ssalonen opened #6961 "Scipy contains shebang pointing to /usr/bin/python and /bin/bash which are problematic"
Hi

We are packaging scipy pre-installed in a virtualenv using a rpm. RPM has a "convenient" feature to automatically scan for script files with shebang and adding those as requirements of the resulting rpm. For more information, see [this blog post](http://www.legendiary.at/2013/03/20/rpmbuild-shebang-auto-required-packages/).

Most of the scipy scripts use

[code]

which rpm resolves to whatever

[2017-01-14 14:27] pv commented on #6961
There's probably no problem in doing that. Note however that those
scripts are never run unless you are doing development.

[2017-01-14 14:53] ssalonen commented on #6961
Thanks for the quick response!

Yeah, I understand they are meant for development only. I believe they are still marked to be installed and thus cause the described issue with our way of rpm packaging...

I will come back with PR.

Best
Sami

[2017-01-14 15:02] pv commented on #6961
At the same time, you can perhaps remove all shebang lines from the "test_*.py" files --- these files should never have executable bit set.

[2017-01-15 10:25] ssalonen commented on #6961
PR submitted with the proposed changes.

[2017-01-15 13:24] #6961 closed

[2017-01-16 09:35] rgommers commented on #6898
Hmm, wrote my email about 0.19.x a bit too quick. This one is a blocker I think. @woodscn do you have time to look into this in the near future?

[2017-01-16 09:59] rgommers commented on #5346
The reference book is not the main work - it's easy enough to get from Wikipedia, for example: https://en.wikipedia.org/wiki/Shortest_path_problem#Single-source_shortest_paths. The issue there is that there are multiple implementations of an algorithm possible, for example in the table I linked to there are 3 variants of Dijkstra's algorithm with different time complexity. So the real work is to c

[2017-01-16 12:22] meownoid opened #6963 "scipy.signal.spectrogram - incorrect window parameter behavior?"
[code]
 and
[code]
keyword parameter values of **scipy.signal.spectrogram** function results in different answers because of **fftbins** keyword parameter of **scipy.signal.get_window** which is set to True by default. Shouldn't it be manually set to False in **scipy.signal.spectrogram** (https://github.com/scipy/scipy/blob/v0.18.1/scipy/signal/spectral.py#L811)?

[2017-01-16 16:14] woodscn commented on #6898
I'll take a look at it today. I should be able to take care of it, if it's a simple fix. 

On Mon, Jan 16, 2017 at 2:35 AM -0700, "Ralf Gommers" <notifications@github.com> wrote:

Hmm, wrote my email about 0.19.x a bit too quick. This one is a blocker I think. @woodscn do you have time to look into this in the near future?

—
You are receiving this because you were mentioned.
Reply to this email d

[2017-01-16 20:16] #5883 closed

[2017-01-16 20:36] jimmycallin commented on #5883
@perimosocordiae Yay, thanks!!!

[2017-01-17 09:47] #6397 closed

[2017-01-17 11:52] zijunwei commented on #4458
@karpathy
Are there any recommendations for alternatives of this function?

[2017-01-17 12:43] curiale commented on #4458
@zijunwei
I'm using the `zoom (scipy.ndimage.interpolation)` function instead of `imresize`.

[2017-01-17 20:58] metaperture commented on #1999
Using `_chk_weights` with `ma_screen=True` from https://github.com/scipy/scipy/pull/6931, and then passing the resultant weight vectors (which would be 0 for each masked value) to the underlying functions would fix this.

[2017-01-18 04:06] spott opened #6966 "Hypergeometric Functions documentation is lacking"
The hypergeometric functions `scipy.special.hyp1f1(a, b, x)`, `scipy.special.hyp2f1(a, b, x)`, are very poorly documented [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.hyp1f1.html#scipy.special.hyp1f1).

Specifically, all the `hypxfx` functions don't take complex arguments and don't cite the algorithm they are using.

[2017-01-18 08:22] rgommers commented on #4458
Thanks @gdooper! Fixed the issue description with your suggestion b.

[2017-01-18 10:08] rgommers commented on #6807
Important to keep in mind:
- can't make backwards incompatible changes that would result in return values silently changing (completely breaking existing code would be better).
- backwards incompatible changes that are just about polishing are usually frowned upon. If it's a major improvement in user experience, or prevents users from falling into a trap, those would be better reasons.

https://gi

[2017-01-18 11:43] gbrand-salesforce opened #6967 "stats.gamma.fit returns nan for alpha, also no input parameter named "a"?"
I've got a numpy.ndarray of shape (24569,) (also tried with (24569,1)) with samples of random variables (not the distribution)

`fit_alpha, fit_loc, fit_beta=stats.gamma.fit(data)`

results in fit_alpha and fit_loc being nans, while fit_beta = 1

`I've tried to suggest starting parameters by using stats.gamma.fit(data,a=k,loc=0,scale=theta)`
where k = 4/skew^2, theta=variance/mean are the shape an

[2017-01-18 12:40] ev-br commented on #6967
Thanks for the report!  This seems to be a duplicate of https://github.com/scipy/scipy/issues/5362

The issue is that a keyword argument, `a=k`, is not recognized as a starting value (https://github.com/scipy/scipy/blob/master/scipy/stats/_distn_infrastructure.py#L2177).

A workaround is to use the positional argument for the starting value of the shape parameter, `gamma.fit(data, k, loc=0, scale=

[2017-01-18 12:56] ev-br commented on #6967
It would be nice to fix this actially. Note that https://github.com/scipy/scipy/issues/5362 contains a start in this direction, but it needs some more work to detect impossible combinations of arguments, e.g. `gamma.fit(data, 1, a=2)` (is the starting value of `a` 1 or 2? should likely be a TypeError), `gamma.fit(data, a=2, fix_a=3)` (also a TypeError or a ValueError) etc.

Pull requests welcome,

[2017-01-18 13:57] person142 commented on #6966
You might not want to know; the algorithm they're using isn't very good. ;-)

[2017-01-18 14:03] person142 commented on #6966
More seriously, for complex values the reference is Zhang, Jin, "Computation of Special Functions". (Code is just the code from their book + some comments. Note that I'm not trying to criticize them; IIRC the book discusses the limitations of their implementations. That discussion should probably be in the documentation.)

[2017-01-18 14:07] person142 commented on #6966
(And while we're here, `hyp2f0` isn't really an implementation; it's just the asymptotic series. That should be in the documentation too.)

[2017-01-18 15:41] ev-br commented on #6954
Indeed, it's fixed in master, so closing. Thanks for the report @mangecoeur , @lesteve

[code]

[2017-01-18 15:41] #6954 closed

[2017-01-18 15:59] ev-br commented on #6899
Usage questions and support requests like this are best asked on Stackoverflow or scipy-user mailing list. The audience of either channels is larger, and this tracker is primarily used for bug reports. Since I don't believe this is a bug, I'm going to close this. If you do believe there is a bug to fix, please add more details.

[2017-01-18 15:59] #6899 closed

[2017-01-18 18:14] spott commented on #6966
None of the `hypxfx` functions seem to take complex arguments... am I missing something?

That should definitely be in the documentation.

[2017-01-18 18:23] ev-br commented on #6966
[code]

For complex parameters, uhm, well, not sure if there actually is a good algorithm.

[2017-01-18 18:24] ev-br commented on #6966
Pull requests welcome!
For both documentation and actual maths (of which Josh is a resident expert BTW).

[2017-01-18 18:59] ev-br commented on #4636
Having an rss feed was/is a nice perk. It seems to have been broken at some point: ATM, clicking on a link the feed tries to open links like

http://index.html/#fftpack_basic.Fft.time_fft?commits=d994731cc5ad9bcc4f9ad58da15744b3a2741eb4&idx=6

[2017-01-18 19:12] person142 commented on #6966
Heck, AFAIK there isn't even a good algorithm for complex arguments. (That only uses double precision.)

[2017-01-18 19:21] spott commented on #6966
Huh, for at least some complex parameters, the answer is well defined...

I'm mostly interested in these as a method for calculating the coulomb wavefunctions, which use Kummer's function with a complex `a` parameter.  I know there are decent algorithms out there for that: https://arxiv.org/abs/physics/0702051v1 , but I haven't looked into one for the hypergeometric functions on their own.

[2017-01-18 19:23] spott commented on #6966
Do you know of one that uses extended precision?  Or is it an arbitrary precision algorithm...

[2017-01-18 19:39] pv commented on #4636
This works fine in Thunderbird (or firefox's rss preview), but I think not all rss readers handle relative links correctly.

[2017-01-18 20:03] AtheMathmo opened #6969 "Scipy cannot find openblas binaries on windows"
Hey!

I'm trying to install scipy on windows. I downloaded the [openblas windows binaries](http://www.openblas.net/) and linked to them in my system path: (`C:\Program Files\OpenBLAS\bin;C:\Program Files\OpenBLAS\lib`).  I'm under the impression that [openblas should include LAPACK](https://github.com/xianyi/OpenBLAS/issues/203). However when I try to install scipy I see the following error:

[cod

[2017-01-18 20:07] pv commented on #6969
Please read https://www.scipy.org/install.html and https://www.scipy.org/scipylib/building/
If those don't help, you can ask a question on stackoverflow.com

[2017-01-18 20:07] #6969 closed

[2017-01-18 20:09] AtheMathmo commented on #6969
I've read both of these, but thank you for providing them.

At this point it seems easier to remove my existing python environment and go with Anaconda. Feel free to close this issue.

[2017-01-18 20:32] person142 commented on #6966
All the ones I know of are arbitrary precision.

[2017-01-19 00:09] thehesiod opened #6970 "serious bug in processing of netCDF3 MaskedConstants"
if you open a file like https://madis-data.ncep.noaa.gov/madisPublic1/data/LDAD/mesonet/netCDF/20170117_1900.gz with scipy.io.netcdf.netcdf_file, and look at variables['observationTime'][71132] it will return a value of 3.40282346e+38, whereas netCDF4 will return a MaskedConstant with a value of True (which means not available).

The above netCDF file changes, so you may need to pick a new file in

[2017-01-19 06:52] rgommers commented on #6970
What version of SciPy are you using? There was a fix for masked values in 0.18.0

[2017-01-19 13:31] philipdeboer commented on #6921
It will be straight-forward to add.

lesshaste, one thing I noted is that the ortho-group generates exactly as many random numbers as needed, while a simpler approach using qr would require more random numbers up front. Is there an analogous issue for unitary matrices? Ie, can we do it with fewer than the 2 * n**2 random numbers used above?

[2017-01-19 13:36] lesshaste commented on #6921
It's a good question but sadly I don't know the answer.  There is for example http://home.lu.lv/~sd20008/papers/essays/Random%20unitary%20[paper].pdf but I am not sure it has the answer to your question.

[2017-01-19 14:11] person142 opened #6972 "BUG: special: `generate_ufuncs.py` is broken"
Running it currently gives the error:

[code]

From the history, the root cause is probably https://github.com/scipy/scipy/pull/6861.

[2017-01-19 14:16] pv commented on #6972
Correct, there's `\\*` in the regexp that should be `\*` with r-prefix.

[2017-01-19 14:41] ev-br commented on #5337
Fixed in https://github.com/scipy/scipy/pull/6971, closing.

[2017-01-19 14:41] #5337 closed

[2017-01-19 16:44] akhmerov commented on #6921
FYI: https://gitlab.kwant-project.org/kwant/kwant/blob/master/kwant/rmt.py#L163 if you need a ready implementation right now.

[2017-01-19 17:05] thehesiod commented on #6970
0.18.1

[2017-01-19 17:10] pv commented on #6970
You can upload the file here,
https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/
May need to be put in a .zip first though

[2017-01-19 17:10] pv commented on #6970
Also a code sample corresponding to the uploaded file would be useful.

[2017-01-19 17:14] thehesiod commented on #6970
[20170117_1900.gz](https://github.com/scipy/scipy/files/717259/20170117_1900.gz)

[code]

[2017-01-19 17:28] pv commented on #6970
Is the problem only that you would need to open the file with
`scipy.io.netcdf.netcdf_file('20170117_1900.nc', maskandscale=True)`?

[2017-01-19 17:33] pv commented on #6970
If so, there's strictly speaking no bug, although the default behavior
of *not* respecting the mask unless told so may be surprising.

[2017-01-19 18:19] thehesiod commented on #6970
looks like ya maybe...shouldn't the default behavior match netCDF4 module?

[2017-01-19 19:35] rgommers commented on #6969
That's definitely easier, especially on Windows.

[2017-01-19 21:36] happyhuman commented on #5995
Trying the following command worked for me:

sudo apt-get install libblas-dev liblapack-dev libatlas-base-dev gfortran
pip install scipy

[2017-01-19 23:09] #6972 closed

[2017-01-20 07:47] shoyer commented on #6970
Changing the default behavior would break existing code that expects a numpy array to be returned, and thus would require a deprecation cycle. I don't think it would be worthwhile in this case, because the existing interface has been around for quite some time and base numpy arrays are often preferred.

If you want to easily switch back and forth between different readers for the same file format

[2017-01-20 08:58] souravsingh commented on #6922
@rgommers I wish to work on the issue. We have to update the docstring for `gap_thresh`, correct?

[2017-01-20 14:19] robertsawko opened #6977 "Fitting stats distributions with starting shape parameters"
I am testing the fitting functionality of scipy. I noticed that I can fix certain shape parametrs, fix the `loc` and `scale`, as well as give starting points for `scale` and `loc`. Is it also possible to give starting positions for shape parameters? Simply put I'd like to be able to specify `s` in the following example

[code]

[2017-01-20 19:22] #6970 closed

[2017-01-20 23:58] e-q commented on #5648
@rgommers, yes I think so. I'll close this

[2017-01-20 23:58] #5648 closed

[2017-01-21 00:12] #2190 closed

[2017-01-21 05:06] tpudlik commented on #6966
Many of the scipy special functions have better documentation in the C or Fortran source files than in the Python wrapper docstrings, and hyp1f1 is no exception here (see https://github.com/scipy/scipy/blob/master/scipy/special/cephes/hyperg.c for much more than a sentence).

About a year ago I did some work on transplanting the documentation to Python (#5632, #5804), but proceeded in the order th

[2017-01-21 13:03] jotasi commented on #6930
This is due to floating arithmetic. The [underlying function](https://github.com/scipy/scipy/blob/master/scipy/ndimage/src/ni_filters.c#L292-L360) uses doubles to compute the elements of the result array. The window is moved by adding:
(nextValueAfterWindow-leftMostValueInWindow)/windowSize
Afterward, the result array is converted to the correct dtype which then truncates to integer values in this

[2017-01-22 11:32] pootle commented on #6930
Yes, I suspect dtype awareness is probably the right answer, being able to use ints could also yield a significant performance gain especially on ARM or other less floating point proficient machines.

My current workaround is to get the result back as a float and compare with .99 as I only want the case where I have a contiguous row of True - I am working on an array of bool.

I was also thinking

[2017-01-23 12:03] cournape commented on #6336
We ran in exactly the same issue in our packages at Enthought. I see issues w/ both csqrt (when built against numpy 1.10.4) and clog (when build with numpy 1.11.3).

[2017-01-23 16:12] vmarkovtsev opened #6980 "scipy.sparse.linalg.eigsh mode="buckling" raises SystemError"
I execute
[code]
where graph is pickled at https://drive.google.com/file/d/0B-w8jGUJto0iSWtWbUJhZTFsLUE

and get
[code]

[2017-01-24 03:08] e-q commented on #6817
Fixed by 93a0ea9

[2017-01-24 03:08] #6817 closed

[2017-01-25 01:30] essicolo commented on #4480
It could just be added to `scipy.spatial.distance` as:

[code]

What do you think?

[2017-01-25 06:53] pbranson commented on #5449
I think there may be a bug somewhere in this function - sorry havent been able to have a look, but the output from the following provides an example:

xEdges = np.arange(79950.,500050.,100.)
yEdges = np.arange(7489950.,7860050.,100.)

x = 356643.378
y = 7813944.500

binned, xedges, yedges, binnums = binned_statistic_2d((x,), (y,), (0.5,), 'mean', bins=[xEdges,yEdges],expand_binnumbers=True)

print

[2017-01-25 11:46] pv commented on #6980
The error message means something failed inside SuperLU.
.
That mode requires matrix inversion, which by default is done via sparse
LU. Your matrix is huge, so I'm not sure if SuperLU manages to do it ---
does eg `splu(graph - sigma*eye)` work?
.
As a workaround, you can maybe force it use iterative solver by
OPinv=aslinearoperator(graph - sigma*eye)

[2017-01-25 15:48] lzkelley commented on #5449
To expand on @pbranson's issue (which should probably be opened as a new issue):

[code]

The `binnums` seem to be incorrect:
[code]

[2017-01-25 16:15] ev-br commented on #6977
`lognorm.fit(data, s, loc=loc, scale=scale)` should work.
I'm going to close this as a duplicate of https://github.com/scipy/scipy/issues/6967 and https://github.com/scipy/scipy/issues/5362
If you feel like working on it @robertsawko, it'd be appreciated.

[2017-01-25 16:15] #6977 closed

[2017-01-25 16:16] ev-br commented on #6966
Have added the easy-fix label for the documentation enhancement for hopefully someone to continue improving the python-level docs.

[2017-01-25 17:08] jaimefrio commented on #4480
Do you lose numerical stability if you work out the math for `clr_u - clr_v`? If I'm doing my math correctly your calculation is the same as:

    log_u_v = np.log(u / v)
    dist = norm(log_u_v - np.mean(log_u_v)))

[2017-01-25 18:21] shawnjhenry opened #6981 "Weird behavior for sparse multiply with dense."
Hi,

I have a large `csr_matrix` `X` of size 25000x392000 with about 0.08% non-zero entries, and I have a dense vector `v` of size 1x392000 and I want to multiply each row of `X` by.  I would expect this to be extremely fast since row indexing for csr is fast, but I keep getting `Killed: 9` when calling `X.multiply(v)`.  I verified that three other methods of doing this multiply (creating a diagon

[2017-01-25 18:25] person142 commented on #6981
Fixed by https://github.com/scipy/scipy/pull/6750?

[2017-01-25 18:31] shawnjhenry commented on #6981
I don't think so, unless it's not in the latest stable release.  I just upgraded and had the same issue.  I haven't used SciPy much - are there nightlies I could try that might have the fix?

[2017-01-25 19:20] rgommers commented on #5449
Does indeed look like a bug. Would you mind opening a new issue?

[2017-01-25 19:25] perimosocordiae commented on #6981
It's not in the latest stable release yet.

Luckily, the 0.19 release is coming soon™️, so you can either:
 - wait a bit (a few weeks, probably) and get the fix then
 - build scipy from the current master branch
 - copy the changes from gh-6750 directly into your installed `scipy/sparse/compressed.py` file

(The last option is a hack, of course, but it avoids having to set up the required tools fo

[2017-01-25 19:25] #6981 closed

[2017-01-25 19:26] essicolo commented on #4480
Great catch! AFAIK your formulation is equivalent, but simpler. I would also add a validation to raise an error when values are not positive.

[code]

Will you pull a request?

[2017-01-25 19:57] sbh9 opened #6982 ""bool any" error for scipy.spatial.SphericalVoronoi"
Hello everyone! I've been working on a program that uses scipy.spatial.SphericalVoronoi, and I've run into a problem when running it with large numbers.

For starters, I have been using the example code found [here](http://scipy.github.io/devdocs/generated/scipy.spatial.SphericalVoronoi.html). I have changed only two things in this code:
1. I commented out the lines that plotted generator points a

[2017-01-25 20:12] shawnjhenry commented on #6981
I think for now using my python indexing hack will be sufficiently fast to achieve what I want for now.  I will have to remember to change it when 0.19 comes out.  Thanks for the info!

[2017-01-25 21:40] pv commented on #6982
@tylerjereddy, cf

[2017-01-26 18:41] matthew-brett opened #6984 "Assert raises test failure for test_ill_condition_warning"
Testing against numpy 1.8.2, I get the following test error for master:

[code]

https://travis-ci.org/MacPython/scipy-wheels/jobs/195612819#L488

Should `LinAlgError` also be allowed for this case?

[2017-01-26 18:58] ilayn commented on #6984
Strange. That shouldn't be marked as singular as I've tested in various places, except, of course, OSX variants.

[2017-01-26 19:00] matthew-brett commented on #6984
Have you tested with the current numpy 1.8.2 wheel?

[2017-01-26 19:00] ilayn commented on #6984
You mean numpy 1.12?

[2017-01-26 19:01] matthew-brett commented on #6984
No, I meant 1.8.2 - the current scipy minimum dependency.

[2017-01-26 19:05] ilayn commented on #6984
Ah true, no I have not. Actually I've always built the sources. That is a good reminder for me.

I'm still curious about the reason though. SciPy should be independent from the NumPy versions on this matter as it directly calls ?GESV. Maybe get_lapack_func does something strange.

[2017-01-26 19:09] matthew-brett commented on #6984
By the way - the test failures are for Linux 64-bit in Ubuntu trusty containers.  Weirdly, 32-bit passes.  See : https://travis-ci.org/MacPython/scipy-wheels/builds/195612818

[2017-01-26 19:15] matthew-brett commented on #6984
Also - is it possible you are not building against OpenBLAS, as I am for the wheel builds?

[2017-01-26 19:25] ilayn commented on #6984
No, I'm not using OpenBLAS at all. Pretty much off-the-shelf virtual environment with Ubuntu 16.04 installation. Darn, this is indeed a very delicate business, I should try to automate these builds.

[2017-01-26 19:52] matthew-brett commented on #6984
Hum - yes - tricky.  The openblas / wheel case will at least be tested in master, because I've set up a daily cron job to build scipy wheels - which is how I found this guy.

[2017-01-27 09:51] ilayn commented on #6984
I still couldn't replicate this. Could you please comment out that test and run

    a = np.range(1, 10).reshape(3, 3)
    b = np.ones(3)*15
    _, _, _, _, _, _, _, x, rcond, _, _, info = sp.linalg.lapack.dgesvx(a, b)

and check the resulting condition number ? Or if `info ==  4`? You can try with `sgesvx` too just to check.

[2017-01-27 11:57] funkey opened #6986 "map_coordinates: loss of precision"
The output of `map_coordinates` does not preserve the precision of the input. The following example

[code]
produces
[code]
Note that high values seem to be rounded to `18446744073709549568` or set to `0`.

[2017-01-27 12:01] funkey commented on #6986
Output for scipy 0.18.1:
[code]

[2017-01-27 13:54] gauteh opened #6987 "ode: state vector returned to solout is not copy"
Hi, I do not know if this is intentional, but it caused quite a bit of confusion. I tried to save the output of the dopri5 solver using the `ode()` interface and `set_solout ()`.

The y that is passed to solout and which I stored in a list seems to be a reference that keeps getting updated. If I do not make a copy of it before storing it in the list the previous entries may get changed by the inte

[2017-01-27 14:11] gauteh commented on #6987
Right, so I discoverd that expoliting this is the only way to update the current state vector from within solout (during event detection). I though I could use set_initival_values, but it seems to be ignored.

[2017-01-28 01:09] tylerjereddy commented on #6982
This matches the memory traceback recently reported by another user in #6811. The space complexity of the code in scipy 0.18.1 is indeed rather poor. I patched the issue in the master branch in a recently-merged PR (see: #6828 ).

@sbh9 if you could test your code with the master branch (scipy 0.19) and confirm that the issue is resolved that would be most helpful -- I'm missing the `fs1` module n

[2017-01-29 14:08] str4w opened #6988 "Apparent unstable behavior on even ordered splines only"
Hi,

While experimenting with various orders of interpolation, it appears that the even ordered interpolants are much more unstable than the odd ordered.   I don't know why that would be.  Here is a minimal example - admittedly, the data is quantized.  Nonetheless, the cubic and quintic interpolators do something I think is reasonable with it, and the quadratic and quartic bounce around a lot in t

[2017-01-29 14:21] pv commented on #6988
Is this a known property of even-order B-spline interpolants? Docstring
of splrep contains the statement "Even values of k should be avoided
especially with small s values." --- for interpolation s=0, although
interp1d computes the interpolants in a different way, not using splrep.

[2017-01-30 10:53] matthew-brett opened #6989 "Scipy wheel tests timing out on OSX - suggestions?"
The standard (not full) scipy tests are timing out on travis-ci:

https://travis-ci.org/MacPython/scipy-wheels/jobs/196506688#L259

Does anyone have a feeling for which tests I should skip to give them a better chance of getting in under the time limit?

[2017-01-30 11:00] matthew-brett commented on #6984
Anything else I can do to help here?

[2017-01-30 11:29] ilayn commented on #6984
I still have some difficulty getting my virtual environment recognizing OpenBLAS so maybe the easiest way is to change the test to something that would emit a warning in both settings.

Could you please check whether

[code]
emits the warning?

If so I'll modify the test since we only need the warning not the solution precision. Thus, anything goes in this particular case.

[2017-01-30 11:33] matthew-brett commented on #6984
The way I got the scipy compile working with openblas, was to unpack https://3f23b170c54c2533c070-1c8a9b3114517dc5fe17b7c3f8c63a43.ssl.cf2.rackcdn.com/openblas-0.2.18-Linux-x86_64.tar.gz into `/home/mb312/tmp` and compile scipy with the following `site.cfg` in my `scipy` root directory:

[code]

[2017-01-30 11:41] ilayn commented on #6984
Thanks, I think I did a similar thing but maybe I screwed up somewhere. I hope I can try again this evening again with this config.

[2017-01-30 11:46] matthew-brett commented on #6984
This code (from your comment above):

[code]

gives this:

[code]

[2017-01-30 13:16] ilayn commented on #6984
Yes, that was the warning the test was looking for but failed to find due to the singular matrix error.

[2017-01-30 13:18] matthew-brett commented on #6984
OK to just go for that change to the test then?

[2017-01-30 13:26] pv commented on #6984
Regardless of whether you can reproduce it, the problem is in raising
LinAlgError for zero pivot. Rounding error can easily make the pivot
eps-size. So you probably need to change the test to  accept that behavior.
.
Of course, the raise-on-zero-pivot behavior is sort of misleading
nonsense, as badly conditioned solutions may be completely wrong in any
case, so not getting a LinAlgError does not g

[2017-01-30 13:39] ilayn commented on #6984
@pv Here it is the other way around, when there is ill-conditioning matlab emits a warning and returns something (right or wrong, we use the same solver so no discrepancy here). Whenever LAPACK finds a conditioning number too high it emits the zero-pivot flag and we raise LinalgError so rounding is not done in matlab or scipy highlevel it is decided by LAPACK.

Here I'm just trying to test whether

[2017-01-30 14:08] pv commented on #6984
I think the statement that "LAPACK finds a conditioning number too high
it emits the zero-pivot flag" is not correct. The zero-pivot flag is
emitted if the pivot is really exactly zero --- whether this happens
depends on how the rounding error happens to go in the algorithm.
.
Since you cannot control that across platforms, either the test matrix
needs to be less singular, or the test should accep

[2017-01-30 14:22] ilayn commented on #6984
Yes, let me rephrase it as there is no other decision mechanism other than LAPACK's DLAMCH stuff to find an exact zero.

What I meant is that for this particular test, I wanted to test specifically the ill-conditioning warning without the exception. Less singular example apparently is tricky since some other user might come with another example that fails for them too. I guess accepting the except

[2017-01-30 14:31] pv commented on #6984
AFAIK there's actually no DLAMCH in the zero-pivot check --- it's really
a check for zero division in the LAPACK code. cf e.g.
https://github.com/Reference-LAPACK/lapack/blob/master/SRC/dgetrf2.f#L194
.
DLAMCH however does control the condition number check with INFO > n.

[2017-01-30 14:45] ilayn commented on #6984
That's interesting. There is another explicit check around line 594-ish for setting the matrix being singular after a call to ?GECON http://www.netlib.org/lapack/explore-html/d7/d3b/group__double_g_esolve_ga7091d0af8d314e611bc190d6f515e7ff.html#ga7091d0af8d314e611bc190d6f515e7ff

[2017-01-30 17:31] WarrenWeckesser opened #6990 "BUG: sparse: Bad documentation of the `k` argument in `sparse.linalg.eigs`"
Here's an example of the problem:

[code]
According to the docstring,

[code]

so `k=2` should be accepted.  I assume this is just an off-by-one error in the validation of `k`, so I've added the "easy-fix" label.

Also note that error message is not correct.  `k` must be compared to `A.shape[0]`, not `ndim(A)`.  `ndim(A)` will always be 2.

[2017-01-30 17:36] pv commented on #6990
AFAIK the check in the code is correct, and the docstring is in error.

[2017-01-31 04:33] shahram-s commented on #5995
I have used the precompiled package available [here](http://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy) and it is working for me.

[2017-01-31 05:06] ebw44 opened #6991 "Division by zero in linregress()"
If the size of the data used for the regression is 2, line 107 of _stats_mstats_common.py
raise an exception (or a warning) because df is zero. One fix could be to have sterrest equal 0 in that case as the linear regression would be exact.

PS: It could look overkill to use a linear regression when you have two points, but there is also no reason to have a special case.

[2017-01-31 13:02] xoofee commented on #2386
I have this problem today

Python 3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1
900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

forrtl: error (200): program aborting due to control-C event
Image              PC                Routine            Line        Source

libifcoremd.dll    00007FF8D9B843E4  Unknown

[2017-01-31 16:54] nbedou opened #6992 "optimize.check_grad does not work for complex-valued functions"
The function ``optimize.check_grad`` does not work for complex-valued functions.

Here is an adapted example from the [documentation of check_grad](http://scipy.github.io/devdocs/generated/scipy.optimize.check_grad.html):

    def func(x):
        return x[0]**2 - 0.5j * x[1]**3

    def grad(x):
        return [2 * x[0], -1.5j * x[1]**2]

    from scipy.optimize import check_grad
    print(check_

[2017-01-31 17:08] nbedou commented on #6992
A long term solution would be using optimize._numdiff.check_derivative instead.

[2017-01-31 20:05] y0va opened #6993 "memory leak in scipy.signal.welch"
With version 0.16.0 the attached code uses excessive memory and becomes very slow. With Scipy 0.15.1 the code is running smoothly.

[fftglob.py.txt](https://github.com/scipy/scipy/files/743044/fftglob.py.txt)

[2017-01-31 22:03] e-q commented on #6993
I am not able to run your attached code without the relevant data files. I've run the following code locally to try and reproduce this:

[code]

I only tried two iteration sizes, but don't see any evidence of slowdown or memory leakage.

Version |`niter` | Final Memory Footprint (MB) | Execution time (sec) | Time per iter(ms)|
-|-|-|-|-|
0.15.1| 300 | 32 | 49 | 133
0.15.1| 1000 | 32 | 177 | 177
0.

[2017-01-31 22:46] attila-szabo-1 commented on #4174
The issue is still here. Given ``lobpcg`` works fine on ``-A``, the ``largest`` option should be deprecated or the code modified s.t. it takes the negative of ``A`` first (this shouldn't be hard either).

[2017-01-31 22:48] attila-szabo-1 commented on #979
This issue is still here. It really wouldn't take more than changing ``.T`` to ``.T.conj()`` wherever it is mentioned and taking out ``.astype(np.float64)`` from line 506.

[2017-02-01 07:05] amanp10 commented on #6990
Hello,
I am new to scipy. I would like to work on this issue. Should I go ahead?

[2017-02-01 09:47] y0va commented on #6993
Sorry for not providing the data. You can find the headerless wav
files I used here:

https://datengarten.allmende.io/public.php?service=files&t=ee8dbb652dc32f85334c2c57107bbe84

Am Tue, 31 Jan 2017 14:03:39 -0800
schrieb Eric Quintero <notifications@github.com>:

[2017-02-01 10:03] pv commented on #6990
Hi, please go ahead

[2017-02-01 10:33] y0va commented on #6993
On another machine running ubuntu 14.04 python terminates with this error using scipy 0.16.0:
[ubuntu14.04.txt](https://github.com/scipy/scipy/files/744549/ubuntu14.04.txt)
But runs smoothly with scipy 0.15.1

[2017-02-01 11:06] y0va commented on #6993
This one kills my system. Seems to be because of the setting nfft. I need it to be set to samplerate=44100.

[code]

[2017-02-01 13:56] person142 commented on #6993
@y0va probably good to try with more recent versions of SciPy (0.18.1 or master) to make sure the problem is still present.

[2017-02-01 14:03] pv commented on #6993
It's still present --- I guess the issue is that it tries to take fft of
a huge array.

[2017-02-01 16:38] amanp10 commented on #6990
@pv please have a look.

[2017-02-01 16:50] amanp10 commented on #6430
I would like to work on it.

[2017-02-01 16:54] pv commented on #6430
Go ahead --- note that there is no need to ask or announce beforehand
what you are working on, if there's no existing pull request it's
probably safe to assume nobody else has started on it.

[2017-02-01 19:22] matthew-brett commented on #6984
Any progress here?  I'm hoping to get the scipy daily wheel builds working, and this error is the current blocker.

[2017-02-01 21:14] ilayn commented on #6984
based on the response you get, I've changed the test to the one that we discussed in the comments. If that also fails, we can fall back to accepting LinAlgError exception

[2017-02-02 06:56] y0va commented on #6993
@e-q perhaps you want to reopen the issue?

[2017-02-02 18:07] WeatherGod opened #6999 "possible false positive corruption check in compressed loadmat()"
I have a file saved using `savemat(..., do_compression=True)` that errors when loaded by `loadmat()`.
[code]
However, this file does load without error in MATLAB. Also, if I re-run the original program and save the file with `do_compression=False`, the uncompressed file loads just fine in both python and MATLAB. Furthermore, comparing the data loaded from both uncompressed and compressed files in

[2017-02-02 18:10] pv commented on #6999
You can drag-and-drop upload files in the comment box.

[2017-02-02 18:26] WeatherGod commented on #6999
[testdata.zip](https://github.com/scipy/scipy/files/748630/testdata.zip)
Ok, if you unzip this, you get ff19d.npy. The following will reproduce the problem:
[code]

[2017-02-02 21:33] e-q commented on #6993
@pv is right. Prior to 0.16, the mean PSD was calculated on a running basis. I.e. taking FFTs of the windowed segments one at a time, and adding them to a running cumulative sum, and dividing at the end. However, this method is unsuitable for calculating things like spectrograms where we want to keep the time information.

In 0.16, we changed to an algorithm that uses numpy striding tricks to crea

[2017-02-03 15:40] amanp10 commented on #6430
If I am getting it right, I am supposed to add few lines of code in `eigs` and `eigsh` so that if user passes `k=N` or (`k=N-1` for `eigs`) it should automatically call `np.linalg.eigvals()` after converting the array to dense. Am I right?

[2017-02-03 15:47] pv commented on #6430
Yes, or eig() if eigenvectors are wanted.

[2017-02-03 17:35] WeatherGod commented on #6999
btw, I have some cycles to try and get this fixed, but I have never tried debugging compression code before. Any guidance/tips?

[2017-02-03 17:46] pv commented on #6999
Not really tip, but perhaps the compression itself is fine (it's zlib),
and the issue is with bookkeeping (eg putting wrong size in headers etc).

[2017-02-03 18:19] chohner opened #7002 "Python crashes for special.spherical_ functions with complex argument"
Hello!

I'm experiencing hard python crashes on specific windows + python combinations when executing the spherical bessel functions with complex arguments. This has been discovered on appveyor and can be reproduced on a completely fresh miniconda install on my local windows machine (win 10, 64 bit).

Affected are as far as I can tell 64bit windows machines with Python 3.5 and 3.6. 32 Bit installa

[2017-02-03 18:35] pv commented on #7002
Which scipy version? Which binaries? Is it reproducible only with
Anaconda binaries? How about Gohlke's?

[2017-02-03 19:08] chohner commented on #7002
Tested with Gohlke's binaries and both `3.5` and `3.6` 64 bit run fine, so this is a problem with the conda builds.

[2017-02-03 19:12] pv commented on #7002
Then probably should be reported to Continuum, so that they can fix theirs.

[2017-02-03 19:21] #7002 closed

[2017-02-03 20:10] amanp10 commented on #6430
I feel a warning should be raised telling the user about the limitations of `k` and that `eig()` is being is used instead of `eigs()` etc. Also, only right eigenvectors are to be returned I suppose, as user has not mentioned either left or right.

[2017-02-03 21:02] ashwinpathak20 commented on #6922
Since, this issue remains to be unsolved , I wish to claim this issue.

[2017-02-04 14:16] MadushanPathirana opened #7003 "scipy"
i use python 3.6 i cant install scipy
 plz suggest me a easy way

[2017-02-04 20:09] sturlamolden commented on #6941
There is also redundancy with respect to the C code behind ```scipy.spatial.distance```.

[2017-02-04 20:13] sturlamolden commented on #6941
I agree that this should be cleaned up. We don't need three (or more?) copies of the same code in ```scipy.spatial.*```.

[2017-02-04 20:34] Zsw007 opened #7005 "linear_sum_assignment in scipy.optimize never return if one of the assignments must have a cost of Infinity"
[StackOverflow](http://stackoverflow.com/questions/42035999/why-does-linear-sum-assignment-in-scipy-optimize-never-return-if-one-of-the-assi) recommended that I report this as a bug.

When using `scipy.optimize.linear_sum_assignment`, if the cost matrix of the bipartite graph is set up in a way such that one of the assignments must have a cost of infinity, the algorithm will simply never return, a

[2017-02-04 21:26] WarrenWeckesser commented on #7005
@Zsw007 Thanks for reporting the problem.

The problem exists in the current master branch, too.  As shown in the following, I get a warning, and the function doesn't return:

[code]

[2017-02-05 05:29] pylang opened #7006 "Intro Docs Typo?"
On the [`scipy.integrate` tutorial page](https://docs.scipy.org/doc/scipy-0.18.1/reference/tutorial/integrate.html), there are a few typos:

1. The latex for `quad` suggests the first `x` term should be squared:

`I(a,b)=\int_{0}^{1} ax^2+b \, dx`

But the example evaluates the integrand as `x` alone:
[code]
To reflect the `integrand` function, I believe the latex should be corrected to:

`I(a,b)=

[2017-02-05 08:09] rainwoodman commented on #6941
This is being worked out on #6945 . I think I gradually realized there wasn't much redundancy in ckdtree itself. We could probably wrap spatial.distance to the same code as a separate PR?

[2017-02-05 17:49] person142 commented on #7006
Yep, it's been fixed in master:

https://scipy.github.io/devdocs/tutorial/integrate.html

[2017-02-05 17:49] #7006 closed

[2017-02-05 17:53] person142 commented on #7003
Installation instructions are here:

https://www.scipy.org/install.html

Note that the bug tracker isn't really the place to discuss user issues, though if you think there's a bug of course we want to hear about it. (Would need many more details though--operating system, which method you are using, etc.)

[2017-02-05 17:53] #7003 closed

[2017-02-05 19:03] mdhaber commented on #6690
I have another example.

`import json
from scipy.optimize import linprog
import numpy as np
d = json.loads('{"c": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "bounds": [0, 1], "A_eq": [[1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.

[2017-02-06 01:15] MadushanPathirana commented on #7003
Thank you very much. How ever i able to install it with anaconda.

On Feb 5, 2017 23:23, "Josh Wilson" <notifications@github.com> wrote:

Closed #7003 <https://github.com/scipy/scipy/issues/7003>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/scipy/scipy/issues/7003#event-949500670>, or mute the
thread
<https://github

[2017-02-06 17:18] WarrenWeckesser commented on #7005
Ping @larsmans, if you have a moment to take a look.

[2017-02-06 17:22] WeatherGod commented on #6999
Did a bit more digging. It does seem that the reading aspect of all of this isn't at fault, it seems? I broke up the reading into individual steps to see if I can find deviations. I also turned off the validation testing to see if the data read are identical... they are.
[code]
So, I am guessing that this is probably a write issue, possibly of the header somehow. I did see that the read automatica

[2017-02-06 17:27] WeatherGod commented on #6999
I modified the above code a bit to have it do a `tell()` at the end of reading the file. The uncompressed file ended up at byte 2133968, and the compressed file ended up at 655496. That is correct for the uncompressed file, but incorrect for the compressed file (2 bytes short).

[2017-02-07 06:00] pbranson opened #7010 "scipy.statsbinned_statistic_2d: incorrect binnumbers returned"
For certain inputs binned_statistic_2d returns incorrect bin numbers

`xEdges = np.arange(79950.,500050.,100.)`
`yEdges = np.arange(7489950.,7860050.,100.)`
`x = 356643.378`
`y = 7813944.500`
`binned, xedges, yedges, binnums = binned_statistic_2d((x,), (y,), (0.5,), 'mean', bins=[xEdges,yEdges],expand_binnumbers=True)`

The binnums seem to be incorrect:
`> binnums Returns: array([[3678],
       [1

[2017-02-07 06:02] pbranson commented on #5449
I have opened up a new issue for this here:

https://github.com/scipy/scipy/issues/7010

On Thu, Jan 26, 2017 at 3:20 AM, Ralf Gommers <notifications@github.com>
wrote:

[2017-02-07 17:56] #5757 closed

[2017-02-07 21:51] pv commented on #6917
Should be fixed in gh-7009

[2017-02-07 21:51] #6917 closed

[2017-02-08 12:22] kokorev opened #7011 "possible speed improvment in rv_continuous.fit()"
Around 80% of rv_continuous.fit() execution time is consumed by a sum() function. Replacing line
`n_bad = sum(cond0)`
with line:
`n_bad = cond0.sum()`
in scipy.stats._distn_infrastructure.rv_continuous._nnlf_and_penalty() gives huge speed improvement in running .fit() in showcase below (scipy 0.18.1, python 3.5).

[code]

It takes 38.14 seconds with the standard line and 1.34 seconds with suggeste

[2017-02-08 13:30] ev-br commented on #7011
Are you interested in sending a PR with the fix?

[2017-02-08 15:15] kokorev commented on #7011
I've done a PR

[2017-02-08 15:29] ev-br commented on #7011
Thanks for the PR! (it's gh-7012).

We typically keep issues open until the fix is merged, so I reopened it. A nice bit of github magic: if you write "closes gh-XXXX" in the text of a PR or a commit message, the issue will get closed automatically when the PR is merged.

[2017-02-08 15:39] lravindr opened #7013 "Documentation for handling strings with numpy"
The string is treated as python 2.x is treated as a string type and a byte array type. In python 3.x plaintext is only as a string type. Some of the examples [1](https://github.com/numpy/numpy/issues/8498), [2](https://docs.scipy.org/doc/numpy/user/basics.io.genfromtxt.html) would not work in Python 3.x interpreters. Such an issue was raised in as a [numpy issue] (https://github.com/numpy/numpy/is

[2017-02-08 17:30] WarrenWeckesser opened #7015 "Test failure with Python 3.5 and numpy master"
The following test failure has occurred in several recent pull requests.  The error occurs with Python 3.5 using the build of the numpy master branch:
[code]

In https://github.com/scipy/scipy/pull/7012, @charris said "I don't recall anything obvious that could have changed the shapes..."

[2017-02-08 17:58] charris commented on #7015
Unfortunately, the traceback is incomplete and the location of the actual test that failed is unknown. Would help if there was an error message attached to the error that at least printed out the failing distribution.

I note that this uses the NumPy wheel. I believe there has been some recent work on the NumPy  development wheel. @matthew-brett Any possible connection?

[2017-02-08 18:08] charris commented on #7015
I'll guess this is related to boolean indexing.

[2017-02-08 18:15] charris commented on #7015
Note the change in dimensions.
[code]
Would be good to know what is happening before the call to `check_edge_support`.

[2017-02-08 18:21] WarrenWeckesser commented on #7015
The problem is caused by this change in numpy:

numpy '1.11.2':

[code]

numpy '1.13.0.dev0+98b3127':

[code]

Note that in the second case, the value is a *one-dimensional* array, while in the old numpy it is a 0-dimensional array (i.e. a "scalar array").

That value, called `_XMIN` in the scipy code, is used as part of a `where()` expression when `genextreme` checks its arguments and assigns the

[2017-02-08 18:26] charris commented on #7015
Oh, nice find. Now I have a valid reason to ping @matthew-brett ;) Should be easy to fix. We also need some tests for that.

[2017-02-08 18:30] charris commented on #7015
I opened a NumPy issue for this.

[2017-02-08 20:32] WarrenWeckesser commented on #7015
Not that we can't wait for an update to numpy, but it looks like we could avoid the problem by changing the code in `scipy/stats/_constants.py` from

    _XMAX = np.finfo(float).machar.xmax
    _XMIN = np.finfo(float).machar.xmin

to

    _XMAX = np.finfo(float).max
    _XMIN = np.finfo(float).tiny

Those values are type `numpy.float64` in older numpy and in the numpy master branch.
I have no pref

[2017-02-08 20:32] hal-314 opened #7016 "sigma argument in 'scipy.optimize.curve_fit' can't be a function"
scipy.optimize.curve_fit function has the useful sigma parameter to specify uncertainties in the data. The inverse of this parameter is used as weighs in the least-square problem.

However, if the uncertainties of the data are dependent with the parameters of the model function f ( data = f(x, *params) + eps ) , curve_fit function can't resolve the problem. In order to support this scenario, sigma

[2017-02-08 20:42] josef-pkt commented on #7016
Can you provide an example to understand better?

IIUC, then this would not be a least squares problem anymore separable in y and prediction function. You would have to minimize with respect to the prediction parameters and the parameters in the variance function.

[2017-02-08 20:56] #6984 closed

[2017-02-08 22:45] anntzer opened #7018 "ydata that needs broadcasting renders curve_fit unable to compute covariance matrix"
Consider the following example:
[code]
As of scipy 0.18.1, this produces
[code]

Passing `ydata=np.zeros_like(xdata)` instead of `ydata=0` (which should be functionally equivalent) just works:
[code]

It would be appreciated if a `ydata` that needs to be broadcasted could be just as well supported.

(I know in this case I could just pass `ydata=target`, but that's not really the point.)

[2017-02-09 08:36] xiangjan opened #7019 "Hilbert function returned the image part value is 0"
look below code :
def myHilbert(Signal):
    AnalSignal = sp.signal.hilbert(Signal)
    EnvSignal = abs(AnalSignal)
    AngSignal = np.angle(AnalSignal)

In function scipy.signal.hilbert, I know the function returns complex number. But, with different inputs, sometimes its returns 0 image part complex number. the real part result is the same with matlab function(hilbert).
this is the input file :

[2017-02-09 08:43] xiangjan commented on #7019
The reading file code is:
import scipy.io as sio

temp=sio.loadmat('FiltAcc4.mat')
Signal = temp['filtAcc4']
myHilbert(Signal)

[2017-02-09 09:24] pv commented on #7019
This is because `filtAcc4.shape == (99970, 1)` and the transform is
computed along the *last* axis. signal.hilbert works correct.
The issue is in your code (eg needs filtAcc4.squeeze()).

[2017-02-09 13:30] ev-br opened #7022 "improve the layout of the `rv_histogram` docs"
Docs for the new `rv_histogram` look garbled

http://scipy.github.io/devdocs/generated/scipy.stats.rv_histogram.html#scipy.stats.rv_histogram

[2017-02-09 13:31] ev-br commented on #7022
ping @thomaskeck

[2017-02-09 15:44] #7015 closed

[2017-02-09 22:32] #6990 closed

[2017-02-09 22:38] pv commented on #4802
Some clarification probably still needed.

[2017-02-09 23:13] ev-br commented on #7013
You might get a better responce in the numpy issue tracker or numpy-discussion mailing list.

[2017-02-09 23:15] ev-br commented on #6991
Fixed in gh-7007.

[2017-02-09 23:15] #6991 closed

[2017-02-09 23:21] ev-br commented on #6988
I think it's not only b-splines, even order ppform interpolators would oscillate just the same. Having flat sections does not help either. This could be a nice tutorial type topic. Are you interested in working on one @str4w ?

[2017-02-09 23:25] ev-br commented on #6634
This has been done, correct? @ilayn

[2017-02-09 23:33] ilayn commented on #6634
@ev-br Yes, I've forgot about this. Thanks for the reminder.

[2017-02-09 23:33] #6634 closed

[2017-02-09 23:35] ev-br commented on #6634
GH magic is handy for this: say "fixes gh-XXX" in the PR or commit message, and gh-XXX is automatically closed when the PR is merged.

[2017-02-09 23:42] ilayn commented on #6634
Yes indeed. In this particular case, after a few months I forgot its existence.

[2017-02-10 00:44] xiangjan commented on #7019
Thank you for @pv comment.

[2017-02-10 00:45] #7019 closed

[2017-02-10 07:46] ev-br commented on #7011
Fixed by gh-7012

[2017-02-10 07:46] #7011 closed

[2017-02-10 08:20] ev-br commented on #6530
Fixed by https://github.com/matplotlib/matplotlib/issues/6952

[2017-02-10 08:20] #6530 closed

[2017-02-10 08:22] ev-br commented on #6841
Fixed by https://github.com/scipy/scipy/pull/6850

[2017-02-10 08:22] #6841 closed

[2017-02-10 08:30] ev-br commented on #6265
Ping :-)

[2017-02-10 10:20] ashwinpathak20 commented on #6922
Commit d1ec9438284992fbac80299ced9c1e010bdad091 closes #6922

[2017-02-10 10:42] ashwinpathak20 commented on #6922
#6922 Commit  364aa77a52eac66a3c46485801334db9e9aef07a

[2017-02-10 12:25] str4w commented on #6988
Sure in principle, although it sometimes takes me a while to find time to complete these things.  What did you have in mind? Also, what exactly do you mean order ppform?

[2017-02-10 14:32] Eric89GXL commented on #6265
Okay moved to 1.0 :)

[2017-02-11 01:57] lravindr commented on #7013
Ok. Got it. I did find that the .rst file associated with the documentation is part of the numpy project.

[2017-02-11 01:57] #7013 closed

[2017-02-11 02:50] philipdeboer commented on #6921
I finally got around to pushing a proposal. I am not very happy with the tests though, from a mathematical point of view. They are not very thorough.

https://github.com/scipy/scipy/pull/7027

[2017-02-11 10:56] ashwinpathak20 commented on #6966
I would like to work on it. Documentations of hyp2f1 and hyp1f1 needs to changed so that it includes some explanation also , right?

[2017-02-11 18:23] adivijaykumar commented on #6713
@rgommers could you let me know what the other issues are? Could try working on it.

[2017-02-11 18:28] adivijaykumar commented on #3694
This should be closed, shouldn't it?

[2017-02-11 18:48] ev-br commented on #3694
Closing then. (Next time, add a magic line 'fixes gh-XXXX` to the PR or a commit message)

[2017-02-11 19:01] adivijaykumar commented on #3694
Okay, will remember this next time. Thanks!

On Sun, Feb 12, 2017 at 12:18 AM, Evgeni Burovski <notifications@github.com>
wrote:

[2017-02-12 04:32] lzkelley commented on #7010
The actual binning still seems to be done properly in this case, it's only the bin-numbers which are failing.  Indeed, this can be shown even without setting `expand_binnumbers=True`:

Following @jakevdp [example from the previous (linked) issue](https://github.com/scipy/scipy/issues/5449#issuecomment-154184189)

[code]

The [key section of code is here](https://github.com/scipy/scipy/blob/41baa3b

[2017-02-12 12:18] ev-br commented on #7022
fixed in gh-7032

[2017-02-12 12:18] #7022 closed

[2017-02-12 16:33] ev-br commented on #6286
Would be nice to re-check if these happen on a new Fedora, as a part of the rc testing (when the rc is available, that is). Meanwhile, detaching the milestone.

[2017-02-12 16:41] #6681 closed

[2017-02-12 17:58] zell08v opened #7034 "Scipy.otpimize.differential_evaluation returns a minimum point beyond the specified range"
I tried scipy.optimize's differential evaluation, which returns to me an minimum point that is beyond the specified range.  See below what I have from ipython:

[code]

[2017-02-12 23:37] andyfaff commented on #7034
First of all, if the function is going to return Exceptions or Nan then the minimizer isn't going to work.

    1.7976931348623157e+308

    Traceback (most recent call last):
    File "<stdin>", line 1, in <module>
    File "<stdin>", line 1, in <lambda>
    OverflowError: (34, 'Result too large')

Secondly, all solution vectors are internally scaled to between 0 and 1 (this was done for simplici

[2017-02-12 23:37] #7034 closed

[2017-02-12 23:50] pbranson commented on #7010
Something that I found a little counter-intuitive (to me anyway!) is that
the expanded bin numbers have a zeroth index for data less than the
smallest bin - this results in the indexes being offset by 1 compared to
the index of the bin in the 2D statistic array to which the data was
allocated.

Could it possible return -1 and len(array) for data outside the range of
the bin edges?

On Sun, Feb 12,

[2017-02-13 05:51] Evidlo commented on #3056
I have this problem too:

`>>> fun = lambda x: x[0]**2 + x[1]**2 + x[2]**2 + x[3]**2

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 1.0
            Iterations: 2
            Function evaluations: 13
            Gradient evaluations: 2
     fun: 1.0
     jac: array([  1.49011612e-08,   2.00000001e+00,   1.49011612e-08,
         1.49011612e-08,   0.000000

[2017-02-13 06:21] ev-br commented on #6989
Yeah, we're started hitting the time limit of the full test suite on regular CI jobs too. Might be time to have a look timings per submodule.
Off the top of my head, there is a test in stats checking the broadcasting of `rvs`. Some distributions are *very* slow, probably could be marked as such. Also there was some work on `linalg.solve`, maybe check the size of matrices.

[2017-02-13 08:23] rgommers commented on #6713
@adivijaykumar yes those are the ones. A word of warning: the ``ndimage`` C code is not easy to understand, so only try to work on this one if you're comfortable in C.

[2017-02-13 08:31] ilayn commented on #6989
For `linalg.solve`, the number of tests are increased but they are mostly 10x10 linear eq problems which are pretty fast. Except the last test named `test_all_type_size_routine_combinations()`. It generates 1000x1000 matrices and solves  `Ax = b` for 16 times. On my machine, that adds up to about a second.

Please let me know if it is dragging on TravisCI setup.

[2017-02-13 08:33] andyfaff commented on #6989
If we have the machinery to print out the test time for each module I can
run the tests on my home machine to figure out what's tardy.

On 13 Feb 2017 7:32 pm, "Ilhan Polat" <notifications@github.com> wrote:

[2017-02-13 08:37] rgommers commented on #6989
We don't have machinery AFAIK, but in the past the culprits were usually obvious by just running tests with ``verbose=2`` and writing down names of tests that take long enough that you can read them. primitive but it works

[2017-02-13 09:05] rgommers commented on #6824
this should be fixed, as discussed above. @alimanfoo if you still find something that looks wrong with current master (or 0.19.0 soon), please reopen - preferably with example code showing of the problem.

[2017-02-13 09:05] #6824 closed

[2017-02-13 09:22] andyfaff opened #7038 "FAIL: scipy.integrate - test_odeint_full_jac"
teapot:scipy andrew$ python runtests.py -s integrate
Building, see build.log...
Build OK
Running unit tests for scipy.integrate
NumPy version 1.12.0
NumPy relaxed strides checking option: True
NumPy is installed in /Users/andrew/miniconda3/envs/dev3/lib/python3.5/site-packages/numpy
SciPy version 0.19.0.dev0+
SciPy is installed in /Users/andrew/Documents/Andy/programming/scipy/build/testenv/lib/py

[2017-02-13 09:29] andyfaff commented on #6989
Just gone through all the modules on my computer (Quadcore 10.12.3).
Running tests as `python runtests.py -s stats`, off master in Python 3.5.2. `stats` is the worst time offender, taking 4 times as long as the next. `scipy.integrate` has one failure (#7038). `scipy.sparse` has lots of errors then segfaults, so I can't test that fully.

cluster	2.272
constants	0.03
fftpack	3.539
integrate	3.013
in

[2017-02-13 09:31] rgommers commented on #7038
That failure looked familiar - discussed at https://github.com/scipy/scipy/issues/5335#issuecomment-147944449

Not quite clear why it doesn't fail reproducible between systems.

[2017-02-13 09:33] rgommers commented on #6989
You're missing ``special`` - that's probably the worst one with ``test('full')`` because of the extended testing against ``mpmath``.

[2017-02-13 09:34] rgommers commented on #6989
And for all modules it's the time taken by ``test('full')`` that matters here for the CI timeouts.

[2017-02-13 09:36] andyfaff commented on #6989
The test:

`test_continuous_basic.test_rvs_broadcast(<scipy.stats._continuous_distns.gausshyper_gen object at 0x10a957f98>, 'gausshyper', [array([[[ 13.7637716]]`

seems to be a bad offender

[2017-02-13 09:57] ev-br commented on #6989
I think we could just skip the test for this distribution.

[2017-02-13 10:03] andyfaff commented on #7038
Just cleaned the source directory + rebuilt. Problem disappears (so closing).

[2017-02-13 10:03] #7038 closed

[2017-02-13 10:26] rgommers commented on #3250
No build issue, so removing the 0.19.0 milestone. ``>>>`` toggling is not critical for this release

[2017-02-13 10:29] andyfaff opened #7039 "FAIL - test_decomp.TestEig.test_falker and an IndentationError"
Clean and rebuild master on OSX=10.12.3.

teapot:scipy andrew$ python runtests.py
Building, see build.log...
Build OK
Running unit tests for scipy
NumPy version 1.12.0
NumPy relaxed strides checking option: True
NumPy is installed in /Users/andrew/miniconda3/envs/dev3/lib/python3.5/site-packages/numpy
SciPy version 0.19.0.dev0+
SciPy is installed in /Users/andrew/Documents/Andy/programming/scipy/b

[2017-02-13 10:37] andyfaff commented on #6989
I've just come across the `nose-timer` package, available from PyPI. This is normally invoked as `nosetests --with-timer`, but to do that I'm going to have to navigate to each test subdirectory in scipy source directory (unless anyone knows otherwise).
How do I get the full tests to run with `nosetests`, not just the fast ones?

[2017-02-13 10:41] pv commented on #7039
How can there be an indentation error?

[2017-02-13 10:45] andyfaff commented on #7039
No idea, just writing down what the test procedure reported.

[2017-02-13 14:38] Eric89GXL commented on #6989
In `HACKING.txt` there is mention of using `SCIPY_XSLOW`, but that's not what we're talking about here.

The `numpy.testing.decorators.slow` just sets `x.slow = True`, so things like `nosetests -a "slow"` should at least allow you to run only the slow tests. So if you're working with `nose` directly you can probably do that.

If using `runtests.py` it looks like you can use `--mode full`.

[2017-02-13 18:11] ev-br commented on #6989
https://github.com/scipy/scipy/pull/7040 disables two worst offenders in `test_rvs_broadcast`. On my laptop the wallclock time change is round about 60s -> 1.2s.

[2017-02-13 18:25] alimanfoo commented on #6824
Thank you, apologies I haven't had a chance to verify yet, but will do so
shortly and will re-open if I find anything.

On Monday, February 13, 2017, Ralf Gommers <notifications@github.com> wrote:

--
Alistair Miles
Head of Epidemiological Informatics
Centre for Genomics and Global Health <http://cggh.org>
The Wellcome Trust Centre for Human Genetics
Roosevelt Drive
Oxford
OX3 7BN
United Kingdom
E

[2017-02-13 18:42] e-q commented on #6363
Given all the choices that can be made on how to calculate the confidence intervals, I think it may be better for users to calculate them from the output of `spectrogram` or `stft` themselves.

[2017-02-13 18:47] #5244 closed

[2017-02-13 18:48] e-q commented on #5244
I think the current behavior is ok, but if anyone disagrees, feel free to respond/reopen.

[2017-02-13 18:59] e-q commented on #1364
It would now be possible to do this via `stft`-> multiply by the FFT of the FIR filter -> `istft`.  Should we create a function to do this?

[2017-02-13 19:18] andyfaff commented on #6989
[Test times for the sparse module](https://gist.github.com/andyfaff/6c9d66301ce926282c4a25613747a93e). Run by `nosetests --with-timer -A slow` and `nosetests --with-timer` from within the `scipy/sparse/tests` directory. I'll run the rest of the modules tonight.

[2017-02-13 20:21] perimosocordiae commented on #6989
The `test_setdiag` method has some pretty impressive combinatorial explosion, and it gets run for each sparse matrix class (including non-canonical variants). I've opened a PR which pares it down a bit.

[2017-02-13 21:31] andyfaff commented on #6989
[slow stats tests](https://gist.github.com/andyfaff/d90e9ccb7c8b60ca448baebb06dd6f0d)
[fast stats tests](https://gist.github.com/andyfaff/24cc4ddde4149b77bfba3a98652880b4#file-stats_tests_fast)

[2017-02-13 21:38] spott commented on #6966
I think the documentations of all the `hyp` functions needs to be changed to
give the following information:

  * What the function is that they are calculating.  A citation to Abramowitz and Stegun or similar would be appreciated.
  * How they are calculating it: Ideally a citation to a paper describing which method is being used.
  * For what range of values for the parameters does the function

[2017-02-13 22:56] souravsingh commented on #5100
@rgommers Is the issue fixed?

[2017-02-13 23:52] andyfaff commented on #6989
[fast spacial tests](https://gist.github.com/andyfaff/71c00ed5530fce1dda69ae4eea99554a) - `test_qhull.TestUtilities.test_more_barycentric_transform` takes ~15s.
[slow spacial tests](https://gist.github.com/andyfaff/c132b5d8bcc025a55735d934d0996deb)

[2017-02-14 01:28] siddpiku commented on #6882
I am getting the incorrect answer in anaconda python 3.5 in windows 10.  May sound silly, but can someone tell me how to recompile quadpack in anaconda after I make the changes

[2017-02-14 04:18] mdhaber opened #7044 "suboptimal solution returned by scipy.optimize.linprog"
I have been working on an interior point algorithm for scipy.optimize.linprog, and I happened to find that my code found a solution with a lower objective than that returned by the simplex algorithm. I have double-checked, and my code's solution satisfies the constraints. This suggests that the simplex algorithm is returning a suboptimal solution. Since the simplex algorithm is supposed to find a

[2017-02-14 04:25] mdhaber commented on #7044
It turns out that A_eq is rank-deficient. After finding and removing rows that are a linear combination of others, linprog's solution agrees with the other.

So linprog is producing a suboptimal solution when an equality constraint matrix is rank-deficient. Perhaps the algorithm does not need to be modified, but I think linprog should at least warn the user of rank-deficiency and/or mention in the

[2017-02-14 05:07] rgommers commented on #6882
@siddpiku that's not easy for an extension with Fortran code on Windows. If you have access to the Intel Fortran compiler, see https://software.intel.com/en-us/articles/numpyscipy-with-intel-mkl. Otherwise, I'd advise you not to try.

[2017-02-14 05:09] rgommers commented on #5100
It is indeed fixed, thanks for the ping @souravsingh

[2017-02-14 05:09] #5100 closed

[2017-02-14 05:19] mdhaber commented on #6690
In my second example of this bug, the matrix A_eq is rank-deficient. Removing the redundancy eliminates the problem. As suggested in #7044, potential solutions are to have linprog eliminate the redundancy before solving, warn the user of rank-deficiency, or mention in the documentation that the rows of A_eq need to be linearly independent.

(Note that in the following all row/variable numbers are

[2017-02-14 05:25] siddpiku commented on #6882
@rgommers - That looks difficult to me. Do you know any other way of making the integration posted above (or [here](http://scicomp.stackexchange.com/questions/26168/numerical-double-integration-with-endpoint-singularity-in-scipy-python-gives-inc) ) give correct answer with anaconda for windows?

[2017-02-14 05:39] cgohlke commented on #6882
You could try to uninstall scipy from Anaconda and `pip install scipy-0.18.1-cp35-cp35m-win_amd64.whl` from http://www.lfd.uci.edu/%7Egohlke/pythonlibs/#scipy. Or just replace the file `_quadpack.cp35-win_amd64.pyd` in your Anaconda installation with the file contained in `scipy-0.18.1-cp35-cp35m-win_amd64.whl` (which is a ZIP file). Chances are it will work but I have not tried.

[2017-02-14 06:00] mdhaber commented on #5400
I just posted a solution to #6690 that doesn't seem to apply here; I can't find any obvious redundancy in the formulation of this problem.

I have been working on an interior point option for linprog which also has some issues when a problem formulation includes redundancy, but for this problem my code reports a solution:
[code]
that is at least feasible:

[code]
(Can somebody check for optimality

[2017-02-14 08:37] rgommers commented on #6690
A warning seems warranted either way, preferably followed by eliminating the redundancy and returning the optimal solution. (disclaimer: I'm not an expert. better wait for a second opinion)

[2017-02-14 08:51] rgommers commented on #6989
Nice, thanks @andyfaff. I seem to remember having tried ``nose-timer`` in the past and it not working, but works quite well now.

[2017-02-14 10:22] KarachoKid opened #7045 "scipy.block_diag with empty arrays"
This is related to #4596 concerning the behavior of scipy.linalg with empty arrays. The present implementation ignores empty arrays only if their shape is (1,0). This produces

a=[]
b=[1]
c=[]
In: block_diag(a,b,c)
Out: [[1]]

a=np.zeros((1,0))
b=[1]
c=np.zeros((1,0))
In: block_diag(a,b,c)
Out: [[1]]

a=np.zeros((2,0))
b=[1]
c=np.zeros((2,0))
In: block_diag(a,b,c)
Out: ValueError: could not broadc

[2017-02-14 10:25] andyfaff commented on #6989
It'd be nice to be able to do that via runtests.py though.

On 14 Feb 2017 7:51 pm, "Ralf Gommers" <notifications@github.com> wrote:

[2017-02-14 10:38] ggautreau opened #7046 "Issue with sort_vertices_of_regions() of SphericalVoronoi"
Hello,

When i run this simple portion of code
[code]

I get the following error :

[code]

I use scipy 0.18.1.
Can you help me ?

Thank you.

[2017-02-14 13:21] ggautreau commented on #7046
When i round the array with only 3 decimals, it works.

[code]

[2017-02-14 13:55] person142 commented on #7045
This is fixed in master: https://github.com/scipy/scipy/pull/6742.

[2017-02-14 13:55] #7045 closed

[2017-02-14 13:59] ashwinpathak20 commented on #6618
I would like to work on it, I need to change the documentation of splprep right?

[2017-02-14 14:39] ggautreau commented on #7046
Finally after several tests even when I round the numpy array, I have issues again.

For example with this rounded array (which is the same as before with 5 lines added), I have the same error (list index out of range):

[code]

[2017-02-14 15:34] Eric89GXL commented on #1364
@e-q does that really handle things like zero-padding and overlap the same way as standard overlap-add filtering? I haven't looked closely enough at the STFT/ISTFT to know.

[2017-02-14 16:32] siddpiku commented on #6882
@cgohlke thanks that worked! Though I had to uninstall and re-install both numpy and scipy from  http://www.lfd.uci.edu/%7Egohlke/pythonlibs/, since numpy didnot havelink to Intel mkl libraries. I was wondering, maybe somone should fix this in the libraries installed through anaconda. Where can File a bug report?

[2017-02-14 16:35] pv commented on #6882
Now that we have dropped g77 support, it would be simple to sprinkle
`recursive subroutine/function` Fortran 90 definitions in the sources
everywhere appropriate.

[2017-02-14 21:12] VasLem opened #7047 "Allow hessian as input to optimization method fmin_tnc"
I am trying to compute the minimum of a convex function. fmin_tnc is the only that is fast enough to process my problem, due to the fact it is C wrapped code. Although the function is convex, the approximation of the hessian is buggy and often (not always) brings the system to singularity. I have already computed the hessian analytically and wish to pass it as argument to the method, but this is n

[2017-02-15 00:08] tylerjereddy commented on #7046
The code works with scipy 0.19 (master branch), and I can reproduce the issue you describe with scipy 0.18.1, but there may be something going on with the input data.

What is the radius of your sphere? You are using the default value of 1 because you did not specify a radius. Similarly, the code assumes your sphere is centered at the origin (as the docstring explains). It is hard to say for sure

[2017-02-15 01:39] mdhaber commented on #5400
1. For linprog's solution `res`,the dot product of the objective and solution vectors `c.dot(res.x)` is `117.1720022088121`, which is not even close to `res.fun` (`-190.60270595672296`). So not only are the constraints not satisfied, but the objective function value is completely wrong.

2. Turning on the undocumented option for Bland's (anticycling) rule fixes the problem.
[code]
So turning on Bl

[2017-02-15 05:08] dominicelse opened #7049 "expm_multiply is excessively slow when called for intervals"
[code]

Produces the output:
[code]

Since in any case the algorithm behind expm_multiply always works by dividing the time up into smaller intervals (around 300 of them for the given example), there is no reason for the interval version to be so much slower than the single-time version.

[2017-02-15 06:54] rgommers commented on #6989
Agreed. Cleaning up the test names in the ``nose-timer`` output (``stats`` tests have super long names) and having an easy way to see per-module and overall top times would be useful too. I'll add it to the GSoC pytest idea in case no one gets around to it earlier.

[2017-02-15 09:06] #6993 closed

[2017-02-15 13:24] ggautreau commented on #7046
Thank you very much for your answer.

Yes, you have right, my points were not perfectly lying on a sphere and the radius was not 1 (but points were centered around (0,0,0)). Yes, this is mentioned in the docstring, perhaps an exception could be a good option to avoid this kind of bad usage.
My points came from a Spherical MultiDimensional Scaling made by the smacof R package.
I did some correction

[2017-02-15 15:05] cynddl opened #7050 "Documenting _argcheck for rv_discrete"
In the documentation for ``rv_continuous``, there is a clear note that only positive arguments are valid by default. However, such note is missing for ``rv_discrete``. This is quite unintuitive and I would have like to be warned of that behavior instead of getting a ``ValueError: Domain error in arguments.`` exception.

While I understand it's not always a good idea to duplicate documentation, I t

[2017-02-15 15:27] ev-br commented on #7050
Yes, one can almost duplicate the paragraph from the `Notes` section of `rv_continuous` in the notes of `rv_discrete`, https://github.com/scipy/scipy/blob/master/scipy/stats/_distn_infrastructure.py#L2596

I'll happily review a pull request.

[2017-02-15 15:41] tylerjereddy commented on #7046
If there's an issue with sorting the vertices of Voronoi regions (spherical polygons), I would probably debug it in this way on the master branch (0.19-dev):

1. Identify the problematic (improperly sorted) Voronoi polygons, perhaps by plotting each polygon individually in a large panel and looking for signs of self-intersection, etc.
2. Try to determine if the problematic spherical polygons have

[2017-02-15 17:14] ev-br commented on #6898
Fixed by https://github.com/scipy/scipy/pull/6965. Note however that https://github.com/scipy/scipy/pull/6965 does not have a test, so it'd be great if someone who uses this writes one.

[2017-02-15 17:14] #6898 closed

[2017-02-15 17:15] ev-br commented on #6889
Fixed by https://github.com/scipy/scipy/pull/6965.

[2017-02-15 17:15] #6889 closed

[2017-02-15 17:19] jmetz opened #7051 "map_coordinates: buggy treatment of bool datatypes."
## Overview

This originated as an issue in scikit-image (https://github.com/scikit-image/scikit-image/issues/2258) but we found the issue to be the underlying call to `ndimage.map_coordinates`;

When a `bool` array is passed in, a different result is produced than passing in the same array casted to `uint8`.

## To reproduce

[code]

### Outputs

[code]
The first line from casting to `uint8` seem

[2017-02-15 19:29] kbrose commented on #6061
@ev-br

[code]

[2017-02-15 21:14] ev-br commented on #6061
Thanks @WaqAli

This has been fixed:

[code]

Having `pvalue` a masked array is probably an artefact, which deserves a separate ticket.
Closing this one as resolved.

[2017-02-15 21:37] kbrose commented on #6061
Thanks for the quick reply. Do you mind telling me what OS you are using? I've seen discrepancies where the bug only occurs on Windows machines. Likely related to this: http://stackoverflow.com/questions/36278590/numpy-array-dtype-is-coming-as-int32-by-default-in-a-windows-10-64-bit-machine

[2017-02-15 22:14] WarrenWeckesser commented on #6061
I'm not convinced this isn't still an issue.  I don't have a Windows installation to test this, but here's what I think is happening in `spearmanr` when using Windows (where the default `int` dtype is 32 bits).

The first few lines of `spearmanr` are:

    (x, y, n) = _chk_size(x, y)
    (x, y) = (x.ravel(), y.ravel())

    m = ma.mask_or(ma.getmask(x), ma.getmask(y))
    n -= m.sum()

The value `

[2017-02-15 22:19] WarrenWeckesser commented on #6061
A fix could be as simple as changing `n -= m.sum()` to

    n -= int(m.sum())

so `n` remains a Python integer and won't overflow when `n*(n**2 - 1)` is computed.

[2017-02-15 22:24] kbrose commented on #6061
@WarrenWeckesser Easier solution than what I was thinking (I was thinking about how to refactor `denom` out so you wouldn't have to cube anything in an intermediate value).

Do you all have Windows CI tests?

[2017-02-15 22:42] ev-br commented on #6061
OK, I might try to set up an Anaconda install on a Windows machine to test this. No ETA though, so if someone beats me to it, great. It should be easy enough, as https://github.com/scipy/scipy/blob/master/scipy/stats/mstats_basic.py#L416 is pure python, so one can just toss in a breakpoint.

@WaqAli Unfortunately, no, we don't have any Windows CI at the moment. Setting one up would be great (hint,

[2017-02-15 22:47] arabesc opened #7054 "scipy build fails on FreeBSD"
Environment:

FreeBSD 11/x64

\# pkg list
...
[gcc-4.9.4 ](https://www.freshports.org/lang/gcc/)
[python35-3.5.3](https://www.freshports.org/lang/python35/)
[blas-3.5.0_3](https://www.freshports.org/math/blas/)
[cblas-1.0_5](https://www.freshports.org/math/cblas/)
[openblas-0.2.19,1](https://www.freshports.org/math/openblas/)
[lapack-3.5.0_1](https://www.freshports.org/math/lapack/)
[lapack++-2.5.

[2017-02-15 22:49] arabesc commented on #7054
It seems there is a similar issue with numpy: [numpy.distutils tries to compile without using the supplied LDFLAGS](https://github.com/numpy/numpy/issues/7779)

[2017-02-15 22:50] cgohlke opened #7055 "SciPy 0.19.0rc1 test errors and failures on Windows"
Using a msvc14/ifort build of scipy 0.19.0rc1 with fixes for https://github.com/scipy/scipy/pull/7053, https://github.com/scipy/scipy/issues/6882, and https://github.com/scipy/scipy/issues/6336, I get the following test errors and failures on Python 3.5 64-bit for Windows:

[code]

Additional failures on Python 2.7:
[code]

[2017-02-15 23:04] kbrose commented on #6061
No worries about the CI. I know setting one up for windows is a non-trivial task. I didn't realize that the definition is in pure python (I actually couldn't track where the exact definition of the function was, I'd found the function you linked to but it has a different API than shown [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html)) so as you say full build

[2017-02-15 23:11] ev-br commented on #6061
Oh, sorry Kevin, I should not be pinging strangers on the internet at 2am local time :-).

Please do submit a PR, ideally with a test. Now could be great time for windows bug fixes as we're lucky to have the CI by Christoph Gohlke.

[2017-02-16 01:39] WarrenWeckesser commented on #6061
@kbrose wrote:

Ah, right.  The main definition, with signature

    def spearmanr(a, b=None, axis=0, nan_policy='propagate'):

is in `scipy/stats/stats.py`.  In some cases (including your example), that function calls the function with signature

    def spearmanr(x, y, use_ties=True):

that is defined in `scipy/stats/mstats_basic.py`.

[2017-02-16 02:54] rpsirois commented on #7046
Is it possible the problem I've been seeing is related to this?

[http://stackoverflow.com/questions/42193138/rendering-scipy-spatial-sphericalvoronoi-output](http://stackoverflow.com/questions/42193138/rendering-scipy-spatial-sphericalvoronoi-output)

[2017-02-16 07:41] #6922 closed

[2017-02-16 09:04] rgommers commented on #7054
That's indeed the same issue it looks like. So needs a fix in ``numpy.distutils``. There's absolutely nothing we can do in ``scipy`` to fix this, so I'm closing this issue.

Thanks @arabesc

[2017-02-16 09:04] #7054 closed

[2017-02-16 09:39] rgommers commented on #6370
fixed by gh-7031

[2017-02-16 09:39] #6370 closed

[2017-02-16 09:40] rgommers commented on #7005
fixed by gh-7031

[2017-02-16 09:40] #7005 closed

[2017-02-16 09:42] rgommers commented on #6900
After gh-7031 all inputs with infinite weight raise an error. So this issue is a feature request to add (robust) support for infinite weights. Could probably be done fairly easily, by translating ``inf``s to large values.

[2017-02-16 09:53] #6963 closed

[2017-02-16 10:33] dazgit opened #7058 "Errors in special.bdtri and special.bdtr for non-integer k values"
Assuming the incomplete beta function and its inverse are correct, the functions bdtri(n,k,y) and bdtr(k,n,p) give the wrong values for non-integer k (```scipy.__version__ == 0.18.1```)
Test code:
[code]
Outputs:

| n | k | y = bdtr(k,n,p) | y = betainc(n-k,k+1,1-p) | p = bdtri(k,n,y) | p = 1 - betaincinv(n-k,k+1,y) |
| - | - | ----------- | -------------------- | ------------ | ------------------

[2017-02-16 10:48] pv commented on #7058
bdtri probably just truncates k to floor(k). I get
[code]
The function likely is meant to be used only for integer k.

[2017-02-16 11:07] dazgit commented on #7058
It appears so, since bdtri(0.3,3,0.7) returns the same values as bdtri(0,3,0.7), but the documentation ([https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.bdtri.html](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.bdtri.html)) states k is a float and that it's calculated using the incomplete beta function relation.

If it's meant to have k as an integer it shou

[2017-02-16 12:59] kokorev commented on #5973
I encounter this problem with scipy 0.18.1 but I think it is only a problem when all values are the same

[code]

produce
[code]

[2017-02-16 15:35] tylerjereddy commented on #7046
@rpsirois Plotting the spherical polygons can be tricky, and I'm not really a javascript person, but I'll try to take a look when I have some time. If you can identify a specific Voronoi region on the Python side that has its vertices improperly sorted, then that would be useful. Otherwise, it is not really clear that there's an issue on the python side (apart from the fact that we can't really pl

[2017-02-16 19:13] rpsirois commented on #7046
Thanks for the feedback. I'll try to play with it a little more this weekend and try to gain some more insight on the 3D side of the issue.

[2017-02-16 19:30] ev-br commented on #7055
This is an impressive set of failures :-).

`test_decomp.TestEig.test_falker` was also reported to fail under OS X in gh-7039. @person142 can it be related to https://github.com/scipy/scipy/pull/6469?

[2017-02-16 19:35] ev-br commented on #7055
Josh @person142 I'm afraid I'm going to ping you once more, concering the file path failure in `special._precompute`.

[2017-02-16 19:46] ev-br commented on #7055
@mp4096 any ideas of what's going on with `io.wavfile`?

[2017-02-16 19:51] ev-br commented on #7055
@jotasi any ideas of what's going on with large integers in MMIO?

[2017-02-16 20:00] ev-br commented on #7055
@jor- ping re `test_matrix_io`, any ideas?

[2017-02-16 20:07] ev-br commented on #7055
I'm puzzled by the `test_convergence` failure, as I cannot find anything even remotely related in 0.19.0

[2017-02-16 20:54] andyfaff commented on #6989
I'm not quite clear on the rationale for transitioning to pytest. Not sure if `nose-timer` is solely designed for nose or if it could be modified to work with pytest. It's MIT/BSD licenced and a single file, so we could probably vendor it if necessary.

[2017-02-16 20:59] mjlm commented on #6949
I have the same problem.

Here is a minimal example:

[code]

This shouldn't even need that much memory. I use Matlab's interp2 function like that all the time. I'm wondering if I'm using scipy.interpolate.interp2d correctly here.

[2017-02-16 21:01] ev-br commented on #6949
Can you add `np.seed` to your example, so that it's reproducible?

[2017-02-16 21:50] ev-br commented on #7058
Indeed, these seem to just truncate to integers:

https://github.com/scipy/scipy/blob/master/scipy/special/generate_ufuncs.py#L91 and https://github.com/scipy/scipy/blob/master/scipy/special/_legacy.pxd#L61

[2017-02-16 21:53] ev-br commented on #6988
"even order ppform", poor wording, sorry. A spline representation in the piecewise polynomial basis (as opposed to the b-spline basis), where the polynomials are of even order.

My off-the-cuff suggestion was to add some discussion to the interpolate tutorial or as a separate notebook to the SciPy Cookbook (which is a separate repo)

[2017-02-16 22:26] mp4096 commented on #7055
Ouch. Concerning `io.wavfile`: Could not reproduce it on my Linux machine, neither with 2.7 nor with 3.5. Unfortunately, I don't have a Windows machine nearby right now. I'll dive into this issue next week.

As far as I can see right now, the [`while`-loop](https://github.com/scipy/scipy/blob/master/scipy/io/wavfile.py#L241) is skipped entirely, which just _should not_ happen.

[2017-02-17 04:52] rgommers commented on #6989
Because ``nose`` is unmaintained, and the follow-up effort ``nose2`` also doesn't have good momentum. https://github.com/scipy/scipy/wiki/GSoC-2017-project-ideas#make-the-scipy-test-suite-work-with-pytest

I'm less familiar with ``pytest``, but I'd expect it to have similar functionality as ``nose-timer`` available.

[2017-02-17 05:00] Eric89GXL commented on #6989
Looks like it's built in directly with `--durations`:

http://doc.pytest.org/en/latest/example/simple.html#profiling-test-duration

[2017-02-17 05:03] ev-br commented on #6989
To echo what Ralf is saying: to me, it's a transition to pytest specifically; it's just looking for an alternative for when nose no longer runs on e.g. next python version. And just so happens that pytest is nearly the only option --- or do you see better ones @andyfaff ?

[2017-02-17 05:09] Eric89GXL commented on #6989
If we are looking at `nose` alternatives, I can add that I once changed a codebase over from `nose` to `py.test`, and most of the tests themselves did not require any modification. It's also nice long term because you can simply do e.g. `assert a == b` and `py.test` is smart enough to give some nice output, but you can also choose to continue with `assert_equal` if you want.

[2017-02-17 05:57] jotasi commented on #7055
Ouch, indeed. With regards to the MMIO:
I did some checking and it seems to stem from the fact, that even on 64bit Windows a C long and thus a python int is 32bit. Apparently, there is a difference between `np.intp(0).itemsize` that I used to check for the size of native ints in the tests and the size of an `int` that I wasn't aware of. Therefore, the tests assume that 64bit integers should work a

[2017-02-17 06:00] andyfaff commented on #6989
@ev-br, I know a lot less about testing frameworks than you. Pytest sounds
fine to me.

On 17 Feb 2017 4:03 pm, "Evgeni Burovski" <notifications@github.com> wrote:

[2017-02-17 09:28] jor- commented on #7055
@ev-br: The failures in ``test_matrix_io`` seems to be already solved by #7067 thanks to @cgohlke.

[2017-02-17 09:55] pv commented on #7058
I think the plan was to either deprecate calling with float type args
altogether, or return nans for non-integer floats. The former likely
will break 3rd party code, but the latter probably is fine.

[2017-02-17 09:58] mp4096 commented on #7055
Same for `io.wavfile.read`, see #7068 -- thanks @cgohlke :clap:

[2017-02-17 10:52] dazgit commented on #7058
maybe supporting non-integer floats using the formulae currently stated in the documentation is more consistent, since both bdtrik and bdtrin return float k and n (very convenient as sometimes one might want to ceil other times floor).
```y == bdtr(bdtrik(y,n,p),n,p)``` and ```p == bdtri(bdtrik(y,n,p), n , y)``` just seems right :)

[2017-02-17 11:00] pv commented on #7058
Yes, it would be consistent, but the algorithm is not implemented for
floats so there's digging to do to make it work (and it's low priority).

[2017-02-17 11:50] jotasi commented on #7055
And for MMIO, see #7069. I haven't tried it on a Windows machine but the points that were fixed look good to me.
Thanks a lot @cgohlke

[2017-02-17 19:00] cgohlke commented on #7055
The failure of `test_iterative.test_convergence` on Python 2.7 looks familiar (https://github.com/scipy/scipy/issues/3340) and is probably an [Intel Fortran bug](https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/505993). For Python 2.7 I have to use older ifort and MKL versions that are compatible with Visual Studio 2008.

[2017-02-17 21:26] WarrenWeckesser commented on #6967
This is the first part of the issue:

Without the actual data, it is hard to know what is happening.  The only way I've been able to reproduce this is to put a `nan` in the input.  E.g.:

[code]

Can you check if your `data` contains `nan`?  E.g. check if `np.any(np.isnan(data))` is True.

[2017-02-18 13:36] ev-br commented on #6959
Fixed by https://github.com/scipy/scipy/pull/7030, closing.

[2017-02-18 13:36] #6959 closed

[2017-02-18 17:31] rpsirois commented on #7046
Looks like I was being silly and trying to render quads as triangles. The unit example works now; however, scaling up the geometry isn't quite right. I'm going to assume my issue is in my code and the scipy module works fine.

[2017-02-19 22:03] vedantrathore commented on #4802
@pv can you explain more?

[2017-02-20 14:01] picrin opened #7074 "pvalues in scipy.stats.linregress"
When computing the p-value of null hypothesis that linear regression gradient = 0, why does scipy use Wald Statistic followed by a t-test, as opposed to Wald Statistic followed by a Wald test?

1. I was unable to find any discussion on the mailing list about this design detail.
2. I suggest that documentation includes information about this design detail.

The following code performs linear regres

[2017-02-20 14:37] josef-pkt commented on #7074
They are both wald tests, they just differ in the distribution of the test statistic.

The t-distribution is the exact (IIRC) distribution if the residuals are normally distributed. Even when they are not normally distributed, then the t-distribution with the degrees of freedom correction is a better approximation to the true distribution of the test statistic in small samples.
Normal and t distri

[2017-02-20 15:13] picrin commented on #7074
Thanks Josef,

that clears up a lot. I can vaguely recall seeing an argument for the t-distribution being the exact distribution if the residuals are normally distributed.

This has already been a [stats.stackexchange.com question](http://stats.stackexchange.com/questions/262834/why-does-scipy-use-wald-statistic-t-test-as-opposed-to-wald-statistic-wald-t) since yesterday, but it hasn't attracted m

[2017-02-20 15:32] josef-pkt commented on #7074
sounds good to me, you could make a PR to improve it.

Unfortunately not. I haven't looked at general statistics books in a long time. I have some general econometrics text books that are in the range of 1000 pages. Otherwise, I'm only reading books on specific topics or overview articles or chapters (handbook chapters are usually heavier to read than text books but skip some of the verbosity that

[2017-02-20 21:05] lnmaurer opened #7075 "spicy.sparse.linalg.eigs(h) fails in shift-invert mode in 0.18.1"
I’m trying to solve the generalized eigenvalue problem with two fairly large (30,600x30,600) hermitian sparse matrices, H and S. (Provided below.) I’m also interested in finding eigenvalues near a specified value (using shift-inverse mode).

All the following code works with SciPy 0.17.1 but it crashes with a MemoryError with 0.18.1. It seems like the problem is in the LU decomposition.

If I exec

[2017-02-21 02:39] str4w commented on #6988
It's a good idea, and perusing these notebooks has helped me understand what I ought to have used instead of scipy interpolate.  In the meantime, I put together a notebook showing some examples.

https://github.com/str4w/StrangeInterpolators/blob/master/Strange%20Interpolators.ipynb

My current understanding amounts to a bunch of examples of behaviour I don't really understand, which of limited he

[2017-02-21 09:53] domengorjup commented on #3793
Together with @jankoslavic  we have now resolved some of the issues discussed here by adding a dtype argument to signal.cwt, along with some other additions, such as a Morlet wavelet function, designed to work with signal.cwt. We have opened a pull request (#7076), and would greatly appreciate your comments.

[2017-02-21 15:22] paul-the-noob opened #7077 "coo_matrix.tocsr() still slow"
This started out as a [hack](http://stackoverflow.com/a/42349847/7207392) on stack overflow to speed up construction of csr matrices.

As in some cases savings are considerable (several-fold reduction in time needed), it was suggested to me to offer this for inclusion in scipy.

I'm on Python 3.6, numpy 1.11.3, scipy 0.18.1

The speedup is achieved by

  - using int32 and viewcasting this to int64

[2017-02-21 16:20] nschloe commented on #7077
Perhaps you want to add the code to the original post.

[2017-02-21 16:37] nschloe commented on #7077
I tested the new code with a series of matrices with a sparsity structure that arises from FEM. Indeed, `tocsr()` is faster, and it gets better the larger the matrix is

![figure_1-1](https://cloud.githubusercontent.com/assets/181628/23174331/4aea70cc-f85c-11e6-874c-49fc6b2a5ddf.png)

(Matrix size: `mesh_size**2 x mesh_size**2`.)

The plot was created with
[code]

[2017-02-21 17:32] perimosocordiae commented on #7077
Thanks! I tried the benchmark code with master-branch scipy and got this result:
![tocsr](https://cloud.githubusercontent.com/assets/82855/23176413/cd17fd5c-f830-11e6-8416-488ee27ae608.png)

There's still a little bit of catching up to do, but not as much as in 0.18, apparently. I suspect most of the difference is coming from the extra checking we do in the `coo_matrix` and `csr_matrix` constructo

[2017-02-21 18:02] perimosocordiae commented on #7077
Actually, it looks like the issue is entirely due to `coo_matrix.tocsr` running `sum_duplicates()` before the conversion. Apparently the C code that implements `coo_tocsr` under the hood doesn't require duplicate summing, so we should be able to remove the call and get a big speedup.

[2017-02-21 18:25] perimosocordiae commented on #7077
Here's the same benchmark, using the changes I proposed in gh-7078:
![tocsr2](https://cloud.githubusercontent.com/assets/82855/23178640/3c8dfa80-f839-11e6-95d6-b51f68297d14.png)

[2017-02-21 19:07] paul-the-noob commented on #7077
@perimosocordiae  Well, I suppose that saves me the trouble of writing a PR ;-)
As far as I am concerned you can close this whenever you feel it's appropriate.

[2017-02-21 23:36] mdhaber commented on #6139
Below is another example of this behavior.
The problem was randomly generated - and was actually the _first_ such randomly generated problem that I was trying.

[code]
Output:
[code]
indicating that while `linprog` fails, the provided `x` (which I believe is actually the optimal solution) is non-negative and satisfies the upper bound constraints.

[2017-02-22 00:08] mdhaber commented on #6139
And `linprog` doesn't fare very well with the Ziontz2 problems from that same reference, "Performance evaluation of a family of criss-cross algorithms for linear programming" unless the problems are small (< 100 constraints / variables).

[2017-02-23 01:09] tylerjereddy commented on #7046
@rpsirois Ok, I will assume you haven't identified an issue with `SphericalVoronoi` unless you tell me otherwise.

So, as it stand for this issue, my focus should therefore be to investigate the claims from @ggautreau.

[2017-02-23 06:41] stonebig commented on #7055
Does the trick suggested in the link workaround the last blocking issue ?
[code]

[2017-02-23 08:34] ggautreau commented on #7046
Sorry for the delayed answer.

This case is an example of a Spherical voronoi cell prensenting a self intersection in the dataset of my previous message.

[code]
Which produce the following output :
[code]
And the following plot :
![capture du 2017-02-23 09-25-04](https://cloud.githubusercontent.com/assets/17834092/23250717/a005c1f2-f9aa-11e6-9fcd-db3f8127c1e1.png)

Moreover, this Voronoï cell is

[2017-02-23 21:07] dominicelse commented on #7049
The cause of the bug is the following.

In the function _expm_multiply_core_0 in _expm_multiply.py, there is the line

`X[k+1] = _expm_multiply_simple_core(A, X[k], h, mu, m_star, s)`

This is not ideal because s was the scaling calculated for the whole time interval t_q - t_0, and should not be applied for the time interval t_{k+1} - t_k which is what is happening here. This leads to excessive ro

[2017-02-24 10:06] deeptavker commented on #7050
Old : This class is similar to `rv_continuous`, the main differences being:

New : This class is similar to `rv_continuous`. Whether a shape parameter is valid is decided by an ``_argcheck`` method (which defaults to checking that its arguments are strictly positive.)
The main differences are :

I'd be happy to send a pull request if these changes are approved.

[2017-02-24 11:40] ashwinpathak20 commented on #4819
I was solving this issue, so shall I include various cases for dense matrix, sparse matrix ,etc: in the binary operator function that are there in add , subtract functions or should I just raise the error.

[2017-02-24 11:54] NataliaDiaz opened #7087 "Why only the first point is plotted/'interpolated' for multiple interpolations with interpolate.interp1d ?"
[code]

![plot interpolate1d not working](https://cloud.githubusercontent.com/assets/2312327/23302700/265639c2-fa90-11e6-8489-3ca26df68435.png)

[2017-02-24 12:14] perimosocordiae commented on #4819
I'm not sure what you mean. Feel free to open a pull request with some partial fixes and mark it WIP. That way we can discuss the code directly.

[2017-02-24 13:40] #6061 closed

[2017-02-24 13:47] #7039 closed

[2017-02-24 14:24] erelsgl opened #7089 "Kendall tau distance"
I think there is a bug in scipy.stats.kendalltau.

    -1.0000000000000002

Ignoring the rounding error, the correlation is -1, which means that the ranks are totally reversed. But, [1,3,2] and [3,1,2] are only one swap apart. So the correlation should be 0.3333333, like here:

     0.33333333333333337

[2017-02-24 14:27] ev-br commented on #7055
ifort bug we cannot do much about, the rest has been fixed AFAICS, so rc2 has been cut out. Please test.

[2017-02-24 14:58] josef-pkt commented on #7089
Even if it is only one swap apart in the first example, the ranking is exactly reversed

[code]

[2017-02-24 15:01] josef-pkt commented on #7089
maybe that doesn't answer the issue, I'm thinking of spearman and don't have much intuition for kendall

[2017-02-24 17:43] cynddl commented on #7050
Thanks @deeptavker for the change and @ev-br for the fast response! 👍

[2017-02-24 17:43] #7050 closed

[2017-02-24 18:33] skulumani opened #7092 "signal.impulse initial condition error"
There seems to be an error in the impulse response function in handling the initial conditions.

Specifically `impulse` will provide the following error

[code]
while `impulse2` works correctly.

Here's an example showing the issue.

[code]

Also it seems that the initial conditions are in the wrong order. First, the order of the initial conditions is not specified in the documentation, and it als

[2017-02-24 18:34] skulumani commented on #7092
Also if this is a valid issue, I'd like to take a shot at trying to contribute. I'm fairly new to `python` and `scipy` but would be interested in learning how to help the platform.

[2017-02-24 22:52] pombredanne opened #7093 "Wheels licensing"
The Pypi wheels (in particular the manylinux ones) contain prebuilts libraries for openblas (bsd) and libgfortran.... (gpl with runtime exception?)  but no information about their licenses and where to get the corresponding sources. It would be great to have some clarity in this domain.
The same issue exists with numpy https://github.com/numpy/numpy/issues/8689

[2017-02-24 23:01] rgommers commented on #7093
Where were you looking for that information or would you expect to find it?

[2017-02-24 23:11] pombredanne commented on #7093
I found that in the Linux wheels in the .lib directory. For instance: `libgfortran-ed201abd.so.3.0.0` and `libopenblasp-r0-39a31c03.2.18.so`

I would have expected to have found somewhere in the wheel some documentation about the licenses and versions of these .so and where I could get the sources (in particular for libgfortran). Ideally I guess these source may be could also be released on Pypi,

[2017-02-24 23:27] rgommers commented on #7093
That is feasible. Inside the license file, adding info about all vendored code and bundled binary libs would be useful.

No, that would be completely impractical. We are not going to redistribute source code of other projects. Such an idea would get even more impractical if you go higher up the stack - would an application using numpy and scipy then redistribute numpy/scipy source code?

Don't thi

[2017-02-24 23:30] pombredanne commented on #7093
@rgommers you wrote

I agreed it may not be super practical but that would likely be need to be squeaky clean on the compliance side at least for libgfortran.

For licenses, there is one special place in wheels that lands in dist-info (for a single file see https://bitbucket.org/pypa/wheel/issues/138/include-more-than-one-license-file-or ) which is enabled with this `setup.cfg` snippet:
[code]

[2017-02-24 23:39] rgommers commented on #7093
do you have any examples of projects doing that? a link should suffice I'd think.

[2017-02-24 23:45] rgommers commented on #7093
Thanks, didn't know about that. Wouldn't it just duplicate what we already have in ``scipy/LICENSE.txt`` though? So adding more info to that ``LICENSE.txt`` file is still the way to go?

[2017-02-24 23:50] pombredanne commented on #7093
@rgommers you wrote:

 I am doing this: For any thrid-party binaries that I vendor in https://github.com/nexB/scancode-toolkit I release the exact corresponding source code and notes here: https://github.com/nexB/scancode-thirdparty-src

[2017-02-24 23:52] pombredanne commented on #7093
This is weird and less documented feature. Eventually license documentation is a tad messy ;)  and I would like to fix it https://github.com/pombredanne/spdx-pypi-pep/

 This sure is.  That or a separate file for third-parties is commonly done too. I will be glad to help in any way I can there.

[2017-02-24 23:56] rgommers commented on #7093
As usual there is lots of conflicting information to be found, but https://www.gnu.org/licenses/gcc-exception-3.1.en.html says nothing about redistribution. It's not clear not me that a link to the source code is not enough and actual *redistribution* is needed. Do you have an authoritative source?

[2017-02-25 00:00] pombredanne commented on #7093
This exception is just that: an exception to the GPL. It does not remove the obligations of source code redistribution for libgfortran itself. The exception just weakens the GPL copyleft to something that is actually gentler that an LGPL such the copyleft does not flow to the calling code (here scipy).

[2017-02-25 00:01] pombredanne commented on #7093
The authoritative source is the GPL text here. And I guess some would consider me an authority in this domain too.

[2017-02-25 00:02] njsmith commented on #7093
@pombredanne: I disagree with your interpretation. The runtime exception states: "You have permission to propagate a work of Target Code formed by combining the Runtime Library with Independent Modules, even if such propagation would otherwise violate the terms of GPLv3". Our wheel is a combination of the Runtime Library (libgfortran) with Independent Modules (scipy), and that sentence pretty clea

[2017-02-25 00:04] rgommers commented on #7093
Independent of whether the GPL applies, what is the definition of redistribution:
- a link to the source (which is a one-liner in ``LICENSE.txt`` to the version we used)
- a separate repo with source code on GitHub (like in your example)
- a separate ``sdist`` on PyPI (which is what you suggested)
- ...?

I always understood it as allowing anyone who asked access to the source code, which means a

[2017-02-25 00:08] njsmith commented on #7093
@rgommers: you can't really talk about this independent of the GPL, because it's the GPL text that (if it applies) imposes the requirement of "redistributing source", and defines what that means. Specifically it looks like the details are in section 6 [of the GPLv3](https://www.gnu.org/licenses/gpl.html) (that page doesn't seem to let me link to the section directly, unfortunately).

[2017-02-25 00:08] pombredanne commented on #7093
@njsmith You need to consider both the exception and the gpl section7: https://www.gnu.org/licenses/gpl-3.0.html#section7

[2017-02-25 00:11] pombredanne commented on #7093
@rgommers

It is fine with the GPL 3 as long as this is something you control IMHO. e.g. you could not just link to the GCC official downloads and to comply with obligations easily it should be available at the same time or place that you get the binaries from, e.g. possibly in the `description` that ends up on Pypi.

There are other ways but they they would be more burdensome IMHO

[2017-02-25 00:14] njsmith commented on #7093
@pombredanne: From a quick look at section 7 I don't see how it changes anything. Can you be more specific about how you think it applies?

On further examination, I'm actually more concerned that the definition of "Target Code" might not stretch as far as I assumed in my comment above. The runtime exception certainly allows statically linking against libgfortran and redistributing without worryin

[2017-02-25 00:18] pombredanne commented on #7093
@njsmith the way I see most everyone interpret this is that redistributing the runtime and your own code under any license does not violate the GPL but the GPL still applies to the runtime itself and its provisions should still be honored. You can take a more relaxed way to read this, but your downstream users may not agree with you, hence why I would recommend to make it easier and cleaner for th

[2017-02-25 00:28] rgommers commented on #7093
Well, the requirement is to comply, not comply "easily". Polluting PyPI with extra files for many projects no one will ever use is not the answer. What may be easier is for example adding it to a multibuild or manylinux repo, which is then effort spent once and will satisty source code availability for many projects.

[2017-02-25 02:08] cgohlke commented on #7055
With https://github.com/scipy/scipy/pull/7095, rc2 passes all tests on Python 3.5, 64-bit, Windows.

[2017-02-25 04:45] matthew-brett opened #7096 "macOS test failues for test_solve_continuous_are"
Failures on the newly completing daily builds:

[code]

https://api.travis-ci.org/jobs/205184824/log.txt?deansi=true

It looks like these could be fixed by relaxing the test thresholds to 13 decimals and 9 decimals respectively, but are these acceptable?

[2017-02-25 05:37] njsmith commented on #7093
@rgommers: if the GPL applies, then it looks like the requirement is that if the binaries are on PyPI, then we have to keep a link on PyPI ("clear directions next to the object code") saying where to download the source, and make sure that that link remains working in perpetuity. Also anyone who wants to redistribute the wheels has to commit to doing the same.

@matthew-brett: do you happen to kno

[2017-02-25 05:38] njsmith commented on #7093
(actually I said manylinux above, but really it's all platforms...)

[2017-02-25 05:39] matthew-brett opened #7097 "setup.py clean error is confusing after pip build failure"
When the pip build fails, the build log now finishes with:

[code]

This is a bit confusing, because the source of the ``setup.py clean`` is pip itself.   Maybe re-enable?

[2017-02-25 05:55] njsmith commented on #7093
It might make sense to email licensing@gnu.org to ask their opinion too.

[2017-02-25 08:47] ev-br commented on #7055
Closing then. Thank you Christoph, all.

[2017-02-25 08:47] #7055 closed

[2017-02-25 08:56] ev-br commented on #7096
@ilayn comments?

[2017-02-25 09:00] ev-br commented on #7087
Can you please pare this down to a minimal reproducible example? E.g. remove plotting, and add the data (or synthesize data which shows the same problem). I suspect you have missing data, which are represented by NaNs, and matplotlib does not plot these. But this is just a guess.
At the moment, it's not really actionable.

[2017-02-25 09:50] rgommers commented on #7097
Grr. Why is pip even attempting to clean, given that it insists on building in a tmpdir that it deletes anyway. Note that ``clean`` is actually broken (gh-6410 is one, but it's bad in more ways) so maybe we can see if pip devs are willing to drop the clean step?

[2017-02-25 10:00] xflr6 opened #7099 "scipy.stats.fisher_exact for tables larger than 2x2"
Would be great if `scipy.stats.fisher_exact()` could add support for larger contingency tables ([like R](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/fisher.test.html)).

There is actually code for this in [maclandrol/FisherExact](https://github.com/maclandrol/FisherExact) but I don't know how hard it would be to integrate that (see also this [blog post](https://mrnoutahi.com/2016/01/0

[2017-02-25 19:34] matthew-brett commented on #7097
Sounds reasonable to me.

[2017-02-25 19:35] matthew-brett commented on #7097
For now, worth replacing with a big fat warning?

[2017-02-25 20:02] NataliaDiaz commented on #7087
Here it is:

[code]

[2017-02-25 21:34] mirca commented on #7089
Hi @erelsgl, the results looks correct. In your first example you have ``x = [1, 3, 2]`` and ``y = [3, 1, 2]`` which gives ``#{discordant pairs} = 3``, ``#{concordant pairs} = 0``, resulting in ``tau = (0 - 3) / 3 = -1``. In the second example, ``x = [1, 3, 2]`` and ``y = [1, 2, 3]``, so ``#{discordant pairs} = 1 `` and ``#{concordant pairs} = 2 ``, hence ``tau = (2 - 1) / 3 = 1 / 3``.
 Take a loo

[2017-02-25 21:38] erelsgl commented on #7089
Hmmm... the Wikipedia page on https://en.wikipedia.org/wiki/Kendall_tau_distance says that "Kendall tau distance is also called bubble-sort distance since it is equivalent to **the number of swaps that the bubble sort algorithm would make to place one list in the same order as the other list**".  The number of swaps in my example is obviously small (1), while the number of discordant pairs is larg

[2017-02-26 00:54] matthew-brett opened #7100 "test_distance.test_Xdist_deprecated_args test error in 0.19.0rc2"
Testing the 0.19.0rc2 wheel gives a new test error, only seen for Python 3.6, 64-bit and numpy 1.11.3:

[code]

See: https://travis-ci.org/MacPython/scipy-wheels/jobs/205362487

I can replicate this on OpenBLAS-linked scipy, Python 3.6.    To my surprise, the `X1` matrix in the traceback above changes over the course of the loop.  At the time of error `X1` is:

[code]

The covariance `CV` above is

[2017-02-26 14:01] ilayn commented on #7096
Yes, they are perfectly acceptable. Thank you for discovering these. We simply used a rough guesstimate (extra two orders of magnitude play) about the precision confirmed by Travis setup back then.

But things are getting modified constantly, hence we relax the precision along the way. I'll make a PR asap.

[2017-02-26 14:40] #7077 closed

[2017-02-26 16:24] PikalaxALT opened #7102 "Implement beta binomial distribution"
The beta binomial distribution is a generalized version of the binomial in which the proportion parameter is sampled from a beta distribution.  This has wide applications in bioinformatics and computational biology where events appear to be binomial in nature but the observed variance is greater than can be inferred from a binomial model alone.  For my own use, I have written a [temporary module](

[2017-02-26 19:00] ev-br commented on #7087
[code]

Does not seem to be a scipy bug, so closing. The issue (if there is one) is then somewhere between pandas and matplotlib. Note that your arrays are not sorted, which might be a root of it.

[2017-02-26 19:00] #7087 closed

[2017-02-26 19:03] #7096 closed

[2017-02-26 22:43] #7049 closed

[2017-02-27 05:08] jgostick opened #7103 "Add an 'edges' attribute to Voronoi objects?"
I just spent my evening trying to plot a 3D Voronoi diagram, so I think this is a feature request.

My problems arose from the inability to access the start and end points (vertices) of each edge in the Voronoi diagram.  In 2D diagrams, the ```ridge_vertices``` attribute happens to double as edges, but in 3D the ridges are actually facets consisting of multiple edges.  It is a real pain to extract

[2017-02-27 08:55] andyfaff commented on #6989
Are we good to close this now?

[2017-02-27 17:37] matthew-brett commented on #6989
I solved my original problem by dropping the i386 builds from the OSX wheel recipe.  I guess the remaining question is - is there more that should be done to speed up the tests?

[2017-02-27 18:19] evgenyzhurko commented on #7089
Kendall rank correlation coefficient and Kendall tau distance are the different measurement.

@erelsgl say true information about Kendall tau distance. `kendall_tau_distance = m / (n * (n - 1) / 2)`, where `m` - pairs whose values are in opposite order and `n` - size of list. As a result, Kendall tau distance therefore lies in the interval `[0,1]`, because `m` in  never less than `0`.

@mirca also

[2017-02-27 22:18] mbrady76 opened #7104 "scipy.stats.nct - wrong values in tails"
The non-central Student's t random variable is very broken in the tail.  It is both incorrect and not self-consistent.  The cdf is clearly not exactly zero in the tails, then it becomes a constant 6.74576317e-17 over a given range.  The pdf also does not appear to be correct with negative values, as probability density functions are usually positive ( https://en.wikipedia.org/wiki/Probability_dens

[2017-02-27 22:22] tylerjereddy commented on #7103
So, basically looking for the 3D equivalent of [scipy.spatial.voronoi_plot_2d](http://scipy.github.io/devdocs/generated/scipy.spatial.voronoi_plot_2d.html)?

I'll bookmark this issue and take a look when time permits, if nobody else beats me to it.

[2017-02-28 01:44] jgostick commented on #7103
Actually, plotting was my diagnostic here but not really my end goal.  Access the to edge vertices would be more generally useful for all sorts of things, including plotting.  I use the Voronoi tessellation as graph to simulate percolation and other network type things.

I wonder if there is a more numpy-friendly vectorized way to accomplish what I showed above?  If I think of anything I'll let yo

[2017-02-28 02:10] markcampanelli opened #7107 "ENH: odr: upgrade to ODRPACK95 (port to Python or beyond...)"
I am interested in volunteering to help port ODRPACK95 (http://dl.acm.org/citation.cfm?id=1268782) to scipy in order to get the bound constraints feature. I need some direction on how to proceed, however.

[2017-02-28 08:22] rgommers commented on #6989
I think yes - would like to include building better diagnostics a part of the proposed GSoC project. Now we never detect people adding slow tests in PRs, and only find out when TravisCI build matrix entries start timing out.

[2017-02-28 08:46] rgommers commented on #7107
If anyone is looking for the source code: it's a zip file linked at the top of http://www.netlib.org/odrpack/. It doesn't include a license; not written by government employees so not public domain. ACM is usually a pain, did you find license info anywhere?

Looks like the most straightforward thing to do if the license is compatible is to include that Fortran code in the same way as done for ODRP

[2017-02-28 08:47] rgommers commented on #7107
Maybe wait for @rkern to comment before starting, he's the expert for ``odr``.

[2017-02-28 13:36] thunderfish24 commented on #7107
Thanks @rgommers for your insight on the options. I presume that because the original ODR work was largely by NIST employees, the ACM TOMS copyright is not in force. I'll await input from @rkern while I consider how we might integrate the existing code with scipy.optimize's trust-region algorithm.

[2017-02-28 15:45] lucyantie commented on #6785
Hi all,

I'm sorry to be asking the same question. I'm new to python. I have the same issue when trying to use scipy.ward clustering. I've read the post & earlier bug fix entry but I couldn't understand any of it. Can someone please help me?

[2017-02-28 15:49] lucyantie opened #7108 "ValueError: Linkage 'Z' uses the same cluster more than once thrown when clustering ward"
Hi all, I' new to python and having this error when trying to use scipy.cluster.hierarchy.ward() for my clustering.

I understand that this issue has been resolved in gh-6785 and gh-6495 but I have no idea how it actually solved.

Please can someone guide me through this? Thank you.

Lucy

[2017-02-28 16:03] Albert65 opened #7109 "affine_transform gives negative values, black image with mode='wrap'"
Hi All,
1) scipy.ndimage.interpolation.affine_transform gives negative values when the parameter order >= 2
2) with order <= 1 it is fine but the boundary is not perfect - some visible "saw"-like artifacts.
3) in mode='wrap' the output is a black image.
Maybe compatibility issues?
I am running Python 3 from Anaconda 4.2 environment on Ubuntu 16.04/64.
I did (upgrade to the latest packages):
conda

[2017-02-28 16:37] Albert65 commented on #7109
Just checked with defualt anaconda settings - the same story.

[2017-02-28 18:05] nschloe opened #7110 "scipy.misc.comb returns float, not int"
[Documentation](https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.misc.comb.html) says that `scipy.misc.comb` returns `int` – as it should be –, but really it returns a float.

MWE:
[code]
Output:
[code]

[2017-02-28 18:24] person142 commented on #7110
The documentation is certainly incorrect, but note that you can get an `int` by doing

`comb(1, 1, exact=True)`.

[2017-02-28 19:29] rkern commented on #7107
ODRPACK was indeed written by NIST folk, but ODRPACK95 was not. The main work was done by people at Virginia Tech. It used to be distributed as part of [JigCell](http://jigcell.cs.vt.edu/index.php), but the download and SVN links no longer work, so I couldn't say if there was a license attached to that project independent of the TOMS publication. You can try contacting Layne T. Watson or Jason Zwo

[2017-02-28 19:36] ev-br commented on #7107
One more possible GSoC topic? How does the difficulty compare to a GSoC
project scope?

On Tue, Feb 28, 2017 at 10:30 PM, Robert Kern <notifications@github.com>
wrote:

[2017-02-28 19:47] DavidKopecky commented on #5493
I came across this as well, any chance to update the tables and/or mitigate the extreme extrapolation?

http://stats.stackexchange.com/questions/225588/why-does-scipy-stats-anderson-ksamp-give-a-p-value-of-over-a-million-for-these-d?atw=1

[2017-02-28 20:08] rkern commented on #7107
Fits pretty well, I think, for a student that's comfortable implementing numerical algorithms from their papers.

[2017-02-28 20:37] adamjstewart opened #7112 "Unable to build in parallel with Python 3"
I'm trying to build scipy 0.18.1 with Python 3.6.0, Numpy 1.12.0, GCC 6.1.0, and OpenBLAS 0.2.19 on CentOS 6.8. When I build in serial, things work just fine. But when I use `-j 16`, I'm seeing build errors:
[code]
I can successfully build in parallel with Python 2.7.13, so this problem may be specific to Python 3.

[2017-02-28 20:58] ev-br commented on #7107
Any chance you'd be interested in writing a project description / mentoring
/ co-mentoring it if there's a student?

Fits pretty well, I think, for a student that's comfortable implementing

[2017-02-28 21:32] rkern commented on #7107
Not (co-)mentoring, no, but I might be able to write up a description.

[2017-02-28 21:50] charris commented on #7107
Probably should establish the license first to avoid tears.

[2017-02-28 22:22] rkern commented on #7107
There isn't much interesting in the ODRPACK95 code itself that isn't in the ODRPACK code. The algorithmic innovation was adding bound constraints to its trust-region solver, but we'd probably have to do it differently to add that functionality to our own trust-region solvers in any case.

[2017-02-28 23:15] mklemarczyk opened #7114 "Problem with installing Scipy using PyPi on Windows"
Problem with installing Scipy 0.18.1 using PyPi on Windows (Python 2.7.13)

Here is log:
``Collecting scipy
  Using cached scipy-0.18.1.tar.gz
Installing collected packages: scipy
  Running setup.py install for scipy: started
    Running setup.py install for scipy: finished with status 'error'
    Complete output from command D:\Web\Python27\python.exe -u -c "import setuptools, tokenize;__file__='

[2017-02-28 23:23] tylerjereddy commented on #7103
Oh, I see. I'm pretty sure the Voronoi data is coming in at the C-level from `Qhull`, so the data structure might be most sensibly generated in Cython, if we were going to do this.

[2017-02-28 23:26] ev-br commented on #7114
Duplicate of https://github.com/scipy/scipy/issues/5461 (and several others).

The short answer is that you cannot install SciPy with pip on Windows. Your best bet likely is Christoph Gohlke wheels or Anaconda.

[2017-02-28 23:26] #7114 closed

[2017-03-01 01:13] jgostick commented on #7103
So I played with my code snippet above, hoping to vectorize it somehow, but no luck.  I did find a way to get the number of edges *a priori* and pre-allocate the conns array, but it actually slowed things down.  I did alter the way I found the duplicate pairs, using a complex array instead of the sparse matrix voodoo above.  My 'best so far' code snippet is this:

[code]

For what it's worth, the

[2017-03-01 02:03] matthew-brett commented on #7100
Should be closed with merge of #7106 .  #7106 fixes the change in `X1` I referred to above, which results from a bug in the `cdist` code,  where the function can modify its input arrays.

[2017-03-01 13:20] #7100 closed

[2017-03-01 13:39] jacklovell opened #7117 "Warn users when using float32 input data to curve_fit and friends"
I recently ran into an issue whereby curve_fit was failing to fit a function, even though the guesses were reasonable. The warning reported by Scipy was "/usr/local/depot/Python-3.5.1/lib/python3.5/site-packages/scipy/optimize/minpack.py:690: OptimizeWarning: Covariance of the parameters could not be estimated".

After hours of searching, I discovered that the problem was that I was using np.float

[2017-03-01 17:29] domengorjup commented on #3793
The build issues our pull request originally had are now resolved.

Our solution is designed not to break any existing code, but would without a doubt benefit from further input by more experienced contributors. I would invite everyone with knowledge on the subject to check it out.

[2017-03-01 19:22] josef-pkt commented on #7104
I don't think there will be any fast and easy solution. The cdf and sf are computed by scipy.special functions nctdtr and nctdtrit.
https://en.wikipedia.org/wiki/Noncentral_t-distribution#Cumulative_distribution_function
The expression looks pretty complicated and there might be a truncation or approximation term that assumes that something around 1e-17 is close enough to the true value.

There ha

[2017-03-01 19:23] stefanv commented on #6930
We've had a bug in scikit-image's `threshold_minimum`, resulting from:

[code]

reporting different outputs on 32-bit and 64-bit platforms:

[code]

Do you think this issue is related?

[2017-03-01 19:29] josef-pkt commented on #7104
The pdf function will need clipping to zero to prevent rounding errors to cause it to be negative.

(maybe terms in the _pdf can be combined in a different way to gain some precision, but it could also be limited by hyp1f1

[2017-03-01 22:38] tylerjereddy commented on #7103
@jgostick Thanks! Have you thought about how we'd intelligently handle cases with more than 3 dimensions? `qhull` is designed to handle > 3 dimensions. Do you think this would quickly get messy?

[2017-03-01 22:54] pv commented on #7103
The qhull terminology is "off by one" as it computes Delaunay via d+1
hull, so facets are d+1-1 dimensional and ridges d+1-2 dim. I don't
think qhull data structures directly deal with the d+1-3 dim objects,
nor does it afaik provide a way to directly enumerate them. I see no
principal problem in enumerating only one level more (maybe lazily
computed), as 3D voronoi is probably the most common.

[2017-03-02 05:16] bill10 opened #7118 "scipy.sparse.linalg._count_nonzero() unnecessarily eats a lot of memory"
I got an memoryerror when using the expm() for sparse matrices, and traced down to this function that is causing the memory issue.

    def _count_nonzero(A):
        # A compatibility function which should eventually disappear.
        #XXX There should be a better way to do this when A is sparse
        #    in the traditional sense.
        if isspmatrix(A):
            return np.sum(A.toarray(

[2017-03-02 06:00] perimosocordiae commented on #7118
Good catch. It seems this helper function was only used in rare cases (with explicit zeros in the sparse lower triangle), so it managed to slip by unnoticed. The pull request I just submitted should fix the problem.

[2017-03-02 06:25] bill10 commented on #7118
great! thx

[2017-03-02 06:25] #7118 closed

[2017-03-02 10:35] rgommers commented on #7108
Hi Lucy, the fix was basically a rewrite of the whole algorithm. I suspect what you want to know is whether you have that fix in your scipy install, and if not then how to get it?

The fix is in 0.19.0, which is not yet released (probably next week it will be). If you're on Linux or OS X, you can grab a wheel of the daily builds at https://7933911d6844c6c53a7d-47bd50c35cd79bd838daf386af554a83.ssl.

[2017-03-02 10:35] rgommers commented on #7108
I'm going to close this issue because it's not a bug. Feel free to continue the discussion though.

[2017-03-02 10:35] #7108 closed

[2017-03-02 10:53] ev-br commented on #7108
Turns out, Christoph Gohlke has 0.19rc2 Windows builds already: http://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy
Would be great if you test it.

[2017-03-02 14:29] Eric89GXL commented on #7092
@befelix @cwrowley any idea on this one?

@skulumani even if there is no bug, it would be good to clarify the order in the docstring. We can't change the order for backward compatibility reasons.

[2017-03-02 14:34] skulumani commented on #7092
Thanks for the comment. I can work to update the documentation and submit a
pull request.

On Thu, Mar 2, 2017, 09:29 Eric Larson <notifications@github.com> wrote:

[2017-03-02 18:06] befelix commented on #7092
So looking at the code the logic that handles `X0` is a little bit different in both cases and I think it could probably be made more robust and compatible without affecting backwards compatibility (see [impulse](https://github.com/scipy/scipy/blob/98e2dcf8c083bb94542b6dddbc89d377556dc472/scipy/signal/ltisys.py#L2115) vs [impulse2](https://github.com/scipy/scipy/blob/98e2dcf8c083bb94542b6dddbc89d3

[2017-03-02 18:13] jgostick commented on #7103
@tylerjereddy ... I'm not sure if it counts as "intelligent" of "dumb luck", but my code snippet above actually works for ND graphs.  An edges always has two ends, it's just that the vertices that define the edge are embedded in Nth dimensional space.  So if you generate base point in 4D (i.e. ```base_pts = sp.rand(200, 4)*100```), the ```edges``` array still contains pairs of indices into the ```

[2017-03-02 18:16] jgostick commented on #7103
@pv I am a bit confused about the difference between a facet and a ridge.  If I understand what you're saying, then scanning through the ridges in higher dimensions is not giving me what I think it is.

[2017-03-02 18:16] jbloom opened #7121 "can't use `factr` option to `scipy.optimize.minimize('L-BFGS-B')`"
The docs for the LBFGSB minimization describe the `factr` option, which is useful for controlling the absolute tolerance (relative to machine precision) of the optimization.

However, actually passing this option in the `options` dictionary doesn't work, and gives a warning that is an invalid option.

This is version `0.18.1`.

[2017-03-02 18:52] jomsdev opened #7122 "Sketching-based Matrix Computations"
**TL;DR**: *I think having an implementation for some randomize matrix algorithms would be great. I would like to discuss if the community finds it useful too.*

*Randomized matrix algorithms* have been a hot topic in research the last years. Recent developments have shown their utility in large-scale machine learning and statistical data analysis applications.

Sketching is a way to compress matr

[2017-03-02 19:18] rgommers commented on #7122
Hi @jomsdev, interesting. First a question on scope fit: you say you're focused on distributed systems, however distributed algorithms and data structures are out of scope for scipy. Are you proposing a non-distributed version here?

Also, how standalone is your code? I see libSkylark having dependencies on FFTW and MPI for example - both of those are showstoppers.

[2017-03-02 19:40] lucyantie commented on #7108
It works with 0.19rc2! Thanks, guys!

[2017-03-02 19:48] jomsdev commented on #7122
Hi @rgommers,

Thank you for the fast response.

As you say, LibSkylark has "hardcore" dependencies on MPI and FFTW. It is a production-ready implementation, and it extraordinarily scales. In fact, this is one of its strength/weakness. I made some python bindings and they are compatible with  numpy/scipy.sparse but the goal of the library is not this one. These methods are really powerful, and I w

[2017-03-03 01:09] andyfaff commented on #7121
Please see #5231

[2017-03-03 03:34] thehesiod opened #7124 "netcdf_file does not obey valid_[min/max/range]"
testcase:

step 1: open https://madis-data.ncep.noaa.gov/madisPublic1/data/archive/2016/07/01/LDAD/mesonet/netCDF/20160701_0000.gz with both scipy and netCDF4

step2: compare with test script:
[code]

in this case the `windSpeed` variable has a `valid_min` attribute and scipy's impl doesn't support masking this attribute

[2017-03-03 05:54] jankoslavic commented on #3793
Dear @rgommers would you have time to check-out the pull request (#7076)? For our application this looks fine. We have added Morlet2 method to leave the Morlet method untouched. Looking forward to your comments.

[2017-03-03 06:33] iljah opened #7125 "Impossible to know number of dimensions in c function used by nquad?"
Copy of http://stackoverflow.com/questions/42536982. In short, documentation for using a c function states:
[code]
so is it impossible to know from within the c function how many dimensions are being integrated so that correct number of args is used? The provided example doesn't use n but assumes args[0]...args[2] can be used.

[2017-03-03 08:37] pv commented on #7125
IIRC n is the number of dimensions.

[2017-03-03 08:38] pv commented on #7125
But this should be more clear in scipy 0.19.0 (to be released soon).
https://scipy.github.io/devdocs/generated/scipy.integrate.nquad.html#scipy.integrate.nquad

[2017-03-03 12:24] gautamdivgi opened #7126 "scipy.optimize.fsolve Jacobian argument incomplete in the documentation"
This seems to be a minor documentation bug & an easy fix

The scipy.optimize.fsolve accepts a jacobian in the fprime argument

`scipy.optimize.fsolve(func, x0, args=(), fprime=None, full_output=0, col_deriv=0, xtol=1.49012e-08, maxfev=0, band=None, epsfcn=None, factor=100, diag=None)
`

fprime is defined as

`   fprime : callable(x), optional
        A function to compute the Jacobian of `func` wi

[2017-03-03 12:40] cwrowley commented on #7092
Yes, it looks like as currently implemented, `X0` needs to be given as a column vector.  It would probably be good to allow this to be either a column vector or a 1d array.  For instance, as currently implemented, the following works (with `X0` as a column vector):

[code]
but the following do not (with X0 as a row vector or 1d array):
[code]
Also, note that the error occurs within [lsim](https://

[2017-03-03 14:11] antonior92 opened #7128 "Constrained Optimisation in Scipy"
Hello, my name is Antonio and I am a Brazilian electrical engineer currently pursuing my master degree. I have contributed to ``scipy.optimize`` and ``scipy.signal`` implementing functions ["iirnotch", "irrpeak"](https://github.com/scipy/scipy/pull/6404) and the method ["trust-region-exact"](https://github.com/scipy/scipy/pull/6919) (under revision). I am interested in applying for the Google Summ

[2017-03-03 14:55] iljah commented on #7125
Thanks, so ```extra parameters``` really means coordinates? Dev docs still mention ```args``` but there is no such parameter anymore.

[2017-03-03 15:57] iljah opened #7129 "C function receives invalid n from nquad"
I compile this c file:

[code]
with ```gcc -fPIC -shared func.c -o func.so``` and run this python file 4 times:
[code]
and it prints:
[code]
what could be wrong? Apparently n should be 1 here. I'm using:
[code]

[2017-03-03 16:14] pv commented on #7129
This is probably fixed in 0.19.0rc2. However, `n` is actually not the
number of dimensions, but the length of the `args` array, which contains
the coordinates, followed by any additional numbers passed in via the
args= argument.

[2017-03-03 17:50] ev-br commented on #7129
And so it is:

[code]

with `func.c` and `func.py` from the OP.

[2017-03-03 17:50] #7129 closed

[2017-03-04 14:47] skulumani commented on #7092
Following on from @cwrowley here are some of the differences in the format of the initial conditons for `impulse` and `impulse2` that I could think of

[code]

I think there's another issue #5676 which seeks to address some of this.

@befelix I think I found the differences in the initial state convention. I'm used to dealing with this form of the [controllable canonical realization](https://en.wi

[2017-03-05 18:59] #6622 closed

[2017-03-05 20:24] befelix commented on #7092
Great, please reference this issue when you open a PR.

Regarding development have a look at https://www.scipy.org/scipylib/building/ - if you don't want to mess up your local version have a look at `virtualenv` or the equivalent in anaconda.

[2017-03-06 11:52] ivannz opened #7131 "Memory Allocation Fault in LU factorization"
This issue was encountered [here](https://github.com/scikit-learn/scikit-learn/issues/7626) in Scikit. In short, when trying to perform linear dimensionality reduction for data analysis purposes, the script fails abruptly with a memory allocation error.

After some debugging, I managed to pin down the possible source of the problem to the LU factorization on line line 258 in [utils/extmath.py](htt

[2017-03-06 12:45] ilayn commented on #7131
Assuming the data is real valued, could you please pass the same data directly to `linalg.lapack.dgetrf`?

[2017-03-06 13:12] ivannz commented on #7131
Yes, ``np.ones(...)`` creates a matrix of real **1.0** values (double). This example fails with exactly the same fault:
[code]
Changing `np.float64` to `np.float32` does not solve the issue.

The last 3 calls before the fault in the stack traces in the [new crash report](https://github.com/scipy/scipy/files/821192/crash_report_dgetrf.txt) are identical to the ones in the previous crash report.

[2017-03-06 13:37] lesteve commented on #7131
In case it helps, from the scikit-learn issue the problem was not happening within a conda environment using MKL, so it may be an OpenBLAS problem on OSX.

[2017-03-06 13:38] ilayn commented on #7131
Indeed, on my machine I have no issues.

![untitled](https://cloud.githubusercontent.com/assets/1303842/23612149/8db75adc-027a-11e7-8fe3-968c030db2f2.png)

[2017-03-06 13:52] lesteve commented on #7131
Yeah this is a OSX-specific problem than only happens when using OpenBLAS. I have to say I am not sure how to further debug the problem and I am hoping someone here will have some suggestions.

[2017-03-06 14:12] ivannz commented on #7131
I am sure this has everything to do with Apple's accelerate, but I am unable to go any further. The following C++ code behaves identically to the python snippets above.
[code]
This should be compiled with `g++ file.cpp -o file -framework accelerate` on a recent Mac. Changin 46336 to 46335 agains removes the fault.

[2017-03-06 14:18] pv commented on #7131
Then it's likely an integer overflow inside Accelerate. Only Apple can
fix bugs in Accelerate, so it should be reported to them, and this issue
can be closed.

[2017-03-06 14:22] pv commented on #7131
Closing (looks like accelerate bug).

[2017-03-06 15:20] lesteve commented on #7131
I was able to reproduce the original scikit-learn issue using OpenBLAS within an Anaconda environment. Was I somehow still using accelerate?

[2017-03-06 16:17] pv commented on #7131
Sorry, I understood your comment above as that it did not occur with non-accelerate environment.
You can see where the problem is by running it under debugger and seeing whether the backtrace points to openblas or accelerate.

Nevertheless, you should try a similar minimal program as above. If it fails, then it's openblas/lapack issue.

[2017-03-06 17:50] lesteve commented on #7131
I assumed that the scipy wheels available on PyPI were built against OpenBLAS as is the case on Linux. I was wrong, on OSX the wheels are built against Accelerate, at least if I believe the output of `otool -L` on `scipy/linalg/_fblas*.so`. Pinging @matthew-brett just to confirm this.

I could run the Python snippet with OpenBLAS using conda-forge without error.

All in all it seems like an Accele

[2017-03-06 17:56] matthew-brett commented on #7131
Yes, the OSX wheels are build with Accelerate.   What version of OSX are you running?

[2017-03-06 22:33] lesteve commented on #7131
Thanks for confirming this, which I was not aware of.

@ivannz has opened a bug with Apple and will let us know when he gets an answer.

For completeness:
The version of OSX I am using: `OSX 10.12.1`, Darwin `16.1.0`.

@ivannz's version is different though, so it looks like it is not restricted to only one OSX version:
[code]

[2017-03-07 03:21] lcanon88 opened #7133 "Discontinuity of a scipy special function"
I'm trying to calculate something by using the parabolic cylinder function which scipy provides.
Here is my code.

[code]
If you run it, you can see two graphs.

![image](https://cloud.githubusercontent.com/assets/26239612/23640261/e40d8018-032f-11e7-96da-364a6b3956b7.png)

Black line for W(0, x) and blue line for W'(0, x) where W(a, x) denotes the parabolic cylinder function
(Refer to 12.14 of th

[2017-03-07 04:44] person142 commented on #7133
The issue is that the SciPy wrapper of the `specfun` function forgets to use the chain rule. In particular, the documentation for the `specfun` routine says:

[code]

but the source (Zhang and Jin) consider `W(a, -x)` to be its own special function, so when they say `W'(a, -x)` they actually mean `[W(a, -x)]'`. Then the SciPy wrapper does this:

[code]
i.e. when `x < 0` it returns `-W'(a, x)`. So

[2017-03-07 04:54] lcanon88 commented on #7133
Thanks alot for your help.

[2017-03-07 08:19] matthew-brett commented on #7131
Same output on

[code]

and

[code]

and

[code]

but no such error on:

[code]

@ivannz - would you mind maintaining a copy of your report and any replies from Apple over at http://www.openradar.me ?

[2017-03-07 10:32] ivannz commented on #7131
Certainly! Here is the link to Open Radar [rdar://30868533](http://www.openradar.me/30868533).

[2017-03-07 13:50] TheLazyBum opened #7134 "Fitting a bessel-function using odr gives numerical error"
Hello everyone,

I have a problem fitting a function including a bessel function in it by using pythons odr. The code is:

[code]
It says it's halting because of "Numerical error detected"
I need to finish this today...

[2017-03-07 16:01] francoiscoste opened #7136 "The dirichlet distribution unnecessarily rejects probabilities equal to zero."
Hi and thanks for all the work on these libraries!

I think that there is a bug in scipy.stats: the dirichlet distribution rejects unnecessarily probabilities equal to zero.
To reproduce the bug:

[code]
that yields:

[code]
This test is too strict here. Each entry in 'x' is a probability and must be greater _or equal_ to zero.

Remarks:

- _multivariate.py does not seem to have changed in new ver

[2017-03-07 17:04] picrin commented on #7074
Thanks for all the help, here's the PR: #7137

[2017-03-07 21:05] #7074 closed

[2017-03-08 08:32] josteinbf commented on #5986
+1 for both a ``cache=False`` argument and for adding a function to clear the cache. For an example of a useful case for ``cache=False``, see my question on stack overflow [1]. However, I think it would also be useful to limit the size of the cache (probably both in terms of number of items and in terms of the amount of memory used, like suggested in numpy/numpy#7686).

[1] http://stackoverflow.co

[2017-03-08 15:20] Gargo opened #7140 "trouble with documentation for windows"
Documentation for windows contains no concrete steps how to build but contains useless chunks of info about installation in linux:
http://www.scipy.org/scipylib/building/windows.html

it becomes a hell to understand how to build scipy but I see things like "usr/lib directory"

[2017-03-08 18:28] Noxbru opened #7141 "Improve documentation for Elliptic Integrals"
This afternoon I have been writing code that relies in both elliptic integrals (`scipy.special.ellipk` and `scipy.special.ellipe`) but I was getting completely wrong values.

This has been until I realized that scipy defines the elliptic integrals in a different that wikipedia or other resources do.

For example, [wikipedia](https://en.wikipedia.org/wiki/Elliptic_integrals) and Wolfram MathWorld [

[2017-03-08 18:41] WarrenWeckesser commented on #7141
This is a duplicate of https://github.com/scipy/scipy/issues/3618, but I'll leave it open because of the specific suggestion to improve the documentation.  It sounds like a good idea to note the different conventions in the docstring, and add a reference to the appropriate section of Abramowitz and Stegun.

[2017-03-08 18:42] person142 commented on #7141
But in particular, we shouldn't do

which will break existing code for a not-good-enough reason.

[2017-03-08 18:50] person142 commented on #7141
And now that I think about it, there is a good reason for using `m` instead of `k^2`--it allows you to do something like

[code]

without having to resort to complex arguments.

[2017-03-08 18:54] WarrenWeckesser commented on #7141
Note that the function `EllipticK(m)` in Wolfram Alpha agrees with `scipy.special.ellipk`.  For example, in Wolfram Alpha, [`EllipicticK(0.9)`](https://www.wolframalpha.com/input/?i=EllipticK(0.9)) is 2.57809..., and in scipy,

[code]

[2017-03-08 19:33] pv commented on #7141
I don't really think it's correct to characterize the definition as unusual, so the only thing to add is probably a mention that there are also a second commonly used definition.