[2022-05-06 13:49] tupui commented on #16127
Oh indeed I see 👍 Would you like to make a PR @VolodyaCO?

[2022-05-06 13:53] tupui commented on #16127
@andyfaff I think `Options` in the docstrings of `scipy/optimize/_lbfgsb_py.py:_minimize_lbfgsb` should only describes the `options`. I suppose this is general to other optimizers.

[2022-05-06 14:09] VolodyaCO commented on #16127
Yeah I can make the PR if you want me to... would that be in here (scipy/optimize/_lbfgsb_py.py:_minimize_lbfgsb)?

[2022-05-06 14:11] tupui commented on #16127
Thanks! Yes it should be. But please wait for a confirmation from @andyfaff.

[2022-05-06 15:28] larsoner commented on #16052
Okay thinking about this option more, how about following `firwin` a bit and add `pass_zero=False`:
[code]
Then it's clear(er) that for either `ftype`, by default, zero will be notched -- and hence `f0` and its multiples will be notched, too. If you pass `pass_zero=True`, `(f0 * n)/ 2.` will be notched instead.

It's not as pretty as maybe we'd like, but it's at least internally somewhat consisten

[2022-05-06 16:12] pjaap opened #16131 "BUG: spsolve_triangular is way slower than spsolve"
### Describe your issue.

Hi!
I used `spsolve_trianguar` in a project and noticed that is is really slow. Then I compared it to the generic `spsolve` method and this one is indeed a lot faster. I created a mini program that simply solves `Ax=b` for an identity matrix `A` and a zero vector `b`

For `n=1000000` the measured time (on a single CPU core) is:
[code]
On my more advanced triangular matrix

[2022-05-06 16:30] mdhaber commented on #16131
I think this is a duplicate of gh-10722. Do you agree @pjaap?

[2022-05-06 16:43] ogauthe commented on #16129
I had a look on your reference, it proposes an improvement of the restarted Arnoldi method, which falls back to the restarted Lanczos method in the case of hermitian matrices. [eigsh](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html) already implements restarted Lanczos, Arnoldi is for the non-symmetric case dealt with [eigs](https://docs.scipy.org/doc/scipy/refe

[2022-05-06 18:51] rgommers commented on #9025
This doesn't crash for me with current `main` on 64-bit Linux:
[code]

For whoever reads this next: the pickle file isn't needed to run the reproducer.

[2022-05-06 18:54] rgommers commented on #8814
This still segfault with `1.9.0-dev0`.

[2022-05-06 18:57] rgommers commented on #16080
The error message indeed tells you how to fix it: `please exit the SciPy source tree first`. This is clearly invalid; just `cd ../somewhere-else/` and the problem will go away.

[2022-05-06 18:57] #16080 closed

[2022-05-06 19:45] kloczek commented on #16080
And that ios the point .. if pytesr is started outside of the source tree how cov, flake8 or black pytest extensions can find source code to scan? 🤔

[2022-05-06 19:49] tupui commented on #16080
There are reasons for that. You simply have to use our tooling. Please read our developers' documentation.

[2022-05-06 19:55] kloczek commented on #16080
I'll try to rephrase that: If you ereally need to change to some directory which is notsource tree root for some units why it is not implemented in pytest.ini? 🤔

[2022-05-06 23:26] WarrenWeckesser commented on #8814
@tdryer, you were correct, the crash reported here is another symptom of the problem reported in #8684. And @brightonanc's analysis of the problem over in #8684 is correct.  I'll submit a PR with a fix soon.

[2022-05-07 05:28] ev-br opened #16136 "Slow tests in test_rbfinterp"
Some RBFInterpolator tests are noticeably slow. Need to be checked to ether speed up or mark as slow.

[2022-05-07 05:29] WarrenWeckesser commented on #10886
Thanks for pointing out the correction, @roryyorke.  I'm closing the issue.

[2022-05-07 05:29] #10886 closed

[2022-05-07 05:54] WarrenWeckesser commented on #11939
@EverLookNeverSee, I'm sorry your issue has remained unaddressed for so long!

I don't see how you determined that the weights were not affecting the coefficients.  I have used the weights to design filters, and I did not run into such a problem.  For example, see the subsection on page 10 and the corresponding Figure 14 on page 11 of my notes on ["Signal Processing with SciPy: Linear Filters"](ht

[2022-05-07 05:54] #11939 closed

[2022-05-07 07:10] #9591 closed

[2022-05-07 10:29] Kai-Striega commented on #3325
@mdhaber I'm not really sure how to do this, could you expand on it a little more?

[2022-05-07 14:36] mdhaber commented on #3325
By "grids", it sounds like the user is referring to intervals of integration, as defined by `a` and `b`, and the request is to vectorize it:

[code]

[2022-05-07 15:09] josef-pkt commented on #9307
#1924 #625  I think pearsonr should essentially behave like np.corrcoef + pvalue

https://github.com/scipy/scipy/pull/16133#issuecomment-1120223399

[2022-05-07 18:28] mdhaber commented on #9307
Which other functions in stats do you think should behave that way? Or would `spearmanr` and `pearsonr` be the only exceptions to the usual system?

[2022-05-07 19:42] josef-pkt commented on #9307
kendalltau would be the third correlation measure (pandas treats those 3 the same, AFAIR)
For example we can use those 3 to define elliptical copulas, kendalltau is also commonly used for bivariate copulas where we only need a single correlation/dependence coefficient.

However, kendalltau is not "naturally" vectorized

For statsmodels, I have an old PR with few more outlier robust cov/corr functi

[2022-05-07 19:57] WarrenWeckesser commented on #16119
It looks like there is a bug in the Matlab code that generated the file `19-512.mtx`.  According to https://math.nist.gov/MatrixMarket/formats.html, https://networkrepository.com/mtx-matrix-market-format.html and https://people.sc.fsu.edu/~jburkardt/data/mm/mm.html, the diagonal elements are not to be included in the skew-symmetric format.  The file `19-512.mtx` has 131330 lines.  The first two ar

[2022-05-07 19:58] josef-pkt commented on #9307
another distinction

Most of the 2-sample tests assume independent samples, there is no underlying multivariate structure. It's just comparing different independent samples. (correlation in tukeyhsd comes from the contrast of comparisons and not from the correlation of the underlying data).

In the multivariate cases like MANOVA, repeated measures ANOVA or general correlated samples we are back to

[2022-05-07 20:26] josef-pkt commented on #9307
after another coffee break:

I get what I'ms saying boils down to whether a function is mainly for multivariate analysis or for analysis k (= 1, 2, 2) independent sample.

IMO, corr, cov, pearsonr, kendalltau and spearmanr are in the multivariate camp, the bivariate off-diagonal element is just a special case.

[2022-05-07 20:39] mdhaber commented on #9307
`corr` and `cov` are not in SciPy.
Because you did not mention them, shall we assume that `pointbiserialr`, `weightedtau`, `linregress`, and all the other ["Correlation functions"](https://docs.scipy.org/doc/scipy/reference/stats.html#correlation-functions) should be vectorized as usual, and only `perasonr`, `kendalltau`, and `spearmanr` would get this special treatment?

[2022-05-07 21:27] josef-pkt commented on #9307
I used `corr` and `cov` as generic term for any king of correlation or covariance measures

pointbiserialr is redundant and just for name recognition
The difference is that it has two different types in x and y, So I would think that the cross-correlation would be the most appropriate in the multivariate case.

I never looked at weightedtau, vectorizing to correlation matrix might not gain anythin

[2022-05-07 22:01] josef-pkt commented on #9307
(after another break)

I would put sommersd in a similar category as the correlations measures for ordinal association.
One possible multivariate extension would be to return an asymmetric association matrix with sommersd(x, y) in the upper (?) triangular matrix and sommersd(y, x) in the lower triangular matrix.

But that's purely theoretical, I've never seen a usecase like that. And I don't know

[2022-05-08 09:19] tupui commented on #16080
I was not there when this was implemented like this. I suppose it is to make sure SciPy is being run from the built output so that we are certain to test something representative of a final user installation. There is lot of things going on with compiled code, etc.

We don't need to play with pytest.ini because using our build scripts, we are defining correctly the Python path. On many level (e.g.

[2022-05-08 09:21] tupui commented on #16136
+100 this is especially sensitive to setting `OPENBLAS_NUM_THREADS`

[2022-05-08 10:01] kloczek commented on #16080
I have now +900 spec files of the python modules. What I've learn doing all that is that whatever needs to be done as part of the testing procedure is always implemeted as part of the procedure to allow run pytest without any additional params or addytional pre/post steps.
If it is not done that way sooner or later people will start asking "why it does not work like everywhere? 🤔 "
Changing curren

[2022-05-08 10:30] tupui commented on #16080
Testing (and the rest) is very much standard. I am myself using PyCharm and **provided you follow the current installation guides**, everything is working as you would expect. I can use the green arrow and launch a specific test, use the debugger, etc.

(Only exception is temporary if you use the new meson build system as the build is done out of place (for now there is nothing similar to `pip ins

[2022-05-08 10:36] kloczek commented on #16080
Alredy you've told that testing procedure is nor standard because it requires some pre steps.
Those steps are causeing that some extensions will be not able to scan source code.
SciPy it is not only place where its test suite is used.
Really please look on the issue a bit broader ..

[2022-05-08 10:39] tupui commented on #16080
What I said is: the pre-steps are compilation ones, and the only other thing we do is set the PYTHONPATH, which is very standard.

[2022-05-08 10:49] kloczek commented on #16080
Typical packagin procedure of any python module (not only of my packages byt any distro packages like Fedora) consist from:
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/p

[2022-05-08 10:58] tupui commented on #16080
And again, this is **not** how you build SciPy. Unless the Python packaging team consider supporting more advanced workflow needed for packages like SciPy, it will not work.

[2022-05-08 11:02] kloczek commented on #16080
Python paclkgin team does not build rpm, deb, *BSD or Solaris IPS packages.
Could you please go back to testing topic?

[2022-05-08 11:34] tupui commented on #16080
On testing topic: here are the steps written down in our doc

1. Build SciPy: which is **not** `python build ...`, but at the moment `python setup.py build_ext --inplace`,
2. Set your PYTHONPATH to the root folder (or `conda develop .`),
3. Then you can do `pytest ...`.

All standard here... And just to be sure, I just tested all that in a brand new env. I just did `scipy/stats/tests/test_qmc.py`

[2022-05-08 12:56] ev-br commented on #16080
`$ python dev.py` or `$ python runtests.py` from the scipy root. Or, `$ py test --pyargs scipy` to test already-installed version away from the repo root folder.

[2022-05-08 15:00] ev-br commented on #2725
To summarize the current status of this enhancement request:
- The functionality was requested a couple of times over time, but so far nobody stepped in to actually implement it.
- the paper which is referenced above ---  _Barycentric Lagrange Interpolation_, [Jean-Paul Berrut](https://epubs.siam.org/author/Berrut%2C+Jean-Paul) and [Lloyd N. Trefethen](https://epubs.siam.org/author/Trefethen%2C+Ll

[2022-05-08 15:39] Mv77 opened #16142 "ENH: Fix the random state in `scipy.stats.multivariate_normal.cdf()`"
### Is your feature request related to a problem? Please describe.

The CDF in the `scipy.stats.multivariate_normal` is computed using Alan Genz's algorithm. This is the main Fortran subroutine that is being used https://github.com/scipy/scipy/blob/8a64c938ddf1ae4c02a08d2c5e38daeb8d061d38/scipy/stats/mvndst.f#L157

An issue is that the algorithm computes the relevant integrals through Monte Carlo

[2022-05-08 15:50] ev-br commented on #6710
To summarize the status of this issue: up to scipy 0.18.1, SciPy shipped a version of a constructor of interpolating splines.
The routine is gone in scipy 1.9.0 with all the `splmake` framework, and the question is if is worth porting the routine to the current framework.

The source code for the functionality is (not the 0.18.1 links, this is not not available in the current main):
https://github

[2022-05-08 16:45] ev-br commented on #6173
OK, it is way too late to change the way `lagrange` works, even if the current implementation is not really up to scratch.  Adding one more way to represent a Lagrange interpolating polynomial is not really desirable. Updating the `BarycentricInterpolator`  or picking up gh-4674 would be nice. Are you interested in any of these @lzlarryli ?

[2022-05-08 18:24] WarrenWeckesser commented on #15960
This was fixed by https://github.com/scipy/scipy/pull/16003

[2022-05-08 18:24] #15960 closed

[2022-05-08 18:37] thecrazyfatguy commented on #6754
+1

[2022-05-08 18:56] tupui commented on #16142
Hi @Mv77 thank you for reporting. I removed the link to R since it's GPL which is not compatible with our license. Please don't mention anything about this package as we cannot use anything about it (not even read the code).

[2022-05-08 19:50] ilayn commented on #10575
We have bumped the minimum required lapack version to 3.7.1 now. And I think that bug is fixed already but cannot find it yet in the lapack release notes.

[2022-05-08 20:44] ilayn opened #16143 "ENH: Expose Cythonized functions to other pyx files through cimport"
This is more of a learning issue that I have been trying out for a few weeks now but couldn't have any progress. What I would like to have is
 - expose a Cython API for linalg that is similar to `cython_blas`, `cython_lapack` or `cython_special`.
 - or at least make certain Cythonized functions common to all scipy functions.

I think I can say that I really don't understand the machinery `_generat

[2022-05-08 20:44] eli-schwartz commented on #15996
I have posted a PR for Meson to set the default visibility: https://github.com/mesonbuild/meson/pull/10369

[2022-05-08 21:16] rkern commented on #16142
The PRNG is all in FORTRAN. It's entirely unrelated to our PRNGs. It maintains its [own state as `SAVE`d variables](https://github.com/scipy/scipy/blob/8a64c938ddf1ae4c02a08d2c5e38daeb8d061d38/scipy/stats/mvndst.f#L1170). We can't really manipulate that state from the outside AFAIK.

We'd have to rewrite the FORTRAN code to call a C function that would call our `BitGenerator` that we'd set in the

[2022-05-09 00:04] ev-br commented on #14681
It would be nice indeed, but I don't believe this is doable. Trimming zero coefficients seems to be a feature of `np.poly1d` objects:

[code]

Looking at the source, https://github.com/numpy/numpy/blob/v1.22.0/numpy/lib/polynomial.py#L1245, there is this `trim_zeros` call, which comes from https://github.com/numpy/numpy/blob/v1.22.0/numpy/lib/function_base.py#L1776 --- and it just converts `[0, 0.

[2022-05-09 00:04] #14681 closed

[2022-05-09 05:35] andyfaff commented on #16127
Yes, I don't think it should be removed from the docstring in `_minimize_lbfgsb`.

[2022-05-09 10:38] davidsuculum opened #16148 "Documentation in spearmanr"
I think it would be great if the line in [spearmanr](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html) function: "_Unlike the Pearson correlation, the Spearman correlation does not assume that both datasets are normally distributed"_ is corrected, because Pearson **does not** assume normality for the calculation of the coefficient, only for the p-values calculation.

[2022-05-09 11:17] tupui commented on #16148
Hi @davidsuculum thank you for reporting. Any documentation update is welcomed. I think we would need a reference from a reference paper since this is something people argue about.

[2022-05-09 11:52] larsoner commented on #16052
At least for the FIR case it's a bit weird to get the behavior from a function named `iircomb`, I'd be tempted to make a `fircomb`. But if we can get all these behaviors from a single function I can live with it being part of `iircomb` even if the impulse response is finite.

Can you think of a clean API from scratch that would work for the Wikipedia cases? Maybe we should start from there and the

[2022-05-09 14:34] ilayn commented on #16023
The difference has to be calculated regardless hence the working array is unavoidable.

Same precision issue is also present in the square of the difference anyhow. So that trade-off is about which case is sacrificed since `||(x-y)||`  is also quite bad when x and y are very close to each other.

[2022-05-09 14:53] kloczek commented on #16080
I'm not running `python -m pytest` but `pytest` SCRIPT.
Indeed when `python -m <foo>` is executed python adds curretnt directory to `sys.path`. This is why that way of using pytest is not recommeded .. and I'm not using that method!!!

In other words what you just descriped cannot be cause that ONLY those 5 units are failing.
Could you pelase have look one more time on attached pytest output?

[2022-05-09 17:14] rgommers commented on #16080
The first failure is from a test using `subprocess.check_call([sys.executable, '-c', TEST_BODY])`. So it runs into exactly the failure mode you apparently already understand. The output really cannot be clearer:
[code]
There's only one way to get that output, which is _running tests from the root of the repo_. This is wrong, no matter how you invoke `pytest`; that invocation method does not carry

[2022-05-09 17:49] thezealousfool opened #16149 "Typing information missing for scipy.spatial.transform.Rotation.concatenate"
Missing typing info for scipy.spatial.transform.Rotation.concatenate in [_rotation.pyi](https://github.com/scipy/scipy/blob/main/scipy/spatial/transform/_rotation.pyi)

[2022-05-09 20:43] sunqm opened #16151 "BUG: scipy.linalg.eigh segfault on MacOS"
### Describe your issue.

On MacOS, scipy.linalg.eigh occasionally crashes with segmentation fault error. The arrays are 96x96 complex128 hermitian arrays.
[hs.npy.tar.gz](https://github.com/scipy/scipy/files/8655144/hs.npy.tar.gz)

The test fails on scipy 1.2.0 - 1.7.3 but works fine if downgrading to scipy 1.1.0. scipy library was installed with pip.

My python version is 3.7.4, numpy version 1.

[2022-05-09 21:31] ilayn commented on #16151
I can't reproduce this on Windows machine with 1.7.3 as it gives me the eigenvalues

[code]
do you mind adding details such as if you are using pip or conda or the result of `scipy.linalg.lapack.ilaver` and other relevant details?

[2022-05-09 22:00] matthew-brett commented on #16151
I don't get a segfault - with Numpy 1.21.2, and Scipy 1.8.0, installed from Pip - on macOS 11.6.5.

[2022-05-09 22:19] davidsuculum commented on #16148
Hi, there's this article but I can't readit: https://psycnet.apa.org/doiLanding?doi=10.1037%2Fh0048216[](https://psycnet.apa.org/doiLanding?doi=10.1037%2Fh0048216). In Wikipedia's article you find no mention to normality of the datasets for Pearson's correlation, except when doing the inference and calculating the p-values. I have also checked in my copy of "Foundations of Agnostic Statistics" (Ar

[2022-05-09 23:23] sunqm commented on #16151
I only observe problems on macos.  I observed the failure on my laptop and the macos virtual machines provided by github actions. My laptop runs python3.7 from miniconda. All other libraries are installed with pip. On github actions, os is set to `macos-latest` with python provided by `actions/checkout@v2`.

s is positive definite.

[2022-05-09 23:30] ilayn commented on #16151
You can't mix and match conda and pip installs though I am not sure if you are doing that. Also conda uses MKL library which had a LAPACK bug regarding the underlying routines. Other than that, I don't think how to reproduce this as our CI jobs also use MacOS and same GH actions.

[2022-05-09 23:50] sunqm commented on #16151
MKL and conda are irrelevant here. I've checked the libraries that numpy and scipy are linked to. This error was caught only on scipy 1.2.0 and newer version. It works alright if downgrading to scipy 1.1.0 while keeping everything else the same

I suspect this issue https://github.com/scipy/scipy/issues/15362 is relevant

[2022-05-10 01:12] josef-pkt commented on #16148
As a descriptive statistic, Pearson correlation only measures `linear` association while spearmanr is for `monotonic` association.
Descriptive statistics like variance and correlation (pearson, spearman, kendalltau) do not depend on any distributional assumptions.

For the descriptive statistic the only relationship to normal distribution is that the conditional mean of a bivariate normal distribu

[2022-05-10 01:56] josef-pkt commented on #16148
I don't think changing the docstring and dropping the mention of a normality assumption for the correlation itself needs a reference.
We are using (prarson) correlation on any kind of data all the time.

[2022-05-10 06:59] ilayn commented on #16151
That one is about eigh(a) and you are using eigh(a, b) which travels a different path. So once again, did you mix and match conda and pip installed libraries? Also did you explicitly select openblas in your miniconda env because the default is MKL?

[2022-05-10 07:52] rgommers commented on #16151
@sunqm can you please add:
- macOS version
- hardware of your laptop: `x86_64`, `arm64` (and if the latter, are you running `x86_64` binaries?)
- the full output of `conda list` and `conda info`

[2022-05-10 07:53] rgommers commented on #16151
This should actually work fine the way @sunqm describe it - if you _only_ use `conda` to install Python itself, and install everything else from PyPI it should work (still not recommended, but I'm not aware of any immediate problems).

[2022-05-10 07:55] rgommers commented on #16110
Yes, we should fix these upstream. I think they're harmless, but they're annoying nevertheless.

[2022-05-10 08:04] rgommers opened #16153 "Test suite fails on missing `PyInit__fpumode` in collection phase"
This is a very strange failure that I noticed just once in the Linux Meson CI job ([here](https://github.com/rgommers/scipy/runs/6362249104?check_suite_focus=true)):
[code]

Full traceback:

<details>

[code]

</details>

Looks like a flake, I just don't understand why. Let's leave this issue open for a little while and see if it happens again.

[2022-05-10 09:17] tupui commented on #16148
All right then if there is no disagreement. @davidsuculum feel free to make a PR 😃

[2022-05-10 18:43] lzlarryli commented on #6173
Thank you for reminding me of this:-) I can try to implement the normalized version according to Sec 7 of https://people.maths.ox.ac.uk/trefethen/barycentric.pdf.

I am not familiar with the rational interpolant mentioned in [gh-4674](https://github.com/scipy/scipy/pull/4674). But I can take a look as well. That would probably be a different step though.

[2022-05-10 19:12] sunqm commented on #16151
my laptop:
[code]
[code]
[code]

[code]

[2022-05-10 19:23] ilemhadri opened #16156 "Documentation in stats.multivariate.cdf"
https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/stats/_multivariate.py#L521

I believe the `log` is off, there.

[2022-05-10 19:41] rgommers commented on #16151
Thanks @sunqm, that all looks as it should, so this should be reproducible now at least on a `x86_64` Macbook.

Last question, given that you explicitly exclude 1.8.0 here - did you test with 1.8.0? It ships with a newer version of OpenBLAS IIRC, so perhaps the issue is solved already.

[2022-05-10 20:43] mdhaber commented on #16156
The link above appears to be an old commit. It has been corrected in `main`.

[2022-05-10 20:43] #16156 closed

[2022-05-11 01:51] sunqm commented on #16151
scipy 1.8.0 does not have a wheel for python 3.7. So I installed python 3.9. It does not crash in this test. But I still got segmentation fault for scipy.linalg.eigh in other jobs. I noticed scipy shipped with libopenblas since 1.2.0. Is it possible that the openblas library in scipy has compatibility issue?

[2022-05-11 04:53] mdhaber commented on #15943
Defect addressed in gh-16056. Exact method (enhancement) PR welcome.

[2022-05-11 05:38] mdhaber commented on #13730
For future reference: R and SAS do not agree, and the current SciPy implementation does not agree with either. A Python implementation of the complete statistic (including ties) as described [here](https://www.jstor.org/stable/1266427) agrees with SAS.

[2022-05-11 06:22] ev-br commented on #6173
Great, looking forward for a PR! Or two :-)

[2022-05-11 08:00] rgommers commented on #16151
Ah good catch - there are wheels for `1.1.0` but they have no bundled BLAS library at all so there we just expected users to have something installed by the system. So OpenBLAS is crashing here independent of SciPy version. This isn't unusual, we've seen quite a few segfault with it before.

The next step to make progress here would be to extract a standalone reproducer (i.e., not depending on `.n

[2022-05-11 13:08] gideonKogan opened #16157 "ENH: add cross cyclic spectral coherence"
### Is your feature request related to a problem? Please describe.

Similar to #15519, It has a lot of implementations.

### Describe the solution you'd like.

The same solution as ##15519 but replace the cross-spectrum function by the cross-coherence

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-05-11 14:23] tupui commented on #16157
Hi @gideonKogan, thank you for reporting.

I looked at the linked PR, #15989 and #14783. I think this deserves and email to the mailing list to get the attention of maintainers with experience in these modules. We would be adding a few functions and it needs to be well motivated.

[2022-05-11 22:38] asnelt opened #16159 "BUG: scipy.stats.nbinom.logcdf returns wrong result for particular arguments"
### Describe your issue.

The function `scipy.stats.nbinom.logcdf` returns wrong results for certain combinations of input arguments.

If we set `n=4.8` and `p=0.45` then for the input `[0, 5, 0, 5]` the function returns `[-3.832837, -0.647303, -0.647303, -0.647303]`. The third array element cannot be right because it must be equal to the first array element.

On the other hand, if we try the inpu

[2022-05-12 01:41] peterbell10 commented on #16023
An intermediate calculation step is required, but this result remains entirely within CPU registers; whereas calling `dnrm2` would require O(k) additional memory for k-dimensional distances and O(N) additional memory accesses.

When x and y are close to each other the limitation is in the representation of x and y as floating point values which is unavoidable and completely outside of the differen

[2022-05-12 07:22] gideonKogan commented on #16157
I am not following you, did you notify them somehow?

[2022-05-12 08:36] MichaelSchneeberger opened #16161 "BUG: TransferFunction.inputs does not return the correct number of inputs"
### Describe your issue.

The number of inputs returned by TransferFunction.inputs is wrong.

Consider the implementation of `num` setter, ...

[code]

... we note that the dimension of `num` (e.g. `num.shape`) determines the number of outputs and inputs. But this is wrong. `num` is either
* one dimensional containing the parameters of the numerator polynomial (see `else` statement in the setter),

[2022-05-12 08:58] ilayn commented on #16023
When the difference x-y is small, elementwise abs calculation also loses precision in squaring. Squaring precision loses on the other end of the spectrum when x or y is large. It's a matter of tradeoff. For moderate values the precision loss is not going to affect.

If you are doing a running total of difference then you are back at the original problem given in OP that is you have to run over col

[2022-05-12 10:05] AwesomeLemon commented on #14594
@LonglongaaaGo thanks a lot for posting your solution! I had exactly the same problem on a SLURM cluster (with the problem not appearing on a non-SLURM server), and your solution worked.
It also occurred in the context of FID calculation (though I used a different library, clean-fid https://github.com/GaParmar/clean-fid).

[2022-05-12 16:17] d-cogswell opened #16162 "BUG: curve_fit gives wrong results with Pandas float32"
### Describe your issue.

This issue is related to previous issues with curve_fit and float32, which were partially resolved in PR #10076. Incorrect fitting still happens when passing data as a float32 Pandas Series. Here is an example adapted from #2280.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.22.3 sys.version_info(majo

[2022-05-12 16:38] migp11 opened #16164 "Error in scipy.stats.mannwhitneyu documentation"
Below is the docstring of the `scipy.stats.mannwhitneyu` function (scipy==1.8.0)
If *F(u)* and *G(u)* are the cumulative distribution functions of the distributions underlying `x` and `y`, respectively
then the hypothesis for 'greater' would be *F(u) > G(u)* for all *u*, right?. However, in the documentation, the inequality is written in the other direction. And the same for the 'less' hypothesis.

[2022-05-12 16:46] tupui commented on #16162
Hi @d-cogswell, thank you for reporting. Indeed I can confirm this is happening when using Pandas Series, but not with NumPy arrays. This is because the internal casting to `float` is only happening for array_like. See:

[code]

I am unsure what we could do here since we don't want to have Pandas specific code here. We should check why we don't try to use `np.asarray` all the time.

[2022-05-12 17:08] josef-pkt commented on #16164
Note, If `*F(u) > G(u)* for all *u*` , then x ~ F has smaller values (in probability) than y ~ G.
so, x is stochastically smaller than y.

Larger cdf means that smaller values have higher probability.

similar confusion showed up also for the one-sided kstest.

[2022-05-12 17:18] josef-pkt commented on #16164
However, the statement is not actually correct, not in general without additional assumptions on F and G.

The mannwhitneyu statsitics is for a weaker form of stochastic dominance.
The statement is for first order stochastic dominance F > G, but mannwhitneyu statistic is for P(x < y) = 0.5 (in continuous distributions) versus P(x < y ) > 0.5 or P(x<y) < 0.5.

AFAIR

[2022-05-12 20:18] rgommers commented on #16153
This happened in the CI job I was running on my own fork, against Meson's master branch. It had run without issues for so long that I forgot I had it, so I didn't pick up on that:)

It was actually a SciPy issue that was uncovered by https://github.com/mesonbuild/meson/pull/10369. The change in gh-16165 will take care of this issue.

[2022-05-12 20:18] #16153 closed

[2022-05-12 21:53] ev-br commented on #6882
Ok, so gh-15997 is merged (1.9.0-dev), let's close this. Please reopen if it causes problems. Thanks all

[2022-05-12 21:53] #6882 closed

[2022-05-13 03:30] WarrenWeckesser commented on #15384
FYI: https://github.com/scipy/scipy/pull/16168 fixes another failure that occurs when SCIPY_XSLOW is defined.  That test requires mpmath and sympy to be installed.  (The problem was not numerical; it was just a bug in the test code.)

[2022-05-13 07:45] zhihua-zheng commented on #7890
Agree with @rahulbhadani. This is an issue that needs improvment.

[2022-05-13 09:15] hwuebben opened #16169 "Documentation error in cut_tree"
Doc here (https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.cut_tree.html) reads:

'in the first column each data point is in its own cluster'

I think it should say:

'in the first column every data point is in the same cluster'

[2022-05-13 09:30] migp11 commented on #16164
Hi Josep,

Thanks for the clarification. I see it more clearly now. From my point of view, it is a more intuitive expression of the hypothesis using the PDF, i.e. P(x>y) > 0.5 (for greater) as is also explained in Wikipedia:

".... The probability of an observation from population X exceeding an observation from population Y is different (larger, or smaller) than the probability of an observation

[2022-05-13 09:43] andyfaff commented on #16162
We don't use `np.asarray` for `x` because of the last part of this docstring:

TLDR: this issue is down to calculations not being done in double precision, which is up to the user to ensure.

- xdata is not converted to a np.float64 array because it's not a list, tuple or np.ndarray. We can't cast everything to np.ndarray because the user might want to supply a specific kind of object that they do

[2022-05-13 09:47] ilayn commented on #16162
I think it is not a very laborious task to squeeze in `.to_numpy()` explicitly for example

[code]

is returning consistent results.

[2022-05-13 09:48] andyfaff commented on #16162
Sure. I think we're on the same page @ilayn, thinking that's the responsibility of user code?

[2022-05-13 09:50] ilayn commented on #16162
Yes, we are slowly converging to the conclusion that handling array_like and other non NumPy arrays were not good design as it lead to many issues. If array is expected better to work with arrays to avoid lots of if else cases

[2022-05-13 09:55] tupui commented on #16162
Agreed 👍 thank you both for jumping in.

@d-cogswell Would you like to make a PR to maybe improve the documentation?

[2022-05-13 10:02] tupui commented on #16164
Documentation improvement are always welcomed.

[2022-05-13 10:39] Kfftfuftur opened #16170 "BUG: scipy.integrate.odeint returns wrong values when derivative function overwrites y"
### Describe your issue.

`odeint` supplies the original `y` vector to the derivative function so when the function writes the derivative directly into the vector it also overwrites the `y` vector in `odeint`.

The function `derivative_1` from the code example overwrites `y` with the derivative. `odeint` doesnt seem to pass a copy of `y`, so its record is also overwritten. This only happens in the

[2022-05-13 12:54] #16149 closed

[2022-05-13 14:12] Alexamk opened #16171 "BUG: scipy.stats.multivariate_hypergeom.rvs raises ValueError when at least the last two populations are 0"
### Describe your issue.

I ran into a strange issue when sampling using Scipy's multivariate hypergeometric distribution. Calling `scipy.stats.multivariate_hypergeom.rvs` on a list of populations raises the error message `ValueError: ngood + nbad < nsample`, while calling the same function on the sorted array as input does not.
Specfically, the error seems to be raised when at least the last two

[2022-05-13 14:17] tupui commented on #16162
Personally, I would not use a warning. Some test suites are failing on warnings and it introduces some churn then for maintainers to filter out warnings if they would use something else. I think updating the doc is enough (we can make this clearer by having a note on the parameters' descriptions too)

[2022-05-13 14:24] josef-pkt commented on #16164
As reference here are my notes, docs for Wilcoxon-Mann-Whitney’s U test, Fligner-Policello test and Brunner-Munzel test
 https://www.statsmodels.org/dev/generated/statsmodels.stats.nonparametric.rank_compare_2indep.html#statsmodels.stats.nonparametric.rank_compare_2indep

[2022-05-13 15:14] tupui commented on #16171
Hi @Alexamk, thank you for reporting. Indeed I can reproduce and agree that this behaviour is confusing.

[2022-05-13 15:26] WarrenWeckesser commented on #16171
The problem is here:

https://github.com/scipy/scipy/blob/a6ee381ec61f89e8b43631bb7f3e5ee30e6bda47/scipy/stats/_multivariate.py#L4875-L4878

When n is 0, the result on the right is zero (because of the multiplication by `(n != 0)`, but the function `random_state.hypergeometric()` is still being evaluated, and in this case the arguments to `random_state.hypergeometric()` are not valid.

[2022-05-13 15:57] migp11 commented on #16164
Thanks! I'll go through the notes. By the way, be aware that either there is a typo in the doc string on one of the parameters
`use_t: poolean`
or there is a new data type I did not know anything about XD

[2022-05-13 16:02] mdhaber commented on #16164
For reference, SciPy's description of the alternatives is directly from the [original paper](https://www.jstor.org/stable/pdf/2236101.pdf):
![image](https://user-images.githubusercontent.com/6570539/168322397-2ce058bb-84fe-48ea-9bdf-1f7443b31a23.png)

[2022-05-13 16:44] WarrenWeckesser commented on #16171
My comment about the arguments being invalid needs some qualification.

If we could rely on `random_state` being a `Generator` instance (i.e. if we could ensure that we were using the new NumPy random API instead of the legacy API), we could replace that line with:

[code]
`n` might be 0, but `Generator.hypergeometric` will do the right thing.  For example,
[code]
The reason for the shenanigans wi

[2022-05-13 17:06] #8684 closed

[2022-05-13 17:06] #8814 closed

[2022-05-13 17:06] #12686 closed

[2022-05-13 17:18] WarrenWeckesser commented on #9999
I don't think we need to keep this issue open waiting for a review of the memory management in SuperLU and QHull.  Those are vendored libraries; until we have evidence suggesting otherwise, I think we should trust their authors.  I updated the description of the issue accordingly.  A thorough review of their memory management would be more appropriately done upstream rather than in SciPy's copies.

[2022-05-13 17:18] #9999 closed

[2022-05-13 17:24] rgommers commented on #9999
FYI, I had this on a list of issues to finish off. I think it's still useful to do, especially SuperLU - and then upstream and needed changes. Fine to leave the issue closed, but it may get done anyway.

[2022-05-13 17:49] tirthasheshpatel commented on #16171
The proposed fix sounds good to me @WarrenWeckesser. Do you want to propose the PR @WarrenWeckesser or @Alexamk? If not, I can take this up.

[2022-05-13 18:12] WarrenWeckesser commented on #9999
That would be great!  Feel free reopen the issue and revert my edit of the description if you want to restore the checklist items.

[2022-05-13 18:47] d-cogswell commented on #16162
I created PR #16173.

[2022-05-13 18:54] #16162 closed

[2022-05-13 18:59] rgommers opened #16174 "Failure of `TestCorrelateComplex.test_rank0` in CI with NumPy main branch"
See for example https://github.com/scipy/scipy/runs/6427457397?check_suite_focus=true

[code]

[2022-05-13 19:05] tylerjereddy commented on #16174
@seberg knows about it--some discussion here: https://github.com/numpy/numpy/issues/21481

It is the first error in that issue

[2022-05-13 19:13] rgommers commented on #16174
Thanks, that is helpful. I'll open a PR with a fix anyway, so we have a green CI again.

[2022-05-13 19:43] WarrenWeckesser commented on #16171
@tirthasheshpatel, I probably wouldn't get to a PR right away, so if you have time now, go for it!

[2022-05-13 20:11] #16174 closed

[2022-05-13 21:27] #16031 closed

[2022-05-13 22:09] peterbell10 commented on #16023
If `(x-y)^2` is small, then `x^2+y^2 -2xy` is going to be equally small and suffer the exact same rounding error as a result of representing it as a float.

A C-contiguous array will have each point vector as a contiguous sub-array, which means perfectly linear data access.

[2022-05-13 23:22] #15740 closed

[2022-05-14 00:22] WarrenWeckesser commented on #15961
I think something is not working as expected in this block of code in [scipy/stats/_boost/include/Templated_PyUFunc.hpp](https://github.com/scipy/scipy/blob/a8b7c3216c0e8d6dc832d01d3e3dd92919279303/scipy/stats/_boost/include/Templated_PyUFunc.hpp):

https://github.com/scipy/scipy/blob/a8b7c3216c0e8d6dc832d01d3e3dd92919279303/scipy/stats/_boost/include/Templated_PyUFunc.hpp#L10-L27

This code is on

[2022-05-14 04:00] endolith opened #16179 "ENH: Add scipy.stats.rms()"
### Is your feature request related to a problem? Please describe.

Long ago there was a [`matplotlib.mlab.rms_flat()` ](https://matplotlib.org/2.2.4/_modules/matplotlib/mlab.html#rms_flat) that I used frequently to measure signals, but it no longer exists, so I copy and paste the function whenever needed:

[code]

But this is a mild pain, and there are similar functions like np.mean() that don't

[2022-05-14 08:39] Code4SAFrankie opened #16182 "BUG: dll loading failure with qhull"
### Describe your issue.

Getting this error when importing seaborn

`ImportError: DLL load failed while importing qhull: The specified module could not be found.`

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.2 1.22.3 sys.version_info(major=3, minor=9, micro=8, releaselevel='final', serial=0)

[2022-05-14 08:51] tupui commented on #16182
Hi @Code4SAFrankie, thank you for reporting. Please add a meaningful title for your issue.

How did you install SciPy in your environment?

[2022-05-14 09:17] tupui commented on #16179
Totally agree. Nothing is trivial and it's not because it can be written in a single line of code that everyone can write such a line. Such functions are really helpful and everyone uses them when they exists. E.g. in scikit-learn they have a lot of simple metrics.

[2022-05-14 09:33] #16171 closed

[2022-05-14 16:19] ilayn commented on #16023
Yes that's why precision loss is not the issue here. Hence blocking is not going to introduce any loss.

C arrays are row aligned. So if you are going through columns that's typical cache miss situation. C contiguousness requires you run over the rows, in Fortran it's columns. If you have vectors in a NumPy array chances are your point vectors are along columns but transposed at the input (which i

[2022-05-14 18:06] WarrenWeckesser commented on #15961
I found the problem; it is in this line:

https://github.com/scipy/scipy/blob/a8b7c3216c0e8d6dc832d01d3e3dd92919279303/scipy/stats/_boost/include/Templated_PyUFunc.hpp#L24

Some context:
* `func` is the function that does the calculation associated with the ufunc.  For the cases handled by this ufunc generation code, `func` will be a function that accepts a certain number of `RealType` inputs, and

[2022-05-14 22:54] endolith commented on #16179
OK I started it.

Hmm...  Going back to [2004](https://github.com/matplotlib/matplotlib/blob/e34a333d00814124d3e19d462b9d78ac35e7a49a/lib/matplotlib/mlab.py#L1225) the code always had `abs()` in it, which I assume is for complex numbers.

I think this would make it consistent with the [definition of power](https://web.stanford.edu/class/ee179/lectures/notes03.pdf#page=6), which RMS is proportional

[2022-05-15 00:30] Jarvis-X opened #16190 "BUG: scipy.spatial.ConvexHull does not allow deep-copy when setting incremental=True"
### Describe your issue.

Hi, Scipy team,

I got a problem when working with scipy.spatial.ConvexHull class. After creating an instance of ConvexHull object with flag `incremental=True`, trying to `copy.deepcopy` yields `TypeError: self._qh cannot be converted to a Python object for pickling`. The error does not appear when `incremental=False`. Minimal reproducing code is attached in the Reproduci

[2022-05-15 05:36] mkoeppe commented on #15203
Fixed in #15580, but there's no backport to the 1.8 series yet

[2022-05-15 06:14] tupui commented on #16179
@nschloe I think you play a lot with complex numbers. Can you help here?

[2022-05-15 14:19] #15742 closed

[2022-05-16 00:37] mdhaber opened #16191 "SciPy for Biomedicine"
This is a meta-issue recording action items from a review of biomedical articles that cite SciPy and the results of a survey sent to authors of over 50 of these papers.

- [ ] [Vaccine optimization for COVID-19: Who to vaccinate first?](https://www.science.org/doi/full/10.1126/sciadv.abf1374) used `optimize.minimize` to study how COVID vaccination priority should be assigned. The researchers repor

[2022-05-16 00:40] mdhaber commented on #16191
Even when I follow links to open issues against my fork of SciPy, they get opened against the main repo. Oh well.

[2022-05-16 14:15] #16143 closed

[2022-05-16 15:57] thibaut-kobold commented on #15961
Many thanks @WarrenWeckesser for your work on this issue.

Maybe I can also offer a little context for when this issue appeared:
- I was working with [Xarray](https://docs.xarray.dev/en/stable/), coupled with Dask for bigger than memory computation.
- As such, for memory efficiency, `float32` is often the format of choice, such as here: [Xarray / Dask example](https://examples.dask.org/xarray.html

[2022-05-16 16:29] #14043 closed

[2022-05-16 16:29] #16052 closed

[2022-05-16 17:09] endolith commented on #12456
https://github.com/numpy/numpy/issues/19341

[2022-05-16 17:13] #16159 closed

[2022-05-16 18:30] AngelikB opened #16192 "BUG: Scipy can't be downloaded on M1 2020"
### Describe your issue.

Hello everyone!

I don't use this platform very often and I'm trying to find a solution for a few errors if someone has any ideas, that would be super nice.
It seems spicy can't be downloaded here, I tried pip instal spicy and brew install spicy but none of these work.
(I'm on a M1 2020)
Have a good one!

### Reproducing Code Example

[code]

### Error message

[code]

##

[2022-05-16 22:56] mdhaber commented on #15906
Ok, sounds reasonable. @LeBarbouze would you like to submit a PR?

[2022-05-16 23:18] mdhaber commented on #15679
@nealmcb without activity or an email to the mailing list, I'll need to close this one. Feel free to open it again if you find that there is a lot of support (e.g. on the mailing list) for including this in SciPy. It's a good idea, but a separate library seems more appropriate unless this need is quite mainstream.

[2022-05-16 23:18] #15679 closed

[2022-05-16 23:25] mdhaber commented on #15677
@KOLANICH I'm sorry this idea didn't get much support here : / It's a very reasonable thing to ask for, but as it's -3 from maintainers and there is nobody to champion the issue (e.g. by sending an email to the mailing list), I'll need to close it. Have you considered creating a separate library with some of these ideas? Although they seem out of scope for the main library, they do seem useful!

[2022-05-16 23:25] #15677 closed

[2022-05-16 23:29] tupui commented on #16192
Hi @AngelikB, thank you for reporting. I will close this issue as it's been discussed already. Please look for similar issues in the tracker. You probably have macOS < 12 (BigSur) as we only provide wheels for Monterey on M1.

[2022-05-16 23:29] #16192 closed

[2022-05-16 23:35] mdhaber commented on #15618
@HDembinski I do think this could be in scope if it were added as a multivariate distribution. Does that sound reasonable? What would its name be, and what parameters would it have? (It wouldn't necessarily need any methods except for `rvs`, but in principle, other methods could be added.)

[2022-05-16 23:39] mdhaber commented on #14869
@prkhrv thanks for your patience. I don't this we could add this package directly if you've consulted R source code (as suggested in the package description), but adding the statistic is a reasonable idea.

If you can find examples of biomedical applications, I would be particularly interested, and might be able to help champion this.

[2022-05-16 23:42] mdhaber commented on #14806
These seem quite reasonable to add. PR welcome, I'd say.

[2022-05-16 23:46] mdhaber commented on #14646
Good idea, but closing because I just added some additional information to gh-14869 and they are essentially duplicates.
@lapplislazuli would you go hit the thumbs up button in the top post of gh-14869? The more support shown there, the more likely it is to happen! Thanks!

[2022-05-16 23:46] #14646 closed

[2022-05-16 23:47] maicontibola commented on #16169
Hello, this is my first contribution to the Scipy project. Could I submit the above suggestion?
"in the first column every data point is in the same cluster"

[2022-05-16 23:53] mdhaber commented on #14436
@jolespin the screenshot suggests that this is just a change of base (but i haven't looked closely). Can you clarify whether this can be accomplished by setting `base=n`?

[2022-05-17 01:02] mdhaber commented on #14286
Thanks for your patience @mbalbi.

From `help(mvn)`:
[code]

But I think this issue is more about greater accuracy of the multivariate normal CDF than `mvn` in particular. A proper implementation of `multivariate_normal.logcdf` would be a useful enhancement, so I've changed the title accordingly. Does that look appropriate?

[2022-05-17 01:19] rkern commented on #14286
The underlying algorithm only supports dimensionality up to 500. I think the implementation is supposed to explicitly return early with `INFORM=2` to indicate that, but nonetheless, the algorithm won't scale up that high. It does look like there have been some bugs fixed in the upstream package ([`MVNDST' here](http://www.math.wsu.edu/faculty/genz/software/software.html)) since we integrated it th

[2022-05-17 01:33] rkern commented on #14286
And I am not aware of any implementation of the log-CDF that would help here. Might try to search through the papers citing [the original](https://www.tandfonline.com/doi/abs/10.1080/10618600.1992.10477010), or if you find an implementation in some other system (R, Julia, MATLAB, whatever). I think it would be hard, though.

It looks like there are [approaches that exploit the banded structure of

[2022-05-17 01:48] mbalbi commented on #14286
Thanks for the comments and insight @rkern! I have talked to Prof. Genz, that developed the FORTRAN algorithm that mvnun picks up in the scipy build. He basically says that there is no mathematical reason for the cap of n=500, other than computational burden (keep in mind that the algorithm is from '92).

I have manually modified this limit on the FORTRAN file from the scipy source (mvndst.f) and

[2022-05-17 03:35] KOLANICH commented on #15677
Already have done it, but it is now in a dirty and unfinished state. Here it is: https://github.com/KOLANICH-libs/StatsUtils.py , `StatsUtils.dists.MultivariateGaussian:MultivariateGaussian.computeBounds`.

[2022-05-17 04:58] rkern commented on #14286
Updating to Prof. Genz's [`QSIMVNV`](http://www.math.wsu.edu/faculty/genz/software/matlab/qsimvnv.m) (or one of its variants) might be in order. The MATLAB is much shorter than the FORTRAN, so it's somewhat in range for a port by a dedicated individual. That would help us avoid the stateful FORTRAN-implemented PRNG that we can't control (#16142).

[2022-05-17 05:05] rkern commented on #16142
The author of `mvndst.f` has [newer methods implemented in MATLAB](http://www.math.wsu.edu/faculty/genz/software/software.html) (namely [QSIMVNV](http://www.math.wsu.edu/faculty/genz/software/matlab/qsimvnv.m)). They are QMC-based, so should be better quality. They still use a PRNG, but porting the MATLAB code will give us the opportunity to work with a `Generator` natively.

[2022-05-17 08:41] rebelot opened #16195 "BUG: stats.binned_statistic_dd binnumber is not usable"
### Describe your issue.

when using `binned_statistic_dd` one could be interested in getting the indexes/values of data points that fall in certain bins depending on the value of the computed statistic.

After computing the statistic, one could be tempted to use `np.nonzero((hist >= x) & (hist < y))` paired with `np.ravel_multi_index` or other indexer functions and think that the returned indices

[2022-05-17 12:20] jakevdp commented on #16195
Have you tried setting `expand_binnumbers=True`? This is False by default to keep the default representation more compact, but I think by setting it to `True` you'll get the behavior that you're looking for.

[2022-05-17 12:32] jakevdp commented on #16195
(Also xref #5449 where this was discussed previously)

[2022-05-17 15:51] mbalbi commented on #14286
A word from the maintainer of TruncatedNormal package on this.

<img width="551" alt="image" src="https://user-images.githubusercontent.com/30733001/168854520-ddd2ccfe-8fb5-4bc4-9644-ad693c581702.png">

[2022-05-17 16:27] melomcr opened #16196 "BUG: OptimizeResult from optimize.minimize_scalar changes 'x' type if convergence is found in first step."
### Describe your issue.

Executing an optimization of the same function through `optimize.minimize_scalar`, but with different bounds or tolerance values, is causing the type of the `x` attribute of the `OptimizeResult` object to change between executions.

In this example, the function returns after the first iteration. The `x` value is a scalar.

[code]

In this example, the function is called

[2022-05-17 17:23] adlerandy opened #16197 "BUG: find_peaks() fails if x.flags.writable = False"
### Describe your issue.

If the writable flag has been set to False on a np.array, then find_peaks() fails with a ValueError: buffer source array is read-only.

It seems that the View.MemoryView functions require writable arrays, but then why are they called "View"?

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.21.5 sys.versi

[2022-05-17 17:37] rkern commented on #16197
Indeed, we should use `const` to indicate that read-only arrays are permissible since the function doesn't actually write back into the input array. [This feature](https://cython.readthedocs.io/en/latest/src/userguide/memoryviews.html#read-only-views) isn't exactly _new_ to Cython, but I expect that it didn't exist at the time `_local_maxima_1d()` was first written.

[2022-05-17 18:24] rebelot commented on #16195
Expanded binnumbers make more sense, but

* you cannot reuse previous results
* checking which data where in some bin(s) is not straightforward with the expanded representation if the usecase is to generalize some calculations on M dimensions

Overall I think the documentation would need some adjustments and/or the returned values should be more "friendly" to reutilize

[2022-05-17 20:25] reihanehk opened #16199 "ENH: Which parameters of Welch do determine the length of the output? (python)"
### Is your feature request related to a problem? Please describe.

I am using Welch in python.
 Which parameter in Welch does define the length of the output array? Based on my trials, the output length is related to nperseg/2; but I cannot understand its reason and mathematics. And, I am not sure about the effect of other parameters on the output length.

Also, there is not enough explanation in

[2022-05-17 21:00] rgommers opened #16200 "Verify MKL works with Meson build, and document BLAS/LAPACK selection better"
After gh-16187 is complete, I think solid MKL support is a last blocker for shipping 1.9.0 with Meson. Building against MKL should work with `pkg-config`, however conda-forge `.pc` files are missing. And we'd like more robust support beyond `pkg-config`, in particular for MKL but also for other libraries. Relevant issues:
- https://github.com/mesonbuild/meson/issues/2835
- https://github.com/conda

[2022-05-17 21:02] rgommers commented on #16200
_Here is an overview of `pkg-config` support for MKL and other libraries in a few packaging systems:_

For conda-forge:

- package `openblas` installs: `<conda-root>/envs/<env-name>/lib/pkgconfig/openblas.pc`
- package `blis` installs: `<conda-root>/envs/<env-name>/share/pkgconfig/blis.pc`
- package `blas` (note, for Netlib BLAS only installable with `conda install "libblas=*=*netlib"`, see [Switc

[2022-05-17 22:06] tupui commented on #16199
Hi @reihanehk, thank you for reporting. I will close this issue as we don't have sufficient bandwidth to answer user questions. I invite you to ask your question on other forums such as StackOverflow.

[2022-05-17 22:06] #16199 closed

[2022-05-17 22:24] rkern commented on #16199
Recall that FFTs report both positive and negative frequency terms, but for real-valued signals, those contain the same information. Thus the periodogram only reports the positive-frequency half (plus the `f=0` term). The Welch periodogram is an average of several periodograms computed from FFTs that are `nperseg` in length, so it will be `nperseg//2 + 1` (the `+1` for the `f=0` term).

[2022-05-18 00:35] mdhaber commented on #16195
@rebelot Forgive me if you already know this, but I thought it was worth mentioning since I don't see it explicitly above.

It appears that you are not providing the `range` argument or specifying the bin edges, so all of your data is guaranteed to be within one of the automatically-determined bins (since they are defined by the data). But consider the case in which `range` or bin edges are specif

[2022-05-18 03:50] nbeaver opened #16203 "BUG: scipy.io.savemat discards nested names with a leading digit"
### Describe your issue.

Matlab/Octave require field names for structs constructed with dot notation to [begin with a letter](https://www.mathworks.com/help/matlab/ref/struct.html). However, structure arrays created with the `struct` function have no such restriction. For example:

    mystruct = struct('d', struct('1a', {1,2,3}))
    save -binary -v6 octave.mat mystruct

This can be loaded in Py

[2022-05-18 04:22] mdhaber commented on #14434
@pvanmulbregt would you be willing to take a look at this?

[2022-05-18 04:27] mdhaber commented on #13548
@darrencl I think more opinions here would help a decision to be made. Would you email the mailing list as described above (https://github.com/scipy/scipy/issues/13548#issuecomment-795631438)?

[2022-05-18 04:33] mdhaber commented on #13219
I've become more comfortable with deprecating inconsistent behavior over the past year, so I'll invite a few other opinions here. @tupui @tirthasheshpatel what do you think? I think now I'd be in favor of suggestion 2 but not 1.

[2022-05-18 04:49] HDembinski commented on #15618
The algorithm only makes sense for 2D matrices, since you have pairs of values that are independent and not tuples.

[2022-05-18 04:58] mdhaber commented on #15618
But each of the two dimensions can be of any size (in principle), right? Several of the multivariate distributions produce 2D random variates (e.g. [random_correlation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.random_correlation.html#scipy.stats.random_correlation)).

[2022-05-18 06:33] HZT3434 opened #16204 "BUG: scipy.stats.logistic.fit cannot fitting any parameters"
### Describe your issue.

When I call for logistic.fit(), it returns error say that there is a type error, during the optimzation it occurs None type value.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.22.3 sys.version_info(major=3, minor=10, micro=3, releaselevel='final', serial=0)

[2022-05-18 07:25] saroad2 opened #16205 "ENH: Support Random Unit Vector"
### Is your feature request related to a problem? Please describe.

### Proposed new feature or change:

Description
========

Often you want to randomize a "direction" that doesn't have "size". This can be useful when:
* You want to randomize the direction of an NPC walk in a 2D or 3D games, where its speed is a predefined constant.
* You're developing particles simulation with all particles movi

[2022-05-18 08:39] ilayn commented on #16205
Seems a bit too specific to be on its own as a function to be honest. The following is sufficient (similar to what you have instead you want a uniform distribution):

[code]

It gets even shorter if you don't mind using `np.random.rand(n)` directly. Hence I think this is a bearable burden for any use.

[2022-05-18 08:40] tupui commented on #16204
Hi @HZT3434, thank you for reporting. Can you list a complete reproducible example? What is `x`?

[2022-05-18 08:57] tirthasheshpatel commented on #15749
Reopening this since #16198 only addresses the sharpen the warning part of the issue. The deprecation still needs to be executed later.

[2022-05-18 09:01] HZT3434 commented on #16204
Hi. The data x is a numpy array. When I run my script on python 3.9 the program did not scream for the same error. It can be the python problem. Thanks for the quick respond.

Regards,
Huang

At 2022-05-18 16:40:17, "Pamphile Roy" ***@***.***> wrote:

Hi @HZT3434, thank you for reporting. Can you list a complete reproducible example? What is x?

—
Reply to this email directly, view it on GitHub, o

[2022-05-18 09:06] tupui commented on #16204
I cannot reproduce the issue on Python 3.10 with the latest released version nor the development version.

[code]

[2022-05-18 09:08] tupui commented on #16204
Can you give more details about `x`? The dtype, shape, range, etc. could help.

[2022-05-18 09:14] ilayn commented on #16205
I have quite some technical issues with that blogpost but regardless of the distribution which involves no additional code for changing it normal distribution, this is still a two-liner code that I would prefer burdening the user instead of maintaining within scipy or numpy.

[2022-05-18 09:19] saroad2 commented on #16205
I understand.

Thanks anyway

[2022-05-18 09:51] tupui commented on #13219
I would be in favour of uniformizing the API to have for all methods (1D, 2D, n-D) the same output structure. For the center, I am opposed either. In any case, the tricky part is that we had advertised a tuple and changing the number of elements will be an issue. Not the first discussion we have on the matter, so we could write a generic wrapper to raise a warning if unpacking with the incorrect n

[2022-05-18 10:36] rebelot commented on #16195
thanks for your reply.
My question is, what is the point of having the bins numbered this way if the two extra bins are never returned in `statistic`?
If a combination of edges or `range` makes some data fall outside the bin edges, they should not be assigned to any bin and I think its reasonable to assign bin number `nan` to outlier data.

[2022-05-18 13:04] #16164 closed

[2022-05-18 13:19] nbeaver commented on #16203
I just realized this is a duplicate: https://github.com/scipy/scipy/issues/5435

[2022-05-18 14:10] rkern commented on #16205
Uniformly-random vectors on the unit hypersphere is an important multivariate distribution. It's not _hard_ to implement oneself, _if_ one knows the necessary trick (and yes, the normal distribution _is_ necessary). If one doesn't know the appropriate trick, ad hoc implementations tend to fail in ways that are hard to diagnose in higher dimensions than 2.

[2022-05-18 14:33] rkern commented on #13219
The result class could implement `__len__()` and `__getitem__()` to emulate the legacy tuple items while still adding more additional attributes that are only accessible as attributes.

[code]

One other option for bin centers might be to add a utility function that converts bin edges to the `(centers, widths)` representation. After the discussion about bin centers on numpy/numpy#13194, it seems t

[2022-05-18 16:33] kloczek opened #16207 "BUG: sphinx fails on building documentation as man page"
### Describe your issue.

I'm trying to package your module as an rpm package. more than 5/9 of all my +930 packages with python modules provides documentation as man pages. Look like building such documentation fails with few call traces. In case of `scipy` I'm building that documetation as next step after `python3 -sBm build -w --no-isolation` so after that whole module with its DSOs is under bu

[2022-05-18 16:48] rossbar commented on #16207
This was fixed by #15443, looks like I should have raised it for backport in 1.8.1 - sorry for the oversight "/

[2022-05-18 17:01] kloczek commented on #16207
OK will try to test this. If it will be OK pelase let me close thi sticket 😋
Thx

[2022-05-18 17:02] ddeloss opened #16208 "Error in _contains_nan"
The current check for nans does not seem to work appropriately. This was raised to my attention by realizing that setting `nan_policy` in `winsorize` to `raise` did not have the intended effect. I would suggest updating the code to that shown in the image displayed below, or some similar method. As the `_contains_nan` function is not operating as I believe it is intended.

<img width="380" alt="im

[2022-05-18 17:24] ddeloss commented on #16208
I do not know if this is merely an issue with newer versions of Python/numpy, but my proposed fix should also work in older versions. I have also verified that the `nan` remains in the set, so that is not the issue.

[2022-05-18 17:50] #16054 closed

[2022-05-18 18:18] mgoldeli opened #16210 "ENH: Please make the "cutoff" variable in "scipy.sparse.linalg.svds" user-definable"
### Is your feature request related to a problem? Please describe.

Please add an option to "scipy.sparse.linalg.svds" to set the "cutoff" parameter to zero or please give the option not the use this cutting off option in svds function. This option is something we need for our python package "pyFBS". We are working on a new filter implementation based on truncated singular value decomposition, so

[2022-05-18 19:55] tupui commented on #16210
Hi @mgoldeli, thank you for reporting. I am not sure about adding this parameter since not all solvers are doing this cutoff. If you use `solver=propack`, you won't go into this logic.

[2022-05-18 22:06] ddeloss opened #16211 "BUG: Possible bug when using winsorize on pandas data instead of numpy data"
### Describe your issue.

When `scipy.stats.mstats.winsorize` is used with a `nan_policy` of `omit` on a numpy array it behaves as expected. However, when used on Pandas data such as a series, all NaNs are converted to the maximum possible value. I believe this may be a bug, but could possibly be an enhancement if pandas data is never meant to be used. An example can be seen in the image below:

!

[2022-05-18 22:22] #16208 closed

[2022-05-18 22:27] ddeloss commented on #16211
The code is also in there as the "reproducible code example."

[2022-05-18 22:28] mdhaber commented on #16211
<facepalm>

[2022-05-19 02:13] HZT3434 commented on #16204
Hi. I have checked the versions and here is the setting for a successful run of my script. I have attached my program.  Dtypes of x is np.float64, range of x is [-0.095893, 0.069124], shape(x) is (749999,).
Hope the info can be useful. Thank you!

Regards,
Huang

At 2022-05-18 17:08:32, "Pamphile Roy" ***@***.***> wrote:

Can you give more details about x? The dtype, shape, range, etc. could help.

[2022-05-19 02:41] HZT3434 commented on #16204
Thank you for the respond. Now I will work with the stable release for the project.

Regards,
Huang

At 2022-05-19 10:34:29, "Robert Kern" ***@***.***> wrote:

This looks like the problem with all-but-the-latest Cython, Python 3.10, and some kind of debugger or tracer being used (c.f. numpy/numpy#21519)

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this beca

[2022-05-19 02:45] HZT3434 commented on #16204
OK. Thanks!

Regards,
Huang

At 2022-05-19 10:40:12, "Robert Kern" ***@***.***> wrote:

Nothing to do but wait for the release cycles of numpy (1.22.4 should have the fix) and scipy (don't see anything about it in the 1.8.1 release notes) to churn through with the latest Cython being used. In the meantime, avoid using a debugger.

—
Reply to this email directly, view it on GitHub, or unsubscribe.

[2022-05-19 02:48] mdhaber commented on #16204
Does that mean we can close this?
@HZT3434 is your problem resolved when you are not using a debugger?

[2022-05-19 02:50] HZT3434 commented on #16204
Yes, please close it.

Regards,
Huang

---- Replied Message ----
| From | Matt ***@***.***> |
| Date | 05/19/2022 10:48 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [scipy/scipy] BUG: scipy.stats.logistic.fit cannot fitting any parameters (Issue #16204) |

Does that mean we can close this?
@HZT3434 is your problem resolved when you are not using a debugger?

—
Reply to

[2022-05-19 02:54] #16204 closed

[2022-05-19 02:58] isaacto opened #16215 "BUG: scipy.optimize.shgo does not work with jac=True"
### Describe your issue.

One way to speed up scipy.optimize.minimize is to compute the gradient when computing the function value.  Because most of the computation are shared, this nearly half the amount of time required.

Although shgo document this under the "options" parameter, it actually doesn't work: _shgo_lib/triangulation.py tries to compare the results when calling the function twice.  B

[2022-05-19 03:57] tirthasheshpatel commented on #13219
I think this would be better. We have been deprecating a lot lately :)

[2022-05-19 05:25] LeBarbouze commented on #15906
@mdhaber I'd be interested but I am not sure I will find time in the coming weeks. I will try my best to find a slot in the coming month or so.  It'd be a first time for me (looking now at https://scipy.github.io/devdocs/dev/hacking.html and https://scipy.github.io/devdocs/dev/dev_quickstart.html#dev-quickstart), I'll get back here if I need further guidance. Of course if someone else does it in t

[2022-05-19 08:04] tupui commented on #16215
Thank you for reporting @isaacto. I believe options will be fixed with #14013
cc @Stefan-Endres

[2022-05-19 09:18] ftrainotti commented on #16210
Hi guys,

Propack still seems to have some problems with Windows. Can you confirm that?
Using the cutoff threshold with the Arpack solver may cause some undesired removal of SVs (in many cases it starts cutting SVs of 5/6 orders lower than the maximum one). If I have some criteria to select a specific number of SVs, I should be able to retain them without encountering further constraints. The matl

[2022-05-19 09:20] tupui commented on #16210
Is there an issue open about the problems with Propack you are referring to @ftrainotti?

[2022-05-19 09:45] isaacto commented on #16215
That's great.  Didn't know how I miss the original report when scanning for similar bugs.  Anyway, feel free to close it as duplicate.

[2022-05-19 09:58] #16215 closed

[2022-05-19 10:43] mgoldeli commented on #16210
I am having an issue with "propack" solver. The error is as follows:
 _Fortran runtime error: Insufficient number of elements in TARRAY._

Apparently, there are still some issues with "propack" solver. I tried it out also with the lastest version of scipy, but I am not able to run the code or use "propack" solver option right now. I read that this option will be fully available in the next scipy v

[2022-05-19 10:46] tupui commented on #16210
To clarify, I am not opposed to adding this option if it does something for all solvers. What I want to say is, as it is if we were to add this parameter it could be confusing for users of Propack.

[2022-05-19 10:49] tupui commented on #16210
Did you set the env variable `USE_PROPACK=1`? Propack came with SciPy 1.8

[2022-05-19 11:30] ftrainotti commented on #16210
I tried the following on a windows pc with python 3.8.13 and scipy 1.8.1:

------------------------------------
import os
os.environ["USE_PROPACK"]='1'
"USE_PROPACK" in os.environ

import scipy.sparse.linalg as sp
import numpy as np
rng = np.random.rand(1000,1000)

u, s, vT = sp.svds(rng, k=3, solver='arpack')
u2, s2, v2T = sp.svds(rng, k=3, solver='propack')
--------------------------------------

[2022-05-19 12:02] SahebehDadboud opened #16216 "BUG: integer overflow with scipy.resample"
### Describe your issue.

I'm working with resampling for my signals and I also need datetime to get resampled which it's easy with the  `t` parameter.
but the problem is if the `Nx` and `num` are too large (it my case I want to resample the data by *10), we get the overflow problem. The datetime at sometime doesn't produce correct output. I could resolve the issue by writing my own `t` and adds i

[2022-05-19 12:05] tupui commented on #16210
This is probably what is referred to as issues on windows. Sorry I cannot help I don't have a windows. @mckib2 is this fixed on main?

[2022-05-19 12:39] ogauthe commented on #16210
This is a dupplicate of #12629
I hope #11829 will solve the problem.

[2022-05-19 12:41] tupui commented on #16210
Indeed, I will link it. Thank you!

[2022-05-19 12:41] #16210 closed

[2022-05-19 14:34] mgoldeli commented on #16210
Hey Olivier,

Thank you for your contribution here.

I went through your [#11829](https://github.com/scipy/scipy/pull/11829 ) and It seems that this issue is still open and still needs to be enhanced/fixed. You meant that this  [#11829](https://github.com/scipy/scipy/pull/11829 ) can solve my issue, but I am still confused about how did you deactivate this cutting off the smallest singular values

[2022-05-19 14:40] tupui commented on #16210
I suggest continuing the discussion in #12629. Maintainers of this part of SciPy will be notified as they contributed to the discussion.

[2022-05-19 14:46] tupui commented on #16216
Hi @SahebehDadboud, thank you for reporting. I can reproduce. Interesting issue indeed.

[2022-05-19 14:48] mgoldeli commented on #16210
@tupui Okay fine. I will continue on [#12629](https://github.com/scipy/scipy/issues/12629)

[2022-05-19 14:55] mgoldeli commented on #12629
Please add an option to "scipy.sparse.linalg.svds" to set the "cutoff" parameter to zero or please give the option not the use this cutting off option in svds function. This option is something we need for our python package "pyFBS". We are working on a new filter implementation based on truncated singular value decomposition, so svds. Since "scipy.sparse.linalg.svds" is a very strong tool for cal

[2022-05-19 15:02] mgoldeli commented on #12629
As I already explained in [#16210](https://github.com/scipy/scipy/issues/16210), I think it is necessary to have this **"cutoff = 0"** option (or a similar implementation) also **for the "arpack" algorithm**

We have already the matlab implementation of our new svds based filter. **In matlab with svds command**, we are able to **get all the singular values without cutting off the smallest singular

[2022-05-19 16:28] gregou2007 opened #16218 "Issue with scipy 1.5.4 // Python 3.6.9 on ubuntu while importing scipy.stats on flask"
Hello,

We have an issue in an flask application while importing scipy.stats on our application on an python 3.6.9 ubuntu apache2 environnement with scipy 1.5.4. The page we include scipy.stats using "from scipy.stats import norm" loops indefinitively, nothing on the error log....

The same exact code works on a test/dev machine with python 3.8 and scipy 1.8 // apache 2 on windows

Do you know fro

[2022-05-19 16:40] denis-bz commented on #12629
Hi @mgoldeli,
[scipy.sparse.linalg.svds](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.svds.html) has a `tol` parameter, default 0 -- is that what you're using ?
How do you check the accuracy of eigvals / eigvecs ?
(Bytheway, _svds.py does
[code]

[2022-05-19 16:49] lobpcg commented on #12629
Please have a look at https://github.com/scipy/scipy/pull/11829# that attempts to solve this issue and adds several new unit tests specifically for small singular values.

Just setting "cutoff = 0" does not pass these unit tests, so is not a proper fix for all cases, even if it works for some.

@mgoldeli I am looking at the MATLAB 2021b svds code now. They no longer use ARPACK in svds as far as I

[2022-05-19 19:21] tupui commented on #16182
I am afraid that we do not support these wheels. The only guarantee we provide is with wheels available on PyPi and conda-forge. Can you try these instead? In the meantime I will close this issue.

[2022-05-19 19:21] #16182 closed

[2022-05-19 19:48] WarrenWeckesser commented on #15961
Generating incorrect results with the common case of `float32` input is bad, so I have added this to the 1.9 milestone.  The fix in https://github.com/scipy/scipy/pull/16185 is actually pretty simple, so we should be able to get this issue wrapped up in time for the branching of 1.9 next week.

[2022-05-19 20:02] tupui commented on #16218
Hi @gregou2007, thanks for reporting. Since the issue does not appear on latest I will close this. I am sorry but we don't have the bandwidth to do user support. Please consider other forums such as StackOverflow.

[2022-05-19 20:02] #16218 closed

[2022-05-19 20:15] Code4SAFrankie commented on #16182
Installing recently released scipy and seaborn latest fixed it.

[2022-05-19 20:20] tupui commented on #16182
Glad to read 👍

[2022-05-20 02:19] mgoldeli commented on #12629
Thank you for the quick replies.

Okay. Apparently, making the cutoff parameter user-definable will cause another issues in the code. I can understand that.

@denis-bz I am using the tol = 0 all the time.

[2022-05-20 08:44] rgommers commented on #13846
This is now also regularly failing in the Azure CI job `prerelease_deps_coverage_64bit_blas` ([example log](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=18222&view=logs&j=7902a2c1-7b88-5b2d-6408-84b88759c642&t=5471a576-12f4-5533-4de4-506800a17112):

[code]

[2022-05-20 09:04] rgommers opened #16219 "`TestSobol.test_0dim` failure on 32-bit Linux job"
This has so far happened just once, on gh-16187 ([CI log](https://dev.azure.com/scipy-org/SciPy/_build/results?buildId=18222&view=logs&j=e3555eda-5afc-5d78-d2e9-cf9756f98375&t=220e105d-2d02-5073-9f3b-414490a3ddd5)). That was the first run of the 32-bit Linux CI on the "default to Meson" PR where all other tests passed. That PR does change the install method from `pip install . --no-build-isolation

[2022-05-20 09:04] rgommers commented on #16219
I will take this along in gh-16187 to make sure CI passes then.

[2022-05-20 09:28] denis-bz commented on #12629
`eigsh( XH_X, k=k, which="SM" ... )` is not a good approach for small singular values, because
1) they're squared, so σ < 1e-6  =>  σ² < 1e-12, down in the noise
2) see [finding-smallest-eigenvectors-of-large-sparse-matrix-over-100x-slower-in-scipy than Octave](https://stackoverflow.com/questions/59416098/finding-smallest-eigenvectors-of-large-sparse-matrix-over-100x-slower-in-scipy/60042695#60042

[2022-05-20 10:03] #15757 closed

[2022-05-20 11:08] #14121 closed

[2022-05-20 11:33] #15773 closed

[2022-05-20 12:35] #14035 closed

[2022-05-20 12:40] ev-br commented on #12480
@tvkalvas @tueda I'd be great if you could test-drive gh-16220, which implements a `partial_derivative` method  so that you construct it once and evaluate repeatedly.

[2022-05-20 12:52] rgommers commented on #15961
This makes sense. In addition, I think we may not want to support `float32` at all in `stats`, other than "cast to float64 at the start of the calculation, produce results, cast output back to float32". It's hard to assess accuracy loss for `float32` for stats algorithms, there's little value in this feature for users, and it's hard to write tests.

[2022-05-20 13:35] #15961 closed

[2022-05-20 13:50] rgommers commented on #13846
thanks!

[2022-05-20 14:03] shqcandy opened #16222 "BUG: take ~10X times from different docker parameter"
### Describe your issue.

i use same docker image run same code, and take 10X times
ENV-1 (11.643s) : docker run -itd --cpus 2 --name docker_cpu_2 \<docker-image\>
ENV-2 (1.124s) : docker run -itd --cpuset-cpus 10,11 --name docker_core_cpu_2 \<docker-image\>

i want know what happen behind it, and can't get any message from the web.

### Reproducing Code Example

[code]

### Error message

[code]

[2022-05-20 14:16] lobpcg commented on #12629
@denis-bz I am unsure about relevance of your link to finding the smallest eigenvalues?

[2022-05-20 14:16] shqcandy commented on #16222
SciPy/NumPy/Python version information
1.5.4 1.21.5 sys.version_info(major=3, minor=7, micro=0, releaselevel='final', serial=0)

[2022-05-20 14:24] ragibson commented on #16222
This code takes 1-4 milliseconds per loop iteration on my machine.

I think you're basically just benchmarking docker startup times, so this is unrelated to scipy.

[2022-05-20 15:20] mdhaber commented on #15961
What about when working with GPUs?

[2022-05-20 16:09] mgoldeli commented on #12629
@denis-bz Yes sure.

1) These are my **eigvals** in ths **svds function**:

![image](https://user-images.githubusercontent.com/33000961/169564842-80eb7509-b8e6-4b23-9a5d-82a8bea2ccfd.png)

2) Then my **cutoff value** is calculated as **4727.6**

![image](https://user-images.githubusercontent.com/33000961/169565233-64c02320-1631-473c-b859-a6f4045bd5d3.png)

3) Due to this cutoff feature, my **small

[2022-05-20 16:22] ilayn commented on #12629
Those tolerances are clearly bad and `pinv`, `pinvh` already steered away from these hardcoded values. So we need to fix them. There is no doubt about that. However, I think you would be better off by using the dense arithmetic anyways if you are looking for **all** singular values since it wouldn't make any sense to rely on those small values that are coming from sparse algorithms.

Cutoff value

[2022-05-20 17:15] rgommers commented on #14267
This broke again after the 1.8.1 release. It should finally be fixed for good by:
- gh-16229
- gh-16221 (same PR for 1.8.x branch, already deployed)
- https://github.com/scipy/docs.scipy.org/pull/64 (already deployed)

If anyone still sees something that's not in the correct place, please comment.

[2022-05-20 17:33] rgommers commented on #16222
Docker should have started by then, if you can run a Python script. My guess is that the `svd` call actually does take that much longer, because with `--cpus` vs. ``cpuset-cpus` there's a difference in how many CPUs appear to be available (one says `2`, one says `n-cores-in-machine`, and OpenBLAS suffers from oversubscription. To verify this, please try running both with `export OPENBLAS_NUM_THREA

[2022-05-20 17:38] rgommers commented on #16207
Thanks @rossbar, I've added the backport label to your PR.

We've been over this: https://github.com/numpy/numpy/issues/20229. We're not supporting `man pages`, and no we're not re-discussing it. Closing as invalid.

[2022-05-20 17:38] #16207 closed

[2022-05-20 17:43] rgommers commented on #16098
Thanks @kloczek. If you'd like to check for build warnings, please use the Meson build (see http://scipy.github.io/devdocs/dev/contributor/meson.html#meson) on `main`. We now have a CI job that passes with `--Werror` with GCC on Linux. So there shouldn't be warnings visible (Clang is more strict so does show a number of warnings - PRs welcome).

[2022-05-20 17:50] rgommers commented on #16098
It doesn't surprise me that LTO gives problems. It would be nice if it worked. If there are more specific issues that turn up in the Meson build, those could be tackled.

[2022-05-20 17:51] rgommers commented on #16222
I'll close this, because it's not something we can do anything about.

[2022-05-20 17:51] #16222 closed

[2022-05-20 17:54] #13846 closed

[2022-05-20 17:58] kloczek commented on #16098
Issue is that LTO warning have nothing to do with using pep517 or meson.

Those warnings are caused by mismatches between some routines declaration in .c files and what is declared as prototype in header file.

[2022-05-20 18:03] kloczek commented on #16207
Just checked my spec files
[code]
Issue is that only in case of `scipy` and `numpy` generate man pages is failing.

[2022-05-20 18:12] rgommers commented on #16098
It's mostly old Fortran code. Example:
[code]
It's pretty tedious (but not hard) to fix.

[2022-05-20 18:13] rgommers commented on #16098
I agree fixing this would be helpful; one of the warnings in C code for `scipy.signal` was tripping up Pyodide as well.

[2022-05-20 18:18] rgommers commented on #15961
That's not what I would expect. `float32` (or even `float16`) works well for deep learning because the nature of the application is such that you can get away with very low-precision results for individual function calls. Outside of deep learning that's much less likely to be true. And even in deep learning libraries you have functions that have internal accumulator dtypes with higher precision fo

[2022-05-20 18:36] tupui commented on #15928
I am +100 on this proposal. There are too many issues with the current infrastructure and it's very hard to maintain. Starting of with a clean slate will definitely be a good thing.

[2022-05-21 02:14] scratchmex commented on #11848
Probably worth adding an example with this on the documentation? It is not clear enough until you start searching. I ended up here because of https://stackoverflow.com/questions/61276749/lagrange-multipliers-with-scipy-optimize-linprog

[2022-05-21 03:57] Snape3058 opened #16231 "BUG: new reference is not decreased due to the `return NULL` statement in macro `import_array` (static analyzer reports)"
Due to the `return NULL` statement in macro `import_array` provided by NumPy, the following new references are leaked.

https://github.com/scipy/scipy/blob/d5e46add54425278eb7022e4d49f92e02b96ce8c/scipy/integrate/_odepackmodule.c#L830
https://github.com/scipy/scipy/blob/d5e46add54425278eb7022e4d49f92e02b96ce8c/scipy/integrate/_quadpackmodule.c#L34
https://github.com/scipy/scipy/blob/d5e46add544252

[2022-05-21 04:07] Snape3058 opened #16232 "BUG: new reference passed to non-stealing API (static analyzer report)"
1. New reference returned and assigned to `obj`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/sparse/linalg/_dsolve/_superlu_utils.c#L46

2. Assume `obj` is not NULL.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/sparse/linalg/_dsolve/_superlu_utils.c#L47

3. `obj` passed to [`PyDict_SetItemString`](https://docs.python.org/

[2022-05-21 04:18] Snape3058 opened #16233 "BUG: Memory leak in function `sf_error` due to new reference is not decreased (static analyzer report)"
1. Local variable `scipy_special` is declared and assigned to NULL.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/special/sf_error.c#L55

2. A new reference is returned and assigned to `scipy_special`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/special/sf_error.c#L93

3. Assume the `scipy_special` is not NULL.
https://git

[2022-05-21 04:29] Snape3058 opened #16234 "BUG: Memory leak in _superluobject.c when `ENUM_CHECK` is not used (static analyzer report)"
There are many cases in this file, we only show an example reported by our analyzer in function `trans_cvt`.

1. Call macro `ENUM_CHECK_INIT`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/sparse/linalg/_dsolve/_superluobject.c#L910

2. A new reference is returned and assigned to `tmpobj`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435

[2022-05-21 04:48] Snape3058 opened #16235 "BUG: Memory leak in function `Py_FindObjects` due to new reference is not decreased (static analyzer report)"
1. A new reference is returned and assigned to `tuple`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/ndimage/src/nd_image.c#L888

2. Assume `tuple` is not NULL.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/ndimage/src/nd_image.c#L889

3. Assume taking the true branch.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438

[2022-05-21 04:58] Snape3058 opened #16236 "BUG: Memory leak in function `py_filter2d` due to new reference is not decreased (static analyzer report)"
1. Declare local variable `item`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/ndimage/src/_ctest.c#L77

2. A new reference is returned and assigned to `item`.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d5880e3f4d435f248/scipy/ndimage/src/_ctest.c#L90

3. Assume `item` is not NULL.
https://github.com/scipy/scipy/blob/8627df31ab07d66b438c7e5d588

[2022-05-21 05:53] rgommers commented on #16231
Thanks for all the reports @Snape3058. What static analyzer are you running? And is this a regression, or is it the first time you ran your analysis?

[2022-05-21 05:58] rgommers commented on #16231
Regarding this particular report, I'm not sure that is easy to change - this is idiomatic use, as shown in for example https://numpy.org/devdocs/user/c-info.ufunc-tutorial.html#example-numpy-ufunc-for-one-dtype. This is during extension module initialization, so if that fails there are larger problems than a leaking reference.

[2022-05-21 09:48] yoav-palti opened #16237 "ENH: intFFT and fxpFFT"
### Is your feature request related to a problem? Please describe.

Usually when getting a signal from the sampler each sample has a fixed sample depth and hance it is very natural to represent it as int16 (or int8, depending on the sampler). scipy has already an implementation that use the fact that the signal can be real in order to boost computation speed.  I came across an article about intFFT

[2022-05-21 19:26] mckib2 commented on #16231
Is it possible to flip the order?  Quickly googling around I found [this guidance](https://pythonextensionpatterns.readthedocs.io/en/latest/cpp_and_numpy.html#initialising-numpy-in-a-cpython-module) proposing initializing numpy first and then only after that success is asserted creating the module:
[code]

Granted that is for `import_numpy()`, but I assume it should work for `import_array()` as we

[2022-05-21 20:59] mdickinson commented on #13399
[Apologies for the late comment; I just discovered this issue]

@WarrenWeckesser

There's an explicit statement in annex F: C99 §F.9.5.3 says:

And that's why I implemented it this way for Python's `math.lgamma`. (So Python's behaviour shouldn't be seen as providing an independent data point here: Python's choice was directly based on the C standard.)

@WarrenWeckesser

I agree that it's a little

[2022-05-22 04:11] Snape3058 commented on #16231
@rgommers

It is a new experimental checker for Clang Static Analyzer. And it is a part of my research that started in 2019 and has not been published yet.

The reports are from the first time I ran the analyzer on this project. Although these reports were legacy reports a couple of months ago, I have confirmed that such problems still exist in the latest version.

Since I also found similar bugs

[2022-05-22 07:23] SuiFeng2020 opened #16244 "ENH: I wonder if scipy can support spline interpolation in higher dimensions (i.e. 3D or 4D)"
### Is your feature request related to a problem? Please describe.

I wonder if scipy can support spline interpolation in higher dimensions (i.e. 3D or 4D).  I know that 2D spline interpolation is now supported in scipy.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-05-22 07:30] ev-br commented on #16244
Assuming you mean tensor product splines on (hyper)rectangular grids, `RegularGridInterpolator` has recently acquired "cubic" and "quintic" modes, see http://scipy.github.io/devdocs/reference/generated/scipy.interpolate.RegularGridInterpolator.html#scipy.interpolate.RegularGridInterpolator

This is very new will be available in scipy 1.9.0 when it's released. Until then it's only available in the

[2022-05-22 08:42] SuiFeng2020 commented on #16244
Exactly what I need, thanks for your reply! Best wish!

[2022-05-22 11:24] #14267 closed

[2022-05-22 11:26] rgommers commented on #14267
It seems we've finally gotten this fixed in the release scripts now. The stable intersphinx link that I'd expect project to use is:
[code]
This has always worked, with short hiccups after the 1.8.0 and 1.8.1 releases. It shouldn't be happening after the next release anymore.

[2022-05-22 11:35] pxcandeias opened #16246 "ENH: I am looking for a way to get the Bode (or freqresp) output from a multi-output LTI system (definied as a state space)"
### Is your feature request related to a problem? Please describe.

I am currently working with `scipy.signal.lti` to explore the state space formulation equivalent to the dynamic equilibrium equations of a simple 2DOF mechanical system. My use use case involves multiple outputs, that is to say that matrix C has several rows.

Although `StateSpace` accepts a C matrix that has more than one row, bo

[2022-05-22 12:02] ilayn commented on #16246
Hi @pxcandeias indeed scipy.signal lacks a lot of MIMO capabilities and to add these essential features we have to do a lot of work ahead of us. In the meantime you can consider using, [`python-control`](https://github.com/python-control/python-control) of which I am not sure if it handles MIMO systems or [`harold`](https://github.com/ilayn/harold) that I am 100% it handles MIMO systems because I

[2022-05-22 13:20] #15737 closed

[2022-05-22 15:28] h-vetinari commented on #15738
Ping @pv, if you could let us know about what the default for `atol` was intended to be...

[2022-05-22 15:58] lorentzenchr commented on #11204
@bnaul I though I let you know that you inspired me to write a blog post about the Marchenko-Pastur distribution where you are mentioned. I hope that's fine.
https://lorentzen.ch/index.php/2022/05/22/from-least-squares-benchmarks-to-the-marchenko-pastur-distribution/

[2022-05-22 16:21] lobpcg commented on #12629
@mgoldeli could you please run your code in https://github.com/scipy/scipy/pull/16240 to check if it fixes your problem?

[2022-05-22 17:21] ev-br commented on #16244
Closing as completed then.

[2022-05-22 17:21] #16244 closed

[2022-05-22 17:58] WarrenWeckesser commented on #13380
Bumping the milestone once more.

[2022-05-22 19:48] mattip commented on #15121
I have a smaller reproducer in https://gist.github.com/mattip/346234bc51a8a3afca10ea8929a53df0. The problem only happens when PyPy JIT kicks in: eventually the python callback in `dqegie` is called with `-1` as an argument instead of a valid value. I am trying to work out how that happens. I have ruled out FPU precision by [checking `_control87`](https://docs.microsoft.com/en-us/cpp/c-runtime-libr

[2022-05-22 19:51] chrisb83 commented on #15928
Thanks for writing this clear proposal. I will take a closer look at the issue 12133 to learn more about the background of this topic. Overall it makes a lot of sense to me.

At this point, I have just one comment:

Maybe `dlogpdf` (derivative of logpdf) could be considered, too: potentially it is useful to express `nllf` and I think some of UNU.RAN methods use it (I need to check in more detail).

[2022-05-22 20:01] WarrenWeckesser commented on #15121
The relevant loop begins at https://github.com/scipy/scipy/blob/62f75fa33f1a832043b53f0694693dee0fe9503a/scipy/integrate/quadpack/dqagie.f#L291 where the starting value of `last` is 2.  Further down, there is an explicit check for 2 in https://github.com/scipy/scipy/blob/62f75fa33f1a832043b53f0694693dee0fe9503a/scipy/integrate/quadpack/dqagie.f#L360 and the code at label 80 is where `small` is ini

[2022-05-22 21:27] j-bowhay commented on #15755
@h-vetinari what state is this in, appears #15929 has stalled?

[2022-05-22 22:20] josef-pkt commented on #15928
I jsut saw this

This will be difficult.
Many of the problems are orthogonal to class versus instance, e.g. vectorizing when support depends on parameters is never trivial.

Main design issue: stateless classes and instances versus (some) fixed parameters (fixed attributes of a class defined in `__init__`.
Both are convenient and very useful for different cases and distributions.
Allowing both in

[2022-05-23 01:37] #13912 closed

[2022-05-23 03:30] mattip commented on #15121
Thanks @WarrenWeckesser

[2022-05-23 06:51] FranzForstmayr commented on #15755
I'll try to fix the points from the review in #15929 today.

[2022-05-23 06:52] #2047 closed

[2022-05-23 06:52] #12480 closed

[2022-05-23 09:06] h-vetinari commented on #15121
Thanks for looking into this @mattip!

[2022-05-23 10:04] SuiFeng2020 opened #16250 "ENH: How to install Scipy1.90 developer version in windows environment？"
### Is your feature request related to a problem? Please describe.

How to install Scipy1.90 developer version in windows environment？ Do you have any reference tutorials, thanks a lot!

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-05-23 10:11] tupui commented on #15928
@josef-pkt to

One of the main point of this proposal is to remove the concept of frozen distributions. There would be only one way to play with distributions: which is using a class instance. (Or a factory, something else. We need to take some time to play with different APIs' architecture and investigate that with various distributions.) The current duality is too problematic/buggy and complicat

[2022-05-23 11:14] AtsushiSakai commented on #16250
Might this document help you?: [Building from source on Windows — SciPy v1\.8\.2\.dev0\+2333\.b76137f Manual](http://scipy.github.io/devdocs/building/windows.html#build-windows)

[2022-05-23 12:16] ash2703 commented on #14594
Thanks @LonglongaaaGo , it would have been impossible to find the fix otherwise
Is there any insight why this is causing issue on cluster?
It was working fine for me earlier but started freezing recently

[2022-05-23 12:31] #16250 closed

[2022-05-23 12:33] tupui commented on #16250
Hi @SuiFeng2020 thank you for reporting. I am closing the issue as we don't have the bandwidth to answer user questions. Usually it's better to ask questions on forums such as StackOverflow. If you have issues after reading the windows guide @AtsushiSakai linked, I would be happy to reopen this 😃

[2022-05-23 12:56] h-vetinari commented on #15749
Just noticed that #15083 introduced another deprecation for `NumericalInverseHermite` that doesn't have a timeline yet:
[code]

[2022-05-23 13:01] h-vetinari opened #16251 "DEP: Execute deprecation of scipy.linalg.blas.{clapack, flapack}"
Deprecated in #406 over 9 years ago

[2022-05-23 13:14] h-vetinari opened #16252 "DEP: add deprecation warnings to kwargs `turbo` / `eigvals` of `linalg.eigh`"
Deprecated in documentation only since https://github.com/scipy/scipy/pull/11304

CC @ilayn

[2022-05-23 13:22] h-vetinari opened #16253 "DEP: add deprecation warning for kwargs `nyq` / `Hz` in firwin*"
Deprecated in documentation only since #7814.

[2022-05-23 13:39] h-vetinari opened #16254 "DEP: add deprecation warning to `maxiter` kwarg in `_minimize_tnc`"
Deprecated in documentation only in https://github.com/scipy/scipy/pull/11526

Since this is happening in the private method `_minimize_tnc` (and the wrapper `fmin_tnc` doesn't seem to use `maxiter` anymore), it might be possible to remove this outright.

CC @AtsushiSakai

[2022-05-23 13:53] h-vetinari opened #16255 "DEP: add deprecation warning for `vertices` kwarg in qhull"
Deprecated in documentation only since https://github.com/scipy/scipy/pull/377, specifically https://github.com/scipy/scipy/commit/df5813b27bd6049a5b426dd1a1311f1d29892528.

[2022-05-23 14:06] h-vetinari opened #16256 "DEP: add deprecation warning for binom_test"
This was originally planned in https://github.com/scipy/scipy/pull/12603 already but was then weakened to a doc-only deprecation in https://github.com/scipy/scipy/commit/c88177cd5e43117628a440f33ccabc7efd35beac based on [feedback](https://github.com/scipy/scipy/pull/12323#issuecomment-662561285) by @rgommers:

I think by now, this could be reconsidered, as having duplicate methods is not ideal eit

[2022-05-24 07:00] tirthasheshpatel commented on #15928
I too am +1 for overhauling the frozen distribution infrastructure. To minimize breaking code, it would be good to keep all the distributions in the `stats` module as-is and declare them legacy.

@josef-pkt I think simply initializing a new class for different parameters to achieve the stateless class behavior isn't too bad. We can also add static methods in the new distribution classes that offer

[2022-05-24 07:15] wilrop opened #16260 "BUG: SHGO does not handle indexing in constraints correctly"
### Describe your issue.

I'm using SHGO to optimise a function, which has as a constraint that subsets of the solution array should equal a specific number. The global optimisation algorithm SHGO does not appear to handle indexing in the ``x`` variable correctly in constraints. In the code below, I show a small example where I want to maximise a product of four numbers bounded between zero and on

[2022-05-24 07:21] wilrop commented on #16260
I've now realised that it may not actually have anything to do with indexing at all. The following code example also gives the wrong outcome and is just a simple sum.

[code]

[2022-05-24 07:35] tupui commented on #16260
Thank you @wilrop. We will look into this after/during the rewrite.

[2022-05-24 11:03] tupui commented on #15928
Just to be clear. The goal is to start with a clean slate, meaning the API can break things. We should only consider adding things if they make sense in terms of architecture. Not to comply with old behaviours. I would not add any mechanism to have a stateless distribution.

[2022-05-24 11:52] tupui commented on #16254
Actually we cannot do this directly since we can call this private method using `minimize`. See the doc on main: https://scipy.github.io/devdocs/reference/optimize.minimize-tnc.html?highlight=tnc
We need to go through a deprecation cycle with warnings there.

[2022-05-24 11:57] tupui commented on #16254
Plus I don't get why we did this in the first place if we say in the doc of `minimize` that all methods should accept `maxiter`.

@andyfaff if the change is correct, maybe we should update the doc on `minimize`.

[2022-05-24 13:50] alec-flowers commented on #12997
Hi! I have another use case where this functionality would be appreciated.

[2022-05-24 14:18] h-vetinari commented on #15533
I think this might actually be showing up in the doctests... I had a failed CI run with
[code]

which happens in the same `bicgstab` method, and could be flaky based on whether the assigned agent supports AVX512 or not.

[2022-05-24 18:19] rishacha opened #16262 "BUG: Cannot compile for 3.11"
### Describe your issue.

**Version used**
[Uploading scipy-compile.log…]()
 : `Using cached scipy-1.6.1.tar.gz (27.3 MB)`

I've attached the log file and the suspected issue -

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

[2022-05-24 18:20] rishacha opened #16263 "BUG: `longintrepr.h` not found. Cannot compile for 3.11"
### Describe your issue.

**Version used** : `Using cached scipy-1.6.1.tar.gz (27.3 MB)`

I've attached the log file and the suspected issue - [scipy-compile.log](https://github.com/scipy/scipy/files/8765273/scipy-compile.log)

### Reproducing Code Example

[code]
Sys version:  sys.version_info(major=3, minor=11, micro=0, releaselevel='beta', serial=1)
[code]

### SciPy/NumPy/Python version inform

[2022-05-24 18:37] ev-br commented on #16262
Can you retry with a more recent version? I don't think 1.6.1 is really supported anymore.

[2022-05-24 18:57] rishacha commented on #16262
Command I used - `pip install --no-cache-dir --upgrade scipy` and my pip is the latest version (pip 22.1.1 from /home/rishacha/.local/lib/python3.11/site-packages/pip (python 3.11).

Can you help me solve this issue? I can't seem to find the latest scipy

[code]

[2022-05-24 19:22] ev-br commented on #16262
Your pip listing indeed has 1.6.1 as the last version, which is weird. At any rate this is not a scipy issue. Maybe try a different machine / different pip version.

[2022-05-24 21:25] Stefan-Endres commented on #16260
Thank you for opening this issue @wilrop.

I got a different (but still bugged) output running with the default settings in the latest version:
[code]
...produces:
[code]

The conclusion is that the constraints are not being ignored (and in particular `SLSQP` correctly handles them for them for most of the detected minimisers), the bug must be in the post processing steps with results not being ch

[2022-05-24 21:26] #13462 closed

[2022-05-24 21:34] #16254 closed

[2022-05-24 21:37] #16255 closed

[2022-05-24 22:03] tupui commented on #16262
Also you would need to compile manually. Installing SciPy from source from PyPi does not work.

I don't think there is any issues there since we have Python 3.11-beta in the CI. I will let you be the final judge and close @ev-br

[2022-05-24 22:04] andyfaff commented on #16262
Python3.11 is not yet released, only Beta versions, so there are no wheels available on PyPI. That is why pip starts off a build process. If you downgrade to Python 3.10 you'll have an easier time installing a pre-built wheel.

If you want to persist with 3.11 the error message you're seeing is because the longintrepr.h file has been moved, https://github.com/cython/cython/issues/4461https://githu

[2022-05-24 22:04] tupui commented on #16263
Hi @rishacha, I will close this in favour of your duplicate which already have comments.

#16262

[2022-05-24 22:04] #16263 closed

[2022-05-24 22:07] tupui commented on #15575
I think this is resolved no?

[2022-05-24 22:18] #15125 closed

[2022-05-25 00:40] maicontibola commented on #16170
This behavior probably occurs because of this piece of code in the [_odepack_py.py](https://github.com/scipy/scipy/blob/v1.8.1/scipy/integrate/_odepack_py.py#L239) file:
![image](https://user-images.githubusercontent.com/100963404/170153212-512cbd64-09de-4f5d-a912-6cc622e52e30.png)

I found in the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.solve_ivp.html#s

[2022-05-25 03:33] #11828 closed

[2022-05-25 03:33] #14162 closed

[2022-05-25 03:48] #6006 closed

[2022-05-25 05:20] NeilGirdhar commented on #6006
@mdhaber Wooohoo!  Thanks for fixing this.  Does your pull request work for this https://github.com/scipy/scipy/issues/6006#issuecomment-202158618?

[2022-05-25 06:04] h-vetinari commented on #15749
Sharpened that deprecation in #16257 to mention removal in Scipy 1.10.

[2022-05-25 06:06] tirthasheshpatel commented on #15749
Thanks @h-vetinari

[2022-05-25 06:07] h-vetinari opened #16269 "DEP: remove `maxiter` kwarg in `_minimize_tnc`"
Follow-up to #16254 / https://github.com/scipy/scipy/pull/16261

[2022-05-25 06:09] h-vetinari opened #16270 "DEP: remove `vertices` kwarg in qhull"
Follow-up to #16255 / #16258

[2022-05-25 06:14] h-vetinari opened #16271 "DEP: remove `scipy.spatial.distance.kulsinski`"
Follow-up to #15125 / #16265

[2022-05-25 08:22] tirthasheshpatel commented on #6006
I think gh-7689 is clearly a bug and deprecation should not be necessary in theory. Although, it also has been the behavior of many methods of several multivariate distributions for a long time so there might be genuine concerns of backward-compatibility.

@mdhaber @tupui @Kai-Striega @chrisb83 Should we consider this a bug and fix it without maintaining back-compat or should we first deprecate an

[2022-05-25 09:45] #12456 closed

[2022-05-25 10:19] winash12 opened #16272 "BUG: unclear error for invalid bracketing"
### Describe your issue.

 I have enclosed a minimum reproducible example with data  and I am trying to use two methods in the scipy optimize package - https://docs.scipy.org/doc/scipy/reference/optimize.html

One is minimize_scalar and the other is Brent's method. But both the outputs have large differences. Can anybody explain why ?

Also I get a runtime error while running Brent-

test.py:29: R

[2022-05-25 10:59] tupui commented on #16272
Hi @winash12, thank you for reporting. This looks like a user related question to me.

The warning is just because `a` is getting some values such as 0 during the optimization which then is troubling for the power.

For the bracketing the message (and doc) is not clear and could be improved. It's not only the values of `x` which should be monotone but also `f(x)`. See in the code

[code]

The mess

[2022-05-25 11:01] tupui commented on #16272
The title of your issue is misleading, I don't know what you mean by large difference between the algorithms. I do see an issue with our error messaging and you could rename your issue accordingly.

[2022-05-25 11:07] winash12 commented on #16272
@tupui. I agree there are several issues.

If I remove the second number in the bracket the code works fine but the outputs between minimum_scalar and brent are very different.

`dum = brent(func,brack=(-1,1),tol=3.0e-8)` - This code works with no issues.
If I keep it this way
`dum = brent(func,brack=(-1,0,1),tol=3.0e-8)`
`
test.py:17: RuntimeWarning: invalid value encountered in power
  ls = np.s

[2022-05-25 11:11] winash12 commented on #16272
With Brent I get -1.9999 and minimize_scalar I get -0.471

[2022-05-25 11:13] tupui commented on #16272
Yes, this is just because `brack` is not equivalent to `bounds` at all. In `minimize_scalar` you are forcing to stay within [0, 1] while with `brent` it's not bounded.

[2022-05-25 11:15] tupui commented on #16272
See the documentation of `bracket` https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.bracket.html

[2022-05-25 11:16] rishacha commented on #16263
Yes, makes sense. I just changed the title. Sorry if it created a duplicate

[2022-05-25 11:18] winash12 commented on #16272
Ok thanks. If I were to rephrase your point you are saying the output of Brent and Minimize_scalar will be different because it is not one is bounded and the other one is not bounded. Am I correct ?

So then that leaves me with only 1 error. The value error issue. How do iI fix  that ?

[2022-05-25 11:21] tupui commented on #16272
Note that this is not a user forum. As I said above this is related to what's said in the documentation of `bracket`

[code]

To this issue, I renamed it as there is something we should do regarding the error message about being able to bracket or not.

[2022-05-25 11:22] winash12 commented on #16272
I understand. I asked this on the scipy mailing list and got no response and I had to ask here.

[2022-05-25 11:23] tupui commented on #16272
The user mailing list is not very followed. StackOverflow is more appropriate nowadays.

[2022-05-25 11:24] tupui commented on #16272
No, as I said there are improvements to do on the error message.

[2022-05-25 11:24] winash12 commented on #16272
Ok great ! Glad I got to do something useful.

[2022-05-25 11:25] tupui commented on #16272
Yes, thank you 😃 And this is a fairly simple change if you want to try a PR.

[2022-05-25 12:03] rishacha commented on #16262
@andyfaff -  Installed Cython from source - No change
@tupui - Tried installing scipy from source and get this error - `FileNotFoundError: [Errno 2] No such file or directory: '/media/rishacha/DATA/code/open_sauce/scipy-main/scipy/_lib/highs/CMakeLists.txt'`

[2022-05-25 12:47] tupui commented on #16262
You have to follow our guidelines to compile SciPy from source otherwise it will not work https://docs.scipy.org/doc/scipy/dev/contributor/contributor_toc.html#development-environment

SciPy wheels for Python 3.11 will only be available on PyPi after Python 3.11 releases. Not before, and it will certainly take up to a couple of month to make it happen.

[2022-05-25 12:49] tupui commented on #16262
On the submodule init, seems like it is trying to get the `master` branch which does not exist and got renamed to `main` on all the org repository including boost.

[2022-05-25 13:11] mdhaber commented on #6006
I had in mind to propose just fixing it to the mailing list.
The concern about resolving it in a backward compatible way is likely why the bug has persisted despite being reported five years ago. Probably better to just go for it and ask users to add `np.squeeze` to the output if they need it to work how it used to.

But it would probably be better if the `size` bug were fixed in this new distribu

[2022-05-25 13:14] rishacha commented on #16262
Do I put in a fix for this?

[2022-05-25 13:16] tupui commented on #16262
I do not think there are any issues to fix. What do you mean concretely?

[2022-05-25 13:22] tupui commented on #16262
Which instruction did you follow? This is really not clear.

[2022-05-25 13:46] rishacha commented on #16262
If I follow the second last point here, I get the same error.

**I don't want to go the conda route**. Is there no guide for normal python-based compilation?

![image](https://user-images.githubusercontent.com/30197357/170275003-6e040e68-a777-4b67-81b0-a9461fbf6e82.png)

I followed the first step -
![image](https://user-images.githubusercontent.com/30197357/170275602-f20ec9e7-c0aa-4ee0-b85b-aaa29c

[2022-05-25 14:45] rishacha commented on #16262
Yes, I did everything from scratch, including cloning SciPy.

I will however, give it another shot with a totally new docker image (just to be sure it's not my machine causing issues).

I tried using conda too. Still not able to build the package.

[code]

[2022-05-25 14:50] josef-pkt commented on #15928
Instantiating a new class for different parameters sounds like a large overhead.
What's the overhead of creating  a new instance each time when I simply want to call norm.pdf(loc, scale), or calling logpdf inside fit?

On the other hand, there are some distributions that would benefit from precomputing some constants for method calls with the same distribution parameters.

(In statsmodels we use t

[2022-05-25 15:18] igrega348 opened #16275 "Documentation for scipy.spatial.transform.Rotation.from_euler"
I believe there is a typo in the documentation at https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.transform.Rotation.from_euler.html

Description of parameter seq says:
    "Up to 3 characters belonging to the set {‘X’, ‘Y’, ‘Z’} for **_intrinsic_** rotations, or {‘x’, ‘y’, ‘z’} for **_extrinsic_** rotations."
Whereas it should say:
    "Up to 3 characters belonging to the set {

[2022-05-25 15:38] WarrenWeckesser commented on #16085
The occasional failure should be fixed by https://github.com/scipy/scipy/pull/16276

[2022-05-25 16:03] rkern commented on #16275
The docstring matches the [code](https://github.com/scipy/scipy/blob/main/scipy/spatial/transform/_rotation.pyx#L987-L988). AFAICT, this also follows the [convention used on Wikipedia](https://en.wikipedia.org/wiki/Euler_angles#Conventions_by_intrinsic_rotations), which is likely not universal.

Is there an observation that led you to believe there is an error?

[2022-05-25 16:47] josef-pkt commented on #15928
I will see it when you have a prototype

tupui didn't like it when I moved most parameters to the methods in copulas so we can use it as a semi-frozen or unfrozen distribution. But that looks the better design to me for building models on top of the distributions.

In statsmodels, all (almost all) parameters that are estimated in models are arguments in model methods. In some cases it gets messy w

[2022-05-25 18:33] WarrenWeckesser commented on #15533
@h-vetinari, that sporadic doctest failure should be fixed by https://github.com/scipy/scipy/pull/16276

[2022-05-25 18:39] NeilGirdhar commented on #6006
@mdhaber Would it be possible to make `multivariate_beta` vectorized like all of the scalar distributions?

[2022-05-25 19:06] mdhaber commented on #6006
I agreed above that we should correct `rvs` at the same time, although that will complicate [this](https://github.com/scipy/scipy/pull/16042#issuecomment-1137227051) further : /

Adding vectorization is something that has been requested for many multivariate distributions, and it is an enhancement that can be added in a backward-compatible way at any time, so it's orthogonal to adding `multivariat

[2022-05-25 20:22] Chinwendu20 commented on #16272
I would like to try a PR, what should the error message be?

[2022-05-25 20:28] tupui commented on #16272
Feel free to make propositions. We have 2 checks, the 2 messages should be different. One saying something like the values should respect a<b<c and the other saying f(xa) > f(xb) < f(xc)

[2022-05-25 20:47] HLorzel opened #16280 "linalg.solve_triangular doesn't scale well in parallel for scipy>1.4.1"
For very specific uses of solve_triangular, the parallelization performance seems to degrade after 1.4.1.  Here is an short example:

[code]

When run on scipy=1.4.1, the results scale well:
[code]

On scipy=1.5, the results do not:
[code]

More complicated examples seem like they do not scale at all.

Any thoughts on this?

Thank you much.

[2022-05-25 21:15] h-vetinari commented on #15533
Ah, thanks a lot for tracking that down @WarrenWeckesser! Guess I was just fooled by seeing the failure affect the same exact function.

[2022-05-25 21:50] tupui commented on #16280
Hi @HLorzel thank you for reporting. Can you provide a bit more context? Did you use the exact same environment for the test and just changed the SciPy version? Are you using conda?

[2022-05-25 23:47] NeilGirdhar commented on #6006
Yes, you're right.

The distribution parameter `alpha` itself should be able to be N-dimensional.  For example, if it has shape `(5,3 7)`, that should represent a 5 by 3 matrix of Dirichlet distributions, each of which has 7 parameters.  This is analogous to vectorization of scalar distributions.

[2022-05-25 23:52] HLorzel commented on #16280
Thanks Tupui.  Yeah, I did.  I actually ran it inside of a docker container with the only change being in the requirements file, changing scipy==1.4.1 to scipy>1.4.1.  The results are the same without the docker container, if you just change the installed version of scipy on your system.  No conda for this one.

[2022-05-26 00:32] NeilGirdhar opened #16281 "ENH: Vectorize multivariate distributions"
It would be great if all distributions in Scipy were vectorized.

For example, the parameter of a Dirichlet distribution `alpha` should support being multi-dimensional.  If it has shape `(5,3 7)`, that should represent a 5 by 3 matrix of Dirichlet distributions, each of which has 7 parameters.  This is analogous to vectorization of scalar distributions.  For example, if the mean of a normal distri

[2022-05-26 00:38] mdhaber commented on #6006
Yes, I see. This is the same sort of "vectorization" requested in gh-14958, gh-15627, gh-13450, gh-11422, right?

Would a concise generalization be "Vectorize multivariate distributions w.r.t. shape parameters?"?

[2022-05-26 00:44] NeilGirdhar commented on #6006
I guess you mean the shapes of the parameters?  In that case, yes.  (_Shape parameters_ are a technical term in statistics.)

[2022-05-26 00:45] #16281 closed

[2022-05-26 01:45] NeilGirdhar commented on #6006
It is.

I think all of the parameters should have the same shape prefix.  Scalar parameters would have no suffix, vector parameters would have one dimension of suffix, square-matrix parameters would have two dimensions of suffix, etc.

[2022-05-26 02:36] mdhaber commented on #6006
Yup.

[2022-05-26 02:46] Snape3058 commented on #16233
Thank you for the test case to trigger this defect.

[2022-05-26 08:05] tupui commented on #16280
And what version of Python are you using? Because 1.4 is old and not distributed on Python >3.8.

Also, since your benchmark does not isolate the SciPy function it will be harder to tell if there is a SciPy regression or if it can be NumPy.

[2022-05-26 08:51] #16233 closed

[2022-05-26 08:56] rgommers commented on #16262
Why this picked up scipy 1.6.1 at first: because that was the last version which did not have an upper bound on supported Python versions.

Why the `FileNotFoundError`: because you need to run `git submodule update --init` after cloning the SciPy repo. Then things will work on Python 3.11-dev with current `main` branch.

This is not a bug, so I'll close the issue. Please feel free to continue comm

[2022-05-26 08:56] #16262 closed

[2022-05-26 09:01] rgommers commented on #16231
Thanks for the context @Snape3058. Good luck with publishing and upstreaming into Clang.

Yes I agree, that should work.

[2022-05-26 12:21] effigies opened #16285 "BUG(ish): NetCDF docs do not demonstrate mmap"
### Describe your issue.

The docs in https://docs.scipy.org/doc/scipy/reference/generated/scipy.io.netcdf_file.html used to say:

https://github.com/scipy/scipy/blob/44e31b1eb202ef91caad059952ba268d2610a60b/scipy/io/netcdf.py#L208-L215

Now they say:

https://github.com/scipy/scipy/blob/4cf21e753cf937d1c6c2d2a0e372fbc1dbbeea81/scipy/io/_netcdf.py#L208-L213

We've lost the point that the surroundi

[2022-05-26 12:52] AtsushiSakai commented on #16269
Let's remove `maxiter` option from the root `minimize` doc based on the [discussion](https://github.com/scipy/scipy/pull/16274#issuecomment-1138459769).
https://github.com/scipy/scipy/blob/cef817269ea1e1a3e6b27024f08e822073f6bd46/scipy/optimize/_minimize.py#L184-L186

[2022-05-26 13:39] carlkl opened #16286 "ENH: Poll: availability for 32bit Windows scipy binaries in future?"
### Is your feature request related to a problem? Please describe.

Right now Windows 32-bit scipy builds are available for python versions up to 3.9, but not for python-3.10. See the discussion in:
https://mail.python.org/archives/list/scipy-user@python.org/thread/FVBL6G24VXC5D75K3EXQF772OJAF4IGW/  and
https://mail.python.org/archives/list/scipy-dev@python.org/thread/6HJSYSXOSHIGUO5IAZIMRGKJN4JYA

[2022-05-26 13:49] HLorzel commented on #16280
It is python 3.8.  I've been having to use scipy 1.4 to keep my run times reasonable.  Here is the dockerfile I used to reproduce this example:

[code]

And the requirements file:
[code]
vs
[code]

And the docker run command:
[code]

[2022-05-26 14:41] tupui commented on #16280
@ilayn would you know if there are changes we made that could explain this?

[2022-05-26 14:44] tupui commented on #16286
Hi @carlkl, thank you for continuing this discussion. What is still missing is an explanation of the need from a user perspective. On the mailing list I read

Which to me does not answer the question. What is the need for 32 bits? What is the application that needs it, etc.

[2022-05-26 14:58] rkern commented on #16286
Excel is the big one.

[2022-05-26 16:38] nkaretnikov commented on #3691
fixed in https://github.com/scipy/scipy/pull/16288, lmk what you think

[2022-05-26 19:54] HLorzel commented on #16280
If it's not Scipy or linalg, would you have any suggestions on what to check?  For solve_triangular the only difference between the 2 runs that I'm testing is the SciPy version.

[2022-05-26 20:39] carlkl commented on #16286
@tupui, this poll is targeting possible users for win32 32-bit wheels.
I hope to get a better feel for whether 32-bit Windows is still a thing or not.

[2022-05-26 20:52] carlkl commented on #16286
Wild guess: accessing hardware still may need 32bit binaries.

[2022-05-26 21:36] rkern commented on #16286
Proprietary COM DLLs (which frequently are for driving hardware).

[2022-05-27 07:05] rishacha commented on #16262
@rgommers  and @tupui - I got it to work on docker and can finally confirm it's **not a bug** -
[code]

Build output - `Successfully installed scipy-1.9.0.dev0+2157.26eb830`

I haven't tried for `python3.11`, but I'm guessing it will work as expected.

Thank you for all your support and patience @rgommers @tupui @andyfaff @ev-br

[2022-05-27 07:41] rgommers commented on #16262
Thanks for confirming @rishacha

[2022-05-27 13:35] carlkl commented on #16286
related issue: https://github.com/scipy/scipy/issues/15836

[2022-05-27 14:11] josef-pkt commented on #15928
just one more usecase that I remembered

finite difference derivative approximations need to compute the logpdf at different distribution parameters in one function.
extreme case:
A model in statsmodels that uses directly the scipy distribution for logpdf (in most cases we have our own functions for that, but not for all)
Uing a newton optimizer, requires logpdf and first and second derivatives (s

[2022-05-27 14:21] drammock commented on #16191
+1, thanks for prioritizing downstream wishes and pain points!  These changes would be great to see.

[2022-05-27 14:39] tupui commented on #15928
Following your example. You could write a small wrapper that would re-use a given class instance and just vary attributes (shape parameters). It might even be faster than instantiating a frozen distribution every time you want to update some parameters.

I don't see any issues there.

What I did not like at the time was the use of `*args, **kwargs` which IMO is not a good design as it prevents eas

[2022-05-27 14:51] josef-pkt commented on #15928
But that's not needed right now because the scipy.stats distributions have stateless methods, i.e. we don't need to create a new instance when changing parameters, we always use the same instance.

If we loose that, then we cannot use any scipy distribution without fully wrapping it for the estimation models, and carry around our own case specific instances.
And users that want to use our GenericL

[2022-05-27 15:04] tupui commented on #15928
I don't believe that having to modify the shape parameters of a distribution is the common use of distributions. I am not saying this is not useful, but that it does not represent the majority of usages. I do not think we should maintain such mechanism as it's quite straightforward to do on user/downstream side.

[code]

[2022-05-27 15:29] josef-pkt commented on #15928
dist.pdf(x)

If you allow that, then you don't gain anything at all in the current implementation.
If it is allowed, then the distributions still need to be stateless except for the distribution args, i.e. no precomputed attribures, or you have to wip and update them each time.

For users, this is pain without gain.

Shape parameters, but also loc and scale.
It's one of the main usecases in statsm

[2022-05-27 16:08] cjtosh opened #16291 "BUG: lambertw returns nan's on small values"
### Describe your issue.

For very small values (i.e. between 1e-323 and 1e-316), scipy.special.lambertw returns nans on the default branch (k=0) with the default tolerance (tol=1e-8).

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.0 1.21.5 sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

[2022-05-27 16:33] tupui commented on #16291
Hi @cjtosh, thank you for reporting. Isn't this past float precision?

[2022-05-28 04:22] #16219 closed

[2022-05-28 04:24] deadb0d4 commented on #16256
Hey! Can I work on this issue as my first time here? Could you please provide a good reference PR/code to start with?

[2022-05-28 06:41] rgommers commented on #13615
We have now switched to using Meson by default by using the `meson-python` build hook in `pyproject.toml` (see gh-16187). So it's time to close this issue. I will open a new one with follow-up tasks.

Thanks everyone who pitched in!

[2022-05-28 06:41] #13615 closed

[2022-05-28 07:29] rgommers commented on #15836
Also to point out where you can find 32-bit Windows binaries:
- https://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy has wheels
- The Anaconda distribution has a 32-bit flavor: https://www.anaconda.com/products/distribution

[2022-05-28 08:56] roryyorke commented on #16246
python-control can compute MIMO frequency responses, but we haven't yet implemented MIMO Bode plots.

[2022-05-28 10:09] david-cortes opened #16292 "BUG: compilation error: no matching constructor for initialization of 'typename str::reverse_iterator'"
### Describe your issue.

I'm getting a compilation error when trying to install scipy version 1.8.1 from pypi in a freebsd system with clang 13.0. I'm not sure if the issue is with scipy or with pythran. Below is the compiler trace.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.1

[2022-05-28 10:42] rgommers opened #16293 "Tracking issue for further build system improvements"
After switching to Meson by default in gh-16187 and closing the RFC for that switch in gh-13615, here is a summary of next steps to improve our build system support. Roughly in order of priority:

- [ ] Improved BLAS/LAPACK detection/support (it works now, but only using `pkg-config`): https://github.com/mesonbuild/meson/issues/2835
- [ ] Support editable installs (in progress): https://github.com

[2022-05-28 11:16] rgommers commented on #14541
Actually we stuck with numpy 1.18.5 for the 1.9.0 release, so bumping the milestone to `1.10.0`.

[2022-05-28 15:44] #16231 closed

[2022-05-28 15:56] rgommers commented on #15996
With `gnu_symbol_visibility: 'hidden'`, which will arrive in Meson 0.63.0, more symbols indeed get hidden - although `f2py` is still a bit leaky. Currently:
[code]

With `gnu_symbol_visibility: 'hidden'`:
[code]

Cython also isn't always nicely clean. E.g. for `_qmc_cy` (both with and without `gnu_symbol_visibility: 'hidden'`):
[code]

This seems to happen when using `cdef extern from`. For this m

[2022-05-28 16:15] h-vetinari commented on #16256
Hey @deadb0d4, great to hear!

You can take #16258 as an example, or any of the PRs that closed an issue in the section "Old deprecation, warning sharpened for removal in 1.10/1.11" of the deprecation tracker.

[2022-05-28 16:23] #14716 closed

[2022-05-28 16:32] rgommers commented on #15575
These are all gone it looks like. We have four new failures, due to the yet more warnings from Boost functions:
[code]
Warnings that are relevant:
[code]

These won't show up in a release though, so let me close this.

[2022-05-28 16:32] #15575 closed

[2022-05-28 16:39] #2868 closed

[2022-05-28 16:58] tylerjereddy opened #16297 "DOC: minor release procedure adjustment"
Maybe not worth its own PR until we've accumulated any other corrections, but for `doc/source/dev/core-dev/releasing.rst.inc` we have:

``version:`` in the former, and ``ISRELEASED = True`` in the latter) and commit
it with a message like ``REL: set version to <version-number>``.  Don't push
this commit to the SciPy repo yet.

the version numbers and `ISRELEASED` stuff are now in `tools/version_ut

[2022-05-28 19:07] tylerjereddy commented on #16293
(maybe build system, but not meson-specific, not sure) For non-editable `python -m pip install .` followed by `make html-scipyorg` I see the error below the fold working in a Python 3.10 virtualenv on Ubuntu. I'll try the old `python setup.py install` to see if that plays nicer with `make html-scipyorg` (this is just for local iteration/checking for relnotes errors).

<details>

[code]
<details>

[2022-05-28 19:39] rgommers commented on #16293
Can you open as a new issue instead @tylerjereddy? I think I know what it is, and it needs a fix in `meson-python`; shouldn't be hard, but probably a release blocker for RC1.

[2022-05-28 19:46] tylerjereddy opened #16300 "BLD: pip install build issue with meson in Ubuntu virtualenv"
For non-editable `python -m pip install .` followed by `make html-scipyorg` I see the error below the fold working in a Python 3.10 virtualenv on Ubuntu. I can use the old `python setup.py install` for iterating locally for now, but @rgommers suggested we should fix before the `1.9.0rc1`.

<details>

[code]
<details>

[2022-05-28 19:47] tylerjereddy commented on #16293
Okie, I opened gh-16300 for that. In the meanwhile, I can iterate on release notes just fine with the old setuptools install.

[2022-05-28 19:56] rgommers commented on #16300
Just to make sure, if instead of `make html-scipyorg` you run `python -c "import scipy; scipy.test()"`, does that work?

[2022-05-28 20:15] tylerjereddy commented on #16300
Here is the result of running `python -c "import scipy; scipy.test()"`

[code]

If I do `cd /tmp` and then `python -m pytest --pyargs scipy` I get:

[code]

The (PyPI wheel based) NumPy suite runs "ok" via `python -m pytest --pyargs numpy` in the same env.

[2022-05-28 20:39] mgoldeli commented on #12629
@lobpcg Hey Andrew,
Yes, it solves the issue. So, I can get my last 4 singular values as I want in the output 's'.That's good.
But, doesn't this new svds implementation increase the computational time?

For the documentation, I am uploading the data that I used in the example above.
[Issue_svds.zip](https://github.com/scipy/scipy/files/8791825/Issue_svds.zip)

[2022-05-28 21:55] lobpcg commented on #12629
Thanks for checking! The time increase should be insignificant. If you can time yourself please post the results. There is no memory increase.

I have no setup to run locally myself at the moment so cannot time.

[2022-05-29 00:03] tylerjereddy opened #16301 "MAINT: wiki "ninja edits""
I guess this hasn't been an issue for SciPy recently, but I noticed some undesirable wiki edits showing up today (see below). I know another NumFOCUS project I work on ultimately had to restrict wiki edits to folks with push access, but this obviously would be at odds with the usefulness of public editing of release notes to avoid merge conflicts.

What else could we do--reverse undesirable edits

[2022-05-29 07:09] mgoldeli commented on #12629
I made a quick test with 1000 and 2000 loops by calling the svds code. 1. Results are the times of the original svds code and 2. results are times of the svds code in https://github.com/scipy/scipy/pull/16240

1. Results with original svds code
![image](https://user-images.githubusercontent.com/33000961/170856421-d708c575-4d05-4253-8b7c-61675850405b.png)

2. Results with the svds code in https://g

[2022-05-29 07:21] rgommers commented on #16300
This is the very first extension module that gets imported. There's a lot of reports floating around, and typically it means that the whole build/install is broken. We should improve the error message to say that.

@tylerjereddy are there any extension modules (`.so`'s) in your `python_310_scipy_general/lib/python3.10/site-packages/scipy/` install? If so, are they working if you import them like:

[2022-05-29 07:22] rgommers commented on #16300
I'm actually not sure what happened here, but we should and a `venv`-based CI job. I'll try to do that today.

[2022-05-29 07:33] mdhaber commented on #7689
More generally, for valid `mean`, `cov`, and `size`, I'd _like_ for `multivariate_normal.rvs(mean, cov, size=size).shape` to be `size + param_shape`, where `param_shape` should be `np.broadcast_shapes(mean.shape, cov.shape[:-1])`? The only exception would be `size=None`, which should behave the same as `size=()`.

I think this would be elegant and easy to use, because `size` would not care about t

[2022-05-29 07:56] mdhaber commented on #6006
gh-7689 only mentions the `squeeze` use in `rvs`. I didn't know about the `pdf` squeeze : /  We really should fix both. If we can't, I'm afraid we should delay the release of `multivariate_beta`.

[2022-05-29 08:24] mdhaber commented on #7689
The way I'd suggest fixing the `rvs` issues would be to calculate the desired output shape `shape_rvs` according to the rule above, generate the `rvs` without distinguishing between singleton and non-existent dimensions (e.g. use Generator, which isn't very careful about this), and then at the end do:
[code]
`reshape` removes singleton dimensions _where appropriate_ (as determined by `shape_rvs`).

[2022-05-29 10:05] rgommers commented on #16300
Done in gh-16304

[2022-05-29 11:12] MosGeo commented on #12782
I'll add my two scents as a user:
- While it is great, scikit-bio is heavy on the requirements (e.g., requires matplotlib and ipython with default installation).
- Today, discovered compoda [(https://github.com/ofgulban/compoda)](https://github.com/ofgulban/compoda). The code is clean and documented. I think it is well worth checking out.

[2022-05-29 13:56] oscarbenjamin opened #16308 "BUG: pip install scipy from git fails with `"openblas" not found`"
### Describe your issue.

This comes from SymPy CI: https://github.com/sympy/sympy/pull/23513

A few days ago it successfully built and tested NumPy and SciPy on Python 3.11b1 from git using pip but now the same setup fails to build SciPy with
[code]
Maybe this would work with `apt install libopenblas-dev liblapack-dev` but it was working before so should it be expected to work still?

This was th

[2022-05-29 14:25] tylerjereddy commented on #16300
Your extension import test works just fine for `python setup.py install` and predictably fails for `python -m pip install -v .`, but maybe not for the reason you'd think--the extension files aren't even there!

- `cd /home/treddy/python_virtual_envs/python_310_scipy_general/lib/python3.10/site-packages/scipy/_lib/`
- `ls`

[code]
Here is the build log from the problematic `pip install . -v` redire

[2022-05-29 15:26] rgommers commented on #16300
Hmm, interesting. The build output looks fine, ending with:
[code]
Installing `.so` files starts out okay, e.g.:
[code]
Then we get to the next stage here:
[code]
So far so good I think (the above warnings seem expected), but then here is where things go haywire:
[code]
So it ends up including only pure Python files into the wheel.

Now the question is why. I'm pushing a working Ubuntu venv-based

[2022-05-29 15:36] tylerjereddy commented on #16300
Are there any meson/build artifacts that don't get cleaned by `git clean -xfd` combined with `python -m pip uninstall scipy` repeated until it can't find `scipy`?

[2022-05-29 15:55] rgommers opened #16310 "Build warnings in wheel build phase about "purelib or platlib""
Wheel building currently shows these warnings:

[code]

There's a couple of things going on here:
- These files are generated ones, with `install: true`, and therefore there's no `pure: false` attribute we can use (unlike for `py3.install_sources`).
- For some things we install, like `.pxd` Cython headers, we want to install them (and that works), but Meson doesn't know about this extension so it

[2022-05-29 15:59] rgommers commented on #16308
Indeed, just `apt install libopenblas-dev` is enough (no need for `liblapack-dev`).

We just switched build systems yesterday, so while our build requirements didn't change (you need BLAS/LAPACK), the way of detecting them did change.

Can you try adding `libopenblas-dev` and seeing if that fixes things for you?

[2022-05-29 16:00] lobpcg commented on #12629
@mgoldeli thanks very much for timing! The time increase is larger than I have anticipated.

Let me ping the author @evgueni-ovtchinnikov of the original PR https://github.com/scipy/scipy/pull/11829 where my https://github.com/scipy/scipy/pull/16240 is copied from hoping that he might be able to investigate if this is normal for your data posted as https://github.com/scipy/scipy/files/8791825/Issu

[2022-05-29 16:05] rgommers commented on #16300
No, that should do it. I'm going to test `virtualenv` instead of `venv`.

[2022-05-29 16:14] ev-br commented on #16300
I wonder if it's a meson-python issue (dev.py build works for me locally on py3. 8)

[2022-05-29 16:15] rgommers commented on #16300
`virtualenv` works fine on Arch Linux too, I don't see a difference with `venv`. Should work on Debian/Ubuntu too, but would be good if @ev-br can confirm. Steps I took:
[code]

Note that there are currently `1218` install targets; if you see `1105` then you're missing the extensions:
[code]

The above test uses `meson-python`.

[2022-05-29 16:26] rgommers commented on #16300
It's indeed the case though that this line is coming from `meson-python`:
[code]
The [_map_from_heuristics](https://github.com/FFY00/meson-python/blob/main/mesonpy/__init__.py#L200) has Debian-specific handling, I just don't understand why it's going wrong here. Either way, it shouldn't silently discard install targets. @FFY00 can you enlighten us here?

[2022-05-29 16:32] tylerjereddy commented on #16300
I just reproduced the same issue with a fresh `venv` so I'm going to dump a bunch of info below the fold on my environment--I'll edit this comment shortly.

[2022-05-29 16:52] rgommers commented on #16300
GitHub Actions is on Ubuntu `20.04 LTS` still, while you are on `22.04 LTS`. That is likely to matter. The compiler version and installed Python packages won't matter; it's about paths to Python and what `sysconfig` contains.

[2022-05-29 16:53] rgommers commented on #16300
Ah, `22.04` is available (in beta), let me try that: https://github.com/actions/virtual-environments#available-environments

[2022-05-29 16:54] tylerjereddy commented on #16300
Also, *not* reproducible if I switch from the system Python `3.10.4` to Python `3.9.12` from `spack` (still using a fresh `venv`)--that might be helpful to know. (Same OS of course)

[2022-05-29 16:58] rgommers commented on #16300
Hmm, the GitHub action `setup-python` is unhelpful, it installs a custom Python into:
[code]
rather than the system one that has the problematic `dist-packages`. That's an annoying catch I didn't realize - need to use `apt` rather than the action.

[2022-05-29 17:20] evgueni-ovtchinnikov commented on #12629
@mgoldeli @lobpcg the time increase is substantial because the matrix `Data` in `Issue_svds.zip` is too small - just 4000 by 24.

With such a small size, there is hardly any point in using `svds` rather that much more robust and accurate `svd` - on my laptop 1000 `svds` calls took 2.14 sec and 1000 `svd` calls 2.7 sec.

Actually, `svds` becomes much more efficient than `svd` if `min(data.shape) >>

[2022-05-29 17:41] tylerjereddy commented on #16300
Do you want this to be considered a blocker for branching or just something that would be good to backport during the rc phase (assuming an upstream Debian handling update doesn't just get automatically applied, depending on what meson stuff we have pinned on a release branch)?

[2022-05-29 18:22] rgommers commented on #16300
It only affects installs from source on one particular OS, so I think it's fine to create the release branch. I'll try to figure out what's up in the next few hours though, so it may pay off to wait that long.

[2022-05-29 18:24] rgommers commented on #16300
I can reproduce this in CI now: https://github.com/rgommers/scipy/runs/6644682267?check_suite_focus=true

[2022-05-29 18:25] pdcook opened #16311 "BUG: `scipy.sparse.linalg.expm_multiply` unstable for `start != 0`"
### Describe your issue.

`scipy.sparse.linalg.expm_multiply` produces incorrect results for `start != 0`. The requisite size of `start` to see the discrepancy is dependent on the specific matrix. The example I provide here is a matrix carefully constructed to be traceless and have a zero eigenvalue. However, from testing it appears that only the trace impacts this discrepancy. This occurs for den

[2022-05-29 18:51] pdcook commented on #16311
In trying to get to the bottom of this, it appears that this exact issue appears in `scipy.linalg.expm` for dense matrices as well. Which leads me to believe that this is either an inherent issue with the Pade approximation or its implementation. There are "better" approximations to the matrix exponential that could possibly be a drop-in replacement.

[2022-05-29 18:55] ilayn commented on #16311
SciPy will have an improved linalg.expm very soon. Could you please give me the reproducer with the dense version? Just the array  that goes into the expm would be sufficient.

[2022-05-29 18:58] pdcook commented on #16311
Relevant paper for a Pade-type method that claims to be more accurate/stable: doi:10.4236/am.2011.22028

[2022-05-29 19:03] ilayn commented on #16311
Claiming is easy, but is there any code lying around for it? I'd like to take it for a ride.

[2022-05-29 19:03] pdcook commented on #16311
@ilayn

Here is the 9x9 dense matrix that I have used in my example above. (My example used LinearOperators only to construct things, I converted them to dense with `to_dense`.) The vector it acts on is [0 0 0 0 ... 1]. Using `stop = 200` and comparing `start = 0` to `start = 180` shows the discrepancy clearly.

[code]

Is there a PR or branch somewhere with this new `expm` you mentioned? I'd like

[2022-05-29 19:03] ilayn commented on #16311
If you build the main branch it has the new one.

[2022-05-29 19:05] pdcook commented on #16311
I didn't see any code along with their paper, just algorithms. I planned on implementing it myself to see if it solved any issues. But I'll hold off until I see what the improved `expm` in v1.9.0 does or doesn't do.

[2022-05-29 19:05] pdcook commented on #16311
Alright, I'll do that then. Thanks for the quick responses!

[2022-05-29 19:09] ilayn commented on #16311
This is the result I get from that array you have provided

[code]

I don't know if this is something you would expect. Seems OK to me.

[2022-05-29 19:17] oscarbenjamin commented on #16308
So how did it previously succeed? I thought NumPy had a fallback for this or is it that SciPy doesn't support that fallback? Except it previously worked and the test suite completed...

To be clear there is no need from SymPy's end to support this particular setup. Maybe though if we noticed this change then it might break something significant for someone else.

[2022-05-29 19:22] rgommers commented on #16300
Extracting some more possibly relevant parts from CI:
[code]

[code]

[2022-05-29 19:31] rgommers commented on #16308
We're no longer using `numpy.distutils` to build, but instead Meson. So discovering dependencies is done via `pkg-config`, rather than looking for specific libraries directly in a set of hardcoded paths.

It's expected that packagers will need to change a few things in build scripts, that is unavoidable. And a small price to pay to move away from `distutils`:)

[2022-05-29 19:36] eli-schwartz commented on #16308
But also this is one of the items at #16293 and the goal is to teach Meson some of these fallback detection methods. :)

[2022-05-29 19:43] oscarbenjamin commented on #16308
Yes, that fixes it. At the time of writing tests haven't run yet but scipy built successfully:
https://github.com/sympy/sympy/runs/6645335177?check_suite_focus=true

I guess this can be closed then?

[2022-05-29 19:52] oscarbenjamin commented on #16308
Tests are now complete. Just one failure due to https://github.com/scipy/scipy/pull/16042#issuecomment-1137227051

[2022-05-29 19:57] tupui commented on #16301
2 other options:
- Use another platform (hackmd for instance)
- we update the list as we go (scikit-learn, among others, is doing this)

[2022-05-29 19:58] rgommers commented on #16308
Great, thanks Oscar!

I'm expecting the same question a bunch more times, so let's leave this open for now so the issue and solution are more discoverable.

[2022-05-29 20:31] ev-br commented on #16300
Indeed, repro locally on

[code]

in a fresh virtualenv:

[code]

leads to a broken build, reports  1105 targets.

[2022-05-29 20:46] rgommers opened #16312 "Meson complains about an absolute include path"
This is a fairly annoying issue, and I've seen it before but somehow am only now running into it again - probably because I'm working in a Docker container.

Trying to run `pip install . --no-build-isolation` inside a Docker container on current `main` results in:
[code]
Outside of a Docker container there's never a complaint - and yes, we _are_ feeding `include_directories` an absolute path.

`fi

[2022-05-29 20:49] rgommers commented on #16312
Similar bug report (but no follow-up, does say it's happening on Ubuntu, and I was using an Ubuntu Docker container with system Python): https://github.com/mesonbuild/meson/issues/8640

[2022-05-29 20:55] rgommers commented on #16312
Ah, the code looks like this:
[code]
So what's happening is that the check goes off _only_ if your include dir is inside your source tree. In this case I was creating a Python virtual environment within the `scipy` source tree. So the error message is highly misleading.

I think it's actually not good practice to create venv's within the source tree, but it's also common (I don't use venv's or Doc

[2022-05-29 21:07] rgommers commented on #16312
I have a vague memory of bringing this up before and the initial answer being "don't do that". We need to fix this somehow though, because it's common practice. Here's a few tools that do create venv's inside the local tree:
- [PDM](https://pdm.fming.dev/) (based on [PEP 582](https://peps.python.org/pep-0582/))
- [Tox](https://tox.wiki/en/latest/)
- [ASV](https://asv.readthedocs.io/en/stable/)
- T

[2022-05-29 21:26] ev-br commented on #16312
https://github.com/rgommers/scipy/issues/82#issuecomment-974225733

[2022-05-29 21:35] rgommers commented on #16312
Argh yes, thanks. That increases the importance of making `dependency('numpy')` work natively in Meson. And until we do that, I guess the answer remains "don't do that".

I'll submit a PR to Meson to clarify the error message though.

[2022-05-29 21:45] ev-br commented on #16312
And it will remain the same after that, too.

One thing that an old-fashioned virtualenv package is better than venv, is you create a  ~/.virtualenvs directory, set a $WORKON_HOME env var in  .bashrc, once. and that's it.

[2022-05-29 22:07] rgommers commented on #16300
@tylerjereddy I won't be able to figure it out today. Fairly sure that it has to be fixed in `meson-python` though, and no changes needed in SciPy. So go ahead with creating the release branch I'd say.

[2022-05-29 23:27] oscarbenjamin commented on #16308
Okay, I edited the title since I guess the Python version is not relevant and maybe numpy isn't either...

[2022-05-30 02:09] mdhaber commented on #6474
Tracking in gh-16278, so closing this one.

[2022-05-30 02:09] #6474 closed

[2022-05-30 02:11] mdhaber commented on #7689
Tracking in gh-16278, along with all the other issues listed [above](https://github.com/scipy/scipy/issues/7689#issuecomment-1064579845)

[2022-05-30 02:11] #7689 closed

[2022-05-30 02:32] tylerjereddy commented on #16300
Understood, branching tomorrow (Monday) is almost certain then.

[2022-05-30 05:34] Chinwendu20 commented on #16272
Thank you so much, @tupui, I am excited about my first pull request in an open-source project. I have created different error messages for the two test cases.

`  if not ((xa < xb) and (xb < xc)):
                raise ValueError("Your bracketing values (xa,xb,xc) does not fulfill this requirement,(xa < xb) and (xb < xc), https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.brent.ht

[2022-05-30 08:06] igrega348 commented on #16275
Thanks for the quick reply. The observation which led me to believe that there was an error was a discrepancy when I applied the resulting rotation matrix to a tensor. I mixed up rotating the object with rotating the frame of reference. Sorry for the false alarm and thanks again.

[2022-05-30 08:06] #16275 closed

[2022-05-30 08:12] ev-br commented on #16300
Given that meson >= 0.62 correctly handles debian derivatives including venvs with its `venv='auto'` switch, I actually wonder why pep517 wrapper even needs to handle it separately, and if it can does for some reason, whether it can just reuse relevant logic from meson itself.

[2022-05-30 09:51] tupui commented on #16272
@Chinwendu20 No need for the link to the doc. The following is fine
[code]

You could create another function or use a lambda if you can write something concise. What matters in the test is that we check the message (`with pytest.raises(ValueError, match="...")`)

[2022-05-30 10:21] Chinwendu20 commented on #16272
@tupui thanks. Please how did you format the code sample in the comment? I was trying to do that.

[2022-05-30 10:33] ogauthe commented on #12629
For what it's worth, I have been running a similar post-processing for some time for reasonably large dense matrices. A typical run computes `k=100` eigenvectors out of `ncv=300` generated Lanczos vectors of a (20k, 20k) matrix with `eigsh`, then calls `svd(A @ eigvec)`.

Time spent in `scipy.linalg.svd` is less than 0.2% of the time spent in `eigsh`, so in such a case the additional cost is negli

[2022-05-30 12:01] tupui commented on #16272
You can click on the three dots on the right corner of your comments to edit. You will see how to format code.

[2022-05-30 13:54] mdhaber commented on #16211
The problem was that `_contains_nan` relies on the sum of the array to be `nan` if there are any NaNs. This is not true for Pandas types, which ignore NaNs by default. I'll submit a PR.

[2022-05-30 15:47] seberg commented on #16301
Just FYI, they also edited the NumPy wiki, had hoped it was a one-off...

[2022-05-30 16:02] tupui commented on #16301
I could not rant on Twitter as they don't have an account but I posted something on LinkedIn where they have a page.

[2022-05-30 19:08] #5103 closed

[2022-05-30 19:43] #11406 closed

[2022-05-30 19:43] #12629 closed

[2022-05-30 19:46] tylerjereddy commented on #11406
Is that still the case? Let me know if this issue needs to be reopened--we can always adjust the final `1.9.0` release notes during the release candidate testing stages.

[2022-05-30 20:27] mattip opened #16322 "DOC: building on Windows uses GCC with Meson, not MSVC"
When looking at the meson-generated `build.ninja` on windows, on a machine that is duplicating the CI build, it seems there is no use of msvc only gcc. Is this correct? If so it might be nice to document this in the [meson build faq](https://scipy.github.io/devdocs/dev/contributor/meson.html#meson-frequently-asked-questions). Also I think the build requires the rtools gcc compiler, I have had prob

[2022-05-30 20:37] Chinwendu20 commented on #16272
Got it, thank you. I appreciate your time and patience with me. Expect my PR soon.

[2022-05-30 21:55] #10577 closed

[2022-05-30 22:12] lobpcg commented on #11406
@tylerjereddy To my recollection, https://github.com/scipy/scipy/pull/11829 does not close this issue completely, since one of the sets of singular vectors, left of right, depending on the matrix shape may still be wrong and, e.g., is not checked by the unit test that I have written to incorporate the example in this issue into that PR.

I have no setup to double-check this myself with https://git

[2022-05-31 00:18] eli-schwartz commented on #16322
Meson has a "buildtype" option, which can be set to release/debug/debugoptimized/minsize etc. This is described at https://mesonbuild.com/Builtin-options.html#core-options

It will bidirectionally map to the individual options "debug" and "optimization" which are separately toggleable -- one sets -g, the other sets -O. Please check what your current setting is there.

Per the listed table -- debug

[2022-05-31 10:37] rgommers commented on #15489
I'll get rid of that last line in the Makefile, it's duplicate anyway. The lines above it come from Sphinx, so we can't remove them. Instead, we should end with a new message. @schettino72 I'm trying to add it, but I'm not sure how - the [pydoit docs on delayed task creation](https://pydoit.org/task-creation.html?highlight=actions#delayed-task-creation) don't show how to add a message to this doc

[2022-05-31 11:35] mattip commented on #16322
Thanks.

This should probably be in the developer documentation as well.

[2022-05-31 12:59] rgommers commented on #16322
Yes, that is correct. Well, more or less - you can use MSVC just fine if you have a matching Fortran compiler - i.e. Intel Fortran. The MSVC + gfortran hack is not available.

[2022-05-31 15:20] Dbhardwaj99 commented on #14525
Is this issue still open? Would love to contribute

[2022-05-31 17:00] orbeckst commented on #16191
Thank you scipy team for maintaining the scipy package, a bed-rock of scientific computing. Without a doubt, scipy is **essential open source scientific software** and we the [@MDAnalysis/coredevs](https://github.com/orgs/MDAnalysis/teams/coredevs) are happy to support the scipy project.

In [MDAnalysis](https://www.mdanalysis.org), a Python package for the analysis of particle-based simulations s

[2022-05-31 17:21] mdhaber commented on #9157
Our NetCDF functionality seems to be a [pure-python implementation](https://github.com/scipy/scipy/blob/v1.8.1/scipy/io/_netcdf.py#L98-L798) of the standard.

It looks like the NetCDF library is [BSD-licensed](https://docs.unidata.ucar.edu/netcdf-c/current/copyright.html) and the Python bindings are [MIT-licensed](https://github.com/Unidata/netcdf4-python/blob/master/LICENSE).

Currently SciPy's i

[2022-05-31 18:42] rgommers commented on #15489
Ah, easy enough - thanks!

[2022-05-31 19:47] GregStroot commented on #16112
For others that run into a similar issue, I found two potential work-arounds:

1. Work with petsc4py and you may use either MUMPs or SuperLU in parallel. This requires some work, but it is fairly easy to convert algorithms from scipy sparse to petsc. This has the benefit of running the computation in parallel

2. Try the umfpack driver for scipy. One potential reason (I believe) that this issue co

[2022-05-31 20:08] lobpcg opened #16330 "BUG: generally excessive and inconsistent tolerance in svds"
### Describe your issue.

When the tolerance parameter tol is passed or internally generated in svds, the actual tolerance in calls to the solvers is squared: tol=tol ** 2 which generally makes little sense even though the eigenvalues of the normal matrix used in arpack and lobpcg solvers are the squares of the seeking singular values.

Moreover, the docstring documentation says: "Tolerance for si

[2022-06-01 00:26] chetmurthy opened #16331 "BUG: Build fails on Ubuntu (error about missing CMakeLists.txt)"
### Describe your issue.

Trying to build scipy (top of git: commit 0d73a949ee6632349e1c55022b18571e882890c6) on Ubuntu 20.04 LTS in a freshly-created virtualenv.
[code]
I installed prereqs:
[code]
and then build:
[code]

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

[2022-06-01 00:27] chetmurthy commented on #16331
I did install blas, lapack, atlas, cmake, meson via apt before building.

[2022-06-01 01:02] maicontibola commented on #16169
Hello, who would be indicated to confirm the semantics of the text in PR #16201?

[2022-06-01 01:32] mckib2 commented on #16322
This was from a while ago (pre-Pythran) building via venv/pip and can be considered unmaintained as changes with clang/Pythran broke the environment described in that page.  Meson should hopefully be easier to setup.  Best course of action is to delete/archive?

[2022-06-01 02:27] chetmurthy commented on #16331
1. I cloned from github, and .... I never got the error-message you're citing.
2. I also tried `pip install .` and got other errors.

I'm trying your suggestion now, and it seems to have gotten further.  In the meantime, you wrote that "setup.py" is "the old setup.py" ?  Is there a way to build/install that doesn't use pip ?  I mean, something ... "low-level" ?

[2022-06-01 02:39] eli-schwartz commented on #16331
SciPy is in the process of transitioning to Meson; it's now the default when using `pip install`. You can invoke it low-level:

[code]

This will build SciPy and install it, but it will be lacking pip metadata so other packages you install with `pip install` will not know SciPy is installed. The pip metadata is handled via the build backend which isn't part of Meson. In the future, Meson will prob

[2022-06-01 02:53] rgommers commented on #16322
There's no such thing as archiving wiki pages I think, so either deleting or adding a prominent note at the top saying this may be outdated is likely the way to go.

That said, I can see a case for updating it. The main pain points there are things like installing the right compiler and downloading the right OpenBLAS, dealing with PowerShell and Chocolatey. Those are probably not things to include

[2022-06-01 03:50] rgommers commented on #16331
It's an ordering bug in the validation it looks like, `optimize` is done before `_lib`: https://github.com/scipy/scipy/blob/0d73a949ee6632349e1c55022b18571e882890c6/scipy/setup.py#L18. This check used to work, it must have broken with the addition of `_highs` because it wants to use a path during the config stage already, before the understandable error message can be emitted. I'll send a fix for

[2022-06-01 03:53] rgommers commented on #16331
I'll need to fix the same in the Meson build, that ends with:
[code]
which is also not quite as descriptive as we'd like.

[2022-06-01 03:55] chetmurthy commented on #16331
I wondered what was causing that!  Thanks!  Also, once I did the submodule update, everything started working.  Thank you!  Closing.

[2022-06-01 03:55] #16331 closed

[2022-06-01 04:24] rgommers commented on #16292
Thanks for the report @david-cortes. This is a known issue with Clang 13.0 and Pythran (https://github.com/serge-sans-paille/pythran/issues/1937). Please upgrade to Pythran 0.11 and it'll work.

[2022-06-01 04:24] #16292 closed

[2022-06-01 04:35] rgommers commented on #16169
This is not correct. Using the `Z` in the example in the docs:
[code]

I'll close this issue.

[2022-06-01 04:35] #16169 closed

[2022-06-01 06:42] msat59 opened #16333 "DOC: rvalue description is missing in stats.probplot"
The description of `rvalue` in `stats.probplot()` is missing.

[code]

[2022-06-01 08:23] tupui commented on #16333
Hi @msat59, thank you for reporting. Would you like to make a PR?

[2022-06-01 23:32] EwoutH opened #16338 "ENH: Add option to clip out of bounds input values to minimum and maximum of search array in scipy.interpolate.interp1d()"
### Is your feature request related to a problem? Please describe.

[scipy.interpolate.interp1d](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.interp1d.html) currently only allows `“extrapolate”` as method to fill values. If you want to define a tuple with the search bounds, you have to calculate those yourself.

### Describe the solution you'd like.

I would like to propo

[2022-06-02 00:17] mdhaber commented on #11848
@scratchmex Do you have a moment to comment on the example proposed in gh-16268?

[2022-06-02 00:30] mdhaber commented on #9157
@orbeckst Thanks for bringing this issue to my attention. You asked for netcdf support to be improved, but this conversation seems to be heading toward referring users to the [Unidata netCDF4-python](https://unidata.github.io/netcdf4-python/) library. Does that sound ok to you? If so, do you think it is important to keep the old functions in SciPy, or can we deprecate them?

[2022-06-02 00:56] shoyer commented on #9157
To be clear, even though I think most users would be better suited by using netcdf4-python, scipy's pure Python netcdf3 reader is quite valuable. Xarray users (including myself) use it all the time because it often has better performance and is easier to install.

There are a few longstanding issues, but this does not detract from it's usefulness. The module is basically feature complete, even if

[2022-06-02 07:46] mreineck commented on #16237
For convenience: I found a non-paywalled PDF of he article at https://www.researchgate.net/publication/3908291_Integer_fast_Fourier_transform_IntFFT.

I'm not sure how much performance advantage this algorithm would give us ... we already have `rfft` and `irfft` to speed up situations where the input is purely real or Hermitian, which covers one of the aspects mentioned.
It's undeniable that bit-s

[2022-06-02 08:51] tupui commented on #9157
So it seems like even though we would mark this as legacy, we should still consider improving write performances.

[2022-06-02 09:03] orbeckst commented on #9157
I think https://github.com/scipy/scipy/issues/9157#issuecomment-1144305199 summarized my views.

If getting good write performance (maybe for well-defined subset of ncdf3 files) is relatively easy then that would be convenient to have in a light-weight implementation. However, given scarce resources I very much understand that netcdf I/O is not considered a core competency of scipy — and that's ok

[2022-06-02 10:22] nielsvanetten opened #16342 "BUG: IIRdesign function ftype='bessel' not recognized"
### Describe your issue.

When using `signal.iirdesign(wp, ws, gpass, gstop, analog, ftype = 'bessel', output, fs)`
Then an error is returned.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.1 1.22.3 sys.version_info(major=3, minor=10, micro=4, releaselevel='final', serial=0)

[2022-06-02 12:00] jeylau commented on #16191
At @DeepLabCut we make extensive use of the optimize and spatial modules of SciPy.
The first is mostly for solving optimal assignment problems with linear_sum_assignment, whereas the latter is for neighbor search (2D/3D mainly), pairwise distance computation, etc., with cKDTree, pdist, cdist, squareform, euclidean, directed_hausdorff; most of our code dealing with point coordinates relies on these

[2022-06-02 12:24] oscarbenjamin opened #16343 "BUG: build failure with pip: CRITICAL: Chair to keyboard interface error"
### Describe your issue.

This comes from SymPy CI:
https://github.com/sympy/sympy/runs/6702902348?check_suite_focus=true

This is a followup after (#16308). Now pip installing SciPy from git fails for a different reason giving the error message:
[code]
Somewhat less noticeable in the output before that there is this:
[code]

### Reproducing Code Example

[code]

### Error message

[code]

### Sci

[2022-06-02 12:43] tupui commented on #16342
Hi @nielsvanetten, thank you for reporting. Yes `signal.iirdesign` does not support `ftype='bessel'`. Maybe the error message could be improved.

[2022-06-02 12:50] Gattocrucco opened #16344 "ENH: improved `stats.ortho_group`"
### Is your feature request related to a problem? Please describe.

I've noticed that [the implementation](https://github.com/scipy/scipy/blob/4cf21e753cf937d1c6c2d2a0e372fbc1dbbeea81/scipy/stats/_multivariate.py#L3485) of `stats.ortho_group.rvs` involves a pure python loop over the rows of the matrix and another one over random samples. The [article](https://arxiv.org/abs/math-ph/0609050v2) refer

[2022-06-02 12:56] ilayn commented on #16344
This QR based version is generally how we generate random orthogonal arrays in our test suite but I think it doesn't carry the statistical niceities that ortho has. Because it is just gram-schmidt with no statistical care. @rkern @WarrenWeckesser should know better

[2022-06-02 13:00] Gattocrucco commented on #16344
I'm no expert, but `numpy.linalg.qr`'s suggests that QR uses Householder reflections.

[2022-06-02 13:00] ilayn commented on #16343
Regardless of the source, that error message shouldn't be used. Especially within the process that is fragile to planet alignments and time of the day

[2022-06-02 13:33] tupui commented on #16191
Thank you everyone for your valuable inputs 😃 For anyone reading we are keeping the survey open: https://forms.gle/Du9Y1aZrDx37LY8Y9
Feel free to comment here as well.

[2022-06-02 14:15] Gattocrucco commented on #16344
If for some weird reason the QR version has problems, it can also be done with diagonalization:

[code]

It's 2x slower than QR but still much faster than the handwritten Houseolder transformations.

[2022-06-02 15:01] #13730 closed

[2022-06-02 15:03] #15749 closed

[2022-06-02 15:18] dschmitz89 opened #16345 "ENH: biteopt global optimization algorithm"
### Is your feature request related to a problem? Please describe.

[biteopt](https://github.com/avaneev/biteopt) is an actively maintained and according to recent [benchmarks ](http://infinity77.net/go_2021/thebenchmarks.html) very capable stochastic global optimization algorithm implemented in C++. biteopt solves significantly more problems of scipy's own global optimization test suite than scip

[2022-06-02 15:27] mdhaber commented on #16344
Note: the shape issue is tracked in gh-16278, so this issue number can just be for the enhancement part.

[2022-06-02 15:28] tupui commented on #16345
Thank you @dschmitz89 for reviving this. As said on the previous issue, I am +1 on adding new global optimisers. The move to Cython is not mandatory at all for a first version which could just be a wrapper. Similar to what we did with DIRECT.

[2022-06-02 15:43] h-vetinari commented on #15765
Now that 1.9 has branched, I removed the work done for that release from the tracker. Here it is for the purpose of record-keeping:

### Deprecations that were executed for 1.9

* 0.13
  * [x] #15764
* 0.17
  * [x] #15758 (see also #5266)
* 0.18
  * [x] #15751
* 0.19
  * [x] #15734
  * [x] #15736
  * [x] #15752
  * [x] #15754
  * [x] #15759
* 1.0
  * [x] #15741
  * [x] #15742
  * [x] #15753
  * [x

[2022-06-02 15:45] tupui commented on #15765
Thank you again @h-vetinari, this is great work and very useful 👏

[2022-06-02 16:51] rossbar commented on #16343
This looks related to a known issue with Python 3.11b2 & pytest. See pytest-dev/pytest#10008.

This should be fixed in the Python 3.11-beta3 which is (should be?) generally available now.

[2022-06-02 18:36] oscarbenjamin commented on #16343
Yes, actually it does seem SciPy builds successfully now with 3.11b3. Tests haven't run because something else failed to build but I'll close this now in any case.

Thanks.

[2022-06-02 18:57] pdcook commented on #16311
@ilayn That is the same result I get from `scipy.linalg.expm(A)` (up to `1e-10`). However, my issue is with computing `scipy.linalg.expm(u * A)` where `u` is some scalar. `expm_multiply` gives significantly different results for sufficiently "large" `u`. Moreover, computing `expm(du * A)` with `du` much less than `u`, and then successively applying the result to accumulate `expm(u * A)` does not y

[2022-06-02 19:16] pdcook commented on #16311
@ilayn Here's a concise example to demonstrate my problem. Depending on what `u` is, the results will be inconsistent between the four methods used. If `u` is around or less than 1, then they are within `1e-14`, but if `u` is around 10 or greater (even if the number of steps `num` is drastically increased) then they will be significantly different.

[code]

[2022-06-02 19:18] pdcook commented on #16311
The output I get on my machine for `u = 1, num = 100`:
[code]

and for `u = 10, num = 1000`:

[code]

[2022-06-02 20:45] lorentzenchr commented on #14750
With #14300 merged, there is a further solver. So I close this issue.

[2022-06-03 02:28] tylerjereddy opened #16347 "TST, MAINT: 32-bit Linux test failures in wheels repo"
As assessed in this wheels repo PR where I'm starting to get ready for `1.9.0rc1` by probing the wheel build/test status: https://github.com/MacPython/scipy-wheels/pull/166

Two failing tests are reported on 32-bit Linux:

[code]

Both failures appear to be segfaults:

<details>

<summary>
`test_milp_options` segfault trace
</summary>

[code]

</details>

<details>

<summary>
`test_mip1` segfault

[2022-06-03 07:11] mdhaber commented on #10801
I've traced the numbers through the random variate generation and I'm not seeing evidence of a loss of precision or other numerical issue.

We get the same sort of thing with `np.random`:
[code]

Most convincing to me that this is not due to a bug in SciPy/NumPy is that the mean and standard deviation of the log of the random variates are as expected.
[code]

So if the formulas for the required no

[2022-06-03 07:11] #10801 closed

[2022-06-03 09:04] nielsvanetten commented on #16342
Well the most confusing thing was that in the documentation its stated that `signal.iirdesign` does support 'ftype='bessel'.
See:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.iirdesign.html

[2022-06-03 09:09] tupui commented on #16342
Right and this can be fixed. Would you like to make a PR to improve the documentation?

[2022-06-03 09:24] nielsvanetten commented on #16342
I tried to make one, hopefully I didnt mess up the procedure.

[2022-06-03 09:39] nielsvanetten commented on #16342
@tupui sorry, but i have no idea which branch I have to create this PR. Sorry, I'm not experienced enough in github.

[2022-06-03 09:40] tupui commented on #16342
@nielsvanetten No problem 😃 You have to create a branch from `main`

[2022-06-03 11:49] nielsvanetten commented on #16342
done, hopefully i did it right this time ;). thanks for your help

[2022-06-03 14:54] rkern commented on #16286
If we're not building 32-bit binaries ourselves, it is very, very likely that scipy will _stop_ being buildable in that environment sooner or later.

[2022-06-03 14:57] sturlamolden commented on #16286
Not supporting Excel in the sence of not being buildable at all is a bad idea IMHO, but I don’t think we need to provide free binaries.

[2022-06-03 15:36] dschmitz89 commented on #16205
What could be a good API for this?
Sth like a distribution `scipy.stats.UniformUnitSphere` with method `rvs` or just a function `scipy.stats.randomunitvector(size)` ?

[2022-06-03 16:01] mdhaber commented on #16205
The former, I think. It would fit well as a subclass of `multi_rv_generic` in [`_multivariate.py`](https://github.com/scipy/scipy/blob/main/scipy/stats/_multivariate.py).

[2022-06-03 18:07] pdcook commented on #16311
@ilayn Does it make sense for me to open a new issue that focuses specifically on this small example? I did not realize at first that the problem extended to `expm`.

[2022-06-03 18:46] ilayn commented on #16311
The v1.8.x and earlier is using the same `expm` regardless of sparse or dense. Hence in fact the dense one `scipy.linalg.expm` imports `scipy.sparse.linalg.expm` under the hood. So if the new one also has an issue yes please open an issue that I will try to look at when I have some time.

[2022-06-03 19:52] rgommers commented on #16286
Here it is: https://discuss.scientific-python.org/t/releasing-or-not-32-bit-windows-wheels/282. With a link back to this issue and a request to post use cases here.

[2022-06-03 20:24] edmundsj commented on #13049
Adding my two cents from a couple of perspectives here having encountered this issue many times. I won't comment on the associated difficulty of making the changes required, but I suspect you could write a very simple crawler to look through all the examples, check if they have a "np" in them, and if so, add the import statement at the top.

As an advanced user, this is mildly annoying. Anytime ex

[2022-06-03 20:40] ilayn commented on #13049
I still don't like the addition of import statement which I think everyone knows about by now in the Python community. Because users of SciPy won't survive more than a few lines of code without using a NumPy command and thus would be importing it.

However, judging by the hits of this issue I think the fair thing to do here for me is to reconsider my dislike and bite the bullet on this one. The im

[2022-06-03 20:52] edmundsj commented on #13049
I'm in support of adding this type of rubric trick to look through the example and identify dependencies from common aliases and auto-generate the import statements. I'm happy to manually add a few hundred, but 5,000 copy-paste actions sounds like a very aggravating afternoon.

[2022-06-03 21:18] mdhaber commented on #14436
Please set `base=len(pk)` to get a normalized entropy:

[code]

[2022-06-03 21:18] #14436 closed

[2022-06-03 21:21] rgommers opened #16352 "multithreading in `scipy.fft` disabled on Windows"
This is an issue that I just found again. We haven't fixed it, so this will be a performance regression for `scipy.fft` functions on Windows for 1.9.0 in wheels and conda-forge packages (it's gated on Mingw-w64 usage, so the conda packages in the `defaults` channel or wheels from https://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy will not be affected).

Usage of `pthreads` is disabled here: https:/

[2022-06-03 21:29] ev-br commented on #13049
-1 from me.

Our current default is a single assumed `import numpy as np`. No more, no `plt`, no `pd` etc etc. Therefore the main premise of  https://github.com/scipy/scipy/issues/13049#issuecomment-1146333767 is not really applicable, there is no gazillion of aliases to know by heart or agonizingly discover. So for a novice user I won't buy that it leads to _hours of confusion_. Even if there is

[2022-06-03 21:50] mckib2 commented on #16347
@mdhaber  I have no recollection of this `xfail` marking, but it could be that `_highs_wrapper` is (as a compiled library) having trouble passing stdout/stderr to the `capsys`?  When I run locally, I get `captured   = CaptureResult(out='', err='')` but I do get a bunch of stuff printed in the `Captured stdout call` output:
[code]

[2022-06-03 21:51] ev-br commented on #16338
TL;DR: I'd rather not add it.

If this is considered an improvement in user experience, I'm honestly not sure it is. Let's compare the two alternatives you mentioned:
 `interp1d(x, y, fill_value=(x.min(), x.max()), bounds_error=False)`  vs
 `interp1d(x, y, fill_value="clip", bounds_error=False)`

The first form (which works today) is probably as straightforward as it gets. The second one is only m

[2022-06-03 22:11] edmundsj commented on #13049
I guarantee when I was first learning python this specific problem caused me hours of confusion. Perhaps I'm just slow. But I'm an engineering Ph.D., so probably not *that* slow. XD

I'll defer to those that maintain the package to weigh whether the change is worth making.

[2022-06-03 22:16] mdhaber commented on #12134
This appears useful, but it doesn't immediately look like a good fit for `scipy.stats` since there are no other functions like it, and since it is (at its heart) a straightforward application of existing SciPy tools (with some clever tricks to improve performance). There would have to be some pretty strong support to create an ad hoc convenience function that may or may not work with defaults.

Is

[2022-06-03 22:29] mdhaber commented on #13049
@melissawm thought you might have an opinion here, since this comes up every few months as a sticking point for new users.

[2022-06-03 23:01] ev-br commented on #13049
This specific problem being a single assumed import or a whole lot of them, across the ecosystem? For the latter I'm totally not surprised.

[2022-06-04 00:02] mdhaber commented on #16347
At the time, I don't think it was just `capsys` that was not getting the output. I think added the `capsys` test because I didn't get the output in my IDE... but now I'm getting the output in my IDE. So I suppose if we can't reproduce the issue in an IDE, we can get rid of the `capsys` part of the test if it's causing problems.

[2022-06-04 00:44] mckib2 commented on #16347
`test_mip1` potentially related to https://github.com/ERGO-Code/HiGHS/issues/769, going to have to spin up a 32-bit machine

Both failures on 32-bit are when solving the magic square problem (one with n=3, the other with n=4).  Will need to spin up a 32-bit instance to debug and see if this is indeed related to the above unresolved upstream HiGHS issue

[2022-06-04 02:08] mdhaber commented on #15618
@HDembinski are you still interested in contributing this? I think it could be quite useful, and I'd be willing to review it if it were implemented in Python, but I'm afraid I can't help with the C.

I still think it would fit as a multivariate distribution. The random variable here is a 2D matrix. If we can figure out a name for this distribution, I think it would have an `rvs` method that accept

[2022-06-04 12:18] AtsushiSakai commented on #16127
I found [`_minimize_cobyla`](http://scipy.github.io/devdocs/reference/optimize.minimize-cobyla.html#optimize-minimize-cobyla) has the same issue. I fixed both in[ this PR](https://github.com/scipy/scipy/pull/16354).

[2022-06-04 14:06] #16127 closed

[2022-06-04 16:17] WillTirone commented on #1339
First attempt at looking at very old issues per my recent [mailing list question](https://mail.python.org/archives/list/scipy-dev@python.org/thread/NDNJMSTXXLZBSREDEEV6BT63AZG3BZUA/) so feel free to comment anything that will make this more informative.

The eig calculations behave the same way they did 9 years ago:

**CURRENT BEHAVIOR**
[numpy.linalg.eig](https://github.com/numpy/numpy/blob/main/

[2022-06-04 17:00] Phillip-M-Feldman commented on #12134
The proposed compromise sounds reasonable.

On Fri, Jun 3, 2022 at 3:16 PM Matt Haberland ***@***.***>
wrote:

[2022-06-04 17:03] #11026 closed

[2022-06-05 04:47] mdhaber commented on #12041
Did this ever make it to the mailing list @dschmitz89?

[2022-06-05 05:06] mdhaber commented on #10382
There is work on network simplex in gh-14540. I'll add the spatial label since it seems like that might be more appropriate. Crossref gh-7804.

[2022-06-05 05:14] mdhaber commented on #7099
Note to those interested in implementing this: please do not refer to the code in the linked package, as it's license-incompatible. gh-15618 would be useful towards a Monte Carlo solution to this problem.

[2022-06-05 06:33] saroad2 commented on #16205
Good to see that other people find this feature needed and usefull.

Do I have a go on implementing it?

[2022-06-05 06:46] Kai-Striega commented on #7663
@ev-br I've got time to look at this now. I may need some more guidance, as I've never worked with the interpolate stuff before.

[2022-06-05 10:12] dschmitz89 commented on #12041
Oops, now it did. Lost track of this before apparently.

[2022-06-05 11:35] tylerjereddy opened #16358 "TST, MAINT: test_theilslopes_warnings fails on 32-bit Windows"
The status of the Windows builds in the wheels repo is now much better--down to a single failure for 32-bit Windows in https://github.com/MacPython/scipy-wheels/pull/166 (same for Python `3.8` and `3.9`; we don't currently support `3.10` with 32-bit):

[code]

@mdhaber this was changed recently in gh-16056 -- maybe there's a somewhat simple path forward here? I can iterate a bit if you can guide m

[2022-06-05 13:22] mdhaber commented on #16358
It sounds to me like it's passing important condition check in line 952:
```        assert_allclose(res, (0, 0, np.nan, np.nan))```
but it's not emitting the warning - presumably because NumPy is not emitting the warning on this platform?

I would be happy with suppressing the warning rather than testing for it. The important part is that there is no error and the `np.nan`s are present.

[2022-06-05 13:34] dschmitz89 commented on #16205
I asked on the mailing list if there are any objections against this and a function for spherical mean/variance. If there are none , I think it can be taken as a yes in a few days.

[2022-06-05 13:51] mdhaber commented on #16205
I think that's true, @dschmitz89.

One thing to look out for is to not start with the shortcomings we're addressing in gh-16278. If you use another multivariate distribution as a reference, you may be tempted to add `np.squeeze` to the output of `rvs`. This is undesirable. If `d` is the number of dimensions and `size` is passed in as a shape parameter (or `()` if `size is None`), then the output s

[2022-06-05 18:07] harivamsi9 commented on #16333
@tupui Can I contribute to this issue?

[2022-06-05 19:41] tupui commented on #16333
Hi @harivamsi9, yes of course since @msat59 did not reply. Thank you in advance 😃

[2022-06-05 20:04] Gattocrucco commented on #16344
I've thought that since `np.linalg.qr` has the option to return only the arrays of Householder reflectors and coefficients, maybe it is possible to use them directly to also generate an SO(n) matrix, which can't be generated directly with the qr trick like an orthogonal one.

[2022-06-05 20:07] WillTirone commented on #1345
Looking at very old issues per my recent [mailing list question](https://mail.python.org/archives/list/scipy-dev@python.org/thread/NDNJMSTXXLZBSREDEEV6BT63AZG3BZUA/) so feel free to suggest anything that would make my review more informative.

## Original Issue:

Original user indicated that ```PyArray_OrderFilterND``` should use ```qselect()``` rather than ```qsort()``` although no original expla

[2022-06-05 20:46] mckib2 commented on #16347
I'm thinking it's not related.  The issue is in [an integer sort](https://github.com/scipy/HiGHS/blob/885c5de95a2b73269b0f885ea27234bb0c29c2a3/src/mip/HighsPrimalHeuristics.cpp#L41): while iterating over a `std::vector<HightInt>` a wonky large element pops up as the argument to the custom sort function and an out-of-bounds access occurs.  The issue persists when using `std::sort` instead of `pdqso

[2022-06-05 22:00] psambit9791 commented on #13671
I am encountering a discrepancy while working with periodograms which seems to be originating from the same issue. If no one is working on it, I would like to give this a try.

[2022-06-05 22:43] #16358 closed

[2022-06-05 23:01] dschmitz89 commented on #14750
For future reference for anyone else who stumbles upon this thread.

Actually, scipy has more derivative-free solvers when default options are overriden. `dual_annealing` can run without local search (`no_local_search=False`) and `differential_evolution` runs without derivatives if `polish=False` is set. Both are very capable global optimizers.

It seems like it takes some experience and digging t

[2022-06-05 23:31] mckib2 commented on #16347
@tylerjereddy Punted upstream -- looks like this is a known issue suspected to lie in the compiler toolchain itself without a clear resolution strategy.  We'll see if they want to spend any time on it.  If not, what's the best strategy for us -- disabling these tests for 32-bit builds and hoping no-one runs into them in the wild?

[2022-06-05 23:50] tylerjereddy commented on #16347
Probably yeah, at the moment the wheels Linux 32-bit test runs have started hanging in some other way so I've still got work to do there either way.

[2022-06-06 01:24] thouis commented on #1345
qselect() is O(N), qsort is O(NlogN), so I agree, it makes sense to switch.

[2022-06-06 01:57] harivamsi9 commented on #16333
Thank you @tupui ,  I am getting mixed answers online on the rvalue.
Would you be able give me some info, or pointers, regarding it? so I can refer and PR this quick?

[2022-06-06 10:03] tupui commented on #16272
@Chinwendu20 are you still working on this?

[2022-06-06 10:09] Chinwendu20 commented on #16272
Yes I am. I am trying to set up my development environment with conda but I was getting conflicting package dependency error. I followed the steps on contribution.md.

[2022-06-06 10:14] tupui commented on #16272
@Chinwendu20 you should try to follow the relevant guide from your setup https://scipy.github.io/devdocs/dev/contributor/contributor_toc.html#development-environment

If you have specific issues, let me know.

[2022-06-06 10:24] tirthasheshpatel commented on #12134
I think this would be a good solution. (When we overhaul the distribution infrastructure, it would be very useful to have a function to convert from one parameterization to another via something like a `staticmethod` in the distribution class)

[2022-06-06 13:18] tupui commented on #16272
@Chinwendu20 Please try with Python 3.9. I remember an issue with some dependencies.

@melissawm this was your problem right?

[2022-06-06 13:20] melissawm commented on #13049
Not a maintainer, but I'll add my two cents from a user/contributor perspective.

I can see the argument for this being overall an implicit expectation, but for those learning I don't think it is obvious at all. If it was, we wouldn't see issues around it. In my opinion, this means the documentation is insufficient, and I don't think it is bad practice to repeat yourself if it improves clarity and

[2022-06-06 14:18] mdhaber commented on #12134
@tupui I don't think `fit` helps here. This is about converting from one set of known parameters to a different parameterization. The difficulty that the equations relating the two parameterizations don't seem to be solvable in closed form.

[2022-06-06 15:22] melissawm commented on #16272
@tupui I believe so - let me check. Thanks for pinging!

[2022-06-06 15:35] josef-pkt commented on #12134
This is not really a reparameterization, at least I don't think there is a standard parameterization using mean and std of the distribution.

To me this looks more like a moment estimator for the weibull parameters (for fixed loc) similar to this https://www.real-statistics.com/distribution-fitting/method-of-moments/method-of-moments-weibull/
However, the `fit` method takes the data observations a

[2022-06-06 16:38] lobpcg commented on #11406
@evgueni-ovtchinnikov could you please check whether this issue is fully resolved or not with your merged https://github.com/scipy/scipy/pull/11829 ?

[2022-06-06 17:06] Chinwendu20 commented on #16272
@tupui I did this conda env create -f environment.yml python=3.9 and I am still getting same error

[2022-06-06 17:11] josef-pkt commented on #13049
I'm now +0.5

In general I think it's unnecessary, when I copy examples then it is usually in an already active notebook where numpy is already imported as np.

However, many users in stats will be mainly using pandas and might be less familiar with with working directly with numpy. For those users having the explicit import in the example will be useful, and advertise numpy.

I checked several do

[2022-06-06 18:37] h-vetinari commented on #15733
Changing milestones after 1.9 branched

[2022-06-06 18:41] j-bowhay commented on #15600
@h-vetinari what state is your pr in? It would be nice to try get this in 1.10.0 so that the comb and factorial tidy ups end at roughly the same time.

[2022-06-06 18:52] WillTirone commented on #1345
Great! Would you be willing to submit a PR for that? That'd be very helpful in closing this issue - unfortunately I'm not familiar with C enough to make the change myself.

[2022-06-06 19:08] tupui commented on #13049
Updated poll:

4 users requesting imports,
5 maintainers (@mdhaber, @tupui, @matthew-brett, @josef-pkt (0.5), @melissawm (counting here since you are more than a user here and involved with newcomers experience)) in favor of imports
5 maintainers (@andyfaff, @ilayn, @tylerjereddy, @rkern, @ev-br) against imports.
2 maintainer (@WarrenWeckesser, @rgommers) undecided (+0)

[2022-06-06 19:55] h-vetinari commented on #15600
There was an open question (mainly for @ilayn) if we're fine with using the canonical extension for the double-factorial, which is off by a factor for even integers. I have some change requests pending but wanted to have some clarity on that before I start changing things around.

Agreed with 1.10, though that's >6 months away, so hopefully enough time.

[2022-06-06 21:08] ilayn commented on #15600
My bad. Sorry for ignoring, reading it a bit more, it seems to me that I shouldn't be the one judging this as I am not 100% on every detail for the use case. Let me ping @WarrenWeckesser and @person142 just in case they want to have a look.

[2022-06-06 21:12] pdcook opened #16363 "BUG: scipy.sparse.linalg.expm_multiply unstable for start != 0"
### Describe your issue.

This is a re-hash of #16311, with hopefully a more correct understanding of what the issue actually is and a significantly better example.

I am able to replicate this issue with both v1.8.0 and v1.9.0.dev0.

### Goal
Compute the matrix exponential of `u * A` where `u` is some scalar and `A` is a square matrix (dense, sparse, or `LinearOperator`). For a range of values fo

[2022-06-06 22:40] bsipocz commented on #13049
Another +1 from the sidelines. I like the idea of having fully executable snippets in the docs (with the logical size of one docstring, or one narrative docs page, no need to repeat imports within those, but ideally it's repeated for the different methods of a class, etc.). And it includes all the imports the example is using, if it pulls in mpl or pandas, then import those, if it directly uses nu

[2022-06-07 00:36] JozsefKutas opened #16364 "ENH: stats: return bunches rather than plain tuples"
There's some old discussion here: https://github.com/scipy/scipy/issues/13118

At the moment, some statistical test functions in `scipy.stats` return plain result objects/dataclasses while some return namedtuples. In particular, this means that tuple unpacking works in some cases but not in others. For example, the following code is fine:

[code]

While the following code throws a type error:

[co

[2022-06-07 01:27] tupui commented on #16364
Hi @JozsefKutas, thank you for bringing this up again. We actually discussed this a few times recently and we want to go the other way, generalize returning objects. This is more maintainable as we can expand or deprecate things more easily with minimal code break on the user side.

[2022-06-07 02:58] mdhaber commented on #16364
To expand on what @tupui wrote: the return values of functions that currently return `tuple`s or `namedtuple`s are being converted into objects ("bunches") that can be unpacked like tuples, have attributes corresponding with those values like `namedtuple`s, and can also have _additional_ attributes and methods. This allows us to grow while maintaining backward compatibility.

For instance, in SciP

[2022-06-07 03:07] mdhaber commented on #16364
Regarding this feature request, though: I think what we can offer to do is convert anything that is a _plain_ tuple to a bunch (which will behave like a namedtuple in the absence of new attributes). Would that address this issue @JosefKutas?

[2022-06-07 07:10] ev-br commented on #7663
@Kai-Striega great! Here's a quickstart:

[code]

where

[code]

So RGI evaluation is an order of magnitude slower on this toy-sized problem :-). It'd be helpful to check how does this scale: does RGI handle larger problem sizes? how does its performance compare to interp2d?

On my machine the OP the fails to allocate the `z` array, so the OP is a bit extreme :-). I'd start by checking if RGI can

[2022-06-07 07:46] EwoutH commented on #16338
Thanks for the extensive response. I tend to agree with your standpoint, but I want to make a few counter points for arguments sake:

This is indeed the case when a variable has a short name. But let's use `descriptive_name` for a medium-sized variable name:

`interp1d(descriptive_name, y, fill_value=(descriptive_name.min(), descriptive_name.max()), bounds_error=False)`
vs
`interp1d(descriptive_na

[2022-06-07 08:16] ogrisel opened #16365 "BUG: regression in DIA sparse matrices with np.nan values"
### Describe your issue.

The scikit-learn test suite has detected a regression in scipy `main` on our nightly test run (details here: https://github.com/scikit-learn/scikit-learn/issues/23531).

The problem is that `np.nan` values are sometimes treated as zeros.

I tried to turn this into a minimal reproducer below. Note that decreasing the size of the original constant array or transposing it ma

[2022-06-07 08:18] byebaibai opened #16366 "ENH: Add multitaper spectrum analysis support in scipy.signal"
### Is your feature request related to a problem? Please describe.

It is previously proposed that the multitaper spectrum analysis method provides a more robust spectrum estimation and shows promising results in many fields such as brain signal(EEG, MEG) analysis.

When I use `scipy.signal.spectrogram`, `scipy.signal.periodogram`, `scipy.signal.welch` or `scipy.signal.csd` to estimate spectrum, t

[2022-06-07 08:30] ev-br commented on #16338
1. Long_descriptive_variable_names_are_nice.  I do believe however that a user who introduced them is thus committing to either typing them or using their IDE auto-completion.
2. Making kwargs interpedependent --- `fill_value="clip"` implying `bounds_error=False` --- is a big no-no. Let's not add more magic to an already messy situation. If we were to start from scratch, we would not likely add th

[2022-06-07 09:28] krishna4all commented on #16286
32 bit Windows is still under use and supported by the Python foundation (even if its the most modern 3.11 beta), Numpy also has win32 binaries for python 3.10. We have frameworks and libraries which support win32. Our libraries depend on scipy. It would be very helpful to have win32 binaries for all python versions in the future.

[2022-06-07 10:07] Chinwendu20 commented on #16272
It seems I have not been able to get past this error. I have tried following the solutions online. I would have really liked to try a PR

[2022-06-07 10:17] tupui commented on #16272
@Chinwendu20 I cannot reproduce the error you are having. I am on macOS and I start from outside any environment. Using either conda or mamba, creating the env is working as expected without any errors. All the following is getting through

[code]

[2022-06-07 10:46] Chinwendu20 commented on #16272
Okay I would try using gitpod. I am using conda on anaconda prompt on a Windows 10 pro system

[2022-06-07 11:58] evgueni-ovtchinnikov commented on #11406
@lobpcg no it is actually not because `svds` for some weird reason transposes square matrices. Consequently, in the case at hand it accurately computes the left singular vectors, but right singular vectors cannot be computed accurately because singular values are too small (machine zero). This was part of the reason I was trying to compute both kinds of singular vectors accurately, and what I did

[2022-06-07 12:14] JozsefKutas commented on #16364
Yes, that sounds fine, thanks for the detailed explanation. Changing the naming of the correlation result object attributes to be more consistent with the other statistical test functions also seems useful.

[2022-06-07 12:17] lobpcg commented on #11406
@tylerjereddy please reopen the issue. It is still not fully resolved.

[2022-06-07 12:18] mdhaber commented on #16364
I'll reopen this, since it's still a valid enhancement request.

[2022-06-07 13:08] mdhaber commented on #16333
@harivamsi9 the way you can tell is here:
https://github.com/scipy/scipy/blob/4cf21e753cf937d1c6c2d2a0e372fbc1dbbeea81/scipy/stats/_morestats.py#L616-L623

Above, `r` is returned by `linregress`.
https://github.com/scipy/scipy/blob/4cf21e753cf937d1c6c2d2a0e372fbc1dbbeea81/scipy/stats/_morestats.py#L603-L605

And you can read about `r` in the [`linregress` documentation](https://docs.scipy.org/doc/

[2022-06-07 14:26] mdhaber commented on #15883
To summarize, BCa has trouble when the observed statistic is less than or equal to the minimum of the bootstrap distribution. Originally, we saw this with degenerate data (gh-14804), which prompted us to emit the "degenerate data" warning. Now, we see that the same problem can occur in other cases (e.g. degenerate statistic).

I see a few options:
1. Something like gh-15892, if we find out that's

[2022-06-07 15:37] Chinwendu20 commented on #16272
I am trying to run the test but I get this error when I use `python runtests.py -v`.

![image](https://user-images.githubusercontent.com/59079323/172419801-96ebcac5-0380-4211-9be4-4f7accca11a1.png)

 I have written the test, take a look:
[code]

[2022-06-07 15:41] tupui commented on #16272
Feel free to submit a PR.

[2022-06-07 17:17] DWesl commented on #15296
I still see this on 1.8.1 with the PyPI source package; is there some special way I'm supposed to get that source?

[2022-06-07 19:33] Chinwendu20 commented on #16272
Okay, I am waiting for the workflow to get done

[2022-06-07 20:25] pdcook commented on #16363
I believe I have tracked down this error in it's entirety.

#### TLDR:

[Line 699 in `_expm_multiply.py`](https://github.com/scipy/scipy/blob/7f941dbc76ad90aa4dc23b613f5c2da454115075/scipy/sparse/linalg/_expm_multiply.py#L699) is
[code]
but it should be
[code]

#### Explanation

[The article used as the source for the algorithm](http://eprints.maths.manchester.ac.uk/1591/1/alhi11.pdf) requires the