[2021-06-17 19:41] stefanv commented on #14241
That's the one, yes.  We could modify it, of course!

[2021-06-18 00:07] LilianaArguello commented on #14247
Very eye opening your comment. Makes sense, I'll spend some time to understand cython. Thanks a lot. I close the issue.

[2021-06-18 00:07] #14247 closed

[2021-06-18 00:28] rkern commented on #14247
For the record, they are not Cython files, but just plain old pure C extension modules.

You can see [here](https://github.com/scipy/scipy/blob/master/scipy/ndimage/src/nd_image.c#L1124) the table that maps the Python name `correlate1d` to the [`Py_Correlate1D`](https://github.com/scipy/scipy/blob/master/scipy/ndimage/src/nd_image.c#L184) C function. That function does not do much except handle th

[2021-06-18 02:01] ShantanuDash commented on #14247
@rkern Thanks for clarifying. I had no idea how cython really worked so just made a guess!

[2021-06-18 02:09] vyasr commented on #9858
Sorry I don't have a great solution for you. This problem has persisted for a long time and is probably a quite subtle ABI incompatibility. I'm not a scipy dev and never dug too much deeper into this beyond what's on this thread. You can try out pyhull and see if that works for you; it looks like you got here from a different package that's making use of scipy so temporarily switching Voronoi libr

[2021-06-18 09:48] xjcvip007 opened #14252 "How to call scipy in C++?"
**Is your feature request related to a problem? Please describe.**
I searched for a long time about the question, but there is no exact question.

**Describe the solution you'd like**

**Describe alternatives you've considered**
Pybind11?

**Additional context (e.g. screenshots)**

[2021-06-18 09:53] ilayn commented on #14252
This question is better suited for Stackoverflow or similar sites since we only consider SciPy related bugs and features. Your question is a generic Python call from C/C++ and there are many solutions existing on google. Pybind11 is calling C/C++ from Python

https://www.codeproject.com/Articles/820116/Embedding-Python-program-in-a-C-Cplusplus-code
https://stackoverflow.com/questions/3286448/calli

[2021-06-18 09:53] #14252 closed

[2021-06-18 09:55] xjcvip007 commented on #14252
Thanks for you quick reply!

[2021-06-18 15:49] pipthagoras opened #14253 "ImportError: cannot import name '_valarray' from 'scipy._lib._util'"
I am currently using scipy version 1.6.3 and I am getting the following error when trying to run my code:

ImportError: cannot import name '_valarray' from 'scipy._lib._util'

I can see that _valarray was removed in the feature "MAINT: Remove _util._valarray #12682", so it is perhaps unsurprising that it cannot be found. I am surprised that it is being looked for in the first place.

Could this be

[2021-06-18 15:50] ev-br commented on #14253
Please add a reproducible example which triggers the error.

[2021-06-18 16:28] denis-bz commented on #9858
@vyasr, appreciate your time -- agree it looks subtle, diminishing returns.
Do you know a scipy-macos guru to ask if Voronoi works / all tests pass on a 10.10 mac ?

Fwiw, `xcrun --show-sdk-version` on my 10.10 -> 10.11❓

[2021-06-18 16:33] #14253 closed

[2021-06-19 09:58] #14236 closed

[2021-06-19 11:29] ilayn commented on #14241
There are some problems with the logo glat or shiny, namely

- The head and tail angles are off,
- it's probably made out of an S shape inverted hence top and bottom parts are different sizes and tilted to the left
- just middle part of is modified but not finished so there are a couple of kinks once seen difficult to unsee
- python head is also not symmetric and looks random
- the tongue comes ou

[2021-06-19 12:05] czgdp1807 commented on #10888
I would like to work on it. Seems like instead of checking in all the directions we will randomly pick a direction and see if it works or not, right?

[2021-06-19 12:10] tupui commented on #14241
Great to see this issue!

Would it be an option to contact the person who is doing the logos for SciPy conf?? They have nice designs all the time and maybe we could take the opportunity to modernize it?

[2021-06-19 12:13] tupui commented on #14239
This would need to be discussed on the mailing list. Could you send an email here?

We recently had talks (you can search the mailing list for this) about having a space on Discourse, Slack and such. I am not sure about this new platform though.

[2021-06-19 17:43] RikVoorhaar commented on #14243
As mentioned in my original post

It seems that it is in fact slower than the LAPACK implementation in my own benchmarks. For square matrices the methods are comparable with the Fortran `lu.f` being slightly faster, but for matrices of shape (M,N) with M>>N the LAPACK implementation is faster.
In extreme cases of a (10,10000) matrix the difference between the two methods is a factor 500.

I can pa

[2021-06-19 18:37] ilayn commented on #14243
Wow I've been looking at this codebase for quite some time now and still get surprises. I just realized that this `lu.f` file is still in use. This probably predates the LAPACK wrappers and hence the custom roll of 4 flavors. As you said we should definitely switch back to regular wrappers unconditionally because there is no need for it. The overhead probably would be negligible depending on the m

[2021-06-19 18:49] RikVoorhaar commented on #14243
Shall I make a PR for a version using a LAPACK wrapper?

[2021-06-19 22:27] david-cortes opened #14262 "cython_blas does not use const in signatures"
Usually, BLAS interfaces for C use function signatures with const qualifiers - examples:
[code]
[code]

However, the Cython `pxd` file for `cython_blas` generates the function signatures **without** `const` qualifier:
[code]

Which makes it harder to wrap into existing programs if they are using `const`.

[2021-06-19 23:14] stefanv commented on #14241
That person is Erick Michaud.

He also provided me with the other SciPy Conference logos, for reference.  I'll attach all the logos I've received here.

[scipy-logos.zip](https://github.com/scipy/scipy/files/6681438/scipy-logos.zip)

[2021-06-20 08:26] tupui commented on #14241
Thanks @stefanv! Do we have the authorization to use/modify these as we please?

Also agree with @ilayn that having a professional look at this would be a good thing. We could ask to clarify the whole branding (and could include guidelines for the website). We could use a SDG for instance (and currently there is a general lack of proposals...).

[2021-06-20 10:42] Michael-git96 commented on #13610
@mdhaber - I would be happy to contribute and submit a pull request for the feas_tol_rerun parameter if you think it is a good idea?

I think my question regarding the feasible tolerances I used and the ones suggested may be better directed to the HiGHS solvers authors.

[2021-06-20 13:25] rgommers commented on #13615
A brief update on where we are:
- Cython support has been merged into Meson
- 11 of 20 SciPy submodules now build (on Linux + OpenBLAS at least), see tracking issue: https://github.com/rgommers/scipy/issues/22
- We're going to end up with a ~1.5 minute build time (given a beefy enough machine), limited by the compilation time of the `sparsetools` C++ code: https://github.com/rgommers/scipy/issues/

[2021-06-20 13:34] ilayn commented on #13615
Wow that's incredible! Great work Ralf!

[2021-06-20 18:03] tylerjereddy commented on #13615
That sounds pretty good, especially the build time. If you have 30 minutes free each evening and end up losing 8-9 minutes for a clean rebuild that can be tough sometimes--even if it cuts down to say 3-4 on a more average machine. Plus, we often end up close to timeouts in CI at the moment.

[2021-06-20 18:20] stefanv commented on #14241
I think we are fine to use and modify the first logo (the one also posted by Ralf above), but not the conference versions.

[2021-06-20 19:51] rgommers commented on #13675
Guess we didn't get around to this - let's see if anyone complains......

[2021-06-21 02:40] person142 commented on #14239
@tupui note that IRC isn't really a "new" platform; the `#scipy` channel on Freenode was in use for a long time (Maybe @pv was an owner?) At a certain point we made some of the more active community members opers and let them moderate because nobody on the core team was up for it. (Somewhere there is a mailing list discussion about this...)

I have no idea how active that channel was before everyo

[2021-06-21 04:40] aaronsnoswell commented on #9412
Hello! I was coming here to post an issue that Nelder-Mead doesn't respect the return value of the callback, then I found this bug and realised that the documentation says this is only for trust-constr.

+1 for the idea of adding this functionality to all optimizers, or perhaps clarifying the documentation in the interim!

[2021-06-21 04:41] aaronsnoswell commented on #9412
If someone points me to the code and wherever tests need to be added I'm happy to attempt a PR to add this functionality.

[2021-06-21 05:05] chenrui333 opened #14265 "[bug] scipy 1.7.0 OSX build failure"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure</summary>

[code]

</details>

full build log, https://github.com/Homebrew/homebrew-core/runs/2871398237
relates to Homebrew/homebrew-core#79690

[2021-06-21 05:53] rkern commented on #14265
This dependency is recorded in `pyproject.toml`: https://github.com/scipy/scipy/blob/master/pyproject.toml#L14

This looks like an issue with the Homebrew build recipe, which you have already fixed.

[2021-06-21 07:27] AnirudhDagar opened #14266 "Auto-register fft backend to avoid context manager"
## Problem & Discussion
[uarray](https://uarray.org/en/latest/) makes multi backend support possible with modules like `scipy.fft`, but the current implementation still requires the user to set backends and use a context manager which is not exactly a very smooth user experience.

As @rgommers mentioned in [(#10204 comment)](https://github.com/scipy/scipy/issues/10204#issuecomment-814355571), it w

[2021-06-21 07:44] tupui commented on #14239
I have seen this indeed, still as we had a long discussion on the mailing list (https://mail.python.org/pipermail/scipy-dev/2021-May/024824.html), I think it would be better to send an email (as it's the way now for such big decisions).

Freenode is like Gitter, Slack, Discourse or any other chat but with less moderation tools as far as I know. On my side, I would not advise for it. Still we can d

[2021-06-21 07:50] prisae opened #14267 "BUG: online doc returns 404 - wrong `reference` in url"
The new theme seems to have introduced a duplicate `reference` in the URL, e.g.,

- Before: https://docs.scipy.org/doc/scipy/reference/linalg.interpolative.html
- After: https://docs.scipy.org/doc/scipy/reference/reference/linalg.interpolative.html

The effect was that today all SciPy search engine results I found were broken.

The search engines will update eventually. But the double `/reference/

[2021-06-21 08:22] ilayn commented on #14239
Freenode just had a global meltdown so Libera.chat is the target where people are flocking to. And probably things are being set up from scratch. Hence thanks for the reservation and offer @Arfrever, much appreciated.

We are not using too much (even none? ) since there are not many users active there. If @pv, @rgommers and @ev-br or any other IRC-capable core devs can take over the channel creden

[2021-06-21 08:36] adeak commented on #14267
This was also noted on the mailing list. @rgommers [said](https://mail.python.org/pipermail/numpy-discussion/2021-June/081898.html) he'd try to tackle it.

On the same topic, small issue I noticed: Release Notes still claims 1.7.0 is not released yet (note at the top) https://scipy.github.io/devdocs/release.1.7.0.html. Didn't seem worth opening a new issue for.

[2021-06-21 08:39] prisae commented on #14267
Must have missed the message of the mailing list then, sorry.

I'll leave it open for your point as well @adeak, but feel free to close it @rgommers

[2021-06-21 08:47] ilayn commented on #14267
The announcement is merged https://github.com/scipy/scipy.org/pull/396 but apparently the site didn't get refreshed. It will show up soon. So I'll close this since Ralf is probably going to see this

Thanks all for your considerations.

[2021-06-21 08:52] adeak commented on #14267
@prisae seems that the corresponding messages were sent to scipy-user and numpy-discussion (I only saw the latter).

[2021-06-21 08:53] prisae commented on #14267
Thanks, yes I double checked it as well. Seems I am not on either of these two...

[2021-06-21 10:11] pandeyp opened #14269 "Installation failure for scipy 1.7.0 on aarch64"
Installation of scikit-learn version 0.23.2 breaks on aarch64 architecture machine with the new release of scipy 1.7.0 when manually built from source.

[code]

I get the following error:

[code]

However, if I install earlier version of scipy, scikit-learn installs without any issuses as given below:

[code]

Is is possible to pin down the scipy version to earlier releases for this scikit-learn v

[2021-06-21 10:34] rth commented on #14269
Thanks for the report. Do you also get an error if you run `pip install scipy==1.7.0`?

[2021-06-21 10:36] pandeyp commented on #14269
Yup. I get the Pythran error as specified above when I install scipy 1.7.0 on aarch64 linux. scipy 1.6.3 installs fine.

[2021-06-21 10:44] rth commented on #14269
Could you please post the full output of `pip install  -v scipy==1.7.0` ? It's strange because pythran is specified in build dependencies in [pyproject.toml](https://github.com/scipy/scipy/blob/f5e613cd5bd505f68c5a23be06d7622327ad93f8/pyproject.toml#L16) so it should have been installed. Sorry I don't have an aarch64 machine easily available to reproduce.

[2021-06-21 10:45] rth commented on #14269
And you can probably change the issue tile to "Installation failure for scipy 1.7.0 on aarch64". The "0.23.2" doesn't really make sens in the context of scipy.

[2021-06-21 11:43] Shandelier opened #14270 "SciPy reference guide URL schema change - not found page"
Auto generated links are broken -- all google links points to Not Found page.

Example link from google:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html

working link:
https://docs.scipy.org/doc/scipy/reference/reference/generated/scipy.stats.ttest_rel.html
doubled part '/reference'

[2021-06-21 11:46] ilayn commented on #14270
Duplicate of #14267

Thanks for letting us know @Shandelier we are fixing it as we speak. Let's keep track of it there

[2021-06-21 11:46] #14270 closed

[2021-06-21 11:49] ilayn commented on #14267
@tupui is there any place where we can have a look at the doubling problem closely as it is picking up some traction? Maybe past related PRs where it might have been introduced

[2021-06-21 13:26] rgommers commented on #14267
Pretty sure it's an uploading issue; the devdocs don't have the duplicate `reference/reference`.

[2021-06-21 13:29] jcharlong opened #14271 "scipy.io.loadmat failure in 1.7.0"
My issue is about a failure to load MATLAB files with scipy 1.7.0. I use `scipy.io.loadmat` (with `squeeze_me=True`) to load MATLAB files & it works just fine in 1.6.3.

I traced the issue down to a change in `scipy.io.matlab.mio5.MatFile5Reader`'s `get_variables` method. I noticed when diffing the 1.7.0 branch with the 1.6.3 branch that [line 313](https://github.com/scipy/scipy/blob/f5e613cd5bd50

[2021-06-21 13:48] rgommers commented on #14267
It's not an uploader bug, the structure actually changed:

https://docs.scipy.org/doc/scipy-1.6.3/reference/
https://docs.scipy.org/doc/scipy-1.6.3/reference/tutorial/index.html
https://docs.scipy.org/doc/scipy-1.6.3/reference/cluster.html

https://docs.scipy.org/doc/scipy-1.7.0/reference/
https://docs.scipy.org/doc/scipy-1.7.0/reference/tutorial/index.html#user-guide
https://docs.scipy.org/doc/sc

[2021-06-21 13:50] rgommers commented on #14267
API docs are more important than tutorial though, so I'm tempted to drop the `reference/` anyway, it doesn't quite make sense. Copying things over on the server to `..` will give us double copies of everything, but seems like a good band aid to fix all links. Any concerns with doing that?

[2021-06-21 13:53] rgommers commented on #14267
The offending line is the last one here (from `doc/Makefile` in this repo):
[code]

[2021-06-21 13:58] ev-br commented on #14271
Could you provide a self-conrained example? Both python code and a (minimal) matlab file, which together reproduce the problem?

[2021-06-21 14:31] jcharlong commented on #14271
I can reproduce locally by simply running
[code]
Where `matlab.mat` is the problem file.

I tried but can't seem to generate a new MATLAB file that can produce this effect. Even simply loading & re-saving a problem file (via MATLAB) appears to resolve the issue. Not sure what the original MATLAB version/environment/settings were when the file was created.

The issue is cropping up at work where we

[2021-06-21 14:44] ev-br commented on #14271
I *think* adding a if `hdr.name is not None else 'None'` would be OK if it fixes a backcompat corner case issue even if there is no unit test we could add.

[2021-06-21 14:54] jcharlong commented on #14271
Yes, I can take a stab at submitting a PR. Likely won't be able to get to it until this upcoming weekend at the earliest though.

[2021-06-21 15:14] rgommers commented on #14239
I am definitely not capable:) Also, I think IRC is a thing of the ancient past, so I'm happy to let it die. If there are still hardcore users that value having a `#scipy` channel on Libera, that sounds perfectly fine, but I don't think it should be an official project thing.

[2021-06-21 15:30] ev-br commented on #14239
Same here, sorry

[2021-06-21 15:37] stefanv commented on #14267
The tutorial url makes more sense without the `reference` in it anyway, so +1 on simply copying to `build/dist`.

[2021-06-21 15:50] rgommers commented on #14267
Okay, `cp -R . ..` run on the server. That fixes the broken links to the API docs. I am changing the `Makefile` and rebuilding, to push up a clean doc build and ensure we have the proper fix in place.

[2021-06-21 15:53] adeak commented on #14267
Should the rebuild also fix the "Scipy 1.7.0 is not released yet!" note in the release notes, or should I open a new issue to track that?

[2021-06-21 15:54] rgommers commented on #14267
I'll fix that too, thanks for the suggestion.

[2021-06-21 19:49] pv commented on #14239
Official channel would need someone to moderate. I don't really have the time. Some people volunteered for the old channel years back and maybe they're still interested, but can't find the mailing list thread about that right now.

[2021-06-22 03:01] czgdp1807 commented on #10888
@shoyer Is the above approach correct (roughly)? I can raise a PR and there we can discuss more on this.

[2021-06-22 03:29] leofang opened #14273 "`scipy.signal.{medfilt,medfilt2d}` hit "Windows fatal exception: access violation" with SciPy 1.7.0 on Windows"
Since yesterday with the new SciPy 1.7.0 release, CuPy's Windows CI is experiencing the following fatal error (cupy/cupy#5364) and the CI was interrupted.

#### Reproducing code example:
The failing tests can be found here:
https://github.com/cupy/cupy/blob/4469fae998df33c72ff40ef954cb08b8f0004b18/tests/cupyx_tests/scipy_tests/signal_tests/test_signaltools.py#L250-L281

The failure is reproducible

[2021-06-22 03:43] leofang commented on #14266
This part is a bit concerning, as SciPy is an optional dependency of CuPy, and I feel too much magic has to happen behind the scene to make this proposal work. Can't we just ask users to explicitly call `scipy.fft.set_global_backend()` if this is desired?

One thing I don't like `uarray` (for now!) is that not much effort has been invested since it took the initial storm to SciPy/CuPy/etc. Only a

[2021-06-22 05:59] AnirudhDagar commented on #14266
Hi, @leofang thanks a tonne for your feedback :))

As you mention CuPy's optional dependence on SciPy, the only thing to make this work is to add a (similar to [this](https://github.com/cupy/cupy/blob/a975960dca9829253ecc65ef1dedefd2e2bf93c4/cupyx/scipy/__init__.py#L7)) try-except block (still SciPy remains optional) [here](https://github.com/cupy/cupy/blob/master/cupyx/scipy/fft/__init__.py) and

[2021-06-22 08:43] pandeyp commented on #14269
First I install cython and pybind11 as not installing them throws error when I install scipy:

[code]

Then I install scipy:
[code]

The stacktrace below:

[code]

[2021-06-22 09:02] rth commented on #14269
Could you please provide the output of `pip --version` and `python -c "import setuptools; print(setuptools.__version__)"`? I have the impression that build isolation is not happening in the log.

[2021-06-22 11:23] owenmorgannicholas opened #14276 "scipy.special.owens_t reports incorrect value if second argument is infinite"
My issue is about scipy.special.owens_t not returning the correct value when the second argument is infinity.

For example, scipy.special.owens_t(0,numpy.inf) should return 0.25, not 0.5.

It looks as if scipy.special.owens_t(x,numpy.inf) always returns twice the value that it should do. Please see https://en.wikipedia.org/wiki/Owen%27s_T_function for some basic information about the function. I h

[2021-06-22 11:37] FirefoxMetzger opened #14277 "Broken reference in docstring of scipy.stats.power_divergence"
Quick Link: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.power_divergence.html#scipy.stats.power_divergence

The parameter `lambda_` creates a reference to a paper in its documentation, but this reference is not rendered in the docs. Instead, a mangled string is shown. This happens twice for different references; however, the raw docstring looks good.

Not sure if this is cause

[2021-06-22 14:08] leofang commented on #14266
You still need to motivate why users can't just call `set_global_backend()` and register a backend themselves. Like you said it's just extra one or two lines of code, and I don't see you'd consider the status quo "not smooth".

From CuPy's perspective, if SciPy decides to do black magic behind the scene, CuPy will follow. The main question is if it's really necessary. Of course, the other two ques

[2021-06-22 18:21] mdhaber commented on #13610
primal tol = 1e-7
dual tol = 1e-7

Assuming these are `primal_feasibility_tolerance` and `dual_feasibility_tolerance`, just note that these are the default values. So there is not really a difference between this observation and what @mckib2 mentioned above

As to why, yes, it may be better directed to the HiGHS authors. I agree that it seems counter-intuitive at first, but depending on how the to

[2021-06-22 19:18] Pixadus commented on #13409
For anyone else still having trouble with this, I found that `pip3 install scipy` works great with the homebrew version of python (3.9.5 and pip 21.1.2), but does not with the default installed version of python3, even with the solutions above.

Running `brew install python` and creating the aliases `alias python="/opt/homebrew/bin/python3"` and `alias python3="/opt/homebrew/bin/python3"` within y

[2021-06-22 20:31] rgommers commented on #14266
There's a couple of questions here:

_Why isn't the uarray backend system used much at the moment?_

I suspect the main reason is that there is no documentation. The tutorial (http://scipy.github.io/devdocs/tutorial/fft.html) doesn't mention it at all. The reference API docs (http://scipy.github.io/devdocs/reference/fft.html#backend-control) have very sparse examples, and those use SciPy itself on

[2021-06-22 20:45] rgommers commented on #14266
Also I think part of the complexity of the implementation is unnecessary. It came from (initially `__array_ufunc__` and `__array_function__`) wanting to enable things like:
[code]

I think that kind of mixed-kind array operation should just raise an exception like CuPy, PyTorch, TensorFlow, etc. all do - wanting to allow mixing everything together just ends up with lots of bugs and hard-to-predict

[2021-06-23 02:05] tylerjereddy commented on #14273
Any chance it is related to the release of the GIL recently added: https://github.com/scipy/scipy/pull/13532

[2021-06-23 02:30] emcastillo commented on #14273
I hadn't verified this yet in a windows machine, but the CuPy tests fail with a code like this:

[code]

[2021-06-23 02:30] tylerjereddy opened #14282 "DOC, CI: stats skewtest refguide failure"
This is showing up in the CI of unrelated PRs like gh-14281 and appears to be related to small floating point precision difference (a bit outside my expertise, but pasting the raw log contents below):

[code]

[2021-06-23 06:42] ilayn commented on #14273
I can't reproduce these on Windows 10, Python 3.9.2, NumPy 1.20.1, Scipy 1.17.0, all pip installed.

[2021-06-23 06:52] pmla commented on #14122
I am in favour of this feature. @nmayorov what is your opinion?

[2021-06-23 08:10] Busteren commented on #14269
@pandeyp hi, had the same issue yesterday. For me, it was that `pip` wasn't upgraded and caused an issue. (Thought to mention in the off chance it might help)

[2021-06-23 08:13] rth commented on #14269
That was also my guess hence the request for version above. That's for the confirmation @Busteren !

[2021-06-23 08:34] ev-br commented on #14282
There's an issue in refguide-check, I'll take a look.

[2021-06-23 10:56] ev-br commented on #14282
Locally a different one fails for me, but it's numerical noise anyway and hopefully gh-14283 makes it more robust by delegating these cases to `np.allclose`.

[2021-06-23 17:00] tupui commented on #14277
Thanks indeed. This is because the block is written as a code block. Would you like to make a PR to fix it?

[2021-06-23 17:55] adrn commented on #13619
Just a note to say that the default tolerances for RK45 also led to some unexpected results in my use case (computing a circular orbit in a point mass gravitational potential!). With default tolerances, comparing the non-stiff solvers:
![image](https://user-images.githubusercontent.com/583379/123145054-65689600-d42a-11eb-8fe5-57f863511f5b.png)

It surprises me that RK23 does so well with the defau

[2021-06-23 18:21] Marten-Reehorst commented on #9146
trust-constr seems to just completely ignore the bounds I give it. See also https://stackoverflow.com/questions/52098146/scipy-how-can-i-use-bounds-with-trust-constr (not me but seems to have the same problem). Has anyone found an alternative? I need to be able to supply both the jacobian and the Hessian.

[2021-06-23 18:54] FirefoxMetzger commented on #14277
Sure. Is there a way to create references in a code block? If not, what would be the preferred way to fix it?

[2021-06-23 19:19] fuglede commented on #3056
Just ran into this one for L-BFGS-B:

[code]

I haven't been able to reproduce this even after quite a few attempts (RNG seems friendly to me). In my case, what I'm doing is using `res = minimize(f1, x0, bounds=[(-20, 20)]*n)`, followed by `minimize(f2, res.x, bounds=[(-20, 20)]*n)`; that is, using the result of one optimization as the initial guess for another one with the same bounds. If `res.x`

[2021-06-23 19:51] mbalbi opened #14286 "Increase accuracy for MVNUN"
Hello there!

I am trying to use the Multivariate Normal Integration algorithm that is embedded in scipy, in the mvn package. Specifically, I am trying to use mvn.mvnun function, for very large number of variables (n>1000).

The function seems to return 0.0 with INFORM value 0, for this very large covariance matrices. I suspect that there might be an issue of numerical accuracy in the simulations,

[2021-06-23 20:26] tupui commented on #14277
I found this https://stackoverflow.com/questions/44527391/how-to-include-an-internal-reference-in-a-code-block but recently when adding such things we just did not use code blocks. See for instance description of parameters from optimization or stats module.

[2021-06-24 00:04] andyfaff commented on #3056
@fuglede  all the minimize methods are deterministic, so if you do find a MWE that demonstrates the issue please post it in a new issue (closed issues are not likely to be curated).

When an LBFGSB minimization is started the initial vector is [clipped to bounds](https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb.py#L298), so the initial guess should be within the bounds.

The numeri

[2021-06-24 00:22] fuglede commented on #3056
Ah, both of my `f1` and `f2` were non-deterministic. Perhaps then what's happening is simply that for such a function `minimize` might produce results outside of the bounds (and maybe I'm being overly optimistic in using such a non-deterministic thing with `minimize` in the first place (although it generally handles that situation really well!)? But still, you're saying that that result would be c

[2021-06-24 02:08] andyfaff commented on #3056
`minimize` shouldn't produce a solution that is out of bounds. Can you check that you're not altering `x` in your user function?

[2021-06-24 03:41] ml-l opened #14288 "rv_histogram misrepresenting lowest bin when computing cdf?"
Hi. I've noticed that for a histogram with support [a,b] that computing the cdf(a) via rv_histogram (once fitted) will always result in 0 no matter how how weight may be allocated to that initial bin.

From plotting the cdf and looking into the source code, the problem seems to be in the [`__init__`](https://github.com/scipy/scipy/blob/v1.7.0/scipy/stats/_continuous_distns.py#L9267-L9296) in setti

[2021-06-24 06:13] ayappanec opened #14289 "Scipy-1.7.0 build fails in AIX"
pip install scipy fails with the below error in AIX. The earlier version 1.6.3 had no problem in AIX.

    setup.py:492: UserWarning: Unrecognized setuptools command ('dist_info --egg-base /tmp/pip-modern-metadata-1jt97u3e'), proceeding with generating Cython sources and expanding templates
      ' '.join(sys.argv[1:])))
    Running from SciPy source directory.
    Traceback (most recent call last

[2021-06-24 07:42] tupui commented on #14289
Can it be related to Pythran @serge-sans-paille??

[2021-06-24 08:09] arpitjain305 opened #14290 "scipy.stats.rv_continuous.fit not able to fit data"
I have discrete & normalized (by z-scores) univariate data, which looks like it should fit well with an exponential-family distribution such as one of 'beta', 'expon', 'gamma', 'lognorm', 'pearson3', 'triang', 'uniform', 'weibull_min', 'weibull_max'.

I am using  `scipy.stats.rv_continuous.fit` to fit the data without any additional args. However, the KS-test statistics I am getting for each of th

[2021-06-24 08:24] yalwan-sage commented on #14041
Sorry for little in the way of updates

I have managed to get the scheme to solve when I quantise my weights (before augmenting the graph) -- it seems like it may in fact be related to the unbounded complexity with rational weights issue. I will try to see if I can distill this down to a small example.

[2021-06-24 08:34] czgdp1807 commented on #10888
I looked into the code of `scipy.optimize.grad_check` and found out that, as of now only, (f(x + h) - f(x))/dx inside `approx_derivative` function in `_numdiff.py`. In other words, directional derivatives are not computed. So, in this issue, do we need to do that like picking a random direction and then comparing the projection of analytical derivative with the numerically approximated derivative

[2021-06-24 09:18] ilayn commented on #14239
I found an issue from two years back where Pauli mentions again a few years prior to that https://github.com/scipy/scipy.org/issues/308

That means we really have no IRC presence and whatever it was is now gone after Freenode "suicide" described in the link in the original post.

[2021-06-24 09:28] serge-sans-paille commented on #14289
It certainly is! Looks like we need to ship a configuration file for aix, which we don't.

@ayappanec  what's the output of `sys.platform` on AIX?

[2021-06-24 09:34] ayappanec commented on #14289
It is "aix6" or "aix7" based on the AIX OS level where python is built. We can safely assume it contains "aix".

[2021-06-24 11:08] adch99 opened #14292 "Order of indices in n-dimensional fourier transform (fftn)"
My issue is about the order of the indices in the output of `scipy.fft.fftn`. Concretely, `fftn( f(t1, t2, t3) )` seems to return `f_tilde(m3, m1, m2)`, at least when used with meshgrid.

#### Reproducing code example:

[code]

#### Returned Output:
[code]

However, if I we change

[code]

to

[code]

Then things start to work:

[code]

I have used the function `f(t1, t2, t3) = exp(-1j * cos(t1) *

[2021-06-24 11:21] pandeyp commented on #14269
After updating pip, the installation is working fine.

[2021-06-24 11:21] #14269 closed

[2021-06-24 12:35] irekzayniev commented on #14265
scipy 1.8.0dev works good after build on M1 with numpy 1.21.0

[2021-06-24 12:38] 2sn commented on #14265
I try to install scipy using pip on M1, but it fails due to compiler flags
[code]

[2021-06-24 13:18] fuglede commented on #3056
I'm not. (But would I expect that to make a difference here -- are there function calls taking place between the result being returned from one `minimize`, and the input validated in the next one?)

But again, I'm still unable to reproduce the issue, so I probably wouldn't pay more attention to me myself, unless something like this happens to show up elsewhere.

[2021-06-24 13:30] mdhaber commented on #14290
Passing a good guess of the parameters can help. For instance, the next positional arguments after the data are treated as guesses for the shape parameters, and you can pass `loc` and `scale` to guess the location and scale. Fixing parameters you know (e.g. passing keywords `floc`, `fscale`) can also really help. Some of those distributions you mention have analytical formulas implemented for the

[2021-06-24 16:17] laurent90git commented on #14246
This is not implemented so far, however could be easily added I think. In the meantime, you can simply perform multiple integrations, each time setting the former endpoint as starting time and the new endpoint at the next time point where you want the RHS to be evaluated.

[2021-06-24 17:51] stefanv commented on #14241
I've received confirmation from Enthough that they have copyright on all the logos, but that we are free to modify and use the SciPy logo.

[2021-06-24 18:06] tupui commented on #14241
To be clear, SciPy logo here means all the zip you posted or just the one mentioned by Ralf? (both shiny and not shiny?)

[2021-06-24 18:15] dylan-thomas832 commented on #9698
@jorgepiloto Was there any continuation to this work? I have interest in using a higher order ODE than DOP853, but this seems to have been dropped.

[2021-06-24 18:56] stefanv commented on #14241
All these logos are copyrighted by Enthought, AFAIK.

[2021-06-24 19:39] #14282 closed

[2021-06-24 19:47] V0lantis commented on #14157
If I resume :

We want to create a maintainable setup on a stable machine which will works 24/24.
To have some backwards information and comparison data, we would like to run the benchmarks for a while back (e.g. All PRs starting 2 years ago). If the server is up 24/24, I don't think we need to restrained ourselves on particular PR, since we have at maximum 3 or 4 PRs a day. The server would be ab

[2021-06-24 19:57] V0lantis commented on #14019
Hello Chris,

Could you try your code on the master branch ? I tried on my machine (on master), and I wasn't able to reproduce the warning.

[2021-06-24 22:46] grlee77 commented on #14292
I think the issue is just that you need to specify `indexing='ij'` in the call to `meshgrid`
[code]

If I make that change and then remove the transpose in the first line of `test` it works for me. Specifically
[code]

[2021-06-24 22:48] grlee77 commented on #14292
It is easier to see the difference if you set axes of different sizes, as in:
[code]

Note that the default meshgrid setting has the first two axes swapped!

[2021-06-25 03:22] czgdp1807 commented on #14234
I noticed that, `openmp` directives aren't there in `_rbfinterp_pythran.py`, so OpenMP isn't used I believe. Should we add them?

[2021-06-25 03:29] czgdp1807 commented on #13308
Some benchmarking code and results are available at [here](https://github.com/Quansight-Labs/rbfi-benchmark). Please let me know your feedback. I will make updates as soon as possible.

P.S. It seems like, `openmp` directives aren't mentioned in `_rbfinterp_pythran.py` file, so, `openmp` functionality might not be in use as of now. Let me know if I can add these directives. Thanks.

[2021-06-25 08:52] jorgepiloto commented on #9698
Hi @dylan-thomas832! To be honest, I forgot about this, thank you for pinging me again. After @nmayorov implemented the current DOP853 (see previous link to PR), I think the path on how to add this new solver is more clear.

[2021-06-25 09:13] rgommers commented on #14234
No we shouldn't add any directives here. OpenMP isn't portable, and hence not allowed in SciPy binaries (see https://github.com/scipy/scipy/issues/10239#issuecomment-795030817). Let me comment on your other question in gh-13308 in more detail.

[2021-06-25 09:18] rgommers commented on #13308
This is my mistake I think. In the todo list in the issue description I wrote _"try the Pythran OpenMP support as well - we won't want that in binaries, but for people who want optimal performance and are happy to build from source, getting it for free may be useful."_. What I seemed to remember when writing that was that Pythran would automagically parallelize things if you give it a `-fopenmp` f

[2021-06-25 09:20] rgommers commented on #13308
By the way, SciPy 1.7.0 has been out for 5 days and no one has reported a Pythran related build failure yet - that's a good sign:)

[2021-06-25 09:21] czgdp1807 commented on #13308
No problems. Though it is good on Pythran's part to not do parallelization of loops on its own. So, the next thing to do is to add the benchmarking code in scipy tutorial, right?

[2021-06-25 09:24] rgommers commented on #13308
Thanks @czgdp1807! It looks good to me. Even though for this algorithm there's no speedup when using SIMD, that was expected as you explained, based on the algorithm having another bottleneck.

It would be useful to add to the README how to obtain the with/without SIMD results. I believe it's simply adding `define_macros=[`-DUSE_XSIMD']` to `setup.py` or as an evironment variable? That worked as e

[2021-06-25 09:30] rgommers commented on #13308
I'd suggest that since it requires (re)building extensions, it belongs in the developer guide (https://scipy.github.io/devdocs/dev/index.html) rather than in the tutorials. Right now we have these section in the dev guide:

<img width="328" alt="image" src="https://user-images.githubusercontent.com/98330/123402750-5c053800-d5a8-11eb-9334-eda55070ed36.png">

How about adding a new section titled `S

[2021-06-25 10:24] rgommers commented on #14265
It's trying to build `numpy==1.19.3`. Try installing `1.21.0`, which was just released and has wheels for macOS M1. And then build SciPy with `--no-build-isolation`. Warning: it's likely that SciPy still has issues on M1, we haven't spent much time on it since NumPy only just gained support.

[2021-06-25 10:29] rgommers commented on #14289
Can you try `export SCIPY_USE_PYTHRAN=0` and see if that fixes things @ayappanec? We haven't tested the AIX build after the recent build system changes for Pythran, so it failing is not completely surprising.

[2021-06-25 11:00] rgommers commented on #14265
So the original bug report here was about `Cython.tempita`, and is solved by updating the Homebrew recipe.

The second report is about M1 build - it apparently should work with `1.21.0` + current master. Which is great news. Hence I'll close this issue.

I marked the other open M1 bug reports for `1.7.1`: https://github.com/scipy/scipy/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.7.1. In case someo

[2021-06-25 11:00] #14265 closed

[2021-06-25 11:07] rgommers commented on #13364
Thanks for the update @judahrand! All of these are `RuntimeWarning`'s coming from which the test suite turns into errors on the master branch. On a release branch that's not done, so it looks like all tests would pass.

The warnings are incorrect it looks like, but not too surprising to see those on new hardware. They should be fixed in NumPy, if they are still happening with NumPy 1.21.0 and on m

[2021-06-25 11:08] 2sn commented on #14265
@rgommers Thanks for your reply.  Numpy 1.21.0 was already installed.

with a little bit of extra fiddling it seems to install
[code]
(but it does take a really long time, feels comparable to installing the entire OSX)
[code]

[2021-06-25 11:10] rgommers commented on #14265
Great, thanks for the update!

Building SciPy from source takes about 10-15 minutes, that's not surprising. We'll try to get wheels up for `1.7.1`. If it takes a lot longer than 15 minutes, I'd like to learn more about what it's doing all that time.

[2021-06-25 11:12] 2sn commented on #14265
I did not exactly time it, but I would say it took around 5 min.  (M1 Mac Mini 16GB)

[2021-06-25 11:14] rgommers commented on #14265
Okay, that's pretty good. My 3 year old Macbook takes more than double that:)

[2021-06-25 11:20] 2sn commented on #14265
From scratch, slightly less than 5 min.

[code]

[2021-06-25 11:46] gerritholl opened #14296 "KDTree returns indices with float dtype; was (and probably should be) int"
Since SciPy 1.6, the `scipy.spatial.KDTree` `data` attribute has dtype `float64`.  Until SciPy and including 1.5, it had dtype `int64`.  Considering that the algorithm returns indices, it would seem that the dtype should be int, not float.

I can't find this specific behaviour change in the [SciPy 1.6.0 release notes](https://docs.scipy.org/doc/scipy/reference/release.1.6.0.html), but it does note

[2021-06-25 11:55] czgdp1807 commented on #14121
Hi. @dschmitz89 @rgommers Can I work on this issue? Seems interesting to me, so thought of asking here. I can give dedicated time to this issue. Let me know. Thank you.

[2021-06-25 12:21] denis-bz commented on #9146
@Marten-Reehorst,
can you point to a minimal example on the web ? How do you give your [Bounds](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.Bounds.html) ? How do you give grad and hess / hessp ?
(Your link to SO works with `Bounds`.)
Also, the `Elec` test in [test_minimize_constrained.py](https://github.com/scipy/scipy/blob/master/scipy/optimize/tests/test_minimize_constrai

[2021-06-25 12:43] adch99 commented on #14292
@grlee77 Thank you for that explanation! I knew the issue had something to do with `np.meshgrid` but didn't know exactly what. However, the second example in the scipy docs for [fftn](https://docs.scipy.org/doc/scipy/reference/generated/scipy.fft.fftn.html) does not use `indexing = "ij"`:

[code]

I would request that this example to be changed to reflect the fact that we require the `ij` matrix i

[2021-06-25 13:10] ayappanec commented on #14289
@rgommers It worked , exporting SCIPY_USE_PYTHRAN=0

[2021-06-25 13:12] andim commented on #14121
From my side happy to have you go ahead! I'm still stretched quite thin so
it would surely take me longer.

On Fri, Jun 25, 2021, 07:55 Gagandeep Singh ***@***.***>
wrote:

[2021-06-25 13:49] rgommers commented on #14121
+1 this would be great @czgdp1807!

[2021-06-25 13:58] czgdp1807 commented on #14121
Awesome. I will start looking into the steps discussed above from tomorrow. May be a PR by the end of next week (for early reviews).

[2021-06-25 14:59] FirefoxMetzger commented on #14277
Done. Let's see if it renders properly. I briefly tried building the docs locally, but apparently, that is not so trivial on a Windows machine since it involves building scipy from source (if I understand correctly).

@tupui Are you able to review?

[2021-06-25 15:26] rgommers commented on #14289
Great, I think that's fine for now on AIX. For the 1.8.0 release I expect we have to do some real work on AIX, to make both Pythran and Meson work. So might as well take those two things together and not worry about it too much right now.

[2021-06-25 15:59] rgommers commented on #14273
Just to make sure, since I cannot access the CI logs - this used a SciPy wheel from PyPI? Or a conda-forge package or from-source build? And is it crashing only on Python 3.7, or also 3.8/3.9?

[2021-06-25 16:00] rgommers commented on #14262
That seems like a good idea to add. Thanks for the suggestion @david-cortes.

[2021-06-25 17:29] shoyer commented on #10888
Internally, `grad_check` calls `approx_fprime`, which in turns calls `approx_derivative` and ends up looping over dimensions, e.g., inside `_dense_difference`:
https://github.com/scipy/scipy/blob/44e31b1eb202ef91caad059952ba268d2610a60b/scipy/optimize/_numdiff.py#L553

Instead, we could have an option to pick a single _random_ direction to compute the gradient in, instead of checking [every one-ho

[2021-06-25 18:50] judahrand commented on #13364
`numpy==1.21.0` has 44 failures on `maintenance\1.7.x` and `numpy` master branch results in 43 failures. So not much progress on the Numpy side of this it seems?

[2021-06-25 18:55] rgommers commented on #13364
`1.21.0` was released a few days ago, so that's not surprising (about ~1 month of development in master since branching). Do the tests of numpy 1.21.0 itself pass, or do they show similar warnings? I would expect the latter.

[2021-06-25 18:57] isuruf commented on #13364
There was one test in numpy that was marked as xfail which is the reason for the RuntimeWarnings here. https://github.com/numpy/numpy/issues/18555

[2021-06-25 19:17] ganesh1076 opened #14298 "scipy.stats.chisquare is not working"
My issue is about ...
scipy.stats.chisquare is not working since last update

#### Reproducing code example:

[code]

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

[2021-06-25 19:26] jakevdp commented on #14298
I believe this was an intentional change, because the test was previously invalid when this condition wasn't met. See #13362

[2021-06-25 21:47] dschmitz89 commented on #14121
+1 from my side too, at the moment I cannot find the time unfortunately.

On the discussion about the C vs Fortran implementation: it seems like a standalone version of the f2c implementation from NLopt is available (no NLopt baggage and removed bugs compared to the Jablonsky's Fortran implementation): https://github.com/rlnx/DiRect

But of course @czgdp1807 : it is up to you which version/languag

[2021-06-25 22:24] rgommers commented on #13364
Should no longer be needed (was due to a compiler bug fixed around Feb'21), xref https://github.com/numpy/numpy/issues/17807#issuecomment-868858311.

[2021-06-26 06:39] czgdp1807 commented on #14121
N.B. - https://github.com/andim/scipydirect/issues/11

I will try using `scipy/tools/generate_f2pymod` and will see if the things work out there. The process will not be that hectic. Mostly the fortran warnings are non-serious (unused variables and labels). The C code in NLopt is also not updated much (i.e., only two commits in `direct.c` one for adding the code and other for silencing, https://gi

[2021-06-26 10:35] czgdp1807 commented on #10888
Thanks @shoyer for the ideas and detailed explanation.

I was thinking the same. Using one of all the one-hot vector might be beneficial in the sense that we won't be required to take the projection of analytical gradient, instead just indexing it will work. But yeah, bugs may escape. Using a fully random normalized vector would be much better.

I will raise a PR on Monday for this and we can impl

[2021-06-26 13:42] ubalklen opened #14304 "Jaccard distance greater than 1 if elements are strings"
[code]

[2021-06-26 17:24] mdhaber commented on #14298
Thanks @jakevdp; that's correct. The user is responsible for normalizing the data such that the observed and expected frequencies have the same sum.

[2021-06-26 17:24] #14298 closed

[2021-06-26 20:55] alexsherstinsky opened #14306 "Automatically Estimated Minimum Number of Bootstrap Samples"
**Is your feature request related to a problem? Please describe.**
The feature request will add a valuable capability to the "https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html" algorithm.  Specifically, it will allow an up to two orders of magnitude reduction in the number of bootstrap samples (e.g., from the default of 10,000 down to 100).  Equally importantly, this

[2021-06-26 22:28] koutsakis commented on #8644
Thank you for supporting this thread. I'm facing similar behavior as described from @Farnazmdi. However, the proposed solution from @denis-bz did not improve things. Has this currently been fixed in future versions of Scipy @antonior92 ? I'm using Scipy 1.5.2.

[2021-06-27 04:12] jakevdp commented on #14304
Thanks for the report - the jaccard similarity is intended for use with boolean arrays (as mentioned in the [doc string](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.jaccard.html)), and its behavior with other input types is ill-defined.

It may be better if the function returned a `ValueError` in this case, rather than returning an ill-defined value. But in the mean

[2021-06-27 05:20] xk1009111 opened #14307 "Lost triangles in 2D Voronoi diagram"
I am trying to analysize the geometrical features of triangles in 2D Voronoi diagram generated by SciPy. Although triangles can be generated , they are not recognized as polygons. In addition, the vertex coordinates, edge number, and neighbor edges of the triangle can not be extracted. Do you know how to get the geometrical information of triangles?

[2021-06-27 05:27] rkern commented on #14307
The [Voronoi diagram](https://en.wikipedia.org/wiki/Voronoi_diagram) of a set of points is not composed of triangles. Its dual, the [Delaunay triangulation](https://en.wikipedia.org/wiki/Delaunay_triangulation), is. `scipy` has routines for both, but to help you do what you want, you'll need to clarify more precisely what it is that you want to do. Can you show us what you've tried so far?

[2021-06-27 05:53] xk1009111 commented on #14307
Thank you! In 2D Voronoi diagram, each seed point corresponds to a polygonal region, and each polygon contains at least three edges. I noticed that the triangle can be generated by SciPy (see attached image), but its information can not be extracted.

![triangle](https://user-images.githubusercontent.com/86545328/123534313-ebe4e680-d74e-11eb-87bf-d903c22a94bd.png)

[2021-06-27 09:20] denis-bz commented on #8644
@koutsakis, are you sure you clipped `x` to Bounds inside the `jac` and `hessp` functions too ?
(not sure that's enough -- afaik you have to project gradients along the bounds / constraint sets, various ways of doing that.)
Testcases anyone ?

[2021-06-27 15:29] HDembinski commented on #12282
AFAIU hanging this was a mistake. The chi-square test as described on Wikipedia https://en.wikipedia.org/wiki/Chi-squared_test does not require that the sum of the observations is equal to the sum of expectations. It is derived on the Wikipedia under the assumption that sum(x) == sum(m), but even without enforcing this condition, if the x are sampled from the m, the statistic has a chi-square dist

[2021-06-27 15:34] HDembinski commented on #12282
The new test that checks `sum(f_obs) == sum(f_exp)` also slows down the whole function.

[2021-06-27 16:10] HDembinski commented on #14298
The argument for the chisquare test is wrong, there is no need to normalize the data such that observed and expected frequencies have the same sum. I added my argument to https://github.com/scipy/scipy/issues/12282.

Even without normalization, the test statistic is asymptotically chisquare distributed if the hypothesis is true.

The only real question is whether normalizing makes the test statist

[2021-06-27 16:53] rkern commented on #14307
The `regions` attribute has the lists of points for each of these Voronoi cells. They are indices into the `vertices` attribute to get the actual coordinates. The documentation describes this more fully.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.Voronoi.html

[2021-06-27 16:55] rkern commented on #14307
I'm closing this because there's no action that we need to take. If you have more questions, you can still ask them, or join us on the [mailing list](http://www.scipy.org/scipylib/mailing-lists.html) (preferred for usage questions).

[2021-06-27 16:55] #14307 closed

[2021-06-27 17:00] tupui commented on #14277
I will try to get some time for it. Thanks 😊

[2021-06-27 18:30] sam-data-guy commented on #12282
Look, I'm really sorry, but you are completely incorrect.  Let's go to the
Wikipedia page you cite, which I believe I have mentioned above.  When you
go to the relevant section, this says that the sum of the m_i's, which are
the expected counts for each category level i, must equal the sum of the
observed values x_i.  The test only makes sense because it is assumed a
total of "n" counts are observ

[2021-06-27 19:22] josef-pkt commented on #13362
I'm closing this. I think the issue is settled.

A tight tolerance prevents us from ignoring negligible (1e-5) terms and so it is more work.

But I had again a case where I used the wrong variable, and with the exception I found the mistake much faster.
I guess almost all cases where the counts don't add up to the same number are either sloppy (at larger tolerance) or user mistakes, so the excepti

[2021-06-27 19:23] #13362 closed

[2021-06-27 22:42] tylerjereddy commented on #14296
It looks to me like the `data` attribute should be the input generators (points), which I'd expect to be `float64`:

[code]

Looking at the current documentation, there is also an explicit mention of an array of doubles:

![image](https://user-images.githubusercontent.com/7903078/123561524-17270000-d766-11eb-99ca-7fa0fe4f82c3.png)

Finally, I can't even reproduce the alleged change in behavior wit

[2021-06-28 07:21] ayappanec commented on #14289
Any update on having a configuration file for AIX in pythran ?

[2021-06-28 08:49] judahrand commented on #13364
So looks like `scipy` M1 wheels are blocked upstream of `numpy` either by a hardware bug or compiler issue?

[2021-06-28 10:09] gerritholl commented on #14296
Ah, OK.  The change in behaviour probably applies if the user inputs integers.  Sorry, I hadn't noticed that in the documentation.  Then it's not a bug in current scipy.

[2021-06-28 10:09] #14296 closed

[2021-06-28 10:27] rgommers commented on #13364
They aren't - until last week they were blocked by `numpy` not having wheels available, but right now I think the only blocker is maintainer time and access to hardware. We need to update https://github.com/MacPython/scipy-wheels in the same way as it was done for numpy (see https://github.com/MacPython/numpy-wheels); that'll produce wheels and then if the test suite passes we're good to release t

[2021-06-28 10:28] rgommers commented on #13364
@judahrand if you'd wanted to make a PR to the scipy-wheels repo, copying the approach in the numpy-wheels PRs that added support, that'd be super helpful.

[2021-06-28 12:40] MER-C opened #14313 "ks_2samp: example description does not match example output"
The text describing the example no longer matches the output of the code.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ks_2samp.html
https://github.com/scipy/scipy/blob/master/scipy/stats/stats.py#L7454

[code]

This is a regression, a much earlier version is correct:
https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.ks_2samp.html

[2021-06-28 13:08] serge-sans-paille commented on #14289
@ayappanec can you try that branch? https://github.com/serge-sans-paille/pythran/pull/1824

[2021-06-28 14:39] judahrand commented on #13364
I believe these were the same changes as made in `numpy-wheels`:
https://github.com/MacPython/scipy-wheels/pull/123

[2021-06-28 15:55] charlotte12l opened #14315 "bus error on Mac but works fine on Linux for _count_paths_outside_method pythran version"
This issue is related to https://github.com/scipy/scipy/pull/14314. That PR works fine on Linux Nightly Cython checks but on my local Mac, it fails on `pytest scipy/stats/tests/test_stats.py::TestKSTwoSamples::test100_110` with `bus error`. cc @rgommers

This is my full build log [build.log](https://github.com/scipy/scipy/files/6727575/build.log)

This is my conda info:
[code]

Another interesting

[2021-06-28 16:06] rgommers commented on #14315
I assume this is not the correct answer though, so there's something wrong there too?
[code]

[2021-06-28 16:13] rgommers commented on #14315
Could be a conda compiler toolchain + macOS SDK issue. You're using `x86_64-apple-darwin13.4.0-clang`, which is the conda compiler. https://github.com/ContinuumIO/anaconda-issues/issues/9096 says it wants the macOS 10.9 SDK. There are warnings like this in the build log:
[code]
To install the 10.9 SDK, see e.g.:
- https://stackoverflow.com/questions/34780323/download-mac-os-x-sdks-for-10-9-and-10-

[2021-06-28 17:12] peterbell10 commented on #14296
Actually this issue is correct and the behaviour did change. Note that `np.asarray([0, 0])` creates an array of ints, but `np.asarray([(0.3, 1.5), (1.7, 3.6)])` creates an array of floats. That's the difference between the examples.

`KDTree` used to allow any dtype and that was lost in the merge with `cKDTree`, which stores everything as double. That really should have been mentioned in the relea

[2021-06-28 17:23] tupui commented on #14306
Thanks for the proposal @alexsherstinsky! This sounds like a good idea that look simple to implement. Do you propose to do a PR?

[2021-06-28 17:52] johnharveymath commented on #13710
Hi there! I wonder how far you got with this. I'm on this page because I have a similar issue with find_peaks. In my case, the time series ends with a nice high peak but then drops down slightly just before the end. As a result, the right_base is just the end of the window, and the calculated prominence is very low. This is not at all desirable in my use case.

I was thinking of adding a mode wher

[2021-06-28 18:12] alexsherstinsky commented on #14306
@tupui Thank you for getting back to me -- I would love to do a PR!  I would also like to confirm with @mdhaber that I can proceed according to the plan I outlined in the feature request (since he has been helping me tremendously), or if I should alter the course of action in any way.  Thank you very much.

[2021-06-28 18:37] peterbell10 commented on #14292
The way it's written is correct for using with `imshow`, i.e. `X` varies in the left-right axis and `Y` varies in up-down. I'm guessing matlab is to blame for the indexing being `im[Y, X]` because it's the order you would write out a matrix?

[2021-06-28 18:37] #14292 closed

[2021-06-28 20:34] peterbell10 commented on #14273
Tried with python 3.7 and scipy installed through pip, conda defaults and conda-forge. None of them reported any failure running the reproducer.

FWIW, I suspect this might be related to #13262. It's the only change that effects both `medfilt` and `medfilt2d`. It also exposes new code, since inputs aren't always promoted to double any more.

[2021-06-28 22:15] tylerjereddy commented on #14296
I think that's basically what we deduced

[2021-06-28 22:20] tylerjereddy commented on #14296
The issue says:

That's the part I was trying to indicate was not correct--they are not indices, they are the input generators/points. If they were indices, then the original contention that these are indices and should be ints would be something to take more seriously.

But that would be an extremely serious bug, and the test suite would have caught that.

[2021-06-28 22:44] peterbell10 commented on #14296
Ah, I see. "the algorithm" was so vague I ignored that part of the sentence.

[2021-06-28 23:17] tylerjereddy commented on #13364
Our test suite does have some issues with the newer versions of OpenBLAS that may be connected to the bump, so that may be one more blocker, or at least sub-optimal case where we have to skip tests for reasons we don't fully understand.

[2021-06-29 05:11] charlotte12l commented on #14315
Thanks!

This is right. I tried with a pure python version and it got the same output.

This SciPy test suite always passes without this Pythran function. I'll ask another friend who also uses MacOS to reproduce my error later.

[2021-06-29 09:04] ayappanec commented on #14289
Tried it . Now the script build fails with the below error.

 C compiler: g++ -maix64 -fPIC -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -O2 -I/usr/include -I/opt/freeware/include -I/opt/freeware/include/ncurses -DAIX_GENUINE_CPLUSCPLUS -D_LINUX_SOURCE_COMPAT -Wl,-brtl -O2 -fPIC -I/usr/include -I/opt/freeware/include -I/opt/freeware/include/ncurses -DAIX_GENUINE_CPLUSCPLUS -D_LINUX_SOURCE_C

[2021-06-29 09:41] givkriekk commented on #11403
I had a similar problem using slsqp. I found out that I was modifying the variables inside a constraint. For instance, if you use a fun(x) as constraint, and you are changing the 'x' inside the fun(x), you mind end up outside the bounds. In my case, inside the constraint, I made a 'simple' copy of x (e.g. new_x = x), then changing new_x, which lead to automatically changing x ... So I solved my pr

[2021-06-29 12:19] Michael-git96 commented on #13610
@mdhaber - thank you for your reply. I do agree that adding a parameter like `feas_tol_rerun` counteracts the simplicity of the interface. The reason I was looking into this was because I was running several LPs and going through the output (when disp=True) manually was quite tedious.

Is there a way to actually grab the output when disp=True as a string? I took a look at this solution in StackOve

[2021-06-29 13:13] mdhaber commented on #14306
One question is how the user will specify which they are interested in (standard error, CI, or some new output like bias) as the number of bootstrap samples will depend on that. Originally, I suggested `n_resamples=None` in the sense of "no fixed number", but that would not distinguish between SE and CI. We could allow a string like `n_resamples='auto-ci'`, and i would probably prefer that over a

[2021-06-29 14:09] alexsherstinsky commented on #14306
@mdhaber I agree that we need to specify two aspects of the configuration somehow:
* Which mode do we want: SE?  CI?
* Do we want to use `auto` or not?

Using your example, if we could do it as:
* n_resamples='auto-se'; and
* n_resamples='auto-ci',
respectively.

I feel that this could be a bit confusing for the user, who today can simply obtain `result.standard_error` and `result.confidence_inter

[2021-06-29 14:48] mdhaber commented on #14313
@tupui It looks like this happened because seeds were removed in gh-13863.

Perhaps more confusing is the next one:

[code]
If the chosen significance level were 10%, as suggested in the previous part, then the null hypothesis would be rejected here.

Besides the rendered documentation, without an explicit seed, the user will see different numbers than those here. I know we use an explicit seed un

[2021-06-29 14:55] tupui commented on #14313
I am really not sure about explicit seeding. I am afraid this would open the door to more exceptions and in no time we are back to having seeds everywhere. But if we must, then put something generated by a `SeedSequence` and with a clear warning in the doc to say not to copy the value.
[code]

I would prefer to either have a real example as you suggest, or just to make the text less precise about

[2021-06-29 15:08] josef-pkt commented on #14313
In many cases I had chosen seeds explicitly for docs to have a nice example to illustrate the method. In those cases, the seed was not arbitrary.
(I random generated a seed, printed it out, and kept one that "looked nice".)

The point of an example is to show the given function or method. not explain Life, Universe and Everything.

IMO, examples should be deterministic and replicable by users, unl

[2021-06-29 15:19] rkern commented on #14313
As long as the seeds are large (128 bits), I don't mind that approach. I'm not too concerned about people literally copy-pasting the examples (so I don't care to have an explicit warning) so much as seeing every example with tiny seeds. The cumulative effect of _every_ example with `seed=0` or `seed=1234` has had a bad effect on production code, I think.

[2021-06-29 15:27] charlotte12l opened #14318 "Is BinnedStatisticDD's benchmark timing correct?"
I was improving BinnedStatisticDD via Pythran. If I used `timeit` to compare my branch with master, I find that I can improve
statistic = 'min'/'max'/'median'/'std'(I only modified codes related to these four) 1.5x~10x faster.
[code]

However, if I used `python runtests.py --bench stats.BinnedStatisticDD` to get and compare the timing with the master(I'm not using `--bench-compare` because it is t

[2021-06-29 15:28] josef-pkt commented on #14313
@rkern
Weren't seeds limited to 6 digits in the old times?

my default seed has been something like 987146 for a long time, or variations of it if I didn't like the outcome.

[2021-06-29 15:31] charlotte12l commented on #14315
My friend can use his Mac to reproduce my error. Other Pythran functions all work fine except `_count_paths_outside_method_pythran`.

[2021-06-29 15:33] josef-pkt commented on #14313
@tupui I only had skimmed parts of the discussion, since I didn't want to go through the details.

I don't think anyone made the point that seeds are not random in the doc examples.
E.g. we want an example that does not reject the null, or rejects the null depending on what the "true" hypothesis and data generating process is.

[2021-06-29 15:40] rkern commented on #14313
In the olden-times (`RandomState`), they were limited to 32 bits, about 10 digits, for dumb reasons (I bungled the 64-bit `long` logic in the days before I had access to 64-bit machines). But now they are arbitrary length, and 128 bits is the preferred length.

For most examples, they _are_ pretty arbitrary. They just control what gets printed out in the output, which is usually not referenced in

[2021-06-29 15:41] tupui commented on #14313
@josef-pkt all examples are using the new `np.random.Generator` hence they accept 128 bits seeding (and preferably using the `SeedSequence` as I showed). You are right that `np.random.RandomState` does not allow 128 bits seeding.

Yes the examples have the seed fixed in the background by replacing `>>> rng = np.random.default_rng()` with a seed (generated using `SeedSequence`). I still think that

[2021-06-29 15:51] mdhaber commented on #14306
Yeah, I thought about that ("compute internally the automatic number of bootstrap samples for all supported use cases"), too. I agree that it's simpler, but I didn't mention it because it's potentially a lot less efficient (e.g. if you are only interested in SE but do enough resampling to ensure that CIs are valid). But as you said, there is another motivation: to make sure you have done enough re

[2021-06-29 17:01] Michael-git96 opened #14320 "Write HiGHS solvers output to text file when running scipy.optimize.linprog()"
**Describe the solution you'd like**
Lines 551-553 in scipy/scipy/optimize/_highs/cython/src/_highs_wrapper.pyx proves that there is already the ability to write the output to a file. It would be useful to have a parameter called `options['solution_file']` which if it is set to a file path, then the output of the optimiser will be printed into that file.

**Describe alternatives you've considered*

[2021-06-29 18:26] mdhaber commented on #14320
ping @mckib2

[2021-06-29 18:44] judahrand opened #14321 "BUG: Indexing of CSR matrices with many rows is much slower than `1.2.x`"
I'm in the process of upgrading from SciPy 1.2.3 to a much modern version but index into CSR matrices with many rows (though not very dense). I currently am blocked from this upgrade due to massively increased indexing time.

I believe, that this was introduce in 1.3.0 with the sparse index enhancements: https://github.com/scipy/scipy/pull/7827

Anything below one million rows seems to still resul

[2021-06-29 19:13] rgommers commented on #14315
Okay I can reproduce this on macOS with the conda compilers. There's one build warning for this extension:

[code]
The warning seems to come from the `<<` operator, added in the vendored Boost code in https://github.com/serge-sans-paille/pythran/pull/1805/files for `special.binom` support, which is exercised by gh-14314. No idea if the warning is relevant. @serge-sans-paille any thoughts?

[2021-06-29 19:42] tupui opened #14322 "ENH: refactor RNG usage to use np.random.Generator"
I propose to work on refactoring `np.random.RandomState` usages in the code base to use the preferred `np.random.Generator` available starting from NumPy 1.17.

It was discussed in some issue (I cannot find it now) that we could start dropping NumPy 1.16 for the next release of SciPy.

This work would be a follow up of #13863 and #13778

[2021-06-29 19:50] rgommers commented on #14188
They're standard Azure DevOps CPUs. Looks like various Intel Xeon types: https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series#dsv2-series

https://github.com/scipy/scipy/pull/14316#issuecomment-870867644 shows that this is likely not due to OpenBLAS.

[2021-06-29 19:51] mdhaber commented on #12282
I think this may be useful to illustrate @sam-data-guy's point. I'll leave interpretation up to someone else.

[code]
When `N_obs = N_exp`:
![image](https://user-images.githubusercontent.com/6570539/123858319-39408f80-d8d8-11eb-9c4f-aa0e3f28d1da.png)

When `N_obs = N_exp + 100`
![image](https://user-images.githubusercontent.com/6570539/123858502-74db5980-d8d8-11eb-9ff6-5c147d13c187.png)

[2021-06-29 20:38] martin-frbg commented on #14188
x86 DAXPY, ?DOT and ?SUM kernels were reimplemented with SSE intrinsics in 0.3.11, possibly this caused a small loss in precision somewhere.

[2021-06-29 20:54] rgommers commented on #14188
So it looks like we can simply bump the tolerance on that one test, and then upgrade.

[2021-06-29 21:08] h-vetinari commented on #13325
Update: that error did not occur in 1.7.0 anymore. If it's still gone by the time of 1.7.1, I'll close this issue.

[2021-06-29 21:44] rkern commented on #14322
I'm changing the label to `enhancement` as this is a surprisingly large change to the end-user. Right now, people can and do get reproducible results by calling `np.random.seed(SOME_SEED)` at the top of their program and just calling `scipy` functions afterwards. As we have no global `Generator` (and generally do not wish to add one), simply replacing the behavior of `check_random_state()` to use

[2021-06-29 21:57] judahrand commented on #14321
[code]

Having run `cProfiler` it looks like all the time is being spent in `np.diff` here: https://github.com/scipy/scipy/blob/ebb2c59f6ac6c741e984b8c9325f5468b39688f9/scipy/sparse/compressed.py#L689

[2021-06-29 22:00] tupui commented on #14322
Indeed, it's something we will need to make sure to communicate. Thanks Robert. I have a feeling that I am collecting controversial issues 😅 Glad to take the shots.

[2021-06-29 22:33] judahrand commented on #14321
![plot](https://user-images.githubusercontent.com/17158624/123875782-2fe41100-d932-11eb-8131-f6c7e9d0704a.png)

This looks decidedly linear - does anyone think that I'm barking up the wrong tree?

[2021-06-29 22:34] andyfaff commented on #14322
We had a good discussion on this exact topic, I can't remember if it was on the ML or an issue though. @rgommers might be able to remember. I had a quick search but couldn't find it.
What precise changes were you suggesting @tupui?
From memory the discussion then was:
For new work use Generator. For existing code retain back compatible, reproducible from release to release if possible, unless ther

[2021-06-29 22:49] judahrand commented on #14321
This is for `1e8` rows is a `csr_matrix` for example:
[code]

[2021-06-29 23:04] mckib2 commented on #14320
Hi @Michael-git96, it looks like those docs in the wrapper are a little out of date, but I agree that it should be straight-forward to add "write to file" functionality.  In particular, check out [these lines](https://github.com/scipy/scipy/blob/ebb2c59f6ac6c741e984b8c9325f5468b39688f9/scipy/optimize/_highs/cython/src/_highs_wrapper.pyx#L124) that are currently choosing to write to `NULL` or `stdo

[2021-06-29 23:38] cSDes1gn commented on #13102
@tommydangerous 's solution worked for me on apple silicon. cheers!

[2021-06-29 23:49] judahrand commented on #14321
I believe it should be possible to remove the use of `np.diff` all together and instead use an algorithm which should scale with the number of indices rather than the number of rows. See #14323

[2021-06-30 00:05] atrevisan21 opened #14324 "BUG: scipy.stats.theilslopes intercept calculation can produce incorrect results."
Theilslopes calculates the median intercept using the calculated theilslope estimate and the median x and median y values as: `np.median(y) - medslope * np.median(x)`. This can produce an incorrect intercept when there is a gap in the middle of the x values. Most other implementations of this algorithm use the median of all intercepts `np.median(y - medslope * x)`, which doesn't seem to have this

[2021-06-30 01:08] judahrand commented on #14321
I think this issue probably also applies to `_major_slice` too so I included a similar change for that function.

[2021-06-30 01:13] judahrand commented on #14321
With my changes the output of my original code snippet is now:
[code]

So looks like my changes do improve the issue substantially!

[2021-06-30 05:34] rgommers commented on #14322
That's an important point, and I think one we haven't discussed before. Having this variability in the long run is a good thing - but it's a large change indeed. Now instead of a single `np.random.seed()` call, users have to correctly thread generators all throughout their code.

Something to look at is how this affect downstream libraries. Most of those will be in sync with SciPy regarding NumPy

[2021-06-30 05:45] leofang commented on #14273
Thanks @ilayn @peterbell10 for helping test it!

IIUC it's using a SciPy wheel from PyPI, but I don't know about how Python is installed (@kmaehashi or @emcastillo should know better). I think this CI sticks to a particular combination of software versions, so it's not testing a large build matrix. I don't have access to my Windows machine for the moment. Once I regain access I could give it a try

[2021-06-30 06:16] andyfaff commented on #14322
Do you mean stability/reproducibility/invariance in the long run?

[2021-06-30 06:31] NeilGirdhar opened #14325 "Please consider extending scipy.stats.random_correlation to generate Hermitian matrices"
I need to generate a random covariance matrix for a multivariate complex normal distribution test.  I used the `scipy.stats.random_correlation` function to generate the covariance in the real case.  Would it be possible to generate random complex Hermitian matrices given a flag to this function?

[2021-06-30 06:40] NeilGirdhar commented on #14325
Incidentally, does anyone know how to implement this?

[2021-06-30 06:58] rgommers commented on #14273
A bit of a puzzle why it's only reproducible on that CI setup. Maybe caused by some packaging thing, like the wheel bundling the `msvcp140.dll` MSVC C++ runtime library, and that setup using a different version of it.

Thanks, I can access that now. There's nothing to see anymore - the logs with scipy 1.7.0 have disappeared (too long ago), and now scipy is pinned to `<1.7.0`. I guess there won't b

[2021-06-30 07:01] emcastillo commented on #14273
I will try to isolate the snippet above in our CI, sorry for the delay!

[2021-06-30 07:04] leofang commented on #14273
hmmm I didn't realize the history list would be truncated aggressively. Anyway the failing CI can still be accessed, ex: https://ci.preferred.jp/cupy.experimental.win.cuda100/73846/. It's just not shown on the recent history anymore.

[2021-06-30 07:33] Michael-git96 commented on #14320
Thanks @mckib2 , I will open a pull request and link it to this issue. I will do as you suggest and try to update the documentation as well.

[2021-06-30 07:43] sam-data-guy commented on #12282
Thank you, this clearly shows that the distribution does not match the chi
square when the frequencies do not sum to the same value.  I agree with the
earlier comment that the check is useful for identifying user mistakes,
where a "mistake" is using frequencies for mis-matched features. As you
illustrate, however, a "mistake" can also be not adjusting the feature
totals when the user is analyzing

[2021-06-30 07:45] rgommers commented on #14322
No, I mean:
- right now using a global `np.random.seed(139048043)` appears to be reproducible run to run, and then when you do something like use `multiprocessing` it turns out that you're going to have issues.
- after we make this change, there is no simple run-to-run stability by setting a single global state. this will be obvious to users straight away, and they'll have to learn more about usin

[2021-06-30 07:59] ilayn commented on #14322
This is what I was trying to get at in #13863. Currently there is no simple recipe for the end users who are not well-informed in random methods and how seeds and generators work. And the documentation is geared towards people who already know what they are doing.

[2021-06-30 08:12] Michael-git96 commented on #14320
Hi @mckib2, I created a new Anaconda virtual environment and tried to run `python setup.py develop` as I would for any other package however I encountered some errors (mainly to do with BLAS and LAPACK). I know that for some python packages like NumPy it is not recommended to build from source, is this also true for SciPy? If so, how should I go about using SciPy and modifying it and submitting a

[2021-06-30 08:13] ev-br commented on #14322
This is probably a good topic for a tutorial and/or scipy cookbook.

[2021-06-30 08:21] tupui commented on #14322
@ev-br depending on what you are talking about, I have already included some information in the stats one here https://scipy.github.io/devdocs/tutorial/stats.html#random-number-generation

[2021-06-30 08:35] rgommers commented on #14322
This needs improving in NumPy indeed. https://numpy.org/devdocs/reference/random/index.html is a little confusing, and definitely not aimed at new users. The NumPy user guide should just have a good page on this.

[2021-06-30 08:37] andyfaff commented on #14322
I'm fully behind removing usages of the global `RandomState`.  However, it wasn't clear from the issue that that was the change in mind. I'm -1 on moving from other instances of RandomState to Generator

[2021-06-30 09:33] kmaehashi commented on #14273
I've made a minimum reproducer.

[code]

In SciPy 1.6.3 the was correctly raised when float16 is given.

[code]

However, the above code causes a hard crash in SciPy 1.7.0. Reproducible Python 3.7.2 / 3.9.0 on Windows, both using PyPI wheel.

[2021-06-30 11:49] rlucas7 commented on #14322
Just seeing this discussion. Just a thought, would moving to numpy Generators be better made with a major version change?

eg plan to switch old cases with scipy 2.0.0 release? In the meantime try to push new PRs toward generator where warranted.

-Lucas Roberts

[2021-06-30 14:42] josef-pkt commented on #12282
If the aggregate numbers don't agree, then the Null should be rejected, so the distribution should not be the same as under the Null hypothesis.

My original test case in statsmodels that failed with new scipy was truncating probabilities for Poisson. sum of expected probabilities was in the range of 1 - 1e-5. In that case the truncated "measure" was close enough to the empirical counts that the n

[2021-06-30 15:02] sam-data-guy commented on #12282
No, again, you are making a mistake.  If the sums don't agree, you can't
perform the test; this is not the same as saying you reject the null.  This
is like saying if you get the question "is this apple the father of this
sofa", you should answer "no" (i.e. reject the null with a p-value) rather
than saying "the question is x the father of y is not valid when x is an
apple and y is a sofa".  The a

[2021-06-30 15:31] josef-pkt commented on #12282
correct, NO is the correct answer. The apple is not the father of the sofa.
The father of the sofa is a bench. (Unless the sofa is made out of fruits.)

In many cases, hypothesis test reject on other deviations of the null than the simple stated hypothesis.
In this case, the test statistic just compares counts. The distribution of the test statistic is derived under the null hypothesis that counts

[2021-06-30 15:53] rkern commented on #14325
I don't think it would be appropriate to repurpose that distribution for the complex Hermitian case. Feel free to add one specifically for that case, though.

[2021-06-30 16:37] sam-data-guy commented on #12282
No, I'm sorry. you are incorrect.  Statistical tests have various
requirements on the inputs.  In this case, the requirement on the inputs is
that the sums of the frequencies are equal and > 0.  If that is not
satisfied, the test cannot be performed.  This is an initial examination of
the legality of the inputs.  You are correct that the answer is "no" but
statistical tests output a probability wh

[2021-06-30 17:04] sam-data-guy commented on #12282
Hi Matt, if the issue is closed and you agree with me, is there a way to
prevent other latecomers who don't properly understand the problem from
continuing to comment on this in email? Unless I should just ignore them.

On Tue, Jun 29, 2021, 10:51 PM Matt Haberland ***@***.***>
wrote:

[2021-06-30 17:30] mdhaber commented on #12282
I think you, @josef-pkt, and I all agree that the appropriate behavior here is to raise an error when the sums of `f_obs` and `f_exp` are not the same, because the test is no longer useful for its intended purpose: testing a difference between the shapes of the underlying distributions.

Probably, unless something substantially different comes up. Otherwise, I don't know if there's any more for us

[2021-06-30 17:45] rkern commented on #14322
Judging from [our recent experience](https://tanelp.github.io/posts/a-bug-that-plagues-thousands-of-open-source-ml-projects/), it will _not_ be obvious to users straight away, certainly not at the root cause.

[2021-06-30 17:53] rgommers commented on #14322
Isn't that completely different? That case is admittedly complex - but it's "pytorch PRGN + numpy PRNG + multiprocessing". This will be numpy only, single threaded.

I agree there'll still be many people that will keep making mistakes (so okay, I'll partially take back "will be obvious"), but running very simple code and seeing results still change after setting a global seed will be quite a bit e

[2021-06-30 18:06] ilayn commented on #14322
If we can get a few examples crystal clear and comparing with old `np.random.seed(1324134)` I think users will appreciate it.

The problem is that there is no hand-holding so far. And this is a very tricky subject to get it right. That was the convenience of the seed ; "I don't know what happens but setting the seed makes it happen again".

Now we took that away and didn't put anything back in the

[2021-06-30 18:07] rkern commented on #14322
Fair, that one was deterministic, just bad, which is indeed harder to suss out. This one will be more easily noticed, but I suspect there's going to be a blind spot since the main lesson people seem to have taken away about PRNGs is that "to get reproducibility, call `np.random.seed(...)`", so having already done that, they will be at some loss to find out the real cause (they may go haring off to

[2021-06-30 18:46] rkern commented on #14322
The short version is: "copy what `scikit-learn` did with `check_random_state()`, but use `default_rng()` instead".

[2021-06-30 19:05] josef-pkt commented on #12282
https://hometone.com/apple-sofa-steve-jobs-craving-heavens.html

:)

[2021-06-30 19:42] tupui commented on #14322
Do you mean what we put in `scipy.stats.qmc`?

[2021-06-30 19:51] rkern commented on #14322
No, I meant "follow the same argument-passing discipline as `scikit-learn` does, but use `default_rng()` instead of `check_random_state()` to coerce the arguments". That's the advice I would give for new libraries. We're in more of a transition.

[2021-06-30 21:08] shuetyang commented on #8928
do we have any update on the bug fixes?

[2021-07-01 00:59] NeilGirdhar commented on #14325
Great, I've edited the title.  Unfortunately, I don't know how to implement this.

[2021-07-01 03:04] mckib2 commented on #14320
To develop scipy you'll probably want to clone and build from source.  There are [build guides](https://scipy.github.io/devdocs/building/) and making sure you have BLAS/LAPACK libraries will be part of that.  You can also try out [gitpod](https://scipy.github.io/devdocs/dev/contributor/quickstart_gitpod.html) which will avoid having to setup your own local environment

[2021-07-01 04:47] yacth commented on #14304
Hi @jakevdp  I am trying to solve the issue by adding a check up to see if we have a 1-D boolean array.
But it seems that in the tests, it is testing multi-dimentional arrays as well.

[2021-07-01 07:56] #14271 closed

[2021-07-01 10:17] judahrand commented on #14188
0.3.15 seems to be available now too which might help?

[2021-07-01 11:48] IvanAvdeevGth opened #14329 "add sparse dot to scipy.sparse"
Hi everyone,

I found that there is no adequate dot function that handles multiplication of dense and sparse matrices such as dot(dense, sparse). There is also a suggestion to convert sparse to dense first in order to multiply like so, see https://docs.scipy.org/doc/scipy/reference/sparse.html. A bit frustrating for me, especially knowing how easy to implement such function. Here is my example of

[2021-07-01 12:07] evdoks commented on #11916
Improving the documentation on what happens when `s` is set to its default value would definitely be helpful. Was getting some very weird splines with s=`None`, so started to dig deeper into the smoothness parameter to find out that it was way too high.
I probably got spoiled by scikit-learn, where default values usually give a good enough initial result.

[2021-07-01 12:20] Michael-git96 commented on #14320
@mckib2 - thanks for the suggestions, I actually ended up using gitpod as it was a lot easier to get set up. I made some minor modifications but I was stuck trying to pass a file name to highs.setHighsLogfile() and highs.setHighsOutputfile() in scipy/scipy/optimize/_highs/cython/src/_highs_wrapper.pyx.

I modified the code to:
`cdef apply_options(dict options, Highs & highs):
    '''Take options f

[2021-07-01 14:11] shuanghuabai commented on #13409
None of the above works for me unfortunately. When would scipy officially support Arm Mac?

[2021-07-01 15:31] chrisb83 commented on #14324
Hi,

I agree that this is a bug, `stats.siegelslopes` (https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.siegelslopes.html) uses the median of `y - medslope*x` and I see the same approach on https://en.wikipedia.org/wiki/Theil%E2%80%93Sen_estimator

[2021-07-01 15:38] Bilokin opened #14332 "Strange output of `binned_statistic_dd` with `statistic=sum`"
Hello,

my issue is about the output of the `binned_statistic_dd` with `statistic=sum` argument, which is should be the same as the output of the numpy `histogram` function , but in some cases it is not.
I found that if the given array contains values very close to the bin edge, for example 0.99999999 and bin edge is 1, then these entries migrate to the previous bin somehow.

Could you please tell

[2021-07-02 05:43] dlindelof opened #14335 "Build dependency cycle due to pythran/networkx"
When I build from source on macOS 11.4 I get the following error:

[code]

#### Scipy/Numpy/Python version information:

These are the first lines I get when I start the build/tests:

[code]

The build seems ok, I installed OpenBLAS via Homebrew and set the path in `site.cfg` like this:

[code]

I was able to build and run the tests for `numpy` in another repository without problems.

[2021-07-02 07:25] #14273 closed

[2021-07-02 07:29] charlotte12l commented on #14332
It is caused by these lines in `_bin_numbers(sample, nbin, edges, dedges)` (stats/_binned_statistics). It is used to put the values equal to the rightmost bin to be counted in the last bin, e.g. if  `arr` is `[0.0, 0.9, 0.99, 0.999, 0.9999, 0.99999,  0.999999, 0.9999999, 1]`,  then after np.digitize, `sampBin` is `[ 1  9  9  9  9  9  9  9 10]`. The following code can put the arr `1` from bin `10`

[2021-07-02 07:37] rgommers commented on #14273
We don't build Windows nightlies; the fix for this should land in 1.7.1 in some weeks. Timing TBD, we hope to also resolve the macOS arm64 issues and provide wheels.

Given that this issue only happens for code that was raising an exception before, I think it shouldn't affect too many users, so that timing is okay. Please let us know in case that assessment is incomplete and we should release a fi

[2021-07-02 08:13] serge-sans-paille commented on #14289
Thanks for the feedback. Can you give it a try with https://github.com/serge-sans-paille/pythran/pull/1829 ?

[2021-07-02 09:25] ev-br commented on #11916
Pull request are certainly very welcome.

[2021-07-02 11:09] Patschke opened #14337 "Feature Request: Full functionality of optimize.least_squares for optimize.curve_fit"
**Is your feature request related to a problem? Please describe.**
I would like to use `optimize.curve_fit()` together with the `loss` keyword arg while using `lm` as fit method.

Currently `curve_fit` uses either `optimize.least_squares` or `optimize.leastsq`, depeding on the specified `method` (the later presumably only for backwards compatibility). `loss` is only a valid keyword arg for `least_

[2021-07-02 13:52] mreineck commented on #14266
I think that simply importing a backend should not automatically enable it, at least not in all cases.

For example, if `from pyfftw.interfaces import scipy_fft` automatically enabled the corresponding backend, FFT performance would go down on average, since this backend implies FFTW_ESTIMATE (I think), which typically results in worse FFTs than with the builtin backend. This backend is great to h

[2021-07-02 14:45] peterbell10 commented on #14266
Yes, I don't think `mkl_fft` or `pyfftw` should ever register on import, but for array libraries like `cupy` or `dask` there's no issue. Their backends should just return `NotImplemented` if they aren't called with their specific array type.

The only major down-side is increased dispatch overheads, since we'll need to call into every registered backend for it to check the array type.

[2021-07-02 15:19] czgdp1807 commented on #13898
Hi. I read the paper from [this link](https://www.researchgate.net/publication/220227041_Savitzky-Golay_smoothing_and_differentiation_filter_for_even_number_data). It seems like the implementation for even number data would be in parallel to existing odd number data with different convolution coefficient vectors. I can try looking into the code to verify.
Thoughts/comments @Pfed-prog ?
cc @rgommer

[2021-07-02 15:22] czgdp1807 commented on #13825
@keatonb @tupui Is this issue approved on the mailing list? If not then I can try proposing it. Please let me know.

P.S. If it's already approved then please share the link to the thread. It would be great to go through it before starting working on it.

[2021-07-02 15:29] czgdp1807 commented on #13402
Hi. It seems like the final consensus is for Dinic's algorithm. I am interested to work on this issue. Let me know if it works. Thanks.
cc @touqir14 @rgommers

[2021-07-02 15:31] czgdp1807 commented on #13580
Hi @mdhaber Can I try your fix and open a PR for this issue? Please let me know. Thanks.

[2021-07-02 15:35] tupui commented on #13825
@czgdp1807 not sure I saw such a message. You can go through the archive here https://mail.python.org/pipermail/scipy-dev/

[2021-07-02 15:41] tupui commented on #14329
Thanks @IvanAvdeevGth! Since you already have some code. Would you like to propose a PR?

[2021-07-02 15:44] tupui commented on #14335
Hi @dlindelof, thanks for reporting. Since you are on MacOS why not following exactly the relative doc https://scipy.github.io/devdocs/dev/contributor/quickerstart_conda.html or https://scipy.github.io/devdocs/dev/contributor/quickstart_mac.html#quickstart-mac

I am on macOS 11.4 as well and can build latest without issues.

[2021-07-02 16:17] mdhaber commented on #13580
I opened gh-13581 to fix this in February. It just hasn't been reviewed by another maintainer.

[2021-07-02 16:22] czgdp1807 commented on #13580
Ah! I missed it. No problems. Thanks for highlighting your work on this issue.

[2021-07-02 16:36] Pfed-prog commented on #13898
It is very likely that your idea is correct. Here is the matlab implementation of the (Lou et al. 2005) paper [https://www.mathworks.com/matlabcentral/fileexchange/4038-savitzky-golay-smoothing-and-differentiation-filter](link). The package is created by Luo himself and contains discussion on how to enhance the algorithm.

[2021-07-02 16:41] czgdp1807 commented on #13898
Awesome. I will look into this tomorrow and next week. Will comment my findings here and if possible will raise a PR. Thanks for replying.

[2021-07-02 17:08] rgommers commented on #13898
That Matlab page says the code has no license. So please don't look at it, doing so means you cannot reimplement the same idea in SciPy under a BSD license.

[2021-07-02 18:59] rgommers commented on #14074
Thanks for the report @KelSolaar. Is this macOS only, or do you see the same problem on Linux or Windows as well?

[2021-07-02 20:45] laurent90git commented on #14080
Would you be able to provide a standalone example that does not use Cantera ? I don't know if there is a simple enough mechanism that you can code yourself (like one global reaction) and still produces the issue. Are you sure you do not come near a singularity, for example M going close to 1 ?

[2021-07-02 21:47] rgommers commented on #14318
Hi Xingyu, sorry it took me a few days to look into this. I cannot reproduce the discrepance. With `python runtests.py --bench stats.BinnedStatisticDD` I get similar results as you, and with your `timeit` script above I also see your new version is slower.

[code]

One issue I see with your Pythran code is where the `if stat_func ==` is placed here:
[code]
You are doing this check in every iterati

[2021-07-02 21:55] rgommers commented on #14318
And now to solve the rest of the mystery: you had not included the extension in `setup.py`, so asv was still running pure Python code!

Here is the diff you need:
[code]

[2021-07-02 21:56] ogauthe commented on #14329
Hello,

While there is no generic dot function, `__matmul__` (`@`) can be used and gives the expected result. It can be used in any configuration with either dense or sparse matrices, it is unfortunately not documented (see #11078).
The behavior of  `dot `differs from `@` for higher rank tensors, but since the current `scipy.sparse` implementation only deals with matrices, a `reshape` of the dense

[2021-07-02 21:57] rgommers commented on #14318
So now I get:
[code]
So indeed a 2x to 35x speedup!

[2021-07-02 22:02] dlindelof commented on #14335
Thanks for your reply and suggestions. I was hoping it would be possible to build scipy without conda. I've tried the instructions in https://scipy.github.io/devdocs/dev/contributor/quickerstart_conda.html and it worked.

FYI https://scipy.github.io/devdocs/dev/contributor/quickstart_mac.html#quickstart-mac fails for me with

[code]

Thanks!

[2021-07-03 00:17] alspitz opened #14340 "Initialize Rotation using list or array of Rotations"
Currently you can convert a Rotation object of multiple rotations into an array with `np.asarray`.
You can't however convert a list of N (single) Rotation objects into a Rotation object with N rotations (as far as I can tell).
This is useful when you have a list of Rotations and want to use e.g. Slerp, which takes in a single Rotation object with multiple rotations.

Perhaps something like
[code]

[2021-07-03 03:43] charlotte12l commented on #14318
Thank you so much!!!

That's such a stupid mistake! I should have realized that.

Indeed, I'll move the check to the outer.

My mistake... I must have deleted this check by mistake and totally forgot about it ... Thank you so much for finding this problem!

[2021-07-03 03:43] #14318 closed

[2021-07-03 05:37] czgdp1807 commented on #13898
Hi. I have opened the above referenced PR. @Pfed-prog As of now I am able to test `savgol_coeffs` with even `window_length` using the closed form results given in the paper. Could you please suggest some examples or properties which can be used to test `savgol_filter` on `window_length`. Thanks.

[2021-07-03 10:02] KeithSloan opened #14343 "Struggling to understand distributions and plots"
I have a histogram that I would like to fit a gamma and rayleigh curve ideally with a measure of fit.
I am struggling to have the histogram and distribution with the same scales.
I tried to follow [https://stackoverflow.com/questions/40979643/python-how-to-fit-a-gamma-distribution-from-data](url)
and don't really know what I am doing

[code]

[2021-07-03 10:37] ev-br commented on #14343
The immediate error is that you need something like `from matplotlib.pyplot import plot`.
That said, usage questions are better suited for Stack overflow or scipy-user mailing list.

[2021-07-03 10:37] #14343 closed

[2021-07-03 10:41] zoj613 commented on #12370
@mdhaber has there been any improvements to the speed of `truncnorm.rvs` since opening of this issue? Curious to know what might have been the cause of this major slowdown compared to earlier versions and if its possible to speed things up again.

[2021-07-03 16:52] mdhaber commented on #12370
Doesn't look like it. Using your example from the top:
[code]
But I'm afraid I can't get into this right now.

[2021-07-03 17:18] zoj613 commented on #12370
It was a complete re-implementation that caused it, not a single commit.

[2021-07-03 19:59] keatonb commented on #13825
@czgdp1807 sorry I didn't get around to it. Feel free to propose for this on the mailing list.

[2021-07-03 22:06] KelSolaar commented on #14074
Hi @rgommers,

I did not try on Windows, but it does crash the IPython Kernel on Google Colab:

![image](https://user-images.githubusercontent.com/99779/124367839-ec313480-dcae-11eb-8445-c4a57fe3976f.png)

Logs are not useful:

[code]

[2021-07-03 22:19] georgebv opened #14346 "scipy.stats.rv_continuous.fit returns wrapper instead of fit method for some distributions"
My issue is about `scipy.stats.rv_continuous` objects not returning the same type of object for the `fit` method for different distributions.

`scipy.stats.genextreme.fit` gives `<bound method rv_continuous.fit of <scipy.stats._continuous_distns.genextreme_gen object at 0x7f66083e19a0>>`
`scipy.stats.gumbel_r.fit` gives `<bound method _call_super_mom.<locals>.wrapper of <scipy.stats._continuous_di

[2021-07-04 00:05] mdhaber commented on #14346
@georgebv I just started experimenting with `multiprocessing` this past week. It wasn't documented in the release notes because it was seen as an implementation detail, but now I see that it can change the way users are able to use the methods. Do you know of anything we can do to make wrapped functions pickleable?

[2021-07-04 00:20] rkern commented on #14346
Just putting the snippet into each of the `fit()` methods would probably not be too onerous, given the technical constraint.

[code]

[2021-07-04 00:50] georgebv commented on #14346
Thank you @rkern , this indeed appears to be the thing needed. I also reviewed the code too and wanted to add a bit of context.

The issue is with the wrapper:

https://github.com/scipy/scipy/blob/5acc23400ce53ab69e97e44e4faae7f3fb039cae/scipy/stats/_continuous_distns.py#L54-L63

which is used as (multiple spots, this is example):

https://github.com/scipy/scipy/blob/5acc23400ce53ab69e97e44e4faae7

[2021-07-04 00:54] goduckie opened #14347 "scipy.stats.lognorm.expect fails when ub set 'too high'"
The result of `scipy.stats.lognorm.expect` becomes incorrect when the `ub` is set arbitrarily high.  The point at which it fails is related to the parameters, but I have not work out how.

[code]

[code]
-->1.6.0 1.19.5 sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)

[2021-07-04 00:55] georgebv commented on #14346
I also updated my own package where I was having this issue by doing the following:

[code]

This works, but feels like a hack and was pretty hard to track - my CI runs were running for hours instead of minutes, no exceptions were raised, and it took over an hour to figure out the issue.

[2021-07-04 01:14] perimosocordiae commented on #14321
Closed by gh-14323.

[2021-07-04 01:14] #14321 closed

[2021-07-04 09:02] rgommers commented on #14335
It should be possible to build without conda too, since we do it in CI (see `.github/workflows/macos.yml`).

I cannot find any other instances of `Symbol not found: _cephes_cosdg`, so not sure what's going on there.

[2021-07-04 09:42] shmulike opened #14348 "Extract spline coefficient from splprep: tck"
I am using python3, Scipy

I have a 3d points (x,y,z] From them I make s a spline using scipy.interpolate.splprep dunction

[code]

I wish to get the coefficients of the spline[i].
For example, the first spline:
sp_y0 = ay0 + by0(x-x4) + cy0(x-x4)^2 + dy0(x-x4)^3
sp_z0 = az0 + bz0(x-x4) + cz0(x-x4)^2 + dz0(x-x4)^3
to the second spline: [ay1, by1, cy1, dy1], [az1, bz1, cz1, dz1]

I used PPoly.from_

[2021-07-04 09:47] ev-br commented on #14348
cross-ref: https://stackoverflow.com/questions/68194269/python-extract-spline-coefficient

[2021-07-04 11:11] rgommers opened #14349 "Suppress the skipped and xfailed tests in pytest output"
When there's a test failure, `pytest` shows the test failure followed by a list of all skipped and xfailed tests. This is both useless and very annoying - you have to scroll way up to see the actual failure.

Here's a recent example:

<details>

[code]

</details>

That `XFAIL` and `SKIPPED` output should be disabled/suppressed. I have not looked at all into how to actually do that - maybe there's

[2021-07-04 11:59] heisenbuug commented on #14349
Hey @rgommers I would like to work on this, if that's an option.
Can you just point me to the right directory and files?
I think I can take it from there.

[2021-07-04 12:17] rgommers commented on #14349
Sure, go for it @heisenbuug!

To reproduce the issue efficiently, pick a submodule that has `skip` and/or `xfail` marks. `linalg` is probably good. Then do the following:
1. run `python -c "import scipy.linalg as s; s.test()" (this should pass)
2. pick a test in `scipy/linalg/tests/`and break it on purpose
3. run step (1) again. now you should see the failed test, and below it the printed lines fo

[2021-07-04 12:42] georgebv commented on #14346
I have another idea (inspired by this https://stackoverflow.com/questions/34253069/how-to-use-class-decorators-with-pickle). What if we simply add one line (`wrapper.__name__ = fun.__name__`) to the decorator function:

[code]

[2021-07-04 12:44] ev-br commented on #14346
As a side note, I wonder why our test suite did not pick this. IIRC we do have tests to make sure distributions are picklable

[2021-07-04 13:21] rkern commented on #14346
Try [`functools.wraps()`](https://docs.python.org/3/library/functools.html#functools.wraps) and see if that helps.

The distribution itself is pickleable since all it needs is to record the name of the class. That's why the (perfectly idiomatic) workaround of passing the distribution object itself to the subprocesses works. Pickling just the method itself, on the other hand, I don't think we test.

[2021-07-04 15:49] touqir14 commented on #13402
Hi @czgdp1807 , feel free to take on this since I am still quite busy with my work.

[2021-07-04 19:52] rgommers commented on #14157
How about using some log spacing? Dense sampling for the last year, and then gradually sparser. I do think it is helpful to go quite far back in time, because performance changes for any given function that is being benchmarked is like to change rarely (significant improvements could be once every few years).

I'd take the amount of time you want it to take to generate all the results, and work it

[2021-07-04 21:33] tylerjereddy commented on #14349
The short answer is that you can just delete the 4 characters mentioned below in `azure-pipelines.yml`.

When I wrote those original Azure CI files I added a line like this to run the test suite:

`python runtests.py -n --mode=$(TEST_MODE) -- -n 2 -rsx ..`

Just delete the `-rsx` since Ralf wants less verbose output. Since my confidence level is pretty much 100 % that this will fix the problem, I'

[2021-07-05 02:41] Pfed-prog commented on #13898
@czgdp1807 Thank you for the information).
On page 1430 of the paper

[2021-07-05 09:00] ggkogan commented on #6019
Hi,
I bumped into this issue. Is there any solution?
version = '1.7.0'

[2021-07-05 09:37] rgommers commented on #14349
Ah, that explains it, thanks @tylerjereddy.

I don't think it has ever caught an issue for SciPy, but if you value the sanity check once in a while maybe we can add it to the release procedure? Looking at this once every six months will be more than enough.

[2021-07-05 14:33] AnirudhDagar opened #14353 "uarray based backend compatibility tracker"
**Problem**

SciPy adopted [`uarray`](https://uarray.org/en/latest/) to support a multi-dispatch mechanism with the goal being: no need for OpenMP or GPU kernels etc. in the codebase. See **motivation** below for more concrete discussion.

SciPy currently supports this through the `scipy.fft` module.
- [x] scipy.fft #10383

There are other scipy modules that will benefit from `uarray` backend, and

[2021-07-05 15:25] peterbell10 commented on #14074
I expect the tree structure being built is so deep that it's causing a stack overflow. The fix should be to allocate heap space instead of recursing and using stack space. I'll take a look and see how simple that fix would be.

[2021-07-05 17:10] peterbell10 commented on #14074
The tree it's creating is highly degenerate, so it's recursing tens of thousands of times and blows the stack. Probably deserves a performance warning after the actual crash is fixed.

[2021-07-05 18:59] tupui opened #14354 "STY: Maths formatting"
This issue is linked to #14330

To be able to use tools (like, but not limited to Black), we need to define how we, as the scientific community and not just SciPy, want mathematical equations to be rendered.

The goal of this issue is to document and establish a strict set of rules to write maths. The rules must be coherent, extensive and opinionated (one way to do something, unambiguous wording)

[2021-07-05 19:31] laurent90git commented on #14080
Hi,
I've tested your case and all the integrators run into an issue where they cannot reach a sufficiently low error estimate without taking time steps that are much too low (1e-20) and could cause large rounding errors in the solution computation. Hence the computation is stopped with the message "Required step size is less than spacing between numbers". The other solvers (BDF for instance) also

[2021-07-05 20:10] rkern commented on #14354
I am -1 on any such attempt to enforce such strict, extensive, and opinionated rules. [PEP8's recommendations](https://www.python.org/dev/peps/pep-0008/#other-recommendations) are the right level for developer guidelines, IMO. I'm not sure that such algorithmically-complete rules exist that are simultaneously both terse enough to be implementable and also don't create unreadable horrors in specifi

[2021-07-05 20:34] adeak commented on #14354
@tupui I think the `+`/`-` part would benefit from "unary"/"binary" terminology.

And can you explain what you mean by

(in the same place)?

And why in
[code]
there is no whitespace around the binary plus?

And is using `1.`, `2.` a conscious choice or just force of habit? If this style guide takes off, taking a stance on the likes of `1.` and `.1` might be necessary.

[2021-07-05 21:24] rkern commented on #14354
That's an example of a (possibly-useful) ambiguity that can be used to make things more readable insofar as they communicate some subtle high-level semantics. That kind of ambiguity would be unavailable to algorithmic auto-formatters.

If the goal is to define rules that can be used to build an algorithmic auto-formatter, I recommend just going and implementing the algorithms and using the impleme

[2021-07-05 23:09] sturlamolden commented on #14262
Cython did not support the ```const``` qualifier when these wrappers were written. That is the reason it is omitted. It does now, however, so we can use it.

[2021-07-05 23:25] sturlamolden commented on #14262
It is not difficult to use the wrappers in the presence of ```const``` data though. We just have to write a tiny inline wrapper function that e.g. uses a C++ ```const_cast``` operator to cast away the constness. In Cython ```const_cast``` can be made available using the statement
```from libcpp.cast import const_cast```
When we do this the overhead in the generated machine code is exactly zero, as

[2021-07-05 23:44] sturlamolden commented on #14262
Basically we can work around const like this, which is not difficult, just a bit tedious:

[code]

[2021-07-05 23:50] sturlamolden commented on #14262
And if we instead use Cython to generate C, it is

[code]

[2021-07-06 02:24] newville commented on #14354
As an outsider in scipy-dev, I resisted commenting on #14330.  Here, however, you seem to be aiming to codify how the wider scientific community (probably restricted to "scientific python"?) writes math.

Why is a strict set of rules beyond "valid Python" necessary?  The gaol appears to be aimed at reformatting working Python code that someone wrote, and quite likely someone else reviewed or has r

[2021-07-06 05:09] ilayn commented on #14354
Thanks @newville that's an opinionated but balanced take. I am probably the last person to defend Black, but I think you have taken its use and the problem it promises to solve a bit differently than intended. What black offers is a non-negotiable set of code standards. This becomes particularly effective when many coders have to touch the same codebase frequently. Some come from Java-like backgro

[2021-07-06 05:30] serge-sans-paille commented on #14289
@ayappanec did you have the opportunity to test the above PR?

[2021-07-06 05:37] hts97 commented on #8976
Hello
I have two nonlinear coupled equations. how can I calculate the bc_jac for them?
How should I define it in python and, how should I use it in solve_BVP function?

[2021-07-06 08:26] shmulike commented on #14348
I read the documentation but there is still something odd with the array size and I still can't find the coefficients of the spline of s_y(x) and s_z(x) functions.
is there an example or other documentation for the use of
`PPoly.from_spline(tck)`
when tck came from `splprep`

[2021-07-06 10:58] ayappanec commented on #14289
Yes, now i am able to pip install scipy 1.7.0 with the above pythran changes.

[2021-07-06 11:24] tupui commented on #14354
Thank you @newville for expressing your sentiment on this.

As @ilayn pointed out, the goal is to same everyone endless discussions about styling.

Sure the PEP8 was written as a guide and even starts with [A Foolish Consistency is the Hobgoblin of Little Minds](https://www.python.org/dev/peps/pep-0008/#id15). Still, over the decades we have seen that this guide was used as an authoritative way to

[2021-07-06 12:39] serge-sans-paille commented on #14289
Thanks! I'll merge the PR and it will be in next Pythran release, cc @rgommers

[2021-07-06 12:50] rgommers commented on #14289
Awesome, thanks @serge-sans-paille and @ayappanec! Let's close this issue then.

[2021-07-06 12:50] #14289 closed

[2021-07-06 12:51] rgommers commented on #13308
AIX works once the next Pythran release (0.9.12) arrives, see gh-14289.

[2021-07-06 13:44] rkern commented on #14354
AFAICT, we largely do not have endless discussions about styling in the actual code reviews. We only have endless discussions about styling when someone proposes to use `black`.

Citation needed. I have seen no evidence that the level of formatting that `black` and company provide any measurable benefits in this regard.

I've laid down this marker before, and I think it satisfies all of the eviden

[2021-07-06 13:49] rkern commented on #14354
It looks like [`autopep8`](https://pypi.org/project/autopep8/) might fit that bill.

[2021-07-06 13:58] rgommers commented on #14354
Let me jump in here, since apparently there's two things being mixed:

1. do we want/need a code formatter like black?
2. is it possible to code up with consistent guidelines for writing math?

_**This issue is not about 1, only about 2. No change to any SciPy way of working is proposed**_

What `black` does today for math is bad, really bad. Something like `hypot2 = 2 * x + 3 * y ** 2` is code no

[2021-07-06 14:06] rkern commented on #14354
Yes, this _is_ about 1. A change to the SciPy way of working has been proposed. This particular issue is a sub-discussion in response to a specific objection to that proposal.

I agree that there are useful attempts at improving auto-formatting for mathematical expressions. I don't think it's all that helpful to try to hash them out here if we're foreclosing the idea of changing the SciPy way of w

[2021-07-06 14:12] ev-br commented on #14354
FWIW, I circulated a project idea among students locally. Will see if
anything comes out of this. No definite ETA at the moment, but we'll
definitely report back if anything worth comes out if this.

вт, 6 июл. 2021 г., 17:06 Robert Kern ***@***.***>:

[2021-07-06 14:12] tupui commented on #14354
Not it is not at 1, Ralf is correct. I am sorry if I mislead you with linking to this issue. But read what I wrote in the description and the further reply. I am only asking to write some guidelines for mathematical equations. It had some conditional, I just added a bit more.

Sorry but I do not have the expertise (and time. I already followed this path a few times after you suggested this and I j

[2021-07-06 14:20] rgommers opened #14360 "Making clearer what namespaces are public by use of underscores"
When we add new `.py` files, we are careful to add underscores to the file names to ensure everyone sees at a glance that this is not a new public namespace. However, we have lots of files that are missing that underscore. This is only because of historical reasons; in the early days of SciPy no one paid attention to this. We had a discussion about it once, probably about 9-10 years ago, and decid

[2021-07-06 14:56] rkern commented on #14354
The description _is_ very focused on defining rules for `black`-like tools, not only guidelines. If that is no longer the intent, you may wish to amend the wording (preserving the old version for reference, of course).

Those are worthwhile goals because the state of those tools is pretty pathetic for math expressions. But to formulate rules that work within the constraints of algorithmic auto-for

[2021-07-06 16:48] david-cortes commented on #14262
I assume the module is calling these functions from a dynamically-linked BLAS library, which already has them with `const`.

Shouldn't it be enough with just adding `const` in the `extern` declarations and in the script that generates the exported .pxd?

[2021-07-06 18:07] Nicholaswogan commented on #8257
I wrote a wrapper to LSODA which has no overhead: https://github.com/Nicholaswogan/NumbaLSODA . Solving ODEs with this wrapper should be just as fast as pure C/C++. Below is a comparison with your sample lorenz system:

Scipy: 1.5.2
1. odeint: 143.4 ms
2. solve_ivp(LSODA): 310.7 ms
3. NumbaLSODA: 3.6 ms

[code]

[2021-07-06 18:14] rgommers commented on #14360
To check the impact on git history I pushed a branch here: https://github.com/rgommers/scipy/blame/test-renaming-file/scipy/ndimage/. It has 3 new commits:
1. rename `ndimage/filters.py` to `_filters.py`
2. add a new file `filters.py`
3. make a random change in `_filters.py`

`git blame` is not affected at all, it does not show the rename on the command line nor in the GitHub UI:
[code]

<img widt

[2021-07-06 18:48] newville commented on #14354
@tupui @rgommers

@rgommers  Um, yes it is.  And not only for SciPy but "we, as the scientific community and not just SciPy".   The goal is very clearly stated as defining how math is rendered **so that tools like Black may be used**.  It is not isolated to point 2.

Huh?   The message sent to the mailing list on 1 July (https://mail.python.org/pipermail/scipy-dev/2021-July/024924.html) has a subj

[2021-07-06 19:06] rgommers commented on #14354
So clearly the issue description wasn't as focused as it should have been. @tupui discussed this with me, that's why I knew the goal was (2). I even pre-read what he wrote (but not thoroughly enough), so I'm partly to blame for it being unclear.

From initial discussion on gh-14330 it's clear that many people are -1 on using `black` because its math formatting is terrible. So that's on hold / reje

[2021-07-06 19:36] rkern commented on #14354
Since this issue has obviously derailed, I suggest also closing this one and starting fresh. It's cleaner than trying to amend the initiating issue description and resuming an essentially new discussion mid-thread.

I still think it's questionable that the `scipy/scipy` issue tracker is the best place to have the amended discussion. Maybe the [SPEC](https://scientific-python.org/specs/) Discourse

[2021-07-06 19:50] rgommers commented on #14354
Agreed, let's close it.

That does sound like a good suggestion. We never had a place like that, but we do now - it'd be good to try and start using it. There's still little traffic on that Discourse, but we can point people to it on the mailing list.

[2021-07-06 19:50] #14354 closed

[2021-07-06 19:56] tupui commented on #14354
Sounds like a good idea, agreed.

Thank you all for the discussion. In future I would hope we could have discussions with a productive outcome and less emotions.

[2021-07-06 20:30] ilayn commented on #14354
This would have been a good transfer to discussions had we had enabled it by the way

[2021-07-07 05:13] twiecki commented on #7689
Ping that we went into this issue too.

[2021-07-07 05:37] gormster commented on #13409
Just in case anyone out there is doing the dumb thing I did: `brew --prefix openblas` still outputs a path **even if OpenBLAS is not installed.**

### Make sure you do `brew install openblas` first.

[2021-07-07 11:13] tirthasheshpatel commented on #14347
From [this SO thread](https://stackoverflow.com/a/30913920/10177420),

`expect` uses `integrate.quad` to calculate the expected values. It fails in this case because of a very narrow peak in your integration region. As the answer on SO suggests, you can pass a keyword argument `points` to integrate the peak region separately.

As far as distributions in SciPy are concerned, you can separately inte

[2021-07-07 11:13] #14347 closed

[2021-07-07 11:36] yalwan-sage commented on #14041
I haven't been able to find a small-ish reproducing example, but I'd like to share the implementation I've used for the augmenting form with dummy links, in case you find it useful and would want to incorporate a variant of it into scipy itself. The quantisation isn't incorporated because that's an issue of our specific problem rather than the general implementation.

[code]

[2021-07-07 12:09] GF-Huang commented on #12619
![image](https://user-images.githubusercontent.com/4510984/124756617-3b9d8c00-df5f-11eb-8cb4-d823eefb1948.png)

[2021-07-07 12:21] NeilGirdhar commented on #7689
@twiecki You may be interested in [this version ](https://github.com/NeilGirdhar/efax/blob/master/efax/_src/scipy_replacement/multivariate_normal.py) of the distribution that does not have the above problem.

[2021-07-07 21:45] mattip opened #14363 "Huge stack allocation in _sobol.pyx may cause stack overvflow"
xref conda-forge/scipy-feedstock#173

PR #10844. added a very large statically allocated table `cdef int vinit[21201][18]` to `_sobol.pyx`. Then the table is lazily loaded via
[code]

As reported in cython/cython#4272, this leads to C code that has a second static allocation of `vinit` at the beginning of `initialize_direction_numbers`, which sometimes overflows the stack. One solution would be to

[2021-07-07 22:38] dimpase opened #14364 "threads.h not available on OpenBSD, scipy assumes it is present"
My issue is about building scipy on OpenBSD.

#### Error message:

[code]

#### Scipy/Numpy/Python version information:

building scipy 1.6.3
[code]

[2021-07-08 00:22] peterbell10 commented on #14364
Looks like numpy/numpy#18179 and `vode` is an f2py module. This seems to have been fixed in [NumPy 1.20.3](https://github.com/numpy/numpy/releases/tag/v1.20.3) though. Are you building SciPy with `pip`? If so we might be using an old version of NumPy which doesn't have the bug fixed.

[2021-07-08 01:56] AnirudhDagar commented on #14360
Thanks, @rgommers for throwing some light on the history of these private namespaces which look like public (without leading underscores). Also, thanks for verifying that renaming still keeps `git blame` intact.

I'd also lean towards this approach, but I'll wait for more discussion (if any) on this.

Once we have decided, I can start with `scipy.ndimage.<module>` -> `scipy.ndimage._<module>`.

[2021-07-08 02:06] david-cortes opened #14365 "Sparse constructors don't accept dtypes from ctypes"
This will throw an error:
[code]
[code]

It only accepts dtypes from numpy, whereas numpy itself also accepts dtypes from ctypes:
[code]

[2021-07-08 02:13] huang229 opened #14366 "Parameter curve fitting through a part of fixed points"
Through the parameter curve fitting of some fixed points. I would like to ask if there is an implementation interface for this function, thank you.

[2021-07-08 02:23] david-cortes commented on #14365
Closed, just noticed that the argument needs to be named, regardless of whether it is from ctypes or not.

[2021-07-08 02:23] #14365 closed

[2021-07-08 02:41] rkern commented on #14366
We ask that usage questions go to the [mailing list](https://www.scipy.org/scipylib/mailing-lists.html) or StackOverflow. You may need to describe your request more completely.

In particular, I don't know what you mean by "fixed points". We have, for example, [`curve_fit()`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.curve_fit.html) which does nonlinear least squares opti

[2021-07-08 02:41] #14366 closed

[2021-07-08 02:52] huang229 commented on #14366
Thank you very much for your reply.
I have 20 two-dimensional coordinates, labeled 0 to 19. Because there is a case that one variable x corresponds to more than one y value, we have to use the curve fitting method with point sequence requirement. And some of these points are fixed points, which must pass through, and the other points can not pass through. I didn't find the corresponding function m

[2021-07-08 06:30] ev-br commented on #14234
So a short/medium term solution is to bump the python requirement once the released pythran version contains https://github.com/serge-sans-paille/pythran/pull/1806 -- not sure which version it is though.

[2021-07-08 07:42] rgommers commented on #14234
pythran `0.9.12` will come out in a couple of days with that fix. So we should bump to that version for scipy `1.7.1`

[2021-07-08 08:42] dimpase commented on #14364
We are building SciPy with pip using the local copy of NumPy 1.20.3. So it's probably not fixed there. I'll have a look at reproducing numpy/numpy#18179

[2021-07-08 09:09] dimpase commented on #14364
Indeed, the test in numpy/numpy#18179 still fails on NumPy 1.20.3.

[2021-07-08 09:25] aguschin commented on #13102
For me using python 3.9.5 instead of 3.10 solved the issue.

[2021-07-08 10:46] #14363 closed

[2021-07-08 14:49] carismoses commented on #13102
A lot of the solutions listed here were not working for me. What ultimately worked was:
[code]
It installed python3.9 in the process at this location ```/opt/homebrew/Cellar/python@3.9/3.9.6/bin/python3```, so I have to run this python executable to use ```import scipy```.

[2021-07-08 16:08] peterbell10 commented on #14364
This is irrelevant. `pip` build isolation creates and new virtual environment for the build and installs the dependencies listed in `pyproject.toml`.
https://github.com/scipy/scipy/blob/5fba81b49065cd929dbd8df64a43a4d57fe0c21e/pyproject.toml#L33-L36

It's present in the maintenance branch and pre-dates the 1.20.3 release by around a month, so this seems unlikey.
https://github.com/numpy/numpy/comm

[2021-07-08 16:39] dimpase commented on #14364
In this case one can [see from the log](https://users.ox.ac.uk/~coml0531/tmp/scipy-1.6.3.log) of the build that nothing like installing another version of NumPy just to build SciPy is taking place.

Besides, I tried the test from  numpy/numpy#18179 with my supposedly fixed NumPy 1.20.3, and it still fails: https://github.com/numpy/numpy/issues/18179#issuecomment-876269573

[2021-07-08 17:47] Hamuel101 opened #14369 "convolve2d not working"
My issue is about the scipy.signal.convolve2d operation not working

#### Reproducing code example:

[code]

#### Error message:
it prints:
[[15 21]
 [31 37]]
it should print:
[[21 27]
[39 45]]
-->

#### Scipy/Numpy/Python version information: returns: 1.7.0 1.19.5 sys.version_info(major=3, minor=9, micro=5, releaselevel='final', serial=0)
<!-- You can simply run the following and paste the result

[2021-07-08 18:06] adrianomitre commented on #12809
In the paper [On computation of the running median](https://ieeexplore.ieee.org/document/17539), authored  by J.T. Astola and T.G. Campbell, it is presented an algorithm with θ(_n_ ⋅ log(_m_)) time complexity, in constrast with θ(_n_ ⋅ _m_ log(_m_)) of the straightforward approach, where _n_ is the signal length and _m_ is the window length.

The central idea is employing a min-heap and a max-heap

[2021-07-08 18:06] tinkerware commented on #13102
We ran into this recently as well (using scipy 1.7.0 and Python 3.7.10 together), and what worked for us was:

  - `xcode-select --install` before anything, with latest XCode from App Store
  - `brew install pyenv`
  - `pyenv install 3.7.10 && pyenv global 3.7.10`
  - `pip install scipy`

We actually use `Pipenv`, and it helped to split `pipenv lock` and `pipenv sync`, though likely due to our oth

[2021-07-08 18:49] peterbell10 commented on #14364
Okay, if it's not build isolation then there's nothing on SciPy's side effecting this. I suggest opening a NumPy issue with more details of your environment and the libc your using.

[2021-07-08 18:58] jakevdp commented on #14369
Hi - thanks for the question. I'm not sure where your expected numbers come from, but perhaps you have in mind `correlate2d` rather than `convolve2d`? The difference is that `convolve` will flip the axes of the second input before doing the sliding window operation, correlate will not. The results for correlate2d are similar to the values you expect (I could not understand what operation you have

[2021-07-08 19:06] rkern commented on #14369
They intended `x = np.array([[1,2,3],[4,5,6],[7,8,9]])` as the example input. Using `correlate2d()` with that input gives the expected results.

It's worth noting that convolutional neural network implementations typically use "convolution" to refer to the _un_-flipped convention as opposed to the standard signal processing convention that we use in scipy. That is going to be an increasing source

[2021-07-08 19:06] #14369 closed

[2021-07-08 19:08] Hamuel101 commented on #14369
yeah my bad. I am working on a convolutional NN, and I did get mistaken.

Maybe rename? not sure, but it was a bit confusing for me. Thanks for the clarification!

[2021-07-08 19:12] rkern commented on #14369
We will not be renaming the function. The signal-processing convention (and `scipy.signal.convolved2d()`) _long_ predates the popular implementations of CNNs that repurposed the word.

[2021-07-08 19:13] Hamuel101 commented on #14369
fair enough. Thanks for the help.

[2021-07-08 19:18] adrianomitre commented on #12809
Another interesting, more recent, reference is [Median Filtering is Equivalent to Sorting](https://arxiv.org/abs/1406.1717) authored by Jukka Suomela. At the end of the paper there is a Python code listing. Also, there is an implementation by the author [here](https://github.com/suomela/median-filter), including the [Python implementation listed in the paper](https://raw.githubusercontent.com/suom

[2021-07-08 19:48] mckib2 commented on #14320
It appears that while the options for writing solutions are valid, HiGHS will ignore them and not write the solution out-of-the-box.  Doing a quick grep, these options seem to only be used in the [HiGHS command line runner](https://github.com/ERGO-Code/HiGHS/blob/40fa96a10554d76b1413bf33cc79a2153aa1db13/app/RunHighs.cpp#L53), so all you need to do is copy what they do right before `_highs_wrapper`

[2021-07-08 20:14] dimpase commented on #14364
I've opened numpy/numpy#19437

[2021-07-08 20:54] dlindelof commented on #14335
I'm currently trying to follow the steps in `. github/workflows/macos.yml` by hand; I've noticed that towards the end we `pip install pythran`. On my machine, that pulls in `scipy` itself as a transitive dependency. Can that be a problem?

[2021-07-08 21:17] tupui commented on #14335
Pythran has actually a dependency to Networkx which has a dependency to SciPy. I have no clue why this is not causing any issue normally. Looking at logs of recent PRs, Networkx is getting installed without SciPy.

[2021-07-09 06:51] czgdp1807 commented on #14324
Hi. Can I work on this? It seems like we have to change the way intercept is computed in `theilslopes`.

[2021-07-09 07:10] tupui commented on #14335
I can see the problem here too https://github.com/scipy/scipy/pull/14358/checks?check_run_id=3025723702#step:5:1101
@serge-sans-paille can you clarify what is happening?

[2021-07-09 07:24] rgommers commented on #14335
It is indeed a circular dependency, `pythran` depends on `networkx`, `networkx` depends on `scipy`. This should not be a problem _if_ you're on a platform where there's a scipy wheel. However, I can see a problem occurring with, say `pip install scipy --no-binary` or `pip install scipy` on a platform for which there is no wheel.

I'll give it a try. @dlindelof it would also be useful to have your

[2021-07-09 07:28] tupuinui commented on #14335
ok I see, thanks Ralf! This is happening now on Nightly apparently.

[2021-07-09 07:29] tupui commented on #14335
ok I see, thanks Ralf! This is happening now on Nightly apparently.

[2021-07-09 07:38] serge-sans-paille commented on #14335
This is interesting: we end up in a situation where scipy may need to be boostrapped, i.e.

1. build a local version of scipy, *without* pythran
2. use that version ro resolve networkx dependency (and pythran dependency, as pythran also has an optional dependency on scipy)
3. build a full version of scipy with pythran-built kernels
This is a common process in compiler engineering, but that may be

[2021-07-09 07:42] tupuinui commented on #14335
Why not, just not sure if we might run into problems as this is in the Nightly job.

[2021-07-09 07:43] tupui commented on #14335
Why not, just not sure if we might run into problems as this is in the Nightly job.

[2021-07-09 08:10] rgommers commented on #14335
For `pip install scipy --no-binary scipy -vvvv` I see:
[code]

This is not a good thing:(

It happens to work right now (I think), because we only have a single version with a `pythran` build dependency released. But it cannot work with the current `pyproject.toml` for more versions - `pip` will keep going in circles till it hits `1.6.3`.

It doubles the from-source build time, even if there was a

[2021-07-09 08:16] rgommers commented on #14335
I also have no clue why `networkx` has dependencies that heavy in its defaults. It used to only depend on `decorator`, with everything else in `[extras]`, it was changed about 10 months ago in https://github.com/networkx/networkx/commit/5f2445c1b5ff4db2dd0f943e006df1a107e8f00b. The fix in `pythran` would be to depend on `networkx < 2.6`.

Cc @jarrodmillman - this seems like a showstopper for using

[2021-07-09 08:23] rgommers commented on #14335
Ah, that's why I'm confused: `networkx` 2.6.0 was released yesterday, until yesterday it indeed only depended on `decorator` and everything else was in extras.

[2021-07-09 08:25] rgommers commented on #14335
@dlindelof I'll rename this issue to be about the build dependency cycle, since we need to resolve that asap. It was not the original cause of your missing symbol problem. It seems you can build now, if you still see the `_cephes_cosdg` problem cropping up, can you open a new issue for it with a full build log?

[2021-07-09 08:29] tupui commented on #14335
This is the relevant PR https://github.com/networkx/networkx/pull/4190

[2021-07-09 08:43] whenyd opened #14374 "The dependencies of pythran are very confusing."
When I compile scipy 1.7.0, an error occured that says "ModuleNotFoundError: No module named 'pythran'". Then I execute `pip install pythran`, something confusing happened.

**17 packages been installed**:

`pythran decorator beniget ply networkx gast six numpy pandas scipy matplotlib python-dateutil pytz cycler kiwisolver pillow pyparsing`

Even the scipy is in the list, and other scientific pack

[2021-07-09 08:46] h-vetinari commented on #14335
Ideally, both networkx and pythran should have a core with as few dependencies as possible, and offer the "fully monty" as an `[extra]`-install.

Bootstrapping these dependency cycles can be really hairy & painful. In conda-forge we reliably hit these cycles when rebuilding for new python versions (like the upcoming cpython 3.10 or pypy 3.8).

[2021-07-09 08:55] rgommers commented on #14335
For the `1.7.0` release our build requirement is `"pythran==0.9.11"`, so a pythran `0.9.12` release won't fix the problem. Basically the only thing that will fix the `scipy` 1.7.0 from source build with build isolation is yanking the `networkx` 2.6.0 and 2.6.1 releases from PyPI and never reintroducing any extra dependencies there. Which is probably a bit too much to ask of NetworkX. Cc also @ross

[2021-07-09 08:57] ilayn commented on #14374
Yes we have just found this out too when dependency of `pythran`, `networkx` changed its dependencies too. We are working on it in #14335

[2021-07-09 08:57] ilayn commented on #14374
Duplicate of #14335

[2021-07-09 08:58] #14374 closed

[2021-07-09 09:01] whenyd commented on #14374
Ok, well

[2021-07-09 09:08] ilayn commented on #14335
It seems to me that the other option for Pythran is to vendor the networkx parts internally. As far as I can see they are discovering cycles and simple paths.

[2021-07-09 09:28] andyfaff commented on #14335
I was concerned about this exact thing happening when accepting Pythran as a dependency. As one of the core scientific packages scipy should be looking to have a small dependency tree, Pythran increases that significantly.

scipy used to require `numpy` and `cython` to build+install. We also use `pybind11` but it's footprint is confined to itself.

Now we require pythran. When I `pip install pythr

[2021-07-09 09:32] rgommers commented on #14335
@andyfaff please check my last message up. The dependency tree of Pythran was a few pure Python packages, till yesterday. The problem is NetworkX made a major breaking change.

[2021-07-09 09:48] rgommers commented on #14335
Pythran itself is also pure Python by the way, we could vendor it if we wanted to - that would get rid of the dependency completely. Pythran's other dependencies include `six` and `decorator`, which we used to vendor and currently vendor, respectively. I don't really want to, but there is something appealing to having a completely self-contained package. That's a discussion for another time. Reall

[2021-07-09 09:50] ev-br commented on #14335
A big +1 from me too. This seems by far the best solution. To offset this sounding like "we have a problem, you deal with it", I wonder what's easier for pythran devs: vendor relevant parts of networkx themselves or make a list of actionable items to coordinate outside contributions (I'm pretty sure some of us could help).

[2021-07-09 09:51] rgommers commented on #14335
+1 this is easy for us to help with I've been contributing to Pythran and it's nice. 10x more approachable code base than Cython.

[2021-07-09 10:00] ev-br commented on #14335
I'm not familiar with either pythran or networkx code, but just looking at https://github.com/serge-sans-paille/pythran/search?p=2&q=nx. , it does not look too bad. So may count me in if that's helpful.

[2021-07-09 10:01] czgdp1807 commented on #14353
Hi. I would like to try working on 'Eigenvalue Problems' for this issue. Please let me know if that's possible. Thanks.

[2021-07-09 10:09] rossbar commented on #14335
I'm not sure this is particularly useful here (maybe for pythran) but all relevant NetworkX code will still work without the additional dependencies: `pip install --no-deps networkx`

[2021-07-09 10:15] andyfaff commented on #14335
Yes. But there's still risk involved if the number of packages is large. If the other pure python packages involved start to have issues, we're then dependent on those issues being addressed in a timely manner. The bigger the surface, the bigger the risk.

[2021-07-09 10:16] h-vetinari commented on #14335
which would be an excellent argument for networkx not to default-depend on `numpy`, `scipy`, `pandas` & `matplotlib`...

I think that would be the most elegant solution still by a long shot, if @jarrodmillman & the networkx maintainers would be willing to revert that. Vendoring is possible of course, but comes with its own (IMO substantial) costs.

[2021-07-09 10:28] rgommers commented on #14335
Agreed. We should start thinking about pruning the set of dependencies as far as possible. Of course, our most hairy build-time dependencies are BLAS/LAPACK and compilers, not pythran, pybind11 or cython. And we cannot even express those dependencies in `pyproject.toml` or `setup.py`. So the actual amount of room for improvement here is fairly limited.

[2021-07-09 10:30] rossbar commented on #14335
I can't speak for everyone, but I think this is something we would consider - we intentionally had release candidates up for longer than usual for this release hoping to gather some feedback on this particular change. We had hoped that adding the main scientific Python libraries as dependencies wouldn't be particularly disruptive with the availability of wheels for most major platforms.

[2021-07-09 10:59] rgommers commented on #14335
Wheels have indeed made our life better, but unfortunately we have to deal with various from-source build scenarios as well. Both platforms without wheels (AIX, Alpine Linux, PowerPC, even macOS M1 still), and people who use `pip install --no-binary` for some reason (could be to build optimized binaries, or to work around some bug, or maybe other reasons too).

I do think NetworkX depending on Num

[2021-07-09 11:41] par-justinf opened #14375 "Issue Runnin SciPy with BigML on Windows"
My issue is about ...

#### Error message:

[code]

#### Scipy/Numpy/Python version information: Tried this on several different versions on scipy (1.7,1.5.1,1.6.1, etc) all with the same result. Python 3.

-->

[2021-07-09 11:50] tupui commented on #14375
Hi, thanks for posting. Could you post a minimal reproducible example? It's difficult to help you otherwise.

[2021-07-09 12:23] jarrodmillman commented on #14335
Would removing pandas and matplotlib as default dependencies for networkx fix this problem?

[2021-07-09 12:30] rgommers commented on #14335
Drink your coffee first, not the complete house is on fire.

There's two problems:
1. "`scipy-1.7.0.tar.gz` on PyPI now has a circular dependency"
2. we don't want `scipy`, `pandas` and `matplotlib` as build dependencies

(1) is only fixable by a new scipy release, or by completely yanking networkx 2.6.0 and never putting anything back with more than only a `numpy` dependency.

(2) is best fixed b

[2021-07-09 14:54] rgommers commented on #14375
Indeed, a full build/install log would be useful here.

[2021-07-09 15:54] AnirudhDagar commented on #14353
Sure, that would be great @czgdp1807! Please confirm the same with @peterbell10 or @rgommers before you start.

[2021-07-09 18:01] jarrodmillman commented on #14335
I just yanked 2.6 and 2.6.1 from PyPI until we resolve https://github.com/networkx/networkx/pull/4967.

[2021-07-09 19:13] rgommers commented on #14335
Thanks Jarrod!

[2021-07-09 20:16] Michael-git96 commented on #14320
Thanks for the suggestion, I saw that there is also a `writeHighsInfo` which I assume writes the INFO lines we see in the output when `disp=True`?

I also have never dealt with pyx files so if you have any pointers on modifying those files (and cythonizing them after if needed), I would really appreciate that.

[2021-07-09 22:09] ilayn commented on #14335
Indeed thanks for the quick response @jarrodmillman . However I still feel like we can improve Pythran's dependency problem by understanding a bit better why they needed networkx in the first place. Many tools including f2py has a mini cyclic dependency checking engine in place for this type of usage. So maybe networkx folks can help us implement a simpler version of a graph to remove a full-blown

[2021-07-09 22:52] jarrodmillman commented on #14335
@ilayn see https://github.com/serge-sans-paille/pythran/pull/1839.

[2021-07-10 04:31] carismoses commented on #13102
This actually didn't work... When I tried to `import sklearn` the import failed. @tommydangerous's solution worked for me!

[2021-07-10 05:02] chrisb83 commented on #14324
Sure, it is just one line that needs to be changed. A test case should be added and potentially the existing tests have to be modified if the intercept is considered.

[2021-07-10 05:27] chiggum commented on #10374
Just wondering if this is fixed.

[2021-07-10 09:28] rgommers commented on #14335
If you decide you want to put them back or do a `networkx` 2.6.2 release with a `scipy` dependency, please let us know - we then need to do a `scipy` 1.7.1 first (which should depend on `pythran` 0.9.12).

[2021-07-10 13:55] rgommers commented on #13643
This code looks a bit fishy :
[code]
and this is worse - why would we only support complex dtypes for GCC?:
[code]
The filter code being called (e.g. in `C_bspline_util.c`) also uses `#ifdef __GNUC__`. I think this code predates Clang being a thing, and perhaps there was some bug with an exotic compiler that the original author didn't feel like looking at.

PR gh-14367 is making some fixes to `sep

[2021-07-10 15:59] jraman commented on #14313
Using a seed generated by `SeedSequence` (as @tupui suggests) makes it replicable (as @josef-pkt suggests) and protects against copy and paste (because rerunning the code generates a different seed).

Simply print the seed for replicability.

Example below:
[code]

Whoever wants to reproduce the result can easily do so by explicitly setting the seed to the one printed.

This method also protects a

[2021-07-10 16:09] rkern commented on #14313
Our current policy for the docstring example is just to use `rng = np.random.default_rng()` per gh-13863. The documentation generator will [replace that with an implicit seed](https://github.com/scipy/scipy/blob/master/scipy/_lib/_util.py#L542-L550), so use that seed when you run the rest of your example.

[2021-07-10 16:54] jraman commented on #14313
Hmm.  Good to know, thanks.  But ...

 1. Does `_fixed_default_rng` mean that the documentation ends up being written for the current hard-coded seed in `_fixed_default_rng`?  Imagine changing the hard-coded seed (1638083107694713882823079058616272161) to some other value.  That would break the documentation in other places and hence makes it hard to change this value, right?
 2. As @josef-pkt  po

[2021-07-10 17:04] rkern commented on #14313
1. We're not going to change it.
2. I've [already addressed this in this thread](https://github.com/scipy/scipy/issues/14313#issuecomment-870692394).
3. There are certainly ways to surface that seed somewhere in the documentation so that users and documenters are more aware of it (and so it's easier to access when constructing examples), but printing it out in each example is probably too much.

[2021-07-10 21:21] dlindelof commented on #14335
Sure thing, I'm able to build now, after getting rid of everything from Conda. As for that circular dependency on `scipy`, I just `pip uninstall`ed scipy and it worked.

[2021-07-10 21:31] #10888 closed

[2021-07-11 05:24] yxt7979 commented on #11444
same error，update your scipy!

[2021-07-11 09:07] amiranas opened #14382 "Memory leak in `scipy.spatial.distance` for `cdist`"
There is a memory leak in `cdist` in 1.7 that was not there in 1.6.3.

#### Reproducing code example:
[code]

#### Scipy/Numpy/Python version information:
`1.7.0 1.21.0 sys.version_info(major=3, minor=9, micro=5, releaselevel='final', serial=0)`

[2021-07-11 12:10] Stardust1225 opened #14383 "Reference count error in function scipy.stats.kde.gaussian_kde"
My issue is about reference count error in function scipy.stats.kde.gaussian_kde

#### Reproducing code example:
[code]

#### Error message:
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 93]
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 123]

the reference count of the last element would increase as the number of loops.

#### Scipy/Numpy/Python version information:
v1.7.0

[2021-07-11 13:00] ilayn commented on #14383
I don't get what this function supposed to be doing. Why should the numpy.int32 reference count should stay constant?

[2021-07-11 14:27] psobolewskiPhD commented on #13409
Given that numpy is now supporting Accelerate again and Apple has fixed blocking issues, perhaps scipy can consider re-enabling Accelerate?
https://github.com/numpy/numpy/pull/18874#issuecomment-830394335

[2021-07-11 15:07] fuglede opened #14385 "csgraph.maximum_flow can cause Python crash for large but very sparse matrices"
While reviewing #14358, I ran into the following issue (which affects both the implementation in that PR and the currently available SciPy implementation):

#### Reproducing code example:

Consider the flows calculation of the following very simple graph (in which each vertex has exactly one successor), represented by the matrix with ones on the superdiagonal and zeros elsewhere:

[code]

On my ma

[2021-07-11 15:37] fuglede commented on #14385
The issue is due to an overflow in at `haystack = rows*n + cols` in `_flow.pyx`. Replacing both instances of

[code]
with
[code]

and
[code]
with
[code]

is enough to take care of the problem, or at least, make it possible to run much larger matrices through the solver.

This is not a particularly nice fix though. And while both of `_add_reverse_edges` and `_make_edge_pointers` are nice and NumPy'

[2021-07-11 17:33] isuruf commented on #13409
Not true. Apple has fixed issue in BLAS, but not LAPACK.

[2021-07-11 18:13] atrevisan21 commented on #14324
It seems like there are two ways to calculate the intercept both `np.median(y) - np.median(x) * m` and `np.median(y - x * m)` ( [Helsel and others, 2019](https://pubs.usgs.gov/tm/04/a03/tm4a3.pdf) pg. 268). The main benefit of finding the slopes using the median of x and the median of y is that the line will pass through point median x and median y mirroring least squares regression passing throug

[2021-07-11 20:31] tupui commented on #14385
Thanks @fuglede. The fix being simple, would it still make sense to do it until you/someone rewrite the functions?

[2021-07-11 20:33] tupui commented on #14382
Thank you @amiranas for finding this.

[2021-07-11 20:54] tupui commented on #14223
Did you solve your issue @winstxnhdw? Without more details, I am afraid I don't see how we could debug the problem.

[2021-07-11 21:26] chausies opened #14386 "Let CloughTocher2DInterpolator fit "nearest" for points outside the convex hull (instead of nans)"
Currently, [CloughTocher2DInterpolator](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.CloughTocher2DInterpolator.html#scipy.interpolate.CloughTocher2DInterpolator) can only fill in a constant value (nan by default) when queried outside the convex hull of the input points. But this absolutely isn't ideal.

What would be much better is to use the value of the nearest neighbo

[2021-07-11 22:51] fuglede commented on #14385
The mailing list thread I had in mind was [this one](https://mail.python.org/pipermail/scipy-dev/2020-January/023914.html); it'd need some tweaking (I'd assume, for instance, a priori that it wouldn't quite be enough if some backwards edges already exist) but the idea of "just do Cython instead of NumPy" appears to make a fairly big performance difference.

Adding the hacky fix mentioned above now

[2021-07-12 07:19] tupui commented on #14385
Ok thanks, I will mark this for the next release.

[2021-07-12 07:48] mretegan commented on #12809
@jerabaul29 The time-consuming part of the Hampel filter is the computation of the rolling window median. Here is a link to a notebook comparing your function and another one that uses views and eliminates the for loop (https://gist.github.com/mretegan/5ec039a216449f5a9bbf81854f7919a2). It is about 40 times faster.

[2021-07-12 07:52] iperov opened #14388 "ndimage.zoom with float factor is not convenient"
I am doing image degradation via resize by user controlled power factor.

`scipy.ndimage.zoom` accepts only float zoom value, which is unusable to recover previous image size.

[code]

[2021-07-12 07:57] Patschke commented on #14337
I just noticed

In the description of `scipy.optimize.least_squares`. So my initial use-case is not going to be available with that proposal - However, I still believe, that having the syntax of 'least_squares' available for all methods is beneficial.

[2021-07-12 10:19] Kaniee opened #14389 "`linalg.inv` fails for arrays of shape (0, 0)"
My issue is about the behavior of `linalg.inv` for arrays of shape (0, 0).
I would like to move from `numpy.linalg` to `scipy.linalg`, but with scipy inverting this kind of matrices is not possible.
Normally my functions runs with (M, M) matrices with M > 0 but I would like to handle the edge case as well where M = 0.
I can work around this issue by checking the shape beforehand, but it seams to m

[2021-07-12 11:36] winstxnhdw commented on #14223
Hello @tupui, I did not find a way to solve this issue other than downgrading my NumPy version. However, I did notice that I was able to reproduce the same issue in this [Notebook](https://github.com/winstxnhdw/OfflinePathOptimisation/blob/master/examples/controlled.ipynb) of mine. You may want to give it a try by running the Notebook with NumPy >1.19.3.

[2021-07-12 14:11] astrojuanlu opened #14390 "Incomplete docstring in `brenth`"
There is an incomplete sentence in the `brenth` documentation:

https://github.com/scipy/scipy/blob/3dbe759189bf0f947530c5ab1bf59a43ea4924de/scipy/optimize/zeros.py#L788

([Credit goes to @jacobwilliams 😉](https://twitter.com/DegenerateConic/status/1411790932106690565))

[2021-07-12 14:40] MrTomRod commented on #13896
Thanks a lot, @V0lantis!

I will integrate the test into my software and write a paper. Can I cite your effort specifically somehow?

I have a problem with the documentation, though: The assumption of Boschloo's test that the row sums are fixed, but the column sums are not. (See [Wikipedia > Boschloo > Setting](https://en.wikipedia.org/wiki/Boschloo's_test#Setting)) With Fisher's test, it doesn't

[2021-07-12 14:46] nschloe opened #14391 "connected_components: respect diagonal values, exclude values which are never referenced"
Right now, `connected_components` does not take into account the values on the diagonal of the input matrix. Whether you supply an all-zero matrix or the identity matrix of the same size, you always get each node index in its own component:
[code]
[code]
I now have a use case where there are indices which are never referenced in the entire graph, and I would like them not to be counted anwhere. I

[2021-07-12 15:25] rkern commented on #14391
I don't think this meshes with the usual semantics of adjacency matrices or [standard definitions of connected components](https://en.wikipedia.org/wiki/Component_(graph_theory)). A graph is a pair of sets, one for nodes and one for edges. An adjacency matrix encodes a graph by assigning each node to a row/column and nonzero entries for the edges. The mere presence of the row/column means that the

[2021-07-12 15:33] adrianomitre commented on #12809
The implementation [in this Gist](https://gist.github.com/adrianomitre/2ced5544421eca031180782cc30798af), is more than 6x faster than the fastest implementation on the notebook, which uses sliding tricks, and more than 220x faster than the slower one. I must point out that these comparison do not account for the ~1 second it takes to JIT compile in the very first run.  Also, it depends on [numba](

[2021-07-12 15:35] jaharris85 opened #14394 "ENH: optmize.slsqp: return Lagrange multipliers"
Hello,

I was wondering whether anyone had tested the accuracy of the Lagrange multipliers returned by the minimizer method SLSQP?

I created a very simple problem of minimizing (x - c)^2 with bounds 1 <= x <= 2. The solution returned by the solver for x is accurate to within the tolerance set. The multipliers I have plotted in the attachment and show a consistent and noticeable offset. I know tha

[2021-07-12 16:21] daharn commented on #14080
Thanks for diving into this! The singularity at M=1 is expected and the solution should be fine up until this point. But I suppose you are right, the effect illustrated in my example can be simply tied to approaching of this singularity.

Interestingly, I never encountered the above message about the time step being too small. Are you running, my exact example? Which version of python/scipy?

[2021-07-12 17:23] mckib2 commented on #10374
@mdhaber Is this the same behavior we saw [here](url)?

[2021-07-12 18:04] tupui commented on #13896
Glad to read that this new addition to SciPy is helpful. In general we invite people to cite the SciPy article directly https://www.nature.com/articles/s41592-019-0686-2 of course you are free to complete this citation with specific contributors information.

As for the rest I will let @V0lantis answer 😃

[2021-07-12 18:33] #14382 closed

[2021-07-12 19:40] tupui commented on #14390
Thanks for spotting this @astrojuanlu. Would you do a PR to fix it?

[2021-07-12 19:50] tupui commented on #14223
Sorry but I don't have enough time to go through this much code to try to spot something here... It will be difficult without a minimal example here. The function is benchmarked on so many cases, that I would first suggest to ensure your code is really doing what you think it is doing.

[2021-07-12 19:55] tupui commented on #14389
It is indeed inconsistent with what NumPy does. @ilayn what do you think? Should we improve the validation here?

[2021-07-12 20:02] winstxnhdw commented on #14223
I was able to replicate my issue on another colleague's laptop and solved it by downgrading NumPy. I think we can just place this as an outlier case. I am unable to replicate the issue on a simpler case. AFAIK, I've not seen anyone use the function this way and I don't think the minimize function was intended to be used the way I am using it. If you wish to investigate further and require more spe

[2021-07-12 20:05] tupui commented on #14223
What do you mean by that? You have an objective function, a guess, some bounds and a callback function. What is specific here in terms of optimization?

[2021-07-12 20:12] winstxnhdw commented on #14223
The arguments I am passing to the objective function is an array that could have a length of >100, which I have not seen any examples of online. I guess I would say that the objective function is not conventional and cannot be easily visualised as a 2D graph?

[2021-07-12 20:19] tupui opened #14396 "BUG: Sphinx 4.1 breaks the banner's logo"
Sphinx 4.1 was released on July 11th, 2021. Since then the logo file is not present anymore in the artifact which is uploaded. As we did not touch anything (I checked pipelines before and after to confirm this), I am confident this is linked to Sphinx release.

[EDIT: the path is indeed changed to `/_static/_static/scipyshiny_small.png` due to a Sphinx regression, see the linked Sphinx PR below.]

[2021-07-12 20:35] tupui commented on #14223
n-D optimization problems are very frequents. Have a look at the documentation of [scipy.optimize.basinhopping](https://scipy.github.io/devdocs/reference/generated/scipy.optimize.basinhopping.html#scipy.optimize.basinhopping). The note section clearly state that this method has been used in problems with over 300 parameters.

[2021-07-12 21:26] brianpenghe opened #14398 "scipy.io.write too slow"
I'm analyzing single-cell transcriptomic data which can be about a huge sparse matrix. Currently `scipy.io.mmwrite` works for writing a matrix into Matrix Market format, but it seems to be only using one CPU.

Is there a way to speed up this function?

[2021-07-12 21:28] ViktorHaag commented on #14396
Issue created upstream in Sphinx project: https://github.com/sphinx-doc/sphinx/issues/9438

[2021-07-12 23:41] andyfaff commented on #14394
This seems like more of a usage question. Github issues are intending mainly for bugs, rather than usage. It's probably better to direct usage questions to the scipy mailing list.

The example as written doesn't work because `minimize` returns an `OptimizeResult`, which isn't something that can be unpacked into two variables. You can find out what SLSQP returns [here](https://github.com/scipy/scip

[2021-07-13 02:23] andyfaff commented on #14223
I've had a look at the code in the notebook that was suggested as an example. It's very inefficient, with a lot of for loops which can be vectorised relatively straightforwardly. For example:

[code]
the loop could be removed by replacing with the `np.ediff1d` function, or `dx = x[1:] - x[:-1]`.

You could replace:
[code]
with
[code]

I'd expect at least a couple of orders of magnitude speedup wit

[2021-07-13 02:23] #14223 closed

[2021-07-13 04:04] czgdp1807 commented on #14324
@chrisb83 Should we close this issue and https://github.com/scipy/scipy/pull/14380 in the light of above comment?

[2021-07-13 06:12] chrisb83 commented on #14324
@atrevisan21 thanks for the additional research on this topic.

I think the best approach would be to add a new keyword `method` like in `stats.siegelslopes`:

`method='...'`: compute intercept as `median(y) - medslope*median(x)) (default option to keep backwards compatibility)
`method='...'`: compute intercept as `median(y - medslope*x)

Not sure what a good name for the arguments would be, maybe

[2021-07-13 06:47] ilayn commented on #12809
Another issue that I criminally forgot to attend. My apologies @jerabaul29 . And thanks for the discussion and references @adrianomitre and @mretegan.

If we can stabilize over the method to go then it seems to me that sorting and other loops are well suited for Cythonization. It seems to me that @suomela is using lists as poor man's linked list replacement but we can handle that a bit better. Hen

[2021-07-13 06:49] ilayn commented on #14389
Argh. Yes we need to accomodate for these indeed.

But as a word of obligatory caution, prefer `solve` to `inv` if you don't need the inverse itself.

[2021-07-13 07:04] Stardust1225 opened #14399 "Memory use is increasing as the times of call in function scipy.stats._sobol._categorize"
My issue is about memory leak in function scipy.stats._sobol._categorize.
As the below code shows, if I input illegal input to the function, the memory use is increasing as the number of calls.

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
scipy 1.7.0

[2021-07-13 07:33] tupui commented on #14389
@Kaniee would you like to make a PR?

[2021-07-13 08:13] Kaniee commented on #14389
Would be my first one here, but I can give it at try.
I would add something like this:
[code]

[2021-07-13 08:20] astrojuanlu commented on #14390
I have already contributed to SciPy in the past, perhaps I could leave this to first contributors? Otherwise I'll be happy to send a PR this week 👍🏽

[2021-07-13 08:22] Stardust1225 opened #14400 "Memory leaks in function scipy.interpolate._bspl.evaluate_all_bspl"
My issue is about memory leak in function scipy.interpolate._bspl.evaluate_all_bspl.
As the code below shows, when I input a random numpy array, the memory use of function scipy.interpolate._bspl.evaluate_all_bspl is increasing as the number of calls.

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
scipy 1.7.0

[2021-07-13 08:23] tupui commented on #14390
It's completely fine if you do it as well. I just flagged it because it should be a simple fix. As you wish 😃

[2021-07-13 08:32] #14396 closed

[2021-07-13 08:57] Stardust1225 opened #14401 "Memory leaks in function scipy.signal._peak_finding_utils._peak_prominences"
My issue is about memory leaks in function scipy.signal._peak_finding_utils._peak_prominences.
As the code shows below, the memory use is increasing as the number of calls.

#### Reproducing code example:
[code]

#### Error message:
[code]

#### Scipy/Numpy/Python version information:
scipy 1.7.0

[2021-07-13 09:08] jaharris85 commented on #14394
Sorry, I forgot to mention that I had to modify slsqp.py to return the first m entries of w as the second return argument:

[code]

Reading the comments in slsqp_optmz.f, the variable w should contain the Lagrange multipliers once the solver has converged.

You're right that it would be a lot easier just to use ```bounds```, but I needed to create a simple enough example that I could solve by hand

[2021-07-13 09:33] czgdp1807 commented on #14324
The above option sounds good. Making the change, right away. Thanks for the ideas.

[2021-07-13 10:23] winstxnhdw commented on #14223
Hey @andyfaff, thank you for the insightful suggestions. I have implemented them, earning me a 4 second improvement on the dataset and definitely much cleaner code.

I've tried again with scipy 1.6.3 and numpy 1.20.3 *without* using the `optimparallel` package. Again, the issue remains and the optimizer does not ever return.

[2021-07-13 10:34] andyfaff commented on #14223
The suggestions I gave were just the start. What does the callback print in the situation where it never finishes?

[2021-07-13 10:54] melissawm commented on #14390
I am wondering if it would be interesting to include a citation for that paper? I tried searching for similar papers but didn't find anything to match the description. There is a reference in a comment below the function definition but I didn't really check it.

[2021-07-13 11:22] winstxnhdw commented on #14223
Very much appreciated :)

It was printing a value so I left it to run on its own for about an hour and you were right, it did succeed in the end. However, when I am on NumPy 1.19.3, it takes **half** the time to complete. All this time I was thinking that it was frozen because it was taking so much longer.

[2021-07-13 12:32] jraman commented on #14313
`kstest` has a similar issue ([source][source]):

[code]

Documentation in an earlier version is consistent with the results: https://docs.scipy.org/doc/scipy-1.6.0/reference/generated/scipy.stats.kstest.html

[source]: https://github.com/scipy/scipy/blob/v1.7.0/scipy/stats/stats.py#L7622-L7626

[2021-07-13 13:31] rgommers commented on #14360
Message to the mailing list about this: https://mail.python.org/pipermail/scipy-dev/2021-July/024943.html

[2021-07-13 21:43] manuel-castro opened #14405 "Retrieving min-cut from max-flow residual"
Hello,

Is there a standard scipy way of retrieving the min-cut from the residual matrix returned by `scipy.sparse.csgraph.maximum_flow`?
Looking at the sparse graph routines, there doesn't seem to be a straightforward way of doing so, but I feel like I could be missing something.

Thank you in advance!!
Manuel

[2021-07-14 01:31] andyfaff commented on #14223
Your code takes so long because of the loops you are using rather than vectorising everything with numpy. I'd expect a 2 to 3 order of magnitude speedup if you could eliminate all the loops.

[2021-07-14 02:52] jacobwilliams commented on #14390
Do you mean this?
[code]

I think that is referring to the code after this one.

I haven't been able to figure out what paper 1980s is being referred to here.

[2021-07-14 08:17] rgommers commented on #14399
@Stardust1225 thanks for the report. `_sobol._categorize` is a private function, is there actually any way that a public function can pass such invalid input to it? Normally the input validation in public functions should catch this.

[2021-07-14 08:17] rgommers commented on #14400
Same question as in https://github.com/scipy/scipy/issues/14399#issuecomment-879693858

[2021-07-14 08:17] rgommers commented on #14401
Same question as in https://github.com/scipy/scipy/issues/14399#issuecomment-879693858

[2021-07-14 08:21] rgommers commented on #14398
The implementation is looping in pure Python (https://github.com/scipy/scipy/blob/master/scipy/io/mmio.py#L678), so the obvious way to speed it up would be to rewrite it in Cython.

[2021-07-14 08:27] ilayn commented on #14389
You can just return `a1.copy()` after the squareness check.

[2021-07-14 08:32] ev-br commented on #14389
There are several open issues about zero-sized matrices in other linalg functions, would be nice to handle these uniformly across scipy.linalg.

IIRC there also was an issue with a link to a Nick Higham paper about zero-sized matrices, but I cannot find it anymore. IIRC it was Alex Griffing advocating for it.

[2021-07-14 08:52] ilayn commented on #14389
@ev-br  #4908 ?

[2021-07-14 08:58] rgommers commented on #14320
Drive-by comment: writing to a file is a very odd thing to do, and I can't think of anywhere else we do this. Wouldn't it be better to use a proper Python logging mechanism? Or can we keep this private?

[2021-07-14 09:41] ev-br commented on #14389
Thanks @ilayn, clicking though... found it ---It's de Boor, not Higham:
https://github.com/scipy/scipy/pull/4672#issuecomment-124718692

[2021-07-14 10:38] Michael-git96 commented on #14320
@rgommers - I agree, writing to a file is not ideal. Do you have any suggestions for Python Logging Mechanisms?

At the beginning I tried to grab the stdout however since C and Python have different stdouts, it became quite complicated. I used this useful site: https://eli.thegreenplace.net/2015/redirecting-all-kinds-of-stdout-in-python/ along with the comments provided by Erik Sun to the answer i

[2021-07-14 10:49] rgommers commented on #14320
I don't know, I think it mostly depends on how the HiGHS C++ code is doing things. Redirecting stdout is fragile indeed. If it's not easy for the C++ code to return the output as strings rather than write it to a file, then I guess there's little that can be done.

My concern is mainly that HiGHS isn't very well-written C++ code, and if we make something like writing to a file an option through ou

[2021-07-14 11:07] Michael-git96 commented on #14320
I wanted to take a closer look into the C++ code to see if it was returning the output as strings but I could only find the header file https://github.com/scipy/scipy/blob/master/scipy/optimize/_highs/src/Highs.h and not the file with the C++ code for those functions. I assume, if you can specify a file for the output to be printed to, at some point the code must be returning a string which is eit

[2021-07-14 12:55] Jebby993 opened #14409 "Lagrange polynomials and numpy Polynomials"
My issue is about the documentation of lagrange interpolation here: https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.lagrange.html
lagrange returns a numpy.poly1d  that contains "The polynomial’s coefficients, in decreasing powers"

Then, the documentation shows to pass this result to numpy Polynomials. But this class accepts as parameters "Polynomial coefficients in order of

[2021-07-14 13:01] alexandertornede opened #14410 "scipy.stats.halfnorm.pdf giving wrong results for non-standard scale and location parameter"
My issue is about the half-normal distribution implemented in scipy, in particular about the PDF. The function ```scipy.stats.halfnorm.pdf``` does not yield correct probabilities (in fact not even a probability) for some instantiations of the distribution with non-standard scale and location parameters.

#### Reproducing code example:

[code]
The plot clearly does not show a proper PDF. It seems t

[2021-07-14 13:31] Jebby993 commented on #14409
Thank you @ev-br ,I could try (I'm quite new here on github).
However, I think it would be better to skip the use of Polynomial that could be misleading and exploit numpy.poly1d attributes that are sufficient to show the polynomial coefficient, evaluate the polynomial and eventually compute the roots, without the need to import and use the Polynomial class.

[2021-07-14 13:34] ev-br commented on #14409
poly1d is considered legacy and it's use in new code is discouraged. This function predates numpy Polynomial, so we cannot just change its return type. All in all, best is to show the recommended usage --- which this example tried to do :-).

[2021-07-14 13:38] tupui commented on #14399
Yeah if there is no leak when called by a public function I would not say that it's a concern. This is really not meant to be used elsewhere.

[2021-07-14 13:43] tupui commented on #14409
@ev-br can we mark these kind of things to deprecate them slowly?

[2021-07-14 13:51] ev-br commented on #14409
Problem is, I don't see a clean transition path. Do you?

Just changing the return type is bad; doc notes do not change that; deprecating the whole function  and inventing a new one with a different return type feels like an overkill. So my gut feeling is just keep the status quo and improve the documentation for users to show best practices.

[2021-07-14 14:05] chahak13 opened #14412 "Extra function arguments to `scipy.integrate.quad_vec`"
Hello, thanks for the work on scipy!

I was looking at the docs/source for `scipy.integrate.quad_vec` and I noticed that there isn't a provision to provide arguments for the callable function we wish to integrate. For the `scipy.integrate.quadrature`, we have the `args` argument that we can pass to the function for such a behaviour. Is there a way to do that with `quad_vec`?

Thanks!

[2021-07-14 16:17] leofang commented on #14266
Sorry I took a long long break and just begin to catch up with things slowly...

@rgommers Thanks for your nice and detailed reply on uarray and `__array_function__`. Just a few quick comments:

Indeed, FFT should be considered as an exception given that there are several implementations of FFT libraries out there, which is generally not the case for most modules in SciPy except for perhaps linalg

[2021-07-14 17:09] juergspaak opened #14414 "brentq does converge and not raise an error for np.nan functions"
When useing the brentq optimizer to find a root it does not raise an error while encountering an np.nan value

#### Reproducing code example:

[code]
This returns x = 0 (which is not even in the bound [1,2]) and r.converged = True. In my opinion this should raise an error.

Scipy/Numpy/Python version information:
1.5.2 1.19.2 sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial

[2021-07-14 18:09] V0lantis commented on #13896
This would be very nice of you even if I don't really know how it works. as @tupui said, you still can add the fact that I have written the algorithm following the SciPy's citation itself :-) (you can find all the information you want about me on my GitHub profile I guess, and if not, don't hesitate to send me an email)

Thank you for the reproductible code.

Indeed, this is the case. The test bas

[2021-07-14 18:25] tupui commented on #14414
Thanks for finding this. Note that from the note section `f must be continuous. f(a) and f(b) must have opposite signs.` Although I agree that input validation is missing here.

[2021-07-14 19:09] AnirudhDagar commented on #14266
@rgommers this is definitely something we should look at irrespective of this issue. I can work on improving the docs here and maybe add a similar note for some supported libs to what's done in CuPy FFT's [Code compatibility features point 4](https://docs.cupy.dev/en/stable/reference/scipy_fft.html#code-compatibility-features) and also show some real examples instead of setting the scipy backend (

[2021-07-14 19:25] tupui commented on #14409
What I mean is that in case of functions that we say are legacy and should not be used in new code, then I would decorate them to raise a deprecation warning for a few release cycle and then delete them... I know we try to not do this, but we could have long cycles to mitigate issues with users.

[2021-07-14 20:38] charris commented on #14409
For polynomials whose weight functions have compact support, returning a Chebyshev series would be a good idea. There is a `chebinterpolate` function that takes a function and returns an Chebyshev series, but only good over the interval [-1, 1]. Something like that could be added to the Chebyshev class as a class method to do the scaling. Chebyshev series tend to be more numerically stable than po

[2021-07-14 20:40] allefeld opened #14415 "`_cdf_cvm` inaccurate for small `n`"
The documentation of `_cdf_cvm` notes:

    x > 2, when the cdf is very close to 1 and it might return values > 1
    in that case, e.g. _cdf_cvm(2.0, 12) = 1.0000027556716846.

However, in addition to that, the function is inaccurate for small values of `n`, in particular 2. Below approx. 0.042 the value drops to 0, and above approx. 0.666 it jumps to 1. To a smaller extent, similar things happen

[2021-07-14 20:57] allefeld commented on #14415
#### Additional remark

I used these small n because I was checking the correctness of the implementation, and the only tabulation I could find, [Scott (2000)](http://dx.doi.org/10.1080/03610920008832479), uses these – probably because for larger n, the distribution quickly approaches n = ∞.

Here is the table:
![Scott2000TableI](https://user-images.githubusercontent.com/1738353/125690961-1f0421b4

[2021-07-14 21:19] tupui commented on #14412
Thanks for the suggestion. In the meantime, you can pass the parameters by using [functools.partial](https://docs.python.org/3/library/functools.html#functools.partial) for instance.

[2021-07-14 21:24] tupui commented on #14415
Thank you for finding this. FYI, this is a private method so you should not use it as there is no guarantee that it will be present/break in any future release.

[2021-07-14 21:27] allefeld commented on #14415
I am aware. I was thinking of asking you guys to expose this as a public function. I need the CvM CDF in a context outside of a CvM test.

[2021-07-14 21:28] ev-br commented on #14409
Yes, but here our function is not deprecated. Instead it's the return type being declared legacy by numpy.

Agreed, it'd be great. Not in scipy.interpolate.lagrange function however I suspect :-).

[2021-07-14 21:30] aidan-fitz opened #14416 "Is the r-value outputted by scipy.stats.linregress always the Pearson correlation coefficient?"
The [documentation][linregress] just says that `rvalue` is the "Correlation coefficient" but there are many different correlation coefficients, not just the Pearson one. However, it also says that the square of `rvalue` is the coefficient of determination, and according to [Wikipedia][coeffdet]:

Is the output always the Pearson coefficient, or is it sometimes the coefficient of multiple correlati

[2021-07-14 21:31] tupui commented on #14409
To be sure, I am talking about your comment on `poly1d` here.

[2021-07-14 21:34] ev-br commented on #14409
Sure. Chuck @charris , are there any plans w. r. t. np.poly1d? I guess we'd need to coordinate with `scipy. special. orthopoly1d` if there's action.

[2021-07-14 21:40] tupui commented on #14409
At some point we have to plan for SciPy 2.0 (just in 2 releases). Such things could be good candidates.

[2021-07-14 21:59] tupui commented on #14399
So this function is only called once here:
[code]
The types are explicitely given for all parameters excepts `base_draws`. But all engines return float arrays. To call this function with a list of integers here, you would need to make your own class sampling only integers and this would fail. But I am not convince that this would make any sense to try to do this.

[2021-07-14 22:40] charris commented on #14409
Nothing planned that I am aware of. The Chebyshev polynomials have the advantage that the coefficients are easy to compute from  values sampled at the Chebyshev points, so would work well with the scipy functions that just compute the polynomial values.

[2021-07-15 02:53] tylerjereddy commented on #14360
I *think* I understand what you're proposing, seems to make sense. One of the drawbacks compared to aggressively private languages I suppose (Rust comes to mind--you need a `pub` in front of pretty much anything you want public).

[2021-07-15 05:39] chahak13 commented on #14412
Ah thanks! I forgot about partial, for some reason. I'll do that for now. But it'll be great to have this feature built-in too in future!

[2021-07-15 05:57] leofang commented on #14273
Thanks, Ralf!

[2021-07-15 06:06] leofang commented on #13643
Thanks for digging into it, Ralf!

Sounds like the code was added way before C99 was supported by the majority of compilers. IIRC I was still battling with Clang and Intel compilers not long ago (2~3 yrs) on some weird complex-number behaviors, so it's not surprising...

[2021-07-15 11:17] czgdp1807 commented on #14405
For obtaining min-cut from maximum flow, I think running a DFS/BFS to find all the reachable nodes from source (including itself) will form one set of min-cut. The other is then self evident. Now, I think that we can introduce a function, `minimum_cut` which would first run `maximum_flow` and then DFS/BFS to obtain the sets of the cut and then return these as `MinimumCutResult`. It will help the u

[2021-07-15 13:43] manuel-castro commented on #14405
@czgdp1807 Yes exactly. I'm particularly interested in the edges removed from the graph, if those are returned in the `MinimumCutResult` that would be perfect

[2021-07-15 16:15] fuglede commented on #14405
For reference: The need for having a min cut also came up in #11498. It's a common enough operation that it would make sense to include explicitly.

Back then, I pondered if we'd want it in `MaximumFlowResult`, but could also make sense to keep it separately. Or taking the duality of the two problems seriously and providing a platform that elegantly handles both problems at the same footing.

It's

[2021-07-15 17:22] fuglede commented on #11336
This can probably be closed. @rgommers

[2021-07-15 18:43] rgommers commented on #11336
thanks @fuglede!

[2021-07-15 18:43] #11336 closed

[2021-07-15 19:10] chrisb83 commented on #14415
Hi,

if you check the second reference in the documenation, you will find some more details on the approximation:

Csorgo, S. and Faraway, J. (1996). The Exact and Asymptotic Distribution of Cramér-von Mises Statistics. Journal of the Royal Statistical Society, pp. 221-234. => you can find it on the website https://people.bath.ac.uk/jjf23/papers/index.html

That is correct, the support of the exac

[2021-07-15 19:25] jiajiexiao opened #14418 "`ttest_ind` for two sampled distributions with the same single unique value"
Hi Scipy development community, I am observing some wired behaviors/results when calling `scipy.stats.ttest_ind` to conduct t-tests for two sampled distributions with the same unique single value. For example, input 1 is a vector with 10 values of 0.01 (i.e. `[0.01]*10`), while input 2 is a vector with 20 values of 0.01 (i.e. `[0.01]*20`). I expect `scipy.stats.ttest_ind` to return `nan` values fo

[2021-07-15 19:54] manuel-castro commented on #14405
Thank you @fuglede, that is very helpful! Think I'll go with your second approach until scipy implements a specialized min_cut function

[2021-07-15 20:09] mdhaber commented on #14418
The results produced by `ttest_ind` here are not all correct, so you can say there is a bug in that it is not very careful with degenerate input. There are a lot of stats functions like this for which edge cases like this produce unusual results. When implemented directly, the usual formulas don't always play well with finite precision arithmetic. These are not necessarily cause for concern for mo

[2021-07-15 20:51] rgommers commented on #14360
I opened a PR with an example to make sure we're on the same page: gh-14419.

[2021-07-15 21:24] jiajiexiao commented on #14418
@mdhaber many thanks for your quick reply and investigation. This makes a lot of sense now. I encountered the issue as described above in some real applications of actual data. I was confused about the inconsistent outputs from the `ttest_ind` thus shared minimum working examples that can reproduce the same wired behaviors.

Yeah, that is a harder question about how we could add a patch. Even Pyth

[2021-07-15 22:24] allefeld commented on #14415
@chrisb83 thanks!

The explanation makes sense, but it should be documented. Especially since the documentation already mentions inaccuracies, that suggests that these are the *only* inaccuracies.

[2021-07-15 22:48] mdhaber commented on #14418
You could also consider a permutation test using the difference between means as the statistic. In the cases above, the distance between means would be 0, and the p-value (probability of an equally extreme value of the statistic by chance under the null hypothesis that all the observations were randomly sampled from the same underlying distribution) would be 1.

I don't necessarily recommend the p

[2021-07-15 23:05] treverhines opened #14420 "BUG: RBFInterpolator fails when calling it with a slice of a (1, n) array"
RBFInterpolator has a bug where it throws an error when calling it with a slice of a (1, n) array. The below code reproduces the error:

[code]

which throws this error:
[code]
The issue is that `x` has shape (1, 2) and stride (24, 8), which allows it to pass through ` x = np.asarray(x, dtype=float, order="C")` at [this](https://github.com/scipy/scipy/blob/b7c79ab69b1ad63733c2f051ad68f969bb3a35ec/

[2021-07-15 23:16] fuglede commented on #14041
Another related reduction that came up in https://github.com/networkx/networkx/discussions/4683 is that from the minimum weight matching where you make no assumptions at all on the size of the matching and you just want the best one overall. This can be achieved like the above by just using zeros as weights on _all_ new edges in the doubled graph.

[2021-07-16 00:25] pmh722 opened #14421 "percentileofscore and multidimensional array"
scipy.stats.percentileofscore seems to implicitly assume that input array "a" is a one dimensional vector. When it encounters a multidimensional matrix input, it seemingly calculates the percentile of each dimension, and SUMS them, resulting in a percentile that is potentially greater than 100?

This behaviors surprised me. I would have expected either 1) broadcasting (get back an array of percent

[2021-07-16 00:41] rkern commented on #14421
The bug is that the denominator is computed as `n = len(a)`. If it were just `n = a.size`, I think the rest of the code would just work.

[2021-07-16 00:41] rkern commented on #14421
Well, as Option 2, at any rate.

[2021-07-16 00:50] rkern commented on #14421
Option 1 shouldn't be too hard, either. The computations all rely `np.count_nonzero()`, which accepts an `axis=` argument. You could probably just add `axis=None` to `percentileofscore()` and pass it through, computing the correct `n` in each case.

Since its compatriot function `scoreatpercentile()` already takes an `axis` argument, we should probably do that here too.

[2021-07-16 03:08] mdhaber commented on #14421
Vectorization of `percentileofscore` is already going on in gh-13572.
I would appreciate some help with a decision about `scoreatpercentile` in gh-13382.

[2021-07-16 07:08] tupui commented on #14415
Would you like to do a PR to improve the documentation of the function? As for making it public, I am not able to judge as I don't know how this can be used. But since the function is here, I am not against the idea. Then it would mean adding more documentation, input validation (can call a private method which does not have the validation part if that would impact speed) and tests.

What do you t

[2021-07-16 07:24] charlotte12l commented on #14416
In `scipy.stats.linregress `, `r = ssxym / sqrt( ssxm * ssym )` so I think it is [Pearson coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient).

According to [Wikipedia 1.3 As squared correlation coefficient](https://en.wikipedia.org/wiki/Coefficient_of_determination#As_squared_correlation_coefficient)

Here in our linear least-squares regression ` scipy.stats.linregress`,

[2021-07-16 07:34] #14409 closed

[2021-07-16 07:39] #14346 closed

[2021-07-16 17:20] NeilGirdhar commented on #13122
Is this issue the reason that SciPy's upper bound version is [set](https://github.com/scipy/scipy/blob/master/setup.py#L555) to be "<3.10"?  Because of that limit, poetry refuses to upgrade SciPy on any project that leaves the Python version unbounded.  Poetry says:
[code]

[2021-07-16 19:25] rgommers commented on #13122
That's unrelated to this issue. Python 3.10 is simply not yet released and 1.7.0 therefore does not support it. Why is Poetry trying to use Python 3.10 already?

This seems like bad design anyway on Poetry's side. After Python 3.10.0 is released, it takes a while for projects to put up wheels that support that new Python version. So at that point Poetry will refuse to work for pretty much anyone t

[2021-07-16 19:36] NeilGirdhar commented on #13122
@rgommers Okay, I trust you :smi.   I hope you don't mind that I'll link your comment to the issue that I'll file with Poetry.

[2021-07-16 22:57] mdhaber commented on #14415
@allefeld can you tell us more about applications of the distribution beyond the test?

[2021-07-17 00:35] allefeld commented on #14415
@tupui, I can make a PR, might take a bit.

@mdhaber  my application is an implementation of the method of [Patra & Sen (2016)](http://users.stat.ufl.edu/~rohitpatra/PapersandDraft/FinalVerNPMixModelJRSSB_high_cont.pdf). Its purpose is to estimate the mixing proportion in a semi-parametric mixture model, useful e.g. for prevalence estimation as well as in the context of FDR correction.

[2021-07-17 04:39] huayue21 commented on #4613
Hi do we need to explicitly close the file after the readsav operation? And how?

Thanks,

[2021-07-17 08:14] rgommers commented on #4613
No, it's closed within the function.

[2021-07-17 14:43] goanayven opened #14424 "SuperLU symbol not found : _Destroy_CompCol_Matrix"
#### Problem definition

This report may not be related with bugs, and a prominent solution surely pre-exists elsewhere.
My issue is about an internal linear solver and optimize functions failing to find a superLU function : _Destroy_CompCol_Matrix.

#### Environment

First of all, I run Scipy in Apple silicon M1. I installed Scipy with Homebrew OpenBLAS with the install command line like -
[code]

[2021-07-17 15:53] rgommers opened #14425 "Running tests in parallel is not any faster than without pytest-xdist anymore"
I have no idea what is going on here, but no matter how I run the tests, I'm not getting them to run any faster in parallel. These commands all give me the same timings (about 21 sec):
- `python -c "import scipy; scipy.test()"`
- `python -c "import scipy; scipy.test(parallel=4)"`
- `pytest --pyargs scipy.linalg`
- `pytest -n 4 --pyargs scipy.linalg`

And the same if I try it on other submodules or

[2021-07-17 16:21] rgommers commented on #14425
There's also different strategies in `pytest-xdist` (e.g. `--dist loadfile`) that don't help. And there's `pytest-split`, `pytest-test-groups`, and even attempts to use `pytest-xdist` and `pytest-split` together: https://github.com/jerry-git/pytest-split/issues/2. It's all a bit clunky though.

[2021-07-17 16:30] #14349 closed

[2021-07-17 17:12] tylerjereddy commented on #14425
I can get a speedup, although the amount of hardware I had to through at it to cut the time in half is pretty staggering.

On an i9 with 10 cores/20 threads (ubuntu Linux) with latest `master` installed:

- `python runtests.py -n -- -n 20`
  - `32599 passed, 2112 skipped, 104 xfailed, 11 xpassed in 178.68s (0:02:58)`
- `python runtests.py -n`
  - `32599 passed, 2112 skipped, 11134 deselected, 104

[2021-07-17 18:39] rgommers commented on #14425
Yes, very little - the only thing that's significant is BLAS/LAPACK usage.

20 processes for a 2x speedup is a bit better than what I'm seeing, but either way it's terrible. I'm pretty sure it used to be much better. Maybe a `pytest` or `pytest-xdist` regression, or something we did.

[2021-07-17 19:53] rgommers commented on #14425
Okay you do have a good point with the influence of parallelism @tylerjereddy. The oversubscription issue matters more on a larger machine.

[code]

To verify that `OMP_NUM_THREADS` actually has an effect (also shows up in `top` with the process using >100% CPU):

<details>

[code]

</details>

[code]

Conclusions:
- `pytest-xdist` scalability is really bad, it doesn't help beyond `-n 4` and may e

[2021-07-17 21:21] rgommers commented on #14425
This is also a bit sad:
[code]
The main culprits are `stats` and `sparse`, they take ~15s each.

[2021-07-17 21:47] AnirudhDagar commented on #14412
@tupui I can send a PR to add this argument. Should be straightforward.

[2021-07-17 22:24] rgommers commented on #14425
Based on what scikit-learn does in in `sklearn/conftest.py`, I tried using `threadpoolctl`:

[code]

But it doesn't seem to be effective. There's of course various system-dependent reasons why this can fail; using `export OMP_NUM_THREADS=2` in CI configs and local dev envs will be more robust.

[2021-07-18 03:05] srcoulombe commented on #12999
@t-vi Any updates on your PR? I saw you also referenced your work in https://github.com/scipy/scipy/pull/13168. I'm down to help in any way I can.

[2021-07-18 05:33] jhelgert commented on #13480
Another two candidates might be

- [HPIPM](https://github.com/giaf/hpipm) (C, BSD 2 Clause license), *a high-performance interior-point method solver for dense, optimal control- and tree-structured convex quadratic programs. It provides efficient implementations of dense and structure-exploiting algorithms to solve small to medium scale problems arising in model predictive control and embedded opt

[2021-07-18 08:37] Palash-Vishnani commented on #14390
Can I work on this issue.?
I found this after some research. Is this right?

**In 1980 he and Nobel laureate Edwin McMillan found a new algorithm for high-precision computation of the Euler constant using Bessel functions, and showed that gamma can not have a simple rational form p/q (where p and q are integers) unless q is extremely large.**

[2021-07-18 10:06] elifoo opened #14428 "Issues concerning closing Delaunay triangulation for a 3D geometry"
Hi,

I'm trying to use Delaunay function to obtain a 3D surface starting from a points cloud.
The example that I report is a simplification of a more complex case to which I will then have to go and apply the code.
I cannot understand why the result of the triangulation is not a closed surface. The geometry is quite simple, as it is a sphere without the face top and the one bottom. However, I cann

[2021-07-18 13:15] tupui commented on #14428
Hi, thanks for opening an issue. Note that the issue tracker is not meant to answer user questions and you should go on StackOverflow for instance.

For your problem, I did not really look at your code, but I guess you just have to add the first points at the end of the array.

[2021-07-18 17:36] mckib2 commented on #13480
SciPy includes the HiGHS high performance solver which includes LP
simplex/interior point solvers as well as an active set QP and general MIP
solver.  The LP solvers are exposed through scipy.optimize.linprog and we
have plans to expose the MIP solver in the future, but I see no reason we
couldn't also expose their QP solver.  The MIP/QP solvers seem less
"mature" than the LP solvers in this case,

[2021-07-18 18:06] angelotc commented on #10382
Any movement on this? @Eight1911  would I be able to take a look into your code?

[2021-07-18 19:47] jonaslandsgesell opened #14431 "Block Bootstrap"
**Is your feature request related to a problem? Please describe.** i.i.d Bootstrap does not work well for time series data which have a time correlation

**Describe the solution you'd like**
Block bootstrap addresses the problem of temporal correlation. It would be nice to have an option to apply block bootstrap in scipy.stats.bootstrap

**Describe alternatives you've considered**
This project imp

[2021-07-18 20:01] fuglede commented on #14041
A possible API for those options could be

[code]
or as a `target_size` method parameter
[code]
with allowed values of `target_size` being `{'any', 'maximum', 'full'}` respectively. Main downside of the latter approach is that we would need a deprecation cycle to get rid of `min_weight_full_bipartite_matching`. An advantage would be being able to extend with `target_size` being an arbitrary intege

[2021-07-18 21:01] tylerjereddy commented on #14428
Yeah, maybe try StackOverflow--some of us are interested in computational geometry but we don't have the bandwidth to answer queries on top of maintaining the code/dealing with bug reports, etc.

[2021-07-18 21:01] #14428 closed

[2021-07-18 21:42] t-vi commented on #12999
@srcoulombe Thank you for reminding me. So I submitted a patch with @mdhaber's suggestion to stick to the existing structure as much as possible, but it is just terribly slow.

[2021-07-18 22:28] mdhaber commented on #14431
Thanks for the suggestion @jonaslandsgesell . There are a few other things on my to-do list, but I'll be thinking about it.

[2021-07-19 07:35] elifoo commented on #14428
Ok, thanks for your suggestion. I was just wondering if by any chance the problem was in the value set for qhull_options...

[2021-07-19 08:22] tupui commented on #14322
I am fine with this. But as you pointed out in #14215 we might want to allow `RandomState` and convert it to `Generator`. For reference here I am copying the relevant part of the discussion:

It's a shame we did not do that before 1.7... Now we would need a cycle to deprecate it. We added this in a few other places as well. As far as I can see, we have more occurrence of `seed` than `random_state`

[2021-07-19 08:40] Steivan opened #14434 "ks_discrete - Kolmogorov-Smirnov test for discrete distributions"
I need a KS test applicable to discrete distributions, but the KS tests available in scypi.stats ('kstest' and related) are designed to be applied to continuous distributions only.

"A Kolmogorov Goodness-of-Fit Test for Discontinuous Distributions" has been published in 1972 by Conover (https://www.tandfonline.com/doi/abs/10.1080/01621459.1972.10481254) and the algorithm has been implemented by A

[2021-07-19 09:57] rgommers commented on #14420
This is a tricky issue that we may see in other places. It turns out that the error message is somewhat cryptic, but the `(reshaped)` in the signature mismatch means that the input is either:
- a view, or
- a non-contiguous array, or
- a Fortran-ordered array

The normal expectation for SciPy code is that all of those work. The reason Pythran does accept them is that it doesn't have all the machin

[2021-07-19 10:02] rgommers commented on #14420
The type mismatch hint is coming from https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/python/core.hpp#L83, relevant part:

[code]
So actually the Fortran ordering has a separate message.

[2021-07-19 10:04] rgommers commented on #14420
A more useful error message would be something like `"(is a view)"`.

[2021-07-19 10:07] rgommers commented on #14420
There's no single function call that does it all it looks like, it needs:
[code]

[2021-07-19 12:53] treverhines commented on #14420
I thought pythran _does_ support views. If you look at the above error message, there is a second array labeled as "reshaped", which is the `coeffs` argument. I believe that array is always a view and pythran does not throw an error for it.

[2021-07-19 13:47] yalwan-sage commented on #14041
Is there any technical reason why we can't always do the bound-bumping regardless of methodology?

(referring to this:
[code]
)

If we're concerned that users have accidentally left in zeros they don't mean to you could do something like send a warning which can be disabled by a flag to the function which is basically "yes, i did mean to have zeros in here"? Or is there something else wider than t

[2021-07-19 14:31] rgommers commented on #14425
@thomasjpfan pointed out that there's a separate `user_api='blas'`: https://github.com/joblib/threadpoolctl/blob/master/threadpoolctl.py#L61. Need to try that. It's unclear whether `user_api='openmp'` is supposed to have an effect on opnblas-compiled-with-openmp.

[2021-07-19 16:03] mdhaber commented on #14431
@jonaslandsgesell If I'm understanding correctly, all that changes is the resampling procedure - instead of resampling individual observations, we resample blocks of observations until we have a new sample that is the same size as the original.

In that case, we can use the existing `bootstrap` function to do the job, but first we have to change the basis of our data and statistic, in a sense. Ins

[2021-07-19 16:09] thomasjpfan commented on #14425
With the same patch in https://github.com/scipy/scipy/issues/14425#issuecomment-881967659,  and running `pytest -n 16 --pyargs scipy`.

1. With `user_api='blas'`: 151s.
2. With `user_api='openmp'`: 246s.
3. On master: 247s.

[2021-07-19 16:13] rgommers commented on #14434
Thanks @Steivan! This does sound like it would make sense to add to `scipy.stats`. The paper has 250+ citations, so seems relevant. Cc'ing @pvanmulbregt as our resident Kolmogorov-Smirnov expert.

That code is GPL-licensed, which is incompatible with SciPy's license. Please do not look at or use this code.

Maybe the easiest thing to do first: paste your code implementing the discrete k-s test int