[2022-11-08 17:56] kvak commented on #13362
sure, always a good motivation, but at what cost? Now we have a function that won't return the correct (hand calculated) values
from the example on the package's demo page. Perhaps, on this occasion, the desire for preventing sloppy coding has gone a bit too far? Maybe a warning would have hit that sweet middle ground?

[2022-11-08 18:28] rkern commented on #13362
Your implementation is just incorrect. Even in the book that you cite, it deals with the truncation. I also think you are missing a `(1-exp)` term. See the section on the Gap test in Knuth's _Seminumerical Algorithms_, probably the most authoritative source, for the correct formulae.

[2022-11-08 19:19] astrojuanlu opened #17373 "DOC: Cleanup developer documentation"
At the PyData NYC sprints, we are following the instructions to create a development environment for SciPy and we are finding some orphan pages, incomplete procedures, or dead-ends. I'm dumping here some notes with the idea of sending a follow-up pull request to cleanup things a bit.

- https://docs.scipy.org/doc/ contains a link to the "Scipy developer guide" pointing to `https://docs.scipy.org/d

[2022-11-08 20:27] astrojuanlu commented on #16312
After switching to a conda/mamba environment @kejsitake managed to successfully build SciPy. In parallel she made some global software changes with Homebrew so it's unclear whether we will be able to reproduce the issue again or recover the logs, but at least knowing that it was a venv thing might help.

[2022-11-09 00:23] #6688 closed

[2022-11-09 02:49] sparklabo opened #17375 "BUG: resample_poly() freezes with large data and specific samplerate combinations"
### Describe your issue.

running this will freeze and lock down the process.

[code]
It is caused by scipy.signal._upfirdn_apply._output_len(...) that overflows to minus.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.3

[2022-11-09 04:15] #16759 closed

[2022-11-09 04:56] WarrenWeckesser commented on #13049
Closed by https://github.com/scipy/scipy/pull/17366

[2022-11-09 04:56] #13049 closed

[2022-11-09 06:10] fuglede commented on #17269
Hi all. The Pascal code that we've ported here actually had no feasibility checks at all. I added a few such checks where they [could arise](https://github.com/scipy/scipy/blob/682dca4/scipy/sparse/csgraph/_matching.pyx#L588-L589) and had, clearly too optimistically, assumed that they were sufficient (e.g. by [testing that it discovers infeasibility whenever `linear_sum_assignment` does](https://g

[2022-11-09 06:17] fuglede commented on #17269
And for what it's worth, a quick way to check if a full matching exists is to just use `maximum_bipartite_matching`:

[code]

So in particular, a cheap way to check in `min_weight_full_bipartite_matching` would be to use `maximum_bipartite_matching`, but that's slow. So yes, either we find a way to cheaply detect it during the execution of the algorithm (debug until it hits an infinite loop), or i

[2022-11-09 07:29] WarrenWeckesser commented on #6414
@steppi, the terms $\Gamma^2$ in your expression for the mean should be just $\Gamma$.  Also note that if we actually implement this distribution, we only need to implement the calculation for $\Gamma = 1$; the code takes care of shifting and scaling the result based on the `loc` and `scale` arguments provided by the user.

[2022-11-09 11:16] steppi commented on #6414
Ah right. I lost the $1/\Gamma$ factor in front when I worked out the integral. Thanks and sorry about that.

[2022-11-09 11:45] tupui commented on #17375
Hi @sparklabo, thank you for reporting. I cannot reproduce, could you try using the latest version of SciPy? What do you mean with overflows to minus?

[2022-11-09 11:58] j-bowhay commented on #17375
I also tried this and it ran fine on main

[2022-11-09 13:38] WarrenWeckesser commented on #17375
The overflow will occur on a system where the integer type `intp` is 32 bits.

[2022-11-09 13:45] sparklabo commented on #17375
It is possibly platform-dependent.  numpy.intp looks like int64.

Windows 10
python 3.9.13 64bit
scipy 1.9.3
numpy 1.23.4

[code]

[2022-11-09 14:59] WarrenWeckesser commented on #17375
It is strange that `numpy.intp` is 64 bits, while the evidence suggests that the Cython type `np.intp_t` (originating from `cimport numpy as np`, and which ultimately ends up being the C99 type `intptr_t`) is 32 bits.

The Cython function `_output_len()` is
[code]
If we do that calculate with 32 integers, we get the integer overflow shown in the preceding comment:
[code]

[2022-11-09 15:00] RUrlus opened #17377 "BUG: "SystemError: initialization of beta_ufunc raised unreported exception" in >= 1.9.2 with Valgrind"
### Describe your issue.

Hi all,

Our Valgrind CICD run broke after upgrading to Scipy >= 1.9.2 from 1.9.1.
The error does not occur without valgrind.

Due to the valgrind involvement making an MRE is though. If needed I can create a MRE repo and add a maintainer.

Some additional info:
* OS: Ubuntu-latest
* valgrind amd64 1:3.15.0-1ubuntu9.1

Bindings and generator:
* Pybind11 v2.10.1
* ninja v1

[2022-11-09 15:20] 8FordPrefect8 opened #17378 "griddata linear / LinearNDInterpolator unexpected behavior"
I was trying to speed up my code recently, by reducing the data I feed into griddata with method linear or in other words LinearNDInterpolator. I was greatly surprised to find out that this altered my interpolated values significantly.

Reading the docs of LinearNDInterpolator my understanding of this LinearNDInterpolator or linear method of griddata respectivly is the following:
The surface is mo

[2022-11-09 16:43] jdclouse opened #17379 "BUG: scipy 1.9.2+ MILP presolver causes failed assertion in HIGHS source in some cases where there is a solution"
### Describe your issue.

Until v1.9.2, the below code snippet would find a solution with the default presolver setting. Since 1.9.2, something in the presolver activity causes a failed assertion in the HIGHS source and kills the python process.

Interestingly, nearby versions of A, in the code snippet below, still work with the presolver.

I suspect this is related to [this bug](https://github.co

[2022-11-09 17:46] rgommers commented on #17338
Hmm, very odd. I have no idea what is going on there. It would be great if a maintainer who uses WSL could look at this.

[2022-11-09 19:03] WarrenWeckesser opened #17380 "BUG: optimize: using `integrality` prevents `linprog` from accepting a list for `c`"
### Describe your issue.

If `integrality` is used in `linprog`, then `c` must be a numpy array.  Otherwise an exception is raised because `c` does not have a `shape` attribute.

The fix is probably as simple as passing `c` through `np.asarray()` first.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.10.0.dev0+2184.5057eff 1.24.0.dev0

[2022-11-09 19:07] mdhaber commented on #17380
PR welcome.

[2022-11-09 19:25] tupui commented on #17377
Hi @RUrlus, thank you for reporting. This was already reported earlier this week in #17368. I am closing this issue to not duplicate efforts.

[2022-11-09 19:25] #17377 closed

[2022-11-09 20:56] martinResearch opened #17381 "BUG: FutureWarning in distance_transform_cdt"
### Describe your issue.

Getting `FutureWarning` when using `distance_transform_cdt` with a metric that is a numpy array
`FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison`

In here https://github.com/scipy/scipy/blob/5057eff112ae97879f9101b80f5984f0cccd017d/scipy/ndimage/_morphology.py#L2075
we need to replace
[code]

by

[2022-11-09 23:27] jgborch commented on #17380
@nboudrie and I will be taking on this issue.

[2022-11-09 23:27] jgborch commented on #17379
@nboudrie and I will be taking on this issue.

[2022-11-09 23:28] jgborch commented on #17324
@nboudrie and I will be taking on this issue.

[2022-11-09 23:35] rkern commented on #17324
`rotmatrix1` is not a rotation matrix. It incorporates a reflection.

[code]

[2022-11-10 00:24] WarrenWeckesser opened #17382 "BUG/DOC: optimize: `minimize` doc should reflect tnc's deprecation of `maxiter`."
The description of the `options` parameter in the docstring for `minimize` says

[code]

But for the `tnc` solver, `maxiter` is deprecated:

[code]

The docstring for `minimize` should be updated to reflect this deprecation, and recommend `maxfun` instead of `maxiter` for the `tnc` solver.  Something like "All methods except `'tnc'` accept [...]  For `'tnc'`, use `maxfun` instead of `maxiter`."

[2022-11-10 01:49] jgborch commented on #17324
Unfortunately, we will not be able to take this issue on.

[2022-11-10 03:30] #4555 closed

[2022-11-10 06:42] mdhaber commented on #17290
I develop scientific Python more than I use it, but this is one of the few features I have actually needed for research. Still, I lean toward suggesting, @com3dian, that you propose the enhancement to POT. They would need to update their minimum supported SciPy version to 1.6 because that's when `linprog` `method='HiGHS'` was introduced, but if you can show the superiority of a simple linear progr

[2022-11-10 06:55] chibai commented on #17324
Is there any approach to transfer the approximate rotmatrix into precise rotmatrix???
For example, let's say rotation_matrix_normalization??

[2022-11-10 08:28] RUrlus commented on #17377
Sorry, I looked when I started the issue but not when I actually submitted it.

[2022-11-10 08:29] WarrenWeckesser commented on #17324
A reflection is not an "approximate rotation", and as @rkern pointed out, `rotmatrix1` has a reflection.  If you are going to use the `Rotation` class, you must ensure that the input to the class is actually a pure rotation matrix.

I'm going to close the issue, as the original problem is the result of an incorrect input.

[2022-11-10 08:29] #17324 closed

[2022-11-10 09:04] jhrsya opened #17383 "BUG: ImportError: cannot import name '_prepare_scalar_function' from 'scipy.optimize.optimize'"
### Describe your issue.

ImportError: cannot import name '_prepare_scalar_function' from 'scipy.optimize.optimize' .
scipy == 1.0.1

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

python=3.8.13   scipy=1.0.1  numpy=1.23.3

[2022-11-10 09:13] andyfaff commented on #17383
All functions beginning with a leading underscore should be considered private, for internal use of the library. That's not to say that they can't be used, but don't be surprised if things break. This should be reported as an issue for the package that's doing the importing.

[2022-11-10 09:13] #17383 closed

[2022-11-10 09:22] jerabaul29 opened #17384 "ENH: Fast Lomb-Scargle Periodogram"
### Is your feature request related to a problem? Please describe.

The current implementation of the Lomb-Scargle Periodogram available in scipy has a number of issues / quirks; according to https://jakevdp.github.io/blog/2015/06/13/lomb-scargle-in-python/ :

### Describe the solution you'd like.

There are some faster and less quirky implementations available in other packages. However, these pa

[2022-11-10 09:27] jerabaul29 commented on #17384
extra materials:

- https://arxiv.org/pdf/1703.09824.pdf
- https://arxiv.org/pdf/1502.01344.pdf

[2022-11-10 10:23] akvilonBrown commented on #17324
Thank you for your clarification and for your time.
My knowledge gap didn't allow me to reveal it in time.
I was misled by some custom code snippets on the web which can handle negative determinants and stated that it was OK for rotation.
Now I see that in **scipy** documentation that determinant +1 is a mandatory condition.
Indeed reflection is quite likely to occur when I use PCA results as a ba

[2022-11-10 10:39] Kai-Striega opened #17385 "BUG: `TestOnenormest.test_onenormest_table_6_t_1` is failing on my dev branch"
### Describe your issue.

The `TestOnenormest.test_onenormest_table_6_t_1` test is failing on my dev branch. I believe this has not been checked in the CI as it is marked as XSLOW

### Reproducing Code Example

[code]

### Error message

[code]
[code]

[2022-11-10 11:02] srepmub opened #17386 "BUG: distance_transform_edt very slow compared to diplib/opencv?"
### Describe your issue.

on my system, it takes about 30 ms to process an 800x800 matrix, which seems very slow. indeed when I compare it with implementations found in diplib and opencv, they are about 18 times faster..? or what am I missing here =)

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.3 1.23.4 sys.version_info(major=3,

[2022-11-10 12:37] sliedes opened #17387 "BUG: freqz does not work on multi-dimensional array, despite what documentation claims"
### Describe your issue.

freqz documentation seems to imply that it supports multidimensional inputs as long as the first dimension is the filter coeffients:

[code]

However, freqz fails when given a 2-dimensional array.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.3 1.23.4 sys.version_info(major=3, minor=10, micro=6, releasele

[2022-11-10 13:00] jakevdp commented on #17384
Thanks for raising this issue! Adding one small piece: here is how astropy wraps the scipy `lombscargle` function to add the various normalization schemes it supports: https://github.com/astropy/astropy/blob/main/astropy/timeseries/periodograms/lombscargle/implementations/scipy_impl.py

[2022-11-10 13:34] jerabaul29 commented on #17384
(and as an additional side note, https://github.com/astropy/astropy/tree/main/astropy/timeseries/periodograms/lombscargle/implementations is also where the faster implementations are available :) ).

[2022-11-10 13:44] ssvb opened #17388 "BUG: stats.binom: Boost binomial distribution edge case bug?"
### Describe your issue.

When q is zero, the `binom.ppf` function returns -1.0. And when p is 1.0, the result should be `n` regardless of q.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.1 1.23.1 sys.version_info(major=3, minor=9, micro=13, releaselevel='final', serial=0)

[2022-11-10 14:48] rkern commented on #17384
I am broadly supportive of this, yes.

[2022-11-10 14:54] mdhaber commented on #17388
In the first example, the CDF at -1 _is_ 0, so the result is not wrong.
[code]
SciPy's convention is `ppf` methods with `q=0` is to return `-1`. The rationale is discussed here.

[2022-11-10 15:04] davidbp opened #17389 "ENH: Allow reduction over sparse matrix to return sparse matrix"
### Is your feature request related to a problem? Please describe.

I am selecting rows in an sparse matrix and computing the mean over the selection (`X_sparse[row_indices, :].mean()`). This process generates a `np.matrix` object that I am storing. To use less memory, since the matrices are very sparse,  it might be benefitial to keep the result of the mean still sparse.

### Describe the solutio

[2022-11-10 15:39] tupui commented on #17387
Hi @sliedes, thank you for reporting. The documentation could probably be improved, if you have a look at the broadcasting example at the end of the docstrings, you need to be careful with the shape. Does that help? https://scipy.github.io/devdocs/reference/generated/scipy.signal.freqz.html

We could maybe improve the error messaging here.

[2022-11-10 16:11] tupui commented on #17290
No my area so I would trust your judgment Matt. From the previous discussion, it also seemed that it could find it's place in distance instead.

[2022-11-10 16:20] com3dian commented on #17290
Thank you for replying @mdhaber ! A mini-expansion with `linprog` sounds cool to me. And do you think working on the current function or developing a new function probably named `wasserstein_nd_distance` would be a healthier way?

Also regarding @tupui 's comment, `scipy.stats` already has the `wasserstein_distance` for long so it becomes weird to me if a new function solving the same problem woul

[2022-11-10 16:22] tupui commented on #17290
If from a stats perspective it makes less sense than a distance perspective, we can make the move. But again, I was just reading up the linked issue and this is not my territory 😃

[2022-11-10 16:27] mdhaber commented on #17290
I thought about that, and I'd prefer that it keep the same function name if the ND functionally fits naturally into the existing signature. What would your ideal signature be?

[2022-11-10 17:14] itbellix opened #17390 "ENH: improve clarity of error message from scipy.optimize.minimize"
### Is your feature request related to a problem? Please describe.

Hi,
I have run into a bit of a trouble using the function `scipy.optimize.minimize`, specifically with the `SLSQP` algorithm.
The following code should be able to reproduce my error:
[code]

When the code is run, the optimizer throws an error: `IndexError: boolean index did not match indexed array along dimension 1; dimension is 1

[2022-11-10 18:36] WarrenWeckesser commented on #17385
This was noted as one of the tests that fails when `SCIPY_XSLOW=1` in gh-15384. I currently get 11 failures--including this one--with the latest development branch.

I won't call this a duplicate.  gh-15384 is something of a meta-issue, and I think it is reasonable for the individual failures to have their own issues, where the discussion (if any arises) can focus on the specific failure.  (See al

[2022-11-10 19:31] mdhaber commented on #17390
Please add your SciPy version as requested in the issue template. In `main`, running your example produces:
[code]

[2022-11-10 19:33] #17390 closed

[2022-11-10 20:36] jolespin commented on #8274
This would be awesome if it was implemented.  I have an implementation here: https://github.com/jolespin/soothsayer/blob/cd202396d0bdaf6f6ee0a4d3b841661bba46a4a6/soothsayer/transmute/conversion.py#L48 but my Soothsayer package is so clunky you need a separate environment. Would love to see this implemented natively in SciPy.

[2022-11-10 21:06] WarrenWeckesser commented on #17375
@sparklabo, can you run Python from a command prompt to start an interactive shell and let us know what the first few printed lines are?  E.g. on my Macbook, I get
[code]

[2022-11-10 21:28] ssvb commented on #17388
This is a bit unfortunate, because such choice makes a simulation of the outcome of 100M dice rolls via `binom.ppf` more complicated than necessary and potentially error prone. The following code needs to handle edge cases (see comments):

[code]

<details>
<summary>Yes, a better solution would be to use `binom.rvs` for such simulation, but I wanted to see if `binom.ppf` can also do the job and co

[2022-11-10 22:27] itbellix commented on #17390
Hi @mdhaber, thank you for your answer. Indeed, I realized I was using scipy version `1.7.3`. Upgrading to `1.9.3` fixes the issue, and indeed shows the error message you mentioned. Just as a side note, the issue template for enhancements does not require to specify the version of scipy, but I could have thought about it.
Thanks!

[2022-11-10 22:42] mdhaber commented on #17388
Sorry. It wasn't my choice. I defended it in the past only to justify why we can't change it on a whim. Changing it would be backward incompatible, and SciPy has a lot of users, so more would be needed to justify such a change.
That said, [this](https://chanzuckerberg.com/eoss/proposals/scipy-fundamental-tools-for-biomedical-research/) was just announced today, and we will be working on gh-15928 a

[2022-11-10 22:47] mdhaber commented on #17390
Ah, I see. Yeah, maybe we should add that.

[2022-11-10 22:52] j-bowhay opened #17394 "BUG: output of `tools/lint_diff.py` and `dev.py lint` are different."
### Describe your issue.

Currently there are two ways to lint changes locally. `tools/lint_diff.py` behaves as expected (and is what is ran in the CI job) whereas `dev.py lint` picks up lots up unrelated changes.

### Reproducing Code Example

[code]

### Error message

[code]
[code]

[2022-11-10 23:11] sparklabo commented on #17375
@WarrenWeckesser Here it is.
[code]

[2022-11-11 00:16] WarrenWeckesser commented on #17375
Thanks @sparklabo.  This is starting to look like a bug in Cython 0.29.32.  Once I've convinced myself that it is, I'll file a bug report with Cython and link it here.

Cython bug or not, we can probably work around the issue by making `_output_len()` a plain Python function instead of defining it in `_upfirdn_apply.pyx`.

[2022-11-11 02:08] peterkim95 opened #17396 "BUG: Transposed CSR Matrix is no longer a CSR matrix type"
### Describe your issue.

A CSR matrix is of CSR matrix type. But transposing it, the matrix becomes no longer a CSR Matrix type.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.1 1.20.3 sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

[2022-11-11 02:42] WarrenWeckesser commented on #17375
It looks like the problem has been fixed in Cython 3.0.0 (which hasn't been released yet), so I'll leave the description of the problem here, and also submit a pull request with the work-around that I suggested above, since I don't know how soon Cython 3.0.0 will be released or how soon after that we can actually require it for SciPy development.

-----

This Cython file, `demo.pyx`, contains just

[2022-11-11 04:16] mdhaber commented on #17089
@tstoeger just thought I'd check in. Are you still able to submit this PR so we can complete this issue?

[2022-11-11 04:26] ev-br commented on #17394
Like I was saying elsewhere, maybe the right thing to do is to make `$ python dev.py lint --branch main` (possibly with main being the default) dispatch to `$ python tools/lint_diff.py --branch main`.

This is a bit of syntax sugar, yes. However this seems to be in line with the goal of dev.py being a one stop shop for developer tasks.

[2022-11-11 05:01] #17382 closed

[2022-11-11 05:31] rimless commented on #14594
thank you, I met the same problem

[2022-11-11 06:15] mdhaber commented on #12715
@ilayn gh-17247 fixed the diagonal covariance element part of this issue.

For detecting a bad covariance matrix, I think the condition number is a good check, but that can be left to the user. Perhaps the ultimate enhancement would be some sort of autoscaling, but that doesn't sound like an easy problem. Should we close this with some advice about checking the condition number? e.g. check `np.lin

[2022-11-11 06:17] sparklabo commented on #17375
That's promising. Thank you for the fix.

[2022-11-11 06:19] mdhaber commented on #10324
@andyfaff Shall we close this as a wontfix given our decision about gh-12120?

[2022-11-11 07:04] dschmitz89 commented on #17394
Independent of changing to `python dev.py lint --branch main`, would it still make sense to fix those lint errors?

[2022-11-11 07:10] andyfaff commented on #10324
Yes. We should have an wiki entry that points to the rationale for behaviour.

[2022-11-11 07:59] tupui commented on #9440
I can confirm

[2022-11-11 08:03] tupui commented on #17396
Hi @peterkim95, thank you for reporting. From the code, doing `transpose` is creating a `csc_matrix` and not a `csr_matrix`.

[2022-11-11 08:38] j-bowhay commented on #17394
I think this is preferable as running `dev.py lint` should give the same results as the lint CI job otherwise this is very confusing for new contributors

[2022-11-11 09:04] com3dian commented on #17290
The current args are sufficient and necessary for an ND function, a new function doesn't have to take anymore args.

[2022-11-11 10:18] Dominik1123 opened #17398 "BUG: Documentation for `scipy.optimize.differential_evolution` is incomplete, reference link is broken"
### Describe your issue.

The different possible choices for [`scipy.optimize.differential_evolution`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.differential_evolution.html), parameter `strategy`, are not explained in the documentation. Currently, it lists 12 different values:

[code]

Only one of them, the default, is explained in the doc string section **Notes**. There

[2022-11-11 10:58] srepmub commented on #17386
making diplib use a max of 1 thread drops performance significantly, but still it's 3 times faster than the scipy function..

note that diplib/opencv also return float32, but scipy float64 (is this configurable?)

[2022-11-11 11:44] j-bowhay commented on #17394
So this seems to stem from the fact the `dev.py lint` runs both `tools/lint_diff.py` and `flake8`. See:
https://github.com/scipy/scipy/blob/ed293cbc72360db5582e1df5c7756ceb80b81074/dev.py#L864-L895

Could we not break this out into two separate commands, maybe `lint_diff` and `flake8`?

[2022-11-11 12:36] ev-br commented on #17378
It is not entirely surprising that triangulation changes when you remove some points. Consider a 2D example, where you connect points on a plane with straight lines. Let's compare two interpolants like this, one with just two points, 1 and 2, and the other with three points, 1, 2, and 3.

Then the values of the interpolant at a fixed value of `x` is very different, as sketched with `o` and `*` sym

[2022-11-11 12:42] perimosocordiae commented on #17396
This is working as intended: many operations on scipy.sparse matrix types will change the format, to enable efficient algorithms.

[2022-11-11 12:42] #17396 closed

[2022-11-11 12:56] 8FordPrefect8 commented on #17378
While in general one can expect of course interpolation to be changed if points are removed, I can't believe this, in case of linear interpolation and removing only points that are "screened" by other data points from the new coordinates.

I found in the meanwhile another function in scipy.interpolate that suits my needs and works like expected.
To proof it, I wrote another small demonstrator. I c

[2022-11-11 13:05] ev-br commented on #17378
Indeed, the issue you found is due to triangulation. LinearNDInterpolator operates with what QHull did triangulating the data. You can somewhat influence what QHull does, and if you manage to get a desired triangulation, you can pass it to LinearNDInterpolator.

RegularGridInterpolator does not use triangulation, so it is somewhat more predictable. However as you mentioned, it assumes that the dat

[2022-11-11 14:20] jkitchin commented on #9440
That is what I see now too. I guess it has been fixed.

[2022-11-11 16:20] mangecoeur opened #17401 "ENH: Add __array_namespace__ and __array_function__"
### Is your feature request related to a problem? Please describe.

Exploring use of scipy sparse arrays instead of pydata sparse arrays as the backing data for an Xarray dataarray but the implementation of the array interface for scipy sparse isn't complete, so it doesn't work yet. See https://github.com/pydata/xarray/issues/7280

### Describe the solution you'd like.

 The first things that are

[2022-11-11 20:26] WarrenWeckesser commented on #17375
It turns out that the Cython 0.29.32 bug can be avoided by changing the types in `_output_len()` from `np.intp_t` to `np.int64_t`.  That's what I have implemented in the latest version of https://github.com/scipy/scipy/pull/17397.

[2022-11-11 20:37] #17375 closed

[2022-11-12 00:20] andyfaff commented on #17398
Seems like ref 2 is stale. https://www.osti.gov/servlets/purl/1163659 also explains what the strategies represent. They give references within that article as well.
Can also reference that paper as "Qiang, JI. (2014). A Unified Differential Evolution Algorithm for Global Optimization. Lawrence Berkeley National Laboratory. Retrieved from https://escholarship.org/uc/item/41b84414"

[2022-11-12 01:44] rossbar opened #17403 "DOC: There is no general `scipy.sparse` page in the user guide"
I searched the issue tracker with sparse + the documentation label and didn't see this reported; apologies if I've missed it.

Something I noticed while searching the [scipy user guide](https://docs.scipy.org/doc/scipy-1.9.3/tutorial/index.html): there doesn't appear to be a top-level document for the `sparse` subpackage. Instead there is an article about sparse eigenvalue problems that seems to b

[2022-11-12 10:22] dschmitz89 opened #17404 "DOC: comparison of optimizers in optimization guide"
Hi everyone,

the optimization [user guide](https://scipy.github.io/devdocs/tutorial/optimize.html) currently does not contain any form of easily accessible comparison of the different solver capabilties.

I think this would be helpful for many users as the typical questions for someone looking to solve an optimization problem are (for example been requested in #16191):
* How do I formulate my pro

[2022-11-12 11:02] roryyorke opened #17405 "BUG: ss2tf error with double integrator"
### Describe your issue.

Initially from https://github.com/python-control/python-control/issues/715#issuecomment-1080197717

ss2tf adds an extra, very fast stable zero for double integrator systems.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.1 1.23.1 sys.version_info(major=3, minor=10, micro=0, releaselevel='final', serial=0)

[2022-11-12 11:36] wph524 opened #17406 "ENH: need to get a length on sparse matrix"
### Is your feature request related to a problem? Please describe.

The problem is that I tried to use sparse lil matrix from pyclustering.cluster.center_initializerl.kmeans_plusplus_initializer but there is an error that a length is needed. After use toarray() there is an unable to allocate memory error.

### Describe the solution you'd like.

Give a length on sparse matrix

### Describe alternat

[2022-11-12 14:36] perimosocordiae commented on #17406
Can you include the exact error message you observed?

[2022-11-12 17:32] rgommers commented on #17404
Good idea @dschmitz89. The SciPy 1.0 paper has this table though: https://www.nature.com/articles/s41592-019-0686-2/tables/1. We should repurpose that.

[2022-11-13 11:52] doronbehar opened #17412 "BUG: Meson error:compiler for language "cpp", not specified for build machine"
### Describe your issue.

I'm trying to cross compile scipy, and I'm using https://github.com/scipy/scipy/blob/acd1a4ad9e8d41d4956baf5fac38a8c779debcda/.github/workflows/wheels.yml#L159 as a model and I'm getting the error in the title.

### Reproducing Code Example

I'm working with Nix, but I think this should be reproducible if working with a similar `cross-file.txt` file:

[code]

### Error me

[2022-11-13 12:38] eli-schwartz commented on #17412
https://github.com/scipy/scipy/blob/acd1a4ad9e8d41d4956baf5fac38a8c779debcda/scipy/sparse/linalg/_propack/meson.build#L74-L79

This was introduced in commit 38a17fdd3276f4a71bd4368d973e049d939a0df4, but it's not immediately obvious to me why it wants to check this for the native machine instead of the cross compile target.

[2022-11-13 13:05] ev-br opened #17413 "pyodide patches"
To build scipy on WASM, pyodide carries several patches. Some of them might make sense to just include to scipy, and this issue is to track this. There fourteen patches in total at https://github.com/hoodmane/pyodide/tree/main/packages/scipy/patches. Here's a rough grouping with an initial shot at a triage. The grouping and proposed decisions are very much up to discussion!

**Low-hanging fruits**

[2022-11-13 15:44] doronbehar commented on #17412
I tested the removal of that `native: true` part, and along with another hack out of scope for this discussion, I successfully cross compiled scipy to armvh7 :) However, I got these build warnings:

[code]

[2022-11-13 18:27] #10324 closed

[2022-11-13 18:36] Femme-js commented on #17398
@tupui If this doc enhancement seems important, Can I pick this up?

[2022-11-13 18:49] mdhaber commented on #17398
@Femme-js a PR would be welcome.

[2022-11-13 19:03] mdhaber commented on #7242
@jason-s @hjstein Would you be interested in opening a PR with Chandrupatla's algorithm? I think that would entail:
- Adding the algorithm to https://github.com/scipy/scipy/blob/main/scipy/optimize/_zeros_py.py
- Working the method into the `root_scalar` interface and adding documentation in https://github.com/scipy/scipy/blob/main/scipy/optimize/_root_scalar.py
- Adding tests to https://github.co

[2022-11-13 23:18] jason-s commented on #7242
Interested but no time; I've had a time deficit for several years... sorry.

On Sun, Nov 13, 2022 at 12:03 PM Matt Haberland ***@***.***>
wrote:

[2022-11-14 05:27] mdhaber commented on #17290
Then I think it's reasonable to just extend the existing function, if the plan is to write a fairly simple implementation with `linprog` (or, I'd suggest `milp`, really).

[2022-11-14 06:33] mdhaber commented on #8999
According to [Wikipedia](https://en.wikipedia.org/wiki/Multivariate_normal_distribution), this is the multivariate normal PDF:
![image](https://user-images.githubusercontent.com/6570539/201588011-48018b75-b4d8-40bc-974b-75f663061518.png)

Inside the $\exp$ is all zero, so the log of this is

$-\frac{1}{2} \left( k \log(2 \pi) + \log(|\Sigma|) \right).$

In your example, $k=484$ and `np.linalg.slog

[2022-11-14 06:33] #8999 closed

[2022-11-14 06:54] #12193 closed

[2022-11-14 07:07] mdhaber commented on #10803
I don't know of one, and nobody else has posted ideas either, so I'll go ahead and close this. I hope your solution of returning `inf` worked or you found a `minimize` `method` that supports bounds/other constraints. If you still have the question, please consider posting in Stack Overflow, as the GitHub issue tracker is for bugs and enhancement requests. Thanks!

[2022-11-14 07:07] #10803 closed

[2022-11-14 11:17] pedro-acunha opened #17419 "BUG: scipy.interpolate.interp1d left hang"
### Describe your issue.

I am having problems with `scipy.interp1d` function. Even the most simple example provided in the package documentation, is left hanging.

Everything works fine until I actually try to use the `interpolate.interp1d` function.

I already removed scipy, using pip, and installed it again. The problem still persisted.

### Reproducing Code Example

[code]
[code]

### SciPy/Nu

[2022-11-14 12:05] ev-br commented on #17419
Suspect that something is wrong with your python install and/or scipy build. How did you install scipy?
Here's how I'd investigate:

- Does it still hang if you remove the plotting call? (best, remove the whole of matplotlib from this script)
- Does pure numpy work, if you only keep `x = np.arange(0, 10); print(x)`, does it print it?
- If it does but `interp1d` call hangs, does it hang on `from sc

[2022-11-14 12:30] pedro-acunha commented on #17419
Hi @ev-br ,
The scipy installation was done using `pip install scipy`.

The code hangs in `f(xnew)`.

I was able to make scipy run, as expected, in a conda environment. I am however puzzled about this particular problem. I have been using scipy for a while without any problems, up until now.

[2022-11-14 12:53] ev-br commented on #17419
Definitely an installation glitch it is.
A first suspect is using `pip` in a conda environment. It can have weird effects, as they say.
Maybe try a more recent scipy version (why would you use 1.8.0 still) either with pip in a fresh virtualenv, or with from conda-forge in a clean conda environment?

[2022-11-14 16:39] doronbehar commented on #16783
Now, since https://github.com/pybind/pybind11/pull/4077 has landed in it's latest release. I was thinking of adding support for finding the include path via the pkg-config path, but I noticed that it doesn't really contain the prefix of the python package. And. as mentioned here earlier, it's not installed in a typical pkg-config path - meaning that in order to make `pkg-config` find it, a user wo

[2022-11-14 17:03] henryiii commented on #16783
What do you mean? Is it something that we can fix? The only requirement is that it is inside site-package's pybind11 folder in the normal package (it can be anywhere in the global package).

[2022-11-14 17:41] doronbehar commented on #16783
I'll admit that I haven't noticed and/or tested the global installation option when writing my previous comment. In anycase, for the none global installation, the `<prefix>/lib/python3.10/site-packages/pybind11/share/pkgconfig/pybind11.pc` file has:

[code]

Which is nice but not a huge improvement because this `pkgconfig` directory is not located in a standard location - meaning that even if scip

[2022-11-14 17:53] mdhaber commented on #7242
Thanks @jason-s. It is OK to start from the code in your [comment above](https://github.com/scipy/scipy/issues/7242#issuecomment-290548427) and release it under SciPy's BSD license?

[2022-11-14 18:11] jason-s commented on #7242
Yes. I grant SciPy this permission. Do you need me to do anything formally re: copyright?

I would request that the traceability be maintained, OK to change the first line wording.

[code]

[2022-11-14 18:21] mdhaber commented on #7242
That's fine @WillTirone.
@jason-s yes, we'll be sure to keep that, and we'll include you as a co-author on the PR using the email address that you use in your other commits, if that sounds good?
No, nothing more formal than your permission above is needed. Thanks!

[2022-11-14 18:45] scottshambaugh commented on #17024
@alexander-soare it should all be optimized by the compiler to the same thing, but that might be easier to read so I updated it.

[2022-11-14 18:47] doronbehar commented on #16783
All of my comments about `pybind11` were a mess. Now I noticed that running `make install` when building `pybind11` (not `pybind11-global`), does create a correct `pybind11.pc` file at a standard location, which is great for Nix! Sorry for the noise..

[2022-11-14 18:55] mdhaber commented on #7242
Oops, maybe not. Ok, we'll us that address.

[2022-11-14 18:57] eli-schwartz commented on #16783
My pybind11 PR was about adding pkg-config ***at all***.

It included support for relocation because that's what the pybind11 team wants, and I agreed it's fair enough to want it -- but for distro packaging I'd strongly recommend installing via cmake, not setup.py (or else do both) and use system-integrated pkg-config files (and cmake config files as well :p) so that this all ends up in the system

[2022-11-14 19:08] alexander-soare commented on #17024
@scottshambaugh cool, yeah still getting used to the magic of C compilers.

[2022-11-14 19:14] Moooongo opened #17420 "ENH: scipy.fft commonly used functions wrapper"
### Is your feature request related to a problem? Please describe.

There are some oftenly used function pairs in scipy.fft, such as the pair fft and fftfreq. It would be a time-save/nice-to-have of a function that wraps the function pairs alike.

### Describe the solution you'd like.

Assume two numpy arrays of the same length, containing information of evenly spaced time and some measured signal

[2022-11-14 19:24] hernot commented on #10803
No objections from my side. As it turned out that
- Problem is non linear and thus even with regularization CG is the wrong method
- Penalization is not necessary if function and Jacobian calculated properly cause
  * residual anyway increases
  * parameter does change in real word along given direction either when placed outside
  * in the problem to be solved it just matters that the parameter c

[2022-11-14 19:34] rgommers commented on #16783
@henryiii I looked into this before, concluded that it's kinda pointless to install pkg-config files in site-packages (I'd like to install them for NumPy), and that it should in principle be possible to install them to the correct location under `<prefix>/include/` by using https://peps.python.org/pep-0427/#the-data-directory. Does that seem feasible to you?

[2022-11-14 19:41] eli-schwartz commented on #16783
@rgommers,

I don't disagree with you, but pybind11 already has `pybind11_global` for the exact same situation except replacing the word "pkg-config" with "cmake" everwhere.

It installs a second copy of all data files, IIRC, and then depends on `pybind11` for the -config script and importable module. That's kinda extraneous but relatively speaking not by all *that* much.

[2022-11-14 19:46] henryiii commented on #16783
No, `pip install package` should not install things outside of site packages. If a user does this without being inside a virtual environment, it messes with the base system. Try this in brew then type "brew doctor", and it will complain about mysterious files that it does not control showing up in the root. This is why pybind11 has a `pybind11-global` copy - the normal pybind11 doesn't touch anyth

[2022-11-14 19:47] henryiii commented on #16783
Is the pkg-config not in that one too? It should be, IMO.

[2022-11-14 19:50] 8FordPrefect8 commented on #17378
Hmm, since I am really no expert neither for the mathematical details nor the numerical details of interpolation I frankly don't feel confident in writing documentation for a highly used mathematical library.

[2022-11-14 19:50] eli-schwartz commented on #16783
Sorry, I meant "the original rationale for `pybind11_global` was this, except `s/pkg-config/cmake/` since cmake was all there was at the time, so when I implemented pkg-config I just treated it the same as cmake".

pybind11_global does indeed have pkg-config files in the data directory, and that's part of the tests we hooked up. :)

[2022-11-14 19:53] rgommers commented on #16783
Ah, I didn't realize that that's an actual [package on PyPI](https://pypi.org/project/pybind11-global/). Thanks for elaborating.

That's explicitly the point of the `.data` dir in PEP 427 though. So is that one of those "good idea in principle, but you must not use this, and no we won't bother to update the PEP" things?

[2022-11-14 20:00] eli-schwartz commented on #16783
I think different people have different ideas of what it should mean, probably.

For example, I would consider the data directory an officially sanctioned method for messing with the base system on the grounds that it is my desire to mess with the base system.

Obviously, `pip install package` installs things outside of site-packages and people are okay with this, because `console_scripts` is inst

[2022-11-14 20:01] henryiii commented on #16783
I wouldn't say there aren't places where you can use it (`pybind11_global` does use it!), but it's somewhat discouraged due to the ability to do exactly what it was supposed to do - install to any arbitrary place at the root of your python environment - which includes `/` if you are not in a venv. That's why we have a "safe" `pybind11` package and a "you know what you are doing" `pybind11_global`

[2022-11-14 21:07] dschmitz89 commented on #17373
The old scripts instead of dev.py are also still mentioned in:
* The docs contributor [guide](http://scipy.github.io/devdocs/dev/contributor/rendering_documentation.html)
* Testing [guide](http://scipy.github.io/devdocs/dev/contributor/runtests.html)

[2022-11-14 21:24] hoodmane commented on #17413
Thanks for looking into this @ev-br!

* [Patch 1 fix dstevr](https://github.com/hoodmane/pyodide/blob/main/packages/scipy/patches/0001-Fix-dstevr-in-special-lapack_defs.h.patch)[https://github.com/hoodmane/pyodide/blob/main/packages/scipy/patches/0001-Fix-dstevr-in-special-lapack_defs.h.patch](https://github.com/hoodmane/pyodide/blob/main/packages/scipy/patches/0001-Fix-dstevr-in-special-lapack_de

[2022-11-14 21:28] hoodmane commented on #17413
Also, taking another look at [0004-int-to-string.patch](https://github.com/hoodmane/pyodide/blob/main/packages/scipy/patches/0004-int-to-string.patch?rgh-link-date=2022-11-13T13%3A05%3A37Z) I think it might actually be reasonable to upstream? I was mostly voting against upstreaming the other two patches but I didn't check that one out carefully enough. Maybe @WarrenWeckesser could look into this o

[2022-11-14 23:30] #14386 closed

[2022-11-14 23:30] #16338 closed

[2022-11-14 23:30] #14472 closed

[2022-11-15 04:08] tstoeger commented on #17089
@mdhaber Apologies for the delay. Got caught up by manuscript revision. Submitted PR. Thank you again!

[2022-11-15 06:44] steppi commented on #6414
I put together a rough relativistic breit-wigner implementation. It’s not ready to PR and just lives on a branch on my fork [here](https://github.com/steppi/scipy/blob/878f5bbcc832bc0a3eb9503751d47edc423f231e/scipy/stats/_continuous_distns.py#L10281). It still needs some more work on tests and docs.

I also want to TeX up the derivations of the cdf and moments before submitting a PR to make review

[2022-11-15 09:23] com3dian commented on #17290
Extending the current function sounds cool to me(and moving to distance as well I think?).
However, I don't see any reason to apply `milp` instead of `linprog`, is that simply an integral constrained version for `linprog` or does it also has some other necessary feature?

[2022-11-15 09:49] Olgidos opened #17424 "No scipy-1.9.1-cp310-cp310-win32.whl found on PyPi"
### Is your feature request related to a problem? Please describe.

I need a 32 bit version for windows. And non is available on PyPi.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context (e.g. screenshots, GIFs)

_No response_

[2022-11-15 10:26] andyfaff commented on #17424
Sorry, no 32 bit wheels are available on windows, due to an incompatibility of 32 bit Fortran compilers with the new meson build system.  At the moment there is no real movement towards changing this situation, there's just not that much demand. Can you install an older wheel? Why is it necessary to install a 32 bit wheel?

[2022-11-15 10:26] #17424 closed

[2022-11-15 11:12] HDembinski commented on #6414
@steppi Please consider adding it to [numba-stats](https://github.com/HDembinski/numba-stats) if it is not accepted by scipy, although I don't see why it should be rejected.

[2022-11-15 13:57] melissawm commented on #17403
Good point - the main user guide landing page is undergoing some changes in #17322 - I can at least leave a stub for this page there.

[2022-11-15 15:04] #17419 closed

[2022-11-15 15:10] Olgidos commented on #17424
Thanks for the answer, I am working with some legacy systems, which require python 32 bit. And we are currently using v3.10.. Maybe I can downgrade to 3.9.

[2022-11-15 16:53] ev-br commented on #17413
Looking at it, `sasum` is a BLAS level 1 function, where the first letter indicates single precision. The netlib source concurs: https://netlib.org/lapack/explore-html/df/d28/group__single__blas__level1_gafc5e1e8d9f26907c0a7cf878107f08cf.html

[code]

MKL docs agree: https://www.intel.com/content/www/us/en/develop/documentation/onemkl-developer-reference-fortran/top/blas-and-sparse-blas-routines/b

[2022-11-15 16:57] hoodmane commented on #17413
Yeah... It's a little hard for me to fathom just what sort of build system glitch would change the return type of the function like that but it would be a whole lot weirder for the whole rest of the world to be wrong.

[2022-11-15 19:15] rgommers commented on #17412
I have no idea, that was early in the porting to Meson process, so probably I just missed it when reviewing. Certainly we hadn't tested cross-compiling at that point yet.

The majority of those were just fixed, in gh-17416. I'll have a look at fixing the `_highs` one as well.

Thanks for the report @doronbehar, very useful! I'll open a PR to fix these issues.

[2022-11-15 20:41] mdhaber opened #17428 "BUG: optimize: HiGHS compiled in release with debug asserts?"
### Describe your issue.

I received a tip that HiGHS may be compiled in our 1.9.3 release with debug asserts, e.g. `-DCMAKE_BUILD_TYPE=RelWithDebug`. These assertions aren't fatal, so HiGHS should not report them to the user. The suggestion is to build HiGHS with `-DCMAKE_BUILD_TYPE=Release`.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version informat

[2022-11-15 20:44] mdhaber commented on #6414
Whenever you're ready, @steppi, I'd be happy to take a look.

[2022-11-15 20:48] WarrenWeckesser commented on #17368
This is the result of an uncaught exception in the Boost code.  We have Cython code (generated during the build) that wraps a bunch of the methods of Boost's beta distribution as ufuncs.  Some of those Boost methods depend on `boost::math::erfc_inv`.  It appears that, during the import of the `beta_ufuncs` module, the C++ class `erf_inv_initializer` at https://github.com/scipy/boost-headers-only/b

[2022-11-15 20:59] mdhaber commented on #17290
There are two small reasons:
* If we ever need to debug, it will be easier slightly easier to work with `milp`
* `milp` accepts the arguments in the form that HiGHS wants them, so no conversion from equality and upper bound constraints to the HIGHS form is needed

So if there are no reasons not to, I lean toward MILP. Under the hood, both just call `highs_wrapper`, and `I think `high_wrapper` will

[2022-11-15 21:11] #17089 closed

[2022-11-15 21:16] WarrenWeckesser commented on #17368
I just noticed this a few lines down in the Boost file `special_functions/detail/erf_inv.hpp`:
[code]
So perhaps Boost's attempt to work-around valgrind's behavior with `long double` isn't working as expected.

[2022-11-15 21:18] eli-schwartz commented on #17412
That was my guess too, I was just thrown off a teeny bit by the fact that the naive approach would be to "not say anything" and omit the kwarg altogether, which would work in this case. :D

[2022-11-15 21:29] WarrenWeckesser commented on #17368
... and it looks like this has already been fixed in Boost: https://github.com/boostorg/math/pull/809

So the issue should be fixed when we update our vendored version of Boost to 1.80+.

[2022-11-16 01:42] scottshambaugh opened #17429 "ENH: Add power (exponent) operator for Rotation objects"
### Is your feature request related to a problem? Please describe.

At the moment, scipy.spatial.transform.Rotation objects can be composed with the multiplication operator. The power operator is a natural extension of this to compose a rotation with itself (ie, apply the same rotation multiple times).

### Describe the solution you'd like.

For an exponent `n` where `n` is a positive integer, the

[2022-11-16 02:07] mckib2 commented on #17368
I immediately thought of some weird compiler issues we've seen with Boost, but I think that's the case.  I think you're right @WarrenWeckesser, once gh-17207 goes in this will be fixed or we can add the upstream patch.  I think that's currently blocking on me doing a refactor to get Boost.Math as a standalone project

[2022-11-16 02:22] hadjipantelis opened #17431 "ENH: ECDF in scipy."
### Is your feature request related to a problem? Please describe.

When in Python, calculating an ECDF requires loading `statsmodels`' [`ECDF`](https://www.statsmodels.org/dev/generated/statsmodels.distributions.empirical_distribution.ECDF.html) function. It is a really big dependency for something relatively small.

### Describe the solution you'd like.

A function to calculate the empirical dis

[2022-11-16 02:59] mdhaber commented on #17431
The KS test functions have a very nice way of doing this. I'll add it shortly because I'm working on a function for survival analysis and a lot of code can be shared.

[2022-11-16 03:17] #17412 closed

[2022-11-16 06:32] ev-br commented on #5176
I think the way to go for these kinds of extrapolation modes is do something similar to  https://scipy.github.io/devdocs/tutorial/interpolate/extrapolation_examples.html#use-the-known-asymptotics and https://scipy.github.io/devdocs/tutorial/interpolate/extrapolation_examples.html#exrapolation-in-d-1 : evaluate the interpolator, replace nans with the wanted function call.

Anecdotally, I used to wo

[2022-11-16 08:14] seberg commented on #17368
valgrind doesn't support longdouble.  Those constants are too big for longdouble.  So, the error is not unexpected, in NumPy testing, these are usually just warnings (and quite a few tests fail due to it), but I guess here it happening at import time already is a problem.

(Some people report such issue with NumPy as well, they usually have stranger environments like embedded Python setup.)

[2022-11-16 08:19] wph524 commented on #17406
I am sorry that the exact error message is not available now. But I can say that it is occured when using pyclustering.cluster.center_initializer.kmeans_plusplus_initializer.

在 2022-11-12 22:36:57，"CJ Carey" ***@***.***> 写道：

Can you include the exact error message you observed?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thr

[2022-11-16 11:15] dschmitz89 commented on #7168
At the risk of being annoying: I see that there is again space in the top panel, so could this issue be pinned?

[2022-11-16 14:03] dimidloc commented on #12975
I have the same issue even with scipy 1.8.1 and 1.9.3. To reproduce:
[code]

[2022-11-16 16:44] rgommers commented on #12975
@dimidloc same comment as above: please open a new issue, with all required details, like how you installed Python and SciPy, what OS, etc.

[2022-11-16 18:34] WarrenWeckesser commented on #7168
Sorry that no one responded to your initial suggestion to pin this issue.  My first inclination was that being tagged "good first issue" was probably enough.  Of course, being pinned would make the issue far more discoverable for a casual browser of the github issues.  But that's true for any issue.

I don't think this issue "reaches the bar" (whatever that is) for being pinned, but I won't object

[2022-11-16 21:16] rgommers opened #17434 "`python dev.py lint` may not match what the CI lint job does"
The below was reported by @HDembinski in a comment on gh-15489. That should be considered a bug if it's indeed not matching, so this should be looked at.

Sorry, I don't have a clean reproducer, but I think this patch here
https://github.com/scipy/scipy/pull/17237/commits/0545e5e0c3e6601e584e3afda88a8df0cec74795
was a change that I made after `python dev.py lint` gave me no complains (about my new

[2022-11-16 21:29] rgommers commented on #15489
Okay that took me a while - I will close this issue now. I opened gh-17434 to follow up on the potential issue with `lint`. I'm not opening a new issue for pre-commit, because there's too much back and forth there that I don't know how to summarize (or if there's anything in particular that is actionable). If that does need follow-up, it would be great if someone can take that action.

After re-re

[2022-11-16 21:29] #15489 closed

[2022-11-17 01:23] abhijeet-pandey opened #17435 "Addition of "maxhold" and "minhold" in averaging in Welch algorithm"
### Is your feature request related to a problem? Please describe.

Unlike Matlab's pwelch which supports "maxhold" and "minhold" with the function, the current welch method in scipy only supports "mean" and "median" under averaging methods. The max/minhold would provide envelopes of spectrum which is specially useful for non-stationary signals to detect appearance of transient frequencies in time

[2022-11-17 04:27] stefanv commented on #15489
@rgommers What do you think of adding the pre-commit hook above into the repo with instructions for those who want to lint before committing?

[2022-11-17 05:30] xiaohk opened #17436 "BUG: linalg.cholesky: segmentation fault with large matrix"
### Describe your issue.

I am trying to use `gaussian_kde()` to fit a 2D KDE model on a dataset with shape `(47000, 2)`. However, I keep getting segmentation fault on a cluster with 40 CPUs and 300+GB memory. I tried to increase the stack limit using `ulimit -s`, but it didn't help.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.3

[2022-11-17 05:46] rkern commented on #17436
Note that the order of the axes is different between `gaussian_kde()` and `sklearn`. You need the transpose `(2, 47000)` array instead.

[code]

[2022-11-17 05:57] WarrenWeckesser commented on #17436
I can reproduce the segmentation fault with the main development branch, but as @rkern points out, the data is almost certainly being passed in with the wrong shape.  Still, it would be nice if the code didn't crash Python, so I think we can leave this open until we have a fix, or we know that it actually can't be fixed (e.g. if the process is being killed by the OS because it is low on memory).

[2022-11-17 06:24] ev-br commented on #17434
Cross-ref https://github.com/scipy/scipy/issues/17394

[2022-11-17 09:42] rgommers commented on #15489
Can it turn into a `tools/lint_diff.py` improvement? I'm not against adding a pre-commit hook for those folks that want to use it, but it's not a good idea to make it do anything but call out to the tools that are used in the recommended development workflow(s).

[2022-11-17 11:52] com3dian commented on #17290
All right, then I will replace `linprog` with `milp` and start a PR soon, would you like to review that @mdhaber?

[2022-11-17 12:10] oregenfelder opened #17437 "BUG: windows dll install directory changed from scipy/.libs to scipy.libs"
### Describe your issue.

From scipy 1.9.1 to scipy 1.9.3 the directory used to install dlls on windows changed.
scipy-1.9.1: dlls are installed in .../site-packages/scipy/.libs
scipy-1.9.3: dlls are installed in .../site-packages/scipy.libs

This causes pyinstaller builds using scipy-1.9.3 to fail as the expected dll location changed.

If this change was intented I will file a bug report with pyi

[2022-11-17 12:28] j-bowhay commented on #17434
see https://github.com/scipy/scipy/issues/17394#issuecomment-1311594807

To summarise,  `python dev.py lint` runs `tools/lint_diff.py` and then also runs flake8 on the entire code base which is why the output is different to the ci job. A pretty easy fix would just be to separate these two functionality (maybe  `python dev.py lint` and  `python dev.py flake8`)

[2022-11-17 12:39] dimidloc opened #17438 "BUG: Loading of scipy 1.8.1 fails after strip with ELF load command address/offset not properly aligned"
### Describe your issue.

After `strip`ing the scipy shared object, it no longer loads.
Similar to https://github.com/scipy/scipy/issues/12975

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.8.1

[2022-11-17 13:11] rgommers commented on #17434
That sounds like a good idea. And then maybe also a `dev.py ci` which runs a bunch of checks at once? E.g. also `mypy`? And we may even want to extend that with an option to use `act` to run build/test CI jobs locally?

[2022-11-17 13:15] xiaohk commented on #17436
Thank you @rkern and @WarrenWeckesser! Yup, after fixing the data shape, it only takes 0.1 second to fit the model 🤩

I think it might be helpful to give a warning too if the passed shape is "very unusual" (like only 2 rows and 14k dimensions 😄). I imagine many users would assume that `scipy` expects shape (n, k) like `sklearn`.

[2022-11-17 16:19] mdhaber commented on #17290
I just ran across gh-7804, which concluded that EMD should be added in `scipy.spatial.distance`.
I also realized that if we were to add this to the existing `wasserstein_distance`, it might not be easy to add an `axis` argument later.
Finally, gh-14540 (network simplex) seems to be getting closer to merging, and that might just be superior to LP for this purpose.
Let me think about this a little m

[2022-11-17 19:14] rgommers commented on #17437
Hi @oregenfelder, yes this was intended. The build system changed. Actually we have two build systems now, and are going to remove the old one at some point. Also the wheel building infrastructure is different - `multibuild` vs. `cibuildwheel` - that should be the root cause here.

`package-name.libs`  is what `cibuildwheel` produces I believe. It'd be great if PyInstaller could account for that.

[2022-11-17 20:16] andyfaff commented on #17437
It's not `cibuildwheel` that controls where the bundled dlls end up, it's down to the tool that repairs the wheel. For Windows this is [`delvewheel`](https://pypi.org/project/delvewheel/), for macOS it's `delocate` and on Linux it's `auditwheel`.
One can use the `-L, --lib-sdir` option to control where the vendored dlls are stored, but `package-name/.libs` is the default. I believe this is the sam

[2022-11-17 20:46] dschmitz89 commented on #7168
Thanks for the reply. Of course the bar for an issue to be "pinnable" must be reasonably high.

scikit-learn folks crowd sourced another tedious issue similar to this by pinning: making sure that their examples pass numpydoc validation (see [here](https://github.com/scikit-learn/scikit-learn/issues/21350)). For a long time this meta issue was very visible in the issue tracker and drew a lot of att

[2022-11-17 20:52] rkern commented on #17436
Issuing a warning whenever `n_features > n_data` would probably be a reasonable rule of thumb.

[2022-11-17 21:01] j-bowhay commented on #17434
Will work on submitting a pr for this part

[2022-11-18 00:11] drewoldag opened #17440 "ENH: Vectorize stats tests"
### Is your feature request related to a problem? Please describe.

The current implementation of `anderson` `kstest` and `cramervonmises` do not support, and in the case of CvM, explicitly prevent vectorized calculations.

We have a use case where it will be rather valuable to be able to perform these calculations in a vectorized way. Our code will evaluate those metrics for ~billions of instance

[2022-11-18 00:21] mdhaber commented on #17440
The general issue is gh-14651. @tupui and I will resolve that issue as part of this project:
https://chanzuckerberg.com/eoss/proposals/scipy-fundamental-tools-for-biomedical-research/

However, that would only vectorize these tests for convenience, not speed. So there is still something to discuss here.

I think you'd be interest in gh-16967 which unifies `anderson`, `kstest`, and `cramervonmises`

[2022-11-18 03:21] andyfaff commented on #17438
Having an import from `rasa` muddies the waters a little bit. in future examples you should just be able to do `python -c "import scipy.linalg._fblas"`.
- Would it be possible to explain why stripping the shared libraries is necessary? Is it something to do with https://github.com/scipy/scipy/pull/8451? I *believe*, but could be wrong, that the libraries are already stripped.
- Can you check for m

[2022-11-18 06:24] mdhaber commented on #17436
If the number of observations is less than the number of dimensions, won't this always result in a (theoretically, if not numerically) singular covariance? `gaussian_kde` really doesn't work at all with singular covariance matrices right now, and that is tracked by gh-10205.
So until gh-10205 is resolved, should we raise an error when `n_features > n_data`?

[2022-11-18 07:59] bhaskoro-muthohar opened #17441 "BUG: AttributeError: 'float' object has no attribute 'shape'"
### Describe your issue.

I tried to plot QQ plot by using stats.probplot, but raised `AttributeError`.

![image](https://user-images.githubusercontent.com/35159954/202650805-241c2c91-f614-4d8d-8f10-1c728ab2abef.png)

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.3 1.21.6 sys.version_info(major=3, minor=7, micro=15, releaselevel='f

[2022-11-18 11:06] j-bowhay commented on #17441
Thanks for reporting. Does adding `df['col'].to_numpy()` change anything? If not could you please provide a reproducible example that can be ran.

[2022-11-18 11:49] thijsvanputten opened #17442 "BUG: spatial.ConvexHull hangs"
### Describe your issue.

I have encountered an issue with spatial.ConvexHull, where the code simply hangs on the creation of the hull. It doesn't give any errors and cannot even be interrupted, it just hangs.

I am not using spatial.ConvexHull directly, but rather through the trimesh package; but have reproduced the issue in direct usage of spatial.ConvexHull with the same arguments used by trime

[2022-11-18 12:05] andyfaff commented on #17438
If I build a wheel built from `main` using Python3.10 on an `ubuntu:latest` image then the behaviour doesn't occur.

In contrast I can repeat the issue on the same image with scipy 1.9.3 and 1.8.1 wheels. However, the directory size changes very little when I strip. Is it actually worth stripping binaries if the size doesn't change at all?

If I install a `nightly` wheel from anaconda then the beh

[2022-11-18 13:16] yuyuwo opened #17443 "BUG: Why can't I get the right result with quad？"
### Describe your issue.

This is my code:
`y = lambda x:1/(3.81*(2*np.pi)**0.5)*np.exp(-(x-116)**2/(2*3.81**2))
y1= quad(y,0,np.inf)
print(y1)`
This is result:
(8.871948827438051e-22, 1.718414783764695e-21)

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.7.3

[2022-11-18 13:23] rgommers commented on #17438
Yes, shared libraries in our wheels and conda-forge packages are already stripped - if not, that's a bug. Manual stripping can break things if done with the wrong flags.

[2022-11-18 14:39] com3dian commented on #17290
It's okay for me to create a new function for EMD if `wasserstein_distance` does not fit in the signature. However, I'm not sure what `axis` argument you are talking about(If you mean the `axis` argument in `[sklearn.metrics](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics).pairwise_distances_argmin` it is different with EMD as it says that the pairwise_distance_argmin

[2022-11-18 15:03] rkern commented on #17443
There is only a very tiny portion of that integration region that has any significant mass. `quad()` isn't magic; it has to sample the function at a finite number of places, and it happened to not find ones near `116` where all the mass is. Using a large, but finite range like `(0, 1000)` would help.

[code]

[2022-11-18 15:13] bfis opened #17444 "BUG: beta.ppf causes segfault"
### Describe your issue.

Calling `beta.ppf` with extreme values causes an segfault.

This issues may be related to the handling of `boost::wrapexcept<std::overflow_error>` exceptions:
For the following SciPy/NumPy/Python version: `1.7.0 1.19.5 sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)` on gets the following error instead:
[code]

This may be related to #14704 or

[2022-11-18 15:14] #17443 closed

[2022-11-18 15:34] mdhaber commented on #17290
Currently, `wasserstein_distance` works only on 1D arrays, but it is natural to extend it to accept multidimensional arrays and operate along all rows (or columns, or other slices) independently but in parallel. `axis` is used throughout `stats` to tell SciPy which axis of a multidimensional array it should take the statistic over.  This is a competing way to interpret multidimensional input (many

[2022-11-18 15:37] yuyuwo commented on #17443
@rkern Thank you for your answer. It really helped.
But why can't I get the correct result when I integrate another long function? Is there any solution?This is my code:

         x/8.314*np.exp(-x/(8.314*400))/(x/(8.314*400))**2*(((x/(8.314*400))**4+18*(x/(8.314*400))**3+86*(x/(8.314*400))**2+
        96*(x/(8.314*400)))/((x/(8.314*400))**4+20*(x/(8.314*400))**3+120*(x/(8.314*400))**2+240*(x/(8.3

[2022-11-18 16:09] adang1345 commented on #17437
This bug has already been fixed in PyInstaller 5.6 with https://github.com/pyinstaller/pyinstaller/pull/7170.

[2022-11-18 16:21] rkern commented on #17443
Most of the mass of that one is around `116*10**3`, which is well outside of those bounds.

[2022-11-18 21:25] #17438 closed

[2022-11-18 21:45] rgommers commented on #17437
Great, thanks a lot @adang1345. And thanks for reporting and digging in @oregenfelder and @andyfaff. Closing then.

[2022-11-18 21:45] #17437 closed

[2022-11-18 23:28] mdhaber commented on #17444
I can reproduce this in main. ping @mckib2

[2022-11-18 23:44] mdhaber commented on #17441
I cannot reproduce this in `main`, at least not without `pylab`, which makes me suspect that it's a `pylab` issue if anything.
[code]

[code]

[code]

[2022-11-18 23:44] #17441 closed

[2022-11-18 23:51] mdhaber commented on #17388
@mckib2 can you see what Boost does here (without the wrapper)?
[code]

[2022-11-18 23:53] mdhaber commented on #17360
@tirthasheshpatel @chrisb83 Could you look into these `stats.sampling` test failures?

[2022-11-19 00:13] tylerjereddy commented on #17442
I wasn't able to reproduce this on the latest `main` at least--I pushed up my attempt in feature branch `treddy_issue_17442` on my fork, and tested with `python dev.py test -j 10 -t scipy/spatial/tests/test_qhull.py::TestConvexHull::test_gh_17442`.

Pertinent part off diff:

[code]

I'll check with `1.9.3` shortly if I can

[2022-11-19 00:16] tylerjereddy commented on #17442
I tried with a wheel for `1.9.3` installed on my Mac (testing above was Linux) and still couldn't reproduce:

[code]

[code]

[2022-11-19 00:29] jupsal opened #17445 "ENH: scipy.optimize.fminbound: example uses "minimum" instead of "minimizer""
### Is your feature request related to a problem? Please describe.

The example on the [scipy.optimize.fminbound](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.fminbound.html) help page uses incorrect language, conflating "minimum" with "minimizer." In particular, the sentence "[fminbound](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.fminbound.html#scip

[2022-11-19 01:23] mdhaber commented on #17445
Thank you for bringing this to our attention. Please submit a PR to be sure it is done correctly.

[2022-11-19 02:04] WarrenWeckesser commented on #17442
FWIW, I can't reproduce the problem either.  This was on Linux with several combinations of: Python 3.10.8 & Python 3.11.0; numpy 1.21.6, 1.23.4 & main dev branch; SciPy 1.9.3 & main dev branch.

@thijsvanputten, what operating system are you using?

[2022-11-19 03:30] WarrenWeckesser commented on #17444
There is an exception being thrown in the Boost code that is not being caught by the wrapper.

The value 1e-320 is [subnormal](https://en.wikipedia.org/wiki/Subnormal_number).  A "feature" of this value is that 1/1e-320 overflows to `inf`:
[code]
With the input values `a=1e-320`, `b=1234`, the Boost code eventually swaps the values to `a=1234` and `b=1e-320` and ends up evaluating the beta functio

[2022-11-19 04:23] bhaskoro-muthohar commented on #17441
It does not work, still raised the same error.

Here I'm using google colab and using bigquery public data, you need to use bigquery api tho.
[code]

[code]

[code]

[code]
![image](https://user-images.githubusercontent.com/35159954/202833850-12ef4887-3027-49b8-90c9-d7459e1ce212.png)

[code]

raised
[code]

[2022-11-19 04:32] bhaskoro-muthohar commented on #17441
I'm tried to use `matplotlib` but still raised the same error. The issue is on the dataframe that produced by bigquery magic I used https://cloud.google.com/python/docs/reference/bigquery/latest/magics, when I tried to read dataframe manually by using `pd.read_csv('xxx.csv')` the plot works just fine!

![image](https://user-images.githubusercontent.com/35159954/202834154-e61e2e8b-d1b2-48ce-959a-97

[2022-11-19 04:39] mdhaber commented on #17441
There are other ways. For instance, you could create a gist with the data included in the file, or you could find a smaller example that reproduces the problem by looking at the data in the Series you extract.
What is the dtype of `count`? We'd expect it to be an integer, but does it turn out to be something else? Does it have infs or nans?

[2022-11-19 05:49] mdhaber commented on #10205
If/when this is resolved, the condition detected in gh-17436 should result in a warning rather than an error.

[2022-11-19 06:05] mdhaber commented on #12715
@ilayn does this doc-only fix sound like a good way to resolve this issue?

[2022-11-19 07:25] mdhaber commented on #17445
I went ahead and created a PR since I decided to work on that file for another reason. Please let me know if gh-17447 addresses the issue.

[2022-11-19 18:01] mdhaber commented on #9732
The original refguide issue seems to have been resolved by appending `# random` at the end, so I'll close this.

If we're interested in understanding why `dual_annealing` does not produce the same vector of zeros on different machines, here is a different example with a single local minimum that is also the global minimum.
[code]
I get:
[code]
Hopefully, this is exactly reproducible on different m

[2022-11-19 18:02] #9732 closed

[2022-11-19 18:08] davidjabon opened #17450 "Typo: on page https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.dblquad.html#scipy.integrate.dblquad"
### Describe your issue.

There is a typo on the page https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.dblquad.html#scipy.integrate.dblquad
On the very last example, the code examples integrate from x to 2-x, but the displayed integral integrates from 2-x to x.

![typo_on_dblquad](https://user-images.githubusercontent.com/12072431/202865288-bca0c976-a2c3-4698-8fe6-8a113d3d6fd7.

[2022-11-19 19:24] j-bowhay commented on #17450
Would you like to submit a pr @davidjabon?

[2022-11-19 21:51] drewoldag commented on #17440
@mdhaber I agree gh-16967 does seem to do a lot of what we're driving for, and I think a follow up PR to vectorize for speed would be really helpful for our use case. In the code that we're developing, we wrap all the rv_continuous Scipy distributions and support a few additional piecewise distributions as well.

Honestly, my statistics knowledge is limited, so I'm going to tag in @aimalz to get s

[2022-11-19 22:57] mdhaber commented on #17436
@xiaohk Can you tell me which of the following lines, if any, causes a segfault on your cluster?

[code]

[2022-11-20 00:13] rkern commented on #17436
The traceback shows it segfaulting in `flapack_dpotrf`, the Cholesky decomposition routine.

[2022-11-20 00:24] mdhaber commented on #17436
Ok. Then will gh-17446 resolve the scipy.stats part of this issue?
Otherwise, it seems that this needs a scipy.linalg label, no?

[2022-11-20 00:34] xiaohk commented on #17436
@mdhaber

The segfault happens on this line:

[code]

Yes, after I change `data` to `np.random.rand(47000, 2)`, the program still crashes with a segfault after running for 25 minutes.

[2022-11-20 01:15] #7268 closed

[2022-11-20 04:18] bhaskoro-muthohar commented on #17441
OK, I think I've found the issue. Probplot will raise an error if the data frame input is coming from Bigquery, otherwise it's fine.

Here's the example:

[code]
raised
[code]

But, if I write the data frame from BQ to csv then write the csv again as data frame, it works just fine!
[code]

[2022-11-20 04:19] bhaskoro-muthohar commented on #17441
It's weird. Any thoughts sir @mdhaber @j-bowhay ?

[2022-11-20 04:44] WarrenWeckesser commented on #17441
Almost certainly, the data type of the data in the Pandas DataFrame create by bigquery is `object`.  I can recreate the problem with numpy with data type `object`:

[code]
Try passing `df['col'].to_numpy(dtype=float)` to `probplot`.

[2022-11-20 04:52] bhaskoro-muthohar commented on #17441
Yess, it's worked like a charm! Thanks!!

[2022-11-20 04:59] scottshambaugh commented on #17024
Psyche, there's [an issue](https://github.com/cython/cython/issues/3160) defining local arrays in cdef's and working around it would be even messier, so I reverted to the old logic.

[2022-11-20 05:53] mdhaber commented on #17441
It looks like the average of something is a Python `float` rather than a NumPy scalar. What is `type(sum(df["count"]))`?

[2022-11-20 12:51] #10737 closed

[2022-11-20 16:04] rkern commented on #17429
The real benefit of the quaternion representation of rotations is that the [power operation with real exponents is quite well-defined](https://en.wikipedia.org/wiki/Quaternion#Exponential,_logarithm,_and_power_functions).

[2022-11-20 16:11] scottshambaugh commented on #17429
Quaternion exponentials are well defined (the equation there is equivalent to what I said about scaling the angle), but we are dealing here with quaternions as a representation of the fundamental object: rotations. Having the equation doesn’t resolve rotations for non-integer exponents being non-unique.

[2022-11-20 16:42] rkern commented on #17429
FWIW, in your example, `R1 != R2`. They'll yield the same matrix representation, sure, but we use the richer representation for good reasons. This is one of them. We make use of it to implement `Slerp` (what essentially amounts to real-valued powers between 0 and 1).

[2022-11-20 17:34] scottshambaugh commented on #17429
Sure, but those are only not equivalent because of floating point round-off. An orientation in space is 'stateless' - it does not matter how you got there. Removing the ambiguity in which direction to represent the exact 180 deg poles is the reason for [my MR here](https://github.com/scipy/scipy/pull/17334), which chooses the positive representation (a somewhat arbitrary choice).
[code]

Slerp has

[2022-11-20 19:48] rkern commented on #17429
Maybe it's due to round-off, but it makes the same decisions in multiple places such that we can represent both a rotation of `+pi` and `-pi` around an axis as distinct things. You can see this by going from the quaternion to the rot-vec:

[code]

If your PR removes that, then I'm a little less happy with it. Note that a rotation of `+/-pi` seems to be a special case here. The usual double-cover i

[2022-11-20 19:56] #13529 closed

[2022-11-20 19:56] #15072 closed

[2022-11-20 19:56] #15393 closed

[2022-11-20 20:12] scottshambaugh commented on #17429
Yeah, `+/-pi` is an edge case with the current setup. There's no principled reason why that single point should be the only place that exhibits the double coverage as is currently the case with the rotvec representation. The other option to completely mapping to a single cover is to extend the double coverage to the entire rotation space, but I think that's even more obviously a bad idea.

Copy th

[2022-11-20 22:16] tylerjereddy commented on #12169
The cross-listed PR was merged with a tiny doc improvement for `dice()`, but leaving this open because there are some other helpful suggestions to consider above I suppose.

[2022-11-20 22:38] vicenteverdeguer opened #17453 "BUG: Cannot install SciPy 1.9.3 in Python 3.10 in macOS"
Tried to install SciPy from the terminal using pip and from the idle using Github, but none of it worked.
This is the error shown:

Collecting scipy
  Using cached scipy-1.9.3.tar.gz (42.1 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with statu

[2022-11-20 23:00] andyfaff commented on #17453
What macOS version are you using? Scipy wheels don't install on 11

[2022-11-20 23:03] vicenteverdeguer commented on #17453
I am using macOS 11.5.2.
How should I install it then?

On Sun, Nov 20, 2022 at 6:00 PM Andrew Nelson ***@***.***>
wrote:

[2022-11-20 23:32] andyfaff commented on #17453
There were bugs that we couldn't work around for macOS 11 so we don't make wheels for 11. You have three options:

1. Upgrade your OS to > 11.
2. Try building the wheels yourself, but live with the possibility of hitting those bugs.
3. Install scipy packages using conda (e.g. from conda-forge).

[2022-11-21 01:01] scottshambaugh commented on #17338
Tried again after updating meson and the main branch, and am now failing earlier in the build flow, with the following logs. I can't seem to find open_memstream as something to install while googling around.

```Checking for function "open_memstream" : NO ```
[code]

[2022-11-21 08:15] boatwrong commented on #17450
@j-bowhay If it is okay I'd be interested in submitting a pr for this.

[2022-11-21 08:27] MSJavaScript opened #17454 "BUG: solve_ivp fails to solve Possion-Nernst-Planck Equation but ode15s of MATLAB does"
### Describe your issue.

I am trying to solve pne dimensional Possion-Nernst-Planck (PNP) Equation with solve_ivp, it looks like
![AA](https://user-images.githubusercontent.com/23021127/202996762-3e51b897-c148-42bc-a1ae-c09f4104ca42.png)
Here, $\psi$ is electrode potential, $c_i$ are concentrations of ions.
Here is an example in matlab.
[matlab_cc.txt](https://github.com/scipy/scipy/files/1005458

[2022-11-21 09:01] jburke52 commented on #17404
Hello @dschmitz89 and @rgommers, I'll be working on this suggested enhancement and will pull when it's ready.

[2022-11-21 09:08] rgommers commented on #17338
That's an optional internal function, it should not fail on that. The snippet you posted above is from `meson-log.txt`, that's only a try-compile step, nothing is wrong yet. Can you post the actual failure from the build log that's visible in the terminal?

[2022-11-21 12:37] thijsvanputten commented on #17442
Should have mentioned the OS, sorry. I'm on Windows 10 (20H2).

[2022-11-21 13:50] j-bowhay commented on #17450
@boatwrong yes go for it. As it is a documentation only fix please try to skip the appropriate CI jobs: https://scipy.github.io/devdocs/dev/contributor/continuous_integration.html#skipping

[2022-11-21 15:33] AdrianPerezSalinas opened #17456 "ENH: custom stopping criteria with auxiliary function"
### Is your feature request related to a problem? Please describe.

The solution I am looking forward is not about an existing problem, but about expanding the capabilities of the optimizers in scipy. Consider the following problem. Let `f(x)` and `g(x)` be two functions that depend on the same parameters. Then we want to optimize `f(x)` without having `g(x)` out of control. We monitor the value o

[2022-11-21 15:45] scottshambaugh commented on #17338
Ah, looks like I had a clock skew error later on that I hadn't noticed (maybe something to do with not restarting since daylight savings time?), and running `sudo hwclock -s` resolved that. The build failure is now back to the original issue.

[2022-11-21 15:48] mdhaber commented on #17456
The capability is not implemented for most optimizers. We've discussed this recently in other issues, which I'll link here later. I'll go ahead and work on it this week.

[2022-11-21 15:58] #17300 closed

[2022-11-21 17:04] drewoldag commented on #17440
I spoke offline to @aimalz, and he agreed with the assessment that a followup PR for performance would be welcomed.

I also got some clarification from Alex on the expected use cases for your second question:

"While generality would be nice, our main use case for these three is the uniform distribution between 0 and 1." He'll likely jump in here with some more thoughts.

Similarly for this questi

[2022-11-21 17:47] mdhaber commented on #17440
Thanks! Well, in the meantime, I think these functions (copy-pasted from gh-16967) will work for you. For n-dimensional arrays, the statistic is taken along the last axis `axis=-1` (e.g. for 2d arrays, each row is treated as a separate sample).

<details>

[code]

</details>

[2022-11-21 18:37] scottshambaugh opened #17458 "ENH: Rotation equality checks"
### Is your feature request related to a problem? Please describe.

It would be useful to have a function to determine if two scipy.spatial.transform.Rotation objects are equal.

### Describe the solution you'd like.

Since Rotations have floating point representations an approximate equality check is needed, and since the space of rotations is cyclic with a discontinuity in representation at +-pi

[2022-11-21 21:55] rgommers commented on #17338
okay thanks. still not sure what is going on - but it looks like we need a maintainer with WSL to dig into that.

[2022-11-21 23:26] drewoldag commented on #17440
This looks really great! I'll pull the new code an give it a shot, thanks a bunch!

[2022-11-22 04:58] Patol75 commented on #17454
It is not clear to me that you have demonstrated a shortcoming in SciPy's `integrate` module. However, it seems likely that the Python code you provided is not an accurate translation of the Matlab script you also attached. I would encourage you to start again and be more careful as you work your way through the translation. In particular, try to avoid adding in unnecessary functions and classes u

[2022-11-22 07:49] MSJavaScript commented on #17454
Thank you for your kindly reply. I complement the python version script basing on your script. It seems that the problem is the **jac_sparsity** parameter for BDF solver or **lband/uband** parameter for LSODA solver.

For BDF solver, if I leave jac_sparsity None, the solver can slowly converge to ode15s result. But if I set jac_sparsity, the result never converges (I mean reach the end of time spa

[2022-11-22 11:22] ev-br commented on #15676
Poking around shows something called `cov_object`:

[code]

[2022-11-22 11:56] dylanwu711 opened #17461 "BUG: scipy.interpolate.interp1d gives "nan" with "kind='next', fill_value='extrapolate'" in v1.9.3"
### Describe your issue.

I find the output of scipy.interpolate.interp1d gives nan output when "kind='next', fill_value='extrapolate'" in v1.9.3.

You can reproduce the error the result with the following code.

The output is 'nan'. And, there is no 'extrapolate' at all.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.3

[2022-11-22 22:50] scottshambaugh opened #17462 "ENH: Create Rotations by aligning a primary axis and best-fitting a secondary axis"
### Is your feature request related to a problem? Please describe.

In robotics applications, I often have the need to align a primary and secondary base direction with a primary and secondary reference direction, such that the primary base points directly along the primary reference, and the secondary base is pointed as close as possible to the secondary reference direction by rotating around tha

[2022-11-23 03:11] #17453 closed

[2022-11-23 03:12] tylerjereddy commented on #17442
We can check with @h-vetinari for conda matters perhaps.

[2022-11-23 04:18] Patol75 commented on #17454
I am not too sure about the Jacobian structure. If you manage to make it work in Matlab, I can help you translate it into Python.

Does the following work better than what you pasted above, or is it still too slow?

[code]

[2022-11-23 06:02] carlosgmartin opened #17463 "ENH: Add von Mises–Fisher distribution to scipy.stats"
### Is your feature request related to a problem? Please describe.

[scipy.stats](https://docs.scipy.org/doc/scipy/reference/stats.html) lacks the [von Mises–Fisher distribution](https://en.wikipedia.org/wiki/Von_Mises%E2%80%93Fisher_distribution).

### Describe the solution you'd like.

Add `scipy.stats.vonmises_fisher`.

### Describe alternatives you've considered.

[TensorFlow Probability](http

[2022-11-23 15:20] vhaasteren commented on #8443
And then scientists come here to find out why the function they rely on has been removed from scipy, only to find that there is not really an alternative.

I understand the reasoning stated above, but without another way to calculate this function I feel like this was a wrong decision

[2022-11-23 18:03] whophil commented on #10959
@rando249 I have been banging my head on this for a bit, and I think I agree with you

[2022-11-23 18:36] whophil opened #17464 "BUG: Extrinsic/intrinsic swapped in documentation for `spatial.transform.Rotation.from_euler()` ?"
### Describe your issue.

The documentation for `spatial.transform.Rotation.from_euler()` states that a `seq` with uppercase letters represents an intrinsic rotation, while a `seq` with lowercase letters represents an extrinsic rotation. Is it possible that this is swapped? (Or that I have a fundamental misunderstanding of extrinsic vs intrinsic rotations?)

As far as I can tell, this concern was

[2022-11-23 19:52] mkoeppe opened #17465 "BUG: Meson build creates broken scipy.sparse.linalg._isolve on archlinux w/ system openblas"
### Describe your issue.

see https://trac.sagemath.org/ticket/34779

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.9.3

[2022-11-23 20:23] WarrenWeckesser commented on #17444
The segmentation fault occurs in https://github.com/scipy/scipy/blob/b4a970bf4eba1065ea31f8d0988cd4ec523a07d4/scipy/stats/_boost/include/func_defs.hpp#L22-L36

It turns out that `message` is actually NULL, so it must not be referenced. The fact that `message` might be NULL is definitely not clear in the Boost docs!

[2022-11-24 02:11] WarrenWeckesser opened #17468 "Weird errors with running the tests `scipy.stats.tests.test_distributions` with `-j`"
When I run the tests from `scipy.stats.tests.test_distributions` only, with the option `-j 8`, i.e.
[code]
all the workers fail with errors like `Different tests were collected between gw0 and gw6.`

So far, `test_distributions` is the only test module that I have found where this occurs.  All the other test modules in `scipy.stats` run fine.  If I don't give the option `-j 8`, all the tests run a

[2022-11-24 02:51] WarrenWeckesser commented on #17468
I suspect this is https://github.com/pytest-dev/pytest-xdist/issues/432.  I can fix the problem by disallowing random data in the values given in `pytest.mark.parametrize()`.

[2022-11-24 04:47] Joerki opened #17470 "BUG: Invalid package metadata: licensing"
### Describe your issue.

The metadata of the package contains the license texts instead of an SPDX license ID expression. This is standardized.

See PEP 639

This makes it impossible for license scanning tools to properly detect licenses included in the package.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

Not applicable

[2022-11-24 06:12] #17468 closed

[2022-11-24 06:49] MSJavaScript commented on #17454
@Patol75 Thanks for your help. I think I know where I am wrong. In fact I write my code basing on a matlab function **pdepe**. This function converts parabolic and elliptic PDEs to ODEs and solve them by ode15s, If an elliptic PDE exists (for example Poisson equation here), the eqution becomes algebraic differential equation.  ODE15s can decouple the equations somehow (I don't know the details), s

[2022-11-24 06:50] #17454 closed

[2022-11-24 07:36] Patol75 commented on #17464
I am wondering if the issue here could be the order in which the angles are provided to the `from_euler` call. The following piece of code does not raise and it seems to me that `(yaw * pitch * roll).as_matrix()` replicates the assembly of the `R` matrix in the example you provide.
[code]

[2022-11-24 07:39] Patol75 commented on #17461
I am pretty sure this has already been raised and addressed. Can you please have a look at gh-16997 and confirm?

[2022-11-24 07:47] dylanwu711 commented on #17461
Got It! I will close the issue. But, I would **strongly** suggest mention the differences in the API Doc. A lot of people may think that is an unwanted behavior.

[2022-11-24 07:47] #17461 closed

[2022-11-24 09:38] mdhaber commented on #17297
@tirthasheshpatel are you able to reproduce this based on the example above? For convenience, here is an executable snippet:

[code]

@alyssa-rose Note that when SciPy 1.10 is released, you will be able to sidestep this if you're still having trouble:
[code]
This works without specifying `allow_singular` even if the Covariance matrix is singular.

In any case, I can't see how the `allow_singular`

[2022-11-24 11:53] ev-br commented on #17461
@dylanwu711 could I tempt you to send a pull request with a doc clarification? You are probably the best person to do that, now that the issue is fresh in your mind and you can phrase it the way it would have been most helpful for your past self (hence, future readers).

[2022-11-24 13:16] WarrenWeckesser opened #17474 "Pythran build warnings with numpy main"
When building SciPy with the numpy main branch (e.g. `'1.25.0.dev0+11.ga872fd73e'`), *many* repetitions of this warning are generated:

[code]

I have Pythran 0.12.0 installed.

I haven't looked into the cause, so I don't know if this has already been addressed in the development version of Pythran.

If this is a purely Pythran issue, we can close this and open up a Pythran issue for it.

Ping @se

[2022-11-24 13:26] WarrenWeckesser opened #17475 "Cirrus CI job `musllinux_amd64_test` is consistently failing"
According to the log, `/usr/bin/pythran` is found, but the following error is reported:

[code]

<details>
<summary>Full log</summary>

[code]

</details>

Ping @andyfaff.

[2022-11-24 14:36] mvsoom opened #17476 "BUG: cho_solve and solve_triangular give different results for the same system"
### Describe your issue.

`cho_solve` and `solve_triangular` return different results for the same system `L x = b`.

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

`1.8.0 1.22.3 sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)`

[2022-11-24 14:40] com3dian commented on #17290
Hi I just started a PR containing extended `wassserstein_distance` with LP and the updated `TestWassersteinDistance` class(https://github.com/scipy/scipy/pull/17473). However there are several failing test and as a noob at this I don't have much clue, can you maybe give me some hint how to fix that?
Now the pull request only have `stats.wasserstein_distance` and its test, `spatial.EMD` can be add

[2022-11-24 14:43] WarrenWeckesser commented on #17189
Regardless of which software is doing it, we should not be *adding* markup to docstrings that will be presented directly to the user.  The point of having a consistent format, with meaningful sections and layout, is that it makes user-unfriendly markup unnecessary.  It looks like we are misusing some functionality that is intended to process docstrings and *pass them on to Sphinx*, not back to the

[2022-11-24 14:55] andyfaff commented on #17475
@rgommers might have a clearer idea.

[2022-11-24 14:56] mvsoom commented on #17476
Sorry, my bad, I got heavily confused :) No issue at all here.

[2022-11-24 14:56] #17476 closed

[2022-11-24 14:57] WarrenWeckesser commented on #17476
I was writing the following when your last comment appeared...

`solve_triangular` and `cho_solve` solve different problems.  `solve_triangular` does just what it says, solve a triangular system.  `cho_solve` is designed to work with [`cho_factor`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.cho_factor.html) to efficiently solve the problem `A x = b` for a Hermitian positive

[2022-11-24 15:16] StFroese opened #17477 "ENH: Ratio of uniforms support for multidimensional random variables"
### Is your feature request related to a problem? Please describe.

I'm currently trying to generate random samples from multidimensional probability density function $p(\vec{x})$, but I haven't found and option to generate rvs.
Looks like every method in `scipy.stats.sampling` only supports functions with the signature `pdf(self, x: float) -> float` and not `pdf(self, x: ndarray) -> float`.

###

[2022-11-24 15:21] rgommers commented on #17475
Hmm, not sure what is going on there. `pythran` has not had a release in 2 months. `meson` just did `0.64.1`, so that was the most likely suspect - but I browsed through all commits and didn't see anything that immediately jumped out.

This would be easier if we could access `build/meson-logs/meson-log.txt` to see what the actual problem is. That is going to come up more often perhaps, so I'll hav

[2022-11-24 18:51] mdhaber commented on #17290
Great. Added some comments there to help you debug.  Yeah, we should not add `spatial.EMD` in this PR; that would be a separate thing, and someone else would need to review that other than me.

[2022-11-24 20:52] serge-sans-paille commented on #17474
That's the case, please open a Pythran issue.

[2022-11-24 21:30] WarrenWeckesser commented on #17474
Thanks for checking @serge-sans-paille.  The new issue is https://github.com/serge-sans-paille/pythran/issues/2041.

[2022-11-24 21:30] #17474 closed

[2022-11-25 00:35] #12963 closed

[2022-11-25 00:52] mdhaber commented on #14533
@Stefan-Endres I believe this _was_ a duplicate of gh-12829 (different from above). This appears to have been fixed by gh-17140.

[2022-11-25 01:01] ideasrule commented on #17475
I also see this for my pull request (#17472).

[2022-11-25 01:02] mdhaber commented on #12963
@Stefan-Endres why did we just go through the trouble of gh-17140 rather than just adjusting the documentation?

Even after gh-16313 merges, SHGO still doesn't use `jac`, `hess`, or `hessp`. It would have been a whole lot simpler to just remove them from the list of SHGO options, right?

[2022-11-25 08:44] Stefan-Endres commented on #12963
@mdhaber yes you are right. The original reason for it being there was to compute local Lipschitz constants to improve the global sampling quality which greatly improves the performance on a large class of optimisation problems (and the flexibility would be that local solvers that don't use the gradient can be still chosen when needed), but this feature was not stable and is not currently included

[2022-11-25 15:41] RBur0 commented on #10037
Hi, digging this up. What if xatol is a vector of parameters? How do you define the absolute error then? Is it a vector of errors for each parameter? The norm of the vector? The mean of all errors?

[2022-11-25 19:35] mdhaber commented on #17335
@j-bowhay would you be willing to submit a PR? If you don't mind, I've removed the "good first issue" label because it is not always immediately obvious whether the text is referring to the `x` or `f(x)`, and this issue is not as simple as replacing all occurrences of the word "zero" with "root".

[2022-11-25 19:42] mdhaber commented on #17133
@nbfazel Did you plan to submit a pull request for this? SciPy 1.10 will branch in early December, so if you'd like to see this feature in the next version of SciPy, it would need to happen soon.

[2022-11-25 19:51] mdhaber commented on #17380
@jgborch @nboudrie Did you plan to submit a PR for this? SciPy 1.10 is branching soon, and this really should be fixed in time for that since it's as simple as changing `c.shape` in:
https://github.com/scipy/scipy/blob/3365ee6f479ab5a758ed60e4d9c5ce5ee14b1c7e/scipy/optimize/_linprog.py#L623

to `np.shape(c)`.

[2022-11-25 20:13] #16946 closed

[2022-11-25 20:27] mdhaber commented on #15966
It looks like there may have been a bug in PyPy; see https://github.com/conda-forge/pypy-meta-feedstock/issues/25. Please upgrade PyPy, SciPy (to 1.9.3), and open a new issue with a title that identifies the problem, e.g. "BUG: `import scipy.optimize` fails on PyPy" . (That said, I'm not sure if we support PyPy right now, so I can't guarantee that it will be addressed.)

[2022-11-25 20:27] #15966 closed

[2022-11-25 21:42] j-bowhay commented on #17335
Yes happy to although cant guarantee I'll get to it before 1.10 branches. With regard to the scope just get optimise done first or both optimise and special?

[2022-11-25 21:59] mdhaber commented on #17335
I'd prefer to review optimize only.

[2022-11-25 22:03] WarrenWeckesser commented on #17335
I think it would be best to focus on the consistent use of `root` in the root-finding functions in `optimize`.  In other contexts, the use of [`zero`](https://en.wikipedia.org/wiki/Zero_of_a_function) has a long history, and I think it would be more confusing to switch to *root*.  For example, with Bessel functions, *zeros* is widely used:

* https://en.wikipedia.org/wiki/Bessel_function#Zeros_of_

[2022-11-25 22:49] mkiffer commented on #17398
I will try to work on this too.

[2022-11-25 22:56] jajhall commented on #17379
I can't reproduce this behaviour. The MIP is infeasible, since the only feasible assignment of the variables is a vector of 1's and the row sums don't add up to 0.

This failure is unrelated to https://github.com/scipy/scipy/issues/17220

[2022-11-26 00:05] nboudrie commented on #17380
Yes I will do that. Sorry about the delay, had to catch up on work and
school before the holiday.

On Fri, Nov 25, 2022 at 2:51 PM Matt Haberland ***@***.***>
wrote:

--
Noah Boudrie
College of Engineering | 2023
University of Michigan
***@***.*** | 734-755-5180

[2022-11-26 08:06] andyfaff commented on #17475
The relevant log part for this is:
[code]
So it's related to https://github.com/numpy/numpy/issues/22623.
We can get around this by pinning `setuptools`. However, it's really an upstream issue as well:

1. numpy got broken by setuptools
2. The type of system_info that pythran is getting shouldn't have to come from `numpy.distutils`, it should be made available from somewhere else in numpy, if nump

[2022-11-26 08:12] andyfaff commented on #17475
FWIW I debugged in an Alpine VM using docker on my M1 mac:

`docker run --rm -it -v $PWD:/io  --platform linux/amd64 alpine`

[2022-11-26 08:59] #17475 closed

[2022-11-26 09:26] rgommers commented on #17470
Thanks for the report @Joerki. I'm aware of the issue, but AFAIK PEP 639 is still draft, and not implemented by PyPI/Warehouse. And PyPI _also_ doesn't support PEP 621 properly, so we're kind of waiting for the better solution that PEP 638 offers here.

[2022-11-26 10:40] AvivBarnea commented on #14486
`root_scalar` also wrongly converges on non-zero constant functions. For example:
[code]
It does, however raise a `RuntimeWarning`, while reporting erroneously a `converged` flag.

[2022-11-26 11:13] AvivBarnea opened #17488 "BUG: scipy.optimize.root "hybr" method reports convergence on unconverged result"
### Describe your issue.

When the `hybr` method doesn't converge, it may sometimes report erroneously `success = True`. For example, looking at the function $f(x) = x^2-2x$ for initial value $x_0=1$ (or values very close to $1$), this method reports convergence on `1.01` .

When looking at other methods available in `root`, `hybr` is the only one to falsely report success while being clearly not

[2022-11-26 15:01] WarrenWeckesser commented on #17475
Thanks @andyfaff.

It is a bit worrying that after the fix was merged, the job `musllinux_amd64_test` that runs on the main branch had a seg. fault in a LAPACK call in `linalg`.  But in a subsequent commit to main, the job passed.  Go figure.

[2022-11-26 16:10] andyfaff commented on #17475
The only thing I changed was pin `setuptools`!

[2022-11-26 19:39] jzod opened #17492 "optimize.differential_evolution not releasing memory when finished"
I have a loop where I call differential evolution successively with different arguments (see attached code). The amount of memory used continues to rise, even after the call to differential evolution is completed and results are obtained. I don't see anything in my code that adds to memory in the loop. I save results out to a log file but don't keep them in memory.

Can you explain why memory used

[2022-11-26 20:13] andyfaff commented on #17492
That minimiser is pure Python, so any memory effects will be due to how the interpreter handles memory. There is nothing about the optimise r itself that will cause memory allocation to continuously increase.

[2022-11-26 20:13] #17492 closed

[2022-11-26 21:45] #17428 closed

[2022-11-26 22:20] jzod commented on #17492
Makes sense. Now I have to figure out what the hell Python is doing! Any suggestions?

Joe

[2022-11-26 22:45] andyfaff commented on #17492
How much memory are we talking about? Is it an issue because it's a sizeable fraction of free memory? You might get some traction with `gc`. How is your objective function written? Is this creating lots of dangling objects that can't be freed? Is any part of it written in C?

[2022-11-26 23:08] #17241 closed

[2022-11-26 23:17] nbfazel commented on #17133
Thanks for the reminder. This fell off my radar. I will work on it when I return to the US late next week.

[2022-11-27 01:40] WarrenWeckesser opened #17493 "BUG: stats: Occasional failures of some tests of `levy_stable`"
If I repeatedly run just the tests in `scipy/stats/tests/test_distributions.py` with the command

[code]

occasionally I get a batch of 5 or more failures of tests of the Levy stable distribution.  I might be able to run that command a dozen or more times and not get any failures, but inevitably I get a batch of failures like those shown below.

<details>
<summary>The full output for an example wi

[2022-11-27 04:14] mckib2 commented on #17220
@woutervbk gh-17430 I believe should resolve this issue.  Are you able to pull a nightly wheel or build from main to confirm if the issue is resolved or not?

[2022-11-27 04:15] mckib2 commented on #17379
@jdclouse @jgborch gh-17430 should (at least partially) resolve this issue.  Can you test against the latest SciPy main branch to see if the issue has been resolved?

[2022-11-27 04:23] WarrenWeckesser commented on #17493
I get failures much more reliably if I run only the tests in the class `TestLevyStable`:

[code]

On my Linux machine, that produces at least one failure every time I run it.  I still get failures if I use `-j 4`, but for 2 or 3 workers, I don't observe any failures (so far).

[2022-11-27 04:25] mckib2 opened #17494 "MAINT: HiGHS build flag cleanup"
### Describe your issue.

Legacy [`setup.py`](https://github.com/scipy/scipy/blob/main/scipy/optimize/_highs/setup.py) and [`meson.build`](https://github.com/scipy/scipy/blob/main/scipy/optimize/_highs/meson.build) files specify C/C++ preprocessor directives that are unneeded/unused.  These were originally included to match flags added by the upstream cmake build system, but lead to increased main

[2022-11-27 04:25] mckib2 commented on #17494
xref gh-17430

[2022-11-27 06:24] h-vetinari commented on #17442
Can you raise an issue on the scipy-feedstock, and make sure that all the required information is there (`conda info`, `conda list`)? It could be an issue with mixing packages from conda-forge and anaconda channels. To ensure that's not the case, try again with:
[code]

Otherwise t's hard to say just from the information here where this is coming from, but the CI in conda-forge is green on windows

[2022-11-27 06:41] ev-br commented on #17241
@ocefpaf heads up:  https://github.com/scipy/scipy/pull/17305 is in, thank you for working on this!

[2022-11-27 10:58] rgommers commented on #17465
Thanks for the report @mkoeppe. That is a very annoying compatibility issue in the way Arch Linux builds OpenBLAS. From https://trac.sagemath.org/ticket/34081#comment:61: _"I suppose this is caused by our openblas not including lapack symbols. Our distro package is fine since we haven't switched to meson (yet)"_.

From the OpenBLAS README: _For a general introduction to the BLAS routines, please r

[2022-11-27 13:55] WarrenWeckesser opened #17497 "BUG/TST: stats: TestKSTwoSamples::test_some_code_paths fails"
When I run the `stats` tests locally, I get a failure of the test `TestKSTwoSamples::test_some_code_paths`

[code]

This is with scipy '1.10.0.dev0+2248.aac2870' and numpy 1.23.5.

[2022-11-27 13:56] antonio-rojas commented on #17465
I'd very much like that, since this is not the first time our non-standard openblas packaging is causing issues with other projects, but this is ultimately the package maintainer's decision @felixonmars

We would still keep building our official scipy package against netlib's blas though, as we don't want to tie the package to any specific blas implementation.

[2022-11-27 13:59] jzod commented on #17492
Each pass thru the loop uses about 3GB of more memory. That really adds up and the program dies when I use smaller step sizes.

I’m going to try gc, thanks!

My code is not creating dangling objects but I use TensorFlow and OpenCV. My code is all Python but I assume these packages have C in them.

Joe

[2022-11-27 14:11] rgommers commented on #17465
That's not an issue - it looks like `libblas.so` is a symlink, so if one installs `openblas` one still gets scipy + openblas. This kind of "virtual BLAS package" is what many distros do, to ensure that all packages pick up the same library and that that library is runtime switchable.

[2022-11-27 14:16] WarrenWeckesser commented on #17497
The above failure occurs on a Linux workstation.  On the old Macbook, the test passes.

Another difference is that on the Linux machine, `testLargeBoth` takes a *long* time, but on the Macbook there is no noticeable pause at that test when watching the output with `-v` set.

[2022-11-27 15:51] #15844 closed

[2022-11-27 16:20] mdhaber commented on #17497
Please execute the lines in `testLargeBoth`. Which is taking a long time?

Please also execute the private function calls separately:
https://github.com/scipy/scipy/blob/dd67c148fef49d4d246d45055ff677228c844586/scipy/stats/tests/test_stats.py#L4196

What are the outputs? Are they both `nan`?

[2022-11-27 16:33] rgommers commented on #17475
I opened a Pythran PR to fix the cause of that issue here, so this doesn't happen again the next time `setuptools` decides to rip out something that `numpy.distutils` depends on: https://github.com/serge-sans-paille/pythran/pull/2049.

Thinking about the `meson-log.txt` issue some more, I've concluded that it isn't much of a problem. The failing line is still shows in the CI log, and most of the t

[2022-11-27 17:26] tylerjereddy commented on #17442
If you have admin access to a machine that can reproduce the hang you can also give us the call stack of the hang using i.e., `py-spy` with https://github.com/benfred/py-spy#dump command.

[2022-11-27 17:39] mhvwerts commented on #14486
This issue is perhaps related to issue #6379, about a problem with the secant method in `scipy.optimize.newton()`. I am not sure if `scipy.optimize.root_scalar()` discussed here uses the same code as `scipy.optimize.newton()`.
Both routines offer the secant method and the Newton method for root finding, which is somewhat confusing to me.

[2022-11-27 17:45] rgommers commented on #17475
I just saw this job fail again - it looks like Cirrus CI does the same as CircleCI: not merging with `main` before running tests. We fixed that for CircleCI in gh-10211. @andyfaff did you notice this before, and do you think we should copy the CircleCI solution from gh-10211 for it?

[2022-11-27 18:51] rgommers opened #17498 "Remove use of `libnpymath` and `libnpyrandom`"
We should get this done for `1.11.0`. Using static libraries from `numpy` is unhealthy. Let me summarize the main problems and link some related issues.

From https://github.com/scipy/scipy/pull/17481#issuecomment-1328263356:
_The main issue is using a static library at all. This is bad, mainly for these two reasons:_
1. _It is not guaranteed that `numpy` and `scipy` are built with the same compil

[2022-11-27 19:40] rgommers commented on #17498
Here is a script to check what we're still using from all of numpy (not just via `libnpymath`):
[code]

Running that inside `scipy/` yields:
[code]

That script isn't perfect, but it's good enough. It will also show some other issues, like the use of defines that are private to numpy (e.g. `NPY_PREFETCH`) and therefore will never be defined (they could be in the future, if we do the same configure

[2022-11-27 20:43] rgommers commented on #17394
It looks to me like the diagnosis is wrong here. The reason we get lots of `E275 missing whitespace after keyword` locally but not in CI is because in CI `flake8` is pinned to version 3.9.2, which doesn't show these errors - and more recent versions do.

This is what the `Lint` CI job does (from `azure-pipelines.yml`:
[code]

`dev.py` does two out of these three, but has no control over the versio

[2022-11-27 20:44] rgommers commented on #17434
This is indeed a duplicate of gh-17394. See https://github.com/scipy/scipy/issues/17394#issuecomment-1328335872 for what is happening. I'll close this issue.

[2022-11-27 20:44] #17434 closed

[2022-11-27 20:45] tylerjereddy commented on #16741
I merged the matching PR which claimed to close this I think.

[2022-11-27 21:19] rgommers commented on #16741
I just came here to say the same - let's close this, it can always be reopened if there are some loose ends.

[2022-11-27 21:19] #16741 closed

[2022-11-27 21:28] rgommers commented on #15702
Yes, this seems like a good idea, +1 for deprecation.

[2022-11-27 21:29] rgommers commented on #15702
This can be done any time, so removed the milestone. Seems like a nice cleanup. @j-bowhay maybe you are interested in doing this?

[2022-11-27 21:32] rgommers commented on #16312
This is important, but not as high prio as working on the BLAS/LAPACK support in Meson. We won't get around to this for 1.10.0, so I have bumped the milestone.

[2022-11-27 22:49] eli-schwartz commented on #17498
Might be a bit more lightweight to have a numpymath subproject that is used by both?

[2022-11-27 23:01] lobpcg opened #17502 "BUG: accuracy failures in _svds.py with some libraries for unclear reasons"
### Describe your issue.

Working on #16712, I have experienced accuracy failures in _svds.py with some libraries for unclear reasons.

The output of test_small_sigma2 is sensitive to seemingly innocent accuracy issues in basic LAPACK-like libraries, so you want to track if a version of such a library has changed. It is likely a sign of a bug in a library, where an "improvement" has been made to i

[2022-11-27 23:01] andyfaff commented on #17475
I think the thing to do is a custom clone command, https://cirrus-ci.org/guide/tips-and-tricks/#custom-clone-command. However, it seems a bit silly to me that on a PR the default isn't to merge `main` first.

[2022-11-27 23:02] j-bowhay opened #17503 "BUG: latest version of flake8 breaks `tools/lint_diff.py`"
https://flake8.pycqa.org/en/latest/release-notes/6.0.0.html#backwards-incompatible-changes

Flake8 version 6.0.0 removed the `--diff` flag which breaks `tools/lint_diff.py`

[2022-11-27 23:08] rgommers commented on #17503
Oh yes, they decided to break the world. Can we just pin it to `<6.0` in `environment.yml`? This is not a defect, we _need_ to run on the diff only. Running on the whole code base is a nonstarter.

[2022-11-27 23:17] rgommers commented on #17498
That does seem like an obvious thing to do, but it would be a much larger refactor I think. The problem is that the code is really mixed up rather than standalone - headers and source files are not used only to build `libnpymath.a`, but also `multiarray_umath.so` (which contains most of numpy's core functionality). `core/src/npymath` is okay, but `core/src/common` is also needed. It's worth a try

[2022-11-28 01:36] jupsal commented on #17445
This addresses my issue, thank you.

[2022-11-28 05:35] adigitoleo commented on #17464
I agree with @Patol75, the first rotation matrix from
https://en.wikipedia.org/w/index.php?title=Rotation_matrix&oldid=1122062121#General_rotations
represents an intrinsic rotation around Z, then Y, then X.
That wikipedia section is confusing for several reasons[^1].
Instead, I suggest these slightly better resources:
- http://flothesof.github.io/intrinsic-extrinsic-rotations-euler-angles.html#TL;

[2022-11-28 05:46] adigitoleo commented on #10959
@rando249 I'm quite late, but in response to:

Imagine the body (local) X axis rotating first by 90 deg anticlockwise around itself (no change in direction) and then by 90 deg anticlockwise around the local Y axis (which is currently aligned to the global z axis). The final direction of the X axis is along the global y axis, i.e. [0, 1, 0].

Unless I am mistaken, intrinsic rotations are composed i

[2022-11-28 06:14] mdhaber commented on #17445
Thanks, but the PR hasn't merged yet, so I'll reopen it. It will be closed automatically when the PR gets merged.

[2022-11-28 10:30] #17394 closed

[2022-11-28 11:06] j-bowhay commented on #17503
closed via https://github.com/scipy/scipy/pull/17496

[2022-11-28 11:06] #17503 closed

[2022-11-28 12:35] thijsvanputten commented on #17442
@h-vetinari I've created a scipy-feedstock issue here: https://github.com/conda-forge/scipy-feedstock/issues/220 I doubt this particular case is covered by tests since it only occurred for this one particular set of points out of thousands of calls to qhull.

@tylerjereddy I've tried to do this just now, but the call stack doesn't go deeper than my own code. I've run py-spy from an administrator t

[2022-11-28 13:38] samuelstjean opened #17507 "ENH: Add an inverse digamma function"
### Is your feature request related to a problem? Please describe.

Looks like there is no implementation for the inverse digamma function, but I had one lying around from a couple years ago. It's a very simple function, so I'm not sure which range of values it covers without numerical issues.

If people would want it, I'd turn it into something decent. Haven't bothered to do it since I just have

[2022-11-28 14:21] samuelstjean commented on #17507
looks like that's exactly it, I'd put it indeed in scipy.special since I just noticed there wasn't one, then made it. Wouldn't be surprised if everyone else needing it did the same.

[2022-11-28 14:38] snydej commented on #16737
How do I get the fix?

I am trying to install scipy and I am currently getting this error:

`AttributeError: module 'mesonpy' has no attribute 'prepare_metadata_for_build_wheel'`

This appears to be the same as what was originally reported. I'm using PyPy version 7.3.9 which is the most recent version on https://www.pypy.org/download.html and I just upgraded pip using `pypy3.exe -m pip install --u

[2022-11-28 15:03] rgommers commented on #16737
@snydej can you please open a new issue with the full traceback you are seeing, and Cc me on the issue?

This is a generic message that will be visible for all build failures, the actual problem will be higher up.

The problem reported in this bug reported (`NotImplementedError: Unknown Python implementation: pypy38`) was fixed. Maybe there's another issue on your system, or with PyPy in general.

[2022-11-28 15:28] derdotte commented on #8453
I have recently come across this problem aswell. This time with the dirac equation. This should definitely get a revisit and perhaps a the current status quo should be reevaluated.

[2022-11-28 15:56] mattip commented on #16737
@snydej: perhaps try the new [7.3.10 release candidates](https://downloads.python.org/pypy/). I think you will have a smoother user experience [using conda](https://www.pypy.org/posts/2022/11/pypy-and-conda-forge.html) with PyPy, since you will get pre-compiled binary packages.

[2022-11-28 17:18] WarrenWeckesser commented on #17437
Was the conclusion that putting the libs in a top-level directory `scipy.libs` was a bug, and we won't do that in the future?  Or is that the expected behavior now?

[2022-11-28 19:14] rgommers commented on #17437
It's the expected behavior now.

[2022-11-28 19:21] WarrenWeckesser commented on #17437
Huh, that's not what I expected.  Seems weird, but I'll trust y'all that it's the best solution at the moment.

[2022-11-28 19:36] andyfaff commented on #17437
From the delvewheel doc:

I'm not sure if that option permits the older behaviour. I thought it was wise to retain the standard behaviour of the repair tool.

[2022-11-28 19:36] rgommers commented on #17437
It's whatever the default of the tools doing the shared library vendoring is. I don't think we care too much either way. If I had to choose, I'd probably stay with `.libs`, but it's not a big deal.

Same here

[2022-11-28 19:49] snydej opened #17508 "`pip install scipy` fails under PyPy on Windows"
### Describe your issue.

Installing scipy through pip fails under pypy3 but works fine under python3.
@rgommers

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

Python 3.9.10 (b332b321bbaa72bffb0207da5b7fe4c38047d3b2, Mar 16 2022, 16:03:21) [PyPy 7.3.9 with MSC v.1929 64 bit (AMD64)] on win32

[2022-11-28 19:57] eli-schwartz commented on #17508
[code]

In order to build SciPy from source, you need a fortran compiler installed. On Windows, that may be a bit fiddly to set up -- the official SciPy binaries are built with the mingw toolchain IIRC.

But I'm assuming in the python3 case it simply downloaded a binary wheel, right? So this isn't a pypy issue, except inasmuch as there are no official wheels for pypy?

[2022-11-28 21:00] rgommers commented on #17508
Yes, no Fortran compiler is the problem. @snydej a warning that this will be hard to get to work. PyPy on Windows is completely untested, it may be broken even if you get the right compiler toolchain installed etc. I recommend avoiding it, you may be in for a very rough ride if you do try.

[2022-11-28 21:53] snydej commented on #17508
Would it be possible to copy over the already built files from my python3 installation such that the build system sees them as already built and doesn't try to rebuild them?

[2022-11-28 21:59] cmadjar opened #17509 "BUG: support for Matlab 7.3 SET files"
### Describe your issue.

We are running into issues reading and writing SET files that were created with Matlab 7.3 (using the HDF5 format). We were wondering whether there was a plan to support more recent versions of Matlab and the HDF5 format for electrophysiological recordings.

Here is part of a traceback we get when running scipy on such files:
[code]

Could you kindly let us know if that i

[2022-11-28 22:12] rgommers commented on #17508
no, that won't work. there are no PyPy prebuilt binaries for SciPy at all. you cannot just take ones for CPython, PyPy will not work with those.

[2022-11-28 22:15] eli-schwartz commented on #17508
The built extensions are compiled against the CPython headers, and those are the only already built files you get.

...

However even if you had the individual`*.obj` files for just the fortran code extracted from an in progress build of the CPython extensions... build systems don't support short circuiting their core setup and grabbing individual `*.obj` files that already exist. In theory you co

[2022-11-28 23:21] j-bowhay commented on #17509
closing as a duplicate of #11351

In the mean time maybe try http://www.h5py.org/ or https://github.com/skjerns/mat7.3

[2022-11-28 23:21] #17509 closed

[2022-11-28 23:57] person142 commented on #17507
I think it's a good function to add, but I'd caveat that for real values we should be picky about the implementation - rational approximations + polynomial approximations + asymptotic series only.

[2022-11-29 02:26] #17444 closed

[2022-11-29 09:26] rgommers commented on #17508
If anyone is interested in better PyPy support, here is the place to look and help out: https://github.com/conda-forge/scipy-feedstock/pull/208.

I re-titled this, it's not really a bug. PyPy is simply not a well-supported platform at this point.

[2022-11-29 09:28] rgommers commented on #16577
I'll close this, because there's nothing in SciPy to do. `pip install scipy` should work fine with PyPy, as should using `meson` and `ninja` directly. The `dev.py` interface relies on `doit`, so if `doit` doesn't work with PyPy because of `cloudpickle`, it looks like that should be fixed in either PyPy or `cloudpickle`.

[2022-11-29 09:28] #16577 closed

[2022-11-29 10:23] gabrielfougeron opened #17510 "ENH: Enable user parameters in nonlin linesearch"
### Is your feature request related to a problem? Please describe.

I am using nonlin_solve to find roots of a function. This gradient based procedure first determines a search direction, and then proceeds with a line search along this direction, using the function _nonlin_line_search.

I would like more control over what is happening during this line search. The only level of control one has (thr

[2022-11-29 10:46] gabrielfougeron opened #17511 "ENH: Minimum step in _nonlin_line_search using 'armijo' method not enforced"
### Is your feature request related to a problem? Please describe.

When using the root finding function `nonlin_solve`, a call is made to `_nonlin_line_search` with default parameter 'search_type = armijo' and default (non overridable) value `smin=1e-2`.
However this minimum step size is not enforced properly, as evidenced by the following verbose output :

[code]

However, if  'search_type = wol

[2022-11-29 14:28] mortalisk commented on #17436
We had to pin scipy<1.9.2 to fix a segfault happening in tests.

Could reproduce a different fault reliably by running pytest through valgrind and simply importing gaussian_kde:

[code]

This would produce:

[code]

Hope this helps

[2022-11-29 14:36] mdhaber commented on #17436
Thanks. That import issue has been reported in https://github.com/scipy/scipy/issues/17368.

[2022-11-29 20:29] mdhaber commented on #17510
`_nonlin_line_search` is a private function. Private functions are denoted by a preceding `_` and they typically lack documentation (some have docstrings, but they are not rendered online) and they cannot be imported directly from subpackages (e.g. `scipy.optimize`). The maintenance team does not support external use of private functions, so we would not change the API for this request unless we w

[2022-11-29 20:44] gabrielfougeron commented on #17510
Thank you very much for your quick response. I'll do exactly as you suggest 😊. And yes, this is for a periodic n-body spectral solver.

[2022-11-29 20:58] #17510 closed

[2022-11-29 21:00] mdhaber commented on #17510
Great. I'll leave gh-17511 open, because that sounds like it could be a bug if our solvers are using `armijo`.

[2022-11-29 22:11] mdhaber commented on #6689
I thought I'd mention that there is another updated version of SLSQP:
https://github.com/jacobwilliams/slsqp

I'm not sure what the differences between that and the one in NLOPT are.
@jacobwilliams would you be interested in your version of SLSQP replacing the one in SciPy?

[2022-11-30 09:59] Kai-Striega commented on #17510
If there is more interest we could consider it, but for not I'm -1 on making `_nonlin_line_search` public. Although I haven't used this part of SciPy very much so it's not the hill I'm going to die on.

[2022-11-30 10:02] woutervbk commented on #17220
@mckib2 I can confirm that I was able to successfully run all my unit tests with `https://anaconda.org/scipy-wheels-nightly/scipy/1.10.0.dev0/download/scipy-1.10.0.dev0-cp39-cp39-macosx_12_0_arm64.whl`, including the one for which I opened this issue.

[2022-11-30 10:38] emirkmo opened #17514 "ENH: Add 2D and multi-D (two-sided) Kolmogorov-Smirnov (KS) Tests"
### Is your feature request related to a problem? Please describe.

**Kolmogorov-Smirnov test (KS test)** can be used as a statistical test of whether an observed set of data is drawn from an expected distribution (or the distribution defined by another set of data), and is widely used in Astronomy. The 1D KS test is provided in various forms by `scipy.stats`. However, currently, there are no main

[2022-11-30 10:41] bodnaar opened #17515 "BUG: scipy.stats.boxcox results in objects of different type regarding parameters"
### Describe your issue.

When used without lambda parameter, boxcox method returns with numpy array and lambda, which is correct. If lambda is also provided, it returns with a Series object. Input was both times a Pandas Series. Example snippet provided.
Versions:
Pandas 1.5.2
Scipy 1.9.3
Numpy 1.23.5

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version

[2022-11-30 15:59] mdhaber commented on #17514
I've done a fair amount of work with univariate goodness of fit tests, e.g. [`goodness_of_fit`](https://scipy.github.io/devdocs/reference/generated/scipy.stats.goodness_of_fit.html#scipy.stats.goodness_of_fit).   Based on that experience, I tend prefer a Monte Carlo approach to generating p-values because it is less work and more useful if the distribution to be compared against is fit to the data

[2022-11-30 16:34] isaacgerg opened #17516 "BUG: Error in documentation for scipy.optimize.minimize"
### Describe your issue.

Documentation here,
https://docs.scipy.org/doc/scipy/reference/optimize.minimize-trustexact.html#optimize-minimize-trustexact ,
indicates the intial trust region is specified with a dictionary keyword "initial_tr_radius."

However, the code expects this key to be "initial_trust_radius."

See link 117 in https://github.com/scipy/scipy/blob/main/scipy/optimize/_trustregion.

[2022-11-30 16:54] j-bowhay commented on #17516
Thanks @isaacgerg for reporting, would you like to open a pr to fix?

[2022-11-30 16:55] isaacgerg commented on #7847
I am using scipy 1.9.0 on windows and have the problem where
        self.cholesky, = get_lapack_funcs(('potrf',), (self.hess,)) on line 239 of _trustregion_exact.py
is very slow.

Is there a fix for this?

[2022-11-30 16:57] isaacgerg commented on #17516
@j-bowhay   I am on a system not connected to the internet.

[2022-11-30 17:43] emirkmo commented on #17514
No worries. I am not sure that the two sample version is the only use case. But numerically, it should be possible to support others using it as a baseline.

[2022-11-30 18:57] mdhaber commented on #12315
@emirkmo I was wondering if I could interest you in this issue, which might be simpler than gh-17514 for a first contribution? Personally, I'd be more interested in working on gh-17514 after this and gh-14434 are resolved.

[2022-11-30 20:41] faithhunja commented on #17516
Hi. Can I take on this issue?
I presume all "initial_trust_radius" in the code should be replaced with "initial_tr_radius" as indicated in the documentation?
Also, I noticed the same problem exists with the maximum value of the trust-region radius "max_tr_radius", which is referenced in the code as "max_trust_radius".

[2022-11-30 20:44] isaacgerg commented on #17516
@faithhunja There is some code to check for unknown parameters which should have trapped this but I think there is a bug in there also.  You will see it in the code I reference in the initial post.

[2022-11-30 21:04] j-bowhay commented on #17516
@faithhunja yes go for it. It is the documentation that should be updated not the code. As this will be a documentation only change please try to skip the relevant ci https://scipy.github.io/devdocs/dev/contributor/continuous_integration.html#skipping